.p_account_emailset input[type="password"]:focus, input[type="text"]:focus { border-color: #f85c3c; box-shadow: none; }
.p_account_emailset{color:#1a1a1a}
.p_account_emailset .pw-info { padding-top: 80px; min-height: 403px; height: auto !important; height: 403px; }
.p_account_emailset .pw-info ul { margin-left: 385px; font-size: 16px;}
.p_account_emailset .pw-info li { line-height: 36px; margin-bottom: 22px; overflow: hidden; }
.p_account_emailset .btn-w30 { padding-top: 38px; text-align: center; }
.p_account_emailset .pw-info li label { display: block; float: left; height: 36px; line-height: 36px; padding-right:9px; text-align: left; color: #4f4e4e; width: 98px; text-align: right;}
.p_account_emailset .txt { background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; float: left;  height: 32px; line-height: 32px; padding: 1px 5px; width: 180px; }
.p_account_emailset .no_tip { color: #cc1223;font-size: 14px; }
.p_account_emailset .sms-subs {  font-size: 14px;height: 64px;line-height: 64px; width: 605px;padding: 0 50px;  margin: 16px auto 0; background: #fafafa; border: 1px solid #f1f1f1;text-align: center;}
.p_account_emailset .sms-subs dl dt { width: 97px; color: #606060;  }
.p_account_emailset .sms-subs dl dd { margin-right:60px; *margin-right:48px;}
.p_account_emailset .sms-subs dl dt,.p_account_emailset .sms-subs dl dd { display: inline-block;*zoom:1;*display: inline;}
.p_account_emailset .sms-subs dl dd.mar-r0{margin-right: 0}
.p_account_emailset .sms-subs dl dd a{margin-right: 5px;*margin-right: 7px;vertical-align: -2px; *vertical-align: 1px;}
.p_account_emailset .remarks{text-align: center;margin-top: 75px;font-size: 14px;}
.p_account_emailset .remarks.gray{color:#717070}
.p_account_emailset .sms-subs dl dd .p2p-ui-checkbox span:hover{cursor: pointer;}