@charset "utf-8";
.p_account_password{margin:23px auto 23px}
.p_account_password .shadow{-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;border-radius:0;background:#fff;border:1px solid #e3e3e3;margin:23px auto 23px}
.p_account_password .shadow .tc{text-align:left}
.p_account_password .mess_title{background:url(../images/common/h2-icon.png) no-repeat 15px center #fcfcfc;color:#1a1f25;font-size:18px;padding-left:30px}
.p_account_password input[type="password"]:focus,.p_account_password input[type="text"]:focus{border-color:#f85c3c;box-shadow:none}
.p_account_password .sumbtn,.p_account_password .sumbtn:hover,.p_account_password .sumbtn:active{width:248px;height:46px;line-height:46px;background:url(../images/investment_view/invest-con.png) no-repeat}
.p_account_password .sumbtn{background-position:0 -159px;border-radius:3px;color:#fff;display:inline-block;font-size:16px;margin:10px 0 0 0;text-align:center;float:left;border:none}
.p_account_password .sumbtn:hover{background-position:0 -400px}
.p_account_password .sumbtn:active{background-position:0 -455px}
.p_account_password .pw-info ul li.btn-w30{padding-top:25px}
.p_account_password .pw-info ul li.btn-w30 label{width:0;padding-right:0}
.p_account_password .pw-info li label span{display:none}
.p_account_password .pw-info li label{color:#4f4e4e;width:85px;font-size:16px;line-height:36px;display:block;float:left;height:30px;padding-right:10px;text-align:left}
.p_account_password .pw-info ul{margin-left:385px}
.p_account_password .pw-info{padding-top:80px;min-height:400px}
.p_account_password .txt{background:#fff;border:1px solid #bababa;color:#999;float:left;font-size:14px;height:32px;line-height:32px;padding:1px 5px;width:180px}
.p_account_password .pw-info li{margin-bottom:22px;overflow:visible;position:relative;line-height:36px; height: 36px;}
.p_account_password .pw-info .pass-item-tip-password{left:294px}
.p_account_password .error_tip{font-size: 14px;}
.p_account_password .pw-info .color-gray2{color:#4f4e4e;display:none}
.p_account_password .pw-info li.pwd-checklist-item{height: auto;}
.p_account_password .pass-item-tip-password .pwd-checklist .safety-level{line-height:18px; height: 18px;}
