.p_account_contract .pact-main{width:auto;border:none;background:url(../images/user/bg_line.png) repeat-x left bottom;margin:0;height:96px;padding-bottom: 30px;padding-left: 20px;padding-top: 10px;}
.p_account_contract .ui_fg_line{border-left:1px dotted #d0d0d0;height:23px;margin-top:14px;width:1px;float:left;margin-left:30px}
.p_account_contract .pact-m-left{color:#333;float:left;width:760px}
.p_account_contract .pact-ml-top{border:none;padding-bottom:0;height:auto;margin-left:15px;margin-top:4px;margin-right:65px;font-size:14px}
.p_account_contract .pact-m-right{width:110px;float:left;margin-left:0;border:none;height:109px;text-align:center}
.p_account_contract .pact-ml-top em{color:#a6a6a6;margin-left: 40px;}
.p_account_contract .no_margin_left{margin-left: 0px !important;}
.p_account_contract .pact-ml-top .no-marleft{margin-left:0;float:left}
.p_account_contract .pact-ml-top p span{display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.p_account_contract .pact-ml-top .no-marleft{margin-left:0}
.p_account_contract .pact-ml-top p{line-height:26px;padding-bottom:9px}
.p_account_contract .pact-ml-center{height:37px;line-height:normal;font-size:14px;margin-left:15px;color:#a6a6a6}
.p_account_contract .pact-m-right .but-disabled{background:url(../images/user/btn_bg.png) #fff -341px -282px !important;width:106px;height:38px;line-height:36px;color:#fff !important}
.p_account_contract .pact-mr-top .but-disabled{cursor:default}
.p_account_contract .pact-btn{width:96px;height:36px;font-size:16px;line-height:36px}
.p_account_contract .pact-mr-top{padding-top:20px}
.p_account_contract .pact-mr-link{margin-top:16px}
.p_account_contract .pact-mr-link .blue{margin-left:0}
.p_account_contract .pactshow{border:1px solid #e5e5e5;margin-top:17px}
.p_account_contract .pactshow .plan{width:100%}
.p_account_contract .pact-mr-link a{font-size:14px;text-decoration:underline}
.p_account_contract .pact-table thead th{height:33px;line-height:33px;padding:0 !important}
.p_account_contract .pactshow-mar{padding-top:40px}
.p_account_contract .loading .btn-base{border-radius:0 !important}
.p_account_contract .pact-mr-top .but-disabled{cursor:default}
.p_account_contract .pact-m-right .but-disabled{background:url(../images/user/btn_bg.png) #fff -341px -282px !important;width:106px;height:38px;line-height:36px;color:#fff !important}
.p_account_contract .btn-base{display:inline-block;border-radius:3px;text-align:center;position:relative}
.p_account_contract .pact-btn{font-size:16px}
.p_account_contract .user_right_box .w715{width:808px}
.p_account_contract .pactshow2{border:none;margin:auto;width:855px;margin-top:17px}
.p_account_contract .jk_contract,.p_account_contract .xy_contract{border:solid 1px #e5e5e5;background-color:#fdfdfd;border-radius:3px;font-size:14px;color:#9a9a9a;position:relative;margin:0 0 15px;padding:10px 20px;line-height:30px}
.p_account_contract .xy_contract{margin:0 22px}
.p_account_contract .jk_contract .con_size{display:none}
.p_account_contract .user_right .color-black{color:#282828}
.p_account_contract .pact-m-right .but-yellow {background-position: -3px -282px;width: 106px;height: 38px; line-height: 36px;}
.p_account_contract .button_cz, .list-div .blue {background-position: -3px -3px;width: 66px;height: 30px;padding: 0px;text-align: center;border-radius: 0px;margin-left: 20px;margin-right: 16px;}
.p_account_contract .button_cz {color: #ffffff;font-size: 14px;display: inline-block;line-height: 28px;}
.p_account_contract .color_blue{  color: #0088cc;}
.weedialog .dialog-cancel,.weedialog .dialog-cancel:hover{height: 38px; color: #4f4e4e;}
.p_account_contract .jk_contract .btn-gray{display: inline-block; text-align: center; margin-right: 20px;width:66px; height:30px; line-height:28px; color:#fff; background-position:-221px -4px;}

.p_account_contract  .color-black {color: #282828;}
.p_account_contract  .screening{ border-bottom: 1px solid #e3e3e3;}   
.p_account_contract .button_shaixian{background:url(../images/common/icon_bg.png) no-repeat -322px -1px;width:106px;height:38px;border:none 0;padding:0 15px;line-height:29px;color:#fff;border-radius:2px;font-size:16px;margin-top:1px;margin-left: 20px}
.p_account_contract .button_shaixian:hover{background:url(../images/common/icon_bg.png) no-repeat -435px -1px}
.p_account_contract .button_shaixian:active{background:url(../images/common/icon_bg.png) no-repeat -548px -1px}
