.p_account_refund .fg_line{border-left:1px dotted #d0d0d0;height:23px;margin-top:14px;width:1px;float:left;margin-left:30px}
.p_account_refund .huank_nav{margin-left:30px;border:none;width:auto;margin-top:6px}
.p_account_refund .huank_nav li{width:68px;height:37px;line-height:37px;text-align:center;float:left;margin-right:15px;display:inline;color:#a6a6a6}
.p_account_refund .huank_nav li.select a,.p_account_refund .huank_nav li a:hover{background:none;color:#e6300a;border-bottom:3px solid #f75939;text-decoration:none}
.p_account_refund .huank_nav li a{display:block;font-size:16px;border-radius:3px 3px 0 0;width:68px;height:38px}
.p_account_refund .huankuan_list{border:none;font-size:14px;min-height:210px;float: left;margin:10px 20px 30px 25px;}
.p_account_refund .plan th{color:#a6a6a6}
.p_account_refund .plan td,.p_account_refund .plan th{text-align:center;padding:15px 5px;font-size:14px}
.p_account_refund .pl25{padding-left:25px}
.p_account_refund .huankuan_list .plan td{padding-bottom:15px;padding-top:15px;line-height:24px;color:#4f4e4e}
.p_account_refund .huankuan_list .plan td{padding:10px 8px}
.p_account_refund .tr_bg{background:#f8f8f8}
.p_account_refund .huankuan_list a.button_hk{width:66px;height:30px;line-height:30px;color:#fff}
.p_account_refund .button_tx,.p_account_refund .huankuan_list .button_hk{background-position:-3px -38px;padding:0;text-align:center;border-radius:0}
.p_account_refund .huankuan_list .button_hk{display:inline-block}
.p_account_refund .huankuan_list .button_hk:hover{color:#fff}
.p_account_refund .button_tx,.p_account_refund .huankuan_list .button_hk{background-position:-3px -38px;width:66px;height:30px;padding:0;text-align:center;border-radius:0}
.p_account_refund .huankuan_list .button_hk{display:inline-block;line-height:27px;color:#fff}
.p_account_refund .button_tx:hover,.p_account_refund .huankuan_list .button_hk:hover{background-position:-76px -38px}
.p_account_refund .button_tx:active,.p_account_refund .huankuan_list .button_hk:active{background-position:-149px -38px}
.p_account_refund .ui_fg_line{border-left:1px dotted #d0d0d0;height:23px;margin-top:14px;width:1px;float:left;margin-left:30px}
.p_account_refund .btn-blue-h30{display: inline-block; width: 78px;background:#ee4634;height:30px;line-height:30px;text-align:center;color:#fff;font-size:14px;border-radius: 3px;}
.p_account_refund .btn-red-h30{display: inline-block; width: 78px;background:url(../images/user/refund_blue.png) 0 0 no-repeat;height:30px;line-height:30px;text-align:center;color:#fff;font-size:14px;}
.deal_content{border-bottom: 1px solid #eee;padding-bottom: 20px;}
.info-hk{ position:relative;  overflow:hidden; border-radius:0px;padding: 30px 0px;}


.info-hk h2 { margin-bottom:10px; font-size:16px; color: #333;font-family: "Microsoft YaHei";position: relative; }

.info-hk h2 .deal_detail{cursor: pointer;width: 30px;height: 30px;display: block;position: absolute;right: 30px;top:0;background: url("../images/account/huankuan1.png") no-repeat;
}
.info-hk h2 .deal_detail2{top:2px;right:29px;background: url("../images/account/huankuan2.png") no-repeat;
}
.info-hk li { font-size:14px; display:block; height:32px; line-height:32px; float:left; width:265px; color: rgb( 143, 143, 143 );}
.deal_more{display: block;}
.color-yellow1{ color:#f75938;}
.color-green1{ color:#569600}
.color-black{color: #000;font-size: 14px;}
.ml20{margin-left: 20px;}
.blue2 { color:#0088cc; text-decoration:underline; margin-left:15px; }
.list-div{border:1px solid #e8e9ea;overflow:hidden;}
.hk_title{padding:20px 30px;font-size: 16px;color:#333;border-top: 1px solid #eee;}
.detailP{height: 24px;line-height: 24px;position: relative;color:#000;}

.pt30{padding-bottom: 30px;}
.datatable { border-collapse:inherit; border-spacing:1px;width: 101%; background: #EEE; margin-left: -1px; }
.datatable th { color:#808080; white-space: nowrap; }
.datatable td, .datatable th { text-align:center; background: #FFF; line-height: 36px; }
.datatable input { vertical-align: middle; }
.repay_money .rm_l{background: url(../images/user/refund_line.png) no-repeat right center; height: 120px;line-height:120px;width:122px;float: left;}
.repay_money .rm_r{ padding-left:20px;width:280px;float: left;  }
.repay_money .rm_r ul li{float: left;width: 135px;text-align: left;line-height: 30px;}
.user_right_box div.pd30{padding: 30px 20px;}
/*弹框部分*/
.pop-ts{text-align: center;}
.schedule-div{padding:30px 20px;border:1px solid #e3e3e3;}
.schedule-list {width: 100%;clear: both;overflow: hidden;}
.schedule-list li{
	display: block;float: left;width: 50%;height: 30px;line-height: 30px;
}
.weedialog .dialog-ok, .weedialog .dialog-cancel{
	background: #ee4634 !important;width: 155px !important;height: 40px !important;
	border-radius: 5px !important;line-height: 40px !important;
}
.weedialog .dialog-cancel{
	background: transparent !important;border:1px solid #ee4634 !important;box-sizing:border-box;
	color:#ee4634 !important;padding: 0 !important;
}
.weedialog .dialog-ok span, .weedialog .dialog-cancel span{padding:0 !important;width:100% !important;height: 40px !important;line-height: 40px !important;}
.weedialog .dialog-cancel span{background: transparent !important;color:#ee4634 !important;}
.pop-fail-info{text-align: center !important;margin-top: 20px !important;}
