.p_account_privileges .privileges-mid {
    padding: 20px 52px 20px 36px;
    min-height: 443px;
}
.p_account_privileges .userTypeItem{
    margin-top:30px;
}
.p_account_privileges .userTypeItem:first-child{
    margin-top:0px;
}
.p_account_privileges .privileges-mid .privilegesTitle {
    font-size: 15px;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-bottom: 24px;
}
.p_account_privileges .privileges-mid .privilegesItem {
    height: 74px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0px 0px 0px 18px;
}
.p_account_privileges .privileges-mid .privilegesItem:first-child {
    margin-top: 0px;
}
.p_account_privileges .privileges-mid .privilegesItem .left {
    float: left;
}
.p_account_privileges .privileges-mid .privilegesItem .left .icon {
    width: 35px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}
.p_account_privileges .privileges-mid .privilegesItem .left .icon.pay {
    background-image: url("../images/account/privileges_pay.png");
}
.p_account_privileges .privileges-mid .privilegesItem .left .icon.loan {
    background-image: url("../images/account/privileges_loan.png");
}
.p_account_privileges .privileges-mid .privilegesItem .left .text {
    font-size: 14px;
    color: #000;
    height: 74px;
    line-height: 74px;
    float: left;
    margin-left: 20px;
}
.p_account_privileges .privileges-mid .privilegesItem .privileges_btn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    float: right;
    border: 1px solid #EE4634;
    border-radius: 5px;
    margin: 20px 20px 0px 0px;
}
.p_account_privileges .privileges-mid .privilegesItem .privileges_btn.install {
    color: #ffffff;
    background-color: #EE4634;
}
.p_account_privileges .privileges-mid .privilegesItem .privileges_btn.uninstall {
    color: #EE4634;
    background-color: #fff;
}
.privilege_cont {
    padding-left: 60px;
    line-height: 26px;
    width: 215px;
    min-height: 80px;
    background: url("../images/account/privileges_warn.png") 0px 4px no-repeat;
    font-size: 16px;
    color: #333;
}
