/*普惠学院文章*/
body{ background:#f6f7f8!important; }
.p_article{ width:1100px; margin:0 auto; }
.p_article .article_tit{ color:#666; font-size:14px; margin:15px 0 23px; }
.p_article .aritcle_main{ background:#fff; }
.p_article .aritcle_main .tit_box{ text-align:center; padding:28px 0 23px; }
.p_article .aritcle_main .tit{ color:#4F4E4E; font-size:18px; font-weight:bold; margin-bottom:5px; }
.p_article .aritcle_main .date{ color:#909090; font-size:13px; }
.p_article .aritcle_main .content{ padding:0 100px 57px; }
.p_article .aritcle_main .content p{ margin-top: 30px; }