.p_help_agreement_list .agreement_list-mid{
    padding: 25px 65px 25px 35px;
    min-height: 430px;
    font-size:16px;
}
.p_help_agreement_list .protocolItem{
    display: block;
    padding: 10px 0px 15px 24px;
    position: relative;
    border-bottom:1px dashed #ccc;
    margin-top:20px;
}
.p_help_agreement_list .protocolItem:first-child{
    margin-top:0px;
}
.p_help_agreement_list .protocolItem:after{
    position:absolute;
    width:8px;
    height: 8px;
    background-color: #FBB0A1;
    content: "";
    left: 0px;
    top: 18px;
}