@charset "utf-8";
.p_info_disclosure .pt60{padding-top:60px;}
.p_info_disclosure .info_tit{background:url(../images/info_disclosure/xx_line.png) center no-repeat;text-align:center;font-size:32px;}
.p_info_disclosure ul.info_company{padding:53px 0 0 0;}
.p_info_disclosure ul.info_company li{float:left;text-align:center;}
.p_info_disclosure ul.info_company li span{width:83px;height:63px;font-size:16px;padding-top:98px;display:inline-block;background-image:url(../images/info_disclosure/xx_icon.png);background-repeat:no-repeat;}
.p_info_disclosure ul.info_company li .db{background-position:0 0}
.p_info_disclosure ul.info_company li .xd{background-position:-199px 0}
.p_info_disclosure ul.info_company li .rz{background-position:-397px 0}
.p_info_disclosure ul.info_company li .bl{background-position:-597px 0}
.p_info_disclosure ul.info_company li .zg{background-position:-794px 0}
.p_info_disclosure ul.info_company li .gj{background-position:-995px 0}
.p_info_disclosure ul.info_company li.selected .db{background-position:0 -243px}
.p_info_disclosure ul.info_company li.selected .xd{background-position:-199px -243px}
.p_info_disclosure ul.info_company li.selected .rz{background-position:-397px -243px}
.p_info_disclosure ul.info_company li.selected .bl{background-position:-597px -243px}
.p_info_disclosure ul.info_company li.selected .zg{background-position:-794px -243px}
.p_info_disclosure ul.info_company li.selected .gj{background-position:-995px -243px}
.p_info_disclosure .com_tabcont{color:#FFF;background:#5e768c;line-height:30px;font-size:14px;}
.p_info_disclosure .com_tabcont .ctab_mid{padding:55px 0;}
.p_info_disclosure .com_logo{padding:45px 0 50px 0;}
.p_info_disclosure .com_logo ul li{margin-right:51px;margin-bottom:30px;float:left;width:229px;height:65px;border:1px solid #eaeaea}
.p_info_disclosure .com_logo ul li.mr0{margin-right:0;}
.p_info_disclosure .com_logo ul li a span{display:block;width:229px;height:65px;}
.p_info_disclosure .col-sm-2-4{width:20%;}