.p_payment_yeepaybindcard .p_content{padding:80px 0 82px; min-height: 403px; height: auto !important; height: 403px; position:relative;}
.p_payment_yeepaybindcard .select_bankname{position:relative;}
.p_payment_yeepaybindcard .select_bankname .j_select{width:256px; border-right:1px solid #bdbdbd; background-position:265px 13px;}
.p_payment_yeepaybindcard .select_bankname ul{top:35px; width:282px;}
