@charset "utf-8";
.p_riskbear_evaluation .pg_cont{padding:20px 50px 45px}
.p_riskbear_evaluation ul.wq_list li{border-bottom:1px dashed #ccc;padding:15px 10px 7px 32px;font-size:14px;color:#666666}
.p_riskbear_evaluation ul.wq_list li h2{color:#333;margin-bottom:10px}
.p_riskbear_evaluation ul.wq_list li h2 span.wq_err{}
.p_riskbear_evaluation ul.wq_list li div{margin-bottom:10px;padding-left:22px;}
.p_riskbear_evaluation ul.wq_list li div .wq_radio{vertical-align:-2px;margin-right:5px;}
.p_riskbear_evaluation ul.wq_list li div .wq_radio.n-invalid{border-color:transparent!important;box-shadow:none!important}
.p_riskbear_evaluation .msg-box{float:right;}
.p_riskbear_evaluation .msg-box .n-ok{display:none}
.p_riskbear_evaluation .msg-box .n-error{background-color:transparent;border:none;padding:0;margin:0}
.p_riskbear_evaluation .msg-box .n-error .n-icon{display:none}
.p_riskbear_evaluation .msg-box .n-error .n-msg{background-image:none;}
.p_riskbear_evaluation .color_red{color:#e71f19}
.p_riskbear_evaluation .mt54{margin-top:54px;}
.p_riskbear_evaluation .btn-sub{background:url(../images/account/wq_submit.png);width:190px;height:46px;line-height:46px;color:#FFF;font-size:18px;text-align:center;display:inline-block;border:none;}
.weedialog.wq-popbox .pop-tit i{background:url(../images/common/password_skin.png) 0 -49px;width:43px;height:43px;display:inline-block;}
.weedialog.wq-popbox .pop-tit i.fail{background-position: 0 0;}
.weedialog.wq-popbox .color-gray{color:#989898}
.weedialog.wq-popbox .mt5{margin-top:5px;}
.weedialog.wq-popbox .dialog-content{padding-top:20px;color:#656565}
.weedialog.wq-popbox .dialog-button{padding:22px 0 50px;}
.weedialog.wq-popbox .dialog-ok,.weedialog.wq-popbox .dialog-ok:hover,.weedialog.wq-popbox .dialog-ok:active{height:46px;line-height:46px;}