@charset "utf-8";
.edit-mid { width:980px; margin:0 auto; background:#fff; -webkit-box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); -moz-box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); border-top:3px solid #feb804; border-radius:3px; position:relative; color: #878787; }
.blank80 { display:block; height:80px; width:100%; clear:both }
.txt { background: #FFFFFF; border: 1px solid #bababa; color: #999999; float: left; font-size: 14px; height: 28px; line-height: 28px; padding: 1px 5px; width: 180px; }
.edit-success { margin:30px; text-align:center;}
.edit-suc, .edit-fail { display: inline-block; font-size: 0; height: 55px; width: 55px; margin-right:10px; vertical-align: middle; line-height: 0; background-image:url(../images/common/password.png); background-repeat:no-repeat }
.edit-suc { background-position:0 0; }
.edit-fail { background-position:0 bottom; }
i, em { font-style: normal; }
.font24 { font-size:24px; }
.font16 { text-align:center; font-size:16px; line-height:32px; display:block; margin:15px 0 0 0px; }
.edit-being { display: inline-block; font-size: 0; height: 55px; width: 55px; margin-right:10px; vertical-align: middle; line-height: 0; background-image:url(../images/common/being.png); background-repeat:no-repeat }
.edit-mid { margin-top: 23px; color: #656565; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; border: 1px solid #e0dede; border-radius: 0; }
.edit-mid a { text-decoration: underline; color: #0397ff }
.edit-mid .font16 { color: #656565; font-size: 18px; margin-top: 0; padding:18px 50px 0px;}
.edit-mid .font14 { font-size: 14px; text-align: center; display: block; margin-top: 40px }
.edit-mid  .red { color: #f75d3e !important; }
.edit-mid  .font14 .red { padding: 0 5px; }
.edit-success { margin-top: 125px; height: 43px; line-height: 43px }
.edit-mid .blank80 { height: 225px }
.blank80 { height: 60px }
.edit-suc, .edit-fail { width: 43px; height: 43px; background-image: url(../images/common/password_skin.png);}
.edit-suc { background-position: 0 -49px; position:relative; top:-3px; }
.edit-fail { background-position: 0 0; position:relative; top:-3px;  }
.wrap,.edit-mid{ width:1100px;}