.p_user_comm_forgetpwd .forget-pwd { width: 610px; margin: 0 auto; padding-top: 100px; min-height: 330px; height: auto !important; height: 400px; }
.wrap{width: 825px;}
.ui-box .r-title h2 {font-size: 27px;text-align: center;padding-top: 80px;}
.blank23 {height: 60px;}
.font_24{font-size: 24px;}
.company_pwd{margin-bottom: 50px;text-align: center;}
.company_pwd a{color: #2ea7e0;font-size: 14px;}