/*填写注册信息*/
.p_user_register { color: #4f4e4e }
.p_user_register .color_green2 { color: #4c8c00 }
.p_user_register .reg-mid { padding: 80px 0 40px; min-height: 403px; height: auto !important; height: 403px; }
.p_user_register .reg-mid .reg-title { background-image: url(../images/user/reg_tit.png); background-repeat: no-repeat; width: 941px; height: 61px; margin: 0  auto; }
.p_user_register .reg-mid .first-tep { background-position: 0 0 }
.p_user_register .ui-form ul li { overflow: visible; }
.p_user_register .ui-form ul li.pwd-item .txt { width: 237px; padding-right: 38px; }
.p_user_register .ui-form ul li.pwd-item .error-wrap { position: absolute; left: 408px;max-width: 305px;}
.p_user_register .pwd-show { background-position: -153px -8px; }
.p_user_register .pwd-show, .p_user_register .pwd-hide { width: 20px; height: 18px; position: absolute; left: 374px; top: 11px; }
.p_user_register .pwd-hide { background-position: 0 -66px; }
.p_user_register .tel-ver label, .p_user_register .tel-ver .tel-btn, .p_user_register .tel-ver .txt { float: left; }

.p_user_register .tel-ver .txt { width: 173px; padding-left: 40px; }

.p_user_register .tel-ver .tel-btn { width: 117px; height: 34px; display: inline-block; border: 1px solid #bababa; line-height: 34px; background: url(../images/user/tel_butt.jpg); }
.p_user_register .graph-ver label, .p_user_register .graph-ver input.txt, .p_user_register .graph-ver .img-Veri, .p_user_register .graph-ver .refresh { float: left }
.p_user_register .graph-ver input.txt { width: 95px; }
.p_user_register .img-Veri { width: 94px; height: 34px; border: 1px solid #bababa; margin-left: 13px; }
.p_user_register .img-Veri img { width: 100%; height: 100%; cursor: pointer; }
.p_user_register .refresh { margin-left: 15px; color: #0088cc; cursor: pointer; line-height: 36px; }
.p_user_register .refresh:hover { text-decoration: underline; }
.p_user_register .p2p-ui-checkbox span { cursor: pointer; }
.p_user_register .pad_left { padding-left: 445px; }
.p_user_register #agreement_msg { color: #cc1223; }

.p_user_register .btn-sub { border: none; background-color: transparent; background: url(../images/user/sub_reg.png) no-repeat 0 0; width: 290px; height: 46px; line-height: 46px; text-align: center; color: #FFF; font-size: 18px; }
.p_user_register .btn-sub:hover { background-position: -311px 0; }
.p_user_register .btn-sub:active { background-position: -622px 0; }
.p_user_register .w224 { width: 224px; }
.p_user_register .ipt-wrap { float: left; background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; height: 34px; line-height: 34px; font-size: 14px; }
.p_user_register .ipt-focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1); }
.p_user_register .ipt-focus .areacode{color: #333}
.p_user_register .areacode { padding-left: 10px; float: left; color: #999; }
.p_user_register input.txt-tel {font-size: 14px; margin-left: 13px; float: left; display: block; border: none; color: #4f4e4e; float: left; height: 34px; line-height: 34px; width: 165px; }
.p_user_register input.txt-tel[type="password"]:focus, input.txt-tel[type="text"]:focus { border-color: transparent; box-shadow: none }
/*checkbox*/

.weedialog.weebox_send_msg .dialog-content { padding-top: 10px }
.weebox_send_msg .wee-send .send-input { margin: 0 0 0 32px; position: relative; }
.weebox_send_msg .wee-send .send-input p { padding-bottom: 7px; }
.weebox_send_msg .btn-blue-h34, .weebox_send_msg .btn-blue-h34:hover, .weebox_send_msg .btn-blue-h34:active, .weebox_send_msg .btn-gray-h34, .btn-gray-h34:hover, .btn-gray-h34:active { background-image: url(../images/user/reg_sprite.png); background-repeat: no-repeat; display: inline-block; }
.weebox_send_msg .btn-blue-h34, .weebox_send_msg  .btn-gray-h34 { margin-left: 10px; color: #ffffff; width: 147px; text-align: center; height: 34px; line-height: 34px; font-size: 14px; background-color: transparent; border: none; }
.weebox_send_msg .btn-blue-h34 { background-position: 0 -210px; }
.weebox_send_msg .btn-blue-h34:hover { background-position: -168px -210px; }
.weebox_send_msg .btn-blue-h34:active { background-position: -334px -210px; }
.weebox_send_msg .btn-gray-h34, .weebox_send_msg .btn-gray-h34:hover, .weebox_send_msg .btn-gray-h34:active { background-position: 0 0; }
.weebox_send_msg .error-box .error-wrap2 { border: 1px solid #f9d147; background: #feffeb; margin-bottom: 10px; color: #666; padding: 10px 20px; margin: 0 -57px; width: 373px; }
.weebox_send_msg .w115 { width: 115px; }

.select_box ul {left: 118px!important;}
.p_user_register input.txt-tel {border: 0;}