{include file="web/views/v2/header.html"}
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/account_seller.css');?>" />
    <div class="p_account_seller">
        <span class="blank23"></span>
        <div class="w1100">
        	<div class="ui-box">
    			<div class="ui_box_title">
                	<i class="icon"></i>礼券兑换
                </div>
                <div class="ui_suc_title"><i class="ui_fail_icon mr10"></i>兑换失败</div>
                <div class="message">
                    <h2>失败原因：{$errMsg}</h2>
                	<p class="gray">系统将在3秒后自动跳转到商家服务首页，或者点<a href="#" class="blue">这里</a>回到商家首页</p>
                </div>
                
            </div>
        </div>
        <span class="blank60"></span>
    </div>
{include file="web/views/v2/footer.html"}
<script type="text/javascript">
function timedMsg()
{
	window.location.href='/seller/appliedlist'
}
setTimeout('timedMsg()',3000)
</script>
