{include file="web/views/v2/header.html"}
    <link href="<?php echo $this->asset->makeUrl('v2/css/account_seller.css');?>" type="text/css" rel="stylesheet">
    <div class="p_account_seller">
        <span class="blank23"></span>
        <div class="w1100">
        	<div class="ui-box">
    			<div class="ui_box_title">
                	<i class="icon"></i>礼券兑换
                </div>
              <div class="ticket">
                  <h2>{$coupon.productName}</h2>
                  <p><span class="gray">价值：</span>{$coupon.goodPrice}元</p>
                  <p><span class="gray">券码：</span>{$coupon.couponNumber}</p>
                  <p><span class="gray w45">详情：</span><span class="w345">{function name='htmlspecialchars_decode' v=$coupon.couponDesc}</span></p>
                    <div class="pt20">
                    	<a href="doapply?couponId={$coupon.id}" class="common-sprite btn-red-h46">确认兑换</a>
                        <a href="/seller/appliedlist" class="common-sprite btn-gray-h46-w129 ml15">取消</a>
                    </div>
              </div>
              <div class="ui_user_tip">
              	<p>券码兑换说明：</p>
                <p>1、在券码详情页点击确认兑换将完成最终兑换操作，且兑换成功后无法撤销。</p>
                <p>2、如兑换过程中出现问题，请联系客服：<span class="color_red">400-890-9888</span>。</p>
              </div>
            </div>
        </div>
        <span class="blank60"></span>
    </div>
{include file="web/views/v2/footer.html"}
