@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: calc( 100vw /3.75);
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif,'微软雅黑';
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

input[type="text"], input[type="tel"], input[type="number"], input[type="button"], button {
  outline: none;
  border: none;
}

button, input[type=button] {
  cursor: pointer;
  background-color: transparent;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  outline: none;
}

.stretchImg {
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  outline: none;
}

.imgWrap {
  position: relative;
  max-width: 100%;
}

.imgWrap > img {
  display: block;
  width: 100%;
  height: auto;
}

.imgWrap .imgInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.paddingPopBox {
  height: 0px;
  padding-top: 100%;
  position: relative;
}

.paddingPopBox .paddingPopInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0px;
}

.abs {
  position: absolute;
}

.flexCssTmp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 0px;
  opacity: 0;
}

/* css 重置 end */
.loadingWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #f55143;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}

.loadingWrap .rateText {
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.loadingWrap .progressWrap {
  width: 80%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 4px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc1903), to(#ff623e));
  background: -webkit-linear-gradient(top, #dc1903 0%, #ff623e 100%);
  background: -o-linear-gradient(top, #dc1903 0%, #ff623e 100%);
  background: linear-gradient(to bottom, #dc1903 0%, #ff623e 100%);
}

.loadingWrap .progressWrap .inner {
  height: 22px;
  background: url("../../../images/activity/spring_festival_2019/login/loadInner.png");
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  width: 10%;
  -webkit-animation: progress 1000ms linear infinite;
          animation: progress 1000ms linear infinite;
}

.reuseFixWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  display: none;
}

.reuseFixWrap .transparent {
  background-color: transparent;
}

.reuseFixWrap .content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.reuseFixWrap .content.columnFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reuseFixWrap .content.alignCenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumnCenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popWrap {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 102;
  display: none;
}

.popWrap .popContent {
  width: 2.90rem;
  padding: 0rem 0.10rem 0.12rem 0.10rem;
  background: url("../../../images/activity/spring_festival_2019/login/popBg.png") repeat;
  -webkit-background-size: 0.465rem 0.47rem;
          background-size: 0.465rem 0.47rem;
  -webkit-border-radius: 0.20rem;
          border-radius: 0.20rem;
  position: relative;
}

.popWrap .popContent .leave_left, .popWrap .popContent .leave_right {
  position: absolute;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}

.popWrap .popContent .leave_left {
  width: 0.545rem;
  height: 0.415rem;
  background-image: url("../../../images/activity/spring_festival_2019/login/popLeft_bg.png");
  top: -0.24rem;
  left: 0.40rem;
}

.popWrap .popContent .leave_right {
  width: 0.715rem;
  height: 0.495rem;
  background-image: url("../../../images/activity/spring_festival_2019/login/popRight_bg.png");
  top: -0.24rem;
  right: 0.40rem;
}

.popWrap .popContent .title {
  color: #f15826;
  font-size: 0.16rem;
  font-weight: bold;
  height: 0.43rem;
  line-height: 0.43rem;
  text-align: center;
}

.popWrap .popContent .popInner {
  background-color: #fff;
  -webkit-border-radius: 0.20rem;
          border-radius: 0.20rem;
  color: #3d3d3d;
  font-size: 0.14rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.30rem 0.20rem;
  text-align: center;
}

.popWrap .popContent .popInner .text {
  display: inline-block;
  line-height: 0.20rem;
  vertical-align: top;
  text-align: left;
}

.popWrap .popContent .popClose {
  width: 0.47rem;
  height: 0.47rem;
  background: url("../../../images/activity/spring_festival_2019/login/popClose.png") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  left: 50%;
  bottom: -0.72rem;
  margin-left: -0.235rem;
}

@-webkit-keyframes progress {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 18px;
  }
}

@keyframes progress {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 18px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .titleBox.ios {
    padding-top: 44px;
  }
}

.login_body {
  background-color: #fffcf4;
}

.login_body .bannerImg {
  display: block;
  height: 2.10rem;
}

.login_body .error {
  color: #fc3a26;
  font-size: 0.15rem;
  height: 0.30rem;
  line-height: 0.30rem;
}

.mainBox {
  width: 2.80rem;
  margin: 0rem auto;
}

.fgroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fgroup > * {
  display: block;
}

.fgroup > input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0.42rem;
  border: 0.01rem solid #eac595;
  font-size: 0.16rem;
  font-weight: bold;
  padding: 0rem 0.15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0rem;
  color: #3e3d3d;
}

.fgroup > input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.fgroup > input:-ms-input-placeholder {
  color: #b3b3b3;
}

.fgroup > input::-ms-input-placeholder {
  color: #b3b3b3;
}

.fgroup > input::placeholder {
  color: #b3b3b3;
}

.codeBox {
  display: block;
  width: 0.95rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 0.13rem;
  border: 0.01rem solid #eac595;
}

.codeBox .codeImg {
  display: block;
  width: 100%;
  height: 100%;
}

.registerBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.registerBox .registerLink {
  font-size: 0.15rem;
  color: #34aee3;
  display: block;
  height: 20px;
}

.submitBtn {
  display: block;
  width: 2.30rem;
  height: 0.52rem;
  background: -webkit-linear-gradient(68deg, #ff1d64 0%, #ff1d64 48%, #ff3d1d 100%);
  background: -o-linear-gradient(68deg, #ff1d64 0%, #ff1d64 48%, #ff3d1d 100%);
  background: linear-gradient(22deg, #ff1d64 0%, #ff1d64 48%, #ff3d1d 100%);
  -webkit-border-radius: 0.26rem;
          border-radius: 0.26rem;
  border: none;
  outline: none;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
  margin: 0.1rem auto 0rem auto;
  -webkit-box-shadow: 0px 2px 2px #e39582,-2px 0px 2px #e39582,2px 0px 2px #e39582,0px 0px 6px #fff152 inset;
          box-shadow: 0px 2px 2px #e39582,-2px 0px 2px #e39582,2px 0px 2px #e39582,0px 0px 6px #fff152 inset;
}

/*# sourceMappingURL=../maps/login.min.css.map */
