<link href="<?php echo $this->asset->makeUrl('v2/css/account_borrow.css');?>" type="text/css" rel="stylesheet">
<div class="ui_user_right">
    <div class="p_account_borrow">
        <div class="ui-box">
            <div class="ui_title"><i class="icon"></i>申请协议</div>
            <div class="agrt">
            <h2>网信理财变现通类产品</h2>
            <h3>借款申请书</h3>
            <h4>致：北京东方联合投资管理有限公司</h4>
            <p>因资金周转需要，本人现申请经由贵公司通过“网信理财”网络交易平台（www.firstP2P.com，下称“网信理财”）以已投资网信理财未到期项目的应得款项作为还款来源进行借款。申请人授权网信理财对其在平台已投资产品的到期本息金额进行冻结操作，作为本次借款的还款来源，借款到期网信理财直接操作还款，并解冻其账户。</p>
            <p>申请人同意将与本次借款相关的信息在网信理财进行发布，资金募集成功后由网信理财通过先锋支付有限公司即第三方支付公司以银行转账的方式将所融资金汇入申请人指定的银行账户。</p>
            <p>资金募集成功后由网信理财通过先锋支付有限公司即第三方支付公司以银行转账的方式将所融资金汇入申请人指定的银行账户。
            申请人承诺将按照网信理财的要求提供借款所需全部资料并承诺所提供的全部资料、在借款合同中所作的所有陈述、保证和承诺及通过网信理财发布的全部信息真实、完整、准确、有效，愿意承担因发布相关信息而可能导致的任何形式的法律责任。</p>
            <h4>一、申请人知悉并确认：</h4>
            <p>1、申请人本次借款系通过网信理财向网信理财注册用户借款，贵公司和网信理财作为本次借款的咨询服务方和居间服务方，仅分别提供资信审核、信息发布、居间撮合等服务；</p>
            <p>2、贵公司接受申请人的申请并不表明该等申请必然能获得审核通过而在网信理财发布借款信息；</p>
            <p>3、申请人的借款信息在网信理财发布后，并不表明借款必然获得成功；</p>
            <p>4、申请人通过网信理财发布融资信息意味着申请人的相关信息将向整个互联网开放，任何网信理财网站的访问者均可能知晓，申请人对此不持异议；</p>
            <p>5、申请人承诺所提供的全部资料及通过网信理财发布的全部信息真实、完整、准确、有效，愿意承担因资料不实或所发布信息不实可能导致的任何形式的法律责任；</p>
            <p>6、申请人授权平台对其在平台已投资产品的到期本息金额进行冻结操作，作为本次借款的还款来源，借款到期平台直接操作还款，并解冻其账户。</p>
            </div>
        </div>
    </div>
</div>