<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$page_title}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/maintain.css');?>">
</head>
<body>
    <div class="mt-box">
        <div class="sj-mid">
           <h2 class="h-tit"><i></i>{$page_title}...</h2>
            <p class="info">
            	{$content}
            </p>
        </div>
    </div>
</body>
</html>
