{include file="web/views/v2/header.html"}
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/p-user-rnasuc.css');?>" />
<script>  
$(document).ready(function(){
    $("#click_here").click(function(){
        $('#bindCardForm').submit();
    });
    Firstp2p.goPay();      
});
</script> 
<div class="p_account_cz">
    <span class="blank23"></span>
    <div class="w1100">
        <div class="ui-box">
            <div class="h-title">
                <h2>
                    <i></i>实名认证
                </h2>
            </div>
            <div class="suc_cont pt10">
            <div class="ui_suc_title">
                <i class="ui_suc_icon mr10"></i>实名认证成功
            </div>
            <div class="tc f18">请继续进行绑卡操作， <span class="format_mobile">完成后即可充值投资</span></div>
            <div class="f14 gray mt10 tc">系统将在<span id="second">3</span>秒后自动跳转至先锋支付，点击 <a href="javascript:void(0)" class="blue textd" id="click_here">这里</a> 立即跳转</div>
            <div>{$formString}</div>
        </div>
        </div>
        <span class="blank60"></span>
    </div>
</div>
{include file="web/views/v2/footer.html"}
