{include file="web/views/v2/header.html"}
    <div class="p_account_pwprotect">
        <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/weebox.css');?>">
        <link href="<?php echo $this->asset->makeUrl('v2/css/account_pwprotect.css');?>" type="text/css" rel="stylesheet">
        <script src="<?php echo $this->asset->makeUrl('v2/js/temp/jquery.bgiframe.js');?>"></script>
        <script src="<?php echo $this->asset->makeUrl('v2/js/temp/jquery.weebox.1.1.js');?>"></script>
        <script src="<?php echo $this->asset->makeUrl('v2/js/common/jquery_placeholder-1.0.js');?>" type="text/javascript"></script>
        <script src="<?php echo $this->asset->makeUrl('v2/js/account/validpwdprotect.js');?>" type="text/javascript"></script>
        <style>
        .msg-box .n-ok {display:none!important;}
        </style>
        <span class="blank23"></span>
        <div class="wrap clearfix">
            <div class="ui-box">
                <div class="h-title">
                    <h2>
            <i></i>设置密保问题
        </h2>
          <div class="r-menu"><a class="blue" href="/account/setup">返回个人设置</a></div>
                </div>
                <div class="pwp-mid">
                    <div class="pwp-title second-tep"></div>
                    <div class="ui-form">
                        <form method="post" action="/account/DoProtectionPwd" id="passForm" autocomplete="off">
                            <div class="te-wrap">
                                <div class="total-error"><i class="form-sprite"></i>密保问题作为重要的身份验证方式，请填写真实信息，将用于找回密码</div>
                            </div>
                            <ul>
                                <li class="clearfix">
                                    <label> 问题1
                                    </label>
                                    <span class="pwp-que">{$list1_1|escape}</span>
                                    
                                </li>
                                <li class="clearfix">
                                    <label> 答案1
                                    </label>
                                    <input type="text" value="" placeholder="1-20位" data-placeholder="1-20位" name="answer1" id="answer1" class="txt int_placeholder">
                                </li>
                                <li class="clearfix">
                                    <label> 问题2
                                    </label>
                                    <span class="pwp-que">{$list2_1|escape}</span>
                                </li>
                                <li class="clearfix">
                                    <label> 答案2
                                    </label>
                                    <input type="text" value="" placeholder="1-20位" data-placeholder="1-20位" name="answer2" id="answer2" class="txt int_placeholder">
                                </li>
                                <li class="clearfix">
                                    <label> 问题3
                                    </label>
                                    <span class="pwp-que">{$list3_1|escape}</span>
                                </li>
                                <li class="clearfix">
                                    <label> 答案3
                                    </label>
                                    <input type="text" value=""  placeholder="1-20位" data-placeholder="1-20位" name="answer3" id="answer3" class="txt int_placeholder">
                                </li>
                            </ul>
                            <div class="btn-w30">
                                <a class="btn-gray-h46-w129 mr20" href="/account/ProtectPwd" id="" >上一步</a><input class="btn-red-h46-w129" type="submit" id="" value="下一步">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <span class="blank23"></span>
    </div>
{include file="web/views/v2/footer.html"}
