.p_bonus .basic{ height:39px; border-bottom:1px solid #f1f1f1; background:#fff; padding:15px 0; margin-bottom:20px;}
.p_bonus .basic .con{ width:50%; float:left; text-align:center;}
.p_bonus .basic .con h3{ color:#8f8f8f; height:14px;}
.p_bonus .basic .con p{ color:#ee4634; font-size:20px;}
.p_bonus .basic .con .border_r{ border-right:1px solid #f1f1f1; height:40px;}
.p_bonus .list{border-top:1px solid #f1f1f1; background:#fff; margin-bottom:20px;}
.p_bonus .list dl{ border-bottom:1px solid #f1f1f1; height:65px; line-height:65px; position:relative;  padding-left: 15px}
.p_bonus .list dl dd{ width:100%;line-height:22px; display:inline-block;vertical-align:middle;}
.p_bonus .list dl dd h3{ font-size:15px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-right:80px;color: #333!important;}
.p_bonus .list dl dd p{ color:#8f8f8f;}
.p_bonus .list dl dt{ width:80px;text-align:center; color:#8f8f8f; font-size:12px; position:absolute; right:15px;}
.p_bonus .list dl dt .btn{display:inline-block;vertical-align:middle; line-height:20px;}
.p_bonus .list dl dt .btn p{}
.p_bonus .list dl dt .bonus_btn{ width:70px; height:25px; border-radius:3px; background:#ee4634; color:#fff; line-height:25px; border:none; display:inline-block; text-align:center;}
.p_bonus .status{ height:90px; background:#fff; border-bottom:1px solid #f1f1f1; line-height:90px; vertical-align:middle; padding:0 15px; margin-bottom:20px;}
.p_bonus .status dl{position:relative;}
.p_bonus .status dl dt{ background:url(../images/bonus/bonus.png) no-repeat; background-size:60px 60px; height:60px;  display:inline-block; vertical-align:middle;line-height:60px; width:100%;}
.p_bonus .status dl dt .con{ display:inline-block; vertical-align:middle; line-height:20px; width:100%;}
.p_bonus .status dl dt .con h3{ font-size:15px; height:20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left:70px;}
.p_bonus .status dl dt .con h4{padding-left:70px;}
.p_bonus .status dl dt .con p{ color:#8f8f8f;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; padding-left:70px;}
.p_bonus .status dl dd{ position:absolute; right:0px; width:80px; height:65px; top:50%; margin-top:-32px; z-index:20;}
.p_bonus .status dl dd .status_ysy{ background: url(../images/bonus/status_ysy.png) no-repeat; height:65px; width:80px; background-size:100%;}
.p_bonus .status dl dd .status_ygq{ background: url(../images/bonus/status_ygq.png) no-repeat; height:65px; width:80px; background-size:100%;}
.p_bonus .status dl dd .status_fgl{ background: url(../images/bonus/status_fgl.png?v=1) no-repeat; height:65px; width:80px; background-size:100%;}
.p_bonus .text_box{border-bottom:1px solid #f1f1f1;border-top:1px solid #f1f1f1; background:#fff; padding:15px 15px 0;}
.p_bonus .text_box h3{ color:#8f8f8f; padding-bottom:5px;}
.p_bonus .text_box p{ font-size:15px; padding-bottom:12px;}
.bonus_gay{ color: #8F8F8F!important;background: none!important;}

.ts_color{color: #333!important;}
.ts_gaycolor{ color: #909090!important;}
.p_bonus .list dl:last-child{ margin-left: 0px;padding: 0 15px;}
.hb-more{ text-align: center;margin-bottom: 20px;}
.jia_zai{ border: 1px solid #ee4634;width: 150px;height: 30px;line-height: 30px;display: inline-block;border-radius: 5px;color: #ee4634;}
a{ color: #333;}
.p_bonus .no_coupon{background:url(../images/o2o/icon_none.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 135px; position: absolute; top: 50%; margin-top: -75px; width: 100%;color: #858B9C;font-size: 14px;line-height: 42px;}