.p_borrows {font-size: 14px;}
.p_borrows .borrows_con{background: #fff; border-bottom: 1px solid #d9d9d9; padding:18px 15px 0;}
.p_borrows .borrows_con li{ padding-bottom: 15px; }
.p_borrows .borrows_con li .con_left{ width: 120px; display: inline-block; color: #939393;}
.p_borrows .borrows_form{background: #fff; border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9; margin-top:20px; }
.p_borrows .borrows_form li{border-bottom: 1px solid #d9d9d9; margin-left: 15px; height: 44px;display: -webkit-box; line-height: 44px;}
.p_borrows .borrows_form li:last-child{border-bottom:none;}
.p_borrows .borrows_form li .borrow_input{display: block;-webkit-box-flex: 1; height:44px; margin-left:20px;font-size: 15px;}
.p_borrows .borrows_form li span{display: inline-block;}
.p_borrows .borrows_form li .ui_input{ margin-left: 0px;}
.p_borrows .borrow_select{ height:44px;display: block;-webkit-box-flex: 1; border:none; margin-left:18px; margin-right:10px;  outline: none; background:transparent; font-size: 15px; color:#556ca1; padding:0px; line-height:normal; -webkit-appearance:none;}
.p_borrows .borrows_time{ background:#fff; position: absolute; width:100%; height:540px; left:0px; top: 0px;}
.p_borrows .dit_btn{padding:20px 15px;}
.p_borrows .dit_btn p{ padding-top: 15px;}
.p_borrows .sub_btn{border:0px;width: 100%;text-align: center;height: 40px;line-height: 40px;color: #fff;font-size: 15px;border-radius: 3px;}
.p_borrows .sub_gay{background-color: #cccccc;}
.p_borrows .sub_red{ background-color: #ee4634;}
.p_borrows .b_ui_alert{ width:240px;  background:#fff; border-radius: 3px; position:absolute; top: 50%; left:50%; margin:-122px 0 0 -135px; padding:15px;}
.p_borrows .b_ui_alert .b_title{text-align: center; font-size: 16px; border-bottom: 1px solid #d9d9d9; padding-bottom: 10px;}
.p_borrows .b_ui_alert .b_con{border-bottom: 1px solid #d9d9d9; padding:10px 0; line-height: 25px;}
.p_borrows .b_ui_alert .b_con p span{float:right; }
.p_borrows .b_ui_alert .b_tips{ font-size: 11px; color:#979797;padding:10px 0; text-align: center;}
.p_borrows .b_ui_alert .b_btn .btn_cancel, .btn_ok{ width:112px; height:35px; border-radius: 3px; display:inline-block;text-align: center; line-height: 35px;}
.p_borrows .b_ui_alert .b_btn .btn_cancel{background:#e6e6e6; color:#919191;}
.p_borrows .b_ui_alert .b_btn .btn_ok{background:#ee4634; color:#fff; margin-left:15px;}
.p_borrows .show_tip .b_btn{ text-align: center;}
.p_borrows .show_tip .b_tips{ font-size: 15px!important;margin: 10px 0px 15px 0px;  border-bottom: 1px solid #d9d9d9;padding-bottom: 15px;}
.p_borrows .show_tip .btn_ok{ margin-left: 0px!important;}
.p_borrows .input_money{ display: block;-webkit-box-flex: 1;margin-left: 20px;}
.p_borrows .input_money .inp_main{ font-size: 15px;}
.p_borrows .span_left{ float: left;color: #939393;font-size: 14px;width: 120px;vertical-align: middle;margin-top: 10px;}
.p_borrows .span_right{ margin-left: 120px;}
.p_borrows .ts_li{ margin: -8px 0px;}
.p_borrows .ui_mask{ position: absolute!important;}
.bodyscroll{ overflow: hidden;}
