.p_detail{} 
.p_detail .f10{font-size: 10px;}
.p_detail .inv-header,.p_detail .inv-center{padding: 10px 15px 10px;background-color: #fff;}
.p_detail .inv-footer{ border-bottom: 0px;}
.p_detail .inv-center{}
.p_detail .inh-title .ui_tips{background: #fff; color: #eb483b;}
.p_detail .inv-header{background-color: #fff;}
.p_detail .inh-title{margin-top: 5px;font-size: 14px;color: #41474d;}
.p_detail .inh-title h2{overflow: hidden;white-space:nowrap;text-overflow:ellipsis; height:20px; width:100%; font-size:15px; padding-bottom:2px;}

.p_detail .invh-center{ margin-top: 5px;overflow: auto;font-size: 16px;color: #ee4634; line-height:20px; width: 100%; display: -webkit-box;}

.p_detail .invh-center .jiange{ width: 4px;}
.p_detail .invh-center .invh-right,.p_detail .invh-center .invh-left{ display: block;  -webkit-box-flex: 4;}
/*.p_detail .notice_item .invh-right{ width:35%}
.p_detail .notice_item .invh-left{width: 65%}*/
.p_detail .invh-center .zhd_lv{ font-size:12px; color:#8f8f8f;}
.p_detail .hkfs{ -webkit-box-flex: 2;display: block;}

.p_detail .invh-prog{ margin-top:5px;color: #ee4634;font-size: 9px; height:12px; position:relative;}
.p_detail .progress-blue{height:2px;overflow:hidden;background:#e7e7e7; position:relative; top:1px; overflow:hidden;}
.p_detail .progress-blue .pgbar{display:block;width:100%;height:100%;background:#ee4634;}
.p_detail .invh-prog .prognum{margin-left: 0px;font-size: 12px; width:45px; height:10px;text-align:right;color:#909090; position:absolute; right:0px; top:-6px;}

/*滑块*/
.p_detail .inv-center{color: #41474d;}
.p_detail .invc_top{ text-align: left;font-size: 12px;}
.p_detail .invc_top span{font-size: 11px;}
.p_detail .invc_top span em{ margin-right: 5px;color: #ee4634; }
.p_detail .invc_bar{ margin-top: 15px;margin-bottom: 15px;padding-left: 5px;padding-right: 5px;}
.p_detail .invc_footer{padding: 0px 3px; font-size: 10px;color: #ccc;vertical-align: bottom;}

.p_detail .invh-bottom{font-size: 12px;}
.p_detail .title{ padding:17px 15px 0px; color:#8a8a8a; font-size:12px;}

/*滑块*/
.inv-center{color: #41474d;}
.invc_top{ text-align: left;font-size: 12px;}
.invc_top span{font-size: 10px;color:#909BA8;}
.invc_top span em{ margin-right: 5px;color: #F64172; }
.invc_bar{ margin-top: 15px;margin-bottom: 15px;padding-left: 15px;padding-right: 15px;}
.invc_footer{padding: 0px 3px;margin: 0 5px; border: 1px solid #ccc;border-top: 0px;border-bottom: 0px;font-size: 10px;color: #909090;vertical-align: bottom;}
.invc_footer span{ float: right;text-align: right;}

/*中间*/
.p_detail .inv-center{ margin-top: 8px;color: #41474d;}
.p_detail .inv-center p{ font-size: 15px;line-height: 24px;}
.p_detail .inv-center p em{ color: #ee4634;}
/*底部*/
.p_detail .inv-footer{margin-top: 20px;color: #41474d; background:#fff;min-height: 180px;}
.p_detail .invf_top{ border-bottom: 1px solid #e6e6e6;position: relative;height: 44px}
.p_detail .invf_top ul { height: 44px;}
.p_detail .invf_top ul li{ float: left;width: 33%;text-align: center;line-height: 44px;font-size: 15px; height:44px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_detail .invf_top ul li.select {color: #ee4634; border-bottom:2px solid #ee4634; height:42px; display:inline-block;}
.p_detail .invf_top .invf_write{height: 4px;background-color: #ee4634;border-radius: 3px;position: absolute;bottom: 0px;}
/*升级*/

.p_detail .invf_txt{ font-size: 14px;}
.p_detail .invf_txt table {padding: 12px 15px 10px;display: block;}
.p_detail .invf_tx table img{ width:100% !important; height:auto !important;}
.p_detail .invf_txt table th{ color: #909ba8; text-align: left;vertical-align: top;padding-bottom: 0px;}
.p_detail .invf_txt table td{ padding-bottom: 0px;}
.p_detail .invf_txt .tb_ql td{ text-align: center;}
.p_detail .invf_txt .tb_ql th{ text-align: center;}
.p_detail #tb1,.p_detail #tb2{ display: none;}
.tb1,.tb2{ display: none;}
/*投资按钮*/
.p_detail .inv-fbtn{ position: fixed;left: 0px;bottom: 0px;text-align: center;width: 100%;background-color: #fafafa;height: 47px; border-top:1px solid #d9d9d9; padding-top:8px;}

.p_detail .bid_list{height: 51px;line-height: 51px;color: #030303;font-size: 15px;border-bottom: 1px solid #e6e6e6;padding: 12px 15px 10px;}
.p_detail .bid_list .float_l{float: left;}
.p_detail .bid_list .float_l p{line-height: 25px;}
.p_detail .bid_list .float_l p.gray{color: #909090;font-size: 12px;}
.p_detail .bid_list .float_r{float: right;}