*{margin:0; padding:0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html{-webkit-text-size-adjust: 100%; font-size:14px;}
body{ font-family:"Arail","Microsoft Yahei"; color:#fff; font-size: 1rem; -webkit-user-select:none; background:url(../images/activity/roll_main_bg.jpg) no-repeat #1d004c; background-size:100% auto;}
html,body{-webkit-touch-callout: none;}
@media screen and (min-width: 320px) {html{font-size:62.5%;}}
@media screen and (min-width: 360px) {html{font-size:70.3125%;}}
@media screen and (min-width: 400px) {html{font-size:78.125%;}}
@media screen and (min-width: 440px) {html{font-size:85.9375%;}}
@media screen and (min-width: 480px) {html{font-size:93.75%;}}
@media screen and (min-width: 520px) {html{font-size:101.5625%;}}
@media screen and (min-width: 560px) {html{font-size:109.375%;}}
@media screen and (min-width: 600px) {html{font-size:117.1875%;}}
@media screen and (min-width: 640px) {html{font-size:125%;}}
@media screen and (min-width: 680px) {html{font-size:132.8125%;}}
@media screen and (min-width: 720px) {html{font-size:140.625%;}}
@media screen and (min-width: 760px) {html{font-size:148.4375%;}}
@media screen and (min-width: 800px) {html{font-size:156.25%;}}
img{display:block; width:100%;}
a{text-decoration:none;}

.p_roll_award{ padding-top:41.8%; padding-bottom:2%;}
.p_roll_award .roll_box{overflow:hidden;padding:38%; position:relative; margin:0 auto 0; width:0; height:0; font-size:0; line-height:0;}
.p_roll_award .turn_table{background-repeat:no-repeat; position:absolute; left:0; top:0; width:100%; height:100%; background-size:100% auto; -webkit-transition:all 1s linear;}
.p_roll_award .roll_arrow{background:url(../images/activity/icon_roll_arrow.png) no-repeat; background-size:100% auto; position:absolute; left:31.2%; top:23%; width:37.6%; height:47%;}
.p_roll_award .roll_arrow_disable{background:url(../images/activity/icon_roll_arrow_disable.png) no-repeat; background-size:100% auto;}

.p_roll_award .award_count{font-size:1.2rem; text-align:center; color:rgba(255,255,255,0.5); line-height:2.2;}
.p_roll_award .award_count span{font-size:1.4rem; font-weight:bold; color:#fff; margin:0 0.5em;}
.p_roll_award .award_name{font-size:1.4rem; text-align:center; color:#fff; line-height:2; }
.p_roll_award .award_name span{font-size:2.4rem; color:#ffc000; margin:0 0.5em;}
.p_roll_award .award_des{font-size:1.2rem; text-align:center; color:rgba(255,255,255,0.5); line-height:1; }
.p_roll_award .back_deal_btn{width:65%; margin:0 auto;}

@-webkit-keyframes roll {
    0%{-webkit-transform: rotate(0deg);}
    99.9% {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(0deg);}
}
