a,input,span,.tel-btn,img{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;}

.tel-box{ width:142px; height:40px; border:0px; background:url(../../images/rob-hongbao/yx/box_bg.png) no-repeat; background-size:100%; margin:0 auto; display:block; font-size:15px; text-align:center;color:#fff; outline:none;-webkit-appearance:none; margin-bottom:10px; padding:0 20px 4px;}
.tel-btn,.fa_btn{ background:url(../../images/rob-hongbao/yx/fa_btn.png) no-repeat; height:28px; width:88px; background-size:88px 28px; border:0px; float:left;}
.fa_btn{ background:url(../../images/rob-hongbao/yx/fa_btn1.png) no-repeat;background-size:88px 28px; display:inline-block; float:right;}


.errorDiv{ clear:both; margin:0 30px; color:#fff; padding:5px 0 5px; clear:both; text-align:center; color:#ef5f4d;}
.change-tel{ width:96%;margin:10px auto 20px;}
.change-btn{ width:100%; line-height:42px;}
.no-change{ background:#ccc;-moz-box-shadow:0px 5px 0px #999; -webkit-box-shadow:0px 5px 0px #999; box-shadow:0px 5px 0px #999; color:#fff;-webkit-appearance:none; opacity:1;}
.p-tips{ text-align:center; color:#fffdd7; padding:8px 30px 0;}
.dao-btn .btn{ background:url(../../images/rob-hongbao/yx/btn_02.png) no-repeat; width:183px; height:45px; background-size:100%; display:block; margin:0 auto;-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;}
.mark{width: 100%;height: 100%;filter: Alpha(Opacity=70);Opacity:0.7; background:#000; position:fixed;display:none; top:0px; left:0px; z-index:11;}
.pop_icon{ background:url(../../images/rob-hongbao/default/pop_icon.png) no-repeat; width:225px; height:270px; background-size:cover; position: fixed; right:35px;display:none; top:0px;z-index:11;}
.dis_block{ display:block}






.color-white{ color:#fff;}
.color-yellow{ color:#fff44d;}
.color-blue{ color:#60c9ff;}
.color-red{ color:#e61f26;}
.f11{ font-size:11px;}
.f15{ font-size:15px;}
.f18{ font-size:18px;}
.f52{ font-size:52px;}
.mt17{ margin-top:17px;}
.mt39{ margin-top:30px !important;}
.mt100{ margin-top:100px;}
.money{ height:40px; line-height:40px;  padding:0px 0 10px; font-size:35px;}
.w105{ width:105px; margin-left:13px;}
.mt10{ margin-top:10px !important;}

@media screen and (min-width: 360px) {

}
@media screen and (min-width: 400px) {

}


/*可替换*/
.heihua{ background:url(../../images/rob-hongbao/yx/mh.png) no-repeat; background-size:125px 114px; height:114px; width:125px; position:absolute; left:0px; top:0px;}
.text_fu{ background:url(../../images/rob-hongbao/yx/fu.png) no-repeat; background-size:140px 109px; height:109px; width:140px;position:absolute; right:0px; top:0px;}
html{ height:100%;}
body{background:url(../../images/rob-hongbao/yx/bg.jpg) no-repeat #000 center top; background-size: 100% 100%;}
.ht_bg{ background:url(../../images/rob-hongbao/yx/bg_1.png) no-repeat; background-size:cover; height:115px; position:absolute; top:100px; width:100%;}
.main{ position:relative;}
.he_text{ background:url(../../images/rob-hongbao/yx/he.png) no-repeat center; width:283px; height:206px; background-size:283px 207px; position: relative; z-index:10; margin:0px auto;}
.text_01{ width:300px; height:75px; margin:20px auto 0; background-size:300px 75px;}
.u_head{ width:49px; height:49px; border:1px solid #d61f1f; border-radius:49px; position:relative; margin:0 auto; overflow:hidden; top:-18px;}
.u_head img{width:49px; height:49px;}
.blessing{ color:#fff; text-align:center; padding-top:0px; padding-bottom:18px; line-height:24px; margin-top:-15px;}
.friend{ width:230px; text-align:right; margin:0 auto;}
.friend strong{color:#ffd200; font-size:15px; padding:0px 5px; margin-left:5px; display:inline-block; position:relative; top:1px;}
.p_tips{ color:#ef5f4d;}
.rob-tel{ width:182px; margin:0px auto;}
.text_moeny{ background:url(../../images/rob-hongbao/yx/ten.png) no-repeat center;height:51px; background-size:168px 100%; margin-top:22px;}
.down_btn{ background:url(../../images/rob-hongbao/yx/down_btn.png) no-repeat center; background-size:184px 45px; height:45px; display:block;}
.send_btn{ background:url(../../images/rob-hongbao/yx/fa_btn2.png) no-repeat center; background-size:184px 45px; height:45px; display:block; margin-top:10px;}
.qw_img{ background:url(../../images/rob-hongbao/yx/qw_img.png) no-repeat; background-size:270px 144px; width:270px; height:144px; margin:18px auto 0;}
.gq_img{background:url(../../images/rob-hongbao/yx/gq_img.png) no-repeat; background-size:270px 144px; width:270px; height:144px; margin:18px auto 0;}
.rule{ background:url(../../images/rob-hongbao/yx/btn_01.png) no-repeat; background-size:80px 34px;position:absolute; right:-15px; top:80px; width:80px; height:34px; text-indent:-999em; outline:none; z-index:10;}

.u_name{ max-width:90px; overflow:hidden; display:block; float:left; height:30px;}



