@charset "utf-8";
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
html{-webkit-text-size-adjust: 100%;}
body{ background-color:#e6eaec; overflow-x:hidden;}
a{ color:#5ca9e4 }
a:hover{ color:#5ca9e4 }
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none}
.blank20{display: block;width: 100%;height: 20px;clear: both;}
.common-sprite{background-image:url(../images/icon-common.png);background-repeat:no-repeat;display: inline-block;background-size: auto 68px;}
/*header*/
.m-head-fix{min-height:40px; width:100%; position:fixed; left:0; top:0; background-color:#fff; z-index:100;-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px rgba(0,0,0,0.2);}
.m-head .head_app{ position:relative; background-color:#5ca9e4; height:26px; line-height:26px; padding:8px 15px; color:#fff;}
.m-head .head_app a.down_btn{ display:inline-block; width:72px; height:26px; background-color:#fff; color:#5ca9e4; text-align:center; text-decoration:none; border-radius:13px; margin-left:10px;}
.m-head .head_app span.close{ position:absolute; right:10px; top:10px; width:22px; height:22px; background:url(../images/icon_app_cha.png); background-size:100% 100%;}
.m-head .logo_menu { background-color: #fff; height: 40px; text-align: center; line-height: 40px; font-size: 16px; position: relative; }
.m-head .logo_menu .logo{ position:absolute;top:6px;left:8px; width:93px; height:27px; background:url(../images/head_logo.png); background-size:100% 100%;}
.m-head .logo_menu .menu{position:absolute;top:6px;right:8px;  width:27px; height:27px; background:url(../images/menu.png); background-size:100% 100%;}
.m-head .logo_menu  .top-memu{position:absolute;top:0;right:8px; font-size: 13px;}
/*head占位*/
.m-head-placeholder{height:82px;}
.down_app_none .m-head-placeholder{ height:40px;}
.down_app_none .head_app{display:none;}

/*foot*/
.m-foot{ padding:10px 0; background-color:#e6eaec; color:#8f8f8f; text-align:center;}
.m-foot a{color:#41474d; font-size:16px; text-decoration:none; line-height:30px; margin:0 10px;}
.m-foot a.cur{ color:#f64172;}

/*main*/
section.m-main{ min-height: 435px;}

/*ui-form*/
.ui-form{ padding: 0 10px;}
.ui-form .dl_center { margin: 0 0px 20px 0px; }
.ui-form .dl_center ul { width: 90%; margin: 0 auto; }
.ui-form .dl_center ul li { height: 40px; line-height: 40px; border-bottom: 1px solid #dadcdd; font-size: 14px; color: #586068; }
.ui-form .dl_center ul li span { width: 70px; display: inline-block }
.ui-form .dl_center ul li input { border: none; margin-left: 20px; width: 50%; }
.ui-form .dl_footer { text-align: center; margin-bottom: 20px; }
.ui-form .dl_footer input {outline: none; border: none; background-color: #f64172; border-radius: 30px; height: 40px; line-height: 40px; text-align: center; width: 98%; font-size: 14px; color: #fff; }
.ui-form .input-list label { width: 75px; padding-right: 20px; display: block }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; height: 38px; }
.ui-form .input-list { display: -webkit-box; padding: 0 10px; height: 40px; line-height: 38px; border: 1px solid #dadcdd; font-size: 15px; color: #586068; margin: 0 auto; margin-top: -1px; border-radius: 5px; background: #FFF }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap input { border: none; width: 100%; height: 95%; line-height: normal; font-size:13px;}
.ui-form .input-list em { color: blue; margin-left: 15px; width: 16px; height: 10px; background-position: -49px -9px }

/*ui-instruction*/
.ui-instruction { text-align: center; color: #f64172; font-size: 14px; padding: 15px; }
.ui-instruction span { display: block; text-align: left; }
.ui-instruction .tit { color: #586068; }
.ui-instruction .abstract { color: #999; font-size: 12px; }
.ui-instruction.tl {text-align: left;}

/*弹出层*/
.ui-popup-wrap { width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; position: absolute; text-align: center; top: 0px; }
.ui-pop-box { width: 270px; position: absolute; top: 50%; left: 50%; margin-top: -78px; margin-left: -135px; background: #FFF; border-radius: 5px; font-size: 15px; }
.ui-pop-box .pop-head  h1 { height: 30px; line-height: 30px; margin-top: 5px; color: #f64172; padding: 0 10px; text-align: center; }
.ui-pop-box .pop-body { padding: 10px; }
.ui-pop-box .pop-body   p { padding: 5px; color: #586068; text-align: center; background: #f0f0f0 }
.ui-pop-box .pop-body .btn-wrap { text-align: center; margin-top: 12px; }
.ui-pop-box .pop-btn { border-radius: 17px; padding: 0 42px; height: 35px; line-height: 35px; display: inline-block; }
.ui-pop-box .btn-ok { background: #f64172; color: #FFF }
.ui-pop-box .btn-cancel { background: #d4d5d6; color: #586068 }

/*loading*/
.ui-loading { display: none; width: 100%; height: 100%; background-color: #ccc; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; position: absolute; text-align: center; top: 0px; }
.ui-loading img { position: absolute; top: 200px; margin-left: -20px; }

/*验证样式*/
.ui-form .msg-wrapper { height: 0px; line-height: 40px; color: #ff7163; background-color: #e6eaec; overflow: hidden; -webkit-transition: height 0.5s ease-in-out; transition: height 0.5s ease-in-out;}
.ui-form .msg-wrappern span { width: 90%; margin: 0 auto; }
.ui-form .icons-yes { background: url(../images/icon-bg.png) no-repeat; display: none; width: 19px; height: 15px; margin-top: 12px; background-size: 18px 14px; display: none; }
.ui-form .icon-no { background: url(../images/icon_error.png) no-repeat; display: inline-block; width: 15px; height: 15px; background-size: 15px 15px; margin-top: 12px; margin-right: 5px; }
.ui-form .msg-show { height: 40px;}
.ui-form .msg-hide { height: 0px;}
.ui-form .phonecode { height: 30px; display: inline-block; width: auto !important; line-height: 30px; margin-top: 6px; margin-left: 0px !important; padding: 0 5px; color: #5ca9e4; background: none }
.ui-form .dl_yanzhengma img { vertical-align: middle; width: 40px; height: 20px; overflow: hidden; }

/*提交样式*/
.ui-btn-subing{ opacity:0.5 !important;}