
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
{
	display: block;
}
button, input, select, textarea
{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	vertical-align: middle;
}
audio, canvas, video
{
	display: inline-block;
	display: inline;
	zoom: 1;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
img
{
	border: 0;
	-ms-interpolation-mode: bicubic;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
button, select
{
	text-transform: none;
}
button::-moz-focus-inner, input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
	vertical-align: top;
}
ol, ul
{
	list-style: none;
}
em
{
	font-weight: normal;
	font-style: normal;
}
input, textarea, select
{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select
{
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6, b
{
	font-size: 100%;
	font-weight: normal;
}
mark
{
	background-color: transparent;
}

html
{
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus
{
	outline: thin dotted;
}
a:active, a:hover, input
{
	outline: 0;
}

/* common */
html
{
	overflow-y: scroll;
}
a
{
	text-decoration: none;
	color: #1487D0;
}
a.def
{
	color: #1487D0;
	border-bottom: 1px solid #1487D0;
}
.hidspan span
{
	display: none;
}
