body{ background-color: #e6eaec;}
.wx_ok{background: url("../images/wx_ok.jpg") no-repeat 0 0;background-size: cover;width: 123px;margin: 90px auto;height: 20px;}
.wx_btn a{ width: 80%;margin: 0 auto;display: block;color: #fafafa;font-size: 15px;border-radius: 40px;text-align: center;height: 40px;line-height: 40px;}
.wx_bok a{background-color: #f64172;}
.wx_berrot a{ background-color: #5ca9e4;}
.wx_error{background: url("../images/wx_error.jpg") no-repeat 0 0;background-size: cover;width: 125px;margin: 90px auto;height: 19px;}
.wx_account{background: url("../images/wx_account.jpg") no-repeat 0 0;background-size: cover;width: 151px;margin: 90px auto 30px;height: 121px;}
.wx_wenzi{ color: #586068;font-size: 13px;margin: 0 auto 15px;width:75%;height: auto;}

.wx_top{ background: url("../images/top.png") no-repeat 0 0;width: 100%;height:234px;background-size: 100% 100%;}
.i-top{ max-height:300px;}
.i-list{ background:#fff; border-radius:3px; margin:10px 8px 0; padding:5px 10px; color:#586068;}
.i-list h3{ font-size:15px; border-bottom:1px solid #dadcdd; padding-bottom:3px; margin-bottom:3px;}
.i-list h4{ font-size:12px;}
.i-list .share_rt{ float:right; width:60px;margin-left: -60px;text-align:right; padding-top:14px;line-height:normal;display: inline;}
.i-list .share_lt{width:100%;float: left;}
.slt_center{margin-right:60px}

.i-list .share_rt a{ font-size:14px; background:#f64172; color:#fff; text-decoration:none; border-radius:13px; padding:3px 10px; display:inline-block;}
.i-text-tips{margin:10px 8px; color:#abacae;}
.i-text-tips p{ padding:3px 0px;}
.wx_center{ position: relative;}
.wx_bg{ display: none;position: absolute;top: 0px;width: 100%;height: 100%;background-color: rgba(122, 122, 122, 0.5);}
.wx_share{position: absolute;top: 0px;right: 0px; background: url("../images/wx_share.png") no-repeat 0 0;width: 77px;height: 87px;background-size: cover;}


/*header*/
.m-head-fix{min-height:40px; width:100%; position:fixed; left:0; top:0; background-color:#fff; z-index:100;-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px rgba(0,0,0,0.2);}
.m-head .head_app{ position:relative; background-color:#5ca9e4; height:26px; line-height:26px; padding:8px 15px; color:#fff;}
.m-head .head_app a.down_btn{ display:inline-block; width:72px; height:26px; background-color:#fff; color:#5ca9e4; text-align:center; text-decoration:none; border-radius:13px; margin-left:10px;}
.m-head .head_app span.close{ position:absolute; right:10px; top:10px; width:22px; height:22px; background:url(../images/icon_app_cha.png); background-size:100% 100%;}
.m-head .logo_menu{ background-color:#fff; height:40px;}
.m-head .logo_menu .logo{ float:left;margin:6px 0 0 8px; width:93px; height:27px; background:url(../images/head_logo.png); background-size:100% 100%;}

.wx_eimg{margin: 90px auto;width: 170px;font-size: 14px;color: #f74172;}
.wx_eimg .wxe_left{ float: left;}
.wx_eimg i{ background: url("../images/wx_error_01.jpg") no-repeat 0 0;width: 19px;height: 19px;margin-right: 4px;vertical-align: bottom;display:block;background-size: cover;}
.wx_eimg .wxe_right{ margin-left: 24px;}
.close{ cursor: pointer;}
