<!--private js&css start-->
<link href="<?php echo $this->asset->makeUrl('v2/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
<script src="<?php echo $this->asset->makeUrl('v2/js/widget/select/select.v1.1.js');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/user_web2.css');?>" />
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/charge/index.js');?>"></script>

<!--private js&css end-->

<form name="chargeForm" id="chargeForm" action='{url x="index" r="account/docharge"}' method="post">
    <div class="user_right">
        <div class="user_right_box" id="chargeSelect">
            <div class="user_title"><h1><i class="ico_chongzhi"></i>平台协议</h1></div>
            <ul>
            {foreach from=$agreements item=agreement}
                <li><a href="{$agreement.viewUrl}">{$agreement.title}</a></li>
            {/foreach}
            </ul>
        </div>
    </div>
</form>
