{include file="web/views/header.html"}
<div class="p_account_banksuc">
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/p_account_banksuc.css');?>" />
<style>
</style>
<div class="mauto clearfix w1100">
    <!--template-->
    <div class="p_user_charge">
        <div class="wrap clearfix">
            <div class="ui-box">
                <div class="h-title">
                    <h2>
                        <i></i>充值投资
                    </h2>
                    <div class="r-menu" style="display:none">已有账户？ <a href="/user/login" class="blue">立刻登录</a></div>
                </div>
                <div class="reg-mid">
                    <div class="reg-title third-tep"></div>
                    <div class="charge-cont">
                        <div class="charge-left">
                            <div class="char-suc f24"><i></i>恭喜您，现在可开始充值投资了</div>
                            <div class="char-info f16">
                                <p>您的可用余额&nbsp<span class="color_red">{function name="format_price" value=$user_info.total_money b=0}</span>&nbsp元，其中现金&nbsp<span class="color_red">{function name="format_price" value=$user_info.money b=0}</span>&nbsp元，{$new_bonus_title}&nbsp<span class="color_red">{function name="format_price" value=$bonus b=0}</span>&nbsp{$new_bonus_unit}。<a href="/account/charge" class="reg-sprite btn-red-char" target="_blank">去充值</a></p>
                                <!--  <p class="char-tz">当前有&nbsp <span class="f18">8</span>&nbsp个标的，利率&nbsp <span class="color_red"><span class="f24">8.50</span>％<span class="f24">～</span><span class="f24">13.50</span>％</span><a href="#" class="reg-sprite btn-red-char">去投资</a></p> -->
                            </div>
                            <div class="char-remark f16">如何充值投资？ 查看 <a href="/guide" class="blue" target="_blank">新手指南</a></div>
                        </div>
                        <div class="charge-right">
                            <div class="download-tit">下载APP投资更快捷 </div>
                            <div class="wx-img"></div>
                            <a href="https://itunes.apple.com/cn/app/di-yip2p/id853552412?mt=8" class="reg-sprite ios" target="_blank"></a>
                            <a href="http://www.firstp2p.com/down/apk" class="anroid reg-sprite" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbd">
                <!--推荐项目-->
                <div class="pb23" id="good_item">
                    <script>
                        var _firstp2pData = { "pubId": "6", "adId": "1", "w": "1100", "h": 315, "ref": "http://www.firstp2p.com", "cn": "XF8888", "rows": "3", "title_color": "4f4f4f", "bg_color": "fff9f3", "bg_color2": "ffffff", "btn_bg_color": "f75e3e" };
                    </script>
                    <script src="http://u.firstp2p.com/static/js/wm.js" _firstp2padtag="_firstp2pData"></script>
                </div>
                <!--/推荐项目-->
            </div>

        </div>
    </div>

</div>
</div>
{include file="web/views/footer.html"}
