{include file="web/views/header.html"}
<div class="editbank-success-wrapper">
    <div class="editbank-success-content">
        <h3 class="content-hd">更换银行卡</h3>
        <div class="content-bd">
            <i class="editbank-success-icon ui_suc_icon"></i>
            <div class="editbank-success-tips">
                换卡成功 !
            </div>
            <a class="editbank-success-btn" href="/account">完成</a>
        </div>
    </div>
</div>
<link href="<?php echo $this->asset->makeUrl('v3/css/p_account_editbank.css');?>" type="text/css" rel="stylesheet">
{include file="web/views/footer.html"}
