<!--个人中心左侧开始-->
<style type="text/css">
    .ui_user_nav .account_li_3, .ui_user_nav .account_li_4, .ui_user_nav .account_li_6, .ui_user_nav .account_li_12, .ui_user_nav .account_li_13, .ui_user_nav .account_li_19 {
        display: none;
    }
</style>
<ul>
    <li class="first_li change_bg account_li_1">我的账户</li>
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'index'}user_select{/if} account_li_2"><a href="{url x="index" r="account"}"><i class="ico_gailan"></i>账户总览<span class="new_picture_for"></span></a></li>
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'money' }user_select{/if} account_li_3"><a href="{url x="index" r="account/money"}"><i class="ico_jilu"></i>资金记录<span class="new_picture_for"></span></a></li>
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'loan' }user_select{/if} account_li_4"><a href="{url x="index" r="account/loan"}"><i class="ico_huikuan"></i>回款计划<span class="new_picture_for"></span></a></li>
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'refund' }user_select{/if} account_li_5"><a href="{url x="index" r="account/refund"}"><i class="ico_huankuan"></i>标的还款计划<span class="new_picture_for"></span></a></li>
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'refund' }user_select{/if} account_li_6"><a href="{url x="index" r="account/project_refund"}"><i class="ico_huankuan"></i>转让还款计划<span class="new_picture_for"></span></a></li>
    <li class="first_title change_bg account_li_7">已出借项目</li>
    <li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'load') }user_select{/if} account_li_8"><a href="{url x="index" r="account/load"}"><i class="ico_redp"></i>我的出借<span class="new_picture_for"></span></a></li>
    {if $isEnterpriseSite neq 1}
    <li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'finplan') }user_select{/if} account_li_9"><a href="{url x="index" r="account/finplan"}"><i class="ico_redp"></i>智多新<span class="new_picture_for"></span></a></li>
    {/if}
    <!-- <li {if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'load?type=2') }class="user_select"{/if}><a href="{url x="index" r="account/load?type=2"}"><i class="ico_redp"></i>交易中心<span class="new_picture_for"></span></a></li> -->
    <li class="first_title change_bg account_li_10">我的福利</li>
    {if $user_info.canUseBonus}<li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'discount') }user_select{/if} account_li_11"><a href="{url x="index" r="account/discount"}"><i class="ico_redp"></i>优惠券<span class="use_amount">0</span><span class="new_picture_for"></span></a></li>{/if}
    <li class="{if $MODULE_NAME eq 'medal' && ($ACTION_NAME eq 'wall' or 'mymedals' or 'detail') }user_select{/if} account_li_12"><a href="{url x="index" r="medal/wall"}"><i class="ico_redp"></i>勋章<span class="new_picture_for"></span></a>
    </li>
    {if $user_info.canUseBonus}<li class="{if $MODULE_NAME eq 'gift'  }user_select{/if} account_li_13"><a href="/gift"><i class="ico_redp"></i>礼券<span class="new_picture_for"></span></a></li>{/if}
    {if $user_info.canUseBonus}<li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'bonus') }user_select{/if} account_li_14"><a href="{url x="index" r="account/bonus"}"><i class="ico_redp"></i>{$new_bonus_title}<span class="new_picture_for"></span></a></li>{/if}
    <li class="first_title change_bg account_li_15">其他</li>
   <!--  <li class="{if $MODULE_NAME eq 'user' && ($ACTION_NAME eq 'loanintentionenter' or 'loanIntention' or 'borrowAgreement') }user_select{/if} account_li_16"><a href="/user/loanIntentionEnter"><i class="ico_redp"></i>我想借款</a></li> -->
    {if $isSeller }<li class="{if $MODULE_NAME eq 'seller' && ($ACTION_NAME eq 'appliedlist') }user_select{/if} account_li_17"><a href="{url x="index" r="seller/appliedlist"}"><i class="ico_redp"></i>商家服务</a></li>{/if}
    <li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'setup' or $ACTION_NAME eq 'setmessage') }user_select{/if} account_li_18"><a href="{url x="index" r="account/setup"}"><i class="ico_redp"></i>会员设置<span class="new_picture_for"></span></a></li>
    {if isCouponValidForBranchSite()}
    <li class="{if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'coupon'}user_select{/if} account_li_19"><a href="{url x="index" r="account/coupon"}"><i class="ico_yaoqing"></i>{if $bonus_coupon_trun_on eq '1'}邀请奖励{else}邀请返利{/if}<span class="new_picture_for"></span></a></li>
    {/if}
    <li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'contract' or $ACTION_NAME eq 'contlist') }user_select{/if} account_li_20"><a href="{url x="index" r="account/contract"}"><i class="ico_hetong"></i>合同列表<span class="new_picture_for"></span></a></li>
    <li class="{if $MODULE_NAME eq 'account' && ($ACTION_NAME eq 'agreement' or $ACTION_NAME eq 'agreementDetail') }user_select{/if} account_li_21"><a href="{url x="index" r="help/agreement_list"}"><i class="ico_hetong"></i>平台协议<span class="new_picture_for"></span></a></li>

   <!--  <li {if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'load' }class="user_select"{/if}><a href="{url x="index" r="account/load"}"><i class="ico_xiangmu"></i>已投项目</a></li>
    <li {if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'charge' }class="user_select"{/if}><a href="{url x="index" r="account/charge"}"><i class="ico_chongzhi"></i>充值</a></li>

    <li {if $MODULE_NAME eq 'account' && $ACTION_NAME eq 'carry' }class="user_select"{/if}><a href="{url x="index" r="account/carry"}"><i class="ico_tixian"></i>提现</a></li> -->
    <!--li {if $MODULE_NAME eq 'uc_account' && $ACTION_NAME eq 'invitation'}class="user_select"{/if}><a href="{url x="index" r="uc_account#invitation"}"><i class="ico_yonghu"></i>邀请好友</a></li-->




    <!-- <li {if $MODULE_NAME eq 'user' && ($ACTION_NAME eq 'loanintentionenter' or 'loanIntention' or 'borrowAgreement') }class="user_select"{/if}><a href="/user/loanIntentionEnter"><i class="ico_redp"></i>我想借款</a></li> -->

</ul>
<!--个人中心左侧开始-->
<script>


;(function($) {
        var url = location.pathname + location.search;

        $(".ui_user_nav li").each(function(){
            var $t = $(this);
            if(url == $t.find("a").attr("href")){
                $t.find($('.new_picture_for')).show();
                $t.addClass('user_select').siblings().removeClass('user_select');
            }

        });

        //黄金券数量调取异步接口
        {if $is_firstp2p}
        var consume_type = 1;
        {else}
        var consume_type = 0;
        {/if}
        $.ajax({
            url: '/account/discountCount',
            type: 'GET',
            data: {
                consume_type: consume_type,
                page: 1
            },
            dataType: 'json',
            success: function(result) {
                $('.ui_user_nav .use_amount').html(result.count);
            },
            error: function() {

            }
        });

})(jQuery);
//埋点
function zhugeTrack(place, name, id, content){
    $('html').on('click',place,function(){
        content = this.innerHTML.match(/[\u4e00-\u9fa5]/g).join('')
        // alert(name + '----' + id + '------' + content)
        var data = {};
        data[id] = content;
        zhuge.track(name, data)
    })
}
zhugeTrack('.new_revision_left ul li a','我的账户页_左侧菜单点击情况','位置','')
</script>

