.wrap{ margin:0px auto; height:100%}
.m-banner-app{ position:relative; border-bottom:4px solid #ff963a;}
.banner-app {
    height:214px;
    background:url(../images/download/bg.png?v=20140519) repeat-x;
}
.banner-app img{ height:214px; position:absolute; left:50%; margin-left:-160px;} 
.btn_down{ position:absolute; width:206px; height:42px; top:153px; left:50%; margin-left:-103px;}
.btn_down a{width:206px; height:42px;  display:block; outline:none;}
.btn_down1{ position:absolute; width:171px; height:51px; top:153px; left:50%; margin-left:-90px;}
.btn_down1 a{width:171px; height:37px;display:block; }

.icon_down{ position:absolute; left:135px; top:8px; width:10px; height:10px; display:block;}
.a-bounce{
-webkit-animation:shake 1.5s infinite;-moz-animation:shake 1.5s infinite;-ms-animation:shake 1.5s infinite;animation:shake 1.5s infinite;
}
@-webkit-keyframes shake{
    0%,10%,20%,30%,40%,50%,60%,80%,100%{-webkit-transform:translateY(0);}
    70%,90%{-webkit-transform:translateY(-3px);}
}
@-moz-keyframes shake{
    0%,10%,20%,30%,40%,50%,60%,80%,100%{-moz-transform:translateY(0);}
    70%,90%{-moz-transform:translateY(-3px);}
}
@-ms-keyframes shake{
   0%,10%,20%,30%,40%,50%,60%,80%,100%{-ms-transform:translateY(0);}
    70%,90%{-ms-transform:translateY(-3px);}
}
@keyframes shake{
   0%,10%,20%,30%,40%,50%,60%,80%,100%{transform:translateY(0);}
    70%,90%{transform:translateY(-3px);}
}
.m-elements {
    padding:5px 9.5% 0;
    background:#ffffff;
}
.m-elements dl{ height:60px; padding:10px 0px;}

.m-elements dl dt{ width:58px; height:60px; float:left;}
/* 转入 */
.m-elements dl dt.a-rotatein1,.a-rotatein2,.a-rotatein3{
animation:rotatein 6s infinite;
-moz-animation:rotatein 6s infinite; /* Firefox */
-webkit-animation:rotatein 6s infinite; /* Safari and Chrome */
-o-animation:rotatein 6s infinite; /* Opera */
}
.a-rotatein2{animation-delay:2s;-moz-animation-delay:2s;-webkit-animation-delay:2s;-o-animation-delay:2s;}
.a-rotatein3{animation-delay:4s;-moz-animation-delay:4s;-webkit-animation-delay:4s;-o-animation-delay:4s;}


/* 转入 */
@-webkit-keyframes rotatein{
    85%  {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}    
}
@-moz-keyframes rotatein{
    85%  {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
}
@-ms-keyframes rotatein{
    85%  {-ms-transform:rotate(0deg);}
    100% {-ms-transform:rotate(360deg);}
}
@keyframes rotatein{
    85%  {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}




.m-elements dl dd{ padding-left:73px;}
.m-elements dl dd h3{font-size:14px; font-weight:normal; padding-bottom:3px;}
.m-elements dl dd p{ font-size:12px; line-height:16px;}
.m-elements dl dt img{ width:100%}
.u-three {
    color:#4ca6df;
}
.u-two {
    color:#87ba26;
}
.u-one {
    color:#fea22a;
}
body {
    color:#7d8590;
    font-family:"微软雅黑";
    height:100%;
}
.bg_black{ background:#444;}
a {
    color:#555;
    text-decoration:none;
}
*,ul,li{ padding:0px; margin:0px;}
li{ list-style:none;}
footer{ text-align:center; padding-bottom:20px;}
footer a{ color:#4ca6df;}


.tiaozhuan{text-align:right; padding:10px; height:100%;}