<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>调查问卷</title>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/questionnaire/base.css?v=201707060206');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/questionnaire/index.css?v=201707060206');?>">
    <script src="<?php echo $this->asset->makeUrl('v3/js/questionnaire/jquery-1.10.2.min.js');?>" type="text/javascript"></script>
    <script src="<?php echo $this->asset->makeUrl('v3/js/questionnaire/index.js');?>" type="text/javascript"></script>
</head>
<body>
    <div class="p_question">
        <div class="top">
            <div class="top_bg">
                <div class="title">{$question.name}</div>
                <div class="subTitle">{$question.summary}</div>
                <div class="tipBox">
                    <span>尊敬的用户</span>
                    <span style="padding-left:20px">{$question.desc}</span>
                </div>
            </div>


        </div>
        <div class="bottom">
            <div class="conBox">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/con_top.png');?>" alt="" class="topImg">
                <div class="questionBox">
                    <!-- 所有问题 -->
                    {foreach from=$question.question item=item key=key name=name}
                    <div class="item" data-id="{$item.id}" data-type="{$item.type}" isRequire="{$item.isRequire}">
                        <span class="question">{$smarty.foreach.name.iteration}.{$item.title}{if $item.type eq 0}[单选题]{elseif $item.type eq 1}[多选题]{/if}{if !$item.isRequire}[非必填]{/if}</span>
                        {if $item.type eq 0 or $item.type eq 1}
                        <ul class="listUl">
                            {foreach from=$item.options item=one}
                            <li class="questionLi" data-id="{$one.opid}" isShowInput="{$one.isShowInput}">
                                <div class="selectBox">
                                    <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/duigou.png');?>" alt="" class="duigou">
                                </div>
                                <span class="option ellipsis">{$one.text}</span>
                            </li>
                            {/foreach}
                            <textarea maxlength="20" class="writeArea" placeholder="可以填写其他选项"></textarea>
                        </ul>
                        {else}
                        <div class="inputBox">
                            <textarea class="inputArea" maxlength="300" placeholder="请填写文字"></textarea>
                            <div class="countBox">
                                <span class="leftNum">0</span>
                                <span>/</span>
                                <span class="rightNum">300</span>
                            </div>
                        </div>
                        {/if}
                    </div>
                    {/foreach}
                </div>
                <div class="btnBox">
                    <h2 class="failTip" id="emptyTip">请确认所有问题均已填写，问卷才能提交</h2>
                    <h2 class="failTip" id="ajaxFail"></h2>
                    <p class="submitBtn disabled">提交</p>
                </div>
            </div>
        </div>
        <div class="mask">
            <div class="bonusBox itemBox">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/bonus.png');?>" alt="" class="img">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg rightTop">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg leftBottom">
                <span class="tip" style="margin-top:15px">恭喜您，获得奖励</span>
                <span class="tip bonusTip" style="margin-bottom:15px"></span>
                <p class="btn closeBtn">关闭</p>
            </div>
            <div class="finishBox itemBox">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/done.png');?>" alt="" class="img">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg rightTop">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg leftBottom">
                <span class="tip">感谢您参加此次问卷</span>
                <p class="btn closeBtn">关闭</p>
            </div>
            <div class="doneBox itemBox">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/already.png');?>" alt="" class="img">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg rightTop">
                <img src="<?php echo $this->asset->makeUrl('v3/images/questionnaire/mask_point.png');?>" alt="" class="pointImg leftBottom">
                <span class="tip">此问卷您已提交</span>
                <p class="btn closeBtn">关闭</p>
            </div>
        </div>
        <input type="hidden" id="code" value="{$question.code}">
        <input type="hidden" id="token" value="{$token}">
        <input type="hidden" id="tokenId" value="{$tokenId}">
        <input type="hidden" id="tokenCSRF" value="{$tokenCSRF}">

    </div>
</body>
<script>
    var isError = {$isError};
    var isAnswered = {$isAnswered};
    if(isAnswered){//问卷已答过
        $(".mask").show();
        $(".doneBox").show();
        $(".doneBox .tip").text("此问卷您已提交");
    }else if(isError){
        $(".mask").show();
        $(".doneBox").show();
        $(".doneBox .tip").text("当前活动已结束");
    }
</script>
</html>
