.main {
  background-color: #fff;
}

body {
  background-color: #f6f7f8;
}

.report-wrapper {
  padding: 60px 49px 47px 41px;
  font-size: 14px;
}

.report-tips {
  padding: 27px 40px;
  margin: 0 0 14px 19px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff2f1;
  border: 1px solid #ffc4c0;
}

.mb20 {
  margin-bottom: 20px;
}

.report-header {
  line-height: 50px;
  padding-left: 20px;
  color: #9b9b9b;
  border-bottom: 1px solid #eee;
}

.report-content input, .report-content textarea {
  border: 1px solid #cccccc;
}

.report-item {
  padding: 9px 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.report-title {
  line-height: 58px;
  font-size: 16px;
  color: #000000;
}

.report-item-line {
  padding-left: 30px;
}

.report-profile-line {
  height: 33px;
  line-height: 33px;
  margin-bottom: 13px;
}

.report-line-dd {
  margin-right: 18px;
  height: 33px;
  display: inline-block;
  vertical-align: top;
}

.report-dd-title {
  float: left;
  line-height: 33px;
}

.report-dd-input {
  width: 163px;
  height: 31px;
  border: 1px solid #cccccc;
}

.report-dd-title {
  padding-right: 5px;
}

.report-type-wrapper {
  padding-left: 157px;
}

.report-type-input {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #6bcdfb;
  border-radius: 2px;
  cursor: pointer;
}

.report-type-input-checked {
  color: #46b9f0
}

.report-type-input-checked:after {
  content: '✔'
}

.report-type-wrapper {
  color: #000;
  margin-bottom: 37px;
}

.report-type-text {
  display: inline-block;
  vertical-align: middle;
}

.w255 {
  width: 255px;
}

.w121 {
  width: 121px;
}

.w226 {
  width: 226px;
}

.mb44 {
  margin-bottom: 44px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb19 {
  margin-bottom: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.report-detail-title {
  line-height: 33px;
  width: 79px;
  color: #333333;
}
.report-detail-title-input {
  width: 163px;
  height: 31px;
  border: 1px solid #cccccc;
}
.report-detail-desc-input {
  width: 447px;
  height: 118px;
  resize: none;
}
.report-detail-upload-input-wrapper {
  position: relative;
  display: inline-block;
  width: 162px;
  line-height: 34px;
  background-color: #97a8be;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  border: none;
}
.report-detail-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 162px;
  height: 34px;
  opacity: 0;
  filter:alpha(opacity=0);
}
.report-detail-type {
  width: 221px;
  height: 31px;
}
.report-btn-wraps {
  padding-top: 64px;
  text-align: center;
}
.report-submit-btn {
  display: inline-block;
  width: 294px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #ee4634;
}

.event-report .ui_select_box div{
  width: 211px;
}

.event-report .ui_select_box ul {
  width: 211px;
} 

.event-report .ui_select_box div {
  background-position: 200px 14px;
}
