<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>找回密码</title>
    <meta name="keywords" content="网信，第一p2p, p2p，网络借贷，网络贷款，借贷 ，网络平台，民间借贷，小额贷款，无抵押贷款，信用贷款，投资理财，借钱，企业贷款，小企业贷款，个人经营贷款，融资" />
    <meta name="description" content="网信 — 安全，专业的网络借款、理财平台。提供便捷、安全、低门槛的个人信用贷款和个人理财服务。" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeOpenApiUrl('v3/css/m-base.css');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeOpenApiUrl('v3/css/m-common.css');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeOpenApiUrl('v3/css/p-id-card.css');?>">
    <script src="<?php echo $this->asset->makeOpenApiUrl('v3/js/zepto.min.js');?>"></script>
    <script src="<?php echo $this->asset->makeOpenApiUrl('v3/js/password/common.js');?>"></script>
    <script src="<?php echo $this->asset->makeOpenApiUrl('v3/js/password/password.js');?>"></script>
</head>

<body>
    <div class="p_id_card">
        <div class="ui_title">{if !$returnBtn}<a class="ui_back" href="javascript:void(0);" onclick="window.history.back();"><i class="ui_icon_back"></i>返回</a>{/if}找回密码</div>
        <div class="ui_register gray" id="forget_form" >
            <div class="form_box clearfix">
                <div class="border_b">
                    <span class="title">手机号</span><input id="JS-mobile" name="mobile" type="text" class="ui_reg_input" placeholder="请输入注册所用手机号" value="">
                </div>
                <div class="border_b">
                    <span class="title">证件号</span><input id="JS-idno" name="idno" type="text" class="ui_reg_input" placeholder="实名认证时填写的证件号" value="">
                </div>
                <div class="border_b">
                    <span class="title">验证码</span><input id="JS-verify" name="verify" type="tel" class="ui_reg_input" placeholder="请输入验证码">
                    <div class="verificationCode"><img src="" width="80"></div>
                </div>
            </div>
        </div>
        <div class="ui-deal-btn">
            <input id="JS-submit" type="button" value="下一步" class="ui_btn_red JS-submit_btn" disabled="disabled">
        </div>
        <div id="JS-regverifypanel" class="ui_mask" style="display:none;">
            <div class="ui_dialog">
                <div class="ui_dialog_close JS-closebtn"></div>
                <div class="dialog_con">
                    <div class="title">填写短信验证码</div>
                    <div class="dialog_text">
                        <p class="JS-mobilelabel">已向186××××2168发送验证短信</p>
                        <p>请输入其中6位数字</p>
                    </div>
                    <div class="ipt_box">
                        <input class="ui_yz_input fl JS-input_vcode" placeholder="短信验证码" type="tel">
                        <span class="reset_btn JS-mcodebtn">重新发送</span>
                    </div>
                    <input type="submit" value="确定" class="reg_finish_btn reg_finish_btn_dis JS-regbtn">
                </div>
            </div>
            <?php echo token_input(); ?>
        </div>
    </div>
    {include file="openapi/views/baidutongji.html"}
</body>

</html>
