.p_account_seller .ticket{line-height:36px; font-size:14px; width:400px; margin:60px auto 80px;}
.p_account_seller .ticket h2{ font-size:24px; padding-bottom:10px;}
.p_account_seller .ticket .w45{float:left; display:block;}
.p_account_seller .ticket .w345{margin-left:45px; display:block;}
.p_account_seller a:hover{ text-decoration:none;}
.p_account_seller .message{ text-align:center; font-size:14px; height:280px;}
.p_account_seller .message h2{ font-size:18px; padding-bottom:20px;}