#upload_A{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_A > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_A > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_A > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_a{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_A > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_a{
  float: right;
  cursor: pointer;
}
#upload_A > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_A > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_A > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_A > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_A > .upload_frame > .upload_content >#clipArea,#clipArea_a{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_A > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_A > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_a{
  width: 80px;
  height: 80px;
}
#upload_A > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_a{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_A > .upload_frame > .upload_content .upload_content_right .close,#close_a{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_A > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}
.view{
  width: 80px;
  height: 80px;
}

#upload_B{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_B > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_B > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_B > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_b{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_B > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_b{
  float: right;
  cursor: pointer;
}
#upload_B > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_B > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_B > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_B > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_B > .upload_frame > .upload_content >#clipArea,#clipArea_b{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_B > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_B > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_b{
  width: 80px;
  height: 120px;
}
#upload_B > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_b{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_B > .upload_frame > .upload_content .upload_content_right .close,#close_b{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_B > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}

#upload_C{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_C > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_C > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_C > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_c{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_C > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_c{
  float: right;
  cursor: pointer;
}
#upload_C > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_C > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_C > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_C > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_C > .upload_frame > .upload_content >#clipArea,#clipArea_c{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_C > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_C > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_c{
  width: 80px;
  height: 120px;
}
#upload_C > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_c{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_C > .upload_frame > .upload_content .upload_content_right .close,#close_c{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_C > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}

#upload_D{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_D > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_D > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_D > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_d{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_D > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_d{
  float: right;
  cursor: pointer;
}
#upload_D > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_D > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_D > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_D > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_D > .upload_frame > .upload_content >#clipArea,#clipArea_d{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_D > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_D > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_d{
  width: 80px;
  height: 120px;
}
#upload_D > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_d{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_D > .upload_frame > .upload_content .upload_content_right .close,#close_d{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_D > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}

#upload_E{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_E > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_E > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_E > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_e{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_E > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_e{
  float: right;
  cursor: pointer;
}
#upload_E > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_E > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_E > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_E > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_E > .upload_frame > .upload_content >#clipArea,#clipArea_e{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_E > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_E > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_e{
  width: 80px;
  height: 120px;
}
#upload_E > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_e{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_E > .upload_frame > .upload_content .upload_content_right .close,#close_e{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_E > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}

#upload_F{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_F > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_F > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_F > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_f{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_F > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_f{
  float: right;
  cursor: pointer;
}
#upload_F > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_F > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_F > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_F > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_F > .upload_frame > .upload_content >#clipArea,#clipArea_f{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_F > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_F > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_f{
  width: 80px;
  height: 120px;
}
#upload_F > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_f{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_F > .upload_frame > .upload_content .upload_content_right .close,#close_f{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_F > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}

#upload_G{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}
#upload_G > .upload_frame{
  width: 666px;
  height: 634px;
  background: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
#upload_G > .upload_frame > .upload_title{
  padding: 28px 46px 28px 46px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
#upload_G > .upload_frame > .upload_title >.upload_title_left,#upload_title_left_g{
  float: left;
  line-height: 24px;
  font-size: 18px;
}
#upload_G > .upload_frame > .upload_title >.upload_title_right,#upload_title_right_g{
  float: right;
  cursor: pointer;
}
#upload_G > .upload_frame > .upload_fileBtn{
  padding: 24px 46px;
  line-height: 34px;
  font-size: 16px;
}
#upload_G > .upload_frame > .upload_fileBtn >input{
  display: none;
}
#upload_G > .upload_frame > .upload_fileBtn >label{
  display: inline-block;
  width: 88px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ff5757;
  margin-left: 22px;
  color: #FFFFFF;
}
#upload_G > .upload_frame > .upload_content{
  padding: 0 46px;
}
#upload_G > .upload_frame > .upload_content >#clipArea,#clipArea_g{
  width: 388px;
  height: 388px;
  float: left;
  margin-left: 20px;
}
#upload_G > .upload_frame > .upload_content .upload_content_right{
  float: right;
  width: 120px;
  margin-right: 20px;
  text-align: center;
}
#upload_G > .upload_frame > .upload_content .upload_content_right .upload_view,#upload_view_g{
  width: 80px;
  height: 120px;
}
#upload_G > .upload_frame > .upload_content .upload_content_right #clipBtn,#clipBtn_g{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 196px;
}
#upload_G > .upload_frame > .upload_content .upload_content_right .close,#close_g{
  width: 90px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #FF5757;
  color: #FFFFFF;
  margin-top: 10px;
}
#upload_G > .upload_frame > .upload_content .upload_content_right label{
  display: block;
  margin-top: 14px;
  font-size: 16px;
  color: #666666;
}