{include file="web/views/header.html"}
{$payment_tip}
<br/>
<div class="p_payment_yeepaybindcard">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="h-title">
                <h2>Web个人开户</h2>
            </div>
            <div class="p_content">
                {$register_form}
            </div>
        </div>
    </div>
    <span class="blank23"></span>
    <script>
    $(document).ready(function() {
        document.getElementById('register_form').submit();;
    });
    </script>
</div>
{include file="web/views/footer.html"}