@charset "utf-8";
/**
* Description: common style 
**/
/*public style*/
body {min-height:898px;font:12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333; background-color:#f6f7f8; background-image:none; color:#474646; min-width:1100px;background-image: url(../images/common/top_bg.png); background-repeat:repeat-x;}
div{-moz-user-select:none;}
a{ color:#4f4e4e; text-decoration:none; outline:none;-moz-user-select:none;}
a:hover{ text-decoration:underline;}
.w1100{width:1100px; margin:0px auto;}
.w147{ width:147px;}
.w173{ width:173px;}
.w137{ width:137px;}
.w144{ width:144px;}
/*HTML5 常用标签*/
.main{ width:1100px; margin:0 auto;}

/*返回顶部*/
.layAppTop{ width:36px; height:77px;position: fixed;bottom:20px; z-index:22; right:20px;}
.layAppTop .backToTop,.layAppTop .app_btn{ width:36px; height:36px; position: absolute; bottom:0px; background-image: url(../images/common/index_icon_wx.png?v=20140807); background-repeat: no-repeat; background-position:-669px 0px; outline:none; }
.layAppTop .backToTop:hover{background-position:-669px -41px; }
.layAppTop .app{ width:50px; position:absolute; left:-10px;}
.layAppTop .app_btn{top:0px; background-position:-711px 0px;position: relative; cursor:pointer; display:inline-block; left:10px;}
.layAppTop .app_btn:hover,.layAppTop .app:hover .app_btn{background-position:-711px -41px;}
.layAppTop .app_box{ width:118px; height:160px; background:#fff; position:absolute; left:-127px; top:-110px;-moz-box-shadow:1px 1px 5px #737272; -webkit-box-shadow:1px 1px 5px #737272; box-shadow:1px 1px 5px #737272; border-radius:3px; border:5px solid #fff; background:#e2e5ea; text-align:center; display:none;}
.layAppTop .app_box h2{ height:29px; line-height:29px; font-size:13px;}
.layAppTop .icon_a{ position:absolute; width:6px; height:11px;  background: url(../images/common/index_icon_wx.png?v=20140807) no-repeat -671px -143px; right:-11px; bottom:33px;}
.layAppTop .app_tab_con{ height:95px; border-bottom:1px solid #cfd2d8;}
.layAppTop .app_tab_con img{ padding:4px; background:#fff;-moz-box-shadow:1px 1px 5px #737272; -webkit-box-shadow:1px 1px 5px #737272; box-shadow:1px 1px 5px #737272; border-radius:2px;}
.layAppTop .app_tab ul{ border-top:1px solid #fff;}
.layAppTop .app_tab ul li{ width:58px; float:left; height:30px; text-align:center; padding-top:4px;}
.layAppTop .app_tab ul li a{ width:58px; height:26px; display:inline-block; background-image: url(../images/common/index_icon_wx.png?v=20140807); background-repeat: no-repeat; }
.layAppTop .app_tab ul li.app_android{  border-left:1px solid #fff}
.layAppTop .app_tab ul li.app_android a{background-position:-693px -109px;}
.layAppTop .app_tab ul li.app_android a:hover{background-position:-693px -81px;}
.layAppTop .app_tab ul li.app_ios{border-right:1px solid #cfd2d8}
.layAppTop .app_tab ul li.app_ios a{background-position:-650px -109px;}
.layAppTop .app_tab ul li.app_ios a:hover{background-position:-650px -81px;}

/*导航*/
.ui-box { background: #FFF; border: 1px solid #e5e5e5; }
.ui-box .h-title { background: #fcfcfc; height: 47px; line-height: 47px; border-bottom: 1px solid #e5e5e5; }
.ui-box .h-title h2,.ui-box .sub-nav,.ui-box .h-line{float: left}
.ui-box .h-line{width: 1px;height: 24px;border-left:1px dotted #d0d0d0;margin: 13px 0 0 18px; }
.ui-box .h-title h2 { font-size: 18px; color: #1a1f25; padding-left: 15px;}
.ui-box .h-title h2 i { background: #f3491f; border: 1px solid #e43b19; width: 3px; height: 18px; margin-right: 14px; display: inline-block; vertical-align: middle; margin-top: -3px; }
.ui-box .sub-nav { border: none; margin: 0 0 0 32px;  float: left; }
.ui-box .sub-nav li { height: 47px; line-height: 47px; text-align: center; float: left; margin-right: 40px; display: inline; color: #a6a6a6;font-size: 14px }
.ui-box .sub-nav li.select a,.ui-box  .sub-nav li a:hover { background: none; color: #e6300a; border-bottom: 3px solid #f75939; }
.ui-box .sub-nav li a { height: 44px; display: block; font-size: 14px; border-radius: 3px 3px 0px 0px; padding:0 5px }
.ui-box .r-decs{float: right;margin-right: 32px;font-size: 12px;}

/*新闻左导航*/
.ui-new-sidebar { padding: 6px; width: 148px; border: 1px solid #e3e3e3; background: #fff; float: left; min-height: 320px;}
.ui-new-sidebar .new-tab li { height: 38px; line-height: 38px; padding-left: 18px; font-size: 18px; }
.ui-new-sidebar .new-tab li.select { background: #f4f2f2; }
.ui-new-sidebar .new-tab li a { color: #252525;}
.ui-new-sidebar .new-tab li.select a { color: #f96648 }

/*新闻右侧*/
.ui-new-mainbody{ width:920px; float:right; font-size:14px;}

/*分页*/
.ui-pages { text-align: center; font-weight: lighter; font-size: 12px }
.ui-pages .current { background: #ff9a87; border: 1px solid #f8684d; color: #FFF; }
.ui-pages a, .ui-pages .current { height: 23px; line-height: 23px; padding: 0px 7px; display: inline-block; }
.ui-pages a { color: #666; border: 1px solid #e7e7e7; text-decoration: none; }
.ui-pages a:hover { background: #ffe7e3; border: 1px solid #fec8ba; }