@charset "utf-8";

/*****��������ͨ����ʽ*********/
.htmleditor{clear:both;line-height:1.8;font-size:14px;line-height:25px; color:#000;}
.htmleditor p {display:block;margin-bottom:10px;color:#000;line-height:25px;}
.htmleditor p img ,.htmleditor img{max-width:820px;}


.p_news_mediadetail .media-article{padding: 27px 40px 25px;font-size: 14px;line-height: 24px;color: #575757}
.p_news_mediadetail .news-tit { padding-bottom: 17px; background:url(../images/bg_line.png) center bottom repeat-x; }
.p_news_mediadetail .news-tit h1 {color: #001111; font-size: 20px;  }
.p_news_mediadetail .news-tit .time { display: inline-block; color: #999999; padding-top: 6px}
.p_news_mediadetail .news-cont {padding:9px 10px 0 0px;overflow:hidden;}

.p_news_media .new-r{padding: 15px 55px}
.p_news_media .news-list { padding: 17px 0 17px; background:url(/static/img/meiti/bg_line.png) center bottom repeat-x; font-size: 14px; }
.p_news_media .news-list img{margin-right:10px;vertical-align:middle;margin-top:-3px;margin-left:-15px;}
.p_news_media .news-list .h-list a {color: #001111; font-size: 18px; position: relative; }
.p_news_media .news-list .time { display: inline-block; color: #999999; padding: 6px 0 8px}
.p_news_media .news-list p { color: #575757;line-height: 24px;}
.p_news_media .new-page{margin: 50px 0;}
