/****我的账户-已投项目-多投宝-申赎确认页****/
.p_account_load_dtconfirm .ui-box { height: 358px; padding-top: 122px; }
.p_account_load_dtconfirm .dtconfirm .tit { margin-bottom: 12px; }
.p_account_load_dtconfirm .dtconfirm .tit i { display: inline-block; width: 43px; height: 43px; background: url(../../images/common/suc_icon.png) 0 -49px; vertical-align: -11px; margin-right: 10px; }