/* 智多鑫信息披露 */
.p_info_common .con_width{
    padding: 25px 50px;
}
.p_info_common .con_width p{
    font-size: 16px;
    line-height:24px;
    padding-bottom: 10px;
}
.p_info_common .ui-box{
    margin-bottom: 18px;
}
.p_info_common .h-title h2{
    font-size: 16px;
}
.p_info_common .ui-box .h-title{
    padding-right: 20px;
}
.p_info_common .disclosure{
    padding: 20px;
}
.p_info_common .disclosure .info_box{
    margin-bottom: 10px;
    position: relative;
}
.p_info_common .disclosure .bg_whtie{
    border:1px solid #E6E6E6;
    padding: 22px 48px 25px 30px;
    font-size: 14px;
}
.p_info_common .disclosure .gray{
    color:#909090;
}
.p_info_common .disclosure .red{
    color:#f75938;
}
.p_info_common .disclosure .info_title{
    padding-bottom: 10px;
}
.p_info_common .disclosure .info_details{
    color:#2ea7e0;
}
.p_info_common .disclosure .info_details:hover{
    cursor:pointer;
}
/* 信息披露列表页 */
.p_finplan_info .ui-box .cancle{
    padding-right:12px;
    font-size: 14px;
    color: #9B9B9B;
    float: right;
    background: url(../../images/common/icon31.png) no-repeat center right;
}
.p_finplan_info .pages ul li{
    display: inline;
}
/* 智多鑫取消投资页 */
.p_finplan_cancle .ui-box{
    min-height: 600px;
}
.p_finplan_cancle .disclosure .dt_state{
    background-image: url(../../images/duotou/dt_status.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0;
}
.p_finplan_cancle .disclosure .jxz{
    background-position: 0 1px;
    top:-1px;
}
.p_finplan_cancle .disclosure .djx {
    background-position: 0px -200px;
}
.p_finplan_cancle .words{
    font-size: 14px;
    text-align: center;
    padding-top: 24px;
}
.p_finplan_cancle .noCancleList{
    padding-top: 210px;
    font-size: 17px;
    color: #333333;
    text-align: center;
}
.p_finplan_cancle .noCancleList .icon_no{
    background: url("../../images/common/icon_no.png") no-repeat 0 0;
    background-size: 36px auto;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding-left: 45px;
    padding-bottom: 50px;
}
.p_finplan_cancle .noCancleList .ft22{
    font-size: 22px;
}
.p_finplan_cancle .noCancleList .ft20{
    font-size: 20px;
}
.p_finplan_cancle .noCancleList .jump{
    font-size: 14px;
}
.p_finplan_cancle .noCancleList .jump a{
    color:#2ea7e0;
}
.zdx_info_dialog .dialog-cancel, .zdx_info_dialog .dialog-cancel:hover, .zdx_info_dialog .dialog-cancel:active{
    height: 40px;
}
.zdx_info_dialog .dialog-ok, .zdx_info_dialog .dialog-ok:hover,.zdx_info_dialog .dialog-ok:active{
    height: 40px;
}
.zdx_info_dialog .dialog-button .btn-base span{
    width:155px;
    border-radius: 5px;
    padding: 0;
}
.zdx_info_dialog .dialog-button .dialog-cancel{
    background: none;
    border: 1px solid #f75938;
}
.zdx_info_dialog .dialog-button .dialog-cancel span{
    background: none;
    color:#f75938;
}
.zdx_info_dialog .cancle_middle{
    border:1px solid #f2f2f2;
    color:#909090;
    padding: 20px;
    margin:15px auto;
}
.zdx_info_dialog .mt15{
    margin-top: -15px;
}
.zdx_info_dialog .zdxInfoText{
    font-size: 16px;
    padding: 25px 10px;
}

.zdx_info_dialog .dialog-button .dialog-cancel, .zdx_info_dialog .dialog-button .dialog-ok{
    border-radius: 6px;
}
/* 项目详情 */
.p_info_details .w375{
    width: 375px;
}
.p_info_details .w300{
    width: 300px;
}
.p_info_details .disclosure h2{
    font-size: 18px;
}
.p_info_details .disclosure h2 i.ico_jiben {
    background-image: url(../../images/investment_view/icon_bg.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 25px;
    display: inline-block;
    float: left;
    margin: 3px 0 0;
    background-position: -122px 4px;
}
.p_info_details .disclosure .projectBox{
    padding-top: 20px;
    font-size: 14px;
}
.p_info_details .pd_info{
    padding: 0 0 30px 30px;
}
.p_info_details .ft16{
    font-size: 16px;
}
.p_info_details .u_zijin{
    border-top:none;
}
.p_info_details .plan td,.p_info_details .u_zijin .plan th{
    color:#4f4e4e
}
.p_info_details .u_zijin .pro_detailed{
    padding-bottom:0
}
.p_info_details .u_zijin .pro_detailed .zj_tab{
    margin-top:10px
}
.p_info_details .u_zijin .pro_detailed .zj_tab th{
    color:#a6a6a6;
    padding-bottom:10px
}
.p_info_details .plan td,.p_info_details .plan th{
    text-align:center;
    padding:15px 5px;
    font-size:14px;
    color:#808080
}
.p_info_details .plan th{
    border-bottom:#e5e5e5 solid 1px;
    color:#a6a6a6
}
.p_info_details .pro_detailed .pages{
    text-align:center;
    padding-bottom:0
}
.p_info_details .main .disclosure .bg_whtie{
    padding: 22px 48px 40px 30px;
}

/* 债务信息 */
.p_mapst_detail .mapst_table{min-height: 500px;}
.p_mapst_detail .pro_detailed{border:none;box-shadow:none;background:#fff;clear:both;padding-top:1px;}
.p_mapst_detail .pro_detailed .zj_tab{margin:0 auto;}
.p_mapst_detail .pro_detailed .zj_tab th{color:#a6a6a6;padding-bottom:10px}
.p_mapst_detail .plan td,.p_mapst_detail .plan th{text-align:center;padding:18px 5px;font-size:14px}
.p_mapst_detail .plan td.tl,.p_mapst_detail .plan th.tl{text-align:left}
.p_mapst_detail .pro_detailed tr{border-bottom: 1px solid #f2f2f2;}
.p_mapst_detail .clblue{color:#2ea7e0;}
.p_mapst_detail .pages ul li{display: inline;}
.p_mapst_detail .ms_top{padding: 40px 0 20px 68px;font-size: 14px;}
.p_mapst_detail .ms_top span{padding-right:50px;display: inline-block;}
.p_mapst_detail .pro_detailed .detail_tb{width:88%;border:1px solid #f2f2f2;}