
a{ outline:none;}



.touzi_top{ padding-bottom:40px;}
.tztop_left{ z-index:1;width:654px; -webkit-box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0px 0px 2px 1px rgba(52,52,52,0.1); 
box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);border-radius:2px;background: #fff  url(../../images/investment_view/bg_01.png) repeat-x; position:relative;}
.title_box{ padding:0px 0px 0px 30px; height:75px;}
.title_box h1{ font-size:19px; color:#4e5154; font-family: "Microsoft YaHei"; height:75px; display:table-cell; vertical-align: middle;}
.title_box h1 span{vertical-align:middle;display:inline-block;}
.title_box h1 span.w1{ height:75px;}
/*.title_box h1 em{ padding-right:15px;}*/
.title_box p span{font-family: "Microsoft YaHei"; padding:0px 10px; color:#ffffff; display:inline-block; margin-right:9px; margin-top:10px;}

.tz_lilv{ width:272px; height:177px; padding-left:30px; padding-top:5px;}
.tztop_left dl{ line-height:28px; padding-top:18px;}
.tztop_left dl.lgl_dl{ padding-top: 5px;}
.tztop_left dt{ float:left; color:#878787; font-size:14px; padding-right:3px;}
.tztop_left dd{ float:left;}

.tz_jine{ width:330px; background:url(../../images/investment_view/icon_bg.png) no-repeat -984px 35px; height:175px; padding-left:20px;padding-top:5px;}
.tztop_left .tz_jine dd{ }
.tztop_left .tz_jine dt{ }
.ketou{ padding-top:20px; color:#878787;}
.tztop_left i.ico_bace,.ico_bace_01{ width:250px; height:6px; display:block; background-position:-690px -1px; margin-top:5px;}
.tztop_left i.ico_yitou{ background:url(../../images/investment_view/jindu.gif) no-repeat; height:6px; float:left;}


.tztop_right{position:relative; width:310px; height:246px; background:#fffcf3; margin-top:6px;-webkit-box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0px 0px 2px 1px rgba(52,52,52,0.1); box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);border-radius:2px; padding-left:16px;}
.tztop_right h2{ padding-top:20px; height:45px; border-bottom:1px dotted #c1c0be; margin-bottom:5px; padding-left:10px;margin-right:18px;}
.tztop_right p{ padding-top:15px;padding-left:10px;}
.tztop_right span{ display:inline-block;}
.text_box{ width:120px; height:24px; line-height:24px; border:1px solid #ffb904; vertical-align:middle; padding-left:3px; color:#505050; outline:none; font-size:15px;border-radius:1px; }
.button_touzi{ border:0;background:#ffb904; width:273px; height:48px; display:inline-block; line-height:48px; color:#fff; text-align:center; cursor:pointer; font-size:20px;}
.button_touzi:hover{ background:#ffca40; color:#fff;}
.button_touzi a:active { background:#e5a500; color:#000}
.shouyi{ font-size:13px; padding-top:15px;padding-left:8px;}
.shouyi i,.ico_bace,.ico_bace_01,.ico_sigh{ background-image: url(../../images/investment_view/icon_bg.png); background-repeat:no-repeat; display:inline-block; vertical-align:middle;}
.ico_bace_01{ background:url(../../images/investment_view/mb_01.gif) no-repeat;}
.shouyi i.ico_braces_l,.ico_braces_r{ background-position:-947px 0px; width:6px; height:24px;}
.ico_braces_r{background-position:-957px 0px;}
.ico_sigh{ width:14px; height:14px; background-position:-967px 0px; margin-bottom:5px; }





.main{margin: 0px auto 40px;padding-bottom:20px;}
.box_title{ height: 53px; background: url(../../images/investment_view/icon_bg.png) no-repeat 1px -48px; line-height: 50px; font-size: 24px;}
.box_title i,.title_box i{background-image: url(../../images/investment_view/icon_bg.png); background-repeat: no-repeat; width:20px; height:25px; display:inline-block; float:left; margin:15px 16px 0px 18px;}
i.danbao{ background-position: 0px -1px;}
i.ico_jiedai{background-position:-86px 0px; width:26px; margin-right:10px;}
.box_title i.ico_huankuan{background-position:-290px 0px; width:26px;}
.con_width{ width:870px; margin:0px auto;}
.con_width h2{ font-size:20px; padding-top:20px; padding-bottom:15px;}
.con_width h2 span{ background:#ffffff; padding-right:20px;}
.con_width h2.line_bg{ background:url(../../images/investment_view/icon_bg.png) no-repeat 0px -107px; height:20px;}
.con_width h2 i{background-image: url(../../images/investment_view/icon_bg.png); background-repeat: no-repeat; width:27px; height:25px; display:inline-block;float:left; margin:3px 0px 0px}
.con_width h2 i.ico_jianjie{ background-position:-32px 0px; }
.con_width h2 i.ico_faq{background-position:-59px 3px;} 
.con_width h2 i.ico_jiben{background-position:-122px 4px;}
.con_width h2 i.ico_shenhe{background-position:-150px 2px;}
.con_width h2 i.ico_jiekuan{background-position:-205px 2px; width:27px;}


.yellwo{ color:#f48943;}
.con_width p{ font-size:14px;color:#878787; padding-bottom:10px}
.con_width h3{ font-size:16px; padding-top:10px; padding-bottom:3px;}
.more_zk{ padding:50px 0px 0px; text-align:center;}
.more_zk a i.ico_zk{background:url(../../images/investment_view/icon_bg.png) no-repeat -328px -0px; width:15px; height:20px; display:inline-block;}
.more_zk a{ color:#878787; font-size:14px;}
.more_zk a.on i.ico_zk{background:url(../../images/investment_view/icon_bg.png) no-repeat -344px -0px;}

.border_b{ border-bottom:1px solid #e5e5e5;}
.pb30{ padding-bottom:30px;}
.tab_jiben{ font-size:14px; margin-top:10px;}
.tab_jiben td{ height:32px;vertical-align:top;}
.tab_jiben th{ text-align:right; padding-right:3px; color:#abacad; vertical-align:top;white-space:nowrap;}
.tab_jiben thead{ color:#abacad}
.tab_jiben td img{max-width:760px; height:auto}
.text1{ color:#abacad;}

.algin_c{ text-align:center;}
.algin_r{ text-align:right;}
.algin_l{ text-align:left;}

.pl63{ padding-left:63px;}
.pl30{ padding-left:30px;}




.con_jk{ padding:20px 0px 10px 30px;}
.con_jk span{ padding-left:3px;}
.con_hk{}
.con_hk td{ padding:15px 5px;}
.con_hk .trbg{ background:#f5f7fb;}



/*投资确认*/
.w982{ width:982px;}
.w982 .title_box{ padding-top:10px; height:40px;padding-left:0px;}
.w982 .title_box h1{ height:40px; font-size:22px; }
.title_box i.danbao{ margin-top:6px;}

.number{ background:#ffffff; border-top:1px solid #e5e5e5; padding-bottom:30px;}
.number dl{padding-left:50px; font-size:14px; width:90%;}
.number dt{ width:115px; text-align:right;}
.number dd{ width:145px;}


.button_chongzhi1,.button_chongzhi2,.button_chongzhi3,.button_chongzhi4,.button_bigtongyi1,.button_bigtongyi2,.button_bigtongyi3,.button_bigtongyi4,.button_subtongyi1,.button_subtongyi2,.button_subtongyi3,.button_subtongyi4,.button_confirm1,.button_confirm2,.button_confirm3,.button_confirm4{ background:url(../../images/investment_view/button_bg.png) no-repeat 0 0; display:inline-block; vertical-align:middle; margin-right:5px; border: 0;}
/*充值按钮*/
.button_chongzhi1,.button_chongzhi2,.button_chongzhi3,.button_chongzhi4{ width:70px; height:28px;}
.button_chongzhi1:link{ background-position:-20px -64px;}
.button_chongzhi2{ background-position:-110px -64px;}
.button_chongzhi3{ background-position:-200px -64px;}
.button_chongzhi4{ background-position:-290px -64px;}




.tab_touzi td,.tab_touzi th{ line-height:28px; padding-top:20px; font-size:14px; vertical-align:top}
.tab_touzi th{ color:#808080; text-align:right;}
.tab_touzi td{ padding-left:15px;}
.tab_touzi1 td,.tab_touzi1 th{ padding-top:10px;}
.amount_box{ border:1px solid #bababa; width:175px; padding-left:4px; height:28px; line-height:28px; vertical-align:middle; }

.box_title i.ico_hetong{ background-position:0px -175px;}
.hl30{ line-height:30px;}
.more_hetong{ text-align:right; font-size:14px;}
.more_hetong a,.more_hetong a:hover,.hetong a{ color:#2594e2}
.ico_ht_more,.ico_ht_moreon{ background:url(../../images/investment_view/icon_bg.png) no-repeat -36px -175px; width:13px; height:13px; display:inline-block; vertical-align:middle; margin-left:10px;}
.ico_ht_moreon{background:url(../../images/investment_view/icon_bg.png) no-repeat -53px -175px; }
.hetong{ display:none; margin-top:20px;}
.hetong .con{ height:372px; border:1px solid #d6d6d6; overflow-y:auto; padding:10px;}
.ht_but{ text-align:center; padding-top:15px; padding-left:150px;}


/*大同意按钮*/
.button_bigtongyi1,.button_bigtongyi2,.button_bigtongyi3,.button_bigtongyi4{ width:96px; height:36px; display:inline-block;}
.button_bigtongyi1:link{ background-position:-20px -112px;}

.button_bigtongyi1:hover{ background-position:-252px -112px;}

.button_bigtongyi2{ background-position:-136px -112px;}
.button_bigtongyi3{ background-position:-252px -112px;}
.button_bigtongyi4{ background-position:-365px -112px;}

/*小同意按钮*/
.button_subtongyi1,.button_subtongyi2,.button_subtongyi3,.button_subtongyi4{ width:59px; height:24px; display:inline-block;}
.button_subtongyi1{ background-position:-20px -20px;}
.button_subtongyi2{ background-position:-99px -20px;}
.button_subtongyi3{ background-position:-178px -20px;}
.button_subtongyi4{ background-position:-257px -20px;}

.ht_state{ margin-top:45px; border-top:1px solid #d6d6d6; padding:20px 0px;}
.ht_state td{line-height:40px; }


/*确认按钮*/
.button_confirm1,.button_confirm2,.button_confirm3,.button_confirm4{width:242px; height:42px; display:inline-block;}
.button_confirm1{ background: #ffb904; color: #fff; font-size: 18px; border-radius: 2px; line-height: 42px; background-position:-20px -168px;}


.button_confirm1:hover{ background: #ffca40;}
.button_confirm1:active{ background: #e5a500;}

.button_confirm2{ background-position:-20px -230px;}
.button_confirm3{ background-position:-20px -292px;}
.button_confirm4{ background-position:-20px -354px;}

.earnings_box{height:135px;}
.earnings_box li{ float:left; padding:0px 0px 0px 30px; color:#878787; font-size:13px; font-family:"微软雅黑"; min-width:210px;}
.earnings_box li h3{ padding:22px 0px;}

/*使用优惠码*/
.coupon {padding:0px 15px 20px;background:#fffcf3;font-size:14px; border-top:1px solid #e5e5e5;}
.coupon a{margin-left:5px;}
.validBt,.cancelBt { padding:0 15px;height:30px;line-height:30px;display:inline-block;color:#fff;text-align:center;background-color:#FFB804;border-radius:3px; vertical-align:middle;}
.cancelBt{background-color:#E8EBF2;color:#909090;}
.cancelBt:hover{ background:#eff2f7;color:#909090; }
.cancelBt:active{ background:#dbdfe9;}
.validBt:hover{color:#fff; background:#ffca40; }
.validBt:active{ background:#e5a500;}

.youhuima{ cursor:default; position: relative; width:750px;}
.youhuima:hover span{ display:block;}
.yhm_tip{ position:absolute;display:block;background:#FFF;border:1px solid #c7c7c7;-moz-box-shadow: 1px 1px 3px #888; 
box-shadow: 1px 1px 3px #888;padding:10px;line-height:22px;border: 1px solid #e9e9e9; font-family:"微软雅黑"; left:110px; top:-7px; color:#333; display:none; width:225px;}
#chk{ vertical-align: middle; margin-bottom:2px;}

.icon_yes, .icon_no {
    background-image: url("../../images/oauth/icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    margin-left: 8px;
    vertical-align: middle;
    width: 15px;
}
.icon_yes {
    background-position: 0 -19px;
}
