@import 'theme';
@import 'mixin';

// ## Common styles
// ------------------------------

*, *::after, *::before {
  box-sizing: border-box;
}

::selection {
  // color: $selection-color;
  // background: $selection-background;
  text-shadow: none;
}

a {
  &,
  &:visited {
    // color: $link-color;
    // text-decoration: $link-decoration;
  }

  &:hover {
    // color: $link-hover-color;
    // text-decoration: $link-hover-decoration;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}


// ## Global styles
// ------------------------------

html, body {
  height: 100%;
  margin: 0;

}

html {
  overflow: hidden;
  // background: $html-background;
  // color: $html-color;
}

body {
  // background: $body-background;
  // color: $body-color;
  // font-family: $body-font-family;
  // better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// # Freedom icon imports
// ====================

// @font-face {
//   font-family: 'freedom';
//   src:
//     url('#{$freedom-font-path}/freedom.woff?b7r2dg') format('woff'),
//     url('#{$freedom-font-path}/freedom.ttf?b7r2dg') format('truetype'),
//     url('#{$freedom-font-path}/freedom.svg?b7r2dg#freedom') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

.icon,
.icon-before:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'freedom' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: 1;
  // // or
  // display: inline-block;
  // line-height: inherit;
  vertical-align: top;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nprogress-busy {
  cursor: wait !important;
}
