{include file="web/views/v3/header.html"}
<div class="bg_whtie p_info_disclosure">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/p_info_disclosure.css');?>" />
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/widget/paginate/paginate.v1.js');?>"></script>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/disclosure/agency.js');?>"></script>
    <script>
    var showCount = {$show_count};
    </script>
    <div id="tabs">
        <div class="w1100 pt60">
            <div class="info_tit">信息披露</div>
            <ul class="info_company clearfix">
                {if $guarantee_is_show eq 1}
                <li class="j_info_tab"><span class="db">担保机构</span></li>
                {/if} {if $consult_is_show eq 1}
                <li class="j_info_tab"><span class="xd">咨询机构</span></li>
                {/if} {if $platform_is_show eq 1}
                <li class="j_info_tab"><span class="rz">平台机构</span></li>
                {/if} {if $payment_is_show eq 1}
                <li class="j_info_tab"><span class="bl">支付机构</span></li>
                {/if} {if $management_is_show eq 1}
                <li class="j_info_tab"><span class="zg">管理机构</span></li>
                {/if} {if $advance_is_show eq 1}
                <li class="j_info_tab"><span class="gj">代垫机构</span></li>
                {/if}
            </ul>
        </div>
        {if $guarantee_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$guarantee_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if} 
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if} {if $consult_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信2（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$consult_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if}
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if} 
        {if $platform_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信3（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$platform_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if} 
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if} 
        {if $management_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信4（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$payment_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if} 
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if} 
        {if $management_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信5（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$management_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if} 
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if} 
        {if $advance_is_show eq 1}
        <div class="j_tabConLab">
            <div class="com_tabcont">
                <div class="w1100 ctab_mid">
                    <p style="text-indent: 24px;padding-left:20px;">
                        网信6（{$COMPANY_NAME}），全面专业的互联网投融资平台，由网信集团创办，于2014年10月完成A轮融资，知名投资者包括信中利资本集团董事长汪 潮涌、汇源集团创始人朱新礼、中泽嘉盟投资基金董事长吴鹰、昆吾九鼎投资管理有限公司总裁黄晓捷、君同资本创始人、原磐石基金全球合伙人黄永忠、香港知名投资人丁 鹏云、收购美国福布斯的任德章、朗瑞资本创始合伙人兼首席策略师唐志刚等。知名互联网投资银行华兴资本被聘为财务顾问，并引入建银国际作为策略性股东。
                    </p>
                </div>
            </div>
            <div class="w1100">
                <div class="pl20 com_logo">
                    <ul class="clearfix">
                        {foreach from=$advance_list item='agency' key='key'} 
                            {if $key%4 neq 0}
                            <li><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {else}
                            <li class="mr0"><a href="{$agency.url}" title="{$agency.name}"><span style="background:url({$agency.logo}) no-repeat center;"></span></a></li>
                            {/if} 
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>
{include file="web/views/v3/footer.html"}
