
body{ background-color: #e6eaec;}
.invf_top{ border-bottom: 1px solid #dadcdd;position: relative;padding-bottom: 3px;background-color: #fff;margin-bottom: 15px;}
.invf_top ul { height: 30px;}
.invf_top ul li{ float: left;width: 33%;text-align: center;line-height: 30px;font-size: 13px;}
.invf_top ul  .select{color: #f64172;}
.invf_top ul  .select em{height: 4px;width: 80px;background-color: #f64172;text-align: center;margin: 0 auto;border-radius: 3px;display: block;}

.hb-center{height: 82px;margin: 10px; background:#fff;overflow:hidden;}


.hbc_left h1{ color: #586068;font-size: 16px;margin-bottom: 5px;}

.hbc_left{ padding: 8px 0px 0px 12px; background:url(../images/hb-bgl.png) repeat-y; background-size:5px 8px; height:74px;}
.hbc_pad{ padding-top:18px;height:64px;}
.hbc_left h2{ color: #969fa9;font-size: 11px;}
.hbc_left h3{ color: #586068;font-size: 11px;}
.hbc_right { color: #f94272;padding-top: 17px;padding-right: 10px;font-size: 26px;font-weight: bold;background:url(../images/hb-bgr.png) repeat-y right top;background-size:5px 8px; height:65px;}
.hbc_right em{ font-size: 18px;}

.hbc_left h4{ font-size: 11px;color: #586068;}
.hbc_left h5{ font-size: 13px;color: #586068;margin-top: 5px;margin-bottom: 5px;}
.hbf_right a{ color: #fff;font-size: 11px;text-decoration: none;display: inline-block;width: 75px;height: 25px;line-height: 25px;text-align: center;background-color: #f64172;border-radius: 100px;margin-top: -10px;}
.hbf_right .select{ background-color: #bfbfbf;}
.hbf_right {padding-top:33px;padding-right:12px;background:url(../images/hb-bgr.png) repeat-y right top; background-size:5px 8px; height:49px;}

#tb1,#tb2{ display: none;}
.hb-more { margin-top: 10px;text-align: center;font-size: 14px;}
.hb-more a{ text-decoration: none;color: #f94272;}
.hb-more .hb-no{ color: #586068;}
.hb_black{ display: block;text-decoration: none;}
.hk_hb{ background:url(../images/hk_hb.jpg) no-repeat; width:187px; height:81px; background-size:100%; margin-top:-7px;}
.hk_btn{ border-bottom:2px solid #d41146;}


.hbc_left_new{ background:url(../images/hb-bgl_new.png) no-repeat left top; background-size:6px 83px; height:83px;}
.hbf_right_new{ background:url(../images/hb-bgr_new.png) no-repeat right top; background-size:6px 83px; height:83px;}
.hk_bg{ background:url(../images/hb-bg_new.png) no-repeat; background-size:100% 83px; height:83px; margin:0 6px;}
.hk_bg .hbf_right{ background:none; padding-right:6px;}
.hk_bg .hbc_left{ padding-top:2px; background:none; padding-left:6px;}
.hk_bg .hbc_left h5{ margin-bottom:4px;}
.hk_bg .hbc_left h4 { line-height:16px;}

/*现金红包*/
.xj_bg{background:url(../images/hb-bg_xj.png?v=1) no-repeat;background-size:100% 83px; height:83px; overflow:hidden;}
.hbc_left_xj{ background:url(../images/hb-bgl_xj.png?v=1) no-repeat left top;background-size:6px 83px; height:83px;}
.hbf_right_jx{ background:url(../images/hb-bgr_xj.png?v=1) no-repeat right top;background-size:6px 83px; height:83px;}
.xj_bg .hbc_left{ padding-top:5px;}
.xj_bg .hbc_left h5{ font-size:12px; color:#ffe461; padding-bottom:5px;}
.xj_bg .hbc_left h4{ font-size:11px; color:#fff;}
.xj_bg .hbc_left h4 span{color:#ffe461;}
.xj_bg .hbf_right{ width:85px; float:right; padding-top:43px;}
.hbf_right a.xj_btn{ background:url(../images/xj_btn.png?v=1) no-repeat; background-size:85px 23px; width:85px; height:23px;}


/*汇源活动*/
.huiyuan .hbc_left{ float:left; width:63px; border-right:1px dashed #e6eaec; padding-top:14px; height:68px; padding-left:12px;}
.huiyuan .hbc_left img{ width:56px; height:56px;}
.huiyuan .hbc_right{ float:none; margin-left:85px; font-size:12px; font-weight:normal; padding-top:13px; position:relative;}
.huiyuan .hbc_right h3{color:#41474d; font-size:13px;}
.huiyuan .hbc_right h4{ font-size:13px;}
.huiyuan .hbc_right p{color:#909ba8;}
.huiyuan .hbc_right .received,.huiyuan .hbc_right .received_1{ background:url(../images/huiyuan_01.png) no-repeat; background-size:76px 61px; position:absolute; top:6px; right:8px; width:76px; height:61px;}
.huiyuan .hbc_right .received_1{background:url(../images/huiyuan_02.png) no-repeat; background-size:76px 61px;}
