body {
}
.inp-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dadcdd;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 8px;
    padding: 0 8px;
}