
.m-head {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 3px solid #f6b306;
    height: 123px;
    margin-bottom: 58px;
    width: 100%;
}
body {
    font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei",Arial,Tahoma,"Times New Roman";
}
.c {
    clear: both;
}
input, button, select, textarea {
    font-family: "Microsoft YaHei";
    outline: medium none;
}
* {
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
ul li {
    list-style: none outside none;
}
em, i {
    font-style: normal;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
body {
    font-family: "微软雅黑" !important;
    font-size: 14px;
}
p {
    line-height: 22px;
}
.c {
    clear: both;
}
font {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
}
.box {
    margin-bottom: 15px;
    width: 100%;
}
.no-mb {
    margin-bottom: 0;
}
.col-main {
    display: inline;
    float: left;
    min-height: 1px;
    overflow: hidden;
    width: 100%;
}
.col-sub, .col-extra {
    float: left;
}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.layout, .main-wrap, .col-sub, .col-extra {
}
#hd, #ft {
    width: 100%;
}
#hd .bd {
    margin: 0 auto;
    width: 980px;
}
#content {
    min-width: 980px;
    width: 100%;
}
#bd {
    margin: 0 auto;
    width: 980px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.feb {
    color: #fe6103;
}
.ffb {
    background: none repeat scroll 0 0 #ffb904;
    color: #fff;
}
.ffb:hover {
    background: none repeat scroll 0 0 #f0ae02;
}
.e9 {
    background: none repeat scroll 0 0 #e9e9e9;
    color: #555;
}
.hdtit {
    border-bottom: 1px solid #d3d2d2;
    line-height: 40px;
    overflow: hidden;
    padding: 8px 16px 0 20px;
}
.hdtit h3 {
    border-bottom: 2px solid #06b4e9;
    color: #666;
    float: left;
    font-size: 18px;
    font-weight: normal;
    padding-left: 5px;
}
.hdtit a {
    color: #888;
    float: right;
    font-size: 14px;
}
.hdtit a:hover {
    text-decoration: underline;
}
.icon {
    background: url("../images/index_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
}
body {
    background: none repeat scroll 0 0 #f6f6f6;
}
.bg {
    background: none repeat scroll 0 0 #fff;
}
.header_top {
    background: none repeat scroll 0 0 #333;
    color: #868686;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}
.header_top a:hover {
    text-decoration: underline;
}
.header_left span {
    display: inline-block;
    float: left;
}
.header_left .time {
    margin-left: 20px;
}
.header_right {
    height: 34px;
}
.header_right a {
    color: #868686;
}
.header_right .other_login {
    margin-left: 12px;
    position: relative;
    z-index: 1000;
}
.header_right .other_login a {
    height: 31px;
    width: 26px;
}
.header_right .other_login .wxqrcode_box {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #d3d2d2;
    display: none;
    height: 108px;
    left: -52px;
    padding: 4px;
    position: absolute;
    width: 107px;
    z-index: 1000;
}
.header_right .other_login .wxqrcode_box .top_row_con {
    background: url("../images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px;
    left: 51px;
    position: absolute;
    top: -12px;
    width: 24px;
}
.header_right .other_login .wxqrcode_box img {
    height: 108px;
    width: 107px;
}
.header_right .other_login .appcode_box {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #d3d2d2;
    display: none;
    height: 108px;
    left: -52px;
    padding: 4px;
    position: absolute;
    width: 107px;
    z-index: 1000;
}
.header_right .other_login .appcode_box .top_row_con {
    background: url("../images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px;
    left: 80px;
    position: absolute;
    top: -12px;
    width: 24px;
}
.header_right .other_login .appcode_box img {
    height: 108px;
    width: 107px;
}
.header_top .phone {
    color: #a4a4a4;
    font-size: 21px;
}
.header_top .phone span {
    background: url("../images/phone_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    margin-top: 8px;
    width: 28px;
}
.other_login .wx {
    background-position: -33px 4px;
}
.tx {
    background-position: -68px 4px;
}
.other_login .sht_app {
    background: url("../images/app_icon.png") no-repeat scroll -7px -3px rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 25px;
    width: 26px;
}
.sina {
    background-position: -104px 4px;
}
.nav {
    background: none repeat scroll 0 0 #fff;
}
.nav .bd {
    font-size: 16px;
    margin-bottom: 15px;
    /*overflow: hidden;*/
    padding: 13px 0;
}
.nav li {
    float: left;
    line-height: 57px;
    /*overflow: hidden;*/
    padding-right: 54px;
    text-align: center;
}
.nav li a {
    color: #656565;
    display: block;
}
.nav li a:hover {
    color: #06b4e9;
}
.nav li .ks-active {
    color: #06b4e9;
}
.nav li.last {
    padding-right: 0;
}
.links {
    margin: 0 auto 40px;
    width: 980px;
}
.fk {
    height: 90px;
    position: relative;
    width: 980px;
}
.fk .prev, .fk .next {
    cursor: pointer;
    display: block;
    float: left;
    height: 42px;
    width: 24px;
}
.fk .prev {
    background-position: -276px 0;
    left: 7px;
    position: absolute;
    top: 28px;
}
.fk .next {
    background-position: -305px 0;
    position: absolute;
    right: 9px;
    top: 28px;
}
.fk .fktab {
    height: 50px;
    left: 29px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 918px;
}
.fk .fktab li {
    float: left;
    overflow: hidden;
    padding: 0 0 0 14px;
    width: 140px;
}
.f2 {
    display: none;
}
.fk .fktab li a {
    display: block;
    position: relative;
}
.fk .fktab li .ftxt {
    left: 12px;
    position: absolute;
    top: 12px;
}
.footer {
    font-size: 12px;
    text-align: center;
}
.footer .fhd {
    border-bottom: 1px dotted #d4d4d4;
    border-top: 1px dotted #d4d4d4;
}
.ft_link {
    color: #6d6d6d;
    line-height: 49px;
    margin: 0 auto;
    text-align: center;
    width: 980px;
}
.ft_link a {
    margin-right: 20px;
}
.ft_link a:hover {
    text-decoration: underline;
}
.footer .bd {
    background: none repeat scroll 0 0 #333;
    color: #868686;
    height: 60px;
    overflow: hidden;
}
.footer .bd p {
    line-height: 60px;
}
.partner {
    display: none !important;
}
.m-foot {
    background: none repeat scroll 0 0 #f6f6f6 !important;
    width: 100%;
}

.invest_parent_menu{
    width:126px;height:38px;position: relative;
}
.invest_parent_menu_a{
    height:36px;line-height: 36px;
    margin-top:11px;outline: none;
}
.invest_parent_menu .invest_active{
    border:1px solid #E5E5E5;border-bottom: none; 
}
.invest_sub_menu{
    width:124px;height:68px;position:absolute;left:0px;top:40px;
    background:#FFFF;
    border:1px solid #E5E5E5;
    background:white;
    display:none;
}
.invest_sub_menu li{padding:0px;width:100%;}
.invest_sub_menu a{
    color: #656565;
    display: block;
    line-height: 34px;text-decoration: none;
    font-size: 16px;list-style:none;
    text-align: center;width:100%;
    
}
.invest_sub_menu a:hover{
    background:#06b4e9;
    color:#fff !important;
}
