{include file="web/views/v3/wxinvest/common/header.html"}
        <div class="discount_box">

            {if $discountInfo.toUserMobile neq ''}
            <div class="user_info">
                {if $ownerInfo.headimgurl}
                    <div class="left"><img src="{$ownerInfo.headimgurl}" alt=""></div>
                {else}
                    <div class="left"><img src="<?php echo $this->asset->makeUrl('v1/images/hongbao/wx_def.jpg', 1);?>" alt=""></div>
                {/if}
                <div class="right">
                    <p class="testLine"></p>
                    {if $ownerInfo.nickname}
                        <p class="user_name2">
                            <span class="user_name_span">{$ownerInfo.nickname}</span><span>已领取</span>
                        </p>
                    {else}
                        <p class="user_name2">
                            <span>用户</span><span class="user_name_span">{$ownerInfo.mobile}</span><span>已领取</span>
                        </p>
                    {/if}
                    <p>{$discountInfo.collectTime}</p>
                </div>
            </div>
            {else}
            <div class="user_info user_info2">
                <p>等待好友领取</p>
            </div>
            {/if}
            <div class="discount_box_top">
                <!--<div class="account">优惠券已存入账户{$mobile}<a href="javascript:;" class="update_phone">修改></a></div>-->
                {if $discountInfo.type eq 1}
                <dl class="discount type_fanxian clearfix">
                {elseif $discountInfo.type eq 2}
                <dl class="discount type_jiaxi clearfix">
                {elseif $discountInfo.type eq 3}
                <dl class="discount type_gold clearfix">
                {/if}
                    <dt>
                    {if $discountInfo.type eq 1}
                        <p><span class="fEm">{$discountInfo.goodsPrice}</span>&nbsp;元</p>
                        <p>返现券</p>
                    {elseif $discountInfo.type eq 2}
                        <p><span class="f25">{$discountInfo.goodsPrice}</span>&nbsp;%</p>
                        <p>加息券</p>
                    {else}
                        <p><span class="f25">{$discountInfo.goodsPrice}</span>&nbsp;克</p>
                        <p>黄金券</p>
                    {/if}
                    </dt>
                    <dd>
                        <div class="border">
                            <div class="discount_con">
                                <p>{$discountInfo.bidAmountDesc}</p>
                                <p>{$discountInfo.bidDayLimitDesc}</p>
                                <p>{$discountInfo.goodsTimeDesc}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            {include file="web/views/v3/wxinvest/line.html"}
            <div class="discount_box_bottom">
                {include file="web/views/v3/wxinvest/common/rules.html"}
            </div>
        </div>
    </body>
</html>
