{include file="web/views/v3/wxinvest/common/header.html"}
    <script>
      $(function(){
        var disHeight = $(".discount_no_icon2")[0].offsetHeight;
        $(".discount_no_icon2").css({
          lineHeight: disHeight+'px'
        });
      })
    </script>
			<div class="discount_box">
				<div class="discount_box_top">
					<div class="discount_no_icon discount_no_icon2 discount_no_icon3">
		                <p class="tips2">{$message}</p>
					</div>
                    <a href="{$downloadUrl}" class="reg_btn">{$downloadDesc}</a>
				</div>
				{include file="web/views/v3/wxinvest/line.html"}
				<div class="discount_box_bottom">
					 {include file="web/views/v3/wxinvest/common/rules.html"}
				</div>
			</div>
		</div>
	</body>
</html>

