@charset "utf-8";
/**
* Description: common style 
**/
/*public style*/
div {margin:0px auto;}
body {font:12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333; /*background-color:#e2e5e9;*/ background-image:none;}
a{ text-decoration:none; color:#3b7ab3;}
a:hover{ color:#3a648a;}
i{ font-style:normal;}
.none1 {display:none;}
.none {display:none!important;}
.border_none{ border:none !important;}
pre{ word-break:break-all; word-wrap:break-word; white-space:pre-wrap;}    
/*.wrap{ width:1020px; margin:0px auto;}*/
input{ outline:none;}
input[type="password"]:focus,input[type="text"]:focus{ border-color:#ffb904; box-shadow:0 1px 4px rgba(125, 125, 125, 0.35) inset, 0 0 7px rgba(118, 176, 222, 0.45);}



/*HTML5 常用标签*/
header, section, footer, aside, article, figure ,menu {display: block; margin:0px; padding:0px;}
/*头部css*/
.m-head{ background:url(../images/common/top_bg21.png) repeat-x; width:100%; height:80px;}
.fix_width{ width:980px; margin:0 auto;}
.m-head .fix_width menu ul li i,.m-head .fix_width .g-head-right span  i{ background:url(../images/common/head_wx.jpg) no-repeat;}
.m-head .fix_width span a{ display:inline-block; float:left; background:url(../images/common/head_wx.jpg) no-repeat; height:42px; width:134px; margin-top:22px;}
.m-head .fix_width menu{ float:left; margin-left:45px; margin-top:27px; }
.m-head .fix_width menu ul li{ float:left;  padding-bottom:2px;  text-align:center; position: relative; z-index:111;} 
.m-head .fix_width menu ul li a{ font-size:16px; color:#232627;  display:inline-block; padding-bottom:2px; float:left; }

.m-head .fix_width menu ul li.bg_li{ background:url(../images/common/head_wx.jpg) no-repeat -21px -55px; height:15px; width:15px;  margin:0 20px; margin-top:8px;}
.m-head .fix_width menu ul li.bg_li:hover{ border-bottom:none;}
.m-head .fix_width menu ul .select{ border-bottom:1px solid #feb804; padding-bottom:2px;}
.m-head .fix_width menu ul .select a{  border-bottom:1px solid #feb804;  color:#be952a;}
.m-head .fix_width menu ul  li  i.g-pos-i { background-position:-4px -59px; width:10px; height:9px; margin-top:0px; display:inline-block; margin-left:8px;}
.m-head .fix_width menu ul li:hover{ /*border-bottom:1px solid #feb804;*/ padding-bottom:2px; }
.m-head .fix_width menu ul li:hover a{ /*border-bottom:1px solid #feb804; */ }
.m-head .fix_width menu ul li a:hover,.m-head .fix_width menu ul li:hover span,.m-head .fix_width menu ul .select ul li a:hover{color:#be952a; }
.m-head .fix_width menu ul li:hover .g-pos-i,.m-head .fix_width .g-head-right span:hover  i.g-pos-i{ background-position:-4px -48px;}


.m-head .fix_width menu ul li ul{+width:120px;zoom:1; position: absolute; padding:0px 10px; border: solid 1px #dddddd; background: #ffffff; top:28px; left: -20px;-webkit-box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1); display: none; z-index: 10;}
.m-head .fix_width menu ul li ul li{ font-size: 13px; line-height: 33px; height: 33px; border-bottom: solid 1px #dddddd; white-space:nowrap;width:100%;display:blaok;} 
.m-head .fix_width menu ul li ul li.nobor,.g-head-right ul li ul li.nobor{ border-bottom:none;}
.m-head .fix_width menu ul li ul li a{ font-size: 13px; padding: 0px 10px;}
.m-head .fix_width menu ul li.cheng_width a{ width:60px;}
.m-head .fix_width menu ul li.cheng_width:hover{width:60px;}
.m-head .fix_width menu ul li.cheng_width a:hover{ width:60px;}
.m-head .fix_width menu ul .select ul li a{ color:#333; border:none}



.g-head-right{ float:right; padding-top: 33px;}
.g-head-right a:hover{ text-decoration:underline;}
.g-head-right span{ display: inline-block; float:left;cursor:pointer;}
.m-head .fix_width .g-head-right span  a{ background:none; margin-top:0px; width:86px; color:#333;}
.g-head-right span label{ display:inline-block; float:left; cursor:pointer;}
.m-head .fix_width .g-head-right span  i.g-pos-i { background-position:-4px -59px; width:10px; height:10px; display:inline-block; float:left; margin-left:5px;  margin-top:38px;} 

.g-head-right ul{ float:left; }
.g-head-right ul li{ float:left; position:relative; height: 25px; z-index:111;}
.g-head-right ul li a{ color:#2e3233; display:inline-block;}
.g-head-right ul li.li_bg{ background:url(../images/common/head_wx.jpg) no-repeat -21px -55px; height:15px; width:14px;margin-top:5px; margin-left:8px; margin-right:2px;}
.g-head-right ul .cheng-span-css{ margin-right:5px;}
.g-head-right ul li .g-message-number{height:18px; line-height:18px; text-align:center;-moz-border-radius: 5px; 
-webkit-border-radius:5px;border-radius:2px; background:#ffb904;position:absolute; top:-15px; left:25px; color:#FFF; white-space:nowrap; padding:0 5px;}
.g-head-right ul li ul{+width:150px; position: absolute; padding:0px 10px; border: solid 1px #dddddd; background: #ffffff; top:25px; left: -10px;-webkit-box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 3px 2px rgba(52,52,52,0.1); line-height: 33px; display: none;z-index: 100;}
.g-head-right ul li ul li{ border-bottom: solid 1px #dddddd;font-size: 13px; height: 33px; white-space:nowrap; padding-right:10px;+width:140px;   }
.g-head-right ul li ul li a{ color: #25aae2;}
.g-head-right ul li ul li em a{ color: #f58f48;}



/*面包屑css*/
.fix_width .m-nav{ height:30px; line-height:30px; font-size:15px; color:#1c1c1c; margin:15px 0; }
.fix_width .m-nav a { color:#818385; margin:0 15px; }
.fix_width .m-nav i{ background:url(../images/common/icon31.png) no-repeat; display: inline-block; height:15px; width:12px; }
.fix_width .m-nav label{ margin-left:12px;}

/*底部css*/
.m-foot{ width:100%; height:290px; background: url(../images/common/foot_bg.png) repeat-x; padding-top:30px;cursor: default;}
.m-information{ height:180px; position:relative; } 
.m-information-left{ float:left; width:408px;height:180px;}
.m-information .g-weixin{ float:left; width:120px;}
.m-information .g-weixin h3  { color:#ffffff; font-size:16px; line-height:12px; height:26px;line-height:26px; }
.m-information .g-weixin h3 label{ display:inline-block; float:left; }
.m-information .g-weixin h3 i{ display:inline-block; background: url(../images/common/foot.png) no-repeat; float: left;}
.m-information .g-weixin h3 i.i_bg{ background-position:-24px -22px; height:26px; width:28px; line-height:26px; margin-right:5px;}
.m-information .g-weixin h3 i.i_bg01{ background-position:-67px -22px; display:inline-block; height:26px; width:28px; line-height:26px; margin-right:5px;}
.m-information .g-weixin h3 i.i_bg02{ background-position:-119px -25px;  height:26px; width:26px; line-height:16px; margin-left:5px; margin-top:5px;}
.m-information .g-weixin  p{ margin-top:10px;}
.g-weixin-bg{ background:url(../images/common/footer_wxbg.png) no-repeat; width:75px; height:75px; padding:7px;}

.hotline{ width:225px; float:left; color:#ffffff; padding-left:50px;}
.hotline h3{ font-size:16px}

.about-us{ float:left; padding-right:30px; border-right:1px solid #9ca1a8; height:125px; width:540px;}
.about-us dl{ float:left; width:101px; margin-left:34px;}
.about-us dl dt{ font-size:14px; color:#FFFFFF; line-height:30px;}
.about-us dl  dd { line-height:30px; font-size:16px; padding-bottom:0px; color:#ffffff;}
.about-us dl  dt a{ font-size:13px; color:#e6e6e6;}
.m-foot .m-information .line{ width:952px; height:1px; background:url(../images/common/line31.png) repeat-x;position:absolute; margin-left:14px;left:0; top:288px;}

.g-copyright{ padding-top:20px; text-align:center; clear:both;}
.g-copyright p{ color:#aaaeb4;}
.g-copyright p span{ display:inline-block; margin:0 5px;}
.g-copyright p  img{ vertical-align:middle;}




/*head css*/
header{}

/*pages css*/
/*.pages{ width:920px; margin:0px auto; padding:30px 0px; text-align:right; color:#666666}
.pages i{ font-weight:normal; float:left; font-size:14px;}
.pages .current {display: inline-block;padding: 0px 7px;height: 22px;line-height: 22px;color: white;background: #ffb904;border: 1px solid #efb216;}
.pages a {display: inline-block;padding: 0px 7px;height: 22px;line-height: 22px;color: #666;border: 1px solid #e7e7e7;text-decoration: none;}
.pages em a{ border:none 0px;}
.pages em a:hover{ background:#ffffff; border:none 0px;}
.pages a:hover{ background:#fff0c9; border:#ffde8a 1px solid;}*/
/*pages css end*/




/*user left*/

.user_nav{ width:190px; height:613px; float:left; background:#fff;-webkit-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); height:590px;}

.user_nav li{line-height:40px; font-size:16px; margin-bottom:1px;}
.user_nav li a{ color:#1a1a1a; height:40px; display:inline-block;padding:0px 18px; width:162px; }
.user_nav li a:hover,.user_nav li.user_select a{ background:url(../images/common/user_left.png) no-repeat 0px -322px;color:#fff;}
.user_nav li i{ background-image:url(../images/common/user_left.png); background-repeat:no-repeat; display:inline-block; width:24px; height:22px; vertical-align:middle; margin-right:8px;}
i.ico_gailan{ background-position:0px 0px}
i.ico_xiangmu{background-position:0px -32px}
i.ico_chongzhi{background-position:0px -93px}
i.ico_tixian{background-position:0px -132px}
i.ico_jilu{background-position:0px -170px}
i.ico_huikuan{background-position:0px -211px}
i.ico_huankuan{background-position:0px -251px}
.user_nav li i.ico_point{background-position:0px -283px}
.user_nav li a em{ background:#ffb904; font-size:12px; width:18px; height:15px; display:inline-block; line-height:15px; text-align:center; color:#fff; border-radius:2px; float:right; margin-top:14px; margin-right:5px;}
.user_nav li a:hover em{background:#ffffff; color:#ffb904}
.user_nav li ul li{ font-size:14px; margin-bottom:0px;}
.user_nav li ul li a:hover{ font-size:14px; color:#1a1a1a; background:none; }
.user_nav li.user_select ul li a{ background:none; color:#1a1a1a;}
.user_nav li a:hover i.ico_gailan,.user_select a i.ico_gailan{background-position:-29px 0px}
.user_nav li a:hover i.ico_xiangmu,.user_select a i.ico_xiangmu{background-position:-29px -32px}
.user_nav li a:hover i.ico_chongzhi,.user_select a i.ico_chongzhi{background-position:-29px -93px}
.user_nav li a:hover i.ico_tixian,.user_select a i.ico_tixian{background-position:-29px -132px}
.user_nav li a:hover i.ico_jilu,.user_select a i.ico_jilu{background-position:-29px -170px}
.user_nav li a:hover i.ico_huikuan,.user_select a i.ico_huikuan{background-position:-29px -211px}
.user_nav li a:hover i.ico_huankuan,.user_select a i.ico_huankuan{background-position:-29px -251px}
.user_nav li.li_line{ height:1px; line-height:1px; font-size:1px; background:url(../images/common/user_left.png) no-repeat 0px -400px; overflow:hidden;}