.f_18 {
font-size: 18px;
}
.f_red {
color: #cd1223;
}
.f_gray {
color: #8B8A8A;
}
.cont{ border:1px solid #BCCCD8; border-top:none}
.cont p {
	line-height: 2em;
}
.right_tab_select {
	background: url("../images/green_select.jpg") no-repeat;
	color: white;
	width: 104px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Microsoft Yahei','黑体';
	float:left;
}
.right_tab_unselect {
	background: url('../images/box_tab_unselect2.jpg') no-repeat;
	width: 104px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #8E8E8E;
	font-family: 'Microsoft Yahei','黑体';
	float: left;
}
.tab_interval_green {
	height: 3px;
	background: #729B17;
	font-size: 1px;
}

#deal-default .title{background: url("../images/blue_title.png") repeat-x;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
height: 35px;
line-height: 36px;
margin: 0 auto;
padding: 0 10px;
padding-right:0;
color: #3a3a3a;
font-size: 12px;
font-weight:bolder;}

#deal-default .title .return{color:#565656;background: url("../images/yellow_title.png") repeat-x; width:137px; padding-right:10px}
#deal-default .title .return a{color:#565656; font-weight:normal;}
#deal-intro{}

#deal-intro .pic-box{width:233px}
#deal-intro .pic-box .pic{ border:1px solid #ccc; padding:15px}
#deal-intro .detail{ width:546px; padding:0 6px;
border: 1px solid #ccc;}

.detail .detail_title_bg {
height: 39px;
line-height: 39px;
border-bottom:1px dotted #B9B9B9
}

.detail .detail_title {
float: left;
padding: 0 6px;
color: #333;
font-size: 14px;
font-weight:bolder;
}
.detail .detail_number {
	float: right;
	padding-right: 10px;
	font-size:12px;
	color:#A2A2A2;
}

.detail .cont {
	background-color: white;
	border:none;
	color:#5C5B5B
}

.detail .items .item{width: 160px; height: 30px; line-height: 30px}

.t_user_face{border: 1px solid #CCC; background:#fff; padding:10px; width:126px; height:262px}
.t_user_face .u_hd{color: #333;
font-size: 13px;
font-weight: 600;
text-align: center;
padding: 0 0 5px 0;
}
.t_user_face .u_name a{font-weight:normal;}
.user_face{ height:80px}
.user_face img{ height:64px; width:64px; border:1px solid #ccc; background:#fff; padding:2px}
.t_user_face img{ position:relative; top:5px}
.t_user_face .row{height:24px; line-height:24px;}


.beleader {
	
}
.toptitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #444;
	font-family: '微软雅黑','Microsoft Yahei',sans-serif
}
.licaiuser {
	background: url("../images/licaiuser.gif") no-repeat;
	border: 0 none;
	width: 117px;
	height: 30px;
	cursor: pointer;
}

.beleader .beleader_cen .left {
width: 750px;
padding-left: 100px;
}

.bid-table{}
.bid-table td{ padding:0 5px; height:30px; line-height:30px;}
.bid-table td.btm{ border-bottom:none;}
.bid_act_box{ padding: 15px 0 20px; text-align: center;}
.bid_submit_button{ cursor:pointer; font-family: '微软雅黑','Microsoft Yahei',Arial,sans-serif; font-size: 14px; border:none; background:url(../img/btn-89x30.png) no-repeat 0 0; color: #fff; width:89px; height:30px}

.form-table-horizontal th,
.form-table-horizontal td {
	padding: 5px 0;
}
.deal_box_top{height:11px;font-size:1px;background:url(../images/bg_h_line.gif) no-repeat;margin-top:10px}
.deal_box_bot{height:11px;font-size:1px;background:url(../images/bg_h_line3.gif) no-repeat}
.deal_box_data{background:url(../images/bg_h_line2.gif) repeat-y}
