.index_left{
	width:665px;
	border:1px solid #CFCFCF;
	border-top:none
}
.index_right{ width:284px;}
.r-block{border:1px solid #CFCFCF; border-top:none}
.r-block .gray_title{padding-right:6px}
.r-block a{ color:#535353}
.i_deal_list .item{ border-bottom:1px dashed #E5E5E5;  padding:14px 0}
.i_deal_list .item .tit{ height:28px; line-height:28px; font-size:14px}
.i_deal_list .item .tit .cate_tip{ background:url(../images/cate_tip.gif) no-repeat 0 0; height:23px; line-height:23px; padding-left:13px; width:75px; font-weight:normal; font-size:12px; color:#FD6000}
.i_deal_list .item_1{ background:#FAFCFB}
.i_deal_list .item .detail{ width:530px}
.i_deal_list .item .detail .f_red{ color:#C20000; font-family:Arial; font-weight:bolder;}
.i_deal_list .item .detail .info{ font-size:12px; 
padding: 3px 0 5px 0;
width: 175px;
color: #3c3c3c;}
.i_deal_list .item .detail .info2{width: 205px;}
.i_deal_list .item .detail .info3{width: 140px;}
.i_deal_list .item .detail .progressBar{width:126px; margin-top:2px}

.notice-list{
	padding: 5px 12px;
}
.notice-list ul{
list-style: url(../images/li1.gif) inside;

}

.borrow_out,.borrow_in{z-index:10;display:block; width:124px;height:50px; left:13px; top:90px; overflow:hidden; background:#fff;
filter:alpha(opacity=0);opacity:0.0}
.borrow_in{left:145px}

#examIndex{
	height: 245px;
	width: 258px;
	overflow: hidden;
}
#examIndex ul li {
	border-bottom: 1px dotted #DFE6EA;
	overflow: hidden;
	color: #1D366B;
	height: 48px;
	font: 12px/162% Arial, Tahoma, Helvetica;
	_font-family: 宋体;
}

#examIndex ul li a{ color:#414141}


.slides_container {
  width:960px;
  height:265px;
  overflow: hidden;
  display:none;
  border-radius: 5px;
}

.slides_container div {
  width:960px;
  display:block;
}

#slides { position: relative; margin-top:10px;}
#slides .prev,
#slides .next {
  position: absolute;
  top: 120px;
  z-index: 6;
  width: 20px;
  height: 32px;
  overflow: hidden;
  text-indent: -100px;
  background: url(../img/slide-prevnext.png) no-repeat;
}
#slides .prev {
  left: 20px;
}
#slides .next {
  right: 20px;
  background-position: 0 -40px;
}
#slides .prev a,
#slides .next a {
  display: block;
  width: 20px;
  height: 0;
  overflow: hidden;
  padding-top: 32px;
}
#slides .pagination {
	display: block;
	width: 960px;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 10;
  list-style:none;
  margin:0;
  padding:0;
  text-align: center;
}
#slides .pagination li {
  display: inline-block;*display:inline;*zoom:1;
  margin: 0 5px;
  width: 13px;
  height: 13px;
  overflow: hidden;
}
#slides .pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
  background: transparent url(../img/slide-pagination.png);
}
#slides .pagination li a:hover {
	background-position: 0 -26px;
}
#slides .pagination li.current a {
	background-position: 0 -13px;
  color:red;
}

/* 2013-12-18 mabaoyue css add */
.index-mid-ad {height:45px;width:714px;background:#4B96D3;border-radius:5px;padding-right:10px;line-height:45px;color:#fff;font-size:16px;text-align:center;margin:0px 0 10px 0;}
.index-mid-ad .ad-delete {cursor:pointer;float:right;background:url(../images/index/i_033c12182013_101aA12182013.jpg) no-repeat;width:29px;height:29px;overflow:hidden;margin-top:8px;}

