.box{width: 982px; margin: 0px auto;}
a{ outline:none;}

.touzi_top{ padding-bottom:40px;}
.tztop_left{ width:654px; -webkit-box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0px 0px 2px 1px rgba(52,52,52,0.1); 
box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);border-radius:2px;background: #fff  url(../images/investment_view/bg_01.png) repeat-x; position:relative;}
.title_box{ padding:25px 0px 0px 50px; height:50px;}
.title_box h1{ font-size:22px; color:#4e5154;}
.title_box p span{ padding:0px 10px; color:#ffffff; display:inline-block; margin-right:11px; margin-top:10px;}
.pink_bg{ background:#ffa697;}
.blue_bg{ background:#6ed8ff;}
.green_bg{ background:#aadd51;}
.tz_lilv{ width:245px; height:182px; padding-left:30px;}
.tztop_left dl{ line-height:28px; padding-top:22px;}
.tztop_left dt{ float:left; width:83px; color:#abacad; font-size:14px;}
.tztop_left dd{ width:160px; float:left;}
.tztop_left i{ background-image:url(../images/investment_view/icon_bg.png); background-repeat:no-repeat; width:22px; display:inline-block; height:34px; vertical-align:text-bottom;}
.tztop_left i.ico_one{ background-position: -368px 0px; width:15px;}
.tztop_left i.ico_two{background-position: -394px 0px;}
.tztop_left i.ico_three{background-position: -420px 0px;}
.tztop_left i.ico_frou{background-position: -446px 0px;}
.tztop_left i.ico_five{background-position: -472px 0px;}
.tztop_left i.ico_six{background-position: -497px 0px;}
.tztop_left i.ico_sevne{background-position: -526px 0px;}
.tztop_left i.ico_eight{background-position: -551px 0px;}
.tztop_left i.ico_nine{background-position: -577px 0px;}
.tztop_left i.ico_zero{background-position: -604px 0px; width:22px;}
.tztop_left i.ico_point{background-position: -648px 0px; width:8px;}
.tztop_left i.ico_comma{background-position: -658px 0px; width:8px;}
.tztop_left i.ico_percent{background-position: -628px 0px;}
.tz_jine{ width:355px; background:url(../images/investment_view/icon_bg.png) no-repeat -984px 35px; height:180px; padding-left:20px;}
.tztop_left .tz_jine dd{ width:265px;}
.ketou{ padding-top:20px; color:#878787;}
.tztop_left i.ico_bace{ width:250px; height:6px; display:block; background-position:-690px -1px; margin-top:5px;}
.tztop_left i.ico_yitou{ background:url(../images/investment_view/jindu.gif) no-repeat; height:6px; float:left;}


.tztop_right{ width:248px; height:246px; background:#fff; margin-top:6px;-webkit-box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0px 0px 2px 1px rgba(52,52,52,0.1); box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);border-radius:2px; padding:0px 40px;}
.tztop_right h2{ padding-top:20px; height:45px; border-bottom:1px dotted #c1c0be; margin-bottom:10px; padding-left:10px;}
.tztop_right p{ padding-top:15px;padding-left:10px;}
.text_box{ width:120px; height:24px; line-height:24px; border:1px solid #ffb904; vertical-align:middle; padding-left:3px; color:#505050; outline:none; font-size:15px;border-radius:1px; }
.button_touzi{ background:#ffb904; width:226px; height:48px; display:inline-block; line-height:48px; color:#fff; text-align:center; cursor:pointer; font-size:20px;}
.button_touzi:hover{ background:#ffca40; color:#fff;}
.shouyi{ font-size:13px; padding-top:20px;padding-left:10px;}
.shouyi i{ background-image: url(../images/investment_view/icon_bg.png); background-repeat:no-repeat; display:inline-block; vertical-align:middle;}
.shouyi i.ico_braces_l,.ico_braces_r{ background-position:-947px 0px; width:6px; height:24px;}
.ico_braces_r{background-position:-957px 0px;}
.ico_sigh{ width:14px; height:14px; background-position:-967px 0px; margin-bottom:5px;}





.main{margin: 0px auto 40px;-webkit-box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0px 0px 2px 1px rgba(52,52,52,0.1); box-shadow:0px 0px 3px 1px rgba(52,52,52,0.1);border-radius:2px; background: #fff; padding-bottom:20px;}
.box_title{ height: 53px; background: url(../images/investment_view/icon_bg.png) no-repeat 1px -48px; line-height: 50px; font-size: 24px;}
.box_title i,.title_box i{background-image: url(../images/investment_view/icon_bg.png); background-repeat: no-repeat; width:20px; height:25px; display:inline-block; float:left; margin:15px 16px 0px 18px;}
i.danbao{ background-position: 0px -1px;}
i.ico_jiedai{background-position:-86px 0px; width:26px;}
i.ico_huankuan{background-position:-290px 0px; width:26px;}
.con_width{ width:880px; margin:0px auto;}
.con_width h2{ font-size:20px; padding-top:20px;}
.con_width h2 span{ background:#ffffff; padding-right:20px;}
.con_width h2.line_bg{ background:url(../images/investment_view/icon_bg.png) no-repeat 0px -107px; height:20px;}
.con_width h2 i{background-image: url(../images/investment_view/icon_bg.png); background-repeat: no-repeat; width:27px; height:25px; display:inline-block;float:left; margin:3px 0px 0px}
.con_width h2 i.ico_jianjie{ background-position:-32px 0px; }
.con_width h2 i.ico_faq{background-position:-59px 3px;} 
.con_width h2 i.ico_jiben{background-position:-122px 4px;}
.con_width h2 i.ico_shenhe{background-position:-150px 2px;}
.con_width h2 i.ico_jiekuan{background-position:-178px 0px; width:56px;}


.yellwo{ color:#f48943;}
.con_width p{ font-size:14px;color:#878787; }
.con_width h3{ font-size:16px; padding-top:20px;}
.more_zk{ padding:50px 0px 0px; text-align:center;}
.more_zk a i.ico_zk{background:url(../images/investment_view/icon_bg.png) no-repeat -328px -0px; width:15px; height:20px; display:inline-block;}
.more_zk a{ color:#878787; font-size:14px;}
.more_zk a.on i.ico_zk{background:url(../images/investment_view/icon_bg.png) no-repeat -344px -0px;}

.border_b{ border-bottom:1px solid #e5e5e5;}
.pb30{ padding-bottom:30px;}
.tab_jiben{ font-size:14px; margin-top:10px;}
.tab_jiben td{ height:32px;}
.tab_jiben th{ text-align:right; padding-right:20px; color:#abacad;}
.tab_jiben thead{ color:#abacad}
.text{ color:#abacad;}
.algin_c{ text-align:center;}
.algin_r{ text-align:right;}
.algin_l{ text-align:left;}

.pl63{ padding-left:63px;}
.pl30{ padding-left:30px;}


.yanzheng{ color:#589500;}
.yanzheng i{background: url(../images/investment_view/icon_bg.png) no-repeat -258px 10px; width:30px; height:26px; display:inline-block;}

.con_jk{ padding:20px 0px 10px 60px;}
.con_hk{ line-height:50px;}
.con_hk td{ vertical-align:top}
.con_hk .trbg{ background:#f5f7fb;}



/*投资确认*/
.w982{ width:982px;}
.w982 .title_box{ padding-top:10px; height:40px;padding-left:0px;}
.w982 .title_box h1{ }
.title_box i.danbao{ margin-top:6px;}

.number{ background:#ffffff; border-top:1px solid #e5e5e5; padding-bottom:30px;}
.number dl{padding-left:50px; font-size:14px;}
.number dt{ width:100px; text-align:right;}
.number dd{ width:145px;}


.button_chongzhi1,.button_chongzhi2,.button_chongzhi3,.button_chongzhi4,.button_bigtongyi1,.button_bigtongyi2,.button_bigtongyi3,.button_bigtongyi4,.button_subtongyi1,.button_subtongyi2,.button_subtongyi3,.button_subtongyi4,.button_confirm1,.button_confirm2,.button_confirm3,.button_confirm4{ background-image:url(../images/investment_view/button_bg.png); background-repeat:no-repeat; display:inline-block; vertical-align:middle;}

/*充值按钮*/
.button_chongzhi1,.button_chongzhi2,.button_chongzhi3,.button_chongzhi4{ width:70px; height:28px; text-indent:-9999px;}
.button_chongzhi1{ background-position:-20px -64px;}
.button_chongzhi2{ background-position:-110px -64px;}
.button_chongzhi3{ background-position:-200px -64px;}
.button_chongzhi4{ background-position:-290px -64px;}
.tab_touzi td,.tab_touzi th{ line-height:28px; padding-top:20px; font-size:14px;}
.tab_touzi th{ color:#808080; text-align:right; padding-right:10px;}

.amount_box{ border:1px solid #bababa; width:175px; padding-left:4px; height:28px; line-height:28px;}

.ico_hetong{ background-position:0px -175px;}
.hl30{ line-height:30px;}
.more_hetong{ text-align:right; font-size:14px;}
.more_hetong a,.more_hetong a:hover,.hetong a{ color:#2594e2}
.ico_ht_more,.ico_ht_moreon{ background:url(../images/investment_view/icon_bg.png) no-repeat -36px -175px; width:13px; height:13px; display:inline-block; vertical-align:middle; margin-left:10px;}
.ico_ht_moreon{background:url(../images/investment_view/icon_bg.png) no-repeat -53px -175px; }
.hetong{ display:none; margin-top:20px;}
.hetong .con{ height:372px; border:1px solid #d6d6d6; overflow-y:auto; padding:10px;}
.ht_but{ text-align:center; padding-top:15px; padding-left:150px;}


/*大同意按钮*/
.button_bigtongyi1,.button_bigtongyi2,.button_bigtongyi3,.button_bigtongyi4{ width:96px; height:36px; display:inline-block; text-indent:-9999px;}
.button_bigtongyi1{ background-position:-20px -112px;}
.button_bigtongyi2{ background-position:-136px -112px;}
.button_bigtongyi3{ background-position:-252px -112px;}
.button_bigtongyi4{ background-position:-365px -112px;}

/*小同意按钮*/
.button_subtongyi1,.button_subtongyi2,.button_subtongyi3,.button_subtongyi4{ width:59px; height:24px; display:inline-block;text-indent:-9999px;}
.button_subtongyi1{ background-position:-20px -20px;}
.button_subtongyi2{ background-position:-99px -20px;}
.button_subtongyi3{ background-position:-178px -20px;}
.button_subtongyi4{ background-position:-257px -20px;}

.ht_state{ margin-top:45px; border-top:1px solid #d6d6d6; padding:20px 0px;}
.ht_state td{line-height:40px; }


/*确认按钮*/
.button_confirm1,.button_confirm2,.button_confirm3,.button_confirm4{width:242px; height:42px; display:inline-block;text-indent:-9999px;}
.button_confirm1{ background-position:-20px -168px;}
.button_confirm2{ background-position:-20px -230px;}
.button_confirm3{ background-position:-20px -292px;}
.button_confirm4{ background-position:-20px -354px;}