.goods_item{ float:left; display:inline-block; width:25%; text-align:center; overflow:hidden; margin:10px 0px; }
.goods_item .goods_img_box{ width:160px; height:160px; overflow:hidden; display:block; margin:0px auto;}
.goods_item img{ width:160px; height:160px; }
.goods_item .starico img{ width:auto; height:auto; border:none;}
.goods_item .goods_item_title{ text-align:center; line-height:25px;}
.text{ word-break:break-all; width:840px; overflow:hidden;}
.alt{ background-color:#f2f2f2;}

.sort_desc{
  background: url("../images/arrow.gif") no-repeat scroll right 10px transparent;
  padding-right: 15px;
}

.sort_asc {
  background: url("../images/arrow.gif") no-repeat scroll right -10px transparent;
  padding-right: 15px;
}

.sort_gray{
  background: url("../images/arrow.gif") no-repeat scroll right -30px transparent;
  padding-right: 15px;
}
.sort_icon {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin: 0px;
}

span.list_type{display:inline-block; width:18px; height:15px; margin:0px 3px; cursor:pointer;}
span.grid_enable{ background:url("../images/list_type.gif") no-repeat 0px 0px;}
span.grid_disable{ background:url("../images/list_type.gif") no-repeat -18px 0px;}
span.line_enable{ background:url("../images/list_type.gif") no-repeat 0px -15px;}
span.line_disable{ background:url("../images/list_type.gif") no-repeat -18px -15px;}



.icon-type {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: text-top;
  background: url(../img/types.png) no-repeat;
}
.icon-type-2 { background-position: 0 -40px; }
.icon-type-3 { background-position: 0 -80px; }
.icon-type-4 { background-position: 0 -120px; }
.icon-type-5 { background-position: 0 -160px; }
.icon-type-6 { background-position: 0 -200px; }

.icon-correct,
.icon-question,
.icon-sort {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background: url(../img/icons.png) no-repeat;
}
.icon-question { background-position: -20px 0 }
.icon-sort { width: 9px; background: url(../img/icon-sort.gif) no-repeat 1px 3px; }

.span-required { color: #cd1233; }

.btn {
  display: inline-block;
  cursor:pointer;
  padding:0 0 0 19px;
  height: 30px;
  background: url(../img/btn.png) no-repeat 0 0;
}
.btn span {
  display: inline-block;
  padding-right: 19px;
  height:30px;
  font-size:14px;
  line-height: 30px;
  background: url(../img/btn.png) no-repeat 100% 0;
  color: #fff;
}
.btn:hover {
  background-position: 0 -35px;
}
.btn:hover span{
  background-position: 100% -35px;
}
.btn-disabled,
.btn-disabled:hover { background-position: 0 -70px }
.btn-disabled span,
.btn-disabled:hover span { background-position: 100% -70px }

/* actlb: action label */
.actlb { display: inline-block; padding: 3px 9px; font-weight: bold; border: 1px solid #ddd; border-radius: 3px; color: #888; }
.actlb:hover { color: #444; }
.actlb-green { border-color: #B8E1A2; color: #00b22d; }
.actlb-green:hover { border-color: #00b22d; color: #00b22d; }
.actlb-green-active { background-color: #D7F9C6; border-color: #00b22d; color: #00AA00; }
.actlb-green-active:hover { color: #00AA00; }
.actlb-red { border-color: #EAB8B3; color: #d90000; }
.actlb-red:hover { border-color: #d90000; color: #d90000; }
.actlb-red-active { background-color: #faeded; border-color: #d90000; color: #d90000; }
.actlb-red-active:hover { color: #d90000; }

.form-actions {
  padding: 10px 40px 20px;
  text-align: center;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;
}
.form-actions p {
  margin: 10px 0;
}

.lesser { color: #888; font-size: 12px;}
.empty-box {
  padding: 60px 0;
  text-align: center;
  color: #888;
}

.label { color: #888; }
.value { color: #444; }

.minor { color: #888; }

.tab-container {
  position: relative;
}
.tab-container .action {
  display: block;
  position: absolute;
  right: 25px;
  top: 13px;
}
.tab {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.tab.bottom-bordered {
  border-bottom: 1px solid #d4d4d4;
}
.tab li {
  display: block;
  float: left;
  margin-bottom: -1px;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.tab li a {
  display: block;
  height: 21px;
  padding: 6px 18px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #666666;
}
.tab li a:hover {
  text-decoration: none;
  background-color: #f9f9f9;
}
.tab li.active {
  border-bottom: 0;
}
.tab li.active a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #22273a;
}
.tab li.first {
  margin-left: 20px;
  border-left: 1px solid #cccccc;
}

body {
  background: #f4f4f4 url(../img/page-bg.png) repeat-x;
}

#logo-row {
  height: 71px;
}

#borrowlb,
.line950,
.long,
.r-block,
.bddf,
.index_left { background: #fff; }

.deal-list {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.deal-list th,
.deal-list td {
  vertical-align: top;
}
.deal-list th {
  padding: 9px 0 10px;
  font-weight: bold;
  text-align: center;
  background: #f3f3f3 url(../img/filter-bg.png) repeat-x;
  color: #888;
}
.deal-list th a { color: #888; }
.deal-list th a:hover { color: #666; }
.deal-list td {
  padding: 0 10px 10px 0;
}

.deal-list .firstline td,.deal-list .secondline td{
  padding: 23px 10px 0px 0;
}
.deal-list .secondline{
  height:40px;
}
.deal-list .secondline td{
  padding: 0px 10px 0px 0;
  line-height:24px;
}
.deal-list .firstline th, .deal-list .secondline th{
  background:white;
}
.deal-list .ico_baoben,.deal-list .ico_danbao,.deal-list .ico_money{
  display: inline-block;
  float:left;
  width:16px;
  height:16px;
}
.deal-list .ico_baoben{
  background: url(../img/baobenbaoxi.gif) no-repeat;
}
.deal-list .ico_danbao{
  background: url(../img/danbao.gif) no-repeat;
}

.deal-list .ico_money{
  background: url(../img/money.gif) no-repeat;
}

.deal-list .ico_label{
  float: left;
  font-weight: normal;
  margin-left: 4px;
  color: #444;
}
.deal-list .bdrline{
  display: inline-block;
  height: 16px;
  border-bottom:1px solid #e2e2e2;
  width: 100%;
}

#index-deal-list td {
  
}
.deal-list .deal-cell-title { }
.deal-list .deal-cell-image { width: 50px; padding: 25px 10px 10px 15px; }
.deal-list .deal-cell-money { width: 166px; font-size: 15px; }
.deal-list .deal-cell-interest { width: 80px; font-size: 15px; font-weight: bold; color: #cd1233; line-height: 35px;}
.deal-list .deal-cell-term { width: 108px; }
.deal-list .deal-cell-action { width: 118px; font-size: 14px; text-align: center; }
.time-remained { font-size: 11px; text-align: center; color: #888; }
.deal-list .gap_top{padding-top:7px }
.deal-update-table { width: 95%; margin: 0 auto; }
.deal-update-table td { padding: 10px 5px; border-top: 1px dotted #ddd; }
.deal-update-table .deal-update-cell-label { width: 120px; }
.deal-update-table .deal-update-cell-content { }
.deal-update-table .deal-update-cell-actions { width: 250px; text-align: center; }

.deal-info-title { font-weight: bold; font-size: 14px; height: 22px;}
.deal-info-user,
.deal-info-user a { color: #888; }
.deal-info-user a:hover { color: #444; }

.deal-info-table { width: 95%; margin: 0 auto; }
.deal-info-table th,
.deal-info-table td {
  padding: 5px;
}
.deal-info-table th {
  width: 120px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  color: #888;
}

.helper-panel {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}

.page-navigation {
  text-align: right;
}
.pages {
  padding: 30px 0;
}

.simple-form-helper th,
.simple-form-helper td { vertical-align: middle; }
.simple-form-helper th { text-align: right; font-weight: normal; }

.data-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.data-table th,
.data-table td {
  padding: 12px 10px 12px 0;
}
.data-table th {
  padding: 9px 0 10px;
  font-weight: bold;
  text-align: center;
  background: #f3f3f3 url(../img/filter-bg.png) repeat-x;
  color: #888;
}
.data-table td {
  border-bottom: 1px solid #eee;
}
.data-table .cell-icon { width: 40px; padding-left: 15px; }
.data-table .cell-type { font-size: 14px; font-weight: bold; }
.data-table .cell-interest { width: 80px; font-size: 14px; color: #cd1233; }
.data-table .cell-money { width: 110px; font-size: 14px; }
.data-table .cell-term { width: 100px; color: #888; }
.data-table .cell-completion { width: 100px; color: #888; }
.data-table .cell-status { width: 50px; padding-right: 0; text-align: center; }
.data-table .cell-date { width: 120px; text-align: center; color: #888; }

.box-plain-top,
.box-plain-bottom,
.box-side-plain-top,
.box-side-plain-bottom {
  width: 100%;
  height: 10px;
  overflow: hidden;
  font-size: 5px;
  line-height: 5px;
}
.box-plain-top { background: url(../images/box-plain-top.gif) no-repeat; }
.box-plain-bottom { background: url(../images/box-plain-bottom.gif) no-repeat; }
.box-plain-title,
.box-plain-content {
  border: 1px solid #ddd;padding-top:10px;border-bottom:0;border-top:0
}
.box-plain-title {
  padding: 2px 15px 8px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
   border-top: 0;
}
.box-plain-title .action {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: normal;
}

.box-traverse-title {
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.news-list-table {
  width: 93%;
  margin: 0 auto;
}
.news-list-table td { vertical-align: top; }
.news-list-table .dotted-list li a:hover { text-decoration: underline; color: #cd1233; }

.partners-container { padding-left: 9px; }
.partners-container .partner-item { margin-right: 9px; }

.box-side-plain-top,
.box-side-plain-bottom { height: 5px; }
.box-side-plain-top { background: url(../images/box-side-plain-top.gif) no-repeat; }
.box-side-plain-bottom { background: url(../images/box-side-plain-bottom.gif) no-repeat; }
.box-side-plain-title {
  padding: 0 10px;
  font-size: 14px;

}
.box-side-plain-title,
.box-side-plain-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.box-side-plain-content-inner {
  padding: 5px 15px;
}

.article-container {
  width: 90%;
  margin: 0 auto;
}
.article-title {
  padding: 25px 0 15px;
  text-align: center;
  font-size: 20px;
}
.article-meta {
  padding: 0 0 20px;
  text-align: center;
  color: #888;
}
.article-content {
  font-size: 14px;
  line-height: 26px;
}
.article-content h1 {
  font-size: 20px;
  line-height: 48px;
  color: #cd1233;
}
.article-content p {
  line-height: 26px;
}
.article-actions {
  padding: 15px 0;
  text-align: right;
}

.certificates-list {
  margin: 0 15px;
  border-collapse: collapse;
  border-spacing: 0;
}
.certificates-list th,
.certificates-list td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.certificates-list th {
 width:60px;height:67px;padding:0;
}
.certificates-list th p {
  position:relative; width:60px;height:67px;
}
.certificates-list th img{
  vertical-align:top;float:left;padding:20px 0 0 10px;
  cursor: pointer;
}
.certificates-list th .btn_clse{
  position:absolute;top:3px;right:3px;display:none;width:17px;height:17px;background:url(../images/btn_clse.png) no-repeat;
}
.certificates-list td {
  padding: 15px 10px 15px 5px;
}
.certificates-list .last th,
.certificates-list .last td {
  border-bottom: 0;
}

.topic-list {
  padding: 10px 20px;
}
.topic-list .item {
  padding: 5px;
}

.dotted-list {
  list-style: none;
}
.dotted-list li {
  padding: 2px 0 2px 10px;
  list-style: none;
  background: url(../img/list-dot.gif) no-repeat 0 10px;
}
.dotted-list li a { color: #666; }
.dotted-list li a:hover { color: #444; }

.agreement-container {
  width: 800px;
  height: 100px;
  overflow-y: scroll;
  margin: 10px 0 10px 20px;
  padding: 5px;
  border: 1px solid #ddd;
}
.agreement-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.agreement-content p { margin: 5px 0; }


.modal {
  width: 800px;
  height: auto;
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1001;
  background: #fff;
  border: 3px solid #eee;
}
.modal form p .control-label {
  width: 70px;
}
.modal-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.modal-inner {
  width: 100%;
  height: 100%;
}
.modal-heading {
  position: relative;
  padding: 5px 10px;
  background: #eee;
}
.modal-heading h1 {
  font-size: 15px;
  font-weight: normal;
}
.modal-heading .close-button {
  position: absolute;
  right: 9px;
  top: 4px;
}
.modal-content {
  padding: 10px 20px;
}


/* special
 * added weakow, 2013-09-11
 */
.special-cover {
  width: 100%;
  height: 280px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
.special-form-wrapper {
  width: 960px;
  min-height: 620px;
  margin: 55px auto 30px;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: left top;
}
.special-description-wrapper {
  width: 640px;
  float: left;
}
.special-description {
  width: 640px;
  float: left;
  margin: 30px 0 0;
}
.special-description h1 {
  height: 38px;
  margin-bottom: 15px;
  text-indent: -9999px;
  background: url(../img/specials/title-huiying-2.png) no-repeat;
}
.special-description .sub-heading {
  margin: 15px 0 0;
  padding: 4px 0 5px;
  font-size: 15px;
  font-weight: bold;
  text-indent: 5px;
  background: url(../img/specials/sub-heading.png) no-repeat 0 -3px;
  color: #fff;
}
.special-description p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 24px;
}
.special-description p b {
  color: #333;
}
.bordered-table {
  margin:0 auto;
  border-collapse: collapse;
}
.bordered-table th,
.bordered-table td {
  padding: 4px 12px;
  border:1px solid #bbb;
}
.bordered-table th {
  background: #e6e6e6;
}
.special-meta {
  width: 90%;
}
.special-meta td {
  padding: 4px 30px 4px 0;
  font-size: 15px;
}
.special-attachments {
  width: 270px;
  float: right;
  margin-top: 30px;
  text-align: center;
}
.special-attachments .alert {
  font-size: 14px;
  padding: 6px;
  background: #FFEAE8;
  border: 1px solid #FEA49E;
  border-radius: 4px;
  color: #cd1233;
}
.special-attachments .alert .action {
  margin-left: 8px;
  padding: 2px 4px;
  font-size: 12px;
  background: #cd1233;
  border-radius: 2px;
  color: #fff;
}
.special-downloads {
  width: 270px;
}
.special-downloads td {
  padding: 10px 0;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.special-downloads a {
  color: #333;
}
.special-downloads .special-download-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/special-downloads.png) no-repeat;
}
.special-downloads .special-download-manual { background-position: 0 0; }
.special-downloads .special-download-faq { background-position: -90px 0; }
.special-downloads .special-download-guide { background-position: -180px 0; }
.special-downloads .special-download-plan { background-position: -270px 0; }
.special-downloads .btn-download { padding:2px 8px; font-size: 14px; background: #CB1232; border-radius: 2px; color: #fff;}
#special-form {
  width: 380px;
  float: right;
  padding: 0 0 20px;
  background: #fff;
}
#special-form-heading {
  height: 30px;
  padding: 18px 50px 16px;
  text-align: right;
  background: #fbfbfb url(../img/special-form-heading.png) no-repeat 45px center;
  border-bottom: 1px solid #f0f0f0;
}
#special-form .input-row {
  margin: 15px 0;
}
#special-form .input-row b {
  display: inline-block;
  width: 45px;
  font-size: 15px;
  text-align: right;
  color: #d00;
}
#special-form .input-text {
  width: 250px;
  padding: 12px 14px;
  font-size: 15px;
  border: 1px solid #ccc;
}
.btn-preorder {
  display: inline-block;
  width: 240px;
  height: 55px;
  background: url(../img/btn/preorder.png) no-repeat;
}
.btn-preorder:hover {
  background-position: 0 -60px;
}
.btn-yuyue {
  width: 280px;
  height: 55px;
  margin-left: 49px;
  background: url(../img/preorder-submit.gif) no-repeat;
  border: 0;
  cursor: pointer;
}
#special-form #input-money-affix {
  display: block;
  position: absolute;
  right: 52px;
  top: 9px;
  padding: 5px 13px 5px 11px;
  border-left: 1px solid #ccc;
}
.special-modal {
  width: 380px;
}
.special-modal .close-button {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 6px;
  top: 6px;
  background: url(../img/btn/close-modal.png) no-repeat;
}
.preorder-deal-box {
  width: 806px;
  margin: 20px auto;
  padding: 13px 10px 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.preorder-deal-box .box-plain-title {border:0;}
.preorder-deal-box .deal-list .deal-cell-image { width: 60px; }
.preorder-deal-box .deal-list .deal-cell-money { width: 172px; }
.preorder-deal-box .deal-list .deal-cell-interest { width: 86px; }
.preorder-deal-box .deal-list .deal-cell-term { width: 114px; }
.preorder-deal-box .deal-list .deal-cell-action { width: 118px; }
.preorder-deal-box .time-remained { margin-top: -20px; }
.success-notice {
  padding: 30px 60px;
}
.success-notice h1 {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
}
.success-notice p {
  font-size: 14px;
  line-height: 25px;
}
#cover-huiyuan,
#cover-huiyuan-full {
  height: 450px;
}
#cover-baijin,
#cover-baijin-full {
  height: 450px;
}
#cover-huiyuan {background: #ffffdc url(../img/specials/huiying-2-head.jpg?v=2) no-repeat center center;}
#cover-huiyuan-full {background: #ffffdc url(../img/specials/huiying-2-head.jpg?v=2) no-repeat center center;}
#cover-baijin {background-image: url(../img/specials/baijin-head.jpg?v=3);}
#cover-baijin-full {background-image: url(../img/specials/baijin-head-full.jpg?v=3);}
#baijin-form-wrapper {height:695px;background: url(../img/specials/baijin.png?v=2) no-repeat;}
#huiyuan-form {
  width: 380px;
  height: 610px;
  float: right;
  background: #fff;
}
#huiyuan-form-heading {
  height: 30px;
  padding: 25px 50px;
  text-align: right;
  background: #fbfbfb url(../img/specials/huiying-form-heading.png) no-repeat 45px center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f0f0f0;
}



/* nav-aside
 * added weakow, 2013-09-16
 */
.nav-aside {
  padding: 0 20px;
}
.nav-aside-fixed {
  position: fixed;
  top: 12px;
}
.nav-aside-lv1,
.nav-aside-lv2 {
  display: block;
}
.nav-aside-lv1 {
  margin-top: 10px;
  padding: 13px 0 7px 24px;
  font-size: 15px;
  font-weight: bold;
  background: url(../img/spritesv.png) no-repeat 0 13px;
  border-top: 1px solid #eee;
  color: #cd1233;
}
.nav-aside-lv1.first {margin-top: 0;border-top: 0;}
.nav-aside-lv2 {
  padding: 4px 0 4px 40px;
  font-size: 13px;
  color: #666;
}
.nav-aside-lv2.active {
  background: url(../img/spritesv.png) no-repeat 20px -30px;
}
.nav-aside-lv2:hover {
  color: #333;
}
.link-pdf {
  display: block;
  float: right;
  margin-top: 12px;
  padding: 5px 0 5px 30px;
  font-size: 13px;
  line-height: 15px;
  background: url(../img/spritesv.png?v=2) no-repeat 0 -65px;
  color: #cd1233;
}
.link-pdf:hover { text-decoration: underline; color: #cd1233; }

.faq-q,
.faq-a {
  display: inline-block;
  width: 15px;
  height: 17px;
  vertical-align: text-bottom;
  background: url(../img/spritesv.png?v=3) no-repeat 0 -100px;
}
.faq-a {
  background-position: 0 -120px;
}

/* Media
 * wangyiwen, 2013/10/31
 */
.media,
.media-body {
  margin-top: 3px;
  overflow: hidden;
  zoom: 1;
}
.media-heading {
  margin: 0 0 4px;
  font-size: 14px;
}
.media .f_l {
  margin-right: 10px;
}


.table-dashed {
  border-collapse: collapse;
}
.table-dashed th,
.table-dashed td {
  padding: 3px 10px;
  text-align: center;
  font-weight: normal;
  background: transparent;
  border: 0;
}
.table-dashed td {
  border-top: 1px dashed #ccc;
}
.table-dashed .last-row td {
  color: #cd1233;
}

.label-container {
  margin: 10px 28px;
}
.label-container span {
  margin-right: 2em;
}

.contract-list {
  margin: 10px 0 15px;
  padding: 0 5px 0 28px;
}
.contract-list li {
  display: block;
  float: left;
  width: 176px;
  margin-right: 17px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.contract-list li .action {
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  margin-left: 10px;
  background: url(../img/contract-actions.gif) no-repeat;
}
.contract-list li .action-view {
  background-position: -2px 1px;
}
.contract-list li .action-download {
  background-position: -26px 1px;
}

.corprate-borrower-info {
  margin: 12px 20px 0;
}
.corprate-borrower-info td {
  padding: 3px 0;
}
.corprate-borrower-info .corprate-brief {
}
.corprate-borrower-info .corprate-brief p {
  margin: 5px 0 8px;
  text-indent: 2em;
}


.con{ overflow:hidden;}
.contentn{ width:962px; background: url(../images/pio_06.jpg); padding-bottom:70px;}
.contentn h1 {color:#bdbdbd; font-size:18px; text-align:center; padding-bottom:20px; padding-top:50px;}
.contentnp h2,.contentn h2,
.contentn h4 {color:#424242; font-size:16px; width:770px; border-bottom:1px #d7d7d7 solid; padding-bottom:5px; margin-left:82px; font-weight:200;}
.contentn_1, .contentn_2, .contentn_3, .pio{ width:880px; padding-left:82px;}
.contentn_1{ height:180px; padding-top:28px;}
.passport-type-list li{ width:249px; height:127px; float:left; background:url(../images/pic_06.jpg); margin-left:20px; line-height:127px; color:#ff0000; font-weight:bold; font-size:16px; text-align:center;}
.passport-type-list li span{ color:#cd1233;}
.passport-type-list li:hover,
.passport-type-list li.active{ width:249px; height:127px; display:block; background:url(../img/box-selected.png) no-repeat;cursor: pointer;}
.passport-type-list li:hover span,
.passport-type-list li.active span{ color:#fff4f4;}
.passport-type-list .first { margin-left:0; }

.contentn_2{ padding-top:28px;font-size: 14px;}
.newn, .newn_4{ width:785px; overflow:hidden; padding-bottom:12px; margin:0px; line-height:25px;}
.gio{ padding-left:23px;}
.newn_2{ width:765px; height:160px; background:#ffffd7; margin:0px; padding:15px 20px 0;border-radius: 5px;}
.newn_2 ul{padding:0;}
.newn_2 li{ background:url(../images/pib_07.jpg) no-repeat 0px 11px; padding-left:20px; line-height:24px;}
#cai{ background: none;}
#pim{ margin-top:10px;}
.newn_4{ padding-top:20px;}
.newn_5{ padding-left:20px;}
.pp-btn {display:inline-block;width:60px;height:22px;line-height:20px;font-size:12px;text-align:center;color:#333;background:url(../img/btn/pp.png) no-repeat;}
.pp-btn:hover {color:#000;}
.pp-btn-lg {display:inline-block;width:203px;height:38px;padding-top:8px;text-align:center;font-size:20px;color:#fff;background:url(../img/btn/pp-lg.png) no-repeat;}
.pp-btn-lg:hover {color:#fff;}

.contentnp{ width:962px;  padding-bottom:70px;  padding-top:35px;}
.alert{ width:785px; height:38px; line-height:38px; background: #ffffd7;border-radius:5px; font-size:14px; text-align:center; margin-bottom:30px;}
.pio{ padding-left:20px; padding-top:30px;}
.piou{ padding-bottom:20px; overflow:hidden; padding-left:150px;}
.piou li{ height:auto; padding-top:10px; min-height:40px;}
.piou li .float-span{ padding-left:10px; float:left;}
.pp-input{ background:url(../images/pim_09.jpg) no-repeat; width:282px; height:20px; border:0; margin-left:30px; padding:10px;}
.pp-input-xsm {background:url(../images/pim_26.jpg) no-repeat;width:90px;margin-left:9px;}
.pp-input-sm {background:url(../images/pim_24.jpg) no-repeat;width:192px;}
.passport-number-row {position: relative;}
.passport-number-row .passport-type-initial {position:absolute;left:145px;top:22px}
.indent {padding-left:19px;}
.xin{ width:305px; height:84px; background: url(../images/piy_38.jpg); margin-left:330px; padding-left:20px; clear:both;}
.xin li{ background:url(../images/pib_07.jpg) no-repeat 0px 11px; padding-left:20px; line-height:24px;}
.ye_1{ padding-left:130px; width:300px;}
.ye{ padding-left:140px; width:300px;}
#heng{ padding-left:40px; font-weight:bold;}
#qu_1{ width:145px; overflow:hidden; padding-left:26px; text-align:center; float:left; line-height:35px;}
#qu_2{ width:145px; overflow:hidden; padding-left:138px; text-align:center; clear:both; line-height:35px;}
#qu{ text-align:center; line-height:35px;}
.nin{ text-align:right; font-weight:bold;display:block; width:110px; float:left; padding-top:10px;}
.tu{ padding-left:330px; padding-top:30px;}
.contentnp input {outline:0;}
.form-row-content {position: absolute;left:140px;width:360px;}
.card-container {float:left;width:141px;text-align: center;margin:0 20px 10px 0;position:relative;}
.photo-upload-container {display:table;width:141px;height:141px;padding-top:2px;background:url(../img/photo-upload-bg.png) no-repeat;}
.photo-container {width:137px;height:137px;padding:2px;display:table-cell;text-align:center;vertical-align: middle;}

.photo-container img {max-width:137px;max-height:130px;}
.photo-btn-container {padding:0;height:30px;position:absolute;left:32px;top:54px;width:77px;}
.photo-upload-btn {display: block;width:77px;height:28px;margin:0 auto;cursor: pointer;
  background:url(../img/btn/photo-upload.png) no-repeat;}
.has-photo .photo-upload-btn {background-image:url(../img/btn/photo-change.png);display: none;}
.upload-row {position:relative;}
.span-error {color:#cd1233;}
.upload-row .span-error{display: block;position: absolute;top:300px;left:460px;}
.hidden-file-input {opacity:0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}