/* CSS Document */
/*投资项目*/	
body {background:none; background:#e2e5e9;}
.m-warp{ width:980px; margin:0 auto; padding-bottom:50px;}
.product_hd ul li i.mt, .mt_01, .mt_02, .pro_name p i.badge, .badge_01, .bottle, .bottle_01, .bottle_02{ background:url(../images/index/pin.png) no-repeat; display:inline-block;}
/*年化收益率*/
.earnings_box{height:135px;}
.earnings_box li{ float:left; padding:0px 0px 0px 22px; color:#878787; font-size:13px; font-family:"微软雅黑"; min-width:210px;}
.earnings_box li h3{ padding:22px 0px;}
.earnings_box li .digital i{ background-image: url(../images/investment/icon_bg.png); background-repeat:no-repeat; height:34px; display:inline-block;vertical-align: text-bottom;width:22px;}
.earnings_box li .digital i.one{ background-position:-4px 0px; width:13px;}/*数字1*/
.earnings_box li .digital i.two{ background-position:-22px 0px; }/*数字2*/
.earnings_box li .digital i.three{ background-position:-48px 0px;}/*数字3*/
.earnings_box li .digital i.four{ background-position:-74px 0px;}/*数字4*/
.earnings_box li .digital i.five{ background-position:-100px 0px; }/*数字5*/
.earnings_box li .digital i.six{ background-position:-126px 0px;}/*数字6*/
.earnings_box li .digital i.seven{ background-position:-154px 0px;}/*数字7*/
.earnings_box li .digital i.eight{ background-position:-179px 0px;width:23px; }/*数字8*/
.earnings_box li .digital i.nine{ background-position:-205px 0px; }/*数字9*/
.earnings_box li .digital i.zero{background-position:-232px 0px;}/*数字0*/
.earnings_box li .digital i.percent{background-position:-257px 0px;}/*百分号*/
.earnings_box li .digital i.point{background-position:-277px 0px; width:8px;}/*小数点*/
.earnings_box li .digital i.comma{background-position:-287px 0px; width:10px;}/*逗号*/
.earnings_box li .digital i.rung{background-position:-300px 0px;}/*横杠*/
#u-fister{ padding-left:0px;}

.product_con{ padding:10px 28px 10px 28px; border-radius:3px; box-shadow: 0px 6px 8px #d4d7db; background:#fff; border-top: solid 5px #feb804;}
	.product_hd{ border-bottom:2px #f1f2f3 solid; overflow:hidden;}
		.product_hd ul li{ float:left; font-size:12px; color:#878787; font-weight:bold; line-height:20px; padding-bottom:5px;}
		.product_hd ul li.linehg_set{ text-align:center;}		
		.product_hd ul li i.mt{ background-position:-50px -133px; width:11px; height:11px;}
		.product_hd ul li i.mt_01{ background-position:3px -133px; width:11px; height:11px;}
		.product_hd ul li i.mt_02{ background-position:-23px -133px; width:11px; height:11px;}
		.pro_name p i.badge{ background-position:-76px -130px; width:19px; height:23px; position:absolute; top:3px; left:110px;}
		.pro_name p i.badge_01{ background-position:-103px -130px; width:19px; height:23px; position:absolute; top:4px; left:140px;}
		.bottle{ background-position:-131px -130px; width:22px; height:22px; position:absolute; top:1px; left:2px;}
		.bottle_01{ background-position:-161px -130px; width:22px; height:22px; position:absolute; top:1px; left:2px;}
		.bottle_02{ background-position:-191px -130px; width:22px; height:22px; position:absolute; top:1px; left:2px;}
		.product_hd ul li a{ color:#878787;}				
	.product_bd2{}
		.product_bd table{}		
		.product_bd table th,.product_bd table td{ height:75px; font-size:14px; color:#475058; line-height:22px; border-bottom:1px solid #d7dee3; text-align:center;}
		.product_bd table th img{ height:25px;}		
		.accoun_info{ width:100%; height:30px; line-height:30px; background:#f0f4f7; font-size:12px; color:#475058;}
		.accoun_info em{ color:#ff9a02;}		
		.accoun_info2{ width:100%; height:30px; line-height:30px; font-size:12px; color:#475058;}
		.product_bd .pager,.product_bd2 .pager{ text-align:center;}		
		.product_bd2 th,.product_bd2 td{ min-height:120px; _height:120px; font-size:14px; color:#475058; line-height:22px; border-bottom:1px solid #d7dee3; vertical-align:middle;}		
		.product_bd2 .interest_info{ color:#bbc9d3; line-height:20px; font-size:12px;}
		.product_bd2 .pro_name{ text-align:left !important; padding:25px 0px;}		
		.product_bd2 .pro_name p{ padding:3px 0px; line-height:20px; color:#2e3233; font-size:14px; position:relative;}
		.product_bd2 .btm{ color:#f3781b;}
		.product_bd2 .btm em{ font-size:12px;} 
		.pro_name .pro_links{ padding-top:2px; position:relative;}
		.pro_name .pro_links span, .u-font, .u-fonts{ height:24px; line-height:24px; font-size:12px; padding-left:30px;}
		.pro_name .pro_links span{ color:#c40d23;}
		.pro_name .pro_links span.u-font{ color:#6081ac;}
		.pro_name .pro_links span.u-fonts{ color:#ffb904;}		
		.product_bd2 .date{ font-size:12px; line-height:20px;}		
		.u-tiao{ background: url(../images/index/pio.jpg) no-repeat; width:150px; height:6px; margin-top:5px;}
		.u-tiaos{ background:url(../images/index/jindu.gif) no-repeat; width:150px; height:6px;}
		.u-tiao_01{ background: url(../images/index/piu.jpg) no-repeat; width:150px; height:6px; margin-top:5px;}
		.view, .view_01, .view_02{ width:108px; height:40px; text-align:center; line-height:40px; font-weight:bold; border-radius:3px; font-size:16px; color:#fff; margin-left:12px; display:block;}
		.view{ background:#25aae2;}
		.view_01{ background:#ffb904;}
		.view_02{ background:#e8ebf2;}
		.view, .view_01, a{ color:#fff;}
		.view, .view_01, a:hover{ color:#fff;}
		.view_02 a{ color:#878787;}
		.views{ margin-left:5px; margin-top:5px; text-align:center;}
		.views em{ color:#f38b1b;}
		/*图片数字*/
		.u-number-01, .u-number-02{ background:url(../images/index/piy.png) no-repeat; display:inline-block;}
		.u-number-01{ background-position:-9px -10px; width:11px; height:19px;}
		.u-number-02{ background-position:-21px -10px; width:11px; height:19px;}
		