<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="xovF-ZDqpE-FzhVsIn68WQiPkZS2efwj8y0THL1XAQY" />
    <meta name="keywords" content="NCF,NCF Wealth,NCF Wealth Holdings Limited,management team,board of directors/,ir contact">
    <meta name="description" content="NCF Wealth as an open Fin-tech ecosystem provides one-stop comprehensive financial information services for users and online user access for financial institutions; it outputs Fin-tech and realizes the sharing mode of financial services of the Internet.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://assets.ncfwx.com/skins/default/images/favicon.png" type="image/x-icon">
    <title>
        ir contact-NCF Wealth
    </title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/contact_ir.css"/>
</head>

<body>
    <header>
        <div class="w1200">
            <div class="logo">
                <a href="/"><img src="images/logo.png" width="100%"></a>
            </div>
            <ul class="ir_nav">
                <li><a href="/">IR HOME</a></li>
                <li><a href="management.html">MANAGEMENT TEAM</a></li>
                <li><a href="board.html">BOARD OF DIRECTORS</a></li>
                <li><a href="governance.html">GOVERNANCE</a></li>
                <li class="active"><a href="contact.html">IR CONTACT</a></li>
            </ul>
            <div class="nav_btn">
                <div class="nav_h5"></div>
            </div>
            <ul class="nav_ul_h5">
                <li class="nav-item"><a href="/">IR HOME</a></li>
                <li class="nav-item"><a href="management.html">MANAGEMENT TEAM</a></li>
                <li class="nav-item"><a href="board.html">BOARD OF DIRECTORS</a></li>
                <li class="nav-item"><a href="governance.html">GOVERNANCE</a></li>
                <li class="switch_en active"><a href="/contact.html">IR CONTACT</a></li>
            </ul>
        </div>
    </header>
<div class="contact_ir">
  <div class="bg1">
    IR CONTACT
    <img src="images/trangle1.png" class="img_trangle"/>
  </div>
  <div class="wx_timeline">
    <img src="images/trangle2.png" class="img_trangle2"/>
    <div class="contact_ir_lists">

      <div class="each_contact_ir">
        <p class="title">Jack Wang</p>
        <p class="line"></p>
        <div class="position_description">
          <p>ICR, Inc.</p>
          <p>Email: NCF.IR@icrinc.com</p>
          <p>Phone: +1 (646) 308-0546</p>
          <p>For media inquiries, please contact:</p>
        </div>
      </div>

      <div class="each_contact_ir">
        <p class="title">Rose Zu</p>
        <p class="line"></p>
        <div class="position_description">
          <p>ICR, Inc.</p>
          <p>Email: NCF.PR@icrinc.com</p>
          <p>Phone: +1 (646) 308-1342</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="slide6">
    <p class="beian">© 2019 网信 All rights reserved 京ICP备16034138号-3 | 京ICP证140628号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033551">京公网安备 11010502033551号</a></p>
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/common.js"></script>

</html>