<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="xovF-ZDqpE-FzhVsIn68WQiPkZS2efwj8y0THL1XAQY" />
  <meta name="keywords" content="NCF,NCF Wealth,NCF Wealth Holdings Limited,management team,board of directors/,ir contact">
  <meta name="description" content="NCF Wealth as an open Fin-tech ecosystem provides one-stop comprehensive financial information services for users and online user access for financial institutions; it outputs Fin-tech and realizes the sharing mode of financial services of the Internet.">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="https://assets.ncfwx.com/skins/default/images/favicon.png" type="image/x-icon">
  <title>
    Investor Relations -NCF Wealth
  </title>
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/ir_home.css" />
  <link rel="stylesheet" href="css/ir_home_pc.css" media="screen and (min-width: 1200px)" />
</head>

<body>
  <header>
    <div class="w1200">
      <div class="logo">
        <a href="/"><img src="images/logo.png" width="100%"></a>
      </div>
      <ul class="ir_nav">
        <li class="active"><a href="/">IR HOME</a></li>
        <li><a href="management.html">MANAGEMENT TEAM</a></li>
        <li><a href="board.html">BOARD OF DIRECTORS</a></li>
        <li><a href="governance.html">GOVERNANCE</a></li>
        <li><a href="contact.html">IR CONTACT</a></li>
      </ul>
      <div class="nav_btn">
        <div class="nav_h5"></div>
      </div>
      <ul class="nav_ul_h5">
        <li class="nav-item active"><a href="/">IR HOME</a></li>
        <li class="nav-item"><a href="management.html">MANAGEMENT TEAM</a></li>
        <li class="nav-item"><a href="board.html">BOARD OF DIRECTORS</a></li>
        <li class="nav-item"><a href="governance.html">GOVERNANCE</a></li>
        <li class="switch_en"><a href="/contact.html">IR CONTACT</a></li>
      </ul>
    </div>
  </header>
  <div class="ir_home">
    <div class="bg1"></div>
    <div class="wx_timeline">
      <img src="images/ir_home/trangle1.jpg" class="img_trangle" />
      <div class="text_area">
        <p class="each_title">
          NCF Wealth Holdings Limited is a fintech company in China, primarily focused on connecting investors and borrowers, providing multi-scenario investment analysis to platform users to meet their diversified investment needs, and building an ecosystem in the field of internet finance. It also provides financing advisory and technical support for borrowers when they announce their financing needs. 
        </p>
      </div>
      <div class="each_part_description">
        <img src="images/ir_home/trangle2.jpg" class="img_trangle2" />
        <p class="title">MANAGEMENT TEAM</p>
        <ul class="management_lists">
          <li class="each_managor">
            <a href="management.html">
              <img src="images/ir_home/president.jpg" class="managor_img" />
              <div class="right">
                <p class="line"></p>
                <p class="name">Huanxiang Li</p>
                <p class="position">President</p>
              </div>
            </a>
          </li>
          <li class="each_managor">
            <a href="management.html">
              <img src="images/ir_home/ceo.jpg" class="managor_img" />
              <div class="right">
                <p class="line"></p>
                <p class="name">Jia Sheng</p>
                <p class="position">Chief Executive Officer</p>
              </div>
            </a>
          </li>
          <li class="each_managor">
            <a href="management.html">
              <img src="images/ir_home/cfo.jpg" class="managor_img" />
              <div class="right">
                <p class="line"></p>
                <p class="name">Li Wei</p>
                <p class="position">Chief Financial Officer</p>
              </div>
            </a>
          </li>
          <li class="each_managor">
            <a href="management.html">
              <img src="images/ir_home/coo.jpg" class="managor_img" />
              <div class="right">
                <p class="line"></p>
                <p class="name">Xin Li</p>
                <p class="position">Chief Operating Officer</p>
              </div>
            </a>
          </li>
          <li class="each_managor">
            <a href="management.html">
              <img src="images/ir_home/cto.jpg" class="managor_img" />
              <div class="right">
                <p class="line"></p>
                <p class="name">Ruoshi Zhang</p>
                <p class="position">Chief Technology Officer</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="each_part_description board_directors">
        <img src="images/ir_home/trangle2.jpg" class="img_trangle2" />
        <p class="title">BOARD OF DIRECTORS</p>
        <div class="board_directors_container">
          <div class="board_directors_each_card">
            <p class="title">Huanxiang Li</p>
            <p class="second_title">President and Director</p>
            <p class="line"></p>
            <p class="description">Ms. Li has been the President and a director of NCF since 2014. Ms. Li has 15
              years of experience in the financial..</p>
            <a href="board.html" class="more">more</a>
          </div>
          <div class="board_directors_each_card">
            <p class="title">Jia Sheng</p>
            <p class="second_title">Chief Executive Officer and Director</p>
            <p class="line"></p>
            <p class="description">Mr. Sheng has been the Chief Executive Officer and a director of NCF since June 2013
              Mr. Sheng has 12 years of....</p>
            <a href="board.html" class="more">more</a>
          </div>
          <div class="board_directors_each_card">
            <p class="title">Tao Yang</p>
            <p class="second_title">Independent Director</p>
            <p class="line"></p>
            <p class="description">Mr. Yang has been a researcher and an advisor to doctoral candidates of the
              Institute of Finance & Banking of the...</p>
            <a href="board.html" class="more">more</a>
          </div>
          <div class="board_directors_each_card">
            <p class="title">David X. Li</p>
            <p class="second_title">Independent Director</p>
            <p class="line"></p>
            <p class="description">Mr. Li has been a professor of finance, and faculty co-director of Master of Finance
              (MF) program at Shanghai....</p>
            <a href="board.html" class="more">more</a>
          </div>
          <div class="board_directors_each_card">
            <p class="title">Kevin C. Wei</p>
            <p class="second_title">Independent Director</p>
            <p class="line"></p>
            <p class="description">Mr. Wei has been a managing partner of Fontainburg Corporation Limited, a
              corporate finance advisory firm, since....</p>
            <a href="board.html" class="more">more</a>
          </div>
        </div>
      </div>

      <div class="each_part_description committee_composition">
        <img src="images/ir_home/trangle2.jpg" class="img_trangle2" />
        <p class="title">COMMITTEE COMPOSITION</p>
        <div class="description_container">
          <p class="description">NCF Wealth Holdings Limited is committed to upholding the highest standards of
            business ethics and conducts business in</p>
          <p class="description">accordance with all applicable laws, rules and regulations. Our corporate governance
            policies are designed to protect the interests of</p>
          <p class="description"> our shareholders and promote responsible business practices and corporate
            citizenship.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="slide6">
    <p class="beian">© 2019 网信 All rights reserved 京ICP备16034138号-3 | 京ICP证140628号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033551">京公网安备
        11010502033551号</a></p>
  </div>
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/common.js"></script>

</html>