<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="xovF-ZDqpE-FzhVsIn68WQiPkZS2efwj8y0THL1XAQY" />
    <meta name="keywords" content="NCF,NCF Wealth,NCF Wealth Holdings Limited,management team,board of directors/,ir contact">
    <meta name="description" content="NCF Wealth as an open Fin-tech ecosystem provides one-stop comprehensive financial information services for users and online user access for financial institutions; it outputs Fin-tech and realizes the sharing mode of financial services of the Internet.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://assets.ncfwx.com/skins/default/images/favicon.png" type="image/x-icon">
    <title>
        management team-NCF Wealth
    </title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/p_board.css" />
</head>

<body>
    <header>
        <div class="w1200">
            <div class="logo">
                <a href="/"><img src="images/logo.png" width="100%"></a>
            </div>
            <ul class="ir_nav">
                <li><a href="/">IR HOME</a></li>
                <li class="active"><a href="management.html">MANAGEMENT TEAM</a></li>
                <li><a href="board.html">BOARD OF DIRECTORS</a></li>
                <li><a href="governance.html">GOVERNANCE</a></li>
                <li><a href="contact.html">IR CONTACT</a></li>
            </ul>
            <div class="nav_btn">
                <div class="nav_h5"></div>
            </div>
            <ul class="nav_ul_h5">
                <li class="nav-item"><a href="/">IR HOME</a></li>
                <li class="nav-item active"><a href="management.html">MANAGEMENT TEAM</a></li>
                <li class="nav-item"><a href="board.html">BOARD OF DIRECTORS</a></li>
                <li class="nav-item"><a href="governance.html">GOVERNANCE</a></li>
                <li class="switch_en"><a href="/contact.html">IR CONTACT</a></li>
            </ul>
        </div>
    </header>
    <div class="p_board">
        <div class="management_banner">
            MANAGEMENT TEAM
        </div>
        <div class="w1200">
            <div class="content">
                <div class="arrow"></div>
                <div class="title"></div>
                <ul class="board_list management">
                    <li>
                        <div class="box">
                            <div class="img">
                                <img src="images/ir_home/president.jpg">
                            </div>
                            <div class="text">
                                <h2>Huanxiang Li</h2>
                                <h3>President</h3>
                                <div class="line"></div>
                                <p>
                                   Ms. Li has been the President and a director of NCF since 2014. Ms. Li has 15 years of experience in the financial industry. Prior to joining NCF, she was Vice-President of the United Venture Financial Guarantee Group from 2003 to 2013, President of Tianjin United Venture Capital Guarantee Co., Ltd. from 2013 to 2015, and President of Dongfang Credit Management Co., Ltd. from 2015 to 2017. Ms. Li holds an EMBA degree from the PBC School of Finance of Tsinghua University.
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="box">
                            <div class="img">
                                <img src="images/ir_home/ceo.jpg" class="managor_img">
                            </div>
                            <div class="text">
                                <h2>Jia Sheng</h2>
                                <h3>Chief Executive Officer</h3>
                                <div class="line"></div>
                                <p>
                                    Mr. Sheng has been the Chief Executive Officer and a director of NCF since June 2013. Mr. Sheng has 12 years of experience in the Internet and the financial industry. Prior to joining NCF Wealth Holdings, he was Product Manager in Google China and Mountain View from June 2007 to October 2010, and a Co-founder of Yunrang (Beijing) Information Technology Co. Ltd. From November 2010 to May 2013. Mr. Sheng holds an EMBA degree from the PBC School of Finance of Tsinghua University, a Master degree in Computer Science from the University of Toronto in Canada and a Bachelor degree in Computer Science and Technology from Tsinghua University.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="img">
                                <img src="images/ir_home/cfo.jpg" class="managor_img">
                            </div>
                            <div class="text">
                                <h2>Li Wei</h2>
                                <h3>Chief Financial Officer</h3>
                                <div class="line"></div>
                                <p>
                                    Ms. Wei joined the management team of NCF in October 2014. She has 12 years of experience in auditing & consulting services and more than 12 years of management experience. Prior to joining NCF, Ms. Wei worked at KPMG from August 2002 to April 2008 and PricewaterhouseCoopers from May 2008 to October 2014. Ms. Wei got her MBA from the School of Economics and Management of Tsinghua University. She obtained her bachelor's degree in Finance from Renmin University of China. Ms. Wei is a CICPA and an internationally registered internal auditor.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="img">
                                <img src="images/ir_home/coo.jpg" class="managor_img">
                            </div>
                            <div class="text">
                                <h2>Xin Li</h2>
                                <h3>Chief Operating Officer</h3>
                                <div class="line"></div>
                                <p>
                                    Ms. Li joined the management team of NCF in February 2014. She worked at China Ping An Life Insurance Co., Ltd. from September 2007 to November 2010 and China International Futures Co., Ltd. from April 2012 to January 2014.  Ms. Li has more than 10 years of experience in the finance industry and is an expert in operations management, marketing, and financial product design. She holds a bachelor's degree in finance from Heilongjiang University.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <div class="img">
                                <img src="images/ir_home/cto.jpg" class="managor_img">
                            </div>
                            <div class="text">
                                <h2>Ruoshi Zhang</h2>
                                <h3>Chief Technology Officer</h3>
                                <div class="line"></div>
                                <p>
                                    Mr. Zhang joined the management team of NCF in May 2014. He has more than 10 years of experience in R&D management and distributed system design and development. Mr. Zhang worked at Visual China Group from October 2005 to August 2011, IFeng.com from August 2011 to August 2012 and Credit Ease from January 2013 to April 2013. Mr. Zhang specializes in the development and design of distributed storage systems, social networking sites and financial trading systems. Mr. Zhang got his Bachelor from Information Engineering University.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slide6">
        <p class="beian">© 2019 网信 All rights reserved 京ICP备16034138号-3 | 京ICP证140628号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033551">京公网安备
                11010502033551号</a></p>
    </div>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>