*{
    margin:0;
    padding:0;
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -webkit-user-select: none;
    -ms-user-select:none; /*IE10*/
    user-select:none;
    list-style: none;
}
ul, input, li,span,.tip_wrap{
    border: none;
    outline: none;
    -webkit-tap-highlight-color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input{
    -webkit-user-select: auto;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    color: #000;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
    -moz-user-focus: none;
}
img{
    vertical-align: top;
}
/* 轮播样式 */
.proDetail_desc .img_carousel{
    width:100%;
    height:100%;
}
.proDetail_desc .swiper-container{
    width:7.5rem;
    height: 7.5rem;
}
/*商品详情页-文字描述*/
.proDetail_desc .pro_describe{
    height:1rem;
    line-height:0.46rem;
    white-space:normal;
    -webkit-line-clamp:2;
    display:-webkit-box;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-box-orient:vertical;
    font-size:0.3rem;
    font-weight:500;
    margin:0.34rem 0.3rem 0.2rem 0.3rem;
}
.proDetail_desc .pro_describe .term{
    display:inline-block;
    border:1px solid #F05042;
    color:#F05042;
    font-size:0.2rem;
    padding:0 0.05rem 0.05rem;
    height:0.35rem;
}
/*商品详情页-进度条*/
.proDetail_desc .pro_schedule{
    margin:0.34rem 0.3rem 0.2rem 0.3rem;
    font-size:0.24rem;
    color:#747474;
}
.proDetail_desc .pro_schedule div .schedule{
    font-size:0.28rem;
    color:#373737;
}
.proDetail_desc .pro_schedule div .schedule span{
    color:#F05042;
}
.proDetail_desc .pro_schedule div .right{
    float:right;
}
.proDetail_desc .pro_schedule div:last-of-type{
    margin:0.34rem 0 0.4rem;
}
.proDetail_desc .pro_schedule .progress-bar{
    position:relative;
}
.proDetail_desc .pro_schedule .progress-bar div:last-of-type{
    position:absolute;
    top:0rem;
    left:0rem;
    width:100%;
    height:0.1rem;
    background:rgb(243,243,243);
    margin:0.12rem 0rem;
    border-radius:0.1rem;
}
.proDetail_desc .pro_schedule .progress-bar div:first-of-type{
    position:absolute;
    top:0rem;
    left:0rem;
    z-index:100;
    width:0rem;
    height:0.1rem;
    background:linear-gradient(90deg,rgba(252,124,124,1) 0%,rgba(238,71,53,1) 100%);
    margin:0.12rem 0rem;
    border-radius:0.1rem;
}
.blank20{
    display:block;
    width:100%;
    height:0.2rem;
    background:#F2F2F2;
}
.pro_title{
    font-size:0.3rem;
    color:#373737;
    margin:0.4rem 0.3rem ;
}
.pro_title i{
    display:inline-block;
    width:0.06rem;
    height:0.26rem;
    background:#EE4634;
    margin-bottom:-0.02rem;
    margin-right:0.12rem;
}
/*用户详情页-我的夺宝码*/
.myticket .mytickets{
    background:#F9F8F8;
    margin:0 0.3rem 0.3rem;
    color:#909090;
    text-align: center;
    font-size:0.24rem;
    padding:0.1rem 0.2rem 0.08rem;
}
.myticket .mytickets span{
    display:inline-block;
    margin-left:0.2rem;
    line-height:0.17rem;
    width:1.35rem;
}
.myticket .mytickets0{
    height:0.74rem;
    line-height:0.74rem;
}
.myticket .mytickets1{
    text-align: left;
}
.pro_view{
    font-size:0.24rem;
    color:#747474;
    text-align:center;
    padding-top:0.3rem;
    border-top:1px solid #efefef;
}
.pro_view span{
    margin-left:0.05rem;
}
.pro_view a{
    font-size:0.24rem;
    color:#747474;
    margin-left:0.05rem;
}
/*用户详情页-参与记录*/
.user_records .records{
    font-size:12px;
    margin-bottom:0.3rem;
}
.user_records .records .records_terms{
    height:0.8rem;
    margin:0rem 0.3rem;
    padding:0.15rem 0;
    line-height:0.40rem;
    font-size:0.24rem;
}
.user_records .records .records_avatar{
    width:0.72rem;
    height:0.72rem;
    border-radius:0.36rem;
    line-height:1.12rem;
    margin-top:0.2rem;
}
.user_records .records .records_time{
    color:#747474;
}
.user_records .records .records_desc .records_num{
    float:right;
    color:#EE4634;
}
/*商品详情页-商品详情*/
.detail img{
    width:100%;
}
.treasure{
    width:100%;
    height:1.2rem;
    background:#fff;
    position:fixed;
    bottom:0rem;
    left:0rem;
    z-index:101;
}
.treasure .treasure_btn{
    height:0.8rem;
    background:#EE4634;
    border-radius:0.05rem;
    margin:0.2rem 0.3rem;
    color:#fff;
    text-align:center;
}
.treasure .treasure_btn .duobao{
    font-size:0.32rem;
    line-height:0.5rem;
}
.treasure .treasure_btn .duobao_txt{
    font-size:0.17rem;
}
.db_lheight{
    font-size:0.32rem;
    line-height:0.8rem;
}
/*商品详情页-顶部导航栏*/
.pro_details .pro_details_top {
    width:100%;
    height:1.05rem;
    border-bottom:1px solid #D9D9D9;
    font-size:0.3rem;
    line-height:1.05rem;
    position:fixed;
    top:0rem;
    left:0rem;
    z-index:999;
    background:#fff;
    text-align: center
}
.pro_details .pro_details_top span a{
    color:#333;
    text-decoration: none;
}
.pro_details .pro_details_top .top_return{
    margin-left:0.3rem;
    float:left;
}
.pro_details .pro_details_top .top_product{
    display:inline-block;
    height:1.05rem;
    font-weight:600;
}
.pro_details .pro_details_top .top_details{
    display:inline-block;
    height:1.05rem;
    margin-left:0.6rem;
    font-weight:600;
}
.pro_details .pro_details_top .top_anchor{
    border-bottom:0.04rem solid #EE4634;
}
.pro_details .pro_details_top .top_rule{
    float:right;
    margin-right:0.3rem;
}
/* 站位dom */
.pro_details .hei_fixed{
    height: 1.05rem;
}
.top_switch{
    display:inline-block;
    list-style: none;
}
.popup_layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60rem;
    background:rgba(0,0,0,0.5);
    z-index:1000;
}
.pro_popup .popup_content{
    height:9.3rem;
    background:#fff;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1001;
}
.pro_popup .popup_content img{
    width:2.2rem;
    height:2.15rem;
    margin:0.3rem 0.26rem 0rem 0.3rem;
    float: left;
}
.pro_popup .popup_content .popup_describe{
    line-height: 0.46rem;
    font-size: 0.26rem;
    font-weight: 500;
    margin-right: 0.3rem;
    margin-left: 2.8rem;
}
.pro_popup .popup_content .popup_describe div{
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.pro_popup .popup_content .popup_describe img{
    width:0.42rem;
    height:0.42rem;
    position:absolute;
    top:0.3rem;
    right:0.3rem;
    margin:0;
}
.pro_popup .popup_content .popup_describe .term{
    display:inline-block;
    border:1px solid #F05042;
    color:#F05042;
    font-size:0.2rem;
    padding:0 0.05rem 0.05rem;
    height:0.35rem;
    margin-top:1.28rem;
}
.pro_popup .pro_tips{
    margin:0.05rem 0.3rem;
    font-size:0.2rem;
    color: #F05042;
}
.popup_content .popup_prodesc{
    height:2.2rem;
    padding-bottom:0.4rem;
    border-bottom:1px solid #d9d9d9;
}
.popup_content .popup_maxnum{
    height:1.13rem;
    background:#F9F8F8;
    margin:0.41rem 0.3rem 0.52rem;
    text-align:center;
    line-height:0.46rem;
    padding-top:0.21rem;
}
.popup_content .popup_maxnum .maxnum_desc{
    font-size:0.28rem;
    font-weight:500;
    color:#373737;
}
.popup_content .popup_maxnum .maxnum_desc span{
    display:inline-block;
    width:0.96rem;
    height:0.46rem;
    background:#FEE6E6;
    color:#EE4634;
    margin-left:0.14rem;
}
.popup_content .popup_maxnum .maxnum_msg{
    font-size:0.24rem;
    color:#747474;
}
.popup_content .popup_joinnum>span:first-of-type{
    font-size:0.26rem;
    color:#747474;
    margin-left:0.3rem;
}
.popup_content .popup_joinnum>span:first-of-type span:last-of-type{
    font-size:0.24rem;
}
.popup_content .popup_joinnum .sub{
    display:inline-block;
    width:0.6rem;
    height:0.6rem;
    background:#F8F8F8;
    line-height:0.6rem;
    text-align: center;
    margin-left: 3rem;
}
.popup_content .popup_joinnum .sub span{
    display:inline-block;
    width:0.24rem;
    height:0.04rem;
    background:#CFCFCF;
    margin-bottom: 0.1rem;
}
.popup_content .popup_joinnum .num{
    display:inline-block;
    width:0.8rem;
    height:0.6rem;
    background:#ECECEC;
    color:#373737;
    font-weight:500;
    font-size:0.28rem;
    line-height:0.6rem;
    text-align: center;
    margin:0 0.02rem 0;
}
.popup_content .popup_joinnum .add{
    display:inline-block;
    width:0.6rem;
    height:0.6rem;
    background:#F8F8F8;
    line-height:0.6rem;
    text-align: center;
}
.popup_content .popup_joinnum .add span:first-of-type{
    display:inline-block;
    width:0.24rem;
    height:0.04rem;
    background:#CFCFCF;
    margin-left: -0.1rem;
    margin-bottom: 0.1rem;
}
.popup_content .popup_joinnum .add span:last-of-type{
    display:inline-block;
    width:0.04rem;
    height:0.24rem;
    background:#CFCFCF;
    margin-left: -0.14rem;
    margin-bottom: 0.09rem;
}
.pro_popup .popup_sub{
    padding: 2.43rem 0.3rem 0rem;
}
.pro_popup .sub_btn{
    width:100%;
    height:0.8rem;
    background:#EE4634;
    border-radius:0.05rem;
    color:#fff;
    font-size:0.32rem;
    line-height:0.8rem;
    text-align:center;
    border:none;
    -webkit-appearance:none;
    opacity: 1;
}
.popup_content .popup_joinnum span,.popup_content .popup_joinnum input{
    vertical-align: middle;
    display: inline-block;
}
/*商品详情页-已结束-winner*/
.winner{
    width:6.9rem;
    height:0.92rem;
    background:#FEE4E4;
    border-radius:0.46rem;
    margin:0.33rem 0.3rem;
    color:#EE4634;
    font-size:0.28rem;
    line-height:0.92rem;
}
.winner img{
    width:1.1rem;
    height:0.74rem;
    margin-top: 0.1rem;
    margin-left:0.54rem;
}
/*商品详情页-参与记录-无参与记录*/
.user_records .records_zero{
    margin-bottom:0.7rem;
}
.user_records .records_zero img{
    width:0.72rem;
    height:0.72rem;
    border-radius:0.36rem;
    line-height:1.12rem;
    margin-top:0.2rem;
    margin-left:0.3rem;
}
.user_records .records_zero .records_joindesc{
    margin-left:1.4rem;
    margin-top:-0.51rem;
    color:#747474;
}
.calculation .cal_content{
    width:6.9rem;
    height:3.08rem;
    background:#F9F8F8;
    margin:0.3rem 0.3rem 0.5rem;
    padding-top:0.2rem;
    color:#747474;
    font-size:0.24rem;
    line-height:0.4rem;
}
.calculation .cal_content .win_rule{
    margin:0 0.2rem 0.3rem 0.2rem;
}
.calculation .cal_content .win_code{
    width:3.8rem;
    height:0.52rem;
    text-align:center;
    line-height:0.52rem;
    margin-left:1.54rem;
}
.calculation .cal_content .win_code span:first-of-type{
    display:inline-block;
    width:1.3rem;
    height:0.52rem;
    background:#FF8485;
    color:#fff;
}
.calculation .cal_content .win_code .winning_code{
    display:inline-block;
    width:2.5rem;
    height:0.52rem;
    background:#FEEAEA;
    color:#FF8485;
}
.records_terms .records_desc .records_name .pro_time_code{
    margin-left:0.63rem;
}
/*参与记录页*/
.records_page{
    font-size: 12px;
}
.records_page .records_terms{
    width:6.9rem;
    height:0.8rem;
    padding:0.2rem 0.3rem;
    border-bottom:1px solid #efefef;
    line-height:0.40rem;
}
.records_page .records_terms .records_time{
    color:#747474;
}
.records_page .records_terms .records_desc .records_num{
    float:right;
    color:#EE4634;
}
.records_page .records_terms .records_desc .records_name .time_code{
    margin-left:0.64rem;
}



.records_page .r_terms{
    width:6.9rem;
    height:0.8rem;
    padding:0.2rem 0.3rem;
    border-bottom:1px solid #efefef;
    line-height:0.40rem;
}
.records_page .r_terms .r_time{
    color:#747474;
}
.records_page .r_terms .r_desc .r_num{
    float:right;
    color:#EE4634;
}
.records_page .r_terms .r_desc .r_name .time_code_inn{
    margin-left:0.65rem;
}
.records_page .tip_wrap{
    text-align:center;
    font-size:0.3rem;
    color:gray;
    margin-top:0.1rem;
    padding: 15px;
}
/*参与记录页*/
/*弹窗详情页私有样式*/
.pro_popup_wrap{
    z-index:999 !important;
}
.popup_chance .snatch_pop .pop_content{
    font-size:0.28rem;
}
.back_color{
    display:inline-block;
    width:3.8rem;
    height:0.6rem;
    background:#FEEAEA;
    color:#FF8485;
}
/*弹窗详情页公有样式*/
.snatch_pop_wrap{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    -webkit-transform-origin: 0px 0px 0px;
    -webkit-transform: translateZ(2px);
    transform: translateZ(2px);
    background: rgba(0, 0, 0, .4);
}
.snatch_pop_wrap .snatch_pop{
    font-size: .32rem;
    text-align: center;
    color: #373737;
    position: absolute;
    z-index: 20;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 5.4rem;
    background: #fff;
    opacity: 1;
    border-radius:0.05rem;
}
.snatch_pop_wrap .snatch_pop .pop_title{
    font-size: 0.32rem;
    color: #B2B2B2;
    height: 1.26rem;
    width: 4.8rem;
    display: inline-block;
    line-height: 1.26rem;
}
.snatch_pop_wrap .snatch_pop .pop_content .popup_scroll{
    max-height: 3.7rem;
    overflow-y: auto;
}
.snatch_pop_wrap .snatch_pop .pop_content .content_grey{
    color: #111;
}
.snatch_pop_wrap .snatch_pop .pop_content span{
    color: #ee4634;
}
.snatch_pop_wrap .snatch_pop .pop_btn{
    height: .7rem;
    margin: 0 0 0.3rem;
    text-align: center;
    font-size:0.28rem;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_cancle{
    height: 0.7rem;
    line-height: 0.7rem;
    width: 2.24rem;
    background: #E6E6E6;
    border-radius: .06rem;
    display: inline-block;
    margin-right:0.1rem;
    color:#909090;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_confirm{
    height: .7rem;
    line-height: .7rem;
    width: 2.24rem;
    background: #ee4634;
    border-radius: .06rem;
    display: inline-block;
    color:#fff;
}

.pro_popup_wrap .snatch_pop .pop_btn .pro_confirm{
    color:#fff;
    margin: 0 auto;
    display: block;
}
.pro_details .snatch_pop_wrap .snatch_pop .pro_xinbao{
    background:#EE4634;
    color:#fff;
}
.arrow_icon{
    width: 0.2rem;
    height: 0.2rem;
    border-top:1px solid rgba(51,51,51,1);
    border-left:1px solid rgba(51,51,51,1);
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); 
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    display: inline-block;
    vertical-align: -0.02rem;
}

@media only screen and (device-width: 375px) and (device-height: 812px){
    .pro_details_top{
        padding-top:0.6rem !important;
    }
    /* 站位dom */
    .pro_details .hei_fixed{
        padding-top:0.6rem !important;
    }
    .treasure{
        height: 1.4rem;
    }
    .records_page .tip_wrap{
        padding-bottom: 30px;
    }
}
/*双十一活动样式*/
.special_activity{
    position: relative;
}
.special_activity .sa_double1_img1{
   width:100%;
   height:0.74rem;
}
.special_activity .sa_double1_img2{
    width:2.26rem;
    height:1.82rem;
    position:absolute;
    top:-1.07rem;
    right:0;
    z-index:2;
}
.special_activity .sa_double1_txt1{
    position:absolute;
    top:0;
    left:0.3rem;
    font-size:0.28rem;
    font-weight:600;
    color:#fff;
    line-height:0.74rem;
}
.special_activity .sa_double1_txt2{
    width:2.26rem;
    height:1.52rem;
    position:absolute;
    top:-0.78rem;
    right:0;
    color:#fff;
    text-align:center;
    z-index:2;
}
.special_activity .sa_double1_txt2 .txt2_txt1{
    font-size:0.18rem;
    margin-top: 0.18rem;
}
.special_activity .sa_double1_txt2 .txt2_txt2{
    font-size:0.44rem;
    font-style:italic;
    height:0.8rem;
    font-weight:900;
    line-height:0.8rem;
}
.special_activity .sa_double1_txt2 .txt2_txt3{
    font-size:0.16rem;
}
/*双十一活动样式*/

/*物流信息*/
.pro_details .logistics .logistics_ul{
    width:6.5rem;
    background:#F9F8F8;
    margin:0 0.3rem 0.3rem;
    color:#747474;
    text-align: left;
    font-size:0.24rem;
    padding:0.22rem 0.26rem 0.1rem;
}
.pro_details .logistics .logistics_ul li{
    margin-bottom:0.12rem;
    *zoom:1;
}
.pro_details .logistics .logistics_ul li::after{
    content:"";
    clear:both;
    display:block;
}
.pro_details .logistics .logistics_ul li .logistics_left{
    float:left;
    width:1.2rem;
}
.pro_details .logistics .logistics_ul li .logistics_right{
    float:right;
    width:5.2rem;
    color:#000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 0.42rem;
    margin-top: -0.05rem;
}
/*物流信息*/
/*邀请专享活动样式*/
.special_activity .sa_invite_text1{
    position:absolute;
    top:0;
    left:0.05rem;
    font-size:0.24rem;
    font-weight:600;
    color:#fff;
    line-height:0.68rem;
}
.special_activity .sa_invite_img2 {
    width: 2.40rem;
    height: 1.16rem;
    position: absolute;
    top: -0.41rem;
    right: 0;
    z-index: 2;
}
/*邀请专享活动样式*/
/*夺宝优化*/
.pro_popup_wrap .snatch_pop .pop_content{
    font-size:0.28rem;
    padding:0 0.3rem 0.54rem;
}
.snatch_pop_wrap .snatch_pop .pop_title .close_btn{
    position:absolute;
    top:0.32rem;
    right:0.32rem;
    width:0.24rem;
    height:0.24rem;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_invite{
    height: 0.69rem;
    line-height: 0.69rem;
    width: 2.24rem;
    border:1px solid #EE4634;
    border-radius: 0.05rem;
    display: inline-block;
    margin-right:0.1rem;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_invitea{
    color:#EE4634;
}
.pro_popup_wrap .snatch_pop .pop_suc p{
    margin-bottom:0.22rem;
}
.popup_success .snatch_pop .pop_content{
    padding: 0 0.3rem 0.18rem;
}
/*夺宝优化*/
.treasure .tomorrow_btn{
    line-height:0.8rem;
    font-size:0.3rem;
}