*{
    margin: 0;
    padding: 0;
	list-style: none;
	-webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    color: #000;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
    -moz-user-focus: none;
}
.snatch_rule_content_wrap{
    background: -webkit-linear-gradient(#FDE7A9, #FD1B00);/*Chrome/Safari*/
    background: -moz-linear-gradient(#FDE7A9, #FD1B00);/*FireFox*/
    background: -o-linear-gradient(#FDE7A9, #FD1B00);/*Opera*/
    background: linear-gradient(#FDE7A9, #FD1B00);/*标准的语法（必须放在最后）*/
}
.snatch_rule_body .snatch_header_rule{
    width: 100%;
    padding-top: 62%;
    background: url('../images/header_rule.png') no-repeat 0 0;
    background-size: 100% 100%;
}
.snatch_rule_body .rule_time_wrap{
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	color: #fff;
	padding-top: .5rem;
}
.snatch_rule_body .rule_time{
	display: inline-block;
	width: 7.1rem;
	height: 2.84rem;
	background: url("../images/Group 2@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.snatch_rule_body .rule_time_title{
	font-size: .40rem;
	color: #FD4826;
	margin-top: .4rem;
	font-weight: 700;
}

.snatch_rule_body .rule_time_detail{
	font-size: .32rem;
	padding-top: .42rem
}
.snatch_rule_body .rule_chance{
	padding: .35rem 0 0 0.6rem;
    width: 6rem;
    text-align: left;
}
.rule_count_wrap .rule_content{
	padding: .4rem 0 0 0.5rem;
    width: 6rem;
	text-align: left;
	font-weight:400;
}

.snatch_rule_body .qualificate_wrap{
	width: 100%;
	text-align: center;
	font-size: 0.26rem;
	color: #8B4838;
	padding-top: .5rem;
}
.snatch_rule_body .rule_quali{
	display: inline-block;
	width: 7.1rem;
	height: 2.58rem;
	background: url("../images/Group 8@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.snatch_rule_body .rule_quali_title{
	font-size: .40rem;
	color: #FD4826;
	margin-top: .36rem;
	font-weight: 700;
}
.snatch_rule_body .rule_quali_detail{
	padding-top: .3rem;
	width: 6.6rem;
	display: inline-block;
	text-align: left;
}
.snatch_rule_body .rule_quali_detail i{
	display: inline-block;
	height: .26rem;
	width: .22rem;
	background: url("../images/Polygon 2 Copy@3x.png") no-repeat 0 0;
	background-size: 100% 100%;
	vertical-align: 0.66rem;
	margin:0 0.1rem 0 .3rem;
}
.snatch_rule_body .rule_quali_detail span{
	display: inline-block;
	/*height: .18rem;*/
	width: 5.6rem;
	line-height: .36rem;
}



.snatch_rule_body .route_wrap{
	width: 100%;
	text-align: center;
	font-size: 0.22rem;
	font-weight: 600;
	color: #8B4838;
	padding-top: .6rem;
}
.snatch_rule_body .rule_route{
	display: inline-block;
	width: 7.1rem;
	/* height: 10.76rem; */
	background: url("../images/Group 9@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.snatch_rule_body .rule_route_title{
	font-size: .52rem;
	color: #FFE988;
	display: inline-block;
	height: .98rem;
	width: 4.4rem;
	line-height: .98rem;
	margin-top: .66rem;
	font-weight: 700;
	background: #FD432B;
	border-radius: 27px;
}
.snatch_rule_body .rule_route_rob{
    margin-top: .38rem;
    display: inline-block;
    background: url("../images/Group 5@3x.png");
    background-size: 100% 100%;
    width: 5.28rem;
    height: .84rem;
}
.snatch_rule_body .rule_route_rob span{
	font-size: .3rem;
    color: #FE5158;
    padding-top: .12rem;
}
.snatch_rule_body .rule_route_rob i{
	display: inline-block;
}

.snatch_rule_body .rule_route_detail{
	padding-top: .44rem;
	width: 6.6rem;
	display: inline-block;
	text-align: left;
}
.snatch_rule_body .rule_route_detail i{
	display: inline-block;
	height: .18rem;
	width: .18rem;
	background: url("../images/Polygon 2 Copy@3x.png") no-repeat 0 0;
	background-size: 100% 100%;
	margin: 0 0.22rem .38rem .4rem;
}
.snatch_rule_body .rule_route_detail span{
	display: inline-block;
	/*height: .18rem;*/
	width: 5.6rem;
	line-height: .36rem;
}

.snatch_rule_body .route_detail_wrap ul{
    -webkit-text-size-adjust:none;
	padding-top: .18rem;
	text-align: center;
	width: 100%;
	font-size: .22rem;
}
.snatch_rule_body .route_detail_wrap ul li{
	width: 5.96rem;
	display: inline-block;
	margin-bottom: .28rem;
	border-radius: .28rem;
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(1){
	text-align: center;
	background: -webkit-linear-gradient(left, #4480E2, #67CFF2, #6EE2FB);/*Chrome/Safari*/
    background: -moz-linear-gradient(right, #4480E2, #67CFF2, #6EE2FB);/*FireFox*/
    background: -o-linear-gradient(right, #4480E2, #67CFF2, #6EE2FB);/*Opera*/
    background: linear-gradient(to right, #4480E2, #67CFF2, #6EE2FB);/*标准的语法（必须放在最后）*/
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(2){
	text-align: center;
    background: -webkit-linear-gradient(left, #6D48CD, #D07AE5, #EE88E8);/*Chrome/Safari*/
    background: -moz-linear-gradient(right, #6D48CD, #D07AE5, #EE88E8);/*FireFox*/
    background: -o-linear-gradient(right, #6D48CD, #D07AE5, #EE88E8);/*Opera*/
    background: linear-gradient(to right, #6D48CD, #D07AE5, #EE88E8);/*标准的语法（必须放在最后）*/
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(3){
	text-align: center;
	background: -webkit-linear-gradient(left, #F77522, #F4AC3A, #F3C53B);/*Chrome/Safari*/
    background: -moz-linear-gradient(right, #F77522, #F4AC3A, #F3C53B);/*FireFox*/
    background: -o-linear-gradient(right, #F77522, #F4AC3A, #F3C53B);/*Opera*/
    background: linear-gradient(to right, #F77522, #F4AC3A, #F3C53B);/*标准的语法（必须放在最后）*/
}
.snatch_rule_body .route_detail_wrap ul li .route_left{
	display: inline-block;
	text-align: center;
	width: 1.88rem;
	height: 100%;
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(1) img{
	display: inline-block;
	margin: .4rem 0 .2rem 0;
	width: 1.5rem;
	height: 1.32rem;
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(2) img{
	display: inline-block;
	margin-top: .18rem;
	width: 1.46rem;
	height: 2.04rem;
}
.snatch_rule_body .route_detail_wrap ul li:nth-child(3) img{
	display: inline-block;
	margin-top: .16rem;
	width: 1.74rem;
	height: 1.46rem;
}
.snatch_rule_body .route_detail_wrap ul li .route_right{
	width: 3.9rem;
	height: 100%;
	display: inline-block;
	text-align: left;
	color: #fff;
	font-weight: 300;
	float: right;
}
.snatch_rule_body .route_detail_wrap ul li .route_right .route_step{
	font-size: .32rem;
	margin-top: .2rem;
	font-weight: 400;
}
.snatch_rule_body .route_detail_wrap ul li .route_right .route_text{
	padding: .1rem .2rem 0.2rem 0;
}

.snatch_rule_body .route_hint_wrap{
	width: 100%;
	text-align: center;
	font-size: .2rem;
    color: #CECECE;
    padding-bottom: .48rem;
}
.snatch_rule_body .route_hint_wrap i{
	width: .34rem;
    height: .02rem;
    background: #EFEFEF;
    display: inline-block;
    vertical-align: middle;
}
.snatch_rule_body .route_hint_wrap .route_hint{
	display: inline-block;
}

/*rule_count_wrap*/
.snatch_rule_body .rule_count_wrap{
	width: 100%;
	text-align: center;
	font-size: 0.24rem;
	font-weight: 600;
	color: #8B4838;
	/* padding-top: .6rem; */
	padding-top: .3rem;
}
.snatch_rule_body .rule_count_wrap .rule_count{
	display: inline-block;
	width: 7.1rem;
	height: 7.2rem;
	background: url("../images/Group 10@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.snatch_rule_body .rule_count_wrap .detail_lang_bg{
	background: url("../images/detail_lang_bg.png") no-repeat 0 0;
	background-size: 100% 100%;
	height: 17.6rem;
}
.snatch_rule_body .rule_count_wrap .rule_count_img{
	display: inline-block;
	width: 7.1rem;
	/* height: 7.2rem; */
	background: url("../images/Group 10@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.snatch_rule_body .rule_count_wrap .rule_count .rule_count_title{
	font-size: .4rem;
	color: #FFF;
	display: inline-block;
	margin-top: .24rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .snatch_rule_title{
	margin-top: .46rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .rule_count_detail{
	font-size: .26rem;
	width: 5.74rem;
	display: inline-block;
	text-align: left;
	padding-top:0.2rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .rule_detail_wrap{
	width:6.26rem;
	height:1.4rem;
	background:#FFF1F1;
	margin:0.3rem auto 0;
	border-radius: .1rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .snatch_rule_detail_wrap{
	height: 3.8rem;
	margin-top: .1rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .count_detail_eg{
	font-size: .26rem;
	margin: .4rem 0 0 .54rem;
	text-align: left;
}
.snatch_rule_body .rule_count_wrap .rule_count .step_one{
	width: 6.14rem;
	display: inline-block;
	text-align: left;
	font-weight: 500;
}
.snatch_rule_body .rule_count_wrap .rule_count .step_one_spe{
	padding: .28rem 0 .2rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .snatch_step_one_spe{
	padding: .5rem 0 .2rem;
}
.snatch_rule_body .rule_count_wrap .rule_count .step_two{
	padding: .2rem 0 .2rem;
	border-top: 1px dashed #FCD8CE;
}
.snatch_rule_body .rule_count_wrap .rule_count .step_two .hint_color_red{
	display: inline;
	color: #f76232
}
.snatch_rule_body .rule_count_wrap .rule_count .step_one i{
	text-align: center;
	display: inline-block;
	height: .38rem;
	width: .38rem;
	font-style: normal;
	border-radius: 50%;
	background: #F8622C;
	line-height: .38rem;
	color: #FFF;
	vertical-align: top;
}
.snatch_rule_body .rule_count_wrap .rule_count .step_one span{
	width: 5.6rem;
	display: inline-block;
}

/*footer*/
.snatch_rule_body .rule_footer_wrap{
    font-size: .2rem;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: .4rem;
}
.snatch_rule_body .rule_footer_wrap .footer_line{
    width: .68rem;
    height: .04rem;
    background: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    opacity: .1759;
}
.snatch_rule_body .rule_footer_wrap .footer_center{
    margin: 0 .22rem;
    font-size: .26rem;
}
.snatch_rule_body .rule_footer_wrap .rule_expl{
    display: inline-block;
    margin: .14rem 0 .7rem 0;
}