*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    color: #000;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
    -moz-user-focus: none;
}
/* snatch页面的css样式 */
/* 开始 */
.snatch_body{
    background: #FDE7A9;
}
.snatch_header_wrap{
    display: inline-block;
    width: 100%;
    padding-top: 74%;
    background: url('../images/header.png') no-repeat 0 0;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: .16rem;
}
.ul_wrap{
    height: 1.42rem;
    overflow: hidden;
    position: relative;
    margin-bottom: .3rem;
}
.prize_ul{
    font-size: .22rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.prize_ul li{
    background: #FFB583;
    width: 7.1rem;
    height: 1.42rem;
    box-sizing: border-box;
    padding: 0.12rem;
    margin: 0 auto;
    border-radius: .08rem;
}
.prize_ul .bg_wrapper{
    background: url(../images/prize.png) no-repeat #FF7045;
    background-size: 1.32rem 1.32rem;
    height: 100%;
}
.prize_ul li .prizer_left{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
}
.prize_ul li .prizer_left .header_img{
    width: 1.32rem;
    height: .96rem;
    display: inline-block;
    margin: .1rem 0 0 .8rem;
}
.prize_ul li .prizer_right{
    display: inline-block;
    text-align: left;
    margin-left: .27rem;
    vertical-align: middle;
}
.prize_ul li .prizer_right p{
    height: .32rem;
    line-height: .32rem;
    color: #F2F2F2;
    font-size: .24rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 4rem;
}
.snatch_content .snatch_tap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .82rem;
    background: #323232;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: .3rem;
}
.snatch_content .snatch_tap .snatch_activity{
    background: #EE4634;
    line-height: .84rem;
    position: relative;
}
.snatch_content .snatch_tap .snatch_activity i{
    display: inline-block;
    position: absolute;
    border-top-color: #ee4634;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-width: .1rem;
    left: 50%;
    top: .82rem;
}
.snatch_content .snatch_tap .snatch_tap_left{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex: 1;
    font-size: .28rem;
    line-height: 0.84rem;
}
.snatch_content .snatch_tap .snatch_tap_right{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex: 1;
    font-size: .28rem;
    line-height: 0.84rem;
}
/* 结束 */

/* snatch页面  和  snatch_mine页面中的ul公用样式 */
/* 开始 */
.product_list{
    text-align: center;
}
.product_list .snatch_jump_productDetail{
    width: 95%;
    display: inline-block;
}
.product_list li{
    margin-top: .2rem;
    width: 100%;
    background: #fff;
    position: relative;
    display: inline-block;
    text-align: left;
    border-radius: .06rem;
}
.product_list li .product_left{
    display: inline-block;
    margin: .34rem 0;
    text-align: left;
}
.product_list li .product_left .product_status{
    display: inline-block;
    height: .46rem;
    padding: 0 .14rem 0 .08rem;
    background: -webkit-linear-gradient(left, #EE4735 , #FC7C7C); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #EE4735 , #FC7C7C); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #EE4735 , #FC7C7C); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #EE4735 , #FC7C7C); /* 标准的语法 */
    border-radius: 0 .24rem .24rem 0;
    font-size: .22rem;
    line-height: .46rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: .18rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
}
.snatch_mine_body .product_list li .product_left .product_status_notkonw{
    background: -webkit-linear-gradient(left, #FF7D31, #FFAA73); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FF7D31, #FFAA73); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FF7D31, #FFAA73); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FF7D31, #FFAA73); /* 标准的语法 */
}
.product_list li .product_left .product_status_over{
    background: -webkit-linear-gradient(left, #929292 , #BFBFBF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #929292 , #BFBFBF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #929292 , #BFBFBF); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #929292 , #BFBFBF); /* 标准的语法 */
}
.product_list li .product_left .product_img{
    width: 2.2rem;
    height: 2.14rem;
    margin-left: .4rem;
    display: inline-block;
}
.product_list li .product_left .double11_icon{
    width: .88rem;
    height: .42rem;
    position: absolute;
    bottom: .16rem;
    left: 1.88rem;
}
.product_list li .product_left .only_inviter_icon{
    width: .88rem;
    height: .42rem;
    position: absolute;
    bottom: .37rem;
    left: 1.72rem;
}
.product_list li .product_right{
    display: inline-block;
    margin-right: 0.3rem;
    margin-bottom: 0.36rem;
    float: right;
}
.product_list li .product_right .product_detail{
    margin-top: .36rem;
}
.product_list li .product_right_prize .product_detail{
    margin-top: .3rem;
}
.product_list li .product_right_prize .prize_my_address{
    margin: 0.14rem 0 0;
}
.product_list li .product_right_prize .prize_my_address .user_add_lab{
    display:inline-block;
}
.product_list li .product_right_prize .prize_my_address .user_add{
    display: inline-block;
    width: 2.7rem;
    margin-left: 1.1rem;
    margin-top: -0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: .42rem;
}
.product_list li .product_right_prize .logistics{
    line-height: .42rem;
}
.product_list li .product_right .product_detail .product_name{
    color: #373737;
    font-size: .3rem;
    width: 3.7rem;
    height:0.82rem;
    font-weight: 600;
    border-radius: .12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: .42rem;
}
.product_list li .product_right .product_rate{
    color: #373737;
    font-size: .2rem;
    padding-top: .14rem;
}
.product_list li .product_right .product_rate .text_red{
    color: red;
}
.product_list li .product_right .product_rate .only_inviter{
    margin-left: .12rem;
}


.product_list li .product_right .prize_info{
    font-size: .2rem;
    padding: .14rem 0 .06rem;
}
.product_list li .product_right .prize_time{
    font-size: .2rem;
    padding-bottom: .14rem;
}
.product_list li .product_right .prize_code{
    font-size: .22rem;
    display: inline-block;
    margin-left: .1rem;
    float: right;
}
.product_list li .product_right .prize_code span{
    color: #ee4634;
}
.product_list li .product_right .rate_show_wrap{
    position: relative;
    width: 100px;
    height: .1rem;
    border-radius: .12rem;
    margin: .1rem 0 .12rem 0;
    background: #F3F3F3;
}
.product_list li .product_right .rate_show_wrap .rate_show{
    position: absolute;
    display: inline-block;
    height: .1rem;
    border-radius: .12rem;
    background: -webkit-linear-gradient(left, #FC7C7C, #EE4735); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FC7C7C, #EE4735); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FC7C7C, #EE4735); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FC7C7C, #EE4735); /* 标准的语法 */
}
.product_list li .product_right .product_issue{
    color: red;
    border: 1px solid #ee4634;
    height: .34rem;
    display: inline-block;
    line-height: .34rem;
    font-size: .22rem;
    text-align: center;
    border-radius: .02rem;
}
.product_list li .product_right .product_issue_now{
    margin-top: .14rem;
}
/*SnatchUserPrize页面单独样式*/
.product_list li .product_right .user_prize_issue{
    margin-top: 0.15rem;
}
.snatch_mine_body .snatch_mine_wrap .product_list a:last-child{
    margin-bottom: .2rem;
}

.product_list li .product_right .product_issue span{
    display: inline-block;
    margin: 0 .04rem;
    border-radius: .02rem;
}
.product_list li .product_right .start_snatch{
    color: #fff;
    font-size: .24rem;
    height: .54rem;
    background: #ee4634;
    line-height: .54rem;
    text-align: center;
    border: 0;
    border-radius: .06rem;
    padding: 0 .16rem;
    float: right;
    width: auto;
    display:block;
}
.snatch_footer{
    font-size: .2rem;
    color: #EE4634;
    width: 100%;
    text-align: center;
    height: .66rem;
    padding: .3rem 0;
}
.snatch_footer .third_content{
    margin-top: .1rem;
}
.snatch_footer .third_content .third_free_duty{
    color: #CECECE;
}
.snatch_footer .footer_line{
    width: .6rem;
    height: .04rem;
    background: #ee4634;
    display: inline-block;
    line-height: .28rem;
    vertical-align: middle;
}
.snatch_footer .footer_center{
    margin: 0 .22rem;
}
/* 结束 */

/* snatch_mine页面中的css样式 */
/* 开始 */
.snatch_mine_body{
    background: #F2F2F2;
}
/*头部动画*/
@keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        -moz-transform: translateX(0) translateZ(0) scaleY(1);
        -ms-transform: translateX(0) translateZ(0) scaleY(1);
        -o-transform: translateX(0) translateZ(0) scaleY(1); 
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -moz-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -ms-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -o-transform: translateX(-25%) translateZ(0) scaleY(0.55); 
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        -webkit-transform: translateX(-40%) translateZ(0) scaleY(1);
        -moz-transform: translateX(-40%) translateZ(0) scaleY(1);
        -ms-transform: translateX(-40%) translateZ(0) scaleY(1);
        -o-transform: translateX(-40%) translateZ(0) scaleY(1); 
        transform: translateX(-40%) translateZ(0) scaleY(1);
    }
}
@-webkit-keyframes move_wave{
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        -moz-transform: translateX(0) translateZ(0) scaleY(1);
        -ms-transform: translateX(0) translateZ(0) scaleY(1);
        -o-transform: translateX(0) translateZ(0) scaleY(1); 
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -moz-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -ms-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -o-transform: translateX(-25%) translateZ(0) scaleY(0.55); 
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        -webkit-transform: translateX(-40%) translateZ(0) scaleY(1);
        -moz-transform: translateX(-40%) translateZ(0) scaleY(1);
        -ms-transform: translateX(-40%) translateZ(0) scaleY(1);
        -o-transform: translateX(-40%) translateZ(0) scaleY(1); 
        transform: translateX(-40%) translateZ(0) scaleY(1);
    }
}
@-moz-keyframes move_wave{
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        -moz-transform: translateX(0) translateZ(0) scaleY(1);
        -ms-transform: translateX(0) translateZ(0) scaleY(1);
        -o-transform: translateX(0) translateZ(0) scaleY(1); 
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -moz-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -ms-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -o-transform: translateX(-25%) translateZ(0) scaleY(0.55); 
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        -webkit-transform: translateX(-40%) translateZ(0) scaleY(1);
        -moz-transform: translateX(-40%) translateZ(0) scaleY(1);
        -ms-transform: translateX(-40%) translateZ(0) scaleY(1);
        -o-transform: translateX(-40%) translateZ(0) scaleY(1); 
        transform: translateX(-40%) translateZ(0) scaleY(1);
    }
}
@-ms-keyframes move_wave{
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        -moz-transform: translateX(0) translateZ(0) scaleY(1);
        -ms-transform: translateX(0) translateZ(0) scaleY(1);
        -o-transform: translateX(0) translateZ(0) scaleY(1); 
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -moz-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -ms-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -o-transform: translateX(-25%) translateZ(0) scaleY(0.55); 
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        -webkit-transform: translateX(-40%) translateZ(0) scaleY(1);
        -moz-transform: translateX(-40%) translateZ(0) scaleY(1);
        -ms-transform: translateX(-40%) translateZ(0) scaleY(1);
        -o-transform: translateX(-40%) translateZ(0) scaleY(1); 
        transform: translateX(-40%) translateZ(0) scaleY(1);
    }
}
@keyframes move_wave{
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        -moz-transform: translateX(0) translateZ(0) scaleY(1);
        -ms-transform: translateX(0) translateZ(0) scaleY(1);
        -o-transform: translateX(0) translateZ(0) scaleY(1); 
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -moz-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -ms-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        -o-transform: translateX(-25%) translateZ(0) scaleY(0.55); 
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        -webkit-transform: translateX(-40%) translateZ(0) scaleY(1);
        -moz-transform: translateX(-40%) translateZ(0) scaleY(1);
        -ms-transform: translateX(-40%) translateZ(0) scaleY(1);
        -o-transform: translateX(-40%) translateZ(0) scaleY(1); 
        transform: translateX(-40%) translateZ(0) scaleY(1);
    }
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    height: 3rem;
    overflow-x: hidden;
    top: 0;
}
.bgBottom {
    z-index: 5;
    /* top:-0.60rem; */
}
.bgMiddle {
  /* top:-0.3rem; */
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom; 
    transform-origin: center bottom;
}
.waveMiddle {
    background-size: 14rem 4rem;
}
.waveAnimation .waveMiddle {
    -webkit-animation: move_wave 30s linear infinite alternate;
    -moz-animation: move_wave 30s linear infinite alternate;
    -ms-animation: move_wave 30s linear infinite alternate;
    -o-animation: move_wave 30s linear infinite alternate; 
    animation: move_wave 30s linear infinite alternate; 
}
.waveBottom {
    background-size: 14rem 4rem;
}
.waveAnimation .waveBottom {
    -webkit-animation: move_wave 15s linear infinite alternate;
    -moz-animation: move_wave 15s linear infinite alternate;
    -ms-animation: move_wave 15s linear infinite alternate;
    -o-animation: move_wave 15s linear infinite alternate; 
    animation: move_wave 15s linear infinite alternate; 
}


.snatch_mine_body .mine_header_wrap{
    width: 100%;
    /* height: 3.6rem; */
    height: 2.86rem;
    color: #FFF;
    background: -webkit-linear-gradient(left, #DC1A1A, #F66E4D); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #DC1A1A, #F66E4D); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #DC1A1A, #F66E4D); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #DC1A1A, #F66E4D); /* 标准的语法 */
}

.snatch_mine_body .mine_header{
    width: 100%;
    padding-top: .8rem;
}
.snatch_mine_body .mine_header .mine_chance{
    font-size: .26rem;
    text-align: center;
    /*font-weight: 100;*/
}
.snatch_mine_body .mine_header .chance_num{
    font-size: .6rem;
    text-align: center;
}
/* 结束 */

/* 我的奖品页面snatch_my_prize的css样式 */
.my_prize_null{
    text-align: center;
    color: #909090;
    font-size: .28rem;
}
.my_prize_null .null_wrap{
    padding-top: 2.9rem;
}
/* snatch_user_products页面为空时样式 */
.my_prize_null .user_pro_null_wrap{
    padding-top: 1.4rem;
}
.my_prize_null img{
    display: inline-block;
    width: 2.5rem;
    height: 2.34rem;
    
}
.my_prize_null .null_note{
    padding: .6rem 0 .1rem 0;
    font-size: .3rem;
}
.my_prize_null .null_test{
    padding-bottom: .2rem;
}

.product_list li .prize_my_info{
    padding: .08rem 0 .3rem;
    color: #ee4634;
    font-size: .26rem;
}

.prize_my_address{
    margin: .14rem 0;
    width: 3.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: .42rem;
}

/* 公用样式跳转按钮到夺宝页面 */
.prize_btn_wrap{
    margin: 0 0 .4rem;
    text-align: center;
}
.prize_btn_wrap .cli_jump_snatch_now{
    display: inline-block;
    height: .6rem;
    width: 2rem;
    border-radius: .3rem;
    line-height: .6rem;
    margin-top: .2rem;
    font-size: .3rem;
    color: #ee4634;
    border: 1px solid #ee4634;
    border-radius: .3rem;
}

/* 往期记录为空时样式 */
.list_null_wrap .list_null p{
    margin: 1.7rem 0 .2rem;
    font-size: .3rem;
    text-align: center;
    color: #ee4634;
}

/* 弹窗公用样式 */
.snatch_pop_wrap{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    -webkit-transform-origin: 0px 0px 0px;
    -webkit-transform: translateZ(2px);
    transform: translateZ(2px);
    background: rgba(0, 0, 0, .4);
}
.snatch_pop_wrap .snatch_pop{
    font-size: .32rem;
    text-align: center;
    color: #373737;
    position: fixed;
    z-index: 20;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 5.4rem;
    background: #fff;
    opacity: 1;
}
.snatch_pop_wrap .snatch_pop .pop_title{
    font-size: .34rem;
    color: #000;
    height: .92rem;
    width: 4.8rem;
    display: inline-block;
    border-bottom: 1px solid #d9d9d9;
    line-height: .92rem;
    margin-bottom: .18rem;
}
.snatch_pop_wrap .snatch_pop .pop_content p{
    padding-top: .14rem;
}
.snatch_pop_wrap .snatch_pop .pop_content .content_grey{
    color: #111;
}
.snatch_pop_wrap .snatch_pop .pop_content span{
    color: #ee4634;
}
.snatch_pop_wrap .snatch_pop .pop_btn{
    display: flex;
    height: .7rem;
    align-items: center;
    justify-content: space-evenly;
    margin: .3rem 0;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_cancle{
    height: .7rem;
    line-height: .7rem;
    width: 2.24rem;
    background: #E6E6E6;
    border-radius: .06rem;
}
.snatch_pop_wrap .snatch_pop .pop_btn .pop_confirm{
    height: .7rem;
    line-height: .7rem;
    width: 2.24rem;
    background: #ee4634;
    border-radius: .06rem;
}
.cli_more{
    display: inline-block;
    height: .4rem;
    margin: .2rem;
    /*line-height: .4rem;*/
    color: #ee4634;
    width: 2rem;
    font-size: .26rem;
    border-radius: .06rem;
    border: 1px solid #ee4634;
}
.no_more{
    display: inline-block;
    margin: .2rem;
    font-size: .3rem;
    color: gray;
}

/* 邀新优化 */
.wqjl_inviter_icon{
    width:0.88rem;
    height:0.42rem;
    position: absolute;
    bottom:0.37rem;
    left: 1.72rem;
}
.wddb_inviter_icon{
    width:0.88rem;
    height:0.42rem;
    position: absolute;
    bottom:0.4rem;
    left: 1.72rem;
}
.wdjp_inviter_icon{
    width:0.88rem;
    height:0.42rem;
    position: absolute;
    bottom:0.05rem;
    left: 1.72rem;
    z-index:1;
}
.wdjp_inviter_wrap{
    position:relative;
}