{include file="web/views/fenzhan/header.html"}
	<link href="<?php echo $this->asset->makeUrl('v1/css/newbie-help.css');?>" rel="stylesheet" type="text/css" />
    <!--banner static-->
    <div class="wrap">
        <div class="help-link">
            <span>新手指引</span> <a class="link-active" href="{$url_aboutp2p}" title="关于P2P"><em>关于P2P</em></a> <a href="{$url_product}" title="产品介绍"><em>产品介绍</em></a>
            <a href="{$url_operation}" title="操作指引"><em>操作指引</em></a>
        </div>
        <div class="help-center">
            <img class="img-tip" src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-tip-01.png');?>" />
            <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-01_wx.jpg');?>" />
        </div>
        <div class="help-center ct-top">
            <img class="img-tip" src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-tip-02.png');?>" />
            <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-02_wx.jpg');?>" />
        </div>
        <div class="help-center ct-top">
            <img class="img-tip" src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-tip-03.png');?>" />
            <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-03_wx.jpg');?>" />
            <div class="help-touzi">
                <h2>投资人数</h2>
                <h3>注册投资用户数<span>{$active_user_count}万</span></h3>
            </div>
            <div class="help-jiaoyi">
                <h2>用户总收益额</h2>
                <h3>已为用户赚了<span>{$income_sum}</span>万元</h3>
            </div>
            <div class="help-diyu">
                <h2>覆盖地域范围</h2>
                <h3>服务遍及全国</h3>
                <h3><span>{$cover_city}</span>多个城市</h3>
            </div>
            <div class="help-leiji">
                <h2>累计交易次数</h2>
                <h3>网站从开展业务到现在</h3>
                <h3>交易次数达到<span>{$deal_times}</span>万次</h3>
            </div>
        </div>
        <div class="help-footer ct-top">
            <a href="{$url_deal}" title="现在开始投资">现在开始投资</a>
        </div>
    </div>
    <!--banner end-->
    <!--content static-->
    <!--content end-->
    
   {include file="web/views/fenzhan/footer.html"}
