{include file="web/views/fenzhan/header.html"}
	<link href="<?php echo $this->asset->makeUrl('v1/css/newbie-help.css');?>" rel="stylesheet" type="text/css" />
    <!--banner static-->
    <div class="wrap">
        <div class="help-link">
            <span>新手指引</span> <a href="{$url_aboutp2p}" title="关于P2P"><em>关于P2P</em></a> <a href="{$url_product}" title="产品介绍"><em>产品介绍</em></a>
            <a class="link-active"  href="{$url_operation}" title="操作指引"><em>操作指引</em></a>
        </div>
        <div class="cz-center">
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-01.jpg');?>" />
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-02.jpg');?>" />
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-03.jpg');?>" />
             <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-03-01.jpg');?>" />
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-04.jpg');?>" />
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-05_wx.jpg');?>" />
            <img src="<?=$this->asset->makeUrl('v1/images/newbie-help/cz-06.jpg');?>" />
        </div>
        <div class="help-footer ct-top">
            <a href="{$url_deal}" title="现在开始投资">现在开始投资</a>
        </div>
    </div>
    <!--banner end-->
    <!--content static-->
    <!--content end-->
    
 {include file="web/views/fenzhan/footer.html"}