.main {
    background-color: #fff;
}
body {
    background-color: #f6f7f8;
}
.request-answer-wrap {
    padding: 60px 60px 50px;
    font-size: 14px;
}

.request-answer-tips {
    height: 66px;
    padding: 20px 40px;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    background-color: #fff2f1;
    border: 1px solid #ffc4c0;
}

.answer-btn {
    cursor: pointer;
    width: 194px;
    height: 40px;
    margin: 100px auto 12px;
    background-color: #ee4634;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}

.answer-dialog-wrapper {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}

.answer-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 620px;
    height: 484px;
    margin-left: -310px;
    margin-top: -242px;
    border: 5px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    background-color: #fff;
}

.answer-dialog-header {
    height: 57px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}

.answer-dialog-title {
    font-size: 16px;
    color: #333;
    line-height: 57px;
}

.answer-dialog-content {
    padding: 40px 0 30px 50px;
}

.answer-item-title {
    float: left;
    line-height: 33px;
    margin-right: 15px;
    color: #333;
    font-size: 14px;
}
.answer-item-content {
    float: left;
}
.user-answer-input {
    width: 447px;
    height: 118px;
    border: 1px solid #ccc;
    resize: none;
}
.answer-item {
    margin-bottom: 20px;
}
.answer-upload-btn {
    border: none;
    width: 162px;
    height: 32px;
    border-radius: 4px;
    background-color: #97a8be;
    font-size: 14px;
    color: #fff;
}
.answer-dialog-footer {
    padding-top: 40px;
    width: 519px;
    margin: 0 auto;
    border-top: 1px solid #eee;
}
.submit-btn {
    cursor: pointer;
    display: block;
    width: 294px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: #ee4634;
}
.answers-title {
    padding-left: 20px;
    line-height: 50px;
    cursor: pointer;
}
.has_new {
    color: #ee4634;
}
.answers-list {
    border-top: 1px solid #eee;
}
.answers-item {
    position: relative;
    padding: 27px 10px 28px 20px;
    border-bottom: 1px solid #eee;
}
.answers-item p {
    line-height: 40px;
}
.answers-item-request {
    width: 842px;
    color: #2ea7e0;
}
.answers-item-answer {
    color: #000;
}

/* .upload-img {
    height: 33px;
    overflow: hidden;
} */

.errorbox {
    border: none;
    color: red;
}

.ui_select_box div{
    width: 211px;
    background-position: 200px 14px;
}

.ui_select_box ul {
    width: 211px;
}

.answer-dialog-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url(../../images/icon/close.png)
}

.answer-dialog-header {
    position: relative;
    cursor: pointer;
}

.filelist, .errorbox {
    line-height: 32px;
}

.filelist {
    margin-left: 6px;
}

.answers-time {
    position: absolute;
    right: 10px;
    top: 24px;
    color: #888;
}