{include file="web/views/header.html"}
    <link href="<?php echo $this->asset->makeUrl('v1/css/newbie-help_web2.css');?>" rel="stylesheet" type="text/css" />
    <!--banner static-->
    <div class="wrap">
        <div class="help-link">
            <span>新手指引</span> <a class="link-active" href="{$url_aboutp2p}" title="关于P2P"><em>关于P2P</em></a> <a href="{$url_product}" title="产品介绍"><em>产品介绍</em></a>
            <a href="{$url_operation}" title="操作指引"><em>操作指引</em></a>
        </div>
        <div class="help-center">
            <img class="img-tip" src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-tip-01.png');?>" />
            <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-01_wx.jpg?v=20150624');?>" />
        </div>
        <div class="help-center ct-top">
            <img class="img-tip" src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-tip-02.png');?>" />
            <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/center-02_wx.jpg');?>" />
        </div>
        <div class="help-footer ct-top">
            <a href="{$url_deal}" title="现在开始投资">现在开始投资</a>
        </div>
    </div>
    <!--banner end-->
    <!--content static-->
    <!--content end-->
    
   {include file="web/views/footer.html"}
