{include file="web/views/header.html"}
    <link href="<?php echo $this->asset->makeUrl('v1/css/newbie-help_web2.css');?>" rel="stylesheet" type="text/css" />
    <!--banner static-->
    <div class="wrap m-explain">
        <div class="help-link">
            <span>新手指引</span> <a href="{$url_aboutp2p}" title="关于P2P"><em>关于P2P</em></a> <a class="link-active" href="{$url_product}" title="产品介绍"><em>产品介绍</em></a>
            <a href="{$url_operation}" title="操作指引"><em>操作指引</em></a>
        </div>
        <div class="first-list c-explain">
            <div class="exp-centent">
                <div class="exp-left">
                    <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/exp-01.jpg');?>" />
                    <p>
                        第一房贷</p>
                </div>
                <div class="exp-right">
                    <p>
                        第一房贷是中国首家专业房地产互联网金融服务平台。由香港上市公司中国信贷（HK8207）成立， 通过打造集 “互联网+金融+房地产”一体的跨界金融服务，将金融与互联网融于房地产全产业链之中，为购房者、开发商、业主提供不同类别的金融服务。</p>
                    <p>第一房贷经营团队由百度、新浪、渣打银行、平安陆金所、先锋金融等企业的一流专业人士组成，拥有国际化的房产金融服务理念及专业技术，丰富的互联网金融实践经验，行业领先的风险管控能力，及标准化的产品作业流程。</p>
                </div>
            </div>
            <div class="exp-text">
                <h2 class="exp-color m-bottom">
                    主推产品：</h2>
                <p>
                    <span class="exp-color exp-bold">友居贷： </span>是第一房贷推出的针对大中型企业主的短期贷款产品。借款方为行业优质企业实际控制人，在当地有一定知名度，且借款人及担保人名下有众多固定资产，有稳定的营业收入，借款用途明确，还款来源清晰。
由国内知名大型担保集团公司审核并担保后，直接向出借方进行借贷，双方通过网信理财网站平台的借贷协议，明确双方的债务与债权关系。网信理财向投资方（投资人）和融资方（借款人）提供投融资服务，并以抵押的房屋作为反担保措施，以帮助双方快捷、高效、安全地完成借贷行为。
                </p>
                <p>
                    <span class="exp-color  exp-bold">乐居贷：</span> 是第一房贷平台针对个人的以房产为抵押的短期借贷产品。期限一般不超过1年。第一房贷通过互联网为借款方与投资方进行资金匹配，帮助借贷双方方便快捷地完成投资借贷。
主要服务于中小微企业主用于企业的短期经营性资金需求；以及自雇人士的短期资金借贷。</p>
                <p>
                    <span class="exp-color  exp-bold">易居贷：</span> 是第一房贷打造的针对个人赎楼类借贷产品。期限一般不超过1年。主要服务于购房者在房产交易过程中短期资金借贷（如在改善性住房交易中，原有住房按揭需要提前还清的短期融资）。第一房贷通过互联网为借贷双方进行资金匹配，帮助双方方便快捷地完成投资借贷。</p>
                    
                      <p>
                    <span class="exp-color  exp-bold">安居贷：</span> “安居贷”，俗称“加成贷”，是第一房贷针对置业者购房首期款不足，而设计的借贷服务。置业者经开发商推荐后向第一房贷申请借款，通过信用审核后由第一房贷互联网平台提供线上签约融资服务，帮助置业者方便快捷地完成借贷。</p>

            </div>
        </div>
        <div class="second-list c-explain">
            <div class="exp-centent">
                <div class="exp-left">
                    <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/exp-02.jpg');?>" />
                    <p>
                        产融贷</p>
                </div>
                <div class="exp-right">
                    <p>
                      产融贷产品主要由北京汇源先锋资本控股有限公司（下称“汇源金控”）的汇赢产品以及北京先锋国泰资产管理有限公司（下称“先锋资产”）的长兴、麦金产品构成。</p>
                </div>
            </div>
            <div class="exp-text">
                <h2 class="exp-color m-bottom">
                    主推产品：</h2>
                <p>
                    <span class="exp-color  exp-bold">汇赢产品：</span> 汇源金控隶属于某大型企业集团，其着重于将产业和金融进行结合，为大型产业集团上下游、自身、员工及合作伙伴提供投融资金融服务，助推企业产业化发展。
                    已发行产品包括汇赢一号（某大型产业集团的经销商），汇赢二号（集团供应商），汇赢三号（集团自身），汇赢五号（集团合作伙伴）。另外，汇赢四号正在开发中。</p>
                <p class="sec-top">
                    <span class="exp-color  exp-bold  ">长兴、麦金产品：</span> 先锋资产隶属于某大型企业集团 ，其是集团专业从事资产管理的公司，业务涵盖专项基金管理、投资银行、信托资产管理、财务顾问、财富管理、P2P等，为企业提供综合金融服务，为机构及个人提供财富管理及专项资产管理服务。
                    已发行产品包括长兴一号001-003（某大型奢侈品集团），长兴一号004（某大型花卉企业）；麦金一号（某大型国际连锁餐饮集团）。另外，长兴一号005、006正在开发中。</p>
                <h5 class="sec-color">
                    产品通过以下风控措施来保证投资安全性：</h5>
                <p>
                    <span class="exp-bold">贷前：</span>制定并严格执行客户的准入标准；</p>
                <h6>
                    <span class="exp-bold">贷中：</span></h6>
                <p>
                    <em>1)</em>通过产业集团获取客户多方面的数据，达到信息对称；</p>
                <p>
                    <em>2)</em>对客户进行尽职调查，资料收集，并对客户进行实质性审查及专业评审。</p>
                <h6>
                    <span class="exp-bold">贷后： </span>
                </h6>
                <p>
                    <em>1)</em>对已放款项目进行定期的贷后情况追踪、对客户进行信用评级；</p>
                <p>
                    <em>2)</em>建立风险紧急预案机制，确保在到款日当天，投资本息可打入平台监管账户，并由平台按照合同约定偿付投资人。</p>
            </div>
        </div>
        <div class="three-list c-explain">
            <div class="exp-centent">
                <div class="exp-left">
                    <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/exp-03.jpg');?>" />
                    <p>
                        第一车贷</p>
                </div>
                <div class="exp-right">
                    <p>
                        上海锋之行汽车金融信息服务有限公司（简称第一车贷），是中国信贷（股票代码：08207）控股的专业汽车金融服务公司，中国汽车流通协会理事单位，致力于汽车互联网金融服务行业的开拓和探索，专注于汽车流通环节中金融产品的研发与运营，为包括新车经销商、二手车经销商、汽车物流商、汽车零配件（用品、精品）生产销售企业在内的汽车流通产业链中的各类企业及个人消费者提供综合金融解决方案。</p>
                </div>
            </div>
            <div class="exp-text">
                <h2 class="exp-color">
                    主推产品：</h2>
                <p>
                    <span class="exp-color exp-bold">车易盈： </span>“车易盈”系列产品是第一车贷平台推出的个人投融资服务。借款方均为经过严格挑选的行业内优质车辆经销商，所有借款人均经过专业的风控团队现场调查和严格审核。投融资双方通过平台直接签订借贷协议，明确双方的债权与债务关系，双方方便快捷地完成借贷。
                </p>
                <p>
                    <span class="exp-color  exp-bold">车融宝：</span>“车融宝”是第一车贷打造的短期投融资产品。借款方在15天后可提前还款，且无提前还款违约金。借款经销商被监管车辆的价值可以覆盖投资人本息的120%以上。同时由担保方公司承担担保责任，若借款方未能履行还款责任，担保方将对未偿还的本金与利息进行全额偿付。</p>
            </div>
        </div>
        <div class="four-list c-explain">
            <div class="exp-centent">
                <div class="exp-left">
                    <img src="<?php echo $this->asset->makeUrl('v1/images/newbie-help/exp-04.jpg');?>" />
                    <p>
                        新手专享</p>
                </div>
                <div class="exp-right">
                    <p>
                        专为本站首次进行投资的用户定制，属于低门槛、短期限的安全型投资产品，新手必选。</p>
                </div>
            </div>
        </div>
        <div class="help-footer exp-top">
            <a href="{$url_deal}" title="现在开始投资">现在开始投资</a>
        </div>
    </div>
    <!--banner end-->
    <!--content static-->
    <!--content end-->
    
{include file="web/views/footer.html"}