html,
body,
input,
textarea,
keygen,
select,
button {
  font: 12px "HelveticaRe", "Helvetica Neue", "Microsoft YaHei", "Arial",
    sans-serif;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.hh_header {
  width: 100%;
  height: 429px;
  background: #090808 url("../img/header.png") center;
  background-size: cover;
  overflow: hidden;
}
.hh_header .head-wrapper {
  width: 908px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.hh_header .head-wrapper .logo {
  width: 111px;
  height: 24px;
  margin-top: 22px;
}
.hh_header .head-wrapper .hh-title {
  font-size: 34px;
  line-height: 48px;
  color: #fff;
  margin-top: 72px;
}
.hh_header .head-wrapper .erweima {
  width: 124px;
  height: 124px;
  margin-top: 30px;
  float: left;
}
.hh_header .head-wrapper .down-btns {
  margin: 44px 0 0 36px;
  float: left;
}
.hh_header .head-wrapper .down-btns .btn-img {
  width: 192px;
  height: 47px;
  display: block;
  margin-bottom: 15px;
}

.down-btns {
  position: relative;
}
.down-btns .app-erCode {
  position: absolute;
  top: -40px;
  left: -208px;
  z-index: 2;
  display: none;
}

.d-b-wrapper {
  display: block;
}

.d-b-wrapper .d-b-des {
  position: absolute;
  top: 14px;
  right: -164px;
  font-size: 10px;
  color: #fff;
}

.d-b-wrapper:hover .app-erCode {
  display: block;
}

.hh_header .head-wrapper p {
  font-size: 10px;
  -webkit-transform: scale(0.83);
  font-weight: 300;
  color: #fff;
  margin-left: -3px;
  float: left;
  clear: both;
}
.hh_header .head-wrapper .large-phone {
  width: 381px;
  height: 476px;
  position: absolute;
  bottom: -132px;
  right: 0;
}

.hh_exchage-bg {
  width: 100%;
  background: #fffaf2;
}
.hh_exchage-bg .hh_exchange {
  width: 980px;
  margin: 0 auto;
}
.hh_exchage-bg .hh_exchange h3 {
  line-height: 70px;
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.hh_exchage-bg .hh_exchange h3.can-exchange {
  line-height: 28px;
  margin-top: 22px;
}
.hh_exchage-bg .hh_exchange div {
  text-align: center;
}
.hh_exchage-bg .hh_exchange div img {
  width: 910px;
}
.hh_exchage-bg .hh_exchange ul {
  height: 620px;
}
.hh_exchage-bg .hh_exchange ul li {
  width: 236px;
  height: 294px;
  margin-right: 12px;
  float: left;
  margin-top: 17px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgba(254, 211, 153, 0.4);
}
.hh_exchage-bg .hh_exchange ul li:nth-child(4n) {
  margin-right: 0;
}
.hh_exchage-bg .hh_exchange ul img {
  width: 236px;
  height: 236px;
  display: block;
}
.hh_exchage-bg .hh_exchange ul p {
  width: 100%;
  height: 57px;
  line-height: 57px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.hh_exchage-bg .hh_exchange .more {
  font-size: 15px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  padding-bottom: 18px;
}

.use-step-wrapper {
  width: 100%;
  background: #ffbd64;
}
.use-step-wrapper .use-step {
  width: 926px;
  margin: 0 auto;
  position: relative;
  height: 662px;
  padding-top: 105px;
}
.use-step-wrapper .use-step .phone {
  position: absolute;
  top: -56px;
  right: 0;
  width: 326px;
  height: 652px;
}
.use-step-wrapper .use-step li {
  color: #fff;
  height: 50px;
  width: 100%;
  margin-bottom: 57px;
  float: left;
}
.use-step-wrapper .use-step li .step-tip {
  width: 27px;
  height: 27px;
  background: url("../img/tips.png");
  background-size: 27px;
  font-size: 15px;
  color: #ffbd64;
  text-align: center;
  line-height: 27px;
  margin-top: 13px;
  margin-right: 21px;
  float: left;
}
.use-step-wrapper .use-step li .right {
  float: left;
}
.use-step-wrapper .use-step li .right-head {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}
.use-step-wrapper .use-step li .line {
  width: 113px;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.5;
}
.use-step-wrapper .use-step li .right-info {
  margin-top: 7px;
  font-size: 15px;
}
.use-step-wrapper .use-step li:nth-child(2n) .line {
  width: 57px;
}
.use-step-wrapper .use-step li:nth-child(5) .right-head {
  margin: 0px;
  height: 50px;
  line-height: 50px;
}

.video-wrapper {
  width: 100%;
  background: #fffaf2;
}
.video-wrapper .center {
  width: 878px;
  margin: 0 auto;
  padding-top: 34px;
}
.video-wrapper .center .video-demo {
  width: 878px;
  height: 497px;
  position: relative;
  border-radius: 8px;
}
.video-wrapper .center .video-demo img {
  width: 118px;
  height: 118px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.video-wrapper .center .video-demo video {
  border-radius: 8px;
}

.video-wrapper .center .video-warn {
  width: 100%;
  font-size: 19px;
  text-align: center;
  line-height: 54px;
}
.video-wrapper .center .bottom {
  width: 792px;
  height: 292px;
  margin: 0 auto;
}
.video-wrapper .center .bottom img {
  width: 265px;
  height: 292px;
  float: left;
}
.video-wrapper .center .bottom .duihua {
  width: 511px;
  height: 162px;
  background: url("../img/duihua.png");
  background-size: cover;
  float: right;
  margin-top: 40px;
}
.duihua p {
  padding: 0 50px;
}
.duihua .like {
  font-size: 19px;
  line-height: 19px;
  margin-top: 46px;
  text-align: right;
}
.duihua .like-time {
  font-size: 19px;
  text-align: right;
  margin-top: 20px;
}

.bottom-wrapper {
  width: 100%;
  background: #ffbd64;
}
.bottom-wrapper .bottom-content {
  width: 980px;
  margin: 0 auto;
  color: #fff;
}
.bottom-content .bottom-head {
  height: 187px;
  border-bottom: 1px solid #fffaf2;
}
.bottom-head img {
  width: 123px;
  height: 123px;
  margin-top: 32px;
  margin-right: 19px;
  float: left;
}
.bottom-head .right {
  float: left;
}
.bottom-head .right h3 {
  font-size: 29px;
  line-height: 29px;
  font-weight: 400;
  margin-top: 57px;
}
.bottom-head .right p {
  font-size: 15px;
  margin-top: 23px;
}

.bottom-content .faq-wrapper {
  padding-bottom: 51px;
}
.faq-wrapper h3 {
  font-size: 19px;
  line-height: 19px;
  color: #ffedcf;
  margin-top: 26px;
}
.faq-wrapper .faq-head {
  font-size: 15px;
  line-height: 45px;
  color: #feecce;
  margin-top: 10px;
}
.faq-wrapper .faq-item {
  padding: 0 17px;
  color: #ffffff;
}
.faq-wrapper .faq-item .faq-q {
  height: 34px;
  font-size: 14px;
  line-height: 34px;
}
.faq-wrapper .faq-item .faq-a {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 0 10px;
  display: none;
}
.faq-wrapper div.faq-item:hover {
  background: rgba(255, 203, 128, 0.6);
}
.faq-wrapper .activity .faq-a {
  display: block;
}
.icp {
  background: #fff;
  padding: 14px 0;
  color: #999;
  text-align: center;
}
.allRights {
  margin-bottom: 5px;
}
.icp .icp-link {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}
.icp .icp-link:hover {
  text-decoration: none;
  color: #e55;
}
.mask{
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.popup{
  width: 50%;
  padding-bottom: 20px;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 4px; 
}
.popup h2{
  font-size:25px;
  line-height: 80px;
  text-align: center;
}
.popup h2 img{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
}
.popup p{
  padding: 0 40px 20px;
  text-indent: 2em;
  font-size: 17px;
  line-height: 35px;
}
