@charset "utf-8";
.discount_box{text-align: center;}
.user_info{
    width:auto;
    border-radius: 25px;
    opacity: 0.8;
    background: #fff;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.user_info2{
    height: 30px;
}
.user_info .left{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    background: #fff;
    float: left;
}
.user_info .left img{width: 100%;height: 100%;}
.user_info .right{
    line-height: 25px;
    color:#000;
    font-size: 15px;
    text-align: left;
    float: left;
    margin-right: 25px;
    margin-left:10px;
}

.user_info2{
    width:150px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
}
.update_phone{
    margin-left: 10px;
    color:#fa4f47;
}

.user_info .right .user_name{
    max-width: 150px;
    height: 25px;
    color:#000;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap;
}
.import{
    margin-bottom: 15px;
    border:1px #bbb solid;
    border-radius: 5px;
    height: 50px;
    display: -webkit-box;
}
.import input{
    border: none;
    height: 50px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    -webkit-box-flex:1;
}
.import .yz_img{
    margin: 4px 0px;
    line-height: 50px;
    width: 112px;
    border-left: 1px #bbb solid;
    display: block;
    text-align: center;
}
.import .yz_img img{
    vertical-align: -11px;
}
.pick_but{
    margin-bottom: 20px;
}
.pick_but input{
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    background: #fa4f47;
    color: #fff;
    font-size: 19px;
    width: 100%;
    text-align: center;
}
.pick_but input.no-change{ background:#ccc; color:#fff;-webkit-appearance:none; opacity:1;}
.dialog{
    position: fixed;
    width: 100%;
    height:100%;
    top:0px;
    left:0px;
}
.dialog .mask{
    width:100%;
    height:100%;
    z-index: 399;
    opacity: 0.5;
    background:#000;

}
.dialog_detail{
    background: #FCFCFC 80%;
    border-radius: 12px;
    margin: 0 auto;
    width: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -135px;
    margin-top: -70px;
    z-index: 999;
    text-align: center;
    padding: 18px 0;
}
.dialog_detail p{
    font-size: 16px;
    height:30px;
    line-height: 30px;
}
.dialog_detail .closeBtn{
    width:50%;
    margin:0 auto;
    border:1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
.dialog_detail .closeBtn a{
    color:#FB6F69;

}
.hide{
    display: none;
}
.marginBottom0{
    margin-bottom: 0;
}
.discount_no_icon2{
    position: relative;
    background: url(../../images/discount_pick/discount_no_new.png) no-repeat center 7px;background-size:100%;
}
.discount_no_icon2 .tips{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    font-size: 25px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;/* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items:center;
    color:#FB6F69;
}

.none{ display: none;}
.color-white{ color:#fff;}