// 秒杀商品列表页
.from-seckill {
  .icon,
  .num {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .icon {
    color: #8a2222;
    line-height: 16px;
    margin: 0 3px;
  }
  .num {
    width: 18px;
    height: 16px;
    background: #8a2222;
    border-radius: 2px;

    text-align: center;
    color: #fff;
  }
}

// 秒杀商品详情页
.from-product {
  span {
    display: inline-block;
    .sc(11px, #f9f9f9);
    font-weight: bold;
    line-height: 21px;
    text-align: center;
  }
  .num {
    width: 21px;
    height: 21px;
    background: rgba(138, 34, 34, 0.5);
    border-radius: 50%;
  }
}

// 首页秒杀推荐样式
.from-home {
}

// 我的竞拍 列表倒计时
.c2b-list-countdown {
  .num {
    display: inline-block;
    text-align: center;
    width: 18px;
    height: 16px;
    background: rgba(138, 34, 34, 0.15);
    border-radius: 2px;
    font-size: 12px;
    line-height: 17px;
    color: #772508;
  }
  .icon {
    display: inline-block;
    text-align: center;
    width: 6px;
    height: 17px;
    font-size: 12px;
    color: rgba(138, 34, 34, 1);
    line-height: 17px;
  }
}

// 竞拍商品列表页
.auciton-list-count-down {
  font-size: 12px;
  .icon {
    margin-top: -1px;
  }
}

// 竞拍商品详情页
.auciton-count-down {
  .num {
    display: inline-block;
    text-align: center;
    min-width: 21px;
    height: 21px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 11px;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 4px;
  }
  .icon {
    line-height: 1;
    margin: 0 3px;
    color: #ffffff;
  }
}
