*{margin:0; padding:0;}
.applaycompany_table{width:1098px; background-color:#fff; margin:58px auto 114px; line-height:30px;}
.applaycompany_table .head{text-align:center; font-size:26px; padding:60px 0 20px; background:url(../images/user/applycommpany_table_tit.png) no-repeat 8% 76%; background-size:10%;}
.applaycompany_table .table{margin:0 39px; padding-bottom:35px; background:url(../images/user/applycompany_bg.png) no-repeat center;}
.applaycompany_table .table table{width:100%; text-align:center;}
.applaycompany_table .table table tr{border:1px solid}
.applaycompany_table .table table tr td{border:1px solid}
.applaycompany_table .table .td1{width:223px;}
.applaycompany_table .table .td2{width:273px;}
.applaycompany_table .table .td3{width:223px;}
.applaycompany_table .table .td4{width:273px;}
.applaycompany_table .bgcolor{background-color:#dedede; text-align:left; padding-left:12px;}
.applaycompany_table .account_type ul li{float:left; padding-left:40px;}
.applaycompany_table .inset_table{text-align:left!important;}
.applaycompany_table .inset_table_txt ul{padding: 0 82px 0px 20px;}
.applaycompany_table .inset_td1{width:160px;}
.applaycompany_table .inset_td4{width:238px;}
.applaycompany_table .inset_td3{width:269px;}
.applaycompany_table .inset_td2{width:275px;}
.applaycompany_table .inset_table table{width:870px; margin:0 auto;}
.applaycompany_table .inset_table_tit{padding-left:25px;}
.applaycompany_table .sign table{width:auto; float:right; border:0!important;}
.applaycompany_table .sign table tr{border:0; text-align:left;}
.applaycompany_table .sign table tr td{border:0;}
.applaycompany_table .sign table .sign_td2{width:200px;}
.applaycompany_table .txt_alaign{text-align:left;}
.applaycompany_table .line_height{line-height:20px;}
.applaycompany_table .padding{padding:9px;}
.applaycompany_table .table_2{margin-top:20px;}
.applaycompany_table .table_2_icon{float:right; padding-right:10px;}
.applaycompany_table .fl{float:left; line-height:40px;}
.applaycompany_table .fr{float:right; padding-right:50px; line-height:40px; word-spacing:20px;}
.applaycompany_table .submit{text-align:center;}
.applaycompany_table .submit a{border:1px solid #ef4534; font-size:16px; border-radius:3px; width:293px; display:inline-block; line-height:40px; margin-bottom:44px;}
.applaycompany_table .submit .a1{background-color:#ef4534; color:#fff; margin-right:32px;}
.applaycompany_table .submit .a2{color:#ef4534;}
.applaycompany_table .checkbox{background:url(../images/oauth/checkbox.png) no-repeat 5px 12px; cursor:pointer;}
.applaycompany_table .account_type ul li{background:url(../images/oauth/checkbox.png) no-repeat 9px 4px; cursor:pointer;}

