@charset "utf-8";

/* CSS Document */

/* 
*this contains a reset, font normalization and some base styles.
**html-5-reset-stylesheet
*/

/* ==|== CSS RESET======================= */

/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
body{color:#333;font:14px/24px Arial,"Microsoft YaHei";background:#FFF;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#f65938;text-decoration:none;}
input{border:none;outline:none;background-color:transparent;}
.yellow,.yellow:hover{color: #f2ad08;}
/*registor*/
.common-sprite{background-image:url(../images/landing/icon-common.png);background-repeat:no-repeat;}
.log-form{background:#FFF}
.log-form .txt-input{width:99.8%;text-indent:50px;border:1px solid #d8d8d8;border-radius:5px;height:24px;line-height:24px;padding:8px 0;font-size:16px;color:#333;}
.log-form input[disabled]{color:#aca899;background-color:#F5F5F5;}
.log-form .log-item{position:relative;}
.log-form .log-item .check{vertical-align:-2px;margin-right:5px;}
.log-form .mobile{width:16px;height:27px;background-position:-157px -94px;position:absolute;left:15px;top:7px}
.log-form .pwd{width:26px;height:26px;background-position:-106px -93px;position:absolute;left:15px;top:7px}
.log-form .pwd-show , .log-form .pwd-hide{width:28px;height:16px;background-position:-53px -100px;position:absolute;right:20px;top:12px;*top:13px}
.log-form .pwd-hide{background-position:-289px -103px;}
.log-form .item-veri .txt-input,.log-form .item-veri .img-Veri,.log-form .item-veri .refresh{float:left}
.log-form .item-veri .txt-input{width:165px;}
.log-form .item-veri .veri-icon{width:24px;height:22px;position:absolute;left:15px;top:11px;background-position:-197px -97px;}
.log-form .item-veri .img-Veri{width:104px;height:40px;border:1px solid #ccc;margin:0 0 0 15px;}
.log-form .item-veri .img-Veri img{width:100%;height:100%;overflow:hidden;}
.log-form .item-veri .refresh{width:42px;height:42px;background-position:0 -87px;margin-left:15px}
.log-form .btn-sub{width:100%;height:42px;line-height:42px;text-align:center;color:#FFF;font-size:16px;cursor:pointer;background:#f65c3a;border-radius:3px;}
.n-right .msg-wrap{margin-left:0}
.n-error .n-icon{display:none}
.msg-div{text-align:left;height:18px;padding-top:5px;padding-bottom:10px;}
.msg-div .n-msg{line-height:18px;}
.n-default .n-left,.n-default .n-right{margin-top:0}

/*填写短信验证码弹窗*/
.dialog-mask{width: 100% !important;}
.ui_send_msg{width:100%!important;height:100%!important;top:0 !important;}
.ui_send_msg .dialog-header{border: none !important}
.ui_send_msg .dialog-ok,.ui_send_msg .dialog-ok:hover,.ui_send_msg .dialog-ok:active{width:100%;height:42px;line-height:42px;text-align:center;color:#FFF;font-size:16px;cursor:pointer;background:#f65c3a;border-radius:3px;}
.ui_send_msg .error-box{width:100%;min-height:30px;margin-bottom:7px}
.ui_send_msg .error-box .error-wrap{min-width:146px;display:inline-block;*zoom:1;*display:inline;color:#cc1223;font-size:14px;background:#feefef;border:1px solid #fe9898;line-height:17px;padding:5px 15px;position:relative;}
.ui_send_msg .ipt-txt{background:#FFFFFF;border:1px solid #bababa;color:#4f4e4e;float:left;height:32px;line-height:32px;padding:1px 13px;font-size:14px;}
.ui_send_msg .ipt-txt:focus{color:#4f4e4e}
.ui_send_msg .dialog-content{padding:10px 0;text-align:left;height: auto !important}
.ui_send_msg .wee-send .send-input{position:relative;}
.ui_send_msg .wee-send .send-input p{padding-bottom:7px;}
.ui_send_msg .btn-blue-h34,.ui_send_msg .btn-blue-h34:hover,.ui_send_msg .btn-blue-h34:active,.ui_send_msg .btn-gray-h34,.btn-gray-h34:hover,.btn-gray-h34:active{background-image:url(../images/user/reg_sprite.png);background-repeat:no-repeat;display:inline-block;}
.ui_send_msg .btn-blue-h34,.ui_send_msg  .btn-gray-h34{margin-left:10px;color:#ffffff;width:147px;text-align:center;height:34px;line-height:34px;font-size:14px;background-color:transparent;border:none;}
.ui_send_msg .btn-blue-h34{background-position:0 -210px;}
.ui_send_msg .btn-blue-h34:hover{background-position:-168px -210px;}
.ui_send_msg .btn-blue-h34:active{background-position:-334px -210px;}
.ui_send_msg .btn-gray-h34,.ui_send_msg .btn-gray-h34:hover,.ui_send_msg .btn-gray-h34:active{background-position:0 0;}
.ui_send_msg .err-shadow{border-color:#ff5c5a;box-shadow:1px 0px 2px rgba(255,178,178,1),-1px 0px 2px rgba(255,178,178,1),0px 1px 2px rgba(255,178,178,1),0px -1px 2px rgba(255,178,178,1);}
.ui_send_msg .err-shadow:focus{border-color:#3aa3fb;box-shadow:1px 0px 2px rgba(183,221,253,1),-1px 0px 2px rgba(183,221,253,1),0px 1px 2px rgba(183,221,253,1),0px -1px 2px rgba(183,221,253,1);}
.ui_send_msg .dialog-button{padding:30px 0 45px;}
.ui_send_msg .error-box .error-wrap{display:block;}
.ui_send_msg .error-box .error-wrap .e-text{width:auto}

/*表单验证公共样式*/
input[type="password"]:focus,input[type="text"]:focus{border-color:#32a0fe;box-shadow:1px 0px 2px rgba(183,221,253,1),-1px 0px 2px rgba(183,221,253,1),0px 1px 2px rgba(183,221,253,1),0px -1px 2px rgba(183,221,253,1);}
.n-invalid,input[type="password"].n-invalid:focus,input[type="password"].n-invalid:focus{border-color:#ff5c5a!important;box-shadow:1px 0px 2px rgba(255,178,178,1),-1px 0px 2px rgba(255,178,178,1),0px 1px 2px rgba(255,178,178,1),0px -1px 2px rgba(255,178,178,1)!important;}
#agree.n-invalid{box-shadow:none!important;}
.n-ok .n-icon,.n-loading .n-icon{display:none;}
.MsoNormal {text-align:center;}
.MsoNormal span {font-size:12.0pt;line-height:150%;}
table.MsoTableGrid {border-collapse:collapse;border:none;}
table.MsoTableGrid td {border:solid windowtext 1.0pt;border-color: #333}