@charset "utf-8";
.p_account_setnewpwd input[type="password"]:focus, .p_account_setnewpwd input[type="text"]:focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1);}
.p_account_setnewpwd .n-invalid:focus { border-color: #32a0fe !important; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1) !important;}
.p_account_setnewpwd .pwd-mid {padding: 95px 0 145px;}
.p_account_setnewpwd .ui-form .color-gray2 {color: #4f4e4e;display:none;}
.p_account_setnewpwd .ui-form .safety-degree {line-height: 36px;margin-left: 12px;}
.p_account_setnewpwd .msg-box .n-ok {display:none;}
.p_account_setnewpwd .ui-form .txt{*margin-left: -35px}
.p_account_setnewpwd .msg-box .n-error ,.p_account_setnewpwd .msg-box .n-loading{margin-left: 20px;margin-top: 7px;}
.p_account_setnewpwd .ui-form .z_index19{*z-index: 19}

.wrap{width: 825px;}
.ui-box .r-title h2 {font-size: 27px;text-align: center;padding-top: 80px;}
.blank23 {height: 60px;}
.font_24{font-size: 24px;}
.ui-form li{margin-bottom: 0px;padding:0;}
.ui-form ul{margin-left: 126px;}
.ui-form li label{font-size: 14px;height: 44px;line-height: 44px;}
.ui-form .txt{height: 44px;line-height: 44px;box-shadow: none;border-radius: 4px;padding:0;padding-left: 15px;width: 320px;margin-bottom: 20px;}
.ui-form .btn-w30 {padding-left: 243px;padding-top: 20px;}
.btn-w30 .btn-sub {background: #ef4534;width: 337px;height: 40px;line-height: 40px;border-radius: 4px;font-size: 16px;}
.btn-w30 .btn-sub:hover{background: #ff5f4e;}
.btn-w30 .btn-sub:active{background: #e7402e;}
.company_pwd{margin-top: 40px;text-align: center;}
.company_pwd a{color: #2ea7e0;}

.ui-form .er-icon, .ui-form .error-wrap{margin-top: 8px;max-width: 200px!important;}
.ui-form .pass-item-tip-password{left: 455px;top: 9px;}
.ui-form .pass-item-tip-password .pwd-checklist{border:none;background:#fff;width: 140px;}
.ui-form .pass-item-tip-password .safety-level span.process{width: 35px;height: 15px;text-align: center;line-height: 15px;font-size: 12px;color: #fff;margin-right: 3px;background: #dcdcdc;}
.ui-form .pass-item-tip-password .safety-level span.low{background: #f14335;}
.ui-form .pass-item-tip-password .safety-level span.middle{background: #fba352;}
.ui-form .pass-item-tip-password .safety-level span.high{background: #6ab225;}
.msg-box{max-width: 242px!important;position: absolute;left: 455px;}