.p_account_coupon{
    background-color: #fff;
    padding: 0px 40px 0px 40px;
}
.p_account_coupon .account_user_title{
    padding: 34px 0px 0px 0px;
}
.p_account_coupon .account_user_title h1{
    height: 30px;
    line-height: 30px;
}
.p_account_coupon .account_user_title .titleSpan{
    font-size:18px;
    font-weight:bold;
}
.p_account_coupon .account_user_title .ico_yaoqing{
    height: 18px;
    width:3px;
    float: left;
    background-color: #ee4634;
    margin-top:6px;
    margin-right:7px;
}
.p_account_coupon .bannerBox{
    margin-top:34px;
}
.p_account_coupon .bannerBox img{
    display: block;
    width:100%;
    height: 180px;
}
.p_account_coupon .bannerBox .contBox{
    padding: 18px 0px;
    background-color: #F6F7FB;
}
.p_account_coupon .bannerBox .contBox .item{
    width:272px;
    float:left;
    height: 70px;
    text-align: center;
}
.p_account_coupon .bannerBox .contBox .item.mid{
    border-left:1px dashed #CCCCCC;
    border-right:1px dashed #CCCCCC;
    margin:0px 1px 0px 1px;
}
.p_account_coupon .bannerBox .contBox .item .title{
    font-size:16px;
    height: 35px;
    line-height: 35px;
}
.p_account_coupon .bannerBox .contBox .item .text{
    font-size:24px;
    color: #ee4634;
    height: 35px;
    line-height: 35px;
}
.p_account_coupon .myinvite{
    padding: 30px 0px 20px 30px;
    height: 35px;
    line-height: 35px;
}
.p_account_coupon .myinvite .ftP{float: left;}
.p_account_coupon .myinvite .ftP .text{
    font-size:24px;
    color: #333333;
}
.p_account_coupon .myinvite .ftP .code{
    font-size:30px;
    color: #ee4634;
    font-weight: bold;
}
.p_account_coupon .myinvite .scP{
    font-size:16px;
    height: 30px;
    line-height: 30px;
    margin-top:4px;
    float: left;
}
.p_account_coupon .myinvite .scP span{
    color: #ee4634;
    font-weight: bold;
    padding-left:5px;
}
.p_account_coupon .myinvite .scP a{
    font-size:14px;
    color: #2ea7e0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    margin-top:5px;
    padding-left:25px;
    background:url("../images/account/flsm.png") 0px 0px no-repeat;
    margin-left:12px;
}
.p_account_coupon .inviteWay{
    background-color: #fff2f1;
    padding: 25px 0px 30px 20px;
    position: relative;
}
.p_account_coupon .inviteWay .title{
    font-size:16px;
}
.p_account_coupon .inviteWay .infor{
    font-size:13px;
    color: #888888;
    margin-top:6px;
    margin-bottom:17px;
}
.p_account_coupon .inviteWay .inviteUrl span{
    font-size:24px;
    max-width: 600px;
    word-break: break-all;
    line-height: 40px;
}

.p_account_coupon .inviteWay .inviteUrl #inputHidden{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}
.p_account_coupon .inviteWay .inviteUrl .copy-link{
    width:102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color: #ffffff;
    background: #ee4634;
    border-radius:5px;
    margin-left:20px;
}
.p_account_coupon .inviteWay .shareTo{
    height: 38px;
    line-height: 38px;
    margin-top:26px;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico{
    width:38px !important;
    height: 38px !important;
    padding: 0px !important;
    background:url("../images/account/shareTo.png") no-repeat !important;
    margin-right:15px;
}
.p_account_coupon .inviteWay .shareTo #share32{
    width:38px !important;
    height: 38px !important;
}
.p_account_coupon .inviteWay .shareTo #share32 .bds_qrcode{
    background:url("../images/account/shareTo.png") no-repeat !important;
    background-position: 0px 0px !important;
    width:38px !important;
    height: 38px !important;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico_tsina{
    background-position: 0px -38px !important;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico_qzone{
    background-position: 0px -76px !important;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico_renren{
    background-position: 0px -114px !important;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico_tqq{
    background-position: 0px -152px !important;
}
.p_account_coupon .inviteWay .shareTo .jiathis_style_32x32 .jtico_cqq{
    background-position: 0px -190px !important;
}
.p_account_coupon .tabBox{
    margin-top:30px;
}
.p_account_coupon .tabTitle li{
    float:left;
    width:102px;
    text-align: center;
    font-size:16px;
    border-left:1px solid #fcfcfc;
    border-right:1px solid #fcfcfc;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    position: relative;
}
.p_account_coupon .tabTitle li:first-child{
    border-left:1px solid #eeeeee;
}
.p_account_coupon .tabTitle li.active{
    color: #ee4634;
    font-weight: bold;
    background-color: #fff;
    border-color: #eeeeee;
}
.p_account_coupon .tabTitle li.active::before{
    position: absolute;
    content: "";
    left:-1px;
    top:-1px;
    right: -1px;
    height: 2px;
    background-color: #ee4634;
}
.p_account_coupon .tabTitle{
    border:1px solid #eeeeee;
    border-left:none;
    background-color: #fcfcfc;
}
.p_account_coupon .tabCont .item{
    display: none;
}
.p_account_coupon .item:first-child{
    display: block;
}
.p_account_coupon .gridWrap{
    border:1px solid #eeeeee;
    border-top:none;
}
.p_account_coupon .tabCont{
    padding-bottom:75px;
}
.p_account_coupon .tabCont table{
    text-align: center;
    width:100%;
}
.p_account_coupon .tabCont table tr.inviteAwardTr td .dataTr{
    padding-bottom: 20px;
}
.p_account_coupon .tabCont table tr.odd td{
    background-color: #f6f7fb;
}
.p_account_coupon .tabCont thead td{
    height: 42px;
    color: #a5a5a5;
    font-size:13px;
}
.p_account_coupon .tabCont tr td:first-child{
    padding-left:20px;
    text-align: left;
}
.p_account_coupon .tabCont .frListTable tbody td{
    height: 95px;
}
.p_account_coupon .tabCont .frListTable .sc{
    padding-right:150px;
}
.p_account_coupon .pagination{
    margin-top:30px;
}
.p_account_coupon .pageBox{
    font-size:0px;
    text-align: center;
    margin-top:30px;
}
.p_account_coupon .pageBox>*{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size:14px;
}
.p_account_coupon .pageBox a{
    border:1px solid #e7e7e7;
    margin-left:6px;
}
.p_account_coupon .pageBox a:first-child{
    margin-left:0px;
}
.p_account_coupon .pageBox a.page{
    padding: 0px 10px;
    min-width: 16px;
}
.p_account_coupon .pageBox a.index,
.p_account_coupon .pageBox a.pre,
.p_account_coupon .pageBox a.next,
.p_account_coupon .pageBox a.last{
    width:74px;
}
.p_account_coupon .pageBox span{
    color: #cccccc;
}
.p_account_coupon .pageBox span.total{
    margin-left:15px;
}
.p_account_coupon .pageBox span.more{
    margin:0px 13px 0px 19px;
}
.p_account_coupon .searchBox{
    padding: 30px 0px 30px 20px;
    background-color: #fcfcfc;
    border-bottom:1px solid #eee;
}
.p_account_coupon .searchBox .searchInput{
    height: 38px;
    line-height: 38px;
    padding: 0px 10px;
    width:230px;
    border:1px solid #cccccc;
    border-radius:5px;
}
.p_account_coupon .searchBox .searchBtn{
    width:92px;
    background-color: #ee4634;
    font-size:14px;
    color: #ffffff;
    height: 40px;
    border:none;
    border-radius:5px;
    margin-left:20px;
}
.p_account_coupon .searchBox .errorTip{
    margin-left:20px;
    line-height: 40px;
    height: 40px;
    display: none;
}
.p_account_coupon .searchBox .historyInviteAward{display: block;float: right;margin-right: 68px;color: #6a6969;font-size: 16px;}
.p_account_coupon .searchBox .historyInviteAward i{background: url("../images/account/invite_award.jpg") no-repeat; display: inline-block;width: 12px;height: 12px;background-size: 100% 100%;margin-left: 3px;}

.p_account_coupon .scListTable{
    vertical-align: middle;
}
.p_account_coupon .scListTable p{
    line-height: 24px;
}
.p_account_coupon .scListTable .dataTr,
.p_account_coupon .scListTable .dataTr02{
    padding-top:20px;
}
.p_account_coupon .scListTable .dataTr02 span{
    color: #ee4634;
    margin:0px 3px;
}
.p_account_coupon .scListTable .dataTr02{
    line-height: 48px;
}
.p_account_coupon .scListTable .textTr{
    padding: 20px 0px 30px 0px;
    color: #888888;
}
.p_account_coupon .user-nocont {
    padding: 126px 30px 129px;
}
.p_account_coupon_top_advLink:hover {
    color: #da3715;
}
.weedialog.fl-list-box .dialog-content {
    padding: 17px 30px 30px
}
.weedialog.fl-list-box .yqjilu thead td, .weedialog.fl-list-box .yqjilu thead th {
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    padding: 10px 15px 10px;
    font-size: 14px;
    color: #999999;
    text-align: left;
    vertical-align: middle;
}
.weedialog.fl-list-box .yqjilu th,
.weedialog.fl-list-box .yqjilu td{
    padding-left:15px;
}
.p_account_coupon .no_record {
    padding: 84px 0;
    text-align: center;
}
.p_account_coupon .no_record i {
    width: 24px;
    height: 32px;
    background: url(../images/user/wujilu.jpg) no-repeat;
    vertical-align: middle;
    display: inline-block;
}
.p_account_coupon .no_record span {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    color: #bdbdbd
}
.p_account_coupon .color-blue {
    color: #0088cc;
    text-decoration: underline;
}
.p_account_coupon .color-gray {
    color: #5c585a
}
.p_account_coupon .busInfor{
    font-size:14px;
    text-align: center;
    color: #888888;
    padding-bottom:27px;
}

/* 历史邀请奖励页面样式 */
.p_account_coupon .invited_award_title{font-size: 18px;line-height:20px;color:#4b4a4b;}
.p_account_coupon .p_invited_award .gridWrap{border-top: 1px solid #eeeeee;}
/* end */


/* 奖励规则弹窗样式 */
.weedialog.fl-list-box{max-height: 550px!important;overflow-y: auto!important;}