.p_account_loan .sel_time{font-size:15px;color:#a6a6a6;float:left;line-height:37px;padding-left:50px}
.p_account_loan .time_box{height:34px;width:103px;padding-left:15px;font-size:14px;-moz-box-shadow:0 -6px 11px #f4f4f4 inset;-webkit-box-shadow:0 -6px 11px #f4f4f4 inset;box-shadow:0 -6px 11px #f4f4f4 inset;margin-left:10px;border:solid 1px #bababa;vertical-align:middle;line-height:28px}
.p_account_loan .button_shaixian{background:url(../images/common/icon_bg.png) no-repeat -322px -1px;width:106px;height:38px;border:none 0;padding:0 15px;line-height:29px;color:#fff;border-radius:2px;font-size:16px;margin-top:1px}
.p_account_loan .button_shaixian:hover{background:url(../images/common/icon_bg.png) no-repeat -435px -1px}
.p_account_loan .button_shaixian:active{background:url(../images/common/icon_bg.png) no-repeat -548px -1px}
.p_account_loan .pro_detailed{padding-bottom:0;border:none;box-shadow:none;margin-top:-1px;border-top:1px solid #e3e3e3;background:#fff;clear:both;padding:1px 30px 30px}
.p_account_loan .pro_detailed .sub_title{width:100%;clear:both}
.p_account_loan .u_zijin{border-top:none}
.p_account_loan .u_zijin .plan td,.p_account_loan .u_zijin .plan th{color:#4f4e4e}
.p_account_loan .u_zijin .pro_detailed{padding-bottom:0}
.p_account_loan .u_zijin .pro_detailed .zj_tab{margin-top:10px}
.p_account_loan .u_zijin .pro_detailed .zj_tab th{color:#a6a6a6;padding-bottom:10px}
.p_account_loan .plan td,.p_account_loan .plan th{text-align:center;padding:15px 5px;font-size:14px;color:#808080}
.p_account_loan .plan th{border-bottom:#e5e5e5 solid 1px;color:#a6a6a6}
.p_account_loan .pro_detailed .pages{text-align:center;padding-bottom:0}
