.p_account_pwprotect .pwp-mid { padding: 40px 0; min-height: 403px; height: auto !important; height: 403px; }
.p_account_pwprotect .pwp-mid .pwp-title { background-image: url(../images/account/account_pwp.png); background-repeat: no-repeat; width: 941px; height: 61px; margin: 0  auto; }
.p_account_pwprotect .pwp-mid .first-tep { background-position: 0 0 }
.p_account_pwprotect .pwp-mid .second-tep { background-position: 0 -86px; }
.p_account_pwprotect .pwp-mid .third-tep { background-position: 0 -179px; }
.p_account_pwprotect .ui-form .total-error { margin-bottom: 28px; width: 913px; text-align: center; }
.p_account_pwprotect .ui-form { margin-top: 28px; }
.p_account_pwprotect .ui-form .txt{*margin-left: -197px;}
.p_account_pwprotect .ui-form .pwp-que { color: #4f4e4e; font-size: 16px; display: block; float: left; height: 36px; line-height: 36px; }
.p_account_pwprotect .mb170 { padding-bottom: 170px; }
.p_account_pwprotect .ui-box .r-menu { float: right; font-size: 14px; margin-right: 15px; }
.p_account_pwprotect .pwp_select { position: absolute; top: 38px; left: 118px; z-index: 999; border: 1px solid #bababa; background: #fff; width: 288px; border-top: none; }
.p_account_pwprotect .pwp_select ul.select_ul { margin-left: 0 }
.p_account_pwprotect .pwp_select ul.select_ul li { padding: 0; margin: 0; height: 36px; line-height: 36px; margin: 2px 0; padding: 0 13px; }
.p_account_pwprotect .pwp_select ul.select_ul li:hover { background: #f3f3f3 }
.p_account_pwprotect .pwp_select ul.select_ul li:first-child:hover { background: none }
.p_account_pwprotect .pwp_select ul.select_ul .tj { color: #999999 }
.p_account_pwprotect .zindex{z-index: 997}
.p_account_pwprotect .btn-w30 a.btn-gray-h46-w129{text-decoration: none;cursor: pointer;}

/*操作成功*/
.p_account_pwprotect .ui-edit-mid { text-align: center; padding-top: 100px; }
.p_account_pwprotect .ui-edit-mid .font24 { font-size: 24px; }
.p_account_pwprotect .ui-edit-mid .font16 { font-size: 16px; }
.p_account_pwprotect .ui-edit-mid .edit-success { height: 43px; line-height: 43px; margin-bottom: 35px; }
.p_account_pwprotect .ui-edit-mid .icon-suc { width: 43px; height: 43px; background: url(../images/common/btn_icon_2.png) 0 -57px no-repeat; display: inline-block; vertical-align: -14px; margin-right: 15px; }
.dialog-content .tc {font-size:16px;}