.p_account_charge .user_tip{border-top:0;border-bottom:1px solid #e5e5e5;padding:20px 45px 18px}
.p_account_charge .user_tip p{font-size:14px;padding-bottom:3px}
.p_account_charge .user_tip p strong{font-weight:normal}
.p_account_charge .u_txtip{width:792px;margin:22px 45px 30px;line-height:20px;padding:10px 17px;background:#fff9f2;border:1px solid #ffb5a6}
.p_account_charge .sub_title{width:827px;font-size:20px}
.p_account_charge .sub_title span{padding-top:3px;display:inline-block}
.p_account_charge .user_button:hover{background-position:-3px -166px}
.p_account_charge .user_button:active{background-position:-3px -224px}
.p_account_charge .ico_asterisk{width:0!important}
.p_account_charge .take .color-yellow1{color:#1f1f1f}
.p_account_charge .color-yellow2{color:#f75938}
.p_account_charge .pb37{padding-bottom:37px}
.p_account_charge .bank-tip{width:auto;display:inline-block;margin:38px 45px 7px;background:#fff9f2;border:1px solid #ffb5a6;color:#505050;height:38px;line-height:38px;border-radius:5px;font-size:14px;padding:0 20px}
.p_account_charge .charge_btn{padding:10px 60px 37px}
.p_account_charge .charge_tip{border-top:1px solid #e5e5e5;color:#505050;padding:24px 54px 22px;border-bottom:none}
.p_account_charge .take .user_name{height:37px;line-height:37px;width:188px;margin-right:10px;padding-left:5px;border:1px solid #bababa}
.p_account_charge .take{width:845px;border-bottom:none;padding-bottom:20px;margin:0 auto}
.p_account_charge .take dl{font-size:14px;padding-top:10px;position:relative;line-height:30px}
.p_account_charge .take dl dt{width:95px;float:left;text-align:right;padding-right:10px;color:#a5a5a5}
.p_account_charge .take dl dd{width:595px;float:left}
.p_account_charge .take table{width:668px;margin:0 auto;font-size:14px;text-align:center;border:1px #e1e1e1 solid;border-collapse:collapse}
.p_account_charge .take table td,.p_account_charge .take table th{padding:10px;border:1px #e1e1e1 solid;border-collapse:collapse;color:#7d7d7d}
.p_account_charge .take table th{background:#f9f9f9;color:#a5a5a5;border:1px #e1e1e1 solid;border-collapse:collapse;text-align:center}
.p_account_charge .take h3{padding:10px 0 10px 20px;font-size:14px;color:#a5a5a5}
.p_account_charge .tr_bg{background:#f8f8f8}
.p_account_charge .take dl .chargeformError{left:325px;top:13px}
.p_account_charge .take dl{position:relative}
.p_account_charge .take dl .chargeformError{position:absolute;left:325px;width:auto}
.p_account_charge .user_button{border:0;line-height:42px;text-align:center;display:inline-block;color:#fff;font-size:18px;border-radius:2px;background-position:-3px -109px;width:225px;height:49px}
.p_account_charge .select_paytype{float:none;width:167px;position:relative;}
.p_account_charge .select_paytype .j_select{width:167px;height:36px;line-height:36px;background-position:165px 15px;padding:0 13px;border:1px solid #bdbdbd;}
.p_account_charge .select_paytype .j_selectContent{width:187px;}
.p_account_charge .single_paytype .j_select{background:none;}
.p_account_charge .single_paytype .select_ul{display:none;}

/*pc-2017版本改动-start*/
.p_account_charge .bank-tip{margin:30px 50px 7px;border-radius:0px;}
.p_account_charge .bank-tip{width:377px;border:1px solid #ffc5bf;background:#fff4f0;height:48px;line-height:48px;color:#333333;font-size:14px;}
.p_account_charge .take dl dt{color:#888888;}
.p_account_charge .take{margin:0 0!important;}
.p_account_charge .charge_btn{padding:26px 131px 37px;}
.p_account_charge .take dl{margin-left:27px;padding-top:8px;}
.user_title h1{font-weight:600;}
.p_account_charge .user_button{width:199px;border-radius:7px;background:#ee4634;font-size:16px;}
.p_account_charge .select_paytype .j_select{color:#888888;font-size:13px;}
.need_money{position:absolute;left:416px;top:13px;color:#888888;}
.p_account_charge .take .user_name{position:relative;}
.p_account_charge .take dl .chargeformError{left:434px;background-color:rgba(255,243,241,1)!important;}
.bg_color{width:20px;height:20px;background:red;display:inline-block;}
.p_account_charge .take .user_name{width:295px;padding-right:27px;font-size:18px;color:#333333;padding-left:9px;border-radius:7px;height:41px;line-height:41px;}
input[type='password']:focus,input[type='text']:focus{box-shadow:none!important;}
.p_account_charge .charge_tip{margin-top:45px;}
.p_account_charge .user_tip p{color:#888888;font-size:13px;padding-bottom:7px;}
.p_account_charge .select_paytype .j_select{width:304px;height:33px;line-height:33px;background-position:310px 13px;	/*background-color: #f5f5f5;*/border:1px solid #cccccc;}
.p_account_charge .user_button{height:40px;line-height:40px;width:332px;}
.p_account_charge .charge_tip{border-top:none;margin:0px 20px 20px 20px;}
.line_for_btn{height:1px;width:96%;background:#eeeeee;margin-top:56px;margin-left:20px;}
.p_account_charge .charge_btn{padding:8px 133px 0px;}
.p_account_charge .select_paytype .j_selectContent{width:324px;}
.p_account_charge .take dl:last-of-type{margin-top:12px;margin-bottom:-20px;}
.p_account_charge .take dl:first-of-type{margin-top:5px;margin-bottom:-5px;}
.p_account_charge .take dl:nth-of-type(3){line-height:36px;}
.user_right_box{border:none;}
.p_account_charge .take dl dd{width:620px;}
.p_account_charge .take .color-yellow1{color:#333333;}
.user_name_carry{font-size:14px!important;}
.p_account_charge .take .color-yellow1{font-size:18px;color:#333333;}
.need_move{margin-top:-3px!important;}
.bank_bg ul li:nth-of-type(3){margin-top:3px;}
.new_style{font-size:13px;color:#333333;}
.new_need_move{margin-top:6px;}
/*end*/
/*存管-充值*/
.p_account_charge .user_right_box{padding-bottom: 22px;margin-bottom: 22px;}
.p_account_charge .charge_tip{margin-bottom:0px;}
.p_account_charge .user_button{margin-bottom:16px;}
.p_account_charge .charge_p2p{color:#888888;}
.p_p2p_charge .line_for_btn{margin-top:20px;}
.p_p2p_charge .take dl:last-of-type {margin-top:0;}
.p_p2p_charge .charge_btn{padding:8px 133px 115px;}

/*存管-提现*/
.p_account_carry .user_tip{border-bottom:none;margin-bottom:0;padding: 30px 20px 15px;}
/*.p_account_carry .super_Uname,.p_account_carry .fximg,.p_account_carry .super_bank{display:inline-block;}*/
.p_account_carry .carry_bank{padding-left:50px;position: relative;}
.p_account_carry .take dl .super_bank,.p_account_carry .take dl .super_Uname{border:1px solid #eeeeee;position: relative;padding-right:0;}
.p_account_carry .take dl .super_Uname{background:url(../images/account/ub_wxlc.png) no-repeat 28px 12px;padding:78px 17px 10px;text-align:center;}
.p_account_carry .take dl .super_Uname p,.p_account_carry .take dl .super_Uname span{color:#333333;}
.p_account_carry .take dl .fximg{width:118px;height:130px;background:url(../images/account/fximg.png) no-repeat 38px 49px;}
.p_account_carry .take dl .super_bank{width:172px;padding:13px 15px 10px;text-align:center;}
.p_account_carry .carry_bank{padding-left:50px;}
.p_account_carry .take dl.carry_bank{margin:16px 0 20px;}
.p_account_carry .take dl {line-height:20px;}
.p_account_carry .take dl dt.super_balance{width:178px;}
/*存管-完成弹窗*/
.done_Confirm table .dialog-cancel,.done_Confirm table .dialog-cancel span,.done_Confirm table .dialog-cancel:hover,.done_Confirm table .dialog-cancel span:hover{padding:0 16px;}
.done_Confirm table .dialog-ok,.done_Confirm table .dialog-ok span,.done_Confirm table .dialog-ok:hover,.done_Confirm table .dialog-ok span:hover{padding:0 20px;}
.done_Confirm table .dialog-ok{padding:0 20px;}
.done_Confirm table .dialog-cancel{padding:0 16px;}
.done_Confirm .dialog-close{display:none;}
.p_account_carry .p2p_need_money,.p_account_carry .need_money{top:18px;}
.p_account_charge .take dl .successValid{background-color:#ffffff!important;}

/*03-08 充值中转页*/
.charge_multi_con {min-height:200px;padding:55px 50px;}
.charge_multi_con .cbox {width:420px;height:320px;border:1px solid #DADADA;padding:15px 25px;}
.charge_multi_con .cbox h4 {color:#ACACAC;font-size: 16px;}
.charge_multi_con .cbox .logo_mon {text-align:center;margin:20px;line-height:50px;}
.charge_multi_con .cbox h5 {font-size:16px;color:#6C6C6C;}
.charge_multi_con .cbox h6 {font-size:32px;color:#000;}
.charge_multi_con .cbox .c_wx_btn {width:330px;height:40px;display: block;margin:20px auto;background:#ee4634;color:#fff;border-radius: 5px;font-size: 16px;text-align: center;line-height:40px;}

.p_account_charge .big_money{padding:0 0 40px 274px;}
.p_account_charge .big_money a{color:#888888;}
.p_account_charge .p2p_big_charge{
  padding-left:137px;
}

.p_account_charge .big_charge_setp{
  font-size: 14px;
  color: #888888;
  padding: 33px 0 0 50px;
}
