@charset "utf-8";
.p_account_medal,.p_account_medal a { color: #333 }
.p_account_medal .r_cont { padding: 0 0 50px 0; min-height: 775px; height: auto !important; height: 775px; }
.p_account_medal ul.medal_list li { position: relative; float: left; margin-right: 26px; margin-bottom:34px; width: 185px;height: 170px; }
.p_account_medal ul.medal_list li .ml_tit { background: url(../images/account/xunzhang/xz_tit.png) no-repeat center; padding: 0 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; text-align: center; top: 121px; position: absolute; left: 50%; margin-left: -61px; width: 100px;height: 26px; line-height: 26px;  }
.p_account_medal ul.xsq_list li{width: 207px;height: 209px;margin-right: 39px;margin-bottom: 25px;}
.p_account_medal ul.xsq_list li .ml_tit { background: url(../images/account/xunzhang/xs_tit.png) no-repeat center; padding: 0 21px; top: 119px; margin-left: -104px; width: 165px;height: 34px; line-height: 34px;  }
.p_account_medal ul.medal_list li .ml_icon { margin-top:12px; color: #FFF; text-align: center }
.p_account_medal ul.xsq_list li .ml_icon { margin-top:17px; }
.p_account_medal ul.medal_list li .jiang { display:inline-block;margin-right: 2px; width: 23px; height: 23px; background-color: #ef4633; border-radius:3px;text-align: center; }
.p_account_medal ul.medal_list li .dailing {display:inline-block; width: 57px; height: 23px; background: #ef4633; border-radius:3px; text-align: center; }
.p_account_medal ul.medal_list li .bg_y { background-color: #fec001 }
.p_account_medal .xinshouqu {width: 820px;margin: 0 auto; background:#eee url(../images/account/xunzhang/medal_xs_bg.jpg) no-repeat center bottom; min-height: 423px; padding-top: 35px; }
.p_account_medal .xinshouqu .tit_txt { font-size: 18px;}
.p_account_medal .xinshouqu .xs_rw { font-size: 13px;margin-top: 19px;line-height: 26px;}
.p_account_medal .yellow { color: #ee4634 }
.p_account_medal .pl40 { padding-left: 40px }
.p_account_medal .pl57 { padding-left: 57px }
.p_account_medal .plr83 { padding: 0 83px }
.p_account_medal .ui_action_title { padding: 40px; font-size: 18px; font-weight: bold; line-height: 18px; }
.p_account_medal .ui_action_title .icon_line { border: none; margin-right: 5px; }
.p_account_medal .ui_action_tab_nav { background: #fcfcfc; height: 48px; border: 1px solid #eeeeee; margin: 30px auto 0; width: 818px; }
.p_account_medal .ui_action_tab_nav ul li {  float: left; margin-left: -1px; margin-top: -1px; font-size: 16px; border-top: 2px solid transparent; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.p_account_medal .ui_action_tab_nav ul li.select { border-top: 2px solid #ee4634; border-left: 1px solid #eee; border-right: 1px solid #eee; background: #fff; }
.p_account_medal .ui_action_tab_nav ul li.select a { color: #ee4634; }
.p_account_medal .ui_action_tab_nav ul li a {padding: 0 20px; height: 47px; display: inline-block; line-height: 48px; }
.p_account_medal .ui_user_nav { padding-top: 20px; width: 200px; }
.p_account_medal .disnone{display: none;}
.p_account_medal .pt23{padding-top: 23px;}