@charset "utf-8";
.p_account_carry .bank-tip{width:auto;display:inline-block;margin:38px 45px 7px;background:#fff9f2;border:1px solid #ffb5a6;color:#505050;height:38px;line-height:38px}
.p_account_carry .charge_btn{padding:10px 60px 37px}
.p_account_carry .charge_tip{border-top:1px solid #e5e5e5;color:#505050;padding:24px 54px 22px;border-bottom:none}
.p_account_carry .take .user_name{height:37px;line-height:37px;width:188px;margin-right:10px}
.change_cr{
	color: red;
}