@charset "utf-8";
.p_info_disclosure_detail .idd_h2{height:60px;line-height:60px;border-bottom:1px solid #e0dede;padding-left:25px;color:#4a4a4a;font-size:18px;}
.p_info_disclosure_detail .idd_cont{padding:24px 0  42px 28px}
.p_info_disclosure_detail .cont_left{width:735px;float:left;color:#4a4a4a;font-size:14px;line-height:30px;}
.p_info_disclosure_detail .cont_right{width:275px;float:left;margin-left:35px;}
.p_info_disclosure_detail .yyzz{width:110px;height:139px;float:left;border:1px solid #cfcfcf;margin-right:25px;}
.p_info_disclosure_detail .mt40{margin-top:40px;}
.p_info_disclosure_detail .picscroll{position:relative;}
.p_info_disclosure_detail .infopic{width:1016px;height:165px;margin:44px auto;}
.p_info_disclosure_detail .piclist{height:165px;}
.p_info_disclosure_detail .piclist li{height:165px;margin-right:20px;}
.p_info_disclosure_detail .piclist li img{height:165px;width:239px;}
.p_info_disclosure_detail .picbox{position:relative;}
.p_info_disclosure_detail .pic_prev,.p_info_disclosure_detail .pic_next{top:70px;width:14px;height:25px;background-image:url(../images/info_disclosure/arrow.png);background-repeat:no-repeat;}
.p_info_disclosure_detail .pic_prev{left:15px;background-position:-60px 0px;}
.p_info_disclosure_detail .pic_next{right:15px;background-position:-95px 0px;}
div.pp_default .pp_close{z-index:9999;width:38px;height:38px;margin-top:0px;right:0;top:-20px;background:url(../images/info_disclosure/sprite_close.png) 0 0 no-repeat;}
div.pp_default a.pp_next,div.pp_default a.pp_previous{display:block;float:none;height:38px;width:38px;position:absolute;top:50%;margin-top:-19px;}
div.pp_default a.pp_previous{left:-50px;}
div.pp_default a.pp_next{right:-50px;}
div.pp_default a.pp_next,div.pp_default .pp_next:hover{background:url(../images/info_disclosure/sprite_next.png) center right no-repeat;}
div.pp_default .pp_previous,div.pp_default .pp_previous:hover{background:url(../images/info_disclosure/sprite_prev.png) center left no-repeat;}
div.pp_default .pp_nav{display:none!important}
div.pp_default .pp_top,div.pp_default  .pp_bottom{display:none;}
div.pp_default .pp_content_container .pp_left,div.pp_default .pp_content_container .pp_right{background:transparent;}
.pp_gallery{display:none!important;}
div.pp_default .pp_content{background:transparent;}
div.pp_default .pp_expand{display:none!important;}