.p_jijin_detail .goods_item{float:left;display:inline-block;width:25%;text-align:center;overflow:hidden;margin:10px 0}
.p_jijin_detail .goods_item .goods_img_box{width:160px;height:160px;overflow:hidden;display:block;margin:0 auto}
.p_jijin_detail .goods_item img{width:160px;height:160px}
.p_jijin_detail .goods_item .starico img{width:auto;height:auto;border:none}
.p_jijin_detail .goods_item .goods_item_title{text-align:center;line-height:25px}
.p_jijin_detail .text{word-break:break-all;width:840px;overflow:hidden}
.p_jijin_detail .alt{background-color:#f2f2f2}
.p_jijin_detail .sort_desc{background:url("../images/arrow.gif") no-repeat scroll right 10px transparent;padding-right:15px}
.p_jijin_detail .sort_asc{background:url("../images/arrow.gif") no-repeat scroll right -10px transparent;padding-right:15px}
.p_jijin_detail .sort_gray{background:url("../images/arrow.gif") no-repeat scroll right -30px transparent;padding-right:15px}
.p_jijin_detail .sort_icon{display:inline-block;font-size:12px;height:28px;line-height:28px;margin:0}
.p_jijin_detail span.list_type{display:inline-block;width:18px;height:15px;margin:0 3px;cursor:pointer}
.p_jijin_detail span.grid_enable{background:url("../images/list_type.gif") no-repeat 0 0}
.p_jijin_detail span.grid_disable{background:url("../images/list_type.gif") no-repeat -18px 0}
.p_jijin_detail span.line_enable{background:url("../images/list_type.gif") no-repeat 0 -15px}
.p_jijin_detail span.line_disable{background:url("../images/list_type.gif") no-repeat -18px -15px}
.p_jijin_detail .icon-type{display:inline-block;width:40px;height:40px;line-height:40px;vertical-align:text-top;background:url(../img/types.png) no-repeat}
.p_jijin_detail .icon-type-2{background-position:0 -40px}
.p_jijin_detail .icon-type-3{background-position:0 -80px}
.p_jijin_detail .icon-type-4{background-position:0 -120px}
.p_jijin_detail .icon-type-5{background-position:0 -160px}
.p_jijin_detail .icon-type-6{background-position:0 -200px}
.p_jijin_detail .icon-correct,.p_jijin_detail .icon-question,.p_jijin_detail .icon-sort{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background:url(../img/icons.png) no-repeat}
.p_jijin_detail .icon-question{background-position:-20px 0}
.p_jijin_detail .icon-sort{width:9px;background:url(../img/icon-sort.gif) no-repeat 1px 3px}
.p_jijin_detail .span-required{color:#cd1233}
.p_jijin_detail .btn{display:inline-block;cursor:pointer;padding:0 0 0 19px;height:30px;background:url(../img/btn.png) no-repeat 0 0}
.p_jijin_detail .btn span{display:inline-block;padding-right:19px;height:30px;font-size:14px;line-height:30px;background:url(../img/btn.png) no-repeat 100% 0;color:#fff}
.p_jijin_detail .btn:hover{background-position:0 -35px}
.p_jijin_detail .btn:hover span{background-position:100% -35px}
.p_jijin_detail .btn-disabled,.p_jijin_detail .btn-disabled:hover{background-position:0 -70px}
.p_jijin_detail .btn-disabled span,.p_jijin_detail .btn-disabled:hover span{background-position:100% -70px}
.p_jijin_detail .actlb{display:inline-block;padding:3px 9px;font-weight:bold;border:1px solid #ddd;border-radius:3px;color:#888}
.p_jijin_detail .actlb:hover{color:#444}
.p_jijin_detail .actlb-green{border-color:#b8e1a2;color:#00b22d}
.p_jijin_detail .actlb-green:hover{border-color:#00b22d;color:#00b22d}
.p_jijin_detail .actlb-green-active{background-color:#d7f9c6;border-color:#00b22d;color:#0a0}
.p_jijin_detail .actlb-green-active:hover{color:#0a0}
.p_jijin_detail .actlb-red{border-color:#eab8b3;color:#d90000}
.p_jijin_detail .actlb-red:hover{border-color:#d90000;color:#d90000}
.p_jijin_detail .actlb-red-active{background-color:#faeded;border-color:#d90000;color:#d90000}
.p_jijin_detail .actlb-red-active:hover{color:#d90000}
.p_jijin_detail .form-actions{padding:10px 40px 20px;text-align:center;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2}
.p_jijin_detail .form-actions p{margin:10px 0}
.p_jijin_detail .lesser{color:#888;font-size:12px}
.p_jijin_detail .empty-box{padding:60px 0;text-align:center;color:#888}
.p_jijin_detail .label{color:#888}
.p_jijin_detail .value{color:#444}
.p_jijin_detail .minor{color:#888}
.p_jijin_detail .tab-container{position:relative}
.p_jijin_detail .tab-container .action{display:block;position:absolute;right:25px;top:13px}
.p_jijin_detail .tab{margin-top:10px;margin-bottom:15px;font-size:12px;font-weight:bold;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4}
.p_jijin_detail .tab.bottom-bordered{border-bottom:1px solid #d4d4d4}
.p_jijin_detail .tab li{display:block;float:left;margin-bottom:-1px;border-top:1px solid #d4d4d4;border-right:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4}
.p_jijin_detail .tab li a{display:block;height:21px;padding:6px 18px 0;text-align:center;background-color:#f5f5f5;color:#666}
.p_jijin_detail .tab li a:hover{text-decoration:none;background-color:#f9f9f9}
.p_jijin_detail .tab li.active{border-bottom:0}
.p_jijin_detail .tab li.active a{background-color:#fff;border-bottom:1px solid #fff;color:#22273a}
.p_jijin_detail .tab li.first{margin-left:20px;border-left:1px solid #ccc}
.p_jijin_detail body{background-color:#f4f4f4}
.p_jijin_detail #logo-row{height:71px}
.p_jijin_detail #borrowlb,.p_jijin_detail .line950,.p_jijin_detail .long,.p_jijin_detail .r-block,.p_jijin_detail .bddf,.p_jijin_detail .index_left{background:#fff}
.p_jijin_detail .deal-list{width:100%;border-spacing:0;border-collapse:collapse}
.p_jijin_detail .deal-list th,.p_jijin_detail .deal-list td{vertical-align:top}
.p_jijin_detail .deal-list th{padding:9px 0 10px;font-weight:bold;text-align:center;background:#f3f3f3 url(../img/filter-bg.png) repeat-x;color:#888}
.p_jijin_detail .deal-list th a{color:#888}
.p_jijin_detail .deal-list th a:hover{color:#666}
.p_jijin_detail .deal-list td{padding:0 10px 10px 0}
.p_jijin_detail .deal-list .firstline td,.p_jijin_detail .deal-list .secondline td{padding:23px 10px 0 0}
.p_jijin_detail .deal-list .secondline{height:40px}
.p_jijin_detail .deal-list .secondline td{padding:0 10px 0 0;line-height:24px}
.p_jijin_detail .deal-list .firstline th,.p_jijin_detail .deal-list .secondline th{background:#fff}
.p_jijin_detail .deal-list .ico_baoben,.p_jijin_detail .deal-list .ico_danbao,.p_jijin_detail .deal-list .ico_money{display:inline-block;float:left;width:16px;height:16px}
.p_jijin_detail .deal-list .ico_baoben{background:url(../img/baobenbaoxi.gif) no-repeat}
.p_jijin_detail .deal-list .ico_danbao{background:url(../img/danbao.gif) no-repeat}
.p_jijin_detail .deal-list .ico_money{background:url(../img/money.gif) no-repeat}
.p_jijin_detail .deal-list .ico_label{float:left;font-weight:normal;margin-left:4px;color:#444}
.p_jijin_detail .deal-list .bdrline{display:inline-block;height:16px;border-bottom:1px solid #e2e2e2;width:100%}
.p_jijin_detail .deal-list .deal-cell-image{width:50px;padding:25px 10px 10px 15px}
.p_jijin_detail .deal-list .deal-cell-money{width:166px;font-size:15px}
.p_jijin_detail .deal-list .deal-cell-interest{width:80px;font-size:15px;font-weight:bold;color:#cd1233;line-height:35px}
.p_jijin_detail .deal-list .deal-cell-term{width:108px}
.p_jijin_detail .deal-list .deal-cell-action{width:118px;font-size:14px;text-align:center}
.p_jijin_detail .time-remained{font-size:11px;text-align:center;color:#888}
.p_jijin_detail .deal-list .gap_top{padding-top:7px}
.p_jijin_detail .deal-update-table{width:95%;margin:0 auto}
.p_jijin_detail .deal-update-table td{padding:10px 5px;border-top:1px dotted #ddd}
.p_jijin_detail .deal-update-table .deal-update-cell-label{width:120px}
.p_jijin_detail .deal-update-table .deal-update-cell-actions{width:250px;text-align:center}
.p_jijin_detail .deal-info-title{font-weight:bold;font-size:14px;height:22px}
.p_jijin_detail .deal-info-user,.p_jijin_detail .deal-info-user a{color:#888}
.p_jijin_detail .deal-info-user a:hover{color:#444}
.p_jijin_detail .deal-info-table{width:95%;margin:0 auto}
.p_jijin_detail .deal-info-table th,.p_jijin_detail .deal-info-table td{padding:5px}
.p_jijin_detail .deal-info-table th{width:120px;font-weight:normal;text-align:left;vertical-align:top;color:#888}
.p_jijin_detail .helper-panel{background:#fff;border:1px solid #ddd;border-top:0}
.p_jijin_detail .page-navigation{text-align:right}
.p_jijin_detail .pages{padding:30px 0}
.p_jijin_detail .simple-form-helper th,.p_jijin_detail .simple-form-helper td{vertical-align:middle}
.p_jijin_detail .simple-form-helper th{text-align:right;font-weight:normal}
.p_jijin_detail .data-table{width:100%;border-spacing:0;border-collapse:collapse}
.p_jijin_detail .data-table th,.p_jijin_detail .data-table td{padding:12px 10px 12px 0}
.p_jijin_detail .data-table th{padding:9px 0 10px;font-weight:bold;text-align:center;background:#f3f3f3 url(../img/filter-bg.png) repeat-x;color:#888}
.p_jijin_detail .data-table td{border-bottom:1px solid #eee}
.p_jijin_detail .data-table .cell-icon{width:40px;padding-left:15px}
.p_jijin_detail .data-table .cell-type{font-size:14px;font-weight:bold}
.p_jijin_detail .data-table .cell-interest{width:80px;font-size:14px;color:#cd1233}
.p_jijin_detail .data-table .cell-money{width:110px;font-size:14px}
.p_jijin_detail .data-table .cell-term{width:100px;color:#888}
.p_jijin_detail .data-table .cell-completion{width:100px;color:#888}
.p_jijin_detail .data-table .cell-status{width:50px;padding-right:0;text-align:center}
.p_jijin_detail .data-table .cell-date{width:120px;text-align:center;color:#888}
.p_jijin_detail .box-plain-top,.p_jijin_detail .box-plain-bottom,.p_jijin_detail .box-side-plain-top,.p_jijin_detail .box-side-plain-bottom{width:100%;height:10px;overflow:hidden;font-size:5px;line-height:5px}
.p_jijin_detail .box-plain-top{background:url(../images/box-plain-top.gif) no-repeat}
.p_jijin_detail .box-plain-bottom{background:url(../images/box-plain-bottom.gif) no-repeat}
.p_jijin_detail .box-plain-title,.p_jijin_detail .box-plain-content{border:1px solid #ddd;padding-top:10px;border-bottom:0;border-top:0}
.p_jijin_detail .box-plain-title{padding:2px 15px 8px;font-size:15px;font-weight:bold;border-bottom:1px solid #eee;border-top:0}
.p_jijin_detail .box-plain-title .action{display:block;float:right;font-size:12px;font-weight:normal}
.p_jijin_detail .box-traverse-title{padding:10px 0;font-size:15px;font-weight:bold;text-align:center}
.p_jijin_detail .news-list-table{width:93%;margin:0 auto}
.p_jijin_detail .news-list-table td{vertical-align:top}
.p_jijin_detail .news-list-table .dotted-list li a:hover{text-decoration:underline;color:#cd1233}
.p_jijin_detail .partners-container{padding-left:9px}
.p_jijin_detail .partners-container .partner-item{margin-right:9px}
.p_jijin_detail .box-side-plain-top,.p_jijin_detail .box-side-plain-bottom{height:5px}
.p_jijin_detail .box-side-plain-top{background:url(../images/box-side-plain-top.gif) no-repeat}
.p_jijin_detail .box-side-plain-bottom{background:url(../images/box-side-plain-bottom.gif) no-repeat}
.p_jijin_detail .box-side-plain-title{padding:0 10px;font-size:14px}
.p_jijin_detail .box-side-plain-title,.p_jijin_detail .box-side-plain-content{border-left:1px solid #ddd;border-right:1px solid #ddd}
.p_jijin_detail .box-side-plain-content-inner{padding:5px 15px}
.p_jijin_detail .article-container{width:90%;margin:0 auto}
.p_jijin_detail .article-title{padding:25px 0 15px;text-align:center;font-size:20px}
.p_jijin_detail .article-meta{padding:0 0 20px;text-align:center;color:#888}
.p_jijin_detail .article-content{font-size:14px;line-height:26px}
.p_jijin_detail .article-content h1{font-size:20px;line-height:48px;color:#cd1233}
.p_jijin_detail .article-content p{line-height:26px}
.p_jijin_detail .article-actions{padding:15px 0;text-align:right}
.p_jijin_detail .certificates-list{margin:0 15px;border-collapse:collapse;border-spacing:0}
.p_jijin_detail .certificates-list th,.p_jijin_detail .certificates-list td{vertical-align:top;border-bottom:1px solid #ddd}
.p_jijin_detail .certificates-list th{width:60px;height:67px;padding:0}
.p_jijin_detail .certificates-list th p{position:relative;width:60px;height:67px}
.p_jijin_detail .certificates-list th img{vertical-align:top;float:left;padding:20px 0 0 10px;cursor:pointer}
.p_jijin_detail .certificates-list th .btn_clse{position:absolute;top:3px;right:3px;display:none;width:17px;height:17px;background:url(../images/btn_clse.png) no-repeat}
.p_jijin_detail .certificates-list td{padding:15px 10px 15px 5px}
.p_jijin_detail .certificates-list .last th,.p_jijin_detail .certificates-list .last td{border-bottom:0}
.p_jijin_detail .topic-list{padding:10px 20px}
.p_jijin_detail .topic-list .item{padding:5px}
.p_jijin_detail .dotted-list{list-style:none}
.p_jijin_detail .dotted-list li{padding:2px 0 2px 10px;list-style:none;background:url(../img/list-dot.gif) no-repeat 0 10px}
.p_jijin_detail .dotted-list li a{color:#666}
.p_jijin_detail .dotted-list li a:hover{color:#444}
.p_jijin_detail .agreement-container{width:800px;height:100px;overflow-y:scroll;margin:10px 0 10px 20px;padding:5px;border:1px solid #ddd}
.p_jijin_detail .agreement-title{margin-bottom:5px;font-size:14px;font-weight:bold;text-align:center}
.p_jijin_detail .agreement-content p{margin:5px 0}
.p_jijin_detail .modal{width:800px;height:auto;position:absolute;left:30px;top:30px;z-index:1001;background:#fff;border:3px solid #eee}
.p_jijin_detail .modal form p .control-label{width:70px}
.p_jijin_detail .modal-mask{width:100%;height:100%;position:absolute;left:0;top:0;z-index:1000;background-color:#000;opacity:.3;-moz-opacity:.3;filter:alpha(opacity=30)}
.p_jijin_detail .modal-inner{width:100%;height:100%}
.p_jijin_detail .modal-heading{position:relative;padding:5px 10px;background:#eee}
.p_jijin_detail .modal-heading h1{font-size:15px;font-weight:normal}
.p_jijin_detail .modal-heading .close-button{position:absolute;right:9px;top:4px}
.p_jijin_detail .modal-content{padding:10px 20px}
.p_jijin_detail .special-cover{width:100%;height:280px;background-color:#fff;background-repeat:no-repeat;background-position:center center}
.p_jijin_detail .special-form-wrapper{width:960px;min-height:620px;margin:55px auto 30px;background-color:#f4f4f4;background-repeat:no-repeat;background-position:left top}
.p_jijin_detail .special-description-wrapper{width:640px;float:left}
.p_jijin_detail .special-description{width:640px;float:left;margin:30px 0 0}
.p_jijin_detail .special-description h1{height:38px;margin-bottom:15px;text-indent:-9999px;background:url(../img/specials/title-huiying-2.png) no-repeat}
.p_jijin_detail .special-description .sub-heading{margin:15px 0 0;padding:4px 0 5px;font-size:15px;font-weight:bold;text-indent:5px;background:url(../img/specials/sub-heading.png) no-repeat 0 -3px;color:#fff}
.p_jijin_detail .special-description p{margin:10px 0;font-size:14px;line-height:24px}
.p_jijin_detail .special-description p b{color:#333}
.p_jijin_detail .bordered-table{margin:0 auto;border-collapse:collapse}
.p_jijin_detail .bordered-table th,.p_jijin_detail .bordered-table td{padding:4px 12px;border:1px solid #bbb}
.p_jijin_detail .bordered-table th{background:#e6e6e6}
.p_jijin_detail .special-meta{width:90%}
.p_jijin_detail .special-meta td{padding:4px 30px 4px 0;font-size:15px}
.p_jijin_detail .special-attachments{width:270px;float:right;margin-top:30px;text-align:center}
.p_jijin_detail .special-attachments .alert{font-size:14px;padding:6px;background:#ffeae8;border:1px solid #fea49e;border-radius:4px;color:#cd1233}
.p_jijin_detail .special-attachments .alert .action{margin-left:8px;padding:2px 4px;font-size:12px;background:#cd1233;border-radius:2px;color:#fff}
.p_jijin_detail .special-downloads{width:270px}
.p_jijin_detail .special-downloads td{padding:10px 0;vertical-align:top;text-align:center;font-size:16px;line-height:30px}
.p_jijin_detail .special-downloads a{color:#333}
.p_jijin_detail .special-downloads .special-download-icon{display:inline-block;width:80px;height:80px;background:url(../img/special-downloads.png) no-repeat}
.p_jijin_detail .special-downloads .special-download-manual{background-position:0 0}
.p_jijin_detail .special-downloads .special-download-faq{background-position:-90px 0}
.p_jijin_detail .special-downloads .special-download-guide{background-position:-180px 0}
.p_jijin_detail .special-downloads .special-download-plan{background-position:-270px 0}
.p_jijin_detail .special-downloads .btn-download{padding:2px 8px;font-size:14px;background:#cb1232;border-radius:2px;color:#fff}
.p_jijin_detail #special-form{width:380px;float:right;padding:0 0 20px;background:#fff}
.p_jijin_detail #special-form-heading{height:30px;padding:18px 50px 16px;text-align:right;background:#fbfbfb url(../img/special-form-heading.png) no-repeat 45px center;border-bottom:1px solid #f0f0f0}
.p_jijin_detail #special-form .input-row{margin:15px 0}
.p_jijin_detail #special-form .input-row b{display:inline-block;width:45px;font-size:15px;text-align:right;color:#d00}
.p_jijin_detail #special-form .input-text{width:250px;padding:12px 14px;font-size:15px;border:1px solid #ccc}
.p_jijin_detail .btn-preorder{display:inline-block;width:240px;height:55px;background:url(../img/btn/preorder.png) no-repeat}
.p_jijin_detail .btn-preorder:hover{background-position:0 -60px}
.p_jijin_detail .btn-yuyue{width:280px;height:55px;margin-left:49px;background:url(../img/preorder-submit.gif) no-repeat;border:0;cursor:pointer}
.p_jijin_detail #special-form #input-money-affix{display:block;position:absolute;right:52px;top:9px;padding:5px 13px 5px 11px;border-left:1px solid #ccc}
.p_jijin_detail .special-modal{width:380px}
.p_jijin_detail .special-modal .close-button{display:block;width:16px;height:16px;position:absolute;right:6px;top:6px;background:url(../img/btn/close-modal.png) no-repeat}
.p_jijin_detail .preorder-deal-box{width:806px;margin:20px auto;padding:13px 10px 5px;background:#fff;border:1px solid #ccc;border-radius:5px}
.p_jijin_detail .preorder-deal-box .box-plain-title{border:0}
.p_jijin_detail .preorder-deal-box .deal-list .deal-cell-image{width:60px}
.p_jijin_detail .preorder-deal-box .deal-list .deal-cell-money{width:172px}
.p_jijin_detail .preorder-deal-box .deal-list .deal-cell-interest{width:86px}
.p_jijin_detail .preorder-deal-box .deal-list .deal-cell-term{width:114px}
.p_jijin_detail .preorder-deal-box .deal-list .deal-cell-action{width:118px}
.p_jijin_detail .preorder-deal-box .time-remained{margin-top:-20px}
.p_jijin_detail .success-notice{padding:30px 60px}
.p_jijin_detail .success-notice h1{margin:0 0 20px;font-size:16px;font-weight:normal;text-align:center;line-height:30px}
.p_jijin_detail .success-notice p{font-size:14px;line-height:25px}
.p_jijin_detail #cover-huiyuan,.p_jijin_detail #cover-huiyuan-full{height:450px}
.p_jijin_detail #cover-baijin,.p_jijin_detail #cover-baijin-full{height:450px}
.p_jijin_detail #cover-huiyuan{background:#ffffdc url(../img/specials/huiying-2-head.jpg?v=2) no-repeat center center}
.p_jijin_detail #cover-huiyuan-full{background:#ffffdc url(../img/specials/huiying-2-head.jpg?v=2) no-repeat center center}
.p_jijin_detail #cover-baijin{background-image:url(../img/specials/baijin-head.jpg?v=3)}
.p_jijin_detail #cover-baijin-full{background-image:url(../img/specials/baijin-head-full.jpg?v=3)}
.p_jijin_detail #baijin-form-wrapper{height:695px;background:url(../img/specials/baijin.png?v=2) no-repeat}
.p_jijin_detail #huiyuan-form{width:380px;height:610px;float:right;background:#fff}
.p_jijin_detail #huiyuan-form-heading{height:30px;padding:25px 50px;text-align:right;background:#fbfbfb url(../img/specials/huiying-form-heading.png) no-repeat 45px center;border-top:1px solid #fff;border-bottom:1px solid #f0f0f0}
.p_jijin_detail .nav-aside{padding:0 20px}
.p_jijin_detail .nav-aside-fixed{position:fixed;top:12px}
.p_jijin_detail .nav-aside-lv1,.p_jijin_detail .nav-aside-lv2{display:block}
.p_jijin_detail .nav-aside-lv1{margin-top:10px;padding:13px 0 7px 24px;font-size:15px;font-weight:bold;background:url(../img/spritesv.png) no-repeat 0 13px;border-top:1px solid #eee;color:#cd1233}
.p_jijin_detail .nav-aside-lv1.first{margin-top:0;border-top:0}
.p_jijin_detail .nav-aside-lv2{padding:4px 0 4px 40px;font-size:13px;color:#666}
.p_jijin_detail .nav-aside-lv2.active{background:url(../img/spritesv.png) no-repeat 20px -30px}
.p_jijin_detail .nav-aside-lv2:hover{color:#333}
.p_jijin_detail .link-pdf{display:block;float:right;margin-top:12px;padding:5px 0 5px 30px;font-size:13px;line-height:15px;background:url(../img/spritesv.png?v=2) no-repeat 0 -65px;color:#cd1233}
.p_jijin_detail .link-pdf:hover{text-decoration:underline;color:#cd1233}
.p_jijin_detail .faq-q,.p_jijin_detail .faq-a{display:inline-block;width:15px;height:17px;vertical-align:text-bottom;background:url(../img/spritesv.png?v=3) no-repeat 0 -100px}
.p_jijin_detail .faq-a{background-position:0 -120px}
.p_jijin_detail .media,.p_jijin_detail .media-body{margin-top:3px;overflow:hidden;zoom:1}
.p_jijin_detail .media-heading{margin:0 0 4px;font-size:14px}
.p_jijin_detail .media .f_l{margin-right:10px}
.p_jijin_detail .table-dashed{border-collapse:collapse}
.p_jijin_detail .table-dashed th,.p_jijin_detail .table-dashed td{padding:3px 10px;text-align:center;font-weight:normal;background:transparent;border:0}
.p_jijin_detail .table-dashed td{border-top:1px dashed #ccc}
.p_jijin_detail .table-dashed .last-row td{color:#cd1233}
.p_jijin_detail .label-container{margin:10px 28px}
.p_jijin_detail .label-container span{margin-right:2em}
.p_jijin_detail .contract-list{margin:10px 0 15px;padding:0 5px 0 28px}
.p_jijin_detail .contract-list li{display:block;float:left;width:176px;margin-right:17px;padding:5px 10px;background:#fff;border:1px solid #ddd;border-radius:3px}
.p_jijin_detail .contract-list li .action{display:block;width:16px;height:16px;float:right;margin-left:10px;background:url(../img/contract-actions.gif) no-repeat}
.p_jijin_detail .contract-list li .action-view{background-position:-2px 1px}
.p_jijin_detail .contract-list li .action-download{background-position:-26px 1px}
.p_jijin_detail .corprate-borrower-info{margin:12px 20px 0}
.p_jijin_detail .corprate-borrower-info td{padding:3px 0}
.p_jijin_detail .corprate-borrower-info .corprate-brief p{margin:5px 0 8px;text-indent:2em}
.p_jijin_detail .con{overflow:hidden}
.p_jijin_detail .contentn{width:962px;background:url(../images/user/pio_06.jpg);padding-bottom:70px}
.p_jijin_detail .contentn h1{color:#bdbdbd;font-size:18px;text-align:center;padding-bottom:20px;padding-top:50px}
.p_jijin_detail .contentnp h2,.p_jijin_detail .contentn h2,.p_jijin_detail .contentn h4{color:#424242;font-size:16px;width:770px;border-bottom:1px #d7d7d7 solid;padding-bottom:5px;margin-left:82px;font-weight:200}
.p_jijin_detail .contentn_1,.p_jijin_detail .contentn_2,.p_jijin_detail .contentn_3,.p_jijin_detail .pio{width:880px;padding-left:82px}
.p_jijin_detail .contentn_1{height:180px;padding-top:28px}
.p_jijin_detail .passport-type-list li{width:249px;height:127px;float:left;background:url(../images/user/pic_06.jpg);margin-left:20px;line-height:127px;color:#f00;font-weight:bold;font-size:16px;text-align:center}
.p_jijin_detail .passport-type-list li span{color:#cd1233}
.p_jijin_detail .passport-type-list li:hover,.p_jijin_detail .passport-type-list li.active{width:249px;height:127px;display:block;background:url(../images/user/box-selected.png) no-repeat;cursor:pointer}
.p_jijin_detail .passport-type-list li:hover span,.p_jijin_detail .passport-type-list li.active span{color:#fff4f4}
.p_jijin_detail .passport-type-list .first{margin-left:0}
.p_jijin_detail .contentn_2{padding-top:28px;font-size:14px}
.p_jijin_detail .newn,.p_jijin_detail .newn_4{width:785px;overflow:hidden;padding-bottom:12px;margin:0;line-height:25px}
.p_jijin_detail .gio{padding-left:23px}
.p_jijin_detail .newn_2{width:765px;height:160px;background:#ffffd7;margin:0;padding:15px 20px 0;border-radius:5px}
.p_jijin_detail .newn_2 ul{padding:0}
.p_jijin_detail .newn_2 li{background:url(../images/user/pib_07.jpg) no-repeat 0 11px;padding-left:20px;line-height:24px}
.p_jijin_detail #cai{background:none}
.p_jijin_detail #pim{margin-top:10px}
.p_jijin_detail .newn_4{padding-top:20px}
.p_jijin_detail .newn_5{padding-left:20px}
.p_jijin_detail .pp-btn{display:inline-block;width:60px;height:22px;line-height:20px;font-size:12px;text-align:center;color:#333;background:url(../images/user/btn/pp.png) no-repeat}
.p_jijin_detail .pp-btn:hover{color:#000}
.p_jijin_detail .pp-btn-lg{display:inline-block;width:203px;height:38px;padding-top:8px;text-align:center;font-size:20px;color:#fff;background:url(../images/user/btn/pp-lg.png) no-repeat}
.p_jijin_detail .pp-btn-lg:hover{color:#fff}
.p_jijin_detail .contentnp{width:962px;padding-bottom:70px;padding-top:35px}
.p_jijin_detail .alert{width:785px;height:38px;line-height:38px;background:#ffffd7;border-radius:5px;font-size:14px;text-align:center;margin-bottom:30px}
.p_jijin_detail .pio{padding-left:20px;padding-top:30px}
.p_jijin_detail .piou{padding-bottom:20px;overflow:hidden;padding-left:150px}
.p_jijin_detail .piou li{height:auto;padding-top:10px;min-height:40px}
.p_jijin_detail .piou li .float-span{padding-left:10px;float:left}
.p_jijin_detail .pp-input{background:url(../images/user/pim_09.jpg) no-repeat;width:282px;height:20px;border:0;margin-left:30px;padding:10px}
.p_jijin_detail .pp-input-xsm{background:url(../images/user/pim_26.jpg) no-repeat;width:90px;margin-left:9px}
.p_jijin_detail .pp-input-sm{background:url(../images/user/pim_24.jpg) no-repeat;width:192px}
.p_jijin_detail .passport-number-row{position:relative}
.p_jijin_detail .passport-number-row .passport-type-initial{position:absolute;left:145px;top:22px}
.p_jijin_detail .indent{padding-left:19px}
.p_jijin_detail .xin{width:305px;height:84px;background:url(../images/user/piy_38.jpg);margin-left:330px;padding-left:20px;clear:both}
.p_jijin_detail .xin li{background:url(../images/user/pib_07.jpg) no-repeat 0 11px;padding-left:20px;line-height:24px}
.p_jijin_detail .ye_1{padding-left:130px;width:300px}
.p_jijin_detail .ye{padding-left:140px;width:300px}
.p_jijin_detail #heng{padding-left:40px;font-weight:bold}
.p_jijin_detail #qu_1{width:145px;overflow:hidden;padding-left:26px;text-align:center;float:left;line-height:35px}
.p_jijin_detail #qu_2{width:145px;overflow:hidden;padding-left:138px;text-align:center;clear:both;line-height:35px}
.p_jijin_detail #qu{text-align:center;line-height:35px}
.p_jijin_detail .nin{text-align:right;font-weight:bold;display:block;width:110px;float:left;padding-top:10px}
.p_jijin_detail .tu{padding-left:330px;padding-top:30px}
.p_jijin_detail .contentnp input{outline:0}
.p_jijin_detail .form-row-content{position:absolute;left:140px;width:360px}
.p_jijin_detail .card-container{float:left;width:141px;text-align:center;margin:0 20px 10px 0;position:relative}
.p_jijin_detail .photo-upload-container{display:table;width:141px;height:141px;padding-top:2px;background:url(../images/user/photo-upload-bg.png) no-repeat}
.p_jijin_detail .photo-container{width:137px;height:137px;padding:2px;display:table-cell;text-align:center;vertical-align:middle}
.p_jijin_detail .photo-container img{max-width:137px;max-height:130px}
.p_jijin_detail .photo-btn-container{padding:0;height:30px;position:absolute;left:32px;top:54px;width:77px}
.p_jijin_detail .photo-upload-btn{display:block;width:77px;height:28px;margin:0 auto;cursor:pointer;background:url(../images/user/btn/photo-upload.png) no-repeat}
.p_jijin_detail .has-photo .photo-upload-btn{background-image:url(../img/btn/photo-change.png);display:none}
.p_jijin_detail .upload-row{position:relative}
.p_jijin_detail .span-error{color:#cd1233}
.p_jijin_detail .upload-row .span-error{display:block;position:absolute;top:300px;left:460px}
.p_jijin_detail .hidden-file-input{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
