.p_message .message_box{background:#fff;-webkit-box-shadow:0 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0 1px 5px 2px rgba(52,52,52,0.1);box-shadow:0 1px 5px 2px rgba(52,52,52,0.1)}
.p_message .mess_title{height:50px;line-height:50px;background:url(../images/user/tit_bg.gif) repeat-x;border-bottom:1px solid #e5e5e5}
.p_message .mess_title h1{font-size:24px;padding-left:15px}
.p_message .message_nav{margin:0 auto;height:37px;padding-top:20px}
.p_message .message_nav li{width:114px;height:37px;line-height:37px;text-align:center;float:left;margin-right:15px;display:inline;color:#a6a6a6}
.p_message .message_nav li a{width:114px;height:37px;display:block;font-size:16px;color:#000;border-radius:3px 3px 0 0;background:#e5e5e5}
.p_message .message_nav li.select a,.p_message .message_nav li a:hover{background:#ffb604;color:#fff}
.p_message .mess{border:1px solid #e5e5e5;margin:-1px auto 0;padding:0 20px;min-height:500px}
.p_message .mess td,.p_message .mess th{border-bottom:1px solid #e5e5e5;padding:15px 0;color:#676767;line-height:20px;vertical-align:top}
.p_message .mess th{vertical-align:bottom}
.p_message .mess h3{font-size:14px;font-weight:bold}
.p_message .mess h4{font-size:12px;font-weight:bold}
.p_message .mess h3 a,.p_message .mess h4 a,.p_message .mess h3 a:hover,.p_message .mess h4 a:hover{color:#676767;text-decoration:none}
.p_message .mess_img{width:48px;height:48px;margin-top:5px}
.p_message .mess_img img{border-radius:3px}
.p_message .mess_con a{color:#429bd3;text-decoration:underline}
.wrap{width:1100px;margin:0 auto}
.p_message .mess_title h1{font-size:18px}
.p_message .mess_title h1 i{background:#f3491f;border:1px solid #e43b19;height:18px;margin-right:14px;width:3px;display:inline-block;vertical-align:middle;position:relative;top:-2px}
.p_message .fg_line{border-left:1px dotted #d0d0d0;float:left;height:23px;margin-left:30px;margin-top:14px;width:1px}
.p_message .w860{width:auto}
.p_message .message_nav{padding-top:0}
.p_message .message_box{border:1px solid #e5e5e5;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;width:1100px;margin:25px auto}
.p_message .mess{border-left:0;border-right:0;border-bottom:0;padding:20px 50px 0}
.p_message .mess table{width:100%}
.p_message .pages .current{background:#ff9a87;border:1px solid #f8684d}
.p_message .pages{padding:30px 50px}
.p_message .pages i{float:none}
.p_message .pages a:hover{background:#ff9a87;border:#f8684d 1px solid;color:#fff}
.p_message .mess td,.p_message .mess th{border-bottom:1px solid #e5e5e5}
.p_message .message_nav{margin-left:30px;border:none;width:auto;margin-top:10px}
.p_message .huankuan_list{width:860px;margin-top:10px;border:none;font-size:14px}
.p_message .user_right .huankuan_list a{color:#4f4e4e}
.p_message .message_nav li a{background:none;width:80px}
.p_message .message_nav li.select a,.p_message .message_nav li a:hover{background:none;color:#e6300a;border-bottom:3px solid #f75939}
.p_message .huankuan_list .plan td{padding-bottom:15px;padding-top:15px;line-height:24px;color:#4f4e4e}
.p_message .huankuan_list .plan th:first-child{padding-left:20px !important}
.p_message .user_title{background:#fcfcfc;height:47px;line-height:47px}
.p_message .user_title h1{font-size:18px;color:#1a1f25}
.p_message .user_title i,.p_message .contract i{background:#f3491f;border:1px solid #e43b19;width:3px;height:18px;margin-right:14px}
.p_message .user_title i.ico_more{background-image:url(../images/user/user_v2.png);background-repeat:no-repeat}
.p_message .user_title i.ico_more{background-position:-4px -4px;width:29px;height:29px;background-color:#fcfcfc;border:none;margin-right:0}
.p_message .user_title .pr30{padding-right:15px}
.p_message .fg_line{border-left:1px dotted #d0d0d0;height:23px;margin-top:14px;width:1px;float:left;margin-left:30px}
.p_message .empty-box{padding:230px 0}
.p_message .color-blue1 {color: #25aae2!important;}