/*立即支付*/
.pay_button,.pay_button:hover,.pay_button:active{ background-image:url(../images/user/btn_bg.png); background-repeat:no-repeat;background-color:#fff;}
.pay{ margin:20px auto;border:1px solid #dddddd; box-shadow:none;border-radius:0px; padding:0px; background: #fff;}
.pay h1{ height:47px;border-bottom:1px solid #dddddd; font-size:18px; line-height:47px; color:#1a1f25; background:#fcfcfc; padding-left:17px;}
.pay h1 i{background:#f3491f;border:1px solid #e43b19; width:3px; height:18px; margin-right:14px; display:inline-block; position:relative; top:3px;}
.pay_con{ padding-top:100px; color:#656565; min-height:460px;text-align:center; font-size:16px;}
.pay_button{ background-position:-244px -109px; width:247px; height:46px; line-height:44px; margin-bottom:25px; margin-top:15px; display: inline-block; color: #fff;}
.pay_button:hover{background-position:-244px -166px;}
.pay_button:active{background-position:-244px -224px;}

/*弹出框*/
.dialog-content .notice{margin: 30px auto 35px;color:#da3530;}
.dialog-content .paybutton, .dialog-content .paybutton:hover, .dialog-content .paybutton:active, .dialog-content a .paybutton, .dialog-content a:hover .paybutton, .dialog-content a:active .paybutton { height: 38px; line-height: 36px; width: 115px; background: url(../images/weebox/wee-icon.png) no-repeat 0 -343px; border-radius: 0; font-size: 16px; border: none; color: #fff;}
.dialog-content .paybutton-gray{ margin-left:10px;}
.dialog-content .paybutton-gray, .dialog-content .paybutton-gray:hover, .dialog-content .paybutton-gray:active { width: 247px !important; background: url(../images/weebox/wee-icon.png) no-repeat 0 -408px; color: #FFF; }
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active {
    background: url("../images/weebox/wee-icon.png") no-repeat scroll left -277px rgba(0, 0, 0, 0);
    height: 46px;
    width: auto;
}