.p_paying{width:1100px;height: auto;margin: 0 auto;border: 1px #e3e3e3 solid;}   
.user_title{background: #fcfcfc;height: 47px;line-height: 47px;border-bottom: 1px solid #e5e5e5;}
.user_title h1 {font-size: 18px;color: #1a1f25;padding-left: 20px;font-weight: 600;}
.user_title i {background: #f3491f;border: 1px solid #e43b19;height: 18px;position: relative;margin-left: 20px;width: 1px;top: 1px;margin-right: 8px;}
.remind_text{font-size: 16px;text-align: center;padding-top: 200px;padding-bottom: 34px;}
.charge_msg{font-size: 16px;padding-left: 447px;margin-bottom: 15px;}
.charge_msg span{color: #ee4634;}
.charge_btn{width: 330px;margin: 0 auto;margin-top: 35px;margin-bottom: 200px;}
.charge_now{width:154px;height:40px;line-height:40px;background:#ee4634;color:#fff;text-align: center;border-radius: 5px;border: 1px #ee4634 solid;margin-right: 18px;font-size: 16px;float: left;}
.go_index{width:154px;height:40px;line-height:40px;background:#fff;color:#ee4634;text-align: center;border-radius: 5px;border: 1px #ee4634 solid;font-size: 16px;float: left;}
/*弹出框*/
.dialog-content .notice{margin: 30px auto 35px;color:#da3530;}
.dialog-content .paybutton, .dialog-content .paybutton:hover, .dialog-content .paybutton:active, .dialog-content a .paybutton, .dialog-content a:hover .paybutton, .dialog-content a:active .paybutton { height: 38px; line-height: 36px; width: 115px; background: url(../images/weebox/wee-icon.png) no-repeat 0 -343px; border-radius: 0; font-size: 16px; border: none; color: #fff;}
.dialog-content .paybutton-gray{ margin-left:10px;}
.dialog-content .paybutton-gray, .dialog-content .paybutton-gray:hover, .dialog-content .paybutton-gray:active { width: 247px !important; background: url(../images/weebox/wee-icon.png) no-repeat 0 -408px; color: #FFF; }
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active {
    background: url("../images/weebox/wee-icon.png") no-repeat scroll left -277px rgba(0, 0, 0, 0);
    height: 46px;
    width: auto;
}