/*注册*/
body{background:#e8e9eb;}
.ui-box{border:none;}
.wrap{width: 825px;}
.blank23{height: 60px;}
.ui-form ul{margin-left: 127px;}
.ui-form .btn-w30{padding-left: 273px;}
.ui-box .r-title h2{font-size: 27px;text-align: center;padding-top: 80px;}
.p_user_register .reg-mid{padding-top: 40px;padding-bottom: 60px;}
.ui-form li label{font-size: 14px; padding-top:13px; line-height: normal;}
.select_box div{height: 44px;line-height: 44px;box-shadow: none;border-radius: 4px 0 0 4px;background-position: 58px 17px!important;width: 65px;padding: 0px 0px 0px 13px;}
.ui-form .txt{height: 34px;border-radius: 4px;width: 309px;line-height: 34px;}
.p_user_register .ipt-wrap{height: 44px;line-height: 44px;border-radius: 0 4px 4px 0;width: 254px!important;}
.select_box ul{top:47px;margin-left: 0px;left: 146px!important;}

.p_user_register input.txt-tel{height: 44px;line-height: 44px;width: 228px;}
.p_user_register .img-Veri{border:none;height: 40px;margin-left: 34px;border-radius: 4px;margin-top: 2px;}
.p_user_register .graph-ver input.txt{width: 182px;}
.p_user_register .ui-form ul li.pwd-item .txt{width: 284px!important;}
.p_user_register .btn-sub{background:#ef4534;width: 337px;height: 40px;line-height:40px;border-radius: 4px;}
.p_user_register .btn-sub:hover{background:#ff5f4e;}
.p_user_register .btn-sub:active{background:#e7402e;}
.p_user_register .pad_left{padding-left: 0;text-align: center;margin-top: 20px; height: 20px;}
.ml329{margin-left: 315px;color: #888888;}
.login_blue{margin-top: 35px;color: #bbbbbb;text-align: center;padding-left: 20px;}
.blue{color: #2ea7e0;text-decoration: underline;}
.bshareholders_help{background:url(../images/user/help.png) no-repeat center 7px; width:27px; height:22px; display:inline-block; background-size:58%;}
.box_bshareholders_help{position:relative;}
.pr10{padding-right: 10px;}
.pl10{padding-left: 10px;}
.annotation{color: #b2b0b0;font-size: 12px;}
.ui-form .er-icon, .ui-form .error-wrap{margin-top: 8px;max-width:170px!important; float: left;}
.pass-item-tip-password{left: 483px;top: 10px;}
.pass-item-tip-password .pwd-checklist{border:none;background:#fff;width: 130px;}
.pass-item-tip-password .safety-level span.process{width: 35px;height: 15px;text-align: center;line-height: 15px;font-size: 12px;color: #fff;margin-right: 3px;background: #dcdcdc;}
.pass-item-tip-password .safety-level span.low{background: #f14335;}
.pass-item-tip-password .safety-level span.middle{background: #fba352;}
.pass-item-tip-password .safety-level span.high{background: #6ab225;}
.eye{background: url(../images/icon/eye_close.png);left: 444px!important;top:15px!important; width:25px!important;height: 20px!important; background-position: 0px 0px !important;}
.p_user_register .pwd-hide {background: url(../images/icon/eye_open.png) no-repeat;}
.p2p-ui-checkbox .check-normal{background-image: url(../images/common/uncheckbox.png);background-position: 0px 0px;}
.p2p-ui-checkbox .check-select{background-image: url(../images/common/checkbox.png);background-position: 0px 0px;}
.ui-form .p2p-ui-checkbox a.check-normal{width: 18px;height: 18px;vertical-align: -4px;}
.p2p-ui-checkbox .check-normal:hover{background-image: url(../images/common/uncheckbox_hover.png);background-position: 0px 0px;}
.p2p-ui-checkbox .check-select:hover{background-image: url(../images/common/checkbox_hover.png);background-position: 0px 0px;}
.p_user_register .ui-form ul li.pwd-item .error-wrap{left: 483px;}
.ui-form li{margin-bottom: 20px;height: auto;}

/*注册页短信弹框*/
.weedialog .dialog-title{background-image: none;background:#ffffff;}
.weebox_send_msg .wee-send .send-input p{padding-bottom: 20px;}
.ipt-txt{border-radius: 4px;width: 134px;height: 43px;line-height: 44px;}
.weedialog .dialog-ok{background:#ef4534!important;width: 154px!important;border-radius: 4px;}
.weedialog .dialog-ok:hover{background:#ff5f4e!important;}
.weedialog .dialog-ok:active{background:#e7402e!important;}
.weebox_send_msg .btn-blue-h34{background:#ef4534;width: 142px;border-radius: 4px;margin-top: 6px;}
.weebox_send_msg .btn-blue-h34:hover{background:#ff5f4e;}
.weebox_send_msg .btn-blue-h34:active{background:#e7402e;}
.weedialog .dialog-header{background:#ffffff;}
.weedialog .dialog-ok span{background-image: none;height: 40px;line-height: 40px;float: none;}
.weedialog .dialog-button{padding-top: 40px;padding-bottom: 50px;}
.weedialog .dialog-button a{vertical-align: middle;}
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active{height: 38px;}
.color_green{color: #4c9c00;}
.weebox_send_msg .btn-gray-h34{background-image: none;background: #dadde2;width: 142px;border-radius: 4px;margin-top: 6px;}
.weebox_send_msg .btn-gray-h34:hover{background-image: none;background: #dadde2;width: 142px;border-radius: 4px;margin-top: 6px;}
.weedialog .dialog-close{background: url(../images/weebox/close_new.png) no-repeat;}
.weedialog .dialog-close:hover{background: url(../images/weebox/close_new_hover.png) no-repeat;}

/*身份验证页*/
.gx{font-size: 27px;}
.p_user_addbank .reg-mid{padding-top: 80px;padding-bottom: 140px;}
.p_user_addbank .ui-form .total-error{background:#fff2f1;width: 625px;height: 50px;border:1px #ffc4be solid;line-height: 50px;}
.p_user_addbank .ui-form .txt{height: 34px;width: 309px;}
.p_user_addbank .ui-form li label{font-size: 14px;height: 44px;line-height: 44px;}
.p_user_addbank .ui-form ul{margin-left: 126px;}
.btn-red-h46{background:#ee4634;width: 337px;height: 40px;line-height:40px;border-radius: 4px;}
.btn-red-h46:hover{background:#ff5f4e;width: 337px;height: 40px;line-height:40px;border-radius: 4px;}
.btn-red-h46:active{background:#e7402e;width: 337px;height: 40px;line-height:40px;border-radius: 4px;}
.p_user_addbank .pad_left{padding-left: 0px;}
.re_footer{text-align: center;font-size: 12px;color: #888888;margin-top: 85px;margin-bottom: 90px;line-height: 20px;}
.p_user_addbank .ui-form li{margin-bottom: 20px;}
.p_user_addbank .ui-form .p2p-ui-checkbox a.check-normal{vertical-align: -4px;}
.jg{color: #888888;}

/*注册成功*/
.register_success{width: 825px;background:#fff;margin: 0px auto;}
.s_title{padding-top: 70px;text-align: center;font-size: 27px;color: #000;}
.s_title i{background:url(../images/account/register_success.png) no-repeat;width: 50px;height:50px ;display: inline-block;vertical-align: -15px;margin-right: 5px;}
.s_text{text-align: center;font-size: 16px;color: #333333;margin-top: 30px;margin-bottom: 30px;}
.s_discount{margin-bottom: 20px;}
.s_discount .discount{margin-right: 20px;background:url(../images/account/reg_bg.png) no-repeat;width: 220px;height: 124px;display: inline-block;}
.s_discount .discount:first-child{margin-left: 62px;}
.s_discount .discount .name{color: #ffffff;font-size: 20px;text-align: center;}
.s_discount .discount .name .font24{font-size: 24px;}
.s_discount .discount .name .num{font-size: 48px;font-weight: bold;}
.s_discount .discount .rule{font-size: 13px;color: #ffc0bd;line-height: 18px;text-align: center;}
.s_date{font-size: 14px;color: #888888;margin-bottom: 60px;text-align: center;}
.s_btn{padding-bottom: 180px;font-size: 16px;text-align: center;}
.s_btn .self_modify{background:#ee4634;width: 154px;height: 40px;line-height:40px;border-radius: 4px;color: #ffffff;display: inline-block;margin-right: 20px;}
.s_btn .self_modify:hover{background:#ff5f4e;}
.s_btn .self_modify:active{background:#e7402e;}
.s_btn .return{border-radius: 4px;color: #ee4634;border:1px #ee4634 solid;width: 154px;height: 40px;line-height: 40px;display: inline-block;background:#fff;}
.s_btn .return:hover{color: #ff5f4e;border:1px #ff5f4e solid;}
.s_btn .return:active{color: #e7402e;border:1px #e7402e solid;}


/*企业注册*/
.p_user_comreg .ui-box .reg-mid{padding:30px 54px 30px 54px;}
.icon-ok{background:url("../images/common/password_skin.png") no-repeat 0 -49px;display:inline-block;height:43px;margin-right:10px;vertical-align:middle;width:43px;}
.font_bold{font-weight: bold;}
.p_user_comreg .ui-box .reg-mid .reg-title{margin-top: 30px;background:url(../images/user/company_register.png);width: 717px;height: 60px;}
.p_user_comreg .ui-box .reg-mid .reg-cont .tit{border-bottom: 1px #eeeeee solid;}
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl dt{width: 110px;}
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl dd{width: 585px;}
.yonghu_register{font-size: 14px;text-align: center;margin-top: 55px;}
.company_reg_select_box div{border: 1px solid #bdbdbd;border-radius: 4px; background-position:308px 19px!important; }
.company_reg_select_box ul {width: 328px;left: 146px!important; max-height: 200px; overflow-y: auto}
.company_reg_select_box ul li{ height: auto;}
.time_box{height: 44px; line-height: 44px; width: 123px; padding-left:10px; border: 1px solid #cccccc; border-radius: 4px;background: url(../images/common/time_box_bg.png) no-repeat 100px center; float: left;}
.time_text{padding: 10px 25px; float: left;}
.ui-form li label{height: auto;width: 128px;}
input::-ms-clear,input::-ms-reveal{
display:none;
}
.ui-form .check_expire_at_date{margin:0; clear: both; padding-top: 10px;}
.ui-form .check_expire_at_date .ml329{margin-left: 146px;}
.time_box[disabled]{background-color:#f5f5f5;}
.p_user_comreg .ico_sigh{background:url(../images/account/yue.png) no-repeat 0 0;position:absolute;margin-top:8px;margin-left:1px;width:14px;height:14px;margin-bottom:5px;}
#ui-datepicker-div{z-index: 21!important;}
.p_user_register .ui-form .p2p-ui-checkbox{margin: 25px auto 30px;}
.p_user_register .select{width: 103px; height: 36px; border: 1px solid #cccccc; margin-right: 13px; font-size: 14px; padding: 0 5px; outline: none;}
.p_user_register .address{height: 36px; padding: 0 13px; border-radius: 0px;}
.p_user_register .step_img{width: 666px; height: 75px; margin: 30px auto 0;}
.p_user_register .step_img1{background:url(../images/user/reg_step1.jpg) no-repeat 0 0;}
.p_user_register .step_img2{background:url(../images/user/reg_step2.jpg) no-repeat 0 0;}
.p_user_register .step_img3{background:url(../images/user/reg_step3.jpg) no-repeat 0 0;}
.p_user_register .step_img4{background:url(../images/user/reg_step4.jpg) no-repeat 0 0;}