.hong-ok a{color:#0088cc;}
.hong-ok{padding:0 38px;min-height:500px;}
.hong-ok h2{font-size:24px;text-align:center;color:#878787;padding:70px 0 50px;line-height:normal;}
.icon-ok{background:url(../images/common/password.png) no-repeat;width:54px;height:54px;display:inline-block;vertical-align:middle;margin-right:10px;}
.hong-ok h3{font-size:14px;padding-top:15px;}
.hong-ok h3 span{color:#ff6600;}
.hong-ok h3 span em{font-size:20px;}
.hong-item{border:1px solid #dfdfdf;padding:15px 20px;margin:20px 0 15px;font-size:14px;line-height:30px;}
.hong-item li{list-style:disc;color:#797878;margin-left:20px;}
.hong-item li span{color:#333333;}
.hong-item li em{padding:0 20px;}
.hong-bg{background:url(../images/red-paper/bg-01.jpg) no-repeat #ee4113;height:415px;margin:40px 0px 40px;}
.hong-number{width:246px;float:left;padding:160px 169px 0 165px;text-align:center;font-size:26px;color:#e72d0e;}
.hong-number span{color:#e72d0e;}
.hong-number em{font-size:50px;}
.hong-share{width:324px;float:right;color:#fff;text-align:center;}
.hong-share h4{font-size:20px;padding:40px 0 25px;}
.hong-code{width:160px;height:160px;margin:0 auto;border:3px solid #040000;border-radius:3px;}
.hong-share h5{font-size:14px;padding-top:20px;}
.hong-share h5 a{color:#fff189}
.hong-share h6{color:#333333;filter:Alpha(Opacity=45);opacity:0.45;padding-top:15px;}
.mark{z-index:999;width:100%;height:100%;position:fixed;background:#000;opacity:0.8;left:0px;top:0px;filter:Alpha(Opacity=80);display:none;}
.big-hongbao{z-index:1000;background:url(../images/red-paper/bg-02.png?v=20150624) no-repeat;width:921px;height:441px;position:fixed;top:50%;left:50%;margin:-220px 0px 0px -460px;display:none;}
.big-hongbao .hong-code{margin:135px 0px 0px 80px;}
.super-hongbao{width:580px;padding:70px 0px 0px 30px;font-size:90px;color:#fff;height:100px;line-height:100px;}
.super-hongbao span{font-size:115px;vertical-align:middle;line-height:90px;display:inline-block;height:100px;}
.sub_bg{background-image:url(../images/red-paper/bg-03.jpg?v=20150624);}
.main{border:1px solid #e3e3e3;box-shadow:none;margin:22px auto;background:#fff;}
.hong-ok{padding:0 90px 60px;}
.hong-ok h2{padding-top:40px;color:#656565;}
.hong-bg{margin-top:0px;margin-bottom:15px;}
.hong-share{width:318px;}
.p_success .icon-ok{background:url("../images/common/password_skin.png") no-repeat 0 -49px;display:inline-block;height:43px;margin-right:10px;vertical-align:middle;width:43px;}
.wrap{width:1100px;}
.cunpon_bg{background:url(../images/red-paper/cunpon.jpg) no-repeat;width:918px;height:415px;margin:0 auto;}
.cunpon_bg .cunpon_text{width:612px;float:left;text-align:center;font-size:16px;color:#fff;}
.cunpon_bg .cunpon_text h2{font-size:30px;color:#ffe000;padding:10px 0 0;}
.cunpon_bg .cunpon_text h3{padding:0;}
.cunpon_bg .cunpon_text .f48{font-size:48px;}
.cunpon_bg .cunpon_text .color_yellow{color:#ffe000;}
.cunpon_bg .cunpon_img{width:306px;float:left;text-align:center;padding-top:40px;}
.cunpon_bg .cunpon_img h2{color:#ff4a00;font-size:16px;line-height:30px;padding:0;}
.cunpon_bg .cunpon_img .code_img{height:228px;padding-top:42px;}
.cunpon_bg .cunpon_img h3{font-size:13px;padding:0;}
.icon-ok{background:url("../images/common/password_skin.png") no-repeat 0 -49px;display:inline-block;height:43px;margin-right:10px;vertical-align:middle;width:43px;}
.dt-msg{margin-top:-50px;font-size:14px;margin-bottom:20px;}
.hong-ok > h3.tit{margin-top: -20px;}


/*改版*/
.p_success .hong-ok h2{padding-bottom: 0px;}
.p_success .pl64{padding-left: 64px;}
.p_success .hong-ok h3{padding: 0px;}
.p_success .hong-item li{list-style: none; margin-left:10px;}
.p_success .see_deal_btn ,.p_success .back_index_btn{ width: 102px;height: 38px; border: 1px solid #ee4634; line-height: 38px; color: #ee4634;border-radius: 5px;padding: 0px; display: inline-block;}
.p_success .see_deal_btn{background: #ee4634; color: #fff;}
.p_success .dt-msg{margin-top: 0px;}