.main{ border:1px solid #e3e3e3; box-shadow:none; margin:22px auto;}
.hong-ok{ padding:0 90px 60px;} 
.hong-ok h2{ padding-top:40px; color:#656565;}
.hong-bg{ margin-top:0px; margin-bottom:15px;}
.hong-share{ width:318px;}
.icon-ok {
    background: url("../images/common/password_skin.png") no-repeat 0 -49px;
    display: inline-block;
    height: 43px;
    margin-right: 10px;
    vertical-align: middle;
    width: 43px;
}
.wrap{ width:1100px;}

.cunpon_bg{ background:url(../images/red-paper/cunpon.jpg) no-repeat; width:918px; height:415px; margin:0 auto;}
.cunpon_bg .cunpon_text{ width:612px; float:left; text-align:center; font-size:16px; color:#fff;}
.cunpon_bg .cunpon_text h2{ font-size:30px; color:#ffe000; padding:10px 0 0;}
.cunpon_bg .cunpon_text h3{ padding: 0;}
.cunpon_bg .cunpon_text .f48{ font-size:48px;}
.cunpon_bg .cunpon_text .color_yellow{ color:#ffe000;}
.cunpon_bg .cunpon_img{ width:306px; float:left; text-align: center; padding-top:40px;}
.cunpon_bg .cunpon_img h2{ color:#ff4a00; font-size:16px; line-height:30px; padding: 0;}
.cunpon_bg .cunpon_img .code_img {height:228px; padding-top:42px;}
.cunpon_bg .cunpon_img h3{ font-size:13px; padding: 0;}
.hong-ok h3.tit{font-size: 16px;padding-top: 10px;}
.hong-ok h3 span{color: #f75938}
.hong-ok h3.back{padding-top: 0}
.hong-item{margin-bottom: 10px;}