/*登录*/
.p_user_dologin .log-sprite{background-image:url(../images/user/reg_sprite.png);background-repeat:no-repeat;}
.p_user_dologin{background-image:none;background-color:#FFF;}
.p_user_dologin .log-header{height:124px;}
.p_user_dologin .log-header,.p_user_dologin .log-wrap,.p_user_dologin .log-footer{width:920px;margin:0 auto;}
.p_user_dologin .log-header a{margin-top:21px;float:left;}
.p_user_dologin .log-main{font-size:14px;background:url(../images/user/login_bg.jpg) repeat-x center top;height:374px;}
.p_user_dologin .log-footer{border-top:1px dotted #e3e3e3;padding-top:24px;color:#888;text-align:center;margin-top:140px}
.p_user_dologin .log-wrap{height:374px;position:relative;background:url(../images/user/login-page-cover-3.jpg) no-repeat left -33px;}
.p_user_dologin .form-wrap{position:absolute;width:424px;height:450px;right:50px;top:-43px;background:url(../images/user/login-bg.png) no-repeat;}
.p_user_dologin .form-wrap .ipt-form{padding:6px 5px 9px 9px;}
.p_user_dologin .form-wrap .reg-head .sub-tit{float:right;color:#999;padding-right:60px;}
.p_user_dologin .form-wrap .reg-head{border-bottom:1px solid #dfdddd;height:56px;line-height:56px;}
.p_user_dologin .form-wrap .reg-head h2{font-size:20px;color:#2b2b2b;padding:0 60px;}
.p_user_dologin .log-mid{width:290px;margin:0 auto}
.p_user_dologin .height_placeholder{height:30px;margin:10px 0;}
.p_user_dologin .login_err{width:258px;color:#cc1223;font-size:14px;background:#feefef;border:1px solid #fe9898;line-height:17px;height:17px;padding:5px 15px;display:none;}
.p_user_dologin .log-form .txt-input{width:227px;border:1px solid #bababa;color:#111111;height:24px;line-height:24px;padding:8px 13px;font-size:14px}
.p_user_dologin .log-form input[type="password"].txt-input:focus,input[type="text"].txt-input:focus{border:#32a0fe solid 1px;box-shadow:1px 0px 2px rgba(183,221,253,1),-1px 0px 2px rgba(183,221,253,1),0px 1px 2px rgba(183,221,253,1),0px -1px 2px rgba(183,221,253,1);}
.p_user_dologin .log-form .mobile{width:20px;height:17px;background-position:-48px -332px;position:absolute;left:16px;top:13px}
.p_user_dologin .log-form .padd-l47{padding-left:47px;}
.p_user_dologin .log-form .log-item{position:relative;margin-bottom:33px;}
.p_user_dologin .log-form .log-item .log-form-btn{margin-top:30px;}
.p_user_dologin .log-form .pwd{width:14px;height:20px;background-position:0 -332px;position:absolute;left:19px;top:11px}
.p_user_dologin .log-form .item-veri{position:relative;margin-bottom:0;padding-top:10px;}
.p_user_dologin .log-form .item-veri .forget-pwd{position:absolute;top:-27px;right:0;display:block;}
.p_user_dologin .log-form .item-veri .passport-info{height: 16.5px; line-height: 16px; position:absolute;top:-27px;left:0;display:block;padding-right:20px; background:url(../images/user/help.png) no-repeat center right}
.p_user_dologin .log-form .item-veri .txt-input,.log-form .item-veri .img-Veri,.log-form .item-veri .refresh{float:left}
.p_user_dologin .log-form .item-veri .txt-input{width:111px;}
.p_user_dologin .log-form .item-veri .veri-icon{width:24px;height:22px;position:absolute;left:15px;top:11px;background-position:-197px -97px;}
.p_user_dologin .log-form .item-veri .img-Veri{width:85px;height:30px;margin:7px 0 0 10px;}
.p_user_dologin .log-form .item-veri .img-Veri img{width:100%;height:100%;overflow:hidden;cursor:pointer;}
.p_user_dologin .log-form .item-veri .refresh{width:55px;line-height:42px;text-align:right;color:#0088cc;cursor:pointer;}
.p_user_dologin .log-form .item-veri .refresh:hover{text-decoration:underline;}
.p_user_dologin .log-form .btn-sub{border:none;background-color:transparent;background-position:0 -274px;width:291px;height:46px;line-height:46px;text-align:center;color:#FFF;font-size:18px;}
.p_user_dologin .log-form .btn-sub:hover{background-position:-311px -274px;}
.p_user_dologin .log-form .btn-sub:active{background-position:-622px -274px;}
.p_user_dologin .error-box{bottom:44px;}
.p_user_dologin .log-form .error-box .error-wrap{width:258px;}
.p_user_dologin .w224{width:224px;}
.p_user_dologin .ipt-wrap{float:left;background:#FFFFFF;border:1px solid #bababa;color:#4f4e4e;height:40px;line-height:40px;font-size:14px;}
.p_user_dologin .ipt-focus{border-color:#32a0fe;box-shadow:1px 0px 2px rgba(183,221,253,1),-1px 0px 2px rgba(183,221,253,1),0px 1px 2px rgba(183,221,253,1),0px -1px 2px rgba(183,221,253,1);}
.p_user_dologin .ipt-focus .areacode{color:#333}
.p_user_dologin .areacode{float:left;color:#999;padding-left:10px;}
.p_user_dologin input.txt-tel{font-size:14px;padding-left:13px;float:left;display:block;border:none;border-width:0;color:#4f4e4e;float:left;height:40px;line-height:40px;width:165px;font-size:14px}
.p_user_dologin input.txt-tel[type="password"]:focus,input.txt-tel[type="text"]:focus{border-color:transparent;box-shadow:none}
.p_user_dologin input.txt-tel.w197{width:210px;}
.p_user_dologin .select_box ul{top:41px;}
.p_user_dologin .zind2{z-index:2}
.p_user_dologin .select_box div{height:40px;line-height:40px;line-height:38px\9;background-position:40px 16px;}
.p_user_dologin .select_box .j_select i{*vertical-align:-6px}
.p_user_dologin input.txt-tel{border:0;}

/*checkbox*/

/*2017-页面改版  start*/
.p_user_dologin .form-wrap{width:375px;height:422px;}
.p_user_dologin .log-wrap{height:500px;}
.p_user_dologin .log-wrap{background:url(../images/user/logintest.jpg) no-repeat center 0px;}
.p_user_dologin .log-main{height:500px;background-size:cover;}
.p_user_dologin .form-wrap{top:30px;}
.p_user_dologin .form-wrap .reg-head h2{padding:0px 33px;font-size:18px;color:#333333;}
.p_user_dologin .form-wrap .reg-head .sub-tit{padding-right:33px;font-size:14px;color:#888888;}
.p_user_dologin .form-wrap .reg-head .sub-tit a{color:#2ea7e0;}
.p_user_dologin .log-mid{width:295px;}
.p_user_dologin .login_err{width:263px;}
.p_user_dologin .form-wrap .ipt-form{padding:6px 5px 18px 12px;}
.p_user_dologin .select_box div{height:44px;}
.p_user_dologin input.txt-tel{height:44px;line-height:44px;}
.p_user_dologin .ipt-wrap{height:44px;}
.p_user_dologin .select_box div{width:76px!important;line-height:44px;background-position:52px 17px!important;border-radius:3px 0px 0px 3px;padding:0px!important;}
.p_user_dologin input.txt-tel.w197{width:202px!important;border-radius:0px 3px 3px 0px;}
.p_user_dologin .ipt-wrap{width:215px!important;border-radius:0px 3px 3px 0px;}
.p_user_dologin .log-form .txt-input{width:234px;height:27px;line-height:27px;border-radius:3px;}
.p_user_dologin .log-form .log-item{margin-bottom:20px;}
.p_user_dologin .log-form .item-veri .forget-pwd{top:123px;}
.p_user_dologin .log-form .item-veri .passport-info{top:123px;}
.p_user_dologin .log-form .item-veri{padding-top:10px;}
.p_user_dologin .log-form .log-item .log-form-btn{margin-top:0px;}
.p_user_dologin .log-form .item-veri{margin-top:-10px;}
.p_user_dologin .log-form .item-veri .txt-input{border-radius:3px;}
.p_user_dologin .log-form .item-veri .img-Veri{height:42px;border:1px solid #cccccc;margin:0px 0 0 10px;border-radius:3px;}
.p_user_dologin .log-form .item-veri .img-Veri img{border-radius:8px;}
.false_for_user{display:inline-block;width:19px;height:19px;background:url(../images/user/false_for_user.png) no-repeat;margin-right:6px;vertical-align:middle;margin-top:-4px;}
#img_eye{width:25px;height:19px;display:inline-block;background:url(../images/user/user_v2.png) -5px -101px;position:absolute;right:10px;top:12px;}
.p_user_dologin .log-form .log-item{position:relative;}
.p_user_dologin .log-main{font-size:14px;background:url(../images/user/line_bg.jpg) repeat-x center top;}
.p_user_dologin .log-form .padd-l47{padding-left:16px;padding-right:35px;}
.p_user_dologin .log-form .txt-input{width:240px;}
.p_user_dologin .log-form .btn-sub{height:40px;line-height:40px;border-radius:3px;background:#ee4634;font-size:16px;width:292px;}
.log-form{width:295px;}
.j_select span{text-indent:5px;padding-left:11px;}
.select_box div{box-shadow:none!important;}
.p_user_dologin .log-form .item-veri .refresh{color:#2ea7e0;}
.p_user_dologin .log-form .item-veri .forget-pwd{color:#2ea7e0;}
.p_user_dologin .log-form .item-veri .passport-info{color:#000;}

/*短信验证码登录*/
.p_user_dologin .log-mid{padding-left:2px;}
#login_v2 .ipt-wrap{height:44px;}
#login_v2 input.txt-tel{height:44px;line-height:44px;}
#login_v2 .select_box div{line-height:44px;}
/*#login_v2 .select_box div{height:44px;background-position:51px 14px!important;}*/
#login_v2 .graph-ver .txt{height:44px;line-height:44px;border-radius:3px;width:120px;}
#login_v2 .graph-ver input.txt,#login_v2 .graph-ver .img-Veri{float:left;}
#login_v2 .img-Veri{border:none;height:40px;margin-top:2px;margin-left:10px;border-radius:4px;width:116px;}
#login_v2 .error-wrap{margin:0;position:absolute;float:none;border:none;font-size:12px;}
#login_v2 ul li{position:relative;}
#login_v2 ul li.tel-ver{margin-bottom:0px;}
#login_v2 ul li .error-wrap{display:none;}
#login_v2 .ui-form .er-icon .icon-right{display:none;}
#login_v2 ul li.tel-ver .error-wrap{top:8px;}
#login_v2 ul li.graph-ver{margin-bottom:26px;}
#login_v2 ul li.graph-ver .error-wrap{top:44px;}
#login_v2 ul li.graph-ver .txt{border:1px solid #A9A9A9;padding-left:10px;}
#login_v2 ul li.graph-ver input::-webkit-input-placeholder{font-size:14px;}
#login_v2 ul li.graph-ver input:-moz-placeholder{font-size:14px;}
#login_v2 ul li.graph-ver input::-moz-placeholder{font-size:14px;}
#login_v2 ul li.graph-ver input:-ms-input-placeholder{font-size:14px;}
.p_user_dologin .mgLogin{display: inline-block;color: #2ea7e0;float: left;}
#login_v2 .pwdLogin{margin-top:10px;}
#login_v2 .pwdLogin a{color:#2ea7e0;cursor:pointer;}
#login_v2 a{text-decoration:none;color:#2ea7e0;}
#login_v2 .blue{color:#2ea7e0;}
#login_v2 .tel-ver .ui-form .error-wrap{position:static;background:none;border:none;margin:0;padding:5px 0;}
#login_v2 .tel-ver .ipt-wrap{margin-bottom:10px;}
#login_v2 .graph-ver .ui-form .error-wrap{position:absolute;background:none;border:none;margin:0;padding:5px 0;}
#login_v2 .img-Veri img{border-radius:3px;}
#login_v2 .img-Veri img{width:100%;height:100%;overflow:hidden;cursor:pointer;}
#login_v2 .img-Veri{height:42px;border:1px solid #cccccc;margin:0px 0 0 10px;border-radius:3px;}
#login_v2 .img-Veri{width:90px;height:42px;margin:1px 12px 1px 10px;}
#login_v2 .loginProtocol{position:absolute;bottom:22px;padding-left:60px;}
#login_v2 .changeCap{font-size:13px;height:44px;line-height:44px;cursor:pointer;color:#2ea7e0;}
#login_v2 .ui-form .error-wrap{font-size:12px;}
#login_v2 .logintips{color:#A9A9A9;font-size:13px;margin:0 0 10px 0;}
.weebox_send_msg .wee-send .send-input{margin:0 0 0 32px;position:relative;}
.weebox_send_msg .wee-send .send-input p{padding-bottom:20px;}
.weebox_send_msg .weedialog .dialog-content{padding:0px 35px 0;}
.weebox_send_msg .ipt-txt{background:#FFFFFF;border:1px solid #bababa;border-radius:4px;width:134px;height:43px;line-height:44px;color:#4f4e4e;float:left;padding:1px 13px;font-size:14px;}
.weebox_send_msg .btn-blue-h34{background:#ef4534;width:142px;border-radius:4px;margin-top:6px;}
.weebox_send_msg .btn-blue-h34,.weebox_send_msg .btn-gray-h34{margin-left:10px;color:#ffffff;width:147px;text-align:center;height:34px;line-height:34px;font-size:14px;border:none;}
.weebox_send_msg table .dialog-content{padding: 12px 35px 0;}
.weebox_send_msg table .dialog-button{padding-top:40px;padding-bottom:50px;}
.weebox_send_msg table .dialog-button{text-align:center;font-size:16px;padding:30px 0 25px;clear:both;background:#fff;}
.weebox_send_msg table .dialog-ok{background:#ef4534;width:154px!important;height:40px!important;line-height:40px!important;border-radius:4px;}
.weebox_send_msg table .dialog-ok span{background-image:none;height:40px;line-height:40px;float:none;}
.weebox_send_msg table .dialog-ok,.weebox_send_msg table .dialog-ok:hover,.weebox_send_msg table .dialog-ok:active{width:auto;background:#ef4534;}
.weebox_send_msg table .dialog-close:hover{}
.weebox_send_msg .btn-gray-h34{background-image: none;background: #dadde2;width: 142px;border-radius: 4px;margin-top: 6px;}
/*end*/

.tips_icon{
  background: url(../images/common/th_icon.png) no-repeat left 1px; padding-left: 50px;font-size: 14px;
}

/* 大额充值 */
.psd_tab{width: 50%;text-align: center;font-size: 16px;float: left;}
.scan_tab{width: 50%;text-align: center;font-size: 16px;float: left;}
.tab_active{color: #ee4634;border-bottom: 1px #ee4634 solid;}
.dis_none{display: none;}
.log-scan{}
.log-scan .scan_title{text-align: center;font-size: 14px;padding-top: 24px;margin-bottom: 20px;}
.log-scan .qr_code{width: 214px;height: 214px;display: block;margin: 0 auto;border: 3px #f1f1f1 solid;}
.log_bottom{height: 60px;line-height: 60px;background: #f7f7f7;padding: 0 35px;}
.passport-info{height: 16.5px; line-height: 16px;padding-right:20px; background:url(../images/user/help.png) no-repeat center right;margin-right: 25px;background-size: contain;}
.cover_refresh{width: 220px;height: 220px;background: rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);position: absolute;left: 0;top: 0;}
.qrcode_box{position: relative;width: 220px;height: 220px;margin: 0 auto;margin-bottom: 14px;}
.cover_refresh p{font-size: 22px;color: #fff;padding-top: 63px;padding-bottom: 38px;text-align: center;}
.cover_refresh .refresh_btn{height: 43px;line-height: 43px;background:#ee4634;font-size: 18px;width: 150px;text-align: center;color: #fff;margin: 0 auto;cursor: pointer;}
.psd_reg{text-align: right;padding-top: 15px;margin-bottom: 15px;}
.p_user_dologin .form-wrap{height: auto;min-height: 440px;}
.p_user_dologin .log-form .item-veri .forget-pwd{position: static;}
.p_user_dologin .log-form .item-veri .passport-info{position: static;}
.log_bottom_psd{height: 60px;line-height: 60px;background: #f7f7f7;padding: 0 35px;position: absolute;width: 297px;left: 8px;bottom: 0;}
.psd_forget{float: right;}
.log_item{padding-bottom: 60px;}
.scan_success{width: 214px;height: 214px;background: #fff;position: absolute;left: 0;top: 0;text-align: center;border: 3px #f1f1f1 solid;}
.scan_success img{width:70px;height:70px;padding-top: 38px;padding-bottom: 25px;}
.scan_success p{font-size: 14px;padding: 0 35px;line-height: 25px;}
.qrcode_fail{width: 214px;height: 214px;background: #fff;position: absolute;left: 0;top: 0;text-align: center;border: 3px #f1f1f1 solid;}
.qrcode_fail img{width:70px;height:70px;padding-top: 32px;padding-bottom: 20px;}
.qrcode_fail p{font-size: 14px;padding: 0 35px;line-height: 25px;padding-bottom: 10px;}
.qrcode_fail .refresh_btn{height: 33px;line-height: 33px;background:#ee4634;font-size: 16px;width: 140px;text-align: center;color: #fff;margin: 0 auto;cursor: pointer;}