
html,body{
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*键盘UI*/
.key_bg{ position: absolute;top: 0px;left: 0px;width:100%;height:100%;z-index: 100;}
.key_ul ul{background-color: #f2f2f2;position: fixed;bottom: 0px;left: 0px;right: 0px; width: 75%;border: none;margin: 0;padding: 0;z-index: 999; height:0px; border-left:1px solid #d9d9d9; 
		   -webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear; overflow:hidden;}
.key_ul ul li{ float: left;width: 33%;text-align: center;list-style-type:none;height: 50px;line-height: 50px; border: 1px solid #d9d9d9;border-bottom: none;border-left: none;-webkit-box-sizing:border-box;}
.key_ul ul li:nth-child(3n){width:34%;}
.key_ul ul li span{color: #000;font-size: 18px;font-weight: bold;height: 100%;display:block;-webkit-user-select:none;}
.key_ul ul li span:hover{ background:#e1e1e6;}
.key_right{background-color: #f2f2f2; position: fixed;bottom: 0px;right: 0px; width: 25%;z-index: 999; height:0; -webkit-transition:all 0.2s linear; overflow:hidden;}
.key_del{ height: 99px;text-align: center;line-height: 100px;border: 1px solid #d9d9d9;border-bottom: none;border-left: none;}
.key_sure{height: 100px;text-align: center;line-height: 100px;color: #000;font-size: 18px;-webkit-box-sizing:border-box;}
.key_sure span{border-left:1px solid #d9d9d9;border-top:1px solid #d9d9d9;  }
.key_right span{height: 100%;display:block;}

/*输入框UI*/
.inp_main{ display: inline-block;width: 100%;font-size: 14px;min-width: 115px;min-height: 20px;line-height: 38px; height:38px}
.inp_text{ color: #999999;}
/*光标闪烁*/
.inp_main i{background: #41474d;width: 1px;height: 50%;display: inline-block;vertical-align: middle;margin-top: -4px;}
.inp_main i{animation: myfirst 1s infinite;-moz-animation: myfirst 1s infinite;-webkit-animation: myfirst 1s;}
@keyframes myfirst{ 0%   {background: #41474d;}50%  {background: #fff;}100% {background: #41474d;}}

/*公共配置*/
.disnone{ display: none!important;}
.tap_color{ background-color: #e5e5e5; color:#000;}
/*动画效果*/
.msg_show{ height: 50px!important;-webkit-animation:msgshow 0.1s;}
.msg_hide{ height: 0px;-webkit-animation:msghide 0.1s ;}
@keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-moz-keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-webkit-keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-o-keyframes msgshow {0%{ height: 0px;}100%{height:50px;}}
@keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-moz-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-webkit-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-o-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
/*重新定位提示框*/
.dit_txt { position: relative;}

.btn_show{ height: 100px!important;-webkit-animation:btnshow 0.1s ;}
.btn_hide{ height: 0px;-webkit-animation:btnhide 0.1s ;}
@keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-moz-keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-webkit-keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-o-keyframes btnshow {0%{ height: 0px;}100%{height:100px;}}
@keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-moz-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-webkit-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-o-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}

.bg_hide,.bg_del{ width: 40%!important;height: 52%!important;display: inline-block;margin: 0 auto;}
.bg_del{background: url("../images/del.png") no-repeat 0 0;background-size: contain;margin-top: 35px;}
.bg_hide{background: url("../images/hide.png") no-repeat 0 0;background-size: contain;margin-top: 15px;}


.key_ul.show ul,.key_ul.show .key_right{height:200px;}

.key_del span{ border-left: 1px solid #d9d9d9;}

/*特殊样式*/
.btn_key{ font-size: 15px;color: #000;}