<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <!--public js&css start-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-base-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-common-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <!--public js&css end-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/qiangdaohongbao.css', 1);?>" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="light_box" style="height:428px">
    <div class="light_bg"></div>
</div>
{include file="web/views/fenzhan/hongbao/logo.html"}
<!--    <a href="#" class="logo"></a>
<a href="#" class="rule">活动规则</a> -->
    <div class="top cry">
       <div class="qw_img"></div>
        <div class="dao-btn mt5">
            <a  href="{$downloadUrl}" class="btn">下载客户端</a>
        </div>
                    <div class="p-tips pt5">
                <p>{$deal_500_for_888}</p>
                <p>{$deal_500_for_888_only}</p>
            </div>
    </div>
{include file="web/views/fenzhan/hongbao/yx/js.html"}
</body>
</html>
