<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="apple-mobile-web-app-title" content="" />
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
<title>微信分享红包</title>
<link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/base-1.css', 1);?>" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/qiangdaohongbao.css', 1);?>" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->asset->makeUrl('v1/js/zepto.min.js', 1);?>"></script>
</head>
<body>
<div class="light_box">
    <div class="light"></div>
</div>
{include file="web/views/fenzhan/hongbao/logo.html"}
<!--<a href="#" class="logo"></a>
<a href="#" class="rule">活动规则</a> -->
<div class="top vetically">
        <div class="rob-tel">
            <div class="p-title1"></div>
            <div class="dao-btn pt10">
                <span class="btn">仗义发红包</span>
            </div>
        </div>
        <div class="p-tips pt10">
            <p>{$deal_500_for_888}</p>
            <p>{$deal_500_for_888_only}</p>
        </div>
    </div>
<div class="mark"></div>
<div class="pop_icon"></div>
 <script type="text/javascript">	 
    $(function(){
		var bHeight=document.documentElement.clientHeight-418;
	 	$('.top').css({"margin-top":(bHeight/2)+'px'});
            $('.btn').click(function(){
        $('.mark,.pop_icon').addClass('dis_block');
        })
        $('.mark,.pop_icon').click(function(){
            $('.mark,.pop_icon').removeClass('dis_block');
        })
    })
</script>

{include file="web/views/fenzhan/hongbao/jsapi_config.html"}
<script>
    var imgUrl = '{$img}';
    var lineLink = "{$host}/hongbao/GetHongbao?sn={$sn}&site_id={$site_id}";
    var descContent = '{$desc}';
    var shareTitle = '{$title}';
    wx.ready(function() {
        wx.showOptionMenu();
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            link: lineLink, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function (res) { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function (res) { 
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: shareTitle, // 分享标题
            desc: descContent, // 分享描述
            link: lineLink, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function (res) { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function (res) { 
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
<script>
        function shareFriend() {
            WeixinJSBridge.invoke('sendAppMessage',{
                "appid": appid,
                "img_url": imgUrl,
                "img_width": "200",
                "img_height": "200",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                //_report('send_msg', res.err_msg);
            })
        }
        function shareTimeline() {
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url": imgUrl,
                "img_width": "200",
                "img_height": "200",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                   //_report('timeline', res.err_msg);
            });
        }
        function shareWeibo() {
            WeixinJSBridge.invoke('shareWeibo',{
                "content": descContent,
                "url": lineLink,
            }, function(res) {
                //_report('weibo', res.err_msg);
            });
        }
        // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 发送给好友
            WeixinJSBridge.on('menu:share:appmessage', function(argv){
                shareFriend();
            });
            // 分享到朋友圈
            WeixinJSBridge.on('menu:share:timeline', function(argv){
                shareTimeline();
            });
            // 分享到微博
            WeixinJSBridge.on('menu:share:weibo', function(argv){
                shareWeibo();
            });
        }, false);
</script>


</body>
</html>
