{include file="web/views/v2/header.html"}
<div class="p_account_editpwd">
    <link href="<?php echo $this->asset->makeUrl('v2/css/p_account_editpwd.css');?>" rel="stylesheet" type="text/css">
    <link href="<?php echo $this->asset->makeUrl('v2/js/temp/weebox.1.2.css');?>" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/oauth/pas_strength.js');?>"></script>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/oauth/account_editpwd.js');?>"></script>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/widget/cookie/cookie.js');?>"></script>
    <link href="<?php echo $this->asset->makeUrl('v2/css/user_pwdrule.css');?>" type="text/css" rel="stylesheet">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="h-title">
                <h2>
            <i></i>修改密码
        </h2>
            </div>
            <div class="pwd-mid">
                <div class="ui-form">
                    <form method="post" action="" id="editpwd_form" autocomplete="off">
                        <?php echo token_input(); ?>
                        <ul>
                            <li class="clearfix">
                                <label> 旧密码：</label>
                                <input type="password" value="" data-url="/user/DoModifyPwd"  placeholder="请填写旧密码以验证身份" name="old_password" id="old_password" class="txt">
                            </li>
                            <li class="clearfix">
                                <label> 注册手机号：</label>
                                <input type="text" value=""  data-url="/user/DoModifyPwd" placeholder="请填写注册所用手机号" name="mobile" id="mobile" class="txt" autocomplete="off" maxlength="25">
                            </li>
                            <li class="clearfix">
                                <label> 图形验证：</label>
                                <input type="text" value="" data-url="/user/captchaCheck" placeholder="请输入图片中的数字" name="captcha" id="captcha" class="txt" autocomplete="off" maxlength="25">
                                <img align="absbottom" title="点击刷新" src="/verify.php?w=93&h=34&rb=0" id="img_captcha"  width="93" class="ml15 fl">
                                <span class="msg-box n-right" for="captcha" id="code-err"></span>
                            </li>
                        </ul>
                        <div class="btn-w30">
                            <input class="common-sprite btn-red-h46" id="submit_btn" type="submit" value="确定">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
{include file="web/views/v2/footer.html"}
