{include file="web/views/v2/header.html"}
    <div class="p_user_comm_forgetpwd">
        <link href="<?php echo $this->asset->makeUrl('v2/css/p-user-comm-forgetpwd.css');?>" type="text/css" rel="stylesheet">
        <span class="blank23"></span>
        <div class="wrap clearfix">
            <div class="ui-box">
                <div class="h-title">
                    <h2><i></i>企业用户找回密码</h2>
                    <div class="r-menu"><a href="/user/forgetPassword" class="blue">个人会员找回密码 ></a></div>
                </div>
                <div class="forget-pwd f16">
                    企业用户找回密码，请拨打客户服务热线：<span class="color_red">010-89920015</span>（工作时间： 周一至周五 9:30-18:30）， 客服专员将第一时间为您处理。
                </div>
            </div>
        </div>
        <span class="blank23"></span>
    </div>
{include file="web/views/v2/footer.html"}
