{include file="web/views/v2/header.html"}
<div class="p_forgetpassword_idCard">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/p-user-forgetpassword-idCard.css');?>">
    <script src="<?php echo $this->asset->makeUrl('v2/js/oauth/forgetpassword_idCard.js');?>" type="text/javascript"></script>
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="h-title">
                <h2><i></i>找回密码</h2></div>
            <div class="pwp-mid">
                <div class="ui-form">
                    <form method="post" action="/user/DoForgetPwdIdno" id="passForm" autocomplete="off">
                        <?php echo token_input(); ?>
                        <input type="hidden" id="id_no" name="id_no" value="">
                        <ul>
                            <li class="clearfix">
                                <label> 身份证号：
                                </label>
                                <input type="text" value="" data-url="/user/DoForgetPwdIdno" placeholder="请输入身份证号码" data-placeholder="请输入身份证号码" name="idCard" id="idCard" class="txt int_placeholder">
                            </li>
                        </ul>
                        <div class="btn-w30">
                            <input class="common-sprite btn-red-h46" type="submit" id="" value="下一步">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
{include file="web/views/v2/footer.html"}
