{include file="web/views/v2/header.html"}
<div class="p_user_comreg">
    <link href="<?php echo $this->asset->makeUrl('v2/css/user_commpany_reg.css');?>" type="text/css" rel="stylesheet">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="h-title">
                <h2><i></i>企业用户注册</h2>
                <div class="r-menu"><a href="/enterprise/register" class="blue">个人会员注册 ></a></div>
            </div>
            <div class="reg-mid">
                <div class="reg-nav f16">企业用户注册会员请拨打客户服务热线：<span class="color_red">010-89920015</span>（工作时间： 周一至周五 9:30-18:30）。</div>
                <div class="reg-title"></div>
                <div class="reg-cont">
                    <div class="tit f16">企业用户注册前需准备以下资料：</div>
                    <div class="line"></div>
                    <div class="com-info mt10 f14">
                        <dl class="clearfix">
                            <dt>一、基本资料 </dt>
                            <dd>
                                <ul>
                                    <li>• 授权委托书</li>
                                    <li>• 开户企业营业执照副本</li>
                                    <li>• 相关人士身份证明文件 </li>
                                    <li>• 组织机构代码证副本 </li>
                                    <li>• 税务登记证副本（国税&地税）</li>
                                    <li>• 银行开户许可证</li>
                                    <li>• 银行结算户账户信息</li>
                                    <li>• 企业开户确认书回执</li>
                                    <li>• 企业开户申请书 </li>
                                </ul>
                            </dd>
                            <dt>二、特殊资料 </dt>
                            <dd> • 特种行业许可证</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
{include file="web/views/v2/footer.html"}
