{include file="web/views/v2/header.html"}
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/p-user-rnasuc.css');?>" />
<div class="p_account_o2o_coupon_suc">
    <span class="blank23"></span>
    <div class="w1100">
        <div class="ui-box">
            <div class="h-title">
                <h2>
                    <i></i>实名认证
                </h2>
            </div>
            <div class="suc_cont">
            <div class="ui_suc_title">
                <i class="ui_suc_icon mr10"></i>操作失败
            </div>
            <div class="tc f18">请先进行实名认证</div>
            <div class="f14 gray mt10 tc">系统将在3秒后自动跳转至实名认证页面，点击 <a href="" class="blue textd">这里</a> 立即跳转</div>
        </div>
        </div>
        <span class="blank60"></span>
    </div>
</div>
{include file="web/views/v2/footer.html"}
