<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>公益报告</title>
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=yes">
    <link href="<?php echo $this->asset->makeUrl('v2/css/charity/m-base.css');?>" rel="stylesheet" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/charity/login.css');?>" rel="stylesheet" />
</head>
    <body>
        <div class="no_list">
            <div class="text">
                <h2>You have not been involved in the project</h2>
                <p class="color_white">您尚未参与过公益标项目</p>
                <p>希望您多多关注</p>
                <p>一起谱写爱心故事</p>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function onBridgeReady() {
                WeixinJSBridge.call('hideOptionMenu');
            }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
</html>
