/* css 重置 begin */
* {
  padding: 0px;
  margin: 0px;
}
html {
  font-size: calc(26.66666667vw);
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, '微软雅黑';
  color: #000;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="button"] {
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
}
img {
  width: 100%;
  height: auto;
}
textarea {
  resize: none;
  outline: none;
}
.imgWrap {
  position: relative;
  max-width: 100%;
}
.imgWrap > img {
  display: block;
  width: 100%;
  height: auto;
}
.imgWrap .imgInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.paddingPopBox {
  height: 0px;
  padding-top: 100%;
  position: relative;
}
.paddingPopBox .paddingPopInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0px;
}
.f12 {
  font-size: 12px;
}
/* css 重置 end */
/* 全站通用样式 begin */
.maskDiv {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}
.imgWrap {
  position: relative;
  max-width: 100%;
}
.imgWrap > img {
  display: block;
  width: 100%;
  height: auto;
}
.imgWrap .imgInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.paddingPopBox {
  height: 0px;
  padding-top: 100%;
  position: relative;
}
.paddingPopBox .paddingPopInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.ui_input {
  height: 30px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  margin: 3px 0px 0px 5px;
}
.ui_input .inputVal {
  color: #000;
  letter-spacing: 2px;
  display: none;
}
.ui_input .inputCursor {
  visibility: hidden;
  width: 2px;
  background-color: #000;
  height: 20px;
  margin: 5px 0px 0px 3px;
  -webkit-animation: inputCursor_ani 1s steps(2, start) infinite;
          animation: inputCursor_ani 1s steps(2, start) infinite;
}
.ui_input .inputUnitText {
  font-size: 14px;
  margin-left: 3px;
  display: none;
}
.ui_input .inputPlaceHolder {
  font-size: 20px;
  color: #c9c9c9;
}
@-webkit-keyframes inputCursor_ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes inputCursor_ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.mainWidth {
  width: 92%;
}
.toastPop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.toastPop .inner {
  background-color: #fff;
  width: 62%;
  text-align: center;
  box-sizing: border-box;
  padding: 25px 20px 25px 20px;
  border-radius: 6px;
}
.toastPop .inner .text {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}
.defaultPH {
  text-align: center;
}
.defaultPH img {
  width: 121px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.defaultPH .tipText {
  font-size: 13px;
  color: #909090;
  margin-top: 15px;
}
.ajaxPage {
  font-size: 12px;
  display: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}
.ajaxPage.loadMore {
  color: #1C82DE;
}
.ajaxPage.text,
.ajaxPage.loading {
  color: #cccccc;
}
.flexCssTmp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 0px;
  opacity: 0;
}
/* 全站通用样式 end */
/* 申请借款私有css文件 begin */
.sqjk_body {
  background-color: #F5F5FA;
  padding-bottom: 60px;
}
.sqjk_body .inputDeal {
  background-color: #fff;
  padding: 15px 15px 15px 15px;
}
.sqjk_body .inputDeal .inputUnit {
  height: 84px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
}
.sqjk_body .inputDeal .inputUnit.active {
  border-color: #F5A623;
}
.sqjk_body .inputDeal .inputUnit .show_unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  line-height: 18px;
  padding: 10px 0px 0px 5px;
}
.sqjk_body .inputDeal .inputUnit .show_unit li {
  font-size: 10px;
  color: #909090;
}
.sqjk_body .inputDeal .inputUnit .show_unit li:first-child {
  color: #F6A623;
}
.sqjk_body .inputDeal .inputUnit .show_unit li:not(:first-child) {
  margin-left: 5px;
}
.sqjk_body .inputDeal .inputUnit .input_tip {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
}
.sqjk_body .inputDeal .inputUnit .input_tip .error {
  color: #ff0000;
}
.sqjk_body .inputDeal .limitMax {
  font-size: 14px;
  color: #000;
  margin: 10px 0px 0px 0px;
}
.sqjk_body .moduleUl {
  background-color: #fff;
  margin: 10px 0px 0px 0px;
  padding: 0px 15px;
}
.sqjk_body .moduleUl .moduleItem {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sqjk_body .moduleUl .moduleItem:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}
.sqjk_body .moduleUl .moduleItem .moduleLabel {
  font-size: 14px;
  color: #909090;
  line-height: 50px;
  display: block;
}
.sqjk_body .moduleUl .moduleItem .moduleCont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sqjk_body .moduleUl .moduleItem .moduleCont .normalText {
  color: #000;
  font-size: 14px;
  float: right;
  line-height: 50px;
}
.sqjk_body .moduleUl .moduleItem .moduleCont .link {
  color: #000;
  font-size: 14px;
  float: right;
  line-height: 50px;
  position: relative;
}
.sqjk_body .mobileCodeBox {
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  float: right;
}
.sqjk_body .mobileCodeBox .codeInput {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0px;
  box-sizing: border-box;
  padding: 6px 10px;
  line-height: 20px;
}
.sqjk_body .mobileCodeBox .codeBtn {
  display: block;
  line-height: 34px;
  color: #2385DF;
  font-size: 13px;
  padding: 0px 10px;
}
.sqjk_body .mobileCodeBox .codeBtn.noValid {
  color: #909090;
}
.sqjk_body .loanTip {
  font-size: 12px;
  color: #909090;
  padding: 17px 0px 0px 15px;
}
.sqjk_body .loanBtnBox {
  height: 54px;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 15px 0px 15px;
}
.sqjk_body .loanBtnBox .loanBtn {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  display: block;
  background-color: #1C82DE;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.sqjk_body .loanBtnBox .loanBtn.noValid {
  background-color: #d9d9d9;
}
.sqjk_body .noAccessBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}
.sqjk_body .noAccessBox .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sqjk_body .noAccessBox .inner .logoBox {
  display: block;
  width: 120px;
}
.sqjk_body .noAccessBox .inner .title {
  font-size: 15px;
  color: #909090;
  margin: 20px 0px 20px 0px;
}
.sqjk_body .noAccessBox .inner .text {
  font-size: 13px;
  color: #000;
  text-align: center;
  line-height: 18px;
}
.sqjk_body .noAccessBox .inner .toInvest {
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  background-color: #177FDE;
  border-radius: 17px;
  margin-top: 37px;
}
/* 媒体查询 begin */
@media screen and (max-width: 360px) {
  .sqjk_body .mobileCodeBox {
    width: 95%;
  }
}
/* 媒体查询 end */
/* 申请借款私有css文件 end */
/* 身份资料私有css文件 begin */
.sfzl_body {
  background-color: #F5F5FA;
  padding-bottom: 60px;
}
.sfzl_body .userInfor {
  background-color: #fff;
  padding: 0px 15px;
  font-size: 14px;
  margin: 15px 0px 0px 0px;
}
.sfzl_body .userInfor .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  padding: 15px 0px 10px 0px;
  box-sizing: border-box;
}
.sfzl_body .userInfor .item:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}
.sfzl_body .userInfor .item .itemLabel {
  color: #000;
  display: block;
  width: 90px;
  height: 20px;
  line-height: 20px;
}
.sfzl_body .userInfor .item .cont .text {
  color: #909090;
  height: 20px;
  line-height: 20px;
}
.sfzl_body .photoBox .title {
  font-size: 12px;
  color: #909090;
  padding: 17px 0px 13px 15px;
}
.sfzl_body .photoBox .photoCont {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px 5px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sfzl_body .photoBox .photoCont .photoDl dd {
  width: 85px;
  height: 53px;
  background: url("../../images/speedloan/identityCardBg.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}
.sfzl_body .photoBox .photoCont .photoDl dd::after {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin: -15px 0px 0px -15px;
  content: "";
  background: url("../../images/speedloan/photoLogo.png") no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}
.sfzl_body .photoBox .photoCont .photoDl dd img {
  width: 100%;
  height: 100%;
}
.sfzl_body .photoBox .photoCont .photoDl dt {
  margin-top: 8px;
}
.sfzl_body .photoBox .photoCont .photoDl dt p {
  font-size: 12px;
  text-align: center;
}
.sfzl_body .protocolBox {
    /*font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    font-size:0px;
  line-height: 24px;
  margin: 20px 0px 0px 15px;
    padding: 0px 0px 5px 0px;
}
.sfzl_body .protocolBox>*{
    font-size:11px;
    display: inline-block;
}
.sfzl_body .protocolBox p {
  color: #909090;
  padding-left: 20px;
  background: url("../../images/speedloan/radioUnChecked.png")  no-repeat left center;
  background-size: 14px 14px;
}
.sfzl_body .protocolBox.checked p {
  background-image: url("../../images/speedloan/radioChecked.png") ;
}
.sfzl_body .protocolBox a {
  color: #1C82DE;
    line-height: 16px;
    height: 16px;
    margin-top: 4px;
}
.sfzl_body .protocolBox a:nth-of-type(1) {
  margin-left: 15px;
}
.sfzl_body .submitBtnBox {
  height: 54px;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 15px 0px 15px;
}
.sfzl_body .submitBtnBox .formTag input[type="file"]{
    width:0px;
    height: 0px;
    opacity:0;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sfzl_body .submitBtnBox .loanBtn {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  display: block;
  background-color: #1C82DE;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.sfzl_body .submitBtnBox .loanBtn.noValid {
  background-color: #d9d9d9;
}
.sfzl_body .photoPop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sfzl_body .photoPop .mask {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.sfzl_body .photoPop .photoPopUl {
  background-color: #EFEFF4;
  text-align: center;
}
.sfzl_body .photoPop .photoPopUl li {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
.sfzl_body .photoPop .photoPopUl li a {
  display: block;
  width: 100%;
  height: 100%;
}
.sfzl_body .photoPop .photoPopUl li:nth-of-type(1) {
  font-size: 17px;
  color: #000;
	position:relative;
}
.sfzl_body .photoPop .photoPopUl li:nth-of-type(1) input[type="file"]{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    display: block;
}
.sfzl_body .photoPop .photoPopUl li:nth-of-type(2) {
  color: #909090;
  font-size: 17px;
  margin-top: 10px;
}
/* 身份资料私有css文件 end */
.eduxieyi_body {
  background-color: #F5F5FA;
  padding: 0px 0px 30px 0px;
}
.eduxieyi_body .mainBox {
  font-size: 14px;
  color: #5c5c5c;
  padding: 18px 15px 0px 28px;
}
.eduxieyi_body .item:not(:first-child) {
  margin-top: 20px;
}
/* 申请成功私有css文件 begin */
.sqcg_body {
  background-color: #fff;
  padding-bottom: 30px;
}
.sqcg_body .loanSucInfor {
  text-align: center;
  padding: 50px 0px 35px 0px;
}
.sqcg_body .loanSucInfor img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
.sqcg_body .loanSucInfor .title {
  font-size: 20px;
  color: #1C82DE;
  margin: 23px 0px 10px 0px;
}
.sqcg_body .loanSucInfor .tipText {
  width: 74%;
  margin: 0px auto 0px auto;
  font-size: 13px;
  color: #000;
}
.sqcg_body .repayBox {
  padding: 0px 4% 0px 4%;
}
.sqcg_body .repayBox .tip {
  font-size: 12px;
  color: #909090;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
.sqcg_body .repayBox .repayItem {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 0px 7%;
}
.sqcg_body .repayBox .repayItem:not(:first-child) {
  margin-top: 10px;
}
.sqcg_body .repayBox .repayItem div:nth-of-type(1) {
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0px 4px;
}
.sqcg_body .repayBox .repayItem div:nth-of-type(2),
.sqcg_body .repayBox .repayItem div:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sqcg_body .repayBox .repayItem div:nth-of-type(2) {
  font-size: 12px;
  color: #909090;
  height: 20px;
  line-height: 20px;
  padding: 5px 0px 2px 0px;
}
.sqcg_body .repayBox .repayItem div:nth-of-type(3) {
  font-size: 14px;
  color: #000;
  height: 20px;
  line-height: 20px;
  padding: 0px 0px 12px 0px;
}
.sqcg_body .repayBox .repayItem div:nth-of-type(3) span {
  font-size: 12px;
  color: #909090;
}
.sqcg_body .repayBox .moreInfor {
  font-size: 12px;
  color: #909090;
  margin-top: 10px;
}
.sqcg_body .repayBox .moreInfor a {
  color: #1C82DE;
}
/* 请成功私有css文件 end */
/* 待还款列表私有css文件 begin */
.dhklb_body {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.dhklb_body .timeRange {
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
  font-size: 12px;
}
.dhklb_body .awaitRepayItem {
  background-color: #fff;
  margin-top: 10px;
}
.dhklb_body .awaitRepayItem .title {
  padding: 0px 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  border-bottom: 1px solid #E6E6E6;
}
.dhklb_body .awaitRepayItem .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 26px;
  font-size: 15px;
  padding: 10px 4% 4px 4%;
}
.dhklb_body .awaitRepayItem .data .left {
  color: #909090;
}
.dhklb_body .awaitRepayItem .data .right {
  color: #000;
    text-align: right;
}
.dhklb_body .awaitRepayItem .btnBox {
  text-align: center;
  border-top: 1px solid #E6E6E6;
}
.dhklb_body .awaitRepayItem .btnBox a {
  display: inline-block;
  padding: 0px 20px;
  font-size: 15px;
  color: #1C82DE;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
}
.dhklb_body .awaitRepayItem .btnBox a.novalid {
  color: #909090;
}
.dhklb_body .defaultPH {
  margin-top: 140px;
}
/* 待还款列表私有css文件 end */
/* 借款记录私有css文件 begin */
.jkjl_body {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.jkjl_body .loanItem .title {
  height: 42px;
  line-height: 42px;
  box-sizing: border-box;
  font-size: 12px;
  color: #909090;
  text-align: center;
}
.jkjl_body .recordList {
  background-color: #fff;
  padding: 0px 4%;
}
.jkjl_body .recordItem {
  background-color: #fff;
}
.jkjl_body .recordItem:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}
.jkjl_body .recordItem a {
  display: block;
  position: relative;
  padding: 0px 15px 0px 0px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jkjl_body .recordItem a.noArrow {
  padding-right: 0px;
}
.jkjl_body .recordItem a.noArrow::after {
  display: none;
}
.jkjl_body .recordItem a.noValid .right {
  color: #909090;
}
.jkjl_body .recordItem a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-top: 1px solid #ADADAD;
  border-right: 1px solid #ADADAD;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 23px;
  right: 0px;
}
.jkjl_body .recordItem a .left p:nth-of-type(1) {
  font-size: 15px;
  color: #000;
  padding-top: 10px;
}
.jkjl_body .recordItem a .left p:nth-of-type(2) {
  font-size: 13px;
  color: #909090;
  margin-top: 2px;
}
.jkjl_body .recordItem a .right {
  height: 55px;
  line-height: 55px;
}
.jkjl_body .defaultPH {
  margin-top: 80px;
  display: none;
}
/* 借款记录私有css文件 end */
/* 还款明细私有css文件 begin */
.hkmx_body {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.hkmx_body .totalRepay {
  height: 108px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.hkmx_body .totalRepay .title {
  font-size: 13px;
  color: #909090;
  padding: 26px 0px 18px 0px;
}
.hkmx_body .totalRepay .num {
  font-size: 25px;
  color: #000;
}
.hkmx_body .repayList .title {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #909090;
  text-align: center;
}
.hkmx_body .recordList {
  background-color: #fff;
  padding: 0px 4%;
}
.hkmx_body .recordItem {
  height: 75px;
  padding-top: 10px;
  box-sizing: border-box;
}
.hkmx_body .recordItem:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}
.hkmx_body .recordItem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hkmx_body .recordItem div:nth-of-type(1) {
  line-height: 30px;
}
.hkmx_body .recordItem div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 15px;
}
.hkmx_body .recordItem div:nth-of-type(1) p:nth-of-type(1) .graySpan{
    color: #909090;
}
.hkmx_body .recordItem div:nth-of-type(2) {
  color: #909090;
  line-height: 20px;
  margin-top: 3px;
}
.hkmx_body .defaultPH {
  margin-top: 50px;
    display: none;
}
/* 媒体查询 begin */
@media screen and (max-width: 360px) {
  .hkmx_body .recordItem div:nth-of-type(2) {
    font-size: 12px;
  }
}
/* 媒体查询 end */
/* 还款明细私有css文件 end */
/* 借款详情私有css文件 begin */
.jkxq_body {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.jkxq_body .loanMoneyBox {
  height: 136px;
  background-color: #fff;
  text-align: center;
}
.jkxq_body .loanMoneyBox .title {
  font-size: 13px;
  color: #909090;
  padding: 26px 0px 0px 0px;
}
.jkxq_body .loanMoneyBox .num {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
}
.jkxq_body .loanMoneyBox .status {
  font-size: 13px;
  color: #909090;
}
.jkxq_body .detailData {
  border-top: 1px solid #E6E6E6;
  background-color: #fff;
  padding: 12px 4% 15px;
}
.jkxq_body .detailData li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  line-height: 20px;
}
.jkxq_body .detailData li:not(:first-child) {
  margin-top: 10px;
}
.jkxq_body .detailData li p:nth-of-type(1) {
  color: #909090;
}
.jkxq_body .linkBox {
  margin-top: 10px;
  background-color: #fff;
  padding: 0px 4%;
  font-size: 15px;
}
.jkxq_body .linkBox li {
  height: 50px;
  line-height: 50px;
}
.jkxq_body .linkBox li:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}
.jkxq_body .linkBox li a {
  display: block;
  width: 100%;
  position: relative;
}
.jkxq_body .linkBox li a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-top: 1px solid #ADADAD;
  border-right: 1px solid #ADADAD;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 21px;
  right: 2px;
}
/* 借款详情私有css文件 end */
/* 在线还款私有css文件 begin */
.zxhk_body {
  background-color: #F5F5FA;
  padding-bottom: 60px;
}
.zxhk_body .repayBanner {
  background-image: linear-gradient(0deg, rgba(0, 141, 231, 0.8) 0%, #3887E0 83%);
  box-sizing: border-box;
  padding: 0px 7% 0px 7%;
  color: #ffffff;
}
.zxhk_body .repayBanner .top {
  text-align: center;
  height: 100px;
}
.zxhk_body .repayBanner .top .title {
  font-size: 13px;
  opacity: 0.7;
  padding: 25px 0px 7px 0px;
}
.zxhk_body .repayBanner .top .num {
  font-size: 28px;
  color: #ffffff;
}
.zxhk_body .repayBanner .bottom {
  height: 50px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.zxhk_body .repayBanner .bottom div:nth-of-type(2) {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.zxhk_body .repayBanner .bottom div:nth-of-type(1),
.zxhk_body .repayBanner .bottom div:nth-of-type(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.zxhk_body .repayBanner .bottom div:nth-of-type(1) p:nth-of-type(1),
.zxhk_body .repayBanner .bottom div:nth-of-type(3) p:nth-of-type(1) {
  font-size: 11px;
  opacity: 0.7;
  margin-bottom: 3px;
}
.zxhk_body .remainMoney {
  padding: 10px 4%;
  background-color: #fff;
  line-height: 20px;
}
.zxhk_body .remainMoney span {
  color: #909090;
  margin-left: 5px;
}
.zxhk_body .remainMoney .chargeLink {
  float: right;
  color: #1C82DE;
  padding: 0px 5px;
}
.zxhk_body .loanDetailBox {
  margin-top: 10px;
  color: #909090;
}
.zxhk_body .loanDetailBox .title {
  height: 50px;
  line-height: 50px;
  padding: 0px 4%;
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;
}
.zxhk_body .loanDetailBox .detailData {
  background-color: #fff;
  padding: 12px 4% 15px;
}
.zxhk_body .loanDetailBox .detailData li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  line-height: 20px;
}
.zxhk_body .loanDetailBox .detailData li:not(:first-child) {
  margin-top: 10px;
}
.zxhk_body .loanDetailBox .detailData li p:nth-of-type(1) {
  color: #909090;
}
.zxhk_body .repayBtnBox {
  height: 54px;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 15px 0px 15px;
}
.zxhk_body .repayBtnBox .loanBtn {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  display: block;
  background-color: #1C82DE;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.zxhk_body .repayBtnBox .loanBtn.noValid {
  background-color: #d9d9d9;
}
/* 在线还款私有css文件 end */
/* 网信速贷私有css文件 begin */
.wxsd_body {
  background-color: #fff;
}
.wxsd_body .mainBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wxsd_body .mainBox.posFixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.wxsd_body .loanBanner {
  height: 200px;
  background-image: linear-gradient(0deg, rgba(0, 141, 231, 0.8) 0%, #3887E0 83%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}
.wxsd_body .loanBanner .left {
  padding: 0px 0px 0px 20px;
}
.wxsd_body .loanBanner .top {
  height: 108px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  padding: 30px 10px 0px 0px;
  box-sizing: border-box;
  min-width: 130px;
}
.wxsd_body .loanBanner .top .title {
  font-size: 13px;
  height: 20px;
  line-height: 20px;
}
.wxsd_body .loanBanner .top .num {
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
}
.wxsd_body .loanBanner .top .ph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.wxsd_body .loanBanner .top .ph p {
  height: 1px;
  width: 12px;
  background-color: #fff;
}
.wxsd_body .loanBanner .top .ph p:not(:first-child) {
  margin-left: 10px;
}
.wxsd_body .loanBanner .bottom {
  position: relative;
}
.wxsd_body .loanBanner .bottom .inner {
  position: absolute;
  left: 0px;
  top: 0px;
}
.wxsd_body .loanBanner .bottom .title {
  font-size: 13px;
  opacity: 0.7;
  height: 20px;
  line-height: 20px;
  padding: 27px 0px 0px 0px;
}
.wxsd_body .loanBanner .bottom .num {
  font-size: 20px;
}
.wxsd_body .loanBanner .right {
  padding: 30px 13px 0px 0px;
}
.wxsd_body .loanBanner .right .loanRecord {
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  padding: 0px 10px 0px 22px;
  display: block;
  background: url("../../images/speedloan/loanRecord.png") rgba(0, 0, 0, 0.15) no-repeat 8px center;
  background-size: auto 10px;
}
.wxsd_body .loanStatus {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #EE4634;
  background-color: #F5F5FA;
  padding: 0px 0px 0px 15px;
  position: relative;
  z-index: 1;
}
.wxsd_body .operationBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  box-sizing: border-box;
  position: relative;
}
.wxsd_body .operationBox .innerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.wxsd_body .operationBox .loanRate {
  font-size: 13px;
}
.wxsd_body .operationBox .loanRate span {
  color: #2B8AE0;
}
.wxsd_body .operationBox .btnBox {
  padding: 0px 11%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
}
.wxsd_body .operationBox .btnBox a {
  display: block;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 5px;
  font-size: 17px;
}
.wxsd_body .operationBox .btnBox a:nth-of-type(1) {
  color: #ffffff;
  background-color: #1C82DE;
}
.wxsd_body .operationBox .btnBox a:nth-of-type(1).noValid {
  background-color: #d9d9d9;
}
.wxsd_body .operationBox .btnBox a:nth-of-type(2) {
  color: #3887E0;
  border: 1px solid rgba(56, 135, 224, 0.5);
  margin-top: 8%;
}
.wxsd_body .operationBox .help {
  padding: 0px 0px 10px 0px;
}
.wxsd_body .operationBox .help .linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  line-height: 20px;
}
.wxsd_body .operationBox .help .linkBox a {
  display: block;
  font-size: 11px;
  color: #1C82DE;
}
.wxsd_body .operationBox .help .linkBox span {
  display: block;
  height: 12px;
  width: 1px;
  background-color: #1C82DE;
  margin: 4px 5px 0px 5px;
}
.wxsd_body .operationBox .help .tip {
  font-size: 11px;
  color: #909090;
  margin-top: 5px;
  text-align: center;
}
/* 网信速贷私有css文件 end */
/* 还款申请成功 私有css文件 begin */
.hksqcg_body {
  background-color: #fff;
}
.hksqcg_body .fixBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15% 0px 36% 0px;
  box-sizing: border-box;
}
.hksqcg_body .fixBox .loanSucInfor {
  text-align: center;
}
.hksqcg_body .fixBox .loanSucInfor img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
.hksqcg_body .fixBox .loanSucInfor .title {
  font-size: 20px;
  color: #1C82DE;
  margin: 23px 0px 10px 0px;
}
.hksqcg_body .fixBox .loanSucInfor .tipText {
  width: 74%;
  margin: 0px auto 0px auto;
  font-size: 13px;
  color: #000;
}
.hksqcg_body .fixBox .btnBox {
  text-align: center;
}
.hksqcg_body .fixBox .btnBox .completeBtn {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  background-color: #177FDE;
}
/* 还款申请成功 私有css文件 end */
/* 欢迎页私有css文件 begin */
.welcome_body {
  background-color: #fff;
  padding-bottom: 95px;
}
.welcome_body .banner {
  padding-top: 53%;
}
.welcome_body .banner .textWrap {
  position: absolute;
  width: 55.5%;
  height: 18.7%;
  top: 56%;
  left: 22.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome_body .banner .text {
  display: block;
  background-color: transparent;
  color: #1E83DE;
  font-size: 16px;
  width: 100px;
}
.welcome_body .banner .text:nth-of-type(1) {
  text-align: right;
}
.welcome_body .banner .text:nth-of-type(2) {
  text-align: left;
  margin-left: 7px;
}
.welcome_body .productIntro .title {
  font-size: 17px;
  position: relative;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.welcome_body .productIntro .title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #1C82DE;
  left: 50%;
  top: 30px;
  margin-left: -10px;
}
.welcome_body .productIntro .content {
  width: 90%;
  margin: 17px auto 0px auto;
  box-sizing: border-box;
  border: 1px #E6E6E6 solid;
  border-radius: 5px;
  font-size: 13px;
  color: #909090;
  padding: 15px 10px;
  line-height: 18px;
  text-align: justify;
}
.welcome_body .firstVersion .title {
  font-size: 17px;
  position: relative;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 16px;
}
.welcome_body .firstVersion .title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #1C82DE;
  left: 50%;
  top: 30px;
  margin-left: -10px;
}
.welcome_body .firstVersion .list {
  width: 90%;
  margin: 20px auto 0px auto;
  line-height: 24px;
  font-size: 13px;
}
.welcome_body .firstVersion .list li {
  padding-left: 30px;
  position: relative;
}
.welcome_body .firstVersion .list li:not(:first-child) {
  margin-top: 10px;
}
.welcome_body .firstVersion .list li .index {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(28, 130, 222, 0.1);
  color: #1C82DE;
}
.welcome_body .firstVersion .list li .highLight {
  color: #308DE1;
}
.welcome_body .firstVersion .tip {
  text-align: center;
  margin: 17px 0px 0px 0px;
}
.welcome_body .firstVersion .tip .inner {
  font-size: 11px;
  color: #ccc;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  line-height: 18px;
  position: relative;
}
.welcome_body .firstVersion .tip .inner::before,
.welcome_body .firstVersion .tip .inner::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  top: 8px;
  background-color: #d9d9d9;
}
.welcome_body .firstVersion .tip .inner::before {
  left: -15px;
}
.welcome_body .firstVersion .tip .inner::after {
  right: -15px;
}
.welcome_body .btnWrap {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-top: 1px #E6E6E6 solid;
  background-color: #fff;
}
.welcome_body .btnWrap .protocol {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
}
.welcome_body .btnWrap .protocol a {
  color: #308DE1;
}
.welcome_body .btnWrap .submitBtn {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  color: #ffffff;
  background-color: #1C82DE;
}
/* 欢迎页私有css文件 end */
/* 身份资料审核 私有css文件 begin */
.sfzlsh_body {
  background-color: #fff;
}
.sfzlsh_body .fixBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15% 0px 36% 0px;
  box-sizing: border-box;
}
.sfzlsh_body .fixBox .loanSucInfor {
  text-align: center;
}
.sfzlsh_body .fixBox .loanSucInfor img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
.sfzlsh_body .fixBox .loanSucInfor .title {
  font-size: 20px;
  color: #1C82DE;
  margin: 23px 0px 10px 0px;
}
.sfzlsh_body .fixBox .loanSucInfor .tipText {
  margin: 0px auto 0px auto;
  font-size: 13px;
  color: #000;
  line-height: 20px;
}
.sfzlsh_body .fixBox .btnBox {
  text-align: center;
}
.sfzlsh_body .fixBox .btnBox .completeBtn {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  background-color: #177FDE;
}
/* 身份资料审核 私有css文件 end */
/* 没有借款资格 私有css文件 begin */
.wjkzg_body {
  background-color: #fff;
}
.wjkzg_body .fixBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wjkzg_body .fixBox .inner .logoBox {
  display: block;
  width: 120px;
  margin: 0px auto;
}
.wjkzg_body .fixBox .inner .tipText {
  font-size: 15px;
  color: #909090;
  text-align: center;
  margin: 18px 0px 0px 0px;
}
.wjkzg_body .fixBox .inner .causeBox {
  font-size: 13px;
  line-height: 22px;
  margin: 40px 0px 0px 0px;
}
/* 没有借款资格 私有css文件 end */
/* 维护页私有css文件 begin */
.weihuye_body {
  background-color: #fff;
}
.weihuye_body .fixBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.weihuye_body .fixBox .inner {
  text-align: center;
}
.weihuye_body .fixBox .inner img {
  width: 127px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 25px 0px;
}
.weihuye_body .fixBox .inner p {
  font-size: 13px;
  color: #909090;
  line-height: 20px;
}
/* 维护页私有css文件 end */
/* 协议 && 合同 私有css文件 begin */
.contract_body {
  background-color: #F5F5FA;
  padding: 0px 0px 30px 0px;
}
.contract_body .mainBox {
  font-size: 14px;
  color: #5c5c5c;
  padding: 18px 15px 0px 18px;
}
.contract_body .item:not(:first-child) {
  margin-top: 20px;
}
.contract_body .item .textIndent {
  text-indent: 25px;
}
.contract_body .item .fontBold {
  font-weight: bold;
}
.contract_body .item .underLine {
  text-decoration: underline;
}
/* 协议 && 合同 私有css文件 end */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .wxsd_body .operationBox .help{
        padding-bottom:44px;
    }
    .welcome_body .btnWrap,.sfzl_body .photoPop .photoPopUl{
        padding-bottom: 34px;
    }
    .contract_body,.eduxieyi_body,.jkxq_body,.jkjl_body,.sqcg_body,.hkmx_body,.dhklb_body{
        padding-bottom:64px;
    }
    .sfzl_body .submitBtnBox,
    .zxhk_body .repayBtnBox,
    .sqjk_body .loanBtnBox
    {
        height: 88px;
    }
}
