<div class="p_account_load_duotou">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/user_web2.css');?>" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/duotou/p-account-load-duotou.css');?>" />
    <div class="user_right_box mb15 user_right_box_v2">
        <div class="user_title">
            <h1 class="fl"><i class="ico_huankuan"></i>已投项目</h1>
            <ul class="huank_nav fl">
                <li><a href="/account/load">P2P理财</a></li>
                <li class="select"><a href="/account/finplan">智多鑫</a></li>
            </ul>
        </div>
        <div class="dt-databox">
            <div class="dt_data f14 clearfix">
                <div class="fl mr20">持有资产：<span class="color-yellow1"> {function name="number_format" v="$totalLoanMoney" f="2"}元</span></div>
                <div class="fl">已获收益：<span class="color-yellow1">{function name="number_format" v="$totalRepayInterest" f="2"}元</span></div>
            </div>
            <form id="search" action='{url x="index" r="account/finplan"}' method="get">
                <div class="screening clearfix">
                    <div data-name="status" class="select_box">
                        <div class="j_select"></div>
                        <ul class="select_ul j_selectContent none">
                            <li data-value="0" {if $status eq 0}data-select="1"{/if}>全部投资状态</li>
                            <li data-value="1" {if $status eq 1}data-select="1"{/if}>投资中</li>
                            <li data-value="2" {if $status eq 2}data-select="1"{/if}>待赎回</li>
                            <li data-value="3" {if $status eq 3}data-select="1"{/if}>申赎中</li>
                            <li data-value="4" {if $status eq 4}data-select="1"{/if}>已赎回</li>
                            <li data-value="5" {if $status eq 5}data-select="1"{/if}>已结清</li>
                        </ul>
                    </div>
                    <div class="sel_time">
                        <span>时间</span>
                        <input type="text" value="{$date_start}" name="date_start" id="dateInput1" class="time_box">
                        <span class="pl10">-</span>
                        <input type="text" value="{$date_end}" name="date_end" id="dateInput2" class="time_box">
                    </div>
                    <input type="submit" class="button_shaixian fr" value="筛选">
                </div>
            </form>
        </div>
    </div>
    {if $list}
    {foreach from=$list item="item"}
    <section>
        <div class="project clearfix">
            <div class="project_l fl">
                {if $item.status eq 0 || $item.status eq 1}
                <i class="dt_state tzz"></i>
                {elseif $item.status eq 2}
                <i class="dt_state dsh"></i>
                {elseif $item.status eq 3}
                <i class="dt_state ssz"></i>
                {elseif $item.status eq 4}
                <i class="dt_state ysh"></i>
                {elseif $item.status eq 5}
                <i class="dt_state yjq"></i>
                {/if}

                <h1>
                    {if isset($item.dealInfo.shortName) && $item.dealInfo.shortName != ''}
                    <a target="_blank" href="/finplan/{$item.dealId}" class="pro_name" title="{$item.dealInfo.name}" alt="{$item.dealInfo.shortName}">{$item.dealInfo.shortName}</a>
                    {else}
                    <a target="_blank" href="/finplan/{$item.dealId}" class="pro_name" title="{$item.dealInfo.name}" alt="{$item.dealInfo.name}">{$item.dealInfo.name}</a>
                    {/if}

                    <span class="pro_nub"><em class="color-gray1">项目编号：</em> {$item.dealId}</span>
                        <span class="pro_button">
                            <a class="j_por_Show" href="javascript:showdetail({$item.id},{$item.dealId},{$item.status});">查看详情<i class="ico_proShow"></i></a>
                            <a style="display:none" class="j_por_Hide" href="#none">收起详情<i class="ico_proHide"></i></a>
                        </span>
                </h1>
                <div class="por_con">
                    <table>
                        <colgroup>
                            <col width="252">
                            <col width="185">
                            <col width="131">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td><em class="color-gray1">投资金额:</em> <em class="color-yellow1">{function name="number_format" v="$item.money" f="2"}元</em></td>
                            <td><em class="color-gray1">年利率:</em> <em class="color-yellow1">{function name="number_format" v="$item.projectInfo.rateYear" f="2"}%</em></td>
                            {if $date >= $item.repayStartTime }
                            <td><em class="color-gray1">计息日:</em> {$item.repayStartTime}</td>
                            {elseif ($item.status eq 1 || $item.status eq 0)}
                            <td><em class="color-gray1">计息日:</em> --</td>
                            {else}
                            <td><em class="color-gray1">计息日:</em> {$item.repayStartTime}</td>
                            {/if}
                        </tr>
                        <tr>
                            <td><em class="color-gray1">收益方式: </em> 一次性还本，按月付息 </td>
                            {if ($item.status eq 4 || $item.status eq 5) }
                            <td> <em class="color-gray1">赎回到账日: </em>{$item.redeemFinishTime} </td>
                            <td> <em class="color-gray1">管理费: </em> {if $item.manageFee eq 0}免费{else} {$item.manageFee}元{/if}</td>
                            {else}
                            {if ( $item.projectInfo.feeDays eq 0 || $item.projectInfo.feeRate eq 0) }
                                <td colspan="2"> <em class="color-gray1">管理费:</em> 免费</td>
                            {else}
                            <td colspan="2"><em class="color-gray1">管理费: </em> {function name="number_format" v="$item.projectInfo.feeRate" f="2"}%<i class="ico_sigh" title='管理费={function name="number_format" v="$item.projectInfo.feeRate" f="2"}% *投资金额*实际持有天数 /360。实际持有天数=到帐日-计息日。持有满{$item.projectInfo.feeDays}天免费'></i></td>
                            {/if}
                            {/if}

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="project_r fr">
                {if ($item.status eq 2) && $date >= $item.repayStartTime}<!--持有中 状态2-->
                <p>已获收益／至今日收益</p>
                <p>
                    <strong>
                        <span class="f24 color-green">{function name="number_format" v="$item.hasRepayInterest" f="2"}<span class="f16">元</span></span>
                        <span class="dt-line"></span>
                        <span class="f24 color-yellow1">{function name="number_format" v="$item.norepayInterest" f="2"}<span class="f16">元</span></span>
                    </strong>
                </p>
                <a class="j_shuhui" data-id="{$item.id}" data-lock="0" href="javascript:void(0)">申请赎回</a>
                {elseif $item.status eq 3}<!--申赎中 状态3-->
                <p class="pt34">已获收益／至今日收益</p>
                <p>
                    <strong class="f24 color-green">{function name="number_format" v="$item.hasRepayInterest" f="2"}元</strong>
                    <strong class="f24 color-gray">/</strong>
                    <strong class="f24 color-yellow1">{function name="number_format" v="$item.norepayInterest" f="2"}元</strong>
                </p>
                {elseif $item.status eq 4 || $item.status eq 5}<!--已赎回 状态4 已结清 状态5 -->
                <p class="pt34">已获收益／至今日收益</p>
                <p>
                    <strong>
                        <span class="f24 color-green">{function name="number_format" v="$item.hasRepayInterest" f="2"}<span class="f16">元</span></span>
                        <span class="dt-line"></span>
                        <span class="f24 color-yellow1">{function name="number_format" v="$item.norepayInterest" f="2"}<span class="f16">元</span></span>
                    </strong>
                </p>
                {else} <!--未完成匹配 状态0、1-->
                <p class="pt13"> 已获收益／至今日收益</p>
                <p>
                    <strong>
                        <span class="f24 color-green">{function name="number_format" v="$item.hasRepayInterest" f="2"}<span class="f16">元</span></span>
                        <span class="dt-line"></span><span class="f24 color-yellow1">{function name="number_format" v="$item.norepayInterest" f="2"}<span class="f16">元</span></span>
                    </strong>
                </p>
                <span class="mb_text">计息后方可申请赎回</span>
                {/if}
            </div>

            <div style="display:none;" class="pro_detailed clearfix j_table_tab">
                <div id="contract{$item.id}"></div>
                <div id="repayListHead{$item.id}"></div>
                <div id="repayList{$item.id}"></div>
                <div  class="pt20">
                    <div class="pages p0" id="page{$item.id}"></div>
                </div>
            </div>
        </div>
    </section>
    {/foreach}
    <div class="pt20">
        <div class="pages p0">{if $pages}{$pages}{/if}</div>
    </div>
    {else}
    <div class="main">
        <div class="empty-box">没有投资项目</div>
    </div>
    {/if}
    <script>
        function clickopen(id) {
            var url = '/account/DtContShow?tag=show&amp;ajax=1&amp;id=' + id;
            $.weeboxs.open(url, {
                boxid: null,
                contentType: 'iframe',
                showButton: true,
                showCancel: false,
                showOk: false,
                title: '合同详情',
                width: 750,
                height: 550,
                type: 'wee',
                onclose: function() {
                    null
                }
            });
        }
        function redeem(id, thiz) {
            var url = '/account/redeem';
            $(thiz).addClass('but-disabled').attr("disabled", "disabled").css({
                "cursor": "default"
            });
            $.post(url, {
                id: id
            }, function(rs) {
                if (rs.status == 0) {
                    alert('正在放款中，请稍后重试！');
                    $(thiz).removeClass('but-disabled').removeAttr("disabled", "disabled").css({
                        "cursor": "pointer"
                    });
                } else {
                    window.location.href = '/account/success/?id=' + id + '&amp;gS=' + rs.jump.gS;
                }
            });
        }
    </script>
</div>
<!--申请赎回内容(工作日或其他可申请赎回的情况) -->
<div class="redemption">
    <div class="sh_text">
        <div class="sh_time">
            <h3 class="f16" id="_js_title">今日申请赎回，最快T+1日到账</h3></div>
        <div class="sh_con">
            <p>
                <label class="color-gray">项目名称：</label><span id="_js_name" class="f16">智多鑫001</span></p>
            <p>
                <label class="color-gray">投资金额：</label><span id="_js_money">10,000元</span></p>
            <p>
                <label class="color-gray">赎回本金：</label><span id="_js_sum" class="color-yellow1">10,000元</span></p>
            <p>
                <label class="color-gray">管理费：</label><span id="js_mange_fee"></span></p>
            <p class="mt7">赎回不可撤销，本金最快下一个工作日到账，利息每月<span class="color-yellow1" id='_js_date'>Y</span>日发放至您的P2P账户中。
            </p>
        </div>
    </div>
</div>
<script>
    // 管理费提示
    $(".ico_sigh").tooltip({
        position: {
            my: "center-25 top+10",
            at: "center-25 bottom"
        }
    });
    function showdetail(id,dealId,status) {
        var contractId = '#contract' + id;
        if(! $(contractId).innerHtml) {
            $.ajax({
                url: '/account/FinplanContract',
                data: 'loanId='+id+'&dealId='+dealId+'&status='+status,
                dataType: "json",
                success: function(res){
                    if(res) {
                        var contractNum = res.length;
                        var html = '';
                        html += '<h2 class="sub_title"><span>合同</span></h2>';
                        html += '<div class="contract clearfix">';
                        for (var i=0;i<contractNum;i++)
                        {
                            var contract = res[i];
                            html += '<div class="jk_contract" >';
                            html += '<table>';
                            html += '<tr>';
                            html += '<td valign="top"><i class="ico_jilu fl"></i></td>';
                            html += '<td width="700">';
                            html += '<p title='+ contract.title +' class="color-black">'+contract.title+'</p>';
                            html += '<span class="con_nub mr20 pr20">编号：'+ contract.number +'</span>';
                            html += '</td>';
                            html += '<td>';
                            html += '<a href="javascript:clickopen(\''+contract.number+'\',true);" data-id="'+contract.id+'" title="查看" class="mr15">查看</a>';
                            html += '<a href="{url x="index" r="account"}/DtContShow?number='+contract.number.toString()+'&tag=download&ajax=0&ctype=1" title="下载PDF">下载</a>';
                            html += '</td>';
                            html += '</tr>';
                            html += '</table>';
                            html += '</div>';
                        }
                        html += '</div>';
                        $(contractId).html(html);
                    }
                }
            });
        }


        var repayListId = '#repayList' + id;
        var repayListHeadId = '#repayListHead' + id;

        if(status ==2 && !$(repayListId).innerHtml) {
            $.ajax({
                url: '/account/FinplanP2P',
                data: 'loanId='+id+'&dealId='+dealId+'&p=0',
                dataType: "json",
                success: function(res){
                    if(res) {
                        $(repayListHeadId).html('<h2 class="sub_title_dt mt15 f20"><span class="mr10">投资列表</span><span class="f16">（待投本金:<span class="color-yellow1">'+res.noMappingMoney+'元</span>）</span></h2>');

                        var listNum = res['list'].length;
                        var html = '';
                        html += '<table class="plan">';
                        html += '<colgroup>';
                        html += '<col width="145">';
                        html += '<col width="110">';
                        html += '<col width="110">';
                        html += '<col width="110">';
                        html += '<col width="110">';
                        html += '<col width="270">';
                        html += '</colgroup>';
                        html += '<thead>';
                        html += '<tr>';
                        html += '<th>项目标题</th>';
                        html += '<th>投资金额（元）</th>';
                        html += '<th>投资人</th>';
                        html += '<th>融资人</th>';
                        html += '<th>成交日期</th>';
                        html += '<th>合同类型</th>';
                        html += '</tr>';
                        html += '</thead>';
                        for (var i=0;i<listNum;i++) {
                            var repay = res['list'][i];
                            html += '<tbody class="tabContent">';
                            if(i%2 == 0) {
                                html += '<tr>';
                            }else {
                                html += '<tr class="tr_bg">';
                            }
                            html += '<td>'+repay.name+'</td>';
                            html += '<td>'+repay.money+'</td>';
                            html += '<td>'+repay.loanUsername+'</td>';
                            html += '<td>'+repay.borrowUsername+'</td>';
                            html += '<td>'+repay.loanTime+'</td>';
                            html += '<td><a class="blue" href="javascript:clickopen(\''+repay.contractNo
                                    +'\');"><span class="dt-link">';
                            if(repay.contractType == 0) {
                                html += '借款协议'+repay.contractNo;
                            }
                            // else if(repay.contractType == 2){
                            //html += '<td>咨询服务协议'+repay.contractNo+'</td>';
                            //}
                            else{
                                html += '债权转让协议'+repay.contractNo;
                            }
                            html += '</span></a><a class="blue" href="DtContShow?number='+repay.contractNo+'&tag=download&ajax=0"">下载</a></td>';
                            html += '</a><td></tr>';
                            html += '</tbody>';
                        }
                        html += '</table>';
                        $(repayListId).html(html);

                        var pageId = '#page' + id;
                        $(pageId).html(res.page);
                    }
                }
            });
        }
    }

    function showDetailPage(laonId,dealId,p) {
        var repayListId = '#repayList' + laonId;
        $.ajax({
            url: '/account/FinplanP2P',
            data: 'loanId='+laonId+'&dealId='+dealId+'&p='+p,
            dataType: "json",
            success: function(res){
                if(res) {
                    $(repayListId).empty();
                    var listNum = res['list'].length;
                    var html = '';
                    html += '<table class="plan">';
                    html += '<colgroup>';
                    html += '<col width="145">';
                    html += '<col width="110">';
                    html += '<col width="110">';
                    html += '<col width="110">';
                    html += '<col width="110">';
                    html += '<col width="270">';
                    html += '</colgroup>';
                    html += '<thead>';
                    html += '<tr>';
                    html += '<th>项目标题</th>';
                    html += '<th>投资金额（元）</th>';
                    html += '<th>投资人</th>';
                    html += '<th>融资人</th>';
                    html += '<th>成交日期</th>';
                    html += '<th>合同类型</th>';
                    html += '</tr>';
                    html += '</thead>';
                    for (var i=0;i<listNum;i++) {
                        var repay = res['list'][i];
                        html += '<tbody class="tabContent">';
                        if(i%2 == 0) {
                            html += '<tr>';
                        }else {
                            html += '<tr class="tr_bg">';
                        }
                        html += '<td>'+repay.name+'</td>';
                        html += '<td>'+repay.money+'</td>';
                        html += '<td>'+repay.loanUsername+'</td>';
                        html += '<td>'+repay.borrowUsername+'</td>';
                        html += '<td>'+repay.loanTime+'</td>';
                        if(repay.contractType == 0) {
                            html += '<td>借款协议'+repay.contractNo+'</td>';
                        } else {
                            html += '<td>债权转让协议'+repay.contractNo+'</td>';
                        }
                        html += '<td><a class="blue" href="'+repay.contractNo+'">下载</a></td>';
                        html += '</tr>';
                        html += '</tbody>';
                    }
                    html += '</table>';
                    $(repayListId).html(html);

                    var pageId = '#page' + laonId;
                    $(pageId).empty();
                    $(pageId).html(res.page);
                }
            }
        });
    }

    function clickopen(number,ctype){
        if(ctype == true){
            var url = '/account/DtContShow?tag=show&amp;ajax=1&amp;ctype=1&amp;number=' + number;
        }else{
            var url = '/account/DtContShow?tag=show&amp;ajax=1&amp;number=' + number;
        }
        $.weeboxs.open(url, {boxid:null,contentType:'iframe',showButton:true, showCancel:false, showOk:false,title:'合同详情',width:750,height:550,type:'wee',onclose:function(){null}});
    }

    $(".j_shuhui").click(function() {
        var $t = $(this);
        if ($t.data("lock") == "0") {
            $t.data("lock", "1");
        var id = $t.data('id');
        if (!id) {
            return false;
        }
        var url = '/account/finplanshow?id=' + id;
        $.getJSON(url, function (data) {
            if (!data.status) {
                $.showErr(data.info, function () {
                }, "提示");
                return false;
            }
            if (data.info.is_holiday) {
                $.showErr('请您在每周工作日' + data.info.redemptionStartTime + '-' + data.info.redemptionEndTime + '进行转让。谢谢您的谅解！', function () {
                }, "提示");
                return false;
            }
            $("#_js_name").html(data.info.name);
            $("#_js_money").html(data.info.money);
            $("#_js_sum").html(data.info.sum);
            $("#_js_title").html(data.info.title);
            $("#_js_date").html(data.info.date);

            if (data.info.feeDays == 0 || data.info.feeRate == 0 || data.info.ownDay >= data.info.feeDays) {
                $("#js_mange_fee").html('免费');
            } else {
                $("#js_mange_fee").html('年化' + parseFloat(data.info.feeRate).toFixed(2) + '%,持有满' + data.info.feeDays + '天免费' + '（您已持有' + data.info.ownDay + '天）' + '<i class="ico_sigh" title="管理费=' + data.info.feeRate + '% *投资金额*实际持有天数 /360。实际持有天数=到帐日-计息日。持有满' + data.info.feeDays + '天免费"></i>');
            }

            if (data.info.is_holiday) {
                //$("#_js_is_holiday").html(data.info.is_holiday);
            } else {
                //$("#_js_is_holiday").hide();
            }

            $.weeboxs.open('.redemption', {
                contentType: 'selector',
                boxclass: "weebox_dt_sh",
                onok: function () {
                    redeem(id, this);
                    $.weeboxs.close();
                },
                showButton: true,
                okBtnName: '确认赎回',
                showCancel: true,
                showOk: true,
                title: '赎回详情',
                width: 450,
                type: 'wee',
                onclose: function () {
                    null
                }
            });


            $(".weebox_dt_sh .ico_sigh").tooltip({
                position: {
                    my: "center-100 top+10",
                    at: "center bottom"
                }
            });
            $t.data("lock", "0");
        });

        function redeem(id, thiz) {
            var url = '/account/finplanRedeem';
            $(thiz).addClass('but-disabled').attr("disabled", "disabled").css({
                "cursor": "default"
            });
            $.post(url, {
                id: id
            }, function (rs) {
                if (rs.status == 0) {
                    $.showErr(rs.info, function () {
                    }, "提示");
                    $(thiz).removeClass('but-disabled').removeAttr("disabled", "disabled").css({
                        "cursor": "pointer"
                    });
                } else {
                    //alert("您的申请已提交，我们将尽快处理您的申请。请您耐心的等待。如有疑问请致电400-890-9888");
                    window.location.href = '/account/finplanSuccess/?id=' + id + '&gS=' + rs.jump.gS;
                }
            });
        }
    }
});
</script>
