@charset "utf-8";

/*马上获取 and 存入账户*/
body.p-index, body.p-account { background-color: transparent; }
.m-head.p-index, .m-main.p-index, .m-foot.p-index, .m-head.p-account, .m-main.p-account, .m-foot.p-account { background-color: #fff9d5; position: relative; }
.m-head.p-index, .m-head.p-account { background-image: url(../../images/cash_coupon/ban_bg.png); background-size: 100%; padding: 17.3% 50%; }
.m-main.p-index，.m-foot.p-index { position: relative; }
.m-main.p-index, .m-main.p-account { padding-top: 23%; }
.p-index .cash, .p-account .cash { position: absolute; background-image: url(../../images/cash_coupon/xjq_bg.png); background-repeat: no-repeat; background-size: 100%; padding: 17% 33.4%; top: -17.7%; left: 11.6%; /*margin-top: -13.3% */ }
	.p-index .cash .money, .p-account .cash .money { position: absolute; left: 18.5%; top: 42%; width: 76.2%; height: 24.9%; text-align: center; font-size: 3rem; color: #ff4134; -webkit-text-stroke: 1px #f62e21; text-stroke: 1px #f62e21; }
	.p-index .cash .already, .p-account .cash .already { position: absolute; right: -17%; bottom: 0; background-image: url(../../images/cash_coupon/ready.png); background-repeat: no-repeat; background-size: 100%; width: 30%; height: 59%; }
.p-index .ui-instrution { margin-bottom: 3.1%; }
.p-account .ui-instrution { margin-bottom: 20px; }
	.p-account .ui-instrution.tl { text-align: center; }

/*红包弹框*/
.ui_mask { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); position: fixed; top: 0px; left: 0; z-index: 200; }
.ui_dialog { width: 275px;padding-bottom: 10px; background: #fafafa; top: 50%; position: relative; margin: -180px auto 0; border-radius: 5px; }
	.ui_dialog .pop_head, .ui_dialog .pop_body { padding: 0 15px; }
		.ui_dialog .pop_body .pop_text {  font-size: 14px; line-height: 25px; }
.pop-btn { width: 116px; }
.fr { float: right; }
.ui_dialog .pop_body .btn-ok, .ui_dialog .pop_body .btn-cancel { height: 40px; width: 100%; line-height: 40px; color: #fff; border: none; border-radius: 5px; font-size: 18px; font-weight: bold; }
.ui_dialog .pop_body .btn-ok { background: #fe4438; border-bottom: 2px solid #d9201c; }
.ui_dialog .pop_head h2 { height: 35px; line-height: 35px; color: #fe4438; text-align: center; border-bottom: 1px solid #e6e6e6; font-size: 14px; }
.ui_dialog .pop_body .btn-cancel {  background: #e4e4e4!important;border-bottom: 2px solid #8b8b8b; }

.pop_text h3 { font-size: 12px;color: #323232;padding: 5px 0px;}
.pop_text table{ border: 1px solid #dbdbdb;width: 100%;background-color: #fff;}
.pop_text table thead td{ text-align: center;border-bottom: 1px solid #dbdbdb;font-size: 14px;color: #323232;padding: 5px 0px; }
.pop_text table tbody tr th{ font-size: 12px;color: #999999;text-align: center;}
.pop_text table tbody tr td{ font-size: 12px;color: #323232;text-align: center;}
.pop_tip{ text-align: center;padding: 15px 0px 15px;}
.xs_money,.ts_money{ color: #fe4438!important; }