@charset "utf-8";

/*邀请好友 and 邀请好友-不符合条件*/
.m-head.p-invite a.logo, .m-head.p-invite-no a.logo { position: absolute; top: 3.22%; height: 12.88%; }
.m-foot.p-invite-no { position: fixed; bottom: 0 }
body.p-invite { background-color: transparent; }
.m-head.p-invite, .m-main.p-invite, .m-foot.p-invite { background-color: #fff9d5; }
.m-head.p-invite .banner, .m-head.p-invite-no .banner { background-image: url(../../images/cash_coupon/ban_text_new_04.png); background-size: 100%; height: 48.93%; }
.m-main.p-invite, .m-main.p-invite-no { padding-top: 4.69%; }
.p-invite .ui-instrution, .p-invite-no .ui-instrution { margin-top: 1.56%; }
.p-invite .ui-instrution span.red, .p-invite-no .ui-instrution span.red { padding: 0 }
.p-invite-no .ui-instrution span.font18{line-height: 1}
.p-invite .ui-form { padding: 0 26.56%; }
.p-invite .inv-con, .p-invite-no .inv-con { position: relative; width: 85%; margin: 0 auto }
.p-invite .inv-con span, .p-invite-no .inv-con span { position: absolute; top: 57.5%; display: block; font-size: 1.8rem; text-align: center; width: 39.71%; }
.p-invite .inv-con span.reward01, .p-invite-no .inv-con span.reward01 { left: 0.68%; }
.p-invite .inv-con span.reward02, .p-invite-no .inv-con span.reward02 { left: 60.29%; }
.p-invite .inv-con img, .p-invite-no .inv-con img { width: 100%; height: auto; }
.p-invite .ui-form .form-footer input{padding: 5% 0;}
.ui-tab .invite_con ul.accept-list li .list-left{width:30%;}
.ui-tab .invite_con ul.accept-list li .list-mid{width:30%;}
.ui-tab .invite_con ul.accept-list li .list-right{width:40%;}
@media screen only (max-height:480px) {
	.m-foot.p-invite-no { position: relative; }
}