@charset "utf-8";

/*邀请好友 and 邀请好友-不符合条件*/
body.p-invite, body.p-invite-no { background-color: #e7e8ec; }
.m-head.p-invite, .m-main.p-invite, .m-foot.p-invite, .m-head.p-invite-no, .m-main.p-invite-no, .m-foot.p-invite-no { background-color: #fff9d5; }
.m-head.p-invite, .m-main.p-invite, .m-foot.p-invite, .m-head.p-invite-no, .m-main.p-invite-no, .m-foot.p-invite-no, .ui-tab.p-invite { width: 640px; margin: 0 auto }
.m-head.p-invite, .m-head.p-invite-no { background-size: 100% 100%; height: 233px; position: relative; }
.m-head.p-invite a.logo, .m-head.p-invite-no a.logo { left: 24px; top: 10px; width: 110px; height: 30px; background-size: 100%; }
.m-head.p-invite .banner, .m-head.p-invite-no .banner { background-image: url(../../images/cash_coupon/ban_text_new_04.png); background-size: 100%; height: 114px; width: 566px; left: 50%; top: 16px; margin-left: -284px; }
.m-foot.p-invite, .m-foot.p-invite-no { position: relative; background-size: 100%; height: 144px; }
.m-foot.p-invite span, .m-foot.p-invite-no span { padding-top: 100px; font-size: 24px; }
.p-invite p.inv-tit img, .p-invite-no p.inv-tit img { width: 476px; height: 36px; }
.p-invite p.inv-con img, .p-invite-no p.inv-con img { width: 545px; height: 404px; }
.p-invite .inv-con, .p-invite-no .inv-con { position: relative; width: 545px; height: 404px; margin: 0 auto }
.p-invite .inv-con span, .p-invite-no .inv-con span { position: absolute; top: 232px; display: block; font-size: 36px;  text-align: center; width: 217px;}
.p-invite .inv-con span.reward01, .p-invite-no .inv-con span.reward01 { left: 1px; }
.p-invite .inv-con span.reward02, .p-invite-no .inv-con span.reward02 { left: 328px; }
.m-main.p-invite, .m-main.p-invite-no { padding-top: 30px; }
.p-invite .ui-instrution, .p-invite-no .ui-instrution { margin-top: 10px; font-size: 26px; }
.p-invite .ui-instrution span.red, .p-invite-no .ui-instrution span.red { padding: 0 }
.p-invite-no .ui-instrution .yellow { font-size: 36px; margin-bottom: 6px}
.m-foot.p-invite, .m-foot.p-invite-no { position: relative; }
.p-invite .ui-form { width: 320px; margin: 0 auto; padding: 0 }
.p-invite-no .ui-form { padding: 0 160px; margin-top: 10px; }
.p-invite .ui-form .form-footer input, .p-invite-no .ui-form .form-footer input { background: url(../../images/cash_coupon/common/btn-icon.png) no-repeat 0 -120px; height: 92px; line-height: 92px; text-align: center; width: 100%; font-size: 36px; }
/*.ui-tab .invite_con { font-size: 24px; padding-top: 17px; background-size: auto 17px; }
 .ui-tab .invite_con .accept-num{margin: 30px 20px;} 
.ui-tab .invite_con .accept-num .num-mid { width: 260px; }
.ui-tab .invite_con .bg-white { padding: 20px 0; }*/
/*.ui-tab .invite_con .tabs_nav_box { margin: 0 20px; padding: 10px 20px 0 20px; height: 58px; }
.ui-tab .invite_con .tabs_nav_box ul { display: block; overflow: hidden; }
.ui-tab .invite_con .tabs_nav_box ul li { display: block; float: left; width: 33%; height: 58px; line-height: 58px; }*/
.ui-tab .invite_con ul.accept-list li { display: block; padding: 0 30px; line-height: 44px; margin-bottom: 20px; float: left; }
.ui-tab .invite_con ul.accept-list li div { float: left; }
.ui-tab .invite_con ul.accept-list li .list-left { width: 150px; }
.ui-tab .invite_con ul.accept-list li .list-right { width: 200px; }
.ui-tab .invite_con ul.accept-list li .list-mid { width: 214px; }
.ui-tab .invite_con .accept-instroution { margin: 20px 20px; padding: 10px; }
.ui-tab .invite_con .accept-see{margin: 0 20px;padding-top:10px;}
