@charset "utf-8";
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { -webkit-text-size-adjust: 100%; }
body { overflow-x: hidden; background-color: #fff9d5; color: #686868 }
a { color: #5ca9e4 }
a:hover { color: #5ca9e4 }
input, a { -webkit-appearance: none; -moz-appearance: none; -webkit-tap-highlight-color: transparent; -webkit-transition: background-color; outline: none }
ul, li { padding: 0; margin: 0 }

/*header*/
.m-head { background: url(../../images/cash_coupon/ban_bg2.png) no-repeat; background-size: 100% 117px; height: 117px; }
.m-head .banner { background-image: url(../../images/cash_coupon/ban_text_new_01.png); background-repeat: no-repeat; background-size: auto 47px; height: 47px; width: 283px; position: absolute; left: 50%; top: 8px; margin-left: -142px; }
.m-head a.logo { position: absolute; left: 12px; top: 5px; width: 55px; height: 15px; background-image: url(../../images/cash_coupon/common/logo.png?v=20150624); background-size: auto 15px; display: block; }

/*foot*/
.m-foot { background: url(../../images/cash_coupon/common/foot_bg.png) no-repeat; background-size: 100% 72px; height: 72px; text-align: center; width: 100%; z-index: 10; }
.m-foot span { color: #de7400; padding-top: 48px; display: block; }
.m-foot a { color: #de7400; }
.m-foot a:hover { color: #de7400; }

/*ui-form*/
.ui-form { padding: 0 57px; margin-top: 5px; position: relative; z-index: 100; }
.ui-form .form-footer { text-align: center; margin-top: 4px; }
.ui-form .form-footer input, .ui-form .form-footer a.a-btn { border: none; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(221, 38, 0)), color-stop(1, rgb(247, 41, 60))); border-radius: 5px; height: 46px; line-height: 46px; text-align: center; width: 100%; font-size: 18px; color: #fff; display: inline-block; }
.ui-form .form-footer .accept a.blue { text-decoration: underline; }
.ui-form .input-list { display: -webkit-box; height: 37px; line-height: 37px; }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; height: 35px; padding: 0 15px; border: 1px solid #e2e2e2; border-radius: 5px; background: #FFF; }
.ui-form .input-list .txt-wrap input { font-size: 16px; color: #111; width: 100%; height: 95%; line-height: normal; }

/*验证样式*/
.ui-form .msg-wrapper { height: 0px; padding: 3px 0; line-height: 40px; color: #ff7163; overflow: hidden; -webkit-transition: height 0.5s ease-in-out; transition: height 0.5s ease-in-out; }
.ui-form .msg-wrapper span.msg{display:block;}
.ui-form .icons-yes { background: url(../../images/cash_coupon/icon-bg.png) no-repeat; display: none; width: 19px; height: 15px; margin-top: 12px; background-size: 18px 14px; display: none; }
.ui-form .icon-no { background: url(../../images/cash_coupon/icon_error.png) no-repeat; display: inline-block; width: 15px; height: 15px; background-size: 15px 15px; margin-top: -2px; margin-right: 5px; vertical-align: middle; }
.ui-form .msg-show {}
.ui-form .msg-hide {height: 0px !important; }
.ui-form .phonecode { color: #FFF; background: #51c1e9; display: block; border-radius: 5px; margin-left: 10px; width: 75px; text-align: center }
.ui-form .form-Verification { background: #e2e2e2; width: 73px; height: 29px; border-radius: 5px; margin: 5px 0 0 12px; text-align: center; overflow: hidden; }
.ui-form .form-Verification img { width: 100%; height: 100%; overflow: hidden; }

/*ui-instrution*/
.ui-instrution { font-size: 13px; color: #686868; margin: 0 auto; text-align: center; }
.ui-instrution a.blue { padding: 0 12px; text-decoration: underline; }
.ui-instrution.yellow { color: #de7400; }
.ui-all-error { display: none; background: #fff5f5; border: 1px solid #f29d8e; margin: 0 auto; width: 93.75%; font-size: 26px; margin-bottom: 22px; color: #e70000; text-align: center; height: 48px; line-height: 48px; }

/*loading*/
.ui-loading { display: none; width: 100%; height: 100%; -webkit-background-color: rgba(0, 0, 0, 0.5); position: absolute; text-align: center; top: 0px; }
.ui-loading img { position: absolute; top: 200px; margin-left: -20px; }

/*ui-tab*/
.ui-tab { background: url(../../images/cash_coupon/common/bor_top.png) repeat-x center top  #ffe35f; color: #686868;   font-size: 24px;
  padding-top: 17px;
  background-size: auto 17px; }
.ui-tab .bg-white { padding: 20px 0 10px; }
.ui-tab .tabs_nav_box { background: #efefef; margin: 0 20px; padding: 10px 20px 0 20px; height: 58px; }
.ui-tab .tabs_nav_box ul { display: block; overflow: hidden; }
.ui-tab .tabs_nav_box ul li { display: block; float: left; width: 33%; height: 58px; line-height: 58px; text-align: center; cursor: pointer; }
.ui-tab .tabs_nav_box ul li.select { background: #FFF; color: #ff514a }
.ui-tab .accept-instroution { color: #de7400; margin: 10px 10px; padding: 5px; text-align: center; background: #fffad5; border: 1px solid #ffe35f }
.ui-tab .accept-instroution .red { font-weight: bold; }
.ui-tab .accept-num div, .ui-tab .accept-num div { float: left; }
.ui-tab .accept-num { display: block; overflow: hidden; line-height: 44px; margin: 13px 20px; }
.ui-tab .accept-num .num-left, .accept-num .num-right { position: relative; width: 170px; height: 44px; }
.ui-tab .accept-num span.line { position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: #e4e5e6; font-size: 0; overflow: hidden; }
.ui-tab .accept-num .num-mid { color: #8c8c8c; width: 260px; text-align: center; }
.ui-tab .accept-num .num-mid span { color: #686868; font-weight: bold; }
.ui-tab ul.accept-list li { display: block; padding: 0 30px; line-height: 44px; margin-bottom: 20px; float: left; }
.ui-tab ul.accept-list li div { width: 150px; float: left; }
.ui-tab ul.accept-list li .list-left { text-align: left; width: 150px; }
.ui-tab ul.accept-list li .list-mid { text-align: center; color: #b7b7b7; width: 264px; }
.ui-tab ul.accept-list li .list-right { text-align: right }
.ui-tab .accept-see { text-align: center; border-top: 1px solid #e4e5e6; margin: 0 10px; padding-top: 5px; }
.ui-tab .accept-see a { text-decoration: underline; }
.ui-tab .tab_box { background: url(../../images/cash_coupon/common/list_loading.gif) no-repeat center; min-height: 200px; }
.ui-tab .tab_box .con { background-color: #fff; min-height: 200px; }
.ui-tab .tab_box .con .tab-cont { padding: 30px; }
.ui-tab .tab_box .con p { line-height:32px; font-size:20px;}
.ui-wx-cover { position: fixed; left: 0; top: 0; background: url(../../images/cash_coupon/pop_icon.png) no-repeat center 10px rgba(0, 0, 0, 0.4); width: 100%; height: 100%; background-size: 225px 270px; z-index: 100; display: none; }
.ui-share { position: fixed; left: 50%; top: 0; width: 640px; height: 100%; margin-left: -320px; background-color: rgba(0, 0, 0, 0.2); z-index: 999; display: none; }
.ui-share .jiathis_style_32x32 { position: absolute; left: 0; bottom: 0; width: 100%; height: 120px; background-color: #fff; }
.ui-share .jiathis_style_32x32 a { width: 25%; float: left; }
.ui-share .jiathis_style_32x32 a span.jtico { float: none; margin: 30px auto 0; width: 60px !important; height: 60px !important; padding-left: 0 !important; }
.ui-share .jiathis_style_32x32 a span.jtico i { display: none; }
.jiathis_style_32x32 .jtico { background: url(../../images/cash_coupon/jiathis_ico_64x64.png) no-repeat left !important; }
.jiathis_style_32x32 .jtico_tsina { background-position: 0px 0px !important; }
.jiathis_style_32x32 .jiathis_separator { line-height: 60px !important; }
.jiathis_style_32x32 .jtico_tqq { background-position: 0px -180px !important; }
.jiathis_style_32x32 .jtico_qzone { background-position: 0px -60px !important; }
.jiathis_style_32x32 .jtico_renren { background-position: 0px -120px !important; }
.ui-btn-subing { }