@charset "utf-8";
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { -webkit-text-size-adjust: 100%; }
body { overflow-x: hidden; background-color: #fff9d5; color: #686868 }
a { color: #5ca9e4 }
a:hover { color: #5ca9e4 }
input, a { -webkit-appearance: none; -moz-appearance: none; -webkit-tap-highlight-color: transparent; -webkit-transition: background-color; outline: none }
ul, li { padding: 0; margin: 0 }

/*header*/
.m-head { background: url(../../images/cash_coupon/ban_bg2.png) no-repeat; background-size: 100%; padding: 18% 18.2%; position: relative; }
.m-head .banner { background-image: url(../../images/cash_coupon/ban_text_new_01.png); background-repeat: no-repeat; background-size: 100%; height: 42%; width: 88.4%; position: absolute; left: 5.8%; top: 7.7%; }
.m-head a.logo { position: absolute; left: 3.8%; top: 3.4%; width: 17.2%; height: 13.6%; background-image: url(../../images/cash_coupon/common/logo.png?v=20150624); background-size: 100%; display: block; }

/*foot*/
.m-foot { background: url(../../images/cash_coupon/common/foot_bg.png) no-repeat; background-size: 100%; padding: 11.2% 50%; height: 0; text-align: center; z-index: 10; position: relative; }
.m-foot span { color: #de7400; display: block; position: absolute; width: 100%; height: 20.83%; left: 0%; top: 70%; font-size: 1.2rem }
.m-foot a { color: #de7400; }
.m-foot a:hover { color: #de7400; }

/*ui-form*/
.ui-form { padding: 0 17.81%; margin-top: 1.56%; position: relative; z-index: 100; }
.ui-form .form-footer { text-align: center; margin-top: 1.3%; }
.ui-form .form-footer input, .ui-form .form-footer a.a-btn { border: none; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(221, 38, 0)), color-stop(1, rgb(247, 41, 60))); border-radius: 5px; padding: 5% 0; line-height: normal; text-align: center; width: 100%; font-size: 1.8rem; color: #fff; display: inline-block; opacity:1;}
.ui-form .form-footer .accept a.blue { text-decoration: underline; }
.ui-form .input-list { display: -webkit-box; }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; padding: 0 7.5%; border: 1px solid #e2e2e2; border-radius: 5px; background: #FFF; }
.ui-form .input-list .txt-wrap input { font-size: 1.6rem; color: #111; width: 100%; height: 30px; line-height: 30px; padding: 4px 0 }

/*验证样式*/
.ui-form .msg-wrapper { height: 0px; margin: 2% 0; line-height:2rem; color: #ff7163; overflow: hidden; -webkit-transition: height 0.5s ease-in-out; transition: height 0.5s ease-in-out; }
.ui-form .msg-wrapper span.msg{ display:block;}
.ui-form .icons-yes { background: url(../../images/cash_coupon/icon-bg.png) no-repeat; display: none; width: 19px; height: 15px; margin-top: 12px; background-size: 18px 14px; display: none; }
.ui-form .icon-no { background: url(../../images/cash_coupon/icon_error.png) no-repeat; display: inline-block; width: 15px; height: 15px; background-size: 15px 15px; margin-top: -2px; margin-right: 5px; vertical-align: middle; }
.ui-form .msg-show {}
.ui-form .msg-hide { height:0 !important; }
.ui-form .phonecode { color: #FFF; background: #51c1e9; display: block; border-radius: 5px; margin-left: 10px; width: 75px; text-align: center; font-size: 1.2rem; }
.ui-form .form-Verification { width: 73px; height: 30px; border-radius: 5px; margin: 5px 0 0 12px; text-align: center; overflow: hidden; /*background-repeat:none; background-size:100% 100%;*/}
.ui-form .form-Verification img { width: 100%; height: 100%; overflow: hidden; }

/*ui-instrution*/
.ui-instrution { font-size: 1.3rem; color: #686868; margin: 0 auto; text-align: center; }
.ui-instrution a.blue { padding: 0 12px; text-decoration: underline; }
.ui-instrution .yellow { color: #de7400; margin-bottom: 3px;}

/*总体错误提示*/
.ui-all-error { background: #fff5f5; border: 1px solid #f29d8e; margin: 0 auto; width: 93.75%; font-size: 1.3rem; margin-bottom: 3.44%; color: #e70000; text-align: center; line-height: 1.85; display:none;}

/*loading*/
.ui-loading { display: none; width: 100%; height: 100%; -webkit-background-color: rgba(0, 0, 0, 0.5); position: absolute; text-align: center; top: 0px; }
.ui-loading img { position: absolute; top: 200px; margin-left: -20px; }

/*ui-tab*/
.ui-tab { background: url(../../images/cash_coupon/common/bor_top.png) repeat-x center top  #ffe35f; background-size: auto 9px; color: #686868; padding-top: 9px }
.ui-tab .bg-white { padding: 2.8% 0; }
.ui-tab .tabs_nav_box { margin: 0 3.13%; padding: 1.5% 3.13% 0 3.13%; background: #efefef; }
.ui-tab .tabs_nav_box ul { display: -webkit-box; }
.ui-tab .tabs_nav_box ul li { -webkit-box-flex: 1; line-height: 2.2; text-align: center; font-size: 1.2rem }
.ui-tab .tabs_nav_box ul li.select { background: #FFF; color: #ff514a }
.ui-tab .accept-instroution { color: #de7400; margin: 3.13%; padding: 1.56%; text-align: center; background: #fffad5; border: 1px solid #ffe35f }
.ui-tab .accept-instroution .red { font-weight: bold; }
.ui-tab .accept-num { display: -webkit-box; line-height: 1.83; margin: 2.2% 3.13%; font-size:1.2rem;}
.ui-tab .accept-num .num-left, .accept-num .num-right { -webkit-box-flex: 1; position: relative; height: 22px; }
.ui-tab .accept-num span.line { position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: #e4e5e6; font-size: 0; overflow: hidden; display: block; }
.ui-tab .accept-num .num-mid { color: #8c8c8c; width: 40.63%; text-align: center; }
.ui-tab .accept-num .num-mid span { color: #686868; font-weight: bold; }
.ui-tab ul.accept-list li { padding: 0 4.69%; line-height: 1.83; margin-bottom: 1.88%; overflow: hidden; font-size: 1.2rem }
.ui-tab ul.accept-list li div { float: left; }
.ui-tab ul.accept-list li .list-left { text-align: left; width: 25% }
.ui-tab ul.accept-list li .list-mid { text-align: center; color: #b7b7b7; width: 50% }
.ui-tab ul.accept-list li .list-right { text-align: right; width: 25% }
.ui-tab .accept-see { text-align: center; border-top: 1px solid #e4e5e6; margin: 0 10px; padding-top: 5px; font-size: 1.2rem }
.ui-tab .accept-see a { text-decoration: underline; }
.ui-tab .tab_box { background: url(../../images/cash_coupon/common/list_loading.gif) no-repeat center; min-height: 100px; }
.ui-tab .tab_box .con { background-color: #fff;min-height: 100px }
.ui-tab .tab_box .con .tab-cont { padding: 4.7%; }
.ui-tab .tab_box .con p { line-height: 1.6; font-size: 1.0rem }
.ui-tab .tab_box .con:first ul.accept-list li .list-left{ width: 20% }
.ui-tab .tab_box .con:first ul.accept-list li .list-mid{ width: 50% }
.ui-tab .tab_box .con:first ul.accept-list li .list-right{ width: 30% }
/*三星*/
@media screen and (min-height:640px) {
	.ui-form .input-list .txt-wrap input { height: 34px; line-height: 34px; }
	.ui-form .form-Verification { height: 34px; }
	.ui-form .phonecode { width: 90px; }
}
/*iphone 6*/
@media screen and (min-height:667px) {
	.ui-form .msg-wrapper { margin: 3% 0; }
	.ui-form .phonecode { width: 90px; }
}
/*iphone 6 plus*/
@media screen and (min-height:736px) {
	.ui-instrution { line-height: 2 }
	.ui-form .form-footer { margin-top: 5%; }
	.ui-form .form-footer input, .ui-form .form-footer a.a-btn { padding: 3% 0; }
	.ui-form .input-list .txt-wrap input { height: 34px; line-height: 34px; }
	.ui-form .form-Verification { height: 34px; }
	.ui-form .phonecode { width: 90px; }
}
.ui-wx-cover { position: fixed; left: 0; top: 0; background: url(../../images/cash_coupon/pop_icon.png) no-repeat center 10px rgba(0, 0, 0, 0.4); width: 100%; height: 100%; background-size: 225px 270px; z-index: 100; display: none; }
.ui-share { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); z-index: 100; display: none; }
.ui-share .jiathis_style_32x32 { position: absolute; left: 0; bottom: 0; width: 100%; height: 60px; background-color: #fff; /*-webkit-transform:translateY(100%);*/ }
.ui-share .jiathis_style_32x32 a { width: 25%; float: left; }
.ui-share .jiathis_style_32x32 a span.jtico { float: none; margin: 13px auto 0; width: 32px !important; padding-left: 0 !important; }
.ui-share .jiathis_style_32x32 a span.jtico i { display: none; }

/**/
.ui-btn-subing{}