/*注册 and 注册成功*/
.m-head.p-reg a.logo, .m-head.p-regsuc a.logo { position: absolute; top: 3.22%; height: 12.88%; }
.m-foot.p-regsuc { position: fixed; bottom: 0 }
.m-main.p-reg { padding-top: 3.13%; }
.m-main.p-regsuc { padding-top: 11.25%; min-height: 245px;}
.p-regsuc .banner { background-image: url(../../images/cash_coupon/ban_text_03.png); background-repeat: no-repeat; background-size: 100%; height: 54.94%; width: 76.25%; position: absolute; left: 11.88%; top: 3.43%; }
.p-regsuc .ui-instrution, .p-reg .ui-instrution { margin-bottom:3.45%; }
.p-reg .banner { background-image: url(../../images/cash_coupon/ban_text_02.png); background-repeat: no-repeat; background-size: 100%; height: 52.36%; width: 80%; position: absolute; left: 10%; top: 3.43%; }
.accept { color: #686868; margin-top: 4.13%; font-size: 1.2rem; }
.phone-num { color: #686868; font-size: 1.5rem; margin-bottom: 2.5%; }
@media screen only (max-height:480px) {
	.m-foot.p-reg, .m-foot.p-regsuc { position: relative; }
}
/*iphone 5*/
@media screen and (min-height:460px) {
	/*.m-main.p-reg { padding-bottom:0px; }*/
}
@media screen and (min-height:504px) {
	/*.m-main.p-reg { padding-bottom: 44px; }*/
}
/*iphone 6 plus*/
@media screen and (min-height:628px) {
	/*.m-main.p-reg { padding-bottom: 43px; }*/
}
@media screen and (min-height:672px) {
	/*.m-main.p-reg { padding-bottom: 87px; }*/
}