{include file="web/views/v2/header.html"}
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/account_o2o_gift.css');?>">
<div class="p_account_o2o_coupon_suc">
        <span class="blank23"></span>
        <div class="w1100">
            <div class="ui-box">
            <div class="ui_suc_title"><i class="ui_fail_icon fail_i_mr19"></i><span class="fail_text">兑换失败！</span>              
                <div class="fail_details">
                <span>{$errMsg}</span>
                </div>
                <div class="tc pb30"><a class="o2o_pc_btn_red_h38 fail_a_mr26"  href="/gift"><span class="right o2o_w95" >返回礼券</span></a><a class="o2o_pc_btn_red_h38"  href="/gift"><span class="right fail_backbefore">返回上一页</span></a></div>
                <span class="blank60"></span>
            </div> 
        <span class="blank60"></span>
    </div>
</div>
{include file="web/views/v2/footer.html"}
