<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/static/v1/css/oauth/common.css?v=1000">
    <link href="/static/v1/css/oauth/weebox.css?v=1000" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{function name="parse_css_site" v="css/style.css"}" />
    <script src="/static/v1/js/oauth/jquery-1.10.2.min.js"></script>
    <script src="/static/v1/js/oauth/jquery.weebox.js"></script>

<title>修改邮箱 - {$title}</title>
</head>
<body>

  <div id="header">
    <div id="header-logo">
      <a href="http://www.firstp2p.com" title="{$title}">
              <img src="/static/v1/images/oauth/logo.png?tag=1000" class="header_logo" alt="网信理财">
      </a>
    </div>
  </div>

<div class="title-traverse">
    <h1>修改邮箱</h1>
</div>
<div class="page-tab-container">


    <div class="main">
        <div class="pw-info">
                <ul class="clearfix">

                    <li id="old_email_li"><label> <span>*</span> 旧邮箱：
                    </label> <input type="text" value="" name="email" id="old_mail" class="txt"> &nbsp;&nbsp;&nbsp;<span class="error_tip tip"></span></li>
                    <li><label> <span>*</span> 密码：
                    </label> <input type="password" value="" name="password" id="password" class="txt"> &nbsp;&nbsp;&nbsp;<span class="error_tip tip"></span></li>
                    <li><label> <span>*</span> 新邮箱：
                    </label> <input type="text" value="" name="new_mail" id="new_mail" class="txt"> &nbsp;&nbsp;&nbsp;<span class="error_tip tip new_mail"></span></li>
                    <li><label> <span>*</span> 确认新邮箱：
                    </label> <input type="text" value="" name="re_new_mail" id="re_new_mail" class="txt"> &nbsp;&nbsp;&nbsp;<span class="error_tip tip new_mail"></span></li>
                    <li><label> <span></span>
                    </label>
                        <input class="sumbtn" type="submit" id="submit_button" value="确定">

                    </li>
                    <li><label> <span></span>
                    </label>
                        <span class="error_tip" style="color:red" id="error_tip"></span>

                    </li>
                </ul>
        </div>
    </div>
</div>

   <div class="footer">
	    <p>电话：400-890-9888 周一至周六 9:00-18:00 京ICP证130046号
	      <br>北京东方联合投资管理有限公司
	      <br>© 2014 {$title} All rights reserved
	</div>  
<input type="hidden" name="redirectURI" id="redirectURI" value="http://lc.firstp2p.com/account">
  <link rel="stylesheet" type="text/css" href="/static/v1/css/oauth/email.css?v=1000" /> 
<script>
    var realOldEmail = "yangqingapp@163.com";
    if(realOldEmail===""){
        $("#old_email_li").hide();
    }
</script>
  <script src="/static/v1/js/oauth/email.js?v=1000"></script>
</body>
</html>