
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/user.css');?>" />
<style>
.shouyi{
    font-family:'Microsoft YaHei';
}
</style>
<div class="user_right">
        <div class="user_right_box  mb20 pb20">
            <div class="user_title"><h1><i class="ico_yonghu"></i>用户信息</h1></div>
            {if app_conf('UCF_PAY_STATUS') eq '0'}
            <div style="background: #f1f2f3;
                line-height: 27px;
                text-align: center;
                font-size: 13px;
                color: #888888;"> {function name="get_adv" x="首页投资说明"}</div>
            {/if}
            <table class="user_tab f14 mt15">
                <colgroup>
                    <col width="130">
                    <col width="260">
                    <col width="105">
                    <col width="260">
                </colgroup>
                <tbody>
                    <tr>
                        <th>姓名：</th>
                        <td>

                            {if $user_info.idcardpassed eq 1}
                                {if $user_info.real_name}{$user_info.real_name}（{function name="idnoFormat" value=$user_info.idno}）{/if} 
                            {elseif $user_info.idcardpassed eq 3}
                                实名认证审核中
                            {else}
                                尚未实名认证 <a href='/account/addbank'>现在去认证</a>
                            {/if}

                        </td>
                        {if $bankcard.status eq 1}
                        <th>开户名：</th>
                        <td>{$bankcard.card_name}</td>
                        {else}
                        <td colspan="2" rowspan="5" valign="top">
                        <div class="addbank">
                            <a href="{url x="index" r="account/addbank"}">
                                    <i class="icon_add"></i>
                                    <p>添加银行卡信息</p>
                                </a>
                            </div>
                        </td>
                        {/if}
                    </tr>
                    <tr>
                    <th>手机：</th>
                        <td>
                            {function name="moblieFormat" value=$user_info.mobile} {if $user_info.mobilepassed eq 1}<span class="yanzheng"> <i></i>已验证</span>{/if}
                            <a href="{url x="index" r="user/editmb"}" class="color-blue1 underline">修改</a>
                        </td>
                        {if $bankcard.status eq 1}
                        <th>银行：</th>
                        <td>{$bankcard.name}</td>
                        {/if}
                    </tr>
                    <tr>
                    <th>邮箱：</th>
                        <td>{function name="mailFormat" value=$user_info.email}
                            {if $user_info.email neq ''}
                            	<a href="{url x="index" r="user/editemail"}" class="color-blue1 underline">修改</a>
                            {else}
                            	<a href="{url x="index" r="account/addemail"}" class="color-blue1 underline">设置</a>
                            {/if}
                        </td>
                        {if $bankcard.status eq 1}
                        <th>银行卡号：</th>
                        <td>{function name="formatBankcard" value=$bankcard.bankcard}
                        {if $is_audit neq 1}&nbsp;&nbsp;<a  href='/account/editbank'  class="color-blue1 underline">修改</a>{else}<span class='tl pl15 color-yellow1 shouyi'>新银行卡审核中<i class="ico_sigh" title="银行卡号:{$bankcard.newbankcard}"></i></span>{/if}
                        </td>
                        {/if}
                    </tr>
                    <tr>
                        <th>登录密码：</th>
                        <td><a href="{url x="index" r="user/editpwd"}" class="color-blue1 underline">修改</a></td>
                        {if $bankcard.status eq 1}
                        <th>开户行网点：</th>
                        <td>{$bankcard.city}</td>
                        {/if}
                    </tr>
                    <tr>
                        {if  $user_info.payment_user_id and !$hasPassport and $usedQuickPay and app_conf('PAYMENT_ENABLE') eq '1' AND app_conf('UCF_PAY_STATUS') eq '1'}
                        <th>支付密码：</th>
                        <td><a href="{url x="index" r="payment/editPassword"}" target="blank" class="color-blue1 underline">修改</a></td>
                        {else}
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                        {/if}
                        {if $bankcard.status eq 1}
                        <th></th>
                        <td>{$bankcard.bankzone}
                            {if $is_audit neq 1}&nbsp;&nbsp;
                                <a  href='/account/editbank?type=1'  class="color-blue1 underline">修改</a>
                            {else}
                                <span class='tl pl15 color-yellow1 shouyi'>新银行卡审核中<i class="ico_sigh" title="银行卡号:{$bankcard.newbankcard}"></i></span>
                            {/if}
                        </td>
                        {/if}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="user_right_box  mb20 pb20">
            <div class="user_title"><h1><i class="ico_zhanghu"></i>账户信息</h1></div>
            <table class="yh_tab f14 mt20">
                <colgroup>
                    <col width="130">
                    <col width="300">
                    <col width="180">
                    <col width="170">
                </colgroup>
                <tbody>
                <tr>
                    <th>账户余额：</th>
                        <td><em class="color-yellow1">{function name="format_price" value=$user_info.total_money b=0}元</em></td>
                        <td colspan="2" rowspan="3">
                            <div class="lgl_money">
                                <p><div class="w115 fl tr">通知贷金额：</div><span class="color-yellow1">{$compound.compound_money}</span></p>
                                <p><a href="/account/load?type=1" class="button_tx fr">申请赎回</a><div class="w115 fl tr">可申请赎回金额：</div><span class="color-yellow1">{$compound.repay_money}</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <th>现金金额：</th>
                        <td><em class="color-yellow1 xj-em">{function name="format_price" value=$user_info.money b=0}元</em><a href="/account/charge" class="button_cz">充值</a> <a href="/account/carry" class="button_tx">提现</a></td>
                    </tr>
                    <tr>

                    <th>红包金额：</th>
                        <td>{function name="format_price" value=$bonus b=0}元</td>          
                    </tr>

                    <tr>
                    <th>冻结金额：</th>
                        <td>{function name="format_price" value=$user_info.lock_money b=0}元</td>
                        <td rowspan="2" colspan="2"><div><i class="ico_tou"></i><span class="w70 tr" style="display:inline-block">总投资额：</span><strong class="color-yellow1">{function name="format_price" v=$user_statics.load_money b=0}元</strong> </div></td>
                    </tr>
                    <tr>
                    <th>待收本金：</th>
                        <td>{function name="format_price" v="$user_statics.principal" b=0}元</td>
                    </tr>
                    <tr>
                    <th>待收收益：</th>
                        <td>{function name="format_price" v="$user_statics.interest" b=0}元</td>
                        <td rowspan="2" colspan="2"><div><i class="ico_shou"></i><span class="w70 tr"  style="display:inline-block">总收益：</span><strong class="color-yellow1">{function name="format_price" v="$user_statics.earning_all" b=0}元</strong> </div></td>
                    </tr>
                    <tr>
                    <th>资产总额：</th>
                        <td><em class="color-yellow1">{function name="format_price" v="$user_statics.money_all" b=0}元</em></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="user_right_box mb20">
        <div class="user_title"><a class="f14 fr pr30 color-black" href="{url x="index" r="account/load"}">更多<i class="ico_more"></i></a><h1><i class="ico_toubiao"></i>投标概况</h1></div>
            <div class="w710 mauto pb20">
            <table class="plan">
                <colgroup>
                        <col width="210">
                        <col width="235">
                        <col width="260">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><div class="tl pl15">状态</div></th>
                            <th>笔数</th>
                            <th><div class="tr pr15">金额（元）</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach from=$invest item=item key=key}
                    <tr {if $key mod 2 eq  1}class="tr_bg"{/if}>
                        <td><div class="tl pl15 {if $key neq 3}color-yellow1{/if}">{$item.text}</div></td>
                            <td>{if $item.counts}{$item.counts}{else}0{/if}</td>
                            <td><div class="tr pr15 f16">{function name="format_price" value=$item.money b=0}</div></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="user_right_box mb20">
        <div class="user_title"><a class="f14 fr pr30 color-black" href="{url x="index" r="account/loan"}">更多<i class="ico_more"></i></a><h1><i class="ico_huikuan"></i>回款计划</h1></div>
            <div class="w710 mauto pb20">
            <table class="plan">
                    <colgroup>
                        <col width="210">
                        <col width="235">
                        <col width="260">
                    </colgroup>
                    <thead>
                    <tr>
                            <th><div class="tl pl15">时间</div></th>
                            <th>笔数</th>
                            <th><div class="tr pr15">金额（元）</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach from=$deal_repay item=item key=key}
                        <tr {if $key mod 2 eq  1}class="tr_bg"{/if}>
                            <td><div class="tl pl15 {if $key neq 3}color-yellow1{/if}">{$item.text}</div></td>
                            <td>{if $item.counts}{$item.counts}{else}0{/if}</td>
                            <td><div class="tr pr15 f16">{function name="format_price" value=$item.money b=0}</div></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="user_right_box mb20">
            <div class="user_title"><a class="f14 fr pr30 color-black" href="{url x="index" r="account/money" }">更多<i class="ico_more"></i></a><h1><i class="ico_jilu"></i>资金记录</h1></div>
            <div class="w710 mauto pb20">
                <table class="plan">
                    <colgroup>
                    <col width="160">
                    <col width="140">
                    <col width="162">
                    <col width="130">
                    <col width="120">
                </colgroup>
                    <thead>
                        <tr>
                        <th>时间</th>
                            <th>类型</th>
                            <th><div class="tl pl20">冻结/解冻（元）</div></th>
                            <th><div class="tl pl20">资金变动（元）</div></th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach from=$log item=item key=key}
                    <tr {if $key mod 2 eq  1}class="tr_bg"{/if}>
                        <td><div class="tl pl15"><?php echo to_date($this->_var['item']['log_time'],"Y-m-d H:i"); ?></div></td>
                            <td>{$item.log_info}</td>
                            <td><div class="tl pl15">{if $item.lock_money neq 0}<em class="color-green1">{function name="format_price" value=$item.lock_money c=0}</em>{/if}</div></td>
                            <td><div class="tl pl15">{if $item.money neq 0}<em class="color-yellow1">{function name="format_price" value=$item.money c=0}</em>{/if}</div></td>
                            <td>{function name="htmlspecialchars" value=$item.note}</td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="user_right_box mb20">
        <div class="user_title"><h1><i class="ico_jilu"></i>账户七天充值记录</h1></div>
            <div class="w710 mauto pb20">
            <table class="plan">
                <colgroup>
                    <col width="130">
                    <col width="160">
                    <col width="102">
                    <col width="160">
                    <col width="160">
                </colgroup>
                    <thead>
                    <tr>
                    <th>充值单号</th>
                            <th><div class="tl pl20">充值金额（元）</div></th>
                            <th>状态</th>
                            <th>充值时间</th>
                            <th>订单生成时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach from=$charge_list item=item key=key}
                    <tr {if $key mod 2 eq  1}class="tr_bg"{/if}>
                        <td><div class="tl pl15">{$item.notice_sn}</div></td>
                             <td><div class="tl pl15">{if $item.money neq 0}<em class="color-yellow1">{function name="format_price" value=$item.money c=0}</em>{/if}</div></td>
                              <td><div class="tl pl15">{$item.status_cn}</div></td>
                            <td><?php if (empty($this->_var['item']['pay_time'])) echo '-'; else  echo to_date($this->_var['item']['pay_time'],"Y-m-d H:i:s"); ?></td>
                            <td><?php echo to_date($this->_var['item']['create_time'],"Y-m-d H:i:s"); ?></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    //修改
    function editor_bankInfo() {
        window.location.href='/account/editbank';
    }
    </script>
