.invest_detail .bid_detail{padding:0 15px;background:#ffffff;}
.invest_detail .top{padding-top: 15px;}
.invest_detail .lhs{display: inline-block;border:1px #EE4634 solid;font-size: 11px;color: #EE4634;border-radius: 8px;height: 14px;line-height: 14px;padding:0 5px;margin-right: 5px;position: relative;top: -2px;}
.invest_detail .bid_name{font-size: 15px;}
.invest_detail .middle{margin-top: 15px;padding-bottom: 10px;border-bottom: 1px #d9d9d9 solid;display: -webkit-box;}
.invest_detail .middle li{-webkit-box-flex: 1;}
.invest_detail .middle li.t_c{text-align: center;}
.invest_detail .middle li.t_r{text-align: right;}
.invest_detail .text{font-size: 10px;color: #909090;}

.invest_detail .sxf{position: relative;background: url("../../images/duotou/shouxufei.png") center no-repeat;background-size: 13px 13px;width: 13px;height: 13px;display: inline-block;margin-left: 3px;vertical-align: -2px;}
.invest_detail .pop_bottom{position: absolute;z-index: 10;border: 1px #000 solid;background: #000000;opacity: 0.7 !important;padding: 6px;border-radius: 5px;color: #ffffff;font-size: 10px;width: 120px;top: 26px;left: -30px;}
.invest_detail .triangle{position: absolute;width: 0;height: 0;top:-19px;left:26px;border-width:9px;border-style:solid;border-color:transparent transparent #000 transparent;}

.invest_detail .num{font-size: 18px;color: #EE4634}
.invest_detail .num .nh{font-size: 10px;}
.invest_detail .bottom{height: 36px;line-height: 36px;font-size: 12px;color: #909090;}
.invest_detail .bottom p{display: inline-block;}

.invest_detail .f_left{float: left;}
.invest_detail .f_right{float: right;}
.invest_detail .income_text{font-size: 12px;color: #909090;height: 38px;line-height: 38px;padding-left: 15px;}
.invest_detail .income_day{height: 44px;line-height: 44px;font-size: 13px;background: #ffffff;padding-left: 15px;margin-bottom: 10px;}
.invest_detail .income_day span{color: #EE4634;}
.invest_detail .product{padding:0 15px;background: #ffffff;padding-bottom:15px;margin-bottom: 56px;}
.invest_detail .pro_text{height: 38px;line-height: 38px;font-size: 14px;}
.invest_detail .pro_detail{font-size: 13px;line-height: 20px;}
.invest_detail .yuyue{position: fixed;text-align:center;bottom: 0;background:#efeff4;height: 56px;line-height: 56px;width: 100%;}
.invest_detail .yuyue .yuyue_but{background: #EE4634;color: #ffffff;font-size: 17px;margin: 0 15px;line-height: 40px;border-radius: 3px;display: block;margin-top: 8px;}
.invest_detail .dis_none{display: none;}
.invest_detail .product p img{width: 100%;}