.pa_top {background: url("../../images/duotou/p2p_top.jpg") no-repeat 0 0;background-size: cover;height: 90px !important;width: 100%;position: relative;}
.pat_line {top: 15px !important;}
.pat_line, .paf_line {position: absolute;left: 0px;right: 0px;width: 30px;height: 1px;margin: 0 auto;background: rgba(255,255,255,0.3);}
.pa_top .pt_title {padding-top: 22px !important;}
.pa_top p {text-align: center;font-size: 15px !important;color: #fff;}
.pa_top .pt_title i {margin: 0 10px;}
.pa_top p {text-align: center;font-size: 15px !important;color: #fff;}
.paf_line {bottom: 15px !important;}
.ditm_left{margin-bottom: 20px;}
.pa_center{padding-top: 15px !important;}
.point{text-align: center;font-size: 12px;color: #8f8f8f;margin-top: 15px;}
.sxf{background: url("../../images/duotou/sxf_white.png") center no-repeat;background-size: 13px 13px;width: 13px;height: 13px;display: inline-block;margin-left: -2px;vertical-align: -2px;position: relative;}
.invest_confirm .pop_bottom{position: absolute;z-index: 10;border: 1px #000 solid;background: #000000;opacity: 0.7 !important;padding: 6px;border-radius: 5px;color: #ffffff;font-size: 10px;width: 120px;top: 26px;right: -13px;}
.invest_confirm .triangle{position: absolute;width: 0;height: 0;top:-19px;right:10px;border-width:9px;border-style:solid;border-color:transparent transparent #000 transparent;}
.dis_none{display: none;}
/*.sxf{background: url("../../images/duotou/sxf_white.png") center no-repeat;background-size: 13px 13px;width: 13px;height: 13px;display: inline-block;margin-left: 3px;vertical-align: -2px;}
.charge_money{padding:15px;border-bottom: 1px #d9d9d9 solid;background: #ffffff;}
.money_yu{margin-bottom: 15px;font-size: 17px;}
.money_yu input{background:#ee4634; width: 70px;height: 26px;line-height: 26px;color: #ffffff;text-align: center;font-size: 16px;border-radius: 3px;float: right;}
.input_text{border-radius: 5px;border:1px #d9d9d9 solid;height: 40px;padding-left: 10px;display: -webkit-box;}
.input_text input{font-size: 15px;border: none;width:100%;color: #8f8f8f;height: 40px;border-radius: 5px;display: block;-webkit-box-flex: 1;}
.contract{ background:#ffffff;height: 44px;line-height: 44px;border-bottom: 1px #d9d9d9 solid;border-top: 1px #d9d9d9 solid;padding-left: 15px;margin: 20px 0px;font-size: 17px;}
.contract i{background:url("../../images/duotou/point.png") center no-repeat;background-size:auto 14px;width: 40px;height: 46px;float: right;}
.confirm_but{padding:0 15px;margin-bottom: 15px;}
.confirm_but input{background: #ee4634;font-size: 17px;color: #ffffff;text-align: center;width: 100%;line-height: 40px;border-radius: 3px;}

.disnone{display: none !important;} */