.p_done_detail .has-main{height:100%;}
.p_done_detail .title{height:15px;line-height:15px;font-size:12px;padding:15px 0 10px 15px;color:#909090;}
.p_done_detail .has-header{padding:12px 0px 10px 15px;background-color:#fff;border-bottom:1px solid #d9d9d9;position:relative;color:#41474d;}
.p_done_detail .has-header h2{font-size:15px;line-height:21px;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.p_done_detail .money-color{color:#5ca9e4;}
.p_done_detail .pro-color{color:#f94272;}
.p_done_detail .color_red{color:#EE4634;}
.p_done_detail .already_details{background-color:#fff;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9;padding-left:15px;}
.p_done_detail .details_list{list-style:none;}
.p_done_detail ul.details_list li{border-bottom:1px solid #d9d9d9;padding:12px 15px 11px 0px;font-size:15px;line-height:21px;color:#909090;}
.p_done_detail ul.details_list li:last-child{border-bottom:none;}
.p_done_detail .de_num{float:right;}
.p_done_detail .color_black{color:#000000;}
.p_done_detail .has-center{border-top:1px solid #dadcdd;border-bottom:1px solid #dadcdd;padding-left:15px;background-color:#fff;}
.p_done_detail .mrb20{margin-bottom:20px;}
.p_done_detail .mrb56{margin-bottom:56px;}
.p_done_detail .has-center .hasc-btn{height:45px;line-height:45px;}
.p_done_detail .has-center .hasc-btn a{font-size:15px;color:#41474d;text-decoration:none;border-bottom:1px solid #dadcdd;display:block;}
.p_done_detail .has-center .hasc-btn a .icon_arrow{background:url("../../images/duotou/has_icon.png") 0 0 no-repeat;width:8px;height:13px;background-size:cover;display:block;margin-top:15px;margin-right:15px;}
.p_done_detail .has-center .dis-border{border-bottom:0px;}
.p_done_detail .inv-fbtn{position:fixed;bottom:0;text-align:center;width:100%;height:47px;padding-top:8px;background-color: #EFEFF4;}
.p_done_detail .ui_red_btn{height:36px;background:#ee4634;display:block;margin:0 15px;border:0;border-radius:3px;font-size:17px;color:#fff;line-height:36px;text-align:center;}
.p_done_detail .color_black{color: #000 !important;}
/*状态*/
.p_done_detail .state-gray,
.p_done_detail .state-dsh,
.p_done_detail .state-hkz,
.p_done_detail .state-mb,
.p_done_detail .state-tzz,
.p_done_detail .state-yhq,
.p_done_detail .state-red{height:14px;line-height:14px;color:#FFFFFF;text-align:center;border-radius:7px;font-size:10px;display:inline-block;position:relative;margin-right:5px;padding:0 5px 0px 5px;}
.p_done_detail .state-hkz{background:#00d348;}
.p_done_detail .state-mb{background:#EE4634;padding: 1px 5px;vertical-align: 2px;}
.p_done_detail .state-tzz{background:#5abbf6;}
.p_done_detail .state-yhq{background:#ff7e00;}
.p_done_detail .state-dsh{background:#b38dd7;}
.p_done_detail .state-gray{background:#cccccc;}
.p_done_detail .state-red{background:#ee4634;}
.p_done_detail .state-green{background:#66bb6a;}