@charset "UTF-8";
/*除去ie表单默认样式*/
/*去除浮动*/
.wx_list:before, .wx_ol li dl:before, .wx-list-c:before, .wx_list:after, .wx_ol li dl:after, .wx-list-c:after {
  content: '';
  display: table;
  font-size: 0;
  line-height: 0; }
.wx_list:after, .wx_ol li dl:after, .wx-list-c:after {
  clear: both; }

/*不换行，超出显示省略号*/
/*绝对定位 占满父类*/
/*两边对齐*/
/*flex*/
/*垂直对齐 vertical-align*/
/*块，行内元素*/
html, body {
  width: 100%;
  min-height: 100%;
  background: #f7f7f7; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #333;
  text-decoration: none; }

img {
  max-width: 100%;
  object-fit: cover; }

ul, ol {
  list-style: none; }

.wxlc-container {
  position: relative;
  margin: 0 auto;
  max-width: 540px;
  font-size: 0.3733333333rem;
  font-family: 'Microsoft YaHei'; }

.plr, .pp, .wxlc_head .wxlc_top, .wxlc_section {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.ptb, .pp {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }

.wxlc_head {
  background: #0f1824; }
  .wxlc_head .wxlc_top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.28rem;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 100; }
    .wxlc_head .wxlc_top .wxlc_logo {
      display: block;
      margin-top: 0.24rem;
      width: 2.4rem;
      height: 0.8rem;
      background: transparent url("../images/logo.png") no-repeat left center;
      background-size: contain; }
  .wxlc_head .wxlc_banner {
    height: 8.8933333333rem; }
    .wxlc_head .wxlc_banner i {
      display: block;
      width: 100%;
      height: 100%;
      background: transparent url("../images/banner.jpg") no-repeat center;
      background-size: contain; }

.wxlc_section {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.6666666667rem;
  background: #fff; }
  .wxlc_section .wxlc_section_head {
    font-size: 0.4266666667rem;
    font-weight: bold;
    text-align: center;
    color: #999; }
    .wxlc_section .wxlc_section_head span {
      color: #333; }
  .wxlc_section .wxlc_section_body {
    padding-top: 0.5333333333rem; }

.wx_list .list_item + .list_item {
  margin-top: 1.0666666667rem; }
.wx_list .list_media {
  float: left;
  width: 1.4666666667rem;
  height: 1.4666666667rem;
  background: #eee;
  border-radius: 0.32rem;
  overflow: hidden; }
  .wx_list .list_media span {
    display: block;
    width: 100%;
    height: 100%; }
    .wx_list .list_media span.i1 {
      background: transparent url("../images/a1.png") no-repeat;
      background-size: 100% auto; }
    .wx_list .list_media span.i2 {
      background: transparent url("../images/a2.png") no-repeat;
      background-size: 100% auto; }
    .wx_list .list_media span.i3 {
      background: transparent url("../images/a3.png") no-repeat;
      background-size: 100% auto; }
    .wx_list .list_media span.i4 {
      background: transparent url("../images/a4.png") no-repeat;
      background-size: 100% auto; }
.wx_list .list_body {
  padding-left: 1.7333333333rem; }
  .wx_list .list_body .list_body_title {
    font-size: 0.4rem; }
  .wx_list .list_body .list_body_text {
    padding-top: 0.1333333333rem;
    color: #999;
    font-size: 0.3466666667rem; }

.wx_ol {
  list-style: none; }
  .wx_ol li dl {
    color: #fff; }
    .wx_ol li dl dt {
      float: left;
      width: 1.3333333333rem;
      line-height: 1.0666666667rem;
      text-align: center;
      font-size: 0.96rem;
      font-weight: lighter; }
    .wx_ol li dl dd {
      padding: 0.2rem 0;
      padding-left: 1.8666666667rem;
      line-height: 0.6666666667rem;
      font-size: 0.4rem; }
      .wx_ol li dl dd > div {
        font-size: 0.4rem; }
        .wx_ol li dl dd > div + p {
          font-size: 0.32rem;
          opacity: .5; }
  .wx_ol li + li {
    margin-top: 0.6666666667rem; }

.wx-list-c {
  list-style: none; }
  .wx-list-c .wx-list-item {
    float: left;
    padding: 0.2666666667rem;
    width: 50%;
    min-height: 3.7333333333rem; }

.list-cell {
  text-align: center; }
  .list-cell .list-cell-media {
    display: block;
    margin: 0 auto;
    width: 1.2533333333rem;
    height: 1.2533333333rem;
    background: #eee;
    border-radius: 0.0666666667rem; }
    .list-cell .list-cell-media i {
      display: block;
      width: 100%;
      height: 100%; }
      .list-cell .list-cell-media i.i1 {
        background: #fff url("../images/o1.png") no-repeat center;
        background-size: contain; }
      .list-cell .list-cell-media i.i2 {
        background: #fff url("../images/o2.png") no-repeat center;
        background-size: contain; }
      .list-cell .list-cell-media i.i3 {
        background: #fff url("../images/o3.png") no-repeat center;
        background-size: contain; }
      .list-cell .list-cell-media i.i4 {
        background: #fff url("../images/o4.png") no-repeat center;
        background-size: contain; }
  .list-cell .list-cell-block {
    margin-top: 0.2rem; }
    .list-cell .list-cell-block .list-cell-text2 {
      color: #999;
      font-size: 0.32rem; }

/* 关于我们 */
/* 业务介绍 */
.wxlc_business {
  padding-left: 0.6666666667rem;
  padding-right: 0.6666666667rem;
  background: #19233e url("../images/bi.png") no-repeat center;
  background-size: auto 100%; }
  .wxlc_business .wxlc_section_head {
    color: #96a1bc; }
    .wxlc_business .wxlc_section_head span {
      color: #fff; }

.wxlc_contactUs {
  background: #f5f5f5; }
  .wxlc_contactUs .contact_img {
    width: 100%;
    height: 3.3066666667rem;
    background: #eee url("../images/c.png") no-repeat center;
    background-size: 100% auto; }
  .wxlc_contactUs .contact_list {
    margin-top: 0.4rem; }
    .wxlc_contactUs .contact_list li {
      margin-top: 0.2666666667rem; }
      .wxlc_contactUs .contact_list li .contact_label {
        font-size: 0.4rem;
        color: #666; }
        .wxlc_contactUs .contact_list li .contact_label + p {
          margin-top: 0.1066666667rem;
          font-size: 0.3466666667rem;
          color: #999; }

/*# sourceMappingURL=wxlc.css.map */
