body{font-family:PingFangSC-Regular;}
.p_change_bankcard{}
.p_change_bankcard .type_text{padding: 15px 0 8px 15px;;font-size: 12px;color: #8A8899;}
.p_change_bankcard .verify_type ul li{background: #fff;padding: 0 15px;margin-bottom: 15px;position: relative;padding-bottom: 18px;}
.p_change_bankcard .verify_type ul li img{width: 24px;height: 24px;float: left;margin-top: 28px;margin-right: 10px;}
.p_change_bankcard .verify_type ul li p{font-size: 12px;color: #8A8899;padding-left: 34px;}
.p_change_bankcard .verify_type ul li p.title{color: #343438;font-size:18px;padding-top: 18px;font-weight:500;}
.p_change_bankcard .verify_type ul li i{width: 10px;height: 16px;background: url(../../images/payment/right_arrow.png) no-repeat;background-size: 10px 16px;display: inline-block;position: absolute;right: 15px;bottom: 50%;margin-bottom: -8px;}

.p_changecard_error .inreview_foot{color:#8A8899;position: fixed;bottom: 32px;text-align: center;width: 100%;}
.p_changecard_error .inreview_foot span{color: #30A4FF;}
.p_changecard_error .color_black{color: #000;font-weight: 500;}
.p_changecard_error .inreview_img_error{margin:119px auto 0;background: url(../../images/payment/error.png);width: 92px;height: 92px;background-size: 100% 100%;}
.p_changecard_error .ui_btn_red_h40{background: #EF4B39;width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 20px;border-radius: 3px;color: #FFF}
.p_changecard_error .ui_btn_red_h40 a{display: block;color: #FFF}
.p_changecard_error .plr15{padding: 0 30px;}
.error_text{font-size: 12px;color: #8A8899;text-align: center;line-height: 17px;margin-bottom: 15px;font-family:PingFangSC-Regular;font-weight:400;}
.inreview_instr{margin-top: 24px;margin-bottom: 10px;line-height: 28px;font-family:PingFangSC-Medium;font-weight:500;text-align: center;color: #000;font-size: 20px;}