body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul {list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
html{color: #000;	-webkit-text-size-adjust: 100%;	-ms-text-size-adjust: 100%}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input {-webkit-user-select:auto;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
    font: 12px/1.5 "Hiragino Sans GB", "u5faeu8f6fu96c5u9ed1", "5FAE8F6F96C59ED1", tahoma, arial, "5b8b4f53", sans-serif;}
/* ==|== MOBILE SET======================= */

.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f24 { font-size:24px }
.f28 { font-size:28px }
.f30 { font-size:30px }
.fb { font-weight: 700 }
.fn { font-weight: 400 }
.t2 { text-indent: 2em }
.lh20 { line-height:20px }
.lh22 { line-height:22px }
.lh24 { line-height:24px }
.unl { text-decoration: underline }
.no_unl { text-decoration: none }
/*POSITION
-------------------------------------------------------------- */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.bc { margin-left: auto; margin-right: auto }
/* .fl { float: left; display: inline }
.fr { float: right; display: inline } */
.vm { vertical-align: middle; }
.vt { vertical-align: top }
.pr { position: relative }
.pa { position: absolute }
.abs-right { position: absolute; right: 0 }
.abs-left { position: absolute; left: 0 }
.hidden { visibility: hidden }
.none { display: none!important; }
.i-box {position:relative;background:#fff;overflow:hidden;}
.red {color:red!important;}


.container{
    width:100%;
    font-size:0px;
}
.two,
.three img,
.four img{
    margin-top:-0.02rem;
}
.one,
.one .one_img{
    height:7.13rem;
}
.one .one_img,
.one .share_wrap .share_button{
    display:block;
}
.one .share_wrap{
    position: relative;
    display:block;
}
.one .share_wrap .share_button{
    width:0.74rem;
    height:0.74rem;
    position:absolute;
    top:-6.82rem;
    left:6.5rem;
    z-index:1;
}
.two{
    position:relative;
    height:6.18rem;
}
.two img{
    height:6.18rem;
}
.two .zhufu_wrap{
    position:absolute;
    top:0;
    left:0;
    width:6.66rem;
    height:3.18rem;
    margin-top:0.77rem;
    margin-left: 0.42rem;
    border-radius:20px;
    background-color:rgba(255,255,255,0.5);
    overflow:hidden;
}
.two .zhufu_video{
    width:100%;
    height:100%;
}
.img{
    width:100%;
}
.three{
    height:44.12rem;
}
.three img{
    display:block;
}
.three .img1{
    height:4.06rem;
}
.three .img2{
    height:3.46rem;
}
.three .img3{
    height:5.335rem;
}
.three .img4{
    height:6.42rem;
}
.three .img5{
    height:4.83rem;
}
.three .img6{
    height:6.58rem;
}
.three .img7{
    height:6.74rem;
}
.three .img8{
    height:6.96rem;
}  
.four,
.four img{
    height:8.16rem;
    margin-top:-0.02rem;
}
.five{
    height:14.80rem;
    position:relative;
    margin-top:-4px;
}
.five img{
    display:block;
}
.five .img9{
    height:6.89rem;
}
.five .img10{
    height:7.91rem;
}
.five .daibiao_wrap{
    position:absolute;
    top:0;
    left:0%;
    width:6.7rem;
    height:3.18rem;
    margin-top:0.74rem;
    margin-left: 0.42rem;
    border-radius:0.2rem;
    background-color:rgba(255,255,255,0.5);
    overflow:hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.five .daibiao_video{
    width:6.7rem;
    height:3.19rem;
}

/* luobo */
.wrapper{
    width:6.70rem;
    height:8.23rem;
    overflow:hidden;
    position:relative;
    margin-top:-8.27rem;
    margin-left:0.42rem;
    border-radius:0.2rem;
    background-color:rgba(0,0,0,0.5);
}
.wrapper ul{
    position:absolute;
    top:0px;
    left:0px;
    width:41.7rem;
}
.wrapper ul li{
    float:left;
    width:6.95rem;
    height:8.23rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper ul li img{
    width:100%;
    height:10.12rem;
}
.wrapper .btn{
    position:absolute;
    top:50%;
    margin-top:-0.2rem;
    width:0.46rem;
    height:0.46rem;
    background:#000;
    opacity:0.1;
    color:#fff;
    font-size:30px;
    line-height:0.46rem;
    text-align:center;
    cursor:pointer;
}
.wrapper .btn:hover{
    opacity:0.8;
}
.wrapper .leftBtn{
    left:0.1rem;
}
.wrapper .rightBtn{
    right:0.1rem;
}