body{background:#fff;}
.p_maidanglao{ margin:0 auto; position:relative; max-width:640px;}
.p_maidanglao .logo{ position:absolute; top:10px; left:10px; z-index:10;}
.p_maidanglao .logo a{ background:url(../../images/event/new_libao/logo.png) no-repeat; width:75px; height:18px; background-size:100%; display:inline-block;}
.p_maidanglao .color_yellow{ color:#f7ff00; font-size:14px;}
.p_maidanglao .color_red{ color:#ff4134;}
.p_maidanglao .top_bg{ background:url(../../images/event/mdl/top.jpg?v=201508261629) no-repeat; background-size:100%; padding-top:50%; position:relative; text-align:center; font-size:14px; color:#eb3f2d;}

.p_maidanglao .p_title{ text-align:center; color:#191919; padding-bottom:15px;}
.p_maidanglao .deal ,.p_maidanglao .danbao{ padding:0 15px;}
.p_maidanglao .deal .list{float:left; width:48%; background:#f6f6f6; border-radius:5px; margin-bottom:10px; padding-top:22%;  background-repeat:no-repeat;}
.p_maidanglao .deal .list:nth-child(even){float:right;}
.p_maidanglao .deal .list:nth-child(1){ background-image:url(../../images/event/mdl/deal_01.png);background-size:100%;}
.p_maidanglao .deal .list:nth-child(2){ background-image:url(../../images/event/mdl/deal_02.png);background-size:100%;}
.p_maidanglao .deal .list:nth-child(3){ background-image:url(../../images/event/mdl/deal_03.png);background-size:100%;}
.p_maidanglao .deal .list:nth-child(4){ background-image:url(../../images/event/mdl/deal_04.png);background-size:100%;}
.p_maidanglao .db_title{ background:url(../../images/event/mdl/db_tit.png) no-repeat center center; background-size:100%; padding-top:21%; margin-top:10px;}

.p_maidanglao .libao_list{ background:url(../../images/event/new_libao/list_bg.png?v=102) no-repeat #fff; background-size:100% 8px; padding-top:8px; padding-bottom:20px}

.p_maidanglao .danbao .list{float:left;width:50%;padding-top:28.5%;  background-repeat:no-repeat;}
.p_maidanglao .danbao .list:nth-child(1){ background-image:url(../../images/event/mdl/db_01.png);background-size:100%;}
.p_maidanglao .danbao .list:nth-child(2){ background-image:url(../../images/event/mdl/db_02.png);background-size:100%;}
.p_maidanglao .danbao .list:nth-child(3){ background-image:url(../../images/event/mdl/db_03.png);background-size:100%;}
.p_maidanglao .danbao .list:nth-child(4){ background-image:url(../../images/event/mdl/db_04.png);background-size:100%;}







