.p_discount_friend{ height: 255px;overflow:hidden;-webkit-overflow-scrolling: touch; position: relative;}
.p_discount_friend .box{background: #fff;}
.p_discount_friend .box .item{margin-left: 18px;border-bottom: 1px solid #d9d9d9; line-height: 20px; padding: 10px 10% 10px 5px; color: #909090; background: url(../../images/discount/arrow.png) no-repeat 97% center; background-size: 8px 13px;}
.p_discount_friend .box .item:last-child{border: none;}
.p_discount_friend .box .item h2{color: #333;font-size: 17px;}
.p_discount_friend .no_friend{ height: 30px; width: 100%; position: absolute; top: 50%; margin-top: 30px; background: url(../../images/discount/quesheng.png) no-repeat center top; background-size: 118px 116px; text-align: center; padding-top: 120px;} 
.confirm_pop{ z-index:3;width: 270px;height: 150px; position: fixed; top: 50%; left:50%; margin: -75px 0 0 -135px;background: #fff;border-radius: 5px; text-align: center;}
.confirm_pop h2{font-size: 18px;padding-top: 27px;}
.confirm_pop p{font-size: 15px;}
.confirm_pop .btn{font-size: 17px;height: 43px; border-top:1px solid #d9d9d9; position: relative; bottom: 0px; line-height: 43px;}
.confirm_pop .btn a{width: 50%;float: left;color:#0076ff;}
.confirm_pop .btn a:first-child{border-right:1px solid #d9d9d9;width: 49%;}
.confirm_pop_con{ height: 106px;}
.give_suc_icon{background: url(../../images/discount/Group.png) no-repeat center top; width: 53px; height: 53px; display: inline-block; background-size: 100%;margin-top: 15px; margin-bottom: 5px;}
.p_discount_friend .load_more {padding: 10px; text-align: center;border-top: 1px solid #d9d9d9;}