{include file="web/views/v3/header.html"}
<div class="p_account_forgetpwdmobile">

    <link href="<?php echo $this->asset->makeUrl('v3/css/oauth/resetpwdcompany.css');?>" rel="stylesheet" type="text/css">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="r-title">
                <h2 class="JS_set_psd_title">企业会员找回密码</h2>
            </div>
            <div class="pwd-mid">
                <div class="ui-form">
                  <img src="<?php echo $this->asset->makeUrl('v3/images/user/resetpwdcompany.png');?>" />
                  <div class="bottom_content2">
                    <p>设置成功</p>
                    <p>5s后将自动跳转至企业会员登录页</p>
                  </div>
                  <div class="bottom_content1">如有问题，请拨打客户服务热线：<span class="mobile_color">010-899200159</span>（ 工作时间：周一至周五9:30-18:30 ）, 客服专员将第一时间为您处理。</div>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
<script>
    (function($) {
        setTimeout(function() {
            window.location =  '/user/Login'
        },5000)
    })(jQuery);
</script>
{include file="web/views/v3/footer.html"}
