{include file="web/views/v3/header.html"}
<div class="p_account_forgetpwdmobile">

    <link href="<?php echo $this->asset->makeUrl('v3/js/temp/weebox.1.2.css');?>" rel="stylesheet" type="text/css">
    <link href="<?php echo $this->asset->makeUrl('v3/js/widget/validator/validator.v1.1.css');?>" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/oauth/forgetpwdcompany.js');?>"></script>
    <link href="<?php echo $this->asset->makeUrl('v3/css/p_account_forgetpwdmobile.css');?>" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/js/temp/weebox.css')?>">
    <link href="<?php echo $this->asset->makeUrl('v3/css/oauth/forgetpwdcompany.css');?>" rel="stylesheet" type="text/css">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="r-title">
                <h2 class="JS_set_psd_title">企业会员找回密码</h2>
            </div>
            <div class="pwd-mid">
                <div class="ui-form">
                    <form method="post" action="/enterprise/ForgetPwd" id="forgetpwdmobile_form" autocomplete="off">
                        <?php echo token_input(); ?>
                        <ul>
                            <li class="clearfix">
                                <label>用户名</label>
                                <div class="ipt-wrap">
                                    <input type="text" value="" data-url="/enterprise/checkUsername" placeholder="登录用户名" name="username" id="username" class="txt int_placeholder idno " data-placeholder="登录用户名" autocomplete="off">
                                </div>
                                <span class="msg-box n-right" for="username" id="code-err"></span>
                            </li>
                            <li class="clearfix">
                                <label> 图形验证码</label>
                                <input type="text" value="" data-url="/user/captchaCheck" placeholder="右侧数字" name="captcha" id="captcha" class="txt verify_input" autocomplete="off" maxlength="25">
                                <img align="absbottom" title="点击刷新" src="/verify.php?w=93&h=34&rb=0" id="img_captcha"  width="93" class="ml15 fl img_verify">
                                <span class="msg-box n-right" for="captcha" id="code-err"></span>
                            </li>
                        </ul>
                        <div class="btn-w30">
                            <input class="common-sprite btn-red-h46 btn-sub" id="submit_btn" type="submit" value="确定">
                        </div>
                        <div class="company_pwd JS_company_pwd"><a href="/user/ForgetPwd">个人会员找回密码</a></div>
                        <div class="bottom_content">如有问题，请拨打客户服务热线：<span class="mobile_color">010-899200159</span>（ 工作时间：周一至周五9:30-18:30 ）, 客服专员将第一时间为您处理。</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
{include file="web/views/v3/footer.html"}
