.agreement{-webkit-box-shadow:0px 1px 10px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 10px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 10px 2px rgba(52,52,52,0.1); height:590px; position:relative; z-index:111111111; overflow-y: auto; width:593px; background:#ffffff;} 
.agr_title{background:#f9f9f9; border:0px; height:46px;border-top:#feb804 3px solid; color:#2b2f33; font-family:"微软雅黑"; border-bottom:1px solid #e5e5e5;}
.agr_title h1{ font-size:24px; float:left; line-height:46px; padding:0px 20px;}
.agr_title p{ float:left; line-height:20px; padding-top:3px; font-size:13px;}
.agr_title p em{ color:#fe8004;}
.agr_con{ height:460px; padding:10px 30px; font-size:13px; color:#979797; line-height:24px; overflow-y:auto; position:relative;}
.agr_text{ height:421}
.agr_con p{ padding-bottom:30px;}
.agr_con h3{text-align:center; padding-top:30px;}
.agr_bottom{ height:60	px; background:#f3f3f3; text-align:center; line-height:60px;}
.agr_bottom a{ height:36px; width:84px; text-align:center; line-height:36px; font-size:16px; color:#fff; background:#ffb904; display:inline-block; border-radius:2px;}
