<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var appid = '{$appid}';
    var nonceStr = '{$nonceStr}';
    var timeStamp = '{$timeStamp}';
    var signature = '{$signature}';
    wx.config({
        appId:appid,
        timestamp:timeStamp,
        nonceStr:nonceStr,
        signature:signature,
        jsApiList:[
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow'
        ],
    });
    wx.ready(function(){
        wx.hideOptionMenu();
    });
</script>
