<!DOCTYPE html>
<html>
<head>
    <title>投资详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!--public js&css start-->
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-base.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-common.css', 1);?>" rel="stylesheet" type="text/css" />
    <!--public js&css end-->
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/invitation.css', 1);?>" rel="stylesheet" type="text/css">
    <!-- <link href="<?php echo$this->asset->makeUrl('v2/css/cash_coupon/invitation_pc.css', 1);?>" rel="stylesheet" type="text/css"> -->
    <!--[if lte IE 9]>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/html5shiv.js', 1);?>"></script>
    <![endif]-->    
    {if $uaInfo.from eq 'weixin' || $uaInfo.from eq 'mobile'}
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/zepto.js', 1);?>"></script>
    {else}
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/jquery-1.10.2.min.js', 1);?>"></script>
    {/if}
</head>
<body>
    <div class="i-top"><img src="../static/mobile/wap/v1/images/invitation/top.png" width="100%"></div>
    <div class="i-list clearfix">
    	<dl class="clearfix">
        	<dt>
            	<h3>f0003DA</h3>
                <h4>好友获0.25%，您可获1%</h4>
            </dt>
            <dd>
            	<a href="#">邀请</a>
            </dd>
        </dl>
    </div>
    <div class="i-text-tips">
    	<p>发送邀请码给好友，请他在投资时输入邀请码邀请码可反复使用；</p>
        <p>成功邀请投资，您和投资人将获得对应的返利；</p>
        <p>投资项目满标并成功放款，返利将在15个工作日内进
入双方本站账户中；</p>
        <p>您还可以通过邀请链接获得返利（两种方式只
记一次返利）</p>
        <p>新手标不参与此活动，每标投资获得一次机会；</p>
    </div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_tqq"></a>
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_renren"></a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
</div>
<script>
    var jiathis_config = {
        boldNum: 0,
        showClose: false,
        url: "http://" + location.host + "/?cn={$coupon}",
        summary: '摘要'
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</body>
</html>
