{if $sum eq 0} 
<div class="accept-instroution">暂无奖励，快去呼唤小伙伴吧！</div>
{else}
<div class="accept-instroution"> 我已累积获得奖励 <span class="red">{$sum}</span>元</div>
<ul class="accept-list clearfix">
    <!-- 循环 -->
    {foreach from=$bonusList item='bonus' key='key' }
    <li>
        <div class="list-left">{$bonus.refer_mobile_view}</div>
        <div class="list-mid">已完成绑卡</div>
        <div class="list-right"><span class="red">奖励{$bonus.money}元</span></div>
    </li>
    {/foreach}
    <!-- //循环 -->
</ul>
<div class="accept-see">登录www.firstp2p.com“我的红包”查看全部</div>
{/if}
