<!DOCTYPE html>
<html>

<head>
    <title>网信新手礼包</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!--public js&css start-->
    <!--public js&css end-->
    {if $uaInfo.from eq 'weixin' || $uaInfo.from eq 'mobile'}
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-base.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-common.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/register.css', 1);?>" rel="stylesheet" type="text/css">
    {else}
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-base_pc.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/m-common_pc.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v2/css/cash_coupon/register_pc.css', 1);?>" rel="stylesheet" type="text/css">
    {/if}
    <!--[if lte IE 9]>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/html5shiv.js', 1);?>"></script>
    <![endif]-->
    {if $uaInfo.from eq 'weixin' || $uaInfo.from eq 'mobile'}
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/zepto.js', 1);?>"></script>
    {else}
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/cash_coupon/common/jquery-1.10.2.min.js', 1);?>"></script>
    {/if}
    </head>

<body class="p-regsuc">
    <header class="m-head p-regsuc">
        <a href="" class="logo"></a>
        <div class="banner"></div>
    </header>
    <section class="m-main p-regsuc">
        <div class="ui-instrution">请登录网信官网使用！</div>
        <div class="ui-form">
            <div class="form-footer">
                <a href="{$downloadUrl}" class="a-btn">{$downloadDesc}</a>
                <a href="javascript:void(0)"  class="a-btn share-btn mar-t15">帮TA邀请</a>
            </div>
        </div>
        <div class="ui-loading">
            <img src="<?php echo $this->asset->makeUrl('v2/images/cash_coupon/common/list_loading.gif', 1);?>" />
        </div>
    </section>
    <footer class="m-foot p-regsuc">
        <span>网信 www.firstp2p.com</span>
    </footer>
{include file="web/views/hongbao/cash_coupon/jsapi_config.html"}
{include file="web/views/hongbao/cash_coupon/share.html"}
</body>

</html>
