{include file="web/views/fenzhan/header.html"}
<link href="<?php echo $this->asset->makeUrl('v1/css/edit-safetyPhone.css');?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/edit-safeyphone/edit-safetyphone.js');?>"></script>

<div class="w980 mauto clearfix">
    <section>
        <div class="shadow">
            <div class="mess_title tc">
                <i class="phone-tip"></i>修改安全手机</div>
            <div class="step3-img">
            </div>
            <div class="edit-step3 edit-step3-txt">
                <div class="edit-success  ">
                    <i class="edit-suc"></i><span class="font20">{$mobile}已经被设置成为您的安全手机</span>
                    <ul>
                        <li><i></i>交易提醒将被发送到此手机上</li>
                        <li><i></i>可以使用此手机号登录网信理财</li>
                    </ul>
                </div>
                <span class="font16">系统将在3秒后自动跳转，如果没有跳转，请点击 <a href="/account">这里</a> 跳转</span> <span class="blank80">
                    </span>
            </div>
        </div>
    </section>
</div>
<script>
    setTimeout('window.location.href = "/account"',3000);
</script>

<span class="blank80"></span>
{include file="web/views/fenzhan/footer.html"}