$fontFamily: 'PingFangSC';

// font color
$mainFontColor: #8f8e94; // 没用
$primaryColor: #fc7f0c; // 用在button
$primaryColorDisable: rgba(252, 127, 12, 0.3);
$primaryColorFocus: #fc7f0c;
$primary2Color: #fc7f0c; // 用在button
$primary2ColorFocus: #fc7f0c;
$primary2ColorDisable: rgba(119, 37, 8, 0.3);
$primary2WhiteColor: rgba(183, 88, 0, 1); // 用在button
$primary2WhiteColorFocus: rgba(183, 88, 0, 0.7);
$whiteColor: RGBA(255, 255, 255, 1); // 只在购物车数量用了(TODO 优化/去除)
$titleTextColor: #404245; // 只在Card页用了
$subtitleTextColor: #55595f; // 只在Card页用了
$descTextColor: #a2a6ad; // 只在CardV5用了
$formInputColor: #333; // 只在mixin用了
$formDescColor: #c3c3c3; // 没用

$h1Color: #000; // 大标题
$h2Color: #000; // 中标题
$h3Color: #000; // 小标题
$baseColor: #404040; // 基础文字颜色(条列式的链结名、底部导航的选项名、主要文字...)
$subbaseColor: #888; // 次要文字颜色(子标题、加总金额的细项、)
$smallColor: #000; // 边角文字颜色(一些小链结)
$markColor: #b75800; //醒目颜色（价格数字...）
$markColorNew: #ce3300; //新的醒目颜色（价格数字...）
$deleteColor: #fc7f0c; // 删除

// font size
$fontSize: 12px;
$mainFontSize: 17px;
$subFontSize: 14px;
$h1: 18px;
$h2: 16px;
$h3: 15px;
$h4: 14px;
$h5: 12px;
$h6: 10px;

// display
$inlineLayout: 'inline-block';
$block: 'block';
$flex: 'flex';

// background
$mainbgColor: #f2f3f4;
$cardbgColor: #fff;
$assetBgColor: #f2f3f4;
$lineColor: #eaebec;
