.mint-msgbox {
  border-radius: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
}
.mint-msgbox-title {
  color: #404245;
  font-weight: 500;
  font-family: PingFangSC-Regular;
}
.mint-msgbox-header {
  padding-top: 20px;
  background-color: #ffffff;
}
// .mint-msgbox-content {
//   padding: 10px 20px 15px;
//   border-bottom: 0.5px solid $lineColor;
//   min-height: 36px;
//   position: relative;
// }
.mint-msgbox-content {
  padding: 50px 20px 40px;
  border-bottom: 0.5px solid $lineColor;
  min-height: 36px;
  position: relative;
  background: #ffffff;
}
// .mint-msgbox-message {
//   color: #404245;
//   font-size: 14px;
//   line-height: 20px;
// }
.mint-msgbox-message {
  color: #666;
  font-size: 15px;
  line-height: 24px;
}
.mint-msgbox-btns {
  // height: 43px;
  // line-height: 43px;
  height: 50px;
  line-height: 50px;
}
.mint-msgbox-cancel {
  // font-size: 16px;
  // color: #404245;
  font-size: 17px;
  color: #666;
  border-right: 0.5px solid $lineColor;
}
.mint-msgbox-cancel:active {
  font-size: 16px;
  color: #787878;
}
.mint-msgbox-confirm {
  // font-size: 16px;
  // color: $primaryColor;
  font-size: 17px;
  color: #fff;
  background-color: $primaryColor;
}
.mint-msgbox-confirm:active {
  font-size: 16px;
  color: $primaryColor;
}
.mint-toast {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 5000;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.mint-indicator-wrapper {
  z-index: 1;
}
