.ui-box {padding-bottom:40px;}
a:hover{ text-decoration: none;}
.p_account_o2o_gift .ui_suc_title{padding-top: 45px; color: #1f1f1f; font-size: 24px;}
.p_account_o2o_gift .gift_list .list_title{font-size: 18px;color: #f95c3b; text-align: center; padding-bottom: 20px;}
.p_account_o2o_gift .gift_tab{border: 1px solid #e3e3e3;margin: 0 60px;}
.p_account_o2o_gift .gift_tab .gift_thead{height: 49px; line-height: 49px; border-bottom: 1px solid #e3e3e3;background-color: #fcfcfc;color: #a7a7a7; font-size: 14px;}
.p_account_o2o_gift .gift_tab .gift_thead li{display: inline-block;}
.p_account_o2o_gift .gift_tab .gift_thead .gift_name{padding-left:130px; width: 410px;}
.p_account_o2o_gift .gift_tab .gift_thead .gift_money{width: 130px; text-align: center;padding-right: 133px;}
.p_account_o2o_gift .gift_tab .gift_thead .gift_operation{width: 145px; text-align: center;}
.p_account_o2o_gift .gift_tbody{margin: 0 20px;}
.p_account_o2o_gift .gift_tbody li{display: inline-block; height: 95px; padding-top: 15px; vertical-align: middle; line-height: 78px;}
.p_account_o2o_gift .gift_tbody .one{width: 490px;padding-left: 30px;}
.p_account_o2o_gift .gift_tbody .two{width: 130px; text-align: center;padding-right: 133px;}
.p_account_o2o_gift .gift_tbody .three{width: 145px; text-align: center;}
.p_account_o2o_gift .gift_tbody .gift_product{ font-size: 14px; }
.p_account_o2o_gift .gray_bg{background-color: #f9f9f9;}
.p_account_o2o_gift .gift_tbody .gift_product dl dt{border: 1px solid #d0d0d0; width: 78px; height: 78px; display: inline-block; vertical-align: middle;}
.p_account_o2o_gift .gift_tbody .gift_product dl dt img {width: 78px; height: 78px;}
.p_account_o2o_gift .gift_tbody .gift_product dl dd{display: inline-block;height: 78px; line-height: 78px; vertical-align: middle; padding-left: 20px; width: 345px;}
.p_account_o2o_gift .gift_tbody .gift_product dl dd .v_middle{ vertical-align: middle; line-height: 25px;display: inline-block;}
.p_account_o2o_gift .gift_tbody .operation_btn{width: 78px; height: 28px; border-bottom: 2px solid #d43716; border-radius: 5px;background-color: #f85939; display: inline-block;line-height: 28px; text-align: center; color: #fff;}
.p_account_o2o_gift .deal_detail{padding:35px 90px; font-size: 14px; color: #333;}
.p_account_o2o_gift .deal_con{border: 1px solid #dfdfdf;padding: 15px 22px; margin: 25px 0px;}
.p_account_o2o_gift .deal_con .circle{width: 6px; height: 6px; border-radius: 50%; background-color: #797778; display: inline-block; margin-right: 10px; vertical-align: 2px;}
.p_account_o2o_gift .no_coupon{width: 512px;height: 140px;background: #fffef6; margin: 0 auto; border: 1px solid #dedede; text-align: center; line-height: 140px; font-size: 18px; color: #656565;}
.p_account_o2o_gift .no_coupon .no_coupon_icon{ background-image: url(../images/o2o/no_coupon.png); width: 64px; height: 64px; display: inline-block; vertical-align:middle; margin-right: 30px; }

/*网信礼券*/
.account_o2o_coupon{color: #4f4f4f;}
.account_o2o_coupon .gray_bg{background-color: #f9f9f9;}
.account_o2o_coupon .ling_coupon{margin: 20px 30px;}
.account_o2o_coupon .ling_coupon table{ width: 100%; text-align: center;margin-bottom:36px;}
.account_o2o_coupon .ling_coupon table thead th{border-bottom: 1px solid #e5e5e5; height: 50px; color: #999;}
.account_o2o_coupon .ling_coupon table tbody td{ padding-top: 15px;padding-bottom: 15px;}
.account_o2o_coupon .ling_coupon .see_btn{width: 66px; height: 28px; border-bottom: 2px solid #d43716; border-radius: 5px;background-color: #f85939; display: inline-block;line-height: 28px; text-align: center; color: #fff;}
.account_o2o_coupon .ling_coupon .disabled_btn{width: 66px; height: 28px; border-bottom: 2px solid #b1b1b1; border-radius: 5px;background-color: #d2d2d2; display: inline-block;line-height: 28px; text-align: center; color: #fff;}
.account_o2o_coupon .pages {text-align: center;}
.account_o2o_coupon .ling_coupon .pro_img img{border: 1px solid #d0d0d0; margin-left: 30px;width:80px;height:80px;}
.account_o2o_coupon .no_list{ height: 250px; text-align: center; line-height: 250px; font-size: 16px; color: #a7a7a7;}

/*网信礼券-详情*/
.p_account_o2o_coupon_datail{ color: #333; font-size: 14px;}
.p_account_o2o_coupon_datail .detail{height: 142px;padding: 40px 30px; text-align: center;}
.p_account_o2o_coupon_datail .detail dl{display: inline-block;}
.p_account_o2o_coupon_datail .detail dl dt,.p_account_o2o_coupon_datail .detail dl dd{display: inline-block; vertical-align: middle; height: 142px;}
.p_account_o2o_coupon_datail .detail dl dt img {width:142px;height:142px;}
.p_account_o2o_coupon_datail .detail dl dd{line-height: 140px; background-color: #fffef6; border: 1px solid #dedede; border-left: none; margin-left: -5px;height: 140px;padding: 0 30px; max-width: 600px;}
.p_account_o2o_coupon_datail .v_middle{display: inline-block;vertical-align: middle; line-height: 20px;text-align: left;}
.p_account_o2o_coupon_datail .detail dl dd{ position: relative;}
.p_account_o2o_coupon_datail .detail dl dd h2{ font-size: 24px; line-height: 30px;overflow: hidden;}
.p_account_o2o_coupon_datail .detail dl dd p{padding-top: 10px;}
.p_account_o2o_coupon_datail .detail_con{ padding: 0px 30px 40px; min-height:200px; }
.p_account_o2o_coupon_datail .detail_con .title{font-size: 18px; padding-bottom: 12px; border-bottom: 1px solid #dedede;}
.p_account_o2o_coupon_datail .detail_con .title .circle{ width: 5px; height: 5px; background-color: #f85c3c; display: inline-block; vertical-align: 2px; margin-right: 10px;} 
.p_account_o2o_coupon_datail .detail_con .con_text{padding:30px 20px; line-height: 36px;}
.p_account_o2o_coupon_datail .icon_wsy,.p_account_o2o_coupon_datail .icon_ysy,.p_account_o2o_coupon_datail .icon_ygq{ width: 109px; height: 142px; display: inline-block; margin-left: 30px; background-position: 0 center; vertical-align: middle; background-repeat: no-repeat;}
.p_account_o2o_coupon_datail .icon_wsy{ background-image: url(../images/o2o/icon_wsy.png);}
.p_account_o2o_coupon_datail .icon_ysy{ background-image: url(../images/o2o/icon_ysy.png);}
.p_account_o2o_coupon_datail .icon_ygq{ background-image: url(../images/o2o/icon_ygq.png);}
.o2o_pc_btn_red_h38,.o2o_pc_btn_red_h38:hover,.o2o_pc_btn_red_h38:active,.o2o_pc_btn_red_h38 .right,.o2o_pc_btn_gray_h38,.o2o_pc_btn_gray_h38 .right,.o2o_pc_btn_gray_h46,.o2o_pc_btn_gray_h46 .right{ background-image: url(../images/o2o/btn.png);background-repeat: no-repeat; display: inline-block; font-size: 16px; border: none;}
.o2o_pc_btn_red_h38{ padding-left: 24px;background-position:left -1px;height: 38px; line-height: 38px; text-align: center;}
.o2o_pc_btn_red_h38 .right{padding-right: 24px; background-position:right -1px; color: #fff;height: 38px; line-height: 38px; text-align: center;}
.o2o_pc_btn_red_h38:hover{background-position:left -49px;}
.o2o_pc_btn_red_h38:hover .right{background-position:right -49px;}
.o2o_pc_btn_red_h38:active{background-position:left -97px;}
.o2o_pc_btn_red_h38:active .right{background-position:right -97px;}
.o2o_pc_btn_gray_h38{ padding-left: 20px;background-position:left -144px;height: 38px; line-height: 38px; text-align: center;}
.o2o_pc_btn_gray_h38 .right{padding-right: 20px; background-position:right -144px; color: #666;height: 38px; line-height: 38px; text-align: center;}
.o2o_pc_btn_gray_h46{ padding-left: 20px;background-position:left -192px;height: 46px; line-height: 46px; text-align: center;}
.o2o_pc_btn_gray_h46 .right{padding-right: 20px; background-position:right -192px; color: #666;height: 46px; line-height: 46px; text-align: center; font-size: 18px;}

.o2o_ui_input{width: 258px; height: 34px; border: 1px solid #bababa;padding: 0 15px; font-size: 14px;}
.o2o_ui_textarea{width: 368px; height: 74px; border: 1px solid #bababa;padding:10px 15px; font-size: 14px;line-height: 24px; resize:none;}


.p_account_o2o_coupon_datail .coupon_form{ padding-left: 258px; padding-top: 30px;}
.p_account_o2o_coupon_datail .coupon_form dl{padding-bottom: 25px;}
.p_account_o2o_coupon_datail .coupon_form dl dt,.p_account_o2o_coupon_datail .coupon_form dl dd{display: inline-block; vertical-align: top;}
.p_account_o2o_coupon_datail .coupon_form dl dt{width: 100px; text-align: right;padding-right: 10px;}
.p_account_o2o_coupon_datail .coupon_form dl dt span{width: 12px;display: inline-block; vertical-align:middle;}
.p_account_o2o_coupon_datail .coupon_form .error_tip{color: #e71f19; display: inline-block; vertical-align: top; padding-left: 10px;}
.JS_ful_box .dialog-content .fal_box{ line-height: 65px; text-align: center;font-size: 16px; color: #656565;}
.p_account_o2o_coupon_datail .tel_big_box{ width: 232px;height: 60px; border: 1px solid #bababa;padding: 0 15px;font-size: 22px; line-height: 60px; display: none;}
/**/

.p_account_o2o_coupon_suc{font-size: 14px;}
.p_account_o2o_coupon_suc .ui_suc_title{padding-top: 58px; color: #1f1f1f;}
.p_account_o2o_coupon_suc .coupon_code{ width: 214px; height: 214px; margin: 0px auto 30px; border: 1px solid #e3e3e3;padding: 17px;}
.p_account_o2o_coupon_suc .coupon_num{ background-color: #f8f8f8; margin: 0 30px 20px;padding: 35px 0px 35px 395px; line-height: 30px;}
.p_account_o2o_coupon_suc .detail_con{ padding: 40px 30px; min-height:200px; }
.p_account_o2o_coupon_suc .detail_con .title{font-size: 18px; padding-bottom: 12px; border-bottom: 1px solid #dedede;}
.p_account_o2o_coupon_suc .detail_con .title .circle{ width: 5px; height: 5px; background-color: #f85c3c; display: inline-block; vertical-align: 2px; margin-right: 10px;} 
.p_account_o2o_coupon_suc .detail_con .con_text{padding:30px 20px; line-height: 36px}

.mr50{ margin-right: 50px;}
.o2o_w66{ width: 66px;}
.o2o_w95{ width: 95px;}
.o2o_w217{ width: 217px;}
.o2o_w232{ width: 232px;}
.o2o_line_through{text-decoration: line-through;}
.pb40{padding-bottom: 40px;}



/*领取失败*/
.ui_fail_icon { background-position: 0 -0px; }
.fail_details{font-size: 16px; text-align: center; padding: 30px 0 30px 0; margin: 10px auto;}
.fail_i_mr19{margin-right:19px;}
.fail_a_mr26{margin-right:26px;}
.ui_fail_back{font-size: 14px;}
.o2o_pc_btn_red_h38,.o2o_pc_btn_red_h38:hover,.o2o_pc_btn_red_h38:active,.o2o_pc_btn_red_h38 .right,.o2o_pc_btn_gray_h38,.o2o_pc_btn_gray_h38 .right,.o2o_pc_btn_gray_h46,.o2o_pc_btn_gray_h46 .right{ font-size: 14px;}
.fail_text{font-size: 22px;}
.o2o_pc_btn_red_h38 .fail_backbefore{padding-left: 12px; padding-right:29px;}

.o2o_pc_btn_gray_h46 {background:none;border-radius:5px;border:1px solid #FA7358;}
.o2o_pc_btn_gray_h46 .right {background:none;font-size:18px;color:#FA7358;}

.ui_suc_title {text-align: center;padding:0px 0 30px;}


/*兼容红包页面修改样式*/
.hong-ok {padding:0px 0px;}
.one, .two, .three {background:none;}
.p_account_o2o_gift h2 {padding:0;font-size:100%;text-align: left;}
.hong-ok > h2 {margin-bottom:-66px;}
.hong-ok > h3 , .hong-ok .hong-item{margin:20px 60px;}
.color_gray {
    color: #b0afaf;
}
.p_account_o2o_gift .ui_suc_title {position:relative;height:36px;}
.p_account_o2o_gift .ui_suc_title .fr {position: absolute;right:0px;}

#picklist_coupon  td , #picklist_coupon  th , #picklist_coupon  th .tl{text-align:center;}
#picklist_coupon  th .tl {padding-left:0;}
.o2o_pc_btn_gray_h38 {border-radius: 5px;border:1px solid #fa795d;background: none;}
.o2o_pc_btn_gray_h38 .right {background: none;color:#fa795d;}

/*修改礼券领取字的颜色*/
.p_account_o2o_gift .ui-box .gift_receive_color{color:#707171;}
.p_account_o2o_gift .gift_list .gift_receive_color{color:#707171;}

/*修改礼券话费券说明折行对齐*/
.account_o2o_coupon #picklist_coupon .td_align_left0{padding-left:40px;text-align: left; }
.account_o2o_coupon #picklist_coupon .td_align_left1{padding-left:30px;text-align: left; }
.account_o2o_coupon table .th_resources_tc{text-align: center;}

