@charset "utf-8";

/**
* Description: common style 
**/

/*public style*/
body { min-height: 898px; font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333; background-color: #f6f7f8; background-image: none; color: #474646; min-width: 1100px; background-image: url(../images/common/top_bg.png); background-repeat: repeat-x; }
div { -moz-user-select: none; }
a { color: #4f4e4e; text-decoration: none; outline: none; -moz-user-select: none; }
a:hover { text-decoration: underline; }
.none1 { display: none; }
.none { display: none !important; }
.border_none { border: none !important; }
.wrap { width: 1100px; margin: 0px auto; }
.w147 { width: 147px; }
.w173 { width: 173px; }
.w137 { width: 137px; }
.w144 { width: 144px; }
.w1100 { width: 1100px; margin: 0px auto; }

/*HTML5 常用标签*/
header, section, footer, aside, article, figure, menu { display: block; margin: 0px; padding: 0px; }
.main { width: 1100px; margin: 0 auto; }
.box { background-color: #fff; border: 1px solid #e0dede; }

.m_header{ height:125px;border-bottom:1px solid #dddddd;}
.icon_notice,.icon_arrow,.logo,.new_more,footer .logo,.f_right .code,.icon_iphone,.icon_andriod,.ac_icon,.m_lbg,.m_rbg,.m_header .drop_t,.m_header .drop_b,.m_header .top .public .text{ background-image:url(../images/common/icon_bg.png?v=20150624); background-repeat:no-repeat; display:inline-block;}
.icon_notice{ width:14px; height:17px; background-position:0px 0px; vertical-align:middle;}
.icon_arrow{ width:7px; height:6px; background-position:-18px 0px;vertical-align:middle; margin-left:7px;}
.icon_line{ width:3px; height:18px; background:#f3491f; border:1px solid #e43b19; display:inline-block; vertical-align:middle; margin-top:-4px;}

.m_header .top{ height:35px; background:#fafafa; border-bottom:1px solid #e6e6e6; line-height:35px; font-size:13px;}
.m_header .top .public{ width: 700px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m_header .top .public .text{background-position: -861px -25px;height: 33px;vertical-align: middle; padding-left:26px; color:#cf1329; line-height:30px;width: 670px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m_header .top .nav li{ float:left; padding-left:20px;position:relative; z-index:11;}
.m_header .top .nav li .message_num{color:#fff; font-size:12px; position: relative; background-position: right -1px; height:16px; top:-2px;}
.m_header .top .w1100{position: relative;}
.m_header .top .nav{position: absolute; float: none; display: block; right: 0; top: 0;}

/* 2015/10/23 下午5:35:21 zhangtianxiang修改 begin */
.ztx_liIner46782_box { padding-right: 7px; border-left: 1px solid #fafafa; border-right: 1px solid #fafafa; position: relative; }
.ztx_liIner46782_box:hover { border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; background-color: #fff; }
.ztx_liIner46782_box.disabled:hover { border-color: #fafafa; background-color: transparent; }
.ztx_liIner46782_box:hover .inner { border-bottom: 1px solid #FFFFFF; }
.ztx_liIner46782_box.disabled:hover .inner { border-bottom: none; }
.ztx_liIner46782_box:hover .cont { display: block; }
.ztx_liIner46782_box .inner { height: 35px; line-height: 35px; padding-left: 8px; position: relative; z-index: 10; }
.ztx_liIner46782_box.act .inner { padding-right: 21px; background: url(../images/common/liInnerBg.png) right -35px no-repeat; }
.ztx_liIner46782_box.act:hover .inner { background-position: right 0px; }
.ztx_liIner46782_box .cont { position: absolute; top: 36px; left: -1px; display: none; background-color: #fff; border: 1px solid #e6e6e6; border-top: none; z-index: 9; font-size: 14px; }
.ztx_liIner46782_box.act .cont { min-width: 152px; padding: 0px 15px 0px 15px; }
.ztx_liIner46782_box.act .dataPanel { display: none; padding-bottom: 41px; }
.ztx_liIner46782_box.act .errorPanel { height: 70px; line-height: 70px; font-size: 13px; text-align: center; }
.ztx_liIner46782_box.act .errorPanel.loading { background: url(../images/common/loading.gif) #fff center no-repeat; }
.ztx_liIner46782_box.act .errorPanel a { color: #0088cc; text-decoration: none; }
.ztx_liIner46782_box.act .errorPanel a:hover { text-decoration: underline; }
.ztx_liIner46782_box.act .cont label { cursor: text; }
.ztx_liIner46782_act div.ye46782 { color: #4f4e4e; line-height: 26px; padding-top: 5px; white-space: nowrap; }
.ztx_liIner46782_act div.ye46782 span { color: #f75938; }
.ztx_liIner46782_act div.hb { color: #999999; line-height: 26px; white-space: nowrap; }
.ztx_liIner46782_act .bntBox { font-size: 0px; padding: 13px 0px 13px 0px; }
.ztx_liIner46782_act .bntBox a { display: inline-block; width: 66px; height: 30px; vertical-align: top; color: #fff; font-size: 14px; background-image: url(../images/user/btn_bg.png); background-repeat: no-repeat; text-align: center; line-height: 28px; }
.ztx_liIner46782_act .bntBox a:hover { text-decoration: none; }
.ztx_liIner46782_act .bntBox a.cz { background-position: -3px -3px; }
.ztx_liIner46782_act .bntBox a.cz:hover { background-position: -76px -3px; }
.ztx_liIner46782_act .bntBox a.tx { background-position: -3px -38px; margin-left: 20px; }
.ztx_liIner46782_act .bntBox a.tx:hover { background-position: -76px -38px; }
.ztx_liIner46782_ul { padding-bottom: 12px; }
.ztx_liIner46782_ul li { color: #4f4e4e; line-height: 26px; padding-left: 0px !important; float: none !important; white-space: nowrap; }
.ztx_liIner46782_ul+.accountABox { height: 40px; width: 100%; line-height: 40px; border-top: 1px solid #e6e6e6; text-align: right; background-color: #fafafa; position: absolute; left: 0px; bottom: 0px; }
.ztx_liIner46782_ul+.accountABox .accountA { padding-right: 8px; color: #0088cc; padding-right: 15px; }
.ztx_liIner46782_box.msg .inner { padding-right: 4px; }
.ztx_liIner46782_box.msg .cont { min-width: 87px; padding: 9px 15px; }
.ztx_liIner46782_msg a { line-height: 26px; display: block; white-space: nowrap; text-align: center; }
.ztx_liIner46782_msg a b { font-weight: normal; margin-right: 9px; }
.ztx_liIner46782_msg a:hover { color: #da3715; text-decoration: none !important; }
.ztx_liIner46782_NavA:hover { color: #da3715; text-decoration: none !important; }
/* 2015/10/23 下午5:35:21 ztx 修改 end */
.m_header .top .nav li .message_num .m_lbg { height: 16px; background-position: -816px -1px; width: 8px; vertical-align: middle; }
.m_header .top .nav li .message_num .m_rbg { height: 16px; background-position: right -1px; padding-right: 8px; line-height: 15px; vertical-align: middle; }
.m_header .top .nav li .message_num:hover { text-decoration: none; }
.m_header .top .nav li .message_drop { position: absolute; left: -38px; top: 25px; display: none; }
.m_header .top .nav li .message_drop ul { padding: 0px 0 0; background: url(../images/common/drop_mid.png) repeat-y 4px 0; }
.m_header .top .nav li .message_drop ul li { width: 108px; font-size: 16px; text-align: center; padding: 0px 15px; font-size: 14px; }
.m_header .top .nav li.select .message_drop { display: block; }
.m_header .top .nav li .j_showMenu2 { }
.m_header .logo { width: 200px; height: 47px; background-position: 0px -27px; margin: 20px 0px 22px; display: block; float: left; }
.m_header nav { float: right; padding-top: 30px; height: 60px; }
.m_header nav li { float: left; padding-left: 35px; font-size: 16px; }
.m_header nav li a { color: #232627; padding: 0px 9px 10px; }
.m_header nav li a:hover { text-decoration: none; color: #da3715; }
.m_header nav li.select a { color: #da3715; border-bottom: 3px solid #f8694c; }
.m_header .my_account { float: right; width: 138px; height: 30px; margin-top: 23px; margin-left: 40px; font-size: 16px; position: relative; z-index: 10; right: -9px; }
.m_header .my_account a { display: block; }
.m_header .my_account a:hover { text-decoration: none; }
.m_header .select a { text-decoration: none; color: #da3715; }
.m_header .ac_icon { background-position: -148px 0px; width: 17px; height: 23px; margin-right: 8px; vertical-align: middle; margin-left: 17px; }
.m_header .ac_icon:hover { text-decoration: none; }
.m_header .select .drop_t, .m_header .select .drop_b, .message_drop .drop_t { background-image: url(../images/common/drop_down.png); background-repeat: no-repeat; }
.m_header .drop_t { height: 8px; width: 145px; background-position: -656px 4px; float: left; font-size: 0px; line-height: 0px; }
.m_header .drop_b { background-position: left bottom; background-position: -656px -4px; width: 138px; }
.m_header .my_account .drop_b a { height: 28px; }
.m_header .my_account .drop_b ul a { height: auto; }
.m_header .select .drop_t, .message_drop .drop_t { background-position: 0 0; }
.m_header .select .drop_b { background-position: left bottom; }
.message_drop .drop_b { padding-bottom: 10px; background: url(../images/common/drop_down_msg.png) left bottom no-repeat; }
.m_header .select ul a { }
.my_account ul { text-align: center; padding: 0px 15px 10px; display: none; }
.my_account ul li a, .m_header .top .nav li .message_drop a { height: 31px; line-height: 31px; display: block; }
.m_header .select ul { display: block; }
.m_header .select ul a, .m_header .top .nav li .message_drop a { color: #333333; }
.m_header .select ul a:hover, .m_header .top .nav li .message_drop ul li a:hover { background: #f96648; color: #fff; text-decoration: none; }
.m_header .select .icon_arrow { background-position: -18px -13px; }

/*面包屑导航*/
.crumbs { font-size: 16px; color: #767677; padding-top: 25px; height: 50px; }
.crumbs a { color: #818385; margin-right: 15px; }
.crumbs span { color: #090909; margin-left: 17px; }
.crumbs i { background: url(../images/common/icon31.png) no-repeat; display: inline-block; height: 15px; width: 12px; vertical-align: middle; position: relative; top: -1px; vertical-align: -2px; }

/*按钮*/
.btn_yuyue, .btn_touzi, .btn_manbiao { width: 106px; height: 38px; display: inline-block; line-height: 36px; text-align: center; color: #fff; font-size: 16px; border-radius: 5px; margin-right: 40px; background-image: url(../images/common/icon_bg.png?v=20150624); background-repeat: no-repeat; }
.btn_yuyue { background-position: -322px -52px; }
.btn_yuyue:hover { background-position: -435px -52px; text-decoration: none; }
.btn_yuyue:active { background-position: -548px -52px; }
.btn_touzi { background-position: -322px -1px; }
.btn_touzi:hover { background-position: -435px -1px; text-decoration: none; }
.btn_touzi:active { background-position: -548px -1px; }
.btn_manbiao { background-position: -322px -98px; }
.common-sprite { display: inline-block; background-image: url(../images/common/btn_icon.png); background-repeat: no-repeat }
.btn-red-h46, .btn-red-h46:hover, .btn-red-h46:active { width: 248px; height: 46px; line-height: 46px; }
.btn-red-h46 { background-color: #fff; color: #FFF; font-size: 18px; text-align: center; border: none; background-position: 0 -63px; }
.btn-red-h46:hover { background-position: 0 -118px; }
.btn-red-h46:active { background-position: 0 -173px; }
.btn-red-h46-w129, .btn-red-h46-w129:hover, .btn-red-h46-w129:active, .btn-gray-h46-w129, .btn-gray-h46-w129:hover, .btn-gray-h46-w129:active { width: 129px; height: 46px; line-height: 46px; background-image: url(../images/common/btn_icon_2.png); }
.btn-red-h46-w129, .btn-gray-h46-w129 { background-color: #fff; font-size: 18px; text-align: center; border: none; display: inline-block; }
.btn-red-h46-w129 { background-position: -407px 0; color: #FFF; }
.btn-gray-h46-w129 { background-position: 0 0; color: #333; }
.btn-gray-h46-w129:hover { background-position: -137px 0; }
.btn-gray-h46-w129:active { background-position: -272px  0; }
.btn-red-h46-w129:hover { background-position: -543px 0; }
.btn-red-h46-w129:active { background-position: -678px 0; }

/*checkbox*/
.ui-checkbox .check-normal { background-position: 0 -250px; }
.ui-checkbox .check-normal:hover { background-position: -30px -250px; }
.ui-checkbox .check-select { background-position: -59px -250px; }
.ui-checkbox .check-select:hover { background-position: -88px -250px; }
.ui-checkbox .check-disable { background-position: -116px -250px; cursor: text; }
.ui-checkbox .check-normal, .ui-checkbox .check-select, .ui-checkbox .check-disable { width: 15px; height: 15px; }

/*标类型icon*/
.icon_WTDX, .icon_TZD, .icon_CYD, .icon_GYD, .icon_KZD, .icon_YRD, .icon_YLD, .icon_ZSZD, .icon_SJBD, .icon_XSD, .icon_DDD, .icon_YSD, .icon_CRD, .icon_ZRD, .icon_GRD, .icon_QYD, .icon_FD, .icon_CD, .icon_QTD, .icon_XFD, .icon_DQD, .icon_JJD ,.icon_XFDD { background-image: url(../images/common/type_icon.png?v=20151203); background-repeat: no-repeat; display: inline-block; height: 21px; vertical-align: middle; margin-right: 3px; width: 54px; position: relative; top: 2px; }
.icon_TZD { background-position: -2px -7px; }

/*通知贷*/
.icon_CYD { background-position: -2px -36px; }

/*村银贷*/
.icon_GYD { background-position: -2px -66px; }

/*公益贷*/
.icon_KZD { background-position: -2px -96px; }

/*可转贷*/
.icon_YRD { background-position: -2px -126px; }

/*融艺贷*/
.icon_YLD { background-position: -2px -156px; }

/*医疗贷*/
.icon_ZSZD { background-position: -2px -187px; }

/*租上租贷*/
.icon_SJBD { background-position: -2px -216px; width: 69px; }

/*设计宝贷*/
.icon_XSD { background-position: -2px -246px; width: 69px; }

/*新手*/
.icon_DDD { background-position: -2px -276px; }

/*典当贷*/
.icon_YSD { background-position: -2px -306px; }

/*应收*/
.icon_CRD { background-position: -2px -336px; }

/*产融*/
.icon_ZRD { background-position: -2px -366px; width: 69px; }

/*转让*/
.icon_GRD { background-position: -2px -396px; }

/*个人*/
.icon_QYD { background-position: -2px -426px; }

/*企业*/
.icon_FD { background-position: -2px -456px; width: 36px; }

/*房贷*/
.icon_CD { background-position: -2px -486px; width: 36px; }

/*车贷*/
.icon_QTD { background-position: -2px -516px; width: 69px; }

/*其他*/
.icon_XFD { background-position: -2px -546px; width: 69px; }


/*消费*/
.icon_DQD { background-position: -2px -576px; width: 69px; }

/*短期*/
.icon_JJD { background-position: -2px -606px; width: 36px; }

/*契约基金*/
.icon_WTDX { background-position: -2px -635px; width: 36px; }

/*消费贷*/
.icon_XFDD { background-position: -2px -666px; width: 54px; }

/*定向委托*/

/*p2p理财list*/
.ui_product_tab .product_type { height: 50px; line-height: 50px; border-bottom: 1px solid #e0dede; background: #fcfcfc; position: relative; overflow: hidden; }
.ui_product_tab .product_type .title { width: 104px; padding-left: 20px; font-size: 18px; line-height: 20px; margin: 15px 0; }
.ui_product_tab .fg_line { border-left: 1px dotted #d0d0d0; height: 23px; margin-top: 14px; width: 1px; float: left; }
.ui_product_tab .product_type .nav { float: left; width: 952px; overflow: hidden; height: 52px; padding-left: 20px; }
.ui_product_tab .product_type .nav li { float: left; text-align: center; font-size: 14px; color: #4b4a4a; height: 50px; outline: none; width: 105px; }
.ui_product_tab .product_type .nav li a { padding: 0 0px; -webkit-transition: color 0.3s linear; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; -ms-transition: color 0.3s ease; transition: color 0.3s ease; height: 50px; display: block; color: #4a4a4a; overflow: hidden; }
.ui_product_tab .product_type .nav li em { font-size: 12px; color: #cf8b8b; margin-left: 5px; }
.ui_product_tab .product_type .nav li.active { }
.ui_product_tab .product_type .nav li a:hover { text-decoration: none; color: #f3491f; }
.ui_product_tab .product_type .nav li.active a { border-bottom: 3px solid #f75939; height: 47px; display: inline-block; color: #f75939; }
.ui_product_tab .product_type .nav li.active em, .ui_product_tab .product_type .nav li a:hover em { color: #f75939; font-weight: normal; }
.ui_product_tab .tabbd { min-height: 150px; _height: 150px; }
.ui_product_tab .tab_loading { height: 100px; background: url(../images/common/loading.gif) no-repeat center center; }
.ui_product_tab .con { border-top: 0; margin-top: -1px; }
.ui_product_tab .con h3 a { vertical-align: middle; }
.ui_product_tab .con h3 .deal_type { width: 20px; height: 20px; display: inline-block; color: #fff; font-family: "宋体"; background: #87b2bf; border-radius: 2px; line-height: 20px; text-align: center; font-weight: normal; font-size: 14px; margin-right: 5px; vertical-align: middle; border-bottom: 1px solid #6f8c99; }
.ui_product_tab .con h3 .deal_tips { font-size: 12px; color: #fff; font-weight: normal; height: 21px; line-height: 21px; padding: 0px 5px; display: inline-block; border-radius: 2px; margin-left: 5px; vertical-align: middle; }
.ui_product_tab .bg_green { background: #81cb3f; border-bottom: 1px solid #6eb63d; }
.ui_product_tab .bg_blue { background: #57b5eb; border-bottom: 1px solid #349ad4; }
.ui_product_tab .con_l em, .ui_product_tab .con_l i { font-weight: bold; color: #f75938; }
.ui_product_tab .progress { width: 101px; display: inline-block; height: 7px; line-height: 0; font-size: 0px; position: relative; top: -1px; }
.ui_product_tab .progress .ico_bace { width: 99px; height: 5px; background: #ffffff; display: inline-block; position: relative; top: 0px; border: 1px solid #bcbcbc; z-index: 9; }
.ui_product_tab .progress .ico_yitou { background: #fe836a; height: 7px; line-height: 0; font-size: 0px; display: inline-block; position: absolute; top: 0px; z-index: 10; left: 0px; }
.ui_product_tab .p2p_product { padding-top: 6px; background: url(../images/common/bg_line.png) repeat-x; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
.ui_product_tab .p2p_product:first-child { border-top: none; }
.ui_product_tab .p2p_product .bg_whtie { background: #fff; height: 146px; }
.ui_product_tab .con_l h3 { padding-top: 21px; padding-bottom: 13px; position: relative; }
.ui_product_tab .con_l h3 a:hover { color: #eb421c; }
.ui_product_tab .p2p_product .con_l { width: 890px; float: left; padding-left: 42px; font-size: 14px; }
.ui_product_tab .con_l span { color: #999; }
.ui_product_tab .con_l span.deal_tag_name { color: #4f4e4e; vertical-align: middle; }
.ui_product_tab .p2p_product .con_l p { height: 35px; line-height: 35px; }
.ui_product_tab .p2p_product .product_btn { width: 147px; float: right; padding-top: 60px; }
.ui_product_tab .deal_more { height: 44px; text-align: center; display: block; line-height: 44px; font-size: 14px; border-top: 1px solid #e0dede; }
.ui_product_tab .deal_more a { color: #4f4e4e; }

/*基金理财list*/
.ui_fund .con h3 { padding-top: 20px; }
.ui_fund .p2p_product { height: 120px; }
.ui_fund .p2p_product .bg_whtie { height: 120px; }
.ui_fund .con_l h3 { padding-top: 25px; padding-bottom: 15px; }
.ui_fund .p2p_product .product_btn { padding-top: 40px; }

/*底部css*/
.m_footer { background: url(../images/common/footer_bg.jpg) no-repeat center top; height: 250px; padding-top: 46px; color: #999; font-size: 14px; }
.m_footer .f_left { width: 330px; float: left; height: 180px; }
.m_footer .logo { width: 198px; height: 46px; background-position: 0px -87px; display: block; }
.m_footer .f_center { float: 600px; float: left; height: 180px; }
.m_footer .f_center ul { float: left; font-size: 18px; color: #fff; }
.m_footer .f_center ul a { font-size: 14px; color: #999; }
.m_footer .f_right { width: 90px; float: right; height: 180px; text-align: center; }
.m_footer .f_right .code { width: 90px; height: 82px; background-position: 7px -141px; }
.m_footer .iphone_down, .m_footer .andriod_down { width: 98px; height: 30px; border: 1px solid #767675; border-radius: 3px; background: #5c5c5c; color: #fff; display: none; line-height: 30px; text-align: center; margin-bottom: 17px; }
.m_footer .iphone_down:hover, .m_footer .andriod_down:hover { text-decoration: none; }
.m_footer .icon_iphone { background-position: -101px 0px; width: 16px; height: 20px; display: none; vertical-align: middle; }
.m_footer .icon_andriod { background-position: -124px 0px; width: 17px; height: 20px; display: none; vertical-align: middle; margin-top: -2px; }
.m_footer .copyright { height: 68px; text-align: center; font-size: 12px; color: #666666; }

/*返回顶部*/
.layAppTopnew{ width:60px; height:140px;position: fixed; z-index:22; right:20px; bottom: 20px;}
.layAppTopnew .backToTop,.layAppTopnew .app_btn,.layAppTopnew .serve{ width:58px;border: 1px solid #e4e3e3; height:68px; background-image: url(../images/common/new_gotop.png?v=20140807); background-color: #fff; background-repeat: no-repeat; background-position:-669px 0px; outline:none; display: block;}
.layAppTopnew .serve{background-position:-59px 9px; top: 0px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; border-top:none; }
.layAppTopnew .serve:hover{background-position:-59px -50px;background-color: #fe836a; border-color:#fe836a; }
.layAppTopnew .backToTop{background-position:-133px 7px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; border-top:none;}
.layAppTopnew .backToTop:hover{background-position:-133px -52px; background-color: #fe836a;border-color:#fe836a; }
.layAppTopnew .app{ width:60px; height: 70px; position: relative;}
.layAppTopnew .app_btn{top:0px; background-position:6px 11px;position: relative; cursor:pointer; display:inline-block; left:0px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; }
.layAppTopnew .app:hover .app_btn{background-position:6px -48px; background-color: #fe836a;border-color:#fe836a;}
.layAppTopnew .app_box{ width:131px; height:162px; background:#fff; position:absolute; left:-152px; top:-110px;  border:1px solid #e0dede;text-align:center; opacity: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;visibility:hidden;}
.layAppTopnew .app_box a{ width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.layAppTopnew .app:hover .app_box{left:-147px; opacity: 1; visibility: visible;}
.layAppTopnew .app_box h2{ height:29px; font-size:13px;color: #a1a1a1;}
.layAppTopnew .icon_a{ position:absolute; width:9px; height:13px;  background: url(../images/common/new_gotop.png?v=20140807) no-repeat -241px -0px; right:-9px; bottom:17px;}
.layAppTopnew .app_tab_con{ height:110px; padding: 10px;}
.layAppTopnew .serve_box{position: relative;}
.layAppTopnew .serve_box .icon_a{bottom:27px;}
.layAppTopnew .serve_con{position: absolute; left: -217px; top: -10px; width: 163px; padding:6px 16px 12px;background:#fff;border:1px solid #e0dede; color: #999999; opacity: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;z-index: -10; visibility:hidden;}
.layAppTopnew .serve_box:hover .serve_con{left: -212px; opacity: 1;visibility: visible;}
.layAppTopnew .serve_con h2{font-size: 24px; color: #fe836a;}

/*账户中心左侧*/
.ui_user_nav { width: 168px; padding-bottom: 10px; border: 1px solid #e3e3e3; background: #fff; font-size: 16px; float: left; }
.ui_user_nav h2 { font-size: 18px; padding: 10px 14px; }
.ui_user_nav li { line-height: 38px; padding: 0px 6px; position: relative; margin-bottom: 1px; }
.ui_user_nav li a { color: #010101; height: 38px; display: inline-block; padding: 0px 0px 0px 43px; width: 114px; }
.ui_user_nav li a i { width: 5px; height: 5px; background: #c8c8c8; position: absolute; top: 17px; left: 32px; display: inline-block; }
.ui_user_nav li.user_select a i { background: #f96648; }
.ui_user_nav li.user_select a { background: #f4f2f2; color: #f96648; text-decoration: none; }
.ui_user_nav li a:hover { background: #f4f2f2; text-decoration: none; }
.ui_user_nav li a em, .ui_user_nav li a:hover em, .ui_user_nav li.user_select em { background: #f96648; margin-right: 10px; color: #fff; }
.ui_user_right { width: 920px; float: right; font-size: 14px; }
.ui_user_right .box { border: 1px solid #e3e3e3; background: #fff; margin-bottom: 13px; }
.ui_user_right .ui_title { background: #fcfcfc; height: 47px; border-bottom: 1px solid #ececec; font-size: 18px; color: #1a1f25; line-height: 47px; }
.ui_user_right .ui_title .icon { width: 3px; height: 18px; display: inline-block; background: #f3491f; border: 1px solid #e43b19; margin: 0 14px 0 17px; position: relative; top: 3px; }

/*导航*/
.ui-box { background: #FFF; border: 1px solid #e5e5e5; }
.ui-box .h-title { background: #fcfcfc; height: 47px; line-height: 47px; border-bottom: 1px solid #e5e5e5; }
.ui-box .h-title h2, .ui-box .sub-nav, .ui-box .h-line { float: left }
.ui-box .h-line { width: 1px; height: 24px; border-left: 1px dotted #d0d0d0; margin: 13px 0 0 18px; }
.ui-box .h-title h2 { font-size: 18px; color: #1a1f25; padding-left: 15px; }
.ui-box .h-title h2 i { background: #f3491f; border: 1px solid #e43b19; width: 3px; height: 18px; margin-right: 14px; display: inline-block; vertical-align: middle; margin-top: -3px; }
.ui-box .sub-nav { border: none; margin: 0 0 0 32px; float: left; }
.ui-box .sub-nav li { height: 47px; line-height: 47px; text-align: center; float: left; margin-right: 40px; display: inline; color: #a6a6a6; font-size: 14px }
.ui-box .sub-nav li.select a, .ui-box  .sub-nav li a:hover { background: none; color: #e6300a; border-bottom: 3px solid #f75939; }
.ui-box .sub-nav li a { height: 44px; display: block; font-size: 14px; border-radius: 3px 3px 0px 0px; padding: 0 5px }
.ui-box .r-decs { float: right; margin-right: 32px; font-size: 12px; }

/*间距*/
.blank23 { height: 23px; width: 100%; clear: both; display: block; }
.blank60 { height: 60px; width: 100%; clear: both; display: block; }

/*checkbox组件*/
.p2p-ui-checkbox .common-sprite { display: inline-block; background-image: url(../images/common/btn_icon.png); background-repeat: no-repeat }
.p2p-ui-checkbox .check-normal { background-position: 0 -250px; }
.p2p-ui-checkbox .check-normal:hover { background-position: -30px -250px; }
.p2p-ui-checkbox .check-select { background-position: -59px -250px; }
.p2p-ui-checkbox .check-select:hover { background-position: -88px -250px; }
.p2p-ui-checkbox .check-disable { background-position: -116px -250px; cursor: text; }
.p2p-ui-checkbox .check-disable:hover { background-position: -116px -250px; cursor: text; }
.p2p-ui-checkbox .checked-disable { background-position: -145px -250px; cursor: text; }
.p2p-ui-checkbox .checked-disable:hover { background-position: -145px -250px; cursor: text; }
.p2p-ui-checkbox .check-normal, .check-select, .check-disable, .checked-disable { width: 15px; height: 15px; }

/*checkbox组件*/

/*新闻左导航*/
.ui-new-sidebar { padding: 6px; width: 148px; border: 1px solid #e3e3e3; background: #fff; float: left; min-height: 320px; }
.ui-new-sidebar .new-tab li { height: 38px; line-height: 38px; padding-left: 18px; font-size: 18px; }
.ui-new-sidebar .new-tab li.select { background: #f4f2f2; }
.ui-new-sidebar .new-tab li a { color: #252525 }
.ui-new-sidebar .new-tab li.select a { color: #f96648 }

/*新闻右侧*/
.ui-new-mainbody { width: 920px; float: right; font-size: 14px; }

/*分页*/
.ui-pages { text-align: center; font-weight: lighter; font-size: 12px }
.ui-pages .current { background: #ff9a87; border: 1px solid #f8684d; color: #FFF; }
.ui-pages a, .ui-pages .current { height: 23px; line-height: 23px; padding: 0px 7px; display: inline-block; }
.ui-pages a { color: #666; border: 1px solid #e7e7e7; text-decoration: none; }
.ui-pages a:hover { background: #ffe7e3; border: 1px solid #fec8ba; }

/*ui-form*/
.ui-form { font-size: 14px; }
.ui-form ul { margin-left: 315px; }
.ui-form li { margin-bottom: 34px; position: relative; padding: 2px 0; }
.ui-form li label { font-size: 16px; display: block; float: left; height: 36px; line-height: 36px; padding-right: 18px; text-align: left; color: #4f4e4e; width: 100px; text-align: right; }
.ui-form .txt { display: block; background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; float: left; height: 24px; line-height: 24px; padding: 5px 13px; width: 262px; font-size: 14px; }
.ui-form .txt:focus { color: #4f4e4e; }
.ui-form .error-wrap { color: #cc1223; font-size: 14px; background: #feefef; border: 1px solid #fe9898; line-height: 17px; padding: 5px 10px; position: relative; }
.ui-form .error-wrap .e-arrow { position: absolute; width: 6px; height: 10px; display: inline-block; top: 9px; left: -6px; background-position: -29px -71px; }
.ui-form .error-wrap .ew-icon { float: left; height: 17px; }
.ui-form .ew-icon i, .ui-form .er-icon i { width: 17px; height: 17px; display: inline-block; }
.ui-form .er-icon, .ui-form .error-wrap { margin: 4px 0 0 12px; display: block; float: left }
.ui-form .er-icon span { line-height: 26px; margin-left: 8px; }
.ui-form .ew-icon i.icon-wrong { background-position: -67px -10px; }
.ui-form .er-icon i.icon-right { background-position: -95px -11px; float: left; margin-top: 5px; }
.ui-form .error-wrap .e-text { margin-left: 25px }
.ui-form .btn-w30 { padding: 14px 0 0 433px; text-align: left !important; }
.ui-form .p2p-ui-checkbox { margin: 25px auto 52px; }
.ui-form .p2p-ui-checkbox a.check-normal { margin-right: 5px; *margin-right: 10px; vertical-align: -2px; *vertical-align: 1px; }
.ui-form .p2p-ui-checkbox .error-wrap { margin-top: -3px; }
.ui-form .form-sprite { background-image: url(../images/icon/form_sprite.png); background-repeat: no-repeat; }
.ui-form .te-wrap { text-align: center; }
.ui-form .total-error { text-align: left; background: #feffeb; border: 1px solid #f9d147; display: inline-block; *zoom: 1; *display: inline; padding: 0 13px; height: 32px; line-height: 32px; min-width: 402px; }
.ui-form .total-error i { background-position: -125px -10px; vertical-align: -3px; *vertical-align: 1px; width: 17px; height: 17px; display: inline-block; margin-right: 10px; }
.ui-form .err-shadow { border-color: #ff5c5a !important; box-shadow: 1px 0px 2px rgba(255, 178, 178, 1), -1px 0px 2px rgba(255, 178, 178, 1), 0px 1px 2px rgba(255, 178, 178, 1), 0px -1px 2px rgba(255, 178, 178, 1) !important; }
.ui-form .err-shadow:focus { border-color: #3aa3fb !important; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1) !important; }

/*填写短信验证码弹窗*/
.ui_send_msg .error-box { width: 100%; min-height: 30px; margin-bottom: 7px }
.ui_send_msg .error-box .error-wrap { min-width: 146px; display: inline-block; *zoom: 1; *display: inline; color: #cc1223; font-size: 14px; background: #feefef; border: 1px solid #fe9898; line-height: 17px; padding: 5px 15px; position: relative; }
.ui_send_msg .ipt-txt { background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; float: left; height: 32px; line-height: 32px; padding: 1px 13px; font-size: 14px; }
.ui_send_msg .ipt-txt:focus { color: #4f4e4e !important }
.ui_send_msg .dialog-content { padding-top: 10px; text-align: left !important; }
.ui_send_msg .wee-send .send-input { margin: 0 0 0 32px; position: relative; }
.ui_send_msg .wee-send .send-input p { padding-bottom: 7px; }
.ui_send_msg .btn-blue-h34, .ui_send_msg .btn-blue-h34:hover, .ui_send_msg .btn-blue-h34:active, .ui_send_msg .btn-gray-h34, .btn-gray-h34:hover, .btn-gray-h34:active { background-image: url(../images/user/reg_sprite.png); background-repeat: no-repeat; display: inline-block; }
.ui_send_msg .btn-blue-h34, .ui_send_msg  .btn-gray-h34 { margin-left: 10px; color: #ffffff; width: 147px; text-align: center; height: 34px; line-height: 34px; font-size: 14px; background-color: transparent; border: none; }
.ui_send_msg .btn-blue-h34 { background-position: 0 -210px; }
.ui_send_msg .btn-blue-h34:hover { background-position: -168px -210px; }
.ui_send_msg .btn-blue-h34:active { background-position: -334px -210px; }
.ui_send_msg .btn-gray-h34, .ui_send_msg .btn-gray-h34:hover, .ui_send_msg .btn-gray-h34:active { background-position: 0 0; }
.ui_send_msg .err-shadow { border-color: #ff5c5a !important; box-shadow: 1px 0px 2px rgba(255, 178, 178, 1), -1px 0px 2px rgba(255, 178, 178, 1), 0px 1px 2px rgba(255, 178, 178, 1), 0px -1px 2px rgba(255, 178, 178, 1) !important; }
.ui_send_msg .err-shadow:focus { border-color: #3aa3fb !important; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1) !important; }
.ui_send_msg.weedialog .dialog-content { padding-top: 10px; }

/*表单验证公共样式*/
.n-invalid { border-color: #ff5c5a !important; box-shadow: 1px 0px 2px rgba(255, 178, 178, 1), -1px 0px 2px rgba(255, 178, 178, 1), 0px 1px 2px rgba(255, 178, 178, 1), 0px -1px 2px rgba(255, 178, 178, 1) !important; }
.msg-box { display: block; float: left; }
.msg-box .n-error , .msg-box .n-loading{ color: #cc1223; font-size: 14px; background-color: #feefef; border: 1px solid #fe9898; line-height: 17px; padding: 5px 10px; position: relative; margin: 4px 20px 0 12px; display: block; float: left; position: relative; }
.msg-box .n-error .n-icon , .msg-box .n-loading .n-icon{ background-image: url(../images/icon/form_sprite.png); background-repeat: no-repeat; background-position: -29px -71px; position: absolute; width: 6px; height: 10px; display: inline-block; top: 9px; left: -6px; }
.msg-box .n-error .n-msg { padding-left: 25px; height: 17px; display: inline-block; background-image: url(../images/form/wrong.png); background-repeat: no-repeat; background-position: 0px 0px; }
.msg-box .n-ok { background-image: url(../images/icon/form_sprite.png); background-repeat: no-repeat; background-position: -95px -11px; float: left; margin: 9px 20px 0 10px; width: 17px; height: 17px; display: inline-block; }
.ui_box_title { background: #fcfcfc; height: 47px; border-bottom: 1px solid #ececec; font-size: 18px; color: #1a1f25; line-height: 47px; }
.ui_box_title .icon { width: 3px; height: 18px; display: inline-block; background: #f3491f; border: 1px solid #e43b19; margin: 0 14px 0 17px; position: relative; top: 3px; }
.ui_user_tip { border-top: 1px solid #e5e5e5; color: #505050; padding: 24px 54px 22px; border-bottom: none; background: #fffcf3; line-height: 24px; font-size: 14px; color: #505050; }
.ui_suc_title { font-size: 30px; color: #656565; text-align: center; padding: 90px 0 30px 0; }
.ui_suc_icon, .ui_fail_icon { background-image: url(../images/common/suc_icon.png); background-repeat: no-repeat; width: 43px; height: 43px; display: inline-block; vertical-align: middle; }
.ui_suc_icon { background-position: 0 -49px; }
.ui_fail_icon { background-position: 0 -0px; }

/* 公用分页结构 begin */
.pages { margin: 0px auto; padding-top: 30px; padding-bottom: 30px; text-align: right; color: #666666 }
.pages.center { text-align: center; }
.pages i { font-weight: normal; float: left; font-size: 14px; }
.pages .current { padding: 0px 7px; display: inline-block; min-width: 16px; height: 22px; line-height: 22px; color: white; background: #ff9a87; border: 1px solid #f8684d; }
.pages a { display: inline-block; min-width: 16px; padding: 0px 7px; height: 22px; line-height: 22px; color: #666; border: 1px solid #e7e7e7; text-decoration: none; }
.pages em a { border: 0px; }
.pages em a:hover { background: #ffffff; border: 0px; }
.pages a:hover { background: #ffe7e3; border: 1px solid #fec8ba; color: #666; }

/* 公用分页结构 end */

/*易宝支付*/
.ui_payment_statement{position:absolute; left:0; bottom:0; width:100%; text-align:center; font-size:16px; line-height:45px; color:#989898;}