.icon_arrow{ font-size:0px; line-height:0px; overflow:hidden; }
.m_header .my_account ul{ position: absolute;}
.m_header .top .nav li .message_num{}
.m_header .top .nav li.j_showMenu2{ top:8px;}
.m_header .top .nav li .message_drop{ width:145px; top:20px;}
.m_header .my_account .drop_b{ }