@charset "utf-8";

/* CSS Document */ 
.p_index .banner_slide { height: 330px; position: relative; background: url(../images/common/loading.gif) no-repeat center center; overflow: hidden; }
.p_index .banner_slide ul.banner_view { position: relative; height: 330px; }
.p_index .banner_slide ul.banner_view li { width: 100%; height: 330px; background-repeat: no-repeat; background-position: center top; position: absolute; left: 0; top: 0; z-index: 0; display: none; }
.p_index .banner_slide ul.banner_view li a { display: block; height: 100%; width: 100%; }
.p_index .slide_pager { position: absolute; bottom: 15px; left: 50%; z-index: 10; }
.p_index .slide_pager_l { background: url(../images/common/banner_bg.png) no-repeat; width: 12px; float: left; height: 21px; }
.p_index .slide_pager_r { background: url(../images/common/banner_bg.png) no-repeat right top; padding-right: 12px; float: left; height: 21px; }
.p_index .slide_pager_r li { width: 22px; height: 4px; background: #fff; filter: Alpha(Opacity=36); opacity: 0.36; float: left; cursor: pointer; margin: 8px 3px; border-radius: 2px; font-size: 0px; line-height: 0px; }
.p_index .slide_pager_r li.active { background: #fff; filter: Alpha(Opacity=100); opacity: 1; }
.p_index .announcement { height: 48px; line-height: 48px; text-align: center; background: #fff; border-bottom: 1px solid #e0dede; border-top: 1px solid #cccdcf; }
.p_index .deal-data { text-align: center; padding: 25px 0 40px; color: #4e526d; font-size: 14px; }
.p_index .deal-data h2 { font-size: 22px; padding-bottom: 10px; }
.p_index .deal-data span { color: #e8380d; font-weight: bold; }

/*newlist*/
.p_index .news_box { width: 365px; float: left; background: #fff; height: 390px; position: relative; border: 1px solid #e0dede; margin-left: -1px; }
.p_index .news_box:first-child { margin: 0; }
.p_index .news_box h2 { height: 54px; line-height: 54px; font-size: 18px; padding: 0 14px 0 18px; color: #5a5a5a; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .news_box .con { padding: 19px; }
.p_index .news_box .new_img, .p_index .news_box .new_img img { width: 328px; height: 192px; }
.p_index .news_box ul { padding-top: 15px; font-size: 14px; line-height: 30px; }
.p_index .news_box ul li { width: 330px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.p_index .news_box ul li a:hover, .p_index .news_box ul li a:hover .new_time { color: #eb421c; }
.p_index .news_box ul li .icon_block { background: #f98f79; width: 5px; height: 5px; vertical-align: middle; display: inline-block; margin-right: 10px; }
.p_index .news_box ul li .new_time { color: #949393; }
.p_index .new_more { width: 30px; height: 30px; background-position: -219px 0px; display: inline-block; float: right; margin-top: 13px; }
.p_index .new_more:hover { background-position: -219px -33px; }
.p_index .new_more:active { background-position: -219px -65px; }
.p_index .news_box ul li a { color: #585757; }

/*滚动new*/
.scroll_new { height: 44px; line-height: 44px; }
.scroll_new li { padding-left: 20px; font-size: 14px; width: 346px; float: left; }
.icon_cup, .icon_horn, .icon_award { background-image: url(../images/common/icon_bg.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle; }
.icon_cup { width: 15px; height: 16px; background-position: -37px -1px; }
.icon_horn { width: 18px; height: 20px; background-position: -74px -1px; }
.icon_award { width: 16px; height: 18px; background-position: -56px -1px; }

/*合作伙伴*/
.p_index .partner { height: 360px; }
.p_index .partner .title { height: 50px; overflow: hidden; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .partner h2 { line-height: 20px; font-size: 18px; padding-left: 20px; margin: 15px 0; }
.p_index .scrollDiv { float: left; height: 278px !important; width: 998px !important; }
.p_index .left_but, .p_index .right_but, .p_index .left_but:hover, .p_index .left_but:active, .p_index .right_but:hover, .p_index .right_but:active { width: 12px; height: 23px; float: left; background-image: url(../images/common/icon_bg.png); background-repeat: no-repeat; margin-top: 142px; cursor: pointer; }
.p_index .left_but { background-position: -251px 0px; margin-left: 30px; margin-right: 13px; }
.p_index .left_but:hover { background-position: -251px -36px; }
.p_index .left_but:active { background-position: -252px -96px; }
.p_index .right_but { background-position: -281px 0px; margin-left: 2px; }
.p_index .right_but:hover { background-position: -281px -36px; }
.p_index .right_but:active { background-position: -280px -96px; }
.p_index .partner ul { padding-top: 30px; }
.p_index .partner ul li { /*width:998px; height:300px;*/ background: #ffffff; float: left; }
.p_index .partner ul li a { width: 205px; height: 68px; display: block; margin: 0 20px 18px; overflow: hidden; border: 1px solid #fff; overflow: hidden; border-radius: 3px; }
.p_index .partner ul li a span { border: 1px solid #eaeaea; display: block; text-align: center; border-radius: 2px; width: 203px; height: 66px; cursor: pointer; }
.p_index .partner ul li a:hover { border: 1px solid #fab8ab; }
.p_index .partner ul li a:hover span { border: 1px solid #fab8ab; }
.p_index .partner ul li ul { width: 1176px; }
.p_index .partner .deal_more { margin-top: 0px; }

/*投资步骤*/
.p_index .index_step { background: url(../images/index/step_bg.jpg) no-repeat center; height: 229px; padding-top: 35px; }
.p_index .index_step .reg_btn { width: 183px; height: 41px; display: inline-block; line-height: 41px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; border-radius: 4px; background: #f6917d; margin-top: 25px; text-shadow: 0px 1px 0px #f27862; }
.p_index .index_step .reg_btn:hover { text-decoration: none; }
.p_index .index_step .step_img { height: 121px; }

/*新闻版块css */
.p_index .news_list { font-size: 14px; width: 365px; float: left; background: #fff; height: 411px; position: relative; border: 1px solid #e0dede; margin-left: -1px; }
.p_index .news_list h2 { height: 54px; line-height: 54px; font-size: 18px; padding: 0 14px 0 18px; color: #5a5a5a; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .news_list .con { padding: 20px 20px 0; }
.p_index .news_list.hk_news .con { padding-top: 18px; }
.p_index .news_list .new_img img { width: 324px; height: 215px; }
.p_index .news_list .new_img { position: relative; height: 215px; width: 324px; }
.p_index .news_list .new_img p { position: absolute; bottom: 0; left: 0; height: 34px; line-height: 34px; background: url(../images/index/new_bg.png) repeat-x; color: #FFF; width: 100%; }
.p_index .news_list .new_img p a { color: #FFF; display: block; padding: 0 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list { padding-top: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list li { height: 22px; background: url(../images/index/dot.jpg) 0 8px  no-repeat; line-height: 22px; margin-bottom: 7px; *margin-bottom: 3px; padding-left: 20px }
.p_index .news_list ul.arc-list li a.tit { width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list li a.tit, .p_index ul.arc-list li .date { float: left; display: block; }
.p_index .news_list ul.arc-list li span.date { color: #949393; }
.p_index .news_list.mt_news ul.arc-list li span.date, .p_index .news_list.pt_news ul.arc-list li span.date { float: right; }
.p_index .news_list ul.arc-list li a.tit:hover { color: #f75938; text-decoration: underline; }
.p_index .news_list.hk_news ul.arc-list { padding-top: 0 }
.p_index .news_list.hk_news ul.arc-list li a.tit { width: 100% }
.p_index .news_list .no_data { padding-top: 153px; font-size: 14px; text-align: center; background: url(../images/index/loading.gif) center 95px no-repeat; }
/*首页公共样式*/
.p_index .mr14{margin-right: 14px;}
.p_index .ui_product_tab .con h3 a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 650px; }
.weedialog.commpany-popbox .pop-tit i{margin-right:12px;display: inline-block;width: 38px;height: 38px;background: url(../images/common/th_icon.png);vertical-align: -14px; *vertical-align: -11px;}
.weedialog.commpany-popbox .dialog-content{padding: 50px 30px 100px 50px; }

