a { color: #333 }
a:hover { color: #f65938; text-decoration: none; }
input { border: none; outline: none; background-color: transparent; }
.p-cash .mar-t15 { margin-top: 15px;}
.p-cash .red { color: #f85939 }
.p-cash .yellow { color: #edaf34 }
.p-cash .white { color: #FFF }
.p-cash .mar-t50 { margin-top: 50px; }
.p-cash .mar-t10 { margin-top: 10px; }
.p-cash .blank44 { display: block; height: 44px; clear: both; width: 100% }
.p-cash .wrap { width: 1100px; margin: 0 auto }
.p-cash .common-sprite { background-image: url(../images/landingpage/icon-common.png); background-repeat: no-repeat; }
body { color: #333; font: 14px/24px Arial, "Microsoft YaHei"; background: #FFF; min-width: 1100px; }
.head.p-cash { height: 77px; border-bottom: 3px solid #b81c25 }
.head.p-cash  a.logo {float:left; display: block; width: 155px; height: 38px; margin: 19px auto; background: url(../images/landingpage/logo.png?v=20150624) no-repeat;  }
.head.p-cash .logo-desc{width: 318px; height: 38px; margin: 19px 0 19px 27px; background: url(../images/landingpage/logo-desc.png) no-repeat center; float: left}
.banner.p-cash { height: 664px; background: url(../images/landingpage/up.jpg) no-repeat center top; }
.banner.p-cash  .wrap { position: relative; }
.main.p-cash { min-height: 550px; padding-bottom: 55px; }
.p-cash .h-base { height: 81px; line-height: 81px; font-size: 18px; margin-bottom: 40px; color: #999 }
.p-cash .h-base .sub-tit { color: #999; float: right; }
.p-cash .h-01 { background-position: 0 -501px; }
.p-cash .h-02 { background-position: 0 -608px; }
.p-cash .h-03 { background-position: 0 -721px; }
.p-cash .h-04 { background-position: 0 -827px; }
.p-cash .h-04.mar-b0 { margin-bottom: 0; }
.p-cash .cash-01-l { width: 333px; float: left }
.p-cash .cash-radio { height: 249px; overflow: hidden; }
.p-cash .cash-01-r { width: 565px; margin-left: 110px; float: left }
.p-cash .radio-text-tit { background-position: 0 -57px; height: 19px; margin: 13px 0 10px; }
.p-cash .more-excit { background: url(../images/landingpage/down.jpg) no-repeat center top; height: 372px; position: relative; }
.p-cash .more-excit a.invite { position: absolute; top: 243px; right: 34px; display: block; width: 210px; height: 75px; }
.p-cash .media-reports .reports-l { width: 701px; float: left; border-right: 1px solid #ccc; position: relative;}
.p-cash .media-reports .reports-l img { width: 331px; height: 250px; overflow: hidden; float: left }
.p-cash .media-reports .reports-l .news { width: 309px; padding: 0 30px; float: left }
.p-cash .media-reports .reports-l .news div.new-feature, .media-reports .reports-l .news { float: left; }
.p-cash .media-reports .reports-l .news span { display: block; }
.p-cash .media-reports .reports-l .news .new-tit { font-size: 18px; }
.p-cash .media-reports .reports-l .news .new-con { margin-top: 10px; }
.p-cash .media-reports .reports-l .news .new-con a{ display: block; }
.p-cash .media-reports .reports-l .news .new-con .tr {  text-align: right; color: #999;position: absolute;right: 30px;bottom: 3px; }
.p-cash .media-reports .reports-r { width: 278px; float: right; padding: 15px 0 0 30px; height: 237px; background-position: 293px -203px; }
.p-cash ul.arc-list li { line-height: 36px; }
.p-cash ul.arc-list li a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
.p-cash .investors-story ul li { width: 161px; float: left; margin-right: 50px; }
.p-cash .investors-story ul li span { display: block; }
.p-cash .investors-story ul li .story-feature { border: 1px solid #ccc; padding: 1px; }
.p-cash .investors-story ul li .story-feature img { width: 157px; height: 126px; overflow: hidden; float: left }
.p-cash .investors-story ul li .story-feature span { width: 157px; background: #f65938; height: 31px; line-height: 31px; text-align: center; float: left }
.p-cash .investors-story ul li.mar-r0 { margin-right: 0 }
.p-cash .investors-story ul li .story-info { margin-top: 10px; }
.p-cash .investors-story ul li .story-info .info-tit { font-weight: bold; *font-size: 13px;line-height: 18px;}
.p-cash .investors-story ul li .story-info .info-con { color: #666; font-size: 12px; padding: 8px 0 30px; line-height: 18px; }
.p-cash .investors-story, .more-excit, .about-us, .media-reports { margin: 0 0 55px 90px; }
/*registor*/
.p-cash .cash-reg { position: absolute; width: 470px; height: 506px; right: 14px; top: 30px; background-position: 0 -925px; }
.p-cash .cash-reg .ipt-form { width: 380px; margin: 24px auto 0; position: relative; }
.p-cash .cash-reg .reg-head a.sub-tit { float: right; color: #f2ad08; font-size: 12px; display: block; background-position: 64px -131px; padding-right: 10px; }
.p-cash .cash-reg .reg-head { border-bottom: 1px solid #ccc; height: 56px; line-height: 56px; position: relative; }
.p-cash .cash-reg .reg-head h2 { font-size: 24px; color: #333; position: absolute; bottom: -1px; left: 0; padding: 0 15px; border-bottom: 1px solid #f65938 }
.log-form .txt-input { width: 274px; border: 1px solid #d8d8d8;border-radius: 5px; color: #89929e; height: 24px; line-height: 24px; padding: 8px 20px; font-size: 16px; color: #333; }
.log-form input[disabled]{color:#aca899;background-color:#F5F5F5;}
.log-form .padd-l45 { padding-left: 50px; }
.log-form { padding: 10px 15px 0}
.log-form .log-item { position: relative;  margin-bottom: 16px; }
.log-form .log-item .check { vertical-align: -2px; margin-right: 5px; }
.log-form .log-item .log-form-btn { margin-top: 15px; }
.log-form .user { width: 23px; height: 22px; background-position: -239px -96px; position: absolute; left: 15px; top: 9px }
.log-form .mobile { width: 16px; height: 27px; background-position: -157px -94px; position: absolute; left: 15px; top: 7px }
.log-form .pwd { width: 26px; height: 26px; background-position: -106px -93px; position: absolute; left: 15px; top: 7px }
.log-form .pwd-show { width: 28px; height: 16px; background-position: -53px -100px; position: absolute; right: 20px; top: 12px;*top: 13px }
.log-form .pwd-hide {  background-position: -289px -103px; }
.log-form .msg-wrapper { color: #ff7163; min-height: 18px; overflow: hidden; line-height: 18px; font-size: 12px; }
.log-form .msg-wrapper span.msg { display: block; }
.log-form .item-veri .txt-input, .log-form .item-veri .img-Veri, .log-form .item-veri .refresh { float: left }
.log-form .item-veri .txt-input { width: 95px; }
.log-form .item-veri .veri-icon { width: 24px; height: 22px; position: absolute; left: 15px; top:11px; background-position: -197px -97px; }
.log-form .item-veri .img-Veri { width: 104px; height: 40px; border: 1px solid #ccc; margin: 0 0 0 15px; }
.log-form .item-veri .img-Veri img { width: 100%; height: 100%; overflow: hidden; }
.log-form .item-veri .refresh { width: 47px; height: 42px; background-position: 0 -87px; margin-left: 15px }
.log-form .btn-sub { background-position: 0 0; width: 347px; height: 42px; line-height: 42px; text-align: center; color: #FFF; font-size: 16px; }
.log-form .log-item.mar-t15{ margin-bottom: 10px;}
/*弹出框*/
.text-color { color: #e43b19; }
.edt-tab table thead th { text-align: center; line-height: 30px; color: #656565; text-indent: -35px; }
.edt-tab table tbody tr th, .edt-tab table tbody tr td { padding-top: 10px; }
.edt-tab table tbody th { text-align: right; vertical-align: top; line-height: 36px; margin-left: 10px; }
.idbox { height: 34px; line-height: 34px; font-size: 14px; padding: 0 10px; border: 1px solid #bababa; vertical-align: middle; *vertical-align: -2px; }
.w120 { width: 120px; }
.fd-btn-code { margin-left: 15px; color: #ffffff; width: 120px; text-align: center; height: 34px; line-height: 34px; font-size: 14px; background-color: #14aae4; border-radius: 3px; }
.gray, .gray:hover { background: #CCC; }
.formvalidError { margin-top: 5px; padding-left: 20px; background: url(../images/common/f42.png) no-repeat 0 center; }
.weedialog{ width: 100%; height: 100%;}
.f_captcha{ cursor: pointer;}
.validNumformError{ display: none;}
.err-tip{padding-left:17px;}
.log-form .txt-input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset; }
/*.single_msg{ display: none;}*/