
/* CSS Document */
/* 
*this contains a reset, font normalization and some base styles.
**html-5-reset-stylesheet
*/
/* ==|== CSS RESET======================= */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul {list-style: none;}
fieldset, img {border: 0}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5 "Microsoft Yahei", arial}
body{background: #e2e5e9;color:#888888; }
/*500*/
.mt-box{width:531px;height: 509px;position: absolute;left:50%;top:50%;margin-left: -265px;margin-top: -255px;background:url(../images/maintain/whbg.png) }
.mt-mid{width:280px;margin: 25px auto 0; padding: 20px;font-size: 14px;}
.blue{color:#2699f1}
.info{padding: 20px 0 15px;}
.logo{display: block;width:115px;height:30px;margin: 25px auto 0;background: url(../images/maintain/logo.png?v=20150624);}
/*升级中*/
.font26{font-size: 26px;color: #45494c}
.font12{font-size: 12px;}
.sj-mid{position:relative;margin: 10px 32px 0; padding: 45px 45px 20px 45px;font-size: 14px;}
.h-tit {margin-left:35px;position: relative;padding-left: 42px;font-size: 36px}
.h-tit i{position:absolute;left:0;top:14px;width:32px;height: 32px;position: absolute;background: url(../images/maintain/xs.png) no-repeat;}
.wx{position: absolute;;right:68px;bottom:25px;width: 74px; height:100px;background: url(../images/maintain/wx.jpg) no-repeat center 24px ;text-align: center;}