@charset "utf-8";
.p_news_repay .new-r{padding: 15px 60px}
.p_news_repay .news-list { padding: 17px 0 17px; background:url(../images/common/bg_line.png) center bottom repeat-x; font-size: 14px; }
.p_news_repay .news-list .h-list {color: #001111; font-size: 18px; position: relative; }
.p_news_repay .news-list i {position: absolute;width: 5px;height: 5px;display: inline-block;left:-18px;top:10px;background:url(../images/news/dot.jpg) center bottom repeat-x;}
.p_news_repay .news-list .time { display: inline-block; color: #999999; padding: 6px 0 8px}
.p_news_repay .news-list p { color: #575757;line-height: 24px; }
.p_news_repay .news-list a:hover{color: #f75938;text-decoration: underline;}
.p_news_repay .new-page{margin: 50px 0;}
