@charset "utf-8";
.p_news_repaydetail .repay-r{padding: 50px 60px 30px;font-size: 14px;}
.p_news_repaydetail .repay-r h1{padding-bottom: 20px;font-size: 20px; background:url(../images/common/bg_line.png) center bottom repeat-x;color: #111}
.p_news_repaydetail .repay-r .repay-cont{padding-top: 25px;color: #414141}
.p_news_repaydetail .repay-r .repay-cont p{line-height: 30px;}
.p_news_repaydetail .repay-r .repay-cont .datatable{border: 1px solid #e3e3e3;color: #1a1a19;text-align: center; padding:0 0 20px;margin: 25px 40px 0;}
.p_news_repaydetail .repay-r .repay-cont .datatable table tr th{border-bottom: 1px solid #e3e3e3;height: 46px;line-height: 46px;color: #3e3e3e }
.p_news_repaydetail .repay-r .repay-cont .datatable table tr td{padding: 10px 0}
.p_news_repaydetail .repay-r .repay-cont .datatable table tr td.h15{height: 15px;line-height: 15px;padding: 0px;}

