.p_forgetpassword_idCard .pwp-mid{padding:146px 0;min-height:297px;height:auto!important;height:297px;}
.p_forgetpassword_idCard .ui-form .btn-w30{padding:14px 0 0 435px;}
.p_forgetpassword_idCard    .msg-box .n-ok{display:none;}
.p_forgetpassword_idCard .msg-box .n-error ,.p_forgetpassword_idCard .msg-box .n-loading{margin-left: 20px;}