@charset "utf-8";
.p_account_forgetpwdmobile .pwd-mid {padding: 95px 0 145px;}
.p_account_forgetpwdmobile .ui-form .color-gray2 {color: #4f4e4e;display:none;}
.p_account_forgetpwdmobile .ui-form .color-gray2 {color: #4f4e4e;display:none;}
.p_account_forgetpwdmobile .msg-box .n-ok {display:none;}
.p_account_forgetpwdmobile .msg-box .n-error ,.p_account_forgetpwdmobile .msg-box .n-loading{margin-left: 20px;}
.weedialog.ui_send_msg .dialog-ok,.weedialog.ui_send_msg  .dialog-ok:hover, .weedialog.ui_send_msg  .dialog-ok:active{height: 46px;}
