@charset "utf-8";
.p_account_setnewpwd .pwd-mid {padding: 95px 0 145px;}
.p_account_setnewpwd .ui-form .color-gray2 {color: #4f4e4e;display:none;}
.p_account_setnewpwd .ui-form .safety-degree {line-height: 36px;margin-left: 12px;}
.p_account_setnewpwd .msg-box .n-ok {display:none;}
.p_account_setnewpwd .ui-form ul{margin-left: 148px;}
.p_account_setnewpwd .ui-form .btn-w30{padding-left: 267px;}
.p_account_setnewpwd .msg-box .n-error ,.p_account_setnewpwd .msg-box .n-loading{margin-left: 20px;}