.p_payment_yeepayconfirmpay .p_content{padding:35px 0 116px; min-height:245px; height: auto !important; height: 403px; color:#4f4e4e; position:relative;}
.p_payment_yeepayconfirmpay .bind_suc{width:120px; padding-left:60px; margin:0 auto 10px; font-size:24px; line-height:45px; background:url(../images/common/suc_icon.png) no-repeat 0 -48px;}
.p_payment_yeepayconfirmpay .confirm_top_txt{font-size:16px; line-height:30px; text-align:center; margin:0 0 20px;}
.p_payment_yeepayconfirmpay .confirm_box{width:675px; height:130px; padding:15px 0; border:1px solid #dadada; margin:0 auto 45px;}
.p_payment_yeepayconfirmpay .confirm_box .line{font-size:18px; line-height:65px;}
.p_payment_yeepayconfirmpay .confirm_box .line_l{width:280px; text-align:right;height:65px;}
.p_payment_yeepayconfirmpay .confirm_box .line_r{width:348px; text-align:left;height:65px;}
.p_payment_yeepayconfirmpay .confirm_box .money_num{color:#f75b3a; font-size:36px;}
