.p_user_setpwdsuc .fail_details{font-size:16px;text-align:center;padding:30px 0 30px 0;margin:10px auto;}
.p_user_setpwdsuc .fail_i_mr19{margin-right:19px;}
.p_user_setpwdsuc .fail_a_mr26{margin-right:26px;}
.p_user_setpwdsuc .ui_fail_back{font-size:14px;}
.p_user_setpwdsuc .o2o_pc_btn_red_h38,.p_user_setpwdsuc .o2o_pc_btn_red_h38:hover,.p_user_setpwdsuc .o2o_pc_btn_red_h38:active,.p_user_setpwdsuc .o2o_pc_btn_red_h38 .right,.p_user_setpwdsuc .o2o_pc_btn_gray_h38,.p_user_setpwdsuc .o2o_pc_btn_gray_h38 .right,.p_user_setpwdsuc .o2o_pc_btn_gray_h46,.p_user_setpwdsuc .o2o_pc_btn_gray_h46 .right{font-size:14px;}
.p_user_setpwdsuc .fail_text{font-size:22px;}
.p_user_setpwdsuc .o2o_pc_btn_red_h38 .fail_backbefore{padding-left:12px;padding-right:29px;}
.p_user_setpwdsuc .o2o_pc_btn_gray_h46{background:none;border-radius:5px;border:1px solid #FA7358;}
.p_user_setpwdsuc .o2o_pc_btn_gray_h46 .right{background:none;font-size:18px;color:#FA7358;}
.p_user_setpwdsuc .ui_suc_title{text-align:center;}
.p_user_setpwdsuc .suc_cont{padding:45px 0 260px;}
.p_user_setpwdsuc .suc_cont.pt10{padding-top:10px;}
.p_user_setpwdsuc .textd{text-decoration:underline;}