.p_account_Services .marLt_20{
	margin-left: 20px;
}
.p_account_Services .marTp_20{
	margin-top: 20px;
}
.p_account_Services .IlB_box>*{
	display:inline-block;
	vertical-align:top;
}
.p_account_Services .textInput{
	height: 17px;
    line-height: 17px;
	border: 1px solid #bababa;
	padding:10px 5px;
}
.p_account_Services .normalBtn{
	height:38px;
	background:url(../images/account/service_btn_bg.png);
	border:none;
	outline:none;
	font-size: 16px;
	color: #fff;
	vertical-align:top;
	margin-top: 1px;
}
.p_account_Services .normalBtn.w136{
	width: 136px;
	background-position: 0px 0px;
}
.p_account_Services .normalBtn.w106{
	width: 106px;
	background-position: 0px -38px;
}
.p_account_Services .textInput.w120{
	width: 108px;
}
.p_account_Services .textInput.w240{
	width: 228px;
}
.p_account_Services .textInput.w300{
	width: 288px;
}
.p_account_Services .textInput:focus{
    border-color: #f8684d;
    box-shadow: 0 1px 4px rgba(125, 125, 125, 0.35) inset, 0 0 7px rgba(118, 176, 222, 0.45);
}
.p_account_Services .textInput.errorTip,.p_account_Services .textInput.errorTip:focus{
	border-color: #f8684d;
	box-shadow: 0 1px 4px rgba(248, 104, 77, 0.35) inset;
}
.p_account_Services .exchange_box{
	height:139px;
}
.p_account_Services .exchange_box .inner{
	padding:44px 0px 0px 231px;
}
.p_account_Services .exchange_box .inner .errorP{
	font-size: 14px;
	color: #e71f19;
	padding-top: 5px;
	display:none;
}
.p_account_Services .exchange_box .inner .errorP.show{
	display:block;
}
/* 兑换记录 begin */
.ex_recordBox{
	
}
.ex_recordBox .ex_searchBox{
	border-bottom: 1px solid #e3e3e3;
	background-color: #f9f9f9;
	padding:30px;
}
.ex_searchBox .set_time{
	line-height: 37px;
	float:left;
}
.ex_searchBox .set_time label{
	font-size: 14px;
	color: #1a1a1a;
	margin-right: 10px;
	display:inline-block;
	vertical-align:top;
}
.ex_searchBox .set_time span{
	margin:0px 15px;
	display:inline-block;
	vertical-align:top;
}
.ex_searchBox .inner{
	margin-left: 74px;
	float:left;
	*float:none;
}
.ex_recordList{
	padding:20px 30px 0px 30px;
}
.ex_recordTable{
	width: 100%;
	font-size: 14px;
	vertical-align:middle;
	text-align: left;
}
.ex_recordTable tr td:first-child,.ex_recordTable tr th:first-child{
	padding-left: 30px;
}
.ex_recordTable td.center,.ex_recordTable th.center{
	text-align: center;
}
.ex_recordTable thead th{
	height:40px;
	color: #a6a6a6;
	border-bottom: 1px solid #e5e5e5;
}
.ex_recordTable tbody td{
	height:60px;
}
.ex_recordTable tbody tr.evenTr td{
	background-color: #f5f7fb;
}
/* 兑换记录 end */

/* 券码兑换说明 begin */
.exchange_exp{
	padding: 24px 54px 22px;
	background-color: #fffcf3;
	border-top:1px solid #e5e5e5;;
}
.exchange_exp p{
	line-height: 24px;
}
.exchange_exp p span.yel_color{
	color: #f96444;
}
/* 券码兑换说明 end */