{include file="web/views/header.html"}
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/download.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/download_v2.css');?>" />
<!--banner static-->
<div class="wrap">
    <div class="m-banner-app">
        <adv adv_id="app广告位"/>
    </div>
</div>
<!--banner end-->

<!--content static-->
<div class="fix-width-app">
    <div class="m-elements clearfix">
        <ul>
            <li>
                <p class="u-light  a-rotatein"></p>
                <h3 class="u-one">投资，从此随时随地</h3>
                <span>打开手机，快捷投资，无论您在挤地铁、坐公交，还是在蹦极</span>
            </li>
            <li>
                <p class="u-sun  a-rotatein"></p>
                <h3 class="u-two">新项目实时提醒</h3>
                <span>贴心提醒，抓住每一个高收益项目。快人一步，现在开始。</span>
            </li>
            <li class="w266">
                <p class="u-signal  a-rotatein"></p>
                <h3 class="u-three">收益，一目了然</h3>
                <span>资金变动、项目回款，投资近况，都可以通过手机查看</span>
            </li>		
        </ul>
    </div>
</div>
<!--content end-->
<script type="text/javascript">
(function(){
    var _parammatch = window.location.search.match(/[?&]cn=([A-Z0-9]*)/i);
    if (_parammatch) {
        $(".btn_android").attr("href", "http://www.firstp2p.com/down/apk?cn=" + _parammatch[1]);
        return;
    }
    var _cookiematch = document.cookie.match(/(|; )link_coupon=([A-Z0-9]*)/);
    if (_cookiematch) {
        $(".btn_android").attr("href", "http://www.firstp2p.com/down/apk?cn=" + _cookiematch[2]);
        return;
    }
})();
</script>

{include file="web/views/footer.html"}
