body{background:url(../images/cup-bg.png) repeat 0 0;}

/*世界杯确认*/
.cup-true{margin:20px 15px;color:#fff;font-size:12px;}
.f16{font-size:16px;}
.cup-name{margin-top:10px;font-size:12px;}
.cup-name h3 span{margin-left:16px;}
.cup-name em{text-decoration:underline;}
.cup-name h4{margin-top:5px;margin-left:64px;}
.ts-color{color:#fab834;}
.ts-linkcolor{color:#1094e7;}
.cup-true h5{margin-top:10px;}
.cup-tip{margin-top:20px;}
.cup-tb{margin-top:10px;}
.cup-tb table{width:100%;}
.cup-tb table tr th,.cup-tb table tr td{padding-top:10px;}
.cup-tb table tr th{vertical-align:top;}
.cup-fenxiang{width:16px;height:12px;display:inline-block;background:url(../images/cup-arrow.png) no-repeat 0 0;background-size:cover;margin-left:5px;vertical-align:middle;margin-top:-4px;}
.cup-true h6{margin-top:30px;}
.cup-footer{background:url(../images/cup-logo.png) no-repeat 0 0;height:50px;background-size:auto 100%;text-align:center;background-position:center;margin-top:30px;}
.cup-footer a{ width:156px; height:100%; display: inline-block;}