
body{background: #000 url(../images/newball-bg.jpg) repeat-y 0 0;background-size: contain;}

/*双百红包*/.ball-top{background:url(../images/newtop-bg-01.jpg) no-repeat 0 0;background-size:100% 100%;height:300px;}
.ball-logo{ width: 76px;margin: 0 auto;margin-bottom: -30px;padding-top: 15px;}
.ball-title{ background: url("../images/newtop-bg-02.png") no-repeat 0 0;background-size: contain;width: 300px;height: 200px;margin: 0 auto;position: relative;}
.ball-title .ball-wenzi{ position: absolute;top: 102px;left: 50px;text-align: center;color: #b86505;}
.ball-title .ball-wenzi h2{font-size: 14px;font-weight: bold;font-style: italic;}
.ball-title .ball-wenzi h2 span{ display: inline-block;vertical-align: bottom;font-size: 24px;margin-right: 10px;margin-left: 3px;}
.ball-title .ball-wenzi h3{ font-size: 10px;line-height: 13px;}


/*
.qiudui{margin-top:-100px;}
.ball-tip{font-style:oblique;color:#fff;font-size:14px;background:url(../images/ball-tip.png) no-repeat 0 0;background-size:cover;width:244px;height:42px;line-height:42px;}
.ball-tip span{margin-left:170px;}
*/.qiudui{min-height:440px;margin-top: -80px;}

.ball_tit{ width:220px; position:relative;}
.qiudui ul{ overflow: auto;}
.qiudui ul li{float:left;width:25%;text-align: center;min-height: 110px;}
.qd-img img{height:65px;width:40px;display:inline-block;background-position:center;}
.sum1{background:url(../images/ball-qiu/b-001.png) no-repeat 0 0;background-size:100% 100%;}
.sum2{background:url(../images/ball-qiu/b-2.png) no-repeat 0 0;background-size:100% 100%;}
.sum3{background:url(../images/ball-qiu/b-3.png) no-repeat 0 0;background-size:100% 100%;}
.sum4{background:url(../images/ball-qiu/b-5.png) no-repeat 0 0;background-size:100% 100%;}
.sum5{background:url(../images/ball-qiu/b-5.png) no-repeat 0 0;background-size:100% 100%;}
.sum6{background:url(../images/ball-qiu/b-6.png) no-repeat 0 0;background-size:100% 100%;}
.sum7{background:url(../images/ball-qiu/b-7.png) no-repeat 0 0;background-size:100% 100%;}
.sum7{background:url(../images/ball-qiu/b-7.png) no-repeat 0 0;background-size:100% 100%;}
.sum8{background:url(../images/ball-qiu/b-8.png) no-repeat 0 0;background-size:100% 100%;}
.sum9{background:url(../images/ball-qiu/b-9.png) no-repeat 0 0;background-size:100% 100%;}
.sum10{background:url(../images/ball-qiu/b-10.png) no-repeat 0 0;background-size:100% 100%;}
.sum11{background:url(../images/ball-qiu/b-11.png) no-repeat 0 0;background-size:100% 100%;}
.sum12{background:url(../images/ball-qiu/b-12.png) no-repeat 0 0;background-size:100% 100%;}
.sum13{background:url(../images/ball-qiu/b-13.png) no-repeat 0 0;background-size:100% 100%;}
.sum14{background:url(../images/ball-qiu/b-14.png) no-repeat 0 0;background-size:100% 100%;}
.sum15{background:url(../images/ball-qiu/b-15.png) no-repeat 0 0;background-size:100% 100%;}
.sum16{background:url(../images/ball-qiu/b-16.png) no-repeat 0 0;background-size:100% 100%;}
.qd-tishi{ margin-top: 5px;display:block;}
.qd-zuo{width:18px;height:18px;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius:100px;border:1px solid #fff;display:block;background-color:#fff;position:relative;}
.qd-nei{position:absolute;top:3px;left:3px;width:10px;height:10px;border-radius:100px;-moz-border-radius: 100px;-webkit-border-radius: 100px;border:1px solid #c9c9c9;display:block;background-color:#c9c9c9;}
.qd-you{height:14px;line-height: 14px;width:55px;background-color:#fff;display:inline-block;border-radius:0 0 100px 0;font-size:10px;color:#0f5303;text-align:left;}
.qd-you em{margin-left:4px;}
.qt-left{display: inline-block}
.qt-right{display: inline-block;margin-left:-8px;margin-top:0px;vertical-align: top;}
/*球队选中.qd-active{border:1px solid #1db509;background-color:#1db509;}*/
.qd-floor{margin: 0 auto;width:100%; margin-top:15px;overflow:auto;}

.renyuan{ margin-top: 15px;}

.renyuan ul li{float:left;width:25%;color:#fff;position:relative;text-align: center;}
.qiudui .qd-floor ul li.qd-active .qd-nei{border:1px solid #1db509;background-color:#1db509;}
.renyuan .qd-floor ul li.qd-active .ry-nol{ display:inline-block;}


.qd-floor ul li{ padding-bottom:0px;}
.qd-floor .fl-auto{ overflow: auto;}
.ry-img img{height:55px;width:55px;display:inline-block;background-position:center;}
.num1{background:url(../images/ball-ren/r-1.png) no-repeat 0 0;background-size:100% 100%;}
.num2{background:url(../images/ball-ren/r-2.png) no-repeat 0 0;background-size:100% 100%;}
.num3{background:url(../images/ball-ren/r-3.png) no-repeat 0 0;background-size:100% 100%;}
.num4{background:url(../images/ball-ren/r-4.png) no-repeat 0 0;background-size:100% 100%;}
.num5{background:url(../images/ball-ren/r-5.png) no-repeat 0 0;background-size:100% 100%;}
.num6{background:url(../images/ball-ren/r-6.png) no-repeat 0 0;background-size:100% 100%;}
.num7{background:url(../images/ball-ren/r-7.png) no-repeat 0 0;background-size:100% 100%;}
.num8{background:url(../images/ball-ren/r-8.png) no-repeat 0 0;background-size:100% 100%;}
.renyuan ul { overflow: auto;}
.renyuan ul li{ min-height: 90px;}
.renyuan ul li p{text-align:center;font-size: 10px;}
.ry-nol{position:absolute;bottom:58px;width:22px;display:none;margin-left: -13px;}
/*.ry-active{display:inline-block;}*/
/*表单*/.ball-from{width:90%;margin:0 auto;margin-top:20px;background-color:#fff;border-radius:0 0 5px 5px; padding-bottom:20px;}
.ball-from h2{height:25px;line-height:25px;background-color:#2a7f27;padding-left:10px;color:#fff;}
.ball-from div{text-align:center;margin-top:15px;}
.ball-from div input{height:35px;width: 65%;border:1px solid #ccc;line-height: normal;border-radius:5px;font-size:14px;padding-left:10px; background:url(../images/cup-icon.png) no-repeat 95%;padding-right:23px;}
.ball-from div em{color:#ea1d25;font-size:25px;margin-left:-20px;vertical-align:middle;}
.ball-from .ball_tip{ width:218px; text-align:left; margin:0px auto; padding-top:10px;}
.ball-from .ball_tip span{ width:auto!important; display:inline;}
.ball-from div span{ }
.ball-from div .msg-wrap { text-align: left;display:block; width:66%;  margin:0px auto; padding-top:5px;}
.ball-from .ball-btn{background:url(../images/ball-btn.png) no-repeat 0 0;background-size:cover;width:122px;height:30px;border:0;}
.ball-from h4{margin-top:10px;}

/*底部*/.ball-footer{height:330px;color:#c6e6c2;padding:15px;padding-top:0;}

.ball-footer h2{margin-bottom:5px;padding-top:20px;}
.ball-footer ul{font-size:12px;width:100%;margin-left:12px;}
.ball-footer ul li{margin-bottom:3px;list-style:url(../images/ball-dian.png);margin-right: 12px;}
.ball-ts-zi{color:#ff8a00;}

.ball-guanzhu{height:130px;text-align: center;color: #c6e6c2;margin-top: -25px;}

.ball-guanzhu a{color: #c6e6c2;text-decoration: none;}



.msg-wrap{position:relative;white-space:nowrap}
.n-error{color:#c33}
.tell-color{color:#c6e6c2!important}


#animate{position:absolute;top:-1px; right:12px;width:39px;height:39px;border-radius:5px;text-align:center;color:#fff;}
.a-bounceinT{-webkit-animation:bounceinT 1s ease-out backwards,a_rotate 2s 1.2s infinite alternate;
             -moz-animation:bounceinT 1s ease-out backwards,a_rotate 2s 1.2s infinite alternate;
             -ms-animation:bounceinT 1s ease-out backwards,a_rotate 2s 1.2s infinite alternate;
             animation:bounceinT 1s ease-out backwards,a_rotate 2s 1.2s infinite alternate;}
@-webkit-keyframes bounceinT{
	0%{opacity:0;-webkit-transform:translateY(-650px);}
	40%,65%,100%{opacity:1;-webkit-transform:translateY(0px);}
	50%{-webkit-transform:translateY(-50px);}
    80%{-webkit-transform:translateY(-10px);}	
}
@-moz-keyframes bounceinT{
	0%{opacity:0;-moz-transform:translateY(-650px);}
	40%,80%,100%{opacity:1;-moz-transform:translateY(0px);}
    60%,90%{opacity:1;-moz-transform:translateY(-10px);}	
}
@-ms-keyframes bounceinT{
	0%{opacity:0;-ms-transform:translateY(-650px);}
	40%,80%,100%{opacity:1;-ms-transform:translateY(0px);}
    60%,90%{opacity:1;-ms-transform:translateY(-10px);}
}
@keyframes bounceinT{
    0%{opacity:0;transform:translateY(-650px);}
	40%,80%,100%{opacity:1;transform:translateY(0px);}
    60%,90%{opacity:1;transform:translateY(-10px);}
}



@-webkit-keyframes a_rotate {
	 0%{-webkit-transform:rotate(0deg)}
	 100%{-webkit-transform:rotate(540deg)}
}
@-moz-keyframes a_rotate {
	 0%{-moz-transform:rotate(0deg)}
	 100%{-moz-transform:rotate(540deg)}
}
@-keyframes a_rotate {
	 0%{transform:rotate(0deg)}
	 100%{transform:rotate(540deg)}
}





/*360px*/
@media only screen and (min-device-width:241px) and (max-device-width:359px)
{
	.qt-right {
		margin-top:0px;vertical-align: top;
	}
	
}

/*1080px*/
@media screen and (min-width: 400px) {
	.bat-title h3 {
		line-height: 20px;
	}

	.qd-you {
		font-size: 8px !important;
	}
}

