// 秒杀商品列表页
.from-seckill {
  .icon,
  .num {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .icon {
    color: #8a2222;
    line-height: 16px;
    margin: 0 3px;
  }
  .num {
    width: 18px;
    height: 16px;
    background: #8a2222;
    border-radius: 2px;

    text-align: center;
    color: #fff;
  }
}

// 秒杀商品详情页
.from-product {
  span {
    display: inline-block;
    @include sc(11px, #f9f9f9);
    font-weight: bold;
    line-height: 21px;
    text-align: center;
  }
  .num {
    @include wh(21px, 21px);
    background: rgba(138, 34, 34, 0.5);
    border-radius: 50%;
  }
}

// 首页秒杀推荐样式
.from-home {
}
