/* Button Component */
$button-default-color: $primaryColor;
$button-default-background-color: #fff;
$button-primary-color: #fff;
$button-primary-background-color: $primaryColor;
$button-primary-focus-color: #fff;
$button-primary-background-focus-color: $primaryColorFocus;
$button-primary-secondary-color: #fff;
$button-primary-secondary-background-color: $primary2Color;
$button-primary-secondary-disable-color: #fff;
$button-primary-secondary-background-disable-color: $primary2ColorDisable;
$button-primary-secondary-focus-color: #fff;
$button-primary-secondary-background-focus-color: $primary2ColorFocus;
$button-primary-secondary-white-color: $primary2WhiteColor;
$button-primary-secondary-white-border-color: $primary2WhiteColor;
$button-primary-secondary-white-background-color: #fff;
$button-primary-secondary-white-focus-color: $primary2WhiteColorFocus;
$button-primary-secondary-white-border-focus-color: $primary2WhiteColorFocus;
$button-primary-secondary-white-background-focus-color: #fff;
$button-secondary-color: #fff;
$button-secondary-background-color: #f7ca7c;
$button-secondary-focus-color: #fff;
$button-secondary-background-focus-color: #dfa541;
$button-positive-color: #fff;
$button-positive-background-color: #ff3950;
$button-positive-focus-color: #fff;
$button-positive-background-focus-color: #d92439;
$button-disable-color: #fff;
$button-disable-background-color: #999;
$button-disable-secondary-color: #fff;
$button-disable-secondary-background-color: #cdd1d7;
$button-negative-color: #fff;
$button-negative-background-color: #a4aab3;

$button-font-size: 16px;

/* InfoItem Component */
$info-item-title-color: #171819;
$info-item-subtitle-color: #b8b8b8;

$info-item-title-font-size: 15px;
$info-item-subtitle-font-size: 12px;

/* bottom line */
$line-bg-color: #eee;

/* toolbar */
$toolbar-background-color: #fff;
$toolbar-item-background-color: #fff;

$toolbar-button-color: #171819;
$toolbar-title-color: #171819;

$toolbar-button-font-size: 15px;
$toolbar-title-font-size: 18px;

/* FormItem Component */
$form-item-title-color: #333;
$form-item-value-color: #c3c3c3;

$form-item-title-font-size: 14px;
$form-item-value-font-size: 13px;
