

body{ background-color: #e6eaec;}
.acc_main{ text-align: center;}
.acc_top{ margin-top: 30px;}
.acc_top i{ background: url("../images/acc_top.png") 0 0 no-repeat;background-size: cover;display: inline-block;width: 120px;height: 120px;}
.acc_time{ font-size: 13px;color: #8b97a2;margin-top: 30px;}
.acc_tell{ width: 260px;height: 35px;line-height: 35px;vertical-align: middle;background-color: #5ca9e4;color: #fff;margin: 0 auto;border-radius: 100px;font-size: 17px;margin-top: 15px;}
.acc_tell a{ text-decoration: none;color: #FFF;}
.acc_tell i{ background: url("../images/acc_tell.png") 0 0 no-repeat;background-size: cover;width: 18px;height: 18px;display: inline-block;margin-right: 5px;vertical-align: middle;margin-top: -3px;}
.acc_weixin{ margin-top: 40px;font-size: 13px;color: #a4acb7;}
.acc_weixin h2{ color: #5ca9e4;}
.acc_address{ position: fixed;bottom: 20px;text-align: center;font-size: 10px;color: #8b97a2;width: 100%;}
.acc_address h3{ margin-bottom: 5px;}