body{ background-color: #e6eaec;}
.p_account_investment{ background-color: #e6eaec;padding: 5px  10px 0px;}


/*调整头部*/
.inh-title{ overflow: auto;margin-top: 10px;}
.inh-title span{ background-color: #5ca9e4;border-radius: 4px;padding:0px 5px;font-size: 12px;margin-right: 3px;float: left;color: #fff;line-height: 18px;}
.inh-title h2{ font-size: 14px;color: #41474d;overflow: hidden;white-space:nowrap;line-height: 18px;text-overflow:ellipsis;}


a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}

.ai_top{ border-bottom: 1px solid #fff;height: 40px;line-height: 40px;font-size: 15px;color: #41474d;}
.ai_top i{ display: inline-block;background-color: #60abe5;color: #fff;height: 15px;line-height: 15px;text-align: center;font-size: 12px;border-radius: 3px;margin-right: 5px;margin-left: 12px;}
.ai_center{margin-top: 5px;}
.ai_center p{ line-height: 25px;font-size: 13px;padding-left: 12px;}
.ai_center p span{ display: inline-block;}
.ai_center p span:nth-child(1){ width: 80px;text-align: right;color: #909ba8;}
.ai_center p span:nth-child(2){ text-align: left;margin-left: 5px;color: #555555;}
.ai_center a{text-decoration: none; color: #60abe5;margin-left: 5px;}
.ai_color{ color: #f64172;}
.ai_tip{margin-left: 60px; border: 1px solid #ccc;border-radius: 5px;font-size: 10px;background-color: #fafafa;color: #555;padding: 0 3px;width: auto !important;}
.ai_merry{ border: 1px solid #ccc;height: 45px;line-height: 45px;background-color: #fff;padding-left: 10px;margin-top: 10px;}
.ai_merry input{ border: none;outline: none;color:#080808 ;font-size: 15px;width: 100%;}
.ai_merry span{color: #5daae4;text-decoration: none;font-size: 14px;width: 60px;display: inline-block;text-align: center;float: right;}
.ai_ma input{ color: #080808 !important;outline: none;}
.ai_footer{ margin-top: 15px;padding: 0 12px;padding-bottom: 30px;}
.ai_footer p{ color: #484e53;line-height:18px;margin-top: 8px;}

.ai_ma .right{ display: inline-block;width: 60px;text-align: center;float: right;}
.ai_ma .right i{ margin-top: 10px;display: inline-block;background: url("../images/ai_ok.jpg") no-repeat 0 0;width: 22px;height: 20px;background-size: cover;}

.ai_yuqi{ font-size: 12px;color: #909ba8;margin-top: 10px;margin-left: 12px;}
.ai_cuowu,.ai_merry_cuowu{ color: #f20b0b;margin-left: 12px;margin-top: 10px;}
.ai_ma i{ text-align: center;}
.ai_tip{ position: relative;}
.ai_tip em{display: inline-block;background: url("../images/ai_arrow.png") no-repeat 0 0;width: 10px;height: 8px;background-size: cover;position: absolute;top: -7px;left: 35px; }
.ai_mashow a{ font-size: 12px;text-decoration: none;color: #5ca9e4}
.ai_mashow{ text-align: center;margin-top: 5px;}

.ai_merry input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #c9c9cf;
}
.ai_merry input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #c9c9cf;
}
.ai_merry input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #c9c9cf;
}
.ai_merry input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #c9c9cf;
}
.disnone{ display: none!important;}

.ai_rl{ margin-right: 60px;line-height: 45px;}
.ai_ma label{ color: #555;font-size: 13px;float: left;font-size: 14px;}
.ai_ma .ai_rl{ margin-left: 50px;margin-top: 2px;}

a,img,button,input,textarea,span{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
*:focus {outline: none;} 
body,html{width: 100%;height: 100%;}



.ai_touzi{ position: fixed;bottom: 0px;left:0px;right:0px;background-color: #e6eaec;}
.ai_xieyi{font-size: 13px;color: #080808;padding: 5px 12px;margin-bottom: 5px;}
.ai_xieyi a{ text-decoration: none;color: #5ca9e4;display: inline-block;}
.ft_btn{ background-color: #f3f4f5;height: 47px;line-height: 47px;text-align: center;}
.ft_btn a{text-decoration: none; width: 70%;color: #fff;font-size: 16px;height: 40px;line-height: 40px;background-color: #f64172;border-radius: 50px;display: inline-block;margin-top: 5px;}
.ai_touzinone{ position: static!important;}

.ai_footer{margin-bottom:0px;}
.ai_touziabs{position:absolute;}
.ai_touzistatic{position:static;}
.ai_xieyi{width:auto;}
.m-main,.p_account_investment{overflow-y: hidden;}