
body{ background-color: #e6eaec;}
.deal_help{ min-width: 320px;}
.hp_top{ background-color: #fff;height: 80px;overflow: hidden;}
.hpt_left{ float: left;padding: 10px 0px  0px 20px;}
.hpt_left img{ width: 110px;height: 70px;}
.hpt_right{ margin-left: 140px;}
.hpt_right i{ margin-top: 23px;display: inline-block;}
.hpt_right i img{ width: 146px;height: 28px;}
.hpt_right p{ font-size: 11px;color: #a4a4a4;margin-left: 13px;}
.deal_help h3{ height: 38px;line-height: 38px;text-align: left;padding-left: 20px;color: #555555;font-size: 12px;}
.deal_help h4{ height: 30px;line-height: 30px;}
.has_center{background-color: #FFF;padding-left: 20px;}
.has_center .hasc_btn{height: 38px;line-height: 38px;}
.has_center .hasc_btn a{font-size: 12px;color: #000;text-decoration: none;border-bottom: 1px solid #dfe8ef;display:block;}
.has_center .hasc_btn a .icon_arrow{background: url("../images/has_icon.png") no-repeat scroll 0px 0px / cover transparent;width: 7px;height: 12px;display: block;margin-top: 13px;margin-right: 10px;}
.dis_border{ border-bottom: none;}
.has_list{padding-left: 0px!important;}
.has_list .hasl_center a{ width: 50%;display: inline-block;float: left;}
.has_list .hasl_center a:nth-child(1){ margin-left: -1px;}
.has_list .hasl_center a:nth-child(2){ border-left: 1px solid #dfe8ef;}
.has_list .hasl_center a span{ margin-left: 20px;}