
body{ background-color: #e6eaec;}
.invite_main{}
.invt_img{ background: url("../images/inv_top.jpg") no-repeat 0 0;background-size: 100% auto;width: 100%;display: inline-block;height: 84px;}
.int_center{ width: 100%;height: 50px;padding-top: 10px;}
.int_center div{display: inline-block;width: 32%;float: left;border-right: 1px solid #dbdedd;text-align: center;}
.int_center div:nth-child(2){width: 33%!important; }
.int_center div p{ color: #555555;font-size: 10px;}
.int_center div p em{ font-size: 7px;margin-left: 3px;}
.int_center div span{ font-size: 15px;color: #000000;margin-left: -5px;}
.inv_yaoqing{ background-color: #fff;height: 20px;}

.inv_center{ background-color: #ffffff;padding-top: 5px;}

.i-list{ background:#f7f7f7; border-radius:5px; margin:10px 8px 0; padding:5px 10px; color:#586068;}
.i-list h3{ font-size:15px; border-bottom:1px solid #dadcdd; padding-bottom:3px; margin-bottom:3px;}
.i-list h4{ font-size:12px;}
.i-list dl dt{ width:80%; float:left;}
.i-list dl dd{ float:left; width:20%; text-align:right; padding-top:14px;line-height:normal;}
.i-list dl dd a{ font-size:14px; background:#f64172; color:#fff; text-decoration:none; border-radius:13px; padding:3px 10px; display:inline-block;}
.i-text-tips{margin:10px 8px; color:#abacae;}
.i-text-tips p{ padding:3px 0px;}
.list_text{ padding: 0 14px 0 12px;}
.list_text ul{ margin-left: 10px;}
.list_text ul li{ font-size: 12px;color: #a4acb7;margin-top: 15px;list-style-type: disc;}
.list_arrow { height: 20px;width: 100%;text-align: center;margin-top: 5px;}
.list_arrow a{ width: 100%;background: url("../images/list_arrow.png") no-repeat 0 0;background-size: cover;width: 17px;height: 7px;display: inline-block;}
.list_arrow_down a{background: url("../images/list_arrow02.png") no-repeat 0 0;background-size: cover;}

/*列表*/
.inv_footer{ padding: 10px 14px;}
.invf_list{ background-color: #fff;margin: 0 auto;border-radius: 3px;margin-bottom: 10px;padding: 10px;}
.inf_top{ overflow: auto;}
.inf_top span{ width: 33%;display: inline-block;float: left;font-size: 13px;color: #586068;}
.inf_top span:nth-child(2){ width: 34%;text-align: center;}
.inf_top span:nth-child(3){ text-align: right;}
.inf_top span em{ font-size: 14px;color: #f64172;margin-left: 5px;}
.invf_list p{ border-top: 1px solid #dadcdd;margin-top: 10px;padding-top: 8px;font-size: 12px;color: #969fa9;}
.invf_list p i{ width: 17px;height: 17px;text-align: center;line-height: 17px;color: #ffffff;font-size: 12px;display: inline-block;margin-right: 5px;}

/*注*/
.zhu{ background-color: #5ec749;}
.tou{ background-color: #6bbbf3;}
.huo{background-color: #fe8921;}

/*邀请好友2*/
.inv_top{ height: 40px;background-color: #fff;padding: 10px 15px;}
.inv_top h3{ color: #586068;font-size: 15px;}
.inv_top p{ font-size: 11px;color: #6d7884;}
.inv_top p em{ color: #f64172;}
.inv_title{ height: 38px;line-height: 38px;text-align: left;padding-left: 15px;color: #a4acb7;font-size: 12px;}
.inv_tcenter{ padding: 0px 10px;text-align: center;}
.invc_pspan{ background-color: #fff;border: 1px solid #dadcdd;border-radius: 5px;padding: 5px 10px;}
.invc_pspan p{ height: 25px;line-height: 25px;border-bottom: 1px solid #dadcdd;width: 100%;color: #6d7884;font-size: 11px;}
.invc_pspan p span{ width: 25%;display: inline-block;text-align: center;float: left;}
.p_disnone{ border-bottom: none!important;}
.invc_pspan p span em{color: #f64172;}
.inv_tb20{ margin-bottom: -10px;}
.inv_fbtn{ text-align: center;margin-top: 20px;}
.inv_fbtn a{ border: none;text-align: center;display: inline-block;height: 35px;line-height: 35px;border-radius: 35px;color: #fff;background-color: #f64172;width: 80%;font-size: 15px;}
