@charset "utf-8";
body{ background:#e6eaec; color:#586068; overflow-x:hidden;}
.package-img{ text-align:center; padding-top:30px;}
.package-title{ text-align:center; font-size:17px; padding:10px 0;}
.package-title span{ color:#f64172;}
.package-title span em{ font-size:25px;}
.package-title h3{ font-size:14px; padding-top:20px;}
.package-con{ width:100%; font-size:14px; line-height:22px;}
.package-con th{ width:70px; text-align:right; vertical-align:top; padding-left:12%;}
.package-con td{ padding-right:12%;}
.remarks{ color:#a4acb7;padding:25px 12%;}
.mt20{margin-top:20px;}
.package-btn {  width:82%; margin:20px auto; }
.package-btn a{height:35px; line-height:35px;text-align:center; display:block; background:#f64172; color:#fff; border-radius:17px; font-size:15px; text-decoration:none;}
.package-img-new{ height:300px; position:absolute; top:50%; transform:scaleY(-50%); text-align:center; background:#000;}