@charset "utf-8";
body{ background:#e6eaec;}
.i-top{ max-height:300px;}
.i-list{ background:#fff; border-radius:3px; margin:10px 8px 0; padding:5px 10px; color:#586068;}
.i-list h3{ font-size:15px; border-bottom:1px solid #dadcdd; padding-bottom:3px; margin-bottom:3px;}
.i-list h4{ font-size:12px;}
.i-list dl dt{ width:80%; float:left;}
.i-list dl dd{ float:left; width:20%; text-align:right; padding-top:14px;line-height:normal;}
.i-list dl dd a{ font-size:14px; background:#f64172; color:#fff; text-decoration:none; border-radius:13px; padding:3px 10px; display:inline-block;}
.i-text-tips{margin:10px 8px; color:#abacae;}
.i-text-tips p{ padding:3px 0px;}
