@charset "utf-8";
body {background: #fafafa url(../images/p2p/20180427175311.png) no-repeat top center;}
/* CSS Document */
.p_index .banner_slide {top:-141px;width: 100%; height: 685px; position: relative; background: url(../images/common/loading.gif) no-repeat center center; overflow: hidden; }
.p_index .banner_slide ul.banner_view { position: relative; height: 685px; }
.p_index .banner_slide ul.banner_view li { width: 100%; height: 685px; background-repeat: no-repeat; background-position: center top;background-size: cover; position: absolute; left: 0; top: 0; z-index: 0; display: none; }
.p_index .banner_slide ul.banner_view li a { display: block; height: 100%; width: 100%; }
.p_index .slide_pager { position: absolute; bottom: 15px; left: 50%; z-index: 10; }
.p_index .slide_pager_l { background: url(../images/common/banner_bg.png) no-repeat; width: 12px; float: left; height: 21px; }
.p_index .slide_pager_r { background: url(../images/common/banner_bg.png) no-repeat right top; padding-right: 12px; float: left; height: 21px; }
.p_index .slide_pager_r li { width: 22px; height: 4px; background: #fff; filter: Alpha(Opacity=36); opacity: 0.36; float: left; cursor: pointer; margin: 8px 3px; border-radius: 2px; font-size: 0px; line-height: 0px; }
.p_index .slide_pager_r li.active { background: #fff; filter: Alpha(Opacity=100); opacity: 1; }
.p_index .announcement { height: 48px; line-height: 48px; text-align: center; background: #fff; border-bottom: 1px solid #e0dede; border-top: 1px solid #cccdcf; }
.p_index .deal-data { text-align: center; padding: 25px 0 40px; color: #4e526d; font-size: 14px; }
.p_index .deal-data h2 { font-size: 22px; padding-bottom: 10px; }
.p_index .deal-data span { color: #e8380d; font-weight: bold; }
.p_index .new_announcement{background: #fff;border-bottom: 1px solid #e0dede;border-top: 1px solid #cccdcf;}
.p_index .new_announcement div.nw_cont{padding-top:22px;padding-bottom:22px;padding-left:33px;}
.p_index .new_announcement .inBlock{display: inline-block;*zoom: 1;*display: inline;}
.p_index .new_announcement .cont_total{width:290px;}
.p_index .new_announcement .cont_total_bishu{width:268px;}
.p_index .new_announcement .cont_total_user{width:258px;}
.p_index .new_announcement .cont_total_profit{width:248px;}
.p_index .new_announcement .inBlock div{vertical-align: middle;}
.p_index .new_announcement .mrl56{margin-left:56px;}
.p_index .new_announcement .inBlock span{display:block;}
.p_index .new_announcement .inBlock .new_text{font-size:18px;font-family: 微软雅黑;margin-bottom:4px;}
.p_index .new_announcement .inBlock i{width:46px;height:46px;background-image:url(../images/common/icon_bg.png);background-repeat: no-repeat;float: left; display: block; margin-top:5px;}
.p_index .new_announcement .inBlock i.total{background-position: -98px -147px;}
.p_index .new_announcement .inBlock i.total_bishu{background-position: -186px -147px;}
.p_index .new_announcement .inBlock i.total_user{background-position: -277px -147px;}
.p_index .new_announcement .inBlock i.total_profit{background-position: -361px -147px;}
.p_index .new_announcement .inBlock .f16{font-size: 16px;}
/*newlist*/
.p_index .news_box { width: 365px; float: left; background: #fff; height: 390px; position: relative; border: 1px solid #e0dede; margin-left: -1px; }
.p_index .news_box:first-child { margin: 0; }
.p_index .news_box h2 { height: 54px; line-height: 54px; font-size: 18px; padding: 0 14px 0 18px; color: #5a5a5a; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .news_box .con { padding: 19px; }
.p_index .news_box .new_img, .p_index .news_box .new_img img { width: 328px; height: 192px; }
.p_index .news_box ul { padding-top: 15px; font-size: 14px; line-height: 30px; }
.p_index .news_box ul li { width: 330px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.p_index .news_box ul li a:hover, .p_index .news_box ul li a:hover .new_time { color: #eb421c; }
.p_index .news_box ul li .icon_block { background: #f98f79; width: 5px; height: 5px; vertical-align: middle; display: inline-block; margin-right: 10px; }
.p_index .news_box ul li .new_time { color: #949393; }
.p_index .new_more { width: 30px; height: 30px; background-position: -219px 0px; display: inline-block; float: right; margin-top: 13px; }
.p_index .new_more:hover { background-position: -219px -33px; }
.p_index .new_more:active { background-position: -219px -65px; }
.p_index .news_box ul li a { color: #585757; }

/*滚动new*/
.scroll_new { height: 44px; line-height: 44px; }
.scroll_new li { padding-left: 20px; font-size: 14px; width: 346px; float: left; }
.icon_cup, .icon_horn, .icon_award { background-image: url(../images/common/icon_bg.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle; }
.icon_cup { width: 15px; height: 16px; background-position: -37px -1px; }
.icon_horn { width: 18px; height: 20px; background-position: -74px -1px; }
.icon_award { width: 16px; height: 18px; background-position: -56px -1px; }

/*合作伙伴*/
.p_index .partner { height: 360px; }
.p_index .partner .title { height: 50px; overflow: hidden; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .partner h2 { line-height: 20px; font-size: 18px; padding-left: 20px; margin: 15px 0; }
.p_index .scrollDiv { height: 278px !important; width: 1000px !important; float:none;margin:0px auto 0;top:50px;}
.p_index .left_but, .p_index .right_but, .p_index .left_but:hover, .p_index .left_but:active, .p_index .right_but:hover, .p_index .right_but:active { width: 12px; height: 23px; float: left; background-image: url(../images/common/icon_bg.png); background-repeat: no-repeat; margin-top: 142px; cursor: pointer; }
.p_index .left_but { background-position: -251px 0px; margin-left: 30px; margin-right: 13px; }
.p_index .left_but:hover { background-position: -251px -36px; }
.p_index .left_but:active { background-position: -252px -96px; }
.p_index .right_but { background-position: -281px 0px; margin-left: 2px; }
.p_index .right_but:hover { background-position: -281px -36px; }
.p_index .right_but:active { background-position: -280px -96px; }
.p_index .partner ul { padding-top: 37px; }
.p_index .partner ul li { /*width:998px; height:300px;*/ background: #ffffff; float: left; width: 998px}
.p_index .partner ul li a { width: 205px; height: 68px; display: block; margin: 0 20px 18px; overflow: hidden; border: 1px solid #fff; overflow: hidden; border-radius: 3px;  float: left; }
.p_index .partner ul li a span { border: 1px solid #eaeaea; display: block; text-align: center; border-radius: 2px; width: 203px; height: 66px; cursor: pointer; }
.p_index .partner ul li a:hover { border: 1px solid #fab8ab; }
.p_index .partner ul li a:hover span { border: 1px solid #fab8ab; }
.p_index .partner ul li ul { width: 1176px; }
.p_index .partner .deal_more { margin-top: 0px; }

/*投资步骤*/
.p_index .index_step { background: url(../images/index/step_bg.jpg) no-repeat center; height: 229px; padding-top: 35px; }
.p_index .index_step .reg_btn { width: 183px; height: 41px; display: inline-block; line-height: 41px; text-align: center; color: #fff; font-size: 18px; border: 2px solid #fff; border-radius: 4px; background: #f6917d; margin-top: 25px; text-shadow: 0px 1px 0px #f27862; }
.p_index .index_step .reg_btn:hover { text-decoration: none; }
.p_index .index_step .step_img { height: 121px; }

/*tian +++ 新闻版块css */
.p_index .news_list { font-size: 14px; width: 390px; float: left;  position: relative;  background:none;border: 0;height:auto; }
.p_index .news_list h2 { height: 54px; line-height: 54px; font-size: 18px; padding: 0 14px 0 18px; color: #5a5a5a; border-bottom: 1px solid #e0dede; background: #fcfcfc; }
.p_index .news_list .con { padding: 0; background: #fff;height: 500px; }


.p_index .news_list.hk_news .con { padding-top: 18px; }
.p_index .news_list .new_img img { width: 390px; height: 220px; }

.p_index .news_list .new_img p { position: absolute; bottom: 0; left: 0; height: 34px; line-height: 34px; background: url(../images/index/new_bg.png) repeat-x; color: #FFF; width: 100%; }
.p_index .news_list .new_img p a { color: #FFF; display: block; padding: 0 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list { padding-top: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list li { height: 28px; background: url(../images/p2p/dot.jpg) 0 center  no-repeat; line-height: 28px; margin-bottom: 7px; *margin-bottom: 3px; padding-left: 20px }
.p_index .news_list ul.arc-list li a { width: 210px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_index .news_list ul.arc-list li a, .p_index ul.arc-list li .date { float: left; display: block; }
.p_index .news_list ul.arc-list li span.date { color: #949393; }
.p_index .news_list.mt_news ul.arc-list li span.date, .p_index .news_list.pt_news ul.arc-list li span.date { float: right; }
.p_index .news_list ul.arc-list li a.tit:hover { color: #f75938; text-decoration: underline; }
.p_index .news_list.hk_news ul.arc-list { padding-top: 40px;height:328px; overflow: hidden;margin-bottom: 40px;}
.p_index .news_list.hk_news ul.arc-list li a.tit { width: 100% }
.p_index .news_list .no_data { padding-top: 153px; font-size: 14px; text-align: center; background: url(../images/index/loading.gif) center 95px no-repeat; }
.p_index .news_list .arc-list {padding:40px 35px  10px;}
.p_index .news_list ul.arc-list .first_news{height:50px;line-height: 30px;margin:10px auto 30px;font-size: 18px;background:url(../images/p2p/20180427152940.jpg) -2px -1px no-repeat;;text-indent: 2em;white-space: normal;padding-left:0;}
.p_index .news_list ul.arc-list .first_news a {white-space: normal;width: auto;height:57px;text-overflow:ellipsis;}
.p_index .news_list ul.arc-list li a.tit {width: 210px;}


.p_index .news_list ul.arc-list {white-space:normal;}
.p_index .news_list .see_more ,.ui_product_tab .deal_more a{display: block;width:140px;height: 40px;line-height: 40px;text-align: center;margin:10px auto 15px;border: 1px solid #ccc;border-radius: 0px;font-size: 14px;}
.p_index .news_list .see_more:hover , .ui_product_tab .deal_more a:hover {color:#fb5b41;}
.p_index .news_list.hk_news .con {padding-top:0;}
.p_index .news_list ul.arc-list li span.date{margin-right:0px;}
.p_index .pt_news ul.arc-list {margin-bottom:17px;}

/*首页公共样式*/
.p_index .mr14{margin-right: 14px;}
.p_index .ui_product_tab .con h3 a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 650px; }
.weedialog.commpany-popbox .pop-tit i{margin-right:12px;display: inline-block;width: 38px;height: 38px;background: url(../images/common/th_icon.png);vertical-align: -14px; *vertical-align: -11px;}
/*.weedialog.commpany-popbox .dialog-content{padding: 50px 30px 100px 50px; }*/

/*勋章新手任务进度提示*/
.lay_medal_process{width:108px; height:96px;position: fixed; z-index:22; right:10px; bottom: 208px;background: url(../images/index/medal_pro.png) no-repeat}
.lay_medal_process .pro_circel{width:96px; height:96px;text-align:center }
.lay_medal_process .color_gray{color: #515151}
.lay_medal_process .color_yellow{color: #f75a3a}
.lay_medal_process span.fs{display: block;}
.lay_medal_process a{display: block;width: 100%;height: 100%}
.lay_medal_process .pro_close{position: absolute;right:0px; top: 3px;width: 26px;height: 26px;}
/* 首页智多鑫信息披露入口 */
.p_index .zdxInfo{
    font-size: 14px;
    float: right;
    margin-right: 12px;
    padding-left: 18px;
    background: url("../images/duotou/zdxinfo.jpg") no-repeat 0 16px;
    background-size: 13px auto;
}

/*2018-4-13 普惠改版*/

.w1100 {width:1200px;}
.qiye_gg {height:30px;background-color: #FFFAB1;color:#CD2F2F;text-align: center;line-height:30px;}
.m_header .top {height:auto;background: none;margin-bottom: 15px;}
.m_header .logo_text {color:#949494;margin:30px 0 0 12px;}
.m_header nav li a {color:#fff;}
.m_header nav li.select a {color:#fff;border-bottom:2px solid #fff;}
.m_header .logo{width:135px;height:30px;background-image: url(../images/p2p/phlogo@2x.png);background-position: 0 0px;background-size:cover;}
.m_header .top .public {position: relative;z-index: 2;color:#fff;background:url(../images/p2p/VectorSmartObject@2x.png) no-repeat left center; padding-left:20px;}
.m_header .top .nav li{color:#fff;}
.m_header .top a {color:#fff;}
.m_header .weibo , .m_header .weixin {display: inline-block;width:21px;height: 17px;background: url(../images/p2p/_20180402165319@2x.png) no-repeat;margin: 10px  0 0 -4px;}
.m_header .weixin {background-image:url(../images/p2p/_20180402165314@2x.png) ; }
.m_header .border_l {border-left: 1px solid #fff;}
.m_header .my_account .drop_b a {text-align: center;}
.m_header .my_account {}
.m_header .my_unreg {float: right;margin:22px 0 0 60px;}
.m_header .my_unreg a {display: inline-block;width:103px;height:38px;line-height: 38px;text-align: center;border-radius:30px;border:1px solid #fff;color:#fff;font-size: 14px;}
.m_header .my_unreg .reg_btn {margin-left:25px;background-image:url(../images/p2p/234@2x.png) ;border:0;}
.m_header .my_unreg .reg_btn:hover {background-image:url(../images/p2p/20180427183501_hover.png) ;}
.m_header .my_unreg .login_btn {height:36px;line-height: 36px;width:101px;}
.m_header .my_unreg .login_btn:hover {border-color:#fb5b41;color:#fb5b41;}



.infor_list {height:202px;z-index: 3;padding-top:0px;padding:0 0 0 60px;background: url(../images/p2p/20180426181502.png) no-repeat;}
.infor_list li {float:left;width:192px;line-height:25px;padding-left:92px;background: url(../images/p2p/1.jpg) no-repeat 0px center;margin-top:40px;height:100px;  padding-top:15px;}
.infor_list li:hover {background-image: url(../images/p2p/11.jpg);color:#FB5B41;}
.infor_list li:hover a{color:#FB5B41;}
.infor_list li div {text-align: left;}
.infor_list li h5 {font-size:18px;margin-top:18px;}
.infor_list li h6 {font-size:14px;}
.infor_list .bg2 {background-image: url(../images/p2p/2.jpg); }
.infor_list .bg2:hover {background-image: url(../images/p2p/22.jpg); }
.infor_list .bg3 {background-image: url(../images/p2p/3.jpg); }
.infor_list .bg3:hover {background-image: url(../images/p2p/33.jpg); }
.infor_list .bg4 {background-image: url(../images/p2p/4.jpg); }
.infor_list .bg4:hover {background-image: url(../images/p2p/44.jpg); }

.infor_content ,.infor_inner {width: 216px;height: 313px;padding: 30px 25px 0;float: right;text-align: center;font-size: 14px;color:#fff;position: absolute;right:0;top:50px;border-radius: 5px;}
.infor_content {background: #000;opacity: 0.5;}
.infor_inner{z-index:1;}
.infor_inner dl {margin-bottom:22px;margin-top:5px;}
.infor_inner dd {margin-top: 15px;color:#FE6530;}
.infor_inner dd em{font-size: 24px;font-family: "impact";font-weight: normal;margin-right:3px;letter-spacing: 1px;}
.infor_inner dt span {margin:0 10px;display: inline-block;width:14px;height:21px;background: url(../images/p2p/denghao.png) no-repeat 0 13px;}


.title_type {height:50px;line-height: 44px;font-size: 24px;padding-left:35px;background: url(../images/p2p/898@2x.png) no-repeat 0px center;margin-bottom:25px;}
.title_type h2 ,.title_type h3{background: url(../images/p2p/productrecommendation@2x.png) no-repeat 115px center;}

.title_type .mtbd{background: url(../images/p2p/mediareport@2x.png) no-repeat 115px center;}
.title_type .ptgg {background: url(../images/p2p/ANNOUNCEMENT@2x.png) no-repeat 115px center;}
.title_type .hkgg{background: url(../images/p2p/Repaymentannouncement@2x.png) no-repeat 115px center;}

.pro_con ,.main_part2 ,.p_index .news_list .con ,#focus > .clearfix{background: #fff;box-shadow: 0 5px 20px #f6f6f6;}
.pro_con  {height:351px;}
.pro_con_list {width:265px;height:300px;padding:35px 20px 20px 20px;color:#333;font-size: 14px;}
.pro_con_list h3 {font-size:20px;text-align: center;line-height: 30px;margin-bottom:30px;font-family: "黑体";}
.pro_con_list h3 em {display: block;width:58px;height:18px;line-height: 18px;text-align: center;margin:5px auto; border:1px solid #FFE29C;border-radius: 5px;color:#FFC526;font-size: 12px;}
.pro_con_list dl {font-size: 30px;text-align: center;color:#FB563F;}
.pro_con_list dl .pro_mt {margin:25px 0 5px;}
.pro_con_list dt {font-size: 28px;text-shadow: 0px 3px 3px #fdcec7;font-family:"arial";}
.pro_con_list dt ins {font-size: 18px;margin:0 2px;}
.pro_con_list dd {font-size: 14px;color:#010101;}
.pro_con_list .color_gray ,.pro_con_list dd i{color:#828282;}
.pro_con_list h4 a {display: block;margin:17px auto;width: 132px;height:54px;line-height: 43px;text-align: center;color:#E73F3F;font-size: 14px;background: url(../images/p2p/892@2x.png) no-repeat 0 0;color:#fff;}
.pro_con_list h4 a:hover {background-image:url(../images/p2p/20180427183719_hover2.png);}



.pro_con .pro_bg {background: url(../images/p2p/20180426110153.jpg) no-repeat 0 0;color:#fff;box-shadow: 8px 9px 26px #fdaa9a ;width: 241px;height:291px;padding:40px 0px 20px 0px;}
.pro_con .pro_bg dt {color:#Fef393;font-size: 60px;text-shadow: 0px 10px 10px #b1261c;font-family: "arial";}
.pro_con .pro_bg dd {color:#fff;}
.pro_con .pro_bg h3 {margin-bottom: 10px;}
.pro_con .pro_bg h4 a {display: block;margin:30px auto;width: 240px;height:70px;line-height: 56px;text-align: center;color:#E73F3F;font-size: 19px;background: url(../images/p2p/20180426105927.png) no-repeat;font-weight: bold;}
.pro_con .pro_bg h4 a:hover {color:#fe7748;}
.pro_con .pro_bg .pro_bg_in {}
.pro_con .pro_bg .pro_bg_in i {font-size:36px;}

.main_part2 {padding:1px 0 20px;background: #fff;}
.main_part2 .nav_menu {width:366px;margin: 50px auto 30px;}
.main_part2 .nav_menu li {cursor:pointer;float:left;color:#333;font-size:18px;height:35px;line-height:35px;width: 180px;text-align: center;}
.main_part2 .nav_menu .current {color:#FB5E48;}
.main_part2 .ui_product_tab .p2p_product:first-child {background: none;}
.ui_product_tab .deal_more {line-height: 100px;color:#999;font-size:16px;border:0;border-radius: 0;}



.none {display:none;}
.slideDiv{ position:relative;}

#focus .imgNum{
position:absolute;
bottom:35px;
left:470px;
list-style-type:none;
margin:0px;
}
#focus .imgNum li {

float:left;
margin-right:5px;
width: 12px;
height:12px;
text-decoration:none;
cursor: pointer;
background:url(../images/p2p/quan2.png) no-repeat;
}
#focus .imgNum .active{
background:url(../images/p2p/quan.png) no-repeat;
}
#focus .imgNum  .active,#focus .imgNum .active a{
cursor: default;
}

/*
.ui_product_tab .con_l em, .ui_product_tab .con_l i {font-size: 40px;text-shadow: 2px 1px 4px #FB563F;font-weight: normal;}
.ui_product_tab .con_l em {font-size: 18px;}
.ui_product_tab .con_l em i {font-size: 40px;}
*/

.btn_yuyue, .btn_touzi, .btn_manbiao {background-image:url(../images/p2p/icon_bg.png);font-size:14px;width:111px;height:48px;line-height:37px;text-align:left;text-indent: 40px;}

.m_header nav li a {padding-left:0;padding-right:0;}
.m_header nav li a:hover {color:#fff;border-bottom:2px solid #fff;}
.m_header nav li {padding-right:10px;}
.m_header .top {border-bottom:0;}
.m_header {border-bottom:0;}

.know_more a {display: block;width:130px;height:40px;border-radius:30px;line-height: 40px;font-size:14px; color:#fff;text-align: center;position: absolute;left:62px;top:334px;border:1px solid #fff;}
.know_more a:hover {border-color:#fb5b41;color:#fb5b41;}



.menu_fixed {position: fixed;z-index:99;top:0;background: #fff;color:#000!important;border-bottom:1px solid #ddd;padding-top:10px;animation: myfirst 0.5s;}
.menu_fixed nav li.select a, .menu_fixed nav li a{color:#000;border-color: #ec6234;}
.menu_fixed nav li.select a:hover, .menu_fixed nav li a:hover{color:#ec6234;border-color: #ec6234;}
.menu_fixed .logo {background-image:url(../images/p2p/20180426184952.png);}
.menu_fixed .my_unreg a {border:1px solid #787878;color:#000;}
.menu_fixed .my_unreg .reg_btn {color:#fff;}



.ui_product_tab .p2p_product .con_l {padding:0 0 20px 80px;}
.ui_product_tab .con_l em, .ui_product_tab .con_l i {font-size: 36px;font-family: "arial";font-weight: normal;text-shadow:0px 3px 3px #fdcec7;}



.ui_product_tab .con_l em {font-size:18px;font-family: "微软雅黑"}
.ui_product_tab .con_l ins {color:#f75938;font-size: 24px;margin-left:-9px;}
.ui_product_tab .p2p_product .con_l p {height:45px;line-height: 45px;margin:10px 0 15px;color:#010101;}
.ui_product_tab .p2p_product .bg_whtie {height:auto;}
.ui_product_tab .con_l  .pl5 {font-size:14px;color:#000;margin-left:0;}
.ui_product_tab .p2p_product .product_btn {margin-top:48px;margin-right:40px;}

.ui_product_tab .con_l h3 {padding-top:30px;}
.ui_product_tab .progress .ico_bace{background:#eeeeee;border:none;}
.ui_product_tab .progress .ico_yitou{height:5px;background:#fb563f;}
.ui_product_tab .progress {top:-2px;}

.ui_product_tab_dt .progress_rate i {font-size:14px;color:#474646;}
.ui_product_tab_dt .con_l ins {margin-left:0;}
.ui_product_tab_dt .progress_rate i,.ui_product_tab_dt .progress_rate em {text-shadow:0 0 0;}

.m_header .my_account a {width:130px;height:40px;line-height: 40px;text-align: center;color:#fff;background: url(../images/p2p/20180426150849.png) no-repeat;}

.p_index .news_list .new_img {width: auto;}

.m_footer {height:300px;}
.m_footer {background-image: url(../images/p2p/20180427174250.jpg);}
.m_footer .logo {background-image: url(../images/p2p/20180427174306.png);}
.m_footer .f_center .pb10 {margin-bottom: 20px;color:#d0d2d4;}

.app_down_ma,.gongzhonghao {width:108px;height:108px;background: url(../images/p2p/app.png) no-repeat;position: absolute;top:23px;left:17px;}
.gongzhonghao {background-image: url(../images/p2p/wx.png);left:-30px;}
#app_down_ma {position: relative;}
#app_down_ma:hover a {text-decoration: none;}
.m_footer>.clearfix {padding-top:0;}
.m_footer .copyright {border-top:0;font-size:12px;}
.m_footer .copyright .pt20 {font-size:12px;margin-bottom:0;color:#999;}

.qiye_gg .fr {display: block;width:22px;height:22px;background: url(../images/p2p/close.png) no-repeat;margin-top:4px;}
.isNewUser_11626.firstp2p { width: 115px;height: 97px;position: fixed;bottom: 100px;right: 10px; background: url(../images/common/isNewUser_p2p.png) no-repeat;}

@keyframes myfirst
{
from {height:0;}
to {height:90px;}
}