@CHARSET "UTF-8";
/* 公共样式 */
body{margin:0px; padding:0px; background-color:#51607b; color:#FFF;}
.wrap{width:800px; height:200px; margin:100px auto; padding:50px 0px; line-height:30px;}
.left{float:left; padding:10px 30px; border-right:1px solid #999; height:100%;}
.left .title{font-size:30px; font-weight:800; line-height:150px; letter-spacing:5px;}
.right{float:left; padding:10px 30px;}

input{padding:5px; margin:5px 0px; border:1px solid #FFF; border-radius:3px;}

#login_msg{height:20px; color:#ff7b00; line-height:20px; font-weight:bold; font-size:14px;}

#verify{ cursor:pointer;}

.submit{ cursor:pointer; padding:5px 10px; background-color:#465369; font-size:16px; border:1px solid #FFF; border-radius:3px;}
.submit:hover{background-color:#292f42;}
