body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;font-family:Microsoft YaHei;-webkit-tap-highlight-color: rgba(0,0,0,0);}

body{background:#efeff4;}
a{text-decoration:none;}
input{outline:none; -webkit-appearance:none;}

.ui_title{ height:45px; text-align:center; font-size:18px; line-height:45px; background:#f9f9f9; position:relative;border-bottom:1px #d9d9d9 solid;}
.ui_title a{ color:#41474d;}
.ui_title .ui_back{ position:absolute; left:10px; font-size:14px;}
.ui_icon_back{ background:url(../images/yeepay/back.png) no-repeat; width:9px; height:20px; display:inline-block; background-size:9px 17px; margin:0 5px 0 0px; vertical-align:middle;}
.ui_charge_record{ float: right; display: inline-block;  color: #5c5c5c; font-size: 14px;position: absolute; right: 8px;}
.ui_charge_mark{ width: 14px; height: 14px; line-height: 14px; border:1px #5e5e5e solid; border-radius: 7px; display: inline-block;margin-left: 5px;font-size: 12px;}
.p_account_suc .middle_main{margin:17px 20px 17px 20px;overflow:hidden;}
.p_account_suc .middle{background:#fff;border-radius:5px;}
.p_account_suc .middle_top{margin:0 13px;border-bottom:1px #d9d9d9 solid;}
.p_account_suc .middle_top_text{display:block;font-size:13px;color:#909090;text-align:center;height:35px;line-height:35px;padding-top:10px;}
.p_account_suc .middle_top_num{display:block;font-size:26px;color:#EE4634;text-align:center;height:45px;line-height:45px;padding-bottom:10px;}
.p_account_suc .middle_bottom li{font-size:13px;color:#909090;text-align:center;list-style-type:none;height:35px;line-height:35px;}
.p_account_suc .test_suc_but{padding:17px 13px 0px 13px;}
.p_account_suc .test_suc_but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
/* 开户成功 */
.p_account_suc .middle_main{margin:17px 20px 17px 20px;overflow:hidden;}
.p_account_suc .middle{background:#fff;border-radius:5px;}
.p_account_suc .middle_top{margin:0 13px;border-bottom:1px #d9d9d9 solid;}
.p_account_suc .middle_top_text{display:block;font-size:13px;color:#909090;text-align:center;height:35px;line-height:35px;padding-top:10px;}
.p_account_suc .middle_top_num{display:block;font-size:26px;color:#EE4634;text-align:center;height:45px;line-height:45px;padding-bottom:10px;}
.p_account_suc .middle_bottom li{font-size:13px;color:#909090;text-align:center;list-style-type:none;height:35px;line-height:35px;}
.p_account_suc .test_suc_but{padding:17px 13px 0px 13px;}
.p_account_suc .test_suc_but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
/* 短信验证 */
.p_tel_test .telephone{border-top:1px #d9d9d9 solid;margin-top:34px;padding-left:13px;border-bottom:1px #d9d9d9 solid;background:#fff;}
.p_tel_test .tel{height:38px;line-height:38px;width:100%;display:-webkit-box;border-bottom:1px #d9d9d9 solid;}
.p_tel_test .tel_unborder{border-bottom:none;}
.p_tel_test .tel span{font-size:14px;color:#000000;display:inline-block;width:58px;}
.p_tel_test .tel_input{padding-left:10px;width:100%;display:block;-webkit-box-flex:1;border:none;font-size:13px;color:#d9d9d9;height:20px;line-height:normal;outline:none; margin:9px 0;}
.p_tel_test .test_code{height:38px;line-height:38px;font-size:13px;margin-right:23px;width:70px;border:none;background:#fff;color:#ee4634;outline:none;}
.p_tel_test .but{padding:17px 13px 0px 13px;}
.p_tel_test .but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
/* 新绑卡未输入 */
.p_new_unimport .information{background:#fff;overflow:hidden;margin-top:17px;border-top:1px #d9d9d9 solid;border-bottom:1px #d9d9d9 solid;padding-left:13px;}
.p_new_unimport .inf{height:38px;line-height:38px;width:100%;display:-webkit-box;border-bottom:1px #d9d9d9 solid;}
.p_new_unimport .inf_unborder{border-bottom:none;}
.p_new_unimport .inf span{font-size:14px;color:#000000;display:inline-block;width:58px;}
.p_new_unimport .inf input{padding-left:20px;width:100%;display:block;-webkit-box-flex:1;border:none;font-size:14px;color:#000;height:38px;line-height:38px;outline:none;}
.p_new_unimport .but{padding:17px 13px 0px 13px;}
.p_new_unimport .but input[disabled=disabled]{background:#d9d9d9;}
.p_new_unimport .but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
.p_new_unimport .list_text{height:38px;line-height:38px;width:100%;font-size:14px;}
.p_new_unimport .list_text i{font-style:normal;font-size:13px;float:right;background:url(../images/yeepay/point.png) no-repeat right center;background-size:auto 10px;display:inline-block;margin-right:25px;padding-right:13px;}
.p_new_unimport .holder{color:#d9d9d9;}
/* 开户成功 */
.p_test_succeed .test_suc{height:60px;background:url(../images/yeepay/succeed.png) no-repeat 30px center;background-color:#fff;background-size:32px 32px;padding-left:75px;}
.p_test_succeed .test_suc_text{display:block;color:#EE4634;font-size:15px;height:30px;line-height:30px;}
.p_test_succeed .test_suc_money{display:block;margin-top:4px;color:#909090;font-size:11px;height:15px;line-height:15px;}
.p_test_succeed .middle_main{margin:17px 20px;}
.p_test_succeed .middle{background:#fff;border-radius:5px;}
.p_test_succeed .middle_top{margin:0 13px;border-bottom:1px #d9d9d9 solid;}
.p_test_succeed .middle_top_text{display:block;font-size:13px;color:#909090;text-align:center;height:35px;line-height:35px;padding-top:10px;}
.p_test_succeed .middle_top_num{display:block;font-size:26px;color:#EE4634;text-align:center;height:45px;line-height:45px;padding-bottom:10px;}
.p_test_succeed .middle_bottom li{font-size:13px;color:#909090;text-align:center;list-style-type:none;height:35px;line-height:35px;}
.p_test_succeed .test_suc_but{padding:17px 13px 0px 13px;}
.p_test_succeed .test_suc_but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
.p_test_succeed .test_suc_but input[disabled=disabled]{background:#d9d9d9;}
/* 充值成功 */
.p_charge_succeed .picture{text-align:center;margin-top:25%;}
.p_charge_succeed img{width:33%;}
.p_charge_succeed .text{font-size:17px;color:#ee4634;text-align:center;margin:38px 5%;}
.p_charge_succeed .but{padding:17px 96px;}
.p_charge_succeed .but a{display:block; width:100%;border:none;color:#fff;height:34px; line-height:34px; background:#ee4634;border-radius:5px;font-size:14px; text-align:center;}
.p_tel_test .telephone{border-top:1px #d9d9d9 solid;margin-top:17px;padding-left:13px;border-bottom:1px #d9d9d9 solid;background:#fff;}
.p_tel_test .tel{height:38px;line-height:38px;width:100%;display:-webkit-box;border-bottom:1px #d9d9d9 solid;}
.p_tel_test .tel_unborder{border-bottom:none;}
.p_tel_test .tel span{font-size:14px;color:#000000;display:inline-block;width:58px;}
.p_tel_test .tel_input{padding-left:10px;width:100%;display:block;-webkit-box-flex:1;border:none;font-size:13px;color:#000;height:20px;line-height:normal;outline:none; margin:9px 0;}
.p_tel_test .test_code{height:38px;line-height:38px;font-size:13px;margin-right:23px;width:80px;border:none;background:#fff;color:#ee4634;outline:none; display:block; -webkit-appearance:none;}
.p_tel_test .test_code.btn_disable{color:#666;}
.p_tel_test .but{padding:17px 13px 0px 13px;}
.p_tel_test .but input[disabled=disabled]{background:#d9d9d9;}
.p_tel_test .but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
.p_new_unimport .information{background:#fff;overflow:hidden;margin-top:17px;border-top:1px #d9d9d9 solid;border-bottom:1px #d9d9d9 solid;padding-left:13px;}
.p_new_unimport .inf{height:38px;line-height:38px;width:100%;display:-webkit-box;border-bottom:1px #d9d9d9 solid;}
.p_new_unimport .inf_unborder{border-bottom:none;}
.p_new_unimport .inf span{font-size:14px;color:#000000;display:inline-block;width:58px;}
.p_new_unimport .inf input{padding-left:20px;width:100%;display:block;-webkit-box-flex:1;border:none;font-size:14px;color:#000;height:20px;line-height:normal;outline:none; margin:9px 0;}
.p_new_unimport .but{padding:17px 13px 0px 13px;}
.p_new_unimport .but input[disabled=disabled]{background:#d9d9d9;}
.p_new_unimport .but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}
.p_new_unimport .list_text{height:38px;line-height:38px;width:100%;font-size:14px;}
.p_new_unimport .list_text i{font-style:normal;font-size:13px;float:right;background:url(../images/yeepay/point.png) no-repeat right center;background-size:auto 10px;display:inline-block;margin-right:25px;padding-right:13px;}
.p_new_unimport .holder{color:#d9d9d9;}
.p_test_succeed .test_suc{height:52px;line-height:52px;background:url(../images/yeepay/succeed.png) no-repeat 20px center #fff;background-size:32px 32px;padding-left:65px;border-bottom:1px #d9d9d9 solid;}
.p_test_succeed .test_suc_text{display:block;color:#EE4634;font-size:15px;height:30px;line-height:30px;}
.p_test_succeed .test_suc_money{display:block;margin-top:4px;color:#909090;font-size:11px;height:15px;line-height:15px;}
.p_test_succeed .middle_main{margin:17px 20px;}
.p_test_succeed .middle{background:#fff;border-radius:5px;border:1px #d9d9d9 solid;}
.p_test_succeed .middle_top{margin:0 13px;border-bottom:1px #d9d9d9 solid;}
.p_test_succeed .middle_top_text{display:block;font-size:13px;color:#909090;text-align:center;height:35px;line-height:35px;padding-top:10px;}
.p_test_succeed .middle_top_num{display:block;font-size:26px;color:#EE4634;text-align:center;height:45px;line-height:45px;padding-bottom:10px;}
.p_test_succeed .middle_bottom li{font-size:13px;color:#909090;text-align:center;list-style-type:none;height:35px;line-height:35px;}
.p_test_succeed .test_suc_but{padding:17px 13px 0px 13px;}
.p_test_succeed .test_suc_but input{width:100%;border:none;color:#fff;height:34px;background:#ee4634;border-radius:5px;}


/*银行列表*/
.p_bank_list{position:fixed; left:0; top:0; width:100%; height:100%; background-color:#fff; -webkit-transform:translateX(100%); -webkit-transition:all 0.5s linear; display:-webkit-box; -webkit-box-orient:vertical;}
.p_bank_list.p_show{-webkit-transform:translateX(0); transform:translateX(0);}
.p_bank_list .panel_bd{-webkit-box-flex:1; overflow:hidden;}
.p_bank_list .bank_item{padding-left:15px;color:#000;font-size:12px;height:34px;line-height:34px;width:100%;border-bottom:1px #d9d9d9 solid;}