.p_setEmail .ui_title,.p_modifyEmail .ui_title{font-size:17px;font-family:"微软雅黑";}

/*没有填写邮箱的用户 设置电子邮箱*/
.p_setEmail .cont{display: -webkit-box;display: -moz-box;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9;padding:8px 15px 8px 15px;background-color:#fff;}
.p_setEmail .cont span{height:28px;line-height:28px;display: -webkit-box;display: -moz-box;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:16px;}
.p_setEmail .js_email{display: -webkit-box;display: -moz-box;-webkit-box-flex:7;-moz-box-flex:7;box-flex:7;height:28px;line-height:28px;font-size:15px;}
.p_setEmail p{color:#909090;font-size:12px;text-align:center;}
.p_setEmail .btn_cont{padding:29px 15px 18px 15px;}
.p_setEmail .btn{background:#ee4634;color:#ffffff;font-size:16px;color:#ffffff;text-align:center;width:100%;line-height:38px;height:38px;border-radius:3px;}
.p_setEmail .mr14{margin-right:14px;}
.p_setEmail .mrt12{margin-top:12px;}
.p_setEmail input[type=submit][disabled=disabled]{background:#d9d9d9;color:#ffffff;}
.p_setEmail input::-webkit-input-placeholder{color:#909090;font-size:15px;}
.p_setEmail input:-moz-placeholder{color:#909090;font-size:15px;}
.p_setEmail input::-moz-placeholder{color:#909090;font-size:15px;}
.p_setEmail input:-ms-input-placeholder{color:#909090;font-size:15px;}

/*更换邮箱*/
.p_modifyEmail .textMes{padding:15px 0px 8px 15px;color:#909090;font-size:13px;}
.p_modifyEmail .cont{display: -webkit-box;display: -moz-box;border-bottom:solid 1px #d9d9d9;padding:8px 15px 8px 15px;background-color:#fff;}
.p_modifyEmail .box{background: #fff;padding-left: 15px;}
.p_modifyEmail .mt19{margin-top:19px;}
.p_modifyEmail .cont:last-child{border-bottom: none;}
.p_modifyEmail .cont span{height:28px;line-height:28px;font-size:16px;}
.p_modifyEmail .js_email,.js_psd{-webkit-box-flex:1;height:28px;line-height:28px;font-size:15px;}
.p_modifyEmail .btn_cont{padding:20px 15px 18px 15px;}
.p_modifyEmail .btn{background:#ee4634;font-size:16px;color:#ffffff;text-align:center;width:100%;line-height:39px;height:39px;border-radius:3px;}
.p_modifyEmail .mr14{margin-right:14px;}
.p_modifyEmail input[type=submit][disabled=disabled]{background:#d9d9d9;color:#ffffff;}
.p_modifyEmail input::-webkit-input-placeholder{color:#909090;font-size:15px;}
.p_modifyEmail input:-moz-placeholder{color:#909090;font-size:15px;}
.p_modifyEmail input::-moz-placeholder{color:#909090;font-size:15px;}
.p_modifyEmail input:-ms-input-placeholder{color:#909090;font-size:15px;}

/*设置*/
.p_setUp .box{background:#fff;border-top:1px solid #d9d9d9;margin-bottom:10px;margin-top:10px;}
.p_setUp .box p{height:44px;border-bottom:1px solid #d9d9d9;line-height:44px;padding:0 10px;font-size:15px;}
.p_setUp .clearfix{display:block;}

/*已有邮箱更换*/
.p_haveEmail .inv-fbtn{text-align:center;width:100%;height:47px;padding-top:8px;margin-top:12px;}
.p_haveEmail .ui_red_btn{height:38px;line-height:38px;background:#ee4634;display:block;margin:0 15px;border:0;border-radius:3px;font-size:17px;color:#fff;text-align:center;}
.p_haveEmail .haveE{background-color:#fff;text-align:center;padding:34px 5px 8px 5px;border-bottom:1px solid #d9d9d9;}
.p_haveEmail .e_tips{color:#909090;margin-top:12px;}
.p_haveEmail .f18{font-size:18px;word-wrap:break-word;}
.p_haveEmail .b_text{margin-top:13px;font-size:13px;color:#909090;}