
.p_deal_investment{ min-width: 320px;font-family: "微软雅黑";font-size: 12px;background-color: #f2f2f2;height: 100%;}
.dit_title{ height: 35px;color: #999;padding: 10px 15px;background-color: #fff;}
.dit_money{ background-color: #0099ff;padding: 10px 15px;color: #fff;font-size: 14px;}
.dit_money .ditm_top span{ margin-left: 5px;font-size: 11px;}
.ditm_line{ margin-top: -5px;}
.ditm_line .ditm_right{ float: right;width: 60px;text-align: right;}
.ditm_line .ditm_left{ margin-right: 60px;height: 30px;margin-left: -5px;}
.ditm_right a{ display: inline-block;background-color: #ff9900;color: #fff;font-size: 14px;text-align: center;width: 50px;height: 30px;line-height: 28px;border-radius: 5px;}
.ditm_left p{ border-bottom: 1px solid #59bdff;height: 1px;padding-top: 14px;}
.dit_list{ font-size: 12px;}
.dit_list p i{ color: #00ffff;margin-left: 3px;}
/*键盘输入框*/
.dit_txt{ background-color: #ffffff;border-radius: 5px;height: 38px;line-height: 36px;margin-top: 10px;}
.key_text{ float: right;}
.key_input{ float: left;margin-top: 0px;}
.dit_yq{ font-size: 11px;color: #ccc;}
.key_text .dit_all a{ color: #0099ff;display: inline-block;width: 50px;height: 36px;text-align: center;}
.dit_footer{ background-color: #fff;margin-top: 18px;border-top: 1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;padding-left: 15px; }
.ditf_list{ height: 40px;line-height: 40px;border-bottom:1px solid #e4e4e4;}
.disn_border{ border-bottom: 0px;}
.ditf_list a{ color: #666;}
.ditf_list a span{ color: #ccc;}
.ditf_list a span i{ color: #999;margin-left: 10px;margin-right: 15px;}
.ditf_list a span em{ color: #00afff;margin-left: 5px;}
.dit_btn{padding:15px 15px 0px;}
.sub_btn{border:0px;width: 100%;text-align: center;height: 40px;line-height: 40px;color: #fff;font-size: 14px;border-radius: 10px;}
.sub_gay{background-color: #cccccc;}
.sub_blue{ background-color: #0099ff;}
.dit_help{ padding:15px;color: #999999;}
.dit_help i{ font-weight: bold;width: 20px;font-size: 14px;height: 20px;background-color: #929292;color: #f1f1f1;display: inline-block;text-align: center;border-radius: 20px;margin-right: 5px;}

.btn_key{ color: #000!important;font-size: 13px;}