{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/contact_ir.css?v=123');?>"/>
<div class="contact_ir">
  <div class="bg1">
    CONTACT INVESTOR RELATIONS
    <img src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle1.png');?>" class="img_trangle"/>
  </div>
  <div class="wx_timeline">
    <img src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle2.png');?>" class="img_trangle2"/>
    <div class="contact_ir_lists">
      <div class="each_contact_ir">
        <p class="title">Li Wei</p>
        <p class="line"></p>
        <div class="position_description">
          <p>Chief Financial Officer</p>
          <p>NCF Wealth Holdings Limited</p>
          <p>Email: [To be inserted]</p>
          <p>Phone: [To be inserted]</p>
        </div>
      </div>

      <div class="each_contact_ir">
        <p class="title">Jack Wang</p>
        <p class="line"></p>
        <div class="position_description">
          <p>ICR, Inc.</p>
          <p>Email: NCF.IR@icrinc.com</p>
          <p>Phone: +1 (646) 308-0546</p>
          <p>For media inquiries, please contact:</p>
        </div>
      </div>

      <div class="each_contact_ir">
        <p class="title">Company PR Contact Person Name</p>
        <p class="line"></p>
        <div class="position_description">
          <p>NCF Wealth Holdings Limited</p>
          <p>Email: [To be inserted]</p>
          <p>Phone: [To be inserted]</p>
        </div>
      </div>

      <div class="each_contact_ir">
        <p class="title">Rose Zu</p>
        <p class="line"></p>
        <div class="position_description">
          <p>ICR, Inc.</p>
          <p>Email: NCF.PR@icrinc.com</p>
          <p>Phone: +1 (646) 308-1342</p>
        </div>
      </div>

    </div>
  </div>
</div>
{include file="web/views/v3/en/footer.html"}

</html>