{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/core_business.css');?>"/>
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/core_business_pc.css');?>" media="screen and (min-width: 1200px)"/>
    <div class="core_business">
        <div class="bg1">CORE BUSINESS<img class="trangle1" src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle1.png');?>" alt="CORE BUSINESS-NCF Wealth" title="CORE BUSINESS-NCF Wealth"></div>
        <div class="core_content">
          <img class="trangle2" src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle2.png');?>" alt="CORE BUSINESS-NCF Wealth" title="CORE BUSINESS-NCF Wealth">
          <!-- <div class="core_title">{$article.title}</div>
          <div class="title_line"></div>
          <div class="top_detail">{$article.update_time}</div>
          <div class="detail_content">{$article.content}</div> -->

          <div class="core_title">Financial Technology Output</div>
          <div class="title_line"></div>
          <p class="top_detail">Through exploring and applying cutting-edge technologies, NCF Wealth establishes a crossover algorithm for multi-dimensional data, verifies and optimizes risk control modeling, builds an Internet technology innovation platform, and forms a comprehensive, efficient, open, intelligent and shared financial technology ecosystem, which helps share our leading financial technology capabilities, operational capabilities, service capabilities, and platform capabilities. </p>
          
          <ul class="core_ul">
              <li class="core_list1">
                  <div class="btn">Intelligent Experience</div>
                  <div class="title_line line2"></div>
                  <img src="<?php echo $this->asset->makeUrl('v3/images/en/core_business/li1.jpg');?>" alt="Intelligent Experience" title="Intelligent Experience"/>
              </li>
              <li class="core_list2">
                <div class="btn">Intelligent Strategy</div>
                <div class="title_line line2"></div>
                <img alt="Intelligent Strategy" title="Intelligent Strategy" src="<?php echo $this->asset->makeUrl('v3/images/en/core_business/li2.jpg');?>"/>
              </li>
              <li class="core_list3">
                <div class="btn">Intelligent Risk Control</div>
                <div class="title_line line2"></div>
                <img class="li3" alt="Intelligent Risk Control" title="Intelligent Risk Control" src="<?php echo $this->asset->makeUrl('v3/images/en/core_business/li3.jpg');?>"/>
                <img class="li3_h5" alt="Intelligent Risk Control" title="Intelligent Risk Control" src="<?php echo $this->asset->makeUrl('v3/images/en/core_business/li3_h5.jpg');?>"/>
              </li>
          </ul>
          <div class="text1">
            <div class="core_title">Comprehensive Financial Information Service</div>
            <div class="title_line line1"></div>
            <p class="top_detail mb1">The internet technology innovation platform provides a unified entrance for the first-rate services of different financial and non-financial institutions, creating a comprehensive and diversified investment and financing information service platform that will provide users with comprehensive, personalized, one-stop financial and other comprehensive information service.</p>
          </div>
          <div class="text2">
            <div class="core_title">Financing Service</div>
            <div class="title_line line2"></div>
            <p class="top_detail mb1">Provide financing services for micro, small and medium-sized enterprises, individual businesses, self-employed people, etc., lower financing costs and thresholds, improve financing efficiency, serve the real economy, and promote inclusive finance.</p>
          </div>
          <div class="text3">
            <div class="core_title">Operation Capacity Output</div>
            <div class="title_line line3"></div>
            <p class="top_detail mb1">Relying on the experience of NCF Wealth and its parent Group in traditional and internet finance, in addition to a deep understanding of the industry and strong data capabilities, we will promote changes of the industry by providing multidimensional enhancements such as operation management and talent training to emerging institutions. </p>
          </div>
        </div>
{include file="web/views/v3/en/footer.html"}
<script>
    var flag = IsPC(); 
    if(flag){//pc
        var core_ul_top = $(".core_ul").offset().top;
        var core_ul_height = $(".core_ul").height();
        var text1_top = $(".text1").offset().top;
        var text1_height = $(".text1").height();
        var text2_top = $(".text2").offset().top;
        var text2_height = $(".text2").height();
        var text3_top = $(".text3").offset().top;
        var text3_height = $(".text3").height();
        $(window).scroll(function(){
            var this_scrollTop = $(this).scrollTop();
            if(this_scrollTop > core_ul_top - core_ul_height+400){
              $(".core_list3").animate({marginTop:"0px"},1000,'swing');
            }
            
        });
    }
</script>
</html>