<div class="slide6">
    <div class="index_footer">
        <img class="footer_logo" src="<?php echo $this->asset->makeUrl('v3/images/en/index/footer_logo.png');?>" alt="NCF Wealth" title="NCF Wealth" />
        <div class="footer_title">CONTACT</div>
        <p>Office Address: Tower A, WangXin Building, 28 Xiaoyun Rd, Chaoyang District, Beijing</p>
        <p>Service Email:   service@ncfwx.com</p>
        <p>Hotline:   95782</p>
    </div>
    <p class="beian">© 2019 网信 All rights reserved 京ICP备16034138号-3 | 京ICP证140628号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033551">京公网安备 11010502033551号</a></p>
</div>
</div>
</div>
</body>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/en/jquery-1.10.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/en/common.js');?>"></script>