<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="xovF-ZDqpE-FzhVsIn68WQiPkZS2efwj8y0THL1XAQY" />
    <meta name="keywords" content="NCF, NCF Wealth, P2P, Online Loan, Internet Wealth Management, Transaction Platform, Fin-tech Ecosystem, Consumption Credit, Supply Chain Finance, Financing Service, Financial Technology Output, Cloud Computing, Big Data, Block Chain, Artificial Intelligence, Life Service, Intelligent Marketing">
    <meta name="description" content="NCF Wealth as an open Fin-tech ecosystem provides one-stop comprehensive financial information services for users and online user access for financial institutions; it outputs Fin-tech and realizes the sharing mode of financial services of the Internet.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="xovF-ZDqpE-FzhVsIn68WQiPkZS2efwj8y0THL1XAQY" />
    <link rel="shortcut icon" href="https://assets.ncfwx.com/skins/default/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/en_common.css?v=9');?>" />
    <link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/en_common_pc.css');?>" media="screen and (min-width: 1200px)"/>
    <link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/swiper.min.css');?>" />
    <title>
        {if !$title}
        NCF Wealth, Open FinTech Ecosystem -NCF Wealth
        {else}
        {$title}-NCF Wealth
        {/if}
    </title>
</head>

<body>
    <!-- 诸葛统计 -->
    {include file="web/views/v3/zhugemaidian.html"}
    <div class="p_ensite">
        <div class="top_head">
            <div class="header">
                <div class="header_content">
                    <a href="/"><img class="logo" alt="NCF Wealth" title="NCF Wealth" src="<?php echo $this->asset->makeUrl('v3/images/en/index/logo.png');?>" /></a>
                    <ul class="nav_ul">
                        <li class="nav-item" data-url="/"><a href="/">HOME</a></li>
                        <li class="nav-item show_more" data-url="/aboutNcf">ABOUT NCF
                            <div class="member" style="display: none;">
                                <div class="square"></div>
                                <ul class="select">
                                    <li>
                                        <a href="/companyProfile">
                                            <span>Company Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/financeProcess">
                                            <span>Financing Process</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ServiceGroups">
                                            <span>Service Groups</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/historyTimeline">
                                            <span>Milestone</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/honor">
                                            <span>Awards</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/socialResponse">
                                            <span>Social Responsibility</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item show_more li2" data-url="/core">BUSINESS
                            <div class="member" style="display: none;">
                                <div class="square"></div>
                                <ul class="select">
                                    <li>
                                        <a href="/coreBusiness">
                                            <span>Core Business</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/riskControl">
                                            <span>Risk Control System</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/competitiveAdvantages">
                                            <span>Competitive Advantage</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" data-url="/mediaCoverage"><a href="/mediaCoverage">NEWS</a></li>
                        <li class="nav-item" data-url="/contactUs"><a href="/contactUs">CONTACT US</a></li>
                        <li class="nav-item"><a href='{function name="app_conf" v="NCF_EN_IR"}'>INVESTORS</a></li>
                      <li class="switch_en"><span><a href="/">EN </a></span><a href='{function name="app_conf" v="NCF_CH"}'>/ 中</a></li>

                    </ul>
                </div>
            </div>
            <div class="scroll_line"></div>
        </div>
        <div class="top_head_h5">
            <div class="header">
                <a href="/index"><img class="logo_h5" alt="NCF Wealth" title="NCF Wealth" src="<?php echo $this->asset->makeUrl('v3/images/en/index/logo.png');?>" /></a>
                <div class="nav_btn"><div class="nav_h5"></div></div>
                <ul class="nav_ul_h5">
                    <li class="nav-item" data-url="/"><a href="/index">HOME</a></li>
                    <li class="nav-item show_more" data-url="/aboutNcf">ABOUT NCF<i></i>
                        <div class="member_h5 disnone">
                            <ul class="select">
                                <li>
                                    <a href="/companyProfile">
                                        <span>Company Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/financeProcess">
                                        <span>Financing Process</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ServiceGroups">
                                        <span>Service Groups</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/historyTimeline">
                                        <span>Milestone</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/honor">
                                        <span>Awards</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/socialResponse">
                                        <span>Social Responsibility</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item show_more" data-url="/core">BUSINESS<i></i>
                        <div class="member_h5 disnone">
                            <ul class="select">
                                <li>
                                    <a href="/coreBusiness">
                                        <span>Core Business</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/riskControl">
                                        <span>Risk Control System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/competitiveAdvantages">
                                        <span>Competitive Advantage</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" data-url="/mediaCoverage"><a href="/mediaCoverage">NEWS</a></li>
                    <li class="nav-item" data-url="/contactUs"><a href="/contactUs">CONTACT US</a></li>
                    <li class="nav-item"><a href='{function name="app_conf" v="NCF_EN_IR"}'>INVESTORS</a></li>
                    <li class="switch_en"><a href='{function name="app_conf" v="NCF_CH"}'>中文</a></li>
                </ul>
            </div>
            <div class="scroll_line"></div>
            <div class="clickMask"></div>
        </div>
