{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/history_timeline.css');?>" />
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/history_timeline_pc.css');?>" media="screen and (min-width: 1200px)"/>
<div class="history_timeline">
  <div class="bg1">MILESTONE</div>
  <div class="wx_timeline">
    <div class="slider">
      <span class="prev arrow dis_active"><b></b></span>
      <span class="next arrow"><b>NEXT</b></span>
    </div>
    <div class="dotline"></div>
    <div class="recent-work">
      <ul class="timeline">
        <li class="time-item expands">
            <div class="time-inner"></div>
            <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/history_timeline/2019.jpg');?>)"></div>
            <div class="time-name">2019</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2018-ls.jpg');?>)"></div>
          <div class="time-name">2018</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2017-ls.jpg');?>)"></div>
          <div class="time-name">2017</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2016-ls.jpg');?>)"></div>
          <div class="time-name">2016</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2015-ls.jpg');?>)"></div>
          <div class="time-name">2015</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2014-ls.jpg');?>)"></div>
          <div class="time-name">2014</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/index/2013-ls.jpg');?>)"></div>
          <div class="time-name">2013</div>
        </li>
      </ul>
    </div>
    <div class="work-detail wrapper" style="display: block;">
        <div class="month_timeline">
          <span>Jan.</span>
          <p>NCF Wealth online loan information platform, gained access to the judicial data query system that was jointly developed by the National Internet Finance Association of China and China Institute of Judicial Big Data.</p>
        </div>
        <div class="month_timeline">
          <span>Feb.</span>
          <p>NCF Wealth online loan information platform, participated in information disclosure of About Public Announcement on List of Borrowers and Organizations Escaping and Revoking Debts for Online Lenders in Beijing issued by the National Internet Finance Association of Beijing.</p>
        </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Mar.</span>
        <p>NCF Wealth was invited to attend the signing ceremony of National Internet Finance Association of China’s Overdue Debt Collection Self-discipline Convention and signed the self-discipline convention as one of the 10 industry representatives.</p>
      </div>
      <div class="month_timeline">
        <span>Mar.</span>
        <p>NCF Wealth achieved strategic cooperation with rural e-commerce platform Lecun Tao. Through the cross-border and joint cooperation with rural market, it promoted the development of rural inclusive finance.</p>
      </div>
      <div class="month_timeline">
        <span>Jul.</span>
        <p>NCF Wealth became one of the four members of the “Standard Development Working Group” of the Beijing Internet Finance Industry Association, and played a positive role in stabilizing the industry market and promoting the healthy development of the industry.</p>
      </div>
      <div class="month_timeline">
        <span>Aug.</span>
        <p>Beijing Internet Finance Industry Association released the self-discipline commitment letter of Beijing P2P industry, and NCF Wealth was selected into the first batch on the list of commitment institutions.</p>
      </div>
      <div class="month_timeline">
        <span>Aug.</span>
        <p>A number of institutions such as NCF Wealth and Beijing Internet Finance Industry Association jointly issued a statement on the establishment of a social credit system for the industry.</p>
      </div>
      <div class="month_timeline">
        <span>Sep.</span>
        <p>The co-ordination depository bank - Haikou United Rural Commercial Bank passed the evaluation of the first batch of P2P depository banks of National Internet Finance Association of China.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Mar.</span>
        <p>NCF Wealth received the third-level evaluation report on the information security rating protection of the Ministry of Public Security.</p>
      </div>
      <div class="month_timeline">
        <span>Mar.</span>
        <p>The chairman of NCF Wealth board became a member of the P2P Specialized Committee of National Internet Finance Association of China.</p>
      </div>
      <div class="month_timeline">
        <span>Apr.</span>
        <p>Among the first to access to “Internet Finance Statistic Supervising System” of National Internet Finance Association of China.</p>
      </div>
      <div class="month_timeline">
        <span>Jun.</span>
        <p>Among the first batch to access the “Internet Financial Registration Disclosure Service Platform” of the National Internet Finance Association of China.</p>
      </div>
      <div class="month_timeline">
        <span>Jun.</span>
        <p>Brand upgraded to “NCF WEALTH”, and platform positioning upgraded to “financial technology open platform”.</p>
      </div>
      <div class="month_timeline">
        <span>Aug.</span>
        <p>Among the first to access to the “Internet Finance Statistic Supervising System (Phase II)” of National Internet Finance Association of China.</p>
      </div>
      <div class="month_timeline">
        <span>Nov.</span>
        <p>NCF Wealth obtained the double certification of ISO9001 quality management system and ISO27001 information security management system.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Mar.</span>
        <p>“Trusted timestamp” was issued by UniTrust Time Stamp Authority to effectively guarantee the implementation of electronic data personnel and content integrity.</p>
      </div>
      <div class="month_timeline">
        <span>Mar.</span>
        <p>NCF Wealth was among the first to access the Product Registration & Information Disclosure System of Beijing P2P Association (later renamed as “Beijing Internet Financial Industry Association”).</p>
      </div>
      <div class="month_timeline">
        <span>Mar.</span>
        <p>NCF Group was elected as the executive director unit of National Internet Finance Association of China (NIFA). NCF Wealth  became one of the sponsoring members of NIFA.</p>
      </div>
      <div class="month_timeline">
        <span>Jun.</span>
        <p>Third-party depository bank - Haikou United Rural Commercial Bank was introduced.</p>
      </div>
      <div class="month_timeline">
        <span>Sep.</span>
        <p>NCF Wealth was among the first to access Internet financial credit information sharing platform.</p>
      </div>
      <div class="month_timeline">
        <span>Nov.</span>
        <p>NCF Wealth was invited to attend the 3rd World Internet Conference • Wuzhen Summit.</p>
      </div>
      <div class="month_timeline">
        <span>Nov.</span>
        <p>NCF Wealth became a committee member of Statistics Special Commission of NIFA.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Jul.</span>
        <p>NCF Wealth signed a strategic cooperation agreement with a number of large enterprises, which aims to promote the coordinated development of industrial groups through Internet finance, reshape and enhance the value of the industrial chain, and realize the business layout of “Internet + industry + finance”.</p>
      </div>
      <div class="month_timeline">
        <span>Aug.</span>
        <p>NCF Wealth became the first enterprise in China that passed ISO9001:2008 quality management system certification and ISO27001:2013 information security certification issued by BSI (British Standards Institution).</p>
      </div>
      <div class="month_timeline">
        <span>Aug.</span>
        <p>As one of the innovation benchmarks for the Internet financial service model, the “1+N” industrial chain financial model was selected to be written in the State Council's Guiding Opinions on Actively Promoting the “Internet plus” Action, which was published by the Party School of the Central Committee of CPC China and compiled by National Development and Reform Commission and the China Academy of Information and Communications Technology.</p>
      </div>
      <div class="month_timeline">
        <span>Sep.</span>
        <p>As the first batch accessed to the risk information sharing system of the Payment & Clearing Association of Central Bank.</p>
      </div>
      <div class="month_timeline">
        <span>Oct.</span>
        <p>During the visit of President Xi to the UK, the CEO of NCF Wealth,SHENG Jia, was invited to attend the 6th China-UK Internet Roundtable and gave a speech on “Internet Finance, Opportunities of the World”.</p>
      </div>
      <div class="month_timeline">
        <span>Dec.</span>
        <p>Debuted at the “Light of the Internet” Expo of the World Internet Conference.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Mar.</span>
        <p>The platform transaction volume exceeded 100 million Yuan.</p>
      </div>
      <div class="month_timeline">
        <span>Apr.</span>
        <p>The number of registered users of the platform exceeded 10 thousand.</p>
      </div>
      <div class="month_timeline">
        <span>Dec.</span>
        <p>As one of the important founding members, NCF Wealth participated in the first general meeting of the Beijing P2P Association and was elected as the executive vice president institution.</p>
      </div>
      <div class="month_timeline">
        <span>Dec.</span>
        <p>The registered users of the platform exceeded 1 million.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <span>Jul.</span>
        <p>The platform was officially launched.</p>
      </div>
    </div>
  </div>
  {include file="web/views/v3/en/footer.html"}
  <script>
    var flag = IsPC(); 
    if(flag){//pc
      ! function () {
        var i = !1,
          e = 0,
          t = $(".time-item").length,
          n = 1,
          a = 5,
          r = function (r) {
            if (i || -n >= e - r * n || e - r * n >= t - a + n) return !1;
            i = !0, e -= r * n, 0 > e ? e = 0 : e > t - a && (e = t - a);
            var s = $(".prev b");
            if(0 === e){
              $(".prev").addClass("dis_active");
            }else{
              $(".prev").removeClass("dis_active");
            }
            s.text(0 === e ? "" : "PREV");
            var c = $(".next b");
            c.text(e === t - a ? "BACK" : "NEXT");
            var l = $(".timeline");
            var m = -l.find(".time-item")[e].offsetLeft;
            l.animate({
              "margin-left": m
            }, 200, function () {
              var e = $(".time-item.expands").index();
              e -= r * n, 0 > e ? e = 0 : e > t - 1 && (e = t - 1), $(".time-item").eq(e).trigger("click"), i = !1
            })
            if(e === t - a){
              $(".next").addClass("skip_first")
            }else{
              $(".next").removeClass("skip_first")
            }
          };
        $(".prev").click(function () {
          r(1)
        }), $(".next").click(function () {
          if($(this).hasClass("skip_first")){
            r(2)
          }else{
            r(-1)
          }
        }), $(".time-item").click(function () {
          var i = $(this).index();
          $(this).addClass("expands").siblings("li").removeClass("expands"), $(".work-detail").eq(i).show().siblings(".work-detail").hide()
        })
      }();
    }else{
      ! function () {
        var i = !1,
          e = 0,
          t = $(".time-item").length,
          n = 1,
          a = 1,
          r = function (r) {
            if (i || -n >= e - r * n || e - r * n >= t - a + n) return !1;
            i = !0, e -= r * n, 0 > e ? e = 0 : e > t - a && (e = t - a);
            var s = $(".prev b");
            if(0 === e){
              $(".prev").addClass("dis_active");
            }else{
              $(".prev").removeClass("dis_active");
            }
            s.text(0 === e ? "" : "PREV");
            var c = $(".next b");
            c.text(e === t - a ? "BACK" : "NEXT");
            var l = $(".timeline");
            if(e === t-a){
              var m = -l.find(".time-item")[e-1].offsetLeft;
            } else{
              var m = -l.find(".time-item")[e].offsetLeft;
            }
            l.animate({
              "margin-left": m
            }, 200, function () {
              var e = $(".time-item.expands").index();
              e -= r * n, 0 > e ? e = 0 : e > t - 1 && (e = t - 1), $(".time-item").eq(e).trigger("click"), i = !1
            })
            if(e === t - a){
              $(".next").addClass("skip_first")
            }else{
              $(".next").removeClass("skip_first")
            }
          };
        $(".prev").click(function () {
          r(1)
        }), $(".next").click(function () {
          if($(this).hasClass("skip_first")){
            r(6)
          }else{
            r(-1)
          }
        }), $(".time-item").click(function () {
          var i = $(this).index();
          $(this).addClass("expands").siblings("li").removeClass("expands"), $(".work-detail").eq(i).show().siblings(".work-detail").hide()
        })
      }();
    }
  </script>

  </html>