{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/honor.css');?>" />
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/honor_pc.css');?>" media="screen and (min-width: 1200px)"/>
<div class="honor">
  <div class="bg1">AWARDS</div>
  <div class="wx_timeline">
    <div class="slider">
      <span class="prev arrow dis_active"><b></b></span>
      <span class="next arrow dis_next"><b>BACK</b></span>
    </div>
    <div class="dotline"></div>
    <div class="recent-work">
      <ul class="timeline">
        <li class="time-item expands">
            <div class="time-inner"></div>
            <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/history_timeline/2019.jpg');?>)"></div>
            <div class="time-name">2019</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/honor/2018.png');?>)"></div>
          <div class="time-name">2018</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/honor/2017.png');?>)"></div>
          <div class="time-name">2017</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/honor/2016.jpg');?>)"></div>
          <div class="time-name">2016</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/honor/2015.png');?>)"></div>
          <div class="time-name">2015</div>
        </li>
        <li class="time-item">
          <div class="time-inner"></div>
          <div class="time-picture" style="background-image:url(<?php echo $this->asset->makeUrl('v3/images/en/honor/2014.png');?>)"></div>
          <div class="time-name">2014</div>
        </li>
      </ul>
    </div>
    <div class="work-detail wrapper" style="display: block;">
        <div class="month_timeline">
          <i></i><p>Won “Top 50 in Hurun New Finance Report in 2018” in Hurun New Finance Report</p>
        </div>
        <div class="month_timeline">
          <i></i><p>Awarded “New Finance General Preference Value Enterprise in 2018-2019” of Internet Finance</p>
        </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <i></i><p>Cloud Service, NCF Wealth’s subordinate, obtained the certification of “Zhongguancun High-tech Enterprise”.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won “Top 50 in Hurun New Finance Report in 2018” in Hurun New Finance Report in 2018.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “The Most Brilliant Fin Tech Company of Golden Fine Horse Award” issued by Securities Daily.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “Remarkable Financial Technology Platform” issued by The Economic Observer.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <i></i><p>NCF Wealth Cloud Service was awarded the “High-tech Enterprise” certificate jointly issued by Beijing Science and Technology Innovation Committee, Beijing Municipal Finance Committee, Beijing Municipal Office and Beijing Local Taxation Bureau.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “Most Innovative Platform for Financial Technology in 2017” issued by the Internet weekly of the Chinese Academy of Sciences.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “China's Most Powerful Enterprise in 2017” issued by IYiou.com.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “Financial Technology Enterprise of Remarkable Competitive Influence in 2017” by National Business Daily.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won  “The most popular platform for mutual funds among investors” issued by net credit eye.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “Top Ten Internet Finance Marketing Innovation Award” at the China Finance Innovation Forum - China Financial Innovation Awards Ceremony in 2017 by The Banker.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “Technology Finance Company in 2016” Award at the “Huaxia Organization Investment Forum - the 10th Golden 	Cicada Award Ceremony” jointly sponsored by China Times and Sina Finance.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Selected as “Top 50 in Hurun New Finance Report in 2017”.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Relaying on  the leading layout and outstanding performance in financial technology fields such as big data and block chain, NCF Wealth  won the “Enterprise of Most Comprehensive Strength” Award in “Top Ten Fin Tech Competitive Enterprises in 2016”.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “Financial Technology Enterprise of Remarkable Competitive Influence in 2017” issued by China Business Journal.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <i></i><p>Received “2016 Outstanding Competitiveness technology and financial Institution ” issued by China Business Journal.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Awarded “Information Resilience Excellence” Awards by the British Standards Institute (BSI).</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “2016 Internet Financiale Innovation Platform” award in  “2016 Asian Financial Institutions Competitiveness Evaluation” held by the 21st Century Economic Daily.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “Chinese Fin-tech Pioneer Enterprise in 2016” Award issued by Zhongguancun Internet Finance Research Institute.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Selected as the 2016 “Top 50 of Internet Financial Companies” issued by the National Business Daily.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Received the Excellence Awards of Top 10 Brand User Experience from Beijing Brand Association and Beijing Commercial Press.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <i></i><p>Obtained the honorary title of “Chinese Internet Credit Model Enterprise” (Credit File Number: CX2015080701063320333) jointly awarded by the Ministry of Industry and Information Technology, the Ministry of Commerce, the State-owned Assets Supervision and Administration Commission of the State Council and the National Development and Reform Commission.</p>
      </div>
      <div class="month_timeline">
        <i></i><p>Won the “Best Financial Management Institution with Growth” in the CBN Financial Value Ranking. The innovative model - “1+N” industrial chain  has been helping the real economy in finance and was selected in the “Blue Book of CBN Financial Value Ranking in 2015”.</p>
      </div>
    </div>
    <div class="work-detail wrapper">
      <div class="month_timeline">
        <i></i><p>In the “2015 • Internet Financial Enterprise Social Responsibility Summit” jointly organized by Chinese Academy of Social Sciences and Xinhua News Agency, NCF Wealth won the “Most Innovative and Dynamic Internet Financial Enterprise in 2014” Award.</p>
      </div>
    </div>
  </div>
  {include file="web/views/v3/en/footer.html"}
  <script>
  var flag = IsPC(); 
  if(flag){//pc
    $(".next b").text("");
    ! function () {
      var i = !1,
        e = 0,
        t = $(".time-item").length,
        n = 1,
        a = 5,
        r = function (r) {
          if (i || -n >= e - r * n || e - r * n >= t - a + n) return !1;
          i = !0, e -= r * n, 0 > e ? e = 0 : e > t - a && (e = t - a);
          var s = $(".prev b");
          if(0 === e){
            $(".prev").addClass("dis_active");
          }else{
            $(".prev").removeClass("dis_active");
          }
          s.text(0 === e ? "" : "PREV");
          var c = $(".next b");
          c.text(e === t - a ? "BACK" : "NEXT");
          var l = $(".timeline"),
            m = -l.find(".time-item")[e].offsetLeft;
          l.animate({
            "margin-left": m
          }, 200, function () {
            var e = $(".time-item.expands").index();
            e -= r * n, 0 > e ? e = 0 : e > t - 1 && (e = t - 1), $(".time-item").eq(e).trigger("click"), i = !1
          })
          if(e === t - a){
            $(".next").addClass("dis_active")
          }else{
            $(".next").removeClass("dis_active")
          }
        };
      $(".prev").click(function () {
        r(1)
      }), $(".next").click(function () {
        r(-1)
      }), $(".time-item").click(function () {
        var i = $(this).index();
        $(this).addClass("expands").siblings("li").removeClass("expands"), $(".work-detail").eq(i).show().siblings(
          ".work-detail").hide()
      })
    }();
  }else{
    ! function () {
      var i = !1,
        e = 0,
        t = $(".time-item").length,
        n = 1,
        a = 2,
        r = function (r) {
          if (i || -n >= e - r * n || e - r * n >= t - a + n) return !1;
          i = !0, e -= r * n, 0 > e ? e = 0 : e > t - a && (e = t - a);
          var s = $(".prev b");
          if(0 === e){
            $(".prev").addClass("dis_active");
          }else{
            $(".prev").removeClass("dis_active");
          }
          s.text(0 === e ? "" : "PREV");
          var c = $(".next b");
          c.text(e === t - a ? "BACK" : "NEXT");
          var l = $(".timeline"),
            m = -l.find(".time-item")[e].offsetLeft;
          l.animate({
            "margin-left": m
          }, 200, function () {
            var e = $(".time-item.expands").index();
            e -= r * n, 0 > e ? e = 0 : e > t - 1 && (e = t - 1), $(".time-item").eq(e).trigger("click"), i = !1
          })
          if(e === t - a){
            $(".next").addClass("skip_first")
          }else{
            $(".next").removeClass("skip_first")
          }
        };
      $(".prev").click(function () {
        r(1)
      }), $(".next").click(function () {
        if($(this).hasClass("skip_first")){
          r(3)
        }else{
          r(-1)
        }
      }), $(".time-item").click(function () {
        var i = $(this).index();
        $(this).addClass("expands").siblings("li").removeClass("expands"), $(".work-detail").eq(i).show().siblings(".work-detail").hide()
      })
    }();
  }
  </script>

  </html>