{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/index.css?v=88');?>" />
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/index_pc.css?v=9');?>" media="screen and (min-width: 1200px)" />
<div class="content">
    <div class="slide1">
        <div class="slide1_content">
            <img class="logo_banner" src="<?php echo $this->asset->makeUrl('v3/images/en/index/bg_logo.png');?>" alt="NCF Wealth" title="NCF Wealth" />
            <div class="slide1_detail">{function name="get_adv" x="英文站首页简介"}</div>
        </div>
        <div class="width1400">
            <ul class="slide1_ul slide1_ul_pc">
                <li>
                    <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/li1.png');?>" alt="OF FUNDING" title="OF FUNDING" />
                    <p>3 ROUNDS </p>
                    <p>OF FUNDING</p>
                </li>
                <li>
                    <img class="slide1_img2" src="<?php echo $this->asset->makeUrl('v3/images/en/index/li2.png');?>"
                        alt="STANDARD" title="STANDARD" />
                    <p>HIGH SECURITY </p>
                    <p>STANDARD</p>
                </li>
                <li>
                    <img class="slide1_img3" src="<?php echo $this->asset->makeUrl('v3/images/en/index/li3.png');?>"
                        alt="CERTIFICATIONS" title="CERTIFICATIONS" />
                    <p>ISO </p>
                    <p>CERTIFICATIONS</p>
                </li>
                <li>
                    <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/li4.png');?>" alt="AWARDS" title="AWARDS" />
                    <p>50+ MEDIA </p>
                    <p>AWARDS</p>
                </li>
            </ul>
            <div class="slide1_ul_h5">
                <ul class="slide1_ul">
                    <li>
                        <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/li1.png');?>" alt="OF FUNDING"
                            title="OF FUNDING" />
                        <p>3 ROUNDS </p>
                        <p>OF FUNDING</p>
                    </li>
                    <li>
                        <img class="slide1_img2" src="<?php echo $this->asset->makeUrl('v3/images/en/index/li2.png');?>"
                            alt="STANDARD" title="STANDARD" />
                        <p>HIGH SECURITY </p>
                        <p>STANDARD</p>
                    </li>
                </ul>
                <ul class="slide1_ul">
                    <li>
                        <img class="slide1_img3" src="<?php echo $this->asset->makeUrl('v3/images/en/index/li3.png');?>"
                            alt="CERTIFICATIONS" title="CERTIFICATIONS" />
                        <p>ISO </p>
                        <p>CERTIFICATIONS</p>
                    </li>
                    <li>
                        <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/li4.png');?>" alt="AWARDS" title="AWARDS" />
                        <p>50+ MEDIA </p>
                        <p>AWARDS</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slide2">
        <div class="slide2_content">
            <img class="trangle1" src="<?php echo $this->asset->makeUrl('v3/images/en/index/trangle_index1.png');?>"
                alt="NCF Wealth" title="NCF Wealth" />
            <img class="trangle2" src="<?php echo $this->asset->makeUrl('v3/images/en/index/trangle_index2.png');?>" />
            <div class="small_title">SERVICE GROUPS</div>
            <div class="slide2_detail">NCF Wealth has relied on block chain, big data, AI and other technical means,
                continued to optimize and improve business and risk control models to provide service groups with
                one-stop investment and financing services.</div>
            <ul class="slide2_ul slide2_ul_pc">
                <a href="/ServiceGroups">
                    <li class="slide2_li1" alt="Individual and Family" title="Individual and Family">
                        <div class="title">Individual and <br />Family</div>
                        <div class="line"></div>
                        <p>Through the application of the unique smart risk control...</p>
                    </li>
                </a>
                <a href="/ServiceGroups">
                    <li class="slide2_li2" alt="Peasant Household and Peasant" title="Peasant Household and Peasant">
                        <div class="title">Peasant Household and Peasant</div>
                        <div class="line"></div>
                        <p>Peasants make up the vast majority of China's population...</p>
                    </li>
                </a>
                <a href="/ServiceGroups">
                    <li class="slide2_li3" alt="Middle, Small and Micro-sized Enterprises" title="Middle, Small and Micro-sized Enterprises">
                        <div class="title">Middle, Small and Micro-sized Enterprises</div>
                        <div class="line"></div>
                        <p>During the past 40 years, Micro, Small and Medium Enterprises...</p>
                    </li>
                </a>
                <a href="/ServiceGroups">
                    <li class="slide2_li4" alt="Enterprises of the Industrial Chain" title="Enterprises of the Industrial Chain">
                        <div class="title">Enterprises of the Industrial Chain</div>
                        <div class="line"></div>
                        <p>NCF Wealth has creatively presented the industrial chain mode of “1+N”...</p>
                    </li>
                </a>
            </ul>
            <div class="slide2_ul_h5">
                <div class="swiper-container slide_swiper" id="slideSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul class="slide2_ul">
                                <a href="/ServiceGroups">
                                    <li class="slide2_li1">
                                        <div class="title">Individual and <br />Family</div>
                                        <div class="line"></div>
                                        <p>Through the application of the unique smart risk control...</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="slide2_ul">
                                <a href="/ServiceGroups">
                                    <li class="slide2_li2">
                                        <div class="title">Peasant Household <br />and Peasant</div>
                                        <div class="line"></div>
                                        <p>Peasants make up the vast majority of China's population...</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="slide2_ul">
                                <a href="/ServiceGroups">
                                    <li class="slide2_li3">
                                        <div class="title">Middle, Small and <br />Micro-sized Enterprises</div>
                                        <div class="line"></div>
                                        <p>During the past 40 years, Micro, Small and Medium Enterprises...</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul class="slide2_ul">
                                <a href="/ServiceGroups">
                                    <li class="slide2_li4">
                                        <div class="title">Enterprises of the <br />Industrial Chain</div>
                                        <div class="line"></div>
                                        <p>NCF Wealth has creatively presented the industrial chain mode of “1+N”...</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="slide3">
        <div class="slide3_content slide3_content_pc">
            <img class="trangle3" src="<?php echo $this->asset->makeUrl('v3/images/en/index/trangle_index3.png');?>" />
            <div class="small_title">MILESTONE</div>
            <div class="slide3_box clearfix">
                <ul class="slide3_ul2">
                    <li class="slide3_li8">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/history_timeline/2019.jpg');?>" />
                            <div class="year">2019<span>Jan.</span></div>
                            <div class="line"></div>
                            <p class="">Access to Gov Data</p>
                        </div>
                    </li>
                    <li class="slide3_li2">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2017.png');?>" />
                            <div class="year">2017<span>Mar.</span></div>
                            <div class="line"></div>
                            <p class="">Info security CERT by MPS</p>
                        </div>
                    </li>
                    <li class="slide3_li4">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2015.png');?>" />
                            <div class="year">2015<span>Oct.</span></div>
                            <div class="line"></div>
                            <p class="">China-UK Internet Roundtable</p>
                        </div>
                    </li>
                    <li class="slide3_li6">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2013.png');?>" />
                            <div class="year">2013<span>Jul.</span></div>
                            <div class="line"></div>
                            <p class="">NCF Wealth launched</p>
                        </div>
                    </li>
                </ul>
                <div class="slide3_line"></div>
                <div class="slide3_line_bg"></div>
                <ul class="slide3_ul1">
                    <li class="slide3_li1">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2018.png');?>" />
                            <div class="year">2018<span>Mar.</span></div>
                            <div class="line"></div>
                            <p class="">Comply with regulations</p>
                        </div>
                    </li>
                    <li class="slide3_li3">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2016.png');?>" />
                            <div class="year">2016<span>Nov.</span></div>
                            <div class="line"></div>
                            <p class="">World Internet Conference</p>
                        </div>
                    </li>
                    <li class="slide3_li5">
                        <div class="top_icon">
                            <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2014.png');?>" />
                            <div class="year">2014<span>Dec.</span></div>
                            <div class="line"></div>
                            <p class="">Transaction reached ¥ 100 million</p>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="/historyTimeline">
                <div class="detail">details</div>
            </a>
        </div>
        <div class="slide3_content slide3_content_h5">
            <div class="slide3_h5_top">
                <img class="trangle3" src="<?php echo $this->asset->makeUrl('v3/images/en/index/trangle_index3.png');?>" />
                <div class="small_title">MILESTONE</div>
            </div>
            <div class="slide3_box clearfix">
                <div class="slide3_line"></div>
                <ul class="slide3_ul1">
                    <li class="slide3_li7">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i2"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/history_timeline/2019.jpg');?>" />
                            </div>
                            <div class="year">2019<span>Jan.</span></div>
                            <div class="line"></div>
                            <p class="">Access to Gov Data</p>
                        </div>
                    </li>
                    <li class="slide3_li1">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i1"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2018.png');?>" />
                            </div>
                            <div class="year">2018<span>Mar.</span></div>
                            <div class="line"></div>
                            <p class="">Comply with regulations</p>
                        </div>
                    </li>
                    <li class="slide3_li2">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i2"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2017.png');?>" />
                            </div>
                            <div class="year">2017<span>Mar.</span></div>
                            <div class="line"></div>
                            <p class="">Info security CERT by MPS</p>
                        </div>
                    </li>
                    <li class="slide3_li3">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i3"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2016.png');?>" />
                            </div>
                            <div class="year">2016<span>Nov.</span></div>
                            <div class="line"></div>
                            <p class="">World Internet<br /> Conference</p>
                        </div>
                    </li>
                    <li class="slide3_li4">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i4"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2015.png');?>" />
                            </div>
                            <div class="year">2015<span>Oct.</span></div>
                            <div class="line"></div>
                            <p class="">China-UK Internet Roundtable</p>
                        </div>
                    </li>
                    <li class="slide3_li5">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i5"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2014.png');?>" />
                            </div>
                            <div class="year">2014<span>Dec.</span></div>
                            <div class="line"></div>
                            <p class="">Transaction reached ¥ 100 million</p>
                        </div>
                    </li>
                    <li class="slide3_li6">
                        <div class="top_icon">
                            <div class="slide3_i">
                                <i class="i6"></i>
                                <img src="<?php echo $this->asset->makeUrl('v3/images/en/index/2013.png');?>" />
                            </div>
                            <div class="year">2013<span>Jul.</span></div>
                            <div class="line"></div>
                            <p class="">NCF Wealth launched</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="slide3_bottom">
                <a href="/historyTimeline">
                    <div class="detail">details</div>
                </a>
            </div>
        </div>
    </div>
    <div class="slide4">
        <div class="slide4_content">
            <img class="trangle4" src="<?php echo $this->asset->makeUrl('v3/images/en/index/trangle_index4.png');?>" />
            <div class="small_title">NEWS</div>
            <ul class="slide4_ul clearfix slide4_ul_pc">
                {foreach from=$priority_list item=priority_list}
                    <li class="slide4_li1">
                        <img src="{$priority_list.image_url}" alt="{$priority_list.title}"
                            title="{$priority_list.title}" />
                        <div class="pl30">
                            <div class="title news_title">{$priority_list.title}</div>
                            <div class="line"></div>
                            <div class="news_detail">{$priority_list.content}</div>
                            <a href="/articleDetail?id={$priority_list.id}">
                                <div class="more fix_more">more</div>
                            </a>
                        </div>
                    </li>
                {/foreach}
                <li class="slide4_li4">
                    <div class="pl30">
                        <div class="list_title">NEWS & ANNOUNCEMENTS</div>
                        <div class="news_ul">
                            {foreach from=$article_list item="article_list"}
                            <div class="me_box moz_box"><a class="news_link" href="/articleDetail?id={$article_list.id}">{$article_list.title}</a></div>
                            {/foreach}
                        </div>
                    </div>
                    <a href="/mediaCoverage">
                        <div class="more fix_more">more</div>
                    </a>
                </li>
            </ul>
            <div class="slide4_ul_h5">
                <div class="slide4_box">
                    <div class="swiper-container slide_swiper" id="slideSwiper2">
                        <div class="swiper-wrapper">
                            {foreach from=$priority_list item=priority_list}
                                <div class="swiper-slide">
                                    <ul class="slide4_ul">
                                        <li class="slide4_li1">
                                            <img src="{$priority_list.image_url}"
                                                alt="{$priority_list.title}" title="{$priority_list.title}" />
                                            <div class="pl30">
                                                <div class="title">{$priority_list.title}</div>
                                                <div class="line"></div>
                                                <div class="news_detail">{$priority_list.content}</div>
                                                <a href="/articleDetail?id={$priority_list.id}">
                                                    <div class="more fix_more">more</div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination2"></div>
                </div>
                <ul class="slide4_ul">
                    <li class="slide4_li4">
                        <div class="pl30 news_list">
                            <div class="list_title">NEWS & ANNOUNCEMENTS</div>
                            <div class="news_ul">
                                {foreach from=$article_list item="article_list"}
                                <div class="me_box moz_box"><a class="news_link" href="/articleDetail?id={$article_list.id}">{$article_list.title}</a></div>
                                {/foreach}
                            </div>
                        </div>
                        <a href="/mediaCoverage">
                            <div class="more fix_more fix_more_h5">more</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {include file="web/views/v3/en/footer.html"}
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/en/swiper.min.js');?>"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $(".news_link").each(function () {
                    if ($(this).text().length < 35) {
                        $(this).parents(".me_box").removeClass("moz_box");
                    }
                });
            }, 1000)
            var slide_swiper = new Swiper('#slideSwiper', {
                loop: true,
                autoplay: {
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
                // speed: 1000,
            })
            var slide_swiper = new Swiper('#slideSwiper2', {
                loop: true,
                autoplay: {
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination2',
                },
                // speed: 1000,
            })
        })
        //埋点
        window.onload = function () {
            zhuge.track('进入网信英文站页面')
        }
    </script>

    </html>