{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/ir_home.css?v=222');?>" />
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/ir_home_pc.css?v=12');?>" media="screen and (min-width: 1200px)"/>
<div class="ir_home">
  <div class="bg1">INVESTOR RELATIONS</div>
  <div class="wx_timeline">
    <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/trangle1.jpg');?>" class="img_trangle"/>
    <div class="text_area">
      <p class="each_title">
        NCF Wealth Holdings Limited is a FinTech company in China, primarily focused on connecting investors and borrowers,providing multi-scenario investment analysis to platform users to meet their diversified investment needs, and building a closed-loop ecosystem in the field of internet finance. It also provides financing advisory and technical support for borrowers when they<br/> announce their 
      </p>
      <p class="each_title">
        financing needs. NCF Wealth aims to provide simplified, convenient and flexible financing solutions to both small and medium 
        enterprises ("SMEs") and individual borrowers. NCF Wealth generates revenues primarily from fees charged to borrowers for matching them with lenders through the facilities of its online platform and for providing financing advisory services to them. 
      </p>
    </div>
    <div class="each_part_description">
      <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/trangle2.jpg');?>" class="img_trangle2"/>
      <p class="title">MANAGEMENT TEAM</p>
      <ul class="management_lists">
        <li class="each_managor">
          <a href="/en/management_team">
            <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/president.jpg');?>" class="managor_img"/>
            <div class="right">
              <p class="line"></p>
              <p class="name">Huanxiang Li</p>
              <p class="position">President</p>
            </div>
          </a>
        </li>
        <li class="each_managor">
          <a href="/en/management_team">
            <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/ceo.jpg');?>" class="managor_img"/>
            <div class="right">
              <p class="line"></p>
              <p class="name">Jia Sheng</p>
              <p class="position">Chief Executive Officer</p>
            </div>
          </a>
        </li>
        <li class="each_managor">
          <a href="/en/management_team">
            <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/cfo.jpg');?>" class="managor_img"/>
            <div class="right">
              <p class="line"></p>
              <p class="name">Li Wei</p>
              <p class="position">Chief Financial Officer</p>
            </div>
          </a>
        </li>
        <li class="each_managor">
          <a href="/en/management_team">
            <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/coo.jpg');?>" class="managor_img"/>
            <div class="right">
              <p class="line"></p>
              <p class="name">Xin Li</p>
              <p class="position">Chief Operating Officer</p>
            </div>
          </a>
        </li>
        <li class="each_managor">
          <a href="/en/management_team">
            <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/cto.jpg');?>" class="managor_img"/>
            <div class="right">
              <p class="line"></p>
              <p class="name">Ruoshi Zhang</p>
              <p class="position">Chief Technology Officer</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="each_part_description board_directors">
      <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/trangle2.jpg');?>" class="img_trangle2"/>
      <p class="title">BOARD OF DIRECTORS</p>
      <div class="board_directors_container">
        <div class="board_directors_each_card">
          <p class="title">Huanxiang Li</p>
          <p class="second_title">resident and Director</p>
          <p class="line"></p>
          <p class="description">Mrs. Li has been the President and a director of NCF since 2014. Mrs. Li has 15 years of experience in the financial..</p>
          <a href="" class="more">more</a>
        </div>
        <div class="board_directors_each_card">
          <p class="title">Jia Sheng</p>
          <p class="second_title">Chief Executive Officer and Director</p>
          <p class="line"></p>
          <p class="description">Mr. Sheng has been the Chief Executive Officer and a director of NCF since June 2013 Mr. Sheng has 12 years of....</p>
          <a href="" class="more">more</a>
        </div>
        <div class="board_directors_each_card">
          <p class="title">Tao Yang</p>
          <p class="second_title">Independent Director</p>
          <p class="line"></p>
          <p class="description">Mr. Yang has been a researcher and an advisor to doctoral candidates of the Institute of Finance & Banking of the...</p>
          <a href="" class="more">more</a>
        </div>
        <div class="board_directors_each_card">
          <p class="title">David X. Li</p>
          <p class="second_title">Independent Director</p>
          <p class="line"></p>
          <p class="description">Mr. Li has been a professor of finance, and faculty co-director of Master of Finance (MF) program at Shanghai....</p>
          <a href="" class="more">more</a>
        </div>
        <div class="board_directors_each_card">
          <p class="title">Kevin C. Wei</p>
          <p class="second_title">Independent Director</p>
          <p class="line"></p>
          <p class="description">Mr. Wei has been a managing partner of Fontainburg Corporation Limited, a 
              corporate finance advisory firm, since....</p>
          <a href="" class="more">more</a>
        </div>
      </div>
    </div>

    <div class="each_part_description committee_composition">
      <img src="<?php echo $this->asset->makeUrl('v3/images/en/ir_home/trangle2.jpg');?>" class="img_trangle2"/>
      <p class="title">COMMITTEE COMPOSITION</p>
      <div class="description_container">
          <p class="description">NCF Wealth Holdings Limited is committed to upholding the highest standards of business ethics and conducts business in</p>
          <p class="description">accordance with all applicable laws, rules and regulations. Our corporate governance policies are designed to protect the interests of</p>
          <p class="description"> our shareholders and promote responsible business practices and corporate citizenship.</p>
      </div>
    </div>

  </div>
</div>
{include file="web/views/v3/en/footer.html"}

</html>