{include file="web/views/v3/en/header.html"}
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/risk_control.css');?>"/>
<link rel="stylesheet" href="<?php echo $this->asset->makeUrl('v3/css/en/risk_control_pc.css');?>" media="screen and (min-width: 1200px)"/>
    <div class="risk_control">
      <div class="mask">
        <img src="<?php echo $this->asset->makeUrl('v3/images/en/risk_control/close.png');?>" class="closeBtn">
        <span class="whiteBlockTop whiteBlock"></span>
        <span class="whiteBlock"></span>
        <ul class="pop_ul pop_ul2">
          <li class="pop_li1 dis_none">
            <div class="pop_title">Credit Risk Management</div>
            <div class="pop_line"></div>
            <p>NCF Wealth brings in quantitative risk management technology to collect assorted multi-dimensional risk information of borrowers
              and the associated data. Combined with borrowers’ network behavior data and machine learning algorithm, NCF Wealth formulates
              a credit model and implements credit risk management in the entire process from risk control strategy, modeling, credit
              review, lending to post-loan management.</p>
          </li>
          <li class="pop_li2 dis_none">
            <div class="pop_title">Operational Risk Management</div>
            <div class="pop_line"></div>
            <p>According to the operational risk classification standard put forward in the New Basel Capital Accord, NCF Wealth identifies,
              evaluates and applies a three-tier risk management mechanism effectively and scientifically to ensure sound business
              operations.</p>
            <p>The first level: daily self-examination of risk operation posts in various departments.</p>
            <p>The second level: supervision and verification from risk management center.</p>
            <p>The third level: overall verification of internal and external audit.</p>
          </li>
          <li class="pop_li3 dis_none">
            <div class="pop_title">Information Security Risk Management </div>
            <div class="pop_line"></div>
            <p>NCF Wealth performs strict information security management in line with ISO27001, the rules of Classified Protection of National
              Information System Security (level 3) issued by the Ministry of Public Security and the supervision norms of regulatory
              agencies at various levels. The launch and upgrade of NCF Wealth’s systems strictly follow Microsoft SDL’s security development
              process and rigid security supervision is exercised in the whole software development cycle and process, including
              security training, demand analysis, system design, implementation, verification, release, response, etc. to ensure
              system security.</p>
          </li>
          <li class="pop_li4 dis_none">
            <div class="pop_title">Compliance Risk Management</div>
            <div class="pop_line"></div>
            <p>NCF Wealth ensures business compliance and discloses information in accordance with regulatory policy and requirements of timely
              implementation.</p>
            <p>NCF Wealth enhances risk awareness of investors and fully discloses potential risks in various investments. We guide investors
              in conducting risk assessment and classified management according to their risk tolerance.</p>
          </li>
        </ul>
      </div>
        <div class="bg1">RISK CONTROL SYSTEM<img class="trangle1" src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle1.png');?>"></div>
        <div class="risk_content">
          <img class="trangle2" src="<?php echo $this->asset->makeUrl('v3/images/en/social_response/trangle2.png');?>">
          <div class="risk_title">Four-dimensional Risk Control System</div>
          <div class="title_line"></div>
          <p class="top_detail">Based on the concept of four-dimensional risk control system, NCF Wealth establishes a multi-domain database crossover algorithm using big data, brings in quantitative risk management technology, and builds a risk control model for different business modes to exercise overall management of credit risk, operational risk, compliance risk, and information security risk.</p>
          <ul class="risk_ul">
              <img class="bg2" src="<?php echo $this->asset->makeUrl('v3/images/en/risk_control/bg2.png');?>">
              <li class="risk_list1 float_short"><p>Credit Risk Management</p></li>
              <li class="risk_list2 float_long"><p>Operational Risk Management</p></li>
              <li class="risk_list3 float_short"><p>Information Security Risk Management</p></li>
              <li class="risk_list4 float_long"><p>Compliance Risk Management</p></li>
          </ul>
          <ul class="pop_ul">
            <li class="pop_li1 dis_none">
              <div class="pop_title">Credit Risk Management</div>
              <div class="pop_line"></div>
              <p>NCF Wealth brings in quantitative risk management technology to collect assorted multi-dimensional risk information of borrowers
                and the associated data. Combined with borrowers’ network behavior data and machine learning algorithm, NCF Wealth formulates
                a credit model and implements credit risk management in the entire process from risk control strategy, modeling, credit
                review, lending to post-loan management.</p>
            </li>
            <li class="pop_li2 dis_none">
              <div class="pop_title">Operational Risk Management</div>
              <div class="pop_line"></div>
              <p>According to the operational risk classification standard put forward in the New Basel Capital Accord, NCF Wealth identifies,
                evaluates and applies a three-tier risk management mechanism effectively and scientifically to ensure sound business
                operations.
              </p>
              <p>The first level: daily self-examination of risk operation posts in various departments.</p>
              <p>The second level: supervision and verification from risk management center.</p>
              <p>The third level: overall verification of internal and external audit.</p>
            </li>
            <li class="pop_li3 dis_none">
              <div class="pop_title">Information Security Risk Management </div>
              <div class="pop_line"></div>
              <p>NCF Wealth performs strict information security management in line with ISO27001, the rules of Classified Protection of National
                Information System Security (level 3) issued by the Ministry of Public Security and the supervision norms of regulatory
                agencies at various levels. The launch and upgrade of NCF Wealth’s systems strictly follow Microsoft SDL’s security development
                process and rigid security supervision is exercised in the whole software development cycle and process, including
                security training, demand analysis, system design, implementation, verification, release, response, etc. to ensure
                system security.</p>
            </li>
            <li class="pop_li4 dis_none">
              <div class="pop_title">Compliance Risk Management</div>
              <div class="pop_line"></div>
              <p>NCF Wealth ensures business compliance and discloses information in accordance with regulatory policy and requirements of timely
                implementation.
              </p>
              <p>NCF Wealth enhances risk awareness of investors and fully discloses potential risks in various investments. We guide investors
                in conducting risk assessment and classified management according to their risk tolerance.</p>
            </li>
          </ul>
        </div>
{include file="web/views/v3/en/footer.html"}
<script>
  var flag = IsPC(); 
    if(flag){//pc
      $(".mask").remove();
      $(".float_short").addClass("floatli_short");
      $(".float_long").addClass("floatli_long");
      var timer = null; 
      $(".risk_ul li").mouseover(function(){
        var index = $(this).index()-1;
        if(index != 5){
          if(timer) clearTimeout(timer)
          $(".pop_ul li").eq(index).fadeIn(700).siblings().hide();
        }
      })
      $(".pop_ul li").mouseover(function(){
        var index = $(this).index();
        if(timer) clearTimeout(timer)
        $(".pop_ul li").eq(index).fadeIn(700).siblings().hide();
      })
      $(".risk_ul li").mouseout(function(){
        var index = $(this).index()-1;
        if(index != 5){
          timer = setTimeout(function(){
            $(".pop_ul li").eq(index).fadeOut(700).siblings().hide();
          },400);
        }
      })
      $(".pop_ul li").mouseout(function(){
        var index = $(this).index();
        timer = setTimeout(function(){
          $(".pop_ul li").eq(index).fadeOut(700).siblings().hide();
        },400);
      })
    }else{
      let scroll_top = 0
      function stopBodyScroll(isFixed){
        if(isFixed){
          scroll_top = $(window).scrollTop();
          fix_top = -scroll_top + "px";
          $("body").css({"position":"fixed","top": fix_top});
        } else {
          $("body").css({"position":"","top":""});
          window.scrollTo(0, scroll_top) // 回到原先的top
        }
      }
      $(".risk_ul li").click(function(){
        $(".mask").show();
        var index = $(this).index()-1;
        if(index != 5){
          $(".pop_ul li").eq(index).fadeIn(700).siblings().hide();
        }
        stopBodyScroll(true);
      })
      $(".closeBtn").click(function(){
        $(".mask").hide();
        stopBodyScroll(false);
      })
      $(".mask").click(function () {
        $(this).hide();
        stopBodyScroll(false);
      })
    }
</script>
</html>