{include file="web/views/v3/header.html"}
<div class="p_user_comreg">
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_commpany_reg.css');?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $this->asset->makeUrl('v3/css/p_register_company_new.css');?>" type="text/css" rel="stylesheet">
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="r-title">
                <h2><i class="icon-ok"></i>{if $isAccount eq 1}提交成功！{else}恭喜注册成功！{/if}</h2>
            </div>
            <div class="reg-mid">
                <div class="reg-nav f16">企业用户注册会员如需帮助请拨打客户服务热线：<span class="color_red font_bold">010-89920015</span>（工作时间： 周一至周五 9:30-18:30）。</div>
                <div class="reg-title"></div>
                <div class="reg-cont">
                    <div class="tit f16">企业用户注册前需准备以下资料：</div>
                    <div class="com-info mt20 f14">
                        <dl class="clearfix">
                            <dt>基本资料 </dt>
                            <dd>
                                <ul>
                                    <li>• 企业开户申请书 {if $isAccount eq 1}<a href="/enterprise/download" class="blue">下载开户申请书</a>{/if}</li></br>
                                    <li>• 营业执照复印件</li></br>
                                    <li class="annotation"> &nbsp&nbsp非三证合一企业，需额外提供组织机构代码证复印件及税务登记证复印件</li></br>
                                    <li>• 法定代表人身份证件复印件</li></br>
                                    <li class="annotation"> &nbsp&nbsp正反面复印件</li></br>
                                    <li>• 开户许可证复印件</li></br>
                                    <li class="annotation"> &nbsp&nbsp申请企业若使用非基本户银行账户需额外提供网银截图或银行流水单等具有企业名称及银行账号信息的资料</li></br>
                                </ul>
                            </dd>
                            {if !$isFinance}
                            <dt>其他资料 </dt>
                            <dd class="box_bshareholders_help"> 
                                • 股东会决议{if $isAccount eq 1}<a href="/adv/info?adv_name=股东会协议" class="bshareholders_help"></a>{/if}<a href="{$templateUrl_stockHolder}" class="blue">模板下载</a>
                            </dd>
                            <dt>&nbsp;</dt>
                            <dd> 
                                • 公司章程
                            </dd>
                            <dt>&nbsp;</dt>
                            <dd> 
                                • 公司对外投资需获得的其他内外部资料
                            </dd>
                            {/if}
                            <dt>资料样例 </dt>
                            <dd> 
                                {if $isFinance}
                                • 网信企业融资户提交资料样例 <a href="{$templateUrl_sample}" class="blue">文件下载</a></li>
                                {else}
                                • 网信企业投资户提交资料样例 <a href="{$templateUrl_sample}" class="blue">文件下载</a></li>
                                {/if}
                            </dd>                          
                        </dl>
                    </div>
                    {if $isAccount eq 1}
                    <div class="tc mt20"><a href="/" class="common-sprite btn-red-h46">返回首页</a></div>
                    {else}
                    <div class="tc mt20"><a href="/enterprise/apply" class="common-sprite btn-red-h46">填写企业开户申请书</a></div>
                    {/if}
                    <div class="yonghu_register"></div>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
    <script type="text/javascript">
        $(function(){
            $('.j_tooltip_top').tooltip();
        })
    </script>
</div>
{include file="web/views/v3/footer.html"}
