{include file="web/views/v3/header.html"}
<div class="p_user_register">
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_register.css');?>" rel="stylesheet">
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_charge.css');?>" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/weebox.css');?>">
    <link href="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
    <script src="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.js');?>"></script>
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_pwdrule.css');?>" type="text/css" rel="stylesheet">
    <script src="<?php echo $this->asset->makeUrl('v3/js/oauth/pas_strength_v2.js');?>" type="text/javascript"></script>
    <script src="<?php echo $this->asset->makeUrl('v3/js/risk/frms-fingerprint-min.js')?>"></script>
    <link href="<?php echo $this->asset->makeUrl('v3/css/p_register_company_new.css');?>" type="text/css" rel="stylesheet">
    <style type="text/css">
        .ui-form .er-icon, .ui-form .error-wrap{display: none;}
        .p_user_register .ui-form li { overflow: visible; }
    </style>
    <span class="blank23"></span>
    <div class="wrap clearfix">
        <div class="ui-box">
            <div class="r-title">
                <h2>企业会员注册</h2>
            </div>
            <div class="reg-mid">
                <div class="ui-form">
                    <form action="/enterprise/doRegister{$querystring}?from=reg" method="post" id="reg_v2">
                        <?php echo token_input(); ?>
                        <input type="hidden" name="purpose" value="{$purpose}" />
                        <input data-label="短信验证码" type="hidden" id="input-code" name="code" value="">
                        <ul class="clearfix">
                            <!-- 得到焦点时添加类名ipt-focus -->
                            <li class="clearfix">
                                <label> 登录用户名
                                </label>
                                <input type="text" value="" data-con="require" placeholder="4-20位字母 、数字" name="user_name" id="input-username" class="txt int_placeholder" data-placeholder="4-20位字母 、数字">
                                <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text"></div>
                                </div>
                            </li>
                            <li class="pwd-item clearfix" id="pwd-item">
                                <label> 登录密码
                                </label>
                                <span>
                                    <input type="password" style="display:none;" autocomplete="off">
                                        <input type="password" value="" data-con="require" placeholder="6-20位数字、字母、标点符号" name="password" id="input-password" class="txt int_placeholder" data-placeholder="6-20位数字、字母、标点符号" data-stretype="0" autocomplete="off" maxlength="20">
                                    </span>
                                <div class="pwd-sprite pwd-show eye"></div>
                                <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i><span><span></span></span></div>
                                    <div class="e-text">{$error.password}</div>
                                </div>
                                <div id="" class="pass-item-tip-password">
                                    <ul id="pwd-checklist" class="pwd-checklist">
                                        <li class="safety-level">
                                            <span class="process low">弱</span>
                                            <span class="process">中</span>
                                            <span class="process">强</span>
                                            <span class="ml4 color-low" style="display:none">低</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="tel-ver clearfix" style="*z-index:2">
                                <label> 联系方式
                                </label>
                                <div class="select_box" data-name="sms_country_code">
                                    <div class="j_select j_mess_select"></div>
                                    <ul class="select_ul none j_selectContent">
                                        {if isset($mobile_codes) }
                                        {foreach from=$mobile_codes item=val}
                                        {if $val.is_show}
                                        <li data-value="{$val.code}" data-name="{$val.country}"><i class="icon-{$val.country}"></i>{$val.name}</li>
                                        {/if}
                                        {/foreach}
                                        {else}
                                        <li data-value="86" data-name="cn">
                                            <i class="icon-cn"></i>中国大陆</li>
                                        {/if}
                                    </ul>
                                </div>
                                <div class="ipt-wrap w224">
                                    <input type="text" value="{$data.mobile}" data-con="require" placeholder="必填，先期作为与企业接洽业务使用" name="sms_phone" id="input-mobile-mess" class="txt-tel int_placeholder" data-placeholder="业务接洽联系号码" autocomplete="off">
                                </div>
                                <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text"></div>
                                </div>
                            </li>
                    <!--         <li class="clearfix" >
                                <label> 推荐人姓名
                                </label>
                                <input type="text" value="" placeholder="选填" data-con="require" class="txt int_placeholder" name="inviter_name" data-placeholder="选填">
                                <div class="er-icon"><i class="form-sprite icon-right"></i><span></span></div>
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">推荐人姓名不对</div>
                                </div>
                            </li> -->
                            <li class="graph-ver clearfix">
                                <label> 图形验证
                                </label>
                                <input type="text" value="" data-con="require" placeholder="右侧数字" name="captcha" id="input-captcha" class="txt int_placeholder" data-placeholder="右侧数字">
                                <div class="img-Veri">
                                    <img title="点击刷新" src="/verify.php?w=50&h=36&rb=0" id="captcha" width="100">
                                </div>
                                <div class="er-icon"><i class="form-sprite icon-right"></i><span></span></div>
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">{$error.captcha}</div>
                                </div>
                            </li>
                        </ul>
                        <div class="btn-w30">
                            {if false == $source }
                            <input class="btn-sub" type="submit" id="submit_button" value="立即注册">
                            {else /}
                            <input class="btn-sub" type="submit" id="submit_button" value="完成">
                            {/if}
                        </div>
                        <div class="p2p-ui-checkbox pad_left clearfix">
                            <div class="fl ml329">
                                <a href="javascript:void(0)" data-ui="checkbox" class="common-sprite check-normal check-select"></a>
                                <span>我已阅读并同意<a href="/help/register_terms" class="blue" target="_blank">《注册协议》</a></span>
                            </div>
                            <div class="error-wrap" id="agreement_msg">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                <div class="e-text">不同意注册协议无法完成注册</div>
                            </div>
                            <input data-con="require" type="hidden" name="agreement" value="1" id="agree">
                            <i></i>
                        </div>
                        <div class="tc color_gray pb30">已有账号，<a href="/user/login" class="blue">立即登录</a></div>
                        <div class="tc color_gray f12">平台奖励政策请以官网、APP和微信公众号三种官方渠道发布的信息为准</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span class="blank23"></span>
</div>
<!-- 短信验证码弹出框 -->
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.bgiframe.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.weebox.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/widget/p2p-ui-checkbox.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/p2p_validate.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/oauth/user_reg_company_new.js');?>?123124"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/jquery_placeholder-1.0.js');?>"></script>
<script type="text/javascript">
    var nogetCode = '{function name="get_adv" x="短信验证码获取文案_2015"}';
    if (nogetCode == "") {
        nogetCode = '如未收到验证码，我们将以18401558140~18401558149号段再次发送，或拨打客服热线 <span style="color:#f75939;">400-890-9888</span>（工作时间 8:00-20:00）。';
    }
</script>
{include file="web/views/v3/footer.html"}
