
body{ background-color: #efeff4;}

.sc_title{ height: 30px;line-height: normal;font-size: 10px;margin-left: 13px;color: #8f8f8f;}
.sc_footer{ position: fixed;bottom: 0px;left: 0px;right: 0px;height: 48px;line-height: 48px;background-color: #fff;text-align: center;padding: 0 13px;}
.sc_footer a{ display: inline-block;background-color: #ee4634;text-align: center;height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 3px;width: 100%;}
.ts_color{ color: #000!important;}
/*地址*/
.sc_address{ background-color: #fff;padding:10px 13px;font-size: 13px;}
.sc_address span{ color: #8f8f8f; }
.sc_address p{ color: #41474d;margin-top: 5px;}
/*联系电话*/
.sc_tell{ position: fixed;bottom: 58px;left: 0px;right: 0px;text-align: center;font-size: 10px;color: #8f8f8f;}
.sc_tell a{ color: #5ca9e4; }
.h15{ height: 15px;}
.sc_footer a.a_left{ margin-top: 10px;margin-right:7px; display:block; width:auto;}
.sc_footer a.a_right{margin-top: 10px;margin-left:7px;display:block;width:auto;}
.sc_footer .left_div{ float:left; width:50%}

.sec_aa p,.sec_zmsc p{ color: #8f8f8f;font-size: 14px;margin: 5px 0px;}
.sc_list{ margin-bottom: 30px;}
.ts_btn{ text-align: center;margin-top: 10px;}
.ntxt_color{ margin-top: 5px;}
.ts_btn a{ height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 5px;text-align: center;background-color: #ee4634;padding: 5px 20px;}

.disnone{ display: none!important;}
.new_txt{ line-height: normal;padding: 7px 15px 10px;font-size: 15px;color: #000;}
.suc_txt{ padding: 10px 0px;}
.add_btn{ text-align: center;margin-bottom: 30px;}
.btn_chongru{ border: 1px solid #ee4634;text-align: center;height: 30px;width: 178px;color: #ee4634;font-size: 15px;border-radius: 3px;font-size: 13px;display: inline-block;line-height: 30px;margin-top: 20px;}

.ts_link ul { text-align: center;}
.ts_link ul li{display: inline-block;text-align: center;vertical-align: top;min-width: 60px;}

.ts_link ul li span{ display: block;color: #909090;}
.ts_link ul li a i{width: 60px;height: 60px;display: inline-block;}
.qita_zhanghu{ background: url("../../images/o2o/ts_icon_02.png") no-repeat 0 0;background-size: cover;}
.geren_zhanghu{ background: url("../../images/o2o/ts_icon_01.png") no-repeat 0 0;background-size: cover;}
.weixin_zhanghu{ background: url("../../images/o2o/ts_icon_03.png") no-repeat 0 0;background-size: cover;}
.geren_dizhi{ background: url("../../images/o2o/ts_icon_04.png") no-repeat 0 0;background-size: cover;}