{include file="web/views/v3/header.html"}
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('meiti/base.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('meiti/common.css');?>" />
<!-- <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('meiti/p-news-mediadetail.css');?>" /> -->
<style>
  .ui-new-mainbody{width:1100px;}
  img{width:100%;display:block;}
  .media-article{padding: 27px 40px 25px;font-size: 14px;line-height: 24px;color: #575757}
</style>
    <div class="act_show">
      {$article.content|stripcslashes}
    </div>
    <!-- <div class="main  pt23 pb30 clearfix">
      <div class="ui-new-mainbody">
        <div class="p_news_mediadetail">
          <div class="ui-box">
            <div class="h-title">
              <h2><i></i>{$article.title|escape}</h2>
            </div>
            <div class="media-article">
              <div class="news-cont htmleditor">{$article.content|stripcslashes}</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>