@charset "utf-8";
.common-sprite{background-image:url(../images/common/icon-common.png);background-repeat:no-repeat;display: inline-block;background-size: auto 68px;}
/*header*/
.m-head .m-head-fix { min-height: 40px; width: 100%; position: fixed; left: 0; top: 0; background-color: #fff; z-index: 100; border-bottom: 1px solid #d9e1e8 }
.m-head .head_app { position: relative; background-color: #5ca9e4; height: 26px; line-height: 26px; padding: 8px 15px; color: #fff; }
.m-head .head_app a.down_btn { display: inline-block; width: 72px; height: 26px; background-color: #fff; color: #5ca9e4; text-align: center; text-decoration: none; border-radius: 13px; margin-left: 10px; }
.m-head .head_app span.close { position: absolute; right: 10px; top: 10px; width: 22px; height: 22px; background: url(../images/icon/icon_app_cha.png); background-size: 100% 100%; }
.m-head .logo_menu { background-color: #fff;color: #333; height: 40px; text-align: center; line-height: 40px; font-size: 16px; position: relative; }
.m-head .logo_menu .logo { position: absolute; top: 8px; left: 8px; width: 93px; height: 23px; background: url(../images/common/head_logo.png?v=20150615); background-size: 100% 100%; }
.m-head .logo_menu .menu { position: absolute; top: 6px; right: 8px; width: 27px; height: 27px; background: url(../images/icon/menu.png); background-size: 100% 100%; }
.m-head .logo_menu .top-memu { position: absolute; top: 0; right: 8px; font-size: 13px; }

/*head占位*/
.m-head .m-head-placeholder { height: 82px; }
.m-head.down_app_none .m-head-placeholder { height: 40px; }
.m-head.down_app_none .head_app { display: none; }

/*foot*/
.m-foot { padding: 10px 0; background-color: #e6eaec; color: #8f8f8f; text-align: center; }
.m-foot a { color: #41474d; font-size: 16px; text-decoration: none; line-height: 30px; margin: 0 10px; }
.m-foot a.cur { color: #f64172; }

/*main*/
.m-main { min-height: 300px; }

/*ui-form*/
.ui-form .dl_center { margin: 0 0 20px 0;/*background: #FFF;border-bottom: 1px solid #dadcdd;*/  border-top: 1px solid #dadcdd;  }
.ui-form .dl_footer { text-align: center; margin-bottom: 20px; padding: 0 20px;}
.ui-form .dl_footer input { outline: none; border: none; background-color: #f64172; border-radius: 30px; height: 40px; line-height: 40px; text-align: center; width: 98%; font-size: 15px; color: #fff; }
.ui-form .dl_footer input[disabled=disabled]{opacity:0.5;}
.ui-form .dl_footer input.btn-unsub { background: #d4d5d6; color: #9ea0a3; cursor: text; }
.ui-form .input-list { display: -webkit-box; padding: 0 15px; height: 40px; line-height: 40px; border-bottom: 1px solid #dadcdd; font-size: 15px; color: #333; margin: 0 auto;background: #FFF }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; }
.ui-form .input-list.bg-gray { background: #f5f5f5 }
.ui-form .input-list.bg-gray2 { background: #fafafa }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap input { border: none; width: 100%; height: 22px; font-size: 15px;line-height: 22px; padding: 9px 0;}
.ui-form .input-list span.pwd-show{ margin-left: 15px;display: block;  }
/*.ui-form .input-list:last-child{border-bottom: none}*/
.ui-form .input-list .dl_yanzhengma{width: 150px;border-left: 1px solid #dadcdd;text-align: right;}
.ui-form .dl_yanzhengma img { vertical-align: middle; width: 70px; height: 28px; overflow: hidden;margin: -5px 12px 0 7px;  }
/*验证样式*/
.ui-input-error{width:80%;text-align: center;position: fixed;bottom:0;left: 10%;height: 0; z-index: 999;}
.ui-input-error span{padding: 20px;background: rgba(0, 0, 0,0.75); border-radius: 5px;color: #FFF;font-size: 13px;display: inline-block;}

.ui-input-error.show{-webkit-transition:all 0.2s linear; bottom:24%;}

/*弹出层*/
.ui-popup-wrap { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); text-align: center; position: fixed; top: 0px; left: 0; z-index: 200; }
.ui-pop-box { width: 275px; position: absolute;  left: 50%;  margin-left: -137px; background: #FFF; border-radius: 5px; font-size: 15px; z-index: 201}
.ui-pop-box .pop-head { height: 34px; line-height: 34px;  margin: 0 10px; border-bottom: 1px solid #e6e6e6 }
.ui-pop-box .pop-head  h1 { color: #f64172; text-align: center;}
.ui-pop-box .pop-body { padding: 12px 15px 20px; }
.ui-pop-box .pop-body .btn-wrap { text-align: center; margin-top: 12px; }
.ui-pop-box .pop-btn { width:100%;border-radius: 17px; height: 35px; line-height: 35px; display: inline-block; }
.ui-pop-box .btn-ok { background: #f64172; color: #FFF }

/*提交样式*/
.ui-btn-subing { opacity: 0.5 !important; }

/*表格*/
.ui-datalist table { border-top: 1px solid #dadcdd; background: #FFF; text-align: center; }
.ui-datalist table thead tr th { color: #aaaeb5; }
.ui-datalist table thead tr th, .ui-datalist table tbody tr td { border-left: 1px solid #dadcdd; border-bottom: 1px solid #dadcdd; height: 30px; line-height: 30px; }


.ui_title{ height:45px; text-align:center; font-size:18px; line-height:45px; position:relative;background:#fafafa;border-bottom: 1px solid #d9d9d9; color: #41474d;}
.ui_title a{ color:#41474d;}
.ui_title .ui_back{ position:absolute; left:10px; font-size:14px;}
.ui_icon_back{ background:url(../images/common/back.png) no-repeat; width:9px; height:20px; display:inline-block; background-size:9px 17px; margin:0 5px 0 0px; vertical-align:middle;}
.m_footer{ height:120px; background:#37383b;} 
.m_footer p{ text-align:center; color:#a7a7a7; opacity:0.5; line-height:20px;}
.m_footer .f_nav{ width:284px; margin:0 auto; padding:15px 0 10px;}
.m_footer .f_nav li{ float:left; width:94px; }
.m_footer .f_nav li a{ color:#a7a7a7;font-size:15px;}


.ui_register{ padding-bottom:15px;margin:0 15px;}
.ui_register .form_box{background:#fff; border-radius:5px; margin:10px auto 20px; border:1px solid #dbdbdb;}
.ui_reg_input{ height:44px; border:none;border-radius:5px; font-size:15px; display: block; -webkit-box-flex: 1;}
.ui_register .border_b{padding:0 18px; border-bottom:1px solid #dbdbdb; display: -webkit-box;}
.ui_register .border_b:last-child{border:none;}
.ui_register .no_border{ border:none;}
.ui_register .yz_img{ line-height:44px; width:80px; padding-left:18px; border-left:1px solid #dbdbdb;}
.ui_register .yz_img img{ vertical-align:middle;}
.reg_btn,.ui_register .reg_disabled_btn{ width:270px; height:45px; border:none; text-align:center; border-bottom:2px solid #f0a21a; border-radius:5px; background:#fffd74; color:#a6651f; margin:0 auto 10px; display:block; font-size:18px; font-weight:bold; line-height:45px;}
.ui_register .reg_disabled_btn{ background:#fffeaf; color:#eda63b;}
.ui_register .reg_finish_btn{ height:40px; width:100%; line-height:40px; color:#fff; background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c; display:block; text-align:center;}
.ui_register .reg_finish_btn_dis{ color:#fc9e97;}


.ui_mask{width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); text-align: center; position: fixed; top: 0px; left: 0; z-index: 200;}
.ui_max_width{height:100%; margin:0 10px;}
.ui_dialog{ width:275px; height:200px; background:#fff; top:50%; position:relative; margin:-100px auto 0; border-radius:5px;}
.ui_dialog .dialog_con{ padding:0 15px;}
.ui_dialog .dialog_con .title{ height:35px; line-height:35px; color:#fe4438; text-align:center; border-bottom:1px solid #e6e6e6; font-size:14px;}
.ui_dialog .dialog_con .dialog_text{ padding:7px 0px; font-size:14px;}
.ui_dialog .dialog_con .ipt_box{ height:39px; border:1px solid #dbdbdb; border-radius:5px; text-align:left; margin-bottom:15px;}
.ui_dialog .dialog_con .ui_yz_input{ height:39px; width:113px; border:none; border-right:1px solid #dbdbdb; border-radius:5px 0 0 5px; font-size:15px; padding-left:18px;}
.ui_dialog .dialog_con .reset_btn{ width:111px; height:39px; display:inline-block; text-align:center; line-height:39px; border:none; color:#007ce3; background:#fff;border-radius:5px; font-size:15px;}
.ui_dialog .dialog_con .dis_reset{color:#999999;}
.ui_dialog .dialog_con .reg_finish_btn{ height:40px; width:100%; line-height:40px; color:#fff; background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c;}
.ui_dialog .dialog_con .reg_finish_btn_dis{ color:#fc9e97;}
.ui_dialog .ui_dialog_close{ width:30px; height:30px; background:url(../images/common/icon_close.png) no-repeat; background-size:100%; position:absolute; right:-13px; top:-13px;}


.ui_reg_suc_icon,.ui_reg_fail_icon{ background-image:url(../images/common/icon_reg.png); background-repeat:no-repeat; width:38px; height:39px; background-size:100%; display: inline-block;/**/}
.ui_reg_suc_icon { background-position:0 -45px;}
.ui_reg_fail_icon{ background-position:0 0px;}

/*用户迁移协议*/
.yHidden{overflow-y:hidden;}
/*用户迁移协议isScroll*/
.transfer_ui_mask1 .fz_transferPt_text_sc{display:block !important;width:86%;margin:16px auto 15px;background-color:#f7f7f7;border:1px solid #ececec;padding:10px;font-size:12px;line-height:16px;text-align:left;}
.transfer_ui_mask1 .ggw_text .fz_transferPt_text{display:none !important;}
.transfer_ui_mask1 .fz_title{border-bottom:1px solid #E8E8E8;padding-bottom:7px;}
.transfer_ui_mask1 .ui_max_width,.transfer_ui_mask2 .ui_max_width{margin:0;}
.transfer_ui_mask1{width:100%;height:100%;background-color:rgba(0,0,0,0.75);text-align:center;position:fixed;top:0px;left:0;z-index:998;}
.transfer_ui_mask1 .ui_max_width{height:100%;}
.transfer_ui_mask1 .ui_dialog{background:#fff;top:0;position:relative;border-radius:0;}
.transfer_ui_mask1 .ui_dialog .dialog_con{padding:0 15px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .fz_protocol{line-height:35px;text-align:center;font-size:18px;color:#030303;letter-spacing:0px;padding-top:8px;border-bottom:none;padding-bottom:4px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .dialog_text{padding:7px 0px;font-size:12px;color:#4D4F51;letter-spacing:0px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .ipt_box{height:39px;border:1px solid #dbdbdb;border-radius:5px;text-align:left;margin-bottom:15px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .ui_yz_input{height:39px;width:113px;border:none;border-right:1px solid #dbdbdb;border-radius:5px 0 0 5px;font-size:15px;padding-left:18px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .reset_btn{width:111px;height:39px;display:inline-block;text-align:center;line-height:39px;border:none;color:#007ce3;background:#fff;border-radius:5px;font-size:15px;}
.transfer_ui_mask1 .ui_dialog .dialog_con .dis_reset{color:#999999;}
.transfer_ui_mask1 .ui_dialog .dialog_con .reg_finish_btn{height:40px;width:100%;line-height:40px;color:#fff;background:#fe4438;border:none;border-radius:5px;font-size:18px;font-weight:bold;border-bottom:2px solid #d9201c;}
.transfer_ui_mask1 .ui_dialog .dialog_con .reg_finish_btn_dis{color:#fc9e97;}
.transfer_ui_mask1 .ui_dialog .ui_dialog_close{width:30px;height:30px;background:url(../../images/event/icon_close.png) no-repeat;background-size:100%;position:absolute;right:-13px;top:-13px;}
.transfer_ui_mask1 .hd_dialog{width:100%;max-width:600px;margin:0 auto;height:100%;}
.transfer_ui_mask1 .hd_dialog .dialog_con{height:100%;display:-webkit-box;-webkit-box-orient:vertical;padding:0;}
.transfer_ui_mask1 .hd_dialog .dialog_con .dialog_text{padding-bottom:20px;border-bottom:1px solid #E6E6E6;text-align:left;line-height:20px;color:#666666;overflow-y:hidden;-webkit-box-flex:1;position:relative;}
.transfer_ui_mask1 .hd_dialog .dialog_con .transf_dialog_btn{text-align:center;font-size:16px;color:#FFFFFF;letter-spacing:0px;height:39px;background:#fe4438;border:none;border-radius:2px;border-bottom:1px solid #d9201c;margin:0 auto;line-height:39px;width:85%;}
.transfer_ui_mask1 .kfTel{text-align:center;font-size:14px;padding:5px 0 0 0;}
.transfer_ui_mask1 .kfTel a{color:#0088cc;}
.transfer_ui_mask1 .j_registerPt a{font-size:14px;color:#666666;}
.transfer_ui_mask1 .j_know{display:none;}
.transfer_ui_mask1 .gg_protocal{padding:0px 12px 0 16px !important;}
.transfer_ui_mask1 .gg_protocal h2{margin:0px !important;font-size:16px!important;}
.transfer_ui_mask1 .gg_protocal p{font-size:15px;}
.transfer_ui_mask1 .dialog_bottom{margin:18px 0 10px 0;position:absolute;bottom:0;width:100%;}
.transfer_ui_mask1 .zw_height{height:129px;}
.transfer_ui_mask1 .zw_sam,.transfer_ui_mask1 .zw_big{display:none;}
.transfer_ui_mask1 .fz_mrb{margin-bottom:8px !important;}
@media screen and ( min-width: 212px) and ( max-width: 319px){/*213px显示屏样式 LG Optimus One*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size: 12px;line-height:16px;}}
@media screen and ( min-width: 319px) and ( max-width: 359px){/*320px显示屏样式 苹果4/4S/5C/5S黑莓Z30 */.transfer_ui_mask1 .fz_transferPt_text_sc{font-size: 16px;line-height:21px;}}
@media screen and ( min-width: 359px) and ( max-width: 374px){/*360px显示屏样式 索尼Z1*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}.transfer_ui_mask1 .zw_sam{display:block !important;}}
@media screen and ( min-width: 374px) and ( max-width: 383px){/*375px显示屏样式 iphone6*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:34px;}}
@media screen and ( min-width: 383px) and ( max-width: 399px){/*384px显示屏样式 黑莓Z10 谷歌 Nexus 6 LG Optimus G*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:30px;}.transfer_ui_mask1 .zw_big{display:block !important;}}
@media screen and ( min-width: 399px) and ( max-width: 414px){/*399px显示屏样式 三星galaxyNote*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}
@media screen and ( min-width: 414px) and ( max-width: 423px){/*414px显示屏样式 苹果6plus*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}
@media screen and ( min-width: 423px) and ( max-width: 479px){/*424px显示屏样式 LG 4X */.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}
@media screen and ( min-width: 479px) and ( max-width: 539px){/*480px显示屏样式 索尼MT27i Xperia sola*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}
@media screen and ( min-width: 539px){/*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}
@media screen and ( min-width: 539px){/*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/.transfer_ui_mask1 .fz_transferPt_text_sc{font-size:18px;line-height:28px;}}


/*注册协议*/
.transfer_ui_mask2{width:100%;height:100%;background-color:rgba(0,0,0,0.6);text-align:center;position:fixed;top:0px;left:0;z-index:999;}
.transfer_ui_mask2 .ui_max_width{height:100%;margin:0 10px;}
.transfer_ui_mask2 .ui_dialog{width:275px;height:200px;background:#fff;top:10%;position:relative;margin:0;border-radius:5px;}
.transfer_ui_mask2 .ui_dialog .dialog_con{padding:0 15px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .fz_protocol{height:35px;line-height:35px;color:#fe4438;text-align:center;border-bottom:1px solid #e6e6e6;font-size:14px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .dialog_text{padding:7px 0px;font-size:14px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .ipt_box{height:39px;border:1px solid #dbdbdb;border-radius:5px;text-align:left;margin-bottom:15px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .ui_yz_input{height:39px;width:113px;border:none;border-right:1px solid #dbdbdb;border-radius:5px 0 0 5px;font-size:15px;padding-left:18px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .reset_btn{width:111px;height:39px;display:inline-block;text-align:center;line-height:39px;border:none;color:#007ce3;background:#fff;border-radius:5px;font-size:15px;}
.transfer_ui_mask2 .ui_dialog .dialog_con .dis_reset{color:#999999;}
.transfer_ui_mask2 .ui_dialog .dialog_con .reg_finish_btn{height:40px;width:100%;line-height:40px;color:#fff;background:#fe4438;border:none;border-radius:5px;font-size:18px;font-weight:bold;border-bottom:2px solid #d9201c;}
.transfer_ui_mask2 .ui_dialog .dialog_con .reg_finish_btn_dis{color:#fc9e97;}
.transfer_ui_mask2 .ui_dialog .ui_dialog_close{width:30px;height:30px;background:url(../../images/event/icon_close.png) no-repeat;background-size:100%;position:absolute;right:-13px;top:-13px;}
.transfer_ui_mask2 .hd_dialog{width:100%;max-width:600px;max-height:420px;height:70%;}
.transfer_ui_mask2 .hd_dialog .dialog_con{height:100%;display:-webkit-box;-webkit-box-orient:vertical;padding:0;}
.transfer_ui_mask2 .hd_dialog .dialog_con .fz_protocol{color:#000;font-size:15px;}
.transfer_ui_mask2 .hd_dialog .dialog_con .dialog_text{padding:0 15px;margin:7px 0px;text-align:left;line-height:20px;color:#666666;overflow-y:hidden;-webkit-box-flex:1;position:relative;}
.transfer_ui_mask2 .hd_dialog .dialog_con .regis_dialog_btn{color:#fff;width:160px;height:40px;background:#fe4438;border:none;border-radius:5px;font-size:18px;font-weight:bold;border-bottom:2px solid #d9201c;margin:0 auto;line-height:40px;}
.transfer_ui_mask2 .transf_dialog_btn,.transfer_ui_mask2 .kfTel,.transfer_ui_mask2 .j_registerPt{display:none;}
.transfer_ui_mask2 .dialog_bottom{margin:10px auto 20px;}
.transfer_ui_mask2 .zw_height{display:none;}
.transfer_ui_mask2 .zw_p,.transfer_ui_mask2 .zw_sam,.transfer_ui_mask2 .zw_big{display:none;}