/*修改密码-身份证号*/
.p_id_card .ui_title{font-size:17px;font-family:"微软雅黑";}
.p_id_card form{margin:0;padding:0;display:block;color:#909ba8;}
.p_id_card .ui_register .border_b{ display: -webkit-box;}
.p_id_card .ui_register .border_b:last-child{border:none;}
.p_id_card .ui_register .border_b .ui_reg_input{-webkie-box-flex:1;}
.p_id_card .ui_register .border_b .title{color: #000;line-height: 44px; font-size: 15px;padding-right: 15px;}
html,body,button,input,select,textarea{font:12px/1.5  arial,"Microsoft YaHei";}
.p_id_card .ui_register{padding:0px 0px 1px 15px;margin:10px 0 20px 0;background-color:#ffffff;}
.p_id_card .ui_register .form_box{margin: 0px;}
.p_id_card  .gray{color:#909ba8;}
.p_id_card .ui-deal-btn{text-align:center;padding:10px 15px;}
.p_id_card input[type=button][disabled=disabled],input[type=submit][disabled=disabled]{color:#fff;opacity:1; background: #d9d9d9;}
.p_id_card .ui_btn_red{display:block;background:#ee4634;height:43px;color:#fff;font-size:18px;line-height:43px;text-align:center;border-radius:3px;width:100%;}
.p_id_card .verificationCode{line-height: 44px;}
.p_id_card .verificationCode img{vertical-align: middle;}
.p_id_card .ui_register .form_box{border:none;}