/*login*/
/*p2p*/
body{ background:#f5f5f9;}
.p_login_new input.reg_finish_btn[disabled=disabled]{color:#fc9e97;}
.p_login_new .ui_tel_tips{border-right: 1px solid #dbdbdb;height: 45px;line-height: 45px;color: #000;font-size: 15px;width: 40px;margin-right: 15px;}
.p_login_new .msg_get{margin-top:10px;margin-bottom:10px;}
.p_login_new .mb10{margin-bottom: 10px;}
.hd_dialog{width: 100%;max-width: 600px;max-height: 420px;margin: 0 auto;height: 70%;}
.hd_dialog .dialog_con {height: 100%;display: -webkit-box;-webkit-box-orient: vertical;padding: 0;}
.hd_dialog .dialog_con .title {color: #000;font-size: 15px;}
.hd_dialog .dialog_con .dialog_text {padding: 0 15px;margin: 7px 0px;text-align: left;line-height: 20px;color: #666666;overflow-y: hidden;-webkit-box-flex: 1;position: relative;}
.hd_dialog .dialog_con .dialog_btn {color: #fff;width: 160px;height: 40px;background: #fe4438;border: none;border-radius: 5px;font-size: 18px;font-weight: bold;border-bottom: 2px solid #d9201c;line-height: 40px;margin: 10px auto 20px;}
.p_login_new .ui_title a.register_top{float: right;padding-right: 10px;font-size: 14px;color: #5ca9e4;}