@charset "utf-8";
/**
* Description: common style 
**/
/*public style*/
div {margin:0;}
/*HTML5 常用标签*/
header, section, footer, aside, article, figure ,menu {display: block; margin:0px; padding:0px;}
body {min-height:898px;font:12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333; background-color:#e2e5e9; background-image:none; overflow-x:hidden; color:#333333;}
a{ text-decoration:none; color:#0088cc; outline:none;}
a:hover{ color:#0088cc;}
i{ font-style:normal;}
.none1 {display:none;}
.none {display:none!important;}
.border_none{ border:none !important;}
pre{ word-break:break-all; word-wrap:break-word; white-space:pre-wrap;}    
.wrap{ width:980px; margin:0px auto;}
input{ outline:none;}
input[type="password"]:focus,input[type="text"]:focus{ border-color:#ffb904; box-shadow:0 1px 4px rgba(125, 125, 125, 0.35) inset, 0 0 7px rgba(118, 176, 222, 0.45);}
.formvalidError {display: block;color:red;font-size:12px;}
.f_red {color:red;}
.bg_gray {background:#e8ebf2!important;color:#666!important; }
.formvalidError , .successValid {padding-left:20px;margin-left:10px;background:url(../images/common/f42.png) no-repeat 0 center;}
.successValid {/*background:url(../images/common/f11.png) no-repeat 0 center;*/background:none;width:15px;height:30px;+height:30px;+line-height:30px;overflow:hidden;}
.nopdding {padding:0!important;}


/*头部css*/
.wrap {width:1100px;margin:0 auto;position:relative;display:block;}
