<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>大连贷</title>
    <link rel="stylesheet" href='http://www.daliandai.com/Public/Home/css/fenzhan.css' />
    <script type="text/javascript" src="http://www.daliandai.com/Public/Home/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.daliandai.com/Public/Home/js/fenzhan.js"></script>
</head>
<body>
        <!-- 脚部 -->
        <div id="ft">
            <div class="grid-m">
                <div class="main-wrap">
                    <!-- 底部 -->
                    <div class="box J_TBox no-mb">
                        <div class="dl_bottom">
                            <div class="foot_hzjg">
                                <div class="bd">
                                    <div class="hzjg_t">
                                        <span class="span_r"><a href="http://www.daliandai.com/about/index/type/2" target="_blank">更多</a></span><h3>合作机构</h3>
                                    </div>
                                    <div class="hzjg_b">
                                        <a href="http://www.creditchina.hk/c/index.php" target="_blank"><img src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adff45d2d1a.jpg" width="144" height="50" alt="" /></a>
                                        <a href="http://www.ucfgroup.cn/" target="_blank"><img src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adff93a9627.jpg" width="144" height="50" alt="" /></a>
                                        <a href="http://www.cflc.cn/" target="_blank"><img src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adff6374449.jpg" width="144" height="50" alt="" /></a>
                                        <a href="http://www.ncfgroup.com/" target="_blank"><img src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adffb4b5d0d.jpg" width="144" height="50" alt="" /></a>
                                        <a href="http://www.chedai.com/" target="_blank"><img src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adffcdee6d5.jpg" width="144" height="50" alt="" /></a>
                                        <a href="http://www.diyifangdai.com/" target="_blank"><img class="lastimg" src="http://www.daliandai.com/Uploads/Picture/2015-01-08/54adffe374e5f.jpg" width="144" height="50" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="foot_nav">
                                <div class="bd">
                                    <div class="nav_link">
                                        <a href="http://www.daliandai.com/doc/info/id/5.html">公司简介</a>
                                        <a href="http://www.daliandai.com/About/index/type/3.html">联系我们</a>
                                        <a href="http://www.daliandai.com/job">加入我们</a>
                                        <a href="http://www.daliandai.com/doc/info/id/10.html">政策法规</a>
                                        <a href="http://www.daliandai.com/doc/info/id/11.html">隐私保护</a>
                                        <a href="http://www.daliandai.com/doc/info/id/12.html">免责条款</a>
                                    </div>
                                </div>
                            </div>
                            <div class="foot_icp">
                                <div class="bd">
                                    <div class="dl_icp">
                                        <p><i class="copy">©</i>2014大连贷<i class="vline"></i>All Rights Reserved<i class="vline"></i>京ICP备14036148号-3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 底部...end -->
                </div>
            </div>
        </div>
        <!-- 脚部...end -->
</body>
</html>