body{background: #fff;}
.p_booking{padding: 10px;color: #606266;font-size: 16px;}
.p_booking .title{padding-bottom:10px;}
.p_booking .time_item, .p_booking .city_item{padding-bottom: 20px; }
.p_booking .city_item{ border-bottom: 1px solid #ececec; margin-bottom: 20px;}
.p_booking .time_item li{padding: 5px 0; }
.p_booking .city_item li{ float: left; padding:0 20px;border: 1px solid #dcdfe6; margin-right: 15px;border-radius: 3px; text-align: center}

.p_booking .ipt_radio_box {
    border: 1px solid #606266;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
}
.p_booking .disabled .ipt_radio_box{border: 1px solid #dcdfe6;}
.p_booking .time_item .active .ipt_radio_box{
    border-color: #ff5252;
    background: #ff5252;
}
.p_booking .city_item .active{border: 1px solid #ff5252; background: rgb(255, 200, 164); color:#fff;} 
.p_booking .ipt_radio_box:after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s ease-in;
}
.p_booking .time_item .active .ipt_radio_box:after, .p_booking .city_item .active .ipt_radio_box:after{transform: translate(-50%,-50%) scale(1);}
.p_booking .ipt_radio{
    display: none;
}
.p_booking .disabled{color: #ccc;}
.p_booking .book_btn{height: 40px; background: #ff5252;border-radius: 5px;line-height: 40px;color: #fff; text-align:center;}
.p_booking .bg_gray{background: #ccc;}.p_limit_detail .charge_limit_descript{background-color: #fff;padding: 0 15px;padding-bottom: 35px;margin-bottom: 15px;}
.p_booking .booked{padding-bottom:20px;}
.p_booking .booked li{
    border-bottom: 1px solid #ececec;
    line-height: 40px;
}
.empty{text-align: center; font-size: 12px; color: #a4a5a7}