.apply_loan .apply_text{padding: 0 15px;background: #ffffff;border-bottom: 1px #d8d8d8 solid;}
.apply_loan .a_text_top{border-bottom: 1px #d8d8d8 solid;padding-top: 13px;}
.apply_loan .a_text_top p{text-align: center;}
.apply_loan .text_1{font-size: 13px;color: #909090;height: 23px;line-height: 23px;}
.apply_loan .text_2{font-size: 10px;color: #909090;height: 23px;line-height: 23px;}
.apply_loan .text_3{font-size: 30px;color: #ee4634;height: 42px;line-height: 42px;margin-bottom: 15px;}
.apply_loan .a_text_middle{border-bottom: 1px #d8d8d8 solid;}
.apply_loan .a_text_p{margin-top: 15px;}
.apply_loan .a_text_middle span{font-size: 15px;}
.apply_loan .a_text_middle .gray{color: #909090;font-size: 12px;vertical-align: 1px;}
.apply_loan .a_cost{height: 56px;margin-top: 15px;}
.apply_loan .c_left{float: left;}
.apply_loan .c_right{float: right;}
.apply_loan .loan_bank{background: #ffffff;padding: 0 15px;margin: 20px 0px;border-bottom: 1px #d8d8d8 solid;border-top: 1px #d8d8d8 solid;}
.apply_loan .inf{height:44px;line-height:44px;width:100%;display:-webkit-box;}
.apply_loan .inf_unborder{border-bottom:none;}
.apply_loan .inf span{font-size:14px;color:#000000;display:inline-block;width:58px;}
.apply_loan .inf input{padding-left:20px;width:100%;display:block;-webkit-box-flex:1;border:none;font-size:14px;color:#000;height:38px;line-height:38px;outline:none;}
.apply_loan .but{padding:17px 15px 0px 15px;}
.apply_loan .but input[disabled=disabled]{background:#d9d9d9;opacity: 1;}
.apply_loan .but input{width:100%;border:none;color:#fff;height:40px;background:#ee4634;border-radius:2.5px;font-size: 17px;}
.apply_loan .list_text{height:44px;line-height:44px;width:100%;font-size:15px;}
.apply_loan .list_text i{font-style:normal;font-size:15px;float:right;background:url(../../images/creditloan/point.png) no-repeat right center;background-size:auto 10px;display:inline-block;padding-right:13px;}
.apply_loan .holder{color:#909090;}
.apply_loan .point_out{font-size: 12px;color: #909090;margin-top: 15px;margin-bottom: 30px;}
.apply_loan .red{color: #ee4634;}
/*.p_bank_list{display: -webkit-box;-webkit-box-orient: vertical;position: fixed;width: 100%;height: 100%;background-color: #f2f2f2;}
.p_bank_list li{float:left;padding-left:60px;list-style:none;font-size:15px;height:50px;line-height:50px;width:100%;border-bottom:1px #d9d9d9 solid;color: #909090;}*/
.p_bank_list{display: -webkit-box;-webkit-box-orient: vertical;position: fixed;z-index: 202;bottom:0;-webkit-transform: translateY(100%);-webkit-transition: all 0.3s linear;}
.p_show{-webkit-transform: translateX(0);}
.p_bank_list li{float:left;list-style:none;font-size:15px;height:50px;line-height:49px;width:100%;color: #909090;background:#ffffff;}
.p_bank_list li img{width: 30px;height: 30px;vertical-align: -9px;}
.p_bank_list li img.gray{opacity:0.4;}
.p_bank_list li span{display: inline-block;margin-left: 10px;}
.ui_title{ height:45px; text-align:center; font-size:18px; line-height:45px; background:#ffffff; position:relative;border-bottom:1px #d9d9d9 solid;}
.ui_title a{ color:#41474d;}
.ui_title .ui_back{ position:absolute; left:15px; font-size:15px;}
.ui_icon_back{ background:url(../../images/creditloan/x.png) no-repeat; width:18px; height:18px; display:inline-block; margin-left:5px;background-size:18px 18px; margin:0 5px 0 0px; vertical-align:middle;}
.ui_charge_record{ float: right; display: inline-block;  color: #5c5c5c; font-size: 14px;position: absolute; right: 8px;}
.ui_charge_mark{ width: 14px; height: 14px; line-height: 14px; border:1px #5e5e5e solid; border-radius: 7px; display: inline-block;margin-left: 5px;font-size: 12px;}
.bg_img{background: url(../../images/creditloan/gou.png) #ffffff no-repeat 95% center !important;background-size:15px 13px !important; }
.point_bank{color: #000000 !important;}
/*.p_bank_list li:nth-child(1){background: url(../../images/creditloan/haikou_bank.png) no-repeat 15px #ffffff;background-size: 30px 30px;}
.p_bank_list li:nth-child(2){background: url(../../images/creditloan/bohai_bank.png) no-repeat 15px;background-size: 30px 30px;}
.p_bank_list li:nth-child(3){background: url(../../images/creditloan/jiangsu_bank.png) no-repeat 15px;background-size: 30px 30px;}
.p_bank_list li:nth-child(4){background: url(../../images/creditloan/huaxia_bank.png) no-repeat 15px;background-size: 30px 30px;}
.p_bank_list li:nth-child(5){background: url(../../images/creditloan/tianjin_bank.png) no-repeat 15px;background-size: 30px 30px;}*/
.ml15{margin-left: 15px;}
.pl15{margin-left: 15px;}
.pr15{margin-right: 15px;}
.w_b{word-break: break-all;}
.border_b{border-bottom:1px #d9d9d9 solid;}
.bg_cover{position: fixed;top:0;left:0;background:#000000;opacity: 0.5;width: 100%;height: 100%;z-index: 99;}
.dis_none{display: none;}
.no_border{border:none !important;}