body{background-color:#efeff4; }
.p_application_content .one_jine{background-color: #FFFFFF;text-align: center;padding: 15px 0 11px 0;border-bottom: 1px solid #d9d9d9;}
.p_application_content .one_jine span{display: block;}
.p_application_content .one_jine .use_money{margin-bottom:4px;line-height:18px;color:#909090; }
.p_application_content .one_jine .use_num{font-size: 30px;color:#EE4634;}
.p_application_content .h2_title{padding: 15px 0 10px 15px;font-size: 12px;color: #909090;}
.p_application_content .loan_cont{background-color: #fff;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9;padding-left: 15px; }
.p_application_content ul.lc_list li{border-bottom:1px solid #d9d9d9;padding:12px 15px 11px 0px;font-size: 15px;color: #000000;}
.p_application_content ul.lc_list li:last-child{border:none;}
.p_application_content .loan_num{float: right;}
.p_application_content .loan_stateCont{background-color: #fff;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9;padding-left: 24px;margin-bottom: 20px;}
.p_application_content .loan_state{position: relative;}
.p_application_content ul.ls_list{border-left:1px solid #d9d9d9;padding: 15px 0;padding-right: 15px;}
.p_application_content ul.ls_list li{position: relative;padding-left: 15px;margin-bottom: 15px;}
.p_application_content ul.ls_list li span{display: block;}
.p_application_content ul.ls_list li i{position:absolute;left:-5px;top:4px;width: 8px;height: 8px;background: #f5f5fa;border-radius: 50%;border:1px solid #dbdbdb;}
.p_application_content ul.ls_list li:last-child{margin-bottom: 0;}
.p_application_content ul.ls_list li.current{color: #EE4634}
.p_application_content ul.ls_list li.current i{position:absolute;left:-6px;top:3px;width: 8px;height: 8px;background: #ee4634;border-radius: 50%;border:2px solid #f6a299;}
.p_application_content .c_gray{color:#BFBFBF;}
.p_application_content span.p_time{color:#909090;display:block;font-size: 12px;margin-top: 2px;}
.p_application_content .repay_time{text-align: right;}
.p_application_content .repay_days{height: 41px;}