@font-face {
  font-family: "DINAlternate";
  src: url("../../font/DIN Alternate Bold.ttf");
}
/* 英文数字字体公用样式 */
.din_alternate{font-family: 'DINAlternate'}
/* end */
.p_service_award .top_content{background: #ffffff;padding: 30px 0 25px;text-align: center;position: relative;}
.p_service_award .top_content .left{float: left;width: 50%;}
.p_service_award .top_content .border_line{width: 1px;/* no */height: 76px;background-color: #EAECED;transform: scale(0.5) translate(-50%);-webkit-transform: scale(0.5) translate(-50%);position: absolute;top: 15px;left: 50%;}
.p_service_award .top_content .right{float: left;width: 50%;}
.p_service_award .top_content .top_title{color: #8A8899;font-size: 12px;line-height: 17px;margin-bottom: 3px;}
.p_service_award .top_content .bottom_amount{font-size: 25px;line-height: 29px;color: #333333;}
.p_service_award .list_container{margin-top: 15px;background-color: #ffffff;width: 100%;}
.p_service_award .list_container .tab_container{width: 100%;height: 41px;line-height: 41px;display: -webkit-box;text-align: center;}
.p_service_award .list_container .tab_container li{box-flex: 1;-webkit-box-flex: 1;margin: 0 20px;color: #000000;font-size: 14px;}
.p_service_award .list_container .tab_container li.active{color: #ee4634;border-bottom: 3px solid #ee4634;}
/* 0.5px_line */
.p_service_award .list_container .bottom_line{width: 200%;height: 1px;/* no */background: #EAECED;transform: scale(0.5) translate(-50%);-webkit-transform: scale(0.5) translate(-50%);}
/* end */
.p_service_award .list_container .tab_panel .panel_time{padding: 12px 15px;color: #343438;font-size: 14px;line-height:20px;font-weight: 600;}

.p_service_award .list_container .tab_panel .each_list{margin-left: 15px;}
.p_service_award .list_container .tab_panel .each_list .each_list_content{padding: 20px 15px 20px 0;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_left{float: left;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_left .top{font-size: 14px;color: #343438;line-height: 20px;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_left .top i{color: #EF4B39;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_left .middle{font-size: 12px;color: #000000;margin-top:3px;line-height: 17px;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_left .bottom{font-size: 12px;color: #8A8899;margin-top:3px;line-height: 17px;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_right{float: right;margin-top: 21px;line-height:18px;color: #8A8899;}
.p_service_award .list_container .tab_panel .each_list .each_list_content .each_list_right.no_invite{color: #FF6500;}

/* 列表为空时样式 */
.absolutely_empty_container{position: absolute;width: 100%;height: 76%;background-color: #fff;}
.absolutely_empty{padding: 140px 0;text-align:center;font-size: 14px;line-height: 42px;color: #858B9C;background: url('../../../v3.2/images/o2o/icon_none.png') center top no-repeat;background-size: 150px 150px;position: absolute;width: 100%;top: 50%;margin-top: -160px;}
/* end */