<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>荣华--荣信会网站头部分离!</title>
    <link rel="stylesheet" href="http://local.rhwx.cn/htmlpage/subsite/css/fenzhan.css"/>
        <script src="js/jquery-1.9.js"></script>
        <script type="text/javascript" src="/api/fzjs"></script>
</head>
<body>
    
    <!--请注意注释部分 需要做登录判断------->
    <div id="hd" class='head-box'>
        <div class="layout grid-m">
            <div class="main-wrap">
                <!-- start 页头信息-->
                <div class="box J_TBox no-mb">
                    <div class="header_top">
                        <div class="bd">
                            <div class="header_left pull-left">
                                <span class="phone pull-left">服务热线：<font>400-114-9559</font></span>
                               <div class="header_right pull-left">
                                    <div class="top pull-left">
                                       关注我们：
                                    </div>
                                    <div class="other_login pull-right">
                                        <a href="http://weibo.com/5506552853/profile?rightmod=1&wvr=6&mod=personnumber" target="_blank" class="icon sina"></a>
                                         <a href="javascript:void(0);" class="icon wx"></a>
                                          <div class="wxqrcode_box">
                                                <div class="top_row_con"></div>
                                                <img src="http://www.rxh365.com/Uploads/Picture/2015-05-29/556802b886e57.jpg">
                                            </div>
                                    </div>
                                </div>                            </div>
                            <div class="top-logo pull-right">
                                
                                {if !$user_info}
                                <!------------------------注意：此处是登陆前---------------------------->
                                <a href="http://www.rxh365.com/user/login/cn/FA66A6.html">登录</a> |
                                <a href="http://www.rxh365.com/user/reg/cn/FA66A6.html">免费注册</a>
                                {else}
                                <!------------------------注意：此处是登陆后---------------------------->
                                <a href='http://rxh.firstp2p.com/account'>{if empty($user_info.real_name)}{$user_info.user_name}{else}{$user_info.real_name}{/if}</a>
                                <a href='http://www.rxh365.com/user/logout?from=fz'>退出</a>
                                {/if}
                                | <a href='http://rxh.firstp2p.com/helpcenter'>帮助中心</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box J_TBox no-mb nav-box">
                  <div class="header">
                        <div class="bd">
                            <div class="logo"><a href="http://www.rxh365.com"><img src="http://www.rxh365.com/Public/Home/rhwx/images/logo.png"></a></div>
                             <div class="my_account select">
                                <div class="drop_b">
                                    <!------------------------注意：此处是登陆前---------------------------->
                                {if !$user_info}
                                    <a href="http://www.rxh365.com/user/login/cn/FA66A6.html">
                                        <i class="icon ac_icon"></i>
                                        个人中心
                                        <i class="icon icon_arrow "></i>
                                    </a>
                                {else}
                                    <!------------------------注意：此处是登陆后---------------------------->
                                    <a href="http://rxh.firstp2p.com/account">
                                        <i class="icon ac_icon"></i>
                                        个人中心
                                        <i class="icon icon_arrow "></i>
                                    </a>
                                {/if}
                                </div>
                            </div>
                            <div class="nav">
                                <ul class="menu">
                                    <li><a href="http://www.rxh365.com" class="smenu0 current" child="">首页</a></li>
                                    <li> <a href="http://www.rxh365.com/life.html" class="smenu1" child="">生活</a></li>
                                    <li><a href="http://www.rxh365.com/finance.html" class="smenu2" child="">金融</a> </li>
                                    <li><a href="http://www.rxh365.com/homemodle.html" class="smenu3" child="">家 </a></li>
                                </ul>
                          </div>
                       </div>
                 </div> 
            </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.wx').mouseover(function(){
                $('.wxqrcode_box').show();
            });
            $('.wxqrcode_box').mouseleave(function(){
                $('.wxqrcode_box').hide();
            });   
        });
    </script>

    
    
    
</body>
</html>
