/****我的账户-已投项目-多投宝****/
.p_account_load_duotou .jk_contract a {
    color: #08c
}

.p_account_load_duotou .color-black {
    color: #282828
}

.p_account_load_duotou i.ico_jilu {
    background-position: 0 -170px
}

.p_account_load_duotou .screening {
    padding: 25px 30px;
    background: url(../../images/user/shaixuan_bg.gif) repeat-x #f9f9f9 top left
}

.p_account_load_duotou .select_box {
    position: relative;
    margin-right: 20px;
    float: left;
    padding-top: 2px;
    z-index: 10
}

.p_account_load_duotou .select_box div {
    cursor: pointer;
    line-height: 22px;
    width: 131px;
    height: 23px;
    border: 1px solid #bababa;
    overflow: hidden;
    display: block;
    background: url(../../images/user/user.png) 113px 4px #fff no-repeat;
    padding-left: 5px;
    float: left;
    font-size: 13px
}

.p_account_load_duotou .select_box ul li {
    display: block;
    height: 18px;
    overflow: hidden;
    line-height: 18px;
    padding: 0 0 0 5px;
    margin: 0;
    width: 100%;
    cursor: pointer;
    color: #a8a8a8
}

.p_account_load_duotou .select_box ul li:hover {
    background: #ff8b00;
    color: #fff
}

.p_account_load_duotou .select_box ul li.hover {
    background: #ff8b00
}

.p_account_load_duotou .select_box ul {
    width: 136px;
    position: absolute;
    left: -1px;
    top: 28px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    background: #fff;
    z-index: 99999;
    padding: 1px;
    margin: 0px;
    max-height: 140px;
    _height: expression((document.documentElement.clientHeight||document.body.clientHeight)>125?"125px":"");
    overflow-y: auto;
}

.p_account_load_duotou .sel_time {
    font-size: 15px;
    color: #a6a6a6;
    float: left;
    line-height: 37px;
    padding-left: 230px
}

.p_account_load_duotou .time_box {
    width: 103px;
    height: 34px;
    border: solid 1px #bababa;
    vertical-align: middle;
    padding-left: 15px;
    line-height: 34px;
    font-size: 14px;
    margin-left: 10px;
    -moz-box-shadow: 0 -6px 11px #f4f4f4 inset;
    -webkit-box-shadow: 0 -6px 11px #f4f4f4 inset;
    box-shadow: 0 -6px 11px #f4f4f4 inset
}

.p_account_load_duotou .button_shaixian {
    border: none 0;
    padding: 0 15px;
    line-height: 29px;
    color: #fff;
    border-radius: 2px;
    background: url(../../images/common/icon_bg.png) no-repeat -322px -1px;
    width: 106px;
    height: 38px;
    font-size: 16px;
    margin-top: 1px
}

.p_account_load_duotou .button_shaixian:hover {
    background: url(../../images/common/icon_bg.png) no-repeat -435px -1px
}

.p_account_load_duotou .button_shaixian:active {
    background: url(../../images/common/icon_bg.png) no-repeat -548px -1px
}

.p_account_load_duotou .project_l {
    height: 168px;
    border-top: none;
    width: 658px;
    border-right: 1px solid #e3e3e3;
    position: relative
}

.p_account_load_duotou .project_l h1 {
    height: 53px;
    padding-top: 25px
}

.p_account_load_duotou .pro_name {
    display: inline-block;
    overflow: hidden;
    color: #333;
    padding-left: 60px;
    font-size: 20px;
    width: 220px
}

.p_account_load_duotou .pro_nub {
    width: 193px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    padding-top: 5px
}

.p_account_load_duotou .pro_button {
    width: 125px;
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    padding-top: 5px
}

.p_account_load_duotou .pro_button a {
    color: #1a1a1a
}

.p_account_load_duotou .project_l h1 span i, .p_account_load_duotou .ico_tou, .p_account_load_duotou .ico_shou, .p_account_load_duotou .user_title i.ico_more, .p_account_load_duotou .icon_add {
    background-image: url(../../images/user/user_new.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: 10px
}

.p_account_load_duotou .ico_proShow {
    background-position: -108px -29px
}

.p_account_load_duotou .ico_proHide {
    background-position: -135px -29px
}

.p_account_load_duotou .por_con {
    padding: 0 33px 0 60px
}

.p_account_load_duotou .por_con td {
    padding-bottom: 20px;
    font-size: 14px
}

.p_account_load_duotou .por_con td .jk-txt {
    float: left;
    display: inline-block
}

.p_account_load_duotou .por_con td .jk-name {
    margin-left: 5px;
    width: 95px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    float: left
}

.p_account_load_duotou .pro_state_hkz, .p_account_load_duotou .pro_state_tbz, .p_account_load_duotou .pro_state_yhk, .p_account_load_duotou .pro_state_mb, .p_account_load_duotou .pro_state_lglhkz, .p_account_load_duotou .pro_state_dsh {
    background-image: url(../../images/user/user_new.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 82px;
    height: 82px;
    position: absolute;
    left: -2px;
    top: -1px
}

.p_account_load_duotou .pro_state_hkz {
    background-position: 0 -27px
}

.p_account_load_duotou .pro_state_tbz {
    background-position: 0 -124px
}

.p_account_load_duotou .pro_state_yhk {
    background-position: 0 -224px
}

.p_account_load_duotou .pro_state_mb {
    background-position: 0 -318px
}

.p_account_load_duotou .pro_state_lglhkz {
    background-position: -388px -91px
}

.p_account_load_duotou .pro_state_dsh {
    background-position: -388px 0
}

.p_account_load_duotou .project {
    margin-bottom: 12px;
    min-height: 168px
}

.p_account_load_duotou .project_r {
    margin-top: 0;
    height: 148px;
    width: 239px;
    background: #fffcf3;
    position: relative;
    padding-top: 20px;
    text-align: center
}

.p_account_load_duotou .project_r p {
    padding-bottom: 5px;
    font-size: 14px;
    color: #9d9d9a;
    line-height: 24px
}

.p_account_load_duotou .p_line {
    border-bottom: dotted 1px #c7c6c4;
    height: 1px;
    overflow: hidden;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 5px
}
.p_account_load_duotou .pro_detailed {
    background: #fff;
    padding: 25px 0 50px 0;
    clear: both;
    display: none;
}
.p_account_load_duotou .pro_detailed .title {
    font-size: 18px;
    color: #505050;
    height: 30px;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}

.p_account_load_duotou .pro_detailed .title span {
    font-size: 16px;
}
.p_account_load_duotou .pro_detailed .item {
    margin-top: 25px;
}
.p_account_load_duotou .pro_detailed .item:first-child {
    margin-top: 0px;
}
.p_account_load_duotou .pro_detailed .item .list{
    margin-top:25px;
}
.p_account_load_duotou .pro_detailed .list li {
    height: 55px;
    background-color: #FDFDFD;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 20px;
}
.p_account_load_duotou .pro_detailed .list li:first-child {
    margin-top: 0px;
}
.p_account_load_duotou .pro_detailed .list li .icon {
    float: left;
    height: 22px;
    width: 18px;
    background: url(../../images/user/duotou_file_icon.png) no-repeat 0px 0px;
    margin: 16px 15px 0px 25px;
}
.p_account_load_duotou .pro_detailed .list li .infor {
    float: left;
    padding-top: 15px;
    width: 670px;
}
.p_account_load_duotou .pro_detailed .list li .infor p {
    line-height: 22px;
    height: 22px;
}
.p_account_load_duotou .pro_detailed .list li .infor .ftP {
    font-size: 14px;
}
.p_account_load_duotou .pro_detailed .list li .infor .pjName{
    color: #0088cc;
}
.p_account_load_duotou .pro_detailed .list li .infor a:hover{
    text-decoration: underline;
    text-decoration-color: #0088cc;
}
.p_account_load_duotou .pro_detailed .list li .infor .scP {
    color: #9a9a9a;
    font-size: 14px;
    margin-top: 6px;
}
.p_account_load_duotou .pro_detailed .list li .infor .scP span {
    width: 180px;
    float: left;
}
.p_account_load_duotou .pro_detailed .list li .infor .scP span.last {
    float: right;
    width: auto;
}
.p_account_load_duotou .pro_detailed .list li .btnBox {
    padding-top: 38px;
    float: left;
    margin-left: 18px;
}
.p_account_load_duotou .pro_detailed .list li .btnBox.pt13{
    padding-top: 13px;
}
.p_account_load_duotou .pro_detailed .list li .btnBox a {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #0088cc;
}
.p_account_load_duotou .pro_detailed .list li .btnBox a:hover {
    text-decoration: underline;
}
.p_account_load_duotou .pro_detailed .list li .btnBox a:first-child {
    margin-right: 8px;
}
.p_account_load_duotou .pro_detailed .sub_title {
    width: 100%;
    clear: both
}

.p_account_load_duotou .contract {
    padding-top: 25px
}

.p_account_load_duotou .jk_contract, .p_account_load_duotou .xy_contract {
    border: solid 1px #e5e5e5;
    background-color: #fdfdfd;
    border-radius: 3px;
    font-size: 14px;
    color: #9a9a9a;
    position: relative;
    margin: 0 0 15px;
    padding: 10px 20px;
    line-height: 30px
}

.p_account_load_duotou .xy_contract {
    margin: 0 22px
}

.p_account_load_duotou .jk_contract .con_size {
    display: none
}

.p_account_load_duotou .jk_contract i, .p_account_load_duotou .xy_contract i {
    margin: 17px 10px 0 0
}

.p_account_load_duotou .contract i.ico_see {
    background: url(../../images/user/user.png) no-repeat -108px -60px;
    cursor: pointer;
    width: 20px;
    position: absolute;
    left: 223px;
    top: -10px;
    display: none
}

.p_account_load_duotou .contract i.ico_down {
    background: url(../../images/user/user.png) no-repeat -142px -60px;
    cursor: pointer;
    width: 20px;
    position: absolute;
    left: 223px;
    top: 12px;
    display: none
}

.p_account_load_duotou .plan td, .p_account_load_duotou .plan th {
    text-align: center;
    padding: 15px 5px;
    font-size: 14px;
    color: #808080
}

.p_account_load_duotou .plan th {
    border-bottom: #e5e5e5 solid 1px;
    color: #a6a6a6
}

.p_account_load_duotou .select_box div {
    height: 34px;
    line-height: 34px;
    background: url("../../images/user/user.png") no-repeat 130px 10px #fff;
    font-size: 14px;
    width: 153px;
    box-shadow: 1px -3px 13px #efefef inset;
    padding-left: 10px;
    width: 143px
}

.p_account_load_duotou .select_box ul {
    top: 39px;
    width: 145px;
    left: 0;
    padding: 10px 4px
}

.p_account_load_duotou .select_box ul li {
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    width: auto;
    color: #4f4e4e
}

.p_account_load_duotou .select_box ul li:hover {
    background: #f96648
}

.p_account_load_duotou .user_right_box_v2 {
    margin-bottom: 15px
}

.p_account_load_duotou .user_right_box_v2 .screening {
    padding-left: 30px;
    background: #fff
}

.p_account_load_duotou .user_right_box_v2 .screening .sel_time {
    padding-left: 230px
}

.p_account_load_duotou .user_right_box_v2 .user_title a {
    text-decoration: underline
}

.p_account_load_duotou .user_right_box_v2 .user_title a:hover {
    color: #f96648
}

.p_account_load_duotou .pro_detailed .sub_title {
    width: 100%;
    clear: both;
    font-size: 20px;
    margin-top: 25px
}

.p_account_load_duotou .see_lgl {
    text-decoration: underline;
    font-size: 14px;
    color: #333;
    cursor: pointer
}

.p_account_load_duotou .redemption {
    display: none
}

.p_account_load_duotou .redemption_time {
    text-align: center;
    width: 380px;
    margin: 0 auto;
    background: #f8f8f8;
    padding: 10px 0;
    border-radius: 3px
}

.p_account_load_duotou .redemption_con {
    padding-top: 10px;
    font-size: 14px
}

.p_account_load_duotou .redemption_con p {
    padding-top: 10px
}

.p_account_load_duotou .j_shuhui {
    background-image: url(../../images/user/btn_bg.png);
    background-repeat: no-repeat;
    background-position: -3px -375px;
    width: 185px;
    height: 45px;
    line-height: 43px;
    display: inline-block;
    font-size: 18px;
    color: #fff
}

.p_account_load_duotou .j_shuhui:hover {
    background-position: -198px -375px;
    color: #fff
}

.p_account_load_duotou .j_shuhui:active {
    background-position: -392px -375px;
    color: #fff
}

.redemption {
    display: none;
}

.redemption_time {
    text-align: center;
    width: 380px;
    margin: 0px auto;
    background: #f8f8f8;
    padding: 10px 0;
    border-radius: 3px;
}

.redemption_con {
    padding-top: 10px;
    font-size: 14px;
}

.redemption_con p {
    padding-top: 10px;
}

.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover {
    color: #88888a;
}

.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover {
    height: 38px;
    color: #4f4e4e;
}

.p_account_load_duotou .dt-databox {
    padding: 22px 30px 30px;
}

.p_account_load_duotou .dt_data {
    padding-bottom: 20px;
    background: url(../../images/common/bg_line.png) repeat-x left bottom;
}

.p_account_load_duotou .user_right_box_v2 .user_title a {
    text-decoration: none;
}

.p_account_load_duotou .user_right_box_v2 .screening {
    padding: 23px 0 0 0;
}

.p_account_load_duotou .dt_state {
    background-image: url(../../images/duotou/dt_status.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.p_account_load_duotou .dt_state.jxz {
    background-position: 0px 0px;
}

.p_account_load_duotou .dt_state.shz {

    background-position: 0px -70px;
}

.p_account_load_duotou .dt_state.ysh {
    background-position: 0px -140px;
}

.p_account_load_duotou .dt_state.yjq {
    background-position: 0px -210px;
}

.p_account_load_duotou .dt_state.djx {
    background-position: 0px -280px;
}
.p_account_load_duotou .dt_state.yqx {
    background-position: 0px -350px;
}

.p_account_load_duotou .dt-line {
    width: 9px;
    height: 20px;
    background: url(../../images/duotou/dt_line.png);
    display: inline-block;
}

.p_account_load_duotou .dt-link {
    width: 200px;
    text-decoration: underline;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.p_account_load_duotou .plan td {
    color: #4f4e4e
}

.p_account_load_duotou .sub_title_dt span {
    display: inline-block;
}

.p_account_load_duotou .dt-more {
    border-top: #e3e3e3 solid 1px;
    margin-top: 15px;
    padding-top: 12px;
}

.p_account_load_duotou .dt-more a {
    color: #4f4e4e;
    font-size: 14px;
}

.p_account_load_duotou .dt-more a:hover {
    text-decoration: underline;
}


.p_account_load_duotou .xy_contract {
    margin: 0 0 15px 37px;
}

.p_account_load_duotou .project_r {
    margin-top: 0;
    height: 150px;
    width: 239px;
    background: #fffcf3;
    position: relative;
    padding-top: 50px;
    text-align: center;
}

.p_account_load_duotou .project_r p {
    padding-bottom: 5px;
    font-size: 14px;
    color: #9d9d9a;
    line-height: 24px;
}
.p_account_load_duotou .project_r .duotou_shuhui_btn {
    width: 90px;
    height: 33px;
    background: url(../../images/duotou/duotou_shuhui_btn.png) no-repeat;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 30px;
}
.p_account_load_duotou .project_r .tipText {
    color: #474646;
    height: 33px;
    line-height: 33px;
}
.p_account_load_duotou .project_r .tipText span {
    color: #f75938;
}
.p_account_load_duotou .project_l {
    height: 200px;
}

.p_account_load_duotou .mb_text {
    font-size: 14px;
    color: #9d9d9a;
}

.p_account_load_duotou .pt13 {
    padding-top: 13px;
}

.p_account_load_duotou .pt34 {
    padding-top: 34px;
}

.p_account_load_duotou .pro_name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p_account_load_duotou .pro_nub {
    width: 222px;
}

.p_account_load_duotou .pro_button {
    width: 92px;
}

.p_account_load_duotou .por_con {
    padding: 0px 28px 0 60px;
}

.p_account_load_duotou i.ico_sigh, .weedialog.weebox_dt_sh i.ico_sigh {
    background: url(../../images/investment_view/invest-con.png) 0 -221px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 3px;
}

.weedialog.weebox_dt_sh .dialog-content {
    padding: 30px;
    color: #474646;
    font-size: 14px;
    line-height: 30px;
}

.weedialog.weebox_dt_sh .dialog-button {
    padding: 0 0 45px 0;
}

.weedialog.weebox_dt_sh .sh_time {
    border: 1px solid #f9d147;
    background: #feffeb;
    height: 32px;
    line-height: 32px;
}

.weedialog.weebox_dt_sh .sh_time h3 {
    text-align: center;
}

.weedialog.weebox_dt_sh .sh_con {
    padding-top: 18px
}

.weedialog.weebox_dt_sh .mt7 {
    margin-top: 7px
}

.weedialog.weebox_dt_sh .sh_con label {
    text-align: center;
}

.details_pop_cont {
    padding-bottom: 30px;
}

.weedialog .dialog-content {
    min-height: 300px;
    overflow-y: auto !important;
    max-height: 800px;
}

.weedialog.redemptionTpl01 .dialog-content {
    padding: 22px 40px 0px 40px;
    /* min-height: 146px; */
}
.weedialog.redemptionTpl01 .zr_bot,.p_account_load_duotou .zr_bot{
padding-top:10px;
border-top:1px solid #eeeeee;
font-size: 12px;
color: #909090;
/* height: 20px; */
line-height:1.5;
display: -webkit-box;
}
.p_account_load_duotou .color_gray_dz{
    color:#acacac;
}
.p_account_load_duotou .zr_list_bot{
    padding:0 0 10px 0;
    border: none;
}
.weedialog.redemptionTpl01 .zr_bot .deal_sign,.p_account_load_duotou .zr_bot .deal_sign{
    -webkit-background-size: 100% 100%;
    background: url(../../images/user/pc_deal_sign.png) no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    background-size: 100% 100%;
    margin: 2px 8px 0 0;
}
.weedialog.redemptionTpl01 .zr_bot p{
    -webkit-box-flex:1;
}
.weedialog.redemptionTpl01 .moneyUl li {
    font-size: 16px;
    color: #333;
    height: 30px;
    line-height: 30px;
}

.weedialog.redemptionTpl01 .tip {
    font-size: 12px;
    color: #888888;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}
.weedialog.redemptionTpl01 .bottom {
    border-top: 1px solid #eeeeee;
    margin-top: 25px;
    padding-top: 25px;
}
.weedialog.redemptionTpl01 .bottom .ft {
    font-size: 16px;
    color: #333;
    height: 30px;
    line-height: 30px;
}
.weedialog.redemptionTpl01 .bottom .sc {
    font-size: 14px;
    color: #888;
    line-height: 20px;
}
.weedialog.redemptionTpl02 .dialog-content {
    padding: 22px 40px 0px 40px;
}
.weedialog.redemptionTpl02 .icon {
    display: block;
    margin-left: 86px;
}
.weedialog.redemptionTpl02 .ft {
    font-size: 24px;
    color: #333;
    text-align: center;
}
.weedialog.redemptionTpl02 .sc {
    color: #888;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.weedialog.redemptionTpl03 .dialog-content {
    padding: 22px 40px 0px 40px;
}
.weedialog.redemptionTpl03 .planBox {
    padding-left: 53px;
    background: url(../../images/duotou/duotou_shuihui_plan.png) no-repeat 0px 0px;
    min-height: 243px;
    margin-left: 10px;
}
.weedialog.redemptionTpl03 .item .title {
    font-size: 18px;
    color: #333;
    height: 43px;
    line-height: 43px;
}
.weedialog.redemptionTpl03 .item .cont {
    height: 57px;
}
.weedialog.redemptionTpl03 .item .cont p {
    font-size: 14px;
    color: #888;
}


.protocol_lists{width:500px!important;height:478px!important;}
.protocol_lists .dialog-header .dialog-title{background:none;}
.protocol_lists .dialog-header{height:56px;line-height:56px;background-color:#ffffff;border:1px solid #eeeeee;}
.protocol_lists .dialog-content {min-height:0;height:392px;overflow-x:hidden;overflow-y:auto;padding:26px 26px 0;}
.protocol_lists{border:5px solid #5b5b5b;border-radius:4px;}
.protocol_lists table .dialog-close{margin-top:20px;margin-right:20px;}
.protocol_lists table .dialog-close:hover{margin-top:20px;margin-right:20px;}
.protocol_lists .ptList_item{border: solid 1px #e5e5e5;background-color:#fdfdfd;border-radius:3px;font-size:14px;color:#9a9a9a;position:relative;margin:0 0 15px;padding:10px 20px;line-height:30px;}
.protocol_lists .ptList_item a{color:#08c;}
.protocol_lists .ptList_item h3{font-weight:600;}
.protocol_lists .ptList_item h3,.protocol_lists .ptList_item span{color:#000;}
.protocol_lists .ptList_item .pdl25{padding-left:25px;}
.protocol_lists .ptList_item .pdl15{padding-left:15px;}
.p_account_load_duotou .proj_item{
    padding:0 30px;
}
.p_account_load_duotou .proj_item h1 {
    padding:22px 0 14px;
    height:26px;
    line-height: 26px;
    border-bottom:1px solid #D8D8D8;
}
.p_account_load_duotou .proj_item h1 .proj_name{
    display: block;
    float: left;
}
.p_account_load_duotou .proj_item h1 .proj_name span{
    display: block;
    float:left;
}

.p_account_load_duotou .dt_status {
    background-color:#CCC;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding:0 10px;
    display: inline-block;
    color:#FFF;
    font-size: 12px;
    text-align: center;
    border-radius: 14px;
}

.p_account_load_duotou .dt_status.jxz {
    background-color: #EE4634;
}

.p_account_load_duotou .dt_status.shz {

    background-color: #00D3A9;
}

.p_account_load_duotou .dt_status.ysh {
    background-color: #B38DD7;
}

.p_account_load_duotou .dt_status.yjq {
    background-color: #666666;
}

.p_account_load_duotou .dt_status.djx {
    background-color: #5ABBF6;
}
.p_account_load_duotou .dt_status.yqx {
    background-color: #CCCCCC;
}
.p_account_load_duotou .proj_item h1 .proj_name .act_name,.p_account_load_duotou .proj_item h1 .proj_name .act_money{
    padding:0 20px;
    /* border-right:1px solid #d8d8d8; */
}

.p_account_load_duotou .proj_item h1 .proj_name .br{
    border-left: 1px solid #d8d8d8;
}
.p_account_load_duotou .proj_item h1 .proj_name .f22{
    font-size:22px;
}
.p_account_load_duotou .proj_item h1 .proj_button {
    display:block;
    float:right;
}
.p_account_load_duotou .proj_item h1 .proj_button a {
    color: #1a1a1a
}
.p_account_load_duotou .proj_item h1 .icon_check,.p_account_load_duotou .proj_item h1 .icon_proHide{
    display: inline-block;
    width:21px;
    height: 21px;
    vertical-align: middle;
    margin-left:5px;
}
.p_account_load_duotou .proj_item h1 .icon_check{
    background: url('../../images/duotou/duotou_arrow_down.png') center no-repeat;
    background-size:100% 100%;
}
.p_account_load_duotou .proj_item h1 .icon_proHide{
    background: url('../../images/duotou/duotou_arrow_up.png') center no-repeat;
    background-size:100% 100%;
}
.p_account_load_duotou .proj_item .proj_con ul{
  padding:37px 0
}
.p_account_load_duotou .proj_item .proj_con ul li{
    display: block;
    float:left;
    text-align:center;
    width:280px;
}
.p_account_load_duotou .proj_item .proj_con ul li:last-child{
    width:165px;  
}
.p_account_load_duotou .proj_item .proj_con ul li:first-child{
    width:110px;
}
.p_account_load_duotou .f20{
    font-size:20px;
}
.p_account_load_duotou .proj_item p{
    padding-bottom:6px;
}
.p_account_load_duotou .proj_item p:last-child {
    padding:0;
}
.p_account_load_duotou .proj_item a.duotou_shuhui_btn {
    width: 90px;
    height: 32px;
    background: url(../../images/duotou/duotou_shuhui_btn.png) no-repeat;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
}
.p_account_load_duotou .proj_item .tipText {
    color:#acacac;
    font-size:12px;
}
.p_account_load_duotou .proj_item .tipText span {
    color: #f75938;
}
