.p_finplan a{outline:none;text-decoration:none}
.p_finplan .touzi_top{padding-bottom:40px}
.p_finplan .tztop_left{z-index:1;width:654px;-webkit-box-shadow:0 0 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0 0 2px 1px rgba(52,52,52,0.1);box-shadow:0 0 3px 1px rgba(52,52,52,0.1);border-radius:2px;background:#fff url(../../images/investment_view/bg_01.png) repeat-x;position:relative}
.p_finplan .title_box{padding:0 0 0 30px;height:75px}
.p_finplan .title_box h1{font-size:19px;color:#4e5154;font-family:"Microsoft YaHei";height:75px;display:table-cell;vertical-align:middle}
.p_finplan .title_box h1 span{vertical-align:middle;display:inline-block}
.p_finplan .title_box h1 span.w1{height:75px}
.p_finplan .title_box p span{font-family:"Microsoft YaHei";padding:0 10px;color:#fff;display:inline-block;margin-right:9px;margin-top:10px}
.p_finplan .tz_lilv{width:272px;height:177px;padding-left:30px;padding-top:5px}
.p_finplan .tztop_left dl{line-height:28px;padding-top:18px}
.p_finplan .tztop_left dl.lgl_dl{padding-top:5px}
.p_finplan .tztop_left dt{float:left;color:#878787;font-size:14px;padding-right:3px}
.p_finplan .tztop_left dd{float:left}
.p_finplan .tz_jine{width:330px;background:url(../../images/investment_view/icon_bg.png) no-repeat -984px 35px;height:175px;padding-left:20px;padding-top:5px}
.p_finplan .ketou{padding-top:20px;color:#878787}
.p_finplan .tztop_left i.ico_bace,.p_finplan .ico_bace_01{width:250px;height:6px;display:block;background-position:-690px -1px;margin-top:5px}
.p_finplan .tztop_left i.ico_yitou{background:url(../../images/investment_view/jindu.gif) no-repeat;height:6px;float:left}
.p_finplan .tztop_right{position:relative;width:310px;height:246px;background:#fffcf3;margin-top:6px;-webkit-box-shadow:0 0 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0 0 2px 1px rgba(52,52,52,0.1);box-shadow:0 0 3px 1px rgba(52,52,52,0.1);border-radius:2px;padding-left:16px}
.p_finplan .tztop_right h2{padding-top:20px;height:45px;border-bottom:1px dotted #c1c0be;margin-bottom:5px;padding-left:10px;margin-right:18px}
.p_finplan .tztop_right p{padding-top:15px;padding-left:10px}
.p_finplan .tztop_right span{display:inline-block}
.p_finplan .text_box{width:120px;height:24px;line-height:24px;border:1px solid #ffb904;vertical-align:middle;padding-left:3px;color:#505050;outline:none;font-size:15px;border-radius:1px}
.p_finplan .button_touzi{border:0;background:#ffb904;width:273px;height:48px;display:inline-block;line-height:48px;color:#fff;text-align:center;cursor:pointer;font-size:20px}
.p_finplan .button_touzi:hover{background:#ffca40;color:#fff}
.p_finplan .button_touzi a:active{background:#e5a500;color:#000}
.p_finplan .shouyi{font-size:13px;padding-top:15px;padding-left:8px}
.p_finplan .shouyi i,.p_finplan .ico_bace,.p_finplan .ico_bace_01,.p_finplan .ico_sigh{background-image:url(../../images/investment_view/icon_bg.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle}
.p_finplan .ico_bace_01{background:url(../../images/investment_view/mb_01.gif) no-repeat}
.p_finplan .shouyi i.ico_braces_l,.ico_braces_r{background-position:-947px 0;width:6px;height:24px}
.p_finplan .ico_braces_r{background-position:-957px 0}
.p_finplan .ico_sigh{width:14px;height:14px;background-position:-967px 0;margin-bottom:5px}
.p_finplan .box_title{height:53px;background:url(../../images/investment_view/icon_bg.png) no-repeat 1px -48px;line-height:50px;font-size:24px}
.p_finplan .box_title i,.p_finplan .title_box i{background-image:url(../../images/investment_view/icon_bg.png);background-repeat:no-repeat;width:20px;height:25px;display:inline-block;float:left;margin:15px 16px 0 18px}
.p_finplan i.danbao{background-position:0 -1px}
.p_finplan i.ico_jiedai{background-position:-86px 0;width:26px;margin-right:10px}
.p_finplan .box_title i.ico_huankuan{background-position:-290px 0;width:26px}
.p_finplan .con_width{width:870px;margin:0 auto}
.p_finplan .con_width h2{font-size:20px;padding-top:20px;padding-bottom:15px}
.p_finplan .con_width h2 span{background:#fff;padding-right:20px}
.p_finplan .con_width h2.line_bg{background:url(../../images/investment_view/icon_bg.png) no-repeat 0 -107px;height:20px}
.p_finplan .con_width h2 i{background-image:url(../../images/investment_view/icon_bg.png);background-repeat:no-repeat;width:27px;height:25px;display:inline-block;float:left;margin:3px 0 0}
.p_finplan .con_width h2 i.ico_jianjie{background-position:-32px 0}
.p_finplan .con_width h2 i.ico_faq{background-position:-59px 3px}
.p_finplan .con_width h2 i.ico_jiben{background-position:-122px 4px}
.p_finplan .con_width h2 i.ico_shenhe{background-position:-150px 2px}
.p_finplan .con_width h2 i.ico_jiekuan{background-position:-205px 2px;width:27px}
.p_finplan .yellwo{color:#f48943}
.p_finplan .con_width p{font-size:14px;color:#878787;padding-bottom:10px}
.p_finplan .con_width h3{font-size:16px;padding-top:10px;padding-bottom:3px}
.p_finplan .more_zk{padding:50px 0 0;text-align:center}
.p_finplan .more_zk a i.ico_zk{background:url(../../images/investment_view/icon_bg.png) no-repeat -328px 0;width:15px;height:20px;display:inline-block}
.p_finplan .more_zk a{color:#878787;font-size:14px}
.p_finplan .more_zk a.on i.ico_zk{background:url(../../images/investment_view/icon_bg.png) no-repeat -344px 0}
.p_finplan .border_b{border-bottom:1px solid #e5e5e5}
.p_finplan .pb30{padding-bottom:30px}
.p_finplan .tab_jiben{font-size:14px;margin-top:10px}
.p_finplan .tab_jiben td{height:32px;vertical-align:top}
.p_finplan .tab_jiben th{text-align:right;padding-right:3px;color:#abacad;vertical-align:top;white-space:nowrap}
.p_finplan .tab_jiben thead{color:#abacad}
.p_finplan .tab_jiben td img{max-width:760px;height:auto}
.p_finplan .text1{color:#abacad}
.p_finplan .algin_c{text-align:center}
.p_finplan .algin_r{text-align:right}
.p_finplan .algin_l{text-align:left}
.p_finplan .pl63{padding-left:63px}
.p_finplan .pl30{padding-left:30px}
.p_finplan .con_jk{padding:20px 0 10px 30px}
.p_finplan .con_jk span{padding-left:3px}
.p_finplan .con_hk td{padding:15px 5px}
.p_finplan .con_hk .trbg{background:#f5f7fb}
.p_finplan .w982{width:982px}
.p_finplan .w982 .title_box{padding-top:10px;height:40px;padding-left:0}
.p_finplan .w982 .title_box h1{height:40px;font-size:22px}
.p_finplan .title_box i.danbao{margin-top:6px}
.p_finplan .number{background:#fff;border-top:1px solid #e5e5e5;padding-bottom:30px}
.p_finplan .number dl{padding-left:50px;font-size:14px;width:90%}
.p_finplan .number dt{width:115px;text-align:right}
.p_finplan .number dd{width:145px}
.p_finplan .button_chongzhi1,.p_finplan .button_chongzhi2,.p_finplan .button_chongzhi3,.p_finplan .button_chongzhi4,.p_finplan .button_bigtongyi1,.p_finplan .button_bigtongyi2,.p_finplan .button_bigtongyi3,.p_finplan .button_bigtongyi4,.p_finplan .button_subtongyi1,.p_finplan .button_subtongyi2,.p_finplan .button_subtongyi3,.p_finplan .button_subtongyi4,.p_finplan .button_confirm1,.p_finplan .button_confirm2,.p_finplan .button_confirm3,.p_finplan .button_confirm4{background:url(../../images/investment_view/button_bg.png) no-repeat 0 0;display:inline-block;vertical-align:middle;margin-right:5px;border:0}
.p_finplan .button_chongzhi1,.p_finplan .button_chongzhi2,.p_finplan .button_chongzhi3,.p_finplan .button_chongzhi4{width:70px;height:28px}
.p_finplan .button_chongzhi1:link{background-position:-20px -64px}
.p_finplan .button_chongzhi2{background-position:-110px -64px}
.p_finplan .button_chongzhi3{background-position:-200px -64px}
.p_finplan .button_chongzhi4{background-position:-290px -64px}
.p_finplan .tab_touzi td,.p_finplan .tab_touzi th{line-height:28px;padding-top:20px;font-size:14px;vertical-align:top}
.p_finplan .tab_touzi th{color:#808080;text-align:right}
.p_finplan .tab_touzi td{padding-left:15px}
.p_finplan .tab_touzi1 td,.p_finplan .tab_touzi1 th{padding-top:10px}
.p_finplan .amount_box{border:1px solid #bababa;width:175px;padding-left:4px;height:28px;line-height:28px;vertical-align:middle}
.p_finplan .box_title i.ico_hetong{background-position:0 -175px}
.p_finplan .hl30{line-height:30px}
.p_finplan .more_hetong{text-align:right;font-size:14px}
.p_finplan .more_hetong a,.p_finplan .more_hetong a:hover,.p_finplan .hetong a{color:#2594e2}
.p_finplan .ico_ht_more,.p_finplan .ico_ht_moreon{background:url(../../images/investment_view/icon_bg.png) no-repeat -36px -175px;width:13px;height:13px;display:inline-block;vertical-align:middle;margin-left:10px}
.p_finplan .ico_ht_moreon{background:url(../../images/investment_view/icon_bg.png) no-repeat -53px -175px}
.p_finplan .hetong{display:none;margin-top:20px}
.p_finplan .hetong .con{height:372px;border:1px solid #d6d6d6;overflow-y:auto;padding:10px}
.p_finplan .ht_but{text-align:center;padding-top:15px;padding-left:150px}
.p_finplan .button_bigtongyi1,.p_finplan .button_bigtongyi2,.p_finplan .button_bigtongyi3,.p_finplan .button_bigtongyi4{width:96px;height:36px;display:inline-block}
.p_finplan .button_bigtongyi1:link{background-position:-20px -112px}
.p_finplan .button_bigtongyi1:hover{background-position:-252px -112px}
.p_finplan .button_bigtongyi2{background-position:-136px -112px}
.p_finplan .button_bigtongyi3{background-position:-252px -112px}
.p_finplan .button_bigtongyi4{background-position:-365px -112px}
.p_finplan .button_subtongyi1,.p_finplan .button_subtongyi2,.p_finplan .button_subtongyi3,.p_finplan .button_subtongyi4{width:59px;height:24px;display:inline-block}
.p_finplan .button_subtongyi1{background-position:-20px -20px}
.p_finplan .button_subtongyi2{background-position:-99px -20px}
.p_finplan .button_subtongyi3{background-position:-178px -20px}
.p_finplan .button_subtongyi4{background-position:-257px -20px}
.p_finplan .ht_state{margin-top:45px;border-top:1px solid #d6d6d6;padding:20px 0}
.p_finplan .ht_state td{line-height:40px}
.p_finplan .button_confirm1,.p_finplan .button_confirm2,.p_finplan .button_confirm3,.p_finplan .button_confirm4{width:242px;height:42px;display:inline-block}
.p_finplan .button_confirm1{background:#ffb904;color:#fff;font-size:18px;border-radius:2px;line-height:42px;background-position:-20px -168px}
.p_finplan .button_confirm1:hover{background:#ffca40}
.p_finplan .button_confirm1:active{background:#e5a500}
.p_finplan .button_confirm2{background-position:-20px -230px}
.p_finplan .button_confirm3{background-position:-20px -292px}
.p_finplan .button_confirm4{background-position:-20px -354px}
.p_finplan .earnings_box{height:135px}
.p_finplan .earnings_box li{float:left;padding:0 0 0 30px;color:#878787;font-size:13px;font-family:"微软雅黑";min-width:210px}
.p_finplan .earnings_box li h3{padding:22px 0}
.p_finplan .coupon{padding:0 15px 20px;background:#fffcf3;font-size:14px;border-top:1px solid #e5e5e5}
.p_finplan .coupon a{margin-left:5px}
.p_finplan .validBt,.p_finplan .cancelBt{padding:0 15px;height:30px;line-height:30px;display:inline-block;color:#fff;text-align:center;background-color:#ffb804;border-radius:3px;vertical-align:middle}
.p_finplan .cancelBt{background-color:#e8ebf2;color:#909090}
.p_finplan .cancelBt:hover{background:#eff2f7;color:#909090}
.p_finplan .cancelBt:active{background:#dbdfe9}
.p_finplan .validBt:hover{color:#fff;background:#ffca40}
.p_finplan .validBt:active{background:#e5a500}
.p_finplan .youhuima{cursor:default;position:relative;width:750px}
.p_finplan .youhuima:hover span{display:block}
.p_finplan .yhm_tip{position:absolute;display:block;background:#fff;border:1px solid #c7c7c7;-moz-box-shadow:1px 1px 3px #888;box-shadow:1px 1px 3px #888;padding:10px;line-height:22px;border:1px solid #e9e9e9;font-family:"微软雅黑";left:110px;top:-7px;color:#333;display:none;width:225px}
.p_finplan #chk{vertical-align:middle;margin-bottom:2px}
.p_finplan .icon_yes,.p_finplan .icon_no{background-image:url("../../images/oauth/icon.png");background-repeat:no-repeat;display:inline-block;height:15px;margin-left:8px;vertical-align:middle;width:15px}
.p_finplan .icon_yes{background-position:0 -19px}
.p_finplan .ui-tooltip{padding:10px 15px;border:1px solid #cfcfcf;box-shadow:0 0 5px rgba(0,0,0,0.1)}
.p_finplan input[type="password"]:focus,.p_finplan input[type="text"]:focus{border-color:#f85c3c;box-shadow:none}
.p_finplan .mt-30{margin-top:0}
.p_finplan i.ico_one,.p_finplan i.ico_two,.p_finplan i.ico_three,.p_finplan i.ico_four,.p_finplan i.ico_five,.p_finplan i.ico_six,.p_finplan i.ico_seven,.p_finplan i.ico_eight,.p_finplan i.ico_nine,.p_finplan i.ico_zero,.p_finplan i.ico_point,.p_finplan i.ico_percent{background-image:url(../../images/investment_view/number_v3.png);background-repeat:no-repeat;width:12px;display:inline-block;height:18px;vertical-align:text-bottom;margin:0;*margin-top:5px}
.p_finplan i.ico_one{background-position:-20px 0;width:10px}
.p_finplan i.ico_two{background-position:-36px 0}
.p_finplan i.ico_three{background-position:-54px 0}
.p_finplan i.ico_four{background-position:-71px 0}
.p_finplan i.ico_five{background-position:-90px 0}
.p_finplan i.ico_six{background-position:-107px 0}
.p_finplan i.ico_seven{background-position:-124px 0}
.p_finplan i.ico_eight{background-position:-143px 0}
.p_finplan i.ico_nine{background-position:-160px 0}
.p_finplan i.ico_zero{background-position:0 0}
.p_finplan i.ico_percent{background-position:-178px 0;width:18px}
.p_finplan i.ico_point{background-position:-203px 0;width:6px}
.p_finplan .but-gray,.p_finplan .but-gray:hover{width:107px;height:38px;line-height:38px;background:url(../../images/investment_view/invest-con.png) no-repeat -142px -259px;border-radius:0;border:0;color:#fff;padding:0}
.p_finplan .but-gray:hover{opacity:.8}
.p_finplan .button_touzi{font-size:18px;font-family:'Microsoft YaHei'}
.p_finplan .box_title{background:#fcfcfc;border-bottom:1px solid #d5d2d2;height:48px;line-height:48px;color:#383636;font-size:18px}
.p_finplan .box_title i,.p_finplan .validBt,.p_finplan .validBt:hover,.p_finplan .validBt:active,.p_finplan .tztop_right i.ico_sigh,.p_finplan .button_bigtongyi1,.p_finplan .button_bigtongyi1:hover,.p_finplan .button_bigtongyi1:active{background-image:url(../../images/investment_view/invest-con.png);background-repeat:no-repeat}
.p_finplan .button_confirm1,.p_finplan .button_confirm1:hover,.p_finplan .button_confirm1:active,.p_finplan .button_confirm4{background:url(../../images/investment_view/invest-con.png) no-repeat}
.p_finplan .box_title i{background-repeat:no-repeat;width:6px;height:20px;display:inline-block;float:left;margin:14px 13px 0 18px}
.p_finplan i.danbao,.p_finplan .box_title i.ico_hetong,.p_finplan i.ico_jiedai,.p_finplan .box_title i.ico_huankuan{background-position:0 -126px}
.p_finplan .box_title i.ico_huankuan{width:6px}
.p_finplan .title_box i{background:none;width:0;height:0}
.p_finplan .w982 .title_box{padding:0;height:66px;background:#fcfcfc}
.p_finplan .w982 .title_box h1{height:66px;line-height:66px;color:#505050;font-size:20px}
.p_finplan .title_box .pl30{margin-top:14px}
.p_finplan .yellwo,.p_finplan .color-yellow1{color:#f75938}
.p_finplan .touzi_top .yellwo{font-family:arial,"Microsoft Yahei"}
.p_finplan .touzi_top .f18{font-weight:bold}
.p_finplan .number dd.yellwo{font-size:20px;font-family:arial,"Microsoft Yahei";font-weight:bold}
.p_finplan .number dd.yellwo span.f14{font-size:14px;color:#f75938}
.p_finplan .validBt{background-position:0 -73px;padding:0;width:61px;border-radius:0}
.p_finplan .validBt:hover{background-position:-96px -73px}
.p_finplan .validBt:active{background-position:-187px -73px}
.p_finplan .validBt,.p_finplan .validBt:hover,.p_finplan .validBt:active{background-color:transparent}
.p_finplan .button_confirm1,.p_finplan .button_confirm4{width:226px;height:49px;background-color:none}
.p_finplan .button_confirm1{background-position:0 0}
.p_finplan .button_confirm1:hover{background-position:0 -514px}
.p_finplan .button_confirm1:active{background-position:0 -572px}
.p_finplan .button_confirm4{background-position:0 -630px}
.p_finplan .tztop_left .ico_progress{width:362px;position:relative;height:7px;margin-top:10px;display:block}
.p_finplan .tztop_left i.ico_yitou{background:#fe836a;position:absolute;height:7px;top:0;left:0}
.p_finplan .tztop_left i.ico_bace{width:360px;background:none;border:1px solid #bababa;position:relative;height:5px}
.p_finplan .button_touzi,.p_finplan .button_touzi:hover,.p_finplan .button_touzi:active,.p_finplan .but-disabled{width:248px;height:46px;line-height:46px;background:url(../../images/investment_view/invest-con.png) no-repeat}
.p_finplan .button_touzi{background-position:0 -159px}
.p_finplan .button_touzi:hover{background-position:0 -400px}
.p_finplan .button_touzi:active{background-position:0 -455px}
.p_finplan .but-disabled,.p_finplan .but-disabled:hover{width:248px;height:46px;line-height:46px;background:url(../../images/investment_view/invest-con.png) no-repeat 0 -693px !important;color:#fff !important}
.p_finplan .text_box{border-color:#bababa;width:127px;height:29px}
.p_finplan .but-yellow,.p_finplan .but-yellow:hover,.p_finplan .but-yellow:active{width:107px;height:38px;line-height:38px;padding:0;text-align:center;background:url(../../images/investment_view/invest-con.png) no-repeat}
.p_finplan .but-yellow{background-position:0 -260px}
.p_finplan .but-yellow:hover{background-position:0 -306px}
.p_finplan .but-yellow:active{background-position:0 -353px}
.p_finplan .tztop_right i.ico_sigh{background-position:0 -221px}
.p_finplan .touzi_top{background:#fff;border:1px solid #d5d2d2;padding-bottom:0;margin-bottom:15px}
.p_finplan .title_box,.p_finplan .title_box h1,.p_finplan .title_box h1 span.w1{height:68px}
.p_finplan .title_box h1.pr30{font-size:20px;color:#505050}
.p_finplan .title_box{background:#fcfcfc;border-bottom:1px solid #d5d2d2;padding-left:35px}
.p_finplan .tztop_left{width:779px;background:#fff;box-shadow:none;border-radius:0}
.p_finplan .tztop_left dt{color:#999;padding-right:5px}
.p_finplan .tztop_left dl{line-height:50px;padding:0}
.p_finplan .touzi_top .f20{font-weight:bold}
.p_finplan .touzi_top .f14{color:#1f1f1f}
.p_finplan .ketou{font-size:14px;color:#999;padding-top:8px;line-height:30px}
.p_finplan .tztop_right{width:288px;height:268px;border-left:1px solid #e0dede;box-shadow:none;border-radius:0;margin-top:0;padding-left:30px}
.p_finplan .tztop_right .text{color:#555}
.p_finplan .tztop_right span.yellwo{font-size:14px}
.p_finplan .w982 .number{border-top:none}
.p_finplan .shadow{border:1px solid #d5d2d2;box-shadow:none;border-radius:0}
.p_finplan .main{box-shadow:none;border-radius:0;border:1px solid #d5d2d2;margin:0 auto 30px;padding-bottom: 20px; background: #fff;}
.p_finplan .con_width h2{color:#2b2f33}
.p_finplan .con_width h3.yellwo{color:#f48943}
.p_finplan .con_width h2 i.ico_faq{background-color:#fff}
.p_finplan .con_width p{color:#575757;line-height:24px}
.p_finplan .tztop_right .shouyi .color-gray{color:#868686}
.p_finplan .tztop_right h2{margin-right:30px;padding-top:34px;padding-left:7px;margin-bottom:0}
.p_finplan .tz_jine{padding-left:40px;width:390px;padding-top:20px}
.p_finplan .shouyi{padding-top:20px;color:#2b2f33}
.p_finplan .shouyi i,.p_finplan .ico_bace{background-image:none}
.p_finplan .shouyi i.ico_braces_l,.p_finplan .ico_braces_r{width:0;height:0}
.p_finplan .tz_lilv{padding-left:35px;padding-top:20px;width:277px}
.p_finplan .tz_lilv .gray{color:#999}
.p_finplan .con_width{width:auto;padding:0 37px}
.p_finplan .con_hk{margin-bottom:20px}
.p_finplan .tztop_left.w982{width:100%}
.p_finplan .con_width h2.line_bg{background:url(../../images/investment_view/number_v3.png) no-repeat right -63px;height:auto;padding:20px 0 5px}
.p_finplan .tztop_right p{padding-top:21px;font-size:14px;padding-left:7px}
.p_finplan .button_bigtongyi1:link,.p_finplan .button_bigtongyi1:visited,.p_finplan .button_bigtongyi1:hover,.p_finplan .button_bigtongyi1:active{width:66px;height:30px;line-height:30px}
.p_finplan .button_bigtongyi1:link,.p_finplan .button_bigtongyi1:visited{background-position:0 -751px}
.p_finplan .button_bigtongyi1:hover{background-position:-97px -751px}
.p_finplan .button_bigtongyi1:active{background-position:-183px -751px}
.p_finplan .number .gray{color:#999;margin-left:2px}
.p_finplan .number .black{color:#333;font-size:14px;font-weight:normal;margin-left:-3px}
.p_finplan .title_box h1 .icon_new{height:20px;padding:0 4px;top:-2px;line-height:20px;max-width:144px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; background: none repeat scroll 0 0 #fe6103;color: #fff; font-size: 12px;}
.p_finplan .tab_jiben{margin-top:0}
.p_finplan .border_b{border-bottom:1px dashed #e5e5e5}
.p_finplan .tab_jiben1 th{color:#999}
.p_finplan .tab_jiben1 td{color:#2b2f33}
.p_finplan .tab_jiben1 p{padding-bottom:0}
.p_finplan .con_hk{margin-top:25px}
.p_finplan .con_hk thead td{padding:0 0 30px 28px;line-height:30px}
.p_finplan .con_hk tbody td{padding:0 0 0 28px;line-height:50px;color:#2e3233}
.p_finplan .con_hk .border_b{border-bottom:1px solid #e5e5e5}
.p_finplan .con_hk .text1 td{color:#999}
.p_finplan .con_hk .trbg{background-color:#f8f8f8}
.p_finplan .number{padding:15px 0}
.p_finplan .number dt{width:130px}
.p_finplan .number dd{width:188px}
.p_finplan .tab_touzi{margin-top:25px}
.p_finplan .tab_touzi th{color:#999}
.p_finplan .tab_touzi td,.p_finplan .tab_touzi th{line-height:30px;padding:7px 10px 7px 0}
.p_finplan .tab_touzi .tip em{color:#0e0e0e}
.p_finplan .con_hk .text1 .but-disabled,.p_finplan .con_hk .text1 .but-disabled:hover{width:107px;background:url(../../images/investment_view/invest-con.png) no-repeat -142px -259px !important;height:38px;line-height:36px}
.p_finplan .con_hk .text1 .but-disabled:hover{background:url(../../images/investment_view/invest-con.png) no-repeat -142px -259px !important}
.p_finplan .coupon .amount_box{margin-right:20px}
.p_finplan .tab_touzi1 th,.p_finplan .tab_touzi1 td{color:#999}
.p_finplan .bid_xy h3.text{color:#1a1a1a;padding-bottom:10px}
.p_finplan .bid_xy table{margin:0 30px}
.p_finplan .bid_xy table th{color:#999}
.p_finplan .bid_xy table td{color:#1a1a1a}
.p_finplan .bid_xy table.table_shiyi{margin:0}
.p_finplan .bid_xy table.table_shiyi th,.p_finplan .bid_xy table.table_shiyi td{color:#808080}
.p_finplan .bid_xy .ht_state table{margin:0 auto}
.p_finplan .bid_xy .ht_state table td{color:#808080}
.p_finplan .ht_state .pt40{padding-top:40px}
.p_finplan .title_box h1 span.w1{display:none}
.p_finplan .title_box h1{display:block;line-height:68px}
.p_finplan .text_box{padding-left:7px}
.p_finplan .tab_touzi td.btn_pb14{padding-bottom:14px}
.p_finplan .amount_box{padding-left:7px}
.p_finplan .bid_sk .tab_touzi{margin-top:16px}
.p_finplan .more_hetong{margin-top:10px}
.p_finplan span#invest_tip{top:134px}
.p_finplan .touzi_top .pzh{line-height:35px;font-size:20px;color:#999;display:inline-block;font-weight:normal;font-family:'Microsoft Yahei'}
.p_finplan .tz_jine{padding-top:45px;height:154px;}
.p_finplan i.ico_sigh{background:url(../../images/investment_view/invest-con.png)  0 -221px;}
.p_finplan .title_box h1 .icon_new{max-width:130px;}
.p_finplan .title_box h1 span em.tit{max-width:430px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.p_finplan .title_box h1 span em{display: table-cell;}