.p_detail .f10{font-size: 10px;}
.p_detail .f16{font-size: 16px;}
.fw{ font-weight:bold; }
/*头部*/
.p_detail .inv-head .f24{ font-size: 24px; line-height:28px;}
.p_detail .inv-head .f28{ font-size: 28px;}
.p_detail .inv-head .f32{ font-size: 32px; line-height:37px;}
.p_detail .inv-head .f18{ font-size: 18px; line-height:21px;}
.p_detail .inv-head .mt3 {margin-top: 3px;}

.p_detail .inv-head .inv_top{background: linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -o-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -moz-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -webkit-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);color: #F4D7BF;position: relative;text-align: center;}
.p_detail .inv-head .inv_top .top_bg_img {width: 143px;height: 117px;position: absolute;left: 0;top:0;}

.p_detail .inv-head .inv_top .invh_ktou{padding: 25px 0 30px;position: relative;z-index: 1;}
.p_detail .inv-head .inv_top .tit{ font-size: 13px; line-height:18px;}
.p_detail .inv-head .inv_top .cont{ line-height: 1.2; font-size:14px;}
.p_detail .inv-head .inv_top .cont span{vertical-align: -2px;}
.p_detail .inv-head .inv_top .invh_ktou .ik_left{position: relative;}  
.p_detail .inv-head .inv_top .invh_ktou .ik_line{width: 0px;height: 32px;background: #F4D7BF;position: absolute;right:0;top:8px;}
.p_detail .inv-head .inv_top .invh_ktou .ik_line:after{
      content: "";
      position: absolute;
      left: 0;
      top: 0px;
      width: 200%;
      height:200%;
      border:1px solid #F4D7BF;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5, .5);
      transform: scale(.5, .5);
 }
.p_detail .inv-head .inv_top .invh_ktou .ik_left,.p_detail .inv-head .inv_top  .invh_ktou .ik_right{float: left;width: 50%}
.p_detail .inv-head .inv_top .invh_icon{ font-size: 10px; margin:0 auto; text-align:center; padding-top:18px;position: relative;z-index: 1;}
.p_detail .inv-head .inv_top .invh_icon span{display: inline-block;padding: 1px 9px; margin-right:6px; position:relative;}
.p_detail .inv-head .inv_top .invh_icon span:after{
      content: "  ";
      position: absolute;
      left: 0;
      top: -1px;
      width: 200%;
      height:200%;
      border:1px solid #F4D7BF;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5, .5);
      transform: scale(.5, .5);
 }
/* 可投金额、剩余占比 */
.p_detail .inv-head .inv_top .circle_amount_container{padding-top: 25px;position: relative;z-index: 1;}
.p_detail .inv-head .inv_top .circle_amount_container #doughnutChart{width: 104px;height:104px;vertical-align: top;display: inline-block;}

.p_detail .inv-head .inv_top .circle_amount_container .invh_nhua{display: inline-block;margin-top: 17px;margin-left: 18px;text-align: left;}
.p_detail .inv-head .inv_top .circle_amount_container .invh_nhua .invest_start_total{line-height: 17px; margin-top:5px;}
/* end */

/*发布日 计息日 */
.p_detail .inv-date{height:100px;overflow:hidden;background: #FFF;padding: 10px 0}
.p_detail .inv-date-center{margin:0 15px;height: 100%;font-size: 13px;}
.p_detail .inv-date-center .inv-date-left,.p_detail .inv-date-center .inv-date-right{width: 50%;height:100%;float: left; }
.line{height:1px;display: block;float: left;width: 100%;background: transparent;}
.line2{border-bottom: 1px dashed #e6e6e6;height: 43px;}
.p_detail .inv-date-center span.w100{width: 100px;text-align: center;color:#909090;line-height: 20px;height: 20px;margin-top: 5px;}
.p_detail .inv-date-center .line span.w100{height: 0px;margin:0;background: red;position: relative;}
.p_detail .inv-date-center .line span.w100 i{width: 8px;height: 8px;display:block;background: #fff;border-radius: 50%;position: absolute;z-index: 22;left:44px;top:-4px;border:1px solid #e6e6e6;}
.p_detail .inv-date-center .line span.w100 i.yellow{border:1px solid#F6A623;}
.p_detail .inv-date-center span.one{margin: 10px 0 5px;line-height: 25px;height: 25px;color: #000}
.p_detail .inv-date-center span.two{margin-top:0px;margin-bottom:7px;height: 20px;line-height: 20px;color: #F6A623;width:130px;text-align: center;overflow: hidden;}
.p_detail .inv-date-center span{display: block;}
.p_detail .inv-date-center .line span.w100 i.bg_yel{background: #F6A623}
.p_detail .inv-date-center span.w100.color_red {color: #EA5529}


/*中间*/
.p_detail .inv-center{padding:30px 15px; background-color: #fff;font-size: 13px; line-height: 1.4;}
.p_detail .inv-center .tit, .inv-footer .tit{ font-size:18px; line-height:25px; color:#000000; }
.p_detail .inv-center .invc_list{margin-bottom: 5px;}
.p_detail .inv-center .list_content{ margin-top:12px; }
.p_detail .inv-center .invc_list:last-child{margin-bottom: 0;}
.p_detail .inv-center p{color: #4A4A4A;}
.p_detail .inv-center p em{ color: #8A4B28;}
.p_detail .title{ color:#8A8899;padding-right: 6px;font-size: 13px;width: 85px;}
/*底部*/
.p_detail .inv-footer{background:#fff;min-height: 180px; }
.p_detail .inv-footer .tit{ padding:0 15px 0px; }
.p_detail .invf_top{ position: relative;height: 44px}
.p_detail .invf_top ul { height: 44px;}
.p_detail .invf_top ul li{ color:#343438;float: left;width: 33%;text-align: center;line-height: 52px;font-size: 14px; height:44px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_detail .invf_top ul li.select { height:42px; display:inline-block;}
.p_detail .invf_top ul li.select span{ display:inline-block; height:100%; border-bottom:2px solid #EA5529;}
.p_detail .invf_top .invf_write{height: 4px;background-color: #EA5529;border-radius: 3px;position: absolute;bottom: 0px;}
/*升级*/

.p_detail .invf_txt{ font-size: 13px;color: #343438;line-height: 18px; margin-top:24px;}
.p_detail .invf_txt table {padding: 0 15px 10px;display: block;}
.p_detail .invf_tx table img{ width:100% !important; height:auto !important;}
.p_detail .invf_txt table th{ color: #343438; text-align: left;padding: 10px 0;}
.p_detail .invf_txt table td{ padding-bottom: 0px;}
.p_detail .invf_txt .tb_ql td{ text-align: center;}
.p_detail .invf_txt .tb_ql th{ text-align: center;}
.p_detail #tb1,.p_detail #tb2,.p_detail #tb3{ display: none;}
.tb1,.tb2{ display: none;}
.p_detail .invf_txt table.table1{padding:0;display:table;}
/*投资按钮*/
.p_detail .inv-fbtn{ position: fixed;left: 0px;bottom: 0px;text-align: center;width: 100%;background-color: #fafafa;height: 47px; border-top:1px solid #d9d9d9; padding-top:8px;}

.p_detail .bid_list{height: 51px;line-height: 51px;color: #343438;font-size: 14px;border-bottom: 1px solid #e6e6e6;padding: 12px 15px 10px;}
.p_detail .bid_list .float_l{float: left;}
.p_detail .bid_list .float_l p{line-height: 25px;}
.p_detail .bid_list .float_l p.gray{color: #909090;font-size: 12px;}
.p_detail .bid_list .float_r{float: right;}

/*投资详情页项目评级*/
.p_detail .proj-grade{margin-top:0px }
.p_detail .proj-grade dl{display: -webkit-box;font-size: 13px}
.p_detail .proj-grade dl:first-child{padding-bottom:5px;}
.p_detail .proj-grade dl dt{width: 83px;color: #989898;}
.p_detail .proj-grade dl dd{ -webkit-box-flex:1; padding-left:30px;}
/*收益计算公式*/
.p_detail .profit_formula{font-size: 11px;color: #343438;line-height: 17px;border-top: 1px #E6E6E6 solid;padding-top: 6px;margin-top: 6px;}


.inv-main .deadline{background:#fff; padding:15px; font-size:13px; color:#909090;}
.p_detail .deadline_cont{width:90%; margin:0 auto; padding:10px; background: url(../images/deadline_icn.png) no-repeat center 71%; background-size:36%;}
.deadline .deadline_left{display:inline-block;}
.deadline .deadline_center{display:inline-block; color:#EE4634; position:absolute; left:35%}
.deadline .deadline_right{display:inline-block;}
.deadline .deadline_p2{color:#343438;}
.deadline .deadline_p{text-align: center;}
