{include file="web/views/v3/header.html"}
    <script src="<?php echo $this->asset->makeUrl('/v3/js/temp/jquery.weebox.1.2.js')?>" type="text/javascript"></script>
    <script src="<?php echo $this->asset->makeUrl('/v3/js/temp/passport.js')?>" type="text/javascript"></script>

    <?php echo $this->asset->renderJsV2("index_v4"); ?>
    <link href="<?php echo $this->asset->makeUrl('v3/js/temp/weebox.1.3.css');?>" type="text/css" rel="stylesheet">
     <link href="<?php echo $this->asset->makeUrl('v4/css/index/mfocus.css');?>" type="text/css" rel="stylesheet">
      <link href="<?php echo $this->asset->makeUrl('v4/css/index/index.css');?>" type="text/css" rel="stylesheet">
    <script src="<?php echo $this->asset->makeUrl('v3/js/common/medal_lightinglay.js');?>" type="text/javascript"></script>


    <div class="p_index">
        <section>
        {function name="get_adv" x="网信_banner_2018"}
  <div class="banner_slide">
    <ul class="banner_view">
    </ul>
    <div class="slide_pager">
        <div class="slide_pager_l"></div>
        <div class="slide_pager_r">
            <ul>
            </ul>
        </div>
    </div>
</div>
</section>


        <section class="main">
           {function name="get_adv" x="网信_平台介绍_2018"}
       </section>
  </div>

<div class="p_index p_index_bg">
    <section class="main">
        <!--banner start-->
   <div class="group-summary">
    <div class="title">
     <img src="<?php echo $this->asset->makeUrl('v4/images/index/56@2x.png');?>">
    </div>
    <div class="history">
      {function name="get_adv" x="网信_发展历程_2018"}
    </div>
    <div style="text-align:center;margin-top:10px;"><a href="/help/id-973" class="dev_see_more" target="_blank">查看更多</a></div>
  </div>

</div>

<!-- <div class="p_index p_index_bg2">
<section class="main">
    <div class="clearfix">
     {function name="get_adv" x="网信_荣誉资质_2018"}

    </div>
    <h6></h6>
</section>
</div> -->

<div class="p_index">
    <section class="main">
        {if empty($user_info)}
        <div class="main_part1">
          {function name="get_adv" x="网信_新手福利_2018"}
        </div>
        {/if}
        <div class="main_part2" id="tabs">
                <ul class="nav_menu clearfix">
                    <div class="j_index_tab_container">{if !empty($duotou)}<li class="current j_index_tab">智多新</li>{/if}</div>
                    <div class="j_index_tab_container">{if !empty($zx_list.list)}<li class="j_index_tab">专享</li>{/if}</div>
                    <div class="j_index_tab_container">{if !empty($deals_list.list)}<li class="j_index_tab">网贷</li>{/if}</div>
                </ul>
                <hr style="width:750px;margin:0 auto;height:1px;border:none;border-top:1px solid #FC7F0C;">
         {if !empty($duotou) }

            <div class="ui_product_tab ui_product_tab_dt mb30 mt20">

                <div class="tabbd">
                    <div class="con">
                        <div class="conbd">
                            {foreach from=$duotou.activity_list item="item" key=key}
                            {if $key < 2}
                            <div class="p2p_product p5">
                                    <div class="clearfix bg_whtie">
                                        <div class="con_l">
                                            <h3 class="f16">
                                                <a href="/finplan/bid/{$item.id}" title="{$item.name}" alt="{$item.name}" class="deal_tag_name">{function name="msubstr" v=$item.name f=0 l=20}</a>
                                                {if isset($item.tag_before_name) && $item.tag_before_name != ''}
                                                <i class="deal_tips bg_blue" title="{$item.tagBeforeDesc}">{$item.tag_before_name}</i>
                                                {/if}
                                                {if isset($item.tag_after_name) && $item.tag_after_name != ''}
                                                    <i class="deal_tips bg_blue" title="{$item.tagAfterDesc}">{$item.tag_after_name}</i>
                                                {/if}
                                            </h3>
                                            <div class="fl w360">
                                                <p><span>往期年化：</span>
                                                    <span class="f20"><i>{$item.min_rate}%~</i><i>{$item.max_rate}%</i></span>
                                                <p>
                                                    <span>最低加入金额：</span>
                                                    {if $duotou.isNewUser eq 1 and $item.new_user_min_invest_money gt 0} {$item.new_user_min_invest_money}{else}{$item.min_invest_money}{/if}元
                                                </p>
                                            </div>
                                            <div class="fl w265 progress_rate" total="1000" has="111.0000">
                                                <p><span>计息方式：</span><i>匹配后按日计算</i></p>
                                            <!-- 登录后不显示 -->
                                            <p><span>当前加入：</span>{$item.invest_user_num}人</p>
                                            </div>
                                            <div class="fl w265 progress_rate" >
                                                <p><span>期限：</span>
                                                    {if $item.lock_day lte 1}
                                                    <em style="color:#474646;font-weight:normal">1天可申请转让/退出</em>
                                                    {else}
                                                    <em style="color:#474646;font-weight:normal">{$item.lock_day}</em>天可申请转让/退出
                                                    {/if}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="product_btn">
                                            <a href="/finplan/bid/{$item.id}" class="btn_touzi" target="_blank">加入</a>
                                        </div>
                                    </div>
                                </div>
                                {/if}
                            {/foreach}
                            <!-- //循环 -->
                        </div>
                    </div>
                </div>
            </div>

        {/if}

        <!--zx start-->
            {if !empty($zx_list.list)}
            <div class="ui_product_tab ui_product_tab_zx mt20 mb30">

                <div class="tabbd">
                    <div class="con">
                        <div class="conbd">
                        {foreach from=$zx_list.list item="deal" key=key}
                          {if $key < 2}
                            <div class="p2p_product p5">
                                <div class="clearfix bg_whtie">
                                    <div class="con_l">
                                        <h3 class="f16">
                                            {if isset($deal.deal_tag_name) && $deal.deal_tag_name != ''}
                                            <i class="deal_tips bg_blue" title="{$deal.deal_tag_desc}">{$deal.deal_tag_name}</i>
                                            {/if}
                                            {if isset($deal.deal_tag_name1) && $deal.deal_tag_name1 != ''}
                                            <i class="deal_tips bg_blue" title="{$deal.deal_tag_desc}">{$deal.deal_tag_name1}</i>
                                            {/if}
                                            {if isset($deal.product_name) && $deal.product_name != ''}
                                            <span class="product_name" style="display:none;">{$deal.product_name}</span>
                                            {/if}
                                            {if $deal.bid_flag eq 1}
                                            <a title="{$deal.old_name}" alt="{$deal.old_name}"  href="{$deal.url}" target="_blank" >{$deal.name}</a>
                                            {else}
                                            <span title="{$deal.old_name}" alt="{$deal.old_name}" class="deal_tag_name">{$deal.name}</span>
                                            {/if}
                                        </h3>
                                        <div class="fl w330">
                                            <p><span>预期年化收益率：
                                                <i class="f20">
                                                    {$deal.income_base_rate}
                                                </i><ins class="f20">%</ins>
                                                {if $deal.type_id eq 27}起{/if}
                                            </span></p>
                                            <p>
                                                <span>总额：</span>
                                                {$deal.borrow_amount_format_detail}万
                                            </p>

                                        </div>
                                        <div class="fl w265">
                                            <p><span>投资期限：</span>
                                            {if $deal.loantype eq 5}
                                                <em><i class="f18">{if $deal.deal_type eq 1}{function name="plus" x=$deal.lock_period y=$deal.redemption_period}~{/if}{$deal.repay_time}</i>天</em>
                                            {else}
                                            <em><i class="f18">{$deal.repay_time}</i>个月</em>
                                            {/if}
                                            </p>
                                            <p>
                                                <span>收益方式：</span>
                                                {if $deal.deal_type eq 1}
                                                提前{$deal.redemption_period}天申请赎回
                                                {else}
                                                {$deal.loantype_name}
                                                {/if}
                                            </p>
                                        </div>
                                        <div class="fl w295 progress_rate" total="{$deal.borrow_amount}" has="{$deal.load_money}">
                                            <p>
                                                <span>投资进度：</span>
                                                <span class="progress">
                                                    <i class="ico_bace"></i>
                                                    <i class="ico_yitou">进度条</i>
                                                </span><ins class="f12 pl5"></ins>
                                            </p>
                                            <p><span>剩余可投：</span>&nbsp;{$deal.need_money_detail}元&nbsp;/&nbsp;{if $deal.min_loan_money<1000}{$deal.min_loan_money}元{else}{$deal.min_loan}万{/if}起{if !$is_firstp2p}投{/if}</p>
                                        </div>
                                    </div>
                                    <div class="product_btn">

                                        {if $deal.deal_type eq 0 ||  $deal.deal_type eq 3 || $deal.deal_type eq 5}
                                        {if $deal.is_crowdfunding eq 0}
                                        {if $deal.is_update eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">还款中</span>
                                        {elseif $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 2}
                                        <span class="btn_manbiao">满标</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {else}
                                        {if $deal.type_id neq 25}
                                            <a href="{$deal.url}" class="btn_touzi" target="_blank">投资</a>
                                        {else}
                                            <a href="{$deal.url}" class="btn_touzi" target="_blank">捐赠</a>
                                        {/if}
                                        {/if}
                                        {elseif $deal.is_crowdfunding eq 1}
                                        {if $deal.is_update eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 2}
                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已成功</span>
                                        {else}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">捐赠</a>
                                        {/if}
                                        {/if}
                                        {else}
                                        {if $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {/if}
                                        {if $deal.deal_status eq 1}
                                        {if $deal.deal_compound_status eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">已投</a>
                                        {else}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">投资</a>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 2}
                                        <span class="btn_manbiao">满标</span>
                                        {/if}
                                        {if $deal.deal_status eq 4}
                                        {if $deal.deal_compound_status eq 2}
                                        <!--<a href="{$deal.url}" class="btn_touzi">待赎回</a>-->
                                        <span class="btn_manbiao">待赎回</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 3}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 4}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 0}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {/foreach}
                        </div>
                        <div class="deal_more"><a href="/deals?tab=zx" target="_blank">查看更多</a></div>
                    </div>
                </div>
            </div>
            {/if}
            <!--zx end-->

            <!--p2p start-->
            {if !empty($deals_list.list)}
            <div class="ui_product_tab ui_product_tab_p2p mt20 mb30">

                <div class="tabbd">

                    <div class="con">
                        <div class="conbd">
                        {foreach from=$deals_list.list item="deal" key=key}
                            {if $key < 2}
                            <div class="p2p_product p5">
                                <div class="clearfix bg_whtie">
                                    <div class="con_l">

                                        <h3 class="f16">
                                            {if isset($deal.deal_tag_name) && $deal.deal_tag_name != ''}<i class="deal_tips bg_blue mr6" title="{$deal.deal_tag_desc}">{$deal.deal_tag_name}</i>{/if}
                                            {if isset($deal.deal_tag_name1) && $deal.deal_tag_name1 != ''}<i class="deal_tips bg_blue mr6" title="{$deal.deal_tag_desc}">{$deal.deal_tag_name1}</i>{/if}
                                            {if $deal.bid_flag eq 1}<a title="{$deal.old_name}" alt="{$deal.old_name}"  href="{$deal.url}" target="_blank" >{$deal.name}</a>{else}<span title="{$deal.old_name}" alt="{$deal.old_name}" class="deal_tag_name">{$deal.name}</span>{/if}
                                        </h3>
                                        <div class="fl w330">
                                            <p><span>{if $deal.deal_type eq 0}年化借款利率{else}预期年化收益率{/if}：
                                                <i class="f20">
                                                    {$deal.income_base_rate}
                                                </i><ins class="f20">%</ins>
                                                {if $deal.type_id eq 27}起{/if}
                                            </span></p>
                                            <p>
                                                <span>总额：</span>
                                                {$deal.borrow_amount_format_detail}万
                                            </p>

                                        </div>
                                        <div class="fl w265">
                                            <p><span>{if $deal.deal_type eq 0}借款期限{else}投资期限{/if}：</span>
                                            {if $deal.loantype eq 5}
                                                <em><i class="f18">{if $deal.deal_type eq 1}{function name="plus" x=$deal.lock_period y=$deal.redemption_period}~{/if}{$deal.repay_time}</i>天</em>
                                            {else}
                                            <em><i class="f18">{$deal.repay_time}</i>个月</em>
                                            {/if}
                                            </p>
                                            <p>
                                                <span>{if $deal.deal_type eq 0}还款方式{else}收益方式{/if}：</span>
                                                {if $deal.deal_type eq 1}
                                                提前{$deal.redemption_period}天申请赎回
                                                {else}
                                                {$deal.loantype_name}
                                                {/if}<br/>
                                                {if $deal.holiday_repay_type eq 1}<span class='holiday_repay_type'>（遇公休日/节假日还款时间顺延）</span>{/if}
                                            </p>
                                        </div>
                                        <div class="fl w295 progress_rate" total="{$deal.borrow_amount}" has="{$deal.load_money}">
                                            <p>
                                                <span>进度：</span>
                                                <span class="progress">
                                                    <i class="ico_bace"></i>
                                                    <i class="ico_yitou">进度条</i>
                                                </span><ins class="f12 pl5"></ins>
                                            </p>
                                            <p><span>剩余金额：</span>&nbsp;{$deal.need_money_detail}元&nbsp;/&nbsp;{if $deal.min_loan_money<1000}{$deal.min_loan_money}元{else}{$deal.min_loan}万{/if}起{if !$is_firstp2p}投{/if}</p>
                                        </div>
                                    </div>
                                    <div class="product_btn">

                                        {if $deal.deal_type eq 0 || $deal.deal_type eq 3 || $deal.deal_type eq 5}
                                        {if $deal.is_crowdfunding eq 0}
                                        {if $deal.is_update eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">还款中</span>
                                        {elseif $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 2}
                                        <span class="btn_manbiao">满标</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {else}
                                        {if $deal.type_id neq 25}

                                            <a href="{$deal.url}" class="btn_touzi" target="_blank">出借</a>

                                        {else}
                                            <a href="{$deal.url}" class="btn_touzi" target="_blank">捐赠</a>
                                        {/if}
                                        {/if}
                                        {elseif $deal.is_crowdfunding eq 1}
                                        {if $deal.is_update eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {elseif $deal.deal_status eq 2}
                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已成功</span>
                                        {else}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">捐赠</a>
                                        {/if}
                                        {/if}
                                        {else}
                                        {if $deal.deal_status eq 0}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">查看</a>
                                        {/if}
                                        {if $deal.deal_status eq 1}
                                        {if $deal.deal_compound_status eq 1}
                                        <a href="{$deal.url}" class="btn_touzi" target="_blank">已投</a>
                                        {else}

                                            <a href="{$deal.url}" class="btn_touzi" target="_blank">出借</a>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 2}
                                        <span class="btn_manbiao">满标</span>
                                        {/if}
                                        {if $deal.deal_status eq 4}
                                        {if $deal.deal_compound_status eq 2}
                                        <!--<a href="{$deal.url}" class="btn_touzi">待赎回</a>-->
                                        <span class="btn_manbiao">待赎回</span>
                                        {/if}
                                        {if $deal.deal_compound_2status eq 3}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 4}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 0}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {/foreach}
                        </div>
                        <div class="deal_more"><a href="/deals?tab=p2p" target="_blank">查看更多</a></div>
                    </div>
                </div>
            </div>
            {/if}
            <!--p2p end-->

        </div>
    </section>
</div>

<div class="p_index p_index_bg3">
    <section class="main">
        <div class="mb30 partner clearfix" id="scroll">
                <div class="title">
                  <img src="<?php echo $this->asset->makeUrl('v4/images/index/55@2x.png');?>"  />
                </div>
              <div class="clearfix">
                  <div class="left_but scroll_up"></div>
                  <div class="scrollDiv">
                    <ul>
                        <li>
                        {foreach from=$links item="link" key=key}
                        {if $key%8 eq 0 && $key != 0}
                        </li>
                        <li>
                        {/if}
                        <a index="{$key}" href="{$link.url}" target="_blank" class="logo_h"><span style="background:url({$link.img_gray}) no-repeat center;"></span></a>
                        {/foreach}
                        </li>
                    </ul>
                   </div>
                <div class="right_but scroll_down"></div>
            </div>
    </section>
</div>


<script src="<?php echo $this->asset->makeUrl('v4/js/index/mfocus.js');?>"></script>
<!-- 埋点 -->
<script>
    window.onload = function(){
        zhuge.track('进入网信首页')
    }
    $('html').on('click','.nav_a',function(){
        var nav_id = $(this).attr('data-content')
        zhuge.track("首页_点击导航栏",{
            "页面名称": nav_id
        })
    })
    $('.top').on('click','.JS_tx',function(){
        zhuge.track("首页_顶部下拉框_点击提现")
    })
    $('.top').on('click','.accountA',function(){
        zhuge.track("首页_顶部下拉框_点击提现")
    })
    $('body').on('click','.isNewUser_11626',function(){
        zhuge.track('首页_点击右下角浮窗')
    })
    zhugeTrack(".JS_login","首页_点击登录按钮", "位置", "顶部")
    zhugeTrack(".main_part1 .fr a","首页_点击登录按钮", "位置", "底部")
    zhugeTrack(".main_part1 .invest_btn a","首页_点击注册按钮", "位置", "底部")
    zhugeTrack(".color_green","首页_点击注册按钮", "位置", "顶部")
    zhugeTrack(".station_intro","首页_点击更多", "位置", "平台介绍")
    zhugeTrack(".dev_see_more","首页_点击更多", "位置", "发展历程")
    zhugeTrack(".en_a","首页_点击顶部英文站入口", "", "")
    zhugeTrack(".JS_account","首页_点击我的账户", "", "")
    zhugeTrack(".JS_a","首页_顶部下拉框_点击进入我的账户", "", "")
    zhugeTrack(".JS_tx_wx","点击选择提现账户", "提现账户", "网信")
    zhugeTrack(".JS_tx_p2p","点击选择提现账户", "提现账户", "网贷")
    
    function zhugeTrack(place, name, position, content){
        $('html').on('click',place,function(){
            // alert(name + ' ---' + position + ' ---' + content )
            var data = {};
            data[position] = content;
            zhuge.track(name, data);
        })
    }
</script>
  <!--banner end-->
    </section>
</div>

{include file="web/views/v3/footer.html"}
