/* css 重置 begin */
* {
  padding: 0px;
  margin: 0px;
}
html {
  font-size: calc(26.66666667vw);
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, '微软雅黑';
  color: #333;
  overflow-x: hidden;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="button"],
input[type="submit"],
input[type="password"],
select {
  outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
textarea {
  resize: none;
  outline: none;
}
.imgWrap {
  position: relative;
  max-width: 100%;
}
.imgWrap > img {
  display: block;
  width: 100%;
  height: auto;
}
.imgWrap .imgInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.paddingPopBox {
  height: 0px;
  padding-top: 100%;
  position: relative;
}
.paddingPopBox .paddingPopInner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  width: 100%;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0px;
}
::-webkit-scrollbar {
  display: none;
}
/* css 重置 end */
.maskDiv {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}
.flexMaskDiv {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site_toastTip {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site_toastTip .textTip {
  min-height: 24px;
  line-height: 24px;
  background-color: #000;
  border-radius: 15px;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 10px;
  max-width: 80%;
}
.dzp_body {
    /*background: url("../images/bodyBg.jpg") 0px 0px repeat-y;*/
    /*background-size: 100% 1px;*/
    background-color: #fe6a3c;
}
.dzp_body .paddingPopBox.middle {
  padding-top: 50%;
}
.dzp_body .paddingPopBox.bottom {
  padding-top: 28%;
}
.dzp_body .paddingPopBox img {
  display: block;
}
.dzp_body .rotateDiskWrap {
  position: absolute;
  left: 10.5%;
  top: -81.7%;
  width: 79.1%;
  z-index: 2;
}
.dzp_body .rotateDiskWrap .contUl {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 0px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.dzp_body .rotateDiskWrap .contUl .item {
  box-sizing: border-box;
  text-align: center;
  padding-top: 0px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.dzp_body .rotateDiskWrap .contUl .item::before {
  width: 100%;
  height: 8px;
  content: "";
  display: block;
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(3) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(5) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.dzp_body .rotateDiskWrap .contUl .item:nth-of-type(6) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.dzp_body .rotateDiskWrap .contUl .item .imgBox {
  width: 30%;
  height: 30%;
  background: url("../images/awardBg.png") no-repeat;
  background-size: 100% 100%;
  margin: 0px auto 0px auto;
  box-sizing: border-box;
  padding: 4px;
  position: relative;
}
.dzp_body .rotateDiskWrap .contUl .item .imgBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.dzp_body .rotateDiskWrap .contUl .item p {
  color: #ffffff;
}
.dzp_body .rotateDiskWrap .contUl .item p:nth-of-type(1) {
  font-size: 10px;
  margin: 3px auto 0px auto;
  height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 58%;
  overflow: hidden;
  font-weight: bold;
}
.dzp_body .rotateDiskWrap .contUl .item p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}
.dzp_body .rotateDiskWrap .gameBtn {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  background: url("../images/btn.jpg") no-repeat;
  background-size: 100% 100%;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.dzp_body .rotateDiskWrap .gameBtn.disabled {
  background-image: url("../images/btn_disabled.jpg");
}
.dzp_body .infor {
  position: absolute;
  left: 0px;
  width: 100%;
  top: -30px;
}
.dzp_body .infor p {
  text-align: center;
}
.dzp_body .infor p:nth-of-type(1) {
  font-size: 16px;
  color: #0FA64A;
  font-weight: bold;
}
.dzp_body .infor p:nth-of-type(1) span {
  font-size: 24px;
  color: #0FA64A;
}
.dzp_body .infor p:nth-of-type(2) {
  font-size: 10px;
  color: #0FA64A;
  margin: 3px 0px 0px 0px;
}
.dzp_body .infor .gameRuleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dzp_body .infor .gameRuleWrap a {
  display: block;
  text-align: center;
  width: 60px;
  border: 1px solid;
}
.dzp_body .infor .gameRuleWrap a:first-child {
  border-color: #ff0000;
  color: #ff0000;
}
.dzp_body .infor .gameRuleWrap a:last-child {
  border-color: #ff0000;
  color: #ff0000;
}
.dzp_body .infor .gameRuleWrap a:nth-of-type(2) {
  margin-left: 20px;
}
.dzp_body .maskBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 1000;
}
.dzp_body .loginPop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.dzp_body .loginPop .title {
  width: 75%;
  margin-left: 12%;
  margin-top: 20%;
}
.dzp_body .loginPop .title .paddingPopBox {
  padding-top: 40%;
}
.dzp_body .loginPop .loginForm {
  width: 74.8%;
  background: url("../images/loginForm.png") no-repeat;
  background-size: 100% auto;
  margin-left: 12%;
  margin-top: 10%;
}
.dzp_body .loginPop .loginForm .paddingPopBox {
  padding-top: 41.35%;
}
.dzp_body .loginPop .loginForm input {
  position: absolute;
  height: 10%;
  background-color: transparent;
  border: none;
  outline: none;
  left: 28.4%;
  height: 30.2%;
  width: 65.3%;
  box-sizing: border-box;
  font-size: 12px;
  color: #ffffff;
  padding: 0px 10px;
}
.dzp_body .loginPop .loginForm input::-webkit-input-placeholder {
  color: #ffffff;
}
.dzp_body .loginPop .loginForm input::-moz-placeholder {
  color: #ffffff;
}
.dzp_body .loginPop .loginForm input:-ms-input-placeholder {
  color: #ffffff;
}
.dzp_body .loginPop .loginForm input::placeholder {
  color: #ffffff;
}
.dzp_body .loginPop .loginForm input[name="username"] {
  top: 15.7%;
}
.dzp_body .loginPop .loginForm input[name="password"] {
  top: 55.7%;
}
.dzp_body .loginPop .loginBtnBox {
  width: 38%;
  margin-left: 31%;
  margin-top: 20%;
}
.dzp_body .loginPop .loginBtnBox .paddingPopBox {
  padding-top: 27%;
}
.dzp_body .loginPop .loginBtnBox .loginBtn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.dzp_body .loginPop .logoLight {
  width: 30%;
  margin-left: 35%;
  position: absolute;
  bottom: 5%;
}
.dzp_body .loginPop .logoLight .paddingPopBox {
  padding-top: 17.49%;
}
.dzp_body .winPop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.dzp_body .winPop .title {
  width: 75%;
  margin-left: 12%;
  margin-top: 30px;
}
.dzp_body .winPop .title .paddingPopBox {
  padding-top: 40%;
}
.dzp_body .winPop .sector {
  width: 46%;
  margin-left: 27%;
  margin-top: 20px;
}
.dzp_body .winPop .sector > .paddingPopBox {
  padding-top: 70.55%;
}
.dzp_body .winPop .sector .winInfor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  padding-top: 4px;
}
.dzp_body .winPop .sector .winInfor .winImgWrap {
  width: 20%;
  margin: 0px auto;
}
.dzp_body .winPop .sector .winInfor .imgBox {
  background: url(../images/awardBg.png) no-repeat;
  background-size: 100% 100%;
}
.dzp_body .winPop .sector .winInfor p {
  color: #ffffff;
  text-align: center;
}
.dzp_body .winPop .sector .winInfor p:nth-of-type(1) {
  font-size: 10px;
  margin: 0px auto 0px auto;
  height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 58%;
  overflow: hidden;
  font-weight: bold;
}
.dzp_body .winPop .sector .winInfor p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}
.dzp_body .winPop .sector .winInfor img {
  border-radius: 50%;
}
.dzp_body .winPop .winTextInfor {
  text-align: center;
}
.dzp_body .winPop .winTextInfor p:nth-of-type(1) {
  font-size: 16px;
  color: #ffffff;
  margin-top: 5%;
}
.dzp_body .winPop .winTextInfor p:nth-of-type(2) {
  font-size: 20px;
  color: #fffb95;
  margin: 8px 0px 12px 0px;
  text-shadow: 0px 0px 10px #fdfbc4;
  padding: 0px 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dzp_body .winPop .winTextInfor p:nth-of-type(3) {
  font-size: 10px;
  color: #fffb95;
}
.dzp_body .winPop .winTextInfor p:nth-of-type(3) span {
  color: #ffffff;
  margin: 0px 3px;
}
.dzp_body .winPop .loginBtnBox {
  width: 38%;
  margin-left: 31%;
  margin-top: 20px;
}
.dzp_body .winPop .loginBtnBox .paddingPopBox {
  padding-top: 27%;
}
.dzp_body .winPop .loginBtnBox .loginBtn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #853712;
  font-weight: bold;
  font-size: 20px;
}
.dzp_body .winPop .logoLight {
  width: 30%;
  margin-left: 35%;
  position: absolute;
  bottom: 5%;
}
.dzp_body .winPop .logoLight .paddingPopBox {
  padding-top: 17.49%;
}
.dzp_body .winPop .closeLink {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  color: #9f9f9f;
}
.dzp_body .sharePop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.dzp_body .sharePop .shareTopBg {
  position: absolute;
  top: 50px;
  right: 35px;
  width: 70%;
}
.dzp_body .sharePop .closeTip {
  position: absolute;
  left: 0px;
  bottom: 19%;
  width: 100%;
  padding-top: 40px;
  background: url(../images/shareCloseIcon.png) no-repeat center top;
  background-size: 40px 40px;
  color: #ffffff;
}
.dzp_body .sharePop .closeTip p {
  color: #ffffff;
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
  padding-top: 23px;
}
.dzp_body .gameRulePop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.dzp_body .gameRulePop .title {
  width: 75%;
  margin-left: 12%;
  margin-top: 30px;
}
.dzp_body .gameRulePop .title .paddingPopBox {
  padding-top: 40%;
}
.dzp_body .gameRulePop .textCont {
  width: 74.8%;
  margin-left: 12.6%;
  margin-top: 20px;
}
.dzp_body .gameRulePop .textCont .paddingPopBox {
  padding-top: 81.3%;
}
.dzp_body .gameRulePop .textCont .textPre {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 10px;
  padding: 12% 10% 10% 10%;
  overflow: hidden;
}
.dzp_body .gameRulePop .textCont .textPre .scrollDiv {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.dzp_body .gameRulePop .textCont .textPre p:not(:first-child) {
  margin-top: 10px;
}
.dzp_body .gameRulePop .loginBtnBox {
  width: 38%;
  margin-left: 31%;
  margin-top: 20px;
}
.dzp_body .gameRulePop .loginBtnBox .paddingPopBox {
  padding-top: 27%;
}
.dzp_body .gameRulePop .loginBtnBox .loginBtn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #853712;
  font-weight: bold;
  font-size: 20px;
}
.dzp_body .gameRulePop .logoLight {
  width: 30%;
  margin-left: 35%;
  position: absolute;
  bottom: 5%;
}
.dzp_body .gameRulePop .logoLight .paddingPopBox {
  padding-top: 17.49%;
}
.dzp_body .gameRulePop .closeLink {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  color: #9f9f9f;
}
.dzp_body .noWinPop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.dzp_body .noWinPop .title {
  width: 75%;
  margin-left: 12%;
  margin-top: 30px;
}
.dzp_body .noWinPop .title .paddingPopBox {
  padding-top: 40%;
}
.dzp_body .noWinPop .tipInfor {
  text-align: center;
  margin-top: 20%;
}
.dzp_body .noWinPop .tipInfor p:nth-of-type(1) {
  font-size: 21px;
  color: #ffffff;
}
.dzp_body .noWinPop .tipInfor p:nth-of-type(2) {
  font-size: 35px;
  color: #fffb95;
  margin-top: 15px;
}
.dzp_body .noWinPop .loginBtnBox {
  width: 38%;
  margin-left: 31%;
  margin-top: 15%;
}
.dzp_body .noWinPop .loginBtnBox .paddingPopBox {
  padding-top: 27%;
}
.dzp_body .noWinPop .loginBtnBox .loginBtn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #853712;
  font-weight: bold;
  font-size: 20px;
}
.dzp_body .noWinPop .logoLight {
  width: 30%;
  margin-left: 35%;
  position: absolute;
  bottom: 5%;
}
.dzp_body .noWinPop .logoLight .paddingPopBox {
  padding-top: 17.49%;
}
.dzp_body .noWinPop .closeLink {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  color: #9f9f9f;
}
.dzp_body .loadingBox {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
}
.dzp_body .loadingBox .timerLoader {
  width: 48px;
  height: 48px;
  border: 6px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  overflow-y: hidden;
  margin: 0px auto 0px auto;
}
.dzp_body .loadingBox .timerLoader::before,
.dzp_body .loadingBox .timerLoader::after {
  -webkit-animation: timer-loader infinite linear;
          animation: timer-loader infinite linear;
  -webkit-transform-origin: 3px 3px;
          transform-origin: 3px 3px;
  background: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  left: 15px;
  top: 15px;
}
.dzp_body .loadingBox .timerLoader::before {
  -webkit-animation-duration: 1250ms;
          animation-duration: 1250ms;
  height: 19.2px;
}
.dzp_body .loadingBox .timerLoader::after {
  -webkit-animation-duration: 15000ms;
          animation-duration: 15000ms;
  height: 16px;
}
.dzp_body .loadingBox .text {
  color: #ffffff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
/* 媒体查询 begin */
@media screen and (max-width: 320px) {
  .dzp_body .rotateDiskWrap .contUl .item p:nth-of-type(1) {
    margin-top: 0px;
  }
  .dzp_body .infor {
    top: -30px;
  }
  .dzp_body .winPop .logoLight {
    display: none;
  }
  .dzp_body .winPop .winTextInfor p:nth-of-type(1) {
    margin-top: 10px;
  }
  .dzp_body .gameRulePop .logoLight {
    display: none;
  }
}
@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
[v-cloak] {
  display: none;
}
