
/*间距*/
.m-left300{ margin-left: 300px;_margin-left: 297px;}
.m-right300{ margin-right: 300px;_margin-right: 297px;}
.m-left600{ margin-left: 600px;_margin-left: 594px;}
.m-right600{ margin-right: 600px;_margin-right: 594px;}
.m-auto{ margin: 0 auto;}
/*IE6 3px Hack*/
.ie6-fl{_margin-right:-3px;}
.ie6-fr{_margin-left:-3px;}
/*两列固定宽度*/
.g-module01 .g-left{ height: 120px;background-color: yellow;}
.g-module01 .g-right{ height: 120px;background-color:gray; }
/*三列固定宽度*/
.g-module02 .g-left{ height: 120px;background-color: yellow;}
.g-module02 .g-right{ height: 120px;background-color:gray; }
.g-module02 .g-center{ height: 120px;background-color:#9C6; }
 /*两列固定居中*/
.g-module03 .g-left{ height: 120px;background-color: yellow;}
.g-module03 .g-right{ height: 120px;background-color:gray; }
 /*三列固定居中布局*/
.g-module04 .g-left{ height: 120px;background-color: yellow;}
.g-module04 .g-right{ height: 120px;background-color:gray; }
.g-module04 .g-center{ height: 120px;background-color:#9C6; }
/*左侧固定右侧自适应*/
.g-module05 .g-left{ height: 120px;background-color: yellow;}
.g-module05 .g-right{ height: 120px;background-color:gray; }
/*右侧固定左侧自适应*/
.g-module06 .g-left{ height: 120px;background-color: yellow;}
.g-module06 .g-right{ height: 120px;background-color:gray; }
 /*中间自适应三列布局*/
.g-module07 .g-left{ height: 120px;background-color: yellow;}
.g-module07 .g-right{ height: 120px;background-color:gray; }
.g-module07 .g-center{ height: 120px;background-color:#9C6; }
 /*左侧自适应三列布局*/
.g-module08 .g-left{ height: 120px;background-color: yellow;}
.g-module08 .g-right{ height: 120px;background-color:gray; }
.g-module08 .g-center{ height: 120px;background-color:#9C6; }
/*右侧自适应三列布局*/
.g-module09 .g-left{ height: 120px;background-color: yellow;}
.g-module09 .g-right{ height: 120px;background-color:gray; }
.g-module09 .g-center{ height: 120px;background-color:#9C6; }