/****投资列表-多投宝****/
.p_finplan_lists { min-height: 500px; height: auto !important; height: 500px; }
.p_finplan_lists .empty-box { color: #a7a7a7; font-size: 16px; text-align: center; padding-top: 133px;height: 250px; }
.p_finplan_lists .empty-box i { display: inline-block; width: 42px; height: 47px; background: url(../../images/duotou/dt_notou.jpg) no-repeat; vertical-align: -17px; margin-right: 10px; }
.p_finplan_lists .w345{width: 345px;}
.p_finplan_lists .w280{width: 280px;}