
	<div style="width:400px; padding:10px;">
		
		<p style="font-size:14px; font-weight:bold;">
			{$LANG.PAYMENT_INFO_TIP}				
		</p>
		<div class="blank"></div>
		<p class="notice">
			{$LANG.PAYMENT_NOTICE_TIP_1}
			<br />							
			{$LANG.PAYMENT_NOTICE_TIP_2}		
		</p>
		<div class="blank"></div>
		<p >   
			<input type="button" value="{$LANG.PAYMENT_HAS_DONE}" class="paybutton" onclick="location.href='{$actionUrl}';" >
			<input type="button" value="{$LANG.PAYMENT_ERROR}" class="paybutton paybutton-gray" style="width:220px" onclick="location.href='{$reUrl}';">
		</p>
		
	</div>		
 
 