@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none; border:none; border-radius:0;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5  arial, "Microsoft YaHei";}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color: #333;	}
a{text-decoration: none;}
body{ background-color:#fff; overflow-x:hidden;}
.w1400{width: 1400px; margin: 0 auto;}
.w1200{width: 1200px; margin: 0 auto;}
header{height: 120px; background: #080924;}
header .logo{
    width: 110px;
    float: left;
    padding-top: 39px;
}
.ir_nav{float: right;padding-top: 53px;}
.ir_nav li a{color: #707070; text-decoration: none;}
.ir_nav li{float: left;color: #707070; font-size: 18px;padding-left: 58px;}
.ir_nav li.active a{
    color: #d9683b;
}
.nav_ul_h5{
    display: none;
}
.slide6{
    background: url(../images/bg4_pc.jpg) no-repeat center;
    width: 100%;
    height: 50px;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
  }
  .footer_logo{
    width: 44px;
    height: auto;
    padding-top: 62px;
    padding-bottom: 18px;
  }
  .footer_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .slide6 p{
    font-size: 14px;
    line-height: 26px;
  }
  .index_footer{
    display: none;
  }
  .slide6 .beian{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    background:rgba(0,0,0,0.16);
    color: #8e9cb5;
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  .full_screen{
    position:fixed;
    bottom: 0;
  }
  .beian a{
    color: #8e9cb5;
    display:inline-block;
    text-decoration:none;
  }
@media screen and (max-width: 1200px) and (min-width: 320px){
    header{height: 0.7rem;}
    header .logo{
        width: 0.7rem;
        float: left;
        padding-top: 0.2rem;
        margin-left: 0.19rem;
    }
    .ir_nav_h5{
        width: 0.23rem;
        height: 0.04rem;
        background: #fff;
        box-shadow: 0 0.08rem 0 0 #fff, 0 0.16rem 0 0 #fff;
        transform: translate(0px, 0px);
        transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    }
    .ir_nav{
        display: none;
    }
    .nav_btn{
        position: absolute;
        right: 0.15rem;
        top: 0.24rem;
        width: 0.23rem;
        height: 0.25rem;
      }
      .nav_h5{
        /* position: absolute;
        right: 0.15rem;
        top: 0.24rem; */
        width: 0.23rem;
        height: 0.04rem;
        background: #fff;
        box-shadow: 0 0.08rem 0 0 #fff, 0 0.16rem 0 0 #fff;
        transform: translate(0px, 0px);
        transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
      }
      .nav_btn_open{
        transform: rotate(-45deg);
        width: 0.23rem;
        height: 0.23rem;
        background: linear-gradient(to bottom, transparent 42%, #fff 42%, #fff 58%, transparent 58%),
     linear-gradient(to right, transparent 42%, #fff 42%, #fff 58%, transparent 58%);
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
      }
      .disnone{
        display: none;
      }
      .member {
        /* position: absolute;
        left: 0px; */
        box-shadow: 0 8px 27px 0 rgba(41,41,41,.07);
        /* z-index: 20; */
      }
      .nav_ul_h5{
        display: block;
        position: absolute;
        top: 0.7rem;
        left: 0;
        font-size: 0.14rem;
        background: rgba(28,24,46,0.98);
        color: #707070;
        width: 100%;
        height: auto;
        z-index: 18;
        transition: max-height .5s ease;
        max-height: 0;
        overflow: hidden;
      }
      .nav_ul_h5 a{
          color: #707070;
          text-decoration: none;
      }
      .nav_ul_h5_close{
        max-height: 5rem;
      }
      .nav_ul_h5 li{
        position: relative;
      }
      .nav_ul_h5 .show_more{
        padding: 0.1rem 0.15rem;
      }
      .nav_ul_h5 li a {
        display: block;
        padding: 0.1rem 0.15rem;
      }
      .nav_ul_h5 li:hover{
        color: #fff;
      }
      .nav_ul_h5 li.active{
        color: #fff;
      }
      .nav_ul_h5 li.active i{
        border-color: #fff transparent transparent transparent;
      }
      .nav_ul_h5 li.active a{
        color: #fff;
      }
      .nav_ul_h5 li i{
        margin-left: 0.12rem;
        width: 0;
        height: 0;
        border-width: 0.06rem;
        border-style: solid;
        border-color: #707070 transparent transparent transparent;
        top: 0.17rem;
        position: absolute;
      }
      .nav_ul_h5 li i.active{
        border-color: #fff transparent transparent transparent;
      }
      .nav_ul_h5 li:hover i{
        border-color: #fff transparent transparent transparent;
      }
      .nav-item .select{
        border-top: none;
        background: none;
      }
      .nav-item .select li{
        height: auto;
        line-height:0.2rem;
        padding: 0.1rem 0.15rem;
      }
      .nav-item .select li a{
        color: #fff;
        font-size: 0.14rem;
        padding: 0;
      }
      .slide6{
        background: url(../images/bg4.jpg) no-repeat center;
        height: 0.8rem;
        background-size: cover;
      }
      .slide6 p {
        font-size: 0.12rem;
        line-height: 0.26rem;
        padding: 0 0.15rem;
      }
      .slide6 .beian{
        height: 0.6rem;
        line-height: 0.2rem;
        width: auto;
        padding: 0 0.15rem;
        font-size: 0.12rem;
        padding-top: 0.2rem;
      }
      .clickMask{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
      }
      .clickMask.show{
        display: block;
      }
}