

.bg1 {
  background: url(../images/contact_ir/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  background-size: cover;
  position: relative;
}
.bg1 .img_trangle{position: absolute;left: 50%;bottom: 0;width: 34px;margin-left: -17px;}
.wx_timeline {text-align: center;}
.wx_timeline .img_trangle2{width: 75px;height: auto;}
.wx_timeline .contact_ir_lists {padding-bottom: 87px;}
.wx_timeline .contact_ir_lists .each_contact_ir{margin-top: 50px;text-align: center;}
.wx_timeline .contact_ir_lists .each_contact_ir .title{font-size: 30px;color: #353434;}
.wx_timeline .contact_ir_lists .each_contact_ir .line{width: 98px;height: 4px;background: #ee6615;margin: 0 auto;}
.wx_timeline .contact_ir_lists .each_contact_ir .position_description{margin-top: 35px;font-size: 18px;color: #7D7D7D;}
.wx_timeline .contact_ir_lists .each_contact_ir .position_description p{line-height: 30px;}
@media screen and (max-width: 1200px) and (min-width: 320px) {
  
  .bg1 {
    background: url(../images/contact_ir/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
    position: relative;
  }
  .bg1 .img_trangle{position: absolute;left: 50%;bottom: 0;width: 0.2rem;margin-left: -0.1rem;}
  .wx_timeline {text-align: center;}
  .wx_timeline .img_trangle2{width: 0.45rem;height: auto;}
  .wx_timeline .contact_ir_lists {padding-bottom: 87px;}
  .wx_timeline .contact_ir_lists .each_contact_ir{margin-top: 0.3rem;text-align: center;}
  .wx_timeline .contact_ir_lists .each_contact_ir .title{font-size: 0.2rem;color: #353434;}
  .wx_timeline .contact_ir_lists .each_contact_ir .line{width: 0.7rem;height: 0.03rem;background: #ee6615;margin: 0 auto;}
  .wx_timeline .contact_ir_lists .each_contact_ir .position_description{margin-top: 0.2rem;font-size: 0.16rem;color: #7D7D7D;}
  .wx_timeline .contact_ir_lists .each_contact_ir .position_description p{line-height: 0.24rem;}
}
