
.bg1 {
  background: url(../images/ir_home/bg1.png) no-repeat center bottom;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  background-size: cover;
}

.wx_timeline {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.wx_timeline .img_trangle{width: 74px;height: auto;margin-bottom: 23px;}

.wx_timeline .text_area{font-size: 18px;color: #7D7D7D;margin: 0 30px;word-spacing: 4px;line-height: 32px;}
.wx_timeline .each_title:nth-child(1){margin-bottom: 5px;}

.wx_timeline .each_part_description .img_trangle2{width: 36px;height: auto;margin: 38px auto 5px;}
.wx_timeline .each_part_description .title{font-size: 30px;}
.wx_timeline .each_part_description .management_lists{margin-top: 44px;width: 100%;text-align: left;}
.wx_timeline .each_part_description .management_lists .each_managor{width: 570px;text-align: left;position: relative;height: 280px;background: #F3F3F3;display: inline-block;margin-top: 120px;}
.wx_timeline .each_part_description .management_lists .each_managor:nth-child(2n){margin-left: 54px;}
.wx_timeline .each_part_description .management_lists .each_managor a {display: block;width: 100%;height: 100%;}
.wx_timeline .each_part_description .management_lists .each_managor a .managor_img{width: 215px;height: 290px;position: absolute;z-index: 1;top: -50px;left: 30px;}
.wx_timeline .each_part_description .management_lists .each_managor .right{margin-top: 54px;border-radius: 2px;padding-left: 295px;padding-top: 80px;font-size: 24px;color: #4f4e4e;}
.wx_timeline .each_part_description .management_lists .each_managor .right .line{background: #EE6615; width: 72px;height: 6px;border-radius: 5px;}
.wx_timeline .each_part_description .management_lists .each_managor .right .name{margin-top: 25px;}
.wx_timeline .each_part_description.board_directors{margin-top: 45px;}
.board_directors .board_directors_container{margin-top: 70px;text-align: left;}
.board_directors .board_directors_container .board_directors_each_card{-webkit-box-shadow: 0px 2px 6px #f1f1f1,-2px 0px 6px #f1f1f1,2px 0px 6px #f1f1f1,0px 0px 6px #f1f1f1 ;box-shadow: 0px 2px 6px #f1f1f1,-2px 0px 6px #f1f1f1,2px 0px 2px #f1f1f1,0px 0px 6px #f1f1f1 ;border-radius: 5px;padding: 42px 20px;display: inline-block;width: 27%;margin-left: 35px;margin-top: 30px;}
.board_directors .board_directors_container .board_directors_each_card:nth-child(1),.board_directors .board_directors_container .board_directors_each_card:nth-child(4){margin-left: 0;}
.board_directors .board_directors_container .board_directors_each_card .title{font-size: 32px;color: #292929;}
.board_directors .board_directors_container .board_directors_each_card .second_title{font-size: 18px;color: #6D6D6D;}
.board_directors .board_directors_container .board_directors_each_card .line{background: #F2813D;width: 30px;height: 6px;border-radius: 5px;margin-top: 19px;margin-bottom: 27px;}
.board_directors .board_directors_container .board_directors_each_card .description{font-size: 16px;line-height: 30px;}
.board_directors .board_directors_container .board_directors_each_card .more{display: block;padding: 8px 0;width: 98px;text-align: center;
  background: #68739C;color: #fff;border-radius: 30px;font-size: 16px;margin-top: 20px;}
.committee_composition .description_container {padding: 65px 0 180px;}
.committee_composition .description{font-size: 18px;line-height: 32px;color: #7D7D7D;word-spacing: 2px;}