.p_board .banner{
    height: 395px;
    background: url(../images/board_banner.jpg) no-repeat center;
    line-height: 395px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}
.p_board .management_banner{
    height: 394px;
    background: url(../images/management_banner.jpg) no-repeat center;
    line-height: 394px;
    color: #fff;
    font-size: 36px;
    text-align: center;
}
.p_board .content{
    position: relative;
}
.p_board .content .title{
    font-size: 30px;
    color: #353434;
    text-align: center;
    padding-top:164px;
}
.p_board .content .arrow{
    position:absolute;
    width: 76px;
    height: 192px;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    top: -70px;
    left: 50%;
    margin-left: -38px;
}
.p_board .content .board_list{
    padding-top:10px;
    padding-bottom: 110px;
}
.p_board .content .board_list li{
    padding-top: 58px;
}
.p_board .content .board_list li h2{
    font-size: 30px;
    color: #353434;
}
.p_board .content .board_list li h3{
    font-size: 18px;
    color: #353434;
}
.p_board .content .board_list li p{
    font-size: 16px;
    color: #7d7d7d;
    line-height: 36px;
    padding-top: 20px;
}
.ir_nav_h5{
    display: none;
    float: right;
    margin-right:10px;
    margin-top: 0.24rem;
}
.beian{
    color: #8e9cb5;
}
.beian a{
  color: #8e9cb5;
  display:inline-block;
  text-decoration:none;
}
@media screen and (max-width: 1200px) and (min-width: 320px){
    .p_board .banner{
        height: 2rem;
        width: 100%;
        background: url(../images/board_banner.jpg) no-repeat center;
        background-size: cover;
        line-height: 2rem;
        font-size: 0.24rem;
    }
    .p_board .management_banner{
        height: 2rem;
        width: 100%;
        background: url(../images/management_banner.jpg) no-repeat center;
        background-size: cover;
        line-height: 2rem;
        font-size: 0.24rem;
    }
    .w1200{
        width: 100%;
    }
    .p_board .content .arrow{
        width: 0.38rem;
        height: 0.96rem;
        top: -0.35rem;
        margin-left: -0.19rem;
    }
    .p_board .content .title{
        padding-top: 0.8rem;
        font-size: 0.24rem;
    }
    .p_board .content .board_list{
        padding:0 0.15rem 0.3rem 0.15rem;
    }
    
}
.p_board .content .management li .box{background: #f3f3f3; position: relative;height: 305px;}
.p_board .content .management li .box .img{
    width: 217px;
    height: 287px;
    float: left;
    background: #7d7d7d;
    margin-top: -50px;
    margin-left: 28px;
}
.p_board .content .management li .box .text{
    padding: 20px 30px 20px 300px;
}
.p_board .content .management li .box .text .line{
    width: 70px;
    height: 5px;
    border-radius: 3px;
    background: #ee6615;
    margin-bottom: 10px;
}
.p_board .content .management li .box .text p{
    line-height: 24px;
}
.p_board .content .management li{
    padding-top: 40px;
}
@media screen and (max-width: 1200px) and (min-width: 320px){
    .p_board .content .management li .box .img{
        width: 1.17rem;
        height: 1.54rem;
        float: left;
        margin-top: -0.2rem;
        margin-left: 0.1rem;
        display: none;
    }
    .p_board .content .management li .box .img img{
        width: 100%;
    }
    .p_board .content .management li .box .text{
        padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    }
    .p_board .content .board_list li h2{
        font-size: 0.20rem;
    }
    .p_board .content .board_list li h3{
        font-size: 0.16rem;
        color: #353434;
    }
    .p_board .content .board_list li p{
        font-size: 0.14rem;
        line-height: 0.22rem;
    }
    .p_board .content .management li .box .text p{
        line-height: 0.22rem;
    }
    .p_board .content .management li .box{height: auto;}
}