.p_governance {}

.banner {
  height: 395px;
  background: url(../images/governance/banner.png) no-repeat center;
  line-height: 395px;
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.arrow {
  width: 46px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 52px;
}

.title {
  font-size: 20px;
  color: #353434;
  text-align: center;
  margin-bottom: 75px;
  line-height: 37px;
}

.person {
  border: 2px #f1f1f3 solid;
  width: 100%;
  text-align: center;
}

.person th {
  font-size: 20px;
  color: #353434;
  height: 114px;
  border-bottom: 2px #f1f1f3 solid;
}

.person td {
  font-size: 18px;
  color: #ee6615;
  height: 65px;
  line-height: 65px;
}
.person td img{
  height: 17px;
  width: auto;
}

.person tr {
  background: #f9f9fb;
}

.person tr:nth-child(2n-1) {
  background: #fff;
}

.describe {
  margin-top: 47px;
  color: #353434;
  font-size: 18px;
  margin-bottom: 65px;
}
.describe img{
  height: 17px;
}

.ul_contain {
  margin-bottom: 60px;
  overflow: hidden;
}

.left_ul,
.right_ul {
  float: left;
  width: 50%;
}

.list_title {
  font-size: 38px;
  color: #353434;
  line-height: 35px;
  margin-bottom: 34px;
}

.list_title span {
  width: 5px;
  height: 35px;
  background: #ee6615;
  margin-right: 16px;
  display: inline-block;
  vertical-align: -2px;
}

.ul_contain a {
  color: #ee6615;
}

.ul_contain li {
  font-size: 18px;
  margin-bottom: 20px;
}

.ul_contain li i {
  background: url(../images/governance/pdf.png) no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 14px;
  vertical-align: -1px;
}

.pop_box {
  position: relative;
}

.cover {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pop_contain {
  width: 1100px;
  height: 640px;
  border-radius: 3px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -320px;
  margin-left: -550px;
  border: 1px #f1f1f3 dashed;
  z-index: 1;
}

.pop_top {
  background: #f7f8f8;
  height: 30px;
  width: 100%;
}

.pop_content {
  padding: 50px 78px 0 78px;
  height: 535px;
  overflow: scroll;
}

.pop_content .pop_title {
  font-size: 38px;
  line-height: 55px;
  color: #353434;
  border-top: 1px #ee6615 solid;
  border-bottom: 1px #ee6615 solid;
  display: inline-block;
}

.pop_content .line1 {
  font-size: 18px;
  color: #353434;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pop_content .detail {
  font-size: 16px;
  color: #353434;
  margin-bottom: 50px;
  line-height: 27px;
}

.pop_content .detail span {
  font-size: 20px;
}

.pop_content ul li {
  font-size: 18px;
  color: #353434;
  margin-bottom: 20px;
}

.double {
  width: 17px;
  margin-right: 20px;
  vertical-align: -2px;
  float: left;
  margin-top: 3px;
}

.single {
  width: 17px;
  margin-right: 20px;
  vertical-align: -2px;
  float: left;
  margin-top: 3px;
}

.close {
  width: 54px;
  height: auto;
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -27px;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

@media screen and (max-width: 1200px) and (min-width: 320px) {
  .banner {
    height: 2rem;
    width: 100%;
    background: url(../images/governance/banner.png) no-repeat center;
    background-size: cover;
    line-height: 2rem;
    font-size: 0.24rem;
  }
  .w1200 {
    width: 100%;
  }
  .arrow {
    width: 0.5rem;
    height: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.32rem;
  }
  .title {
    font-size: 0.16rem;
    margin-bottom: 0.4rem;
    line-height: 0.26rem;
    padding: 0 0.15rem;
  }
  
  .person {
    border: 1px #f1f1f3 solid;
    width: auto;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }
  
  .person th {
    font-size: 0.12rem;
    height: 1.1rem;
    border-bottom: 1px #f1f1f3 solid;
  }
  
  .person td {
    font-size: 0.12rem;
    height: 65px;
    line-height: inherit;
  }
  .person td img{
    height: 0.1rem;
    width: auto;
  }

  .describe {
    margin-top: 0.3rem;
    font-size: 0.16rem;
    margin-bottom: 0.4rem;
    margin-left: 0.15rem;
  }
  .describe img{
    height: 0.13rem;
    vertical-align: -1px;
  }
  
  .ul_contain {
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .left_ul,
  .right_ul {
    float: inherit;
    width: auto;
    padding: 0 0.15rem;
    margin-bottom: 0.4rem;
  }
  
  .list_title {
    font-size: 0.2rem;
    line-height: 35px;
    margin-bottom: 0.15rem;
  }
  
  .list_title span {
    width: 5px;
    height: 35px;
    margin-right: 0.1rem;
    display: inline-block;
    vertical-align: -9px;
  }
  
  .ul_contain li {
    font-size: 0.14rem;
    margin-bottom: 0.06rem;
  }
  
  .ul_contain li i {
    background: url(../images/governance/pdf.png) no-repeat;
    background-size: 0.16rem;
    width: 0.16rem;
    height: 0.16rem;
    display: inline-block;
    margin-right: 0.1rem;
    vertical-align: -1px;
  }
  
  .pop_contain {
    width: 90%;
    height: 5rem;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    border: 1px #f1f1f3 dashed;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .pop_top {
    height: 30px;
    width: 100%;
  }
  
  .pop_content {
    padding: 0.2rem 0.15rem 0 0.15rem;
    height: 4.2rem;
    overflow: scroll;
  }
  
  .pop_content .pop_title {
    font-size: 0.2rem;
    line-height: 0.4rem;
  }
  
  .pop_content .line1 {
    font-size: 18px;
    margin-top: 0.2rem;
    margin-bottom: 0.15rem;
  }
  
  .pop_content .detail {
    font-size: 0.14rem;
    margin-bottom: 0.3rem;
    line-height: 0.24rem;
  }
  
  .pop_content .detail span {
    font-size: 0.18rem;
  }
  
  .pop_content ul li {
    font-size: 0.16rem;
    margin-bottom: 0.06rem;
  }
  
  .double {
    width: 0.16rem;
    margin-right: 0.1rem;
    float: left;
    margin-top: 3px;
  }
  
  .single {
    width: 0.16rem;
    margin-right: 0.1rem;
    float: left;
    margin-top: 3px;
  }
  
  .close {
    width: 0.4rem;
    height: auto;
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    margin-left: -0.2rem;
    cursor: pointer;
  }
  .img_box{
    padding-left: 26px;
  }

}