.progress{
	width: 100%;
	height: 5px;
	background-color: #5e5e5e;
	display: none;
}
/* 附件上传按钮 */
.upfile_root {position:absolute;width:100px;height:50px;}
.upfile_root .upfile_c{position:relative;overflow:hidden;width:66px;height:20px; /* border:1px solid #cc0033; cursor:pointer; background:#cc0033; border-radius: 5px 5px; */}
.upfile_root .upfiling{background:#ccc;}
.upfile_root .upfiling  input.ui_file{cursor:default;}
.upfile_root .upfile_c a.upfile_word{cursor: pointer;line-height:20px;padding-left:8px;text-align:center;color:#0088cc;text-decoration:none;font-size:12px;}
.upfile_root input.ui_file{position:absolute;right:0;top:0;width:100%;width:auto;height:28px;cursor:pointer;font-size:40px;filter:alpha(opacity=0);/*IE*/opacity:0;/*FF*/}