<!DOCTYPE html>
<html>
<head>
	{include file='web/views/hongbao/shareLogo.html'}
    <title>抢{$new_bonus_title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <!--public js&css start-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-base-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-common-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <script src="<?php echo $this->asset->makeUrl('v1/js/zepto.min.js', 1);?>"></script>
    <!--public js&css end-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/common.css', 1);?>" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="top_bg" style="background-image:url({$bg_image})"></div>
    <div class="bonus_box">
    	<div class="tel_box">
            <form id="register-form" action="GetHongbao" method="get">
                <div class="webkit_box">
					<input type="tel" class="JS_tel_input tel_input" id="input-mobile" name = 'mobile' placeholder='请输入您的手机号码' maxlength="11">
                </div>
                <?php echo token_input(); ?>
                <input type="hidden" value = "{$sn}" name = 'sn'>
                <input type="hidden" value = "{$site_id}" name = 'site_id'>
                <div class="webkit_box"><input type="submit" value="打开{$new_bonus_title}" class="JS_tel_btn tel_btn" disabled></div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
		$(function(){
		    var mobileRegEx = /^0?(13[0-9]|15[0-9]|18[0-9]|17[0-9]|14[457])[0-9]{8}$/;
			$('.JS_tel_btn').addClass('disabled_btn').attr('disabled','disabled');
			$('.JS_tel_input').on('input propertychange', function(){
				var tel= $('.JS_tel_input').val()
				if(!tel || tel==null){
					$('.JS_tel_btn').addClass('disabled_btn').attr('disabled','disabled');
					//$('.tel-box').focus();
					return false;
				}else if(!mobileRegEx.test(tel)){
					$('.JS_tel_btn').addClass('disabled_btn').attr('disabled','disabled');
					//$('.tel-box').focus();
					return false;
				}else{
					$('.JS_tel_btn').removeClass('disabled_btn').removeAttr('disabled');
					return true;
				}
			});
		});
    </script>
    {include file="web/views/hongbao/js.html"}
</body>
</html>
