<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($page_title) && $page_title}{$page_title} - {/if}{if isset($show_site_titile) && ($show_site_titile eq 1)}{function name='app_conf' value='SHOP_SEO_TITLE'} - {/if}{$site_info.SHOP_TITLE}</title>
<link rel="icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
<meta name="keywords" content="{if isset($page_keyword) && $page_keyword}{$page_keyword}{/if}{$site_info.SHOP_KEYWORD}" />
<meta name="description" content="{if isset($page_description) && $page_description}{$page_description}{/if}{$site_info.SHOP_DESCRIPTION}" />
<script>
   var  status_switch = '{function name="app_conf" v="SWITCH_DEAL_INFO_DISPLAY"}';
</script>
{if isset($rss_title) && $rss_title}
<link title="{$rss_title}" type="application/rss+xml" rel="alternate" href="{$rss_url}" />
{/if}

{if isset($is_index) && $is_index eq 1}
<?php echo $this->asset->renderAll(1); ?>
{else}
<!--[if lte IE 9]>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/html5shiv.js');?>"></script>
<![endif]-->
<?php echo $this->asset->renderAll(); ?>
{/if}

<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('skins/shtcapital/css/style.css');?>" />

<link rel="stylesheet" href='http://www.shenyangp2p.com/Public/Home/css/fenzhan.css' />
<script type="text/javascript">
var APP_ROOT = '{$APP_ROOT}';
</script>



</head>
<body>

<script type="text/javascript" src="/api/fzjs"></script>

	<div class="container">
		<div class="headbox">
			<div class="headleft">
				<div class="logo1">
					<a href="http://www.shenyangp2p.com/">
						<img style="margin-top: 3px;" src="http://www.shenyangp2p.com/Uploads/Picture/2014-12-29/54a0ef8c0c644.png">
					</a>
				</div>

				<div class="logo2">
                        <img src="http://www.shenyangp2p.com/Public/Home/images/logo2.png">
                    </div>
				
			</div>
		
			<div class="headright">
				<div class="login_cont">
					<div class="login_group">
                        
                        {if !$user_info}
						<div class="unlogin">
							<div class="login1 icon"></div>
							<a class="a_login" href="http://www.shenyangp2p.com/user/login">登录</a>
							<div class="login2 icon"></div>
							<a class="a_reg" href="http://www.shenyangp2p.com/user/register">注册</a>
						</div>
					    {else}	
						<!--登录之后状态-->
						<div class="logined">
							您好， 
							<a href="http://shenyangdai.firstp2p.com/account">{if empty($user_info.real_name)}{$user_info.user_name}{else}{$user_info.real_name}{/if}</a>
							/
							<a href="http://www.shenyangp2p.com/user/logout">退出</a>
							/
							<a href="http://shenyangdai.firstp2p.com/message">消息</a>
							/
							<a href="http://shenyangdai.firstp2p.com/helpcenter">帮助中心</a>

						</div>
						{/if}
					</div>
					<script type="text/javascript">
                        $(function(){

                                $(".unlogin a").hover(
                                    function(){
                                        $(this).prev().addClass("zjrotate180");
                                    },
                                    function(){
                                        $(this).prev().removeClass("zjrotate180");
                                });
                            });
                      
                    </script>
				</div>
		
			</div>
		</div>
	</div>

	<div id="nav" class="jz_nav_css">
		<div class="container">
			<ul class="nav-link">
				<li>
					<a href="http://www.shenyangp2p.com/">首页</a>
				</li>
				<li class="active">
					<a href="http://shenyangdai.firstp2p.com">我要投资</a>
				</li>
				<li>
					<a href="http://www.shenyangp2p.com/news">新闻动态</a>
				</li>
				<li>
					<a href="http://www.shenyangp2p.com/job">招贤纳士</a>
				</li>
				<li>
					<a href="http://www.shenyangp2p.com/about">关于我们</a>
				</li>
			</ul>
		</div>
	</div>


	
<div class="wrap" style="margin:20px auto;">
