.m-head .fix_width span a{background-image:url(../images/logo_wx.jpg);width:139px;}
.m-head .fix_width span a{margin-top: 14px;}


.tabhd{display:none;}
.tabhd li a{height:56px; line-height:56px;}
.slide{ position:relative; height: 290px!important; }
#focus .bigImg li{height: 290px!important; }
.slide_img img{ height: 290px!important; }
#focus .imgNum,#focus .imgNum_none{height:80px!important;}
#focus .imgNum li ,#focus .imgNum_none li{height:80px!important;}
#focus .imgNum li div,#focus .imgNum_none li div{height:80px!important;+line-height:80px!important;}
.slide_img {height: 290px!important;}
.rightBt,.leftBt{top:90px!important;}
.earnings_box{ height:100px !important;}
.earnings_box h3{ padding:15px 0px !important}
.app{ display:none !important;}

html {background:none !important;}
.m-head{border:none !important;height:auto !important;}
.partner{display:none !important;}
#ft{overflow: hidden;}

.top{width:100%;}
.top_title{width:100%;margin:0 auto;height:35px;overflow:hidden;line-height:35px;background:#e6e6e6;color:#888888;}

.title_font{min-width:280px;}
.center{width:980px;margin:0 auto;}

.title_img h3{font-size: 12px;font-weight: normal;color:#888888;line-height: 38px;}
.title_img h3 span.home{background-position: -9px -2px;display: block;float:left;width:25px;height:25px;}
#login_status{float:left;margin-right:10px;}
#login_status li{float:left;font-size:12px;}
#login_status li a{padding:0 6px;color:#888888;}
#login_status li a:hover{color:#e1b74a;}

.icon_pic {float:right;margin-right:-4px;}
.icon_pic li{float:left;}

.icon_pic li a{width:28px;height:30px;text-indent: -9999999px;display: block;overflow: hidden;}
.icon_pic li a.weixin{background-position: -34px -5px;}
.icon_pic li a.tx_weibo{background-position: -62px -4px;}
.icon_pic li a.xl_weibo{background-position: -89px -5px;}

.icon_pic li a.weixin:hover{background-position: -34px -31px;}
.icon_pic li a.tx_weibo:hover{background-position: -63px -31px;}
.icon_pic li a.xl_weibo:hover{background-position: -90px -31px;}

.icon_pic li a.ks-active{background:url(../images/icon-1.png) no-repeat -34px -31px;display:block;width:28px;height: 30px;text-align:center;/*border-left:1px solid #c6c6c6;border-right:1px solid #c6c6c6;*/}

.sub_menu1{display: none;}
.small_tip{float: right;width:50px;height:11px;background:#ffffff;position: absolute;top:-10px;right:-10px;background: url(../images/icon-1.png) no-repeat -58px -196px;}
.pop_content{width:214px;background:#ffffff;border:1px solid #c6c6c6;padding:3px 10px;}
.pop_content .app_down{width:105px;margin-right:15px;float:left;}
.pop_content .app_down h3{font-size:12px;color:#e1b74a;}
.pop_content .wx_pic img{margin-top:15px;}

.sub_menu2{display: none;}
.sub_div2 .small_tip{float: right;width:50px;height:11px;background:#ffffff;position: absolute;top:-10px;right:-10px;background: url(../images/icon-1.png) no-repeat -58px -196px;}
.sub_div2 .pop_content{width:92px;padding:10px;background:#ffffff;border:1px solid #c6c6c6;}
.sub_div2 .pop_content img{width:92px;height:92px;display: block;margin-bottom:5px;}
.sub_div2 .pop_content span.wz_info{display:block;text-align:center;height:24px;line-height: 20px;color:#e1b74a;padding-bottom:20px;}
.header_top{width:100%;background: #fff;}

.adv1{position: relative;}
.top_adv{width:100%;height: 70px;}
.adv1 .close{position: absolute; right: 10px;top:8px;width:20px;height:20px;background-position: -9px -38px;}
.logo .iconlogo{display:block;width:129px;height:57px;background-position: -130px 7px;margin-right:86px;}


.nav ul{padding-top:26px;}
.nav ul li{float:left;}
.nav ul li a{display:block;font-size:16px;font-family:'Microsoft YaHei';padding:0 17px;height:43px;color:#222222;}
.nav ul li a:hover{color:#e1b74a;}
.nav ul li a.current{color:#e1b74a;border-bottom:4px solid #e1b74a;}
.right_lxfs{padding-top:20px;color:#999999;height: 53px;overflow: hidden;}
.right_lxfs h2.phone{margin-left:51px;line-height:26px;height:26px;font-family:arial;background-position: -270px -4px;padding-left:18px;font-weight: normal;font-size:20px;}
.right_lxfs span{line-height:16px;height:16px;font-size:12px;float: right;margin-right:2px;}


.banner{width:980px;margin:0 auto;}


.banner_tab{width:980px;height:50px;margin:0px auto;;overflow: hidden;position: relative;}
.banner_tab .tabsnav {position: absolute;bottom:15px;left: 430px;}
.banner_tab .tabsnav div{background: #e6e6e6;width: 12px;height: 12px;display: block;float: left;border-radius: 50%;margin:0 5px;cursor: pointer;}
.banner_tab .tabsnav div:hover, .banner .tabsnav div.current{background: #edab00;cursor: pointer;}
.banner_tab .prev,.banner .next{display:none;z-index: 10}
.banner_tab:hover .prev,.banner_tab:hover .next{display:block;}
.banner_tab .prev{position: absolute;top: 120px;left: 10px;width: 40px;height: 40px;background: url(../images/icon-1.png) 0px -72px no-repeat;cursor: pointer;} 
.banner_tab .next{position: absolute;top: 120px;right: 10px;width: 40px;height: 40px;background: url(../images/icon-1.png) -44px -72px no-repeat;cursor: pointer;} 
.banner_tab .prev:hover{background-position: -88px -72px !important;cursor: pointer;}
.banner_tab .next:hover{background-position: -132px -72px !important;cursor: pointer;}

.rates{padding: 10px 25px;border: 1px solid #dedbdb;margin:10px auto;background: #ffffff;}
.rates .tit{color:#999999;font-size:14px;margin-bottom:5px;}



.hydt_list{background: #fff;width:580px;overflow: hidden;padding:24px 30px;}
.hd_tit{overflow: hidden;margin-bottom:5px;}
.list_con ul{overflow: hidden;}
.list_con ul li{float:left;width:248px;height:36px;line-height: 36px;margin-right:40px;}
.list_con ul li a{width:248px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background: url(../images/arrow.png) no-repeat left center;padding-left:22px;}
.list_con ul li a:hover{width:248px;display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background:url(../images/arrow_hover.png) no-repeat left 48%;padding-left:22px;color:#ff5d3d;}
.hd_tit h2{float:left;font-size:18px;color:#474e5d;}
.hd_tit a.amore{float:right;color:#8e8e8e;}


.index_calculator{background:#fff;/*width:320px;*/text-align: center;padding:22px 68px;}
.calculator_pic{margin-bottom:6px;padding-top:3px;}
.index_calculator .wz_info{text-align: center;}
.index_calculator .wz_info h2{font-size: 18px;font-weight: normal;font-family: 'Microsoft YaHei';color:#474e5d;color:#474e5d;}
.index_calculator .wz_info span{display: block;color:#a6a6a6;margin:5px auto 20px;}
a.calcul_btn{display: block;height:35px;width:132px;line-height: 35px;text-align:left;color:#e1b74a;border:1px solid #e1b74a;border-radius: 15px;margin:16px auto 0px;}
a.calcul_btn i{width:26px;height: 25px;display: block;float:left;}
a.calcul_btn i.arr_right{background-position: -6px -190px;margin-left:16px;margin-top:5px;margin-right:2px;}
a.calcul_btn:hover {background:#e1b74a;color:#fff;}


/*== 底部 ==*/
.dl_bottom {height:200px;}
.foot_hzjg {height:103px;border-bottom:1px dashed #d4d4d4;}
.hzjg_t {height:34px;}
.hzjg_t h3 {font-size:18px;color:#474e5d;font-weight:bold;}
.hzjg_t span {font-size:14px;}
.hzjg_t span a {color:#888888;}
.hzjg_b {overflow:hidden;}
.hzjg_b img {float:left;margin-right:23px;background-color: #fff}
.hzjg_b img.lastimg {margin-right:0;}
.hzjg_nav{display: none}
.foot_nav {height:48px;border-bottom:1px dashed #d4d4d4;}
.nav_link {text-align:center;}
.nav_link a {color:#888888;line-height:48px;margin-right:22px;}

.dl_icp {color:#888888;text-align:center;line-height:50px;}


/*****************************************************************-/
初始化及公用CSS
/-*****************************************************************/
input,button,select,textarea{outline:none;font-family:"Microsoft YaHei";}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
    padding: 0;
    margin: 0;
}
/*h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:normal;font-family:"微软雅黑"!important;}*/
em{font-style: normal;}
img {border:0px;}
ul li {list-style:none;}
a{text-decoration:none;color:#666;}
a:hover{text-decoration:none;}
div:after {content: '.'; display: block; height: 0; clear: both; visibility: hidden;}
.clear{clear:both;font-size:0px;width:0px;height: 0px;}
.font{font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-family!important:"微软雅黑"}
.fl{float:left;}
.fr{float:right;}
/*布局*/
.box {width:100%;}
.no-mb {margin-bottom:0;}
.col-main {float: left;width:100%;min-height: 1px; display:inline; overflow:hidden;}
.col-sub, .col-extra {float: left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after { content: '\20'; display: block; height: 0; clear: both; }
.layout, .main-wrap, .col-sub, .col-extra {*zoom: 1; }

.grid-s525m0 .main-wrap { margin-left:248px; } .grid-s525m0 .col-sub { width: 210px; margin-left: -100%; }
.grid-s45m0 .main-wrap { margin-left:200px; } .grid-s45m0 .col-sub { width: 180px; margin-left: -100%; }
.grid-s485m0 .main-wrap { margin-left:205px; } .grid-s485m0 .col-sub { width: 194px; margin-left: -100%; }
.grid-m0s5 .main-wrap { margin-right: 200px;} .grid-m0s5 .col-sub { width: 190px; margin-left: -190px;}
.grid-m0s965 .main-wrap { margin-right: 288px;} .grid-m0s965 .col-sub { width: 278px; margin-left: -278px;}
.grid-s465m0 .main-wrap { margin-left:198px; } .grid-s465m0 .col-sub { width: 185px; margin-left: -100%; }
.grid-s5m0e6 .main-wrap {margin: 0 240px 0 200px; } .grid-s5m0e6 .col-sub { width: 190px; margin-left: -100%; } .grid-s5m0e6 .col-extra { width: 230px; margin-left: -230px; }
.grid-e7m0s525 .main-wrap {margin: 0 240px 0 310px; } .grid-e7m0s525 .col-sub { width: 210px; margin-left: -210px; } .grid-e7m0s525 .col-extra { width: 280px; margin-left: -100%; }
.grid-m0e6s5 .main-wrap {margin-right: 440px; } .grid-m0e6s5 .col-sub { width: 190px; margin-left: -190px; } .grid-m0e6s5 .col-extra { width: 230px; margin-left: -430px; }
.grid-s5m0e5 .main-wrap {margin: 0 208px 0 208px; } .grid-s5m0e5 .col-sub { width: 198px; margin-left: -980px; } .grid-s5m0e5 .col-extra { width: 198px; margin-left: -198px; }

/**自定义会员中心左右布局部分样式**/
.grid-s675m0 .main-wrap { margin-left: 244px; } .grid-s675m0 .col-sub { width: 224px; margin-left: -100%; }
.grid-m0s675 .main-wrap { margin-right:295px;}  .grid-m0s675 .col-sub{ width:280px; margin-left:-280px;}

#hd,#ft{background:#fff;width:100%;font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei",Arial,Tahoma,"Times New Roman";font-size:14px;font-family:"微软雅黑"!important;}
#hd .bd,#ft .bd {width:980px;margin:0 auto;font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei",Arial,Tahoma,"Times New Roman";font-size:14px;font-family:"微软雅黑"!important;}
#content{width:100%;min-width:1008px;_width:expression((documentElement.clientWidth < 1008) ? "1008px" : "100%" );overflow:hidden;}
#bd{width:980px;margin:0 auto;}
.container{width:980px;margin:0 auto;}

/*编辑器区域*/
.htmleditor{clear:both;font-size:14px;}
.htmleditor p{display:block;line-height:24px;text-indent:2em;font-size:14px;color:#555555;font-family: "Microsoft YaHei"}
.span_r {float: right;font-size:12px;}
.mb20{margin-bottom:20px;}
.tc{text-align: center;}


.icon{background: url(../images/icon-1.png) no-repeat;}

.iconnum{background: url(../images/number.png);background-repeat: no-repeat;}
.iconnum.n1{width: 12px;height: 30px;background-position:   -10px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n2{width: 26px;height: 30px;background-position:  -24px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n3{width: 24px;height: 30px;background-position:  -53px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n4{width: 24px;height: 30px;background-position:  -76px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n5{width: 24px;height: 30px;background-position: -103px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n6{width: 24px;height: 30px;background-position: -127px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n7{width: 20px;height: 30px;background-position: -154px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n8{width: 24px;height: 30px;background-position: -177px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n9{width: 24px;height: 30px;background-position: -203px 0px;display: block;float:left;margin-right:2px;}
.iconnum.n0{width: 24px;height: 30px;background-position: -229px 0px;display: block;float:left;margin-right:2px;}
.iconnum.nh{width: 22px;height: 30px;background-position: -290px -6px;display: block;float:left;margin-right:2px;}
.iconnum.nd{width: 8px;height: 30px;background-position: -254px 0px;display: block;float:left;margin-right:2px;}
.iconnum.np{width: 18px;height: 30px;background-position: -283px 0px;display: block;float:left;margin-right:2px;}
.iconnum.nl{width: 18px;height: 30px;background-position: -270px -2px;display: block;float:left;margin-right:2px;}


.rates .rate1, .rate2, .rate3 {float: left;height: 60px;}

.rates .rate1 {width: 405px;}

.rates .rate3{width:232px;margin-left:45px;}

.rates .icon.r1 {
background-position: -176px -58px;
width: 60px;
height: 60px;
margin-right: 20px;
}

.rates .icon.r2 {
background-position: -237px -58px;
width: 60px;
height: 60px;
margin-right: 20px;
}
.rates .nums .unit {
margin-top: 12px;
font-size: 14px;
float: left;
color: #ff958e;
}

.btn:hover{text-decoration: none;cursor: pointer;}
.btn-red-fv{color:#ff5d3d;font-size:16px;width: 98px;height:38px;border: 1px solid #ff5d3d;display: inline-block;text-align: center;line-height: 38px;margin-top: 8px;border-radius:20px;}
.btncurrent{background: #ff5d3d;color:#fff;margin-right:18px;}
.btncurrent:hover{background:#ff6d50;}
.btn-red-fv:hover{color:#fff;text-decoration: none;background: #ff5d3d;}

.dl_icp i.copy {
font-style: normal;
font-size: 14px;
position: relative;
top: 1px;
}

.dl_icp i.vline {
position: relative;
height: 13px;
width: 1px;
background: #575E6B;
display: inline-block;
margin: 0 10px 0 10px;
top: 2px;
}
