@charset "utf-8";
.tzq_tit{margin:10px 0;}
.p_investment_view .tzq_choose{border:1px solid #e3e3e3;width:645px;}
.p_investment_view .tzq_choose .tzq_seclect{border-bottom:1px solid #e3e3e3;height:38px;line-height:38px;background:#fcfcfc;font-size:14px;color:#0e0e0e;padding-left:10px;}
.tzq_seclect>span{cursor:pointer;width:50px;height:37px;display:block;float:left;text-align:center;margin-left:30px;}
.tzq_seclect>span.active{color:#f75938;border-bottom:2px solid #f75938;}
.tzq_tit i{display:inline-block;background:url(../images/account/tzq_blue.png);width:27px;height:19px;vertical-align:-4px;margin-right:10px;}
.p_investment_view .tzq_choose .tzq_cont .zw{padding:22px 0;text-align:center;color:#9b9a9a;font-size:14px;}
.p_investment_view .tzq_table{font-size:14px;padding-top:2px;text-align:center;margin-bottom:18px;}
.p_investment_view .tzq_table thead tr th{color:#a6a6a6;height:38px;line-height:38px;padding:0;text-align:center;}
.p_investment_view .tzq_table tbody tr td{padding:0;line-height:38px;}
.p_investment_view .tzq_table .zjq_radio{margin-right:15px;vertical-align:-4px;*vertical-align:0;width:18px;height:18px;}
.p_investment_view .tzq_table tbody tr:nth-child(odd){background:#fcfcfc}
.p_investment_view .tzq_table tbody tr:nth-child(even){background:#FFF}
.p_investment_view .tzq_choose .tzq_cont .pagination{margin-bottom:15px;}
.p_investment_view .rzf{width:245px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;vertical-align:middle;}

/*存管-免密*/
.passwordFree{width:462px!important;height:430px!important;}
.passwordFree .dialog-header .dialog-title{background:none;}
.passwordFree .dialog-header{height:56px;line-height:56px;background-color:#ffffff;border:1px solid #eeeeee;}
.passwordFree{border:5px solid #5b5b5b;border-radius:4px;}
.passwordFree table .dialog-close{margin-top:18px;margin-right:18px;}
.passwordFree table .dialog-cancel,.passwordFree table .dialog-cancel span,.passwordFree table .dialog-cancel:hover,.passwordFree table .dialog-cancel span:hover{display: inline-block !important;background:none;height:38px;line-height:36px;color:#ee4634;border-radius:5px;padding:0 30px;}
.passwordFree table .dialog-ok,.passwordFree table .dialog-ok span,.passwordFree table .dialog-ok:hover,.passwordFree table .dialog-ok span:hover{display: inline-block !important;background:none;height:40px;line-height:38px;color:#ffffff;background-color:#ee4634;border-radius:5px;padding:0 30px;}
.passwordFree table .dialog-ok{height:40px;line-height:38px;background-color:#ee4634;border-radius:5px;padding:0 30px;}
.passwordFree table .dialog-cancel{height:38px;line-height:36px;border:1px solid #ee4634;border-radius:5px;padding:0 30px;}
.passwordFree table .psdImg{height:90px;background:url(../images/account/mianmi.png) no-repeat center center;}
.passwordFree table .dialog-cancel {margin-left: 16px;}
.passwordFree table .dialog-content{text-align:center;padding:38px 35px 0;}
.passwordFree table .dialog-content .openTips{font-size:20px;margin:30px 0 12px 0;}
.passwordFree table .dialog-content .protocolTips{font-size:14px;color:#333333;padding-right:10px;padding-bottom:25px;}
.passwordFree table .dialog-content .acDetail{font-size:13px;color:#888888;text-align:left;line-height:22px;}
.passwordFree table .p2pImg .wxlcAt{margin-top:92px;font-size:14px;color:#333333;}

.mm_service{padding-top:30px;font-size:14px;color:#888888;}
.mm_service .doOpen{color:#2ea7e0;padding-left:8px;cursor:pointer;}
.mm_service .openDone{color:#6ab123;padding:0 27px 0 35px;background:url(../images/account/ykt_mm.png) no-repeat right center;}
.cash_showImg{background: url(../images/account/show_cash.png) no-repeat center center;display: inline-block;width:20px;height: 20px;vertical-align: -4px;margin-right: 20px;cursor: pointer;}
.cash_hideImg{background: url(../images/account/hide_cash.png) no-repeat center center;display: inline-block;width:20px;height: 20px;vertical-align: -4px;margin-right: 20px;cursor: pointer;}
.cg_new{padding:6px 0 0 56px;}
.cg_new div span:first-child{color:#a6a6a6;}
.cg_new div{margin-bottom:12px;}
.cg_new div:last-child{margin-bottom:0;}
.cg_new div.mb8{margin-bottom:8px;}
.cg_new div.mb16{margin-bottom:16px;}
.cg_new div.mt16{margin-top:16px;}
.cg_new .cg_cash{background:url(../images/account/dian.png) no-repeat left center;display: inline-block;padding-left: 10px;}
.cg_new .mrl20{margin-left:20px;}
.cg_new .cash_detail a{color:#2ea7e0;}
.cg_new .cash_detail span{color:#a6a6a6;}
.p_investment_view .main .cg_new .cash_detail th,.cash_detail td{padding:0;}

/*03-12 充值优化修改*/
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active {height:38px;}
.weedialog table .dialog-content {padding-bottom: 40px;padding-top:40px;}
.card_list_con {position: relative;padding-left:51px;text-align: left;min-height: 40px;}
.card_list_con i { width: 42px; height: 42px; background: url(../images/account/privileges_warn.png) no-repeat 0px 0px; display: inline-block; margin: 17px 20px 0 0px;position: absolute;top:-13px;left:0; }
.charge_btn {border-radius: 5px;width:285px;height:40px;line-height:40px;text-align: center;color:#fff;background: #EE4634;margin:30px auto;display: block;}
.charge_tips {color:#B5B5B5;font-size: 14px;}