.p_forgetpassword_idCard input[type="password"]:focus, .p_forgetpassword_idCard input[type="text"]:focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1);}
.p_forgetpassword_idCard .n-invalid:focus { border-color: #32a0fe !important; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1) !important;}
.p_forgetpassword_idCard .pwp-mid{padding:100px 0 105px;min-height:297px;height:auto!important;height:297px;}
.p_forgetpassword_idCard    .msg-box .n-ok{display:none;}
.p_forgetpassword_idCard .msg-box .n-error ,.p_forgetpassword_idCard .msg-box .n-loading{margin-left: 20px;margin-top: 7px;}
.p_forgetpassword_idCard .idcard{*margin-left: -210px;}
.wrap{width: 825px;}
.ui-box .r-title h2 {font-size: 27px;text-align: center;padding-top: 80px;}
.blank23 {height: 60px;}
.font_24{font-size: 24px;}

.ui-form ul{margin-left: 126px;}
.ui-form li label{font-size: 14px;height: 44px;line-height: 44px;}
.ui-form .txt{height: 44px;line-height: 44px;box-shadow: none;border-radius: 4px;padding:0;padding-left: 15px;width: 320px;}

.ui-form .btn-w30 {padding-left: 243px;padding-top: 26px;}
.btn-w30 .btn-sub {background: #ef4534;width: 337px;height: 40px;line-height: 40px;border-radius: 4px;font-size: 16px;}
.btn-w30 .btn-sub:hover{background: #ff5f4e;}
.btn-w30 .btn-sub:active{background: #e7402e;}