@charset "utf-8";
.p_account_addbank .collection{padding:30px 0}
.p_account_addbank .collection td,.p_account_addbank .collection th{padding:10px 5px}
.p_account_addbank .collection th{text-align:right;font-size:14px;width:215px;line-height:30px}
.p_account_addbank .select_box{line-height:25px;height:25px;border:1px solid #bababa;font-size:14px;float:left;margin-top:3px;margin-right:5px;vertical-align:baseline;display:block}
.p_account_addbank #_js_shoudong{display:block;height:30px;line-height:28px;float:left}
.p_account_addbank .colltab label{font-size:14px;float:left;padding-top:4px;padding-right:5px}
.p_account_addbank .file_box{ position: relative; width:400px;+width:430px; height:33px; overflow: hidden;}
.p_account_addbank .hidden_file{position:absolute;opacity:0;width:440px;height:45px;font-size:22px;filter:alpha(opacity=0);top:-10px;outline:none 0;cursor:pointer;left:-10px}
.p_account_addbank .shadow{box-shadow:none;border:1px solid #e3e3e3;margin:22px 0;background:#fff}
.p_account_addbank .mess_title{background:#fcfcfc;font-size:18px}
.p_account_addbank .mess_title h1 i{background:#f3491f;border:1px solid #e43b19;height:18px;margin-right:14px;width:3px;display:inline-block;vertical-align:middle;position:relative;top:-2px}
.p_account_addbank .collection{padding-left:106px;padding-right:40px}
.p_account_addbank .collection th{width:105px;text-align:left;color:#4f4e4e;font-size:14px}
.p_account_addbank .collection th .ico_asterisk{width:0;float:left}
.p_account_addbank .file_box{height:38px;width:403px}
.p_account_addbank .file_box .btn_lx,.p_account_addbank .collection .btn_tj,.p_account_addbank .collection .btn_tj:hover,.p_account_addbank .collection .btn_tj:active,.p_account_addbank .collection .btn_cz,.p_account_addbank .collection .btn_cz:hover,.p_account_addbank .collection .btn_cz:active{background-image:url(../images/user/btn_bg.png);background-color:#fff;background-repeat:no-repeat}
.p_account_addbank .collection .btn_tj{background-position:-244px -109px;width:247px;height:46px;line-height:44px}
.p_account_addbank .collection .btn_tj:hover{background-position:-244px -166px}
.p_account_addbank .collection .btn_tj:active{background-position:-244px -224px}
.p_account_addbank .file_box .btn_lx{background-position:-3px -330px;width:65px;height:34px;line-height:32px}
.p_account_addbank .file_box .btn_lx:hover{background-position:-76px -330px}
.p_account_addbank .file_box .btn_lx:active{background-position:-150px -330px}
.p_account_addbank .collection .btn_cz{background-position:-498px -109px;width:106px;height:46px;line-height:44px;color:#fff;margin-left:10px}
.p_account_addbank .collection .idbox{height:32px;line-height:32px;padding-left:5px;   border: 1px solid #bababa;padding-left: 5px;}
.p_account_addbank .collection .idbox:focus{border-color: #f8684d;}
.p_account_addbank .select_box{height:34px}
.p_account_addbank .collection #_js_shoudong{height:36px;line-height:36px}
.p_account_addbank .colltab label{padding-top:10px}
.p_account_addbank .pb25{padding-bottom:25px}
.p_account_addbank .collection .colltab .btn_cz{color:#616161}
