.p_account_receiveadd .add-mid { padding: 40px 0 82px; min-height: 403px; height: auto !important; height: 403px; }
.p_account_receiveadd .ui-form .total-error { width: 940px; text-align: center; margin-bottom: 40px; }
.p_account_receiveadd .ui-form .addarea { height: 100px;resize: none; }

/*下拉列表*/
.p_account_receiveadd .cityDom {float: left;}
.p_account_receiveadd .cityDom select{height: 36px;line-height: 36px;float: left;  border: 1px solid #bababa;margin-right: 10px;font-size:14px;}
.p_account_receiveadd .cityDom select:last-child{margin-right: 0}
.weedialog {background:transparent;}
.weedialog .dialog-content {padding:0;}
.weedialog .dialog-content .e-text {text-align:center;line-height:108px;}
#delivery .tel-btn { width: 117px; height: 34px; display: inline-block;float:left; border: 1px solid #bababa; line-height: 34px;  background:url(../images/user/tel_butt.jpg); }
#mobile {width:144px;}