/*验证绑卡*/
.p_account_banksuc{padding-top: 20px;}
.p_account_banksuc .p_user_charge { color: #4f4e4e }
.p_account_banksuc .p_user_charge .reg-mid { padding: 40px 0; min-height: 403px; height: auto !important; height: 403px; }
.p_account_banksuc .p_user_charge .reg-mid .reg-title { background-image: url(../images/user/reg_tit.png); background-repeat: no-repeat; width: 941px; height: 61px; margin: 0  auto; }
.p_account_banksuc .p_user_charge .reg-mid .third-tep { background-position: 0 -184px }
.p_account_banksuc .p_user_charge .charge-cont { padding: 70px 80px 0; }
.p_account_banksuc .p_user_charge .charge-left { float: left; width: 611px; padding: 0 56px; border-right: 1px solid #e1e1e1; min-height: 245px; }
.p_account_banksuc .p_user_charge .charge-right { float: left; width: 145px; padding-left: 67px; }
.p_account_banksuc .p_user_charge .wx-img { width: 114px; height: 114px; background: url(../images/user/weixin.jpg); margin-top: 10px }
.p_account_banksuc .p_user_charge a.ios,.p_account_banksuc .p_user_charge a.anroid { display: block; width: 114px; height: 38px; }
.p_account_banksuc .p_user_charge .reg-sprite { background-image: url(../images/user/reg_sprite.png); background-repeat: no-repeat; display: inline-block; }
.p_account_banksuc .p_user_charge .ios { background-position: 0 -102px; margin-top: 13px; }
.p_account_banksuc .p_user_charge .anroid { background-position: 0 -149px; margin-top: 10px; }
.p_account_banksuc .p_user_charge .char-remark { margin-top: 15px; text-align: center; }
.p_account_banksuc .p_user_charge .char-suc i { width: 43px; height: 43px; background: url(../images/icon/form_sprite.png) no-repeat 0 0; display: inline-block; vertical-align: -15px; *vertical-align: -8px; margin-right: 20px; }
.p_account_banksuc .p_user_charge .char-info { background: #fdfdfd; border: 1px solid #e1e1e1; padding: 22px 33px; margin-top: 40px }
.p_account_banksuc .p_user_charge .char-info p.char-tz { margin-top: 17px }
.p_account_banksuc .p_user_charge .char-info p.char-tz .btn-red-char { vertical-align: 3px; }
.p_account_banksuc .p_user_charge .btn-red-char, .p_account_banksuc .btn-red-char:hover, .p_account_banksuc .btn-red-char:active { width: 66px; height: 30px; line-height: 30px; text-align: center; color: #fff; margin-left: 38px; }
.p_account_banksuc .p_user_charge .btn-red-char { background-position: 0 -54px; }
.p_account_banksuc .p_user_charge .btn-red-char:hover { background-position: -127px -57px; text-decoration: none; }
.p_account_banksuc .p_user_charge .btn-red-char:active { background-position: -253px -57px; }
.p_account_banksuc .p_user_charge .ui_product_tab .product_type .title { width: auto; }
.p_account_banksuc .p_user_charge .ui-box { margin-bottom: 30px; }