.p_account_money .bank-tip{width:auto;display:inline-block;margin:38px 45px 7px;background:#fff9f2;border:1px solid #ffb5a6;color:#505050;height:38px;line-height:38px}
.p_account_money .charge_btn{padding:10px 60px 37px}
.p_account_money .charge_tip{border-top:1px solid #e5e5e5;color:#505050;padding:24px 54px 22px;border-bottom:none}
.p_account_money .take .user_name{height:37px;line-height:37px;width:188px;margin-right:10px}
.list_more{position: absolute;right: 40px;cursor: pointer;color:#25aae2!important;width: 45px;}
.more_arrow{width: 14px;height: 10px;display:block;background: url("../images/account/arrowb.png") no-repeat;float: right;margin-top: 10px;}
.more_arrowT{background: url("../images/account/arrowt.png") no-repeat;}
.p_account_money .sel_time{line-height:37px;font-size:15px;color:#a6a6a6;float:left}
.p_account_money .calendarT{
	width: 130px;height:32px;display: block;float: left;
	-moz-box-shadow:0 -6px 11px #f4f4f4 inset;-webkit-box-shadow:0 -6px 11px #f4f4f4 inset;box-shadow:0 -6px 11px #f4f4f4 inset;margin-left:10px;border:solid 1px #bababa;vertical-align:middle;position: relative;margin-top:8px;
}
.p_account_money .time_box{width:100%;height:32px;text-indent:10px;font-size:14px;border:none;position: absolute;left:0;top:0;z-index: 444;background: transparent;
}
.p_account_money .calendarIcon{position: absolute;right: 6px;top:5px;
	width: 22px;height: 22px;
	background: url(../images/account/calendar.png) no-repeat;
	z-index: 333;
}
.p_account_money .color-blue1{color:#25aae2!important}
.p_account_money .button_shaixian:hover{background:#ff5f4e;}
.p_account_money .button_shaixian{background:#ee4634;width:92px;height:34px;color:#fff;font-size:14px;margin-top:9px;border:none 0;line-height:34px;border-radius:3px}

.p_account_money .u_zijin{border-top:none}
.p_account_money .project{border:1px solid #e3e3e3;min-height:168px;margin-bottom:12px}
.p_account_money .project2{border:none;}
.p_account_money .u_zijin .pro_detailed{padding-bottom:0}
.p_account_money .pro_detailed{border:none;box-shadow:none;margin-top:-1px;background:#fff;clear:both;padding:1px 30px 30px}
.p_account_money .u_zijin .pro_detailed .zj_tab{margin-top:10px;border:1px solid #eee;}
.p_account_money .u_zijin .pro_detailed .zj_tab th{color:#a6a6a6;padding-bottom:10px}
.p_account_money .plan td,.p_account_money .plan th{text-align:center;padding:18px 5px;font-size:14px}
.p_account_money .plan td.tl,.p_account_money .plan th.tl{text-align:left}
.p_account_money .tr_bg{background:#f6f7fb}

.p_account_money .pl25{padding-left:25px}
.p_account_money .user_button:hover,.p_account_money .button_shaixian:hover,.p_account_money .button_cz:hover{color:#fff}
.p_account_money .zj_tab .div_zj_con{display:inline-block;}
.p_account_money .pl12{padding-left:12px;}
.p_account_money .zj_tab .text_overf{overflow:hidden;text-overflow:ellipsis;word-break:break-all;}
.p_account_money  i.ico_sigh{background:url(../images/account/yue.png);position:absolute;margin-top:3px;margin-left:1px;}
.p_account_money .ico_sigh{width:14px;height:14px;background-position:-967px 0;margin-bottom:5px;}
.p_account_money .color_zhi{color:#4c9a00;}
.p_account_money .ml23{margin-left:23px;}
.p_account_money .color_gray{color: #aeaeae;}
.p_account_money .jl_title{line-height: 18px;width: 162px;display: inline-block;vertical-align: middle;}
.p_account_money .jl_title span{display: block;}
.p_account_money .j_zj_date{margin-top:5px;}
.p_account_money .color_yellow{color: #ec6c40;}
.p_account_money .log_label{display: inline-block;vertical-align: middle; height: 41px;}
.p_account_money .ui_select_box2,.p_account_money .ui_select_box3{z-index:9;}
