.p_account_personalset{color:#1a1a1a}
.p_account_personalset a:hover { text-decoration: none }
.p_account_personalset a.blue { display: inline-block; text-decoration: underline; }
.p_account_personalset { font-size: 14px; }
.p_account_personalset .r-cont { padding: 14px  34px 65px; min-height: 348px; }
.p_account_personalset .sms-subs { padding: 18px 0 18px; border-bottom: 1px dashed #d1d1d1 }
.p_account_personalset .sms-subs.bor-b0 {padding-top: 32px;}
.p_account_personalset .bor-b0 { border-bottom: none }
.p_account_personalset .subs-tit {  width: 80px;margin-bottom: 22px;}
.p_account_personalset .subs-tit, ul.security-list li label { color: #606060;  }
.p_account_personalset .subs-cont-wrap { width: 850px; }
.p_account_personalset .subs-cont span.gray, .subs-cont ul { float: left; display: block; }
.p_account_personalset .subs-cont ul { width: 558px; }
.p_account_personalset .subs-cont span.gray { width: 120px;  }
.p_account_personalset .subs-cont ul li { float: left; width: 135px; padding-bottom:22px;}
.p_account_personalset .subs-cont ul li input { vertical-align: middle; margin-right: 5px; }
.p_account_personalset .sum-btn { text-align: center; margin-top: 20px; }
.p_account_personalset ul.security-list li label { width: 97px; }
.p_account_personalset ul.security-list li .sec-info { width: 337px; }
.p_account_personalset ul.security-list li { height: 57px; line-height: 57px; background: url(../images/common/bg_line.png) left bottom repeat-x; }

.p_account_personalset ul.security-list li i { width: 23px; height: 23px; background: url(../images/account/icon-set.png) no-repeat; display: inline-block; margin: 17px 8px 0 25px }
.p_account_personalset ul.security-list li i.yes { background-position: 0 0; }
.p_account_personalset ul.security-list li i.no { background-position: -47px 0; }
.p_account_personalset ul.security-list li i.null { background:none; }
.p_account_personalset ul.security-list li label, ul.security-list li span, ul.security-list li i { float: left; display: inline-block; }
.p_account_personalset ul.security-list li span { width: 225px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.p_account_personalset ul.security-list li span.status { width: 60px; color: #606060 }
.p_account_personalset ul.security-list li span.status.wqst{width:165px;margin-right: 8px}
.p_account_personalset ul.security-list li .no_num{width:130px;}
.p_account_personalset ul.security-list li a.blue { float: right; display: inline-block; }
.p_account_personalset .subs-cont ul li a,  .p_account_personalset .subs-cont ul li span.checked-disable{ margin-right: 5px; *margin-right: 10px;vertical-align: -2px; *vertical-align: 1px; }
.p_account_personalset .subs-cont ul li .p2p-ui-checkbox span:hover{cursor: pointer;}
.p_account_personalset .subs-cont ul li .p2p-ui-checkbox span.cur-txt{cursor: text; }
.weedialog .dialog-content{text-align: center;}
.wee-pwp a:hover{text-decoration: none}
.wee-pwp .pwp-decr{color:#656565;margin-bottom:35px;}

.weedialog.wq_weebox .dialog_ok, .weedialog.wq_weebox .dialog_ok:hover, .weedialog.wq_weebox .dialog_ok:active {width:290px;background:url(../images/account/wee_confirm.png) no-repeat;display: inline-block; }
.weedialog.wq_weebox .dialog_ok{background-position:0 0;font-size: 18px;color: #fff;height: 46px;line-height: 46px;}
.weedialog.wq_weebox .dialog_cancel{color: #727272;font-size: 18px;    display: block;}
.weedialog.wq_weebox .color_gray{color:#656565; }
.weedialog.wq_weebox .f22{font-size: 22px;}
.weedialog.wq_weebox .dialog-button{padding: 0}
.weedialog.wq_weebox .dialog-content{padding-bottom: 20px;text-align: left;}
.weedialog.wq_weebox .wee-kuang{padding: 35px 25px;border: 1px solid #e5e5e5;margin-top: 25px;margin-bottom: 37px;color: #8b8b8b}
/****************pc-2017版本改动start*************/
.p_account_personalset .r-cont { padding: 20px  34px 100px 34px;}
.p_account_personalset ul.security-list li { padding:21px 0;height: 66px;background:none;border-bottom: 1px solid #eee; }
.p_account_personalset ul.security-list li div{display:inline-block;}
.p_account_personalset ul.security-list li p{width: 100%;font-family: "Microsoft YaHei";}
.p_account_personalset ul.security-list li p.topLine{height:36px;line-height: 33px;font-size: 16px;}
.p_account_personalset ul.security-list li p.botLine{height:30px;line-height: 30px;font-size: 14px;color: #999;}

.p_account_personalset ul.security-list li i { width: 35px; height: 35px; background: url(../images/account/btn-icon-set-new.png) no-repeat; display: inline-block; margin: 17px 20px 0 0px }
.p_account_personalset ul.security-list li i.yes { background-position: 0px -38px; }
.p_account_personalset ul.security-list li i.no { background-position: 0px 0px; }

.p_account_personalset ul.security-list li label { width: auto; margin-right: 20px;color:#000;}
.p_account_personalset ul.security-list li span{overflow: visible;}
.p_account_personalset ul.security-list li span.newS { width: auto; margin-right: 20px;color:#000;}
.p_account_personalset ul.security-list li span.status{color:#000;}
.p_account_personalset ul.security-list li span.newS { width: auto; margin-right: 20px;color:#000;}

.p_account_personalset ul.security-list li a.newBtn{width: 79px;height: 30px;line-height:32px;text-align:center;border:1px solid #EE4634;background: #EE4634;color:#fff;float: right;display: inline-block;border-radius: 5px;margin-top: 17px;margin-left: 10px;}
.p_account_personalset ul.security-list li a.newBtn:hover{background: #ff5f4e;}
.p_account_personalset ul.security-list li a.newBtn:active{background:#ee4634}
.p_account_personalset ul.security-list li a.newBtn2{background: #fff;border:1px solid #EE4634;color:#EE4634;}
.p_account_personalset ul.security-list li a.newBtn2:hover{background:#fff;border:1px solid #ff5f4e;color:#ff5f4e;}
.p_account_personalset ul.security-list li a.newBtn2:active{background:#fff;border:1px solid #ee4634;color:#ee4634;}

/* 重新评估按钮样式 */
.p_account_personalset ul.security-list .confirm_donate_btn_yes{float:right;display:inline-block;width:150px;}
.p_account_personalset ul.security-list .confirm_donate_btn_yes .remain_num{float: right;line-height:30px;}
/* end */
/*checkbox组件*/
.p2p-ui-checkbox .common-sprite { background-image: url(../images/account/btn-icon-set-new.png); background-repeat: no-repeat }
.p2p-ui-checkbox .checked-disable{background-position:-71px -21px;}
.p2p-ui-checkbox .checked-disable:hover{background-position:-71px -21px;}
.p2p-ui-checkbox .check-normal{background-position: -37px -21px;}
.p2p-ui-checkbox .check-normal:hover { background-position: -54px -21px; }
.p2p-ui-checkbox .check-select{background-position: -54px -1px;}
.p2p-ui-checkbox .check-select:hover{background-position: -71px -1px;}
.p_account_personalset .subs-tit{font-size: 16px;color:#333;font-family: "Microsoft YaHei";}
.common-sprite2{background: #ef4633;border-radius: 5px;}
.common-sprite2:hover{background: #ff5f4e;}
.common-sprite2:active{background: #e7402e;}
.p_account_personalset .sms-subs{border-bottom: none;}
.p_account_personalset .sms-subs2{padding:40px 6px 0;}
.p_account_personalset .email-subs{padding: 30px 0 55px;}
.p_account_personalset .subs-tit2{margin-bottom: 42px;}
.p_account_personalset .subs-cont span.gray2{width:95px;margin-left: 25px;}
.p_account_personalset .subs-cont ul.widthauto{width: 690px;}
.p_account_personalset .subs-cont ul li{margin-right: 35px;}
#isShow{display: none;}
/**********************end***********************/
/*存管*/
/*存管-开通网贷p2p账户*/
.setUpDialog{width:462px!important;height:310px!important;}
.setUpDialog .dialog-header .dialog-title{background:none;}
.setUpDialog .dialog-header{height:56px;line-height:56px;background-color:#ffffff;border:1px solid #eeeeee;}
.setUpDialog{border:5px solid #8d8d8d;border-radius:4px;}
.setUpDialog table .dialog-close,.setUpDialog table .dialog-close:hover{margin-top:15px;margin-right:15px;}
.setUpDialog table .dialog-cancel,.setUpDialog table .dialog-cancel span,.setUpDialog table .dialog-cancel:hover,.setUpDialog table .dialog-cancel span:hover{display: inline-block;background:none;height:38px;line-height:36px;color:#ee4634;border-radius:5px;padding:0 30px;}
.setUpDialog table .dialog-ok,.setUpDialog table .dialog-ok span,.setUpDialog table .dialog-ok:hover,.setUpDialog table .dialog-ok span:hover{display: inline-block !important;background:none;height:40px;line-height:38px;color:#ffffff;background-color:#ee4634;border-radius:5px;padding:0 30px;}
.setUpDialog table .dialog-ok{height:40px;line-height:38px;background-color:#ee4634;border-radius:5px;padding:0 30px;}
.setUpDialog table .dialog-cancel{height:38px;line-height:36px;border:1px solid #ee4634;border-radius:5px;padding:0 30px;}
.setUpDialog table .p2pImg{width:130px;height:130px;border:1px solid #eeeeee;background:url(../images/account/ub_p2p_hz.png) no-repeat 24px 24px;margin-left:130px;}
.setUpDialog table .dialog-cancel {margin-left: 16px;}
.setUpDialog table .dialog-content{text-align:left;padding:50px 35px 10px;}
.setUpDialog table .dialog-content p{font-size:16px;}
.setUpDialog table .dialog-content .openTips{font-size:24px;margin:30px 0 20px 0;}
.setUpDialog table .dialog-content .acDetail{font-size:13px;color:#888888;}
.setUpDialog table .p2pImg .wxlcAt{margin-top:92px;font-size:14px;color:#333333;}
.setUpDialog table .dialog-button {padding:45px 0 25px;}
.setUpDialogOne table tbody .dialog-content{text-align:center;}
.setUpDialogOne table tbody .dialog-button{position:absolute;bottom:25px;left:145px;}
.setUpDialogTwo table tbody .dialog-button {position: absolute;bottom: 25px;left: 66px;}
.setUpDialogTwo table tbody .dialog-ok:hover{padding:0 17px;}
.setUpDialogTwo table tbody .dialog-ok{padding:0 17px;}
body .p2pAccountDg table .dialog-ok{padding:0 30px;}
body .p2pAccountDg table .dialog-ok span{padding:0 30px;}

/*新增理财消费卡部分*/
.p_account_personalset ul.security-list li i.sign {background-position: 0px -76px;}