body{background-color:#f6f7f8;}
.p_bid_view input[type="text"]:focus{border-color:#f85c3c;box-shadow:none;}
.p_bid_view  .linH44{height:44px!important;line-height:44px!important;}
.p_bid_view  .linH30{height:30px!important;line-height:30px!important;}
.p_bid_view{background-color:#fff;padding:0px 40px 78px 40px;margin-bottom:70px;}
.p_bid_view .title_box .dealName{font-size:18px;padding:25px 0px 3px 0px;}
.p_bid_view .title_box .tagsWrap span{float:left;height:22px;line-height:22px;background-color:#5768eb;padding:0px 5px;margin-left:6px;color:#fff;border-radius:3px;}
.p_bid_view .title_box .tagsWrap span:first-child{margin-left:0px;}
.p_bid_view .number{height:50px;margin-top:20px;padding-bottom:40px;border-bottom:1px solid #eeeeee;}
.p_bid_view .number dl{float:left;text-align:center;padding:0px 50px;border-left:1px dashed #cccccc;}
.p_bid_view .number dl:first-child{text-align:left;border-left:none;padding-left:0px;}
.p_bid_view .number dl dt{font-size:20px;height:30px;line-height:30px;margin-top:-2px;font-weight:bold;}
.p_bid_view .number dl dt.redColor{color:#e33512;}
.p_bid_view .number dl dt.blackColor{color:#333333;}
.p_bid_view .number dl dd{color:#9f9f9f;font-size:14px;height:20px;line-height:20px;margin-top:4px;}
.p_bid_view .formBox{padding:40px 0px 30px 0px;border-bottom:1px solid #eee;}
.p_bid_view .formBox .formGroup{}
.p_bid_view .formBox .formGroup.marTop1{margin-top:20px;}
.p_bid_view .formBox .formGroup.marTop2{margin:30px 0px 30px 0px;}
.p_bid_view .formBox .gpLabel{float:left;font-size:14px;color:#888888;height:20px;line-height:20px;width:85px;margin-right:20px;text-align:right;}
.p_bid_view .formBox .gpCont{float:left;}
.p_bid_view .formBox .gpCont .blackSpan{font-size:14px;color:#333;}
.p_bid_view .formBox .gpCont .graySpan{font-size:14px;color:#888888;height:20px;line-height:20px;}
.p_bid_view .formBox .gpCont .redSpan{color:#e33512;}
.p_bid_view .formBox .gpCont .inputBox .graySpan.linH30{width:16px;text-align:center;}
.p_bid_view .formBox .gpCont .blackSpan.fl,.formBox .gpCont .graySpan.fl，.formBox .gpCont .redPSan.fl{height:20px;line-height:20px;}
.p_bid_view .formBox .gpCont .payBtn{color:#2ea7e0;margin-left:0px;font-size:14px;}
.p_bid_view .formBox .gpCont .inputBox{width:292px;height:30px;border:1px solid #cccccc;border-radius:5px;padding:6px 10px;}
.p_bid_view .formBox .gpCont .bidMoneyInput{font-size:18px;height:30px;line-height:30px;border:none;outline:none;width:276px;}
.p_bid_view .formBox .gpCont .tzqTip{font-size:13px;color:#333;height:20px;line-height:20px;}
.p_bid_view .formBox .gpCont .tzqTip span{color:#e33512;}
.p_bid_view .formBox .gpCont .totalLimit{font-size:14px;margin-top:4px;}
.p_bid_view .formBox .gpCont .totalLimit em{color:#0e0e0e;}

/* 返现券&&加息券 begin */
.p_bid_view .tzq_choose{border:1px solid #e3e3e3;width:541px;margin-top:20px;}
.p_bid_view .tzq_choose .tzq_seclect{border-bottom:1px solid #e3e3e3;height:49px;line-height:49px;font-size:14px;color:#0e0e0e;padding-left:30px;}
.p_bid_view .tzq_choose .tzq_cont .zw{padding:22px 0;text-align:center;color:#9b9a9a;font-size:14px;}
.p_bid_view .tzq_choose .tzq_cont .pagination{margin-bottom:15px;}
.p_bid_view .tzq_seclect > span{cursor:pointer;width:56px;line-height:normal;float:left;text-align:center;margin-left:25px;font-size:13px;padding:15px 0px 6px 0px;}
.p_bid_view .tzq_seclect > span:first-child{margin-left:0px;}
.tzq_seclect > span.active{color:#ee4634;border-bottom:2px solid #ee4634;}
.p_bid_view .tzq_table{font-size:14px;padding-top:2px;text-align:center;margin-bottom:18px;}
.p_bid_view .tzq_table thead tr th{color:#a6a6a6;height:38px;line-height:38px;padding:0;text-align:center;}
.p_bid_view .tzq_table tbody tr td{padding:0;line-height:38px;}
.p_bid_view .tzq_table .zjq_radio{margin-right:15px;vertical-align:-4px;*vertical-align:0;width:18px;height:18px;}
.p_bid_view .tzq_table tbody tr:nth-child(odd){background:#f6f7fb;}
.p_bid_view .tzq_table tbody tr:nth-child(even){background:#FFF;}

/* 返现券&&加息券 end */
.p_bid_view .button_confirm1{display:block;height:40px;line-height:38px;width:294px;background-color:#fff;font-size:16px;color:#f64440;font-weight:bold;border:2px solid #f64440;border-radius:10px;margin:30px auto 15px auto;}
.p_bid_view .protocolWrap{color:#888888;text-align:center;font-size:0px;}
.p_bid_view .protocolWrap span{font-size:14px;}
.p_bid_view .protocolWrap a{margin:0px 5px;color:#5baff7;font-size:14px;}
.p_bid_view .bid_tips{color:#999;clear:both;}
.p_bid_view .contractPopMask{position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:#000;opacity:0.3;filter:Alpha(Opacity=30);display:none;}
.p_bid_view .contractPop{position:fixed;left:50%;top:50%;margin:-200px 0px 0px -337px;width:664px;height:400px;border-radius:5px;border:5px solid rgba(0,0,0,0.5);background-color:#fff;display:none;}
.p_bid_view .contractPop .titleBox{height:57px;border-bottom:1px solid #eeeeee;}
.p_bid_view .contractPop .titleBox span{float:left;height:57px;line-height:57px;font-size:16px;color:#333;font-weight:bold;padding-left:30px;}
.p_bid_view .contractPop .titleBox .closeA{float:right;margin:18px 18px 0px 0px;width:20px;height:20px;background:url(../images/account/bid_contract_closeA.png) no-repeat center;}
.p_bid_view .contractPop .contBox{height:342px;overflow-y:scroll;}
.p_bid_view .contractPop .contBox .articleBox{padding:25px 20px 0px 20px;color:#333;line-height:24px;font-size:14px;}
.weedialog.checkrisk .dialog-content{line-height:36px;}
.weedialog.checkrisk .dialog-button{padding:20px 0 55px;}
.weedialog.checkrisk .no-okbtn{padding:34px 0 90px;}

/*项目评级*/
.p_bid_view .line_bot{padding: 0 0 40px 0;border-bottom: 1px solid #eee}
.p_bid_view .proj_grade dl{line-height: 32px;font-size: 14px;padding-right: 5px;display: block;}
.p_bid_view .proj_grade dl dt{width: 98px;color: #888888;}
.p_bid_view .proj_grade dl dt,.p_bid_view .proj_grade dl dd{display: inline-block;}
.weedialog.checkrisk_cn .dialog-content{line-height: 36px;}
.weedialog.checkrisk_cn .dialog-button{padding: 20px 0 55px;}
.weedialog.checkrisk_cn .no-okbtn{padding: 34px 0 90px;}


/*存管-免密*/
.mm_service{padding-top:30px;font-size:14px;color:#888888;}
.mm_service .doOpen{color:#2ea7e0;padding-left:8px;cursor:pointer;}
.mm_service .openDone{color:#6ab123;padding:0 27px 0 35px;background:url(../images/account/ykt_mm.png) no-repeat right center;}


/*03-12 充值优化修改*/
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active {height:38px;}
.weedialog table .dialog-content {padding-bottom: 40px;padding-top:40px;}
.card_list_con {position: relative;padding-left:51px;text-align: left;min-height: 40px;}
.card_list_con i { width: 42px; height: 42px; background: url(../images/account/privileges_warn.png) no-repeat 0px 0px; display: inline-block; margin: 17px 20px 0 0px;position: absolute;top:-13px;left:0; }
.charge_btn {width:285px;height:40px;line-height:40px;text-align: center;color:#fff;background: #EE4634;margin:30px auto;display: block;}
.charge_tips {color:#B5B5B5;font-size: 14px;}