.second-sc { background: url(../images/pc_download/bg-sc-02.jpg) no-repeat 50% 50%; background-size: cover; }
.third-sc { background: url(../images/pc_download/bg-sc-03.jpg) no-repeat 50% 50%; background-size: cover; }
.fourth-sc { background: url(../images/pc_download/bg-sc-04.jpg) no-repeat 50% 50%; background-size: cover; }
.shade-first, .shade-second, .shade-third, .shade-fourth { position: absolute; left: 0; top: 0; width: 100%; height: 100%;   }
.shade-second, .shade-third, .shade-fourth { background-color: transparent; }
.shade-first{  z-index: 1; background: rgba(12,37,107,0.6);/*支持rgba的浏览器 */ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /*IE8支持*/}

/*第一屏*/
.first-sc .pd_video { position: absolute; top: 126px; left: 0; height: 100%; width: 100%; z-index: 0; background: url(../images/pc_download/bg-sc-01.jpg) no-repeat 50% 50%;}
.int-abstract1 { position: absolute; top: 50%; left: 0; height: 335px; width: 100%; margin-top: -105px; z-index: 2; }
.int-logo { width: 546px; height: 209px; margin: 0 auto; background: url(../images/pc_download/page1_01.png) no-repeat 0 0; background-size: 546px auto; }
.int-download { padding: 58px 0 0; width: 470px; margin: 0 auto; }
.int-download a { float: left; width: 220px; height: 54px; display: block; margin-right: 18px; background-repeat: no-repeat; }
.int-download .int-down-ios, .int-download .int-down-android { background-image: url(../images/pc_download/icon_download.png); }
.int-download .int-down-ios { background-position: 0 0; }
.int-download .int-down-android { background-position: -247px 0; margin-right: 0 }

/*第二屏*/
.int-abstract2 { position: absolute; top: 50%; left: 0; height: 635px; width: 100%; margin-top: -264px; }
.int-item-box2 { width: 1127px; height: 635px; margin: 0 auto; position: relative; }
.abstract-s2-left { background: url(../images/pc_download/page2_01.png) no-repeat; width: 587px; height: 321px; position: absolute; top: 50%; left: -200px; margin-top: -160px; opacity: 0; transition: all 1s ease 0.2s; }
.abstract-s2-right { background: url(../images/pc_download/page2_02_bg.png) no-repeat; width: 487px; height: 637px; position: absolute; right: -200px; top: 0; opacity: 0; background-size: 100% 100%; transform: scale(0.5, 0.5); transition: all 1s ease 0s; }
.active .abstract-s2-left { left: 0; opacity: 1; }
.active .abstract-s2-right { right: 0; opacity: 1; transform: scale(1, 1); }
.active .abstract-s2-right .as2-pop { right: 44px; top: 11px; transform: scale(1, 1); }
.abstract-s2-right .as2-pop { background: url(../images/pc_download/page2_02_01.png) no-repeat; width: 497px; height: 464px; position: absolute; right: -36px; top: -39px; transform: scale(0.84, 0.84); transition: all 1s ease 1.2s; }

/*第三屏*/
.int-abstract3 { position: absolute; top: 50%; left: 0; height: 654px; width: 100%; margin-top: -278px; }
.int-item-box3 { width: 1127px; height: 654px; margin: 0 auto; position: relative; }
.abstract-s3-left { background: url(../images/pc_download/page3_01.png) no-repeat; width: 508px; height: 654px; position: absolute; top: 0px; left: -200px; opacity: 0; transform: scale(0.5, 0.5); transition: all 1s ease 0s; }
.abstract-s3-right { background: url(../images/pc_download/page3_02.png) no-repeat; width: 587px; height: 167px; position: absolute; right: -200px; top: 50%; margin-top: -93px; opacity: 0; background-size: 100% 100%; transition: all 1s ease 0.2s; }
.active .abstract-s3-left { left: 0; opacity: 1; transform: scale(1, 1); }
.active .abstract-s3-right { right: 0; opacity: 1; }

/*第四屏*/
.int-abstract4 { position: absolute; top: 50%; left: 0; height: 605px; width: 100%; margin-top: -247px; }
.int-item-box4 { width: 1127px; height: 605px; margin: 0 auto; position: relative; }
.abstract-s4-left { background: url(../images/pc_download/page4_01.png) no-repeat; width: 587px; height: 167px; position: absolute; top: 50%; left: -200px; margin-top: -83px; opacity: 0; transition: all 1s ease 0.2s; }
.abstract-s4-right { background: url(../images/pc_download/page4_02_bg.png) no-repeat; width: 359px; height: 605px; background-size: 100% 100%; position: absolute; right: 0; top: 50%; margin-top: -302px; }
.abstract-s4-right .as4_left { opacity: 0; z-index: 0; position: absolute; width: 343px; height: 231px; left: 9px; top: 195px; background: url(../images/pc_download/page4_02_01.png) no-repeat; transition: all 1s ease 0.7s; }
.abstract-s4-right .as4_right { opacity: 0; z-index: 0; position: absolute; width: 343px; height: 231px; right: 9px; top: 195px; background: url(../images/pc_download/page4_02_02.png) no-repeat; transition: all 1s ease 0.7s; }
.abstract-s4-right .as4_top { opacity: 1; position: absolute; width: 402px; height: 265px; left: -21px; top: 47px; background: url(../images/pc_download/page4_02_03.png) no-repeat; transform: scale(0.77, 0.77); transition: all 1s ease 0.2s; }
.active .abstract-s4-left { left: 0; opacity: 1; }
.active .abstract-s4-right .as4_left { left: -72px; opacity: 1; }
.active .abstract-s4-right .as4_right { right: -72px; opacity: 1; }
.active .abstract-s4-right .as4_top { top: 183px; opacity: 1; transform: scale(1, 1); }
.fourth-sc .footer { position: absolute; left: 0; bottom: 30px; color: #888888; font-size: 14px; text-align: center; width: 100%; }