body{ font-family: "Microsoft YaHei";}
.m-head{margin-bottom:0;}
.p_guide .wrap{width: 980px;}
.p_guide .help-link{background-color:#fff;height:134px;line-height:134px}
.p_guide .help-link span{font-size:23px;color:#878787;margin-left:103px;float:left;margin-right:30px}
.p_guide .help-link a{margin-left:100px;vertical-align:middle;background:url(../images/newbie-help/xs-2.png) no-repeat 0 0;width:80px;height:80px;display:inline-block}
.p_guide .help-link a em{width:40px;font-size:20px;color:#767575;display:block;line-height:25px;margin-left:21px;margin-top:15px}
.p_guide .help-link a:hover{background:url(../images/newbie-help/xs-1.png) no-repeat 0 0;width:88px;height:94px;  text-decoration: none;}
.p_guide .help-link .link-active,.p_guide .help-link a:hover{background:url(../images/newbie-help/xs-1.png) no-repeat 0 0;width:88px;height:94px}
.p_guide .help-link .link-active em,.p_guide .help-link a:hover em{color:#fff;margin-left:25px;margin-top:20px}
.p_guide .help-center{position:relative}
.p_guide .help-center .img-tip{position:absolute;left:-18px;top:-1px}
.p_guide .ct-top{margin-top:-5px}
.p_guide .help-footer{height:125px;background-color:#6abde8;padding-top:65px}
.p_guide .help-footer a{width:221px;height:48px;background-color:#fff;display:block;line-height:48px;text-align:center;border-radius:5px;-moz-box-shadow:0 3px 2px #4ba4dd;-webkit-box-shadow:0 3px 2px #4ba4dd;box-shadow:0 3px 2px #4ba4dd;margin-left:380px;font-size:22px;color:#5b5e5f;font-family:Microsoft YaHei}
.p_guide .m-foot{padding-top:30px}
.p_guide .help-center .help-touzi{position:absolute;top:140px;left:250px}
.p_guide .help-center .help-touzi h2{color:#31c1ea;font-size:18px;font-weight:bold}
.p_guide .help-center .help-touzi h3,.p_guide .help-jiaoyi h3,.p_guide .help-diyu h3,.p_guide .help-leiji h3{font-size:16px;color:#7e7e7e;line-height:28px}
.p_guide .help-center .help-touzi h3 span{color:#31c1ea;font-size:20px;margin-left:5px;font-weight:bold}
.p_guide .help-center .help-jiaoyi{position:absolute;top:210px;left:660px}
.p_guide .help-center .help-jiaoyi h2{color:#689fd7;font-size:18px;font-weight:bold}
.p_guide .help-center .help-jiaoyi h3 span{color:#689fd7;font-size:20px;margin-left:5px;margin-right:5px;font-weight:bold}
.p_guide .help-diyu{position:absolute;top:370px;left:190px}
.p_guide .help-diyu h2{color:#eda662;font-size:18px;font-weight:bold}
.p_guide .help-diyu h3 span{color:#eda662;font-size:20px;margin-right:5px;font-weight:bold}
.p_guide .help-leiji{position:absolute;top:430px;left:680px}
.p_guide .help-leiji h2{color:#fc9c82;font-size:18px;font-weight:bold}
.p_guide .help-leiji h3 span{color:#fc9c82;font-size:20px;margin-left:5px;margin-right:5px;font-weight:bold}
.p_guide .cz-center img{margin-top:-5px}
.p_guide .m-explain{background-color:#6abde9;color:#474747}
.p_guide .m-explain p{line-height:24px}
.p_guide .c-explain{width:900px;min-height:160px;margin:0 auto;background-color:#fff}
.p_guide .first-list{margin-top:45px}
.p_guide .exp-centent{background-color:#fff}
.p_guide .exp-left{float:left;width:170px;text-align:center;vertical-align:middle;margin-top:20px}
.p_guide .exp-left p{font-size:17px;color:#878787;font-weight:bold}
.p_guide .exp-right{margin-left:180px;font-size:15px;text-indent:2em;vertical-align:middle;padding-top:30px;padding-bottom:30px;padding-right:50px}
.p_guide .exp-text{background-color:#f5fcff;padding:30px 50px 40px 40px}
.p_guide .exp-text h2{font-size:18px;margin-bottom:-10px}
.p_guide .exp-color{color:#e77f10}
.p_guide .exp-bold{font-weight:bold}
.p_guide .first-list .exp-text p,.p_guide .three-list .exp-text p{margin-top:30px;font-size:15px}
.p_guide .second-list,.p_guide .three-list,.p_guide .four-list{margin-top:15px}
.p_guide .second-list .exp-right{padding-top:60px;padding-bottom:60px}
.p_guide .second-list .exp-text{font-size:15px}
.p_guide .second-list .exp-text h4{margin-top:20px}
.p_guide .second-list .exp-text h5{color:#43abc4;font-size:17px;margin-top:25px;margin-bottom:10px}
.p_guide .second-list .exp-text h6{margin-top:10px}
.p_guide .second-list .exp-text p{line-height:22px}
.p_guide .second-list .exp-text p em{margin-right:20px}
.p_guide .four-list .exp-right p{margin-top:38px;font-size:16px}
.p_guide .second-list .sec-top{margin-top:30px}
.p_guide .m-bottom{margin-bottom:20px !important}
.p_guide .help-link{-moz-box-shadow:0 2px 3px #e6e6e6 inset;-webkit-box-shadow:0 2px 3px #e6e6e6 inset;box-shadow:0 2px 3px #e6e6e6 inset;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1}
