.p_help .short_uc{display:inline-block;overflow:hidden;width:232px}
.p_help .comm2_top{background:url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);font-size:1px;height:0;width:230px}
.p_help .comm2_con{background:url("../images/bg_cal_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0,0,0,0);overflow:hidden;padding:5px 0 10px;width:230px;background:#fff;border-radius:5px;border:1px solid #ddd}
.p_help .comm2_bot{background:url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 -10px rgba(0,0,0,0);font-size:1px;height:12px;width:230px}
.p_help .nav-aside{padding:0 20px}
.p_help .nav-aside-fixed{position:fixed;top:12px}
.p_help .nav-aside-lv1,.p_help .nav-aside-lv2, .p_help .nav-aside-lv3{display:block}
.p_help .nav-aside-lv1{background:url("../images/common/spritesv.png?v=1398850080") no-repeat scroll 0 13px rgba(0,0,0,0);border-top:1px solid #eee;color:#cd1233;font-size:15px;font-weight:bold;margin-top:10px;padding:13px 0 7px 24px}
.p_help .nav-aside-lv1.first{border-top:0 none;margin-top:0}
.p_help .nav-aside-lv2{color:#666;font-size:13px;padding:4px 0 4px 40px}
.p_help .nav-aside-lv3{color:#666;font-size:13px;padding:4px 0 4px 52px}
.p_help .nav-aside-lv2.active{background:url("../images/common/spritesv.png?v=20140508") no-repeat scroll 20px -160px rgba(0,0,0,0)}
.p_help .nav-aside-lv3.active{ color:#FC7F0E; }
.p_help .nav-aside-lv2:hover{color:#333}
.p_help .link-pdf{background:url("../images/common/spritesv.png?v=2") no-repeat scroll 0 -65px rgba(0,0,0,0);color:#cd1233;display:block;float:right;font-size:13px;line-height:15px;margin-top:12px;padding:5px 0 5px 30px}
.p_help .link-pdf:hover{color:#cd1233;text-decoration:underline}
.p_help .faq-q,.p_help .faq-a{background:url("../img/spritesv.png?v=3") no-repeat scroll 0 -100px rgba(0,0,0,0);display:inline-block;height:17px;vertical-align:text-bottom;width:15px}
.p_help .faq-a{background-position:0 -120px}
.p_help .comm_top{background:url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);font-size:1px;height:0;width:723px}
.p_help .comm_con{background:url("../images/bg_uc_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0,0,0,0);overflow:hidden;padding:5px 0 10px;width:723px;background:#fff;border-radius:5px;border:1px solid #ddd}
.p_help .comm_con .tx_tip{line-height:18px;margin-left:15px;width:670px}
.p_help .comm_con .tx_tip dt{color:#444;padding-bottom:6px}
.p_help .comm_con .tx_tip dd{color:#888;padding-bottom:6px}
.p_help .comm_bot{background:url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 -20px rgba(0,0,0,0);font-size:1px;height:9px;width:723px}
.p_help .f_l{float:left}
.p_help .f_r{float:right}
.p_help .article_list{padding:30px 30px 0}
.p_help .article_list li{background:url("../images/notice_dot.png?v=1398850080") no-repeat scroll 0 center rgba(0,0,0,0);display:block;height:28px;line-height:28px;text-indent:10px}
.p_help .article_title{color:#ca1132;font-size:20px;font-weight:bolder;line-height:30px;padding:10px 0 15px}
.p_help .publish_time{color:#808080;padding:5px 0 5px 80px}
.p_help .article_info{border-top:1px solid #e6e6e6;font-size:14px;line-height:24px;padding:25px 10px 20px;word-break:normal}
.p_help .article_info h1{font-size:16px;line-height:32px;margin:0 0 15px}
.p_help .article_info p{margin:0 0 15px}
.p_help .article_info ul{margin:0 0 15px 25px}
.p_help .article_info li{list-style:disc outside none}
.p_help .article_info table{margin:0 0 15px}
.p_help .article_info .line-q{color:#cd1233;margin:0}
.p_help .article_info .line-a{padding-left:18px;text-indent:-19px}
.p_help .help_long{border:1px solid #c4cdd3}
.p_help .inc .relate_help{display:block;height:auto}
.p_help .inc .relate_help dt{background:url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);clear:both;color:#333;display:block;font-weight:normal;height:33px;line-height:32px;overflow:hidden;padding-left:20px}
.p_help {  margin: 0px auto;width: 1100px;}
.p_help .relate_help dd{clear:both;display:block;margin:0}
.p_help .relate_help dd a{background:url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 -61px rgba(0,0,0,0);color:#444;display:block;height:28px;line-height:28px;padding-left:30px}
.p_help .relate_help dd a:hover{text-decoration:none}
.p_help .relate_help dd.relate_cate{background:url("../images/bar.gif?v=1398850080") repeat-x scroll 0 0 rgba(0,0,0,0);font-weight:bolder;height:30px;line-height:30px;text-indent:10px}
.p_help .relate_help dd.act a{background-position:0 -33px}
.p_help .short_uc{display:inline-block;overflow:hidden;width:232px}
.p_help .comm2_top{background:url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);font-size:1px;height:0;width:230px}
.p_help .comm2_con{background:url("../images/bg_cal_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0,0,0,0);overflow:hidden;padding:5px 0 10px;width:230px;background:#fff;border-radius:5px;border:1px solid #ddd}
.p_help .comm2_bot{background:url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 -10px rgba(0,0,0,0);font-size:1px;height:12px;width:230px}
.p_help .nav-aside{padding:0 20px}
.p_help .nav-aside-fixed{position:fixed;top:12px}
.p_help .nav-aside-lv1,.p_help .nav-aside-lv2{display:block}
.p_help .nav-aside-lv1{background:url("../images/common/spritesv.png?v=1398850080") no-repeat scroll 0 13px rgba(0,0,0,0);border-top:1px solid #eee;color:#cd1233;font-size:15px;font-weight:bold;margin-top:10px;padding:13px 0 7px 24px}
.p_help .nav-aside-lv1.first{border-top:0 none;margin-top:0}
.p_help .nav-aside-lv2{color:#666;font-size:13px;padding:4px 0 4px 40px}
.p_help .nav-aside-lv2.active{background:url("../images/common/spritesv.png?v=20140508") no-repeat scroll 20px -160px rgba(0,0,0,0)}
.p_help .nav-aside-lv2:hover{color:#333}
.p_help .link-pdf{background:url("../images/common/spritesv.png?v=2") no-repeat scroll 0 -65px rgba(0,0,0,0);color:#cd1233;display:block;float:right;font-size:13px;line-height:15px;margin-top:12px;padding:5px 0 5px 30px}
.p_help .link-pdf:hover{color:#cd1233;text-decoration:underline}
.p_help .faq-q,.p_help .faq-a{background:url("../img/spritesv.png?v=3") no-repeat scroll 0 -100px rgba(0,0,0,0);display:inline-block;height:17px;vertical-align:text-bottom;width:15px}
.p_help .faq-a{background-position:0 -120px}
.p_help .comm_top{background:url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);font-size:1px;height:0;width:723px}
.p_help .comm_con{background:url("../images/bg_uc_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0,0,0,0);overflow:hidden;padding:5px 0 10px;width:723px;background:#fff;border-radius:5px;border:1px solid #ddd}
.p_help .comm_con .tx_tip{line-height:18px;margin-left:15px;width:670px}
.p_help .comm_con .tx_tip dt{color:#444;padding-bottom:6px}
.p_help .comm_con .tx_tip dd{color:#888;padding-bottom:6px}
.p_help .comm_bot{background:url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 -20px rgba(0,0,0,0);font-size:1px;height:9px;width:723px}
.p_help .f_l{float:left}
.p_help .f_r{float:right}
.p_help .article_list{padding:30px 30px 0}
.p_help .article_list li{background:url("../images/notice_dot.png?v=1398850080") no-repeat scroll 0 center rgba(0,0,0,0);display:block;height:28px;line-height:28px;text-indent:10px}
.p_help .article_title{color:#ca1132;font-size:20px;font-weight:bolder;line-height:30px;padding:10px 0 15px}
.p_help .publish_time{color:#808080;padding:5px 0 5px 80px}
.p_help .article_info{border-top:1px solid #e6e6e6;font-size:14px;line-height:24px;padding:25px 10px 20px;word-break:normal}
.p_help .article_info h1{font-size:16px;line-height:32px;margin:0 0 15px}
.p_help .article_info p{margin:0 0 15px}
.p_help .article_info ul{margin:0 0 15px 25px}
.p_help .article_info li{list-style:disc outside none}
.p_help .article_info table{margin:0 0 15px}
.p_help .article_info .line-q{color:#cd1233;margin:0}
.p_help .article_info .line-a{padding-left:18px;text-indent:-19px}
.p_help .help_long{border:1px solid #c4cdd3}
.p_help .inc .relate_help{display:block;height:auto}
.p_help .inc .relate_help dt{background:url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0,0,0,0);clear:both;color:#333;display:block;font-weight:normal;height:33px;line-height:32px;overflow:hidden;padding-left:20px}
.p_help .relate_help dd{clear:both;display:block;margin:0}
.p_help .relate_help dd a{background:url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 -61px rgba(0,0,0,0);color:#444;display:block;height:28px;line-height:28px;padding-left:30px}
.p_help .relate_help dd a:hover{text-decoration:none}
.p_help .relate_help dd.relate_cate{background:url("../images/bar.gif?v=1398850080") repeat-x scroll 0 0 rgba(0,0,0,0);font-weight:bolder;height:30px;line-height:30px;text-indent:10px}
.p_help .relate_help dd.act a{background-position:0 -33px}
.p_help .wrap{width:1100px}
.p_help .blank{height:20px}
.p_help .comm_con{background:none repeat scroll 0 0 #fff;border:1px solid #ddd;border-radius:5px;overflow:hidden;padding:5px 0 10px;width:855px}
.p_help .article_title{color:#1a1f25;font-size:18px;line-height:30px;padding:10px 0 15px 20px;font-weight:normal;background:url(../images/common/spritesv_v2.png) no-repeat 0 -182px}
.p_help .nav-aside-lv1{color:#f3491f}
.p_help .nav-aside-lv2.active{background:url(../images/common/spritesv_v2.png) no-repeat 23px -195px}

/*普惠课堂*/
.fw{ font-weight:bold; }
.clearfloat:after{display:block;clear:both;content:"";}
.p_help .article_info .article_industry_observe .article_txt{ float:left; max-width:550px; min-height:50px; position:relative; }
.p_help .article_info .article_industry_observe .article_item { margin-top:20px; min-height:50px; }
.p_help .article_info .article_industry_observe .article_tit { display:-webkit-box!important; /*! autoprefixer: off */ -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow:hidden; }
.p_help .article_info .article_industry_observe .article_img img{ display: inline-block; width:140px; height:88px; float:left; margin-right:20px; }
/*.p_help .article_info .article_industry_observe .article_item img{ width:100%; height:100%; }*/
.p_help .article_info .article_industry_observe .article_item .article_date{ color:#909090; margin-top:5px; }
.p_help .load_more{ text-align:center; font-size:13px; color:#666; margin-top:70px;}
/*常见名词*/
.p_help .common_noun_wap{ margin-top:17px; min-height:400px; }
.p_help .common_noun_wap .noun_tit span{ background-color:#edf2ff; color:#4C7BFE; padding:6px 16px 5px; margin-right:20px; font-size:17px; border-radius:3px; margin-bottom:16px; display:inline-block; }
.p_help .common_noun_wap .noun_content{ margin-top:31px; display:none;}
.p_help .shadow{ box-shadow: 2px 3px 10px #cfdbff; }
