.p_investment_view a{outline:none;text-decoration:none}
.p_investment_view .touzi_top{padding-bottom:40px}
.p_investment_view .tztop_left{z-index:1;width:654px;-webkit-box-shadow:0 0 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0 0 2px 1px rgba(52,52,52,0.1);box-shadow:0 0 3px 1px rgba(52,52,52,0.1);border-radius:2px;background:#fff url(../images/investment_view/bg_01.png) repeat-x;position:relative}
.p_investment_view .title_box{padding:0 0 0 30px;height:75px}
.p_investment_view .title_box h1{font-size:19px;color:#4e5154;font-family:"Microsoft YaHei";height:75px;display:table-cell;vertical-align:middle}
.p_investment_view .title_box h1 span{vertical-align:middle;display:inline-block}
.p_investment_view .title_box h1 span.w1{height:75px}
.p_investment_view .title_box p span{font-family:"Microsoft YaHei";padding:0 10px;color:#fff;display:inline-block;margin-right:9px;margin-top:10px}
.p_investment_view .tz_lilv{width:272px;height:177px;padding-left:30px;padding-top:5px}
.p_investment_view .tztop_left dl{line-height:28px;padding-top:18px}
.p_investment_view .tztop_left dl.lgl_dl{padding-top:5px}
.p_investment_view .tztop_left dt{float:left;color:#878787;font-size:14px;padding-right:3px}
.p_investment_view .tztop_left dd{float:left}
.p_investment_view .tz_jine{width:330px; height:175px;padding-left:20px;padding-top:5px; border-left:1px solid #bababa;}
.p_investment_view .ketou{padding-top:20px;color:#878787}
.p_investment_view .tztop_left i.ico_bace,.p_investment_view .ico_bace_01{width:250px;height:6px;display:block;background-position:-690px -1px;margin-top:5px}
.p_investment_view .tztop_left i.ico_yitou{background:url(../images/investment_view/jindu.gif) no-repeat;height:6px;float:left}
.p_investment_view .tztop_right{position:relative;width:310px;height:246px;background:#fffcf3;margin-top:6px;-webkit-box-shadow:0 0 3px 1px rgba(52,52,52,0.1);-moz-box-shadow:0 0 2px 1px rgba(52,52,52,0.1);box-shadow:0 0 3px 1px rgba(52,52,52,0.1);border-radius:2px;padding-left:16px}
.p_investment_view .tztop_right h2{padding-top:20px;height:45px;border-bottom:1px dotted #c1c0be;margin-bottom:5px;padding-left:10px;margin-right:18px}
.p_investment_view .tztop_right p{padding-top:15px;padding-left:10px}
.p_investment_view .tztop_right span{display:inline-block}
.p_investment_view .text_box{width:120px;height:24px;line-height:24px;border:1px solid #ffb904;vertical-align:middle;padding-left:3px;color:#505050;outline:none;font-size:15px;border-radius:1px}
.p_investment_view .button_touzi{border:0;background:#ffb904;width:273px;height:48px;display:inline-block;line-height:48px;color:#fff;text-align:center;cursor:pointer;font-size:20px}
.p_investment_view .button_touzi:hover{background:#ffca40;color:#fff}
.p_investment_view .button_touzi a:active{background:#e5a500;color:#000}

/* 出借人风险提示 */
.p_investment_view .tztop_right .lender_risk_tips{width: 250px;margin-left: 9px;margin-top: 8px;}
/* end */
.p_investment_view .shouyi{font-size:13px;padding-top:15px;padding-left:8px}
.p_investment_view .shouyi i,.p_investment_view .ico_bace,.p_investment_view .ico_bace_01,.p_investment_view .ico_sigh{background-image:url(../images/investment_view/icon_bg.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle}
.p_investment_view .ico_bace_01{background:url(../images/investment_view/mb_01.gif) no-repeat}
.p_investment_view .shouyi i.ico_braces_l,.ico_braces_r{background-position:-947px 0;width:6px;height:24px}
.p_investment_view .ico_braces_r{background-position:-957px 0}
.p_investment_view .ico_sigh{width:14px;height:14px;background-position:-967px 0;margin-bottom:5px}
.p_investment_view .main{margin:0 auto 40px;padding-bottom:20px;background:#fff}
.p_investment_view .box_title{height:53px;background:url(../images/investment_view/icon_bg.png) no-repeat 1px -48px;line-height:50px;font-size:24px}
.p_investment_view .box_title i,.p_investment_view .title_box i{background-image:url(../images/investment_view/icon_bg.png);background-repeat:no-repeat;width:20px;height:25px;display:inline-block;float:left;margin:15px 16px 0 18px}
.p_investment_view i.danbao{background-position:0 -1px}
.p_investment_view i.ico_jiedai{background-position:-86px 0;width:26px;margin-right:10px}
.p_investment_view .box_title i.ico_huankuan{background-position:-290px 0;width:26px}
.p_investment_view .con_width{width:870px;margin:0 auto}
.p_investment_view .con_width h2{font-size:20px;padding-top:20px;padding-bottom:15px}
.p_investment_view .con_width h2 span{background:#fff;padding-right:20px}
.p_investment_view .con_width h2.line_bg{background:url(../images/investment_view/icon_bg.png) no-repeat 0 -107px;height:20px}
.p_investment_view .con_width h2 i{background-image:url(../images/investment_view/icon_bg.png);background-repeat:no-repeat;width:27px;height:25px;display:inline-block;float:left;margin:3px 0 0}
.p_investment_view .con_width h2 i.ico_jianjie{background-position:-32px 0}
.p_investment_view .con_width h2 i.ico_faq{background-position:-59px 3px}
.p_investment_view .con_width h2 i.ico_jiben{background-position:-122px 4px}
.p_investment_view .con_width h2 i.ico_shenhe{background-position:-150px 2px}
.p_investment_view .con_width h2 i.ico_jiekuan{background-position:-205px 2px;width:27px}
.p_investment_view .con_width h2 i.ico_danbao{background-position:-90px -169px}
.p_investment_view .con_width h2 i.ico_zycp{background-position:-128px -170px}
.p_investment_view .con_width h2 i.ico_qyyj{background-position:-161px -172px}
.p_investment_view .yellwo{color:#f48943}
.p_investment_view .con_width p{font-size:14px;color:#878787;padding-bottom:10px}
.p_investment_view .con_width h3{font-size:16px;padding-top:10px;padding-bottom:3px}
.p_investment_view .more_zk{padding:50px 0 0;text-align:center}
.p_investment_view .more_zk a i.ico_zk{background:url(../images/investment_view/icon_bg.png) no-repeat -328px 0;width:15px;height:20px;display:inline-block}
.p_investment_view .more_zk a{color:#878787;font-size:14px}
.p_investment_view .more_zk a.on i.ico_zk{background:url(../images/investment_view/icon_bg.png) no-repeat -344px 0}
.p_investment_view .border_b{border-bottom:1px solid #e5e5e5}
.p_investment_view .pb30{padding-bottom:30px}
.p_investment_view .tab_jiben{font-size:14px;margin-top:10px}
.p_investment_view .tab_jiben td{height:32px;vertical-align:top}
.p_investment_view .tab_jiben th{text-align:right;padding-right:3px;color:#abacad;vertical-align:top;white-space:nowrap}
.p_investment_view .tab_jiben thead{color:#abacad}
.p_investment_view .tab_jiben td img{max-width:760px;height:auto}
.p_investment_view .text1{color:#abacad}
.p_investment_view .algin_c{text-align:center}
.p_investment_view .algin_r{text-align:right}
.p_investment_view .algin_l{text-align:left}
.p_investment_view .pl63{padding-left:63px}
.p_investment_view .pl30{padding-left:30px}
.p_investment_view .con_jk{padding:20px 0 10px 30px}
.p_investment_view .con_jk span{padding-left:3px}
.p_investment_view .con_hk td{padding:15px 5px}
.p_investment_view .con_hk .trbg{background:#f5f7fb}
.p_investment_view .w982{width:982px}
.p_investment_view .w982 .title_box{padding-top:10px;height:40px;padding-left:0}
.p_investment_view .w982 .title_box h1{height:40px;font-size:22px}
.p_investment_view .title_box i.danbao{margin-top:6px}
.p_investment_view .number{background:#fff;border-top:1px solid #e5e5e5;padding-bottom:30px}
.p_investment_view .number dl{padding-left:50px;font-size:14px;width:90%}
.p_investment_view .number dt{width:115px;text-align:right}
.p_investment_view .number dd{width:145px}
.p_investment_view .button_chongzhi1,.p_investment_view .button_chongzhi2,.p_investment_view .button_chongzhi3,.p_investment_view .button_chongzhi4,.p_investment_view .button_bigtongyi1,.p_investment_view .button_bigtongyi2,.p_investment_view .button_bigtongyi3,.p_investment_view .button_bigtongyi4,.p_investment_view .button_subtongyi1,.p_investment_view .button_subtongyi2,.p_investment_view .button_subtongyi3,.p_investment_view .button_subtongyi4,.p_investment_view .button_confirm1,.p_investment_view .button_confirm2,.p_investment_view .button_confirm3,.p_investment_view .button_confirm4{background:url(../images/investment_view/button_bg.png) no-repeat 0 0;display:inline-block;vertical-align:middle;margin-right:5px;border:0}
.p_investment_view .button_chongzhi1,.p_investment_view .button_chongzhi2,.p_investment_view .button_chongzhi3,.p_investment_view .button_chongzhi4{width:70px;height:28px}
.p_investment_view .button_chongzhi1:link{background-position:-20px -64px}
.p_investment_view .button_chongzhi2{background-position:-110px -64px}
.p_investment_view .button_chongzhi3{background-position:-200px -64px}
.p_investment_view .button_chongzhi4{background-position:-290px -64px}
.p_investment_view .tab_touzi td,.p_investment_view .tab_touzi th{line-height:28px;padding-top:20px;font-size:14px;vertical-align:top}
.p_investment_view .tab_touzi th{color:#808080;text-align:right}
.p_investment_view .tab_touzi td{padding-left:15px}
.p_investment_view .tab_touzi1 td,.p_investment_view .tab_touzi1 th{padding-top:10px}
.p_investment_view .amount_box{border:1px solid #bababa;width:175px;padding-left:4px;height:28px;line-height:28px;vertical-align:middle}
.p_investment_view .box_title i.ico_hetong{background-position:0 -175px}
.p_investment_view .hl30{line-height:30px}
.p_investment_view .more_hetong{text-align:right;font-size:14px}
.p_investment_view .more_hetong a,.p_investment_view .more_hetong a:hover,.p_investment_view .hetong a{color:#2594e2}
.p_investment_view .ico_ht_more,.p_investment_view .ico_ht_moreon{background:url(../images/investment_view/icon_bg.png) no-repeat -36px -175px;width:13px;height:13px;display:inline-block;vertical-align:middle;margin-left:10px}
.p_investment_view .ico_ht_moreon{background:url(../images/investment_view/icon_bg.png) no-repeat -53px -175px}
.p_investment_view .hetong{display:none;margin-top:20px}
.p_investment_view .hetong .con{height:372px;border:1px solid #d6d6d6;overflow-y:auto;padding:10px}
.p_investment_view .ht_but{text-align:center;padding-top:15px;padding-left:150px}
.p_investment_view .button_bigtongyi1,.p_investment_view .button_bigtongyi2,.p_investment_view .button_bigtongyi3,.p_investment_view .button_bigtongyi4{width:96px;height:36px;display:inline-block}
.p_investment_view .button_bigtongyi1:link{background-position:-20px -112px}
.p_investment_view .button_bigtongyi1:hover{background-position:-252px -112px}
.p_investment_view .button_bigtongyi2{background-position:-136px -112px}
.p_investment_view .button_bigtongyi3{background-position:-252px -112px}
.p_investment_view .button_bigtongyi4{background-position:-365px -112px}
.p_investment_view .button_subtongyi1,.p_investment_view .button_subtongyi2,.p_investment_view .button_subtongyi3,.p_investment_view .button_subtongyi4{width:59px;height:24px;display:inline-block}
.p_investment_view .button_subtongyi1{background-position:-20px -20px}
.p_investment_view .button_subtongyi2{background-position:-99px -20px}
.p_investment_view .button_subtongyi3{background-position:-178px -20px}
.p_investment_view .button_subtongyi4{background-position:-257px -20px}
.p_investment_view .ht_state{margin-top:45px;border-top:1px solid #d6d6d6;padding:20px 0}
.p_investment_view .ht_state td{line-height:40px}
.p_investment_view .button_confirm1,.p_investment_view .button_confirm2,.p_investment_view .button_confirm3,.p_investment_view .button_confirm4{width:242px;height:42px;display:inline-block}
.p_investment_view .button_confirm1{background:#ffb904;color:#fff;font-size:18px;border-radius:2px;line-height:42px;background-position:-20px -168px}
.p_investment_view .button_confirm1:hover{background:#ffca40}
.p_investment_view .button_confirm1:active{background:#e5a500}
.p_investment_view .button_confirm2{background-position:-20px -230px}
.p_investment_view .button_confirm3{background-position:-20px -292px}
.p_investment_view .button_confirm4{background-position:-20px -354px}
.p_investment_view .earnings_box{height:135px}
.p_investment_view .earnings_box li{float:left;padding:0 0 0 30px;color:#878787;font-size:13px;font-family:"微软雅黑";min-width:210px}
.p_investment_view .earnings_box li h3{padding:22px 0}
.p_investment_view .coupon{padding:0 15px 20px;background:#fffcf3;font-size:14px;border-top:1px solid #e5e5e5}
.p_investment_view .coupon a{margin-left:5px}
.p_investment_view .validBt,.p_investment_view .cancelBt{padding:0 15px;height:30px;line-height:30px;display:inline-block;color:#fff;text-align:center;background-color:#ffb804;border-radius:3px;vertical-align:middle}
.p_investment_view .cancelBt{background-color:#e8ebf2;color:#909090}
.p_investment_view .cancelBt:hover{background:#eff2f7;color:#909090}
.p_investment_view .cancelBt:active{background:#dbdfe9}
.p_investment_view .validBt:hover{color:#fff;background:#ffca40}
.p_investment_view .validBt:active{background:#e5a500}
.p_investment_view .youhuima{cursor:default;position:relative;width:750px}
.p_investment_view .youhuima:hover span{display:block}
.p_investment_view .yhm_tip{position:absolute;display:block;background:#fff;border:1px solid #c7c7c7;-moz-box-shadow:1px 1px 3px #888;box-shadow:1px 1px 3px #888;padding:10px;line-height:22px;border:1px solid #e9e9e9;font-family:"微软雅黑";left:110px;top:-7px;color:#333;display:none;width:225px}
.p_investment_view #chk{vertical-align:middle;margin-bottom:2px}
.p_investment_view .icon_yes,.p_investment_view .icon_no{background-image:url("../images/oauth/icon.png");background-repeat:no-repeat;display:inline-block;height:15px;margin-left:8px;vertical-align:middle;width:15px}
.p_investment_view .icon_yes{background-position:0 -19px}
.p_investment_view .ui-tooltip{padding:10px 15px;border:1px solid #cfcfcf;box-shadow:0 0 5px rgba(0,0,0,0.1)}
.p_investment_view input[type="password"]:focus,.p_investment_view input[type="text"]:focus{border-color:#f85c3c;box-shadow:none}
.p_investment_view .mt-30{margin-top:0}
.p_investment_view i.ico_one,.p_investment_view i.ico_two,.p_investment_view i.ico_three,.p_investment_view i.ico_four,.p_investment_view i.ico_five,.p_investment_view i.ico_six,.p_investment_view i.ico_seven,.p_investment_view i.ico_eight,.p_investment_view i.ico_nine,.p_investment_view i.ico_zero,.p_investment_view i.ico_point,.p_investment_view i.ico_percent{background-image:url(../images/investment_view/number_v3.png);background-repeat:no-repeat;width:12px;display:inline-block;height:18px;vertical-align:text-bottom;margin:0;*margin-top:5px}
.p_investment_view i.ico_one{background-position:-20px 0;width:10px}
.p_investment_view i.ico_two{background-position:-36px 0}
.p_investment_view i.ico_three{background-position:-54px 0}
.p_investment_view i.ico_four{background-position:-71px 0}
.p_investment_view i.ico_five{background-position:-90px 0}
.p_investment_view i.ico_six{background-position:-107px 0}
.p_investment_view i.ico_seven{background-position:-124px 0}
.p_investment_view i.ico_eight{background-position:-143px 0}
.p_investment_view i.ico_nine{background-position:-160px 0}
.p_investment_view i.ico_zero{background-position:0 0}
.p_investment_view i.ico_percent{background-position:-178px 0;width:18px}
.p_investment_view i.ico_point{background-position:-203px 0;width:6px}
.p_investment_view .but-gray,.p_investment_view .but-gray:hover{width:107px;height:38px;line-height:38px;background:url(../images/investment_view/invest-con.png) no-repeat -142px -259px;border-radius:0;border:0;color:#fff;padding:0}
.p_investment_view .but-gray:hover{opacity:.8}
.p_investment_view .button_touzi{font-size:18px;font-family:'Microsoft YaHei'}
.p_investment_view .box_title{background:#fcfcfc;border-bottom:1px solid #d5d2d2;height:48px;line-height:48px;color:#383636;font-size:18px}
.p_investment_view .box_title i,.p_investment_view .validBt,.p_investment_view .validBt:hover,.p_investment_view .validBt:active,.p_investment_view .tztop_right i.ico_sigh,.p_investment_view .button_bigtongyi1,.p_investment_view .button_bigtongyi1:hover,.p_investment_view .button_bigtongyi1:active{background-image:url(../images/investment_view/invest-con.png);background-repeat:no-repeat}
.p_investment_view .button_confirm1,.p_investment_view .button_confirm1:hover,.p_investment_view .button_confirm1:active,.p_investment_view .button_confirm4{background:url(../images/investment_view/invest-con.png) no-repeat}
.p_investment_view .box_title i{background-repeat:no-repeat;width:6px;height:20px;display:inline-block;float:left;margin:14px 13px 0 18px}
.p_investment_view i.danbao,.p_investment_view .box_title i.ico_hetong,.p_investment_view i.ico_jiedai,.p_investment_view .box_title i.ico_huankuan{background-position:0 -126px}
.p_investment_view .box_title i.ico_huankuan{width:6px}
.p_investment_view .title_box i{background:none;width:0;height:0}
.p_investment_view .w982 .title_box{padding:0;height:66px;background:#fcfcfc}
.p_investment_view .w982 .title_box h1{height:66px;line-height:66px;color:#505050;font-size:20px}
.p_investment_view .title_box .pl30{margin-top:14px}
.p_investment_view .yellwo,.p_investment_view .color-yellow1{color:#f75938}
.p_investment_view .touzi_top .yellwo{font-family:arial,"Microsoft Yahei"}
.p_investment_view .touzi_top .f18{font-weight:bold}
.p_investment_view .number dd.yellwo{font-size:20px;font-family:arial,"Microsoft Yahei";font-weight:bold}
.p_investment_view .number dd.yellwo span.f14{font-size:14px;color:#f75938}
.p_investment_view .validBt{background-position:0 -73px;padding:0;width:61px;border-radius:0}
.p_investment_view .validBt:hover{background-position:-96px -73px}
.p_investment_view .validBt:active{background-position:-187px -73px}
.p_investment_view .validBt,.p_investment_view .validBt:hover,.p_investment_view .validBt:active{background-color:transparent}
.p_investment_view .button_confirm1,.p_investment_view .button_confirm4{width:227px;height:49px;background-color:none}
.p_investment_view .button_confirm1{background-position:0 0}
.p_investment_view .button_confirm1:hover{background-position:1px -514px}
.p_investment_view .button_confirm1:active{background-position:0 -572px}
.p_investment_view .button_confirm4{background-position:0 -630px}
.p_investment_view .tztop_left .ico_progress{width:362px;position:relative;height:7px;margin-top:10px;display:block}
.p_investment_view .tztop_left i.ico_yitou{background:#fe836a;position:absolute;height:7px;top:0;left:0}
.p_investment_view .tztop_left i.ico_bace{width:360px;background:none;border:1px solid #bababa;position:relative;height:5px}
.p_investment_view .button_touzi,.p_investment_view .button_touzi:hover,.p_investment_view .button_touzi:active,.p_investment_view .but-disabled{width:248px;height:46px;line-height:46px;background:url(../images/investment_view/invest-con.png) no-repeat}
.p_investment_view .button_touzi{background-position:0 -159px}
.p_investment_view .button_touzi:hover{background-position:0 -400px}
.p_investment_view .button_touzi:active{background-position:0 -455px}
.p_investment_view .but-disabled,.p_investment_view .but-disabled:hover{width:248px;height:46px;line-height:46px;background:url(../images/investment_view/invest-con.png) no-repeat 0 -693px !important;color:#fff !important}
.p_investment_view .text_box{border-color:#bababa;width:127px;height:29px}
.p_investment_view .but-yellow,.p_investment_view .but-yellow:hover,.p_investment_view .but-yellow:active{width:107px;height:38px;line-height:38px;padding:0;text-align:center;background:url(../images/investment_view/invest-con.png) no-repeat}
.p_investment_view .but-yellow{background-position:0 -260px}
.p_investment_view .but-yellow:hover{background-position:0 -306px}
.p_investment_view .but-yellow:active{background-position:0 -353px}
.p_investment_view .tztop_right i.ico_sigh{background-position:0 -221px}
.p_investment_view .touzi_top{background:#fff;border:1px solid #d5d2d2;padding-bottom:0;margin-bottom:15px;background:#fffcf3;}
.p_investment_view .title_box,.p_investment_view .title_box h1,.p_investment_view .title_box h1 span.w1{height:68px}
.p_investment_view .title_box h1.pr30{font-size:20px;color:#505050}
.p_investment_view .title_box{background:#fcfcfc;border-bottom:1px solid #d5d2d2;padding-left:35px}
.p_investment_view .tztop_left{width:779px;background:#fff;box-shadow:none;border-radius:0;border-right:1px solid #e0dede;min-height:300px;}
.p_investment_view .tztop_left dt{color:#999;padding-right:5px}
.p_investment_view .tztop_left dl{line-height:50px;padding:0}
.p_investment_view .touzi_top .f20{font-weight:bold}
.p_investment_view .touzi_top .f14{color:#1f1f1f}
.p_investment_view .ketou{font-size:14px;color:#999;padding-top:8px;line-height:30px}
.p_investment_view .tztop_right{width:288px;height:268px;box-shadow:none;border-radius:0;margin-top:0;padding-left:30px}
.p_investment_view .tztop_right .text{color:#555}
.p_investment_view .tztop_right span.yellwo{font-size:14px}
.p_investment_view .w982 .number{border-top:none}
.p_investment_view .shadow{border:1px solid #d5d2d2;box-shadow:none;border-radius:0}
.p_investment_view .main{box-shadow:none;border-radius:0;border:1px solid #d5d2d2;margin:0 auto 15px}
.p_investment_view .con_width h2{color:#2b2f33}
.p_investment_view .con_width h3.yellwo{color:#f48943}
.p_investment_view .con_width h2 i.ico_faq{background-color:#fff}
.p_investment_view .con_width p{color:#575757;line-height:24px}
.p_investment_view .tztop_right .shouyi .color-gray{color:#868686}
.p_investment_view .tztop_right h2{margin-right:30px;padding-top:34px;padding-left:7px;margin-bottom:0}
.p_investment_view .tz_jine{padding-left:40px;width:390px;padding-top:20px}
.p_investment_view .shouyi{padding-top:7px;color:#2b2f33}
.p_investment_view .shouyi i,.p_investment_view .ico_bace{background-image:none}
.p_investment_view .shouyi i.ico_braces_l,.p_investment_view .ico_braces_r{width:0;height:0}
.p_investment_view .tz_lilv{padding-left:35px;padding-top:20px;width:277px}
.p_investment_view .tz_lilv .gray{color:#999}
.p_investment_view .con_width{width:auto;padding:0 37px}
.p_investment_view .con_hk{margin-bottom:20px}
.p_investment_view .tztop_left.w982{width:100%}
.p_investment_view .con_width h2.line_bg{background:url(../images/investment_view/number_v3.png) no-repeat right -63px;height:auto;padding:20px 0 5px}
.p_investment_view .tztop_right p{padding-top:21px;font-size:14px;padding-left:7px}
.p_investment_view .button_bigtongyi1:link,.p_investment_view .button_bigtongyi1:visited,.p_investment_view .button_bigtongyi1:hover,.p_investment_view .button_bigtongyi1:active{width:66px;height:30px;line-height:30px}
.p_investment_view .button_bigtongyi1:link,.p_investment_view .button_bigtongyi1:visited{background-position:0 -751px}
.p_investment_view .button_bigtongyi1:hover{background-position:-97px -751px}
.p_investment_view .button_bigtongyi1:active{background-position:-183px -751px}
.p_investment_view .number .gray{color:#999;margin-left:2px}
.p_investment_view .number .black{color:#333;font-size:14px;font-weight:normal;margin-left:-3px}
.p_investment_view .title_box h1 .icon_new{height:20px;padding:0 4px;top:-2px;line-height:20px;max-width:144px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background:none repeat scroll 0 0 #fe6103;color:#fff;font-size:12px;}
.p_investment_view .tab_jiben{margin-top:0}
.p_investment_view .border_b{border-bottom:1px dashed #e5e5e5}
.p_investment_view .tab_jiben1 th{color:#999}
.p_investment_view .tab_jiben1 td{color:#2b2f33}
.p_investment_view .tab_jiben1 p{padding-bottom:0}
.p_investment_view .con_hk{margin-top:25px}
.p_investment_view .con_hk thead td{padding:0 0 30px 28px;line-height:30px}
.p_investment_view .con_hk tbody td{padding:0 0 0 28px;line-height:50px;color:#2e3233}
.p_investment_view .con_hk .border_b{border-bottom:1px solid #e5e5e5}
.p_investment_view .con_hk .text1 td{color:#999}
.p_investment_view .con_hk .trbg{background-color:#f8f8f8}
.p_investment_view .number{padding:15px 0}
.p_investment_view .number dt{width:130px}
.p_investment_view .number dd{width:188px}
.p_investment_view .tab_touzi{margin-top:25px}
.p_investment_view .tab_touzi th{color:#999}
.p_investment_view .tab_touzi td,.p_investment_view .tab_touzi th{line-height:30px;padding:7px 10px 7px 0}
.p_investment_view .tab_touzi .tip em{color:#0e0e0e}
.p_investment_view .con_hk .text1 .but-disabled,.p_investment_view .con_hk .text1 .but-disabled:hover{width:107px;background:url(../images/investment_view/invest-con.png) no-repeat -142px -259px !important;height:38px;line-height:36px}
.p_investment_view .con_hk .text1 .but-disabled:hover{background:url(../images/investment_view/invest-con.png) no-repeat -142px -259px !important}
.p_investment_view .coupon .amount_box{margin-right:20px}
.p_investment_view .tab_touzi1 th,.p_investment_view .tab_touzi1 td{color:#999}
.p_investment_view .bid_xy h3.text{color:#1a1a1a;padding-bottom:10px}
.p_investment_view .bid_xy table{margin:0 30px}
.p_investment_view .bid_xy table th{color:#999}
.p_investment_view .bid_xy table td{color:#1a1a1a}
.p_investment_view .bid_xy table.table_shiyi{margin:0}
.p_investment_view .bid_xy table.table_shiyi th,.p_investment_view .bid_xy table.table_shiyi td{color:#808080}
.p_investment_view .bid_xy .ht_state table{margin:0 auto}
.p_investment_view .bid_xy .ht_state table td{color:#808080}
.p_investment_view .ht_state .pt40{padding-top:40px}
.p_investment_view .title_box h1 span.w1{display:none}
.p_investment_view .title_box h1{display:block;line-height:68px}
.p_investment_view .text_box{padding-left:7px}
.p_investment_view .tab_touzi td.btn_pb14{padding-bottom:14px}
.p_investment_view .amount_box{padding-left:7px}
.p_investment_view .bid_sk .tab_touzi{margin-top:16px}
.p_investment_view .more_hetong{margin-top:10px}
.p_investment_view span#invest_tip{top:134px}
.p_investment_view .touzi_top .pzh{line-height:35px;font-size:20px;color:#999;display:inline-block;font-weight:normal;font-family:'Microsoft Yahei'}

/*查看借款合同*/
.p_investment_view .tztop_right .seeProtocal{position:absolute;bottom:20px;text-align:center;right:0;left:0;padding:0 32px;font-size:12px;}
.p_investment_view .tztop_right .style_bottom_no{bottom:0px;}
.p_investment_view .tztop_right .seeProtocal .loan_protocal{color:#2ea7e0;}
.p_investment_view .contractPopMask{position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:#000;opacity:0.4;filter:Alpha(Opacity=40);display:none;z-index:99;}
.p_investment_view .contractPop{position:fixed;left:50%;top:50%;margin:-249px 0px 0px -337px;width:664px;height:500px;background-color:#fff;display:none;z-index:100;}
.p_investment_view .contractPop .titleBox{height:57px;border-bottom:1px solid #eeeeee;}
.p_investment_view .contractPop .titleBox span{float:left;height:57px;line-height:57px;font-size:16px;color:#333;font-weight:bold;padding-left:30px;}
.p_investment_view .contractPop .titleBox .titletb{width:5px;height:23px;background-color:red;display:inline-block;position:relative;left:-14px;top:6px;}
.p_investment_view .contractPop .titleBox .closeA{float:right;margin:18px 18px 0px 0px;width:20px;height:20px;background:url(../images/account/bid_contract_closeA.png) no-repeat center;}
.p_investment_view .contractPop .contBox{height:442px;overflow-y:scroll;}
.p_investment_view .contractPop .contBox .articleBox{padding:25px 20px 0px 20px;color:#333;line-height:24px;font-size:14px;}
/*.p_investment_view .button_touzi{position:absolute;bottom:30px;}*/
.p_investment_view .see_protocal{height:300px;}
/*发布日计息日*/
.p_investment_view .date{
  width: 100%;height: auto;overflow:hidden;text-align: center;margin-bottom: 20px;
}
.p_investment_view .date .left,.p_investment_view .date .center,.p_investment_view .date .right{float: left;}
.p_investment_view .date .left{width: 100px;margin-left: 35px;}
.p_investment_view .date p{color:#1f1f1f;font-size: 14px;}
.p_investment_view .date p.title{color:#999;}
.p_investment_view .date .center{width: 450px;text-align: center;}
.p_investment_view .date .center p{color:#fe6103;}
.p_investment_view .date .center p i{width: 8px;height: 8px;display: block;background: #fe6103;float: left;border-radius: 50%;}
.p_investment_view .date .center p i.dot_left{margin-right: 5px;}
.p_investment_view .date .center p i.dot_right{margin-left: 5px;}
.p_investment_view .date .center p span{
  width: 420px;height: 3px;background:#d5d2d2;display: block;float:left;margin:0 auto;margin-top: 2px;
}
.p_investment_view .date .right{width: 100px;}

/*.p_investment_view button.btn_pos{bottom:60px;}*/

/*项目评级*/
.p_investment_view .tztop_left .proj_grade{padding: 0 0 25px 35px; margin-top: 3px;}
.p_investment_view .tztop_left .proj_grade dl{line-height:24px;}
.p_investment_view .tztop_left .tz_lilv,.p_investment_view .tztop_left .tz_jine{height: auto;}
.p_investment_view .shouyi{padding-top: 17px;}
.p_investment_view .number dd{width: 266px;}
.p_investment_view .number dd.w400{width: 400px;}
.p_investment_view .see_protocal.h338{height: 338px;}
.weedialog.checkrisk .dialog-content{line-height: 36px;}
.weedialog.checkrisk .dialog-button{padding: 20px 0 55px;}
.weedialog.checkrisk .no-okbtn{padding: 34px 0 90px;}

/*弹框样式调整*/
.weedialog table .dialog-content{font-size: 16px;text-align: center;padding-top: 70px;padding-bottom: 45px;}


.p_investment_view .main .cg_new .cash_detail th,.p_investment_view .main .cg_new .cash_detail td{padding:0;}

.p_investment_view .tztop_left div.fb_date{margin-bottom:0;padding:16px 0 22px 0;}
.p_investment_view .tztop_left div.fb_date .left{text-align:left;}


/*交易所合同*/
.p_investment_view .bid_xy .hetong_hx{display:inline-block;width:710px;border-bottom:1px solid #F2F2F2;margin-right:70px;margin-top:10px;}
.p_investment_view .jyshetong{display:none;margin-top:20px;}
.p_investment_view .jyshetong .con{height:372px;border:1px solid #d6d6d6;overflow-y:auto;padding:10px;}
.p_investment_view .jyshetong a,.p_investment_view .hetong_list a{color:#2594e2;}
.p_investment_view .hetong_list{margin-top:16px;font-size:14px;}
.p_investment_view .mheight0{min-height:0;}
.p_investment_view .jys_ht:first-child{margin-top:30px;}

/* 隐藏专享详情页 */
.p_investment_view .invest_demand .S_tips{margin: 80px auto 80px;text-align: center;font-size: 16px;}
.p_investment_view .invest_demand .S_tips_top{margin:0 auto 45px;width: 400px;}
.p_investment_view .invest_demand .S_tips_top .S_tips_left{width: 47px;height: 46px;display: block;
float: left;margin-right: 20px;}
.p_investment_view .invest_demand .S_tips_top .S_tips_right{text-align: left;}
.p_investment_view .invest_demand .S_tips_top .S_tips_right_evaluate{line-height: 46px;}
.p_investment_view .invest_demand .S_tips_top .S_tips_right_evaluate .to_evaluate{color: #2EA7E0;}
.p_investment_view .invest_demand .S_tips_bottom .reassessment{color: #0188CC;}

/*募集期限*/
.p_investment_view .deadline_cont{margin-left:35px;}
.p_investment_view .deadline_main{width:432px; font-size:14px; margin:7px 0 0 35px; background: url(../images/deadline_icn.png) no-repeat center 53%; position:relative;}
.p_investment_view .deadline_left{display:inline-block; margin-top:9px;}
.p_investment_view .deadline_center{display:inline-block; margin-left:70px; position:absolute;}
.p_investment_view .deadline_center dl dt{color:red;}
.p_investment_view .deadline_center dl dd span{color:red!important;}
.p_investment_view .deadline_right{display:inline-block; float:right; margin-top:10px;}
.p_investment_view .deadline_p{color:#999;}
.p_investment_view .deadline_main p{margin:-19px 0;}
.p_investment_view .deadline_cont .deadline_tit{margin-top:19px;}