.p_passporttype .w980 {
  margin: 20px auto;
  width: 980px;
}
.p_passporttype .deal_box_top {
  height: 11px;
  font-size: 1px;
  background: url(../images/user/bg_h_line.gif) no-repeat;
  margin-top: 10px;
}
.p_passporttype .deal_box_bot {
  height: 11px;
  font-size: 1px;
  background: url(../images/user/bg_h_line3.gif) no-repeat;
}
.p_passporttype .deal_box_data {
  background: url(../images/user/bg_h_line2.gif) repeat-y;
}
.p_passporttype .con {
  overflow: hidden;
}
.p_passporttype .contentn {
  width: 962px;
  background: url(../images/user/pio_06.jpg);
  padding-bottom: 70px;
}
.p_passporttype .contentn h1 {
  color: #bdbdbd;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
}
.p_passporttype .contentnp h2,
.p_passporttype .contentn h2,
.p_passporttype .contentn h4 {
  color: #424242;
  font-size: 16px;
  width: 770px;
  border-bottom: 1px #d7d7d7 solid;
  padding-bottom: 5px;
  margin-left: 82px;
  font-weight: 200;
}
.p_passporttype .contentn_1,
.p_passporttype .contentn_2,
.p_passporttype .contentn_3,
.p_passporttype .pio {
  width: 880px;
  padding-left: 82px;
}
.p_passporttype .contentn_1 {
  height: 180px;
  padding-top: 28px;
}
.p_passporttype .passport-type-list li {
  width: 249px;
  height: 127px;
  float: left;
  background: url(../images/user/pic_06.jpg);
  margin-left: 20px;
  line-height: 127px;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.p_passporttype .passport-type-list li span {
  color: #cd1233;
}
.p_passporttype .passport-type-list li:hover,
.p_passporttype .passport-type-list li.active {
  width: 249px;
  height: 127px;
  display: block;
  background: url(../images/user/box-selected.png) no-repeat;
  cursor: pointer;
}
.p_passporttype .passport-type-list li:hover span,
.p_passporttype .passport-type-list li.active span {
  color: #fff4f4;
}
.p_passporttype .passport-type-list .first {
  margin-left: 0;
}
.p_passporttype .contentn_2 {
  padding-top: 28px;
  font-size: 14px;
}
.p_passporttype .newn,
.p_passporttype .newn_4 {
  width: 785px;
  overflow: hidden;
  padding-bottom: 12px;
  margin: 0px;
  line-height: 25px;
}
.p_passporttype .gio {
  padding-left: 23px;
}
.p_passporttype .newn_2 {
  width: 765px;
  height: 160px;
  background: #ffffd7;
  margin: 0px;
  padding: 15px 20px 0;
  border-radius: 5px;
}
.p_passporttype .newn_2 ul {
  padding: 0;
}
.p_passporttype .newn_2 li {
  background: url(../images/user/pib_07.jpg) no-repeat 0px 11px;
  padding-left: 20px;
  line-height: 24px;
}
.p_passporttype #cai {
  background: none;
}
.p_passporttype #pim {
  margin-top: 10px;
}
.p_passporttype .newn_4 {
  padding-top: 20px;
}
.p_passporttype .newn_5 {
  padding-left: 20px;
}
.p_passporttype .pp-btn {
  display: inline-block;
  width: 60px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #333;
  background: url(../images/user/btn/pp.png) no-repeat;
}
.p_passporttype .pp-btn:hover {
  color: #000;
}
.p_passporttype .pp-btn-lg {
  display: inline-block;
  width: 203px;
  height: 38px;
  padding-top: 2px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: url(../images/user/btn/pp-lg.png) no-repeat;
}
.p_passporttype .pp-btn-lg:hover {
  color: #fff;
}
.p_passporttype .contentnp {
  width: 962px;
  padding-bottom: 70px;
  padding-top: 35px;
}
.p_passporttype .alert {
  width: 785px;
  height: 38px;
  line-height: 38px;
  background: #ffffd7;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}
.p_passporttype .pio {
  padding-left: 20px;
  padding-top: 30px;
}
.p_passporttype .piou {
  padding-bottom: 20px;
  overflow: hidden;
  padding-left: 150px;
}
.p_passporttype .piou li {
  height: auto;
  padding-top: 10px;
  min-height: 40px;
}
.p_passporttype .piou li .float-span {
  padding-left: 10px;
  float: left;
}
.p_passporttype .pp-input {
  background: url(../images/user/pim_09.jpg) no-repeat;
  width: 282px;
  height: 20px;
  border: 0;
  margin-left: 30px;
  padding: 10px;
}
.p_passporttype .pp-input-xsm {
  background: url(../images/user/pim_26.jpg) no-repeat;
  width: 55px;
  margin-left: 9px;
}
.p_passporttype .pp-input-sm {
  background: url(../images/user/pim_24.jpg) no-repeat;
  width: 192px;
}
.p_passporttype .passport-number-row {
  position: relative;
}
.p_passporttype .passport-number-row .passport-type-initial {
  position: absolute;
  left: 145px;
  top: 22px;
}
.p_passporttype .indent {
  padding-left: 19px;
}
.p_passporttype .xin {
  width: 305px;
  height: 84px;
  background: url(../images/user/piy_38.jpg);
  margin-left: 330px;
  padding-left: 20px;
  clear: both;
}
.p_passporttype .xin li {
  background: url(../images/user/pib_07.jpg) no-repeat 0px 11px;
  padding-left: 20px;
  line-height: 24px;
}
.p_passporttype .ye_1 {
  padding-left: 130px;
  width: 300px;
}
.p_passporttype .ye {
  padding-left: 140px;
  width: 300px;
}
.p_passporttype #heng {
  padding-left: 40px;
  font-weight: bold;
}
.p_passporttype #qu_1 {
  width: 145px;
  overflow: hidden;
  padding-left: 26px;
  text-align: center;
  float: left;
  line-height: 35px;
}
.p_passporttype #qu_2 {
  width: 145px;
  overflow: hidden;
  padding-left: 138px;
  text-align: center;
  clear: both;
  line-height: 35px;
}
.p_passporttype #qu {
  text-align: center;
  line-height: 35px;
}
.p_passporttype .nin {
  text-align: right;
  font-weight: bold;
  display: block;
  width: 110px;
  float: left;
  padding-top: 10px;
}
.p_passporttype .tu {
  padding-left: 330px;
  padding-top: 30px;
}
.p_passporttype .contentnp input {
  outline: 0;
}
.p_passporttype .form-row-content {
  position: absolute;
  left: 140px;
  width: 360px;
}
.p_passporttype .card-container {
  float: left;
  width: 141px;
  text-align: center;
  margin: 0 20px 10px 0;
  position: relative;
}
.p_passporttype .photo-upload-container {
  display: table;
  width: 141px;
  height: 141px;
  padding-top: 2px;
  background: url(../images/user/photo-upload-bg.png) no-repeat;
}
.p_passporttype .photo-container {
  width: 137px;
  height: 137px;
  padding: 2px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.p_passporttype .photo-container img {
  max-width: 137px;
  max-height: 130px;
}
.p_passporttype .photo-btn-container {
  padding: 0;
  height: 30px;
  position: absolute;
  left: 32px;
  top: 54px;
  width: 77px;
}
.p_passporttype .photo-upload-btn {
  display: block;
  width: 77px;
  height: 28px;
  margin: 0 auto;
  cursor: pointer;
  background: url(../images/user/btn/photo-upload.png) no-repeat;
}
.p_passporttype .has-photo .photo-upload-btn {
  background-image: url(../img/btn/photo-change.png);
  display: none;
}
.p_passporttype .upload-row {
  position: relative;
}
.p_passporttype .span-error {
  color: #cd1233;
}
.p_passporttype .upload-row .span-error {
  display: block;
  position: absolute;
  top: 300px;
  left: 460px;
}
.p_passporttype .hidden-file-input {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
