/*注册_着陆页*/
.p_user_register { background: #FFF; }
.p_user_register .ui-form .er-icon, .p_user_register .ui-form .error-wrap { display: none; }
.p_user_register .color_green2 { color: #4c8c00 }
.p_user_register .reg-mid .reg-title { background-image: url(../images/user/reg_tit.png); background-repeat: no-repeat; width: 941px; height: 61px; margin: 0  auto; }
.p_user_register .reg-mid .first-tep { background-position: 0 0 }
.p_user_register .ui-form ul { margin-left: 40px; }
.p_user_register .ui-form ul li { margin-bottom: 21px; overflow: visible; }
.p_user_register .ui-form ul li .select_box ul li { margin-bottom: 0 }
.p_user_register .ui-form ul li.pwd-item .txt { width: 237px; padding-right: 38px; }
.p_user_register .ui-form .btn-w30 { padding: 12px 0 0 40px; }
.p_user_register .pwd-show, .p_user_register .pwd-hide { width: 25px; height: 20px; position: absolute; left: 249px; top: 12px; }
.p_user_register .pwd-show { background: url(../images/icon/eye_open.png); }
.p_user_register .pwd-hide { background: url(../images/icon/eye_close.png); }
.p_user_register .tel-ver label, .p_user_register .tel-ver .tel-btn, .p_user_register .tel-ver .txt { float: left; }
.p_user_register .tel-ver .txt { width: 173px; padding-left: 40px; }
.p_user_register .tel-ver .tel-btn { width: 117px; height: 34px; display: inline-block; border: 1px solid #bababa; line-height: 34px; background: url(../images/user/tel_butt.jpg); }
.p_user_register .graph-ver label, .p_user_register .graph-ver input.txt, .p_user_register .graph-ver .img-Veri, .p_user_register .graph-ver .refresh { float: left }
.p_user_register .graph-ver input.txt { width: 95px; }
.p_user_register .img-Veri { width: 94px; height: 34px; border: 1px solid #bababa; margin-left: 13px; }
.p_user_register .img-Veri img { width: 100%; height: 100%; cursor: pointer; }
.p_user_register .refresh { margin-left: 15px; color: #0088cc; cursor: pointer; line-height: 36px; }
.p_user_register .refresh:hover { text-decoration: underline; }
.p_user_register .ui-form .p2p-ui-checkbox span { cursor: pointer; }
.p_user_register .ui-form .p2p-ui-checkbox .error-wrap { margin-top: 0; margin-left: 71px; color: #cc1223; top: 27px; }
.p_user_register .btn-sub { border: none; background-color: transparent; background: url(../images/user/sub_reg.png) no-repeat 0 0; width: 290px; height: 46px; line-height: 46px; text-align: center; color: #FFF; font-size: 18px; }
.p_user_register .btn-sub:hover { background-position: -311px 0; }
.p_user_register .btn-sub:active { background-position: -622px 0; }
.p_user_register .w224 { width: 224px; }
.p_user_register .ipt-wrap { float: left; background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; height: 34px; line-height: 34px; font-size: 14px; }
.p_user_register .ipt-focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1); }
.p_user_register .ipt-focus .areacode { color: #333 }
.p_user_register .areacode { padding-left: 10px; float: left; color: #999; }
.p_user_register input.txt-tel { font-size: 14px; margin-left: 13px; float: left; display: block; border: none; color: #4f4e4e; float: left; height: 34px; line-height: 34px; width: 165px; }
.p_user_register input.txt-tel[type="password"]:focus, .p_user_register  input.txt-tel[type="text"]:focus { border-color: transparent; box-shadow: none }
.p_user_register .banner .w1100 { position: relative; }
.p_user_register .reg_bg { width: 365px; height: 437px; background: url(../images/user/reg_landing/reg_bg1.png) no-repeat; position: absolute; top: 158px; left: 50%; margin-left: 185px; }
.p_user_register .reg-mid { padding: 13px 0;}
.p_user_register .reg_com { margin-bottom: 7px; padding-right: 40px; }
.p_user_register .ui-form .error-wrap .e-arrow { display: none }
.p_user_register .select_box ul { left: 0; }
.p_user_register .select_box div { height: 38px; line-height: 38px; box-shadow: none; border-radius: 4px 0 0 4px; background-position: 58px 17px !important; width: 65px; padding: 0px 0px 0px 13px; }
.p_user_register .select_box ul { top: 41px; margin-left: 0px; }
.p_user_register .ui-form .txt { height: 28px;line-height: 28px; border-radius: 4px; width: 257px; }
.p_user_register .ipt-wrap { height: 38px; line-height: 38px; border-radius: 0 4px 4px 0; width: 204px !important; }
.p_user_register input.txt-tel { height: 38px; line-height: 38px; width: 150px; }
.p_user_register .img-Veri { border: none; height: 40px; margin-left: 10px; border-radius: 4px; width: 116px; }
.p_user_register .graph-ver input.txt { width: 128px; }
.p_user_register .ui-form ul li.pwd-item .txt { width: 232px !important; }
.p_user_register .btn-sub { background: #DB523F; width: 288px; height: 46px; line-height: 46px; border-radius: 5px; }
.p_user_register .btn-sub:hover { background: #ff5f4e; }
.p_user_register .btn-sub:active { background: #e7402e; }
.p_user_register .ml70 { margin-left: 70px; color: #888888; }
.p_user_register .blue { color: #2ea7e0; }
.p_user_register .grey { color: #888888; cursor: pointer; margin-left:-30px;}
.p_user_register .pr10 { padding-right: 10px; }
.p_user_register .pl10 { padding-left: 10px; }
.p_user_register .ui-form .er-icon { margin: 9px 0 0 10px; }
.p_user_register .ui-form .pwd-item .er-icon { margin: 0; float: none; position: absolute; top: 41px; left: 0; }
.p_user_register .ui-form .error-wrap { margin: 0; position: absolute; float: none; border: none; padding: 0; top: 45px; z-index: 1; width: 284px; background: #fff; }
.p_user_register .ui-form .error-wrap .e-text { margin-left: 22px; }
.p_user_register .pass-item-tip-password { left: 0; top: 47px; }
.p_user_register .pass-item-tip-password .pwd-checklist { border: none; background: #FFF; width: 130px; margin-left: 0 !important; padding: 0; }
.p_user_register .pass-item-tip-password .safety-level span.process { width: 35px; height: 15px; text-align: center; line-height: 15px; font-size: 12px; color: #fff; margin-right: 3px; background: #dcdcdc; }
.p_user_register .pass-item-tip-password .safety-level span.low { background: #f14335; }
.p_user_register .pass-item-tip-password .safety-level span.middle { background: #fba352; }
.p_user_register .pass-item-tip-password .safety-level span.high { background: #6ab225; }
.p_user_register .ui-form .error-wrap { font-size: 12px; }
.p_user_register .p2p-ui-checkbox .check-normal { background-image: url(../images/common/uncheckbox.png); background-position: 0px 0px; }
.p_user_register .p2p-ui-checkbox .check-select { background-image: url(../images/common/checkbox.png); background-position: 0px 0px; }
.p_user_register .ui-form .p2p-ui-checkbox { margin: 10px 0 0; position: relative; }
.p_user_register .ui-form .p2p-ui-checkbox a.check-normal { width: 18px; height: 18px; vertical-align: -4px; }
.p_user_register .p2p-ui-checkbox .check-normal:hover { background-image: url(../images/common/uncheckbox_hover.png); background-position: 0px 0px; }
.p_user_register .p2p-ui-checkbox .check-select:hover { background-image: url(../images/common/checkbox_hover.png); background-position: 0px 0px; }
.p_user_register .pass-item-tip-password .pwd-checklist .safety-level { margin-bottom: 0; line-height: 15px; }
.p_user_register .banner { height: 500px; background: url(../images/user/reg_landing/banner1.jpg) center top no-repeat; }
.p_user_register .fuli_01 { margin-top: 37px; }
.p_user_register .fuli_01_tit { height: 84px;  }
.p_user_register .fuli_01_cont { background: #f6f6f6; margin-top: 50px; padding: 50px 0 }
.p_user_register .fuli_01_cont ul li { width: 366px; height: 473px; float: left; margin-right: 10px }
.p_user_register .fuli_01_cont ul li:first-child { margin-left: -20px; }
.p_user_register .fuli_01_cont ul li:first-child+li+li { margin-right: -20px; }
.p_user_register .fuli_01_cont ul li .h347 { height: 347px; }
.p_user_register .fuli_01_cont ul li .tit { font-size: 30px; color: #333; padding-top: 52px; }
.p_user_register .fuli_01_cont ul li .tit .sub_tit { margin-top: 7px; }
.p_user_register .fuli_01_cont ul li .cont { color: #333; margin-top: 132px; line-height: 28px; }
.p_user_register .fuli_01_cont ul li .gray { color: #a8a8a8; }
.p_user_register .fuli_01_cont ul li .info .info_l { float: left; font-size: 26px; padding: 31px 0 0 70px; }
.p_user_register .fuli_01_cont ul li .info .info_r { float: right; width: 184px; font-size: 18px; padding-top: 13px; }
.p_user_register .about_us { margin-top: 60px; }
.p_user_register .about_us .tit { height: 83px; margin-bottom: 50px; }
.p_user_register .about_us .cont { height: 366px; margin-top: 70px; }
.p_user_register .about_us .au_txt { width: 564px; margin: 0 auto; font-size: 14px; }
.p_user_register .why_choose { margin-top: 78px; }
.p_user_register .why_choose .tit { height: 83px; }
.p_user_register .why_choose .cont { height: 194px; margin-top: 75px; margin-bottom: 30px; }
.p_user_register .why_choose .wc_txt ul li { float: left; }
.p_user_register .why_choose .wc_txt ul li:nth-child(1) { width: 350px; }
.p_user_register .why_choose .wc_txt ul li:nth-child(2) { width: 404px; }
.p_user_register .why_choose .wc_txt ul li:nth-child(3) { width: 346px; }
.p_user_register .why_choose .wc_txt ul li .wt_tit { font-size: 24px;text-align: center; }
.p_user_register .why_choose .wc_txt ul li .wt_cont { padding-left: 48px;  font-size: 14px; color: #929292; line-height: 24px; margin-top: 10px; }
.p_user_register .fuli_04 { margin-top: 56px; height: 548px; }
.p_user_register .fuli_05 { margin-top: 58px; height: 815px; }
.p_user_register .landing_btn { margin: 70px auto 0; padding-bottom: 50px; }
.p_user_register .landing_btn .ld_btn { display: inline-block; height: 55px; width: 284px; background: url(../images/user/reg_landing/but_reg1.jpg); border: none; }
.p_user_register .fuli_01_tit,.p_user_register .fuli_01_cont ul li:nth-child(1), .p_user_register .fuli_01_cont ul li:nth-child(2), .p_user_register .fuli_01_cont ul li:nth-child(3), .p_user_register .about_us .tit, .p_user_register .about_us .cont, .p_user_register .why_choose .tit, .p_user_register .why_choose .cont, .p_user_register .fuli_04, .p_user_register .fuli_05 { background: url(../images/user/reg_landing/loading1.gif) no-repeat center; }

/*底部*/
.m_footer_gray { background: #e8e8e8 }
.m_footer_gray .copyright { padding: 36px 0; text-align: center; font-size: 14px; color: #888888 }

/****注册页短信弹框****/

/*表单上浮错误提示*/
.error-box { width: 100%; min-height: 30px; margin-bottom: 7px }
.error-box .error-wrap { min-width: 146px; display: inline-block; *zoom: 1; *display: inline; color: #cc1223; font-size: 14px; background: #feefef; border: 1px solid #fe9898; line-height: 17px; padding: 5px 15px; position: relative; }

/*input text*/
.ipt-txt { background: #FFFFFF; border: 1px solid #bababa; border-radius: 4px; width: 134px; height: 43px; line-height: 44px; color: #4f4e4e; float: left; padding: 1px 13px; font-size: 14px; }
.ipt-txt:focus { color: #4f4e4e !important }

.w150 { width: 150px; }
.w155 { width: 155px; }
.weedialog.weebox_send_msg .dialog-content { padding-top: 10px }
.weebox_send_msg .wee-send .send-input { margin: 0 0 0 32px; position: relative; }
.weebox_send_msg .wee-send .send-input p { padding-bottom: 20px; }
.weebox_send_msg .btn-gray-h34, .btn-gray-h34:hover, .btn-gray-h34:active { background-image: url(../images/user/reg_sprite.png); background-repeat: no-repeat; display: inline-block; }
.weebox_send_msg .btn-blue-h34, .weebox_send_msg  .btn-gray-h34 { margin-left: 10px; color: #ffffff; width: 147px; text-align: center; height: 34px; line-height: 34px; font-size: 14px; background-color: transparent; border: none; }
.weebox_send_msg .btn-gray-h34, .weebox_send_msg .btn-gray-h34:hover, .weebox_send_msg .btn-gray-h34:active { background-position: 0 0; }
.weebox_send_msg .error-box .error-wrap2 { border: 1px solid #f9d147; background: #feffeb; margin-bottom: 10px; color: #666; padding: 10px 20px; margin: 0 -57px; width: 373px; }
.weebox_send_msg .w115 { width: 115px; }
.weedialog .dialog-title { background-image: none; background: #ffffff; }
.weedialog .dialog-ok { background: #ef4534; width: 154px !important; height: 40px !important; line-height: 40px !important; border-radius: 4px; }
.weedialog .dialog-ok:hover { background: #ff5f4e; }
.weedialog .dialog-ok:active { background: #e7402e; }
.weebox_send_msg .btn-blue-h34 { background: #ef4534; width: 142px; border-radius: 4px; margin-top: 6px; }
.weebox_send_msg .btn-blue-h34:hover { background: #ff5f4e; }
.weebox_send_msg .btn-blue-h34:active { background: #e7402e; }
.weedialog .dialog-header { background: #ffffff; }
.weedialog .dialog-ok span { background-image: none; height: 40px; line-height: 40px; float: none; }
.weedialog .dialog-button { padding-top: 40px; padding-bottom: 50px; }
.color_green { color: #4c9c00; }
.weebox_send_msg .btn-gray-h34 { background-image: none; background: #dadde2; width: 142px; border-radius: 4px; margin-top: 6px; }
.weebox_send_msg .btn-gray-h34:hover { background-image: none; background: #dadde2; width: 142px; border-radius: 4px; margin-top: 6px; }
.weedialog .dialog-close { background: url(../images/weebox/close_new.png) no-repeat; }
.weedialog .dialog-close:hover { background: url(../images/weebox/close_new_hover.png) no-repeat; }
.weebox_send_msg .btn-gray,.weebox_send_msg .btn-gray:hover,.weebox_send_msg .btn-gray:active{background: #dadee2}
.p_user_register .reg_tips_red{
  background: rgba(255, 248, 232, 0.85);
  border: 1px solid rgba(238, 70, 52, 0.35);
  border-radius: 2px;
  color: #EE4634;
  padding: 5px;
  margin: 15px 38px 0;
  opacity: 0.75;
  font-size: 12px;
}
.tips_icon{
  background: url(../images/common/th_icon.png) no-repeat left 1px; padding-left: 50px;font-size: 14px;
}

.weebox_protocol .dialog-button{
  display: block !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

/*公用样式*/
input[type="password"]:focus, input[type="text"]:focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1); }
