body ,.m_footer_gray{background: #F3F3F3 }
body {background: #F3F3F3 url(../images/user/reg_p2p_2008/b32.jpg) no-repeat center 100px;}
.ui-form {font-size: 16px;}
.p_user_register .reg_bg {background: none;background-color:#fff;width:730px;height:710px;border-radius: 10px;margin-left: -365px;}
.reg-mid {padding-top:30px;}
.top_part {height:200px;padding-top:30px;text-align: center;}
.top_part h3 {font-size: 30px;margin:10px 0;color:#666;font-weight: bold;letter-spacing:8px;}
.top_part h4 {font-size: 16px;}
.top_part h4 a {color:#FF6E57;}
.p_user_register .ui-form form > ul>li {width: 450px;margin:0 auto;height:75px;}
.p_user_register .ui-form .btn-w30 {text-align: center!important;}
.p_user_register .ml70 {width: 350px;margin:0 auto;}
.p_user_register .reg_tips_red {width: 300px;margin:0 auto;}
.select_box div {border: 0;}
.p_user_register input.txt-tel {border: 0;}
.ui-form .err-shadow {border-color: #ccc!important;box-shadow: inherit!important;}
.p_user_register .ipt-focus {box-shadow: inherit!important;}
.p_user_register .ui-form ul {margin-left:0;}
.p_user_register .ipt-wrap {border:0;border-bottom :1px solid #ccc;width:300px !important;border-radius: 0;}
.p_user_register .select_box div {border-bottom :1px solid #ccc;border-radius: 0;}

.icon_div {width:21px;height:32px;background: url(../images/user/reg_p2p_2008/i7.jpg) no-repeat 0 center;margin:8px 20px 0 0;}
.ui-form .txt {border: 0;border-bottom :1px solid #ccc;}
.ui-form .err-shadow:focus {border-color: #656565!important;box-shadow: inherit!important;}
#pwd-item {background: url(../images/user/reg_p2p_2008/i10.jpg) no-repeat 0 10px;padding:0px 0px 0 40px;margin-left:141px;}
.p_user_register .ui-form ul li.pwd-item .txt {width:327px!important;border-radius: 0;}
.p_user_register .pwd-show {left:386px;}
.p_user_register .ui-form .error-wrap {top:45px;left:41px;}
#graph-ver {background: url(../images/user/reg_p2p_2008/i12.jpg) no-repeat 0 10px;padding:0px 0px 0 40px;margin-left:141px;}
.p_user_register .ui-form .txt {border-radius: 0;}
.p_user_register .btn-sub, .p_user_register .btn-sub:hover {background: url(../images/user/reg_p2p_2008/20180704193316.png) no-repeat;width:346px;height:86px;background-color: transparent;}
.p_user_register .ui-form .btn-w30 {padding-left:0;padding-top:38px;padding-bottom: 50px;}
.p_user_register .ui-form .p2p-ui-checkbox .error-wrap {left:109px;color:#EB634E;}
.p_user_register .blue {color:#FF6E57;}
.top_part {margin-bottom: 50px;}
.p_user_register .reg_tips_red {width:370px;background: none;border:0;text-align: center;color:#FF6E57;font-size: 16px;margin:15px auto;}
.p_user_register .pass-item-tip-password {left:42px;}
.p_user_register .select_box div {background-position: 54px 17px !important;}
.p_user_register input.txt-tel {margin-left:0;}
.ui-form .error-wrap {color:#EB634E;}
.p_user_register .graph-ver input.txt {width: 226px;}
.p_user_register .ui-form .p2p-ui-checkbox {margin-top:0;}

.p_user_register .p2p-ui-checkbox .check-normal,.p_user_register .p2p-ui-checkbox .check-normal:hover {background-image: url(../images/user/reg_p2p_2008/i26.jpg);width: 16px;height:16px;}
.p_user_register .p2p-ui-checkbox .check-select,.p_user_register .p2p-ui-checkbox .check-select:hover {background: url(../images/user/reg_p2p_2008/i23.jpg) no-repeat;width: 16px;height:16px;}
.p_user_register .ui-form .error-wrap .e-text {}
.p_user_register .ml70 {margin-left:182px;}
.p_user_register .grey { color:#888888; cursor: pointer;}
.p_user_register .ui-form .er-icon {margin:7px 0 0 -28px;}
.p_user_register .ui-form .pwd-item .er-icon {font-size: 12px;left:39px;}
.p_user_register .select_box ul {top:40px;left:41px;}
.p_user_register input.txt-tel[type="password"]:focus, .p_user_register input.txt-tel[type="text"]:focus {border-color:#656565 !important;}
.p_user_register input.txt-tel {width:292px;padding-left:8px;}
#graph-ver .er-icon {margin-left:-141px;}
input[type="password"]:focus, input[type="text"]:focus {border-color:#fff;box-shadow:0 0 0;border-bottom:1px solid #656565 !important;}