/*验证绑卡*/
.p_user_addbank{color:#4f4e4e}
.p_user_addbank .reg-mid{padding:40px 0 40px;min-height:403px;height:auto!important;height:403px;}
.p_user_addbank .gx{padding-bottom:17px;}
.p_user_addbank .gx .tit{margin-bottom:10px;display:block;}
.p_user_addbank .ui-form{margin-top:28px}
.p_user_addbank .ui-form .total-error{margin-bottom:28px;width:913px;text-align:center;}
.p_user_addbank  .gat{margin-left:12px;display:inline-block;*zoom:1;*display:inline;line-height:36px;}
.p_user_addbank .p2p-ui-checkbox span{cursor:pointer;}
.p_user_addbank .pad_left{padding-left:445px;}
.p_user_addbank #agreement_msg{color:#cc1223;}

/*ui-form*/
.p_user_addbank .ui-form { font-size: 14px; }
.p_user_addbank .ui-form ul { margin-left: 315px; }
.p_user_addbank .ui-form li { margin-bottom: 34px; overflow: hidden; position: relative; padding: 2px 0; }
.p_user_addbank .ui-form li label { font-size: 16px; display: block; float: left; height: 36px; line-height: 36px; padding-right: 18px; text-align: left; color: #4f4e4e; width: 100px; text-align: right; }
.p_user_addbank .ui-form .txt { background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; float: left; height: 24px; line-height: 24px; padding: 5px 13px; width: 262px; font-size: 14px; }
.p_user_addbank .ui-form .txt:focus{border-color: #f8684d;}
.p_user_addbank .ui-form .txt:focus { color: #4f4e4e; }
.p_user_addbank .ui-form .error-wrap { color: #cc1223; font-size: 14px; background: #feefef; border: 1px solid #fe9898; line-height: 17px; padding: 5px 10px; position: relative; }
.p_user_addbank .ui-form .error-wrap .e-arrow { position: absolute; width: 6px; height: 10px; display: inline-block; top: 9px; left: -6px; background-position: -29px -71px; }
.p_user_addbank .ui-form .error-wrap .ew-icon { float: left; height: 17px; }
.p_user_addbank .ui-form .ew-icon i, .p_user_addbank .ui-form .er-icon i { width: 17px; height: 17px; display: inline-block; }
.p_user_addbank .ui-form .er-icon, .p_user_addbank .ui-form .error-wrap { margin: 4px 0 0 12px; display: block; float: left}
.p_user_addbank .ui-form .er-icon span { line-height: 26px; margin-left: 8px; }
.p_user_addbank .ui-form .ew-icon i.icon-wrong { background-position: -67px -10px; }
.p_user_addbank .ui-form .er-icon i.icon-right { background-position: -95px -11px; float: left; margin-top: 5px; }
.p_user_addbank .ui-form .error-wrap .e-text { margin-left: 25px }
.p_user_addbank .ui-form .btn-w30 { padding-top: 14px; text-align: center; }
.p_user_addbank .ui-form .p2p-ui-checkbox { margin: 25px auto 52px; }
.p_user_addbank .ui-form .p2p-ui-checkbox a.check-normal { margin-right: 5px; *margin-right: 10px; vertical-align: -2px; *vertical-align: 1px; }
.p_user_addbank .ui-form .p2p-ui-checkbox .error-wrap { margin-top: -3px;  }
.p_user_addbank .ui-form .form-sprite { background-image: url(../images/icon/form_sprite.png); background-repeat: no-repeat; }
.p_user_addbank .ui-form .te-wrap { text-align: center; }
.p_user_addbank .ui-form .total-error {background: #feffeb; border: 1px solid #f9d147; display: inline-block; *zoom: 1; *display: inline; padding: 0 13px; height: 32px; line-height: 32px; min-width: 402px; }
.p_user_addbank .ui-form .total-error i { background-position: -125px -10px; vertical-align: -3px; *vertical-align: 1px; width: 17px; height: 17px; display: inline-block; margin-right: 10px; }
.edit-success {height: 43px; line-height: 43px;text-align: center;}
.edit-suc, .edit-fail { width: 43px; height: 43px; background-image: url(../images/common/password_skin.png); display: inline-block; vertical-align: middle; margin-right: 10px;}
.edit-suc { background-position: 0 -49px; position:relative; top:-3px; }
.edit-fail { background-position: 0 0; position:relative; top:-3px;  }
.error_text {text-align: center;margin-top: 30px;font-size: 16px;}
.font24{font-size: 24px;}
.p_user_addbank .ui-form .txt-select {background: #FFFFFF;border: 1px solid #bababa;color: #4f4e4e;float: left;height: 40px;line-height: 24px;padding: 5px 13px;width: 290px;font-size: 14px;}
.p_user_addbank .ui-form .er-icon, .p_user_addbank .ui-form .error-wrap{display: none;}
.p_user_addbank .error_text {text-align: center;margin-top: 10px;font-size: 16px; line-height: 27px;}
.p_user_addbank .edit-success{ margin-top: 0px;padding-top: 10px;margin: auto;}
