/*验证绑卡*/
.p_user_addbank{color:#4f4e4e}
.p_user_addbank .reg-mid{padding:40px 0 40px;min-height:403px;height:auto!important;height:403px;}
.p_user_addbank .gx{padding-bottom:17px;}
.p_user_addbank .gx .tit{margin-bottom:10px;display:block;}
.p_user_addbank .ui-form{margin-top:28px}
.p_user_addbank .ui-form .total-error{margin-bottom:28px;width:913px;text-align:center;}
.p_user_addbank  .gat{margin-left:12px;display:inline-block;*zoom:1;*display:inline;line-height:36px;}
.p_user_addbank .p2p-ui-checkbox span{cursor:pointer;}
.p_user_addbank .pad_left{padding-left:445px;}
.p_user_addbank #agreement_msg{color:#cc1223;}
