.p_user_comreg .ui-box .r-menu { float: right; font-size: 14px; margin-right: 15px; }
.p_user_comreg .ui-box .reg-mid{padding:55px 116px 150px 116px;}
.p_user_comreg .ui-box .reg-mid .reg-title {margin-top:40px;background: url(../images/user/company_tit.png);width: 865px;height: 60px;}
.p_user_comreg .ui-box .reg-mid .reg-cont{margin-top: 40px;}    
.p_user_comreg .ui-box .reg-mid .reg-cont .tit{padding-bottom: 20px; ;}    
.p_user_comreg .ui-box .reg-mid .reg-cont .line{width:100%;height:1px;background: url(../images/common/bg_line.png) repeat-x;}    
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl{line-height: 32px}
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl dt{width: 142px;float: left;}
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl dd ul li{float: left;}
.p_user_comreg .ui-box .reg-mid .reg-cont .com-info dl dd{width: 724px;float: left;}
