@charset "utf-8";
body {background:#fff;}
.main {width:1200px;}
.icon-finyear {cursor: pointer;}
.p_index_bg {background: url(../../images/index/5@2x.png) no-repeat 0 0 ;height:990px;}

.p_index .banner_slide ul.banner_view ,.p_index .banner_slide,.p_index .banner_slide ul.banner_view li {height:660px;}
.p_index .banner_slide ul.banner_view li {background-size: cover;}

.infor_list {background: #fff url(../../images/index/25@2x.png) no-repeat left center ;}
.infor_list li {float:left;width:280px;height:130px;line-height:25px;padding-right:20px;padding-top:35px;background: url(../../images/index/26@2x.png) no-repeat right center;  }
.infor_list li div {text-align: center;padding-top:40px;}
.infor_list li h5 {font-size:16px;}
.infor_list li h6 {font-size:18px;}
.infor_list .bg1 div {background: url(../../images/index/bi-data@2x.png) no-repeat center 0; }
.infor_list .bg2 div {background: url(../../images/index/cdp-data@2x.png) no-repeat center 0; }
.infor_list .bg3 div {background: url(../../images/index/graphanalytics-data@2x.png) no-repeat center 0; }
.infor_list .bg4 div {background: url(../../images/index/sc-data@2x.png) no-repeat center 0; }
.infor_list .bg2 {background-image: url(../../images/index/27@2x.png); }
.infor_list .bg3 {background-image: url(../../images/index/28@2x.png); }
.infor_list .bg4 {background-image: url(../../images/index/25@2x.png); }

.station_intro {height:100px;margin:25px 0 70px;padding-left:300px;background: url(../../images/index/54@2x.png) no-repeat left center;padding-top:20px; }
.station_intro h5 {width:632px;line-height:30px;font-size:16px;}
.station_intro .fr {width:100px;height:40px;border:1px solid #ccc;border-radius: 20px;margin-top:20px;font-size:16px;line-height: 40px;text-align: center;}
.station_intro .fr:hover {background: #FC7F0C;color:#fff;border: 0;}

.group-summary {padding-top:30px;padding-bottom:70px;}
.group-summary .title {text-align: center;margin:56px 0 21px;}
.history #year div ul li.cur {color:#FC7F0C;}
.history #year a.prev.cur { }
.history #year a.prev { }
.history #year a.next.cur {background-image: url(../../images/index/@2x1.png);}

.infor_descrip {border-top: 1px solid #F57A10;}
.infor_descrip dl {width: 600px;margin:55px auto 0;font-size: 16px;color:#333;}
.infor_descrip dt ,.infor_descrip dd {float:left;}
.infor_descrip dt {width:150px;height:50px;background: url(../../images/index/8@2x.png) no-repeat right center;font-size: 48px;color:#FC7F0C;text-align: center;line-height:50px;}
.infor_descrip dt span {font-size: 32px;position: relative;top:-11px;}
.infor_descrip dd {padding-left:28px;width:400px;height:70px;overflow: hidden;}
.history #content .txt {background: none;}
.history #content {margin-top:80px;}
.history #content:before {background: none;}

.p_index_bg2 {background: url(../../images/index/32@2x.png) no-repeat center ;height: 485px;padding-top:70px;}
.p_index_bg2 ul {margin-left:100px;color:#fff;}
.p_index_bg2 ul li{width:12px;float:left;font-size:12px;margin-right:20px;line-height: 15px;}
.p_index_bg2 h4 {margin-left:95px;}
.p_index_bg2 h5 {width:63px;height:245px;background: url(../../images/index/1@2x.png) no-repeat 0 0;}
.p_index_bg2 h6 {width:610px;text-align: right;font-style: italic;border-bottom: 1px solid #fff;color:#fff;float:right;font-size: 30px;margin-top:30px;letter-spacing: 20px;padding-bottom:8px;background: url(../../images/index/2324@2x.png) no-repeat right 0;height:40px;}

.main_part1 {padding:80px 0  40px;min-height:300px;background: #fff;background: url(../../images/index/355@2x.png) no-repeat 100px 80px;font-size: 24px;}
.main_part1 .infor{width:710px;border:5px solid #FFC61A;min-height: 150px;border-radius: 30px;text-align: center;margin:0 auto;color:#333;padding-top:15px;}
.main_part1 .infor h4 span {color:#F75938;font-size: 30px;}
.main_part1 .infor h4 em {color:#F75938;}
.main_part1 .infor h3 {margin-top: 20px;}
.main_part1 .infor h4 {}
.main_part1 .xinzai {width:103px;height:72px;background: url(../../images/index/40@2x.png) no-repeat 0px 0px;margin:0 auto;position: relative;top:46px;}
.main_part1 .invest_btn a {display: block;width:508px;height:65px;border-radius: 30px;background: #F75938;line-height: 65px;text-align: center;color:#FFF4D3;margin: 41px auto;}
.main_part1 .invest_btn a:hover {background: #dc4a2b;}
.main_part1 span.fr {margin-top:262px;font-size:16px;}
.main_part1 span.fr em a {color:#FC7F0C;}

.main_part2 {padding:50px 0 20px;border-top:2px solid #e6e6e6; background: url(../../images/index/551@2x.png) no-repeat center 70px;}
.main_part2 .nav_menu {width:366px;margin: 147px auto 80px;}
.main_part2 .nav_menu .j_index_tab_container{width:120px;float:left;height: 35px;}
.main_part2 .nav_menu li {cursor:pointer;float:left;color:#333;font-size:18px;height:35px;line-height:35px;width: 120px;text-align: center;}
.main_part2 .nav_menu .current {border:1px solid #FC7F0C;color:#FC7F0C;}
.main_part2 .ui_product_tab .p2p_product:first-child {background: none;}
.ui_product_tab .deal_more {line-height: 100px;color:#999;font-size:16px;}

.p_index_bg3 {margin-top:30px;background: url(../../images/index/45@2x.png) no-repeat center 0;padding:50px 0;height:403px;}
.p_index .partner .title {height:auto;text-align: center;background: none;border:0;margin-bottom: 20px;}
.p_index .partner ul li {background: none;}
.p_index .partner ul li a span {border:0;}

.p_index .partner ul li a {width:222px;height:116px;border:1px solid  #474747;border-radius:0;}

.p_index .partner ul li a span {width:222px;height:116px;}

.p_index .scrollDiv {width:1098px!important;height:300px!important;margin-left:14px;}
.p_index .partner ul li {width:1078px;height:300px;}
.p_index .left_but , .p_index .right_but ,.p_index .left_but:hover , .p_index .right_but:hover {background: url(../../images/index/@2x.png) no-repeat 0 0;width:16px;height:30px;}
.p_index .right_but {background-image: url(../../images/index/2342@2x.png);}
.p_index .left_but:hover {background-image: url(../../images/index/3333@2x.png);}
.p_index .right_but:hover {background-image: url(../../images/index/@2x1.png);}
.p_index .partner ul li a span:hover {border:0;}
.p_index .partner ul li a:hover {border:1px solid #fc7f0c}
.ui_product_tab .deal_more a , .dev_see_more {font-size:16px;color:#999;width:130px;height:40px;display: inline-block;border-radius: 20px;border:1px solid #ccc;line-height: 40px;text-align: center;}
.ui_product_tab .deal_more a:hover , .dev_see_more:hover{background: #FC7F0C;color:#fff;border: 0;}
.history #pic {margin-top:30px;}
.p_index .slide_pager_r li {width: 30px;height:6px;}
.p_index .slide_pager_r li.active {background-color:#FC7F0C;}
.p_index .slide_pager {bottom: 30px;}
.p_index .slide_pager_l ,.p_index .slide_pager_r{background: none;}

.m_header .logo_text {margin-left: 8px;}

.history #pic ul li.sibling , .history #pic ul li.sibling2{opacity: 0.5;}

.m_footer .logo{background: url(../../images/index/blogo@2x.png) no-repeat 0 0;width:105px;height:38px;}


.p_index .partner ul {height: 300px;width:20000px;overflow: hidden;}
.ui_product_tab .deal_more {border-top:0;}
.m_footer .f_center ul a {line-height: 30px;}
.m_footer > .clearfix {padding-top: 32px;}
