@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none; border:none; border-radius:0;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5  arial, "Microsoft YaHei";}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color: #333;	}
body{ background-color:#F5F5FA; overflow-x:hidden;}
a{ color:#5ca9e4;text-decoration:none;} 
/* ==|== MOBILE SET======================= */
/*POSITION*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
/*MARGIN & PADDING*/
.mb20{margin-bottom:20px;}
.mt7{margin-top:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml40{margin-left:40px;}
.mb10{margin-bottom: 10px;}
.pl10{padding-left:10px;}
.pt5{padding-top: 5px;}
.pt15{padding-top: 15px;}
.pt25{padding-top:25px;}
/*blank*/
.blank20,.blank30{display: block;width: 100%;clear: both;}
.blank20{height: 20px;}
.blank30{height: 30px;}
/*COLOR*/
.color_red{ color:#ee4634;}
.color_gray{ color:#8f8f8f;}
.red{color:#f7547e;}
.black{color:#000;}
.blue{color:#5ca9e4;}
.green{color:#3cb025;}
.gray{color:#909ba8;}
.gray2{color:#999;}
.pink{ color:#f94272;}

/*bg*/
 .bg-white{background-color: #fff}
/*float*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}

/*font*/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f15{ font-size:15px;}
.f20{ font-size:20px;}
.f23{ font-size:23px;}
.f24{ font-size:24px;}
.f28{ font-size:28px;}
/*width*/
.w35{width: 35px;}

/*去除浏览器默认复制链接*/
html,body{-webkit-touch-callout: none;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    body{padding-bottom: 34px;}
}
.ui_tips{ height:14px; line-height:14px; font-size:10px; color:#eb483b; border:1px solid #eb483b; padding:0 5px; display:inline-block; border-radius:7px; margin-right:5px;}
.ui_red_btn{ height:36px; background:#ee4634; display:block; margin:0 15px; border:0; border-radius:5px; font-size:17px; color:#fff; line-height:36px;}
.ui_red_btn:hover,.ui_red_btn:active{ color:#fff;}



/*o2o*/
.inp-box { border:1px solid #dadcdd; margin:0px 0px 8px; background:#fff; height:38px; line-height:38px; border-radius:5px; padding:0 8px;font-size:14px;}
.inp-box input{ border:none; font-size:13px; width:83%; height:40px;}
.ui_btn_box{ height:55px; background:#fff; position:fixed; width:100%; bottom:0px; border-top:1px solid #d9d9d9;}
.ui_h56{ height:56px;}
.btn_red{ margin:8px 15px 0; display:block; border:none; height:39px; line-height:39px; color:#fff; font-size:17px; border-radius:5px; background:#ee4634; text-align:center;}

.sc_top{ text-align: center;padding-top: 25px;margin-bottom: 20px;}
.sc_success{ display: inline-block;width:80px;height: 80px;background: url("../images/o2o/dh_success.jpg") no-repeat 0 0;background-size: cover;}
.sc_error{ display: inline-block;width: 100px;height: 100px;background: url("../images/o2o/dh_error.jpg") no-repeat 0 0;background-size: cover;}
.sc_top p{ font-size: 17px;color: #ee4634;margin-top: 20px;}
.sc_top h3{ font-size: 10px;color: #909090;margin-top: 10px;}
.sc_list{ background-color: #fff;border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;padding-left: 13px; margin-bottom:15px;}
.scl_show{ font-size: 13px;color: #8f8f8f;padding: 10px 0px;border-bottom: 1px solid #d9d9d9; }
.scl_show:last-child{ border:none;}


.scl_show span{ float: left;}
.scl_show p{ margin-left: 60px;text-align: right;color: #41474d;margin-right: 20px;word-wrap:break-word;}

.dis_border{ border-bottom: 0px;}

.ui_mask{position: fixed; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.5)}
.ui_alert_box{ width:290px; height:124px; border-radius:5px; background:#fff; position: fixed; top:50%; left:50%;  margin:-62px 0 0 -145px; text-align:center; line-height:124px; vertical-align:middle;}
.ui_alert_box .alert_con{ width:100%; display:inline-block;height: 100%;line-height:20px; font-size:14px;}
.ui_alert_box .alert_con h2{ font-size:17px; height:45px;line-height: 45px;}
.ui_alert_box .alert_con p{height:30px;}
.ui_alert_box .alert_con h3{ border-top:1px solid #d9d9d9;line-height: 45px;height: 45px;}
.ui_alert_box .alert_con a{color:#0079ff;}
.ui_tips,.ui_tips_gray{ height:14px; line-height:14px; font-size:10px; color:#eb483b; border:1px solid #eb483b; padding:0 5px; display:inline-block; border-radius:8px; margin-right:5px; position:relative; top:-2px;}
.ui_tips_gray{ border:1px solid #909090;color:#909090;}


/*银行卡列表*/
.ui_bank_list{ border-bottom:1px solid #d9d9d9; background:#fff; height:60px;padding:0 15px; position:relative;line-height:60px;}
.ui_bank_list .ui_bank_img{width:30px; height:30px; position: absolute; left:15px; top:15px; background:url(../images/icon/bank_icon.png) no-repeat 0 -510px; background-size: 30px auto;}
.ui_bank_list .ui_bank_img.ICBC { background-position: 0 0;}
.ui_bank_list .ui_bank_img.ABC { background-position: 0 -30px;}
.ui_bank_list .ui_bank_img.BOC { background-position: 0 -60px;}
.ui_bank_list .ui_bank_img.CCB { background-position: 0 -90px;}
.ui_bank_list .ui_bank_img.PSBC { background-position: 0 -120px;}
.ui_bank_list .ui_bank_img.CIB { background-position: 0 -150px;}
.ui_bank_list .ui_bank_img.PAB { background-position: 0 -180px;}
.ui_bank_list .ui_bank_img.CNCB { background-position: 0 -210px;}
.ui_bank_list .ui_bank_img.CGB { background-position: 0 -240px;}
.ui_bank_list .ui_bank_img.HXB { background-position: 0 -270px;}
.ui_bank_list .ui_bank_img.SPDB { background-position: 0 -300px;}
.ui_bank_list .ui_bank_img.BOB { background-position: 0 -330px;}
.ui_bank_list .ui_bank_img.CMB { background-position: 0 -360px;}
.ui_bank_list .ui_bank_img.CEB { background-position: 0 -390px;}
.ui_bank_list .ui_bank_img.CMBC { background-position: 0 -420px;}
.ui_bank_list .ui_bank_img.BOCOM { background-position: 0 -450px;}
.ui_bank_list .ui_bank_img.BOS { background-position: 0 -480px;}
.ui_bank_list .ui_bank_img.BOJ { background-position: 0 -510px;}
.ui_bank_list .ui_bank_img.NJCB { background-position: 0 -540px;}
.ui_bank_list .ui_bank_text{ vertical-align:middle; line-height:20px; display: inline-block; width:100%;}
.ui_bank_list .ui_bank_text h2,.ui_bank_list .ui_bank_text p{ margin-left:45px; margin-right:30px;}
.ui_bank_list .ui_bank_text h2{ font-size:15px;}
.ui_bank_list .ui_bank_icon{ position:absolute; right:15px; top:0px; height:60px; line-height:60px;}
.ui_bank_list .ui_bank_icon .ui_arrow{ vertical-align:middle; display:inline-block; margin-top:0px;}

.ui_bg_box{border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;  background:#fff;}
.ui_ipt{ margin-top:7px;border-bottom:1px solid #d9d9d9; padding:0 0px 10px;height:45px;  border-radius:3px; display: -webkit-box; }
.ui_input{height:45px; border-radius:3px; font-size:15px;display: block; -webkit-box-flex: 1;line-height: normal;background: url(../images/yeepay/icon_yuan.png) no-repeat 0 11px; background-size: 15px 20px; padding-left: 20px; font-size: 35px;}
.ui_disabled{background:#eee;border:1px solid #d9d9d9;}
.ui_disabled:hover{border:1px solid #d9d9d9;}
.ui-deal-btn { text-align: center; padding: 10px 15px; }
.ui_btn_red{ display:block; background:#ee4634; height:38px; color:#fff; font-size:18px; line-height:38px; text-align:center; width: 100%;}

html,body{
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*键盘UI*/
.key_bg{ position: absolute;top: 0px;left: 0px;width:100%;height:100%;z-index: 222;}
.key_ul ul{background-color: #f2f2f2;position: fixed;bottom: 0px;left: 0px;right: 0px; width: 75%;border: none;margin: 0;padding: 0;z-index: 999; height:0px; border-left:1px solid #d9d9d9; -webkit-transition:all 0.2s linear; overflow:hidden;}
.key_ul ul li{ float: left;width: 33%;text-align: center;list-style-type:none;height: 50px;line-height: 50px; border: 1px solid #d9d9d9;border-bottom: none;border-left: none;-webkit-box-sizing:border-box;}
.key_ul ul li:nth-child(3n){width:34%;}
.key_ul ul li span{color: #000;font-size: 18px;font-weight: bold;height: 100%;display:block;-webkit-user-select:none;}
.key_ul ul li span:hover{ background:#e1e1e6;}
.key_right{background-color: #f2f2f2; position: fixed;bottom: 0px;right: 0px; width: 25%;z-index: 999; height:0; -webkit-transition:all 0.2s linear; overflow:hidden;}
.key_del{ height: 99px;text-align: center;line-height: 100px;border: 1px solid #d9d9d9;border-bottom: none;border-left: none;}
.key_sure{height: 100px;text-align: center;line-height: 100px;color: #000;font-size: 18px;-webkit-box-sizing:border-box;}
.key_sure span{border-left:1px solid #d9d9d9;border-top:1px solid #d9d9d9;  }
.key_right span{height: 100%;display:block;}

/*输入框UI*/
.inp_main{ display: inline-block;width: 100%;font-size: 20px;min-width: 115px;min-height: 20px;line-height: 44px; height:44px}
.inp_text{ color: #cccccc;}
/*光标闪烁*/
.inp_main i{background: #41474d;width: 1px;height: 50%;display: inline-block;vertical-align: middle;margin-top: -4px;}
.inp_main i{animation: myfirst 1s infinite;-moz-animation: myfirst 1s infinite;-webkit-animation: myfirst 1s;}
@keyframes myfirst{ 0%   {background: #41474d;}50%  {background: #fff;}100% {background: #41474d;}}

/*公共配置*/
.disnone{ display: none!important;}
.tap_color{ background-color: #e5e5e5; color:#000;}
/*动画效果*/
.msg_show{ height: 50px!important;-webkit-animation:msgshow 0.1s;}
.msg_hide{ height: 0px;-webkit-animation:msghide 0.1s ;}
@keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-moz-keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-webkit-keyframes msgshow {0%{ height: 0px;}100%{height: 50px;}}
@-o-keyframes msgshow {0%{ height: 0px;}100%{height:50px;}}
@keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-moz-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-webkit-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
@-o-keyframes msghide {0%{ height: 50px;}100%{height: 0px;}}
/*重新定位提示框*/
.dit_txt { position: relative;}

.btn_show{ height: 100px!important;-webkit-animation:btnshow 0.1s ;}
.btn_hide{ height: 0px;-webkit-animation:btnhide 0.1s ;}
@keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-moz-keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-webkit-keyframes btnshow {0%{ height: 0px;}100%{height: 100px;}}
@-o-keyframes btnshow {0%{ height: 0px;}100%{height:100px;}}
@keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-moz-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-webkit-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}
@-o-keyframes btnhide {0%{ height: 100px;}100%{height: 0px;}}

.bg_hide,.bg_del{ width: 40%!important;height: 52%!important;display: inline-block;margin: 0 auto;}
.bg_del{background: url("../../v3.3/images/del.png") no-repeat 0 0;background-size: contain;margin-top: 35px;}
.bg_hide{background: url("../../v3.3/images/hide.png") no-repeat 0 0;background-size: contain;margin-top: 15px;}


.key_ul.show ul,.key_ul.show .key_right{height:200px;}

.key_del span{ border-left: 1px solid #d9d9d9;}

/*特殊样式*/
.btn_key{ font-size: 30px;color: #000;vertical-align: -3px;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .key_ul.show ul,.key_ul.show .key_right{height:234px;}
}
body{background:#F5F5FA;margin-bottom: 74px;}
.p_bespeak .b_header{background-color:#FFFFFF;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;padding:18px 15px;position:relative;font-family:微软雅黑;margin-top:10px;}
.p_bespeak .b_header .clock{background:url(../images/reservation/clock.png) no-repeat 0 5px;background-size:34px 36px;padding-left:48px;}
.p_bespeak .b_header .clock .yy{font-size:17px;color:#000000;}
.p_bespeak .b_header .clock .time{font-size:13px;color:#909090;}
.p_bespeak .red{color:#EE4634;}
.p_bespeak .btn_cont{position:absolute;top:26px;right:15px;}
.p_bespeak .btn_cont .btn{border-style:none;color:#FFFFFF;background-color:#EE4634;font-size:15px;padding:4px 7px;border-radius:3px;}
.p_bespeak .b_info{padding:14px 15px;background-color:#FFFFFF;font-size:15px;color:#000000;}
.p_bespeak .b_info div{margin-bottom:12px;}
.p_bespeak .b_info div.r_mb{margin-bottom:0;}
.p_bespeak .b_info div .gray{color:#909090;}
.p_bespeak .title{padding:10px 0 9px 15px;background-color:#FAFAFA;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;font-size:15px;margin-top:10px;color:#000000;}
.dialog .b_dialog{position:fixed;top:0;left:0;background-color:#000000;opacity:0.5;width:100%;height:100%;z-index:99;}
.dialog .cancel{background:#FCFCFC 80%;border-radius:12px;margin:0 auto;width:270px;position:fixed;top:50%;left:50%;margin-left:-135px;margin-top:-70px;z-index:100;text-align:center;padding:36px 0 0 0;}
.dialog .confirm{font-size:17px;font-family:微软雅黑;margin-bottom:32px;color:#030303;letter-spacing:-0.41px;}
.dialog .dialogBtn{border-top:1px solid #E6E6E6;}
.dialog .c_btn{float:left;width:50%;border-style:none;border-bottom-right-radius:12px;background-color:#FCFCFC;font-size:17px;color:#0076FF;padding:10px 0;outline:none;}
.dialog .d_btn{float:left;width:50%;border-style:none;border-bottom-left-radius:12px;border-right:1px solid #E6E6E6;background-color:#FCFCFC;font-size:17px;color:#0076FF;padding:10px 0;outline:none;}
.hide{display:none;}
.ui_reg_suc_icon,.ui_reg_fail_icon{background-image:url(../images/reservation/icon_reg.png);background-repeat:no-repeat;width:55px;height:55px;background-size:100%;display:inline-block;}
.ui_reg_suc_icon{background-position:0 -66px;}
.p_bespeak .load_more{text-align:center;padding-top:10px;padding-bottom:10px;}
.p_bespeak .load_more a{color:#5ca9e4;text-decoration:none;}
.empty_list{background:url(../images/reservation/icon2.png) center top no-repeat;background-size:118px 116px;height:42px;text-align:center;padding-top:135px;position:absolute;top:49%;margin-top:-95px;width:100%;color:#BFBFBF;font-size:15px;}
.empty_list p{font-size:15px;color:#909090;line-height:24px;}
.go_cont{padding-top:18px;}
.go_cont a{border:1px solid #1C82DE;border-radius:68px;background-color:#F5F5FA;padding:8px 30px;color:#1C82DE;}
.go_cont a.disabled_btn{border-color:#bfbfbf;color:#bfbfbf;}

/*****PC2017年随心约改版*****/
.p_bespeak .btn_cont .btn{background: white;color: #EE4634;border:1px solid #EE4634;}
.change_colo{color: #EE4634 !important;}
.try_again{position: fixed;bottom: 0px;left: 0px;width: 100%;height: 61px;background: white;border-top: 1px solid #E6E6E6;}
.reservation_btn{background: rgba(238,70,52,1);color: white;height: 40px;display: block;line-height: 40px;font-size: 16px;text-align: center;border-radius: 3px;width: 90%;position: absolute;left: 0px;top: 0px;right: 0px;bottom: 0px;margin:auto;margin-top: 10px;}
.reservation_btn.disabled_btn{background: #bfbfbf;}
.p_bespeak .btn_cont .btn{padding: 4px 8px;font-size: 14px;}
.go_cont a{border: 1px solid #EE4634;color: #EE4634;}
/***************end****************/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .reserve_next{padding-bottom: 34px;}
}

