.wrap{ margin:0px auto;}
.m-banner-app{ position:relative; border-bottom:4px solid #ff963a;}
.banner-app {
	height:214px;
}
.banner-app img{ height:214px;}
.btn_down{ position:absolute; width:215px; height:51px; top:153px; left:17.5%;}

.m-elements {
	padding:5px 9.5% 0;
	background:#ffffff;
}
.m-elements dl{ height:60px; padding:10px 0px;}
.m-elements dl dt{ width:58px; height:60px; float:left;}
.m-elements dl dd{ padding-left:73px;}
.m-elements dl dd h3{font-size:14px; font-weight:normal; padding-bottom:3px;}
.m-elements dl dd p{ font-size:12px; line-height:16px;}
.m-elements dl dt img{ width:100%}
.u-three {
	color:#4ca6df;
}
.u-two {
	color:#87ba26;
}
.u-one {
	color:#fea22a;
}
body {
	color:#7d8590;
	font-family:"微软雅黑";
}
a {
	color:#555;
	text-decoration:none;
}
*,ul,li{ padding:0px; margin:0px;}
li{ list-style:none;}
footer{ text-align:center; padding-bottom:20px;}
footer a{ color:#4ca6df;}
