.f33{font-size: 33px;}
.f16{font-size: 16px;}
.h120{height: 120px;}
.discount_box{ padding: 20px; margin-top: 50%;}
.discount_box_top{background: #fff;position: relative; border-radius: 5px 5px 0px 0px; padding: 15px 13px 1px;}
.discount_box_bottom{background: #fff; position: relative; border-radius: 0px 0px 5px 5px; padding-bottom: 25px;}
.line{background: url(../../images/discount_pick/line_left.png) no-repeat; background-size: 10px 10px; height: 10px; position: relative;}
.line_right{background: url(../../images/discount_pick/line_right.png) no-repeat right; background-size: 10px 10px; height: 10px; padding: 0 10px;}
.line_center{background: url(../../images/discount_pick/line_center.png) repeat-x; background-size: 10px 10px; height: 10px;}
.account{text-align: center;padding-bottom: 17px;}
.color_red{color: #fa4f47;}

.discount{height: 80px; margin-bottom: 15px;}
.discount dt{float: left;}
.discount dt{width: 100px; height: 70px;padding-top:10px; line-height: normal;text-align: center; padding-right: 10px;}
.discount dd{margin-left: 110px; height: 80px; padding-right:9px }

.discount dd .border{height: 76px; line-height: 76px; font-size: 12px;}
.discount dd .border .discount_con{vertical-align: middle; display: inline-block; line-height: 20px;width: 93%;}
.type_fanxian{color: #fa4f47;}
.type_fanxian dt{background: url(../../images/discount_pick/quan_left.png) no-repeat; background-size: 100%;}
.type_fanxian dd{background: url(../../images/discount_pick/quan_right.png) right no-repeat; background-size: 9px 80px;}
.type_fanxian dd .border{border-top: 2px solid #fdb0ac;border-bottom: 2px solid #fdb0ac; background: #ffeeed;}

.type_jiaxi{color: #2baee1;}
.type_jiaxi dt{background: url(../../images/discount_pick/quan_left1.png) no-repeat; background-size: 100%;}
.type_jiaxi dd{background: url(../../images/discount_pick/quan_right1.png) right no-repeat; background-size: 9px 80px;}
.type_jiaxi dd .border{border-top: 2px solid #6ac6ea;border-bottom: 2px solid #6ac6ea; background: #e7f6fc;}


.type_gold{color: #cca66f;}
.type_gold dt{background: url(../../images/discount_pick/gold_left.png) no-repeat; background-size: 100%;}
.type_gold dd{background: url(../../images/discount_pick/gold_right.png) right no-repeat; background-size: 9px 80px;}
.type_gold dd .border{border-top: 2px solid #cca66f;border-bottom: 2px solid #cca66f; background: #f7f2ea;}
.ui_share_box{background: rgba(255,255,255,0.9); height: 120px; position: fixed; width: 100%; bottom: 0px;
      left: 50%; z-index: 10;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
}

.give_suc_icon{background: url(../../images/discount_pick/Group.png) no-repeat center top; width: 53px; height: 53px; display: inline-block; background-size: 100%;margin-top: 15px; margin-bottom: 5px;}
.ui_share_box .reg_btn{margin: 10px 20px 0;}
.reg_btn{display: block;  background: #fa4f47;color: #fff; height: 45px; border-radius: 5px; margin-top: 10px; text-align: center;; line-height: 45px; font-size: 19px; margin-bottom: 20px;}
.reg_btn:hover{color: #fff;}
.ui_share_box .share_btn{display: block; margin: 0 20px;color: #fa4f47; height: 45px; border-radius: 5px; margin-top: 10px; text-align: center;; line-height: 43px; font-size: 19px; border: 1px solid #fa4f47;}
.discount_no_icon{background: url(../../images/discount_pick/discount_no.png) no-repeat center; padding-top: 28%; background-size:100%; margin: 10px 0 20px;}
.discount_old_icon{background: url(../../images/discount_pick/old.png) no-repeat center; padding-top: 28%; background-size:100%;margin: 0px 0 20px;}
