@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none; border:none; border-radius:0;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5  arial, "Microsoft YaHei";}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color: #333;	}
body{ background-color:#f2f2f2; overflow-x:hidden; color:#41474d;}
a{text-decoration:none; color:#41474d;} 
/* ==|== MOBILE SET======================= */
/*POSITION*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
/*MARGIN & PADDING*/
.plr15{padding: 0 15px;}
.mb20{margin-bottom:20px;}
.mt5{margin-top:5px;}
.mt7{margin-top:10px;}
.mt10{margin-top:10px;}
.mb10{ margin-bottom:10px;}
.mt15{margin-top:15px;}
.ml40{margin-left:40px;}
.mr10{margin-right:10px;}
.pl10{padding-left:10px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}
.pt25{padding-top:25px;}
.pr20{padding-right:20px;}
.p15{padding: 15px;}
.pl15{padding-left:15px;}
.pt10{ padding-top:10px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pb20{padding-bottom: 20px;}
.pb10{padding-bottom: 10px;}
.pr10{padding-right: 10px;}
/*blank*/
.blank20,.blank30{display: block;width: 100%;clear: both;}
.blank20{height: 20px;}
.blank30{height: 30px;}
/*COLOR*/
.red{color: #ee4634}
.red_v1{color:#ee4634;}
.blue{color:#5ca9e4;}
.blue2{color:#12b7f5;}
.blue_v1{ color:#4ba8ff;}
.green{color:#3cb025;}
.green_v1{ color:#469449;}
.gray{color:#909ba8;}
.gray2{color:#999;}
.gray3{color:#989898;}
.gray_v1{ color:#8f8f8f;}
.pink{ color:#f94272;}
.yellow{color: #f19200}
.black{color:#000;}
/*bg*/
.bg-white,.bg_white{background-color: #fff}
/*float*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
/*font*/
.f10{ font-size:10px;}
.f11{ font-size:11px;}
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f15{ font-size:15px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{ font-size:20px;}
.f21{font-size: 21px;}
.f23{ font-size:23px;}
.f28{ font-size:28px;}
.f38{font-size: 38px;}
/*width*/
.w35{width: 35px;}
.h51{ height:51px;}
.vmid{vertical-align: middle;}
.h60{height: 60px;}

