@charset "utf-8";
/*input disabled*/
input[type=button][disabled=disabled],input[type=submit][disabled=disabled]{color:#f3b7af; opacity:1;}
input[type=text][disabled=disabled],input[type=tel][disabled=disabled]{background-color:transparent;}

.common-sprite{background-image:url(../images/common/icon-common.png);background-repeat:no-repeat;display: inline-block;background-size: auto 68px;}
/*header*/
.m-head .m-head-fix { min-height: 40px; width: 100%; background-color: #fff; border-bottom: 1px solid #d9e1e8 }
.m-head .head_app { position: relative; background-color: #5ca9e4; height: 26px; line-height: 26px; padding: 8px 15px; color: #fff; }
.m-head .head_app a.down_btn { display: inline-block; width: 72px; height: 26px; background-color: #fff; color: #5ca9e4; text-align: center; text-decoration: none; border-radius: 13px; margin-left: 10px; }
.m-head .head_app span.close { position: absolute; right: 10px; top: 10px; width: 22px; height: 22px; background: url(../images/icon/icon_app_cha.png); background-size: 100% 100%; }
.m-head .logo_menu { background-color: #fff;color: #000; height: 40px; text-align: center; line-height: 40px; font-size: 16px; position: relative; }
.m-head .logo_menu .logo { position: absolute; top: 8px; left: 8px; width: 93px; height: 23px; background: url(../images/common/head_logo.png?v=20150615); background-size: 100% 100%; }
.m-head .logo_menu .menu { position: absolute; top: 6px; right: 8px; width: 27px; height: 27px; background: url(../images/common/menu.png); background-size: 100% 100%;   display: block;}
.m-head .logo_menu .top-memu { position: absolute; top: 0; right: 8px; font-size: 13px; }

/*head占位*/
.m-head .m-head-placeholder { height: 82px; }
.m-head.down_app_none .m-head-placeholder { height: 40px; }
.m-head.down_app_none .head_app { display: none; }

/*foot*/
.m-foot { padding: 10px 0; color: #8f8f8f; text-align: center; }
.m-foot a { color: #41474d; font-size: 16px; text-decoration: none; line-height: 30px; margin: 0 10px; }
.m-foot a.cur { color: #ee4634; }

/*none*/
.ui-none{display:none !important;}

/*ui-form*/
.ui-form .dl_center { margin: 0 0 20px 0; border-top: 1px solid #dadcdd;  }
.ui-form .dl_footer { text-align: center; margin-bottom: 20px; padding: 0 20px;}
.ui-form .dl_footer input { outline: none; border: none; background-color: #ee4634; border-radius: 30px; height: 40px; line-height: 40px; text-align: center; width: 98%; font-size: 15px; color: #fff; }
.ui-form .dl_footer input[disabled=disabled],input[disabled=disabled]{opacity:1;}
.ui-form .dl_footer input.btn-unsub { background: #d4d5d6; color: #9ea0a3; cursor: text; }
.ui-form .input-list { display: -webkit-box; padding: 0 15px; height: 40px; line-height: 40px; border-bottom: 1px solid #dadcdd; font-size: 15px; color: #333; margin: 0 auto;background: #FFF }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; }
.ui-form .input-list.bg-gray { background: #f5f5f5 }
.ui-form .input-list.bg-gray2 { background: #fafafa }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap input { border: none; width: 100%; height: 22px; font-size: 15px;line-height: 22px; padding: 9px 0}
.ui-form .input-list a.pwd-show{ margin-left: 15px;display: block;  }
.ui-form .input-list:last-child{border-bottom: none}
.ui-form .input-list .dl_yanzhengma{width: 140px;border-left: 1px solid #dadcdd}
.ui-form .dl_yanzhengma img { vertical-align: middle; width: 70px; height: 28px; overflow: hidden;margin: -5px 12px 0 7px;  }
/*验证样式*/
.ui-input-error{width:80%;text-align: center;position: fixed;bottom:0;left: 10%;height: 0; z-index: 999;}
.ui-input-error span{padding: 20px;background: rgba(0, 0, 0,0.75); border-radius: 5px;color: #FFF;font-size: 13px;display: inline-block;}
.ui-input-error.show{-webkit-transition:all 0.2s linear; bottom:24%;}

/*弹出层*/
.ui-popup-wrap { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); text-align: center; position: fixed; top: 0px; left: 0; z-index: 200; }
.ui-pop-box { width: 275px; position: absolute;  left: 50%;  margin-left: -137px; background: #FFF; border-radius: 5px; font-size: 15px; z-index: 201}
.ui-pop-box .pop-head { height: 34px; line-height: 34px;  margin: 0 10px; border-bottom: 1px solid #e6e6e6 }
.ui-pop-box .pop-head  h1 { color: #ee4634; text-align: center;}
.ui-pop-box .pop-body { padding: 12px 15px 20px; }
.ui-pop-box .pop-body .btn-wrap { text-align: center; margin-top: 12px; }
.ui-pop-box .pop-btn { width:100%;border-radius: 17px; height: 35px; line-height: 35px; display: inline-block; }
.ui-pop-box .btn-ok { background: #ee4634; color: #FFF }
.ui-popup-wrap-white{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0); text-align: center; position: fixed; top: 0px; left: 0; z-index: 205;}

/*提交样式*/
.ui-btn-subing { opacity: 0.5 !important; }

/*表格*/
.ui-datalist table { border: 1px solid #dadcdd; border-left: none; border-bottom: none; background: #FFF; text-align: center; }
.ui-datalist table thead tr th { color: #aaaeb5; }
.ui-datalist table tbody tr td { color: #586068 }
.ui-datalist table thead tr th, .ui-datalist table tbody tr td { border-left: 1px solid #dadcdd; border-bottom: 1px solid #dadcdd; height: 30px; line-height: 30px; }

 /*投资按钮*/
.btn-blue-h40{outline: none;display:inline-block; border: none; background-color: #5ca9e4; border-radius: 30px;  height: 40px; line-height: 40px;text-align: center;
 width: 100%; font-size: 15px; color: #fff;}
.btn-blue-h40:hover{color:#fff;}
.ui-deal-btn { text-align: center; padding: 10px 15px; background-color:#fff; border-top: 1px solid #dadcdd;border-bottom: 1px solid #dadcdd; margin-top:-1px;}
.ui-deal-detail-btn{position: fixed;bottom: 0px;  width: 100%; padding: 10px 0px;} 
.ui-deal-detail-btn .ui_btn_red{margin: 0 auto; width: 90%;}
.btn-red-h35,.btn-red-h40 { background: #ee4634; color: #fff; height: 35px; width: 100%; border: none; border-radius: 17px; font-size: 15px; display: inline-block; line-height: 35px; text-align: center; }
.btn-red-h40{ height:40px; line-height:40px; border-radius:20px;}
.btn-red-h40:hover{ color:#fff;}
.btn-red-h35:hover { color: #fff; }
.ui_tips_tag { background: #5ca9e4; display: inline-block; padding: 0 3px; color: #fff; border-radius: 3px; line-height: 20px; vertical-align: middle; position: relative; top: -2px; margin-right: 5px; }
.ui_status_hkz { background: url(../images/common/status_hkz.png) no-repeat; width: 41px; height: 41px; background-size: 100%; position: absolute; right: 5px; top: 5px; }
.ui_status_yhq { background: url(../images/common/status_yhq.png) no-repeat; width: 41px; height: 41px; background-size: 100%; position: absolute; right: 5px; top: 5px; }
.ui_status_tzz { background: url(../images/common/status_tzz.png) no-repeat; width: 41px; height: 41px; background-size: 100%; position: absolute; right: 5px; top: 5px; }
.ui_status_mb { background: url(../images/common/status_mb.png) no-repeat; width: 41px; height: 41px; background-size: 100%; position: absolute; right: 5px; top: 5px; }
.ui_btn_green, .ui_btn_blue { width: 137px; height: 40px; line-height: 40px; color: #fff; display: inline-block; border: 0px; border-radius: 20px; text-align: center; font-size: 15px; margin: 0 5px; }
.ui_btn_green { background: #94d67a; }
.ui_btn_blue { background: #69b1e9; }
.ui_load_more { text-align: center; }
.ui_load_more a { color: #ee4634; }
.ui_btn_h35 { color: #fff; width: 120px; height: 35px; line-height: 35px; border-radius: 3px; text-align: center; display: inline-block; font-size: 21px; }
.ui_btn_h26 { color: #fff; width: 78px; height: 26px; line-height: 26px; border-radius: 3px; text-align: center; display: inline-block; font-size: 14px; }
.ui_btn_red2 { background: #ee4634; }
.ui_btn_gray { background: #bfbfbf; }


/*新首页公共样式*/
.ui_title{ height:45px; text-align:center; font-size:18px; line-height:45px; background:#ee4634; position:relative; color:#fff;}
.ui_title a{ color:#fff; font-size:14px;}
.ui_title .ui_back,.ui_account_title .ui_back{ position:absolute; left:10px;}
.ui_icon_back{ background:url(../images/common/back.png) no-repeat; width:9px; height:20px; display:inline-block; background-size:9px 17px; margin:0 5px 0 0px; vertical-align:middle;}
.ui_account_title{height:45px; text-align:center; font-size:18px; line-height:45px; background:#fafafa;border-bottom: 1px solid #d9d9d9; color: #41474d;position:relative; }
.ui_account_title a{color:#41474d; font-size:14px;}
.ui_account_title .ui_icon_back{background:url(../images/account/back.png) no-repeat;background-size:9px 17px;}
.login_nav { height:50px; background:#fff; border-bottom:1px solid #e5e5e5; bottom:0px; width:100%; left:0px; border-top:1px solid #e5e5e5; z-index:11;}
.login_nav .ui_btn span{ width:50%; display:inline-block; float:left;}
.login_nav .ui_btn .login_btn , .login_nav .ui_btn .register_btn, .btn_charge,.btn_carry,.ui_btn_red{ display:block; background:#ee4634; height:38px; color:#fff; font-size:18px; line-height:38px; text-align:center; border-radius:3px;}
.ui_btn_red{ width:100%;}
.login_nav .ui_btn .login_btn ,.btn_charge{margin:6px 7px 0 10px;}
.login_nav .ui_btn .register_btn ,.btn_carry{margin:6px 10px 0 7px;}

.m_footer { height: 120px; background: #FFF; }
.m_footer p { text-align: center; color: #999; line-height: 20px; font-size: 13px; }
.m_footer .f_nav { width: 212px; margin: 0 auto; padding: 15px 0 10px; }
.m_footer .f_nav li { display: block; width: 89px; height: 23px; line-height: 23px; text-align: center; border: 1px solid #06a0dc; border-radius: 5px; float: left; }
.m_footer .f_nav li:first-child { margin-right: 29px; }
.m_footer .f_nav li a { color: #06a0dc; font-size: 15px; }

.m_nav{ height:50px; background:#f8f8f8; position:fixed;bottom:0px; width:100%; left:0px; border-top:1px solid #d9d9d9; z-index:11;opacity: 0.95 }
.m_nav li{ float:left; width:50%; text-align:center; position: relative;}
.m_nav li .medal_pro{ position: absolute; top:-47px; background: rgba(0,0,0,0.8); padding: 5px 10px; border-radius: 3px;color: #fff; left: 50%; margin-left: -45px;}
.m_nav li .medal_pro .arrow_left{width: 0px; height: 0px;border-left: 5px solid rgba(64, 64, 64, 0.0);border-right: 5px solid rgba(64, 64, 64, 0.0);border-top: 5px solid rgba(0,0,0,0.8); position: absolute; bottom: -5px; left: 50%; margin-left: -8px;}
.m_nav li a{ color:#808080; display:block;}
.m_nav li.active a{ color:#ee4634;}
.m_nav li .icon_home,.m_nav li .icon_list,.m_nav li .icon_my{ background-image:url(../images/index/nav_icon.png?v=20160107); background-repeat:no-repeat;width:25px; height:25px;  background-size: auto 171px;  display:block; margin:4px auto 2px;}
.m_nav li .icon_home{ background-position:0px -30px;}
.m_nav li.active .icon_home{background-position:0px 0px;}
.m_nav li .icon_list{ background-position:0px -91px;}
.m_nav li.active .icon_list{background-position:0px -60px;}
.m_nav li .icon_my{ background-position:0px -149px;}
.m_nav li.active .icon_my{background-position:0px -119px;}

/*查看更多*/
.ui_deal_more{ height:42px; line-height:42px; background:#fff; border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5; margin-bottom:10px; padding:0 15px; text-align:center;}
.ui_deal_more a{ display:block; color:#565656; font-size:15px;position:relative; }

.ui_register{ padding-bottom:15px;margin:0 15px;}
.ui_register .form_box{background:#fff; border-radius:5px; margin:10px auto 20px; border:1px solid #dbdbdb;}
.ui_reg_input{ height:44px;border:none;border-radius:5px; font-size:15px; width:100%;}
.ui_tel_tips{ float:left; border-right:1px solid #dbdbdb; height:45px; line-height:45px; color:#000; font-size:15px; width:40px;}
.ui_tel_input{ margin-left:55px;}
.ui_register .border_b{padding:0 18px; border-bottom:1px solid #dbdbdb;}
.ui_register .disable,.ui_register .disable .ui_reg_input{ background:#eeeeee;}
.ui_register .border_b:last-child{ border-bottom:none;}
.ui_register .no_border{ border:none;}
.ui_register .yz_box{ border-right:1px solid #dbdbdb; margin-right:115px;}
.ui_register .yz_img{ float:right; line-height:44px; width:115px; text-align:center;}
.ui_register .yz_img img{ vertical-align:middle;}
.reg_btn,.ui_register .reg_disabled_btn{ width:270px; height:45px; border:none; text-align:center; border-bottom:2px solid #f0a21a; border-radius:5px; background:#fffd74; color:#a6651f; margin:0 auto 10px; display:block; font-size:18px; font-weight:bold; line-height:45px;}
.ui_register .reg_disabled_btn{ background:#fffeaf; color:#eda63b;}
.ui_register .reg_finish_btn{ height:40px; width:100%; line-height:40px; color:#fff; background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c; display:block; text-align:center;}
.ui_register .reg_finish_btn_dis{ color:#fc9e97;}

.ui_reg_dialog{ width:100px; height:100px; line-height:100px; position: fixed; left:50%; top:50%; margin:-50px 0px 0px -50px; background-color: rgba(0, 0, 0, 0.75); border-radius:5px; text-align:center;}
.ui_reg_dialog p{ font-size:14px; color:#fff; padding-top:5px;}
.ui_reg_suc_icon,.ui_reg_fail_icon{ background-image:url(../images/common/icon_reg.png); background-repeat:no-repeat; width:38px; height:39px; background-size:100%; display: inline-block;/**/}
.ui_reg_suc_icon { background-position:0 -45px;}
.ui_reg_fail_icon{ background-position:0 0px;}
.ui_icon_arrow{ background:url(../images/common/icon_arrow.png) no-repeat; height:10px; width:6px; background-size:6px 10px; display:inline-block; vertical-align:middle; position:absolute; right:0px; top:17px;}


.ui_account{ background:#fff; border-bottom:1px solid #e5e5e5; text-align:center; font-size:15px; padding:10px;}
.ui_bg_box{border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;  background:#fff;}

.ui_tab_nav{ height:45px;border-bottom: 1px solid #d9d9d9; background:#fff;}
.ui_tab_nav li{ float:left; text-align:center; line-height:42px; font-size:15px;}
.ui_tab_nav li span{display: inline-block;}
.ui_tab_nav li.select span{ border-bottom:3px solid #ee4634; color:#ee4634;}
.ui_tab_nav li.select a{color:#ee4634;}
.ui_tab_nav li a{ display:block; height:42px;}
.ui_tab_num2 li{ width:50%;}
.ui_tab_num3 li{ width:33.3%;}
.ui_tab_num4 li{ width:25%;}

.ui_con_jl{border-bottom: 1px solid #d9d9d9; height:60px; line-height:60px; position:relative; background:#fff;}
.ui_con_jl:last-child{ border-bottom:none;}
.ui_con_danbao{ padding:15px}
.ui_con_danbao table{ width:100%;}
.ui_con_danbao img{ width:100%;}
.ui_con_jl dt{line-height:20px; display:inline-block; vertical-align:middle; width:100%;}
.ui_con_jl dt p{ padding-left:15px; padding-right:130px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ui_con_jl dd{line-height:20px; position:absolute; height:60px; line-height:60px; right:15px; top:0px; text-align:right;}
.ui_con_jl dd p{}
.ui_middle{ display:inline-block; vertical-align:middle; line-height:20px;}

.ui_ipt{ margin-top:7px;border:1px solid #d9d9d9; padding:0 15px;height:45px;  border-radius:3px; display: -webkit-box;}
.ui_ipt:hover{border:1px solid #00abf3;}
.ui_input{height:45px; border-radius:3px; font-size:15px;display: block; -webkit-box-flex: 1;line-height: normal;}
.ui_disabled{background:#eee;border:1px solid #d9d9d9;}
.ui_disabled:hover{border:1px solid #d9d9d9;}

.ui_arrow { background: url(../images/account/arrow.png) no-repeat right center; background-size: 100%; display:block; width:7px; height:13px; margin-top:16px;}


/*银行卡列表*/
.ui_bank_list{ border-bottom:1px solid #d9d9d9; background:#fff; height:60px;padding:0 15px; position:relative;line-height:60px;}
.ui_bank_list .ui_bank_img{width:30px; height:30px; position: absolute; left:15px; top:15px; background:url(../images/icon/bank_icon.png) no-repeat 0 -510px; background-size: 30px auto;}
.ui_bank_list .ui_bank_img.ICBC { background-position: 0 0;}
.ui_bank_list .ui_bank_img.ABC { background-position: 0 -30px;}
.ui_bank_list .ui_bank_img.BOC { background-position: 0 -60px;}
.ui_bank_list .ui_bank_img.CCB { background-position: 0 -90px;}
.ui_bank_list .ui_bank_img.PSBC { background-position: 0 -120px;}
.ui_bank_list .ui_bank_img.CIB { background-position: 0 -150px;}
.ui_bank_list .ui_bank_img.PAB { background-position: 0 -180px;}
.ui_bank_list .ui_bank_img.CNCB { background-position: 0 -210px;}
.ui_bank_list .ui_bank_img.CGB { background-position: 0 -240px;}
.ui_bank_list .ui_bank_img.HXB { background-position: 0 -270px;}
.ui_bank_list .ui_bank_img.SPDB { background-position: 0 -300px;}
.ui_bank_list .ui_bank_img.BOB { background-position: 0 -330px;}
.ui_bank_list .ui_bank_img.CMB { background-position: 0 -360px;}
.ui_bank_list .ui_bank_img.CEB { background-position: 0 -390px;}
.ui_bank_list .ui_bank_img.CMBC { background-position: 0 -420px;}
.ui_bank_list .ui_bank_img.BOCOM { background-position: 0 -450px;}
.ui_bank_list .ui_bank_img.BOS { background-position: 0 -480px;}
.ui_bank_list .ui_bank_img.BOJ { background-position: 0 -510px;}
.ui_bank_list .ui_bank_img.NJCB { background-position: 0 -540px;}
.ui_bank_list .ui_bank_text{ vertical-align:middle; line-height:20px; display: inline-block; width:100%;}
.ui_bank_list .ui_bank_text h2,.ui_bank_list .ui_bank_text p{ margin-left:45px; margin-right:30px;}
.ui_bank_list .ui_bank_text h2{ font-size:15px;}
.ui_bank_list .ui_bank_icon{ position:absolute; right:15px; top:0px; height:60px; line-height:60px;}
.ui_bank_list .ui_bank_icon .ui_arrow{ vertical-align:middle; display:inline-block; margin-top:0px;}

/*记录列表*/
.ui_plan_title{ height:25px; line-height:25px; color:#8f8f8f;border-bottom:1px solid #d9d9d9; padding:0 15px;}
.ui_plan_list{}

/*加载更多*/
.ui_loadmore_text{ text-align:center; height:60px; line-height:60px; color:#8f8f8f; font-size:15px;}
.ui_loadmore_text a{color:#8f8f8f; }
.ui_loadmore_text .ui_loading{ width:18px; height:18px;}

/*资产*/
.ui_acc_money { padding: 5px 0 0px; background: #FFF }
.ui_acc_money .money-list { padding: 5px 0; border-bottom: 1px solid #ebebeb }
.ui_acc_money .money-list:last-child{ border-bottom:none;}
.ui_acc_money .money-list .money-l { border-right: 1px solid #ebebeb; }
.ui_acc_money .money-list .money-l,.ui_acc_money .money-list .money-r { padding-left: 20px; width: 50%; -webkit-box-sizing: border-box; float: left; }
.ui_acc_money .money-list  .mo-tit { color: #8f8f8f; }
.ui_acc_money .money-list .mo-cont { font-size: 20px; }

/**/
.ui_stutas{ color:#ee4634; border:1px solid #ee4634; display:inline-block; height:20px; line-height:20px; vertical-align:middle; font-size:12px; padding:0 3px; border-radius:3px; margin-right:10px;}

/**/
.ui_xy_list{ height:45px; line-height:45px; padding:0 15px; font-size:15px;border-bottom:1px solid #d9d9d9;}
.ui_xy_list:last-child{ border-bottom:none;}
.ui_xy_list a{ height:45px; display:block;}


/*loading*/
.ui_loading {height: 18px;width: 18px;position: relative; display:inline-block; vertical-align:middle;}
.ui_loading div { width: 12%;height: 26%;background-color: #a6a6a6;position: absolute;left: 44.5%;top: 37%;opacity: 0;-webkit-border-radius: 30%;-webkit-animation: ui_loading 1s linear infinite;}
.ui_loading div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
.ui_loading div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
.ui_loading div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
.ui_loading div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
.ui_loading div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
.ui_loading div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
.ui_loading div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
.ui_loading div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
.ui_loading div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
.ui_loading div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
.ui_loading div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
.ui_loading div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes ui_loading{
  from {opacity: 1;}
  to {opacity: 0.25;}
}
.ui_text_tips{ text-align:center; position:absolute; bottom:50px; width:100%;}
.ui_text_tips .ui_tips_bg{ background:rgba(0,0,0,0.7); color:#fff; padding:10px;border-radius:5px; display:inline-block; margin:0 20px; font-size:15px;}
.ui_tips_right {display:inline-block;background: url(../images/common/icon_reg.png) no-repeat 0 -46px; width: 38px;height: 38px;background-size: 100%  }
.ui_mask { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); position: fixed; top: 0px; left: 0; z-index: 200; }
.ui_dialog { width: 275px; height: 205px; background: #fff; top: 50%; position: relative; margin: -102px auto 0; border-radius: 5px; }
.ui_dialog .pop_head, .ui_dialog .pop_body { padding: 0 15px; }
.ui_dialog .pop_head h2 { height: 35px; line-height: 35px; color: #fe4438; text-align: center; border-bottom: 1px solid #e6e6e6; font-size: 14px; }
.ui_dialog .pop_body .pop_text { padding: 7px 0px; font-size: 14px; line-height: 25px; }
.ui_dialog .pop_body .btn-ok, .ui_dialog .pop_body .btn-cancel { height: 40px; width: 100%; line-height: 40px; color: #fff; border: none; border-radius: 5px; font-size: 18px; font-weight: bold; }
.ui_dialog .pop_body .btn-ok { background: #fe4438; border-bottom: 2px solid #d9201c; }
.ui_dialog .pop_body .btn-cancel { background: #e4e4e4; border-bottom: 2px solid #8b8b8b; }
.ui_dialog .pop_body .btn-ok_dis { color: #fc9e97; }
.ui_dialog .pop_body .pop-btn { width: 116px; }

/*2016V1首页header样式*/
.ui_top { height: 45px; text-align: center; line-height: 45px; position: relative; border-bottom: 1px solid #cfced3; font-size: 18px; color: #FFF; }
.ui_top.bor_b0 {border-bottom: none;}
.ui_top a.logo { display: block; width: 92px; height: 25px; position: absolute; left: 50%; margin-left: -46px; margin-top: -17px; top: 50%; }
/*查看更多*/
.ui_more { border-top: 1px solid #E5E5E5; height: 40px; line-height: 40px; }
.ui_more a { color: #4b4b4b; display: block; text-align: center; font-size: 14px; }

 /*确认*/
.ui_confirm{}
.ui_confirm .opacity{ opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 10;}
.ui_confirm .confirm_donate{ position: fixed; top: 50%; left: 50%; margin-top: -79px; margin-left: -138px; background-color: #fff; z-index: 100; width: 276px; height: 158px; border-radius: 5px;}
.ui_confirm .confirm_donate_title{ margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid;}
.ui_confirm .confirm_donate_text{padding:10px 15px; text-align: center; font-size: 14px; color: #333; padding-top:8px; }
.ui_confirm .confirm_donate_but{padding: 5px 0px 0px 15px; overflow: hidden;}
.ui_confirm .confirm_donate_but input{width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none;}
.ui_confirm .confirm_donate_but_del{background-color: #e5e5e5; color: #949494; margin-right: 15px;}
.ui_confirm .confirm_donate_but_yes{background-color: #fe4438; color: #fff;}
/*空列表样式*/
.ui_un_list{ padding-top: 20px;}
.ui_un_list .ui_icon_un{background: url(../images/common/list_no_icon.png) no-repeat center top; background-size: 150px 150px; width: 100%; padding-top: 150px; color: #8f8f8f; text-align: center; display: block;}
/*市场有风险，投资需谨慎*/
.ui_invest_tip{ text-align: center;font-size: 12px;padding:0px 20px;display: -webkit-box;height: 30px;line-height: 30px;}
.ui_invest_tip i{ height: 1px;display: block;-webkit-box-flex:4;background: #999;margin-top: 14px;}
.ui_invest_tip span{ display: block;-webkit-box-flex:1;}