/*p-account*/
.p_account .acc-money { padding: 5px 0 0px; background: #FFF } 
.p_account .acc-money .money-list { padding: 5px 0; border-bottom: 1px solid #ebebeb }
.p_account .acc-money .money-list:last-child{ border-bottom:none;}
.p_account .acc-money .money-list .money-l { border-right: 1px solid #ebebeb; }
.p_account .acc-money .money-list .money-l,.p_account  .acc-money .money-list .money-r { padding-left: 20px; width: 50%; -webkit-box-sizing: border-box; float: left; }
.p_account .acc-money .money-list  .mo-tit { color: #8f8f8f; }
.p_account .acc-money .money-list .mo-cont { font-size: 20px; }
.p_account .mo-btn { margin: 0px auto 0; height:50px; }
.p_account .mo-btn span{ width:50%; float:left;}

.p_account .acc-listbox{ border-bottom:1px solid #d9d9d9; border-top:1px solid #d9d9d9;}
.p_account .acc-list { padding: 0 13px 0 16px; height: 45px; line-height: 45px; border-bottom: 1px solid #d9d9d9; font-size: 15px; background: #FFF }
.p_account .acc-list:last-child{ border-bottom:none;}
.p_account .acc-list .txt-wrap { display: -webkit-box; }
.p_account .acc-list .txt-wrap i { vertical-align: middle; width: 20px; height: 22px; display: inline-block; background: url(../images/account/list_icon.png) no-repeat; background-size: 100%; margin-right: 20px; }
.p_account .acc-list .txt-wrap i.yz { background-position: 0 -102px; }
.p_account .acc-list .txt-wrap i.hj { background-position: 0 -147px }
.p_account .acc-list .txt-wrap i.zj { background-position: 0 -193px }
.p_account .acc-list .txt-wrap i.hb { background-position: 0 0px;}
.p_account .acc-list .txt-wrap i.yq { background-position: 0 -46px }
.p_account .acc-list .txt-wrap i.bk{ background-position: 0 -285px}
.p_account .acc-list .txt-wrap i.ht{ background-position: 0 -238px}
.p_account .acc-list .txt-wrap i.yhq{ background-position: 0 -321px}
.p_account .acc-list .txt-wrap i.bxt{ background-position: 0 -350px}
.p_account .acc-list .txt-wrap i.tzq{ background-position: 0 -382px}
.p_account .acc-list .txt-wrap i.jz { background-position: 0 -434px;}
.p_account .acc-list .txt-wrap i.xz { background-position: 0 -470px;}
.p_account .acc-list .txt-wrap span { -webkit-box-flex: 1; display: block; }
.p_account .acc-list .bank-arrow { background: url(../images/account/arrow.png) no-repeat right center; background-size: 7px 13px; }
.p_account .bor-b0 { border-bottom: none }
.p_account .acc-esc { background-color: #FFF; height: 45px; line-height: 45px; text-align: center; font-size: 16px; }
.p_account .acc-esc a { display:block;height: 48px;}
.p_account .acc-list .txt-wrap .medal_progress{background:#ee4634; color:#fff; font-size:10px; padding:3px 5px; margin-left:5px; border-radius:3px;   vertical-align: 1px;}

.p_account .new_medal_box{height: 368px; width: 100%; text-align: center; position: fixed; top: 50%; margin-top: -200px; z-index: 300;}
.p_account .new_medal_box .medal_bg{ background: url(../images/decoration/ye_icon.png) no-repeat center;background-size: auto 72%;}
.p_account .new_medal_box .medal_bg .medal_icon{ padding-top: 189px; background-repeat: no-repeat; background-position:center 0; background-size: auto 100%;}
.p_account .new_medal_box .medal_text{ color: #fff; font-size: 15px;}
.p_account .new_medal_box .medal_text h2{ padding-top: 7%;  margin-bottom: 10px;margin-top:20px;}
.p_account .new_medal_box .medal_text h2.new_text{background: url(../images/decoration/text.png) no-repeat center;background-size:auto 100%;}
.p_account .new_medal_box .medal_text h2.text{background: url(../images/decoration/text1.png) no-repeat center;background-size:auto 100%;}
.p_account .new_medal_box .medal_text .medal_btn{ font-size: 17px; height: 40px; width: 170px; border: 1px solid #ffc848; color: #ffc848; border-radius: 3px; display: inline-block; line-height: 40px; margin-top: 15px;}
.p_account .new_medal_box .medal_close{background: url(../images/decoration/new_close.png) no-repeat; width: 33px; height: 33px; background-size: 100%; margin: 20px auto 0;}
.p_account .new_medal_box .medal_bg_new .medal_icon{padding:42%;background-size: auto 100%;}

/*充值提现*/
.p_account_charge .ui-form .dl_center .input-list .txt-wrap input{padding-left: 15px;}
.p_account_charge .ui-form .input-list{padding: 0 20px;}
.p_account_charge .instruction { font-size: 15px; padding: 18px 20px 10px }
.p_account_charge .instruction span{ color: #f64172; display: inline-block; margin-left: 16px; }
.p_account_charge .explained {  padding:12px 20px; }
.p_account_charge .remark { color: #909ba8; padding:12px 20px 0;}
.p_account_charge .ui-form .dl_footer input { width: 100% }
.p_account_charge .ui-form .dl_footer{margin-bottom: 10px;}
.p_account_charge .charge_con{ padding:10px 15px;}
.p_account_charge .charge_con .tips{ padding-top:10px;}
.p_account_charge .pay_change{text-align:center; margin-top:15px; font-size:11px; color:#000;}
.p_account_charge .pay_change p{color:#556CA1; display:inline-block; cursor: pointer;}

.p_account_charge .p_pop{display:none;}
.p_account_charge .p_pop .cover{opacity:0.3;background-color:#000;height:100%;width:100%;position:fixed;top:0px;z-index:10;}
.p_account_charge .p_pop .p_choose_pay{position:absolute;bottom:0;background-color:#fff;width:100%;z-index:100;}
.p_account_charge .p_pop .choose{height:44px;line-height:44px;border-bottom:1px #d9d9d9 solid;font-size:17px;color:#000;text-align:center;}
.p_account_charge .p_pop .close_img{position:absolute;width:28px;height:28px;background:url(../images/yeepay/close.png) no-repeat center center;background-size:18px 18px;left:10px;top:10px;}
.p_account_charge .p_pop .choice{padding-left:15px;}
.p_account_charge .p_pop .choice span{display:block;height:50px;line-height:50px;color:#000;font-size:17px;border-bottom:1px #d9d9d9 solid;}
.p_account_charge .p_pop .bg_img{background:url(../images/yeepay/mark.png) no-repeat 95% center;background-size:13px 10px;}

/*提现成功*/
.p_carry .carry_suc_icon{ background:url(../images/account/carry_suc.png) no-repeat; width:157px; height:121px; background-size:100%; margin:10px auto;}
.p_carry .carry_suc_tips{ font-size:13px; line-height:30px; width:160px; margin:20px auto;}
.p_carry .carry_suc_tips li{ list-style:disc;}
.p_carry .carry_back { padding:0px 15px 10px;}
.p_carry .carry_fail_icon{ background:url(../images/account/carry_fail.png) no-repeat; width:168px; height:103px; background-size:100%; margin:0 auto;}
.p_carry .carry_fail_tips{ font-size:15px; color:#909ba8; text-align:center; padding:15px 0px;}
.p_carry .carry_tip{margin-top:10px;}

/*p_account_invitation*/
.p_account_invitation .banner{height: 92px;background: #ff4258;}
.p_account_invitation .banner img{width:100%;height: 92px;}
.p_account_invitation .inv_data{ width: 100%;padding: 10px 0;background: #FFF}
.p_account_invitation .inv_data div{width: 33%;float: left;border-left: 1px solid #d9e1e8;text-align: center;}
.p_account_invitation .inv_data div:first-child{border-left: none;}
.p_account_invitation .inv_data div p{ color: #909ba8;font-size: 10px;}
.p_account_invitation .inv_data div span{font-weight: bold}
.p_account_invitation .inv_share .i-list{ margin-top:10px; padding:15px;background: #FFF }
.p_account_invitation .inv_share .i-list h3{ font-size:13px;margin-bottom: 3px;}
.p_account_invitation .inv_share .i-list h4{color:#909ba8}
.p_account_invitation .inv_share .i-list dl{display:-webkit-box;}
.p_account_invitation .inv_share .i-list dl dt{ -webkit-box-flex:1;}
.p_account_invitation .inv_share .i-list dl dd{ width:82px; padding-top: 15px;}
.p_account_invitation .inv_share .i-list dl dd .inv-btn{ font-size:13px; background:#ee4634; color:#fff;border-radius:3px;  display:inline-block;width: 82px;height: 30px;}
.p_account_invitation ul.inv_list{margin-top: 10px; }
.p_account_invitation ul.inv_list li{ background: #FFF;padding: 7px 15px;border-bottom: 1px solid #dadcdd;}
.p_account_invitation ul.inv_list li .tit{ overflow: auto;}
.p_account_invitation ul.inv_list li .tit div{ font-size: 13px;float: left;}
.p_account_invitation ul.inv_list li .tit div.money{ float: right;margin-left: 10px;}
.p_account_invitation ul.inv_list li .tit div.money em{color:#ee4634;}
.p_account_invitation ul.inv_list li .con {color: #909ba8;line-height: 19px;height: 19px;margin-top: 3px;}
.p_account_invitation ul.inv_list li .con span{display: block;float: left}
.p_account_invitation ul.inv_list li .con span.time{float: right;margin-left: 10px;}
.p_account_invitation ul.inv_list li .con span.status i{ margin-right:5px;width: 17px;height: 17px;text-align: center;line-height: 17px;display: inline-block;}
.p_account_invitation ul.inv_list li .con span.status i.zhu{ border: 1px solid #5ec749;color: #5ec749;}
.p_account_invitation ul.inv_list li .con span.status i.tou{ border: 1px solid #6bbbf3;color: #6bbbf3;}
.p_account_invitation .inv_desc{height: 32px;line-height: 32px;}
/*tab*/
.p_account_invitation .fcode_tab{display:-webkit-box; margin-top:10px; background-color:#fff; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.p_account_invitation .fcode_tab .tab_item{-webkit-box-flex:1; text-align:center; font-size:15px; line-height:40px; border-top:3px solid #fff; border-bottom:3px solid #fff;}
.p_account_invitation .fcode_tab .tab_item.active{border-bottom-color:#ed4634;}
.p_account_invitation .inv_p2p .list{padding:10px 15px; background:#fff; border-bottom:1px solid #d9d9d9; position:relative; font-size:12px; line-height:18px; color:#909ba8;}
.p_account_invitation .inv_p2p .list .list_top{font-size:15px; line-height:24px; color:#000;}
.p_account_invitation .inv_p2p .list .list_top span{color:#ed4634;}
.p_account_invitation .inv_p2p .list .status{position:absolute; right:15px; top:12px;}
.p_account_invitation .inv_reg .list{padding:10px 15px; background:#fff; border-bottom:1px solid #d9d9d9; position:relative; font-size:12px; line-height:18px; color:#909ba8;}
.p_account_invitation .inv_reg .list .list_top{font-size:15px; line-height:24px; color:#000;}
.p_account_invitation .inv_reg .list .status{position:absolute; right:15px; top:22px;}
/*tab*/

    /*分享弹框*/
.p_account_invitation .share_wrap{position:fixed; left:0; bottom:0; width:100%; height:100%; display:none; z-index:101;}
.p_account_invitation .share_wrap .share_box{position:absolute; left:0; bottom:0; width:100%;}
.p_account_invitation .share_wrap .share_cover{position:absolute; left:0; top:0; width:100%; height:100%; background-color:#000;}
.p_account_invitation .share_wrap .wx_tip{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/icon/icon_wx_tip.png) no-repeat right top rgba(0,0,0,0.5); background-size:90px 90px; display:none;}
.p_account_invitation .share_wrap.show{display:block;}
.p_account_invitation .share_wrap.show .share_box{-webkit-transform:translateY(0);}
.p_account_invitation .share_wrap.show .share_cover{opacity:0.5;}
.p_account_invitation .share_box .line{height:75px; background-color:#fff;}
.p_account_invitation .share_box .line:first-child{border-bottom:1px solid #f5f5f5;}
.p_account_invitation .share_box .part{float:left; width:25%; border-right:1px solid #f5f5f5; height:75px; -webkit-box-sizing:border-box;}
.p_account_invitation .share_box .line .part:last-child{border:none;}
.p_account_invitation .share_box .part a{display:block; width:100%; height:100%; text-align:center; color:#000; font-size:12px; -webkit-box-sizing:border-box; padding-top:45px;}
.p_account_invitation .share_box .part a:active{background-color:#eee;}
.p_account_invitation .share_box .part .wx_hy{background:url(../images/icon/weichat_icon.png) no-repeat center 18px; background-size:23px 23px;}
.p_account_invitation .share_box .part .wx_pyq{background:url(../images/icon/moments_icon.png) no-repeat center 18px; background-size:23px 23px;}
.p_account_invitation .share_box .part .jiathis_button_tsina{background:url(../images/icon/sinaweibo_icon.png) no-repeat center 18px; background-size:23px 23px;}
.p_account_invitation .share_box .part .jiathis_button_tqq{background:url(../images/icon/qqweibo_icon.png) no-repeat center 18px; background-size:23px 23px;}
.p_account_invitation .share_box .part .jiathis_button_qzone{background:url(../images/icon/qqspace_icon.png) no-repeat center 18px; background-size:23px 23px;}
.p_account_invitation .share_box .part .jiathis_button_douban{background:url(../images/icon/douban_icon.png) no-repeat center 18px; background-size:23px 23px;}

/*p_account_bonus*/
.p_account_bonus .money-list .mo-cont{color:#ee4634;}

/*p_load*/
.p_load .tab{ border-top:1px solid #d9d9d9;}
.p_load .load_list {background: #fff; margin-bottom: 10px;border-bottom: 1px solid #d9d9d9;}
.p_load .load_list:last-child{margin-bottom:0;}
.p_load .load_list .color_gray{ color:#8f8f8f;}
.p_load .load_list a { color: #41474d; }
.p_load .load_list .title { height: 45px; line-height: 45px; border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9; padding: 0 15px; font-size: 15px; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position:relative;}
.p_load .load_list .con { padding: 10px 0px; position: relative;}
.p_load .load_list .con li:nth-child(odd) { float: left; width: 45%; padding-left:15px;}
.p_load .load_list .con li:nth-child(even) { float: left; width: 46%; padding-left:10px; border-left:1px solid #ebebeb;}
.p_load .ui_tab_nav{ border-top:1px solid #d9d9d9; border-bottom:none;}

/*p_contract*/
.p_contract .contract_list{ background:#fff;border-top:1px solid #e1e1e1; margin:15px 0 0;}
.p_contract .contract_list .big_list{ height:77px; border-bottom:1px solid #e1e1e1; font-size:13px;line-height:77px; position:relative;}
.p_contract .contract_list .big_list dt{ line-height:20px; display:inline-block; vertical-align:middle; width:100%;}
.p_contract .contract_list .big_list dt p{ padding-left:15px; color:#a6a6a6; padding-right:100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_contract .contract_list .big_list h2{ font-size:16px; color:#424242;padding-left:15px;padding-right:100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; padding-bottom:3px;}
.p_contract .contract_list .big_list dd{ position:absolute; line-height:77px; right:15px;width:85px; height:77px; top:0px;}
.p_contract .contract_list .big_list dd .btn_signed{ color:#fff; background:#70bbda; height:30px; width:85px; line-height:30px; text-align:center; display:inline-block; font-size:14px; border-radius:3px;}
.p_contract .contract_list .big_list dd .btn_dis{ color:#aaaaaa; border:1px solid #e5e5e5; background:#fff;}
.p_contract .deal_more{ height:42px; line-height:42px; background:#fff; border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5; margin-bottom:10px; padding:0 15px; text-align:center;}
.p_contract .deal_more a{ display:block; color:#565656; font-size:15px;position:relative; }
.p_contract .contract_list .small_list{ padding:8px 15px; border-bottom:1px solid #e1e1e1;}
.p_contract .contract_list .small_list dt{font-size:15px; color:#424242; padding-bottom:3px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_contract .contract_list .small_list dd{color:#a6a6a6}

/*已投详情*/
.p_load_detail .load_list .title{border-top:none;}

/*p_deal*/
.p_deal { width: 100%; height: 100%; z-index: 101; display: -webkit-box; -webkit-box-orient: vertical; }
.p_deal .inv-main {-webkit-box-flex: 1; overflow: hidden; }
.p_deal .inv_bg {background: url("../images/deal/p2p_top.jpg") 0 bottom no-repeat #ee4634; background-size: 100%; color: #fff;}
.p_deal .inv-header, .inv-center, .inv-footer { background-color: #fff; }
.p_deal .inv_bg .inv-header{ background-color: transparent; padding-top: 0px; border-bottom: none;}
.p_deal .inv_bg .line{ width: 30px; border-bottom: 1px solid #f37e71; margin: 15px auto;}
.p_deal .inv-center { padding: 10px 0; }
.p_deal .inv-header {padding: 10px 15px 0; border-bottom: 1px solid #dadcdd; text-align:center;}
.p_deal .inv-gongyi {margin-top:6px;overflow:auto;font-size:16px;line-height:20px;}
.p_deal .invh-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.p_deal .inh-title h2{font-size: 15px;}
.p_deal .inh-title h2 span.ui_tips_tag{font-size: 12px;}
.p_deal .invh-title span { background-color: #5ca9e4; border-radius: 4px; padding: 4px 5px; font-size: 12px; color: #fff; margin-right: 5px; display: inline-block; }
.p_deal .invh-center { margin-top: 6px; overflow: auto; font-size: 16px;line-height: 20px;}
.p_deal .inv-center { margin-top: 10px; color: #41474d; border-top: 1px solid #dadcdd; border-bottom: 1px solid #dadcdd; }
.p_deal .inv-center h2 { font-size: 15px;padding:0 15px 0px; }
.p_deal .inv-center h2 i { background: url("../images/deal/inv-icon.jpg") 0 0 no-repeat; background-size:100%; display: inline-block; width: 16px; height: 16px; vertical-align: middle; margin-right: 5px; margin-top: -4px; }
.p_deal .inv-center p { font-size: 12px; line-height: 18px; padding:0 15px; }
.p_deal .inv-center p em { color: #f64172; }
.p_deal .inv-footer { margin-top: 10px; color: #41474d; border-top: 1px solid #dadcdd;margin-bottom:10px;border-bottom: 1px solid #d9d9d9;}
.p_deal .inv-footer .gongyi_text { color: #41474d;border-bottom: 1px solid #dadcdd;font-size: 15px; padding: 10px 15px 10px; }
.p_deal .invf_cont img{ width:100% !important;height:auto !important;}
.p_deal .invf_cont table { width: 100%; }
.p_deal .invf_cont table th { color: #909ba8; text-align: left; vertical-align: top; padding-bottom: 0px; }
.p_deal .invf_cont table td.g-money { text-align: center; }
.p_deal .bid_con{ padding:0 15px 10px;}
.p_deal .put_con{ position:relative;}
.p_deal .bid_con .bid_kt{ height:35px; line-height:35px;border-bottom: 1px solid #d9d9d9; font-size:15px; margin-top: 10px; margin-bottom:7px; margin-right: 100px;}
.p_deal .bid_con .charge_btn{height: 30px; margin-top: 15px; font-size: 15px; width: 75px; display: inline-block; background: #ee4634; color: #fff; text-align: center; vertical-align: middle; line-height: 30px; border-radius: 3px; float: right;}
.p_deal .bid_con .put_btn{ position:absolute; right:10px; top:8px; height:30px; color:#8f8f8f;text-align:center; line-height:30px; border-radius:3px; font-size:15px;}
.p_deal .put_con .yq_money{ position: absolute;text-align: right; top: 4px; display: none; right: 45px;}
.p_deal .ipt-list{ min-height:45px; line-height:45px; padding:0 15px; font-size:15px;border-bottom: 1px solid #d9d9d9;}
.p_deal .ipt-list a{ display:block; height:45px; position:relative;}
.p_deal .ipt-list:last-child{ border-bottom:none;}
.p_deal .ipt-list .gray_v1{ font-size:12px;}
.p_deal .ui_ipt{ padding-right:80px;}
.p_deal .coupon_box{margin-left:65px; line-height:45px; height:45px; text-align:right;}
.p_deal .coupon_box .bindCouponStr{ margin-right:10px;}
.p_deal .coupon_box .discount_num{ margin-right:10px;font-size:15px;}
.p_deal .coupon_input{height:45px; width:100%;line-height: normal; vertical-align:top;}
.p_deal .dit_fcode_txt{padding:10px 15px 0px; color:#909090; text-align:center;}
.p_deal .icon_coupon{background: url(../images/discount/tubiao2.png); width: 18px; height: 15px; background-size: 100%; margin-right: 5px; margin-top:15px;}
.p_deal .deal_discount_close{width: 18px; height: 18px; background: url(../images/discount/guanbi.png) right center no-repeat; background-size: 18px 18px; padding:13px 0 13px 15px;}
.p_deal .show_discount_panel{border-bottom:none;}
.p_deal .selected_discount{border-top:1px solid #d9d9d9;}
.p_deal .new_guide_box{position: relative;z-index:201;}
.p_deal .new_guide_icon{background: url(../images/deal/iocn_know.png) no-repeat center; background-size:310px 217px; width: 100%; height: 232px; position: absolute; top: -110px; left: 0px;}
.p_deal .discount_detail{display:block; margin:0 20px 0px 30px; line-height:20px; padding:13px 0 10px;}
input.JS-submit[type=button][disabled=disabled]{background: #ccc;}


.p_deal .pop .opacity{opacity: 0.4;background-color: #000;height: 100%;width: 100%;position: fixed;top: 0px;z-index: 300;}
.p_deal .pop .assessment_finish{border-radius:10px;background:#f2f2f2;font-size: 16px;text-align:center;height: 140px;width:270px;position: fixed;top: 50%;margin-top: -70px;left:50%;margin-left:-135px;z-index: 301;}
.p_deal .pop .assessment_finish .title{margin: 20px 20px 5px 20px;padding: 10px 0px;}
.p_deal .pop .assessment_finish .sure{border-top: 1px #cbcbcb solid;height: 46px;line-height:46px;} 
.p_deal .pop .assessment_finish .sure p{display: inline-block;color: #0076ff;}
.p_deal .pop .assessment_finish .sure p.left_start{float: left;width: 50%;}
.p_deal .pop .assessment_finish .sure p.left_start .start{margin: 5px 0px;border-right: 1px #cbcbcb solid;display: block;line-height: 36px;}
.p_deal .pop .assessment_finish .sure p.right_no{float: right;width: 49%;}

.p_deal .p_deal_list.p_index .ui_p2p_list li,.p_deal .p_deal_list.p_index .ui_p2p_list li:last-child{ border: none; text-align: left;padding: 0px;}
.p_deal .repayment{display: inline-block; padding-top: 23px;}
/*p_deal_fcode_panel*/
.p_deal_fcode_panel,.p_deal_discount_panel{position:fixed; z-index:202; left:0; top:0; width:100%; height:100%; background-color:#f2f2f2; -webkit-transform:translateX(100%); -webkit-transition:all 0.2s linear;}
.p_deal_fcode_panel.p_show,.p_deal_discount_panel.p_show{-webkit-transform:translateX(0);}
.p_deal_discount_panel{display:-webkit-box; -webkit-box-orient:vertical;}
.p_deal_discount_panel .p_account_discount{-webkit-box-flex:1; overflow:hidden;}
.p_deal_discount_panel .p_account_discount .load_more{line-height:40px;}
.p_deal_fcode_panel .ui_ipt{margin:0; padding:0 15px; position:relative;}
.p_deal_fcode_panel .ui_ipt .fcode_right{position:absolute; right:15px; top:17px; width:17px; height:13px; background:url(../images/deal/icon_right.png) no-repeat; background-size:cover;}
.p_deal_fcode_panel .panel_top{background-color:#fff; padding:10px 15px;}
.p_deal_fcode_panel .fcode_detail{background-color:#fff; padding:0 15px 10px; border-bottom:1px solid #dadcdd; margin-bottom:10px; line-height:15px; min-height:30px;}

/*p-deal-success*/
.p_deal_success{padding:0px 0px 20px;}
.p_deal_success .head-figure{width:108px;height:86px;background: url(../images/deal/person.png) no-repeat; background-size: 100%; margin:20px auto 40px;}
.p_deal_success .deal-suc .f25{font-size: 25px;}
.p_deal_success .deal-suc span{display: block;}
.p_deal_success .deal-info{height: 1px;background: #c6c6c6;position:relative; margin: 30px 55px 0;}
.p_deal_success .info-txt{width: 64px;background: #f2f2f2;position: absolute;font-size: 10px;height: 15px;left:50%;margin-left: -32px;top:-7px;color: #8b97a2}
.p_deal_success .mt20{margin-top: 20px;}
.p_deal_success .deal-project{color: #8b97a2}
.p_deal_success .deal-foot{margin-top: 30px;padding: 0 15px;}
.p_deal_success .deal-foot .link_load{margin-top:20px;display: block;}
.p_deal_success .top{ text-align:center; font-size:18px; padding:15px;}

.p_deal_success .top .icon_yes{ background:url(../images/icon/icon_yes1.png) no-repeat; width:33px; height:33px; background-size:100%; vertical-align:middle; display:inline-block; margin-right:5px;}
.p_deal_success .item_text{ background:#fff; border-bottom:1px solid #dadcdd;border-top:1px solid #dadcdd; padding:15px; font-size:13px; color:#41474d;}
.p_deal_success .btn{ text-align:center; padding:20px 0px;}
.p_deal_success .btn a:hover{ color:#fff;}
.p_deal_success .bottom{ position:absolute; width:100%; bottom:20px; text-align:center; color:#7e7e7e;}
.p_deal_success .ui-pop-box{ height:180px; top:50%; margin-top:-90px;}
.p_deal_success .ui-pop-box .pop-head{ height:45px; line-height:45px; font-size:18px;}
.p_deal_success .ui-pop-box .pop-body p{ font-size:12px;}
.p_deal_success .ui-pop-box .pop-body p a{ text-decoration:underline;}

.p_deal_success .sc_top{ text-align: center; padding-top: 20px; margin-bottom: 15px;}
.p_deal_success .sc_success{ display: inline-block;width: 100px;height: 100px;background: url("../images/deal/dh_success.png") no-repeat 0 0;background-size: cover;}
.p_deal_success .sc_top p{ font-size: 17px;color: #ee4634;margin-top: 10px;}
.p_deal_success .sc_top h3{ font-size: 10px;color: #909090;margin-top: 10px;}
.p_deal_success .sc_list{ background-color: #fff;border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;padding-left: 13px; margin-bottom:15px;}
.p_deal_success .scl_show{ font-size: 13px;color: #8f8f8f;padding: 10px 0px;border-bottom: 1px solid #d9d9d9; }
.p_deal_success .scl_show:last-child{ border:none;}
.p_deal_success .discount_con{text-align: center;padding: 0 0 15px 0px;font-size：13px; color:#909090;}

.p_deal_success .scl_show span{ float: left;}
.p_deal_success .scl_show p{ margin-left: 60px;text-align: right;color: #41474d;margin-right: 20px;word-wrap:break-word;}
.p_deal_success .sc_footer{ position: fixed;bottom: 0px;left: 0px;right: 0px;height: 49px;line-height: 48px;background-color: #fff;text-align: center;padding: 0 13px;z-index: 999; border-top: 1px solid #d9d9d9;}
.p_deal_success .sc_footer a{ display: inline-block;background-color: #ee4634;text-align: center;height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 3px;width: 100%;}
.p_deal_success .ts_color{ color: #000!important;}
.p_deal_success .sc_footer a.a_left{ margin-top: 8px;margin-right:7px; display:block; width:auto;}
.p_deal_success .sc_footer a.a_right{margin-top: 8px;margin-left:7px;display:block;width:auto;}
.p_deal_success .sc_footer .left_div{ float:left; width:50%}
.p_deal_success .gift_one{background: url(../images/deal/suc_one.png) no-repeat center; width: 215px; height: 182px; position: fixed; bottom: 48px; background-size:100%; text-align: center; color: #fec848; left: 50%; margin-left: -107px;}
.p_deal_success .gift_one h2{padding-top: 45px; font-size: 15px;}
.p_deal_success .gift_one .gift_btn{ width: 70px; height: 70px; display: inline-block; margin-bottom: 5px;}
.p_deal_success .gift_one h3{}
.p_deal_success .gift_one .gift_close_btn{background: url(../images/deal/close_btn.png) no-repeat; width: 20px; height: 20px; background-size: 100%; position: absolute; right:-5px; top: 10px;}
.p_deal_success .gift_more{background: url(../images/deal/suc_two.png) no-repeat center; background-size:100%; width: 255px; margin-left: -127px;}
.p_deal_success .gift_more .gift_close_btn{right:15px; }

/**************************2016V1首页和列表页**************************/
.p_index .ui_p2p_list a.link{display:block;position:absolute;width:100%;height:100%;left:0;top:0;}
.p_index .ui_p2p_list li{border-bottom:1px solid #E5E5E5;padding:15px 0;position:relative;}
.p_index .ui_p2p_list li:last-child{border-bottom:none}
.p_index .ui_p2p_list .title{color:#4b4b4b;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px;}
.p_index .ui_p2p_list .title i.tip{margin-right:10px;vertical-align:middle;text-align:center;display:inline-block;color:#12b7f5;border-radius:4px;border:1px solid #12b7f5;font-size:11px;padding:1px 2px;}
.p_index .ui_p2p_list .title{}
.p_index .ui_p2p_list .info{margin-bottom:8px;}
.p_index .ui_p2p_list .rate em{font-size:14px;}
.p_index .ui_p2p_list .tz_btn{margin-top:2px; position:relative; z-index:2;}
.p_index .ui_p2p_list .money,.ui_p2p_list .info{display:-webkit-box;}
.p_index .ui_p2p_list .money span{display:block;}
.p_index .ui_p2p_list .money span.qt,.ui_p2p_list .money span.hk,.ui_p2p_list .rate,.ui_p2p_list .time{-webkit-box-flex:3;}
.p_index .ui_p2p_list .money span.sy,.ui_p2p_list .tz_btn{-webkit-box-flex:4;}
.p_index .ui_p2p_list .money span.qt,.ui_p2p_list .rate{text-align:left;}
.p_index .ui_p2p_list .money span.hk,.ui_p2p_list .time,.ui_p2p_list .money span.sy,.ui_p2p_list .tz_btn{text-align:right;}
.p_index .ui_p2p_list.zx_list .money span.qt,.ui_p2p_list.zx_list .money span.hk,.ui_p2p_list.zx_list .rate,.ui_p2p_list.zx_list .time{-webkit-box-flex:1;}
@media screen and (max-width: 320px) {
    .p_index .ui_p2p_list .money span.hk{width: 50px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .p_index .ui_p2p_list .money span.hk{width: 90px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
}
.p_index .ui_p2p_list.zx_list .money span.sy,.ui_p2p_list.zx_list .tz_btn{-webkit-box-flex:2;}
.p_index .ui_p2p_list .public_bene{ display: -webkit-box;}
.p_index .ui_p2p_list .public_benefit{ -webkit-box-flex: 3; right: 90px; left: 0px;}
.p_index .ui_p2p_list span.qt_gy{ text-align: left; display: block;}
.p_index .ui_p2p_list span.sy_gy{ -webkit-box-flex:1; text-align: right; display: block;}
.p_index  .ui_p2p_list .public_benefit_but{ height: 50px; line-height: 50px; -webkit-box-flex:2 !important;}
.p_index .icon{background-image:url(../images/index/icon_index.png);background-repeat:no-repeat;display:inline-block;background-size:auto 180px;}
.p_index .mr62{margin-right:62px;}
@media screen and (max-width:320px){
    .p_index .ui_p2p_list .money{font-size:11px;}
}
.p_index .mt28{margin-top: 28px !important;}
/*登录前后*/
.p_index .log_nav{background:#fff;padding:10px 0}
.p_index .log_nav .data_sy{color:#4b4b4b;margin-bottom:8px;margin-top:-2px;border-bottom: 1px solid #d9d9d9;padding-bottom: 6px;}
.p_index .log_nav .log_wap{display: -webkit-box; }
.p_index .log_nav .log_wap .line{width:1px;height:36px;background:#d9d9d9;  }
.p_index .log_nav .log_wap a{display:block; -webkit-box-flex:1;text-align: center; }
.p_index .log_nav .log_wap a i{width:26px;height:36px;vertical-align:middle;margin-right:12px;}
.p_index .log_nav .log_wap a i.log{background-position:-8px 0}
.p_index .log_nav .log_wap a i.reg{background-position:-55px 0}
.p_index .ui_account{background:#fff;text-align:center;font-size:14px;padding:10px;color:#4b4b4b}

/*登录后分类图标显示*/
.p_index .sub_nav{margin-top:10px;background:#fff;padding:15px 5px 15px 15px;}
.p_index .sub_nav ul li{float:left;width:50%;display:-webkit-box;}
.p_index .sub_nav ul i.new{width:8px;height:8px;display:inline-block;border-radius:50%;background:#ee4634;margin-left:5px;margin-bottom:1px;position:absolute;top:0px;left:35px;}
.p_index .sub_nav .bk,.p_index .sub_nav .st,.p_index .sub_nav .hy,.p_index .sub_nav .gy{width:41px;height:41px;margin-top:2px;position:relative;}
.p_index .sub_nav .bk{background-position:0px -140px;}
.p_index .sub_nav .st{background-position:-60px -140px;}
.p_index .sub_nav .hy{background-position:-122px -140px;}
.p_index .sub_nav .gy{background-position:-180px -139px;}
.p_index .sub_nav .text_con{padding-right:10px;margin-left:15px;-webkit-box-flex:1; position:relative;}
.p_index .sub_nav .text_con h2{font-size:15px;line-height:normal;padding-bottom:3px;color:#4b4b4b}
.p_index .sub_nav .text_con p{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;color:#a6a6a6;line-height:14px;}

/*banner*/
.p_index .banner{height:110px;border-bottom:1px solid #cfced3;position:relative;}
.p_index .banner img{width:100%;height:110px;}
.p_index .focus{height:110px;overflow:hidden;}
.p_index .focus li{float:left;}
.p_index .dots{position:absolute;right:10px;bottom:8px;}
.p_index .dots li{float:left;width:10px;}
.p_index .dots li a{width:5px;height:5px;display:inline-block;background:#fff;border-radius:50%;opacity:0.7;}
.p_index .dots li.active a{background:#535353;}

/*新手专享 and 多投宝*/
.p_index .hot_list{border:1px solid #E5E5E5;padding:15px 25px;position:relative;}
.p_index .hot_list a.link{display:block;position:absolute;width:100%;height:100%;left:0;top:0;}
.p_index .hot_list .title{color:#4b4b4b;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px;}
.p_index .hot_list .title i.tip{margin-right:10px;vertical-align:middle;text-align:center;display:inline-block;color:#12b7f5;border-radius:4px;border:1px solid #12b7f5;font-size:11px;padding:1px 2px;}
.p_index .hot_list .title{margin-bottom:12px;}
.p_index .hot_list .rate{margin-bottom:8px;}
.p_index .hot_list .tz_btn{margin-top:2px;}
.p_index .hot_list .process{height:3px;background:#d9d9d9;width:100%;margin-bottom:10px;}
.p_index .hot_list .process .bfb{height:100%;background:#12b7f5;}
.p_index .hot_list .money{display:-webkit-box;margin-bottom:12px;}
.p_index .hot_list .money span{display:block;}
.p_index .hot_list .money span.qx,.p_index .hot_list .money span.qt{-webkit-box-flex:3;}
.p_index .hot_list .money span.hk{-webkit-box-flex:4;}
.p_index .hot_list .money span.qx{text-align:left;}
.p_index .hot_list .money span.qt,.p_index .hot_list .money span.hk{text-align:right;}
.p_index .over_hide{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 0px;-webkit-box-flex: 3 !important;}
.p_index .width_none{width: 0px;-webkit-box-flex: 4 !important;}

/*关于网信理财*/
.p_index .list_box h2 .wd,.p_index .list_box h2 .zx,.p_index .list_box h2 .ab{vertical-align:middle;margin-right:5px}
.p_index .list_box h2 .ab{width:14px;height:14px;}
.p_index .list_box h2 .wd{width:18px;height:14px;}
.p_index .list_box h2 .zx{width:16px;height:14px;}
.p_index .list_box h2 .ab{background-position:-163px 0;}
.p_index .list_box h2 .zx{background-position:-137px 0;}
.p_index .list_box h2 .wd{background-position:-107px 0;}
.p_index .list_box{border:1px solid #E5E5E5;background: #fff;}
.p_index .h2_tit{padding:10px 15px 10px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#4b4b4b; background: #fff;}
.p_index .list_cont{padding:0px 0px;}
.p_index .list_cont ul.ab_list li{display:-webkit-box;border-bottom:1px dashed #E5E5E5;padding:15px 10px 15px 4px;}
.p_index .list_cont ul.ab_list li:last-child{border-bottom:none;}
.p_index .list_cont ul.ab_list li .ab_l{width:56px;margin-right:23px;}
.p_index .list_cont ul.ab_list li .ab_r{-webkit-box-flex:1;}
.p_index .list_cont ul.ab_list li .ab_r h3{margin-bottom:3px;color:#4b4b4b;font-size:13px}
.p_index .list_cont ul.ab_list li .ab_l i{width:56px;height:56px;vertical-align:middle;}
.p_index .list_cont ul.ab_list li .ab_l i.pj{background-position:0 -61px}
.p_index .list_cont ul.ab_list li .ab_l i.za{background-position:-69px -62px}
.p_index .list_cont ul.ab_list li .ab_l i.yc{background-position:-135px -62px}

.p_index .new_medal_box{height: 368px; width: 100%; text-align: center; position: fixed; top: 50%; margin-top: -200px; z-index: 300;}
.p_index .new_medal_box .medal_bg{ background: url(../images/decoration/ye_icon.png) no-repeat center;background-size: auto 72%;}
.p_index .new_medal_box .medal_bg .medal_icon{ padding-top: 189px; background-repeat: no-repeat; background-position:center 0; background-size: auto 100%;}
.p_index .new_medal_box .medal_text{ color: #fff; font-size: 15px;}
.p_index .new_medal_box .medal_text h2{ padding-top: 7%;  margin-bottom: 10px;margin-top:20px;}
.p_index .new_medal_box .medal_text h2.new_text{background: url(../images/decoration/text.png) no-repeat center;background-size:auto 100%;}
.p_index .new_medal_box .medal_text h2.text{background: url(../images/decoration/text1.png) no-repeat center;background-size:auto 100%;}
.p_index .new_medal_box .medal_text .medal_btn{ font-size: 17px; height: 40px; width: 170px; border: 1px solid #ffc848; color: #ffc848; border-radius: 3px; display: inline-block; line-height: 40px; margin-top: 15px;}
.p_index .new_medal_box .medal_close{background: url(../images/decoration/new_close.png) no-repeat; width: 33px; height: 33px; background-size: 100%; margin: 20px auto 0;}
.p_index .new_medal_box .medal_bg_new .medal_icon{padding:42%;background-size: auto 100%; background-repeat: no-repeat; background-position: center;}

/**列表页**/
.p_index .deal_tabs{height:45px; border-bottom:1px solid #d9d9d9; background-color:#fff; overflow:hidden;}
.p_index .deal_tabs .tab_nav{float:left; width:50%; height:43px; line-height:43px; font-size:15px; text-align:center; color:#4b4b4b;}
.p_index .deal_tabs .tab_nav.active{color:#ee4634; border-bottom:2px solid #ee4634;}
.p_index .ui_p2p_list li{ padding: 15px;background: #fff;}
.p_index .bg_white{background: #efeff4;}
.p_index .ui_p2p_list .time{text-align: left;}
.p_index .ui_p2p_list li .progress_bg{ height: 2px; background: #d9d9d9; margin-bottom: 10px;}
.p_index .ui_p2p_list li .progress{height: 2px; background: #ee4634;}
.p_index .ui_p2p_list .title i.tip{border: 1px solid #ee4634; color: #ee4634;}




/*变现通-借款申请-填写邀请码*/
.p_user_loanieinvite .charge_con{ padding:10px 15px;}
.p_user_loanieinvite .charge_con .tips{ padding-top:10px;}
.p_user_loanieinvite .charge_con .ui_input{padding:10px 0;line-height: 24px;height: 24px;}

/*变现通-借款申请*/
.p_user_loanIntentionEnter .bxt-data { font-size: 14px; padding: 15px 10px 15px 10px; line-height: 28px; }
.p_user_loanIntentionEnter .acc-listbox { border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; }
.p_user_loanIntentionEnter .acc-list { padding: 0 13px 0 16px; height: 45px; line-height: 45px; border-bottom: 1px solid #d9d9d9; font-size: 15px; background: #FFF }
.p_user_loanIntentionEnter .acc-list:last-child { border-bottom: none; }
.p_user_loanIntentionEnter .acc-list .txt-wrap { display: -webkit-box; }
.p_user_loanIntentionEnter .acc-list .txt-wrap span { -webkit-box-flex: 1; display: block; }
.p_user_loanIntentionEnter .acc-list .bxt-label{padding-right: 24px;}
.p_user_loanIntentionEnter .bor-b0 { border-bottom: none }
.p_user_loanIntentionEnter .acc-list .yzm { padding-left: 18px; width: 80px; border-left: 1px solid #d9d9d9; }
.p_user_loanIntentionEnter .acc-list .yzm img { width: 80px; height: 23px; overflow: hidden; vertical-align: middle; }
.p_user_loanIntentionEnter .acc-list .border_b { position: relative; -webkit-box-flex: 1; }
.p_user_loanIntentionEnter .acc-list .border_b select { -webkit-appearance: none; border: none; width: 100%; height: 100%;position: absolute;top:0; right:0;z-index: 1; font-size:15px;}
.p_user_loanIntentionEnter .acc-list .border_b .select-arr {z-index: 2; position: absolute; width: 13px; height: 7px; right: 15px; top: 19px; background: url(../images/user/arrow_down.png) no-repeat; background-size: 13px 7px; }
.p_user_loanIntentionEnter  .pr0, .p_user_loanIntentionEnter  .acc-list .border_b.pr0 { padding-right: 0 }
.p_user_loanIntentionEnter .acc-list .ui_reg_input { height: 44px; border: none; font-size: 15px; width: 100%; }
.p_user_loanIntentionEnter .bxt-agree { padding: 15px; color: #1a1a1a; }

/*更换银行卡*/
.p_changebank_new .box{ background:#fff;border-top:1px solid #d9d9d9; margin-bottom: 10px;}
.p_changebank_new .box p{ height: 44px;border-bottom :1px solid #d9d9d9; line-height: 44px; padding: 0 10px; font-size: 15px;}
.p_changebank_new .box .color_gray{color: #b1b1b1;}
.p_changebank_new .box .change_btn{color:#4ba8ff; display: block;}
.p_changebank_new .box .no_change{color:#b1b1b1;}
.p_changebank_new .box .no_change_des{color:#b1b1b1; background-color:#f2f2f2; font-size:15px; line-heihgt:30px; padding:5px 10px;}

/*投资券*/
.p_account_discount{font-size: 12px; color: #909595;}
.p_account_discount .card{background:url(../images/discount/pingpu_01.png) repeat-x right top; background-size: 55px 3px;  margin: 0 15px 10px; padding: 3px 0px 0; border-bottom:#556ca1 3px solid;border-radius: 5px;}
/*.p_account_discount .card{background:url(../images/discount/pingpu.png) repeat-x; background-size: 5px 2px;  margin: 0 15px 10px; padding: 2px 0px 0; border-bottom:#556ca1 3px solid;border-radius: 5px;}*/
.p_account_discount .card .con{background: #fff; position: relative;border-left:1px solid #e2e0e0;border-right:1px solid #e2e0e0;}
.p_account_discount .card dl dt,.p_account_discount .card dl dd{ line-height: 20px; }
.p_account_discount .card a{}
.p_account_discount .card dl{padding: 8px 0; position: relative;}
.p_account_discount .card dl dt{ width: 100px; text-align: center;color:#556ca1; float: left; height: 42px; position: absolute; left: 0px; top: 50%; margin-top: -19px;}
.p_account_discount .card dl dd{ margin-left:100px;color: #909595; position: relative;border-left: 1px solid #e2e0e0;padding: 5px 10px;}
/*.p_account_discount .card dl dd p{padding: 5px 10px;}*/
.p_account_discount .color_blue{ color: #556ca1;}
.p_account_discount .color_yellow{ color: #cda361;}
.p_account_discount .icon_select{background:url(../images/discount/xuanzhong.png); width: 34px; height: 34px; background-size: 100%; position: absolute; right: -1px; top: -10px; display:none;}
.p_account_discount .discount_item_select .icon_select{display:block;}
.p_account_discount .icon_ygq{background:url(../images/discount/icon_ygq.png); width: 58px; height: 50px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.p_account_discount .icon_ysy{background:url(../images/discount/icon_ysy.png); width: 52px; height: 46px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.p_account_discount .card .detail{ margin:0px 15px;/*border-top:1px #e2e0e0 solid;*/ padding: 5px 0px; position: relative; border-top: 1px solid #e2e0e0;}
.p_account_discount .card .detail .text{ padding-right: 25px;}
.p_account_discount .card .detail .close{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_account_discount .no_coupon{background:url(../images/discount/weikong.png) center top no-repeat; background-size: 72px 54px; height: 26px; text-align: center; padding-top: 74px; width: 100%; margin-top:35%;}
.p_account_discount .load_more{text-align: center; padding-bottom: 10px;}
.border_style .card .con,.border_style .card .detail ,.border_style .card dl dd{ border-width:0.5px; }

.p_account_discount .__textClip__{position:relative; padding-right:50px;}
.p_account_discount .__textClipArrow__{position:absolute; right:0; top:0; width:100%; height:100%;}
.p_account_discount .__textClipArrowDown__{background-image: url(../images/discount/jiantou_01.png); background-position: right 3px;background-size: 10px 10px;background-repeat: no-repeat;}
.p_account_discount .__textClipArrowUp__{background-image: url(../images/discount/jiantou.png); background-position: right bottom;background-size: 10px 10px;background-repeat: no-repeat; bottom: 3px;}
.p_account_discount .rate_increases{ border-bottom: #cda361 3px solid;}
.p_account_discount .rate_increases dl dt{color: #cda361;}
.p_account_discount .rate_increases .icon_select{background:url(../images/discount/xuanzhong2.png);background-size: 100%;}
.p_account_discount .rate_increases dl h2{ font-size: 20px;}
.p_account_discount .rate_increases .icon_ysy{background:url(../images/discount/icon_yellow_ygq.png); width: 52px; height: 46px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.p_account_discount .gray{border-bottom:#BFBFBF 3px solid; color: #BFBFBF;}
.p_account_discount .gray dl dt,.p_account_discount .gray dl dd{color: #BFBFBF;}
.p_deal_discount_panel .h90{height: 90px;}
.p_deal_discount_panel .discount_num{height: 90px; position: fixed; bottom: 0px; width: 100%; background: #fff;}
.p_deal_discount_panel .discount_confirm_btn{cursor: pointer;display:block; background:#ee4634; height:38px; color:#fff; font-size:18px; line-height:38px; text-align:center; border-radius:3px; margin: 0 15px;}
.p_deal_discount_panel .discount_confirm_dis_btn{background: #d9d9d9;cursor: default}
.p_deal_discount_panel .discount_num_tips{background: #fafafa; height: 34px;line-height: 34px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; margin-bottom: 8px; padding: 0 15px; text-align: center; font-size: 15px;}
.p_deal_discount_panel .color_red{ color: #ee465c;}

.p_deal_discount_panel .discount_tab_nav{ height:36px; border-bottom:1px solid #d9e1e8; background-color:#fff;}
.p_deal_discount_panel .discount_tab_nav li{ float:left; width:50%; text-align:center;line-height:36px; cursor:pointer;}
.p_deal_discount_panel .discount_tab_nav li.select span{height:4px; background-color:#ee4634; display:block; width:40px; margin:0 auto; position: relative; top: -4px;}
.p_deal_discount_panel .discount_tab_nav li.select{color: #ee4634;}
.p_account_discount .discount_tab_nav{ height:36px; border-bottom:1px solid #d9e1e8; background-color:#fff;}
.p_account_discount .discount_tab_nav li{ float:left; width:50%; text-align:center;line-height:36px; cursor:pointer; color:#333; }
.p_account_discount .discount_tab_nav li.select span{height:4px; background-color:#ee4634; display:block; width:40px; margin:0 auto; position: relative; top: -4px;}
.p_account_discount .discount_tab_nav li.select{color: #ee4634;}




/*捐赠记录*/
.p_donation_record{width: 100%; height: 100%;}
.p_donation_record .donation_money{background: url(../images/account/donation_record_bg.png) no-repeat 100% -84px; padding: 10px 15px; border-bottom: 1px #dadcdd solid; background-size: 280px 313px; background-color: #fff;}
.p_donation_record .donation_money p{font-size: 14px; color: #41474d; line-height: 20px;}
.p_donation_record .donation_money p span{color: #ee4634;}
.p_donation_record .donation_list{overflow: hidden; border-top:1px #dadcdd solid;  border-bottom:1px #dadcdd solid; background-color: #fff;}
.p_donation_record .donation_list li:last-child{border-bottom: none;}
.p_donation_record .donation_list li{width: 100%; border-bottom:1px #dadcdd solid; display: -webkit-box; background: url(../images/account/arrow.png) no-repeat right center; background-size: 7px 13px; height: 50px; line-height: 50px; list-style: none; float: left; background-color: #fff;}
.p_donation_record .donation_list_text{width: 80%; display: block; -webkit-box-flex: 1;}
.p_donation_record .donation_list_text_name{font-size: 14px; color: #41474d; line-height: 24px;}
.p_donation_record .donation_list_text_date{font-size: 11px; color: #989898; line-height: 24px;}
.p_donation_record .donation_list span{display: inline-block; margin-right: 20px; font-size: 18px; color: #ee4634;}
.p_donation_record .list_no{ position: absolute; width: 100%; height: 40px; top: 50%; margin-top: -100px;background: url(../images/account/gy_no.png) no-repeat center top; text-align: center; background-size: 150px 150px;padding-top: 150px; color: #8f8f8f;}

/*捐赠详情*/
.p_donation_detail{width: 100%; height: 100%;}
.p_donation_detail .donation_name{padding: 10px 15px; font-size: 14px; color: #41474d; border-bottom: 1px #dadcdd solid; background-color: #fff;}
.p_donation_detail .donate_ul{border-top: 1px #dadcdd solid; border-bottom: 1px #dadcdd solid; background-color: #fff;}
.p_donation_detail .donate_ul li:last-child{border-bottom: none;}
.p_donation_detail .donate_ul li{list-style: none; height: 45px; line-height: 45px; padding: 0 15px; border-bottom: 1px #dadcdd solid; font-size: 14px; display: -webkit-box;}
.p_donation_detail .donate_ul li p{display: block; -webkit-box-flex: 1;}
.p_donation_detail .donate_ul li span{color: #41474d;}
.p_donation_detail .introduction{ border-top: 1px #dadcdd solid; border-bottom: 1px #dadcdd solid; margin-bottom: 30px;background-color: #fff;}
.p_donation_detail .introduction img{width:100%;}
.p_donation_detail .introduction_title{height: 45px; line-height: 45px; font-size: 14px; color: #989898; border-bottom: 1px #dadcdd solid;  padding-left: 15px;}
.p_donation_detail .introduction_text{padding: 13px 10px; color: #41474d; font-size: 12px;}

.p_donate_appreciate{text-align: center; overflow: hidden;}
.p_donate_appreciate .donate_appreciate{margin-top: 15%;}
.p_donate_appreciate .donate_img{width: 160px; height: 160px;}
.p_donate_appreciate .donate_text{font-size: 15px; color: #8f8f8f; padding-top: 10px;}
.p_donate_appreciate .donate_money{font-size: 20px; color: #41474d;}
.p_donate_appreciate .donate_but{position: absolute; bottom: 15px; width: 100%;}
.p_donate_appreciate .donate_but input{width: 90%;height: 35px;line-height: 35px;font-size: 15px;color: #ee4634;background: #fff;border-radius: 5px;border:1px solid #ee4634;}
.p_donate_appreciate .donate_but .share_btn{width: 90%;height: 35px;line-height: 35px;font-size: 15px;color: #fff;background: #ee4634;border-radius: 5px;display:block;margin:0 auto 10px;}
.p_donate_appreciate .wx_tip{z-index:20; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/icon/icon_wx_tip.png) no-repeat right top rgba(0,0,0,0.5); background-size:90px 90px; display:none;}

/*公益分享*/
.p_account_gyshare_bg{background: url(../images/gyshare/bg.jpg) no-repeat;background-size: 100%; height: 100%;}
.p_account_gyshare{}
.p_account_gyshare .money{height:75px;background: url(../images/gyshare/bg_01.png) no-repeat; padding-top: 41%; background-size: 100%;font-size: 18px; color: #f6cf6e; text-align:center;padding-bottom: 21%; margin-top: 27%;}
.p_account_gyshare .f50{font-size: 50px;}
.p_account_gyshare .f40{font-size: 40px;}
.p_account_gyshare .f30{font-size: 30px;}
.p_account_gyshare .text{background: url(../images/gyshare/txt_01.png) no-repeat;padding-top: 16%; background-size: 100%;}
.p_account_gyshare .code{height:85px; text-align: center;padding: 10% 0;}
@media screen and (min-width : 320px) and (max-width : 359px){
    .p_account_gyshare .money{margin-top: 15%; }
    .p_account_gyshare .code{padding: 5% 0;}
}
.p_donate_appreciate .donate_but{position: absolute; bottom: 30px; width: 100%;}
.p_donate_appreciate .donate_but input{width: 90%;height: 35px;line-height: 35px;font-size: 15px;color: #fff;background: #ee4634;border-radius: 5px;}


.p_decoration{padding-top: 20px;}
.p_decoration .decoration_list .decoration_item{ width: 33.33%; float: left; text-align: center; color: #fff; height: 148px;}
.p_decoration .decoration_list .decoration_item .decoration_img{width: 100%; height: 85px; color:#fff; background-position: center; background-repeat: no-repeat;background-size: 85px;}
.p_decoration .decoration_list .decoration_item h3{padding: 5px 0 3px;color: #fff;width: 80px; margin:0 auto; text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.p_decoration .icon_label{padding: 3px 3px 1px 3px; font-size: 10px; height:10px; line-height: 10px; color: #000;background: #ffc848; border-radius: 2px; margin: 0 0px;}
.p_decoration .icon_label .icon_dai{background-image: url(../images/decoration/dai_icon.png); margin-right:2px; vertical-align: -2px;background-size: 100%; width:12px; height:12px; display:inline-block;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}


.p_decoration .medal_icon{ text-align: center; margin:0px 5px 20px; background-size: 220px 220px; background-repeat: no-repeat; background-position:center 20px; padding-top: 260px;color: #fff;}
.p_decoration .medal_icon .labelled_icon{ background:rgba(255, 200, 72, 1); border-radius:3px; padding: 3px 5px; display: inline-block; margin: 0 5px;}
.p_decoration .medal_icon h2{ font-size: 36px; color: #fff; padding-top: 15px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.p_decoration .medal_icon h3{ font-size: 15px; color: #fff; display: block; width: 85%; margin:0 auto;}
.p_decoration .medal_title{padding: 10px 15px; color:rgba(144, 144, 144, 1);}
.p_decoration .medal_text{padding: 0 33px; color: #fff; font-size: 15px; padding-bottom: 20px;}
.p_decoration .medal_text p{position: relative;}
.p_decoration .medal_text p .icon_completed{position: absolute; width: 11px; height: 8px;background:url(../images/decoration/icon_completed.png); background-size: 100%; left: -15px; top: 7px;}
.p_decoration .medal_detail,.p_decoration .medal_schedule,.p_decoration .medal_reward{ width: 12px; height: 16px; display: inline-block;margin-right: 5px; vertical-align:middle; background-repeat: no-repeat;}
.p_decoration .medal_detail{background-image: url(../images/decoration/detail@3x.png); background-size: 12px 14px;}
.p_decoration .medal_schedule{background-image: url(../images/decoration/schedule@3x.png); background-size: 12px 12px;}
.p_decoration .medal_reward{background-image: url(../images/decoration/reward@3x.png); background-size: 12px 13px;}
.p_decoration .color_yellow{color: #ffc542;}
.p_decoration .pb20{padding-bottom: 20px;}
.p_decoration .medal_con{padding-top: 20px;}
.p_decoration .medal_con_img{width: 70px; height: 70px;float: left;background-size: 70px 70px; margin-left: 15px;}
.p_decoration .medal_con_text{margin-left: 95px; color: #fff;}
.p_decoration .medal_con_text h2{font-size: 14px; color:#ffc542; }

.p_decoration .medal_con_text .icon_label{margin-left: 0px; margin-right: 5px;}
.p_decoration .medal_tips_bottom{ position: absolute; bottom:30px; width: 100%; text-align: center; color: #818181;}
.p_decoration .decoration_yellow{width: 121px; height: 40px; text-align: center;; line-height: 40px;background: #ffc848; color: #333; display: inline-block; font-size: 16px;border-radius: 3px;}
.p_decoration .decoration_yellow:hover{color: #333;}
.p_decoration .decoration_gray{border: 1px solid #909090; border-radius: 3px; color: #909090; height: 38px; min-width: 99px; padding:0 10px; line-height: 38px; text-align: center;display: inline-block; font-size: 16px;}
.p_decoration .decoration_suc{ width: 100%; height: 375px; position: fixed; top: 50%; margin-top: -187px; z-index: 205; text-align: center; color: #909090; font-size: 14px; }
.p_decoration .star_icon{background: url(../images/decoration/star@2x.png) no-repeat center top; background-size: 289px 232px; height: 232px;}
.p_decoration .decoration_suc h2{ font-size: 30px; color: #ffc848;}
.p_decoration .decoration_suc .know_btn{ width: 114px; height: 38px;border:1px solid #ffc848; color: #ffc848; line-height: 38px; text-align: center; display: inline-block;border-radius: 5px; font-size:18px;margin-top: 10px;}
.p_decoration .decoration_reward{ position: fixed; width: 100%; bottom: 0px;background: #4d4d4d; z-index: 205;}
.p_decoration .decoration_reward .title{height: 43px; border-bottom: 1px solid #595959; text-align: center;color: #ffc848; line-height: 43px; font-size: 18px;position: relative;}
.p_decoration .decoration_reward .reward_list{padding-left:15px;border-bottom: 1px solid #595959; }
.p_decoration .decoration_reward .reward_list .reward_item{padding: 10px 0px;border-bottom: 1px solid #595959;color: #fff;font-size: 15px; position: relative;}
.p_decoration .decoration_reward .reward_list .reward_item:last-child{border-bottom: none;}
.p_decoration .decoration_reward .reward_list .reward_item .reward_text_con{padding-right:100px; display: block;}
.p_decoration .decoration_reward .reward_list .reward_item .select_icon{background: url(../images/decoration/select_icon_02.png) no-repeat right center; background-size: 21px 21px; display: block; width: 21px; height: 21px; position: absolute; right: 15px; top: 50%; margin-top: -10px;}
.p_decoration .decoration_reward .reward_list .select .select_icon{background: url(../images/decoration/select_icon_01.png) no-repeat right center;background-size: 21px 21px;}
.reward_btn_box{padding: 15px;}
.p_decoration .decoration_reward .reward_btn{height: 40px;line-height: 40px; text-align: center;background: #ffc848; color: #333; font-size: 15px;border-radius: 3px; border: none; width: 100%;}
.p_decoration .decoration_reward .reward_btn_dis{background: #808080; color: #666;}
.p_decoration .decoration_reward .decoration_reward_close_btn{width: 43px; height: 43px;background: url(../images/decoration/close_btn.png) no-repeat center; background-size: 17px; display: block; position: absolute; left: 0px; top: 0px;}
.p_decoration .new_medal_bg{margin: 0px 10px 20px;background: rgba(0,0,0,0.2); border-radius: 5px; border-bottom: 3px solid #ffc848; padding-top: 15px; text-align: center; color: rgba(255,255,255,0.4);}
.p_decoration .new_medal_bg .new_icon{height: 96px; margin:0 auto 10px; background-repeat: no-repeat; background-position: center; }
.p_decoration .new_medal_bg h2{color: #d1ad4c; font-size: 12px;}
.p_decoration .new_medal_bg h3{color: #fff; font-size: 10px; padding-bottom: 20px;}
/*满标*/
.p_full{background-color: #fff;}
.p_full .full_center{ background-color: #fff;width: 100%;text-align: center;padding-top: 20%;height: 100%;}
.p_full .full-image{ background: #fff url(../images/deal/full-page.png) no-repeat 0 0;background-size:contain;width: 280px;height: 260px;margin: 0 auto;}
.p_full .full-tip{ margin-top: 12px;color: #8b97a2;font-size: 18px;}
.p_full .full-tip p{ font-size: 14px;margin-top: 5px;}
