body {
    margin: 0;
    padding: 0;
}

.p_new_user_page {
    width: 100%;
}
.bannerBox {
    background: url(../../images/activity/new_user_page/one.jpg) no-repeat center top #4e009a;
    height: 500px;
    position: relative;
}
._bannerBox {
    background: url(../../images/activity/new_user_page/_one.jpg) no-repeat center top #4e009a;
    height: 500px;
    position: relative;
}
._count_text {
    text-align: center;
    position: absolute;
    right: 480px;
    bottom: 19px;
    z-index: 100;
    font-size: 15px;
    color: white;
}
.red {
    color: red;
}
.new_platform_3 {
    /* padding-top: 400px; */
}
.kep_2 {
    margin: 0 auto;
    width: 1100px;
    text-align: center;
}
.new_comer_img {
    display: block;
    margin: 0 auto;
}
.new_register {
    background-color:  #ffc528;
}
.new_deal {
    /* height: 1477px; */
    /* background: url(../../images/activity/new_user_page/three.jpg) no-repeat center top #484060; */
    background-color: #484060;
}
.list_cont {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li {
    border-bottom: 1px #e4e4e4 solid;
    padding: 0px 48px;
}

.p_new_user_page .new_deal .list_cont .ui_p2p_list li:last-child{
    border-bottom: none;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .title {
    font-size: 16px;
    color: #333333;
    padding-top: 22px;
    display: block;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time {
    float: left;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .text,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .text {
    font-size: 14px;
    color: #888;
    margin-bottom: -10px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .data,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .data {
    font-size: 24px;
    color: #f13e53;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .data span,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .data span {
    font-size: 16px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate {
    width: 349px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .invest_btn {
    float: right;
    width: 151px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background: url("../../images/activity/new_user_page/bgMerg.jpg") no-repeat center 3px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 27px;
    left: 37px;
    position: relative;
}
.have_deal {
    padding-bottom: 45px;
    border-bottom: 0.5px solid #625b78;
    width: 800px;
    margin: 0 auto;
}
.p_new_user_page .new_deal .have_deal .count_deal {
    font-size: 16px;
    color: #dbdade;
    text-align: center;
    margin: 45px 0px 15px 0px;
}
.p_new_user_page .new_deal .have_deal .count_deal span {
    color: #dbaa39;
}
.p_new_user_page .new_deal .have_deal .scroll_center {
    position: relative;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_top,
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_bottom {
    width: 100%;
    height: 30px;
    z-index: 99;
    position: absolute;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_top {
    background-image: -webkit-linear-gradient(top, #484060 50%, rgba(255, 238, 177, 0) 100%);
    background-image: linear-gradient(180deg, #484060 50%, rgba(255, 238, 177, 0) 100%);
    top: 0px;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_bottom {
    background-image: -webkit-linear-gradient(bottom, #484060, rgba(255, 238, 177, 0));
    background-image: linear-gradient(0deg, #484060, rgba(255, 238, 177, 0));
    bottom: 0px;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list {
    width: 100%;
    height: 160px;
    z-index: 1;
    font-size: 14px;
    color: #EE4634;
    overflow: hidden;
    text-align: center;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list .scroll_list_ul li {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    color: #dbdade;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list .scroll_list_ul li:first-child {
    margin-top: 0px;
}
.p_new_user_page .new_fcode {
    border-bottom: 1px #EDCE82 solid;
}
.p_new_user_page .new_fcode .inviteWay {
    width: 800px;
    height: 236px;
    margin: 0px auto;
    background-color: #fff5cf;
    padding-left: 20px;
    margin-bottom: 50px;
}
.p_new_user_page .new_fcode .inviteWay .title {
    font-size: 16px;
    color: #333;
    padding-top: 35px;
}
.p_new_user_page .new_fcode .inviteWay .info {
    color: #888888;
    margin-top: 6px;
}
.p_new_user_page .new_fcode .inviteWay .inviteUrl .clipTar {
    font-size: 24px;
    color: #333333;
    float: left;
    height: 40px;
    line-height: 40px;
}
.p_new_user_page .new_fcode .inviteWay .inviteUrl .copyLink {
    float: left;
    width: 102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -390px;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo {
    height: 38px;
    line-height: 38px;
    margin-top: 26px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .shareTitle {
    font-size: 16px;
    color: #333;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico {
    width: 38px !important;
    height: 38px !important;
    padding: 0px !important;
    background: url("../../images/activity/new_user_page/shareTo.png") no-repeat !important;
    margin-right: 15px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_tsina {
    background-position: 0px -38px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_qzone {
    background-position: 0px -76px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_renren {
    background-position: 0px -114px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_tqq {
    background-position: 0px -152px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_cqq {
    background-position: 0px -190px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo #share32 {
    width: 38px !important;
    height: 38px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo #share32 .bds_qrcode {
    background: url("../../images/activity/new_user_page/shareTo.png") no-repeat !important;
    background-position: 0px 0px !important;
    width: 38px !important;
    height: 38px !important;
}
.p_new_user_page .new_fcode .inviteToLogin .toLogin {
    font-size: 30px;
    display: block;
    width: 601px;
    height: 71px;
    line-height: 71px;
    color: #fff;
    background: url("../../images/activity/new_user_page/bgMerge01.png") 0px -430px no-repeat;
    text-align: center;
    margin: 0px auto;
}
.p_new_user_page .new_fcode .inviteToLogin .tip {
    font-size: 24px;
    color: #4b2700;
    text-align: center;
    padding: 25px 0px 60px 0px;
}
.statementBox {
    width: 718px;
    margin: 0 auto;
    color: #b3b1bb;
    padding-top: 34px;
}
.title {
    font-weight: bold;
    font-size: 14px;
}
.statementUl {
    padding-bottom: 50px;
}
.statementUl li {
    font-size: 14px;
    color: #b3b1bb;
    margin-top: 10px;
}
.statementUl li:first-child {
    margin-top: 15px;
}
.knowMore {
    display: block;
    font-size: 14px;
    color: #ffc528;
    text-decoration: underline;
    text-align: center;
    margin: 0px auto 55px auto;
}
.four_img {
    padding: 50px 0;
}
.new_platform {
    width: 100%;
    position:relative;
    background-color: #ffc528;
}
.QR_code {
    padding-bottom: 35px;
}
.code {
    display: block;
    margin: -30px auto 25px auto;
    width: 110px;
    height: 110px;
}
.tip {
    font-size: 14px;
    text-align: center;
    color: white;
}
.logo {
    display: block;
    margin: 55px auto 0px auto;
    width: 160px;
    height: 52px;
}
.new_comer_img {
    border-radius: 10px;
    position:static;
    *position:absolute; /*针对IE6/7的Hack*/
    top:50%;
}
.new_platform_2 {
    background-color: #484060;
}
.foot_content {
    text-align: center;
    margin-top: 30px;
    color: #888888;
    margin-bottom: 40px;
}
.part_1 {
    height: 500px;
}
.iframe_register {
    position: absolute;
    right: 0px;
}
.p_user_register .reg_bg {
    top: 40px!important;
    left: 128%!important;
}
.xs_content {
    width:1100px;
    margin: 0 auto;
    position: relative;
}
.count_text {
    text-align: center;
    position: absolute;
    right: 127px;
    bottom: 35px;
    z-index: 100;
}
.img_wangxin {
    width: 804px;
    padding: 40px 0;
}
.img_2 {
    text-align: center;
}