body{background:#FFF4C3;}
.newcomer{}
.newcomer .new_title{position: relative;}
.newcomer .new_comer_img{width: 100%;height: auto;display: block;}
.newcomer .new_title .step_list{display: -webkit-box;position: absolute;bottom: 10px;width: 100%;background: url(../images/line_newcomer.png) no-repeat center;background-size: 68% 2px;background-position-y: 22px;}
.newcomer .new_title .left_n{-webkit-box-flex: 1;text-align: center;}
.newcomer .new_title .point_img{width: 18px;height: 24px;position: absolute;left: 15px;top: -17px;background:url(../images/point_img.png);background-size: 18px 24px;}
.newcomer .new_title .step_num{font-size: 21px;color: #C86000;background:url(../images/un_select.png) no-repeat;width: 45px;height: 45px;background-size: 45px;line-height: 45px;margin: 0 auto;position: relative;}
.newcomer .new_title .step_num_active{background:url(../images/select_bg.png) no-repeat;background-size: 45px;color: #fff;}
.newcomer .new_title .step_name{font-size: 16px;opacity: 50%;color: #4F2800;margin-top: 5px;}
.newcomer .new_title .step_name_active{opacity: 100%;}

.newcomer .new_register,.new_fcode,.new_deal{border-bottom: 1px #EDCE82 solid;}
.newcomer .register_btn{margin: 0 40px;}
.newcomer .go_register{width: 100%;font-size: 14px;color: #fff;background:#ee4634;text-align: center;height: 35px;line-height: 35px;border-radius: 50px;}
.newcomer .go_register:active{background:#ee4634;}
.newcomer .register_success{ font-size: 14px; color: #ee4634; text-align: center; border:1px solid #ee4634; height: 35px; line-height: 35px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.newcomer .mark_img{background:url(../images/mark.png) no-repeat;background-size: 15px;width: 15px;height: 15px;display: inline-block;margin-right: 5px;vertical-align: -3px;}
.newcomer .count_text{margin-top:8px;margin-bottom: 20px;font-size: 12px;color: #4F2800;text-align: center;}
.newcomer .count_text .red{color: #ee4634;}
.newcomer .phone_num{margin-right: 10px;}

.newcomer .list_cont{margin: 0 18px;border-top: 1px #EDCE82 solid;}
.newcomer .ui_p2p_list a.link{display:block;position:absolute;width:100%;height:100%;left:0;top:0;}
.newcomer .ui_p2p_list li{padding:10px 20px;position:relative;border-bottom: 1px #EDCE82 solid;padding-bottom: 4px;}
.newcomer .ui_p2p_list .title{color:#4F2800;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:13px; padding-bottom: 5px;}
.newcomer .ui_p2p_list .title i.tip{margin-right:10px;vertical-align:1px;text-align:center;display:inline-block;border-radius:10px;font-size:10px;padding:0px 5px;border: 1px solid #ee4634; color: #ee4634; background: #fff;}
.newcomer .ui_p2p_list .title i.product_name{margin-right:10px;vertical-align:middle;text-align:center;display:inline-block;color:#fff;border-radius:4px;border:1px solid #ee4634;font-size:11px;padding:1px 2px; background: #ee4634;}

.newcomer .ui_p2p_list .info{display: -webkit-box;}
.newcomer .ui_p2p_list .f11{font-size:11px;}
.newcomer .ui_p2p_list .tz_btn{margin-top:17px; position:relative; z-index:2;text-align: right;-webkit-box-flex: 3;}
.newcomer .ui_p2p_list .rate{-webkit-box-flex:6;text-align: left;font-size: 25px;color: #ee4634;}
.newcomer .ui_p2p_list .time {text-align: left;-webkit-box-flex: 4;font-size: 25px;color: #ee4634;}
.newcomer .ui_p2p_list .rate_text{font-size: 8px;color: #4F2800;}
.newcomer .ui_btn_h26 {color: #fff;width: 80px;background: #ee4634;height: 26px;line-height: 26px;border-radius: 25px;text-align: center;display: inline-block;font-size: 11px;border: 1px solid #ee4634;}
.newcomer .ui_btn_h26:active{background:#B52010;}
.newcomer .have_deal{margin: 0 36px;margin-bottom: 20px;}
.newcomer .have_deal .count_deal{font-size: 15px;color: #4F2800;margin-top: 15px;margin-bottom: 6px;text-align: center;}
.newcomer .have_deal .count_deal .red{color: #ee4634;}
.newcomer .have_deal .scroll_center{position: relative;}
.newcomer .have_deal .bg_linear_top{background-image: linear-gradient(-180deg, #FFF4C3 17%, rgba(255,244,195,0.00) 100%);width: 100%;height: 28px;z-index: 99;position: absolute;top: 0px;}
.newcomer .have_deal .bg_linear_bottom{background-image: linear-gradient(0deg, #FFF4C3 3%, rgba(255,244,195,0.00) 83%);width: 100%;height: 28px;margin-top: 27px;z-index: 99;position: absolute;bottom: 0px;}
.newcomer .have_deal .scroll_list{width: 100%;height: 84px;z-index: 1;font-size: 14px;color: #EE4634;overflow: hidden;text-align: center;}
.newcomer .new_platform{margin-bottom: 15px;}
.newcomer .have_deal .scroll_list li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.newcomer .learn_more{font-size: 15px;color: #1C82DE;text-align: center;margin-bottom: 25px;}
.newcomer .learn_more .arrow{background:url(../images/arrow.png) no-repeat;width: 6px;height: 12px;display: inline-block;background-size: 6px 12px;margin-left: 2px;vertical-align: -1px;}
.newcomer .copyright {
  text-align: center;
  color: #4F2800;
}

.newcomer .risk_tips {
  text-align: center;
  display: -webkit-box;
  width: 235px;
  margin: 0 auto;
  padding: 20px 0;
  color: #4F2800;
}

.newcomer .tips_line {
  -webkit-box-flex: 1px;/*no*/
  height: 1px;/*no*/
  background: #4F2800;
  width: 50px;
  display: block;
  margin-top: 8px;
}

.newcomer .left_line {
  margin-right: 5px;
}

.newcomer .right_line {
  margin-left: 5px;
}