.big_charge_setp{background: url(../images/big_charge_setp.png) no-repeat top center; height: 63px; background-size:auto 100%; }
.white_bg{background: #fff;padding-bottom: 10px;}
.user_title{font-size: 15px;padding:15px; }
.big_charge_box{background: #fff; padding: 10px 15px; margin-top: 10px;}
.big_charge_input{height: 42px; font-size: 30px;background: url(../images/big_charge_$.png) no-repeat center left; background-size: 16px 20px; padding-left: 20px;}
.big_charge_input::-webkit-input-placeholder {
  font-size:14px;
  line-height: 42px;
  }
.user_money{color: #909090; font-size: 14px; border-top: 1px solid #d9d9d9;padding-top: 5px;}
.big_btn{margin: 15px 15px; }
.big_charge_btn{height: 40px; width: 100%; text-align: center; line-height: 40px; color: #fff; font-size: 17px;background: #EE4634;border-radius: 3px;}
.gray_btn{ background: #c9c9c9;}
.big_btn a{color: #fff; display: block;}