@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none; border:none; border-radius:0;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/ text-decoration: none;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html{-webkit-text-size-adjust: none;-ms-text-size-adjust: none;color: #000;	}
body{overflow-x:hidden;color: #000;font: 13px/1.4 arial,"Microsoft YaHei";}
/* ==|== MOBILE SET======================= */
/*POSITION*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
/*MARGIN & PADDING*/
.mt3{margin-top: 3px}
.mt8{margin-top: 8px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt25{margin-top: 25px}
.mb5{margin-bottom: 5px}
.mb20{margin-bottom: 20px}
.pt10{padding-top: 10px}
.pt15{margin-top: 15px}
.pt20{padding-top: 20px;}
/*font color*/
.color_black{color: #000}
.color_red{color: #EE4634}
.color_gray{color: #909090}
.color_gray2{color: #ccc}
.color_blue{color: #1C82DE}
/*float*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
/*font*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f25{font-size: 25px;}
.f28{font-size: 28px;}
/*bg*/
.bg_white{background: #FFF}
.disnone{display: none;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    body{padding-bottom: 34px;}
}



