/*智多鑫*/
.p_dt_activity{width:100%;margin:0;padding:0;-webkit-user-select:none;-webkit-touch-callout:none;}
.p_dt_activity .top_cont{margin:0 0 10px;padding:25px 0 18px;background:url(../../images/duotou/activityBg.png) no-repeat 0 0;background-size:100% 184px;text-align:center;}
.p_dt_activity .new_top_cont{width:100%;height:180px;}
.p_dt_activity .top_cont .userAccount{font-size:14px;color:#FFFFFF;padding:4px 0 13px;margin:0;}
.p_dt_activity .top_cont .introduce{display:-webkit-box;}
.p_dt_activity .introduce .act_left,.p_dt_activity .introduce .act_right{-webkit-box-flex:1;text-align:center;padding-top:47px;}
.p_dt_activity .introduce .act_left{background:url(../../images/duotou/icon_left.png) no-repeat center 0;background-size:40px 40px;}
.p_dt_activity .introduce .act_right{background:url(../../images/duotou/icon_right.png) no-repeat center 0;background-size:40px 40px;}
.p_dt_activity .introduce .act_left p,.p_dt_activity .introduce .act_right p{text-align:center;padding:0;margin:0;font-size:11px;color:#FFFFFF;}
.p_dt_activity .bottom_cont{margin:0;padding:0 0 10px;}
.p_dt_activity .bottom_cont .entrance{background:#FFFFFF;padding:17px 10px 17px 10px;}
.p_dt_activity .bottom_cont .entrance .entrance_title{margin:0;font-size:14px;color:#000000;padding-bottom:12px;}
.p_dt_activity .bottom_cont .entrance .entrance_title .min_money{display:inline-block;background:url(../../images/duotou/fill.png) no-repeat 6px 2px;background-size:9px auto;font-size:12px;color:#909090;padding-left:18px;}
.p_dt_activity .bottom_cont .entrance_detail{display:-webkit-box;background: url("../../images/duotou/duotou_act_arr.png") center right no-repeat; background-size:6px auto; }
.p_dt_activity .entrance_detail .detail_left{-webkit-box-flex:4;}
.p_dt_activity .entrance_detail .detail_right{-webkit-box-flex:8;padding-left:8px;}
.p_dt_activity .entrance_detail p{color:#909090;margin:0;}
.p_dt_activity .detail_left .rate_text{font-size:11px;color:#909090;padding-bottom:12px;}
.p_dt_activity .detail_left .rate{font-size:22px;line-height:18px;color:#EE4634;}
.p_dt_activity .entrance_detail .detail_right .term_text{font-size:11px;color:#909090;padding-bottom:11px;}
.p_dt_activity .entrance_detail .detail_right .term{font-size:22px;line-height:18px;color:#EE4634;}
.p_dt_activity .entrance_detail .detail_right span.day_text{font-size:12px;padding-left:2px;}
.p_dt_activity .f14{font-size:14px;}
.p_dt_activity .f18{font-size:18px;}
/*弹窗*/
.p_dt_activity .activity_dialog{position:fixed;height:100%;width:100%;left:0px;top:0px;z-index:1000;font-size:12px;line-height:1.5;}
.p_dt_activity .activity_dialog .dialog_bg{position:fixed;z-index:999;width:100%;height:100%;left:0px;top:0px;background:rgba(0,0,0,0.8);}
.p_dt_activity .activity_dialog .act_box{width:270px;height:330px;margin-left:-135px;margin-top:-165px;background:#fff;border-radius:10px;text-align:center;z-index:1000;position:fixed;top:50%;left:50%;}
.p_dt_activity .activity_dialog .act_box .sc_content{width:100%;height:330px;font-size:14px;color:#333;overflow-x:hidden;overflow-y:auto;border-radius:10px;}
.p_dt_activity .activity_dialog .act_box .sc_content img{display:block;width:270px;height:330px;}
.p_dt_activity .activity_dialog .close_p2p_btn{width:32px;height:32px;background:url(../../images/duotou/close_icon.png) no-repeat;background-size:100%;margin:16px auto 0;}
.p_dt_activity .hide{display: none;}
/*banner*/
.p_dt_activity .banner{position:relative;margin-top:10px;}
.p_dt_activity .ui-slider{width:100%;overflow:hidden;position:relative;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.p_dt_activity .ui-slider-item{padding-bottom:10px;}
.p_dt_activity .ui-slider-item{text-align:center;position:relative;float:left;overflow:hidden;-webkit-box-sizing:border-box;}
.p_dt_activity .ui-slider-dots{position:absolute;bottom:18px;left:45%;padding:0 6px;text-align:right;}
.p_dt_activity .ui-slider-dots>b{display:inline-block;margin:0 4px;width:6px;height:6px;border-radius:3px;background:#EEEEEE;}
.p_dt_activity .ui-slider-dots .ui-state-active{background:#DCDCDC;}
.p_dt_activity .banner .slideDiv img{width:100%;vertical-align: top;}
.p_dt_activity .activity_tit{background: #FFF;height: 50px;line-height: 50px;padding: 0 10px;margin-bottom: 10px;}
.p_dt_activity .activity_tit h2 i{background:#EE4634;margin-right: 5px; height: 10px; width: 2px; display: inline-block; vertical-align:-1px;}
.p_dt_activity .activity_tit h2 a{color:#909090;background:url('../../images/duotou/activity_publish.png') no-repeat left 17px;background-size:13px 15px;display: block;padding-left:18px;}
