/*智多鑫*/
.p_cancel_loadlist .list_description { padding: 15px; background: #FFF; margin-bottom: 10px;color:#4D4F51}
.p_cancel_loadlist .zdx_list { padding: 18px 0 0; border-bottom: 0.01rem solid #f2f2f2; background: #ffffff; position: relative; margin-bottom: 10px; }
.p_cancel_loadlist .zdx_line { background-color: #f2f2f2; width: 100%; height: 1px; position: relative; }
.p_cancel_loadlist .zdx_middle { padding: 14px 15px 12px; color: #909090; display: -webkit-box; position: relative; }
.p_cancel_loadlist .zdx_middle_left { -webkit-box-flex: 1; }
.p_cancel_loadlist .zdx_middle_right { -webkit-box-flex: 1; }
.p_cancel_loadlist .describe { font-size: 12px; }
.p_cancel_loadlist .describe_val { font-size: 25px; color: #EE4634; line-height: 36px; }
.p_cancel_loadlist .gray { color: #909090; }
.p_cancel_loadlist .zdx_top { font-size: 16px; padding: 0 15px 5px; }
.p_cancel_loadlist .common_st { display: inline-block; font-size: 10px; color: #ffffff; border: 1px solid #ffffff; border-radius: 10px; padding: 1px 6px 2px; }
.p_cancel_loadlist .djx { background-color: #5ABBF6; }
.p_cancel_loadlist .jxz { background-color: #EE4634; }
.p_cancel_loadlist .zdx_tips { padding: 0 15px; font-size: 12px; color: #909090; }
.p_cancel_loadlist .days { color: #EE4634; }
.p_cancel_loadlist .qxdate { padding-left: 4px; }
.p_cancel_loadlist .cancel_invest { text-align: center; display: block; height: 40px; line-height: 40px; border-top: 1px solid #e6e6e6; }
.p_cancel_loadlist .load_more{text-align: center;padding: 30px 0;}

.p_cancel_loadlist .no_coupon{background:url(../../images/duotou/weikong.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 150px; position: absolute; top: 50%; margin-top: -95px; width: 100%;color: #BFBFBF;font-size: 15px;}
/*取消投资弹窗*/
.ui_popup.ui_pop_disclosure .popup_box { height: auto; }
.ui_popup.ui_pop_disclosure .popup_head{height:48px;line-height: 48px;font-size: 17px}
.ui_cancel_suc{background: url(../../images/duotou/duihao.png) center top no-repeat;padding-top:67px;background-size: 52px auto; }

.ui_popup.ui_pop_disclosure .shui_data { padding-bottom: 10px; }
.ui_popup.ui_pop_disclosure .shui_data .info { margin-top: -5px; }
.ui_popup.ui_pop_disclosure .mb8{margin-bottom: 8px;}
.ui_popup.ui_pop_disclosure ul.shui_list { font-size: 15px; }
.ui_popup.ui_pop_disclosure ul.shui_list li { margin-bottom: 10px; }
.ui_popup.ui_pop_disclosure ul.shui_list li span { display: inline-block; width: 49%; }
.ui_popup.ui_pop_disclosure .lh_150 { line-height: 150%; }
.ui_popup.ui_pop_disclosure .popup_box.j_confirm_shui { height: auto; }
.ui_popup.ui_pop_disclosure .popup_box.j_shui_err { height: auto; width: 285px; margin-top: -146px; margin-left: -142px; }
@media screen and (max-width:320px) {
    .ui_popup .popup_btn a { width: 118px; }
    .ui_popup.ui_pop_disclosure .popup_box { width: 280px; margin-left: -140px; }
}