/*mask*/
.p_deal_detail .mask{position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); z-index:100; filter:alpha(opacity=50); display:none;}
.p_deal_detail .mask .mask_cont{width:79.5%; background-color:#fff; margin:48% auto; text-align:center; border-radius:3px; position:relative;}
.p_deal_detail .cont_tit{font-size:17px; border-bottom:1px solid #D9D9D9; width:80%; margin:0 auto; padding:4%;}
.p_deal_detail .cont_cont{color:#909090; padding:3.4%; font-size:15px;}
.p_deal_detail .mask_btn{color:#fff; width:89%; height:35px; background-color:#EE4634; margin:0 auto; border-radius:3px; display:block; line-height:35px; font-size:16px;}
.p_deal_detail .mask_txt{font-size:12px; color:#909090; line-height:17px; padding:3% 0 7%; width:89%; margin:auto;}
.p_deal_detail .mask_back{position:absolute; left:45%; bottom:-26%;}
.p_deal_detail .mask_back img{width:32px; height:32px;}
.p_deal_detail .recharge{color:#000; font-weight:bold;}
.p_deal_detail .withdraw a{color:#1C82DE; text-decoration:none;}

.p_deal_detail .detail_data { padding: 0 15px; background: #fff }
.p_deal_detail .detail_top{font-size:12px;background: -webkit-linear-gradient(left, #FD8300, #D53600);color: #fff;padding: 27px 0;position: relative;}
.p_deal_detail .detail_top .dt_nhua{ text-align: center;}
.p_deal_detail .detail_top .tit{ font-size: 12px;}
.p_deal_detail .detail_top .cont{ line-height: 1;margin-top: 5px;}
.p_deal_detail .detail_top .cont em{vertical-align: 4px;}
.p_deal_detail .detail_top .dt_nhua .nh_left{position: relative;}  
.p_deal_detail .detail_top .dt_nhua .nh_line{width: 1px;height: 26px;background: #FFF;position: absolute;right:0;top:13px;opacity: 0.6}
.p_deal_detail .detail_top .dt_nhua .nh_left,.p_deal_detail .detail_top  .dt_nhua .nh_right{float: left;width: 50%}

.p_deal_detail .data_bot { padding: 15px 0 10px; }
.p_deal_detail ul.data_list li { float: left; text-align: center; }
.p_deal_detail ul.data_list li:first-child { width: 27%; }
.p_deal_detail ul.data_list li:nth-child(2) { width: 52%; }
.p_deal_detail ul.data_list li:last-child { width: 21%; }
.p_deal_detail ul.data_list li img { vertical-align: top; }
.p_deal_detail ul.data_list li span { display: block; margin-top: 15px; }
.p_deal_detail .dd_list { display: -webkit-box; padding: 14px 15px; border-bottom: 1px solid #e6e6e6; color: #4D4F51; font-size: 15px; background: #FFF }
.p_deal_detail .detail_rules.new_rule .dd_list {font-size:13px;}
.p_deal_detail .dd_list span.dd_cont { display: block; -webkit-box-flex: 1;  }
.p_deal_detail .dd_list span.dd_tit { width: 95px; display: block; }
.p_deal_detail .detail_rules.new_rule .dd_list span.dd_tit { width: 98px;}
.p_deal_detail .dd_list.bot_border_none { border-bottom: none }
.p_deal_detail .dd_list:last-child { border-bottom: none }

.p_deal_detail .f35 { font-size: 35px; }
.p_deal_detail .detail_invest { padding: 10px 15px 10px; background: #FFF; }
.p_deal_detail { padding-bottom: 65px; }
.p_deal_detail .p2p_ipt{margin-top: 12px;position: relative;}
.p_deal_detail .qtou_all{ background:transparent;position: absolute;right: 13px;top:0px;padding:9px 0 0 13px;color: #c8c8c8;font-size: 15px;display: inline-block;height:49px;border-left: 1px solid #e6e6e6;}
.p_deal_detail .color_yellow{color:#F6A623;}
.p_deal_detail .f11{font-size: 11px;}
.p_deal_detail .input_deal .dit_yq{position: absolute;bottom: 6px;}
.p_deal_detail .input_deal{border: 1px #e6e6e6 solid;height: 82px;padding-left: 6px;position: relative;}
.p_deal_detail .borer_yellow{border: 1px #F6A623 solid;}
/*请进行风险测评弹框*/
.p_deal_detail .is_eval { position: fixed; z-index: 999; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5); }
.p_deal_detail .alert_evaluate { width: 270px; height: 300px; border-radius: 10px; background: #fff; text-align: center; z-index: 1000; position: fixed; top: 50%; left: 50%; margin-left: -135px; margin-top: -150px; }
.p_deal_detail .alert_evaluate .evaluate_img { width: 151px; height: 144px; margin-top: 20px; }
.p_deal_detail .alert_evaluate p { color: #000; font-size: 15px; text-align: center; margin-bottom: 20px; margin-top: 13px; }
.p_deal_detail .alert_evaluate .eval_btn { width: 240px; height: 35px; line-height: 35px; background: #ee4634; text-align: center; border-radius: 3px; margin: 0 auto; color: #fff; font-size: 16px; display: block; }
.p_deal_detail .alert_evaluate .no_eval { font-size: 11px; color: #909090; text-align: center; margin-top: 14px; }

/****存管逻辑****/
/*存管弹窗公用样式*/
.p_deal_detail .JS_open_box { position: fixed; height: 100%; width: 100%; left: 0px; top: 0px; z-index: 1000; }
.p_deal_detail .cunguan_bg { position: fixed; z-index: 999; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5); }
.p_deal_detail .sc_footer .left_div { float: left; width: 50%; }
.p_deal_detail .free_text { font-size: 12px; color: #909090; text-align: left; margin-top: 20px; padding: 0 14px; }
.p_deal_detail .JS_is_open_p2p, .p_deal_detail .JS_open_box { font-size: 12px; line-height: 1.5 ;z-index:1000;}
.p_deal_detail .cunguan_box { border-radius: 10px; background: #fff; text-align: center; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.p_deal_detail .sc_footer { background-color: #fff; text-align: center; margin-bottom: 10px; padding: 0 13px; }
.p_deal_detail .sc_footer a.a_left { background: #dcdcdc; margin-top: 8px; margin-right: 7px; display: block; width: auto; }
.p_deal_detail .sc_footer a, .p_deal_detail .sc_footer input.a_right { text-align: center; height: 33px; line-height: 33px; color: #fff; font-size: 15px; border-radius: 3px;display: block; background-color: #ee4634; margin-top: 8px;width: 100%; }
.p_deal_detail .free_title { font-size: 17px; color: #000; margin-top: 12px; }
.p_deal_detail .trans_money { font-size: 15px; color: #ee4634; margin-top: 5px; }
.p_deal_detail .text_length { margin-right: 40px; }
.p_deal_detail .transfer_img { width: 175px; height: 44px; }

/*可用余额展开收缩*/
.p_deal_detail .point_open { background: url(../../images/duotou/down_icon.png) no-repeat; width: 14px; height: 14px; background-size: 13px 13px; display: inline-block; vertical-align: -3px; margin-left: 3px; }
.p_deal_detail .down_img { background: url(../../images/duotou/up_icon.png) no-repeat; background-size: 13px 13px; }
.p_deal_detail .account_money { font-size: 12px; color: #909090; margin-top: 6px; line-height: 20px; }
.p_deal_detail .account_money .val_tip{font-size:12px;}

/*开通或升级网贷P2P账户*/
.p_deal_detail .JS_is_open_p2p .cunguan_box { width: 300px; height: 340px; margin-left: -150px; margin-top: -170px; }
.p_deal_detail .JS_is_open_p2p .open_p2p { width: 155px; height: 120px; margin-top: 28px; }
.p_deal_detail .JS_is_open_p2p .free_title { margin-top: 20px; }
.p_deal_detail .JS_is_open_p2p .free_text { padding: 0 20px;margin-bottom: 5px;}
.p_deal_detail .JS_is_open_p2p .sc_footer { padding: 0 20px; }
.p_deal_detail .JS_is_open_p2p .sc_footer a.a_right, .p_deal_detail .JS_is_open_p2p .sc_footer input.a_right {margin-left: 7px; width: auto; }

/*验密余额划转*/
.p_deal_detail .JS_is_transfer .cunguan_box{width: 270px;height: 315px;border-radius: 10px;background:#fff;text-align: center;z-index: 1000;position: fixed;top: 50%;left: 50%;margin-left: -135px;margin-top: -155px;}
.p_deal_detail .JS_is_transfer .free_text{margin-bottom: 20px;}
.p_deal_detail .JS_is_transfer .transfer_img{margin-top: 20px;}
/*提示余额划转*/
.p_deal_detail .JS_is_transfer_tips .cunguan_bg { background: rgba(0, 0, 0, 0.7); }
.p_deal_detail .JS_is_transfer_tips .cunguan_box { width: 270px; height: 315px; margin-left: -135px; margin-top: -175px; }
.p_deal_detail .JS_is_transfer_tips .transfer_img { margin-top: 10px; }
.p_deal_detail .JS_is_transfer_tips .free_text { margin-top: 10px;margin-bottom: 15px; }
.p_deal_detail .JS_is_transfer_tips .tips_icon.JS_active{background-position: 0 0;}
.p_deal_detail .JS_is_transfer_tips .close_p2p_btn { width: 33px; height: 33px; background: url(../../images/duotou/close_icon.png) no-repeat; background-size: 100%; margin: 40px auto 0; }
.p_deal_detail .JS_is_transfer_tips .color_gray { color: #8f8f8f; }
.p_deal_detail .JS_is_transfer_tips .tips_icon { width: 14px; height: 14px; display: inline-block; vertical-align: -3px; margin-right: 5px; background: url(../../images/duotou/yes_icon.png) no-repeat 0 bottom; background-size: 100%; }
.p_deal_detail .JS_is_transfer_tips .no_tip_checkbox { -webkit-appearance: button; width: 15px; height: 15px; opacity: 0; }
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .ui_submit{position: fixed;bottom: 0;text-align: center;background: #FFF;height: 56px;line-height: 56px;width: 100%;border-top: 1px solid #E6E6E6;padding-bottom: 34px;}
}

/* 优惠券 */
.p_deal_detail .dit_footer{ background-color: #fff;margin-top: 10px;padding-left: 15px; }
.p_deal_detail .ditf_list{border-bottom:1px solid #e6e6e6;font-size: 15px;color: #000; line-height: 50px;}
.p_deal_detail .ditf_list:last-child{border-bottom: 0px;}
.p_deal_detail .ditf_list.pl15{padding-left: 15px;}
.p_deal_detail .disn_border{ border-bottom: 0px;}
.p_deal_detail .ditf_list a{ color: #000;display: block;}
.p_deal_detail .ditf_list a span{ color: #909090;}
.p_deal_detail .ditf_list a span i{ color: #999;margin-left: 10px;margin-right: 15px;}
.p_deal_detail .ditf_list a span em{ color: #909090;margin-left: 5px;}
.p_deal_detail .icon_arrow{background: url("../../images/duotou/has_icon.png") no-repeat scroll 0px 0px;background-size: cover;width: 8px;height: 13px;display: inline-block;margin-top: 18px;margin-right: 15px; margin-left:5px;}
.p_deal_detail .ditf_list .close_btn{width: 18px; height: 18px; background: url(../../images/duotou/discount/guanbi.png) center no-repeat; background-size: 18px 18px;padding: 13px 15px; }
.p_deal_detail .ditf_list .icon_coupon{background: url(../../images/duotou/discount/tubiao2.png); width: 18px; height: 15px; display: inline-block; background-size: 100%; vertical-align: -2px; margin-right: 5px; margin-top:14px;}
.p_deal_detail .ditf_list .coupon_detail{border-top:1px solid #e6e6e6;}
.p_deal_detail .ditf_list .coupon_detail .con{margin:0 40px 0 25px; line-height: 20px; padding:12px 0px;}
.p_deal_detail .ui_mask_touziyindao{position: fixed; z-index: 1; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.5);}
.p_deal_detail .ui_mask_white{position: fixed; width:100%; height:100%; left:0px; top:0px; background:rgba(255,255,255,0);z-index:3;}
.p_deal_detail .new_guide_box{position: relative;}
.p_deal_detail .new_guide_icon{z-index:0;background: url(../../images/duotou/discount/iocn_know.png) no-repeat center; background-size:310px 217px; width: 100%; height: 232px; position: absolute; top: -110px; left: 0px;}
.p_deal_detail .ditf_list a span.color_red,.p_deal_detail .ditf_list a span.num_canuse {color: #ee4634;}
.p_deal_detail .can_use{font-size:13px;display:inline-block;margin-left:6px;}

/*授权与与取消授权*/
.p_deal_detail .JS_open_free_psd{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;-webkit-transform-origin: 0px 0px 0px;-webkit-transform: translateZ(2px);}
.p_deal_detail .JS_open_free_psd .mianmi_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);}
.p_deal_detail .JS_open_free_psd .mianmi_box{width: 270px;border-radius: 3px;background: #fff;z-index: 1000;position: fixed;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding:0 15px;}
.p_deal_detail .JS_open_free_psd .title{font-size: 17px;margin-top:15px;margin-bottom:10px;border-bottom: 1px #e6e6e6 solid;text-align: center;padding-bottom: 12px;}
.p_deal_detail .JS_open_free_psd .remind{font-size: 13px;margin-bottom: 10px;}
.p_deal_detail .mianmi_list li{border:1px #e6e6e6 solid;border-radius: 3px;padding: 10px 15px;margin-bottom: 10px;padding-top: 11px;display: -webkit-box;}
.p_deal_detail .mianmi_list li div{padding-left: 10px;-webkit-flex-box:1;}
.free_pay_icon{width: 22px;height: 22px;background: url(../../images/duotou/free_pay_icon.png) no-repeat;background-size: 22px 22px; display: block;  vertical-align: 4px;}
.free_loan_icon{width: 22px;height: 21px;background: url(../../images/duotou/free_loan_icon.png) no-repeat;background-size: 22px 21px;display: block;vertical-align: 5px;}
.p_deal_detail .mianmi_list li div .free_box_title{font-size: 13px;margin-bottom: 4px;}
.p_deal_detail .mianmi_list li div .free_detail{font-size: 11px;color: #909090;}
.p_deal_detail .JS_open_free_psd .sc_footer{padding:0;margin-bottom: 15px;}
.p_deal_detail .JS_open_free_psd .sc_footer a{line-height: 40px;height: 40px;font-size: 16px;}
/*非投资户不允许投资*/
.p_deal_detail .JS_can_not_bid{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;-webkit-transform-origin: 0px 0px 0px;-webkit-transform: translateZ(2px);}
.p_deal_detail .JS_can_not_bid .not_bid_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);}
.p_deal_detail .JS_can_not_bid .not_bid_box{width: 270px;border-radius: 3px;background: #fff;z-index: 1000;position: fixed;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding:0 15px;text-align: center;}
.p_deal_detail .sc_no_bid{background: url(../../images/duotou/sc_no_bid.png) no-repeat;width: 147px;height: 122px;background-size: 147px 122px;display: block;margin: 0 auto;margin-top: 15px;margin-bottom: 15px;}
.p_deal_detail .not_bid_box p{color: #ee4634;font-size: 15px;}
.p_deal_detail .not_bid_box a{width: 150px;height: 40px;line-height: 40px;border-radius: 3px;border:1px #ee4634 solid;margin: 0 auto;margin-bottom: 15px;color: #ee4634;font-size: 15px;margin-top: 15px;display: block;}
.p_deal_detail .not_bid_box .title{font-size: 17px;margin-top:15px;margin-bottom:10px;border-bottom: 1px #e6e6e6 solid;text-align: center;padding-bottom: 12px;}
/* 温馨提示 */
.p_deal_detail .invest_tips{padding:8px 15px 8px;color:#ee4634;font-size:12px;line-height: 1.4; }
/* 4.8.3版本 */
/*无缝滚动*/
.p_deal_detail .marquee{width:100%;height:30px;line-height:30px; background:#FCE4BD;}
.p_deal_detail .marquee_con{margin:0 15px;height: 100%;overflow:hidden;}
.p_deal_detail .marquee .row{position: relative;height: 100%;width: 1140px;}
.p_deal_detail .marquee li{float:left; display: block;}
.p_deal_detail .marquee li{color:#DD7200;}
.p_deal_detail .marquee1,.p_deal_detail .marquee2{width: 550px;position: absolute;}
.p_deal_detail .marquee2{left:550px;}
.p_deal_detail .mt5{margin-top:5px;}
/*个人风险要素校验*/
.ui_conf_risk .opacity{ opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 202;}
.ui_conf_risk .confirm_donate{ position: fixed; top: 50%; left: 50%; margin-top: -79px; margin-left: -138px; background-color: #fff; z-index: 203; width: 276px; height: 158px; border-radius: 5px;}
.ui_conf_risk .confirm_donate_title{ margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid;}
.ui_conf_risk .confirm_donate_text{padding:10px 15px; text-align: center; font-size: 14px; color: #333; padding-top:8px; }
.ui_conf_risk .confirm_donate_but{padding: 5px 0px 0px 15px; overflow: hidden;}
.ui_conf_risk .confirm_donate_but input,.ui_conf_risk .confirm_donate_but a{text-align:center;width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none;}
.ui_conf_risk .confirm_donate_but_del{background-color: #e5e5e5; color: #949494; margin-right: 15px;}
.ui_conf_risk .confirm_donate_but_yes{background-color: #fe4438; color: #fff;}
.ui_conf_risk.bid_conf .confirm_donate_title{height:48px;line-height:48px;color:#000;font-size:17px;}
.ui_conf_risk.bid_conf .confirm_donate{width:270px;height:auto;}
.ui_conf_risk.bid_conf .confirm_donate_text{padding:25px 15px 33px;color:#000;font-size:15px;}
.ui_conf_risk.bid_conf .color_gray{color:#909090}
.ui_conf_risk.bid_conf .sy_num{display:block;margin-top:15px;}
.ui_conf_risk.bid_conf .confirm_donate_but{padding:5px 0 15px 15px;}
.ui_conf_risk.bid_conf .confirm_donate_but input,.ui_conf_risk.bid_conf .confirm_donate_but a{font-size:16px;width:112px;height:35px;line-height:35px;}
.ui_conf_risk.bid_conf .confirm_donate_but input.w240{width:240px;}
