.p_dt_contract_list { border-top: 1px solid #D9D9D9; }
.p_dt_contract_list dl.ct_list { margin-bottom: 10px; }
.p_dt_contract_list dl.ct_list dt { border-bottom: 1px solid #E6E6E6; padding: 15px; }
.p_dt_contract_list dl.ct_list dt h2 { display: -webkit-box; line-height: 24px }
.p_dt_contract_list dl.ct_list dt h2 span { display: block }
.p_dt_contract_list dl.ct_list dt h2 span.tit { -webkit-box-flex: 1; color: #030303 }
.p_dt_contract_list dl.ct_list dt h2 span.time { width: 130px; }
.p_dt_contract_list dl.ct_list dd { height: 44px; line-height: 44px; }
.p_dt_contract_list dl.ct_list dd a { display: block; }
.p_dt_contract_list .empty_list{text-align: center;padding-top: 20%;}
.p_dt_contract_list .imgS{width: 112px;height: 112px;}
.p_dt_contract_list .gray{color: #C6C5CB;}