html{overflow-x: hidden;}
body{position: relative;}
.p_invest_list .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding: 0px 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.p_invest_list .top span {
    display: block;
    font-size: 17px;
}
.p_invest_list .top span:nth-of-type(1) {
    color: #909090;
}
.p_invest_list .top span:nth-of-type(2) {
    color: #030303;
}
.p_invest_list .listWrap {
    margin-top: 12px;
    padding-bottom:36px;
}
.p_invest_list .listWrap .item {
    background-color: #fff;
    padding: 0;
}
.p_invest_list .listWrap .item a{
    display: block;
    padding-left: 15px;
}
.p_invest_list .listWrap .item .ftDiv,.p_invest_list .listWrap .item .shouyi,.p_invest_list .listWrap .item .scDiv{
padding-right: 15px;
}
.p_invest_list .listWrap .item:not(:first-child) {
    margin-top: 12px;
}
.p_invest_list .listWrap .item .ftDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.p_invest_list .listWrap .item .ftDiv span {
    display: block;
    color: #030303;
}

.p_invest_list .listWrap .item .ftDiv {
    height: 30px;
    line-height: 30px;
    padding-top: 17px;
}
.p_invest_list .listWrap .item .ftDiv span:nth-of-type(1) {
    font-size: 17px;
}
.p_invest_list .listWrap .item .ftDiv span:nth-of-type(2) {
    color: #909090;
}
.p_invest_list .listWrap .item .scDiv {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 13px;
    font-size: 13px;
    color: #000;
}
.p_invest_list .listWrap .item .shouyi { margin-top: 8px; }
.p_invest_list .listWrap .item .shouyi span { font-size: 13px; color: #909090; margin-bottom: 5px;display: block; }
.p_invest_list .listWrap .item .shouyi span i {    vertical-align: middle;margin-right: 5px; width: 5px; height: 5px; background: #D8D8D8; border-radius: 50%; display: inline-block; }
.p_invest_list .listWrap .item .tdDiv {
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #E6E6E6;
    color: #9d9d9d;

}

.p_invest_list .listWrap .item .tdDiv a::after,.p_invest_list .listWrap .item .tdDiv i  {
    content: "";
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 20px;
    background: url("../../images/duotou/has_icon.png") no-repeat 0px center;
    background-size: 100% auto;
}
.p_invest_list .has-main{height:100%;}
.p_invest_list .title{height:15px;line-height:15px;font-size:12px;padding:15px 0 10px 15px;color:#909090;}
.p_invest_list .has-header{padding:9px 15px 10px 15px;background-color:#fff;border-bottom:1px solid #d9d9d9;position:relative;color:#41474d;}
.p_invest_list .has-header span{font-size: 17px;line-height: 24px;color: #909090;}
.p_invest_list .color_red{color:#EE4634;}
.p_invest_list .already_details{background-color:#fff;border-top:solid 1px #d9d9d9;padding:10px 0px 0px 15px;}
.p_invest_list .already_detail{background-color:#fff;border-bottom:solid 1px #d9d9d9;padding-bottom:5px;margin-bottom: 10px;}
.p_invest_list .details_list .d_list{color:#909090;border-bottom: solid 1px #d9d9d9;padding-right: 15px;}
.p_invest_list .de_num{float:right;}
.p_invest_list span.color_black{color:#030303;}
.p_invest_list .details_list .d_list .lt_money{font-size: 17px;line-height: 24px;}
.p_invest_list .details_list div.lt_cont{margin-top: 5px;margin-bottom: 13px;}
.p_invest_list .details_list div.lt_contspan.lt_dt{line-height: 18px;}
.p_invest_list .details_list div.lt_agment{padding-top: 9px;}
.p_invest_list .details_list div.lt_agment span{display: inline-block;color: #556CA1;font-size: 15px;line-height: 30px;text-align: center;}
.p_invest_list .details_list div.lt_agment span.loan_agment{border-right:solid 1px #d9d9d9;width:49%;}
.p_invest_list .details_list div.lt_agment span.p_detail{width:49%;}
.p_invest_list .mrt10{margin-top: 10px;}
.p_invest_list .empty_list{text-align: center;padding-top: 35%;}
.p_invest_list .imgS{width: 112px;height: 112px;}
.p_invest_list .load_more {
    position: absolute;
    bottom: 2px;
    width: 100%;
    padding-left: 40%;
    color: #556CA1;
    /*background-color: #EFEFF4;*/
    height: 24px;
    line-height: 24px;
}
.p_invest_list .load_more a{
    color: #000000;
}
.lt_dt{line-height: 18px;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 60%;}
.p_invest_list .gray{color: #C6C5CB;}
.p_invest_list .invest_cont>div:last-child{margin-bottom: 36px;}