.p_publishptp .f10 { font-size: 10px; }
.p_publishptp .f16 { font-size: 16px; }
.p_publishptp .pt15 { padding-top: 15px; }
.p_publishptp .mt20 { margin-top: 20px; }
/*头部*/
.p_publishptp .inv-head .f28 { font-size: 28px; }
.p_publishptp .inv-head .inv_top { background: -webkit-linear-gradient(left, #FD8300, #D53600); color: #fff; padding: 30px 0; position: relative; }
.p_publishptp .inv-head .inv_top .invh_nhua, .p_publishptp .inv-head .inv_top .invh_ktou { text-align: center; }
.p_publishptp .inv-head .inv_top .invh_ktou { margin-top: 6px }
.p_publishptp .inv-head .inv_top .tit { font-size: 12px; }
.p_publishptp .inv-head .inv_top .cont { line-height: 1.2; }
.p_publishptp .inv-head .inv_top .cont span { vertical-align: -2px; }
.p_publishptp .inv-head .inv_top .invh_ktou .ik_left { position: relative; }
.p_publishptp .inv-head .inv_top .invh_ktou .ik_line { width: 1px; height: 26px; background: #FFF; position: absolute; right: 0; top: 18px; opacity: 0.6 }
.p_publishptp .inv-head .inv_top .invh_ktou .ik_left, .p_publishptp .inv-head .inv_top  .invh_ktou .ik_right { float: left; width: 50% }
.p_publishptp .inv-head .inv_top .invh_icon { position: absolute; font-size: 9px; left: 9px; top: 9px; }
.p_publishptp .inv-head .inv_top .invh_icon span { display: inline-block; padding: 1px 5px; border-radius: 20px; border: 1px solid #fff; }

/*中间*/
.p_publishptp .inv-center { padding-top: 15px; background-color: #fff; font-size: 13px; line-height: 1.4; }
.p_publishptp .inv-center .invc_list { margin-bottom: 5px;padding:0 15px; }
.p_publishptp .inv-center .invc_list:last-child { margin-bottom: 0; }
.p_publishptp .inv-center p { color: #000 }
.p_publishptp .inv-center p em { color: #ee4634; }
.p_publishptp .title { color: #909090;  font-size: 13px;width:110px; }

/*底部*/
.p_publishptp .inv-footer { margin-top: 10px; background: #fff; min-height: 180px; }
.p_publishptp .invf_top { border-bottom: 1px solid #e6e6e6; position: relative; height: 44px }
.p_publishptp .invf_top ul { height: 44px;display:-webkit-box; }
.p_publishptp .invf_top ul li { color: #000;-webkit-box-flex:1; text-align: center; line-height: 44px; font-size: 15px; height: 44px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.p_publishptp .invf_top ul li.onlyone{text-align: left;padding-left:15px;}
.p_publishptp .invf_top ul li.select { color: #ee4634; border-bottom: 2px solid #ee4634; height: 42px; }
.p_publishptp .invf_top .invf_write { height: 4px; background-color: #ee4634; border-radius: 3px; position: absolute; bottom: 0px; }
.p_publishptp .invf_txt { font-size: 14px; color: #4D4F51; line-height: 22px; }
.p_publishptp .invf_txt table { padding: 0 15px 10px; display: block; }
.p_publishptp .invf_tx table img { width: 100% !important; height: auto !important; }
.p_publishptp .invf_txt table th { color: #000; text-align: left; padding: 10px 0; }
.p_publishptp .invf_txt table td { padding-bottom: 0px; }
.p_publishptp .invf_txt .tb_ql td { text-align: center; }
.p_publishptp .invf_txt .tb_ql th { text-align: center; }
.p_publishptp #tb1, .p_publishptp #tb2 { display: none; }
.p_publishptp .tb1, .p_publishptp .tb2 { display: none; }
.p_publishptp .invf_txt table.table1 { padding: 0; display: table; }
.p_publishptp .bid_list { height: 51px; line-height: 51px; color: #000; font-size: 14px; border-bottom: 1px solid #e6e6e6; padding: 12px 15px 10px; }
.p_publishptp .bid_list .float_l { float: left; }
.p_publishptp .bid_list .float_l p, .p_publishptp .bid_list .float_r p { line-height: 25px; }
.p_publishptp .bid_list .float_l p.gray, .p_publishptp .bid_list .float_r p.gray { color: #909090; font-size: 12px; }
.p_publishptp .bid_list .float_r { float: right; text-align: right }

/*收益计算公式*/
.p_publishptp .profit_formula { font-size: 11px; color: #000000; line-height: 17px; border-top: 1px #E6E6E6 solid; padding:15px 15px 15px; margin-top: 6px; }
/*投资风险提示*/
.p_publishptp .ui_risk_tips{text-align: center; color: #cccccc; position: relative; margin: 30px 60px;}
.p_publishptp .ui_risk_tips .line{background: #E6E6E6;; position: absolute; width: 100%; height: 1px; left: 0px; top: 8px;}
.p_publishptp .ui_risk_tips span{ background: #F5F5FA; display: inline-block; position: relative; padding: 0 10px;}