/*注册*/
.p_user_register .dl_footer h3,.p_user_register_send .dl_footer h3{ color: #a4acb7; margin-top: 10px; margin-bottom: 7px; }
.p_user_register a.reg-banner { display: block; }
.p_user_register a.reg-banner, .p_user_register .reg-banner img { height: 102px; width: 100%; }
.p_user_register .reg-report { background: #ffffff; text-align: center; color: #909ba8; font-size: 12px; padding: 10px 5%; line-height: 24px }
.p_user_register .report-icon { background-position: 0 0; height: 25px; width: 34px; vertical-align: middle; margin-right: 5px }
.p_user_register ul.security{margin: 30px 0 0;display: -webkit-box; }
.p_user_register ul.security li{-webkit-box-flex: 1;text-align: center;}
.p_user_register ul.security li i{background-position: -146px 0;display: inline-block;width: 35px;height: 35px;}
.p_user_register ul.security li:first-child i{background-position: -80px 0}
.p_user_register ul.security li:last-child i{background-position: -200px 0}
.p_user_register ul.security li span{display: block;color:#b5beca;font-size: 10px;text-align: center;}
.p_user_register .ui-form .input-list .tel-select{border-right: 1px solid #dadcdd;max-width: 95px;padding-right: 10px;line-height: 40px;}
.p_user_register .ui-form .input-list .tel-select span{padding-left: 8px;}

/*注册-发送短信验证码*/
.reg_send_box .send-tip{font-size: 13px;text-align: center;margin-bottom: 10px;}
.reg_send_box .resend{width:113px;border-left: 1px solid #dadcdd;color: #999;text-align: center;}
.reg_send_box .resend .re-btn{background: none;font-size: 15px;}
.reg_send_box .resend .re-btn.sending{color:#999;}
.reg_send_box .ipt-list {display: -webkit-box; padding-left: 15px; height: 40px; line-height: 40px; border: 1px solid #dadcdd; border-radius:5px;font-size: 15px; margin: 12px auto 0;background: #FFF }
.reg_send_box .ipt-list .txt-wrap { -webkit-box-flex: 1;}
.reg_send_box .ipt-list input { border: none; }
.reg_send_box .ipt-list .txt-wrap input { border: none; width: 100%; height: 100%; line-height: normal; font-size: 15px; }
.reg_send_box .reg-suc{color: #586068}