/****我的账户-已投项目-多投宝****/
.p_account_load_duotou .dt-databox{padding:22px 30px 30px;}
.p_account_load_duotou .dt_data{padding-bottom:20px;background:url(../../images/common/bg_line.png) repeat-x left bottom;}
.p_account_load_duotou .user_right_box_v2 .user_title a{text-decoration:none;}
.p_account_load_duotou .user_right_box_v2 .screening{padding:23px 0 0 0;}
.p_account_load_duotou .dt_state{background-image:url(../../images/duotou/dt_status.png);background-repeat:no-repeat;display:inline-block;width:70px;height:70px;position:absolute;left:2px;top:2px;}
.p_account_load_duotou .dt_state.dsh{background-position:0 0}
.p_account_load_duotou .dt_state.mb{background-position:0 -118px}
.p_account_load_duotou .dt_state.yjq{background-position:0 -230px}
.p_account_load_duotou .dt_state.ysh{background-position:0 -334px}
.p_account_load_duotou .dt_state.ssz{background-position:0 -445px}
.p_account_load_duotou .dt_state.tzz{background-position:0 -547px}
.p_account_load_duotou .dt-line{width:9px;height:20px;background:url(../../images/duotou/dt_line.png);display:inline-block;}
.p_account_load_duotou .dt-link{width:200px;text-decoration:underline;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;}
.p_account_load_duotou .plan td{color:#4f4e4e}
.p_account_load_duotou .sub_title_dt span{display:inline-block;}
.p_account_load_duotou .dt-more{border-top:#e3e3e3 solid 1px;margin-top:15px;padding-top:12px;}
.p_account_load_duotou .dt-more a{color:#4f4e4e;font-size:14px;}
.p_account_load_duotou .dt-more a:hover{text-decoration:underline;}
.p_account_load_duotou .pro_detailed{padding-bottom:15px;margin-top: 0}
.p_account_load_duotou .xy_contract{margin:0 0 15px 37px;}
.p_account_load_duotou .project_r{height:160px;}
.p_account_load_duotou .project_l{height:180px;}
.p_account_load_duotou .project_r p{padding-bottom:19px;}
.p_account_load_duotou .mb_text{font-size:14px;color:#9d9d9a;}
.p_account_load_duotou .pt13{padding-top:13px;}
.p_account_load_duotou .pt34{padding-top:34px;}
.p_account_load_duotou .pro_name{width:250px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.p_account_load_duotou .pro_nub{width:222px;}
.p_account_load_duotou .pro_button{width:92px;}
.p_account_load_duotou .por_con{padding:0px 28px 0 60px;}
.p_account_load_duotou i.ico_sigh,.weedialog.weebox_dt_sh i.ico_sigh{background:url(../../images/investment_view/invest-con.png)  0 -221px;}
.weedialog.weebox_dt_sh .dialog-content{padding:30px;color:#474646;font-size:14px;line-height:30px;}
.weedialog.weebox_dt_sh .dialog-button{padding:0 0 45px 0;}
.weedialog.weebox_dt_sh .sh_time{border:1px solid #f9d147;background:#feffeb;height:32px;line-height:32px;}
.weedialog.weebox_dt_sh .sh_time h3{text-align:center;}
.weedialog.weebox_dt_sh .sh_con{padding-top:18px}
.weedialog.weebox_dt_sh .mt7{margin-top:7px}
.weedialog.weebox_dt_sh .sh_con label{text-align:center;}
