/****投资详情-多投宝****/
.p_finplan .tz_jine{padding-top:45px;height:154px;}
.p_finplan i.ico_sigh{background:url(../../images/investment_view/invest-con.png)  0 -221px;}
.p_finplan .title_box h1 .icon_new{max-width:130px;}
.p_finplan .title_box h1 span em.tit{max-width:430px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.p_finplan .title_box h1 span em{display: table-cell;}