/****投资确认-多投宝****/
.p_finplan_bid .number dd.yellwo { font-family: "Microsoft Yahei"; }
.p_finplan_bid .number dt, .p_finplan_bid .number dd { width: auto }
.p_finplan_bid dd.w285 { width: 285px; }
.p_finplan_bid dd.w320 { width: 320px; }
.p_finplan_bid dd.w320 { width: 320px; }
.p_finplan_bid .number dl { padding-left: 50px; width: auto; }
.p_finplan_bid .amount_box { padding: 5px 7px; height: 26px; font-size: 14px; line-height: 26px; }
.p_finplan_bid .tab_touzi td, .p_finplan_bid .tab_touzi th { line-height: 38px; padding: 0px 10px 0px 0; }
.p_finplan_bid .tab_touzi td.pt25, .p_finplan_bid .tab_touzi th.pt25 { padding-top: 25px; }
.p_finplan_bid .button_confirm1 { width: 225px; background-position: -2px 0; }
.p_finplan_bid .button_confirm1:hover { background-position: -1px -514px; }
.p_finplan_bid .button_confirm1:active { background-position: -1px -572px; }
.p_finplan_bid i.ico_sigh{background:url(../../images/investment_view/invest-con.png)  0 -221px;}
