
body
{
	background-color: #fafafa;
	height: 100%;
}
.faq_center
{
	padding: 5%;
	font-size: 12px;
	margin-bottom: 20px;
}

.faq_center a
{
	text-decoration: none;
	font-size: 14px;
}
.faq_center h3
{
	color: #fe4a21;
	font-size: 12px;
}
.faq_bant
{
	margin-top: 5px;
	margin-bottom: -10px;
}
.faq_list p a
{
	color: #57759e;
	line-height: 30px;
}

.fr
{
	float: right;
	display: inline;
}
.icon_arrow
{
	background-image: url(../images/all_icon.png);
	background-repeat: no-repeat;
	background-position: 0px -168px;
	width: 8px;
	height: 15px;
	margin-top: 15px;
	margin-right: 4%;
}
.faq_btn a
{
	color: #535353;
	font-size: 14px;
	text-decoration: none;
	padding-left: 4%;
	border: 1px #d9d9d9 solid;
	border-radius: 5px 5px;
	background-color: #ffffff;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	display: block;
}

.faq_center h4
{
	color: #57759e;
}

.faq_message
{
	margin-top: 14px;
	color: #535353;
	line-height: 20px;
}


/*满标*/
.full-body{background-color: #f5f5fa;}
.full_center{width: 100%;text-align: center;position: absolute;top: 50%;margin-top: -100px;}
.full-image{ background: url("../images/full-page.png?v=20141014") no-repeat 0 0;background-size:contain;width: 150px;height: 120px;margin: 0 auto;}
.full-tip{ margin-top: 12px;color: #bfbfbf;font-size: 15px;}
.full-tip p{ font-size: 14px;margin-top: 5px;}
