.user_head {
	text-align: center;
	letter-spacing: 8px;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-weight: bold;

}
.ht_center {
	margin-top: 10px;
	font-size: 12px;
	color: #333333;
	padding: 2%;
	letter-spacing: 1px;
}
.ht_center p {
	margin-top: 3px;
}
.ht_top {
	margin-top: -10px;
	text-indent: 2em;
}
.ht_jg {
	padding-top: 6%;
}

.ht_tiaowen .ht_jg {
	padding-top: 3%;
	
}
.ht_jg h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ht_tiaowen p {
	text-indent: 2em;
	letter-spacing: 1px;
}