<div class="p_account_medal">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/p_account_medal.css');?>">
    <div class="ui-box">
        <div class="h-title">
            <h2><i></i>勋章</h2>
            <div class="h-line"></div>
            <ul class="sub-nav clearfix" id="">
                <li>
                    <a href="#">勋章墙</a>
                </li>
                <li class="select">
                    <a href="#">我的勋章</a>
                </li>
            </ul>
            <div class="r-decs"><a href="">什么是勋章？</a></div>
        </div>
        <div class="r_cont">
            <ul class="medal_list clearfix">
                <li class="ml_bg_yellow">
                    <div class="ml_img tc"><img src="<?php echo $this->asset->makeUrl('v3/images/account/xunzhang/gray_tx.png');?>" alt="" width="157" height="141"></div><span class="ml_tit f16">城会玩</span>
                    <div class="ml_icon"><span class="jiang icon_sprite">奖</span> <span class="jiang icon_sprite">限</span></div>
                </li>
                <li class="ml_bg_yellow">
                    <div class="ml_img tc"><img src="<?php echo $this->asset->makeUrl('v3/images/account/xunzhang/featureimg.png');?>" alt="" width="157" height="141"></div><span class="ml_tit f16">公益小鲜肉</span>
                    <div class="ml_icon"><span class="dailing icon_sprite">待领奖</span></div>
                </li>
                <li class="ml_bg_yellow">
                    <div class="ml_img tc"><img src="<?php echo $this->asset->makeUrl('v3/images/account/xunzhang/featureimg.png');?>" alt="" width="157" height="141"></div><span class="ml_tit f16">城会玩</span>
                </li>
                <li class="ml_bg_yellow">
                    <div class="ml_img tc"><img src="<?php echo $this->asset->makeUrl('v3/images/account/xunzhang/featureimg.png');?>" alt="" width="157" height="141"></div><span class="ml_tit f16">城会玩</span>
                </li>
                <li class="ml_bg_yellow">
                    <div class="ml_img tc"><img src="<?php echo $this->asset->makeUrl('v3/images/account/xunzhang/gray_tx.png');?>" alt="" width="157" height="141"></div><span class="ml_tit f16">城会玩</span>
                    <div class="ml_icon"><span class="jiang icon_sprite">奖</span> <span class="jiang icon_sprite">限</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
