@themeColor: #fc810c; // 主题颜色
// font color
@mainFontColor: #8f8e94; // 没用
@markColor: #e02020; // warning颜色
@primaryColor: #772508; // 用在button
@primaryColorFocus: #dc8817;
@primary2Color: #772508; // 用在button
@primary2ColorFocus: #672108;
@primary2ColorDisable: rgba(119, 37, 8, 0.3);
@primary2WhiteColor: rgba(85, 46, 32, 1); // 用在button
@primary2WhiteColorFocus: rgba(85, 46, 32, 0.7);
@themeColorOpacity3: rgba(252, 129, 12, 0.15); // 主题颜色 透明度0.15

@h1Color: #000; // 大标题
@h2Color: #000; // 中标题
@h3Color: #000; // 小标题
@baseColor: #404040; // 基础文字颜色(条列式的链结名、底部导航的选项名、主要文字...)
@subbaseColor: #888; // 次要文字颜色(子标题、加总金额的细项、)
@smallColor: #000; // 边角文字颜色(一些小链结)
@markColor: #e02020; //醒目颜色（提示色）
@markColorNew: #ce3300; //新的醒目颜色（价格数字...）
@deleteColor: #ff3950; //删除按钮颜色

// background
@mainbgColor: #f2f3f4;
@cardbgColor: #fff;
@assetBgColor: #f2f3f4;
@lineColor: #eaebec;
