                        {foreach from=$deals_list.list item="deal" key=key}
                            <div class="p2p_product p5">
                                <div class="clearfix bg_whtie">
                                    <div class="con_l">
                                        <h3 class="f16">
                                            <!--icon-->
                                            {if $deal.type_id eq 11}
                                            <i class="icon_CD"></i>
                                            {/if}
                                            {if $deal.type_id eq 12}
                                            <i class="icon_FD"></i>
                                            {/if}
                                            {if $deal.type_id eq 13}
                                            <i class="icon_QYD"></i>
                                            {/if}
                                            {if $deal.type_id eq 14}
                                            <i class="icon_GRD"></i>
                                            {/if}
                                            {if $deal.type_id eq 15}
                                            <i class="icon_ZRD"></i>
                                            {/if}
                                            {if $deal.type_id eq 16}
                                            <i class="icon_CRD"></i>
                                            {/if}
                                            {if $deal.type_id eq 17}
                                            <i class="icon_YSD"></i>
                                            {/if}
                                            {if $deal.type_id eq 18}
                                            <i class="icon_DDD"></i>
                                            {/if}
                                            {if $deal.type_id eq 19}
                                            <i class="icon_XSD"></i>
                                            {/if}
                                            {if $deal.type_id eq 21}
                                            <i class="icon_ZSZD"></i>
                                            {/if}
                                            {if $deal.type_id eq 22}
                                            <i class="icon_YLD"></i>
                                            {/if}
                                            {if $deal.type_id eq 23}
                                            <i class="icon_YRD"></i>
                                            {/if}
                                            {if $deal.type_id eq 24}
                                            <i class="icon_KZD"></i>
                                            {/if}
                                            {if $deal.type_id eq 25}
                                            <i class="icon_GYD"></i>
                                            {/if}
                                            {if $deal.type_id eq 26}
                                            <i class="icon_CYD"></i>
                                            {/if}
                                            {if $deal.type_id eq 27}
                                            <i class="icon_TZD"></i>
                                            {/if}
                                            {if $deal.type_id eq 29}
                                            <i class="icon_XFDD"></i>
                                            {/if}
                                            <!--/icon-->
                                            {if $deal.bid_flag eq 1}
                                            <a title="{$deal.old_name}" alt="{$deal.old_name}"  href="{$deal.url}" target="_blank" >{$deal.name}</a>
                                            {else}
                                            <span title="{$deal.old_name}" alt="{$deal.old_name}" class='deal_tag_name'>{$deal.name}</span>
                                            {/if}
                                            {if isset($deal.deal_tag_name) && $deal.deal_tag_name != ''}
                                            <i class="deal_tips bg_blue" title="{$deal.deal_tag_desc}">{$deal.deal_tag_name}</i>
                                            {/if}
                                        </h3>
                                        <div class="fl w360">
                                            <p><span>年化收益率：
                                                <i class="f20">
                                                {if $deal.income_ext_rate eq 0}
                                                    {$deal.rate_show}
                                                {else}
                                                    {$deal.income_base_rate}
                                                {/if}
                                                </i>
                                                <ins class="f20">%</ins>
                                                {if $deal.type_id eq 27}起{/if}
                                                {if $deal.income_ext_rate neq 0}
                                                +<i>{$deal.income_ext_rate}</i>&nbsp<ins>%</ins>
                                                {/if}
                                            </span></p>
                                            <p>
                                                <span>总额：</span>
                                                {$deal.borrow_amount_format_detail}万
                                            </p>
                                        </div>
                                        <div class="fl w265">
                                            <p><span>投资期限：</span>
                                            {if $deal.loantype eq 5}
                                                <em><i class="f18">{if $deal.deal_type eq 1}{function name="plus" x=$deal.lock_period y=$deal.redemption_period}~{/if}{$deal.repay_time}</i>天</em>
                                            {else}
                                            <em><i class="f18">{$deal.repay_time}</i>个月</em>
                                            {/if}
                                            </p>
                                            <p>
                                                <span>收益方式：</span>
                                                {if $deal.deal_type eq 1}
                                                提前{$deal.redemption_period}天申请赎回
                                                {else}
                                                {$deal.loantype_name}
                                                {/if}
                                            </p>
                                        </div>
                                        <div class="fl w265 progress_rate" total="{$deal.borrow_amount}" has="{$deal.load_money}">
                                            <p>
                                                <span>投资进度：</span><span class="progress">
                                                    <i class="ico_bace"></i>
                                                    <i class="ico_yitou">进度条</i>
                                                </span><ins class="f12 pl5"></ins>
                                            </p>
                                            <p><span>剩余可投：</span>{$deal.need_money_detail}元</p>
                                        </div>
                                    </div>
                                    <div class="product_btn">

                                        {if $deal.deal_type eq 0 ||  $deal.deal_type eq 3 }
                                        {if $deal.is_crowdfunding eq 0}
                                        {if $deal.is_update eq 1}
                                        <a href="#" class="btn_touzi">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">还款中</span>
                                        {elseif $deal.deal_status eq 0 || $deal.guarantor_status != 2}
                                        <a href="{$deal.url}" class="btn_touzi">查看</a>
                                        {elseif $deal.deal_status eq 2}
                                        <span class="btn_manbiao">满标</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {else}
                                        {if $deal.type_id neq 25}
                                            <a href="{$deal.url}" class="btn_touzi">投资</a>
                                        {else}
                                            <a href="{$deal.url}" class="btn_touzi">捐赠</a>
                                        {/if}
                                        {/if}
                                        {elseif $deal.is_crowdfunding eq 1}
                                        {if $deal.is_update eq 1}
                                        <a href="{$deal.url}" class="btn_touzi">查看</a>
                                        {elseif $deal.deal_status eq 4}
                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 0 || $deal.guarantor_status != 2}
                                        <a href="{$deal.url}" class="btn_touzi">查看</a>
                                        {elseif $deal.deal_status eq 2}

                                        <span class="btn_manbiao">已成功</span>
                                        {elseif $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已成功</span>
                                        {else}
                                        <a href="{$deal.url}" class="btn_touzi">捐赠</a>
                                        {/if}
                                        {/if}
                                        {else}
                                        {if $deal.deal_status eq 0 || $deal.guarantor_status != 2}
                                        <a href="{$deal.url}" class="btn_touzi">查看</a>
                                        {/if}
                                        {if $deal.deal_status eq 1}
                                        {if $deal.deal_compound_status eq 1}
                                        <a href="{$deal.url}" class="btn_touzi">已投</a>
                                        {else}
                                        <a href="{$deal.url}" class="btn_touzi">投资</a>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 2}
                                        {if $deal.bid_flag eq 1}
                                        <!--<a href="{$deal.url}" class="btn_touzi">满标</a>-->
                                        <span class="btn_manbiao">满标</span>
                                        {else}
                                        <span class="btn_manbiao">满标</span>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 4}
                                        {if $deal.deal_compound_status eq 2}
                                        <!--<a href="{$deal.url}" class="btn_touzi">待赎回</a>-->
                                        <span class="btn_manbiao">待赎回</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 3}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 4}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {if $deal.deal_compound_status eq 0}
                                        <span class="btn_manbiao">还款中</span>
                                        {/if}
                                        {/if}
                                        {if $deal.deal_status eq 5}
                                        <span class="btn_manbiao">已还清</span>
                                        {/if}
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            {/foreach}