ul.show_money_ul{position: absolute;top:-3px;color: #909090;font-size: 9px;letter-spacing: -1px;}
ul.show_money_ul li{float: left;display: inline-block;}
ul.show_money_ul li.money_li7{margin-right: 2px}
ul.show_money_ul li.money_li6{margin-right: 3px}
ul.show_money_ul li.money_li5{margin-right: 7px}
ul.show_money_ul li.money_li4{margin-right: 10px}
ul.show_money_ul li.money_li3{margin-right: 10px}
ul.show_money_ul li.money_li2{margin-right: 11px}
ul.show_money_ul li.money_li1{margin-right: 11px}
ul.show_money_ul li.active{color: #F6A623}