
.p_deal_hasinvestment .has-main{height: 100%;}
.p_deal_hasinvestment .title{ height:35px; line-height:35px; padding:5px 15px 0; color:#909090;}

.p_deal_hasinvestment .has-header{padding: 11px 0px 0px;background-color: #fff;position: relative; color:#41474d;}
.p_deal_hasinvestment .has-header h2{font-size: 15px;color: #000;padding:0 15px 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_deal_hasinvestment .money-color{ color: #5ca9e4;}
.p_deal_hasinvestment .pro-color{ color: #f94272;}
.p_deal_hasinvestment .hash-tb{ padding: 5px 0px 0px 0px; position:relative; background:#fff;}
.p_deal_hasinvestment .hash-tb table{ width: 100%;font-size: 15px;}
.p_deal_hasinvestment .hash-tb table td span{ margin-left: 5px;}
.p_deal_hasinvestment .hash-tb table td{ text-align:right;border-bottom: 1px solid #f1f1f1; padding:11px 15px 11px 0px;}
.p_deal_hasinvestment .hash-tb table th{ text-align:left;border-bottom: 1px solid #f1f1f1; padding:11px 0;padding-left: 15px;}
.p_deal_hasinvestment .hash-tb table tr:last-child th,.p_deal_hasinvestment .hash-tb table tr:last-child td{ border:none;}


/*中间*/
.p_deal_hasinvestment .has-center{background-color: #fff;}
.p_deal_hasinvestment .has-center2{background-color: transparent;}
.p_deal_hasinvestment .has-center2 .hasc-btn{margin-bottom: 10px;background: #fff;}
.p_deal_hasinvestment .has-center .hasc-btn{ height: 45px;line-height: 45px;}
.p_deal_hasinvestment .has-center .hasc-btn a{ font-size: 15px;color: #41474d;text-decoration: none;border-bottom: 1px solid #f1f1f1;display: block;padding-left: 15px;}
.p_deal_hasinvestment .has-center .hasc-btn a .icon_arrow{ background: url(../images/has_icon.png?v=20160928) 0 0 no-repeat;width: 8px;height: 13px;background-size: cover;display: block;margin-top: 14px;margin-right: 15px;}
.p_deal_hasinvestment .has-center .hasc-btn:last-child a{border: none;}
.p_deal_hasinvestment .has-center .dis-border{ border-bottom: 0px;}

.p_deal_hasinvestment .has-center .hasc-btn2{ line-height: 25px;height: auto;padding:10px 0;}
.p_deal_hasinvestment .has-center .hasc-btn2 a{ padding-right: 15px;}
/*底部*/
.p_deal_hasinvestment .inv-footer{margin-top: 0px;border-bottom: 1px solid #e6e6e6;background-color: #fff;color: #000;}
.p_deal_hasinvestment .invf_top{ border-bottom: 1px solid #e6e6e6;position: relative;}
.p_deal_hasinvestment .invf_top ul { height: 44px;}
.p_deal_hasinvestment .invf_top ul li{ float: left;width: 25%;text-align: center;line-height: 44px;font-size: 15px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_deal_hasinvestment .invf_top ul li.select{color: #CCA66F; border-bottom:2px solid #CCA66F; height:42px; display:inline-block;}
.p_deal_hasinvestment .invf_top .invf_write{height: 4px;background-color: #ee4634;border-radius: 3px;position: absolute;bottom: 0px;}
.p_deal_hasinvestment .invf_txt{ font-size: 14px;}
.p_deal_hasinvestment .invf_txt table{ padding: 10px 15px 10px 10px;display: block;}
.p_deal_hasinvestment .invf_txt table th{ color: #909ba8;text-align: left;vertical-align: top;padding-bottom: 0px;}
.p_deal_hasinvestment .invf_txt table td{ padding-bottom: 0px;}
.p_deal_hasinvestment .invf_txt .tb_ql td{ text-align: center;}
.p_deal_hasinvestment .invf_txt .tb_ql th{ text-align: center;}
.p_deal_hasinvestment .invf_txt .tb_ql2 th{ text-align: center;}
.p_deal_hasinvestment .tb1,.p_deal_hasinvestment .tb2,.p_deal_hasinvestment .tb3{ display: none;}
.p_deal_hasinvestment .invf_txt table.table1{padding:0;display:table;}


.p_deal_hasinvestment .bid_list{height: 51px;line-height: 51px;color: #000;font-size: 14px;border-bottom: 1px solid #e6e6e6;padding: 7px 15px 5px;}
.p_deal_hasinvestment .bid_list .float_l{float: left;}
.p_deal_hasinvestment .bid_list p{line-height: 25px;}
.p_deal_hasinvestment .bid_list p.gray{color: #909090;font-size: 11px;}
.p_deal_hasinvestment .bid_list .float_r{float: right;}
.p_deal_hasinvestment .bid_list .float_r p.gray{float: right;}
.p_deal_hasinvestment .bid_list .color_red{color: #ee4634;}
.p_deal_hasinvestment .bid_list:last-child{border-bottom: none;}

/*投标状态*/

.p_deal_hasinvestment .state-gray,.p_deal_hasinvestment .state-dsh,.p_deal_hasinvestment .state-hkz,.p_deal_hasinvestment .state-mb,.p_deal_hasinvestment .state-tzz,.p_deal_hasinvestment .state-yhq,.p_deal_hasinvestment .state-red{height:16px; line-height:16px; color:#fff; padding:0 8px; text-align:center; border-radius:7px; font-size:10px; display:inline-block; position:relative; top:-2px; margin-right:3px;}

.p_deal_hasinvestment .state-hkz{ background:#00d348;}
.p_deal_hasinvestment .state-mb{ background:#ff2144;}
.p_deal_hasinvestment .state-tzz{ background:#5abbf6;}
.p_deal_hasinvestment .state-yhq{ background:#ff7e00;}
.p_deal_hasinvestment .state-dsh{ background:#b38dd7;}
.p_deal_hasinvestment .state-gray{ background:#cccccc;}
.p_deal_hasinvestment .state-red{ background:#ee4634;}
.p_deal_hasinvestment .state-green{ background:#66bb6a;}

/*颜色*/
.p_deal_hasinvestment .hk-color{ color: #3cb025;}
.p_deal_hasinvestment .je-color{ color: #ee4634;}

.p_deal_hasinvestment .tb_line div,.p_deal_hasinvestment .tb_line p,.p_deal_hasinvestment .tb_line table {width: auto !important;font-size: 12px!important;color: #41474d!important;}
.p_deal_hasinvestment .tb_line {padding-top: 10px;margin-left: 10px;line-height: 18px;word-break: break-all;letter-spacing: 1px;}
.p_deal_hasinvestment .menu li span{ cursor: pointer;}

/*已投详情样式_new 2017*/
.p_deal_hasinvestment .f25{font-size: 25px;}
.p_deal_hasinvestment .btn_h15 {margin: 11px auto 0;  width: 40px;height: 15px;line-height: 15px; text-align: center; color: #FFF; font-size: 11px; border-radius: 8px; }
.p_deal_hasinvestment .bg_blue{background: #5ABBF6}
.p_deal_hasinvestment .bg_yellow{background: #FF7E00}
.p_deal_hasinvestment .bg_green{background: #00D348}
.p_deal_hasinvestment .bg_zise{background: #B38DD7}
.p_deal_hasinvestment .bg_gray{background: #ccc}
.p_deal_hasinvestment .bg_red{background: #FF2144 }

.p_deal_hasinvestment .detail_data { padding: 0 15px; background: #fff }
.p_deal_hasinvestment .data_top { padding: 18px 0 20px; border-bottom: 1px solid #E6E6E6 }
.p_deal_hasinvestment .data_top .tzi_money{line-height: 1.44;}

.p_deal_hasinvestment .data_bot { padding: 18px 0 3px; }
.p_deal_hasinvestment ul.data_list li:nth-child(odd) { width: 57%; }
.p_deal_hasinvestment ul.data_list li:nth-child(even) { width: 43%; }
.p_deal_hasinvestment ul.data_list li { float: left; margin-bottom: 12px; }
.p_deal_hasinvestment ul.data_list li span { display: block; }
.p_deal_hasinvestment{padding-bottom: 65px}
/*常用list*/
.p_deal_hasinvestment  .common_btn a {height: 50px; line-height: 50px;border-bottom: 1px solid #e6e6e6;  background-color: #fff;padding-left: 15px; font-size: 14px; text-decoration: none; display: block; color: #000; }
.p_deal_hasinvestment  .common_btn a:last-child { border-bottom: none; }
.p_deal_hasinvestment  .common_btn a .icon_arrow { background: url("../../../v3.3/images/has_icon.png") 0 0 no-repeat; width: 8px; height: 13px; background-size: cover; display: block; margin-top: 19px; margin-right: 15px; }
.p_deal_hasinvestment  .common_btn.zjyt a{line-height: 25px;height: auto;padding: 15px 0}
.p_deal_hasinvestment .inv-footer.mt10 {margin-top: 10px;}
.p_deal_hasinvestment .color_gray {color:#909090}
.p_deal_hasinvestment .color_black {color:#000}
.p_deal_hasinvestment .f18 {font-size: 18px;}
.p_deal_hasinvestment .mt5 {margin-top: 5px;}
.p_deal_hasinvestment .mt7 {margin-top: 7px;}

.p_deal_hasinvestment .color_yellow{color: #CCA66F;}
.inv-date{height:75px;overflow:hidden;margin-top:10px;border-radius: 5px;}
.inv-date-center{display: -webkit-box;height: 100%;}
.inv-date-center .inv-date-left,.inv-date-center .inv-date-right,.inv-date-center .inv-date-middle{height:100%; overflow: hidden;-webkit-box-flex: 1;}
.line{height:1px;display: block;float: left;width: 100%;background: transparent;}
.line2{border-bottom:1px dashed #e6e6e6;height: 43px;}
.line3{line-height: 43px;}
.inv-date-center span.w100{width: 100px;text-align: center;color:#909090;font-size: 10px;line-height: 20px;height: 20px;margin-top: 5px;}
.inv-date-center a.w100{width:100px;height: 43px;line-height: 43px;display: block;}
.inv-date-center .line span.w100{height: 0px;margin:0;background: red;position: relative;}
.inv-date-center div.line{position: relative;}
.inv-date-center .line i{width: 8px;height: 8px;display:block;background: #fff;border-radius: 50%;position: absolute;z-index: 222;left:44px;top:-5px;border:1px solid #e6e6e6;}
.inv-date-center .line i.yellow{background: #F6A623;border:none;}
.inv-date-center span.one{width:100px;margin: 10px 0 5px;font-size: 11px;line-height: 25px;height: 25px;}
.inv-date-center span.two{margin-top:0px;margin-bottom:7px;height: 20px;line-height: 20px;color: #F6A623;width:130px;text-align: right;}
.inv-date-center div.w100{}
.inv-date-center span{display: block;}
.detail_gold{margin-left: 15px;height: 45px;line-height: 45px;font-size: 13px;}
.detail_gold .detail_gold_left{color: #909090;display: inline-block;width: 96px;}
.detail_gold .detail_gold_right{color: #000;display: inline-block;}
.bor_bottom{border-bottom: 1px #E6E6E6 solid;}
.p_deal_hasinvestment .yjb_tips{height: 32px; background: #DEBA7D; line-height: 32px; padding: 0 15px 0px 17px;color: #fff;}
.p_deal_hasinvestment .icon_tips {
    background: url(../../images/gold/icon_tips.png) no-repeat;
    width: 14px;
    height: 15px;
    background-size: 100%;
    display: inline-block;
    margin:8px 13px 0px 0px;
    vertical-align: top;
}
.p_deal_hasinvestment .productDetailBox{
    padding: 0px 20px;
}
.p_deal_hasinvestment .productDetailBox .item{
    display: -webkit-box;
    padding: 12px 0px;
    border-bottom:1px solid #e6e6e6;
}
.p_deal_hasinvestment .productDetailBox .item:last-child{
    border-bottom:none;
}
.p_deal_hasinvestment .productDetailBox .detailHtml img{
    width:100% !important;
    height: auto !important;
    display: block;
}
.p_deal_hasinvestment .productDetailBox p{
    line-height: 18px;
    font-size:13px;
    height: auto;
}
.p_deal_hasinvestment .productDetailBox p.title{
    color: #909090;
    width:100px;
    padding: 0px;
    margin-right:30px;
}
.p_deal_hasinvestment .productDetailBox p.content{
    color: #000;
    -webkit-box-flex:1;
}