.p_detail .f10{font-size: 10px;}
.p_detail .inv-center .color_golden{ color: #CCA66F;}
/*头部*/
.p_detail{ overflow:hidden; }
.p_detail .inv-head{
    position: relative;
}
.p_detail .inv-head .couponLink{
    position: absolute;
    padding: 0px 5px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    z-index: 1;
    border:1px solid #fff;
    border-radius:8px;
    box-sizing: border-box;
    font-size:10px;
    top:10px;
    left:10px;
}
.p_detail .inv-head .f28{ font-size: 28px;}
.p_detail .inv-head .inv_top{background: -webkit-linear-gradient(bottom,#E0BC7E,#CDA76E);color: #fff;padding: 30px 0;position: relative;}
.p_detail .inv-head .inv_top .invh_nhua,.p_detail .inv-head .inv_top .invh_ktou{ text-align: center;}
.p_detail .inv-head .inv_top .invh_ktou{margin-top: 6px}
.p_detail .inv-head .inv_top .tit{ font-size: 12px;}
.p_detail .inv-head .inv_top .cont{ line-height: 1.2;}
.p_detail .inv-head .inv_top .cont span{vertical-align: -2px;}
.p_detail .inv-head .inv_top .invh_ktou .ik_left{position: relative;}  
.p_detail .inv-head .inv_top .invh_ktou .ik_line{width: 1px;height: 26px;background: #FFF;position: absolute;right:0;top:18px;opacity: 0.6}
.p_detail .inv-head .inv_top .invh_ktou .ik_left,.p_detail .inv-head .inv_top  .invh_ktou .ik_right{float: left;width: 50%}
.p_detail .inv-head .inv_top .invh_icon{position: absolute;font-size: 9px;left: 9px;top:9px;}

.p_detail .inv-head .inv_top .invh_icon span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #fff;
    white-space: nowrap;
}

/*发布日 计息日 */
.p_detail .inv-date{height:100px;overflow:hidden;background: #FFF;padding: 10px 0}
.p_detail .inv-date-center{margin:0 15px;height: 100%;font-size: 13px;}
.p_detail .inv-date-center .inv-date-left,.p_detail .inv-date-center .inv-date-right{width: 50%;height:100%;float: left; }
.line{height:1px;display: block;float: left;width: 100%;background: transparent;}
.line2{border-bottom: 1px dashed #e6e6e6;height: 43px;}
.p_detail .inv-date-center span.w100{width: 100px;text-align: center;color:#909090;line-height: 20px;height: 20px;margin-top: 5px;}
.p_detail .inv-date-center .line span.w100{height: 0px;margin:0;background: red;position: relative;}
.p_detail .inv-date-center .line span.w100 i{width: 8px;height: 8px;display:block;background: #fff;border-radius: 50%;position: absolute;z-index: 222;left:44px;top:-4px;border:1px solid #e6e6e6;}
.p_detail .inv-date-center .line span.w100 i.yellow{border:1px solid#F6A623;}
.p_detail .inv-date-center span.one{margin: 10px 0 5px;line-height: 25px;height: 25px;color: #000}
.p_detail .inv-date-center span.two{margin-top:0px;margin-bottom:7px;height: 20px;line-height: 20px;color: #F6A623;width:130px;text-align: center;overflow: hidden;}
.p_detail .inv-date-center span{display: block;}
.p_detail .inv-date-center .inv-date-right{}
.p_detail .inv-date-center .line span.w100 i.bg_yel{background: #F6A623}
.p_detail .inv-date-center span.w100.color_red {color: #ee4634}


/*中间*/
.p_detail .inv-center{padding:15px;background-color: #fff;font-size: 13px; line-height: 1.4;}
.p_detail .inv-center .invc_list{margin-bottom: 5px;}
.p_detail .inv-center .invc_list:last-child{margin-bottom: 0;}
.p_detail .inv-center p{color: #000}
.p_detail .inv-center p em{ color: #ee4634;}
.p_detail .title{ color:#909090;padding-right: 28px;font-size: 13px }
/*底部*/
.p_detail .inv-footer{margin-top: 10px; background:#fff;}
.p_detail .invf_top{ border-bottom: 1px solid #e6e6e6;position: relative;height: 44px}
.p_detail .invf_top ul { height: 44px;}
.p_detail .invf_top ul li{ color:#000;float: left;width: 33%;text-align: center;line-height: 44px;font-size: 15px; height:44px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_detail .invf_top ul li.select {color: #CCA66F; border-bottom:2px solid #CCA66F; height:42px; display:inline-block;}
.p_detail .invf_top .invf_write{height: 4px;background-color: #ee4634;border-radius: 3px;position: absolute;bottom: 0px;}
/*升级*/

.p_detail .invf_txt{ font-size: 14px;color: #4D4F51;line-height: 22px;}
.p_detail .invf_txt table {padding: 0 15px 10px;display: block;}
.p_detail .invf_tx table img{ width:100% !important; height:auto !important;}
.p_detail .invf_txt table th{ color: #000; text-align: left;padding: 10px 0;}
.p_detail .invf_txt table td{ padding-bottom: 0px;}
.p_detail .invf_txt .tb_ql td{ text-align: center;}
.p_detail .invf_txt .tb_ql th{ text-align: center;}
.p_detail #tb1,.p_detail #tb2{ display: none;}
.tb1,.tb2{ display: none;}
.p_detail .invf_txt table.table1{padding:0;display:table;}
/*投资按钮*/
.p_detail .inv-fbtn{ position: fixed;left: 0px;bottom: 0px;text-align: center;width: 100%;background-color: #fafafa;height: 47px; border-top:1px solid #d9d9d9; padding-top:8px;}

.p_detail .bid_list{height: 51px;line-height: 51px;color: #000;font-size: 14px;border-bottom: 1px solid #e6e6e6;padding: 12px 15px 10px;}
.p_detail .bid_list .float_l{float: left;}
.p_detail .bid_list .float_l p{line-height: 25px;}
.p_detail .bid_list .float_l p.gray{color: #909090;font-size: 12px;}
.p_detail .bid_list .float_r{float: right;}

/*投资详情页项目评级*/
.p_detail .proj-grade{padding-top: 15px;border-top:1px solid #E6E6E6;margin-top: 15px }
.p_detail .proj-grade dl{display: -webkit-box;font-size: 13px}
.p_detail .proj-grade dl:first-child{padding-bottom:5px;}
.p_detail .proj-grade dl dt{width: 83px;color: #989898;}
.p_detail .proj-grade dl dd{ -webkit-box-flex:1;}
/* 产品详情 begin */
.productDetailBox{
    padding: 0px 20px;
}
.productDetailBox .item{
    display: -webkit-box;
    padding: 12px 0px;
    border-bottom:1px solid #e6e6e6;
}
.productDetailBox .item:last-child{
    border-bottom:none;
}
.productDetailBox .detailHtml img{
    width:100% !important;
    height: auto !important;
    display: block;
}
.productDetailBox p{
    line-height: 18px;
    font-size:13px;
}
.productDetailBox p.title{
    color: #909090;
    width:100px;

}
.productDetailBox p.content{
    color: #000;
    -webkit-box-flex:1;
}
/* 产品详情 end */


/*活期样式*/
.p_current_detail .inv-head  .inv_top{background: #fff; color: #909090;padding: 15px 0px;}
.p_current_detail .icon_current{border-top: 1px solid #f2f2f2; height: 95px; background: #fff; display: -webkit-box; padding-top: 15px;}
.icon_type{-webkit-box-flex: 3;height: 30px; text-align: center; color: #909090;}
.icon_type p{padding-top: 12px;}
.icon_type:last-child p{padding-top: 2px;}
.free{background: url(../../images/gold/icon_free.png) no-repeat; width: 40px; height: 40px; background-size: 100%; display: inline-block;}
.type{background: url(../../images/gold/icon_type.png) no-repeat; width: 40px; height: 40px; background-size: 100%; display: inline-block;}
.num{background: url(../../images/gold/icon_num.png) no-repeat; width: 40px; height: 40px; background-size: 100%; display: inline-block;}

.mb10{margin-bottom: 10px;}
.f25{font-size: 25px;}
.color_gold{color: #CCA66F;}


