.p_extraction {
    font-size: 14px
}
.p_extraction a{color:#000}
.p_extraction .pa_center {
    background: #fff;
    padding: 20px 0 15px;
    margin-bottom: 10px;
    font-size: 13px;
}

.p_extraction .gold_list {
    background: #fff
}

.p_extraction .list_title {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
}

.p_extraction .list_title .line_icon {
    width: 2px;
    height: 12px;
    display: inline-block;
    vertical-align: -1px;
    background: #cca66f;
    margin-right: 5px
}

.p_extraction .list_item {
    padding: 15px;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

.p_extraction .item_title {
    height: 20px
}

.p_extraction .item_fee {
    font-size:12px;
    color:#909090;
    height: 25px
}

.p_extraction .list_item dt {
    width: 80px;
    height: 80px;
    border: 1px solid #e6e6e6;
    float: left
}

.p_extraction .list_item dd {
    margin-left: 95px;
    font-size: 15px
}

.p_extraction .num_box {
    float: right;
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.p_extraction .num_box .btn {
    width: 28px;
    border: 0;
    background: #f0f0f0;
    display: block;
    line-height: 28px;
    font-size: 28px
}

.p_extraction .num,
.p_extraction .num_box .btn {
    border-radius: 3px;
    float: right;
    background: #f0f0f0;
    display: block;
    height: 28px;
    text-align: center;
    color: #cca66f;
    
}

.p_extraction .num_box .J_jia {
    background: url(../../images/gold/gold_add.png) no-repeat;
    background-size: 100%;
}

.p_extraction .num_box .J_jian {
    background: url(../../images/gold/gold_reduce.png) no-repeat;
    background-size: 100%;
}

.p_extraction .num {
    width: 36px;
    font-size: 15px;
    margin: 0 10px
}

.p_extraction .gold_total_box {
    height: 135px
}

.p_extraction .gold_total {
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.p_extraction .gold_wei,
.p_extraction .gold_wei_free {
    height: 20px;
    font-size: 13px;
}

.p_extraction .gold_wei_free {
    font-size: 11px;
}

.p_extraction .comfirm_box {
    background: #fafafa;
    border-top: 1px solid #f2f2f2;
    height: 40px;
    padding: 9px 15px;
    margin-top: 5px
}

.p_extraction .comfirm_box .comfirm_btn {
    height: 40px;
    width: 100%;
    color: #fff;
    background: #cca66f;
    font-size: 15px;
    border-radius: 3px
}

.p_extraction .comfirm_box .comfirm_btn:disabled {
    background: #d9d9d9
}

.p_extraction .mobile_code_box_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}

.p_extraction .mobile_code_box {
    width: 280px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.p_extraction .mobile_num {
    text-align: center;
    font-size: 17px;
    padding: 20px 10px 10px 10px
}

.p_extraction .send_code {
    padding: 10px;
    height: 70px
}

.p_extraction .again_send {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #fff;
    background: #ee4634;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 14px;
    display: none
}

.p_extraction .code_input {
    border: none;
    border-radius: 3px;
    width: 262px;
    height: 40px;
    background: transparent;
    letter-spacing: 30px;
    padding-left: 15px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    z-index: 1;
    color: transparent;
}

.p_extraction .code_input {
    text-indent: -999em;
    margin-left: -100%;
    width: 200%;
}


/* .p_extraction .code_input:focus{background: #ccc;} */

.p_extraction .input_default,
.p_extraction .input_focus {
    height: 40px;
    background: url(../../images/gold/code_input_bg.png) repeat-x 0 -42px;
    background-size: 40px;
    width: 240px;
    margin: 0 auto;
    position: relative
}

.p_extraction .input_focus,
.p_extraction .input_error {
    background: url(../../images/gold/code_input_bg.png) repeat-x 0 0;
    background-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    letter-spacing: 30px;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;
    display: none;
}

.p_extraction .input_error {
    background: url(../../images/gold/code_input_bg.png) repeat-x 0 -86px;
    background-size: 40px;
    width: 240px;
    display: none;
    height: 40px;
}

.code_text {
    width: 225px;
    position: absolute;
    left: 15px;
    top: 0px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 30px;
    font-size: 18px;
    text-align: left;
}

.p_extraction .input_mask {
    background: #fff;
    width: 20px;
    height: 40px;
    right: -20px;
    position: absolute;
    z-index: 20;
}

.p_extraction .mobile_code_close {
    width: 28px;
    height: 28px;
    position: absolute;
    left: -10px;
    top: -10px;
    background: #fff url(../../images/gold/close_btn.png) no-repeat center;
    background-size: 12px;
    border-radius: 50%
}

.p_extraction .error_tips {
    display: none;
    font-size: 12px;
    padding-top: 10px;
    color: #ee4634;
}

.p_extraction .countdown {
    height: 40px;
    overflow: hidden;
}

.color_gold {
    color: #cca66f
}

.f25 {
    font-size: 25px
}

.tc {
    text-align: center
}

#canvas {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    position: relative;
    top: -20px;
}

.alert_evaluate {
    width: 270px;
    height: 315px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -135px;
    margin-top: -155px;
}

.alert_evaluate .evaluate_img {
    width: 151px;
    height: 144px;
    margin-top: 20px;
}

.alert_evaluate p {
    color: #000;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 13px;
}

.alert_evaluate .eval_btn {
    width: 240px;
    height: 35px;
    line-height: 35px;
    background: #ee4634;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    display: block;
}

.alert_evaluate .no_eval {
    font-size: 11px;
    color: #909090;
    text-align: center;
    margin-top: 14px;
}

.JS_is_transfer_tips .alert_evaluate p {
    margin-bottom: 15px;
}

.JS_is_transfer_tips .alert_evaluate {
    margin-top: -175px;
}


/*余额划转*/

.p_extraction .trans_money {
    font-size: 15px;
    color: #ee4634;
    margin-top: 5px;
}

.p_extraction .transfer_img {
    width: 175px;
    height: 44px;
    margin-top: 20px;
}

.p_extraction .text_length {
    margin-right: 40px;
}

.p_extraction .JS_is_transfer_tips .transfer_img {
    margin-top: 10px;
}


/*开通存管账户*/

.p_extraction .open_p2p {
    width: 155px;
    height: 120px;
    margin-top: 28px;
}

.p_extraction .no_tip_checkbox {
    -webkit-appearance: button;
    width: 15px;
    height: 15px;
    opacity: 0;
}

.p_extraction .tips_icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 5px;
    background: url(../../images/yes_icon.png) no-repeat 0 bottom;
    background-size: 100%;
}

.p_extraction .JS_active {
    background: url(../../images/yes_icon.png) no-repeat;
    background-size: 100%;
}

.p_extraction .close_p2p_btn {
    width: 33px;
    height: 33px;
    background: url(../../../v4.5/images/close_icon.png) no-repeat;
    background-size: 100%;
    margin: 40px auto 0;
}

.p_extraction .JS_is_open_p2p .free_text {
    margin-top: 20px;
    padding: 0 20px;
}

.p_extraction .JS_is_open_p2p .alert_evaluate p {
    margin-bottom: 5px;
}

.p_extraction .JS_is_open_p2p .alert_evaluate {
    width: 300px;
    margin-left: -150px;
    height: 340px;
    margin-top: -170px;
}

.p_extraction .JS_is_open_p2p .free_title {
    margin-top: 20px;
}

.p_extraction .JS_is_open_p2p .sc_footer {
    padding: 0 20px;
}


/*开通免密弹窗*/

.JS_open_box {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.cunguan_bg {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.p_extraction .alert_free {
    width: 280px;
    height: 380px;
    margin-left: -140px;
    margin-top: -160px;
}

.p_extraction .alert_free .free_img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.p_extraction .free_title {
    font-size: 17px;
    color: #000;
    margin-top: 12px;
}

.p_extraction .alert_free .little_title {
    font-size: 11px;
    color: #3e3e3e;
    margin-top: 10px;
}

.p_extraction .alert_free .no_margin {
    margin-top: 0px;
}

.p_extraction .free_text {
    font-size: 12px;
    color: #909090;
    margin-top: 20px;
    padding: 0 14px;
    text-align: left;
}

.p_extraction .JS_is_transfer_tips .free_text {
    margin-top: 10px;
}

.p_extraction .sc_footer {
    background-color: #fff;
    text-align: center;
    padding: 0 13px;
    margin-bottom: 10px;
}

.p_extraction .sc_footer a,
.p_extraction .sc_footer input.a_right {
    text-align: center;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}

.p_extraction .sc_footer a.a_left {
    background: #dcdcdc;
    margin-top: 8px;
    margin-right: 7px;
    display: block;
    width: auto;
}

.p_extraction .sc_footer a.a_right,
.p_extraction .sc_footer input.a_right {
    background-color: #ee4634;
    margin-top: 8px;
    margin-left: 7px;
    display: block;
    width: auto;
}

.p_extraction .sc_footer input.a_right {
    width: 100%;
}

.p_extraction .sc_footer .left_div {
    float: left;
    width: 50%
}


/******余额不足提示******/

.p_extraction .JS_balance_tips {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.p_extraction .balance_tips {
    width: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    z-index: 1000;
}

.p_extraction .balance_tips .title {
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.p_extraction .balance_tips .context {
    padding: 10px 0px;
    font-size: 15px;
}

.p_extraction .balance_tips .charge_btn {
    width: 112px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 3px;
}

.p_extraction .balance_tips .no_charge {
    background: #e6e6e6;
    color: #9a9a9a;
    margin-right: 27px;
}

.p_extraction .balance_tips .yes_charge {
    background: #ee4634;
    color: #fff;
}
.p_extraction .good_url{position: absolute; width: 90%; height: 80px;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .p_extraction .comfirm_box {
        background: #fafafa;
        border-top: 1px solid #f2f2f2;
        height: 40px;
        padding: 9px 15px;
        margin-top: 5px;
        padding-bottom:34px;
    }
}
.p_extraction .JS_is_open_p2p{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;-webkit-transform-origin: 0px 0px 0px;-webkit-transform: translateZ(2px);}
