.p_gold_price_error .error_box {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #909090;
    font-size: 15px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.p_gold_price_error .error_img_icon {
    width: 150px;
    height: 150px;
    background: url(../../images/gold/gold_error.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.p_gold_price_error .error_reload_btn {
    width: 150px;
    height: 40px;
    border: 1px solid #909090;
    color: #909090;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    line-height: 40px;
    margin-top: 10px;
}