.user_authorize{}
.user_authorize .authorize_text{background: #fff;padding:0 15px;}
.user_authorize .authorize_text .img_auth{width: 94px;height: 70px;margin: 0 auto;margin-bottom: 23px;display: block;padding-top: 37px;}
.user_authorize .authorize_text .title_auth{text-align: center;font-size: 16px;color: #000;margin-bottom: 10px;}
.user_authorize .authorize_text .content_auth {
    font-size: 13px;
    color: #909090;
    padding-bottom: 20px;
}
.user_authorize .authorize_info{margin-top: 15px;padding:0 15px;font-size: 13px;color: #000;}
.user_authorize .authorize_info .info_detail{color: #909090;margin-top: 10px;}
.user_authorize .authorize_info .info_detail .point_gray{width: 5px;height: 5px;border-radius: 50%;display: inline-block;background: #d9d9d9;margin-right: 6px;vertical-align: 2px;}
.user_authorize .authorize_info .agree_authorize_btn{width: 100%;background: #CCA66F;border-radius: 2.5px;font-size: 17px;color: #fff;display: block;text-align: center;height: 40px;line-height: 40px;margin-top: 20px;}
.user_authorize .authorize_info .protocol_link{
    display: block;
    margin: 6px auto 0px auto;
    color: #CCA66F;
    font-size:12px;
    width:130px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}