{include file="web/views/v3/header.html"}
    <div class="p_deal_prompt">
        <link href="<?php echo $this->asset->makeUrl('v3/css/p-deal-prompt.css');?>" type="text/css" rel="stylesheet">
        <span class="blank23"></span>
        <div class="wrap clearfix">
            <div class="ui-box">
                <div class="h-title">
                    <h2><i></i>投资提示</h2>
                </div>
                <div class="deal-cont f16">
                    <div class="tit f24" style="width:auto;"><i></i>您还没有绑定银行账户</div>
                    请拨打客户服务热线进行开通：010-89920015（工作时间： 周一至周五 9:30-18:30）。
                </div>
            </div>
        </div>
        <span class="blank23"></span>
    </div>
{include file="web/views/v3/footer.html"}

