body{min-width: 320px;}
.pb20{padding-bottom: 20px;}
.pa_top{ background: url("../images/p2p_top.png") no-repeat 0 0;background-size: cover;height:92px;width: 100%;position: relative;}
.pa_top p{ text-align: center;font-size: 14px;color: #fff;}
.pa_top .pt_title{ padding-top: 23px;}
.pa_top .mt5{margin-top: 5px;}
.pa_top .pt_title i{ margin: 0 10px;}
.pat_line,.paf_line{ position: absolute;left: 0px;right: 0px;width: 30px;height: 1px;margin: 0 auto; background:rgba(255,255,255,0.3)}
.paf_line{bottom: 12px;}
.pat_line{top: 6px;}

.pa_center,.jj_center{ padding: 10px 0px 10px 15px;color: #cccccc;background-color: #ffffff;}
.ditm_top{ color: #000;font-size: 15px;}
.ditm_top span{ font-size: 14px;}
.ditm_line{ margin-top: -10px;}
.pa_center .ditm_right{ float: right;width: 75px;text-align: right;}
.ditm_line .ditm_left{ margin-right: 100px;height: 20px;}
.ditm_right a{ display: inline-block;background-color: #ee4634;color: #fff;font-size: 15px;text-align: center;width: 75px;height: 28px;line-height: 28px;border-radius: 3px;}
.ditm_left p{ border-bottom: 1px solid #d9d9d9;height: 1px;padding-top: 10px;}
.dit_list{ font-size: 12px;}
.dit_list p i{margin-left: 3px;}
.ditm_top{ font-size: 14px;}
.charge{font-size: 14px;color: #556CA1;}

.dit_footer{ background-color: #fff;margin-top: 18px;padding-left: 15px; }
.ditf_list{border-bottom:1px solid #e6e6e6;font-size: 15px;color: #000; line-height: 44px;}
.ditf_list:last-child{border-bottom: 0px;}
.disn_border{ border-bottom: 0px;}
.ditf_list a{ color: #000;display: block;}
.ditf_list a span{ color: #909090;}
.ditf_list a span i{ color: #999;margin-left: 10px;margin-right: 15px;}
.ditf_list a span em{ color: #909090;margin-left: 5px;}

.icon_arrow{background: url("../../v3.3/images/has_icon.png") no-repeat scroll 0px 0px;background-size: cover;width: 8px;height: 13px;display: inline-block;margin-top: 16px;margin-right: 15px; margin-left:15px;}
.ditf_list .close_btn{width: 18px; height: 18px; background: url(../../v3.3/images/discount/guanbi.png) center no-repeat; background-size: 18px 18px;padding: 13px 15px; }
.ditf_list .icon_coupon{background: url(../../v3.3/images/discount/tubiao2.png); width: 18px; height: 15px; display: inline-block; background-size: 100%; vertical-align: -2px; margin-right: 5px; margin-top:14px;}
.ditf_list .coupon_detail{}
.ditf_list .coupon_detail .con{margin:0 40px 0 25px; line-height: 20px; padding:12px 0px;}
.dit_btn{padding:20px 15px 0px;}
.sub_btn{display: inline-block;border:0px;width: 100%;text-align: center;height: 40px;line-height: 40px;color: #fff;font-size: 15px;border-radius: 3px;}
.sub_gay{background-color: #cccccc;}
.sub_red{ background-color: #ee4634;}
.dit_fcode_txt{padding:20px 15px 0px; color:#909090; text-align:center;}

/*契约基金*/
.jj_center .jc_money{color: #000;font-size: 15px;line-height: 28px;}
.jj_center .jc_money a{display: inline-block;background-color: #ee4634;color: #fff;font-size: 15px;text-align: center;width: 75px;height: 28px;line-height: 28px;border-radius: 3px;float: right;}
.jj_tip{ margin-top: 10px;}
.jj_tip p{ text-align: center;color: #8f8f8f;font-size: 12px;margin-top: 5px;}

/*私募投资确认*/

.newint_pact{background-color:#fff;padding-left:15px;margin-top:20px;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;}
.nip_list{color:#000;font-size:14px;height:44px;line-height:44px;border-bottom:1px solid #e4e4e4;}
.nip_list a{color:#5ca9e4;font-size:14px;margin-left:3px;}
.nip_list span,.intt_right span{cursor:pointer;display: inline-block;background: url("../../v3.3/images/icon_no.png") no-repeat 0 0;width: 20px;height: 20px;background-size: cover;margin-top: 13px;}
.dis_border{border:none!important;}
.intt_right span{margin-top:0px;}
.arrow_yes{background-image: url("../../v3.3/images/icon_yes.png") !important;}
.arr_div{height: 100%;width: 70px;float: right;text-align: center;}
.intt_left{margin-right: 70px;font-size: 13px;}
.pad10{ padding: 10px 0px;}
.intt_right{position: absolute;right:25px; top: 50%;margin-top: -10px;width: 20px;height: 20px;}
/*.intt_right span{ position: absolute;top: 50%;margin-top: -10px;}*/

/*输入框*/
.p2p_input{ padding-left: 20px;margin-top: 8px;position: relative;background: url(../images/money_type.png) no-repeat center left;background-size: 15px 20px;}
.quantou_all{ background:transparent;position: absolute;right: 10px;top:0px;color: #cccccc;font-size: 20px;display: inline-block;width: 50px;text-align: center;height: 44px;line-height: 44px;}
.dit_yq{color: #ee4634;}

.ui_mask_touziyindao{position: fixed; z-index: 200; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.5);}
/**/
.mt27{ padding-top: 27px;}
.p_affirm .alert_donate{width:280px; height:270px; z-index: 1000; position:fixed; top: 50%; left: 50%; margin: -135px 0 0 -140px; background:#f2f2f2; border-radius: 3px; }
.p_affirm .alert_donate .gy_icon{ background:url(../../v3.3/images/gy_icon.png) no-repeat center top; height:140px; background-size: 170px 140px; position:absolute; width:100%; top:-38px;}
.p_affirm .alert_donate .alert_con{margin-top: 102px; background: #fff; height:165px; padding: 0 15px; color:#909090; line-height: 20px; font-size: 15px;border-radius: 0 0 3px 3px;}
.p_affirm .alert_donate .alert_con h2{ font-size: 18px; height:50px; line-height: 50px; border-bottom: 1px solid #d9d9d9; margin-bottom: 12px;color:#000;}

.p_affirm .alert_donate .alert_con h3{ padding-top: 12px;}
.confirm_btn,.cancel_btn{width:112px; height:35px; display:inline-block;font-size: 16px; border-radius: 3px; line-height: 35px;text-align:center;}
.confirm_btn {background:#ee4634;color:#fff; float:right;}
.cancel_btn{background:#e6e6e6; color:#909090;float:left;}
.p_affirm .new_guide_box{position: relative;z-index:201;}
.p_affirm .new_guide_icon{background: url(../../v3.3/images/iocn_know.png) no-repeat center; background-size:310px 217px; width: 100%; height: 232px; position: absolute; top: -110px; left: 0px;}
.input_bid{border-bottom: 1px #e6e6e6 solid;height: 70px;}
.ditm_left{padding-top: 8px;}
.can_use{font-size:13px;display:inline-block;margin-left:6px;}
.color_red{color:#ee4634 !important;}
.num_canuse{color:#ee4634 !important;}

/*********投资券选择优化*************start************/
.investBg{position: absolute;top: 0px;left: 0px;width: 100%;
    height: 100%;z-index: 333;background: #000;opacity: 0.5;
}
.investList{
	height: 0px;
	background-color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    border-left: 1px solid #d9d9d9;
    transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -webkit-transition: all 0.2s linear;
    overflow: hidden;
}
.investList .listTitle{
    height: 42px;line-height: 42px;
    text-align: center;font-size: 18px;
    color: #000000;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}
.listTitle span {width:44px;height:44px;position: absolute;left:0px;top:0px;}
.listTitle a#closeInvest {
    font-size: 25px;font-weight: 700;display: block;
    width: 22px;height: 22px;position: relative;
    margin-left: 8px;margin-top: 10px;
}
a#closeInvest:before, a#closeInvest:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 0px;
   width: 22px;
   height: 1px;
   background-color: #d9d9d9;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
a#closeInvest:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

.investChoose{
	height: 55px;position: absolute;bottom: 0px;width: 100%;background: #fff;border-top: 1px solid #E6E6E6;
}
.investChoose a{
	display: block;
	float: left;
	width: 44%;
    background: #ee4634;
    height: 40px;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    border-radius: 2.5px;
    margin-top: 8px;
    margin-left:4%;
    color:#fff;
}
.show{height: 382px;}
a.chooseNo{background: #F3F3F3;color:#000;}
a.chooseYes{background: #909090;}
a.chooseConfirm{background: #EE4634;}
.f28{font-size: 28px;}
.investList .tab_con {margin-top: 15px;}
.investList .tab_con2 {margin-top: 0px;padding-top: 15px;height:270px;position: absolute;top:43px;left: 0px;right:0px;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.investList .card{background:url(../images/discount/pingpu_01.png) repeat-x right top; background-size: 55px 3px;  margin: 0 15px 10px; padding: 3px 0px 0; border-bottom:#1c82de 3px solid;border-radius: 5px;}
/*.investList .card{background:url(../images/discount/pingpu.png) repeat-x; background-size: 5px 2px;  margin: 0 15px 10px; padding: 2px 0px 0; border-bottom:#556ca1 3px solid;border-radius: 5px;}*/
.investList .card .con{background: #fff; position: relative;border-left:1px solid #e2e0e0;border-right:1px solid #e2e0e0;}
.investList .card dl dt,.investList .card dl dd{ line-height: 20px; }
.investList .card a{display: block;}
.investList .card dl{padding: 8px 0; position: relative;}
.investList .card dl dt{ width: 100px; text-align: center;color: #1c82de; float: left; height: 42px; position: absolute; left: 0px; top: 50%; margin-top: -19px;}
.investList .card dl dd{ margin-left:100px;color: #909595; position: relative;border-left: 1px solid #e2e0e0;padding: 5px 10px;}

.investList .color_blue{ color: #1c82de;}
.icon_select{background:url(../images/discount/xuanzhong.png) no-repeat; width: 34px; height: 34px; background-size: 100%; position: absolute; right: -1px; top: -2px;}

.investList .icon_ygq , .investList .rate_increases .icon_ygq , .investList .icon_ysy{background:url(../images/discount/icon_ygq.png) no-repeat; width: 58px; height: 50px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.investList .icon_ygq {background:url(../images/discount/icon_ygq.png) no-repeat;background-size: 100%;}
.investList .icon_ysy {background:url(../images/discount/icon_ysy.png) no-repeat;background-size: 58px 50px;}
.investList .rate_increases .icon_ysy{background:url(../images/discount/icon_yellow_ygq.png?v=20160223) no-repeat; width: 52px; height: 46px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.investList .icon_kzs_blue {width: 40px;height: 40px;left: 0px;top: -1px;position:absolute;background:url(../images/discount/tuijian_blue.png) no-repeat;background-size: 100%;}
.investList .icon_kzs_gray {width: 40px;height: 40px;left: 0px;top: -1px;position:absolute;background:url(../images/discount/icon_kzs_gray.png) no-repeat;background-size: 100%;}
.investList .icon_kzs_yellow {width: 40px;height: 40px;left: 0px;top: -1px;position:absolute;background:url(../images/discount/tuijian_yellow.png) no-repeat;background-size: 100%;}
.investList .icon_kzs_gold {width: 40px;height: 40px;left: 0px;top: -1px;position:absolute;background:url(../images/discount/tuijian_gold.png) no-repeat;background-size: 100%;}
.investList .card .kz_btn {position: absolute;right: 10px;top: 4px;}
.investList .card .kz_btn span {border: 1px solid #d9d9d9;background-color: #fff;border-radius: 3px;color: #ee4634;padding: 2px 5px;font-size: 15px;}
.investList .gray{border-bottom:#BFBFBF 3px solid; color: #BFBFBF;}
.investList .card .kz_btn a {border: 1px solid #d9d9d9;background-color: #fff;border-radius: 3px;color: #ee4634;padding: 2px 5px;font-size: 15px;display:inline-block;}
.investList .gray{border-bottom:#BFBFBF 3px solid; color: #BFBFBF;}
.investList .gray dl dt,.investList .gray dl dd{color: #BFBFBF;}
.investList .no_coupon{background:url(../images/discount/weikong.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 135px; position: absolute; top: 50%; margin-top: -95px; width: 100%;color: #BFBFBF;font-size: 15px;}
.investList .load_more{text-align: center; padding-bottom: 10px;}

.investList .rate_increases{ border-bottom: #cda361 3px solid;}
.investList .rate_increases dl dt{color: #cda361;}
.rate_increases .icon_select{background:url(../images/discount/xuanzhong2.png) no-repeat;background-size: 100%;}
.investList .rate_increases dl h2{ font-size: 20px;}


/*2016-06-13*/

.investList .icon_ysy_increases{background:url(../images/discount/tujian_yellow.png?v=20160223) no-repeat; width: 52px; height: 46px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.investList .rate_increases{ border-bottom: #ff9500 3px solid;}
.investList .rate_increases dl dt{color: #ff9500;}
.investList .rate_increases .icon_select{background:url(../images/discount/xuanzhong3.png) no-repeat;background-size: 100%;}
.investList .rate_increases dl h2{ font-size: 20px;}


/*黄金券样式*/
.investList .icon_ysy_gold{background:url(../images/discount/tujian_yellow.png?v=20160223) no-repeat; width: 52px; height: 46px; background-size: 100%; position: absolute; right: -1px; top: -10px;}
.investList .rate_gold{ border-bottom: #cda361 3px solid;}
.investList .rate_gold dl dt{color: #cda361;}
.investList .rate_gold .icon_select{background:url(../images/discount/xuanzhong_gold.png) no-repeat;background-size: 100%;}
.investList .rate_gold dl h2{ font-size: 20px;}

.investList .h90{height: 90px;}
.investList .discount_num{height: 90px; position: fixed; bottom: 0px; width: 100%; background: #fff;}
.investList .discount_confirm_btn{display:block; background:#ee4634; height:38px; color:#fff; font-size:18px; line-height:38px; text-align:center; border-radius:3px; margin: 0 15px;}
.investList .discount_num_tips{background: #fafafa; height: 34px;line-height: 34px; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; margin-bottom: 8px; padding: 0 15px; text-align: center; font-size: 15px;}
.investList .color_red{ color: #ee465c;}
.investList .no_friend {height: 30px;width: 100%;position: absolute;top: 50%;margin-top: -85px;background: url(../images/discount/quesheng.png) no-repeat center top;background-size: 118px 116px;text-align: center;padding-top: 120px;}
.investList .over_hidden{text-overflow: ellipsis;overflow: hidden;word-break: break-all;white-space: nowrap;}

.investList .color_yellow{ color: #ff9500;}
.investList .discount_confirm_dis_btn{background: #d9d9d9;}
.gray .color_yellow{ color: #BFBFBF;}
.investList .gray{border-bottom:#BFBFBF 3px solid; color: #BFBFBF;}
.investList .gray dl dt,.investList .gray dl dd{color: #BFBFBF;}
.tab_box {margin-top:52px;}

.p_affirm .point_open{background: url(../../v4.5/images/down_icon.png) no-repeat;width: 14px;height: 14px;background-size: 13px 13px;display:inline-block;margin-top: 3px;margin-left: 5px;}
.p_affirm .down_img{background: url(../../v4.5/images/up_icon.png) no-repeat;background-size:13px 13px;}
.p_affirm .account_money{font-size: 12px;color: #909090;margin-top: 6px;line-height: 20px;}
.p_affirm .unopen_free{font-size: 12px;color: #cccccc;text-align: center;margin-top: 12px;}
.p_affirm .unopen_free a{color: #1C82DE;}
.p_affirm .unopen_free .go_open{background: url(../../v4.5/images/open_right_img.png) no-repeat;width: 6px;height: 10px;margin-left: 6px;background-size: cover;display: inline-block;vertical-align: -1px;}
.p_affirm .free_opened{font-size: 12px;color: #71a96d;text-align: center;margin-top: 12px;}
.p_affirm .free_opened i.gou_img{background: url(../../v4.5/images/gou_icon.png) no-repeat;width: 12px;height: 12px;margin-right: 10px;background-size: cover;display: inline-block;vertical-align: -2px;}
.p_affirm .remain_money{overflow: hidden; margin-right: 60px;}
.p_affirm .remain_money_text{display: inline-block; max-width: 91%;}
.p_affirm .color_blue{color: #1C82DE;float: right;margin-right: 15px;}
/*end*/

/*投资确认页项目评级*/
.p_affirm .proj-grade{padding: 10px 0;}
.p_affirm .proj-grade dl{padding: 0 15px;display: -webkit-box;font-size: 13px}
.p_affirm .proj-grade dl:first-child{padding-bottom:5px;}
.p_affirm .proj-grade dl dt{width: 83px;color: #989898;}
.p_affirm .proj-grade dl dd{ -webkit-box-flex:1;}

/*请进行风险测评弹框*/
.is_eval{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0,0,0,0.5);}
.alert_evaluate{width: 270px;height: 315px;border-radius: 10px;background:#fff;text-align: center;z-index: 1000;position: fixed;top: 50%;left: 50%;margin-left: -135px;margin-top: -155px;}
.alert_evaluate .evaluate_img{width: 151px;height: 144px;margin-top: 20px;}
.alert_evaluate p{color: #000;font-size: 15px;text-align: center;margin-bottom: 20px;margin-top: 13px;}
.alert_evaluate .eval_btn{width: 240px;height: 35px;line-height: 35px;background:#ee4634;text-align: center;border-radius: 3px;margin:0 auto;color: #fff;font-size: 16px;display: block;}
.alert_evaluate .no_eval{font-size: 11px;color:#909090;text-align: center;margin-top: 14px;}

.JS_is_transfer_tips .alert_evaluate p{margin-bottom: 15px;}
.JS_is_transfer_tips .alert_evaluate{margin-top: -175px;}

/*投资确认页，个人风险要素校验*/
/*.ui_conf_risk { z-index: 9999; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }*/
.ui_conf_risk .opacity{ opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 202;}
.ui_conf_risk .confirm_donate{ position: fixed; top: 50%; left: 50%; margin-top: -79px; margin-left: -138px; background-color: #fff; z-index: 203; width: 276px; height: 158px; border-radius: 5px;}
.ui_conf_risk .confirm_donate_title{ margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid;}
.ui_conf_risk .confirm_donate_text{padding:10px 15px; text-align: center; font-size: 14px; color: #333; padding-top:8px; }
.ui_conf_risk .confirm_donate_but{padding: 5px 0px 0px 15px; overflow: hidden;}
.ui_conf_risk .confirm_donate_but input,.ui_conf_risk .confirm_donate_but a{text-align:center;width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none;}
.ui_conf_risk .confirm_donate_but_del{background-color: #e5e5e5; color: #949494; margin-right: 15px;}
.ui_conf_risk .confirm_donate_but_yes{background-color: #fe4438; color: #fff;}
.ui_conf_risk.bid_conf .confirm_donate_title{height:48px;line-height:48px;color:#000;font-size:17px;}
.ui_conf_risk.bid_conf .confirm_donate{width:270px;height:auto;}
.ui_conf_risk.bid_conf .confirm_donate_text{padding:25px 15px 33px;color:#000;font-size:15px;}
.ui_conf_risk.bid_conf .color_gray{color:#909090}
.ui_conf_risk.bid_conf .sy_num{display:block;margin-top:15px;}
.ui_conf_risk.bid_conf .confirm_donate_but{padding:5px 0 15px 15px;}
.ui_conf_risk.bid_conf .confirm_donate_but input,.ui_conf_risk.bid_conf .confirm_donate_but a{font-size:16px;width:112px;height:35px;line-height:35px;}
.ui_conf_risk.bid_conf .confirm_donate_but input.w240{width:240px;}

/* 单笔限额的弹窗 begin */
.ui_confirm .opacity{ opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 202;}
.ui_confirm .confirm_donate{ position: fixed; top: 50%; left: 50%; margin-top: -120px; margin-left: -138px; background-color: #fff; z-index: 100; width: 276px; height: 158px; border-radius: 5px;}
.ui_confirm .confirm_donate_title{ margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid;}
.ui_confirm .confirm_donate_text{padding:10px 15px; text-align: center; font-size: 14px; color: #333; padding-top:8px;height: 136px; box-sizing: border-box;}
.ui_confirm .confirm_donate_but{padding: 5px 0px 0px 15px; overflow: hidden;}
.ui_confirm .confirm_donate_but a{width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none;
    text-align: center;}
.ui_confirm .confirm_donate_but_del{background-color: #e5e5e5; color: #949494; margin-right: 15px;}
.ui_confirm .confirm_donate_but_yes{background-color: #fe4438; color: #fff;}
.ui_confirm.bid_conf .confirm_donate_title{height:48px;line-height:48px;color:#000;font-size:17px;}
.ui_confirm.bid_conf .confirm_donate{width:270px;height:auto;z-index:202;}
.ui_confirm.bid_conf .confirm_donate_text{padding:25px 15px 33px;color:#000;font-size:15px;}
.ui_confirm.bid_conf .color_gray{color:#909090}
.ui_confirm.bid_conf .sy_num{display:block;margin-top:15px;}
.ui_confirm.bid_conf .confirm_donate_but{padding:5px 0 15px 15px;}
.ui_confirm.bid_conf .confirm_donate_but a{font-size:16px;width:112px;height:35px;line-height:35px;}
.ui_confirm.bid_conf .confirm_donate_but a.w240{width:240px;}
/* 单笔限额的弹窗 end */

/*开通免密弹窗*/
.JS_open_box{position: fixed; height: 100%; width: 100%;left: 0px; top: 0px; z-index: 1000;}
.cunguan_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0,0,0,0.5);}
.p_affirm .alert_free{width: 280px;height: 380px;margin-left: -140px;margin-top: -160px;}
.p_affirm .alert_free .free_img{width: 100px;height: 100px;margin-top: 25px;}
.p_affirm .free_title{font-size: 17px;color: #000;margin-top: 12px;}
.p_affirm .alert_free .little_title{font-size: 11px;color: #3e3e3e;margin-top: 10px;}
.p_affirm .alert_free .no_margin{margin-top: 0px;}
.p_affirm .free_text{font-size: 12px;color: #909090;margin-top: 20px;padding: 0 14px;text-align: left;}
.p_affirm .JS_is_transfer_tips .free_text{margin-top: 10px;}
.p_affirm .sc_footer{background-color: #fff;text-align: center;padding: 0 13px;margin-bottom: 10px;}
.p_affirm .sc_footer a,.p_affirm .sc_footer input.a_right{text-align: center;height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 3px;}
.p_affirm .sc_footer a.a_left{background: #dcdcdc; margin-top: 8px;margin-right:7px; display:block; width:auto;}
.p_affirm .sc_footer a.a_right,.p_affirm .sc_footer input.a_right{background-color: #ee4634;margin-top: 8px;margin-left:7px;display:block;width:auto;}
.p_affirm .sc_footer input.a_right{width: 100%;}
.p_affirm .sc_footer .left_div{ float:left; width:50%}

/*余额划转*/
.p_affirm .trans_money{font-size: 15px;color: #ee4634;margin-top: 5px;}
.p_affirm .transfer_img{width: 175px;height: 44px;margin-top: 20px;}
.p_affirm .text_length{margin-right: 40px;}
.p_affirm .JS_is_transfer_tips .transfer_img{margin-top: 10px;}

/*开通存管账户*/
.p_affirm .open_p2p{width: 155px;height: 120px;margin-top: 28px;}
.p_affirm .no_tip_checkbox{-webkit-appearance:button; width:15px; height:15px; opacity: 0;}
.p_affirm .tips_icon{width: 14px; height: 14px;display: inline-block; vertical-align: -3px; margin-right: 5px;background: url(../images/yes_icon.png) no-repeat 0 bottom;background-size: 100%;}
.p_affirm .JS_active{background: url(../images/yes_icon.png) no-repeat; background-size: 100%;}
.p_affirm .close_p2p_btn{ width: 33px; height: 33px; background: url(../../v4.5/images/close_icon.png) no-repeat; background-size: 100%; margin:40px auto 0;}

.p_affirm .JS_is_open_p2p .free_text{margin-top: 20px;padding:0 20px;}
.p_affirm .JS_is_open_p2p .alert_evaluate p{margin-bottom: 5px;}
.p_affirm .JS_is_open_p2p .alert_evaluate {width: 300px; margin-left: -150px; height: 340px; margin-top: -170px;}
.p_affirm .JS_is_open_p2p .free_title{margin-top: 20px;}
.p_affirm .JS_is_open_p2p .sc_footer{ padding: 0 20px;}
/*会员等级提示信息*/
.p_affirm .pa_center .vip_tips{font-size:11px;color:#000000;letter-spacing:0;padding:2px 15px 10px 0;}
.p_affirm .pa_center .vip_tips .red{color:#EE4634;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .investList .load_more{text-align: center; padding-bottom: 44px;}
  .investChoose{
    height: 55px;position: absolute;bottom: 0px;width: 100%;background: #fff;border-top: 1px solid #E6E6E6;padding-bottom: 34px;
  }
}