body{background:#F5F5FA;margin-bottom: 74px;}
.p_bespeak .b_header{background-color:#FFFFFF;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;padding:18px 15px;position:relative;font-family:微软雅黑;margin-top:10px;}
.p_bespeak .b_header .clock{background:url(../images/reservation/clock.png) no-repeat 0 5px;background-size:34px 36px;padding-left:48px;}
.p_bespeak .b_header .clock .yy{font-size:17px;color:#000000;}
.p_bespeak .b_header .clock .time{font-size:13px;color:#909090;}
.p_bespeak .red{color:#EE4634;}
.p_bespeak .btn_cont{position:absolute;top:26px;right:15px;}
.p_bespeak .btn_cont .btn{border-style:none;color:#FFFFFF;background-color:#EE4634;font-size:15px;padding:4px 7px;border-radius:3px;}
.p_bespeak .b_info{padding:14px 15px;background-color:#FFFFFF;font-size:15px;color:#000000;}
.p_bespeak .b_info div{margin-bottom:12px;}
.p_bespeak .b_info div.r_mb{margin-bottom:0;}
.p_bespeak .b_info div .gray{color:#909090;}
.p_bespeak .title{padding:10px 0 9px 15px;background-color:#FAFAFA;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;font-size:15px;margin-top:10px;color:#000000;}
.dialog .b_dialog{position:fixed;top:0;left:0;background-color:#000000;opacity:0.5;width:100%;height:100%;z-index:99;}
.dialog .cancel{background:#FCFCFC 80%;border-radius:12px;margin:0 auto;width:270px;position:fixed;top:50%;left:50%;margin-left:-135px;margin-top:-70px;z-index:100;text-align:center;padding:36px 0 0 0;}
.dialog .confirm{font-size:17px;font-family:微软雅黑;margin-bottom:32px;color:#030303;letter-spacing:-0.41px;}
.dialog .dialogBtn{border-top:1px solid #E6E6E6;}
.dialog .c_btn{float:left;width:50%;border-style:none;border-bottom-right-radius:12px;background-color:#FCFCFC;font-size:17px;color:#0076FF;padding:10px 0;outline:none;}
.dialog .d_btn{float:left;width:50%;border-style:none;border-bottom-left-radius:12px;border-right:1px solid #E6E6E6;background-color:#FCFCFC;font-size:17px;color:#0076FF;padding:10px 0;outline:none;}
.hide{display:none;}
.ui_reg_suc_icon,.ui_reg_fail_icon{background-image:url(../images/reservation/icon_reg.png);background-repeat:no-repeat;width:55px;height:55px;background-size:100%;display:inline-block;}
.ui_reg_suc_icon{background-position:0 -66px;}
.p_bespeak .load_more{text-align:center;padding-top:10px;padding-bottom:10px;}
.p_bespeak .load_more a{color:#5ca9e4;text-decoration:none;}
.empty_list{background:url(../images/reservation/icon2.png) center top no-repeat;background-size:118px 116px;height:42px;text-align:center;padding-top:135px;position:absolute;top:49%;margin-top:-95px;width:100%;color:#BFBFBF;font-size:15px;}
.empty_list p{font-size:15px;color:#909090;line-height:24px;}
.go_cont{padding-top:18px;}
.go_cont a{border:1px solid #1C82DE;border-radius:68px;background-color:#F5F5FA;padding:8px 30px;color:#1C82DE;}
.go_cont a.disabled_btn{border-color:#bfbfbf;color:#bfbfbf;}

/*****PC2017年随心约改版*****/
.p_bespeak .btn_cont .btn{background: white;color: #EE4634;border:1px solid #EE4634;}
.change_colo{color: #EE4634 !important;}
.try_again{position: fixed;bottom: 0px;left: 0px;width: 100%;height: 61px;background: white;border-top: 1px solid #E6E6E6;}
.reservation_btn{background: rgba(238,70,52,1);color: white;height: 40px;display: block;line-height: 40px;font-size: 16px;text-align: center;border-radius: 3px;width: 90%;position: absolute;left: 0px;top: 0px;right: 0px;bottom: 0px;margin:auto;margin-top: 10px;}
.reservation_btn.disabled_btn{background: #bfbfbf;}
.p_bespeak .btn_cont .btn{padding: 4px 8px;font-size: 14px;}
.go_cont a{border: 1px solid #EE4634;color: #EE4634;}
/***************end****************/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .reserve_next{padding-bottom: 34px;}
}

