body{ height:100%; background-color:#fff; }
.p_reserve_entry .banner_wrap {
  padding: 15px;
  background: #FFF;
}

.p_reserve_entry .banner_wrap .banner {
  width: 100%;
  height: 144px;
  background: url(../images/reservation/entry_banner@2x.png) no-repeat;
  background-size: 100% 100%;
}

.p_reserve_entry .f22 {
  font-size: 22px;
}

.p_reserve_entry .color_red {
  color: #FF5638;
}

.p_reserve_entry .color_black {
  color: #4D4D4D;
}

.p_reserve_entry .yuyue_card {
  padding: 14px 0 26px;
  background-size: 92px!important;
  margin:15px 15px 0;
  border:1px solid #EAECED;
}

.p_reserve_entry .yuyue_card_zx {
  background: #FFF url(../images/reservation/icon_zx.png) no-repeat right bottom;
  margin-top:0px;
}

.p_reserve_entry .yuyue_card_wd {
  background: #FFF url(../images/reservation/icon_wd.png) no-repeat right bottom;
}
.p_reserve_entry .yuyue_card .card_tit {
  display: -webkit-box;
  padding: 0 15px;
}

.p_reserve_entry .yuyue_card .card_tit h2 {
  -webkit-box-flex: 1;
  font-size: 14px;
  color: #4D4D4D;
}

.p_reserve_entry .yuyue_card .card_tit .sub_tit {
  -webkit-box-flex: 1;
  text-align: right;
  color: #4D4D4D;
  font-size: 10px;
}

.p_reserve_entry .yuyue_card .card_tit .sub_tit i.quan {
  width: 7px;
  height: 7px;
  background: url(../images/reservation/quan@2x.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 4px 4px;
  margin: 0 3px 0 7px;
}

.p_reserve_entry .yuyue_card .card_cont {
  text-align: center;
  margin: 16px 0 18px;
}

.p_reserve_entry .yuyue_card .card_cont .disc {
  line-height: 30px;
}

.p_reserve_entry .yuyue_card .card_cont .tag {
  margin-top: 5px;
  text-align: center;
}

.p_reserve_entry .yuyue_card .card_cont .tag span {
  font-size: 12px;
  text-align: center;
  display: inline-block;
  border-radius: 13px;
  color: #b3b3b3;
}

.p_reserve_entry .yuyue_card .card_cont .tag span.ml10 {
  margin-left: 10px;
}
.p_reserve_entry .yuyue_card .card_cont .tag span.ml5 {
  margin-left: 5px;
}
.p_reserve_entry .yuyue_card .link {
  border-top: 1px solid #EFEFF4;
  width: 144px;
  height: 26px;
  border-radius: 40px;
  line-height: 27px;
  font-size: 13px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.p_reserve_entry .yuyue_card .link_zx {
  color:#F4D7BF;
  background-color: #574E66;
}
.p_reserve_entry .yuyue_card .link_wd {
  color:#FFF;
  background-color: #EF4B39;
}
@media screen and (max-width:375px) {
  .p_reserve_entry .yuyue_card .card_cont {
    margin: 16px 0 18px;
  }
}
