body{height: 100%;position: relative; background:#FFF;}
@font-face {
  font-family: 'DINAlternate';
  src: url('../../v3.2/font/UCFDIN.ttf');
}
/* 英文数字字体公用样式 */
.din_alternate{font-family: 'DINAlternate';font-weight: bold;}

.fw { font-weight:bold; }
.p_reservation2{padding-bottom: 70px;}
.p_reservation2 .charge_btn{padding-right:15px;float:right;}
.p_reservation .top_img{padding-top: 28%; background: url(../images/reservation/banner.png) no-repeat; background-size: 100%;}
.p_reservation .box{padding: 0 15px;}
.p_reservation .title{font-size: 16px;color: #EE4634;line-height: 25px;padding: 0px 0px 15px;color: #000000;margin-top: 18px;}
.p_reservation .title .dot{width: 4px;height: 4px; background: #1C82DE; border-radius: 2px;display: inline-block; vertical-align: 4px;margin-right:5px; }
.p_reservation .yugao_tab{width: 100%; color: #909090;}
.p_reservation .yugao_tab th,.p_reservation .yugao_tab td{padding:3px 5px; height: 30px;border-right: 1px solid #ededed;}
.p_reservation .yugao_tab th{background: #F2F2F2; text-align: left;}
.p_reservation .yugao_tab tr th:last-child,.p_reservation .yugao_tab tr td:last-child{border: none;}
.p_reservation .box h2{color: #000; font-size: 15px;}
.p_reservation .box h3{color: #909090;}
.p_reservation h4{color: #bfbfbf;}
.p_reservation .box .liuc_list p{padding-bottom: 15px;font-size: 15px;color: #4D4F51;}
.p_reservation .box .liuc_list .round_icon{width: 20px; height: 20px; display: inline-block; border-radius: 10px; text-align: center; line-height: 20px; margin-right: 8px;background: rgba(238,70,52, 0.1);font-size: 13px;color: #EE4634;}
.p_reservation .color_blue{color: #1C82DE;}
.p_reservation .btn{position: fixed; bottom: 0px; width: 100%; border-top: 1px solid #EAECED;}
.h114{height: 52px;}
.p_reservation .reservation_btn,.p_reservation .my_reservation_btn{ height: 47px; display:inline-block; line-height: 47px; font-size: 16px; text-align: center;}
.p_reservation .reservation_btn { background: #CAA989; color: #FFFFFF; width:50%; float:right; }
.p_reservation .my_reservation_btn{background: #fff; color: #343438; width:50%}
.p_reservation  .disabled_btn{background:#bfbfbf;}
.plr15{padding-left: 15px; padding-right: 15px;}
/*comfirm*/
.p_reservation .top_img_bg{background: url(../images/reservation/background.png) no-repeat; background-size: 100% 140px; height: 130px;padding: 10px 0px 0px 15px; color: #fff; font-size: 15px;}
.p_reservation .input_box{height: 65px;border-bottom:1px solid rgba(255,255,255,0.4); background: url(../images/reservation/icon_money.png) no-repeat left center; background-size: 15px 20px;0}
.p_reservation .inp_text{color: rgba(255,255,255,0.5);font-size: 20px;height: 65px; line-height: 65px;display: inline-block;vertical-align: middle;}
.p_reservation .ui_input{height: 65px;}
.p_reservation .inp_main{height: 65px; line-height: 65px;}
.p_reservation .btn_key{font-size: 40px;font-weight: lighter; display: inline-block;color: #fff;font-weight: lighter;height: 65px; line-height: 65px; vertical-align: middle;}
.p_reservation .inp_main i{display: inline-block;height: 46px;background: black;width: 1px;}
.p_reservation .tips{font-size: 13px; padding-top: 8px;}
.p_reservation .bg_whtie{background: #fff;}
.p_reservation .ditf_list{font-size: 15px;color: #000; line-height: 50px;border-bottom:1px solid #ededed;padding: 0 15px;overflow: hidden;}
/*.p_reservation .ditf_list em{color: #1C82DE; font-size: 13px;}*/
.p_reservation .ditf_list:last-child{border: none;}
.p_reservation .reserve_list .ditf_list{border: none;}
.p_reservation .reserve_list .ditf_list:last-child{border-top:1px solid #ededed;}
.p_reservation .ditf_list a{color: #000}
.p_reservation .ditf_list a.to_yxq{display: block;}
.p_reservation .sy_tips{margin: 0 15px;padding: 10px 0;border-top:1px dashed #ededed; color: #969696;}
.p_reservation .icon_arrow{background: url(../images/reservation/copy@2x.png) no-repeat scroll 0px 0px;background-size: cover;width: 8px;height: 11px;display: inline-block;margin-top: 19px;margin-left:5px;}
.p_reservation .mt15{margin-top: 15px;}
.p_reservation .mb8{margin-bottom: 8px;}
.p_reservation .mb15{margin-bottom: 15px;}
.p_reservation .p_discount_friend{-webkit-overflow-scrolling: touch; position: relative;background: #fff;}
.p_reservation .p_discount_friend .item{border-bottom: 1px solid #ededed; line-height: 20px; height: 50px; line-height: 50px; color: #030303; background-size: 8px 13px; font-size: 14px;padding: 0 15px;}
.p_reservation .p_discount_friend .gray{color: #BFBFBF;}
.p_reservation .pop_qx_list , .p_reservation .pop_yxq_list{display: -webkit-box;-webkit-box-orient: vertical;position: fixed;z-index: 202;-webkit-transform: translateY(100%);-webkit-transition: all 0.3s linear;width: 100%;background: #ffffff; bottom: 0;}
.p_reservation .ui_title{ text-align: center; height: 44px; font-size: 18px; line-height: 44px;border-bottom:1px solid #ededed; position: relative;color:#000;}
.p_reservation .ui_title .ui_back{ position: absolute; height: 44px; width: 44px; left: 0px;}
.p_reservation .ui_title .ui_back .ui_icon_back{background: url(../images/reservation/icon_close.png) no-repeat; width: 17px; height: 17px; height: 17px; display: block; background-size: 100%;margin-top: 13px; margin-left: 10px;}
.p_reservation .p_show {-webkit-transform: translateY(0%);}
.p_reservation .bg_cover ,.p_reservation .JS_assess {position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0,0,0,0.5);z-index: 2;}
.p_reservation .color_gray{ color: #909090;}
.p_reservation .color_red{color: #EE4634;}
/*success*/
.p_reservation .suc_icon{background: url(../images/reservation/suc_icon.png) no-repeat center; height: 138px; background-size: 154px 138px; margin-top: 68px; margin-bottom: 30px;}
@media screen and (max-width: 320px){
    .p_reservation .suc_icon{margin-top: 38px;}
}
.p_reservation .contract_list{ display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_reservation .contract_con p{text-indent: 2em;}

.p_reservation .needForceAssess_box{height: 300px; width: 270px; position: fixed; background: #fff; top: 50%; left: 50%;margin: -150px 0 0 -135px; z-index: 10; display: none;border-radius: 5px;}
.p_reservation .needForceAssess_box .group_icon{background: url(../images/reservation/Group.png) no-repeat center; width: 150px; height: 144px; background-size: 100%; margin:20px auto }
.p_reservation .needForceAssess_box .title{text-align: center; color: #000; font-size: 15px;}
.p_reservation .needForceAssess_box .needForceAssess_link{width: 240px; height: 35px; line-height: 35px; text-align: center; font-size: 16px; color: #fff; display: block; margin: 0 auto;background: #EE4634;border-radius:3px; margin-bottom: 10px;}
.p_reservation .needForceAssess_box .needForceAssess_link_no{color: #909090;}

/******PC2017年随心约改版*****/
.p_reservation .title .dot{height: 12px;vertical-align: 0px;background: #EE4634; border-radius: 5px;}
/*.p_reservation .yugao_tab tr td:last-child{color: #EE4634;}*/
.p_reservation .yugao_tab tr td:last-child{color:#1C82DE;}
.rever_size{font-size: 13px;color: #909090;}
.change_ht .rever_size{color: #EE4634;}
.p_reservation .top_img_bg{background: none;color:black;}
.p_reservation .inp_text{color: #bfbfbf;}
.real_change_two{color: #909090;}
.need_change_sty{text-align: left;padding-left: 15px;padding-bottom: 20px;}
.p_reservation .p_discount_friend .ht_item{display: inline-block;border-bottom: none;height: 36px;width: 70px;line-height: 36px;
background: #F8F8F8;padding: 0px;text-align: center;border: 1px solid white;border-radius: 5px;}
.p_reservation .p_discount_friend .item .real_change{background: url(../images/reservation/duihao.png) no-repeat center center;width: 13px;height: 10px;background-size: 100%;margin-top: 12px;}
.real_change{float: left;margin-left: 5px;}
.p_reservation .p_discount_friend .change_ht{border: 1px solid #EE4634;}
.top_explain{width: 100%;height: 42px;background: #FFF8F4;text-indent:15px;line-height: 42px;color: #EE4634;}
.p_reservation .input_box{border-bottom: 1px solid #E6E6E6;margin-left: 15px;}
.p_reservation .tips{background: white;padding-left: 15px;padding-bottom: 10px;color: #909090;}
.p_reservation .top_img_bg{padding-left: 0px;background: white;}
.p_reservation .top_img_bg h2{padding-left: 15px;}
.p_reservation .btn_key{color: black;}
.ui_input{background: url(../images/money_type.png) no-repeat 0 20px;background-size: 17px 23px;}
.p_reservation .input_box{background: none;position: relative;}
.p_reservation .change_stle_bg{bottom: 0%;-webkit-transform: translateY(0%);-webkit-transition: none;margin-top: -10px;z-index: 1;padding-bottom: 5px;position: relative;}
.p_reservation .btn_key{padding-left: 6px;}
.p_reservation .suc_icon{background: url(../images/reservation/icon.png) no-repeat center;background-size: 154px 138px;}
.change_main_colo{color:#EE4634 !important;}
.p_reservation .box h3{margin-bottom: 4px;}
.control_colo1{background:rgba(238,70,52,1) !important;color: white !important;}
.control_colo{background: white !important;color: black !important;border: 1px solid #ededed;margin-top: 10px;}
.p_reservation .btn{background: #FAFAFA !important;}
.p_reservation .move_now{overflow-scrolling: touch;-webkit-overflow-scrolling: touch;overflow-y:auto; }
.need_change_size{font-size: 18px !important;color: #EE4634 !important;}
.delete_bor{border:1px solid white !important;border-bottom: 1px solid #ededed !important;}
.need_dis_none{display: none;}
/*end*/

.alert_evaluate{width: 300px;height: 340px;border-radius: 10px;background:#fff;text-align: center;z-index: 1000;position: fixed;top: 50%;left: 50%;margin-left: -150px;margin-top: -170px;}
.alert_evaluate .evaluate_img{width: 151px;height: 144px;margin-top: 20px;}
.alert_evaluate p{color: #000;font-size: 15px;text-align: center;margin-bottom: 5px;margin-top: 13px;}
.alert_evaluate .eval_btn{width: 240px;height: 35px;line-height: 35px;background:#ee4634;text-align: center;border-radius: 3px;margin:0 auto;color: #fff;font-size: 16px;display: block;}
.alert_evaluate .no_eval{font-size: 11px;color:#909090;text-align: center;margin-top: 14px;}


/*开通免密弹窗*/
.JS_open_box,.JS_is_freepayment{position: fixed; height: 100%; width: 100%;left: 0px; top: 0px; z-index: 1000;}
.cunguan_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0,0,0,0.5);}
.p_reservation .alert_free{width: 280px;height: 380px;margin-left: -140px;margin-top: -160px;}
.p_reservation .alert_free .free_img{width: 100px;height: 100px;margin-top: 25px;}
.p_reservation .free_title{font-size: 17px;color: #000;margin-top: 20px;}
.p_reservation .alert_free .little_title{font-size: 11px;color: #3e3e3e;margin-top: 10px;}
.p_reservation .alert_free .no_margin{margin-top: 0px;}
.p_reservation .free_text{font-size: 12px;color: #909090;margin-top: 12px;padding: 0 20px;text-align: left;}

.p_reservation .sc_footer{background-color: #fff;text-align: center;padding: 0 20px;margin-bottom: 10px;}
.p_reservation .sc_footer a{text-align: center;height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 3px;}
.p_reservation .sc_footer a.a_left{background: #dcdcdc; margin-top: 8px;margin-right:7px; display:block; width:auto;}
.p_reservation .sc_footer a.a_right{background-color: #ee4634;margin-top: 8px;margin-left:7px;display:block;width:auto;}
.p_reservation .sc_footer .left_div{ float:left; width:50%}

/*余额划转*/
.p_reservation .trans_money{font-size: 15px;color: #ee4634;margin-top: 5px;}
.p_reservation .transfer_img{width: 175px;height: 44px;margin-top: 20px;}
.p_reservation .text_length{margin-right: 40px;}


/*开通存管账户*/
.p_reservation .open_p2p{width: 155px;height: 130px;margin-top: 28px;}

/*个人风险要素校验*/
/*.ui_conf_risk { z-index: 9999; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }*/
.ui_conf_risk .opacity{ opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 202;}
.ui_conf_risk .confirm_donate{ position: fixed; top: 50%; left: 50%; margin-top: -79px; margin-left: -138px; background-color: #fff; z-index:203; width: 276px; height: 158px; border-radius: 5px;}
.ui_conf_risk .confirm_donate_title{ margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid;}
.ui_conf_risk .confirm_donate_text{padding:10px 15px; text-align: center; font-size: 14px; color: #333; padding-top:8px; }
.ui_conf_risk .confirm_donate_but{padding: 5px 0px 0px 15px; overflow: hidden;}
.ui_conf_risk .confirm_donate_but input,.ui_conf_risk .confirm_donate_but a{text-align:center;width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none;}
.ui_conf_risk .confirm_donate_but_del{background-color: #e5e5e5; color: #949494; margin-right: 15px;}
.ui_conf_risk .confirm_donate_but_yes{background-color: #fe4438; color: #fff;}
.ui_conf_risk.bid_conf .confirm_donate_title{height:48px;line-height:48px;color:#000;font-size:17px;}
.ui_conf_risk.bid_conf .confirm_donate{width:270px;height:auto;}
.ui_conf_risk.bid_conf .confirm_donate_text{padding:25px 15px 33px;color:#000;font-size:15px;}
.ui_conf_risk.bid_conf .color_gray{color:#909090}
.ui_conf_risk.bid_conf .sy_num{display:block;margin-top:15px;}
.ui_conf_risk.bid_conf .confirm_donate_but{padding:5px 0 15px 15px;}
.ui_conf_risk.bid_conf .confirm_donate_but input,.ui_conf_risk.bid_conf .confirm_donate_but a{font-size:16px;width:112px;height:35px;line-height:35px;}
.ui_conf_risk.bid_conf .confirm_donate_but input.w240{width:240px;}

/*随心约产品详情页面 by liuzhe*/
.p_detail .f10{font-size: 10px;}
.p_detail .f18{font-size: 18px;}
.p_detail .f13{font-size: 13px;}
.p_detail .inv-header{background: linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -o-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -moz-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -webkit-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);position: relative;overflow-y: hidden}

.p_detail .inv-header .top_bg_img {width: 143px;height: 117px;position: absolute;left: 0;top:0;}
.p_detail .inv-header .bottom_bg_img{width: 120px;height: 96px;position: absolute;right: 0;bottom:0;}

.p_detail .inv-header .invh_top{padding: 0px 15px 24px;position: relative;z-index: 1;}
.p_detail .inv-header .inh-title{padding-top: 18px; margin-bottom:-18px;}
.p_detail .inv-header .inh-title .ui_tips{padding:0 4px/* no */;margin-right: 10px;height: 16px/* no */;line-height: 17px;/* no */}
.p_detail .inv-header .ui_tips{ color:#F4D7BF!important; font-size:10px; border-radius:0; border:none!important;}
.p_detail .inv-header .ui_tips:after{
  content: '';
  position: absolute;
  top: 52%;
  left: 50%;
  width: 200%;
  height:200%;
  border:1px solid #CAA989;/* no */
  -webkit-transform: scale(0.5, 0.5) translate(-100%,-100%);
  -ms-transform: scale(0.5, 0.5) translate(-100%,-100%);
  -o-transform: scale(0.5, 0.5) translate(-100%,-100%);
  transform: scale(0.5, 0.5) translate(-100%,-100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
 }

.p_detail .inv-header .inh-title h2{white-space:nowrap;text-overflow:ellipsis; width:100%; font-size:10px;}
.p_detail .inv-header .invh-center{ margin-top: 24px;overflow: auto;font-size: 16px; line-height:20px; width: 100%; display: -webkit-box; color:#F4D7BF;}
.p_detail .inv-header .invh-center .bold{font-size: 24px;}
.mbp{margin-bottom: 3px;}
.p_detail .inv-header .invh-center .invh-right,.p_detail .invh-center .invh-left{ display: block; -webkit-box-flex: 4;}

.p_detail .inv-header .invh_bottom{padding: 0 15px;font-size: 13px;line-height: 18px; background: linear-gradient(0deg, rgba(32,27,38,0.8) 0%, rgba(106,96,126,0.6) 100%); background: -webkit-linear-gradient(0deg, rgba(32,27,38,0.8) 0%, rgba(106,96,126,0.6) 100%);color:#F4D7BF; position: relative;z-index: 1;}
.p_detail .inv-header .invh_bottom span{ padding-right:15px; line-height:36px;}


.p_detail .inv-center {background-color:#fff;}
.p_detail .ping { padding:8px 0; }
.p_detail .inv-center p{padding: 9px 15px 9px;font-size: 13px;line-height: 18px; background: linear-gradient(-90deg, #5d5a5a 0%, #9c9a9a 100%); color:#FFE6BC;}
.p_detail .inv-center .repayment_way{ color:#FFE6BC; float:'left';}
.p_detail .inv-center .start_money{ color:#8A8899; font-size:13px; line-height:18px; background:#fff!important;}
.p_detail .inv-center p.line{border-bottom: 1px solid #e6e6e6;}
.p_detail .inv-center p span{ float: right;color:#343438;}

.p_detail .inv-footer{color: #41474d; background:#fff;min-height: 180px;border-bottom: 0px; padding:24px 0 12px; border-top:1px solid #EAECED;}
.p_detail .inv-footer .invf_top ul li.select {color: #000;  font-size:18px; padding-left:15px;}
.p_detail .inv-footer .invf_top .invf_write{height: 4px;background-color: #ee4634;border-radius: 3px;position: absolute;bottom: 0px;}
.p_detail .inv-footer .invf_txt{padding:10px 15px;}

.ui_risk_tips{text-align: center;color: #cccccc;position: relative;margin: 15px 60px 5px;}
.ui_risk_tips .line{background: #E6E6E6;position: absolute;width: 100%;height: 1px;left: 0px;top: 8px;}
.ui_risk_tips span{background: #F5F5FA;display: inline-block;position: relative;padding: 0 10px;}
  /*end*/
.p_reservation .point_open{background: url(../../v4.5/images/down_icon.png) no-repeat;width: 14px;height: 14px;background-size: 13px 13px;display:inline-block;margin-top: 3px;margin-left: 5px;}
.p_reservation .down_img{background: url(../../v4.5/images/up_icon.png) no-repeat;background-size:13px 13px;}
.p_reservation .remain_money_text{display: inline-block; max-width: 91%;}
.p_reservation .account_money{font-size: 12px;color: #909090;line-height: 20px; padding: 0px 15px 10px;}
/*无缝滚动*/

.marquee{width:100%;height:42px;line-height:42px; background:#FFF8F4;}
.marquee_con{margin:0 15px;height: 100%;overflow:hidden;}
.marquee .row{position: relative;height: 100%;}
.marquee li{float:left; display: block;}
.marquee li:nth-child(2){margin-left:15px;}
.marquee li a {color:#EE4634;}
.marquee1,.marquee2{width: 550px;position: absolute;}
.marquee2{left:550px;}

/*提交预约页面 提交按钮 悬浮*/
.p_reservation .btn{padding-top:0!important;}
.p_reservation .btn2{height: 60px;z-index: 200;}
.p_reservation .pop_qx_list .p_discount_friend{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -o-flexbox;
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    /*justify-content:space-around;*/
    justify-content:space-between;
}
.p_reservation .pop_qx_list .p_discount_friend .ht_item{width: 48%;margin-bottom: 10px;}
/*.p_reservation .pop_qx_list .p_discount_friend .ht_item:nth-child(2n+1){float: left;}
.p_reservation .pop_qx_list .p_discount_friend .ht_item:nth-child(2n){float: right;}*/
.pop_yxq_list .sxy_tips{padding:18px 15px; color:#909090;line-height: 25px;}

.quantou_all{
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #cccccc;
    font-size: 20px;
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 44px;
    line-height: 44px;
}
.p_reservation .p_discount_friend .change_ht{background: #fff;}
@media (max-width: 321px){
    .p_reservation .ditf_list {padding:0 9px;}
    .p_reservation .inp_text{font-size: 17px;}
    .p_reservation .pop_qx_list .p_discount_friend{display: flex;}
    .p_reservation .pop_qx_list .p_discount_friend .ht_item{width: 48%;margin-bottom: 10px;}
    .real_change{margin-left:5px;}
    .rever_size{font-size: 11px;}
    /*.p_reservation .move_now{height: 250px; }*/

}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .p_reservation .btn_reserve{padding-bottom: 20px;}
    .btn_list{padding-bottom: 20px;}
}
@media only screen and (device-width: 414px) and (device-height: 896px){
    .p_reservation .btn_reserve{padding-bottom: 20px;}
    .btn_list{padding-bottom: 20px;}
}
.p_reservation .pb15{padding-bottom:15px;}