@font-face {
  font-family: 'DINAlternate';
  src: url('../../v3.2/font/DIN Alternate Bold.ttf');
}
/* 英文数字字体公用样式 */
.din_alternate{font-family: 'DINAlternate';font-weight: bold;}

*{margin:0; padding:0;}
.fl{float:left;}
.fr{float:right;}
.color_yellow{ color:#CAA989; }
.color_black{ color:#000; }
.fs24{ font-size:24px; }
.fs11{ font-size:11px; }
.fs12{ font-size:12px; }
.fs10{ font-size:10px; }
.mt12{ margin-top:12px; }
.pl15{ padding-left:15px; }
a{ text-decoration:none; color:#8A8899; }
.p_reservation{ padding-top:15px; }
.p_reservation .tit_box{ padding:0 15px; height:138px;}
.p_reservation .tit_box img{ width:100%; height:100%; }
.p_reservation .list_box .tit{ padding:15px 15px 0;}
.p_reservation .list_box .tit:after{ clear:both; content: ''; display:block; }
.p_reservation .list_box .tit_left{ font-size:18px; line-height:18px;}
.p_reservation .list_box .tit_right{ font-size:13px; line-height:18px; }
.p_reservation .list_box .tit .i{display:inline-block; height:0; width:0; border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #888888;}
.p_reservation .list_box .content .link_to_list{ display: block; border: 1px solid #EE4634; border-radius: 3px; width: 112px; margin: 0 auto; color: #FF2F22; font-size: 14px; text-align: center; margin-top: 12px; }
.p_reservation .list_box .content .item{ border-bottom:1px solid #EAECED; padding:22px 15px 20px; position:relative; color:#8A8899;}
.p_reservation .list_box .content .item_a{ display:inline-block; width:100%; }
.p_reservation .list_box .content .item:after{ clear:both; content: ''; display:block; }
.p_reservation .list_box .content .item .item_btn{ border-radius:1px; color:#fff; font-size:12px; background-color: #CAA989; padding:4px 15px; position:absolute; top:22px; right:15px;}
.p_reservation .list_box .content .item_detail .item_top_left{ min-width:41%; display:inline-block; }
.p_reservation .list_box .content .item_detail .tip span{ margin-right:6px; padding:0 4px; position:relative; display: inline-block; height: 16px;line-height: 17px;font-weight: 700;}
.p_reservation .list_box .content .item_detail .tip span:before{
  content: '';
  position: absolute;
  top: 52%;
  left: 50%;
  width: 200%;
  height:200%;
  border:1px solid #CAA989;/* no */
  -webkit-transform: scale(0.5, 0.5) translate(-100%,-100%);
  -ms-transform: scale(0.5, 0.5) translate(-100%,-100%);
  -o-transform: scale(0.5, 0.5) translate(-100%,-100%);
  transform: scale(0.5, 0.5) translate(-100%,-100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*iphone5s 兼容*/
@media only screen and (device-width: 320px) and (device-height:568px) and (-webkit-device-pixel-ratio:2) {
  .item_btn{ padding:4px 7px!important; }
}


