@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, em, img, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
    font-family: "微软雅黑", Arial, Helvetica, SimSun;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: transparent;
    color: black
}

body, button, input, select, textarea {
    font: 12px \5b8b\4f53, arial, sans-serif;
}

ul {
    list-style: none
}

input, select, textarea {
    font-size: 100%;
    -webkit-appearance: none;
    appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

caption, th {
    text-align: left
}

fieldset, img {
    border: 0
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

optgroup {
    font-weight: bold
}

button, [type="button"], [type="reset"], [type="submit"] {
    cursor: pointer
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

mark {
    background-color: #ff0;
    color: #000
}

iframe {
    display: block
}

abbr, acronym {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

q:before, q:after {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ins, a {
    text-decoration: none
}

a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    -moz-tap-highlight-color: rgba(255, 0, 0, 0);
    -ms-tap-highlight-color: rgba(255, 0, 0, 0);
    tap-highlight-color: rgba(255, 0, 0, 0);
    -webkit-touch-callout: none;
    touch-callout: none
}

a:focus, *:focus {
    outline: 0
}

a:active, a:hover {
    outline-width: 0
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden
}

.hide {
    display: none
}

.block {
    display: block
}

.fl, .fr {
    display: inline
}

.fl {
    float: left
}

.fr {
    float: right
}