body{ background-color: #efeff4;}
.sc_result{font-size:18px; color:#EE4634; text-align:center; padding:25px 0 15px;}
.sc_result .sc_success{width:40px; height:40px; vertical-align:middle; margin-right:20px;}
.sc_result .sc_error{width:40px; height:40px; vertical-align:middle; margin-right:20px;}

.p_sc .sc_line{text-align:center; color:#999; line-height:1.5;}
.p_sc .sc_tip{margin-bottom:15px;}
.p_sc .f18{font-size:18px;}
.p_sc .f14{font-size:14px;}
.p_sc .f12{font-size:12px;}
.p_sc .online_coupon_num{font-size: 17px; color: #999; text-align: center;}
.none{display:none !important;}
.btn_white{ margin:8px 15px 0; display:block; border:1px solid #ee4634; line-height:39px; font-size:17px; border-radius:5px; text-align:center; background-color:#fff; color:#ee4634;}
