body{
  width: 100%;
}
.competitive_advantages{
  padding-top:1.22rem;
  position: relative;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  background-size: cover;
}
.competitive_ul{
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  
}
.bg2{
  width: 10rem;
  height: 10rem;
  position: absolute;
  animation: scrollBoll 300s linear infinite;
  -webkit-animation: scrollBoll 300s linear infinite;
  -moz-animation: scrollBoll 300s linear infinite;
  -ms-animation: scrollBoll 300s linear infinite;
}
.bg3{
  width: 10rem;
  height: 10rem;
  position: absolute;
  animation: scrollBoll 100s linear infinite;
  -webkit-animation: scrollBoll 100s linear infinite;
  -moz-animation: scrollBoll 100s linear infinite;
  -ms-animation: scrollBoll 100s linear infinite;
}
.bg4{
  width: 10rem;
  height: 10rem;
  position: absolute;
  animation: scrollBoll 50s linear infinite;
  -webkit-animation: scrollBoll 50s linear infinite;
  -moz-animation: scrollBoll 50s linear infinite;
  -ms-animation: scrollBoll 50s linear infinite;
}
.bg5{
  width: 10rem;
  height: 10rem;
  position: absolute;
  animation: scrollBoll 100s linear infinite;
  -webkit-animation: scrollBoll 100s linear infinite;
  -moz-animation: scrollBoll 100s linear infinite;
  -ms-animation: scrollBoll 100s linear infinite;
}
@keyframes scrollBoll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.competitive_ul li{
  text-align: center;
  width: 2.35rem;
  position: absolute;
}
.competitive_ul li img{
  width: 1.2rem;
  display: inline-block;
}
.competitive_ul li p{
  color: #747474;
  font-size: 0.16rem;
  text-align: center;
  margin-top: 0.2rem;
}
@keyframes scaleLi{
  0%{
    transform: scale(0.9);
    opacity: .8;
  }
  50%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0.9);
    opacity: .8;
  }
}
@-webkit-keyframes scaleLi{
  0%{
    -webkit-transform: scale(0.9);
    opacity: .8;
  }
  50%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(0.9);
    opacity: .8;
  }
}
@-moz-keyframes scaleLi{
  0%{
    -moz-transform: scale(0.9);
    opacity: .8;
  }
  50%{
    -moz-transform: scale(1);
    opacity: 1;
  }
  100%{
    -moz-transform: scale(0.9);
    opacity: .8;
  }
}
@-ms-keyframes scaleLi{
  0%{
    -ms-transform: scale(0.9);
    opacity: .8;
  }
  50%{
    -ms-transform: scale(1);
    opacity: 1;
  }
  100%{
    -ms-transform: scale(0.9);
    opacity: .8;
  }
}
.competitive_list1{
  top: 0.6rem;
  left: 2rem;
  cursor: pointer;
  /* animation: scaleLi 20s linear infinite;
  -webkit-animation: scaleLi 20s linear infinite;
  -moz-animation: scaleLi 20s linear infinite;
  -ms-animation: scaleLi 20s linear infinite; */
}
.competitive_list2{
  right: -0.2rem;
  top: 2.4rem;
  cursor: pointer;
  /* animation: scaleLi 20s linear infinite;
  -webkit-animation: scaleLi 20s linear infinite;
  -moz-animation: scaleLi 20s linear infinite;
  -ms-animation: scaleLi 20s linear infinite; */
}
.competitive_list3{
  bottom: 0.45rem;
  right: 3.3rem;
  cursor: pointer;
  /* animation: scaleLi 20s linear infinite;
  -webkit-animation: scaleLi 20s linear infinite;
  -moz-animation: scaleLi 20s linear infinite;
  -ms-animation: scaleLi 20s linear infinite; */
}
.competitive_list4{
  left: -0.5rem;
  top: 3.8rem;
  cursor: pointer;
  /* animation: scaleLi 20s linear infinite;
  -webkit-animation: scaleLi 20s linear infinite;
  -moz-animation: scaleLi 20s linear infinite;
  -ms-animation: scaleLi 20s linear infinite; */
}
.competitive_ul .competitive_list5{
  left: 50%;
  top: 50%;
  width: 2.1rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1.05rem;
}
.competitive_ul .competitive_list5 img{
  width: 2.1rem;
}
.pop_ul{
  /* overflow: hidden; */
  position: absolute;
  top: 6.5rem;
  left: 50%;
  margin-left: -5.5rem;
}
.pop_ul li{
  width: 9.6rem;
  padding: 0.36rem 0.7rem 1.7rem 0.7rem;
  background: rgba(255, 255, 255, 0.96);
  border: 1px #c2c2c2 dotted;
  text-align: center;
  border-radius: 5px;
}
.pop_ul li img{
  width: 1rem;
  margin-bottom: 0.4rem;
}
.pop_title{
  font-size: 0.24rem;
  color: #4f4e4e;
  margin-bottom:0.25rem;
}
.pop_line{
  height: 1px;
  width: 0.76rem;
  background: #f3c09a;
  margin: 0 auto;
  margin-bottom: 0.58rem;
}
.pop_ul li p{
  font-size: 0.16rem;
  line-height: 0.25rem;
  text-align: left;
  color: #7d7d7d;
  margin-bottom: 0.3rem;
}
.dis_none{
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .competitive_advantages{
    padding-top: 0.7rem;
  }
  .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }
  .closeBtn {
    position: absolute;
    right: 0.25rem;
    top: 1.2rem;
    width: 0.3rem;
    height: 0.3rem;
  }
  .whiteBlock {
    width: 3.24rem;
    height: 0.44rem;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    left: 0.25rem;
    top: 4.9rem;
    z-index: 201;
  }
  .whiteBlockTop {
    top: 1.6rem !important;
  }
  .bg1{
    background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .bg2,.bg3,.bg4,.bg5{
    display: none;
  }
  .competitive_ul {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    background: #f6f6f6;
    overflow: hidden;
  }
  .competitive_ul li{
    margin: 0.4rem auto;
    position: static;
    width: 2.5rem;
    padding: 0.2rem;
    background: #fff;
    border-radius: 5px;
  }
  .competitive_ul li img {
    width: 0.8rem;
  }
  .competitive_ul li p {
    color: #747474;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.15rem;
  }
  .competitive_ul li {
    width: 2.9rem;
    box-sizing: border-box;
  }
  .pop_ul2 {
    width: 3.24rem;
    height: 3.7rem;
    position: absolute;
    left: 0.25rem;
    top: 1.6rem;
    z-index: 200;
    padding: 0.45rem 0.45rem 0.3rem 0.45rem;
    overflow: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    margin-left: 0;
  }
  .pop_ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
  }
  .pop_ul li img {
    width: 0.36rem;
    margin-bottom: 0.2rem;
  }
  .pop_title {
    font-size: 0.2rem;
    color: #4f4e4e;
    margin-bottom: 0.15rem;
    font-weight: bold;
  }
  .pop_line {
    margin-bottom: 0.28rem;
  }
  .pop_ul li p {
    font-size: 0.14rem;
    line-height: 0.25rem;
    margin-bottom: 0.15rem;
  }
}