.company_profile{
  padding-top: 122px;
}
.bg1{
  background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  background-size: cover;
}
.slide2{
  background: #fff;
  width: 1200px;
  text-align: center;
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.videoImg {
  margin: 0 auto;
  width: 723px;
  height: auto;
  border-radius: 8px;
  margin-top: -130px;
}
.about_trangle{
  margin: 0 auto;
  width: 54px;
  margin-bottom: 30px;
  margin-top: 35px;
}
.slide2 p{
  margin-bottom: 110px;
  font-size: 18px;
}
.bg2{
  background: url(../../images/en/company_profile/about_bg.png) no-repeat center;
  width: 100%;
  height: 165px;
  text-align: center;
  line-height: 165px;
  font-size: 36px;
  color: #fff;
}
.aboutBox{
  width: 100%;
  overflow: hidden;
  background: #f4f4f4;
}
.about_ul{
  width: 1200px;
  margin: 100px auto;
  overflow: hidden;
}
.about_ul li{
  background: #fff;
  width: 362px;
  height: 310px;
  border-radius: 10px;
  border: 1px #f4f4f4 solid;
  float: left;
  overflow: hidden;
  text-align: center;
  color: #000;
  font-size: 20px;
  padding: 0 84px;
  margin-bottom: 55px;
  margin-right: 130px;
}
.about_ul .about_list1,.about_ul .about_list2{
  height: 335px;
}
.about_ul .about_list2{
  width: 410px;
  padding: 0 60px;
}
.about_ul li:nth-child(2n){
  margin-right:0;
}
.about_ul li img{
  margin-top: 46px;
  margin-bottom: 15px;
  height: 76px;
  width: auto;
}
.yellow_text{
  color: #616161;
  font-size: 16px;
  margin-bottom: 50px;
}
.about_ul .about_list2 .yellow_text{
  margin-bottom: 30px;
}
.gray_text{
  color: #000;
  height: 50px;
  line-height: 50px;
  background:#ebebeb;
  padding:0 35px;
  margin-bottom: 50px;
  border-radius: 25px;
  font-size: 18px;
}
.long_text{
  height: 70px;
  line-height: 30px;
  padding-top: 5px;
  border-radius: 50px;
}