body{
  width: 100%;
}
.competitive_advantages{
  padding-top:122px;
  position: relative;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  background-size: cover;
}
.competitive_ul{
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
  
}
.bg2{
  width: 1000px;
  height: 1000px;
  position: absolute;
  animation: scrollBoll 300s linear infinite;
  -webkit-animation: scrollBoll 300s linear infinite;
  -moz-animation: scrollBoll 300s linear infinite;
  -ms-animation: scrollBoll 300s linear infinite;
}
.bg3{
  width: 1000px;
  height: 1000px;
  position: absolute;
  animation: scrollBoll 100s linear infinite;
  -webkit-animation: scrollBoll 100s linear infinite;
  -moz-animation: scrollBoll 100s linear infinite;
  -ms-animation: scrollBoll 100s linear infinite;
}
.bg4{
  width: 1000px;
  height: 1000px;
  position: absolute;
  animation: scrollBoll 50s linear infinite;
  -webkit-animation: scrollBoll 50s linear infinite;
  -moz-animation: scrollBoll 50s linear infinite;
  -ms-animation: scrollBoll 50s linear infinite;
}
.bg5{
  width: 1000px;
  height: 1000px;
  position: absolute;
  animation: scrollBoll 100s linear infinite;
  -webkit-animation: scrollBoll 100s linear infinite;
  -moz-animation: scrollBoll 100s linear infinite;
  -ms-animation: scrollBoll 100s linear infinite;
}
@keyframes scrollBoll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scrollBoll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-moz-keyframes scrollBoll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-o-keyframes scrollBoll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.competitive_ul li{
  text-align: center;
  width: 235px;
  position: absolute;
}
.competitive_ul li img{
  width: 120px;
  display: inline-block;
}
.competitive_ul li p{
  color: #747474;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.competitive_list1{
  top: 60px;
  left: 200px;
  cursor: pointer;
}
.competitive_list2{
  right: -20px;
  top: 240px;
  cursor: pointer;
}
.competitive_list3{
  bottom: 45px;
  right: 330px;
  cursor: pointer;
}
.competitive_list4{
  left: -50px;
  top: 380px;
  cursor: pointer;
}
.competitive_ul .competitive_list5{
  left: 50%;
  top: 50%;
  width: 210px;
  height: 200px;
  margin-top: -100px;
  margin-left: -105px;
}
.competitive_ul .competitive_list5 img{
  width: 210px;
}
.pop_ul{
  /* overflow: hidden; */
  position: absolute;
  top: 650px;
  left: 50%;
  margin-left: -550px;
}
.pop_ul li{
  width: 960px;
  padding: 36px 70px 170px 70px;
  background: rgba(255, 255, 255, 0.96);
  border: 1px #c2c2c2 dotted;
  text-align: center;
  border-radius: 5px;
  position: absolute;
}
.pop_ul li img{
  width: 100px;
  margin-bottom: 40px;
}
.pop_title{
  font-size: 24px;
  color: #4f4e4e;
  margin-bottom: 25px;
}
.pop_line{
  height: 1px;
  width: 76px;
  background: #f3c09a;
  margin: 0 auto;
  margin-bottom: 58px;
}
.pop_ul li p{
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #7d7d7d;
  margin-bottom: 30px;
}
.dis_none{
  display: none;
}