.contact_us{
  padding-top: 122px;
}
.bg1{
  background: url(../../images/en/contact_us/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 34px;
  margin-left:-17px;
}
.contact_content{
  background:#fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.trangle2{
  width: 75px;
  height: auto;
  margin-bottom: 42px;
}
.contact_title{
  font-size: 24px;
  color: #4f4e4e;
}
.top_detail{
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin-bottom: 100px;
}
.title_line{
  width: 70px;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.col_yellow{
  color: #f08527;
}
.slide6{
  display: none;
}