.contact_us{
  padding-top: 1.22rem;
}
.bg1{
  background: url(../../images/en/contact_us/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.34rem;
  margin-left:-0.17rem;
}
.contact_content{
  background:#fff;
  text-align: center;
  width: 12rem;
  margin: 0 auto;
}
.trangle2{
  width: 0.75rem;
  height: auto;
  margin-bottom: 0.42rem;
}
.contact_title{
  font-size: 0.24rem;
  color: #4f4e4e;
}
.top_detail{
  font-size: 0.16rem;
  color: #7d7d7d;
  line-height: 0.3rem;
  margin-bottom: 1rem;
}
.title_line{
  width: 0.7rem;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}
.col_yellow{
  color: #f08527;
}
.slide6{
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .contact_us{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/contact_us/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .trangle1 {
    width: 0.2rem;
    margin-left: -0.1rem;
  }
  .contact_content {
    width: auto;
    padding: 0 0.2rem;
  }
  .trangle2 {
    width: 0.45rem;
    height: auto;
    margin-bottom: 0.22rem;
  }
  .contact_title {
    font-size: 0.2rem;
    color: #4f4e4e;
  }
  .top_detail {
    font-size: 0.14rem;
    margin-bottom: 0.5rem;
  }
  .title_line {
    margin-bottom: 0.2rem;
  }
}