.core_business{
  padding-top: 122px;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 34px;
  margin-left:-17px;
}
.core_content{
  background:#fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.trangle2{
  width: 75px;
  height: auto;
  margin-bottom: 42px;
}
.core_title{
  font-size: 24px;
  color: #4f4e4e;
}
.top_detail{
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin-bottom: 20px;
}
.title_line{
  width: 200px;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
.core_ul{
  overflow: hidden;
  margin-bottom: 100px;
}
.core_ul li .btn{
  padding: 0 21px;
  font-size: 18px;
  color: #4f4e4e;
  display: inline-block;
  margin-top: 64px;
  font-weight: bold;
}
.core_list1{
  width: 560px;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 75px;
}
.core_list1 img,.core_list2 img{
  width: 560px;
  border-radius: 10px;
  height: auto;
}
.core_list2{
  width: 560px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.core_list3 img{
  width: 1200px;
  border-radius: 10px;
  height: auto;
}
.core_list3{
  margin-top: 200px;
  overflow: hidden;
  float: left;
}
.line1{
  width: 200px;
}
.line2{
  width: 135px;
}
.line3{
  width: 200px;
}
.mb1{
  margin-bottom: 100px;
}
.text1,.text2,.text3{
  overflow: hidden;
}
.core_list3 .li3_h5{
  display: none;
}