.core_business{
  padding-top: 1.22rem;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.34rem;
  margin-left:-0.17rem;
}
.core_content{
  background:#fff;
  text-align: center;
  width: 12rem;
  margin: 0 auto;
}
.trangle2{
  width: 0.75rem;
  height: auto;
  margin-bottom: 0.42rem;
}
.core_title{
  font-size: 0.24rem;
  color: #4f4e4e;
}
.top_detail{
  font-size: 0.16rem;
  color: #7d7d7d;
  line-height: 0.3rem;
  margin-bottom: 0.2rem;
}
.title_line{
  width: 2rem;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.25rem;
}
.core_ul{
  overflow: hidden;
  margin-bottom: 1rem;
}
.core_ul li .btn{
  /* height: 0.5rem; */
  /* line-height: 0.5rem; */
  padding: 0 0.21rem;
  font-size: 0.18rem;
  color: #4f4e4e;
  /* border:1px #d4c29d solid; */
  display: inline-block;
  /* border-radius: 0.25rem; */
  /* margin-bottom: 0.28rem; */
  margin-top: 0.64rem;
  font-weight: bold;
}
.core_list1{
  width: 5.6rem;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 0.75rem;
}
.core_list1 img,.core_list2 img{
  width: 5.6rem;
  border-radius: 10px;
  height: auto;
}
.core_list2{
  width: 5.6rem;
  float: left;
  overflow: hidden;
  text-align: center;
}
.core_list3 img{
  width: 12rem;
  border-radius: 10px;
  height: auto;
}
.core_list3{
  margin-top: 2rem;
  overflow: hidden;
  float: left;
}
.line1{
  width: 2rem;
}
.line2{
  width: 1.35rem;
}
.line3{
  width: 2rem;
}
.mb1{
  margin-bottom: 1rem;
}
.text1,.text2,.text3{
  /* margin-top: 1rem; */
  overflow: hidden;
}
.core_list3 .li3_h5{
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .core_business{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .core_content{
    width: auto;
  }
  .top_detail {
    font-size: 0.14rem;
    line-height: 0.25rem;
    margin-bottom: 0rem;
    padding: 0 0.25rem;
  }
  .trangle2 {
    width: 0.45rem;
    height: auto;
    margin-bottom: 0.22rem;
  }
  .trangle1{
    width: 0.20rem;
    margin-left: -0.1rem;
  }
  .core_title{
    font-size: 0.2rem;
    padding: 0 0.6rem;
  }
  .title_line{
    width: 1rem;
    margin-bottom: 0.15rem;
  }
  .detail_content{
    padding: 0 0.15rem 0.3rem;
  }
  .core_list1 {
    width: 3.4rem;
    float: inherit;
    margin: 0 auto;
  }
  .core_ul li .btn {
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.2rem;
    font-size: 0.16rem;
    margin-bottom: 0.35rem;
    margin-top: 0.5rem;
    border: none;
    font-weight: bold;
  }
  .core_list1 img, .core_list2 img {
    width: 3.4rem;
    display: block;
  }
  .core_list2 {
    width: 3.4rem;
    float: inherit;
    margin: 0 auto;
  }
  .core_list3 {
    width: 3.4rem;
    margin-top: 0rem;
    float: inherit;
    margin: 0 auto;
  }
  .core_list3 img {
    width: 3.4rem;
    display: block;
  }
  .core_ul {
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
  .mb1 {
    margin-bottom: 0.4rem;
  }
  .core_list3 .li3{
    display: none;
  }
  .core_list3 .li3_h5{
    display: block;
  }
  .line2{
    display: none;
  }
}