.finance_process{
  padding-top:1.22rem;
}
.bg1{
  background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  background-size: cover;
}
.finance_ul{
  width: 12rem;
  background:#fff;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1.4rem;
}
.finance_ul li{
  margin-top: 1.54rem;
  position: relative;
  border-radius: 5px;
}
.finance_ul li img{
  width: 4rem;
  height: auto;
  position: absolute;
  left: 0.5rem;
  top: -0.5rem;
}
.finance_ul .finance_list1{
  background:url(../../images/en/finance_process/li_bg1.png) no-repeat center;
  width: 6.05rem;
  height: 3.3rem;
  padding-left:5.2rem;
  padding-right: 0.75rem;
  background-size: cover;
}
.finance_ul .finance_list2{
  background:url(../../images/en/finance_process/li_bg2.png) no-repeat center;
  width: 6.05rem;
  height: 3.3rem;
  padding-right:5.2rem;
  padding-left: 0.75rem;
  background-size: cover;
}
.finance_ul .finance_list2 img{
  left: inherit;
  right: 0.5rem;
  top: -0.5rem;
}
.finance_ul .finance_list3{
  background:url(../../images/en/finance_process/li_bg3.png) no-repeat center;
  width: 6.05rem;
  height: 3.3rem;
  padding-left:5.2rem;
  padding-right: 0.75rem;
  background-size: cover;
}
.finance_ul li .title{
  font-size: 0.48rem;
  color: #4f4e4e;
  padding-top: 0.35rem;
}
.finance_ul li .small_title{
  color: #4f4e4e;
  font-size: 0.24rem;
}
.finance_ul li .line{
  background: #ee6615;
  width:0.7rem;
  height:0.06rem;
  margin-top: 0.1rem;
  margin-bottom: 0.25rem;
  border-radius: 3px;
}
.finance_ul li .detail{
  font-size: 0.16rem;
  color: #7d7d7d;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .finance_process{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .finance_ul{
    width: auto;
    padding-bottom: 0.6rem;
  }
  .finance_ul .finance_list1{
    width: auto;
    height: 3.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.2rem;
    background: url(../../images/en/finance_process/li_bg1.png) no-repeat right;
    background-size: cover;
    margin-top: 0.6rem;
  }
  .finance_ul li img {
    display: none;
  }
  .finance_ul li .title{
    font-size: 0.24rem;
    font-weight: bold;
  }
  .finance_ul li .small_title {
    font-size: 0.16rem;
  }
  .finance_ul li .line {
    width: 0.7rem;
    height: 0.02rem;
    margin-top: 0.05rem;
    margin-bottom: 0.2rem;
  }
  .finance_ul li .detail {
    font-size: 0.14rem;
    padding-bottom: 0.5rem;
  }

  .finance_ul .finance_list2{
    background: url(../../images/en/finance_process/li_bg2.png) no-repeat left;
    width: auto;
    height: 3.3rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    background-size: cover;
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
  .finance_ul .finance_list3{
    background: url(../../images/en/finance_process/li_bg3.png) no-repeat right;
    width: auto;
    height: 3.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-size: cover;
    margin-top: 0.6rem;
    margin-right: 0.2rem;
  }
  .finance_ul li {
    border-radius: inherit;
  }
}