.history_timeline {
  padding-top: 1.22rem;
}

.bg1 {
  background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  background-size: cover;
}

.wx_timeline {
  position: relative;
  width: 12rem;
  margin: 0 auto
}

.wx_timeline .dotline {
  display: block;
  width: 9.2rem;
  height: 0;
  border-bottom: 2px dotted #bfbfbf;
  position: absolute;
  top: 119px;
  left: 1.5rem;
}

.wx_timeline .slider {
  position: relative;
  z-index: 2
}

.wx_timeline .slider .arrow {
  position: absolute;
  width: 21px;
  height: 22px;
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 109px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer
}

.wx_timeline .slider .arrow b {
  opacity: 0;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s
}

.wx_timeline .slider .arrow:hover b {
  opacity: 1
}


.wx_timeline .slider .prev {
  left: 0;
  background-image: url(../../images/en/history_timeline/arrow_prev.png);
  text-align: right;
  opacity: 1;
}
.wx_timeline .slider .dis_active{
  opacity: 0.5;
}
.wx_timeline .slider .prev.dis_active:hover{
  left: 0px;
}

.wx_timeline .slider .prev:hover {
  width: 60px;
  left: -30px;
  background-position: left center
}

.wx_timeline .slider .next {
  right: 0;
  background-image: url(../../images/en/history_timeline/arrow_next.png);
  text-align: left
}

.wx_timeline .slider .next:hover {
  width: 60px;
  right: -30px;
  background-position: right center
}

.wx_timeline .recent-work {
  overflow: hidden;
  position: relative;
  width: 11.20rem;
  margin: 0 auto
}

.wx_timeline .recent-work .timeline {
  display: inline-block;
  width: 3680px;
  height: 140px;
  position: relative;
  white-space: nowrap;
  margin: 66px auto 0;
  -webkit-transition: margin-left .5s ease-in;
  transition: margin-left .5s ease-in
}

.wx_timeline .recent-work .timeline:before {}

.wx_timeline .recent-work .timeline .time-item {
  display: inline-block;
  float: left;
  width: 2.3rem;
  height: 108px;
  position: inherit;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.wx_timeline .recent-work .timeline .time-inner {
  width: 10px;
  height: 10px;
  overflow: hidden;
  border-radius: 50%;
  top: 54px;
  top: 42px\9\0;
  padding: 6px;
  border: 1px solid #bfbfbf;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 0 transparent;
  z-index: 1
}

.wx_timeline .recent-work .timeline .time-inner,
.wx_timeline .recent-work .timeline .time-inner:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg)
}

.wx_timeline .recent-work .timeline .time-inner:before,
.wx_timeline .recent-work .timeline .time-picture {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bfbfbf;
  content: "";
  top: 50%;
  top: 4px\9\0;
  border: 0
}

.wx_timeline .recent-work .timeline .time-picture {
  width: 0;
  height: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  z-index: 2;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.wx_timeline .recent-work .timeline .time-item:not(.expands):hover .time-inner,
.wx_timeline .recent-work .timeline .expands .time-inner {
  border-top: 1px solid #f2813d;
  border-right: 1px solid #f2813d;
  border-bottom: 1px solid #f2813d;
  border-left: 1px solid #f2813d;
  width: 32px;
  height: 32px;
  padding: 2px;
  top: 0\9\0
}

.wx_timeline .recent-work .timeline .time-item:not(.expands):hover .time-picture,
.wx_timeline .recent-work .timeline .expands .time-picture {
  width: 32px;
  height: 32px;
  margin-left: 4px\9\0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.wx_timeline .recent-work .timeline .time-inner:before {
  left: 45%\9\0;
  top: 30%\9\0
}

.wx_timeline .recent-work .timeline .time-item:not(.expands):hover .time-inner {
  top: 35px\9\0
}

.wx_timeline .recent-work .timeline .time-item:not(.expands):hover .time-picture {
  top: 38px\9\0;
  margin-left: 3px\9\0
}

.wx_timeline .recent-work .timeline .expands .time-inner {
  left: 30%\9\0
}

.wx_timeline .recent-work .timeline .expands .time-picture {
  left: 30%\9\0
}

.wx_timeline .recent-work .timeline .time-name {
  bottom: -10px;
  display: block;
  margin: 0;
  position: absolute;
  top: 78px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #666;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.wx_timeline .recent-work .timeline .expands .time-inner {
  width: 98px;
  height: 98px
}

.wx_timeline .recent-work .timeline .expands .time-picture {
  width: 96px;
  height: 96px
}

.wx_timeline .recent-work .timeline .expands .time-name {
  top: 114px
}

.wx_timeline .work-detail {
  margin-top: 0.75rem;
  /* position: relative; */
  display: none;
  margin-bottom: 1rem;
  overflow: hidden;
}

.wx_timeline .work-detail .month_timeline {
  width: 100%;
  padding: 0 1rem 0 1.4rem;
  font-size: 0.16rem;
  color: #7d7d7d;
  line-height: 0.4rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.wx_timeline .work-detail .month_timeline span {
  float: left;
  font-weight: bold;
  color: #202020;
}

.wx_timeline .work-detail .month_timeline p {
  padding-left: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .history_timeline{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .wx_timeline{
    width: 3rem;
  }
  .wx_timeline .dotline{
    width: 1.2rem;
    top: 90px;
    left: 0.9rem;
  }
  .wx_timeline .recent-work{
    width: 2.2rem;
  }
  .wx_timeline .recent-work .timeline .time-item{
    width: 1.12rem;
  }
  .wx_timeline .slider .arrow{
    top: 80px;
  }
  .wx_timeline .recent-work .timeline{
    margin: 37px auto 0;
  }
  .wx_timeline .work-detail{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .wx_timeline .work-detail .month_timeline {
    width: 3rem;
    margin: 0 auto;
    font-size: 0.14rem;
    color: #7d7d7d;
    line-height: 0.20rem;
    margin-bottom: 0.20rem;
    padding: 0;
  }
  .wx_timeline .work-detail .month_timeline p {
    padding-left: 0.5rem;
  }
  .wx_timeline .work-detail .month_timeline span{
    font-weight: bold;
    color: #3a3a3a;
  }
  .wx_timeline .recent-work .timeline .expands .time-picture {
    width: 80px;
    height: 80px
  }
  .wx_timeline .recent-work .timeline .expands .time-inner {
    width: 82px;
    height: 82px
  }
}