/*indexcss*/
.content{
  padding-top:122px;
}
.slide1{
  background: url(../../images/en/index/bg1.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 640px;
}
.slide1_content{
  width: 1200px;
  margin: 0 auto;
}
.logo_banner{
  width: 164px;
  height: auto;
  margin-top: 69px;
}
.slide1_detail{
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
  line-height: 36px;
  width: 800px;
  /* padding:0 300px; */
  position: relative;
}
.width1400{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(48, 58, 92, 0.4);
  width: 100%;
}
.slide1_ul{
  width: 1400px;
  height: 160px;
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
}
.slide1_ul li{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #fff;
}
.slide1_ul li img{
  width: 36px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0px;
}
.slide1_ul li img.slide1_img2{
  /* margin-bottom: 29px; */
}
.slide1_ul li img.slide1_img3{
  /* margin-bottom: 11px; */
  /* margin-top: 33px; */
}
.slide1_ul li p{
  line-height: 28px;
}
.trangle1{
  position: absolute;
  top: -52px;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  height: auto;
}

.slide2{
  background: #f1f2f6;
}
.slide2_content{
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
.trangle2{
  width: 74px;
  height: auto;
  margin-bottom: 23px;
}
.small_title{
  font-size: 30px;
  margin-bottom: 64px;
  color: #353434;
  text-align: center;
}
.slide2_content .small_title{
  margin-bottom: 40px;
}
.slide2_detail{
  font-size:18px;
  color: #7d7d7d;
  width: 1235px;
  margin: 0 auto;
}
.slide2_ul{
  display: flex;
  display: -webkit-flex;
  margin-top: 80px;
  padding-bottom: 122px;
  overflow-x:auto;
  width: 1400px;
}
.slide2_ul a{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 327px;
  height: 232px;
  display: inline-block;
}
.slide2_ul li{
  font-size: 16px;
  color: #fff;
  width: 327px;
  height: 232px;
  text-align: left;
}
.slide2_ul li.slide2_li1{
  background: url(../../images/en/index/service1.png) no-repeat;
  background-size: cover;
}
.slide2_ul li.slide2_li2{
  background: url(../../images/en/index/service2.png) no-repeat;
  background-size: cover;
}
.slide2_ul li.slide2_li3{
  background: url(../../images/en/index/service3.png) no-repeat;
  background-size: cover;
}
.slide2_ul li.slide2_li4{
  background: url(../../images/en/index/service4.png) no-repeat;
  background-size: cover;
}
.slide2_ul li .title{
  padding-top: 80px;
  font-size: 21px;
  padding-bottom: 5px;
  margin-left: 23px;
}
.slide2_ul li p{
  padding-left: 23px;
  padding-right: 23px;
}
.slide2_ul li .line{
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background: #f2813d;
  margin-bottom:10px;
  margin-left: 23px;
}
.slide3{
  background: url(../../images/en/index/bj.jpg) no-repeat;
  background-size: 100% 960px;
  height: 960px;
  width: 100%;
}
.slide3_box{
  padding-bottom: 50px;
  position: relative;
}
.slide3_content{
  /* width: 1200px; */
  margin: 0 auto;
  /* text-align: center; */
}
.trangle3{
  width: 52px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 18px;
  margin: 0 auto;
  display: block;
}
.detail{
  width: 145px;
  height: 42px;
  line-height: 42px;
  background: #68739c;
  color:#fff;
  text-align:center;
  font-size:18px;
  margin: 0 auto;
  border-radius: 22px;
}
.slide3_line{
  width: 1400px;
  height: 273px;
  background: url(../../images/en/index/line.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.slide3_ul1,.slide3_ul2{
  width: 1400px;
  margin: 0 auto;
  margin-top: 176px;
  position: relative;
  z-index: 2;
}
.pt30{
  padding-top: 20px;
}
.slide3_li1{
  position: absolute;
  left: 200px;
  top: -195px;
}
.slide3_li1:hover{
  left: 210px;
}
.slide3_li2{
  position: absolute;
  left: 387px;
  top: -80px;
}
.slide3_li2:hover{
  left: 397px;
}
.slide3_li3{
  position: absolute;
  left: 613px;
  top: -177px;
}
.slide3_li3:hover{
  left: 623px;
}
.slide3_li4{
  position: absolute;
  right: 333px;
  top: -33px;
}
.slide3_li4:hover{
  right: 323px;
}
.slide3_li5{
  position: absolute;
  left: 1018px;
  top: -195px;
}
.slide3_li5:hover{
  left: 1028px;
}
.slide3_li6{
  position: absolute;
  right: -35px;
  top: -80px;
}
.slide3_li6:hover{
  right: -45px;
}
.slide3_li8{
  position: absolute;
  left: 10px;
  top: -33px;
}
.slide3_li8:hover{
  left: 20px;
}

.slide3_ul1 li{  
  cursor: pointer;  
  transition: all 0.5s;
}  
.slide3_ul1 li:hover{  
  transform: scale(1.1);
}  
.slide3_ul2 li{  
  cursor: pointer;  
  transition: all 0.3s;
}  
.slide3_ul2 li:hover{  
  transform: scale(1.1);
}  
.top_icon{width: 260px;}
.top_icon img{width: 85px;height: 85px;border-radius: 45px;float: left;margin-right: 23px;}
.top_icon .year{font-size: 28px;}
.top_icon .year span{font-size: 17px;color: #a6b8cb;margin-left: 13px;}
.top_icon .line{width: 30px;height: 4px;background:#f2813d;border-radius:2px;margin-left: 108px;margin-bottom: 20px;}
.top_icon p{font-size: 18px;color: #5e6467;margin-left: 108px;}
.slide3_line_bg{
  width: 100%;
  height: 3px;
  background: #dfe2eb;
  position: absolute;
  top: 177px;
  left: 0;
}



.slide4{
  background: #f6f6f6;
  text-align: center;
  overflow: hidden;
}
.slide4_content{
  width: 1400px;
  margin: 0 auto;
}
.trangle4{
  width: 32px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 13px;
}
.slide4_ul{
  padding-top: 28px;
  padding-bottom: 137px;
  overflow: visible;
}
.slide4_ul li{
  width: 331px;
  border-radius: 10px;
  text-align: left;
  background: #fff;
  overflow: hidden;
  float: left;
  margin-right: 22px;
  box-shadow: 1px 1px 20px 2px #e0e0e0;
  position: relative;
  height: 520px;
}
.slide4_ul li:last-child{margin-right: 0;}
.slide4_ul li .title{
  font-size: 22px;
  margin-top: 24px;
  line-height: 27px;
  padding-right: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 80px;
}
.slide4_ul li .line{
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #f2813d;
  margin-top:3px;
  margin-bottom:23px;
}
.slide4_ul li .news_detail{
  font-size: 16px;
  color: #7d7d7d;
  padding-right: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 70px;
}
.slide4_ul li img{
  height: 224px;
  display: block;
  width: 331px;
}
.slide4_ul li .more{
  font-size:16px;
  color: #fff;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background:#68739c;
  border-radius: 15px;
  margin-top: 31px;
  margin-bottom: 37px;
}
.pl30{
  padding-left: 36px;
}
.list_title{
  padding-top: 42px;
  padding-bottom:25px;
  font-size: 16px;
}
.news_link{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #6672a2;
  font-size:16px;
  margin-bottom:20px;
}
.slide4_ul li .fix_more{
  position: absolute;
  bottom: 0px;
  left: 30px;
}
.news_ul{
  padding-right: 30px;
}
.slide6{
  height: 372px;;
}
.index_footer{
  display: block;
}
.slide4_ul_h5{display: none;}
.slide3_content_h5{display: none;}
.slide2_ul_h5{display: none;}
.width1400 .slide1_ul_h5{display: none;}
@-moz-document url-prefix(){
  .news_link{position: relative; max-height: 45px;overflow: hidden;}
  .moz_box,.moz_box2{
    position: relative;
    text-align: justify;
  }
  .moz_box::after{
    content: "..."; position: absolute; bottom: -1px; right: 0px; padding-left: 0px;font-size: 18px;
    background: -webkit-linear-gradient(left, #fff, #fff 55%);
    background: -o-linear-gradient(right, #fff, #fff 55%);
    background: -moz-linear-gradient(right, #fff, #fff 55%);
    background: linear-gradient(to right, #fff, #fff 55%);
  }
  .moz_box2::after{
    content: "..."; position: absolute; bottom: -1px; right: 30px; padding-left: 0px;font-size: 18px;
    background: -webkit-linear-gradient(left, #fff, #fff 55%);
    background: -o-linear-gradient(right, #fff, #fff 55%);
    background: -moz-linear-gradient(right, #fff, #fff 55%);
    background: linear-gradient(to right, #fff, #fff 55%);
  }
}