/*indexcss*/
/*indexcss*/
.content {
  padding-top: 122px;
}

.slide1 {
  background: url(../../images/en/index/bg1.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 640px;
}

.slide1_content {
  width: 1200px;
  margin: 0 auto;
}

.logo_banner {
  width: 164px;
  height: auto;
  margin-top: 69px;
}

.slide1_detail {
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
  margin-top: 30px;
  line-height: 36px;
  width: 800px;
}

.width1400 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(48, 58, 92, 0.4);
  width: 100%;
}

.slide1_ul {
  width: 1400px;
  height: 160px;
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  overflow-x:auto;
}

.slide1_ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #fff;
}

.slide1_ul li img {
  width: 36px;
  height: auto;
  margin-top: 38px;
  margin-bottom: 15px;
}

.slide1_ul li img.slide1_img2 {
  /* margin-bottom: 29px; */
}

.slide1_ul li img.slide1_img3 {
  /* margin-bottom: 11px; */
  /* margin-top: 33px; */
}

.slide1_ul li p {
  line-height: 32px;
}

.trangle1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  height: auto;
}

.slide2 {
  background: #f1f2f6;
}

.slide2_content {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.trangle2 {
  width: 74px;
  height: auto;
  margin-bottom: 23px;
}

.small_title {
  font-size: 30px;
  margin-bottom: 64px;
  color: #353434;
  text-align: center;
}

.slide2_detail {
  font-size: 18px;
  color: #7d7d7d;
  width: 1235px;
  margin: 0 auto;
}

.slide2_ul {
  display: flex;
  display: -webkit-flex;
  margin-top: 95px;
  padding-bottom: 122px;
}

.slide2_ul a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 327px;
  height: 232px;
  display: inline-block;
}

.slide2_ul li {
  font-size: 16px;
  color: #fff;
  width: 327px;
  height: 232px;
  text-align: left;
}

.slide2_ul li.slide2_li1 {
  background: url(../../images/en/index/service1.png) no-repeat;
  background-size: cover;
}

.slide2_ul li.slide2_li2 {
  background: url(../../images/en/index/service2.png) no-repeat;
  background-size: cover;
}

.slide2_ul li.slide2_li3 {
  background: url(../../images/en/index/service3.png) no-repeat;
  background-size: cover;
}

.slide2_ul li.slide2_li4 {
  background: url(../../images/en/index/service4.png) no-repeat;
  background-size: cover;
}

.slide2_ul li .title {
  padding-top: 80px;
  font-size: 21px;
  padding-bottom: 5px;
  margin-left: 23px;
}

.slide2_ul li p {
  padding-left: 23px;
  padding-right: 23px;
}

.slide2_ul li .line {
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background: #f2813d;
  margin-bottom: 10px;
  margin-left: 23px;
}

.slide3 {
  background: url(../../images/en/index/bj.jpg) no-repeat;
  background-size: 100% 960px;
  height: 960px;
  width: 100%;
}

.slide3_box {
  padding-bottom: 50px;
}

.slide3_content {
  /* width: 1200px; */
  margin: 0 auto;
  /* text-align: center; */
}

.trangle3 {
  width: 52px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 18px;
  margin: 0 auto;
  display: block;
}

.detail {
  width: 145px;
  height: 42px;
  line-height: 42px;
  background: #68739c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 22px;
}

.slide3_line {
  width: 1400px;
  height: 273px;
  background: url(../../images/en/index/line.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 1;
}

.slide3_ul1,
.slide3_ul2 {
  width: 1400px;
  margin: 0 auto;
  margin-top: 176px;
  position: relative;
  z-index: 2;
}

.pt30 {
  padding-top: 20px;
}

.slide3_li1 {
  position: absolute;
  left: 0px;
  top: -15px;
}

.slide3_li1:hover {
  left: 10px;
}

.slide3_li2 {
  position: absolute;
  left: 228px;
  bottom: 63px;
}

.slide3_li2:hover {
  left: 238px;
}

.slide3_li3 {
  position: absolute;
  left: 465px;
  top: -60px;
}

.slide3_li3:hover {
  left: 475px;
}

.slide3_li4 {
  position: absolute;
  right: 435px;
  bottom: 70px;
}

.slide3_li4:hover {
  right: 425px;
}

.slide3_li5 {
  position: absolute;
  left: 936px;
  top: -10px;
}

.slide3_li5:hover {
  left: 946px;
}

.slide3_li6 {
  position: absolute;
  right: -35px;
  bottom: 90px;
}

.slide3_li6:hover {
  right: -45px;
}

.slide3_ul1 li {
  cursor: pointer;
  transition: all 0.5s;
}

.slide3_ul1 li:hover {
  transform: scale(1.1);
}

.slide3_ul2 li {
  cursor: pointer;
  transition: all 0.3s;
}

.slide3_ul2 li:hover {
  transform: scale(1.1);
}

.top_icon {
  width: 260px;
}

.top_icon img {
  width: 85px;
  height: 85px;
  border-radius: 45px;
  float: left;
  margin-right: 23px;
}

.top_icon .year {
  font-size: 28px;
}

.top_icon .year span {
  font-size: 17px;
  color: #a6b8cb;
  margin-left: 13px;
}

.top_icon .line {
  width: 30px;
  height: 4px;
  background: #f2813d;
  border-radius: 2px;
  margin-left: 108px;
  margin-bottom: 20px;
}

.top_icon p {
  font-size: 18px;
  color: #5e6467;
  margin-left: 108px;
}




.slide4 {
  background: #f6f6f6;
  text-align: center;
  overflow: hidden;
}

.slide4_content {
  width: 1400px;
  margin: 0 auto;
}

.trangle4 {
  width: 32px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 13px;
}

.slide4_ul {
  padding-top: 28px;
  padding-bottom: 137px;
  overflow: visible;
}

.slide4_ul li {
  width: 331px;
  border-radius: 10px;
  text-align: left;
  background: #fff;
  overflow: hidden;
  float: left;
  margin-right: 22px;
  box-shadow: 1px 1px 20px 2px #e0e0e0;
  position: relative;
  height: 520px;
}

.slide4_ul li:last-child {
  margin-right: 0;
}

.slide4_ul li .title {
  font-size: 22px;
  margin-top: 24px;
  line-height: 27px;
}

.slide4_ul li .line {
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #f2813d;
  margin-top: 3px;
  margin-bottom: 23px;
}

.slide4_ul li .news_detail {
  font-size: 16px;
  color: #7d7d7d;
  padding-right: 30px;
}

.slide4_ul li img {
  height: 224px;
  display: block;
  width: 331px;
}

.slide4_ul li .more {
  font-size: 16px;
  color: #fff;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #68739c;
  border-radius: 15px;
  margin-top: 31px;
  margin-bottom: 37px;
}

.pl30 {
  padding-left: 36px;
}

.list_title {
  padding-top: 42px;
  padding-bottom: 25px;
  font-size: 16px;
}

.news_link {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #6672a2;
  font-size: 16px;
  margin-bottom: 20px;
}

.slide4_ul li .fix_more {
  position: absolute;
  bottom: 0px;
  left: 30px;
}

.news_ul {
  padding-right: 30px;
}

.slide6 {
  height: 372px;
  ;
}

.index_footer {
  display: block;
}
.slide4_ul_h5{display: none;}
.slide3_content_h5{display: none;}
.slide2_ul_h5{display: none;}
.width1400 .slide1_ul_h5{display: none;}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .slide4_ul_h5{display: block;}
  .slide3_content_h5{display: block;}
  .slide2_ul_h5{display: block;}
  .width1400 .slide1_ul_h5{display: block;}
  .content {
    padding-top: 0.7rem;
  }

  .slide1 {
    width: 100%;
    height: 5.34rem;
    text-align: center;
    color: #fff;
    background-size: cover;
  }
  .slide1_ul{
    display:-moz-box;
    display:-webkit-box;
    display:box;
  }
  .slide1_ul li{
    -moz-box-flex:1;-webkit-box-flex:1;box-flex:1;
    text-align: center;
    width: 50%;
  }
  .slide1_content,
  .slide2_content,
  .slide3_content,
  .slide4_content,
  .slide2_detail {
    width: 100%;
  }

  .logo_banner {
    width: 0.8rem;
    height: auto;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  .slide1_detail {
    font-size: 0.16rem;
    width: auto;
    margin-top: 0rem;
    line-height: 0.25rem;
    padding: 0 0.25rem;
  }

  .slide1_ul {
    width: 100%;
    height: 0.95rem;
  }

  .width1400 {
    height: 2.13rem;
  }

  .slide1_ul li {
    font-size: 0.07rem;
  }

  .slide1_ul li img {
    width: 0.27rem;
    margin-top: 0.2rem;
    margin-bottom: 0.05rem;
    opacity: 0.7;
  }

  .slide1_ul li p {
    line-height: 0.18rem;
    font-size: 0.13rem;
  }

  .slide1_ul li img.slide1_img3 {
    /* margin-top: 0.2rem; */
    /* margin-bottom: 0.01rem; */
  }

  .slide1_ul li img.slide1_img2 {
    /* margin-bottom: 0.1rem; */
    /* margin-top: 0.24rem; */
  }

  .slide1_ul_pc {
    display: none;
  }

  .trangle2 {
    width: 0.4rem;
    margin-bottom: 0.23rem;
  }
  .small_title{
    font-size: 0.2rem;
    line-height: 0.28rem;
    margin-bottom: 0.15rem;
    font-weight: 500;
  }
  .slide2_detail{
    font-size: 0.16rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    line-height: 0.28rem;
  }
  .slide2_ul{
    margin-top: 0.34rem;
    padding-bottom: 0.34rem;
  }
  .slide2_ul_pc{display: none;}
  .slide2_ul_h5{
    position: relative;
  }
  .swiper-pagination{
    bottom: 0.46rem;
    left: 50%;
    margin-left: -0.3rem;
  }
  .swiper-pagination-bullet{
    background: #fff;
    opacity: 0.5;
    margin-right: 0.05rem;
    height: 6px;
    width: 6px;
  }
  .swiper-pagination-bullet-active{
    opacity: 1;
    width: 0.22rem;
    border-radius: 0.5rem;
  }
  .slide2_ul a{
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    margin: 0 auto;
  }
  .slide2_ul li p{
    font-size: 0.14rem;
    line-height: 0.2rem;
  }
  .slide2_ul li .title{
    line-height: 0.33rem;font-size: 0.24rem;
    padding-top: 0.55rem;
  }
  .slide3_content_pc{display: none;}
  .slide3{
    background:#fff;
    height: auto;
  }
  .slide3_h5_top{
    background: url(../../images/en/index/slide3_top.png) no-repeat;
    background-size: cover;
    height: 1.66rem;
    width: 100%;
  }
  .trangle3{
    width: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
  }

  .dot_line .line{
    width: 50px;
    height: 1px;
    background: #616572;
  }
  .slide3_bottom{
    background: url(../../images/en/index/slide3_bottom.png) no-repeat;
    background-size: cover;
    height: 1.38rem;
    width: 100%;
    overflow: hidden;
  }
  .detail{
    margin-top: 0.42rem;
  }
  .slide3_box{
    height: 4rem;
    overflow: scroll;
    padding-bottom: 0px;
    margin-left: 0.25rem;
  }
  .slide3_ul1{
    width: 2.8rem;
    margin: 0px;
  }
  .slide3_line{
    background: url(../../images/en/index/dot_line.png) no-repeat;
    background-size: cover;
    height: 12rem;
    width: 0.15rem;
    float: left;
  }
  .top_icon{
    width: auto;
  }
  .top_icon img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    margin-right: 0.13rem;
  }
  .top_icon .year{
    font-size: 0.24rem;
    color: #565656;
    font-weight:500;
  }
  .top_icon .line {
    width: 0.34rem;
    height: 0.02rem;
    margin-left: 0.73rem;
    margin-bottom: 0.09rem;
  }
  .top_icon p {
    font-size: 0.18rem;
    color: #565656;
    margin-left: 0.73rem;
    line-height: 0.25rem;
    font-weight: 500;
  }
  .top_icon .year span {
    font-size: 0.16rem;
    color: #a6b8cb;
    margin-left: 0.08rem;
  }
  .slide3_i{
    position: relative;
  }
  .slide3_i i{
    width: 0.3rem;
    height: 2px;
    background: #E3E6EE;
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    left: -0.3rem;
  }
  .slide3_i i.i1,.slide3_i i.i3,.slide3_i i.i5{
    width: 0.44rem;
    position: absolute;
    left: -0.5rem;
  }
  .slide3_i i.i2,.slide3_i i.i4,.slide3_i i.i6{
    width: 0.24rem;
  }
  .slide3_ul7 li{
    transition: none;
  }
  .slide3_ul7 li:hover {
    transform:none;
  }
  .slide3_li7 {
    position: absolute;
    left: 0.44rem;
    top: 0.22rem;
  }
  .slide3_ul1 li{
    transition: none;
  }
  .slide3_ul1 li:hover {
    transform:none;
  }
  .slide3_li1 {
    position: absolute;
    left: 0.63rem;
    top: 1.97rem;
  }
  .slide3_li2 {
    position: absolute;
    left: 0.44rem;
    top: 3.83rem;
  }
  .slide3_li3 {
    position: absolute;
    left: 0.64rem;
    top: 5.6rem;
    right: 0px;
  }
  .slide3_li4 {
    position: absolute;
    left: 0.44rem;
    top: 7.38rem;
  }
  .slide3_li5 {
    position: absolute;
    left: 0.64rem;
    top: 9.2rem;
    right: 0px;
  }
  .slide3_li6 {
    position: absolute;
    left: 0.44rem;
    top: 10.98rem;
    right: 0px;
  }
  .slide3_li5:hover,.slide3_li3:hover,.slide3_li1:hover{
    left: 0.61rem;
  }
  .slide3_li6:hover,.slide3_li4:hover,.slide3_li2:hover{
    left: 0.42rem;
  }
  .slide4_ul_pc{display: none;}
  .slide4_ul li{
    margin: 0 auto;
    float: initial;
    width: 3.15rem;
    height: 5.36rem;
  }
  .slide4_ul li:last-child{
    margin: 0 auto;
  }
  .slide4_ul li .title{
    font-size: 0.22rem;
    text-align: center;
    margin-top: 0.25rem;
    padding: 0 0.15rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .pl30{
    padding-left: 0;
  }
  .slide4_ul li .line{
    margin: 0 auto;
    width: 0.33rem;
    height: 0.02rem;
    margin-top: 0.06rem;
    margin-bottom: 0.25rem;
  }
  .slide4_ul li .news_detail{
    font-size: 0.16rem;
    text-align: center;
    padding: 0 0.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: 71px;
  }
  .slide4_ul li .fix_more{
    left: 50%;
    margin-left: -45px;
    font-size: 0.18rem;
    width: 0.85rem;
    height: 0.3rem;
    line-height: 0.3rem;
    bottom: 0.3rem;
  }
  .slide4_box{position: relative;}
  .slide4_ul li img{
    height: 2rem;
    width: 100%;
  }

  .slide4_ul_h5 .swiper-pagination2{
    position: absolute;
    bottom: 0.46rem;
    left: 50%;
    margin-left: -0.3rem;
  } 
  .slide4_ul_h5 .swiper-pagination-bullet{
    background: #C3C3C3;
    opacity: 0.5;
    margin-right: 0.05rem;
    height: 6px;
    width: 6px;
  }
  .slide4_ul_h5 .swiper-pagination-bullet-active{
    opacity: 1;
    width: 0.22rem;
    border-radius: 0.5rem;
  }
  .slide4_ul{
    padding-bottom: 0.2rem;
    padding-top: 0;
  }
  .news_list{
    padding: 0 0.2rem;
  }
  .slide4_ul li .fix_more_h5{
    bottom: 0.1rem;
  }
  .slide4_content{
    padding-bottom: 0.2rem;
  }
  .trangle4 {
    width: 0.33rem;
    margin-top: 0.3rem;
    margin-bottom: 0.18rem;
  }
  .trangle1 {
    margin-left: -0.1rem;
    width: 0.2rem;
  }
  .list_title{
    font-weight: 500;
    font-size: 0.18rem;
    color: #565656;
  }
  .news_link{
    line-height: 0.22rem;
    font-size: 0.16rem;
  }
  .slide4_ul li.slide4_li4{
    height: auto;
  }
  .slide4_ul li.slide4_li4 .fix_more_h5{
    position: initial;
    margin: 0 auto;
    margin-bottom: 0.37rem;
    margin-top: 0.31rem;
  }
  .slide6 {
    height: 3.72rem;
  }
  .news_ul{
    padding-right: 0px;
  }
}