.ir_home {
  padding-top: 1.22rem;
}

.bg1 {
  background: url(../../images/en/ir_home/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  background-size: cover;
}

.wx_timeline {
  position: relative;
  width: 12rem;
  margin: 0 auto;
  text-align: center;
}
.wx_timeline .img_trangle{width: 0.74rem;height: auto;margin-bottom: 0.23rem;}

.wx_timeline .text_area{font-size: 0.18rem;color: #7D7D7D;margin: 0 0.3rem;word-spacing: 4px;line-height: 0.32rem;}
.wx_timeline .each_title:nth-child(1){margin-bottom: 5px;}

.wx_timeline .each_part_description .img_trangle2{width: 0.36rem;height: auto;margin: 0.38rem auto 5px;}
.wx_timeline .each_part_description .title{font-size: 0.3rem;}
.wx_timeline .each_part_description .management_lists{margin-top: 0.44rem;width: 100%;text-align: left;}
.wx_timeline .each_part_description .management_lists .each_managor{width: 5.7rem;text-align: left;position: relative;height: 2.8rem;background: #F3F3F3;display: inline-block;margin-top: 1.2rem;}
.wx_timeline .each_part_description .management_lists .each_managor:nth-child(2n){margin-left: 0.54rem;}
.wx_timeline .each_part_description .management_lists .each_managor a {display: block;width: 100%;height: 100%;}
.wx_timeline .each_part_description .management_lists .each_managor a .managor_img{width: 2.15rem;height: 2.9rem;position: absolute;z-index: 1;top: -0.5rem;left: 0.3rem;}
.wx_timeline .each_part_description .management_lists .each_managor .right{margin-top: 0.54rem;border-radius: 2px;padding-left: 2.95rem;padding-top: 0.8rem;font-size: 0.24rem;color: #4f4e4e;}
.wx_timeline .each_part_description .management_lists .each_managor .right .line{background: #EE6615; width: 0.72rem;height: 6px;border-radius: 5px;}
.wx_timeline .each_part_description .management_lists .each_managor .right .name{margin-top: 0.25rem;}
.wx_timeline .each_part_description.board_directors{margin-top: 0.45rem;}
.board_directors .board_directors_container{margin-top: 0.7rem;text-align: left;}
.board_directors .board_directors_container .board_directors_each_card{-webkit-box-shadow: 0px 2px 6px #f1f1f1,-2px 0px 6px #f1f1f1,2px 0px 6px #f1f1f1,0px 0px 6px #f1f1f1 ;box-shadow: 0px 2px 6px #f1f1f1,-2px 0px 6px #f1f1f1,2px 0px 2px #f1f1f1,0px 0px 6px #f1f1f1 ;border-radius: 5px;padding: 0.42rem 0.2rem;display: inline-block;width: 27%;margin-left: 0.35rem;margin-top: 0.3rem;}
.board_directors .board_directors_container .board_directors_each_card:nth-child(1),.board_directors .board_directors_container .board_directors_each_card:nth-child(4){margin-left: 0;}
.board_directors .board_directors_container .board_directors_each_card .title{font-size: 0.32rem;color: #292929;}
.board_directors .board_directors_container .board_directors_each_card .second_title{font-size: 0.18rem;color: #6D6D6D;}
.board_directors .board_directors_container .board_directors_each_card .line{background: #F2813D;width: 0.3rem;height: 6px;border-radius: 5px;margin-top: 0.19rem;margin-bottom: 0.27rem;}
.board_directors .board_directors_container .board_directors_each_card .description{font-size: 0.16rem;line-height: 0.3rem;}
.board_directors .board_directors_container .board_directors_each_card .more{display: block;padding: 0.08rem 0;width: 0.98rem;text-align: center;
  background: #68739C;color: #fff;border-radius: 0.3rem;font-size: 0.16rem;margin-top: 0.2rem;}
.wx_timeline .committee_composition .description{font-size: 0.18rem;line-height: 0.32rem;color: #7D7D7D;word-spacing: 2px;}

/* 适配 */
@media screen and (max-width: 1200px) and (min-width: 320px) {
  .ir_home {
    padding-top: 0.7rem;
  }
  .bg1 {
    background: url(../../images/en/ir_home/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .wx_timeline{width: 100%;}
  .wx_timeline .img_trangle{width: 0.45rem;height: auto;margin-bottom: 0.23rem;}
  .wx_timeline .text_area{word-spacing: 0px;font-size: 0.16rem;line-height: 0.2rem;margin: 0 0.15rem;}
  .wx_timeline .text_area .each_title:nth-child(2){margin-top: 10px;}
  .wx_timeline .each_part_description .img_trangle2{width: 0.24rem;margin: 0.2rem auto 5px;}
  .wx_timeline .committee_composition .img_trangle2 {margin-top: 0.3rem;}
  .wx_timeline .each_part_description .title{font-size: 0.18rem;}
  .wx_timeline .each_part_description .management_lists{margin: 0.22rem 0.15rem 0;width: 90%;}
  .wx_timeline .each_part_description .management_lists .each_managor{height: 1.2rem;margin-top: 0.6rem;width: 100%;}
  .wx_timeline .each_part_description .management_lists .each_managor:nth-child(2n){margin-left: 0;}
  .wx_timeline .each_part_description .management_lists .each_managor a .managor_img{width: 1rem;height: 1.3rem;top: -0.3rem;left: 0.15rem;}
  .wx_timeline .each_part_description .management_lists .each_managor a .right{margin-top: 0rem;padding-left: 1.5rem;padding-top: 0.3rem;
  font-size: 0.16rem;}
  .wx_timeline .each_part_description .management_lists .each_managor .right .name{margin-top: 0.1rem;}
  .wx_timeline .each_part_description.board_directors {margin-top: 0.1rem;}
  .board_directors .board_directors_container{margin: 0rem 0.15rem 0;width: 90%;}
  .board_directors .board_directors_container .board_directors_each_card{margin-left: 0;padding: 0.2rem 0.1rem;width: 95%;}
  .board_directors .board_directors_container .board_directors_each_card .title{font-size: 0.16rem;}
  .board_directors .board_directors_container .board_directors_each_card .second_title{font-size: 0.12rem;}
  .board_directors .board_directors_container .board_directors_each_card .line{margin: 0.1rem 0 0.15rem;}
  .board_directors .board_directors_container .board_directors_each_card .description{font-size: 0.14rem;line-height: 0.24rem;}
  .wx_timeline .committee_composition .description_container{margin: 0.15rem;font-size: 0.16rem;}
  .wx_timeline .committee_composition .description{line-height: 0.24rem;}

}