.media_coverage{
  padding-top:1.22rem;
}
.bg1{
  background: url(../../images/en/media_coverage/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  background-size: cover;
}
.media_ul{
  width: 12rem;
  background:#fff;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1.4rem;
}
.media_ul li{
  margin-top: 1.54rem;
  position: relative;
  background:#f3f3f3;
  width: 6.05rem;
  height: 3rem;
  padding-left:5.2rem;
  padding-right: 0.75rem;
  background-size: cover;
  padding-top: 0.5rem;
}
.media_ul .media_list2,.media_ul .media_list3{
  margin-top: 2.54rem;
}
.media_ul li img{
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  left: 0.5rem;
  top: -0.45rem;
  border-radius: 5px;
}
.media_ul li .title{
  font-size: 0.24rem;
  color: #4f4e4e;
  padding-bottom: 0.25rem;
}
.media_ul li .small_title{
  color: #ee6615;
  font-size: 0.16rem;
  padding-bottom: 0.3rem;
}
.media_ul li .line{
  background: #ee6615;
  width:0.7rem;
  height:0.06rem;
  margin-bottom: 0.2rem;
  border-radius: 3px;
}
.media_ul li .detail{
  font-size: 0.16rem;
  color: #7d7d7d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 0.58rem;
  line-height: 0.3rem;
}
.pagination{
  margin-bottom: 0.8rem;
}
.pagination ul{
  height: 0.35rem;
}
.pagination ul li span.current{
  min-width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
  background:#ee6615;
  border: 1px #ee6615 solid;
}
.pagination ul li a{
  min-width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
  border: 1px solid #cccccc;
}
.pagination ul li span.current.prev{
  width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
}
.pagination ul li a.next{
  width: 0.35rem;
}
.pagination ul li a.prev{
  width: 0.35rem;
}
.pagination ul li span.next{
  width: 0.35rem;
  background: #fff;
  border: 1px solid #e7e7e7;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .media_coverage{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/media_coverage/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .media_ul {
    width: auto;
    padding-bottom: 1rem;
  }
  .media_ul li {
    margin-top: .5rem;
    width: auto;
    height: auto;
    margin-right: 0.2rem;
    padding: 0.5rem 0.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 0.3rem;
  }
  .media_ul a:nth-child(2n) li{
    margin-right: 0rem;
    margin-left: 0.2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .media_ul li img{
    display: none;
  }
  .media_ul li .line {
    height: 0.02rem;
    margin-bottom: 0.1rem;
  }
  .media_ul li .title {
    font-size: 0.2rem;
    padding-bottom: 0.15rem;
    font-weight: bold;
  }
  .media_ul li .small_title {
    font-size: 0.14rem;
    padding-bottom: 0.15rem;
  }
  .media_ul li .detail {
    font-size: 0.14rem;
    color: #7d7d7d;
    height: 0.41rem;
    line-height: 0.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .pagination {
    margin-bottom: 1.2rem;
  }
}