.media_detail{
  padding-top: 122px;
}
.bg1{
  background: url(../../images/en/media_coverage/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  position: relative;
  background-size: cover;
}
.media_content{
  background:#fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.back{
  font-size: 18px;
  margin-top:50px;
  margin-bottom: 50px;
  overflow: hidden;
}
.back a{
  color: #5aa8ff;
  float: right;
}
.media_title{
  font-size: 24px;
  color: #4f4e4e;
}
.detail_content{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 58px;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
}
.top_detail{
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin-bottom: 40px;
}
.title_line{
  width: 290px;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.small_title{
  color: #909090;
  font-size: 18px;
  margin-bottom: 60px;
}
.media_ul{
  overflow: hidden;
}
.media_ul li{
  float: left;
  width: 540px;
  margin-right: 110px;
  margin-bottom: 60px;
}
.media_ul li:nth-child(2n){
  margin-right: 0;
}
.media_ul li img{
  width: 540px;
}
.media_list3,.media_list4{
  margin-top: 100px;
}