.risk_control{
  padding-top: 1.22rem;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.34rem;
  margin-left:-0.17rem;
}
.risk_content{
  background:#fff;
  text-align: center;
  width: 12rem;
  margin: 0 auto;
  position: relative;
}
.trangle2{
  width: 0.75rem;
  height: auto;
  margin-bottom: 0.42rem;
}
.risk_title{
  font-size: 0.24rem;
  color: #4f4e4e;
}
.top_detail{
  font-size: 0.16rem;
  color: #7d7d7d;
  line-height: 0.3rem;
  margin-bottom: 0.2rem;
}
.title_line{
  width: 2rem;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.25rem;
}
.risk_ul{
  width: 9.5rem;
  height: 5rem;
  position: relative;
  margin: 0 auto;
  margin-top: 1.9rem;
  margin-bottom: 2.8rem;
}
.risk_ul li{
  width: 2.7rem;
  height: 1rem;
  background: url(../../images/en/risk_control/li_bg.png) no-repeat center;
  background-size: 100% 100%;
  font-size: 0.2rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
@keyframes floatli{
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
@-webkit-keyframes floatli{
  0%{
    -webkit-transform: scale(0.9);
  }
  50%{
    -webkit-transform: scale(1);
  }
  100%{
    -webkit-transform: scale(0.9);
  }
}
@-moz-keyframes floatli{
  0%{
    -moz-transform: scale(0.9);
  }
  50%{
    -moz-transform: scale(1);
  }
  100%{
    -moz-transform: scale(0.9);
  }
}
@-ms-keyframes floatli{
  0%{
    -ms-transform: scale(0.9);
  }
  50%{
    -ms-transform: scale(1);
  }
  100%{
    -ms-transform: scale(0.9);
  }
}

.bg2{
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  width: 8rem;
}
.floatli_short {
  animation: floatli 15s infinite;
  -webkit-animation: floatli 15s infinite;
  -ms-animation: floatli 15s infinite;
  -moz-animation: floatli 15s infinite;
  -o-animation: floatli 15s infinite;
}
.floatli_long {
  animation: floatli 25s infinite;
  -webkit-animation: floatli 25s infinite;
  -ms-animation: floatli 25s infinite;
  -moz-animation: floatli 25s infinite;
  -o-animation: floatli 25s infinite;
}
.risk_list1{
  position: absolute;
  top: -0.46rem;
  left: -1.3rem;
}
.risk_list2{
  position: absolute;
  top: -0.46rem;
  right: -1.1rem;
}
.risk_list3{
  position: absolute;
  bottom: 0.3rem;
  left: -0.73rem;
}
.risk_list4{
  position: absolute;
  bottom: 0.2rem;
  right: -0.25rem;
}
.risk_ul li p{
  padding: 0.2rem 0.4rem;
  width: 1.8rem;
  height: 0.5rem;
  background: #d4c29d;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 0.05rem;
}
.pop_ul{
  /* overflow: hidden; */
  position: absolute;
  top: 4rem;
  left: 50%;
  margin-left: -3.86rem;
}
.pop_ul li{
  width: 6.2rem;
  padding: 0.85rem 0.75rem 1.4rem 0.75rem;
  background: rgba(255, 255, 255, 0.96);
  border: 1px #dbc28c solid;
  text-align: center;
  border-radius: 5px;
}
.pop_title{
  font-size: 0.24rem;
  color: #555454;
  margin-bottom:0.25rem;
}
.pop_line{
  height: 5px;
  width: 0.7rem;
  background: #f3c09a;
  margin: 0 auto;
  margin-bottom: 0.36rem;
  border-radius: 3px;
}
.pop_ul li p{
  font-size: 0.16rem;
  line-height: 0.3rem;
  text-align: left;
  color: #8e8e8e;
  margin-bottom: 0.3rem;
}
.dis_none{
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .risk_control{
    padding-top: 0.7rem;
    position: relative;
  }
  .mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }
  .closeBtn {
    position: absolute;
    right: 0.25rem;
    top: 1.2rem;
    width: 0.3rem;
    height: 0.3rem;
  }
  .whiteBlock {
    width: 3.24rem;
    height: 0.44rem;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    left: 0.25rem;
    top: 4.9rem;
    z-index: 201;
  }
  .whiteBlockTop {
    top: 1.6rem!important;
  }
  .bg1{
    background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .risk_content{
    width: auto;
  }
  .top_detail {
    font-size: 0.16rem;
    line-height: 0.25rem;
    margin-bottom: 0.1rem;
    padding: 0 0.25rem;
  }
  .trangle2 {
    width: 0.45rem;
    height: auto;
    margin-bottom: 0.22rem;
  }
  .trangle1{
    width: 0.20rem;
    margin-left: -0.1rem;
  }
  .risk_title{
    font-size: 0.2rem;
    padding: 0 0.6rem;
  }
  .title_line{
    width: 1rem;
  }
  .bg2{
    display: none;
  }
  .risk_ul {
    background: url(../../images/en/risk_control/bg2.jpg) no-repeat center;
    background-size: 100% auto;
    width: 100%;
    position: inherit;
    margin-top: 0.2rem;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0.2rem;
  }
  .risk_ul li{
    width: 2rem;
    height: 0.8rem;
    margin: 0.2rem auto;
    position: static;
    font-size: 0.16rem;
    box-sizing: border-box;
    display: inline-block;
    background: url(../../images/en/risk_control/li_bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .risk_ul li p{
    padding: 0.12rem 0.2rem;
    width: 1.5rem;
    height: 0.45rem;
  }
  .pop_ul2{
    width: 3.24rem;
    height: 3.7rem;
    position: absolute;
    left: 0.25rem;
    top: 1.6rem;
    z-index: 200;
    padding: 0.45rem 0.45rem 0.3rem 0.45rem;
    overflow: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    margin-left: 0;
  }
  .pop_ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
  }
  .pop_title {
    font-size: 0.20rem;
    color: #555454;
    margin-bottom: 0.15rem;
    font-weight: bold;
  }
  .pop_line {
    height: 2px;
    margin-bottom: 0.26rem;
  }
  .pop_ul li p {
    font-size: 0.14rem;
    line-height: 0.25rem;
    margin-bottom: 0.15rem;
  }

}
/* iphoneX、iphoneXs */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .pop_ul2{
    height: 4.7rem;
  }
  .whiteBlock{
    top: 5.9rem;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
  .pop_ul2 {
    height: 4.7rem;
  }
  .whiteBlock {
    top: 5.9rem;
  }
}

/* iphone XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
  .pop_ul2 {
    height: 4.7rem;
  }
  .whiteBlock {
    top: 5.9rem;
  }
}
@media only screen and (min-width: 1200px){
  .pop_ul li{
    position: absolute;
  }
}
