.risk_control{
  padding-top: 122px;
}
.bg1{
  background: url(../../images/en/core_business/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 34px;
  margin-left:-17px;
}
.risk_content{
  background:#fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.trangle2{
  width: 75px;
  height: auto;
  margin-bottom: 42px;
}
.risk_title{
  font-size: 24px;
  color: #4f4e4e;
}
.top_detail{
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin-bottom: 20px;
}
.title_line{
  width: 200px;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
.risk_ul{
  width: 950px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: 190px;
  margin-bottom: 280px;
}
.risk_ul li{
  width: 270px;
  height: 100px;
  background: url(../../images/en/risk_control/li_bg.png) no-repeat center;
  background-size: 100% 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
@keyframes floatli{
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}
@-webkit-keyframes floatli{
  0%{
    -webkit-transform: scale(0.9);
  }
  50%{
    -webkit-transform: scale(1);
  }
  100%{
    -webkit-transform: scale(0.9);
  }
}
@-moz-keyframes floatli{
  0%{
    -moz-transform: scale(0.9);
  }
  50%{
    -moz-transform: scale(1);
  }
  100%{
    -moz-transform: scale(0.9);
  }
}
@-ms-keyframes floatli{
  0%{
    -ms-transform: scale(0.9);
  }
  50%{
    -ms-transform: scale(1);
  }
  100%{
    -ms-transform: scale(0.9);
  }
}

.bg2{
  position: absolute;
  top: 25px;
  left: 50px;
  width: 800px;
}
.floatli_short {
  animation: floatli 15s infinite;
  -webkit-animation: floatli 15s infinite;
  -ms-animation: floatli 15s infinite;
  -moz-animation: floatli 15s infinite;
  -o-animation: floatli 15s infinite;
}
.floatli_long {
  animation: floatli 25s infinite;
  -webkit-animation: floatli 25s infinite;
  -ms-animation: floatli 25s infinite;
  -moz-animation: floatli 25s infinite;
  -o-animation: floatli 25s infinite;
}
.risk_list1{
  position: absolute;
  top: -46px;
  left: -130px;
}
.risk_list2{
  position: absolute;
  top: -46px;
  right: -110px;
}
.risk_list3{
  position: absolute;
  bottom: 30px;
  left: -73px;
}
.risk_list4{
  position: absolute;
  bottom: 20px;
  right: -25px;
}
.risk_ul li p{
  padding: 20px 40px;
  width: 180px;
  height: 50px;
  background: #d4c29d;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 5px;
}
.pop_ul{
  /* overflow: hidden; */
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -386px;
}
.pop_ul li{
  width: 620px;
  padding: 85px 75px 140px 75px;
  background: rgba(255, 255, 255, 0.96);
  border: 1px #dbc28c solid;
  text-align: center;
  border-radius: 5px;
}
.pop_title{
  font-size: 24px;
  color: #555454;
  margin-bottom:25px;
}
.pop_line{
  height: 5px;
  width: 70px;
  background: #f3c09a;
  margin: 0 auto;
  margin-bottom: 36px;
  border-radius: 3px;
}
.pop_ul li p{
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #8e8e8e;
  margin-bottom: 30px;
}
.dis_none{
  display: none;
}
.pop_ul li{
  position: absolute;
}