.social_response{
  padding-top:122px;
}
.bg1{
  background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 36px;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 34px;
  margin-left:-17px;
}
.social_content{
  background:#fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.trangle2{
  width: 75px;
  height: auto;
  margin-bottom: 42px;
}
.top_detail{
  font-size: 18px;
  color: #7d7d7d;
  line-height: 30px;
  margin-bottom: 20px;
}
.title_line{
  width: 72px;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
}
.social_ul{
  margin-bottom: 250px;
}
.social_ul li{
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  height: 460px;
  text-align: left;
}
.social_ul li img{
  width:700px;
  height: auto;
}
.social_list1 img,.social_list3 img{
  position: absolute;
  left: 0;
  top: 0;
}
.social_list2 img{
  position: absolute;
  right: 0;
  top: 0;
}
.social_list1 .social1{
  width: 475px;
  height: 270px;
  padding: 50px 65px;
  background: url(../../images/en/social_response/li_bg1.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 10px;
}
.social2{
  width: 475px;
  height: 270px;
  padding: 50px 65px;
  background: url(../../images/en/social_response/li_bg2.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 0;
}
.social3{
  width: 475px;
  height: 270px;
  padding: 50px 65px;
  background: url(../../images/en/social_response/li_bg1.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 10px;
}
.title{
  font-size: 24px;
  color: #4d4d4d;
}
.line{
  width: 70px;
  height: 5px;
  border-radius: 3px;
  background: #ee6615;
  margin-bottom: 25px;
  margin-top: 5px;
}
.detail{
  font-size: 16px;
  color: #7d7d7d;
}