.social_response{
  padding-top:1.22rem;
}
.bg1{
  background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 0.36rem;
  color: #fff;
  position: relative;
  background-size: cover;
}
.trangle1{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.34rem;
  margin-left:-0.17rem;
}
.social_content{
  background:#fff;
  text-align: center;
  width: 12rem;
  margin: 0 auto;
}
.trangle2{
  width: 0.75rem;
  height: auto;
  margin-bottom: 0.42rem;
}
.top_detail{
  font-size: 0.16rem;
  color: #7d7d7d;
  line-height: 0.3rem;
  margin-bottom: 0.2rem;
}
.title_line{
  width: 0.72rem;
  height: 1px;
  background:#f3c09a;
  margin:0 auto;
}
.social_ul{
  margin-bottom: 2.5rem;
}
.social_ul li{
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  height: 4.6rem;
  text-align: left;
}
.social_ul li img{
  width:7rem;
  height: auto;
}
.social_list1 img,.social_list3 img{
  position: absolute;
  left: 0;
  top: 0;
}
.social_list2 img{
  position: absolute;
  right: 0;
  top: 0;
}
.social_list1 .social1{
  width: 4.75rem;
  height: 2.7rem;
  padding: 0.5rem 0.65rem;
  background: url(../../images/en/social_response/li_bg1.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 0.4rem;
  right: 0.1rem;
}
.social2{
  width: 4.75rem;
  height: 2.7rem;
  padding: 0.5rem 0.65rem;
  background: url(../../images/en/social_response/li_bg2.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 0.4rem;
  left: 0;
}
.social3{
  width: 4.75rem;
  height: 2.7rem;
  padding: 0.5rem 0.65rem;
  background: url(../../images/en/social_response/li_bg1.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 0.4rem;
  right: 0.1rem;
}
.title{
  font-size: 0.24rem;
  color: #4d4d4d;
}
.line{
  width: 0.7rem;
  height: 0.05rem;
  border-radius: 3px;
  background: #ee6615;
  margin-bottom: 0.25rem;
  margin-top: 0.05rem;
}
.detail{
  font-size: 0.16rem;
  color: #7d7d7d;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
  .social_response{
    padding-top: 0.7rem;
  }
  .bg1{
    background: url(../../images/en/finance_process/bg1.jpg) no-repeat center;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.24rem;
    color: #fff;
    background-size: cover;
  }
  .social_content{
    width: auto;
  }
  .top_detail {
    font-size: 0.16rem;
    line-height: 0.25rem;
    margin-bottom: 0.1rem;
    padding: 0 0.25rem;
  }
  .trangle2 {
    width: 0.45rem;
    height: auto;
    margin-bottom: 0.22rem;
  }
  .trangle1{
    width: 0.20rem;
    margin-left: -0.1rem;
  }
  .social_ul li img{
    display: none;
  }
  .social_ul li{
    margin-top: 0rem;
    height: auto;
    overflow: inherit;
  }
  .social_list1 .social1 {
    width: auto;
    height: auto;
    padding: 0.4rem 0.2rem 0.5rem 0.2rem;
    background: url(../../images/en/social_response/li_bg1.png) no-repeat right;
    background-size: cover;
    border-radius: 10px;
    position: inherit;
    top: 0.4rem;
    right: 0;
    margin-right: 0.2rem;
  }
  .title_line{
    display: none;
  }
  .title{
    font-size: 0.20rem;
    font-weight: bold;
  }
  .line {
    height: 0.03rem;
    margin-bottom: 0.2rem;
  }
  .detail {
    font-size: 0.14rem;
  }
  .social_ul .social_list2, .social_ul .social_list3{
    margin-top: 0.3rem;
  }
  .social2 {
    width: auto;
    height: auto;
    padding: 0.4rem 0.2rem 0.5rem 0.2rem;
    background: url(../../images/en/social_response/li_bg2.png) no-repeat left;
    background-size: cover;
    border-radius: 10px;
    position: inherit;
    top: 0.4rem;
    left: 0;
    margin-left: 0.2rem;
  }
  .social3 {
    width: auto;
    height: auto;
    padding: 0.4rem 0.2rem 0.5rem 0.2rem;
    background: url(../../images/en/social_response/li_bg1.png) no-repeat right;
    background-size: cover;
    border-radius: 10px;
    position: inherit;
    top: 0.4rem;
    right: 0;
    margin-right: 0.2rem;
  }
  .social_ul {
    margin-bottom: 1rem;
  }
}