{include file="web/views/v3/header.html"}

<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/feedback/index.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/feedback/feedback.css');?>" />
<div class="feedback-nav">
  <a class="feedback-nav-link" href="/">网信普惠</a>
  <span class="feedback-nav-gap">></span>
  <a class="feedback-nav-link" javascript:;>消费者纠纷解决中心</a>
</div>
<section class="main">
  <div class="feedback-wrapper">
    <div class="feedback-gap"></div>
    <ul class="feedback-content clearfix">
      <li class="feedback-item">
        <a href="/feedback/doAnswer">
          <div class="feedback-request-img feedback-icon">
          </div>
          <div class="feedback-item-desc">
            <div class="feedback-title">咨询答疑</div>
            <div class="feedback-item-content">
              您对平台产品介绍、产品规则、交易结构等内容有疑问的，可以通过“咨询答疑”获得帮助。
            </div>
          </div>
        </a>
      </li>
      <li class="feedback-item">
        <a href="/feedback/doComplain">
          <div class="feedback-report-img feedback-icon">
          </div>
          <div class="feedback-item-desc">
            <div class="feedback-title">投诉举报</div>
            <div class="feedback-item-content">
              您若发现违法违规、侵犯您或他人合法权益等行为，需要向平台进行投诉、举报的，可以在线举报，也可以通过平台的投诉举报电话、邮箱告知我们，平台将在7个工作日内向您反馈处理结果。
            </div>
          </div>
        </a>
      </li>
      <li class="feedback-item end-item">
        <a href="/feedback/resolve">
          <div class="feedback-controversy-img feedback-icon">
          </div>
          <div class="feedback-item-desc">
            <div class="feedback-title">争议解决</div>
            <div class="feedback-item-content">
                如您在平台发生与出借、借款、担保或其他服务相关的纠纷时，可以通过“争议解决”寻求解决。
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

{include file="web/views/v3/footer.html"}