.p_fifth{width:100%;background: #fff}
/*用户点击分享提示*/
.ui_mask{position: fixed; width: 100%; height: 100%; background:url("../../images/fiveyears/wxShare.png") no-repeat;background-size:100% 100%;top: 0; left: 0;z-index: 110;display: none}
.p_fifth .topBox{background: url("../../images/fiveyears/topBg.jpg") no-repeat 0 0;background-size: 100% auto;position: relative;padding-top:25px; height: 6.34rem;}
.topBox .ruleBtn{position: absolute;left:50%;margin-left:-1.54rem;width:3.08rem;height:0.88rem;top:4.8rem}
.topBox .shareBtn{position: absolute;top:6px;right:6px;width:0.88rem;height:0.88rem;}
.topBox .fiveLeftTop{position: absolute;top:1.07rem;left:2.34rem;width:12px;height:12px;background: #fff;border-radius: 30px;animation: width 2s infinite;-ms-animation: width 2s infinite;-moz-animation: width 2s infinite;-webkit-animation: width 2s infinite;-o-animation: width 2s infinite;}
@keyframes width {
     0% {
         width: 12px;
     }
     100% {
         width:28px;
     }
 }
 @-ms-keyframes width {
     0% {
         width: 12px;
     }
     100% {
         width: 28px;
     }
 }
 @-moz-keyframes width {
     0% {
         width: 12px;
     }
     100% {
         width: 28px;
     }
 }
 @-webkit-keyframes width {
     0% {
         width: 12px;
     }
     100% {
         width: 28px;
     }
 }
 @-o-keyframes width {
     0% {
         width: 12px;
     }
     100% {
         width: 28px;
     }
 }
.topBox .fiveLeft{position: absolute;top:1.07rem;left:2.34rem;width:12px;height:24px;background: #fff;border-radius: 30px;animation: height 2s infinite;-ms-animation: height 2s infinite;-moz-animation: height 2s infinite;-webkit-animation: height 2s infinite;-o-animation: height 2s infinite;}
@keyframes height {
     0% {
         height: 12px;
     }
     100% {
         height:30px;
     }
 }
 @-ms-keyframes height {
     0% {
         height: 12px;
     }
     100% {
         height: 30px;
     }
 }
 @-moz-keyframes height {
     0% {
         height: 12px;
     }
     100% {
         height: 30px;
     }
 }
 @-webkit-keyframes height {
     0% {
         height: 12px;
     }
     100% {
         height: 30px;
     }
 }
 @-o-keyframes height {
     0% {
         height: 12px;
     }
     100% {
         height: 30px;
     }
 }
.topBox .fiveTop{position: absolute;top:1.07rem;left:2.68rem;width:24px;height:12px;background: #fff;border-radius: 30px}
.topBox .fiveBottom{position: absolute;top:1.45rem;left:2.36rem;width:0.92rem;height:0.94rem;}
.topBox .robot{position: absolute;top:2.68rem;left:50%;margin-left:-1.82rem;width:3.64rem;height:1.92rem;animation: float 2s infinite;-moz-animation: float 2s infinite;-ms-animation: float 2s infinite;-webkit-animation: float 2s infinite;-o-animation: float 2s infinite;}
 @keyframes float {
     0% {
         transform: translate(0px, 0px);
         -ms-transform: translate(0px, 0px);
         -moz-transform: translate(0px, 0px);
         -webkit-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
     }
     50% {
         transform: translate(0px, 6px);
         -ms-transform: translate(0px, 6px);
         -moz-transform: translate(0px, 6px);
         -webkit-transform: translate(0px, 6px);
         -o-transform: translate(0px, 6px);
     }
     100% {
         transform: translate(0px, 0px);
         -ms-transform: translate(0px, 0px);
         -moz-transform: translate(0px, 0px);
         -webkit-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
     }
}
 @-moz-keyframes float {
     0% {
         transform: translate(0px, 0px);
         -ms-transform: translate(0px, 0px);
         -moz-transform: translate(0px, 0px);
         -webkit-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
     }
     50% {
         transform: translate(0px, 6px);
         -ms-transform: translate(0px, 6px);
         -moz-transform: translate(0px, 6px);
         -webkit-transform: translate(0px, 6px);
         -o-transform: translate(0px, 6px);
     }
     100% {
         transform: translate(0px, 0px);
         -ms-transform: translate(0px, 0px);
         -moz-transform: translate(0px, 0px);
         -webkit-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
     }
 }
  @-ms-keyframes float {
      0% {
          transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
          -moz-transform: translate(0px, 0px);
          -webkit-transform: translate(0px, 0px);
          -o-transform: translate(0px, 0px);
      }
      50% {
          transform: translate(0px, 6px);
          -ms-transform: translate(0px, 6px);
          -moz-transform: translate(0px, 6px);
          -webkit-transform: translate(0px, 6px);
          -o-transform: translate(0px, 6px);
      }
      100% {
          transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
          -moz-transform: translate(0px, 0px);
          -webkit-transform: translate(0px, 0px);
          -o-transform: translate(0px, 0px);
      }
  }
   @-webkit-keyframes float {
       0% {
           transform: translate(0px, 0px);
           -ms-transform: translate(0px, 0px);
           -moz-transform: translate(0px, 0px);
           -webkit-transform: translate(0px, 0px);
           -o-transform: translate(0px, 0px);
       }
       50% {
           transform: translate(0px, 6px);
           -ms-transform: translate(0px, 6px);
           -moz-transform: translate(0px, 6px);
           -webkit-transform: translate(0px, 6px);
           -o-transform: translate(0px, 6px);
       }
       100% {
           transform: translate(0px, 0px);
           -ms-transform: translate(0px, 0px);
           -moz-transform: translate(0px, 0px);
           -webkit-transform: translate(0px, 0px);
           -o-transform: translate(0px, 0px);
       }
   }
    @-o-keyframes float {
        0% {
            transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
        }
        50% {
            transform: translate(0px, 6px);
            -ms-transform: translate(0px, 6px);
            -moz-transform: translate(0px, 6px);
            -webkit-transform: translate(0px, 6px);
            -o-transform: translate(0px, 6px);
        }
        100% {
            transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
        }
    }
.topBox .emptyDiv{position: absolute;top:4.6rem;left:50%;margin-left:-1rem;width:2rem;height:0.2rem;background: #fff;z-index: 100;}  
.topBox .tip{position: absolute;top:10px;left:15px;width:1.5rem;line-height: 16px;font-size: 8px;color:#fff;display: block}
.topBox .tip2{position: absolute;top:25px;left:15px;width:1.5rem;line-height: 16px;font-size: 8px;color:#fff;display: block}
.topBox .date{line-height: 16px;font-size: 9px;color:#fff;display: block;margin:0 auto;text-align:center}
.p_fifth .item-con{width:100%;overflow: hidden;}
.item-con .title{width:100%;height:50px;}
.item-con .titleCon{width:180px;margin:0 auto;position: relative;}
.licaiItem .title{margin-bottom:20px}
.title .mainTitle{width:125px;height:50px;margin:0 auto;display: block}
.title .pointImg{width: 20px;height:20px;}
.title .pointLeft{position: absolute;left:0;top:15px;}
.title .pointRight{position: absolute;right:0;top:15px;}
.licaiItem .item{width:100%;padding:5px 0 0;margin-bottom:5px;overflow: hidden;}
.licaiItem .item .infoBox{float: left;width:50%;height:100%;}
.licaiItem .item .left img{float: right;width:152px;height:82px;}
.licaiItem .item .right span{display:block;width:100%;height:28px;line-height: 28px;margin-left:10px}
.licaiItem .item .right .top{font-size: 14px;color:#444;margin-top:12px}
.licaiItem .item .right .info{font-size: 14px;color:#FE3D5C;}
.tequanItem .title{background:url("../../images/fiveyears/tqTop.png") #4e30a6 no-repeat 0 0;height:114px;padding-top:66px;background-size: 100% auto}
.item-con .subTitle{width:100%;display: block;height:50px;line-height: 50px;color:#fff;text-align: center;font-size: 12px;font-weight: bold;background: #4e30a6;}
.tequanItem .itemBox{width:100%;min-height:550px;background:url("../../images/fiveyears/tqBottom.jpg") #4e30a6 no-repeat left bottom;background-size: 100% auto;padding-bottom:50px;}
.tequanItem .item{width:85%;border-radius: 40px;background: #432795;margin:0 auto 16px;padding:30px 0 20px}
.tequanItem .item .top{margin:0 auto;width:230px;;height:44px;}
.tequanItem .item .top img{display: block;margin-bottom:3px}
.tequanItem .item .top .leftWord{width:89px;height:21px;float:left;}
.tequanItem .item .top .rightWord{width:118px;height:21px;float:left;margin-left:10px;}
.tequanItem .item .top .line{width:177px;height:12px;margin:0 auto}
.tequanItem .item .info{display: block;width:88%;margin:0 auto;font-size: 12px;color:#fff;line-height: 18px;text-align: center}
.tequanItem .item .btn{width:182px;height:63px;margin:11px auto 0;display: block}
.tequanItem .item.second .itemTitle{width:173px}
.tequanItem .item.second .info{width:80%}
.tequanItem .item.second .btn{margin-top:17px}
.moreItem .item{width:100%;overflow: hidden}
.moreItem .item .itemTitle{width:250px;height:53px;margin:25px auto 19px;display: block}
.moreItem .item .info{display: block;width:80%;margin:0 auto 30px;font-size: 12px;color:#333;text-align: center;line-height: 18px}
.moreItem .item.second{background: #f9f9f9}
.moreItem .item.second .itemTitle{width:178px;}
.moreItem .item.third .itemTitle{width:127px;}
.p_fifth .bottom{width:100%;padding-bottom:25px;background: #333;padding-top:30px;}
.bottom img{width:94px;height:39px;margin:0 auto 14px;display: block}
.bottom .item{width:100%;padding-left:47px;overflow: hidden;}
.bottom .item .point{width:7px;height:7px;border-radius: 50%;background: #fd3b5b;margin-right:17px;display: block;float: left;margin-top:14px}
.bottom .item .info{color:#fff;line-height: 18px;font-size: 10px;display: block;float: left;width:80%;margin-top:9px}
.p_fifth .footer{width:100%;height:70px;padding-top:24px}
.p_fifth .footer img{display: block;margin:0 auto;width:69px;height:25px}





