<!-- $Id: goods_list.htm 16529 2009-08-12 05:38:57Z wangleisvn $ -->



{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="validator.js"}
<!-- 库存调整 -->
<div class="list-div" style="margin-bottom: 5px; margin-top: 10px;" id="listDiv">



<form method="post" action="goods.php?act=update_settlement_money" name="addForm" id="addForm">
  <input type="hidden" name="goods_id" value="{$goods_id}" />
  <table width="100%" cellpadding="3" cellspacing="1" id="table_list">
    <tr>
      <th colspan="20" scope="col">{$goods_name}&nbsp;&nbsp;&nbsp;&nbsp;{$goods_sn}</th>
    </tr>
    <tr>
      <td class="">供货价</td>
    </tr>

    <tr>
      <td class=""><input type="text" name="settlement_money" value="{$goods.settlement_money}"></td>
    </tr>

  </table>
  <div align="center"><input type="submit" class="button" value="{$lang.button_save}" /></div>
</form>



</div>

{include file="pagefooter.htm"}


