<!DOCTYPE html>
<html>
    <head>
        <title>邀请好友</title>
        {include file="api/views/header_v2.html"}
        <!--public js&css end-->
        <link href="{$STATIC_PATH}/v2/css/invitation.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="i-top"><img src="{$STATIC_PATH}/v2/images/invitation/top.png" width="100%"></div>
        {if !$is_not_code}
                {foreach from=$coupons item="coupon" key="couponId" }
                <div class="i-list clearfix">
                    <dl class="clearfix">
                        <dt>
                        <h3>{$couponId}</h3>
                        <h4>好友获{$coupon.rebate_ratio}%，您可获{$coupon.referer_rebate_ratio}%</h4>
                        </dt>
                        <dd>
                        <a href="invite://api?coupon={$couponId}&msg={$coupon.shareMsg}">邀请</a>
                        </dd>
                    </dl>
                </div>
                {/foreach}
        {/if}
        <div class="i-text-tips">
            <adv adv_id="我的邀请码说明"/>
        </div>
        {include file="api/views/footer_v2.html"}
    </body>
</html>

