<!DOCTYPE html>
<html>
<head>
    {include file='web/views/hongbao/shareLogo.html'}
    <title>{$new_bonus_title}已过期</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <!--public js&css start-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-base-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-common-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <script src="<?php echo $this->asset->makeUrl('v1/js/zepto.min.js', 1);?>"></script>
    <!--public js&css end-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/common.css', 1);?>" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="top_bg" style="background-image:url({$bg_image})"></div>
	<div class="bonus_box">
        <div class="icon_gq"></div>
        <div class="go_btn"><a href="{$downloadUrl}" class="tel_btn">{$downloadDesc}</a></div>
    </div>
</body>
</html>
