/*我的竞猜记录页面样式*/
html{height: 100%;background: #282730;}
.my_guessing_record{width: 100%;height:100%;overflow: hidden;}

/*竞猜记录列表*/
.my_guessing_record .guessing_record_table{width: 100%;text-align: center;}
.my_guessing_record .guessing_record_table .title{height: 1.1rem;line-height: 1.1rem;color: #FFFFFF;font-size: 0.3rem;border-bottom: 1px solid #935D3F;}
.my_guessing_record .guessing_record_table .title span{display: block;float: left;}
.my_guessing_record .guessing_record_table .common{width: 25%;}
.my_guessing_record .guessing_record_table .middle{width: 50%;}
.my_guessing_record .guessing_record_table .list{width:100%;height: 1rem;font-size: 0.3rem;color: #FFFFFF;line-height: 1rem;}
.my_guessing_record .guessing_record_table .list span{display: block;float: left;}
.my_guessing_record .guessing_record_table .list .common{line-height: 0.3rem;margin-top: 0.2rem;font-size: 0.24rem;}
.my_guessing_record .guessing_record_table .list .middle{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.my_guessing_record .guessing_record_table .list span i{display: block;}
.my_guessing_record .guessing_record_table .list .reduce{color: #F95D5D;width: 25%;}/*竞猜失败*/
.my_guessing_record .guessing_record_table .list .increase{color: #FFE674;width: 25%;}/*竞猜成功*/
.my_guessing_record .guessing_record_table .list .tobeConfirmed{color: #80d63f;width: 25%;}/*竞猜结果待确认*/
.my_guessing_record .guessing_record_table li:nth-child(2n-1){background: #35333D;}
/*end*/

/*加载更多*/
.load_more_container{margin: 0.4rem;}
.load_more_container a{font-size: 0.3rem;text-decoration: none;color: #666666;}