html{background: #FFFFFF;}
.world_cup_container{width: 100%;overflow: hidden;position: relative;}
.world_cup_container a{text-decoration: none;color: #333333;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input{border: none;outline-style: none;}
/*首页巅峰之夜头部轮播*/
.world_cup_container .swiper-container{width: 100%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 5px;}
.swiper-pagination-bullet{background: #FFFFFF;opacity:0.5}
.swiper-pagination-bullet-active{background: #FFFFFF;opacity: 1;}
/*end*/
.world_cup_container .world_cup_home_top{width: 100%;height:6.2rem;background: url("../images/world_cup_bg1.png") no-repeat;background-size: 100% 100%;text-align: center;position: relative;}
/*分享按钮*/
.world_cup_container .shear_btn{display: block;width: 0.8rem;height: 0.8rem;position: fixed;top: 0.3rem;right: 0.2rem;z-index: 110;}
.world_cup_container .shear_btn .shear_btn_img{width: 100%;height: 100%;}
/*end*/
.world_cup_container .peak_night{background: url("../images/world_cup_bg2.png") no-repeat;background-size: 100% 100%;}
.world_cup_container .world_cup_home_top .rules_btn{display:block;color: #000000;background: url('../images/index_rules_btn2.png') no-repeat;background-size: 100% 100%;width: 3.6rem;margin: 0 auto;height: 1.03rem;font-size: 0.3rem;line-height: 0.9rem;position: absolute;bottom: 0.75rem;;left: 50%;margin-left: -1.8rem;z-index: 10;}

/* 世界杯比赛列表部分 */
.world_cup_game_lists .world_cup_game_list .each_game{margin: 0 0.3rem;padding: 0.2rem 0;border-bottom: 1px solid #F5F5F5;}
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail{color: #999999;font-size: 0.24rem;height: 0.58rem;}
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail span{display: block;}
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guess_status{float: left;background:#FC5C5D; padding: 0.11rem;color: #FFFFFF;}/*竞猜成功*/
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guess_no{background: #4BAEE0;padding: 0.11rem;color: #FFFFFF;float: left;}/*未竞猜*/
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guessed{background: #CCCCCC;padding: 0.11rem;color: #FFFFFF;float: left;}/*已竞猜*/
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guessed_fail{background: #999999;padding: 0.11rem;color: #FFFFFF;float: left;}/*竞猜失败*/

.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guess_date{float: right;line-height: 0.58rem;}
.world_cup_game_lists .world_cup_game_list .each_game .guess_status_detail .guess_date .team_match{color: #333333;}

.world_cup_game_lists .world_cup_game_list .each_game .eight_choice_container{text-align: center;margin-top: 0.12rem;}
.world_cup_game_lists .world_cup_game_list .each_game .eight_choice_container .eight_choice{margin-left: 0.1rem;line-height: 0.58rem;}
.world_cup_game_lists .world_cup_game_list .each_game .eight_choice_container .eight_choice img{width: 0.51rem;height: 0.3rem;margin-left: 0.1rem;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */margin-top: 0.14rem;}
.world_cup_game_lists .world_cup_game_list .each_game .eight_choice_container .champion{border:0.05rem solid #FF934E;border-radius: 0.1rem;width: 0.51rem;height: 0.3rem;}/*获胜三支队伍*/

.world_cup_game_lists .world_cup_game_list .each_game .group_match{margin-top: 0.14rem;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match span{display: block;float: left;width: 33.33%;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .left{color: #333333;font-size: 0.3rem;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .eight_choice_height{height: 0.38rem;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .national_win{position: relative;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .left .national_flag{width: 0.53rem;height: 0.31rem;margin-right: 0.06rem;vertical-align: middle;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .win{position: absolute;top:0.48rem;width: 0.51rem;height: 0.2rem;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .left .win{left: 0.01rem;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .middle{text-align: center;}
.world_cup_game_list .each_game .group_match .middle i{display:inline-block;}
.world_cup_game_list .each_game .group_match .middle .status{position: relative;}
.world_cup_game_list .each_game .group_match .middle a,.world_cup_game_list .each_game .group_match .middle span{padding:0.1rem 0;font-size: 0.24rem;border-width: 1px;border-style: solid;border-radius: 0.1rem;display:block;width:1.78rem;text-align:center;}
/* one--one比赛状态：已结束over,比赛中game_ing,竞猜guess_competition,即将开始begin_minute */
.world_cup_game_list .each_game .group_match .middle .over{border-color: #666666;color: #999999;}
.world_cup_game_list .each_game .group_match .middle .game_ing{border-color: #CA002B;color: #F92250;}
.world_cup_game_list .each_game .group_match .middle .guess_competition{border:none;background:#E8B34C;background-image:linear-gradient(90deg,#FABA36 0% ,#FFC000 100%);-webkit-background-image:linear-gradient(90deg, #FABA36 0% ,#FFC000 100%);color:#000000;}
.world_cup_game_list .each_game .group_match .middle .begin_minute{border-color:#6383EA;color:#6383EA;}
/* end */
.world_cup_game_lists .world_cup_game_list .each_game .group_match .right{float: right;color: #333333;font-size: 0.3rem;text-align: right;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .right .national_flag{width: 0.53rem;height: 0.31rem;vertical-align: middle;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match .right .win{right:0.01rem;}

.world_cup_game_lists .world_cup_game_list .each_game .group_match_logo{text-align: center;margin: 0.1rem auto 0;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match_logo .over_guess{font-size:0.24rem;color: #999999;display: block;}

.world_cup_game_lists .world_cup_game_list .each_game .hot_events .hot_events_img{background: url("../images/hot_events.png") no-repeat;background-size: 100% 100%;width: 2.05rem;height: 0.2rem;display: inline-block;line-height: 0.2rem;font-size: 0.24rem;color: #666666;}
.world_cup_game_lists .world_cup_game_list .each_game .group_match_logo .hot_match{width: 1.35rem;height: 0.2rem;margin-top: 0.05rem;}

/* 底部button部分 */
.world_cup_footer_container{margin-top:0.2rem;}
/*免费获取积分*/
.world_cup_footer_container .world_cup_footer_fixed{position:fixed; bottom: 0;left:0;right:0;text-align:center;color:#FFFFFF;font-size:0.3rem;background: #FFFFFF;}
.world_cup_footer_container .world_cup_footer_fixed .jifen{padding:0.19rem 0;background:#FF6B37;background-image:linear-gradient(45deg,#FF9D51 0%,#FF4B36 100%);-webkit-background-image:linear-gradient(45deg,#FF9D51 0%,#FF4B36 100%);border-radius:0.1rem;margin:0.07rem;}
.world_cup_footer_container .world_cup_footer_position{height:0.83rem;}
/*end*/
/* end */

/*用户积分tab*/
.custom_center_tab{margin-top: 0.2rem;}
.custom_center_tab .custom_center_tab_fixed{background: #4D4B60;background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);-webkit-background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);position: fixed;left: 0;bottom: 0;right: 0;height: 1.3rem;}
.custom_center_tab .custom_center_tab_fixed a{display: block;float: left;margin: 0.17rem 0 0.15rem;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo{margin:0.25rem 0.14rem 0.22rem 0.39rem;position: relative;width: 0.8rem;height: 0.8rem;border-radius: 50%;background:url("../images/my_person.png") no-repeat;background-size: 100% 100%;display: block;float: left;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .user_portrait{border-radius: 50%;width: 100%;height: 100%;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .suc_five{position: absolute;top: -0.05rem;left: -0.2rem;width: 1.04rem;height: 0.92rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral{border-right: 0.02rem solid #888888;width: 1.9rem;text-align: center;height: 0.98rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral i,.custom_center_tab .custom_center_tab_fixed .total_suc_count i{display: block;}
.custom_center_tab .custom_center_tab_fixed .total_suc_count{width: 30%;text-align: center;}
.custom_center_tab .custom_center_tab_fixed .total_integral .top,.custom_center_tab .custom_center_tab_fixed .total_suc_count .top{font-size: 0.3rem;color: #FFE674;margin-top: 0.1rem}
.custom_center_tab .custom_center_tab_fixed .total_integral .bottom,.custom_center_tab .custom_center_tab_fixed .total_suc_count .bottom{font-size: 0.24rem;color: #FFFFFF;}
.custom_center_tab_position{height: 1.2rem;}
/*end*/

/*遮罩层部分*/
.invest_tips_mask{position: fixed;left: 0;top: 0;bottom: 0;right:0;z-index:999;background: rgba(0,0,0,0.8);}
.invest_tips_mask .invest_tips{position: fixed;top: 50%;text-align: center;width: 100%;transform: translateY(-50%);-webkit-transform:translateY(-50%);}
.invest_tips_mask .invest_tips .index_remider_tips{width: 1.94rem;height: 0.64rem;margin-bottom: 0.12rem;}
.invest_tips_mask .bg_tips{width: 100%;}
.invest_tips_mask .bg_tips .text_tips_container{width:100%;background: url("../images/tips_bg_common.png") no-repeat;background-size: 100% 100%;position: relative;}
.invest_tips_mask .bg_tips .text_tips_container .tips_text{font-size: 0.28rem;color: #FFFFFF;font-style: italic;margin: 0 1.86rem;text-align: left;letter-spacing: 1px;padding:0.8rem 0 1.5rem;}
.invest_tips_mask .bg_tips .text_tips_container .tips_btn{background: url("../images/index_tips_btn.png") no-repeat;margin: 0 2rem;background-size: 100% 100%;height: 1.48rem;width: 3.5rem;line-height: 1.48rem;font-size: 0.36rem;color: #000000;position: absolute;bottom: -0.2rem;}
.invest_tips_mask .bg_tips .text_tips_container .tips_btn a{display: block;height: 100%;}
.tips_close{margin-top: 0.5rem;width: 0.9rem;height: 0.9rem;}
/*用户点击分享提示*/
.ui_mask{position: fixed; width: 100%; height: 100%; background:url("../images/shear_icon.png") no-repeat;background-size:100% 100%;top: 0; left: 0;z-index: 110;}
/*end */
/*end*/