/*我的积分明细页面样式*/
html{height: 100%;background: #282730;}
.my_integral_detail{width: 100%;height:100%;overflow: hidden;position: relative;}
ul,li{list-style: none;}
/*用户积分tab*/
.custom_center_tab .custom_center_tab_fixed{background: #4D4B60;background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);-webkit-background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);position: fixed;left: 0;top: 0;right: 0;height: 1.3rem;text-align: center;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo{margin:0.25rem 0.14rem 0.22rem 0;position: relative;width: 0.8rem;height: 0.8rem;border-radius: 50%;background:url("../images/my_person.png") no-repeat;background-size: 100% 100%;display: inline-block;vertical-align: middle;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .user_portrait{border-radius: 50%;width: 100%;height: 100%;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .suc_five{position: absolute;top: -0.05rem;left: -0.2rem;width: 1.04rem;height: 0.92rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral{margin-left: 0.12rem;margin-top: 0.38rem;display: inline-block;}
.custom_center_tab .custom_center_tab_fixed .total_integral .left{font-size: 0.24rem;color: #FFFFFF;margin-right: 0.12rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral .right{font-size: 0.36rem;color: #FFE674;}
.custom_center_tab_position{height: 1.3rem;}
/*end*/

/*我的积分明细列表*/
.my_integral_detail .integral_detail_table{width: 100%;text-align: center;}
.my_integral_detail .integral_detail_table .title{height: 1.1rem;line-height: 1.1rem;color: #FFFFFF;font-size: 0.3rem;border-bottom: 1px solid #935D3F;}
.my_integral_detail .integral_detail_table .title span{display: block;float: left;}
.my_integral_detail .integral_detail_table .common{width: 25%;}
.my_integral_detail .integral_detail_table .middle{width: 50%;}
.my_integral_detail .integral_detail_table .list{width:100%;height: 1rem;font-size: 0.3rem;color: #FFFFFF;line-height: 1rem;}
.my_integral_detail .integral_detail_table .list span{display: block;float: left;}
.my_integral_detail .integral_detail_table .list .middle{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.my_integral_detail .integral_detail_table .list .left{line-height: 0.3rem;margin-top: 0.2rem;font-size: 0.24rem;}
.my_integral_detail .integral_detail_table .list .left .date{display: block;}
.my_integral_detail .integral_detail_table .list .reduce{color: #F95D5D;width: 25%;}/*积分减少*/
.my_integral_detail .integral_detail_table .list .increase{color: #FFE674;width: 25%;}/*积分增加*/
.my_integral_detail .integral_detail_table li:nth-child(2n-1){background: #35333D;}
/*end*/

/*加载更多*/
.load_more_container{margin: 0.4rem 0 ;width: 100%;}
.load_more_container a{font-size: 0.3rem;text-decoration: none;color: #666666;}