/* 加载更多loadmore样式 */
.ui_loadmore {
  text-align: center;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #8f8f8f;
  font-size: 0.26rem;
}

.ui_loadmore a {
  color: #8f8f8f;
}

.ui_loadmore .ui_loading {
  width: 0.18rem;
  height: 0.18rem;
}
.ui_loading {
  height: 0.18rem;
  width: 0.18rem;
  position: relative;
  display: inline-block;
  vertical-align: middle
}

.ui_loading div {
  width: 12%;
  height: 26%;
  background-color: #a6a6a6;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-border-radius: 30%;
  -webkit-animation: ui_loading 1s linear infinite
}

.ui_loading div.bar1 {
  -webkit-transform: rotate(0deg) translate(0,-142%);
  -webkit-animation-delay: 0s
}

.ui_loading div.bar2 {
  -webkit-transform: rotate(30deg) translate(0,-142%);
  -webkit-animation-delay: -0.9167s
}

.ui_loading div.bar3 {
  -webkit-transform: rotate(60deg) translate(0,-142%);
  -webkit-animation-delay: -0.833s
}

.ui_loading div.bar4 {
  -webkit-transform: rotate(90deg) translate(0,-142%);
  -webkit-animation-delay: -0.75s
}

.ui_loading div.bar5 {
  -webkit-transform: rotate(120deg) translate(0,-142%);
  -webkit-animation-delay: -0.667s
}

.ui_loading div.bar6 {
  -webkit-transform: rotate(150deg) translate(0,-142%);
  -webkit-animation-delay: -0.5833s
}

.ui_loading div.bar7 {
  -webkit-transform: rotate(180deg) translate(0,-142%);
  -webkit-animation-delay: -0.5s
}

.ui_loading div.bar8 {
  -webkit-transform: rotate(210deg) translate(0,-142%);
  -webkit-animation-delay: -0.41667s
}

.ui_loading div.bar9 {
  -webkit-transform: rotate(240deg) translate(0,-142%);
  -webkit-animation-delay: -0.333s
}

.ui_loading div.bar10 {
  -webkit-transform: rotate(270deg) translate(0,-142%);
  -webkit-animation-delay: -0.25s
}

.ui_loading div.bar11 {
  -webkit-transform: rotate(300deg) translate(0,-142%);
  -webkit-animation-delay: -0.1667s
}

.ui_loading div.bar12 {
  -webkit-transform: rotate(330deg) translate(0,-142%);
  -webkit-animation-delay: -0.0833s
}

@-webkit-keyframes ui_loading {
  from {
    opacity: 1
  }

  to {
    opacity: .25
  }
}
/* ---end--- */