html{background:#ffffff;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input{border: none;outline-style: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.index_judge_login{padding: 0 0.29rem;position: relative;}
.index_judge_login .login_bg_top{width:3.21rem;margin: 0 auto;height: 5rem;display: block;}
.index_judge_login #form_id .all_input_container{width: 4.96rem;margin: 0.4rem auto 0;}
.index_judge_login #form_id input{font-size: 0.36rem;color: #CCCCCC;}
.index_judge_login #form_id .tel_container,.index_judge_login #form_id .psd_container{border-bottom: 1px solid #A0A0A0;width: 100%;}
.index_judge_login #form_id .tel_container .tel_img,.index_judge_login #form_id .psd_container .psd_img,.index_judge_login #form_id .verify_container .code_img .psd_img{width: 0.21rem;height: 0.32rem;display: block;float: left;margin-right: 0.15rem;margin-top: 0.26rem;}
.index_judge_login #form_id .tel_container .tel,.index_judge_login #form_id .psd_container .password,.index_judge_login #form_id .verify_container .code_img .verify_code{display: block;float: left;padding: 0.15rem 0;width: 92%;}
.index_judge_login #form_id .tips{padding: 0.11rem 0 0.14rem 0.35rem;color: #FF934E;font-size: 0.18rem;}
.index_judge_login #form_id .is_show_tips{margin-bottom: 0.25rem;}
.index_judge_login #form_id .verify_container .code_img{width: 2.36rem;border-bottom: 1px solid #A0A0A0;float: left;margin-right: 0.18rem;}
.index_judge_login #form_id .verify_container .code_img .verify_code{width: 84%;}
.index_judge_login #form_id .verify_container .verify_img{width: 2.1rem; height: 0.74rem;}
.index_judge_login #form_id .login_btn_container{padding:0.41rem 0.3rem 0.36rem;height:0.99rem;line-height: 0.99rem;position: relative;}
.index_judge_login #form_id .login_btn_container .bottom_line{display: block;width: 100%;height: 1px;background: #E7E7E7;position: absolute;top: 50%;left: 0;}
.index_judge_login #form_id .login_btn_container .login_btn{width: 100%;height:0.99rem;display: block;background: url("../images/login_btn.png") no-repeat;background-size: 100% 100%;position: absolute;left: 0;}
.index_judge_login .regist_container{text-align: center;margin-bottom: 0.2rem;}
.index_judge_login .regist_container .regist_fast{color: #FF934E;font-size: 0.28rem;display: block;height: 100%;}
.index_judge_login .bottom_img{display: block;position: fixed;bottom: 0;left: 0;right: 0;width: 100%;height: 2.55rem;}
/*end */

/*errorTips*/
.errorTip{font-size: 0.28rem;color: #f00;text-align: center;height: 0.36rem;line-height: 0.36rem;margin-top: 0.36rem;}
/*end*/