body{height: 100%;background: #282730;}
.team_detail_container{width: 100%;overflow: hidden;}
.team_detail_container a{text-decoration: none;color: #333333;-webkit-tap-highlight-color:rgba(255,0,0,0);}
select{outline:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
/*用户积分tab*/
.custom_center_tab .custom_center_tab_fixed{background: #4D4B60;background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);-webkit-background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);position: fixed;left: 0;top: 0;right: 0;}
.custom_center_tab .custom_center_tab_fixed a{display: block;float: left;margin: 0.17rem 0 0.15rem;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo{position: relative;width: 0.8rem;height: 0.8rem;border-radius: 50%;background:url("../images/my_person.png") no-repeat;background-size: 100% 100%;display: block;float: left;margin:0.25rem 0.14rem 0.22rem 0.39rem;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .user_portrait{border-radius: 50%;width: 100%;height: 100%;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .suc_five{position: absolute;top: -0.05rem;left: -0.2rem;width: 1.04rem;height: 0.92rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral{border-right: 0.02rem solid #888888;width: 1.9rem;text-align: center;height: 0.98rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral i,.custom_center_tab .custom_center_tab_fixed .total_suc_count i{display: block;}
.custom_center_tab .custom_center_tab_fixed .total_suc_count{width: 30%;text-align: center;}
.custom_center_tab .custom_center_tab_fixed .total_integral .top,.custom_center_tab .custom_center_tab_fixed .total_suc_count .top{font-size: 0.3rem;color: #FFE674;margin-top: 0.1rem}
.custom_center_tab .custom_center_tab_fixed .total_integral .bottom,.custom_center_tab .custom_center_tab_fixed .total_suc_count .bottom{font-size: 0.24rem;color: #FFFFFF;}
.custom_center_tab_position{height:1.2rem;}
/*end*/

.team_detail_container .team_detail{padding: 0 0.3rem;}
.team_detail_container .team_detail .team_detail_top{background: #FFFFFF;text-align: center;}
.team_detail_container .team_detail .team_detail_top .top_list li{float: left;width: 33.33%;text-align: center;}
.team_detail_container .team_detail .team_detail_top .top_list .national_flag img{width: 1.46rem;height:0.84rem;margin-bottom: 0.1rem;}
.team_detail_container .team_detail .team_detail_top .top_list .national_flag .national_name{font-size: 0.28rem;color: #333333;}
.team_detail_container .team_detail .team_detail_top .top_list .middle{font-size: 0.24rem;color: #B47E35;}
.team_detail_container .team_detail .team_detail_top .top_list .middle .middle_tag{font-size: 0.28rem;font-family: 'FZLTTHK--GBK1-0';font-weight: 700;}
.team_detail_container .team_detail .team_detail_top .top_list .middle .middle_game{color: #999999;}
.team_detail_container .team_detail .team_detail_top .team_detail_ball{width: 100%;margin-top: -0.3rem;margin-bottom: 0.1rem;}

.team_detail_container .team_detail .team_detail_rectangle{width: 100%;height: 0.15rem;display: block;}

.team_detail_container .team_detail .team_detail_content{background: #EEEEEE;text-align: center;}
/*比赛简介*/
.team_detail_container .team_detail .team_detail_content .competition_introduction{text-align: left;padding: 0.28rem 0.28rem 0 ;}
.team_detail_container .team_detail .team_detail_content .competition_introduction .title{background: #333333;color: #FFFFFF;font-size: 0.28rem;width: 1.46rem;height: 0.52rem;line-height: 0.52rem;text-align: center;border-radius: 0.05rem;}
.team_detail_container .team_detail .team_detail_content .competition_introduction .content{padding: 0.24rem 0.3rem 0.34rem;border-bottom: 1px solid #E4E4E4;font-size: 0.24rem;color: #333333;}
/*end*/
.team_detail_container .team_detail .team_detail_content .rules_description{display: inline-block;background: #F7B637;font-size: 0.28rem;background-image: linear-gradient(90deg,#F5C557 0%, #F6AC30 100%);-webkit-background-image: linear-gradient(90deg,#F5C557 0%, #F6AC30 100%);border-radius: 1rem;width: 2rem;height: 0.62rem;line-height: 0.62rem;margin-top: 0.5rem;}
.team_detail_container .team_detail .team_detail_content .rules_description a{display: block;height: 100%;}
.team_detail_container .team_detail .team_detail_content .rules_text{font-size: 0.18rem;color: #F6AF33;margin-top: 0.17rem;padding-bottom: 0.5rem;}
/*底部固定部分：胜平负*/
.group_match_fixed{width: 100%;}
.group_match_position{height: 1.3rem;}
.group_match_fixed .group_match_tab{height: 1.3rem;line-height: 1.3rem;position: fixed;bottom: 0;left: 0;right: 0;background: url("../images/group_match_tab_bg.png") no-repeat;background-size: 100% 100%;}
.group_match_fixed .group_match_tab li{float: left;text-align: center;font-size: 0.3rem;color: #FFFFFF;}
.group_match_fixed .group_match_tab .left,.group_match_fixed .group_match_tab .right{width: 38%;}
.group_match_fixed .group_match_tab .middle{width: 24%;background: url('../images/end_in_draw.png') no-repeat;background-size: 100% 100%;}

/*已竞猜*/
.group_match_fixed .group_matched{height: 1.3rem;line-height: 1.3rem;position: fixed;bottom: 0;left: 0;right: 0;background: url('../images/end_in_draw.png') no-repeat;background-size: 100% 100%;}
.group_match_fixed .group_matched li{float:left;text-align: center;font-size: 0.3rem;color: #FFFFFF;width: 33.33%;}
.group_match_fixed .group_matched .left{background: url("../images/group_match_tab_bg.png") no-repeat;background-size:100% 100%;}
.group_match_fixed .group_matched .right i{display: inline-block;width: 100%;height: 0.54rem;font-size: 0.36rem;background: #B25E2F;line-height: 0.54rem;}
/*end*/
/*胜负*/
.group_match_fixed .win_lose li.left,.group_match_fixed .win_lose li.right{width: 50%;height: 100%;}
.group_match_fixed .win_lose .right{background: url("../images/only_win_lose.png") no-repeat;background-size: 100% 100%;}
/*end*/
/*遮罩层部分*/
/*积分不足*/
.invest_tips_mask{position: fixed;left: 0;top: 0;bottom: 0;right:0;z-index:999;background: rgba(0,0,0,0.8);}
.invest_tips_mask .invest_tips{position: fixed;top: 50%;text-align: center;width: 100%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.invest_tips_mask .invest_tips .index_remider_tips{width: 1.94rem;height: 0.64rem;margin-bottom: 0.12rem;}
.invest_tips_mask .invest_tips .bg_tips{width: 100%;}
.invest_tips_mask .bg_tips .text_tips_container{width:100%;background: url("../images/tips_bg_common.png") no-repeat;background-size: 100% 100%;position: relative;}
.invest_tips_mask .bg_tips .text_tips_container .tips_text{font-size: 0.28rem;color: #FFFFFF;font-style: italic;margin: 0 1.86rem;text-align: left;letter-spacing: 1px;padding:0.8rem 0 1.5rem;}
.invest_tips_mask .bg_tips .text_tips_container .tips_btn{background: url("../images/index_tips_btn.png") no-repeat;margin: 0 2rem;background-size: 100% 100%;position: absolute;bottom: -0.2rem;height: 1.48rem;width: 3.5rem;line-height: 1.48rem;font-size: 0.36rem;color: #000000;}
.invest_tips_mask .bg_tips .text_tips_container .tips_btn a{display: block;height: 100%;}
.tips_close{margin: 0.45rem auto 0;width: 0.9rem;height: 0.9rem;display: block;}
/*end*/
.invest_tips_mask .guessing_competition{position: fixed;top: 50%;text-align: center;width: 100%;transform: translateY(-50%);-webkit-transform:translateY(-50%);}

.invest_tips_mask .guessing_competition .middle_bg{background: url("../images/team_detail_bg2.png") no-repeat;background-size: 100% 100%;margin: 0 0.3rem;}
.invest_tips_mask .guessing_competition .middle_bg .middle_title{padding-top: 0.36rem;font-size: 0.36rem;color: #B47E35;font-weight: 700;}
.invest_tips_mask .guessing_competition .middle_bg .guess_success img{width: 1.04rem;height: 0.14rem;}
.invest_tips_mask .guessing_competition .middle_bg .middle_input{margin-top: 0.24rem;position: relative;display: inline-block;border: 1px solid #FF934E;}
.invest_tips_mask .guessing_competition .middle_bg .middle_input input{width:4.72rem;height:0.8rem;color: #FFFFFF;font-size: 0.3rem;border:none;border-radius: 0.05rem;display: block;outline-style: none;text-align: center;}
.invest_tips_mask .guessing_competition .middle_bg .middle_input .placeholder_text{position: absolute;left: 0;top:0.18rem;font-size: 0.3rem;color: #999999;font-style: italic;letter-spacing: 1px;display: block;width: 4.72rem;}
.invest_tips_mask .guessing_competition .middle_bg .guess_success_text{font-size: 0.3rem;color: #333333;margin-top: 0.2rem;margin-bottom: 0.3rem;padding: 0 0.53rem;}
.invest_tips_mask .guessing_competition .middle_bg .middle_minimum{font-size: 0.24rem;color: #FF934E;margin-top: 0.13rem;margin-bottom: 0.1rem;letter-spacing: 1px;}
.invest_tips_mask .guessing_competition .middle_bg .middle_ok{display: inline-block;background: url("../images/team_detail_bg3.png") no-repeat;background-size: 100% 100%;width:1.25rem ;height:1.25rem; line-height: 1.25rem;font-size: 0.3rem;color: #FFFFFF;margin-bottom: 0.14rem;letter-spacing: 2px;}
.invest_tips_mask .guessing_competition .middle_bg .middle_ok_success{display: inline-block;background: url("../images/team_detail_bg4.png") no-repeat;background-size: 100% 100%;width:1.25rem ;height:1.25rem; line-height: 1.25rem;font-size: 0.3rem;color: #FFFFFF;margin-bottom: 0.4rem;letter-spacing: 2px;}
.invest_tips_mask .guessing_competition .guessing_tips_close{width: 0.9rem;height: 0.9rem;margin: 0.45rem 3rem 0;}
/*竞猜文案提示*/
.invest_tips_mask .guessing_competition .guess_confirm_text{font-size: 0.24rem;color: #666666;margin-top: 0.29rem;}
/*end*/
/*end*/

/*八强争锋页面样式*/
.team_detail_container .team_detail .hot_events{width: 100%;text-align: center;height: 0.49rem;padding-top: 0.3rem;font-size: 0.24rem;}
.team_detail_container .team_detail .hot_events .hot_events_img{width: 2.05rem;height: 0.2rem;background: url("../images/hot_events.png") no-repeat;background-size: 100% 100%;margin: 0 auto;line-height: 0.2rem;color: #666666;}
.team_detail_container .team_detail .eight_team_top .top_list .national_flag img{width: 1.16rem;height:0.68rem;margin-bottom: 0.3rem;}
.team_detail_container .team_detail .eight_team_top .top_list .national_flag img:last-child{margin-bottom: 0;}
.team_detail_container .team_detail .eight_team_top .top_list .middle img{width: 100%;height: 3.18rem;}

/*八选三tips*/
.invest_tips_mask .guessing_competition .eight_team_middle_bg {background: url("../images/eight_team_detail_bg.png") no-repeat;background-size: 100% 100%;}
.invest_tips_mask .guessing_competition .eight_team_middle_bg .champion_input{margin-top: 0.17rem;}
.invest_tips_mask .guessing_competition .eight_team_middle_bg .champion_input .each_select{margin-top: 0.21rem;text-align: center; text-align-last: center;}
.invest_tips_mask .guessing_competition .eight_team_middle_bg .champion_input select{width: 4.72rem;height: 0.47rem;color: #535353;font-size: 0.24rem;border-color: #535353;}

/*底部固定部分*/
.eight_team_tab_fixed .group_match_tab{background: url("../images/eight_team_btn1.png") no-repeat;background-size: 100% 100%;width: 100%;height: 1.3rem;line-height: 1.3rem;}
.eight_team_tab_fixed .group_match_tab .group_match_tab_btn{background: url("../images/eight_team_btn2.png") no-repeat;background-size:100% 100%;margin: 0 0.41rem;text-align: center;font-size: 0.48rem;color: #FFFFFF;font-weight: 700;}

.eight_team_tab_fixed .group_matched {background: url("../images/eight_team_btn1.png") no-repeat;background-size: 100% 100%;}
.eight_team_tab_fixed .group_matched li{width: 50%;}
.eight_team_tab_fixed .group_matched .left{background: none;}
.eight_team_tab_fixed .group_matched .left .champin_img{width: 33.33%;text-align: center;float: left;height: 100%;line-height: 100%;font-size: 0.24rem;padding-top: 0.34rem;}

.eight_team_tab_fixed .group_matched .left .champin_img .champin_national{width: 0.51rem;height: 0.3rem;display: inline-block;border-radius: 0.1rem;}
.eight_team_tab_fixed .group_matched .left .champin_img .champin_national img{width: 100%;height: 100%;}
.eight_team_tab_fixed .group_matched .left .champin_img .champin_text{margin-top: 0.1rem}

.eight_team_tab_fixed .group_matched .right{background: url("../images/eight_team_guess.png") no-repeat;background-size: 100% 100%;height: 100%;}
.eight_team_tab_fixed .group_matched .right p{float: left;}
.eight_team_tab_fixed .group_matched .right .guess_text{width: 60%;font-size: 0.3rem;}
.eight_team_tab_fixed .group_matched .right .guess_jifen{width: 40%;font-size: 0.36rem;}
/*end*/

/*end*/
/*end*/


/*竞猜已结束*/
.group_match_fixed .guess_match_over{height: 1.3rem;line-height: 1.3rem;position: fixed;bottom: 0;left: 0;right: 0;background: url("../images/guess_match_over.png") no-repeat;background-size: 100% 100%;}
.group_match_fixed .guess_match_over_btn{background: url("../images/guess_match_over_btn.png") no-repeat;background-size:100% 100%;margin: 0 0.41rem;text-align: center;font-size: 0.48rem;color: #FFFFFF;font-weight: 700;letter-spacing: 2px;}
/*end*/