/*我的竞猜记录页面样式*/
html{height: 100%;background: #282730;}
.my_total_integral{width: 100%;height:100%;overflow: hidden;position: relative;}
.my_total_integral a{text-decoration: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
ul,li{list-style: none;}
/*竞猜记录列表*/
.my_total_integral .total_integral_table{width: 100%;text-align: center;}
.my_total_integral .total_integral_table .title{height: 1.1rem;line-height: 1.1rem;color: #FFFFFF;font-size: 0.3rem;border-bottom: 1px solid #935D3F;}
.my_total_integral .total_integral_table .title span{display: block;float: left;}
.my_total_integral .total_integral_table .title .common{width: 25%;}
.my_total_integral .total_integral_table .title .middle{width: 50%;}
.my_total_integral .total_integral_table .list{height: 1rem;color: #FFFFFF;width: 100%;font-size: 0.3rem;line-height: 1rem;}
.my_total_integral .total_integral_table .list span{display: block;float: left;}
.my_total_integral .total_integral_table .list .ranking{width: 25%;}/*默认值31-100*/
.my_total_integral .total_integral_table .list .number10{color: #F95D5D;}/*排名1-10*/
.my_total_integral .total_integral_table .list .number30{color: #FF934E;}/*排名11-30*/
.my_total_integral .total_integral_table .list .user{width: 50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.my_total_integral .total_integral_table .list .integral_value{color: #FFE674;width: 25%;}
.my_total_integral .total_integral_table li:nth-child(2n-1){background: #35333D;}
.my_total_integral .total_integral_table .current_user{background: #6664A2!important;}/*当前用户排名显示*/
/*end*/

/*加载更多*/
.load_more_container{position: absolute;bottom: 1.7rem;width: 100%;}
.load_more_container a{font-size: 0.3rem;text-decoration: none;color: #666666;}

/*用户积分tab*/
.custom_center_tab{margin-top: 1.3rem;}
.custom_center_tab .custom_center_tab_fixed{background: #4D4B60;background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);-webkit-background-image: linear-gradient(90deg,#676673 0%,#4D4B60 100%);position: fixed;left: 0;bottom: 0;right: 0;}
.custom_center_tab .custom_center_tab_fixed a{display: block;float: left;margin: 0.17rem 0 0.15rem;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo{margin:0.25rem 0.14rem 0.22rem 0.39rem;position: relative;width: 0.8rem;height: 0.8rem;border-radius: 50%;background:url("../images/my_person.png") no-repeat;background-size: 100% 100%;display: block;float: left;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .user_portrait{border-radius: 50%;width: 100%;height: 100%;}
.custom_center_tab .custom_center_tab_fixed .index_custom_logo .suc_five{position: absolute;top: -0.05rem;left: -0.2rem;width: 1.04rem;height: 0.92rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral{border-right: 0.02rem solid #888888;width: 1.9rem;text-align: center;height: 0.98rem;display: block;float: left;margin:0.13rem 0 0.22rem;}
.custom_center_tab .custom_center_tab_fixed .total_integral i,.custom_center_tab .custom_center_tab_fixed .total_suc_count i{display: block;}
.custom_center_tab .custom_center_tab_fixed .total_suc_count{width: 30%;text-align: center;}
.custom_center_tab .custom_center_tab_fixed .total_integral .top,.custom_center_tab .custom_center_tab_fixed .total_suc_count .top{font-size: 0.3rem;color: #FFE674;margin-top: 0.1rem}
.custom_center_tab .custom_center_tab_fixed .total_integral .bottom,.custom_center_tab .custom_center_tab_fixed .total_suc_count .bottom{font-size: 0.24rem;color: #FFFFFF;}
.custom_center_tab_position{height: 1.2rem;}
/*end*/