.p_onlinereg_login {background: url(../../../images/activity/onlinereg/login_bg@2x.png);padding:238px 18px 0;background-size:cover;}
.p_onlinereg_login .form_box .tel_container,.p_onlinereg_login .form_box .psd_container,.p_onlinereg_login .form_box .verify_container{font-size:15px;color: #BFBFBF;width: 100%;height:50px;line-height:50px;border-radius: 5px;background:#FFF;display:-webkit-box;}
.p_onlinereg_login .form_box .tel_container .tel_img,.p_onlinereg_login .form_box .psd_container .psd_img,.p_onlinereg_login .form_box .verify_container .code_img{display: block;margin-right:21px;margin-left:21px;}
.p_onlinereg_login .form_box .tel_container .tel_img{width: 18px;height:18px;margin-top:16px;}
.p_onlinereg_login .form_box .psd_container .psd_img{width: 16px;height:20px;margin-top:15px;}
.p_onlinereg_login .form_box .verify_container .code_img{width: 20px;height:16px;margin-top:17px;}
.p_onlinereg_login .form_box .tel_container input,.p_onlinereg_login .form_box .psd_container input,.p_onlinereg_login .form_box .verify_container input{-webkit-box-flex:1;display: block;padding:12px 0;height: 26px;line-height: 26px;border-radius: 5px;}
.p_onlinereg_login .form_box .tips{padding: 10px 0 10px 35px;color: #fff;font-size: 12px;}
.p_onlinereg_login .form_box .is_hide_tips{margin-bottom: 10px;}
.p_onlinereg_login .form_box .verify_container .verify_img_wrap{width: 86px; height: 36px;margin-top:7px;margin-right:9px;}
.p_onlinereg_login .form_box .verify_container .verify_img_wrap .verify_img{width: 100%; height:100%;display: block;}
.p_onlinereg_login .form_box .login_btn{width: 100%;height:40px;line-height: 40px;text-align: center;color:#FFF;background: #FD4959;border-radius: 20px;font-size:17px;}
.p_onlinereg_login .regist_container{text-align: center;margin-top: 10px; }
.p_onlinereg_login .regist_container .regist_fast{color: #FFF;font-size: 17px;display: block;width: 100%;height:40px;line-height: 40px;background:rgba(255, 255, 255, 0.2); border-radius: 20px; border: 1px solid rgba(255, 255, 255, 0.6);}
/*end */

/*errorTips*/
.p_onlinereg_login  .errorTip{font-size: 14px;color: #FFF;text-align: center;height: 36px;line-height: 36px;}
/*end*/