@charset "utf-8";
html {
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 140%;
  background-color: #EFEFF4;
  color:#030303;
}

html,
body {
  -webkit-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000
}

i,
em {
  font-style: normal;
}

input,
textarea {
  opacity: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color;
  outline: none;
  border: none;
  border-radius: 0;
  resize: none;
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#D3D3D3;
}
button {
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
}
.tl{
  text-align: left;
}
.tc{
  text-align: center;
}
.mt25 {
  margin-top: 25px;
}
.mt10{
  margin-top:10px;
}