/*! First P2P, CSS, minified
    author : mabaoyue  
    Date: 2014-06-30 */

@charset "utf-8";
.btn_blue_h22{width:73px;height:22px;line-height: 22px;text-align: center;color:#FFF;background: #6590ff;border-radius: 20px;font-size:13px;    display: inline-block;}
.btn_red_h40{width: 100%;height:40px;line-height: 40px;text-align: center;color:#FFF;background: #FD4959;border-radius: 20px;font-size:17px;    display: inline-block;}

/*弹窗*/
.ui_popup { z-index: 999; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.ui_popup .popup_bg { opacity: 0.7; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px;  }
.ui_popup .popup_box { position: fixed; top: 50%; left: 50%; margin-top: -146px; margin-left: -158px; background-color: #fff; width: 317px; height:293px; border-radius: 5px; }
.ui_popup .popup_head { margin: 0 15px; height: 55px; line-height: 55px; text-align: center; font-size: 18px; color: #000; border-bottom: 1px #d9d9d9 solid; }
.ui_popup .popup_content { padding: 15px; font-size: 15px; }
.ui_popup .popup_btn { padding: 0 0 20px 0; overflow: hidden;text-align:center; }
.ui_popup .popup_btn .btn_cancel { background-color: #FD4959; color: #fff; margin-right: 15px; }
.ui_popup .popup_btn .btn_ok { background-color: #FFF;color: #FD4959;  }
.ui_popup .popup_btn a {display:inline-block; text-align: center; width: 104px; height: 39px; line-height: 39px; font-size: 15px;border-radius: 20px; border: none; outline: none; }
.ui_popup .color_gray { color: #909090 }