.p_onlineorg {
  background: url(../../../images/activity/onlinereg/regi_bg@3x.jpg) no-repeat #f8d34e;
  padding: 217px 18px 27px;
  background-size: 100% auto;
}

.p_onlineorg .activity_detail {
  padding: 18px;
  border-radius: 5px;
  background: #FFF;
  font-size: 12px;
  color: #7495D2;
  line-height: 150%;
}

.p_onlineorg .activity_detail p {
  line-height: 150%;
}

.p_onlineorg .user_info {
  padding: 8px 20px 15px;
  border-radius: 5px;
  background: #FFF;
  color: #030303;
  font-size: 15px;
  margin-top: 10px;
}

.p_onlineorg .user_info .tit {
  color: #6590FF;
  font-size: 13px;
  text-align: center;
  margin-bottom: 2px;
}

.p_onlineorg .user_info ul.cont li {
  display: -webkit-box;
  margin-bottom: 10px;
}

.p_onlineorg .user_info ul.cont li .left {
  width: 86px;
}

.p_onlineorg .user_info ul.cont li .right {
  -webkit-box-flex: 1;
  font-size: 15px;
  position: relative;
  text-align: right;
}

.p_onlineorg .user_info ul.cont li .left {
  height: 32px;
  line-height: 32px;
}

.p_onlineorg .user_info ul.cont li .right .qxz {
  text-align: right;
  color: #D3D3D3;
}

.p_onlineorg .user_info ul.cont li .right i.arr {
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  display: inline-block;
}

.p_onlineorg .user_info ul.cont li:last-child {
  margin-bottom: 0;
}

.p_onlineorg .user_info ul.cont li .right .qxz {
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  line-height: 32px;
  width: 68px;
  z-index: 1;
  font-size: 12px;
}
.p_onlineorg .user_info ul.cont li .right .ipt, .p_onlineorg .user_info ul.cont li .right .name {
  height: 32px;
  line-height: 32px;
  width: 100%;
}

.p_onlineorg .user_info ul.cont li .right .name,
.p_onlineorg .user_info ul.cont li .right .ipt {
  padding-right: 11px;
}

.p_onlineorg .user_info ul.cont li .right .ipt {
  text-align: right;
  font-size: 15px;
}

.p_onlineorg .user_info ul.cont li .right input::placeholder {
  font-size: 12px;
}

.p_onlineorg .user_info ul.cont li .right .svalue-add {
  width: auto;
  padding:9px 10px 0 10px;
}

.p_onlineorg .user_info ul.cont li .right .error_tips {
  color: #FF1629;
  font-size: 11px;
  visibility: hidden;
}

.p_onlineorg .add_btn {
  padding: 10px 0 6px;
  text-align: center;
  border-radius: 5px;
  background: #FFF;
  margin-top: 10px;
}

.p_onlineorg .add_btn p {
  padding-top: 6px;
  color: #EE4634
}

.ui_pop_regi .popup_content {
  padding: 95px 30px 0;
  color: #FFF;
  height: 159px;
  line-height: 150%;
}

.ui_pop_regi .popup_box {
  background: url(../../../images/activity/onlinereg/pop_bg@3x.png);
  background-size: 100% auto;
}

.ui_popup.ui_pop_share {
  z-index: 9999;
}

.ui_popup.ui_pop_share .popup_box {
  position: fixed;
  top: 155px;
  left: 60%;
  margin-left: -120px;
  background: url(../../../images/activity/onlinereg/share.png);
  width: 241px;
  height: 169px;
  background-size: 100% auto;
}

.p_onlineorg .shear_btn {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 9998;
}

.p_onlineorg .shear_btn .shear_btn_img {
  width: 100%;
  height: 100%;
}

/* 亲友类型 */

.p_onlineorg .user_info ul.cont li select {
  border: none;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  background: url(../../../images/activity/onlinereg/arrow.png) no-repeat right center;
  background-size: 6px 9px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  outline: none;
  direction: rtl;
  padding-right: 12px;
  color: #D3D3D3;
  font-size: 12px;
}

option {
  direction: rtl;
  color: #030303;
  font-size: 15px;
}