<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>网信 APP下载</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=yes">
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE8">
<link rel="shortcut icon" href="img/favicon.ico"/>
<!--public js&css start-->
<link rel="stylesheet" type="text/css" href="/static/css/download.css" />
</head>

<body class="bg_black">
<div class="wrap" >
<div class="tiaozhuan"><img src="/static/images/download/xiazai.png"></div>
</div>
</body>
<!--[if IE 6]>
<script src="static/js/DD_belatedPNG_0.0.8a.js"></script>
<![endif]-->
</html>
