<!--private js&css start-->
<link href="<?php echo $this->asset->makeUrl('v2/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
<script src="<?php echo $this->asset->makeUrl('v2/js/widget/select/select.v1.1.js');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/user_web2.css');?>" />
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/charge/index.js');?>"></script>

<!--private js&css end-->

<div class="user_right">
    <div class="user_right_box" id="chargeSelect">
        <div class="user_title"><h1><i class="ico_chongzhi"></i>{$agreement.title}</h1></div>

        <p> {$agreement.content}</p>
    </div>
</div>
