<link href="<?php echo $this->asset->makeUrl('v2/css/account_borrow.css');?>" type="text/css" rel="stylesheet">
<div class="ui_user_right">
    <div class="p_account_borrow">
        <div class="box" id="suc_hidden">
            <div class="ui_title"><i class="icon"></i>申请借款</div>
            <div class="borrow_form">
                <div class="borrow_con tc">
                    <div class="ui_suc_title"><i class="ui_suc_icon mr10"></i>操作成功{if $type eq 1},平台将在5个工作日内完成审批，并通过电话与您确认审批结果，请保持手机畅通。{/if}</div>
                    <p class="gray tc">系统将在 <span class="color_red">3</span> 秒内自动跳转，如果没有跳转，请点击<a href="/" class="blue">这里</a>返回首页。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function timedMsg()
{
    window.location.href='/';
}
setTimeout('timedMsg()',3000);
</script>