<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/p_account_contract.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/js/widget/ui/jquery-ui-1.10.3.custom.min.css');?>">
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/pact/pact.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/widget/ui/jquery-ui-1.10.3.custom.js');?>"></script>
<div class="user_right p_account_contract">
    <div class="user_right_box">
        <div class="user_title">
            <h1 class="fl">
                <i class="ico_huankuan"></i>合同列表
            </h1>
            <div class="ui_fg_line"></div>
            <ul class="ui_huank_nav fl">
                <li class="select"><a href="/account/contract">专享及尊享标的合同总览</a></li>
                <li><a href="/account/contractph">网贷标的合同总览</a></li>
                <li><a href="/account/ProjectContract">转让合同总览</a></li>
            </ul>
        </div>
        <div class="pact-list">
    		<form id="search" action='{url x="index" r="account/contract"}' method="get">
    			<div class="screening clearfix">
    				<div class="ui_select_box select_box JS_select_box" data-name="role">
    					<div class="j_select"></div>
    					<ul class="select_ul none j_selectContent">
    						<li data-value="2" {if $role eq 2}data-select="1"{/if}>出借方/受让方</li>
    						{if $is_borrow eq true}
    						<li data-value="1" {if $role eq 1}data-select="1"{/if}>借款方/转让方</li>
    						{/if}
    						{if $is_agency eq true}
    						<li data-value="3" {if $role eq 3}data-select="1"{/if}>担保方</li>
    						{/if}
    						{if $is_advisory eq true}
    						<li data-value="4" {if $role eq 4}data-select="1"{/if}>资产管理方</li>
    						{/if}
							{if $is_entrust eq true}
							<li data-value="5" {if $role eq 5}data-select="1"{/if}>受托方</li>
							{/if}
							{if $is_canal eq true}
							<li data-value="6" {if $role eq 6}data-select="1"{/if}>渠道方</li>
							{/if}
    					</ul>
    				</div>
    				<input type="submit" value="筛选" class="button_shaixian">
    			</div>
    		</form>
            {if empty($list)}
            <div class="empty-box">没有记录!</div>
            {else}
	            {foreach from=$list item='deal'}
	            <div class="pact-main">
	                <div class="pact-m-left">
	                    <div class="pact-ml-top">
	                        <p><span title='{$deal.old_name}' class="f16">{$deal.name}</span>
	                        </p>
	                        <p>
                                {if $deal.type_id != $zxDealTypeId}
	                            <em class="no-marleft">{if $deal.isBxt eq 0 }{if $deal.deal_type eq 0 }借款{else}融资{/if}人{else}受托人{/if}：</em><span class="w190" title="{$deal.user_real_name}">{$deal.user_real_name}</span>
                                <span><em>总额：</em>{$deal.borrow_amount_format_detail}万</span>
                                {else}
                                <span><em class="no_margin_left">总额：</em>{$deal.borrow_amount_format_detail}万</span>
                                {/if}
	                        </p>
	                    </div>
	                    <div class="pact-ml-center">利率为{if $deal.isBxt eq 0 }{$deal.income_base_rate}%{else}{if $deal.income_fee_rate_format neq $deal.max_rate }{$deal.income_base_rate}%~{$deal.max_rate}%{else}{$deal.income_base_rate}%{/if}{/if}，期限为{if $deal.loantype eq 5}{$deal.repay_time}天{else}{$deal.repay_time}个月{/if}，还款方式为{$deal.loantype_name}</div>
	                </div>
	                <div class="pact-m-right">
	                    <div class="pact-mr-top">
	                        {if $deal.is_have_sign eq 1}
	                        <a href="javascript:void(0)" class="btn-base pact-btn but-disabled">已签署</a>
                            {elseif $deal.is_have_sign eq 2}
	                        <a href="javascript:void(0)" class="btn-base pact-btn but-disabled">签署中</a>
	                        {else}
	                        <a href="javascript:void(0)" data-pos="{$deal.id}" data-role="{$role}" class="btn-base but-yellow pact-btn j-click-qianshu">一键签署</a>
	                        {/if}
	                    </div>
	                    <div class="pact-mr-link">
	                        <a href="/account/contlist/{$deal.id}?role={$role}" class="blue">查看合同</a>
	                    </div>
	                </div>
	            </div>
	            {/foreach}
            {/if}
        </div>
        <div class="pages w715">
            <!-- <i>共23231个投资项目，22页</i>  -->
            {$pages}
        </div>
    </div>
</div>
<div id="pact-dialog" style="display: none"></div>

<script>
	//还款计划分页js
	$(".j_table_tab").goodTab();

	function clickopen(id,number,deal_id){
		var url = '{url x="index" r="account/contshow"}?tag=shownew&ajax=1&id='+id+'&number='+number+'&dealId='+deal_id;
		$.weeboxs.open(url, {boxid:null,contentType:'iframe',showButton:true, showCancel:false, showOk:false,title:'合同详情',width:750,height:550,type:'wee',onclose:function(){null}});
	}
	$(".j_shuhui").click(function(){
		var id = $(this).attr('data-id');
		if(!id){
			return false;
		}
		var url = '/account/loadshow?id='+id;
		$.getJSON(url,function(data){
			if(!data.status){
				alert(data.info);
				return false;
			}
			$("#_js_name").html(data.info.name);
			$("#_js_money").html(data.info.money);
			$("#_js_sum").html(data.info.sum);
			$("#_js_title").html(data.info.title);
			if(data.info.is_holiday){
				$("#_js_is_holiday").html(data.info.is_holiday);
			}else{
				$("#_js_is_holiday").hide();
			}
			$.weeboxs.open('.redemption', {contentType:'selector',boxclass:"shuhui_box",onok:function(){redeem(id,this);},showButton:true,okBtnName: '确认赎回', showCancel:true, showOk:true,title:'赎回详情',height:220,width:450,type:'wee',onclose:function(){null}});
		});

		function redeem(id,thiz){
			var url = '/account/redeem';
			$(thiz).addClass('but-disabled').attr("disabled","disabled").css({"cursor":"default"});
			$.post(url,{id:id},function(rs){
				if(rs.status == 0){
					alert('正在放款中，请稍后重试！');
					$(thiz).removeClass('but-disabled').removeAttr("disabled","disabled").css({"cursor":"pointer"});
				}else{
					window.location.href = '/account/success/?id='+id+'&gS='+rs.jump.gS+'&action='+rs.jump.action;
				}
			});
		}
	});

	$(".JS_select_box").select();
	$("#dateInput1").datepicker({
		onClose: function(selectedDate) {
			$("#dateInput2").datepicker("option", "minDate", selectedDate);
		}
	});
	$("#dateInput2").datepicker({
		onClose: function(selectedDate) {
			$("#dateInput1").datepicker("option", "maxDate", selectedDate);
		}
	});
	$(function() {
		$('.j_por_Show').click(function() {
			var nIndex = $('.j_por_Show').index(this);
			$(this).hide();
			$('.j_por_Hide').eq(nIndex).show();
			$('.pro_detailed').eq(nIndex).slideDown();
		});
		$('.j_por_Hide').click(function() {
			var cIndex = $('.j_por_Hide').index(this);
			$(this).hide();
			$('.j_por_Show').eq(cIndex).show();
			$('.pro_detailed').eq(cIndex).slideUp();
		});
	})
	//合同时间戳
	$(".JS_contract_down").click(function() {
		var _contractId = $(this).attr('contractId');
		$.weeboxs.open("该合同未盖时间戳，请确认是否下载该合同？", {
			boxid : null,
			contentType : 'text',
			showButton : true,
			showCancel : true,
			showOk : true,
			title : '提示',
			width : 300,
			type : 'wee',
			onclose : function() {
				null
			},
			onok : function() {
				location.href="{url x="index" r="account/contshow"}?id="+_contractId+"&tag=download&ajax=0";
				$.weeboxs.close();
			}
		});
	});
</script>

