{include file="web/views/v3/header.html"}
<span class="blank23"></span>
<div class="register_success">
    <div class="s_title">
        <i></i>
        <span>注册成功！</span>
    </div>
    <div class="s_text">恭喜您获得3张投资券，完成身份验证和绑卡，即可投资使用。</div>
    <div class="s_discount">
        <div class="discount">
            <div class="name">
                <span class="font24">￥</span>
                <span class="num">10</span>投资券</div>
            <div class="rule">
                <p>投资满100使用</p>
                <p>期限无限制</p>
            </div>
        </div>
        <div class="discount">
            <div class="name">￥<span class="num">10</span>投资券</div>
            <div class="rule">
                <p>投资满100使用</p>
                <p>期限无限制</p>
            </div>
        </div>
        <div class="discount">
            <div class="name">￥<span class="num">10</span>投资券</div>
            <div class="rule">
                <p>投资满100使用</p>
                <p>期限无限制</p>
            </div>
        </div>
    </div>
    <div class="s_date">优惠券有效期15天</div>
    <div class="s_btn">
        <a href="" class="self_modify">身份验证</a>
        <a href="" class="return">返回首页</a>
    </div>
</div>
<div class="re_footer">
    <p>客服热线：<?php echo $GLOBALS['sys_config']['SHOP_TEL'];?>（工作时间 8:00-20:00）</p>
    <p>北京东方联合投资管理有限公司</p>
    <p>© 2019 网信 All rights reserved | 京ICP备11027068号-5 | 京ICP证130046号 | <a class="jg" href="http://gawa.bjchy.gov.cn/websearch/" target="_blank">京公网安备11010502026080</a></p>
</div>
<link href="<?php echo $this->asset->makeUrl('v3/css/p_register_new.css');?>" type="text/css" rel="stylesheet">
{include file="web/views/v3/footer.html"}
