@charset "utf-8";
/*除去ie表单默认样式*/
%appearance{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
/*去除浮动*/
%clearfix{
    &:before,
    &:after{
        content: '';
        display: table;
        font-size: 0;
        line-height: 0;
    }
    &:after{
        clear: both;
    }
}
/*不换行，超出显示省略号*/
%no-wrap{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*绝对定位 占满父类*/
%p-absolute{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
}
/*两边对齐*/
%ui-justify{
	 text-align: justify;
	 font-size: 0;

   &:after{
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
      overflow: hidden;
   }
}
/*flex*/
%flex{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
%flex-column{
    flex-direction: column;
}
%flex-wrap{
    flex-wrap: wrap;
}
%flex-main-start{
    justify-content: flex-start;
}
%flex-main-end{
    justify-content: flex-end;
}
%flex-main-center{
    justify-content: center;
}
%flex-main-between{
    justify-content: space-between;
}
%flex-main-around{
    justify-content: space-around;
}
%flex-align-start{
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
%flex-align-end{
    align-items: flex-end;
}
%flex-align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
%flex-align-stretch{
    align-items: stretch;
}
%flex-item{
		-webkit-flex: 1;
		flex: 1;
}
/*垂直对齐 vertical-align*/
%vm{
    vertical-align: middle;
}
%vt{
    vertical-align: top;
}
%vbt{
    vertical-align: text-bottom;
}
/*块，行内元素*/
%db{
    display:block;
}
%dib{
    display:inline-block;
}
%di{
    display:inline;
}

%dib-vm{
    display: inline-block;
    vertical-align: middle;
}

%fl{
    float: left;
}

%fr{
    float: right;
}
