@charset "utf-8";

.isvv-scrollbar{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;

    .isvv-scrollbar-inner {
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        // touch-action: auto;
        /*解决ios上滑动不流畅*/
        -webkit-overflow-scrolling: touch;
        /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
        // padding-bottom: 20px;

        .isvv-scrollbar-body {
            width: 640px;
            height: 100%;
            display: flex;
            align-items: center;

            .isvv-scrollbar-item{
                position: relative;
                padding: 0 15px;
            }
        }

        .isvv-scrollbar-body2 {
            height: 100%;
            white-space: nowrap;
            font-size: 0;

            .isvv-scrollbar-item{
                position: relative;
                padding: 0 15px;
                display: inline-block;
                vertical-align: top;
                line-height: 50px;
                font-size: 16px;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
        
    }
}
