@charset "utf-8";
//用于把1080设计稿 转成 以iphone6宽度为基准的网页
//基准宽度
$baseWidth: 375;
//设计稿宽度
$contentWidth: 750;
//基准字体大小
$baseFontSize: $baseWidth/10;


//字体颜色
$fontColor: #333;

$fontLightColor: #666;

$fontLighterColor: #999;

$whiteColor: #fff;
