body{ background-color: #efeff4;}
.hp_new_help{background-color:#fff;}
.deal_help{ min-width: 320px;}
.bg_white{ background-color:#fff;}
.hp_top{ background-color: #fff;height: 80px;overflow: hidden; width:270px; margin:0 auto;}
.hpt_left{ float: left;padding: 10px 0px  0px 0px;}
.hpt_left img{ width: 110px;height: 70px;}
.hpt_right{ margin-left: 120px;}
.hpt_right i{ margin-top: 23px;display: inline-block;}
.hpt_right i img{ width: 146px;height: 28px;}
.hpt_right p{ font-size: 11px;color: #a4a4a4;margin-left: 13px;}
.deal_help h3{ height: 20px;line-height: 20px; padding:10px 0 5px;text-align: left;padding-left: 15px;color: #909090;font-size: 12px;}
.deal_help h4{ height: 30px;line-height: 30px; padding:5px 15px 0;color: #909090}
.has_center{background-color: #FFF;padding-left: 15px; border-bottom: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;}
.has_center .hasc_btn{height: 45px;line-height: 44px;}
.has_center .hasc_btn a{font-size: 15px;color: #000;text-decoration: none;border-bottom: 1px solid #d9d9d9;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.has_center .hasc_btn:last-child a{border-bottom:none;}
.has_center .hasc_btn a .icon_arrow{background: url("http://api.ncfwx.com/static/v2/images/has_icon.png?v=20151126-1") no-repeat scroll 0px 0px / cover transparent;width: 7px;height: 12px;display: block;margin-top: 17px;margin-right: 10px; margin-left: 10px;}
.dis_border{ border-bottom: none;}
.has_list{padding-left: 0px!important;}
.has_list .hasl_center a{ width: 50%;display: inline-block;float: left;}
.has_list .hasl_center a:nth-child(1){ margin-left: -1px;}
.has_list .hasl_center a:nth-child(2){ border-left: 1px solid #d9d9d9;}
.hh_main div a,.hh_main div{border-width: 0.5px!important;}
.has_list .hasl_center a span{ margin-left: 15px;}