body{background-color:#f2f2f2;}
a{text-decoration:none;}
input{outline:medium;}
.p_deal_investment{ min-width: 320px;font-family: "微软雅黑";font-size: 14px;background-color: #f2f2f2;height: 100%;}
.dit_title{ height: 40px;color: #999;padding: 5px 15px;background-color: #fff;}
/*.dit_title p{ margin-bottom: 3px;}*/
.dit_money{ background-color: #5da9e3;padding: 8px 15px;color: #fff;font-size: 14px;}
.dit_money .ditm_top span{ font-size: 14px;}
.ditm_line{ margin-top: -4px;}
.ditm_line .ditm_right{ float: right;width: 50px;text-align: right; margin-top:-3px;}
.ditm_line .ditm_left{ margin-right: 60px;height: 30px;margin-left: -5px;}
.ditm_right a{ display:block;background-color: #ff9900;color: #fff;font-size: 14px;text-align: center;width: 50px;height: 30px;line-height: 30px;border-radius: 5px;}
.ditm_left p{ border-bottom: 1px solid #59bdff;height: 1px;padding-top: 10px;}
.dit_list{ font-size: 14px; margin-top:-12px;}
.dit_list p i{ color: #fff;margin-left: 3px; font-size:12px;}
.ditm_top{ font-size: 16px;}
/*键盘输入框*/
.dit_txt{ background-color: #ffffff;border-radius: 5px;height: 36px;line-height: 36px;margin-top: 10px;}
.key_text{ position: absolute;right: 20px;top: 0px; z-index:1;}
.key_input{ position:relative; z-index:2;}
.dit_yq{ font-size: 14px;color: #ccc;}
.key_text .dit_all a{ color: #0099ff;display: inline-block;width: 50px;height: 36px;text-align: center;}
.dit_footer{ background-color: #fff;margin-top: 18px;border-top: 1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;padding-left: 15px; }
.ditf_list{ height: 45px;line-height: 45px;border-bottom:1px solid #e4e4e4;}
.disn_border{ border-bottom: 0px;}
.ditf_list a{ color: #666; display:block;}
.ditf_list a span{ color: #00afff;}
.ditf_list a span i{ color: #999;margin-left: 10px;margin-right: 15px;}
.ditf_list a span em{ color: #ccc;}
.dit_btn{padding:15px 15px 0px;}
.sub_btn{display:block; border:0px;width: 100%;text-align: center;height: 40px;line-height: 40px;color: #fff;font-size: 14px;border-radius: 30px;}
.sub_gay{background-color: #cccccc;}
.sub_blue{ background-color: #0099ff;}
.sub_red{ background-color: #f64172;}
.dit_help{ padding:15px;color: #999999;}
.dit_help i{ font-weight: bold;width: 20px;font-size: 14px;height: 20px;background-color: #929292;color: #f1f1f1;display: inline-block;text-align: center;border-radius: 20px;margin-right: 5px;}

.btn_key{ color: #000!important;font-size: 13px;}

/*分投按钮*/
.dit_fenbtn{ margin-top:13px;text-align: center;margin-bottom: 5px;}
.dit_fenbtn span{ width: 20%;display: inline-block;float: left;text-align: center;height: 25px; margin-right:6.666666%;}
.dit_fenbtn span:last-child{margin:0 0 0 -1px;}
.dit_fenbtn span em{font-size: 14px;height: 25px;line-height: 24px;display: inline-block;border: 1px solid #fff;border-radius: 5px;width:100%;margin: 0 auto;-webkit-box-sizing:border-box;}
.dit_fenbtn span:active em{ background-color:#3983bc;}
.ai_color {color: #f64172;}