/*合同*/
body{background-color:#f2f2f2;}
.p_contract{ background-color: #F2F2F2;width: 100%;height: 100%;padding-top: 20px;}
.pct_main{border: 1px solid #e4e4e4;border-left:0px;border-right:0px;padding-left:15px;background-color: #fff;}
.ditf_list{ height: 40px;line-height: 40px;border-bottom:1px solid #e4e4e4;font-size: 14px;}
.ditf_list:last-child{border:none;}
.disn_border{ border-bottom: 0px;}
.ditf_list a{ color: #666; display:block;}
.ditf_list a span{ color: #999;margin-right: 15px;}
.pct_p{ text-align: center;font-size: 12px;color: #999;margin-top: 10px;}

a{text-decoration:none;} 
