
.tr{ text-align:right !important;}
.inv-main{ background-color: #e6eaec;height: 100%;}
.inv-header,.inv-center,.inv-footer{border-bottom: 1px solid #dadcdd;padding: 10px 15px 10px;background-color: #fff;}
.inv-footer{ border-bottom: 0px;border-top: 1px solid #dadcdd;}
.inv-center{border-top: 1px solid #dadcdd;}
.invf_top{ margin-left: -20px;margin-right: -15px; margin-top:-10px; height:30px;}

.inv-header{ border-bottom: 1px solid #dadcdd;background-color: #fff;}
.inh-title{margin-top: 10px;font-size: 14px;color: #41474d;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.inh-title span{ background-color: #5ca9e4;border-radius: 4px;padding:4px 5px;font-size: 12px;color: #fff;line-height: 20px; margin-right:5px;}

.invh-center{ margin-top: 6px;overflow: auto;font-size: 18px;color: #f64172;}
.invh-center .jiange{ width: 4px;}
.invh-center .invh-left span{ font-size: 14px;vertical-align: middle;margin-left: 2px;}
.invh-center .invh-right{ margin-left: 30px;}
.invh-center .invh-right em{font-size: 15px; position:relative; top:-1px;}
.invh-center .invh-right span{ font-size: 15px;color: #41474d;margin-left: 17px; position:relative; top:-1px;}
.invh-prog{ margin-top: 0px;color: #f64172;font-size: 9px;}
.progress-blue{width:87%;height:6px;overflow:hidden;border-radius:5px;background:#e7e7e7;display: inline-block;}
.progress-blue .pgbar{display:block;width:100%;height:100%;background:#f64172;border-radius:5px;}
.invh-prog .prognum{ display: inline-block;margin-left: 5px;font-size: 10px;}
.invh-bottom{ margin-top: 4px;font-size: 12px;color: #41474d;}
.invh-bottom span{ margin-left: 85px;}
/*中间*/
.inv-center{ margin-top: 10px;color: #41474d;}
.inv-center h2{ font-size: 15px;padding-bottom: 8px;border-bottom: 1px solid #dadcdd;margin-bottom: 12px;}
.inv-center h2 i{background: url("../images/inv-icon.jpg") 0 0 no-repeat;display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin-right: 5px;margin-top: -4px;background-size: cover; }
.inv-center p{ font-size: 12px;line-height: 18px;}
.inv-center p em{ color: #f64172;}
/*底部*/
.inv-footer{margin-top: 10px;color: #41474d;}
.invf_top{ border-bottom: 1px solid #dadcdd;position: relative;padding-bottom: 3px;}
.invf_top ul { height: 30px;}
.invf_top ul li{ float: left;width: 33%;text-align: center;line-height: 35px;font-size: 13px; height:30px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.invf_top ul  .select{color: #f64172;}
.invf_top ul  .select em{height: 4px;width: 80px;background-color: #f64172;text-align: center;margin: 0 auto;border-radius: 3px;display: block; position:relative; top:-5px;}
.invf_top .invf_write{height: 4px;background-color: #f64172;border-radius: 3px;position: absolute;bottom: 0px;}
/*升级*/

.invf_txt{ padding: 12px 0px 10px 0px;font-size: 12px;}
.invf_txt table{ width: 100%;}
.invf_txt table th{ color: #909ba8; text-align: left;vertical-align: top;padding-bottom: 0px;}
.invf_txt table td{ padding-bottom: 0px;}
.invf_txt .tb_ql td{ text-align: center;}
.invf_txt .tb_ql th{ text-align: center;}
#tb1,#tb2{ display: none;}

/*投资按钮*/
.inv-fbtn{ position: fixed;left: 0px;bottom: 0px;text-align: center;width: 100%;background-color: #fbfbfb;height: 50px;opacity: 0.9;}
.inv-fbtn a{ display: inline-block;width: 260px;height: 35px;line-height: 35px;background-color: #f64172;border-radius:10px;color: #fff;font-size: 15px;text-decoration: none;margin-top: 10px;}
	
.tb_line div,.tb_line p,.tb_line table {
	width: auto !important;
	font-size: 12px!important;color: #41474d!important;
}
.tb_line {padding-top: 10px;margin-left: 10px;line-height: 18px;word-break: break-all;letter-spacing: 1px;}
