<style>    .m_footer .logo{        background-image: url(//assets.firstp2p.cn/201805031940/v4/images/p2p/20180427174306.png);        background-repeat: no-repeat;        width: 198px;        height: 46px;        background-position: 0 0px;        display: block;    }    .w147{        width:188px;    }    .pb10{        color:#999;    }    .f24 {        font-size: 24px;}  	/*登录页-网信通行证*/  	.p_user_dologin .log-form .item-veri .passport-info{display: none;}.m_footer{background-image:url(//assets.firstp2p.cn/201805031940/v4/images/p2p/20180427174250.jpg);}.m_footer {height:300px;}
.m_footer .f_center .pb10 {margin-bottom: 20px;color:#d0d2d4;}
.m_footer>.clearfix {padding-top:0;}
.m_footer .copyright {border-top:0;font-size:12px;}
.m_footer .copyright .pt20 {font-size:12px;margin-bottom:0;color:#999;}
</style>

{function name="get_adv" x="底部导航_2015"}
<script type='text/javascript'>
var _ncf={"prd":"firstp2p","pstr":"","pfunc":null,"pcon":"&uf=pc","pck":{"channel":"channel","fpid":"fpid"},"trid":"","channel":['pubid','mediumid','adid','adsize'],"rfuniq":[],"rfmuti":[]};
(function(p,h,s){var o=document.createElement(h);o.src=s;p.appendChild(o)})(document.getElementsByTagName("HEAD")[0],"script","<?php echo $this->asset->makeUrl('default/js/ncfpb.1.5.min.js');?>");
</script>
<script>
  $('.JS_footer').on('click','a',function(){
    zhuge.track('底部',{
      '位置': this.innerHTML
    })
  })
</script>

<!--[if IE 6]>
<link href="<?php echo $this->asset->makeUrl('v1/css/ie6-fix.css');?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belatedPNG.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belated_ie6_fix.js');?>"></script>
<![endif]-->

<!--logId:{$logId}-->
<?php
    //灰度标签
    if(get_cfg_var('p2p_rc') == 1){
        echo "RC";
    }
?>
</body>
</html>
