<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>系统升级中</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <link href="https://<?php echo APP_HOST;?>/static/v1/css/maintain.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="mt-box">
        <div class="sj-mid">
           <h2 class="h-tit"><i></i>系统升级中...</h2>
            <p class="info">
            <?php $GLOBALS['sys_config']['TPL_SITE_DIR']='default';//维护信息都使用网信理财的文案 ?>
            {function name="get_adv" x="用户体系维护"}
            </p>
            <!--<p>
            <span class="font12"></span>客服电话   <span class="font26">400-890-9888</span>
</p>
            <?php if(APP_SITE == 'firstp2p'):?>
            <a href="http://<?php echo APP_HOST;?>" class="logo"></a>
            <?php else:?>
            <a href="http://<?php echo APP_HOST;?>" class="logo" style="background-image:none;"><img src="<?php echo APP_SKIN_PATH;?>images/logo-big_wx.png?v=20150624" width="115px" height="30px"/></a>
            <?php endif;?>
            <p class="wx"  class="font12">微信公众号</p>-->
        </div>
    </div>
</body>
</html>
