.page_sign{
    padding: 32px 20px;
}
.tip{
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    padding-left: 5px;
    margin-bottom: 26px;
}
.codeBox{
    border-bottom: 1px solid #d8d8d8;
    height: 41px;
    padding: 0 5px;
}
.codeInput{
    display: block;
    float: left;
    line-height: 22px;
    font-size: 15px;
    color: #4a4a4a;
    border: 0;
    width: 150px;
    height: 22px;
    margin-top: 9px;
}
.getCode {
    float: right;
    border: 1px solid #1c82de;
    /* width: 45px; */
    height: 21px;
    margin-top: 10px;
    text-align: center;
    color: #1c82de;
    font-size: 12px;
    line-height: 21px;
    padding: 0 10px;
}
.sure{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ee4634;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 66px;
}
.sure.disabled{
    background: #b2b2b2;
}
.statement{
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
    display: none;
}
.statement a{
    color: #1c82de;
}