{if app_conf('TPL_HEADER')}
<?php echo $this->fetch(app_conf('TPL_HEADER')); ?>
{else}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($page_title) && $page_title}{$page_title} - {/if}{if isset($show_site_titile) && ($show_site_titile eq 1)}{function name='app_conf' value='SHOP_SEO_TITLE'} - {/if}{$site_info.SHOP_TITLE}</title>
<link rel="icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
<meta name="keywords" content="{if isset($page_keyword) && $page_keyword}{$page_keyword}{/if}{$site_info.SHOP_KEYWORD}" />
<meta name="description" content="{if isset($page_description) && $page_description}{$page_description}{/if}{$site_info.SHOP_DESCRIPTION}" />

<script>
   var  status_switch = {function name="app_conf" v="SWITCH_DEAL_INFO_DISPLAY"};
</script>

{if isset($rss_title) && $rss_title}
<link title="{$rss_title}" type="application/rss+xml" rel="alternate" href="{$rss_url}" />
{/if}

    {if isset($is_index) && $is_index eq 1}
<?php echo $this->asset->renderAll(1); ?>
{else}
<!--[if lte IE 9]>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/html5shiv.js');?>"></script>
<![endif]-->
<?php echo $this->asset->renderAll(); ?>
{/if}

{if app_conf("TEMPLATE_ID") neq 1}
<link rel="stylesheet" type="text/css" href="{function name="parse_css_site" v="css/style.css"}" />
{/if}
<script type="text/javascript">
var APP_ROOT = '{$APP_ROOT}';
{if app_conf("APP_MSG_SENDER_OPEN") eq 1}
var send_span = {function name="app_conf" v="SEND_SPAN"}000;
{/if}
</script>


<!--public js&css end -->

</head>

<body>  
<script type="text/javascript" src="/api/fzjs"></script>
<!--头部开始-->
    <header class="m-head">
        <div class="fix_width">
            <span><a href="{$APP_ROOT}/"></a></span>
            <menu>
                <ul>
                     {foreach from=$nav_list item=nav_item key=key}
                        <li class="{if $nav_item.sub_nav}j_showMenu{/if} {if isset($nav_item.current) && $nav_item.current eq 1}select{/if}">
                            <a href="{$nav_item.url}" target="{if $nav_item.blank eq 1}_blank{/if}">
                                {if $nav_item.sub_nav}<span>{$nav_item.name}</span><i class="g-pos-i"></i>{else}{$nav_item.name}{/if}
                            </a>
                            {if $nav_item.sub_nav}
                            <ul>
                                {foreach from=$nav_item.sub_nav item=sub_item key=sub_key}
                                    <li {if $sub_key eq count($nav_item.sub_nav) -1}class="nobor"{/if}><a href="{$sub_item.url}" target="{if $sub_item.blank eq 1}_blank{/if}">{$sub_item.name}</a></li>
                                {/foreach}
                            </ul>
                            {/if}
                        </li>
                        {if $key neq count($nav_list) -1}<li class="bg_li"></li>{/if}
                     {/foreach}
                </ul>
            </menu>
            <div class="g-head-right">
            {if $user_info}
                <ul>
                    <li>您好，<a href="/account">{if empty($user_info.real_name)}{$user_info.user_name}{else}{$user_info.real_name}{/if}</a></li>
                    <li class="li_bg"></li>
                    <li class="{if $msg_count>0}pr15 j_showMenu{/if}"><a href="/message">消息</a>
                        {if $msg_count>0}
                        <div class="g-message-number">{$msg_count}</div>
                        <ul>
                            {foreach from=$msg_list item=msg key=key}
                            <li {if $key eq count($msg_list) -1}class="nobor"{/if}><em><a href="/message/deal/{$msg.group_key}">{$msg.total}</a></em> 条 {if isset($msg_title.$msg.is_notice)}
                                    {$msg_title.$msg.is_notice}
                                    {else}
                                    {$LANG.SYSTEM_PM}
                                    {/if}，<a href="/message/deal/{$msg.group_key}">查看</a></li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                    <li class="li_bg"></li>
                    <li><a href="{url x="index" r="helpcenter"}">帮助</a></li>
                    <li class="li_bg"></li>
                    <li><a href="{url x="shop" r="user/loginout"}">退出</a></li>
                </ul>
            {else}
                <ul>

                    <li><a href="{url x="shop" u="user/register"}">注册</a></li>
                    <li class="li_bg"></li>
                    <li><a href="{url x="shop" u="user/login"}">登录</a></li>
                    <li class="li_bg"></li>
                    <li><a href="{url x="index" r="helpcenter"}">帮助</a></li>
                </ul>
            {/if}
            </div>


        </div>
    </header>
    <!--头部结束-->

    {if $MODULE_NAME eq "deal" && $ACTION_NAME eq "index" && (app_conf('TEMPLATE_ID') eq 1 || app_conf('TEMPLATE_ID') eq 7 || app_conf('TEMPLATE_ID') eq 6)}
        {if $deal.type_id eq 11}
        <adv adv_id="详情页车贷banner">
        {elseif $deal.type_id eq 12}
        <adv adv_id="详情页房贷banner">
        {/if}
    {/if}

    <!--面包屑导航开始-->
    {if isset($nav) && $nav}
    <section>
        <div class="fix_width">
            <div class="m-nav">
                <a href="/">首页</a>
                    {foreach from=$nav item=n}
                    > <label>{if isset($n.url) && $n.url}<a href="{$n.url}">{$n.text}</a>{else}{$n.text}{/if}</label>
                    {/foreach}
            </div>
        </div>
    </section>
    {/if}
    <!--面包屑导航结束-->

    <div class="{if isset($in_preset_page) && $in_preset_page eq 1}{else}wrap{/if}">
{/if}
