<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="<?php echo $this->asset->makeApiUrl('v3/js/zepto.min.js');?>"></script>
<script src="<?php echo $this->asset->makeApiUrl('v3/js/common.js');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeApiUrl('v3/css/p-yibao.css');?>">
<title>支付成功</title>
</head>
<body>
    <div class="ui_title">提示</div>
    <div class="p_charge_succeed">
        <div class="picture"><img src="<?php echo $this->asset->makeApiUrl('v3/images/yeepay/succeed2.png');?>"></div>
        <div class="text">支付请求已受理，可能会有5-10分钟的延迟，请耐心等待，谢谢</div>
        <div class="but">
            <a href="{$returnUrl}">完成</a>
        </div>
    </div>
    {include file="openapi/views/baidutongji.html"}
</body>
</html>
