html {
    height: 100%;
}
body {
    -webkit-user-select: none;
    height: 100%;
}
a {
    text-decoration: none;
}
.tap{
    /* border: 1px solid red; */
    padding: 26.5px 0 20px;
    font-size: 14px;
    padding-left: 11px;
}
.p_deal_codeshow {
    background-color: #fff;
    height: 100%;
}

.p_deal_codeshow .pcs_main {
    font-family: "微软雅黑";
    overflow-x:hidden;
}

.p_deal_codeshow .pcs_top {
    background-color: #fff;
    font-size: 12px;
    padding: 20px 10px 0px;
}
.p_deal_codeshow .pcst_btn {
    text-align: center;
    margin-top: 13px;
}
.p_deal_codeshow .pcst_btn a {
    width: 95%;
    height: 40px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    border-radius: 5px;
    border: medium none;
    -webkit-appearance: none;
    /*background-color: #ccc;*/
}

.p_deal_codeshow .pcst_btn a.btn_gray {
    background-color: #ccc!important;
    opacity: 1;
}
.line_icon {
    height: 13px;
    background-color: #F5F5FA;
}

.p_deal_codeshow .a_gay {
    background-color: #cccccc;
}

.p_deal_codeshow .pcst_left {
    margin-right: 80px;
    height: 38px;
    position: relative;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    line-height: 38px;
    color: #999999;
    padding-left: 5px;
    background-color: #fff;
}

.p_deal_codeshow .pcst_left input {
    /* border: none;
    font-size: 14px;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    display: block;
    line-height: normal;
    position: relative;
    z-index: 2;
    background-color: transparent; */
}

.p_deal_codeshow .pcst_left i,
.code_text {
    /* position: absolute; */
    line-height: 20px;
    right: 133px;
    top: 53px;
    display: none;
    z-index: 100000;
}


.red_icon {
    width: 8px;
    height: 8px;
    /* border: 1px solid red; */
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    margin-right: 8px;
} 

.p_deal_codeshow .code_right {
    font-weight: bold;
    width: 20px;
    font-size: 14px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    display: none;
    right: 10px;
    background: url(../images/icon_right.png) no-repeat;
    background-size: 100% 100%;
}

.p_deal_codeshow .pcs_top p {
    padding-bottom: 20.5px;
    font-size: 13px;
    text-align: center;
    padding-top: 13px;
}

.color_red {
    color: #9c9c9c !important;
}

.p_deal_codeshow .pcs_tip {
    background-color: #fff;
    border: 1px solid #fff;
    margin-top: 24.5px;
    height: 100%;
    padding: 0 29px 0;
    margin-bottom: 25px;
}

.p_deal_codeshow .pcs_tip h1 {
    margin-top: 13px;
    color: #000;
    margin-bottom: 3px;
    font-size: 14px;
}

.p_deal_codeshow .pcs_tip p {
    color: #9C9C9C;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
}

.p_deal_codeshow .pcs_help {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
    padding-bottom: 25px;
}

.p_deal_codeshow .sy_color {
    color: #09F;
}

.p_deal_codeshow .error_color {
    color: #F00;
}

.code_box {
    position: relative;
    margin: 0 auto;
    /*overflow: hidden;*/
    /* text-align: center; */
}
.input_default {
    background-size: 48px;
    width: 97%;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid blueviolet; */
    height: 56px;
}
.code_input {
    height: 43px;
    font-size: 28px;
    margin-left: 10px;
}
.input_focus {
    height: 46px;
    width: 13%;
    background-size: 48px;
    position: relative;
    /* letter-spacing: 29px; */
    font-size: 28px;
    line-height: 46px;
    border: 1px solid #BBBBBB;
    float: left;
    margin-left: 8px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
.err_box {
    text-align: center;
    height: 20px;
}
.input_error {
    height: 54px;
    background:url("../../v4.6/images/gold/code_input_bg.png") repeat-x 0 -98px;
    background-size: 48px;
    width: 286px;
    margin: 0 auto;
    position: relative;
    border: 1px solid blue;
    text-align: center;
}
.alert_error {
    position: relative;
}
.btn_red {
    background-color: #ee4634;
}
.div_active {
    border: 1px solid #fff;
    box-shadow:0px 0px 3px #F5A623;
;
 }
.div_err {
    box-shadow:0px 0px 3px #EE4634;
}
.pcs_help a{
    color: #177FDE;
}



.p_deal_codeshow .codebox{height: 40px;margin: 0 auto;width: 96%}
.p_deal_codeshow .bottom_line_red{border-bottom:1px solid #EE4634!important;}
.p_deal_codeshow .bottom_line_grey{border-bottom:1px solid #E6E6E6; height:1px; width: 96%;margin: 0 auto; font-size: 0px;}
.p_deal_codeshow .btn_gray{border-bottom:1px solid #E6E6E6!important; height:1px; width: 96%;margin: 0 auto;font-size: 0px;}





