@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
input,a{-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;outline: none; border:none; border-radius:0;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5  arial, "Microsoft YaHei";}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color: #333;	}
body{ background-color:#F5F5FA; overflow-x:hidden;}
/*去除浏览器默认复制链接*/
html,body{-webkit-touch-callout: none;}
a{ color:#5ca9e4;text-decoration:none;} 
/* ==|== MOBILE SET======================= */
/*POSITION*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
/*MARGIN & PADDING*/
.mb20{margin-bottom:20px;}
.mt7{margin-top:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml40{margin-left:40px;}
.pl10{padding-left:10px;}
.pt5{padding-top: 5px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pr15{ padding-right:15px;}
/*blank*/
.blank20,.blank30{display: block;width: 100%;clear: both;}
.blank20{height: 20px;}
.blank30{height: 30px;}
/*COLOR*/
.color_red{ color:#ee4634;}
.color_gray{ color:#8f8f8f;}
.red{color:#f7547e;}
.black{color:#000;}
.blue{color:#5ca9e4;}
.green{color:#3cb025;}
.gray{color:#909ba8;}
.gray2{color:#999;}
.pink{ color:#f94272;}

/*bg*/
 .bg-white{background-color: #fff}
/*float*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}

/*font*/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f15{ font-size:15px;}
.f20{ font-size:20px;}
.f23{ font-size:23px;}
/*width*/
.w35{width: 35px;}