.ui_tips,.ui_tips_gray{ height:14px; line-height:14px; font-size:10px; color:#fff; border:1px solid #eb483b; padding:0 5px; display:inline-block; border-radius:8px; margin-right:5px; position:relative; top:-2px; background: #eb483b;}
.ui_tips_gray{ border:1px solid #909090;color:#909090;}
.ui_red_btn{ height:36px; background:#ee4634; display:block; margin:0 15px; border:0; border-radius:3px; font-size:17px; color:#fff; line-height:36px; text-align:center;}
.ui_red_btn:hover,.ui_red_btn:active{ color:#fff;}
.ui_tips.fr{margin-right:0px; top:2px;}



/*o2o*/
.inp-box { border:1px solid #dadcdd; margin:0px 0px 8px; background:#fff; height:38px; line-height:38px; border-radius:5px; padding:0 8px;font-size:14px;}
.inp-box input{ border:none; font-size:13px; width:83%; height:40px;}
.ui_btn_box{ height:55px; background:#fff; position:fixed; width:100%; bottom:0px; border-top:1px solid #d9d9d9;}
.ui_h56{ height:56px;}
.btn_red{ margin:8px 15px 0; display:block; border:none; height:39px; line-height:39px; color:#fff; font-size:17px; border-radius:5px; background:#ee4634; text-align:center;}

.sc_top{ text-align: center;padding-top: 40px;margin-bottom: 20px;}
.sc_success{ display: inline-block;width: 100px;height: 100px;background: url("../images/o2o/dh_success.jpg") no-repeat 0 0;background-size: cover;}
.sc_error{ display: inline-block;width: 100px;height: 100px;background: url("../images/o2o/dh_error.jpg") no-repeat 0 0;background-size: cover;}
.sc_top p{ font-size: 17px;color: #ee4634;margin-top: 20px;}
.sc_top h3{ font-size: 10px;color: #909090;margin-top: 10px;}
.sc_list{ background-color: #fff;border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;padding-left: 13px; margin-bottom:15px;}
.scl_show{ font-size: 13px;color: #8f8f8f;padding: 10px 0px;border-bottom: 1px solid #d9d9d9; }
.scl_show:last-child{ border:none;}


.scl_show span{ float: left;}
.scl_show p{ margin-left: 60px;text-align: right;color: #41474d;margin-right: 20px;word-wrap:break-word;}

.dis_border{ border-bottom: 0px;}

.ui_mask{position: fixed; z-index: 999; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.5)}
.ui_alert_box{ width:290px; z-index: 1000; height:124px; border-radius:5px; background:#fff; position: fixed; top:50%; left:50%;  margin:-62px 0 0 -145px; text-align:center; line-height:124px; vertical-align:middle;}
.ui_alert_box .alert_con{ width:100%; display:inline-block; vertical-align:middle; line-height:20px; font-size:14px;}
.ui_alert_box .alert_con h2{ font-size:17px; height:30px;}
.ui_alert_box .alert_con p{height:30px;}
.ui_alert_box .alert_con h3{ border-top:1px solid #d9d9d9; padding-top:10px;}
.ui_alert_box .alert_con a{color:#0079ff;}
.ui_no_coupon{background:url(../images/o2o/icon_none.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 135px; position: absolute; top: 50%; margin-top: -95px; width: 100%;color: #858B9C;font-size: 14px;line-height: 42px;}
.ui_mask_white{position: fixed; width:100%; height:100%; left:0px; top:0px; background:rgba(255,255,255,0);z-index: 205;}
/*投资风险提示*/
.ui_risk_tips{text-align: center; color: #cccccc; position: relative; margin: 30px 60px;}
.ui_risk_tips .line{background: #E6E6E6;; position: absolute; width: 100%; height: 1px; left: 0px; top: 8px;}
.ui_risk_tips span{ background: #F5F5FA; display: inline-block; position: relative; padding: 0 10px;}