
.p_fund_detail .per-main{ color: #41474d;background-color: #fff;}
.p_fund_detail .per-header{ border-bottom: 1px solid #dadcdd;text-align: center;}
.p_fund_detail .per-header #menu{margin: 0px auto;}
.p_fund_detail .per-header ul { height: 40px;}
.p_fund_detail .per-header ul li{ float: left;width: 50%;text-align: center;line-height: 40px;font-size: 13px; height:40px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_fund_detail .per-header ul li span{position:relative;}
.p_fund_detail .per-header ul  .select span{color: #ee4634; border-bottom:4px solid #ee4634; height:36px; display:inline-block; padding:0 2px;}
.p_fund_detail .per-header ul  .select em{}

/*中间部分*/
.p_fund_detail .per-center{ }
.p_fund_detail .perc-table table{ width: 100%;margin-top: 6px;}
.p_fund_detail .perc-table table td{ padding-top: 3px; height:30px; line-height:30px; padding-left:15px;}
.p_fund_detail .perc-table table th{ text-align:right; padding-right:15px;}
.p_fund_detail .perc-table table tr:nth-child(even) td,.perc-table table tr:nth-child(even) th{ background:#f2f2f2;}

/*图表*/
.p_fund_detail .perc-char { padding: 10px 15px 0;}
.p_fund_detail .perc-char span em{ margin-right: 5px;color: #ee4634;}
.p_fund_detail .container,.container2{ margin-top: 10px; min-width:280px;height:150px}

/*图标按钮*/
.p_fund_detail .char-bottom{ margin-top: 10px;border-bottom: 1px solid #dadcdd;}
.p_fund_detail .char-bottom .char-year{ margin-top: 10px;}
.p_fund_detail .nobor{ border-top: 0px;}
.p_fund_detail .char-year .cfr { margin-right: 15px;font-size: 11px;color: #909ba8;}
.p_fund_detail .char-btn{ margin-top: 10px;margin-bottom: 15px;}
.p_fund_detail .char-btn ul li{ float: left;width: 33%;text-align: center;}
.p_fund_detail .char-btn ul li a{ display: inline-block;width: 75px;height: 22px;line-height: 24px;background-color: #d4d5d6;color: #fff;border-radius: 3px;}
.p_fund_detail.char-btn ul .sel a{ background-color: #ee4634;}

.p_fund_detail .char-table{ margin-bottom: 30px;}
.p_fund_detail .char-table h2{ margin-top: 10px;margin-bottom: 10px;color: #41474d;}
.p_fund_detail .char-table table{ width: 100%;border-collapse:collapse;border:none;}
.p_fund_detail .char-table table td{ text-align: center;height: 25px;line-height: 25px; border: 1px solid #d1dee9;}
.p_fund_detail .char-table  table tr:nth-child(odd){background:#fff;}
.p_fund_detail .char-table  table tr:nth-child(even){background:#ecf6fe;}
.p_fund_detail .char-table table thead{ border: 1px solid #ee4634; }
.p_fund_detail .char-table table thead td{ background-color: #ee4634;color: #fff;border: 0px;}
.p_fund_detail .char-table table tbody{ border: 1px solid #d1dee9;}


/*补充头部*/
.p_fund_detail .per-top{padding-top: 12px; padding:0 15px 10px;border-bottom: 1px solid #f1f1f1;}
.p_fund_detail .per-jiange{ background-color: #e6eaec;border-bottom: 1px solid #f1f1f1;height: 20px;}
.p_fund_detail .per-top h2{ color: #41474d;font-size: 15px;margin-bottom: 5px; padding-top:10px;}
.p_fund_detail .per-top h2 .ui_tips{ margin-right:0px;}
.p_fund_detail .per-top table{ width: 100%;}
.p_fund_detail .per-top table tr td{ color: #909ba8;font-size: 10px; line-height:16px;}
.p_fund_detail .per-top table tr th{ text-align: left;color: #ee4634;font-size: 20px; line-height:16px;}
.p_fund_detail .per-top table tr th em{ font-size: 16px;}
.p_fund_detail .per-top table tr td .text{ color:#000; font-size:14px; display:inline-block; padding-top:1px;}
.p_fund_detail .per-color{ color: #41474d!important;font-size: 18px!important;}
.p_fund_detail .pret-bom{ font-size: 14px;color: #6d7884;margin-top: 5px;margin-bottom: 10px;}
.p_fund_detail .pret-bom em { margin-left: 10px;}


/*关于基金*/
.p_fund_detail .per-center .per-table { width: 100%;margin-top: 10px;color: #41474d;margin-bottom: 10px;}
.p_fund_detail .per-jieshao{ border-top: 1px solid #dadcdd;padding-top: 10px;}

.p_fund_detail #tb1{ display: none;}
.p_fund_detail .highcharts-axis{display: none;}


/*补充样式*/

.p_fund_detail .hchar1_maney,.p_fund_detail .hchar1_time,.p_fund_detail .hchar2_maney,.p_fund_detail .hchar2_time{ font-weight: bold;}
.p_fund_detail .per_tip{ text-align: center;margin-top: -20px;padding-bottom: 10px;color: #a4acb7;}