
.p_deal_hasinvestment .has-main{height: 100%;}
.p_deal_hasinvestment .title{ height:35px; line-height:35px; padding:5px 15px 0; color:#909090;}

.p_deal_hasinvestment .has-header{padding: 11px 0px 0px;background-color: #fff;position: relative; color:#41474d;}
.p_deal_hasinvestment .has-header h2{font-size: 15px;color: #000;padding:0 15px 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_deal_hasinvestment .money-color{ color: #5ca9e4;}
.p_deal_hasinvestment .pro-color{ color: #f94272;}
.p_deal_hasinvestment .hash-tb{ padding: 5px 0px 0px 0px; position:relative; background:#fff;}
.p_deal_hasinvestment .hash-tb table{ width: 100%;font-size: 15px;}
.p_deal_hasinvestment .hash-tb table td span{ margin-left: 5px;}
.p_deal_hasinvestment .hash-tb table td{ text-align:right;border-bottom: 1px solid #f1f1f1; padding:11px 15px 11px 0px;}
.p_deal_hasinvestment .hash-tb table th{ text-align:left;border-bottom: 1px solid #f1f1f1; padding:11px 0;padding-left: 15px;}
.p_deal_hasinvestment .hash-tb table tr:last-child th,.p_deal_hasinvestment .hash-tb table tr:last-child td{ border:none;}


/*中间*/
.p_deal_hasinvestment .has-center{background-color: #fff;}
.p_deal_hasinvestment .has-center2{background-color: transparent;}
.p_deal_hasinvestment .has-center2 .hasc-btn{margin-bottom: 10px;background: #fff;}
.p_deal_hasinvestment .has-center .hasc-btn{ height: 45px;line-height: 45px;}
.p_deal_hasinvestment .has-center .hasc-btn a{ font-size: 15px;color: #41474d;text-decoration: none;border-bottom: 1px solid #f1f1f1;display: block;padding-left: 15px;}
.p_deal_hasinvestment .has-center .hasc-btn a .icon_arrow{ background: url(../images/has_icon.png?v=20160928) 0 0 no-repeat;width: 8px;height: 13px;background-size: cover;display: block;margin-top: 14px;margin-right: 15px;}
.p_deal_hasinvestment .has-center .hasc-btn:last-child a{border: none;}
.p_deal_hasinvestment .has-center .dis-border{ border-bottom: 0px;}

.p_deal_hasinvestment .has-center .hasc-btn2{ line-height: 25px;height: auto;padding:10px 0;}
.p_deal_hasinvestment .has-center .hasc-btn2 a{ padding-right: 15px;}
/*底部*/
.p_deal_hasinvestment .inv-footer{margin-top: 0px;border-bottom: 1px solid #e6e6e6;background-color: #fff;color: #41474d;}
.p_deal_hasinvestment .invf_top{ border-bottom: 1px solid #e6e6e6;position: relative;}
.p_deal_hasinvestment .invf_top ul { height: 44px;}
.p_deal_hasinvestment .invf_top ul li{ float: left;width: 25%;text-align: center;line-height: 44px;font-size: 15px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.p_deal_hasinvestment .invf_top ul li.select{color: #ee4634; border-bottom:2px solid #ee4634; height:42px; display:inline-block;}
.p_deal_hasinvestment .invf_top .invf_write{height: 4px;background-color: #ee4634;border-radius: 3px;position: absolute;bottom: 0px;}
.p_deal_hasinvestment .invf_txt{ font-size: 14px;}
.p_deal_hasinvestment .invf_txt table{ padding: 10px 15px 10px 10px;display: block;}
.p_deal_hasinvestment .invf_txt table th{ color: #909ba8;text-align: left;vertical-align: top;padding-bottom: 0px;}
.p_deal_hasinvestment .invf_txt table td{ padding-bottom: 0px;}
.p_deal_hasinvestment .invf_txt .tb_ql td{ text-align: center;}
.p_deal_hasinvestment .invf_txt .tb_ql th{ text-align: center;}
.p_deal_hasinvestment .invf_txt .tb_ql2 th{ text-align: center;}
.p_deal_hasinvestment .tb1,.p_deal_hasinvestment .tb2,.p_deal_hasinvestment .tb3{ display: none;}
.p_deal_hasinvestment .invf_txt table.table1{padding:0;display:table;}


.p_deal_hasinvestment .bid_list{height: 51px;line-height: 51px;color: #030303;font-size: 15px;border-bottom: 1px solid #e6e6e6;padding: 12px 15px 10px;}
.p_deal_hasinvestment .bid_list .float_l{float: left;}
.p_deal_hasinvestment .bid_list p{line-height: 25px;}
.p_deal_hasinvestment .bid_list p.gray{color: #909090;font-size: 12px;}
.p_deal_hasinvestment .bid_list .float_r{float: right;}
.p_deal_hasinvestment .bid_list .float_r p.gray{float: right;}
.p_deal_hasinvestment .bid_list .color_red{color: #ee4634;}

/*投标状态*/

.p_deal_hasinvestment .state-gray,.p_deal_hasinvestment .state-dsh,.p_deal_hasinvestment .state-hkz,.p_deal_hasinvestment .state-mb,.p_deal_hasinvestment .state-tzz,.p_deal_hasinvestment .state-yhq,.p_deal_hasinvestment .state-red{height:16px; line-height:16px; color:#fff; padding:0 8px; text-align:center; border-radius:7px; font-size:10px; display:inline-block; position:relative; top:-2px; margin-right:3px;}

.p_deal_hasinvestment .state-hkz{ background:#00d348;}
.p_deal_hasinvestment .state-mb{ background:#ff2144;}
.p_deal_hasinvestment .state-tzz{ background:#5abbf6;}
.p_deal_hasinvestment .state-yhq{ background:#ff7e00;}
.p_deal_hasinvestment .state-dsh{ background:#b38dd7;}
.p_deal_hasinvestment .state-gray{ background:#cccccc;}
.p_deal_hasinvestment .state-red{ background:#ee4634;}
.p_deal_hasinvestment .state-green{ background:#66bb6a;}

/*颜色*/
.p_deal_hasinvestment .hk-color{ color: #3cb025;}
.p_deal_hasinvestment .je-color{ color: #ee4634;}

.p_deal_hasinvestment .tb_line div,.p_deal_hasinvestment .tb_line p,.p_deal_hasinvestment .tb_line table {width: auto !important;font-size: 12px!important;color: #41474d!important;}
.p_deal_hasinvestment .tb_line {padding-top: 10px;margin-left: 10px;line-height: 18px;word-break: break-all;letter-spacing: 1px;}
.p_deal_hasinvestment .menu li span{ cursor: pointer;}