/*登陆*/
.m-head-fix{position:relative;}
.m-head .head_app{ display:none;}
.m-head-placeholder{display:none;}
/*注册*/
.p_reg .dl_footer h3 { color: #a4acb7; font-size: 10px; margin-top: 10px; margin-bottom: 7px; }
.p_reg a.reg-banner { display: block; }
.p_reg a.reg-banner, .p_reg .reg-banner img { height: 102px; width: 100%; }
.p_reg .reg-report { background: #ffffff; text-align: center; color: #909ba8; font-size: 12px; padding: 10px 5%; line-height: 24px }
.p_reg .report-icon { background-position: 0 0; height: 25px; width: 34px; vertical-align: middle; margin-right: 5px }
.p_reg ul.security{margin: 30px 0 0;display: -webkit-box; }
.p_reg ul.security li{-webkit-box-flex: 1;text-align: center;}
.p_reg ul.security li i{background-position: -146px 0;display: inline-block;width: 35px;height: 35px;}
.p_reg ul.security li:first-child i{background-position: -80px 0}
.p_reg ul.security li:last-child i{background-position: -200px 0}
.p_reg ul.security li span{display: block;color:#b5beca;font-size: 10px;text-align: center;}
.p_reg .ui-form .input-list label{width:55px;}

/*注册成功*/
.p_reg_suc .dl_footer h3 { color: #a4acb7; font-size: 10px; margin-top: 10px; margin-bottom: 7px; }
.p_reg_suc a.reg-banner { display: block; }
.p_reg_suc a.reg-banner, .p_reg_suc .reg-banner img { height: 102px; width: 100%; }
.p_reg_suc .reg-suc { text-align: center; margin: 25px 0; }
.p_reg_suc .suc-tit { color: #f64172; font-size: 18px; height: 25px; line-height: normal; }
.p_reg_suc .suc-tit i { background-position: -1px -43px; width: 25px; height: 25px; vertical-align: -5px; margin-right: 5px }
.p_reg_suc .suc-con { color: #586068; font-size: 14px; margin-top: 10px }
