.iframe_register{position: absolute;}
.JS_bg{height:500px;background-size: 100%;background-repeat: no-repeat;}
img{display:block;width:100%;}

.ui-new-mainbody{width:1100px;}
.media-article{padding: 27px 40px 25px;font-size: 14px;line-height: 24px;color: #575757}
.fix_reg{width:1060px;height:500px;overflow: hidden;margin:0 auto;padding-top:12px;}


.card-wrapper {text-align: center;background: #ffcacd;vertical-align: middle;}
.normal-card {display: inline-block;vertical-align: top;width: 363px;height: 453px;text-align: center;background-color: #fff0d1;margin: 18px 27px 21px;background: url(../../images/activity/preview/mid1.png) no-repeat;}
.content {padding: 0px 0 20px;}
.normal-card .head {display: block;line-height: 70px;text-align: center;font-size: 22px;color: #333;margin:58px auto 22px;width:286px;height:34px;line-height: 34px;overflow: hidden;text-decoration: none;}
.normal-card .info-top {line-height: 32px;color: #999;font-size: 24px;margin:10px auto 20px;}
.normal-card .info-middle {line-height: 50px;margin-bottom: 2px;font-size: 46px;font-weight: normal;color: #F96C3A;}
.normal-card .info-bottom {font-size: 24px;color: #666;line-height: 68px;height: 80px;}
.normal-card .info-bottom-high {font-size: 30px;font-weight: bold;color: #666;}
.normal-card .btn {display: inline-block;width: 280px;height: 80px;margin-bottom: 3px;border-radius: 50px;background: #d183d2;color: #fff;font-size: 28px;line-height: 80px;text-decoration: none;}
