.p_question{width:100%;display: flex;flex-direction:column;}
.top{width:100%;height:220px;background:linear-gradient(to right, #439DF0 , #7885E9);position: relative}
.top_bg{background: url("../../images/questionnaire/top_bg.png") no-repeat center;background-size: 90% 100%;width:80%;margin:0 auto;height:100%}
.title{font-size: 36px;line-height:70px;color:#fff;text-align: center;font-weight: bold;padding-top:40px}
.subTitle{width:326px;margin:0 auto;font-size: 14px;color:#fff;text-align: center;line-height: 20px;}
.tipBox{width:630px;position: absolute;left:50%;margin-left:-315px;bottom:-15px;background: #5474DD;border-radius: 8px;padding:8px 15px}
.tipBox span{line-height: 16px;text-align: left;color:#fff;font-size: 10px;display: block;width: 100%;}
.bottom{background: #6E8AEF;flex: 1;padding:80px 0}
.conBox{padding:40px 30px;border-radius: 8px;border:15px solid #C1CFFF;width:720px;min-height: 500px;margin:0 auto;position: relative;background: #fff}
.topImg{position: absolute;left:50%;top:-36px;margin-left:-118px;width:236px;height:50px;}
.questionBox{overflow: hidden;}
.questionBox .item{overflow: hidden;margin-bottom:25px}
.item .question{font-size: 14px;color:#545765;line-height: 16px;font-weight: bold;}
.item .listUl{padding:10px;margin-top:5px;width:100%;overflow: hidden;}
.listUl li{width: 50%;height:30px;float: left;}
.listUl li.active .selectBox{background: #5A8AF1;border: 1px solid #5A8AF1}
.listUl li.active .selectBox img{display: block}
.listUl li .selectBox{float: left;width: 18px;height: 18px;border: 1px solid #E4E4E4;margin-right: 5px;margin-top:6px;cursor: pointer;}
.listUl li .selectBox img{width: 14px;height: 10px;display: none;margin:4px auto}
.listUl li .option{display: block;float: left;line-height: 30px;color: #5C5B60;font-size: 14px;width:90%;cursor:pointer}
.listUl .writeArea{width: 93.5%;line-height: 18px;font-size: 14px;padding:10px;border: 1px solid #E4E4E4;display: none;margin-top: 10px;float: left;color: #5C5B60;}
.listUl .writeArea.show{display: block;}
.item .inputBox{width:90%;height:200px;border: 1px solid #E4E4E4;position: relative;padding:10px;float: left;margin-top:15px;margin-left:13px}
.item .inputBox textarea{width: 100%;height: 90%;line-height: 18px;font-size: 14px;color:#5C5B60;}
.item .inputBox .countBox{position: absolute;bottom:5px;right:5px;height:20px}
.item .inputBox .countBox span{line-height: 20px;color:#5C5B60;font-size: 14px;}
.btnBox{position: relative;}
.btnBox .submitBtn{width:200px;height:40px;margin:50px auto 0;border-radius: 30px;text-align:center;line-height: 40px;font-size: 14px;color:#fff;background:linear-gradient(to right, #439DF0 , #7885E9);cursor: pointer;}
.btnBox .failTip{width:100%;line-height: 20px;color:red;text-align: center;font-size: 14px;display: none;position: absolute;left:0;bottom:55px}
.mask{position: fixed;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,0.6);display: flex;justify-content: center;align-items: center;display: none}
.mask .itemBox{width: 350px;background: #fff;border-radius: 6px;padding-top:50px;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);display:none}
.itemBox .img{width:120px;height:106px;margin:0 auto;display: block}
.itemBox .pointImg{width:176px;height:24px;}
.itemBox .pointImg.rightTop{position: absolute;right:12px;top:12px}
.itemBox .pointImg.leftBottom{position: absolute;left:12px;bottom:12px;transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.itemBox .tip{font-size: 16px;color: #545765;line-height: 26px;text-align: center;display: block;margin:0 auto}
.itemBox .tip span{color:#FF5E95;font-size: 28px;font-weight: bold}
.itemBox .btn{width:108px;height:36px;border-radius: 30px;background: #5A8AF1;margin: 10px auto 45px;text-align: center;color:#fff;line-height: 36px;cursor: pointer;font-size: 14px}





















