.p_question_box{width: 100%;height: 100%;position: relative;}
.partBox{display: none;position: absolute;left:0;top:0}

/* start */
.p_start{width: 100%;min-height: 100%;background: url(../../images/questionnaire/mobile_bg.png) no-repeat 0 0;background-size: 100% 100%;position: relative;overflow: scroll;padding-bottom: 2rem}
.title{font-size: 0.96rem;line-height:1.4rem;color:#fff;text-align: center;font-weight: bold;padding-top:0.8rem}
.subTitle{width:5.4rem;margin:0.2rem auto 1.08rem;font-size: 0.36rem;color:#fff;text-align: center;line-height: 0.5rem;}
.bottom{position: relative;}
.bottom_con{width: 6.9rem;background: #fff;border-radius: 0.12rem;padding:0.5rem 0.4rem;position: relative;margin:0 auto;overflow: hidden;}
.bottom_con .circle{width:0.4rem;height:0.4rem;border-radius: 0.6rem;background: #6E8AEF;}
.bottom_con .circle.left{position: absolute;top:61%;left:-0.28rem;z-index: 1000;}
.bottom_con .circle.right{position: absolute;top:61%;right:-0.28rem;z-index: 1000;}
.bottom_con .pointImg{width:3.4rem;height:0.48rem;}
.bottom_con .pointImg.rightTop{position: absolute;right:0.24rem;top:0.24rem}
.bottom_con .pointImg.leftBottom{position: absolute;left:0.24rem;bottom:0.24rem;transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.bottom_con .itemTitle{display: block;width:100%;font-size: 0.36rem;color:#545765;font-weight: bold;line-height: 1rem}
.bottom_con .tip{display: block;width:100%;font-size: 0.3rem;color:#5C5B60;line-height: 0.5rem}
.bottom_con .line{width:6.08rem;display: block;height:0;border-bottom: 1px dashed #528BF3;position: absolute;top:64%;left:0.4rem}
.bottom_con .btn{width:4.88rem;height:0.96rem;border-radius: 0.48rem;background: linear-gradient(to right, #439DF0 , #7885E9);margin: 1.2rem auto 0.2rem;text-align: center;color:#fff;line-height: 0.96rem;cursor: pointer;font-size: 0.36rem;z-index:100;position: relative;}
.notice{line-height: 1rem;color:#fff;font-size: 0.28rem;text-align: center;display: block;margin:0 auto;position: absolute;left:0;bottom:0.33rem;width: 100%}
.mask{position: absolute;left:0;top:0;background: rgba(0,0,0,0.6);width: 100%;height: 100%;z-index: 200;display: none}
.maskCon_box{width:4.3rem;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.done_top{width:100%;border-radius: 0.12rem;background: #fff;padding:0.5rem 0.4rem 0.01rem 0.4rem;}
.done_top .img{width:1.4rem;height:auto;margin:0 auto;display: block}
.done_top .tip{font-size: 0.32rem;color: #545765;line-height: 0.4rem;text-align: center;display: block;margin:0.3rem auto 0.4rem}
.maskCon_box .btn{width:2.34rem;height:0.72rem;border-radius: 0.48rem;background:#fff;margin: 0.3rem auto;text-align: center;color:#5A8AF1;line-height: 0.72rem;cursor: pointer;font-size: 0.28rem;display: block}

/* question */
.p_question{width: 100%;height: 100%;background: url(../../images/questionnaire/question_bg.png) no-repeat 0 0;background-size: 100% 100%;position: relative;}
.conBox{width:6.9rem;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.itemBox{width: 100%;background: #fff;border-radius: 0.12rem;padding:0.8rem 0.4rem 0.9rem 0.4rem;position: relative;margin:0 auto}
.itemBox .pointImg{width:3.4rem;height:0.48rem;}
.itemBox .pointImg.rightTop{position: absolute;right:12px;top:12px}
.itemBox .pointImg.leftBottom{position: absolute;left:12px;bottom:12px;transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.questionBox{overflow: hidden;}
.item{overflow: hidden;display: none}
.item.active{display: block}
.item .question{font-size: 0.32rem;color:#545765;line-height: 0.4rem;display:block}
.item .listUl{padding:0.2rem;margin-top:0.1rem;width:100%;overflow: hidden;}
.listUl li{/* width: 4rem; */height:0.62rem;margin:0.2rem auto;border:1px solid #E4E4E4;border-radius: 0.32rem;line-height:0.58rem;font-size: 0.28rem;text-align: left;color:#5C5B60;padding:0 0.1rem;}
.listUl li.active{color:#fff;background:linear-gradient(to right, #439DF0 , #7885E9)}
.listUl .writeArea{width: 100%;line-height: 0.36rem;font-size: 0.28rem;padding:0.15rem;border: 1px solid #E4E4E4;display: none;float: left;color: #5C5B60;}
.listUl .writeArea.show{display: block;}
.item .inputBox{width:100%;height:5.8rem;border: 1px solid #E4E4E4;position: relative;padding:0.2rem;float: left;margin:0.3rem auto;border-radius: 0.12rem}
.item .inputBox textarea{width: 100%;height: 90%;line-height: 0.32rem;font-size: 0.28rem;color:#5C5B60;}
.item .inputBox .countBox{position: absolute;bottom:0.1rem;right:0.1rem;height:0.4rem}
.item .inputBox .countBox span{line-height: 0.4rem;color:#E4E4E4;font-size: 0.28rem;display: block;float: left;}
.btnBox{margin:0.56rem auto;width:5.28rem;overflow: hidden;}
.btnBox p{float:left;width:2.34rem;height:0.72rem;line-height: 0.68rem;text-align: center;font-size: 0.28rem;border-radius: 0.48rem;color:#fff;border:1px solid #fff;}
.btnBox p.next{background: #fff;color:#5A8AF1;border:1px solid #fff}
.btnBox p.disabled{background: #36499F;border:1px solid #36499F}

/* finish */
.p_finish{width: 100%;height: 100%;background: url(../../images/questionnaire/finish_bg.png) no-repeat 0 0;background-size: 100% 100%;padding:2rem 0}
.conBox{width:6.9rem;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.finish_con{width: 100%;;background: #fff;border-radius: 0.12rem;position: relative;padding:1.2rem;margin:0 auto}
.divBox{width: 100%;height: 100%;background: #fff;border-radius: 0.12rem;display: none}
.divBox .img{width:2.6rem;height:2.32rem;margin:0 auto;display: block}
.divBox .pointImg{width:3.52rem;height:0.48rem;}
.divBox .pointImg.rightTop{position: absolute;right:0.24rem;top:0.24rem}
.divBox .pointImg.leftBottom{position: absolute;left:0.24rem;bottom:0.24rem;transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.divBox .tip{font-size: 0.32rem;color: #545765;line-height: 0.4rem;text-align: center;display: block;margin:0.3rem auto}
.divBox .tip span{color:#FF5E95;font-size: 28px;font-weight: bold;line-height: 0.6rem}
.p_finish .btn{width:2.34rem;height:0.72rem;border-radius: 0.48rem;background: #fff;margin:0.5rem auto;text-align: center;color:#5A8AF1;line-height: 0.72rem;cursor: pointer;font-size: 0.28rem;display: block}

.site_toastTip {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site_toastTip .textTip {
    min-height: 0.48rem;
    line-height: 0.48rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.12rem;
    font-size: 0.28rem;
    color: #ffffff;
    padding: 0.2rem 0.3rem;
    max-width: 80%;
}






















