.p_login{width: 100%;height: 100%;background: url(../../images/questionnaire/mobile_bg.png) no-repeat 0 0;background-size: 100% 100%;position: relative;padding-top:1rem}
.logo{margin:0 auto;display: block;width:1rem;height:auto}
.title{line-height: 1.5rem;font-size: 0.6rem;color:#fff;text-align: center;width:100%;}
.loginBox{width:6.9rem;background: #fff;padding:0.6rem;border-radius: 0.12rem;margin:0.5rem auto 0}
.loginBox .item{width:100%;border-bottom:1px solid #E9EDFF;height:1rem;position: relative}
.loginBox .item .imgBox{width:1rem;height:1rem;float: left;}
.loginBox .item .imgBox img{display: block;width:0.36rem;height:0.46rem;margin:0.32rem auto 0}
.loginBox .item input{display: block;float: left;font-size: 0.32rem;line-height: 0.8rem;border:0;height:0.8rem;margin-top:0.15rem}
.verify_img{position: absolute;right:0;bottom:0}
.errorTip{font-size: 0.32rem;color: red;width: 100%;text-align: center;line-height: 0.8rem;font-weight: bold;height: 0.8rem;}
.loginBtn{width:4.88rem;height:0.96rem;text-align: center;line-height: 0.96rem;margin:0.2rem auto 0.6rem;font-size: 0.36rem;border-radius: 0.48rem;background:linear-gradient(to right, #439DF0 , #7885E9);color:#fff;display: block}
.registerBtn{display: block;margin:0 auto;font-size: 0.3rem;color:#5C5B60;text-align: center;width: 2rem;}
.site_toastTip {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site_toastTip .textTip {
  min-height: 0.48rem;
  line-height: 0.48rem;
  background:rgba(0,0,0,0.6);
  border-radius: 0.12rem;
  font-size: 0.28rem;
  color: #ffffff;
  padding: 0.2rem 0.3rem;
  max-width: 80%;
}















