<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$APP_SKIN_PATH}images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('/v3/css/base.css')?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('/v3/css/common.css')?>">
    <script src="<?php echo $this->asset->makeUrl('/v3/js/common/jquery-1.10.2.min.js')?>"></script>
    <script src="<?php echo $this->asset->makeUrl('/v3/js/common/html5shiv.js')?>"></script>
    <script src="<?php echo $this->asset->makeUrl('/v3/js/common/common.js')?>"></script>
    <link href="<?php echo $this->asset->makeUrl('/v3/css/user_charge.css')?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $this->asset->makeUrl('/v3/css/user_doLogin.css')?>" type="text/css" rel="stylesheet">
    <script src="<?php echo $this->asset->makeUrl('/v3/js/common/jquery_placeholder-1.0.js')?>"></script>
    <link href="<?php echo $this->asset->makeUrl('/v3/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
    <script src="<?php echo $this->asset->makeUrl('/v3/js/widget/select/select.v1.1.js');?>"></script>
    <link href="<?php echo $this->asset->makeUrl('/v3/js/temp/weebox.css')?>" type="text/css" rel="stylesheet">
    <script src="<?php echo $this->asset->makeUrl('/v3/js/temp/jquery.weebox.1.2.js')?>"></script>


    <title>{$page_title} - {$website}</title>
    <script type="text/javascript">
    function refresh() {
        document.getElementById("captcha").src = "/verify.php?w=91&h=36&rb=0&rand=" + new Date().valueOf();
    }
    </script>
    <style type="text/css">
        html, body { width: auto; height: auto; min-height: 0px; min-width: 0px; }
        .p_user_dologin .form-wrap { top: 0px; left: -2px;background: none;border-bottom: none;width: 424px; }
        .m_header, .m_footer, .log-footer { display: none; }
        .p_user_dologin .form-wrap .ipt-form {  padding: 0px!important; }
        .p_user_dologin .form-wrap .reg-head{background: #fcfcfc;}
        .p_user_dologin .form-wrap .reg-head h2{ font-size: 18px;padding-left: 20px; }
        .nc-lang-cnt{font-size:14px;}
        .p_user_dologin .form-wrap .reg-head h2 i {
            background: #ee4634;
            border: 1px solid #ee4634;
            width: 3px;
            height: 18px;
            margin-right: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;
        }
    </style>

</head>


<body class="p_user_dologin">
    <textarea style="display:none;" id="test_coding">{function name="get_adv" x="open登录滑块验证测试代码勿动"}</textarea>
    <!-- 此段必须要引入 -->
    <div id="_umfp" style="display:inline;width:1px;height:1px;overflow:hidden"></div>
    <!-- 引入结束 -->
    <div class="form-wrap" >
        <div class="ipt-form" >
            <div class="reg-head">
                <!--<div class="sub-tit color_gray">没有账号? <a href="/user/register{$querystring}" class="blue">免费注册</a></div>-->
                <h2><i></i>请使用网信理财会员账号登录</h2>
            </div>
            <div class="log-mid" >
                <div class="height_placeholder">
                    <div class="login_err" {if isset($error)} style="display:block;">{$error}{else if}>{/if}</div>
                </div>
                <form method="post" action="/user/doLogin{$querystring}" id="loginForm">
                    <input type="hidden" id="valid_phone" value="" name="valid_phone">
                    <?php echo token_input(); ?>
                        <div class="log-form clearfix">
                            <!-- 用户选择下拉列表中中国时 -->
                            <div class="log-item clearfix" style="z-index:21;">
                                <div class="select_box" data-name="country_code" id="" >
                                    <div class="j_select"></div>
                                    <ul class="select_ul none j_selectContent">
                                        {if isset($mobile_codes) }
                                            {foreach from=$mobile_codes item=val}
                                                {if $val.is_show}
                                                <li data-value="{$val.code}" data-name="{$val.country}"><i class="icon-{$val.country}"></i>{$val.name}</li>
                                                {/if}
                                            {/foreach}
                                            {else}
                                                <li data-value="86" data-name="cn"><i class="icon-cn"></i>中国大陆</li>
                                        {/if}
                                    </ul>
                                </div>
                                <div class="ipt-wrap w224">
                                    <!--<div class="areacode" id="areacode" style="display:none;">+86</div>-->
                                    <input type="text" tabindex="1" value="" data-con="require" placeholder="手机号" name="username" id="user" class="txt-tel w197 int_placeholder" data-placeholder="手机号" autocomplete="off">
                                </div>
                            </div>
                            <div class="log-item">
                                <label class="pwd log-sprite"></label>
                                <input type="password" autocomplete="off" style="display:none;">
                                <input id="input-password" class="txt-input  padd-l47 int_placeholder" type="password" name="password" placeholder="登录密码" data-placeholder="登录密码" tabindex="2" style="padding-left:45px;width: 215px;">
                            </div>
                            <div class="log-item item-veri clearfix">
                                {if isset($show_vcode) && $show_vcode eq '1'}
                                <input type="text" tabindex="3" placeholder="右侧数字" id="input-captcha" name="captcha" class="txt-input int_placeholder" data-placeholder="右侧数字">
                                <div class="img-Veri">
                                    <img id="captcha" src="/verify.php?w=91&h=36&rb=0" onclick="refresh()">
                                </div>
                                <div class="refresh" onclick="refresh()">换一张</div>
                                {else}
                                <div class="ln">
                                    <div id="dom_id"></div>
                                </div>

                                <input type='hidden' id='csessionid' name='csessionid'/>
                                <input type='hidden' id='sig' name='sig'/>
                                <input type='hidden' id='risk_token' name='risk_token'/>
                                <input type='hidden' id='scene' name='scene'/>
                                {/if}
                                <!-- <a href="/user/ForgetPwd" target="_blank" class="forget-pwd blue">忘记密码?</a> -->
                            </div>
                            <div class="log-item">
                                <div class="log-form-btn">
                                    <input type="submit" value="登录" class="btn-sub  log-sprite">
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <script src="<?php echo $this->asset->makeUrl('v3/js/oauth/login.js');?>"></script>
    <!-- 此段必须要引入 t为小时级别的时间戳 -->
    <link type="text/css" href="//g.alicdn.com/sd/ncpc/nc.css?t=1469604520917" rel="stylesheet"/>
    <script type="text/javascript" src="//g.alicdn.com/sd/ncpc/nc.js?t=1469604520917"></script>
    <!-- 引入结束 -->
    {if $is_wxlc eq 1}
    <div class="log-footer">
        <p>客服热线：400-890-9888 （工作时间 7:00-23:00） 京ICP证130046号
            <br>{$COMPANY_NAME}
            <br>© 2017 All rights reserved
    </div>
    {else}
        <div style="height: 60px"></div>
        {$webTemplPublicFoot}
    {/if}
    <script type='text/javascript'>
    var _ncf = {
        "prd": "firstp2p",
        "pstr": "",
        "pfunc": null,
        "pcon": "",
        "pck": {
            "channel": "channel",
            "fpid": "fpid"
        },
        "trid": "",
        "channel": ['pubid', 'mediumid', 'adid', 'adsize'],
        "rfuniq": [],
        "rfmuti": []
    };
    (function(p, h, s) {
        var o = document.createElement(h);
        o.src = s;
        p.appendChild(o)
    })(document.getElementsByTagName("HEAD")[0], "script", "<?php echo $this->asset->makeUrl('default/js/ncfpb.1.5.min.js');?>");
    </script>
    <!-- 此段必须要引入 -->
    <script>
        var test_coding = $("#test_coding").val();
        if(test_coding){
            eval(test_coding);
        }else{
            var nc = new noCaptcha();
            var nc_appkey = 'XHZA';  // 应用标识,不可更改
            var nc_scene = 'login';  //场景,不可更改
            var nc_token = [nc_appkey, (new Date()).getTime(), Math.random()].join(':');
            var nc_option = {
                renderTo: '#dom_id',//渲染到该DOM ID指定的Div位置
                appkey: nc_appkey,
                scene: nc_scene,
                token: nc_token,
                // trans: '{"name1":"code100"}',//测试用，特殊nc_appkey时才生效，正式上线时请务必要删除；code0:通过;code100:点击验证码;code200:图形验证码;code300:恶意请求拦截处理
                callback: function (data) {// 校验成功回调
                    console.log(data.csessionid);
                    console.log(data.sig);
                    console.log(nc_token);

                    document.getElementById('csessionid').value = data.csessionid;
                    document.getElementById('sig').value = data.sig;
                    document.getElementById('risk_token').value = nc_token;
                    document.getElementById('scene').value = nc_scene;
                }
            };
            nc.init(nc_option);
        }

    </script>
    <!-- 引入结束 -->
</body>

</html>


