
{include file="web/views/header.html"}
<div class="p_user_register">
    <!-- <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/weebox.css');?>"> -->
    <link href="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_pwdrule.css');?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $this->asset->makeUrl('v3/css/p_register_landing.css');?>" type="text/css" rel="stylesheet">
    <style type="text/css">
    .ui-form .er-icon, .ui-form .error-wrap{display: none;}
    .p_user_register .ui-form li { overflow: visible; }
       body{ background: none;}
        html, body { width: auto; height: auto; min-height: 0px; min-width: 0px; }
        .layAppTopnew{ display: none;}
        .p_user_register .reg-mid{ padding: 0px 0px!important;}
        .ui-form ul.reg_content { margin-left: 0px!important;}
        .ui-form .btn-w30 ,.p_user_register .ui-form .btn-w30{ padding-left:0px;padding-top:0;padding-bottom:8px;}
        .ui-form .btn-w30 {text-align: center!important;}
        .p_user_register .pad_left{ padding-left: 255px !important;}
        .ui-form .tc{ text-align: left;padding-left:280px;}
        .wrap,.p_user_register { width: 710px; margin: 0;position: absolute;top: 0px;left: 0px; }
        .r-menu{ display: none;}
        .m_header,.m_footer{display:none;}
        .p_user_register .btn-sub{background:#ee4634; }
        .borderRadius8{border-radius: 8px;}
        .borderRadiusLeft8{border-radius: 8px 0px 0px 8px;}
        .borderRadiusRight8{border-radius:0px 8px 8px 0px;}
        .select_box ul{top:33px;}
        .p_user_register input.txt-tel{padding-left:13px;margin-left: 0px;}
        .p_user_register .reg_bg {
            width: 350px;
            height: 437px;
            background: url(../images/user/reg_landing/reg_bg1.png) no-repeat;
            position: absolute;
            top: 40px;
            left: 76%;
            margin-left: 185px;
        }
        .reg-mid {
            background-color: white;

        }
        .p_user_register .btn-sub {

        }
        .p_user_register .reg-mid {
            padding: 15px 0px 15px 0!important;
        }
        .p_user_register .ui-form ul {margin-left:33px;}
        .p_user_register .ui-form .txt ,.p_user_register .ipt-wrap , .select_box div{border-color: #E6E6E6;}
        .p_user_register .reg_tips_red {padding:10px;margin:15px 26px 0;}
        .isNewUser_11626.fixed {display: none;}
    </style>
    <div class="reg_bg">
        {if false == $source }
        <h2 style="display:none;">个人用户注册</h2> {else /}
        <h2 style="display:none;">会员注册</h2>
        <input data-label="注册来源" type="hidden" id="input-source" name="source" value="{$source}" jump-url="{$bedev}" /> {/if}
        <div class="reg-mid">
            <div class="ui-form">
                <form action="/user/doRegister{$querystring}?from=reg" method="post" id="reg_v2">
                    <?php echo token_input(); ?>
                    <input data-label="短信验证码" type="hidden" id="input-code" name="code" value="">
                    <ul class="clearfix">
                        <!-- 得到焦点时添加类名ipt-focus -->
                        <li class="tel-ver clearfix" style="*z-index:2">
                            <div class="select_box" data-name="country_code" id="" style="z-index:11">
                                <div class="j_select"></div>
                                <ul class="select_ul none j_selectContent">
                                    {if isset($mobile_codes) } {foreach from=$mobile_codes item=val} {if $val.is_show}
                                    <li data-value="{$val.code}" data-name="{$val.country}"><i class="icon-{$val.country}"></i>{$val.name}</li>
                                    {/if} {/foreach} {else}
                                    <li data-value="86" data-name="cn">
                                        <i class="icon-cn"></i>中国大陆</li>
                                    {/if}
                                </ul>
                            </div>
                            <div class="ipt-wrap w224">
                                <input type="text" value="{$data.mobile}" data-con="require" placeholder="手机号" name="mobile" id="input-mobile" class="txt-tel int_placeholder" data-placeholder="手机号" autocomplete="off">
                            </div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                <div class="e-text">{$error.mobile}</div>
                            </div>
                        </li>
                        <li class="pwd-item clearfix" id="pwd-item">
                            <span>
                        <input type="password" style="display:none;" autocomplete="off">
                            <input type="password" value="" data-con="require" placeholder="密码(6-20位数字、字母、标点符号)" name="password" id="input-password" class="txt int_placeholder" data-placeholder="密码(6-20位数字、字母、标点符号)" data-stretype="0" autocomplete="off" maxlength="20">
                        </span>
                            <div class="pwd-sprite pwd-show eye"></div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i><span><span></span></span>
                                </div>
                                <div class="e-text">{$error.password}</div>
                            </div>
                            <div id="" class="pass-item-tip-password">
                                <ul id="pwd-checklist" class="pwd-checklist">
                                    <li class="safety-level">
                                        <span class="process low">弱</span>
                                        <span class="process">中</span>
                                        <span class="process">强</span>
                                        <span class="ml4 color-low" style="display:none">低</span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        {if $is_wxlc}
                          <li class="clearfix {if $event_cn_hidden}none{/if}">
                                <input type="text" value="{if isset($appInfo.inviteCode) && $appInfo.inviteCode}{$appInfo.inviteCode}{else /}{$cn}{/if}" data-con="require"  placeholder="邀请码选填"
                                       name="invite" id="input-invite" class="txt int_placeholder" data-placeholder="邀请码选填">
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">邀请码不对</div>
                               </div>
                           </li>
                        {else /}
                          <li class="clearfix {if !$setParmas.CodeNotHidden}none{/if}">
                                <input type="text" value="{if isset($appInfo.inviteCode) && $appInfo.inviteCode}{$appInfo.inviteCode}{else /}{$cn}{/if}" data-con="require"  placeholder="邀请码选填"
                                       name="invite" id="input-invite" class="txt int_placeholder" data-placeholder="邀请码选填">
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">邀请码不对</div>
                               </div>
                           </li>
                        {/if}

                        <li class="graph-ver clearfix">
                            <input type="text" value="" data-con="require" placeholder="右侧数字" name="captcha" id="input-captcha" class="txt int_placeholder" data-placeholder="右侧数字">
                            <div class="img-Veri">
                                <img title="点击刷新" src="/verify.php?w=50&h=36&rb=0" id="captcha" width="100">
                            </div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i><span></span></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                <div class="e-text"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="btn-w30">
                        <input class="btn-sub newbie_registered" type="submit" id="submit_button" value="立即注册">
                    </div>
                    <!-- <div class="p2p-ui-checkbox"> -->
                        <div class="ml70">
                            <!--<a href="javascript:void(0)" data-ui="checkbox" class="common-sprite check-normal check-select"></a>-->
                            <a id="protocol" class='grey'>我已阅读并同意<span class="blue">《注册协议及隐私保护政策》</span></a>
                        </div>
                        <!-- <div class="error-wrap" id="agreement_msg">
                            <div class="form-sprite e-arrow"></div>
                            <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                            <div class="e-text">不同意注册协议无法完成注册</div>
                        </div> -->
                        <input data-con="require" type="hidden" name="agreement" value="1" id="agree">
                        <i></i>
                    <!-- </div> -->
                    <div class="reg_tips_red">平台不会以任何方式，向未注册用户收取费用。若遇到向用户预先收费的行为，请广大用户提高警惕</div>
                </form>
            </div>
        </div>
    </div>

    {if $is_firstp2p eq 1}
    <script type="text/javascript">
        $('.p2p_hide').remove();
        $('.reg_com').html('已有账号？<a href="/user/login" class="blue">马上登录</a>');
    </script>
    {/if}
</div>
<script src="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/oauth/pas_strength_v2.js');?>" type="text/javascript"></script>

<script type="text/javascript">
    var today = new Date();
    var  year = today .getFullYear();
    var month = today .getMonth() + 1;
    var day= today .getDate();
    var ymd = year +""+ month+"" + day;
    var oHead = document.getElementsByTagName('HEAD').item(0);
    var oScript= document.createElement("script");
    oScript.type = "text/javascript";
    oScript.src="https://dfp1api.ncfwx.com/public/downloads/frms-fingerprint.js?custID=dfp&serviceUrl=https://dfp1api.ncfwx.com/public/generate/jsonp&loadSource=script&type=1&ymd="+ymd;
    oHead.appendChild( oScript);
</script>
<!-- 短信验证码弹出框 -->
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.bgiframe.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.weebox.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/widget/p2p-ui-checkbox.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/p2p_validate.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/oauth/user_reg_new.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/jquery_placeholder-1.0.js');?>"></script>
<script type="text/javascript">
var nogetCode = '{function name="get_adv" x="短信验证码获取文案_2015"}';
if (nogetCode == "") {
    nogetCode = '如未收到验证码，我们将以18401558140~18401558149号段再次发送，或拨打客服热线 <span style="color:#f75939;">400-890-9888</span>（工作时间 8:00-20:00）。';
}
</script>

<script type='text/javascript'>
var _ncf = {
    "prd": "firstp2p",
    "pstr": "",
    "pfunc": null,
    "pcon": "",
    "pck": {
        "channel": "channel",
        "fpid": "fpid"
    },
    "trid": "",
    "channel": ['pubid', 'mediumid', 'adid', 'adsize'],
    "rfuniq": [],
    "rfmuti": []
};
(function(p, h, s) {
    var o = document.createElement(h);
    o.src = s;
    p.appendChild(o)
})(document.getElementsByTagName("HEAD")[0], "script", "<?php echo $this->asset->makeUrl('default/js/ncfpb.1.5.min.js');?>");
</script>
<!--[if IE 6]>
<link href="<?php echo $this->asset->makeUrl('v1/css/ie6-fix.css');?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belatedPNG.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belated_ie6_fix.js');?>"></script>
<![endif]-->
<!--logId:{$logId}-->
<?php
    //灰度标签
    if(get_cfg_var('p2p_rc') == 1){
        echo "RC";
    }
?>
    </body>

    </html>
