<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网信普惠</title>
    <link rel="shortcut icon" href="//static.firstp2p.com/upload/img/82/19/82194aa8cf7a82520bf7becb03d2de3d.png" type="image/x-icon" />
<!-- 诸葛统计 -->
<script>
  var isOnLineAPPKEY = document.domain =='www.firstp2p.cn'? '225796fea53a4cedaf56b2d18a3bb2f4': 'c1b0b022bd1f44f7b2194eab97ca119e';
</script>
<script type="text/javascript">
window.zhuge = window.zhuge || [];window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" ");
window.zhuge.factory = function(b) {return function() {var a = Array.prototype.slice.call(arguments);a.unshift(b);
window.zhuge.push(a);return window.zhuge;}};for (var i = 0; i < window.zhuge.methods.length; i++) {
var key = window.zhuge.methods[i];window.zhuge[key] = window.zhuge.factory(key);}window.zhuge.load = function(b, x) {
if (!document.getElementById("zhuge-js")) {var a = document.createElement("script");var verDate = new Date();
var verStr = verDate.getFullYear().toString()+ verDate.getMonth().toString() + verDate.getDate().toString();
a.type = "text/javascript";a.id = "zhuge-js";a.async = !0;a.src ='https://stat.ncfwx.com/zhuge.js?v=' + verStr;
a.onerror = function(){window.zhuge.identify = window.zhuge.track = function(ename, props, callback){if(callback && Object.prototype.toString.call(callback) === '[object Function]')callback();};};
var c = document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a, c);window.zhuge._init(b, x)}};
window.zhuge.load(isOnLineAPPKEY,{superProperty:{PlatformType:'web'},autoTrack:true});//配置应用的AppKey
</script>
<!-- 神策统计 -->
<script type='text/javascript'>
(function(para) {
  var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
  w['sensorsDataAnalytic201505'] = n;
  w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
  var ifs = ['track','quick','register','registerPage','registerOnce','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
  for (var i = 0; i < ifs.length; i++) {
    w[n][ifs[i]] = w[n].call(null, ifs[i]);
  }
  if (!w[n]._t) {
    x = d.createElement(s), y = d.getElementsByTagName(s)[0];
    x.async = 1;
    x.src = p;
    x.setAttribute('charset','UTF-8');
    y.parentNode.insertBefore(x, y);
    w[n].para = para;
  }
})({
  sdk_url: 'https://static.sensorsdata.cn/sdk/1.9.11/sensorsdata.min.js',
  heatmap_url: 'https://static.sensorsdata.cn/sdk/1.9.11/heatmap.min.js',
  name: 'wxsa',
  web_url: 'https://wangxin.cloud.sensorsdata.cn/?project=production',
  server_url: 'https://wangxin.cloud.sensorsdata.cn:4006/sa?token=4175318fdc7df657&project=production',
  heatmap:{},
  show_log:false
});
wxsa.registerPage({PlatformType:'web'});
wxsa.quick('autoTrack');
</script>

    <meta name="keywords" content="网信，第一p2p, p2p，网络借贷，网络贷款，借贷 ，网络平台，民间借贷，小额贷款，无抵押贷款，信用贷款，投资理财，借钱，企业贷款，小企业贷款，个人经营贷款，融资" />
    <meta name="description" content="网信作为金融科技开放平台，为用户提供一站式综合金融信息服务，为金融机构提供线上用户入口，输出金融科技技术，实现互联网金融服务的共享模式。" />
    <!-- 压缩输出 -->
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v4/css/all.v1.min.css');?>" />
   <script type="text/javascript" src="//assets.firstp2p.cn/201806281707/v3/cache/common_v3.all.min.js"></script>
    <!--[if lte IE 9]>
      <script type="text/javascript" src="https://assets.ncfwx.com/201804111503/v1/js/common/html5shiv.js"></script>
    <![endif]-->
      <script type="text/javascript">
          var USER_INFO = {if !empty($user_info)}1{else}0{/if};
      </script>
    <script type="text/javascript">
        window.onload = function() {
            $('.notice_wap .notice_close').click(function() {
                $('.notice_wap').hide()
            });
        }
        function noticeUp(obj, top, time) {
            $(obj).animate({
                marginTop: top
            }, time, function() {
                $(this).css({ marginTop: "0" }).find(":first").appendTo(this);
                // alert($(this).width())
            })
        }
        $(function() {
            // 调用 公告滚动函数
            if($('.content ul li').length > 1){
                setInterval("noticeUp('.notice_wap .content ul','-35px',500)", 3000);
            }
        });
    </script>
    <style>
        .notice_wap{ background-color:#f7cc9f; height:35px; line-height:35px; position:relative; border:1px solid #f7cc9f; overflow:hidden; }
        .notice_wap .content{ width:1200px; margin:0 auto; }
        .notice_wap .notice_close{ position:absolute; right:20px; top:4px; width:20px; }
        .notice_wap .notice_close img{ width:20px; }
        .notice_wap a{ display:block; }
        .layAppTopnew {display: none!important;}
    </style>
  </head>
 <body>
    <!-- 存管协议 -->
    <!-- end -->
    <input type="hidden" value="1" class="JS_is_wxlc">
    <input type="hidden" value="1" class="isNewUser_hidden" id="isNewUser_hidden" data-desc="判断是不是新手" />

<!--注册页头部代码 start-->
<header class="m_header clearfix">
<link href="//assets.firstp2p.cn/201806212003/v4/css/p2p_index.css" type="text/css" rel="stylesheet">
<style>
   .menu_fixed {position: static;}
   .m_header {height:100px;}
</style>
      <div class="clearfix menu_fixed" style="width:100%;" id="menu_fixed">
        <div class="w1100" style="position:relative;z-index:4;">
          <a class="logo new_logo" href="/"></a>
          <div class="logo_text">网贷有风险，出借需谨慎</div>
                      <div class="my_unreg">
            <a href="/user/login" class="login_btn" data-inner='登录'>登录</a>
            <a href="/user/register" class="reg_btn" data-inner='免费注册'>免费注册</a>
          </div>
          <nav id="top_nav">
            <ul>
              <li class=" select">
                <a href="/">首页</a></li>
              <li class=" ">
                <a href="/deals?tab=p2p" target="">我要出借</a></li>
              <li class=" ">
                <a href="/help/id-975" target="_blank">媒体报道</a></li>
              <li class=" ">
                <a href="/disclosure/showData">信息披露</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

<!--注册页头部代码 end-->

<div class="p_user_register">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/weebox.css');?>">
    <link href="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.css');?>" rel="stylesheet" type="text/css">
    <link href="<?php echo $this->asset->makeUrl('v3/css/user_pwdrule.css');?>" type="text/css" rel="stylesheet">

    <link href="<?php echo $this->asset->makeUrl('v3/css/p_register_landing.css');?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $this->asset->makeUrl('v3/css/p_register_p2p_2008.css');?>" type="text/css" rel="stylesheet">
    <div class="reg_bg">
        {if false == $source }
        <h2 style="display:none;">个人用户注册</h2> {else /}
        <h2 style="display:none;">会员注册</h2>
        <input data-label="注册来源" type="hidden" id="input-source" name="source" value="{$source}" jump-url="{$bedev}" /> {/if}
        <div class="reg-mid">
         <div class="top_part">
            <div><img src="<?php echo $this->asset->makeUrl('v3/images/user/reg_p2p_2008/i3.jpg');?>" /></div>
            <h3>免费注册网信普惠账户</h3>
            <h4>已有账户？<a href="/user/login">立即登录</a></h4>
         </div>
            <div class="ui-form">
                <form action="/user/doRegister{$querystring}?from=reg" method="post" id="reg_v2">
                    <?php echo token_input(); ?>
                    <input data-label="短信验证码" type="hidden" id="input-code" name="code" value="">
                    <ul class="clearfix">
                        <!-- 得到焦点时添加类名ipt-focus -->
                        <li class="tel-ver clearfix" style="*z-index:2">
                            <div class="fl icon_div"></div>
                            <div class="select_box" data-name="country_code" id="" style="z-index:11">
                                <div class="j_select"></div>
                                <ul class="select_ul none j_selectContent">
                                    {if isset($mobile_codes) } {foreach from=$mobile_codes item=val} {if $val.is_show}
                                    <li data-value="{$val.code}" data-name="{$val.country}"><i class="icon-{$val.country}"></i>{$val.name}</li>
                                    {/if} {/foreach} {else}
                                    <li data-value="86" data-name="cn">
                                        <i class="icon-cn"></i>中国大陆</li>
                                    {/if}
                                </ul>
                            </div>
                            <div class="ipt-wrap w224">
                                <input type="text" value="{$data.mobile}" data-con="require" placeholder="请输入手机号码" name="mobile" id="input-mobile" class="txt-tel int_placeholder" data-placeholder="请输入手机号码" autocomplete="off">
                            </div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                <div class="e-text">{$error.mobile}</div>
                            </div>
                        </li>
                        <li class="pwd-item clearfix" id="pwd-item">

                            <span>
                        <input type="password" style="display:none;" autocomplete="off">
                            <input type="password" value="" data-con="require" placeholder="请输入密码(6-20位数字、字母、标点符号)" name="password" id="input-password" class="txt int_placeholder" data-placeholder="请输入密码(6-20位数字、字母、标点符号)" data-stretype="0" autocomplete="off" maxlength="20">
                        </span>
                            <div class="pwd-sprite pwd-show eye"></div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i><span><span></span></span>
                                </div>
                                <div class="e-text">{$error.password}</div>
                            </div>
                            <div id="" class="pass-item-tip-password">
                                <ul id="pwd-checklist" class="pwd-checklist">
                                    <li class="safety-level">
                                        <span class="process low">弱</span>
                                        <span class="process">中</span>
                                        <span class="process">强</span>
                                        <span class="ml4 color-low" style="display:none">低</span>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        {if $is_wxlc}
                          <li class="clearfix {if $event_cn_hidden}none{/if}">
                                <input type="text" value="{if $appInfo.inviteCode}{$appInfo.inviteCode}{else /}{$cn}{/if}" data-con="require"  placeholder="邀请码选填"
                                       name="invite" id="input-invite" class="txt int_placeholder" data-placeholder="邀请码选填">
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">邀请码不对</div>
                               </div>
                           </li>
                        {else}
                          <li class="clearfix {if !$setParmas.CodeNotHidden}none{/if}">
                                <input type="text" value="{if $appInfo.inviteCode}{$appInfo.inviteCode}{else /}{$cn}{/if}" data-con="require"  placeholder="邀请码选填"
                                       name="invite" id="input-invite" class="txt int_placeholder" data-placeholder="邀请码选填">
                                <div class="error-wrap">
                                    <div class="form-sprite e-arrow"></div>
                                    <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                    <div class="e-text">邀请码不对</div>
                               </div>
                           </li>
                        {/if}

                        <li class="graph-ver clearfix" id="graph-ver">
                            <input type="text" value="" data-con="require" placeholder="请输入右侧数字" name="captcha" id="input-captcha" class="txt int_placeholder" data-placeholder="请输入右侧数字">
                            <div class="img-Veri">
                                <img title="点击刷新" src="/verify.php?w=50&h=36&rb=0&vname=verify_register" id="captcha" width="100">
                            </div>
                            <div class="er-icon"><i class="form-sprite icon-right"></i><span></span></div>
                            <div class="error-wrap">
                                <div class="form-sprite e-arrow"></div>
                                <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                                <div class="e-text"></div>
                            </div>
                        </li>
                    </ul>

                     <!-- <div class="p2p-ui-checkbox"> -->
                        <div class="ml70">
                            <!--<a href="javascript:void(0)" data-ui="checkbox" class="common-sprite check-normal check-select"></a>-->
                            <a id="protocol" class="grey">我已阅读并同意<span class="blue">《注册协议及隐私保护政策》</span></a>
                        </div>
                        <!-- <div class="error-wrap" id="agreement_msg">
                            <div class="form-sprite e-arrow"></div>
                            <div class="ew-icon"><i class="form-sprite icon-wrong"></i></div>
                            <div class="e-text">不同意注册协议无法完成注册</div>
                        </div> -->
                        <input data-con="require" type="hidden" name="agreement" value="1" id="agree">
                        <i></i>
                    <!-- </div> -->

                    <div class="btn-w30">
                        <input class="btn-sub" type="submit" id="submit_button" value="">
                    </div>

                    <div class="reg_tips_red">{if $is_firstp2p }平台{ else }网信{/if}不会以任何方式，向未注册用户收取费用。若遇到向用户预先收费的行为，请广大{if !$is_firstp2p }投资者{ else }用户{/if}提高警惕</div>
                </form>
            </div>
        </div>
    </div>
    {function name="get_adv" x="普惠注册页banner_2018"}
    {if $is_firstp2p eq 1}
    <script type="text/javascript">
        $('.p2p_hide').remove();
        $('.reg_com').html('已有账号？<a href="/user/login" class="blue">马上登录</a>');
    </script>
    {/if}
</div>
<script src="<?php echo $this->asset->makeUrl('v3/js/widget/select/select.v1.1.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/oauth/pas_strength_v2.js');?>" type="text/javascript"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/risk/frms-fingerprint-min.js')?>"></script>
<!-- 短信验证码弹出框 -->
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.bgiframe.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/temp/jquery.weebox.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/widget/p2p-ui-checkbox.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/p2p_validate.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/oauth/user_reg_new_p2p.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/common/jquery_placeholder-1.0.js');?>"></script>
<script type="text/javascript">
var nogetCode = '{function name="get_adv" x="短信验证码获取文案_2015"}';
if (nogetCode == "") {
    nogetCode = '如未收到验证码，我们将以18401558140~18401558149号段再次发送，或拨打客服热线 <span style="color:#f75939;">400-890-9888</span>（工作时间 8:00-20:00）。';
}
</script>

<script type="text/javascript">
    var today = new Date();
    var  year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day= today.getDate();
    var ymd = year +""+ month+"" + day;
    var oHead = document.getElementsByTagName('HEAD').item(0);
    var oScript= document.createElement("script");
    oScript.type = "text/javascript";
    oScript.src="https://dfp1api.ncfwx.com/public/downloads/frms-fingerprint.js?custID=dfp&serviceUrl=https://dfp1api.ncfwx.com/public/generate/jsonp&loadSource=script&type=1&ymd="+ymd;
    oHead.appendChild( oScript);
</script>
<script type='text/javascript'>
wxsa.track('RegisterInfoFill', {
  EnterySource: document.referrer
});
zhuge.track('RegisterInfoFill', {
  EnterySource: document.referrer
});
var _ncf = {
    "prd": "firstp2p",
    "pstr": "",
    "pfunc": null,
    "pcon": "",
    "pck": {
        "channel": "channel",
        "fpid": "fpid"
    },
    "trid": "",
    "channel": ['pubid', 'mediumid', 'adid', 'adsize'],
    "rfuniq": [],
    "rfmuti": []
};
(function(p, h, s) {
    var o = document.createElement(h);
    o.src = s;
    p.appendChild(o)
})(document.getElementsByTagName("HEAD")[0], "script", "<?php echo $this->asset->makeUrl('default/js/ncfpb.1.5.min.js');?>");
//埋点
$('#top_nav').on('click','ul li a',function(){
  var txt = this.innerHTML;
  zhuge.track('注册_顶部导航点击情况',{
    '位置': txt
  });
})
function zhugeTrack(place, name, id, content){
    data_inner = $(this).attr('data-inner')
    $('html').on('click',place,function(){
        var data = {};
        data[id] = content;
        zhuge.track(name, data)
    })
}
zhugeTrack('.new_logo','注册_顶部导航点击情况','位置','普惠网站logo')
zhugeTrack('.login_btn','注册_顶部导航点击情况','位置','登录')
zhugeTrack('.reg_btn','注册_顶部导航点击情况','位置','免费注册')
zhugeTrack('.top_part','注册_点击立即登录','','')
zhugeTrack('#submit_button','注册_点击立即注册','','')
zhugeTrack('#protocol','注册_点击注册协议','','')
$(function(){
  zhuge.track('进入注册页')
})
</script>
<!--[if IE 6]>
<link href="<?php echo $this->asset->makeUrl('v1/css/ie6-fix.css');?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belatedPNG.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->asset->makeUrl('v1/js/common/DD_belated_ie6_fix.js');?>"></script>
<![endif]-->
<!--logId:{$logId}-->
<?php
    //灰度标签
    if(get_cfg_var('p2p_rc') == 1){
        echo "RC";
    }
?>
    </body>

    </html>
