body{background:url(../images/bg.png);}
/*head*/
.m-head{ height:157px;border-bottom:3px solid #cc0000; background:none;}
.m-head .fix_width{background:url(../images/head_bg.png) no-repeat right top; height:77px;}
.m-head .fix_width span a{background:url(../images/logo.png) no-repeat; width:220px; height:53px; margin-top:11px;}
.m-head .fix_width menu ul li.bg_li{background:url(../images/index_icon.png) 0 -179px no-repeat;}
.m-head .fix_width menu ul li i.g-pos-i,.m-head .fix_width menu ul li:hover i.g-pos-i{background:url(../images/index_icon.png) 0 -206px no-repeat;}
.g-head-right{padding-top:0px;}
.g-head-right ul li.li_bg{background:url(../images/index_icon.png) 0 -179px no-repeat;}
.shadow{ box-shadow:none; border:1px solid #ecd585; border-radius:0;}
/*banner*/
#focus{ border-top:none;}
.slide,.slide_img,.slide_img img{ height:290px;}
.rightBt, .leftBt{ top:105px;}
/*tab*/
.tabhd{ display:none;}
.product_hd{ background-color:#f9f0d9;}
.product_con{box-shadow:none; border-radius:0;}
.tabContent{border:1px solid #ecd585; }
.view,.tabbd .but-blue{ background:#f30000;}
.view:hover,.tabbd .but-blue:hover{background:#df0303;}
.icon_new{ background:#f30000;}
.product_bd2 .icon_complete{ background-image:url(../images/index_icon1.png);}
i.mt, .mt_01, .mt_02, .pro_links i.badge, .pro_links i.badge:hover, .pro_links i.badge_01, .pro_links i.badge_01:hover, .pro_links i.badge_02, .pro_links i.badge_02:hover, .bottle, .bottle_01, .bottle_02, .product_bd2 .icon_car, .product_bd2 .icon_room, .product_bd2 .icon_personal, .product_bd2 .icon_enterprise, .product_bd2 .icon_assets, .product_bd2 .icon_melting, .pro_links i.badge_03, .product_bd2 .icon_ysd, .product_bd2 .icon_ddd, .product_bd2 .icon_xs, .icon_yitou{ background-image:url(../images/index_icon1.png);}
.partner{ margin-bottom:10px;}
.partner_title i.icon_partner{ background:url(../images/ft_ic.png) 0 center no-repeat; width:46px; height:54px; margin:0;}
/*foot*/
.m-foot{ background:url(../images/linebg.png) repeat-x #e6dac2; padding-top:35px; height:260px;}
.about-us{ border-color:#ecd585;}
.about-us dl dd,.hotline,.m-information .g-weixin h3,.about-us dl dt a,.g-copyright p{ color:#535252;}
.m-information{ height:155px;}
.m-information-left{ height:125px;}
.g-weixin-bg{ background:url(../images/wx.png) no-repeat; width:75px; height:75px; padding:0; border:1px solid #ecd585;}
/*分页*/
.pages a:hover,.pages .current{ background:#f30000; border-color:#f30000; color:#fff}
/*内容页*/
.touzi_top .tztop_left{ border-radius:0; box-shadow:none; background:#fff; border:1px solid #ecd585; border-top:3px solid #f30000;}
.title_box{ background:#f9f9f9; border-bottom:1px solid #e5e5e5;}
.touzi_top .tztop_right{ width:307px; border-radius:0; box-shadow:none; border:1px solid #ecd585; border-left:none; margin-top:8px;}
.main{border-radius:0; box-shadow:none;border:1px solid #ecd585;border-top:3px solid #f30000;}
.app{display:none;}
.g-head-right ul li .g-message-number{top:0px;}


