@charset "utf-8";
.m_header .new_logo {background:url(../images/p2p/20180426184952.png) no-repeat;width: 170px;height:39px;margin-right:20px;}
.m_header {margin-bottom: 25px;}

.ztx_liIner46782_box.act .inner {background: none;}

.m_header .my_account a {width:130px;height:40px;line-height: 40px;text-align: center;color:#fff;background: url(../images/p2p/20180426150849.png) no-repeat;}
.m_header .my_unreg {float: right;margin:22px 0 0 60px;}
.m_header .my_unreg a {display: inline-block;width:103px;height:38px;line-height: 38px;text-align: center;border-radius:30px;border:1px solid #fff;color:#fff;font-size: 14px;}
.m_header .my_unreg .reg_btn {margin-left:25px;background-image:url(../images/p2p/234@2x.png) ;border:0;}
.m_header .my_unreg .reg_btn:hover {background-image:url(../images/p2p/20180427183501_hover.png) ;}
.m_header .my_unreg .login_btn {height:36px;line-height: 36px;width:101px;}
.m_header .my_unreg .login_btn:hover {border-color:#fb5b41;color:#fb5b41;}
.m_header .my_unreg a {border:1px solid #787878;color:#000;}
.m_header .my_unreg .reg_btn {color:#fff;}

.ztx_liIner46782_box:hover { border-left: 0;border-right:0; background:none; }
.ztx_liIner46782_box.act .inner:hover {border-bottom:0;background: none;};