html,body {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
.line_through{text-decoration: line-through;}
.color_gray{
  color: #C4C4C4;
}
.color_red{
  color: #EE4634;
}
.color_green{color:#277a2d; }
.stock{ 
    color:#EE4634;
}
.fs9 { font-size:9px; }
.fs13 { font-size:13px; }
.f14{font-size: 14px;}
.fs18{ font-size:18px; }
.fs14{ font-size:14px; }
.fr { float:right; }
.pr25 { padding-right:25px; }
.pr15 { padding-right:15px; }
.fs32{ font-size:32px; }
.pl20{padding-left: 20px;}

/*********券样式*********/
.card, .house_card{width: 50%; float: left;padding: 15px 0px 0;text-align: center;}
.card .quan_bg{
    background: url(../../images/candy/quan_bg.png) no-repeat top center;
    width: 95px;
    height: 85px;
    background-size: 100%;
    margin: 0 auto;
    color: #1C82DE;
    padding-top: 18px;
    position: relative;
}
.card .quan_bg .given_icon{
  position: absolute;
  right: -28px;
  background: #1C82DE;
  color: #fff;
  padding: 0px 10px 0px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  top: 5px;
}
.card .quan_bg p{line-height: 12px; font-size: 9px;}
.house_card .quan_bg{
  background: url(../../images/candy/house.png) no-repeat top center;
  width: 95px;
  height: 85px;
  background-size: 100%;
  margin: 0 auto;
  color: #fff;
  padding-top: 18px;
  position: relative;
}
.house_card ._quan_bg{
  padding-top: 0px;
}
.house_card .quan_bg .house_txt{
  font-size: 9px;
  line-height: 17px;
}
/*虚拟商品*/
.virtual {
  padding: 15px 0px 0;
  width: 50%;
  float: left;
  text-align: center;
}

.virtual .left_img {
  width: 95px;
  height: 103px;
  background: url(../../images/candy/bitmap.png) no-repeat top center;
  display: block;
  margin: 0 auto;
  background-size: 100%;
}
.virtual .cre_logo{
  background: url(../../images/candy/cre_logo.png) no-repeat top center;
  background-size: 100%;
}
.virtual .left_img img {
  width: 72px;
  height: 74px;
}

.virtual .middle {
  display: inline-block;
}

.virtual .middle .cont {
  font-size: 13px;
  color: #000;
}

.virtual .middle .bit_yellow{
  font-size:11px;
  color:rgba(245,166,35,1);
}
.virtual .middle .price {
  text-decoration: line-through;
}

.give_suc_icon{background: url(../../images/candy/Group.png) no-repeat center top; width: 53px; height: 53px; display: inline-block; background-size: 100%;margin-top: 15px; margin-bottom: 5px;}
.showToast{bottom: 50%!important;}

.loadbox01 .list {
  padding: 15px 0 0;
  width: 50%;
  float: left;
  height: 157px;
}

.loadbox01 .list .left_img {
  width: 95px;
  height: 95px;
  display: block;
  margin: 0 auto;
}

.loadbox01 .list .left_img img {
  width: 95px;
  height: 95px;
}

.loadbox01 .list .middle {
text-align: center;
}

.loadbox01 .list .middle .cont {
  color: #000;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 15px 10px 0;
  margin-bottom: 5px;
}
.eleven_activity_wap .top_process{ height:70px; }