* {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
.p_pick_discount{
    padding: 20px 0px 20px 0px;
}
.p_pick_discount .btn .ling {
    background: #1c82de;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.p_pick_discount .btn .color_gray {
    color: #1c82de;
}

.confirm_exchange_mask {
    display: none;
}

.confirm_exchange_mask .bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
}

.confirm_exchange_mask .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 30%;
    border-radius: 5px;
    background: #fff;
    z-index: 102;
}

.confirm_exchange_mask .cont .tit {
    color: #000;
    font-size: 17px;
    width: 84%;
    margin: 0 auto;
    margin-top: 43px;
}

.confirm_exchange_mask .cont .deatail {
    color: #909090;
    font-size: 15px;
    width: 84%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 16px;
}

.confirm_exchange_mask .cont .deatail2 {
    display: none;
}

.confirm_exchange_mask .cont .btn {
    color: #fff;
    font-size: 16px;
    width: 40%;
    text-align: center;
    background-color: #EE4634;
    margin: 35px 5px 23px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.confirm_exchange_mask .btn1 {
    background-color: #E6E6E6 !important;
    color: #909090 !important;
}

.stock{
    color:#EE4634;
}

.showToast{bottom: 50%!important;}
