
*{margin:0; padding:0;}
img{ width:100%; }
body{ padding-bottom:0px!important }
.eleven_activity_wap{position:relative;}
.eleven_activity_wap .content{ background-color:#2a1b4c; position:relative;}
.eleven_activity_wap .content .txt{ font-size:12px; color:#FFF; background-color:#2a1b4c; background:rgba(0,0,0,.5); position:absolute; margin-top:19px; margin-left:23%; padding:3px 10px; border-radius:25px; display:none; }
.eleven_activity_wap .content .help{ width:20px; position:absolute; top:21px; right:16px; }
.eleven_activity_wap .content .back{ width:7px; position:absolute; top:18px; left:16px; }
.eleven_activity_wap .content .top{ width:100%; }
.eleven_activity_wap .content .win_fish{ position:absolute; right:5%; top:-107%; width:20%; }
.eleven_activity_wap .content .top_process{ margin-top:-14%; padding:0 5%; position:relative; }
.eleven_activity_wap .content .led{ margin-top:-1%; padding:0 3%;}
.eleven_activity_wap .content .JS_led_1,.JS_led_2,.JS_led_3{ display:none; }
.eleven_activity_wap .content .bg_bottom{ margin-top:-29%; position:relative; }
.eleven_activity_wap .content .bottom_txt{ padding:0 18% 29%; margin-top:-5%; margin-left:-10%; }
.eleven_activity_wap .content .bottom{ position:fixed; bottom:1px; }
.eleven_activity_wap .content .bottom img{ margin-bottom:-2%; }

/*mask*/
.eleven_activity_wap .mask_content {width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100000; top:0; left:0; filter: alpha(opacity=50); display:none;}
.eleven_activity_wap .img_box{ margin-top:10%; position:relative; padding:0 12%;}
.eleven_activity_wap .btn{ position:absolute; width:33%; height:10%; top:85%; left:34%; }
.mask1 {margin-left:2%}
/*提交表单*/
.eleven_activity_wap .mask_submit {width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100000; top:0; left:0; filter: alpha(opacity=50); display:none;}
.eleven_activity_wap .mask_submit .img_box{ margin-top:19%; width:56%; margin-left:10%; background-color:#6831b1; border-radius:5%; background-color:#6831b1; padding-bottom:1px;}
.eleven_activity_wap .mask_submit .tit{ width:52%; margin:0 auto; padding-top:11%; }
.eleven_activity_wap .back{ margin-left:10%; }
.eleven_activity_wap .mask_submit .txt{ margin-top:10%; color:#fff; font-size:13px; text-align:center; }
/*.eleven_activity_wap .btn_sub{ margin:19% auto; width:60%; }*/
.eleven_activity_wap .img_box .box{ margin:20% 0 15%; }
.eleven_activity_wap .img_box .icon{ display:inline-block; width:43%; }
.eleven_activity_wap .img_box .to_charge{ margin-left:7%; display:none; }
.eleven_activity_wap .img_box .btn_sub{ margin-left:4%; margin-right:5% }

/*底部按钮*/
.eleven_activity_wap .btn_box_list{ background:url(../../images/candy/eleven_activity/bottom_three.png) no-repeat bottom; background-size:100%; }
.eleven_activity_wap .btn_box{ position:fixed; width:100%; height:13%; bottom:0;}
.eleven_activity_wap .btn_box .btn_1{ width:33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_2{ width: 33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_3{ width:32%; height:100%; float:right; }
a{display:block; height:100%}

/*list*/
.eleven_activity_wap .content .cont{ background:url(../../images/candy/eleven_activity/cont_bg_3.png) no-repeat center top; background-size:93%; padding:16% 0 0 8%;}
.eleven_activity_wap .cont .list{ width:45%; display:inline-block; padding-top:1.5%; position:relative;}
.eleven_activity_wap .cont .list .rate{ position:absolute; top:54%; left:44%; font-size:8px; }
.eleven_activity_wap .cont .list .num{ color:#9c39a0; }
.eleven_activity_wap .cont .list .test{ position:absolute; width:105%; height:100%; top:0; left:0; background-size:100%; margin-left:-3%;}
.eleven_activity_wap .cont .sub_wish{ margin:2% 0 0 -9%; padding-bottom:19%;}
.eleven_activity_wap .cont .to_charge{ margin:2% 0 0 -9%; padding-bottom:19%; display:none}
.eleven_activity_wap .active{ background:url(../../images/candy/eleven_activity/shop_item_bg.png) no-repeat }