*{margin:0; padding:0;}
img{ width:100%; }
a{ display: block; height:100%; }
/*body,html{ overflow-x:hidden; }*/
body{ padding-bottom:0px!important }
.eleven_activity_wap .content{ background-color:#2a1b4c; position:relative;}
.eleven_activity_wap .content .txt{ font-size:12px; color:#FFF; background-color:#2a1b4c; background:rgba(0,0,0,.5); position:absolute; margin-top:19px; margin-left:23%; padding:3px 10px; border-radius:25px; display:none; }
.eleven_activity_wap .content .help{ width:20px; position:absolute; top:21px; right:16px; }
.eleven_activity_wap .content .back{ width:7px; position:absolute; top:18px; left:16px; }
.eleven_activity_wap .content .top{ width:100%; }
.eleven_activity_wap .content .win_fish{ position:absolute; right:5%; top:-107%; width:20%; }
.eleven_activity_wap .content .top_process{ margin-top:-14%; padding:0 5%; position:relative; }
.eleven_activity_wap .content .led{ margin-top:-1%; padding:0 9%;}
.eleven_activity_wap .content .JS_led_1,.JS_led_2,.JS_led_3{ display:none; }
.eleven_activity_wap .content .cont{ background:url(../../images/candy/eleven_activity/cont_bg.png) no-repeat; padding:0 12%; background-size:100%; margin-top:-14%;overflow-x: hidden;}
.eleven_activity_wap .content .cont .quan_1{ padding-top:22%!important; z-index:1 }
.eleven_activity_wap .content .cont .quan_2{ width:117%; margin:-45% 0 -48% 0; }
.eleven_activity_wap .content .cont .quan_4{ margin-top:-13%!important; }
.eleven_activity_wap .content .cont .quan{ position:relative; padding-top:2% }
.eleven_activity_wap .content .cont .quan .btn{ position:absolute; bottom:10%; right:-14%; width:26%; z-index:10 }
.eleven_activity_wap .content .cont .quan_2 .btn{ position:absolute; bottom:38%; right:2%; width:22% }
.eleven_activity_wap .content .bg_bottom{ margin-top:-29%; position:relative; }
.eleven_activity_wap .content .bottom_txt{ padding:0 18% 29%; margin-top:-5%; }
.eleven_activity_wap .content .bottom{ position:fixed; bottom:2px; z-index:100 }
/*.eleven_activity_wap .content .bottom_11_{ display:none; }*/
.eleven_activity_wap .content .bottom img{ margin-bottom:-2%; }
.eleven_activity_wap .mask_content {width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100000; top:0; left:0; filter: alpha(opacity=50); display:none;}
.eleven_activity_wap .img_box{ margin-top:10%; position:relative; padding:0 12%;}
.eleven_activity_wap .mask_content .btn{ position:absolute; width:33%; height:10%; top:85%; left:34%; }
.eleven_activity_wap .btn_box{ position:fixed; width:100%; height:13%; bottom:0; z-index:101; }
.eleven_activity_wap .btn_box_11{ background:url(../../images/candy/eleven_activity/bottom.png) no-repeat bottom; background-size:100%; }
.eleven_activity_wap .btn_box_11_{ background:url(../../images/candy/eleven_activity/bottom1.png) no-repeat bottom; background-size:100%; }
.eleven_activity_wap .btn_box .btn_1{ width:33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_2{ width: 33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_3{ width:32%; height:100%; float:right; }