
*{margin:0; padding:0;}
img{ width:100%; }
body{ padding-bottom:0px!important; height:100%;}
.eleven_activity_wap{position:relative;}
.eleven_activity_wap .content{ background-color:#2a1b4c; position:relative;}
.eleven_activity_wap .content .txt{ font-size:12px; color:#FFF; background-color:#2a1b4c; background:rgba(0,0,0,.5); position:absolute; margin-top:19px; margin-left:23%; padding:3px 10px; border-radius:25px; display:none; }
.eleven_activity_wap .content .help{ width:20px; position:absolute; top:21px; right:16px; }
.eleven_activity_wap .content .back{ width:7px; position:absolute; top:18px; left:16px; }
.eleven_activity_wap .content .top{ width:100%;}
.eleven_activity_wap .content .win_fish{ position:absolute; right:5%; top:-107%; width:20%; }
.eleven_activity_wap .content .top_process{ margin-top:-14%; padding:0 5%; position:relative; }
.eleven_activity_wap .content .led{ margin-top:-1%; padding:0 3%;}
.eleven_activity_wap .content .JS_led_1,.JS_led_2,.JS_led_3,.JS_led_4{ display:none; }
.eleven_activity_wap .content .bg_bottom{ margin-top:-29%; position:relative; }
.eleven_activity_wap .content .bottom_txt{ padding:0 18% 29%; margin-top:-5%; }
.eleven_activity_wap .content .bottom{ position:fixed; bottom:1px; z-index:100 }
.eleven_activity_wap .content .bottom img{ margin-bottom:-2%; }
/*mask*/
.eleven_activity_wap .mask_content {width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100000; top:0; left:0; filter: alpha(opacity=50); display:none;}
.eleven_activity_wap .img_box{ margin-top:10%; position:relative; padding:0 12%; }
.eleven_activity_wap .btn{ position:absolute; width:33%; height:10%; top:85%; left:34%; }

/* 心愿卡 */
.eleven_activity_wap .content .cont{ padding:0 0 10%; position:relative; }
.eleven_activity_wap .content .cont .bg{ background:url(../../images/candy/eleven_activity/cont_bg_two_2.png) no-repeat left center; background-size: 13%; }
.eleven_activity_wap .content .cont .xin{position:absolute; width:12%; top:26%; left:17.8%; z-index:10}
.eleven_activity_wap .content .shop{ position:absolute; height:43%; width:81%; top:26%; margin-left:18%; }
.eleven_activity_wap .content .shop_left{ float:left; width:33%; height:100%; }
.eleven_activity_wap .content .shop_left img{ width:80%; padding:15%; }
.eleven_activity_wap .content .shop_right{ font-size:12px; width:61%; padding:20% 3% 0 0; float:right; }
.eleven_activity_wap .content .shop_right .tit{ font-weight:bold; }
.eleven_activity_wap .content .shop_right .suc{ color:#9c39a0; font-style:italic; }
.eleven_activity_wap .content .shop_right .txt1{ font-size:10px; }

/*底部按钮*/
.eleven_activity_wap .btn_box{ position:fixed; width:100%; height:13%; bottom:0; z-index:101 }
.eleven_activity_wap .btn_box .btn_1{ width:33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_2{ width: 33%; height:100%; float:left; }
.eleven_activity_wap .btn_box .btn_3{ width:32%; height:100%; float:right; }
a{display:block; height:100%}

/*惊喜揭晓*/
.eleven_activity_wap .mask_surprise,.mask_no_surprise{ width:100%; height:100%; background-color:rgba(0,0,0,0.6); position:fixed; z-index:100000; top:0; left:0; filter: alpha(opacity=50); display:none; }
.eleven_activity_wap .jinli_box,.lucky_box{ margin-top:10%; position:relative; width:80%; left:10%;}
.eleven_activity_wap .cont_prize .start{ padding:0 4%; z-index:2; position:absolute; top:0; -webkit-animation:breath 3s infinite;}
.eleven_activity_wap .cont_prize .start_bg{ padding:5% 10% 4%; }
.eleven_activity_wap .box_prize{ position:absolute; top:7%; left:24%; width:54%; -webkit-animation:breath_prize_box 5s infinite;  background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:100%; z-index:2}
.eleven_activity_wap .box_prize_open{ position:absolute; top:7%; left:24%; width:60%; -webkit-animation:open 5s; background-size:93%; }
.eleven_activity_wap .box_prize_open_{background:url(../../images/candy/eleven_activity/open3.png) no-repeat; background-size:93%; }
.eleven_activity_wap .btn_prize{ position:absolute; top:64%; margin:0 19%; z-index:100; }
.eleven_activity_wap .btn_prize .led_btn{background:url(../../images/candy/eleven_activity/1.png) no-repeat; background-size:100%; width:100%; position:absolute; z-index:101; top:0; height:100%; -webkit-animation:led_btn 3s infinite steps(1,end); background-position:0 -13%; }

/*惊喜揭晓弹窗*/
.eleven_activity_wap .mask_no_surprise .mask_box{ margin-top:28%; width:76%; margin-left:12%; border-radius:5%; background-color:#6831b1; color:#fff; font-size:14px; -webkit-animation: change .9s;}
.eleven_activity_wap .mask_surprise .jinli_box,.lucky_box{ -webkit-animation: change_prize .9s;}
.eleven_activity_wap .mask_no_surprise .tit{ width:39%; margin:auto; padding-top:12%; }
/*.eleven_activity_wap .mask_no_surprise p{ text-align:center; }*/
.eleven_activity_wap .mask_no_surprise .txt{padding:6% 8% 0;}
.eleven_activity_wap .mask_no_surprise .back{ padding:12% 34% 8%; }
.eleven_activity_wap .btn_box_prize{ background:url(../../images/candy/eleven_activity/bottom_four.png) no-repeat bottom; background-size:100%; }
/*按钮灯*/
@-webkit-keyframes led_btn {
    0% { background-size:100%; background-position: 0 -13%;}
    50% { background-size:100%; background-position: 0 119%;}
    100% { background-size:100%; background-position: 0 -13%;}
}
/*弹窗*/
@-webkit-keyframes change{
    0% {-webkit-transform:scale(.5); margin-top:50%;}
    100% {-webkit-transform:scale(1); margin-top:28%;}  
}
@-webkit-keyframes change_prize{
    0% {-webkit-transform:scale(.5); margin-top:30%;}
    100% {-webkit-transform:scale(1); margin-top:10%;}
}
/*星星闪动*/
@-webkit-keyframes breath {
    from { opacity: 0.4; }
    50%  { opacity:   1; }
    to   { opacity: 0.4; }
}

/*开宝箱*/
@-webkit-keyframes open {
    5%{ -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -7deg); background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:93%;}
    6%,8%,10%,12%, 14%, 16%, 18%, 20%, 22%, 24%{ -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 7deg); background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:93%;}
    7%, 9%, 11%, 13%, 15%, 17%, 19%, 21%, 23% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -7deg); background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:93%;}
    25% { -webkit-transform: scale3d(1, 1, 1); background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:93%;}

    26%  { background:url(../../images/candy/eleven_activity/open0.png) no-repeat; background-size:93%; }
    27%  { background:url(../../images/candy/eleven_activity/open1.png) no-repeat; background-size:93%; }
    28%  { background:url(../../images/candy/eleven_activity/open2.png) no-repeat; background-size:93%; }
    29%, 35%, 40%, 60%, 70%, 80%,90%, 100% { background:url(../../images/candy/eleven_activity/open3.png) no-repeat; background-size:93%; }
}

/*宝箱抖动*/
@-webkit-keyframes breath_prize_box {
    5%{ 
        -webkit-transform: scale3d(1, 1, 1);-webkit-transform:rotate3d(0, 0, 1, -7deg); 
    }
    7%,11%,15%,19%, 23%, 27%{ 
        -webkit-transform: scale3d(1.1, 1.1, 1.1); -webkit-transform:rotate3d(0, 0, 1, 7deg); 
    }
    9%, 13%, 17%, 21%, 25% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1); -webkit-transform:rotate3d(0, 0, 1, -7deg); 
    }
    29% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

/*大奖结果页*/
.eleven_activity_wap .content .result_tit2, .result_tit3 { display:none; }
/*.eleven_activity_wap .content .cont { display:none; }*/
.eleven_activity_wap .content .cont_no_prize{ margin:0 5%; background:url(../../images/candy/eleven_activity/sorry_border.png) no-repeat; background-size:100%;}
.eleven_activity_wap .content .for_bg{ background:url(../../images/candy/eleven_activity/cont_bg_two_2.png) no-repeat 0 34%; background-size:12%;}
.eleven_activity_wap .content .have_prize_border{ padding:0 5%; }
.eleven_activity_wap .content .cont_no_prize .copywriter{ color:#fff; text-align:center; background:url(../../images/candy/eleven_activity/txt_bg.png) no-repeat 0 22%; background-size:100%; padding:19% 0 65%; font-size:10px; margin:0 10%;}
.p_yellow{ font-style:italic; color:#ffd36a; }
.eleven_activity_wap .content .prize_fish{ padding:2% 5% 10%; }
.JS_lucky_prize .shop{ background:url(../../images/candy/eleven_activity/test.png) no-repeat; background-size: 100%; top:49%; width:79%; left:11%; position:absolute;}
.JS_lucky_prize .shop_right{ padding:23% 0 7% 45%; color:#9c39a0; font-style:italic; }
.JS_lucky_prize .xin{ top:13%!important; }
.JS_lucky_prize .xin_mask{ position:absolute; left:10.4%; top:49%; z-index:10; width: 13%; }
.JS_lucky_prize .lucky_txt{ color:#fff; text-align:center; background:url(../../images/candy/eleven_activity/txt_bg.png); background-size:100%; font-size:10px; padding:1% 3%; position:absolute; top:57%; left:13%; width:69%; }
.JS_lucky_prize .lucky_box{ position:relative; width:80%; margin:0 auto; }
.JS_lucky_prize_ .shop{ position:absolute; height:43%!important; width:67%!important; top:13%!important; margin-left:7%!important; }
.JS_lucky_prize_ .shop_right{width:56%!important; padding:22% 0 0 0!important;}
