
input::-webkit-input-placeholder {
    color: #d9d9d9;
    font-size: 20px;
}

input:-moz-placeholder {
    color: #d9d9d9;
    font-size: 20px;
}

input::-moz-placeholder {
    color: #d9d9d9;
    font-size: 20px;
}

input:-ms-input-placeholder {
    color: #d9d9d9;
    font-size: 20px;

}

.ex_wrapper {
    width: 100%;
    /*height: 135px;*/
    /*background: #F8F8F8;*/
}

.ex_wrapper .exchange {
    height: 84px;
    position: relative;
    background: #FFFFFF;
    margin: 0 15px;
    border: 1px solid #F5A623;
    display: -webkit-box;
}

.ex_wrapper .exchange input {
    display: block;
    height: 100%;
    padding: 0px 10px 0px 5px;
    margin: auto 0;
    font-size: 23px;
    color: #000000;
    border: none;
    -webkit-box-flex: 1;

}

.ex_wrapper .exchange .unit {
    padding-right: 6px;
    color: #000000;
    font-size: 23px;
}

.exchange_right {
    display: -webkit-box;
    width: 130px;
    line-height: 84px;
}

.ex_wrapper .exchange .button {
    height: 70px;
    line-height: 70px;
    margin-top: 7px;
    font-size: 15px;
    border-left: 1px solid #e7e7e7;
    padding: 0px 0px 0px 6px;
}

.ex_wrapper .tip {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0px 0px 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    line-height: 20px;
}

.ex_wrapper .tip .border {
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid #C8C8C8;
}

.ex_wrapper .tip .red {
    color: #EE4634;
}

.p_pick_discount .confirm_exchange {
    width: 90%;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    background: #EE4634;
    margin:20px auto 20px auto;
}

.p_pick_discount .protocol {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    padding: 15px 0px 30px 0px;
    font-size: 12px;
    color: rgba(144, 144, 144, 1);
    line-height: 20px;
}

.p_pick_discount .protocol span {
    color: #1C82DE;
}

/* ztx 2018/07/19 begin */
.bannerBox{
    height: 100px;
    background: #fd8300;
    background: -moz-linear-gradient(left,  #fd8300 0%, #d43600 100%);
    background: -webkit-linear-gradient(left,  #fd8300 0%,#d43600 100%);
    background: linear-gradient(to right,  #fd8300 0%,#d43600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8300', endColorstr='#d43600',GradientType=1 );
    text-align: center;
    color: #fff;
}
.bannerBox .title{
    font-size: 36px;
    height: 60px;
    line-height: 60px;
    padding-top:15px;
}
.bannerBox .totalLimit{
    font-size:13px;
    height: 20px;
    line-height:20px;
    margin-top:-5px;
}
.ui_tab_box{
    background-color: #fff;
    padding:10px 0px 15px 0px;
}
.ex_wrapper .userLimit {
    font-size:13px;
    width: 90%;
    height: 20px;
    line-height: 20px;
    margin:5px auto 0px auto;
}

.p_exchange_cre .mobile_code_box_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
  }
  
  .p_exchange_cre .mobile_code_box {
    width: 280px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  
  .p_exchange_cre .mobile_num {
    text-align: center;
    font-size: 17px;
    padding: 20px 10px 10px 10px
  }
  
  .p_exchange_cre .send_code {
    padding: 10px;
    height: 70px
  }
  
  .p_exchange_cre .again_send {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #fff;
    background: #ee4634;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 14px;
    display: none
  }
  
  .p_exchange_cre .code_input {
    border: none;
    border-radius: 3px;
    width: 262px;
    height: 40px;
    background: transparent;
    letter-spacing: 30px;
    padding-left: 15px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    z-index: 1;
    color: transparent;
  }
  
  .p_exchange_cre .code_input {
    text-indent: -999em;
    margin-left: -100%;
    width: 200%;
  }
  
  
  /* .p_exchange_cre .code_input:focus{background: #ccc;} */
  
  .p_exchange_cre .input_default,
  .p_exchange_cre .input_focus {
    height: 40px;
    background: url(../../images/candy/code_input_bg.png) repeat-x 0 -42px;
    background-size: 40px;
    width: 240px;
    margin: 0 auto;
    position: relative
  }
  
  .p_exchange_cre .input_focus,
  .p_exchange_cre .input_error {
    background: url(../../images/candy/code_input_bg.png) repeat-x 0 0;
    background-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    letter-spacing: 30px;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;
    display: none;
  }
  
  .p_exchange_cre .input_error {
    background: url(../../images/candy/code_input_bg.png) repeat-x 0 -86px;
    background-size: 40px;
    width: 240px;
    display: none;
    height: 40px;
  }
  
  .code_text {
    width: 225px;
    position: absolute;
    left: 15px;
    top: 0px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 30px;
    font-size: 18px;
    text-align: left;
  }
  
  .p_exchange_cre .input_mask {
    background: #fff;
    width: 20px;
    height: 40px;
    right: -20px;
    position: absolute;
    z-index: 20;
  }
  
  .p_exchange_cre .mobile_code_close {
    width: 28px;
    height: 28px;
    position: absolute;
    left: -10px;
    top: -10px;
    background: #fff url(../../images/candy/close_btn.png) no-repeat center;
    background-size: 12px;
    border-radius: 50%
  }
  
  .p_exchange_cre .error_tips {
    display: none;
    font-size: 12px;
    padding-top: 10px;
    color: #ee4634;
  }
  
  .p_exchange_cre .countdown {
    height: 40px;
    overflow: hidden;
  }
  .p_exchange_cre #canvas {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    position: relative;
    top: -20px;
  }
.exchange_suc_pop .suc_icon{
    width: 53px;
    height: 53px;
    margin: 20px auto 10px;
    background: url(../../images/candy/exchange_suc.png) no-repeat;
    background-size: 100%;
}
.exchange_suc_pop .fail_icon{
    width: 53px;
    height: 53px;
    margin: 20px auto 10px;
    background: url(../../images/candy/exchange_fail.png) no-repeat;
    background-size: 100%;
}
.exchange_suc_pop .tips_title{
    font-size: 18px;
    padding-bottom:35px;
}
.exchange_fail_pop .tips_title{
    padding-bottom:10px;
}
.exchange_suc_pop .tips{
    font-size: 12px;
    color: #999999;
    padding: 12px 12px 0;
    border-top:1px solid #E6E6E6;
    text-align: left;
}
.exchange_suc_pop .error_msg{
    font-size: 13px;
    color: #999999;
    padding-bottom: 35px;
}
/* ztx 2018/07/19 end */