.p_extract .ex_address{padding:7px 0 0;background-color:#fff; margin-top:10px;}
.p_extract .ex_address h2{font-size:15px;font-weight: normal;padding:0 15px 0 6px;height:22px;line-height:22px;margin: 0;}
.p_extract .ex_address h2 i.title{width:2px;height:10px;background:#EE4634;display: inline-block;margin-right:5px;vertical-align:1px;}
.p_extract .ex_address .btn_h25_black{display:inline-block;height:24px;width:89px;line-height:24px;text-align: center;border:1px solid #000;border-radius: 20px;background:#FFF;}
.p_extract .ex_address .cont{padding:7px 15px 15px;}
.p_extract .mr10{margin-right:10px;}
.p_extract .mt15{margin-top:15px;}
.p_extract .ex_address .cont .ta .draw_add{  width: 97%; padding: 1%;border: 1px solid #DBDBDB;outline: none;}
.p_extract .ex_num{height:50px;line-height:50px;background:#FFF;font-size:14px;display: -webkit-box;padding:0 15px;}
.p_extract .ex_num span{display: block;}
.p_extract .ex_num .left{width:100px;}
.p_extract .ex_num .right{text-align: right;-webkit-box-flex:1}
.p_extract .ex_info .gray_line{height: 1px;width:54px;background:#D8D8D8;display:inline-block;vertical-align: middle;}
.p_extract .ex_info .text{margin:0 27px 0 27px;}
.p_extract .plr15{padding: 0 15px;}
.p_extract .btn_h40_red{opacity:0.2;font-size:17px;color:#FFF;display:inline-block;height:40px;width:100%;line-height:40px;text-align: center;border-radius: 3px;background:#EE4634;}
.p_extract .mt43{margin-top:43px;}
.p_extract .JS_confirm_draw{opacity:1;}
.ui_pop_ex { z-index: 9999; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.ui_pop_ex .popup_bg { opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 10; }
.ui_pop_ex .popup_box { position: absolute; left:0; bottom:0;background-color: #fff; z-index: 100; width: 100%; height: 377px; }
.ui_pop_ex .popup_head {height: 55px; line-height: 55px; text-align: center; font-size: 18px; color: #000; border-bottom: 1px #d9d9d9 solid; }
.ui_pop_ex .popup_head .btn_close{background:url(../../images/candy/close@3x.png) center no-repeat;display:inline-block;height:18px;width:18px;background-size: 18px auto;position: absolute;left:15px;top:17px;}
.ui_pop_ex .popup_content { padding: 42px 15px 37px; font-size: 14px; }
.ui_pop_ex .popup_content .img_com{border: 1px dashed #e6e6e6;width:165px;height:165px;text-align: center;margin:0 auto;}
.ui_pop_ex .mt32{margin-top:32px;}
.ui_pop_ex .down_load{font-size:13px;text-align: center;}
.ui_pop_ex .color_black{color:#000;}
body.p_draw_body { -webkit-user-select: none; user-select: none; }

.p_extract .mobile_code_box_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5)
}

.p_extract .mobile_code_box {
  width: 280px;
  height: 220px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.p_extract .mobile_num {
  text-align: center;
  font-size: 17px;
  padding: 20px 10px 10px 10px
}

.p_extract .send_code {
  padding: 10px;
  height: 70px
}

.p_extract .again_send {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  background: #ee4634;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px;
  display: none
}

.p_extract .code_input {
  border: none;
  border-radius: 3px;
  width: 262px;
  height: 40px;
  background: transparent;
  letter-spacing: 30px;
  padding-left: 15px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  z-index: 1;
  color: transparent;
}

.p_extract .code_input {
  text-indent: -999em;
  margin-left: -100%;
  width: 200%;
}


/* .p_extract .code_input:focus{background: #ccc;} */

.p_extract .input_default,
.p_extract .input_focus {
  height: 40px;
  background: url(../../images/candy/code_input_bg.png) repeat-x 0 -42px;
  background-size: 40px;
  width: 240px;
  margin: 0 auto;
  position: relative
}

.p_extract .input_focus,
.p_extract .input_error {
  background: url(../../images/candy/code_input_bg.png) repeat-x 0 0;
  background-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  letter-spacing: 30px;
  font-size: 18px;
  line-height: 40px;
  padding-left: 15px;
  display: none;
}

.p_extract .input_error {
  background: url(../../images/candy/code_input_bg.png) repeat-x 0 -86px;
  background-size: 40px;
  width: 240px;
  display: none;
  height: 40px;
}

.code_text {
  width: 225px;
  position: absolute;
  left: 15px;
  top: 0px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 30px;
  font-size: 18px;
  text-align: left;
}

.p_extract .input_mask {
  background: #fff;
  width: 20px;
  height: 40px;
  right: -20px;
  position: absolute;
  z-index: 20;
}

.p_extract .mobile_code_close {
  width: 28px;
  height: 28px;
  position: absolute;
  left: -10px;
  top: -10px;
  background: #fff url(../../images/candy/close_btn.png) no-repeat center;
  background-size: 12px;
  border-radius: 50%
}

.p_extract .error_tips {
  display: none;
  font-size: 12px;
  padding-top: 10px;
  color: #ee4634;
}

.p_extract .countdown {
  height: 40px;
  overflow: hidden;
}

.color_gold {
  color: #cca66f
}

.f25 {
  font-size: 25px
}

.tc {
  text-align: center
}

#canvas {
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  position: relative;
  top: -20px;
}
.p_extract .error_pop_mask{
  height: 100%; width: 100%; position: fixed; left: 0px; top: 0px;background: rgba(0, 0, 0, 0.5);
}
.p_extract .error_pop{
  width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%) ;
  -webkit-transform:translate(-50%,-50%) ;
  -moz-transform:translate(-50%,-50%) ;
  -ms-transform:translate(-50%,-50%) ;
  -o-transform:translate(-50%,-50%) ;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.p_extract .error_pop .close_btn{
  margin: 20px; height: 40px; line-height: 40px; text-align: center; background: #EE4634;color: #fff; font-size: 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.p_extract .error_pop .con{
  padding: 20px 20px 0;
  text-align: center
}