.p_product_detail{

}
.f32{font-size: 32px;}
.f22{font-size: 22px;}
.line_through{text-decoration: line-through;}
.product_box, .house_product_box{height: 180px; background: url(../../images/candy/quan_big_bg.png) no-repeat center #fff; background-size: 262px; padding: 111px 0 56px;}
.house_product_box{background: url(../../images/candy/house_big.png) no-repeat center #fff;background-size: 262px}
.product_position{
  position: relative; 
  width: 262px; margin: 0 auto;
}
.product_box p {line-height: 34px; text-align: center; color: #1C82DE; font-size: 18px; padding: 7px 0;text-align: center;}
.house_product_box p {color: #fff;}
.product_box .given_icon{
  position: absolute;
  right:-10px;
  background: #1C82DE;
  color: #fff;
  padding: 0px 20px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  top: -19px;
  font-size: 15px;
}
.exchange_rlue .title{
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}
.exchange_rlue .title .icon{
  width: 4px;
  height: 15px;
  display: inline-block;
  background: #EE4634;
  vertical-align: -2px;
  margin-right: 5px;

}
.exchange_rlue .con{
  background: #fff;
  padding: 20px 15px;
  color: #929598;
  font-size: 14px;
  text-align: justify;
}
.exchange_rlue .tips{
  color:#C3C4C4;
  padding: 15px 20px;
  font-size: 13px;
}
.disabled_button {
  background-color:#ccc!important; 
}
.product_con{background: #fff; margin-top: 10px;padding: 15px 15px 10px; font-size: 14px; color: #4D4F51;}
.product_con p{padding-bottom: 5px;}
.product_btn_box{height: 40px;}
.product_btn{height: 40px; width: 100%; position: fixed; bottom: 0px; left: 0px; background: #EE4634; line-height: 40px; text-align: center; font-size: 16px; color:#fff;}

@media only screen and (device-width: 375px) and (-webkit-device-pixel-ratio: 3) {
  .product_btn_box{height: 74px;}
  .product_btn{bottom: 34px;}
}