/*我的信宝*/
html,body{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
} 
body{ margin:0; padding:0; top:0; background: #fff; }
.p_shop_agreement{
  padding: 15px;
}
.p_shop_agreement .fb{
  font-weight: bold;
}
.p_shop_agreement div{
  text-indent: 2em;
}
.p_shop_agreement .agreement{height: 60px;}
.p_shop_agreement .agreement_btn_box{
  background: #f2f2f2;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
.p_shop_agreement .authorization_btn{
  display: block;
  margin: 10px;
  height: 40px;
  background: #EE4634;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}