body{
  background: #fff;
}
.p_task_intro{

}
.p_task_intro .task_list_box{
  padding: 34px 20px 0;
}
.p_task_intro .task_list_box li{
  padding-left: 26px;
  padding-bottom: 30px;
}
.p_task_intro .task_list_box h3{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
}
.p_task_intro .task_list_box p{
  font-size: 14px;
}
.p_task_intro .task_list_box .item_qiandao{
  background: url(../../images/candy/right.png) no-repeat left 0px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_choujiang{
  background: url(../../images/candy/price.png) no-repeat left 0px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_fenxiang{
  background: url(../../images/candy/person.png) no-repeat left 0px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_yaoqing{
  background: url(../../images/candy/yaoqing.png) no-repeat left 1px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_p2p{
  background: url(../../images/candy/list3.png) no-repeat left 1px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_zx{
  background: url(../../images/candy/list4.png) no-repeat left 0px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_duotou{
  background: url(../../images/candy/list5.png) no-repeat left 1px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_yue{
  background: url(../../images/candy/icon_yue.png) no-repeat left 1px;
  background-size: 19px;
}
.p_task_intro .task_list_box .item_activity{
  background: url(../../images/candy/icon_activity.png) no-repeat left 1px;
  background-size: 19px;
}