html,body {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
  
.stock{ 
    color:#EE4634;
 }

.p_pick_discount .btn .ling {
    background: #1c82de;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.p_pick_discount .btn .color_gray {
    color: #1c82de;
}
a{color: #000;}

/*遮罩层*/

.mask {
    display: none;
}

.mask .bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
}

.mask .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 30%;
    border-radius: 5px;
    background: #fff;
}

.mask .cont .tit {
    color: #000;
    font-size: 17px;
    width: 84%;
    margin: 0 auto;
    margin-top: 43px;
}

.mask .cont .deatail {
    color: #909090;
    font-size: 15px;
    width: 84%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 16px;
}

.mask .cont .deatail2 {
    display: none;
}

.mask .cont .btn {
    color: #fff;
    font-size: 16px;
    width: 40%;
    text-align: center;
    background-color: #EE4634;
    margin: 35px 5px 23px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.mask .btn1 {
    background-color: #E6E6E6 !important;
    color: #909090 !important;
}

/*弹窗01*/

.mask_01 {
    display: none;
}

.bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
}

.mask_01 .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 35%;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
}

.mask_01 .mingxi {
    padding: 15px 21px 5px;
    text-align: left;
    color: #000;
}

.mask_01 .title {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mask_01 .mingxi .deatail {
    margin-top: 6px;
}

.mask_01 .btn_box {
    margin: 15px;
}

.btn {
    display: inline-block;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
}

.mask_01 .btn1 {
    background-color: #E6E6E6;
    color: #909090;
    width: 36%;
    margin-right: 7px;
}

.mask_01 .btn2 {
    background-color: #EE4634;
    color: #fff;
    width: 58%;
}

/*弹窗02*/

.mask_02 {
    display: none;
}

.mask_02 .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 30%;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 17px;
}

.mask_02 .cont .mingxi {
    padding-top: 30px;
}

.mask_02 .btn1 {
    background-color: #E6E6E6;
    color: #909090;
    width: 45%;
    margin-right: 7px;
}

.mask_02 .btn2 {
    background-color: #EE4634;
    color: #fff;
    width: 45%;
}

.mask_02 .btn_box {
    margin: 22px;
}

.red {
    color: #EE4634;
}

.tab {
    padding: 0px 0 26px;
    background: #fff;
}

.tab .tit {
    line-height: 40px;
    padding-left: 18px;
    height: 38px;
    padding: 15px 15px 0
}

.tab .tit .more{
    color: #909090;
    display: block;
    font-size: 13px;
    background: url(../../images/candy/icon.png) no-repeat right 0px;
    background-size: 8px;
    width: 7px;
    height: 10px;
    margin-top: 16px;
}


.tab .name {
    font-size: 15px;
    color: #000;
}

.tab i {
    width: 2px;
    height: 12px;
    display: inline-block;
    background-color: #EE4634;
    margin-right: 5px;
}

.loadbox01 {

}

.loadbox01 .list {
    padding: 15px 0 0;
    width: 50%;
    float: left;
    height: 150px;
}

.loadbox01 .list .left_img {
    width: 95px;
    height: 95px;
    display: block;
    margin: 0 auto;
}

.loadbox01 .list .left_img img {
    width: 95px;
    height: 95px;
}

.loadbox01 .list .middle {
 text-align: center;
}

.loadbox01 .list .middle .cont {
    color: #000;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 15px 10px 0;
}
.loadbox01 .list .middle p:nth-of-type(2){
    line-height: 20px;
}
.loadbox01 .list .middle .price {
    text-decoration: line-through;
    color: #909090;
}


.loadbox01 .list .right .num {
    font-size: 12px;
    color: #EE4634;
    padding-top: 5px;
    display: inline-block;
}

.loadbox01 .list .right .name {
    font-size: 13px;
    background: #EE4634;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.loadbox01 .list .right .gray_bg {
    background: #E3E3E3;
    color: #4A4A4A;
}

/*虚拟商品*/
.tab2{
 padding-bottom: 0px;
}