信宝中心*/
*{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
} 
body{ margin:0; padding:0; top:0;}
.fs13 { font-size:13px; }
.f14{font-size: 14px;}
.fs18{ font-size:18px; }
.fs14{ font-size:14px; }
.fr { float:right; }
.pr25 { padding-right:25px; }
.pr15 { padding-right:15px; }
.fs32{ font-size:32px; }
.pt21{ padding-top: 21px; font-weight: bold!important; }
.entrance_new_{ top:226px!important; }
.clear_both{ height: 43px; }
.clear_both_ios{ height: 64px; }
.top_bg_4120_ios{ top:64px!important; }
.title_xinbao_center{ height: 50px; line-height: 53px; color: #030303;font-weight: bold; font-size: 19px; text-align: center;background: #fff; position: fixed; z-index: 1000; width: 100%; font-weight: 400;}
.top_bg_4120 { top:43px; }
.title_xinbao_center a{position: absolute;right: 15px;color: #6d6d6d!important;font-size: 15px;font-weight: normal!important; }
.p_candy_summary .content_top{ position:relative; z-index:100; color:white;text-align:left; }
.p_candy_summary .content_top .name{ padding-top:30px; margin-left:30px;opacity: 0.8;}
.p_candy_summary .content_top a{color: #fff;}
.p_candy_summary .content_top .name .icon_arrow{width: 5px; height: 5px; display: inline-block;border-top:1px solid #fff;border-left:1px solid #fff;transform:rotate(135deg);-ms-transform:rotate(135deg); -moz-transform:rotate(135deg);-webkit-transform:rotate(135deg);-o-transform:rotate(135deg);vertical-align: 1.5px;margin-left:3px;}
.p_candy_summary .content_top .num{ font-size:28px;  margin-left:30px;}
.p_candy_summary .content_top_deatail { padding:18px 0 0 30px; position:relative; z-index:100;display: -webkit-box; height: 56px;color:white;text-align:left; }
.p_candy_summary .content_top_deatail .question{background:url(../../images/candy/question.png); width: 13px; height: 13px; background-size:100%; display: inline-block; vertical-align: -2px; margin-left: 5px;}
.p_candy_summary .content_top_deatail div{-webkit-box-flex: 1; font-size: 12px; opacity: 0.8;}
.p_candy_summary a{color: #000; text-decoration: none;}

/*标题公共*/
.tit{ background: #FFF;height: 50px;line-height: 50px;padding: 0 15px; margin-top:7px; }
.tit .h4{ font-size:15px; }
.tit .h4 i{ background:#EE4634;margin-right: 5px; height: 12px; width: 2px; display: inline-block; vertical-align:0px; }
.tit .h4 .right_tips{color:#909090; display: block;padding-left:18px; font-size:13px; padding-right:16px;}

.task .cont{background: #fff; padding-top: 7px;}
.task .cont .list{margin:0 auto; padding:30px 0 10px; float: left; width: 33.33%; text-align: center;}
.task .cont .list .left {}
.task .cont .list .left .left_tit{ font-size:14px; }
.task .cont .list .left .left_cont{ font-size:10px; color:#C4C4C4; line-height:18px; height: 22px;}
.cont .list .right { position:absolute; background-color:#EE4634; line-height:26px; display:inline-block; color:#fff; top:50%; right:5px; border-radius:13px; padding:0 14px; text-align:center; margin-top:-13px; font-size:12px; }
.cont .list .right_01 { color:#4A4A4A; background-color:#E3E3E3; }
e{ color:#FB3823; }


/*商场*/
.shop{ background:#fff; margin:9px 0 9px; padding:0px 15px 0px; }
.shop .tit{ padding:0px; background: url(../../images/candy/icon.png) no-repeat right 28px; background-size:7px;padding-top: 8px; }
.shop .tit i{ background:#EE4634;margin-right: 5px; height: 12px; width: 2px; display: inline-block; vertical-align:0px; }
.shop .tit .more{ color:#909090; display:block; font-size:13px; padding-right:16px; }
.shop .tit .name{ height:50px; color:#000; font-size:15px;}
.shop .h4{ color:#000; }

/*我的信宝*/
.bg_white{
    background: #fff;
}
.my_candy{ background:url(../../images/candy/candy.png?v=1) no-repeat center; background-size:100%; height:100px; background-color:#fff; position:relative;margin: 0 15px;}
.my_candy .num{color:#FF4041; font-size:15px; position:absolute; right:4%; top:45%; width: 29%;text-align: center; line-height: 115%;}
/*.my_candy .tit{ border-bottom:1px solid #E6E6E6;}
.my_candy .tit{ border-bottom:1px solid #E6E6E6;}
a{ text-decoration:none; color:#000; display:block; }
.my_candy .tit .h4{ background:url(../../images/candy/icon.png) no-repeat right center; background-size:8px; }
.shop .tit .h4{ background:url(../../images/candy/icon.png) no-repeat right center; background-size:8px; }*/

 /*信力任务*/
 .task{}
.task .tit{margin-top:0px;padding-top: 12px;}
.task_tips{background: url(../../images/candy/tips_icon.png) no-repeat top center; width: 15px; height: 15px; display: block; float:right; background-size: 100%;margin-top: 16px;}
.task .cont .list1{ background:url(../../images/candy/right.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list_price{ background:url(../../images/candy/price.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list2{ background:url(../../images/candy/person.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list3{ background:url(../../images/candy/list3.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list4{ background:url(../../images/candy/list4.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list5{ background:url(../../images/candy/list5.png) no-repeat top center; background-size:23px; border-bottom:0; position:relative; }
.task .cont .yaoqing{ background:url(../../images/candy/yaoqing.png) no-repeat top center; background-size:23px; position:relative; }
.task .cont .list_yue{background:url(../../images/candy/icon_yue.png) no-repeat top center; background-size:23px; position:relative;}
.task .cont .list_activity{background:url(../../images/candy/icon_activity.png) no-repeat top center; background-size:23px; position:relative;}
.task .cont .list5 .duotou_hot{
    position: absolute;
    top: -7px;
    left: 50%;
    background: url(../../images/candy/hot.png) no-repeat; background-size: 31px 15px; width: 31px; height: 15px;
}
.task .cont .icon_fanbei{
    position: absolute;
    top: -7px;
    left: 50%;
    background: url(../../images/candy/icon_fanbei.png) no-repeat; background-size: 45px 15px; width: 45px; height: 15px;
}

/*信宝商城*/
.stock{ color:#EE4634; }

/*遮罩层*/
.mask{ display:none; position:relative; z-index:1000 }
.mask_price{ display:none; position:relative; z-index:1000 }
.mask .bg{ height:100%; background-color:rgba(0,0,0,0.6);  position:fixed; width:100%; filter:alpha(opacity=50); }
.mask_price .bg{ height:100%; background-color:rgba(0,0,0,0.6);  position:fixed; width:100%; filter:alpha(opacity=50); }
.mask .cont { position:absolute; left:50%; width:298px; margin-left:-150px; text-align:center; top:130px; border-radius:5px; }
.mask .cont .tit{ border-bottom:1px solid #E6E6E6; color:#000; font-size:17px; font-weight:bold; width:84%; margin:0 auto; }
.mask .cont .deatail{ color:#909090; font-size:15px; width:84%; margin:0 auto; text-align:justify; margin-top:16px; }
.mask .cont .deatail2{ display:none; }
.mask .cont .btn{ color:#fff; font-size:16px; width:84%; text-align:center; background-color:#EE4634; margin: 30px auto 15px; border-radius:5px; height:35px; line-height:35px; }

/*抽奖弹窗*/
.price_mask{ text-align:center; color:#F05638; position:fixed; left:50%; margin-left:-189px; height:420px; width:378px; background:url(../../images/candy/price_bg.png) no-repeat center -20px/100%; margin-top:60px; }
.price_mask span{ margin-top:266px; display:block; }
.back{ width:50px; height:50px; margin:0 auto; margin-top:63px; background:url(../../images/candy/back_btn.png) no-repeat center;background-size: 35px;}
.showToast{bottom: 50%!important;}
.p_pick_discount .btn .ling {
    background: #1c82de;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.p_pick_discount .btn .color_gray {
    color: #1c82de;
}
.p_pick_discount .card{margin: 0 0px 10px;}
/*头部动画*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-40%) translateZ(0) scaleY(1)
    }
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    height:167px;
    overflow-x: hidden;
    top: 0px;
}
.bgBottom {
    z-index: 5;
    top:-10px;
}
.bgMiddle {
  top:-5px;
}
.wave {
    position: absolute;
    left: 0px;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveAnimation .waveTop {
    background: -webkit-linear-gradient(left,#F2766B 0%, #E43E3A 50%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#F2766B 0%, #E43E3A 50%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#F2766B 0%, #E43E3A 50%); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#F2766B 0%, #E43E3A 50%); /* 标准的语法 */
}
.waveMiddle {
    background-size: auto 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 30s linear infinite alternate;
}
.waveBottom {
    background-size: auto 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite alternate;
}

/*信宝换豪礼*/
.loadbox01 {padding-bottom: 20px;}
.loadbox01 .list .middle p:nth-of-type(2){
    line-height: 20px;
}
.loadbox01 .list .middle .price {
    text-decoration: line-through;
    color:#909090;
}

.loadbox01 .list .right {
    color: #fff;
    float: right;
    width: 26%;
    border: 1px solid #blue;
    display: inline-block;
    text-align: center;
    margin: 15px 0;
}

.loadbox01 .list .right .num {
    font-size: 12px;
    color: #EE4634;
    padding-top: 5px;
    display: inline-block;
}

.loadbox01 .list .right .name {
    font-size: 13px;
    background: #EE4634;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.loadbox01 .list .right .gray_bg {
    background: #E3E3E3;
    color: #4A4A4A;
}
.list:last-child{ border:0; }

/* ztx 信宝改版 */
.confirm_exchange_mask {
    display: none;
}

.confirm_exchange_mask .bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
}

.confirm_exchange_mask .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 30%;
    border-radius: 5px;
    background: #fff;
    z-index: 102;
}

.confirm_exchange_mask .cont .tit {
    color: #000;
    font-size: 17px;
    width: 84%;
    margin: 0 auto;
    margin-top: 43px;
}

.confirm_exchange_mask .cont .deatail {
    color: #909090;
    font-size: 15px;
    width: 84%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 16px;
}

.confirm_exchange_mask .cont .deatail2 {
    display: none;
}

.confirm_exchange_mask .cont .btn {
    color: #fff;
    font-size: 16px;
    width: 40%;
    text-align: center;
    background-color: #EE4634;
    margin: 35px 5px 23px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.confirm_exchange_mask .btn1 {
    background-color: #E6E6E6 !important;
    color: #909090 !important;
}

/*弹窗01*/

.address_mask {
    display: none;
}

.bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
    z-index: 101;
}

.address_mask .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 35%;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    z-index: 102;
}

.address_mask .mingxi {
    padding: 15px 21px 5px;
    text-align: left;
    color: #000;
}

.address_mask .title {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.address_mask .mingxi .deatail {
    margin-top: 6px;
}

.address_mask .btn_box {
    margin: 15px;
}

.btn {
    display: inline-block;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
}

.address_mask .btn1 {
    background-color: #E6E6E6;
    color: #909090;
    width: 36%;
    margin-right: 7px;
}

.address_mask .btn2 {
    background-color: #EE4634;
    color: #fff;
    width: 58%;
}

/*弹窗02*/

.no_address_mask {
    display: none;
}

.no_address_mask .cont {
    position: fixed;
    left: 50%;
    width: 298px;
    margin-left: -150px;
    text-align: center;
    top: 30%;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 17px;
    z-index: 102;
}

.no_address_mask .cont .mingxi {
    padding-top: 30px;
}

.no_address_mask .btn1 {
    background-color: #E6E6E6;
    color: #909090;
    width: 45%;
    margin-right: 7px;
}

.no_address_mask .btn2 {
    background-color: #EE4634;
    color: #fff;
    width: 45%;
}

.no_address_mask .btn_box {
    margin: 22px;
}



.virtual .right {
    color: #fff;
    float: right;
    width: 26%;
    display: inline-block;
    text-align: center;
    margin: 25px 0;
}

.virtual .right .num {
    font-size: 12px;
    color: #EE4634;
    padding-top: 5px;
    display: inline-block;
}

.virtual .right .name {
    font-size: 13px;
    background: #EE4634;
    width: 82%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    line-height: 25px;
}

.virtual .right .gray_bg {
    background: #E3E3E3;
    color: #4A4A4A;
}

.entityList{
    display: block;
}
.p_candy_summary .game_banner{
    padding-top: 15px;
    height: 100px;
}
.p_candy_summary .swiper-pagination-bullet{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}
.p_candy_summary .swiper-pagination-bullet-active{
    background: #fff;
}
/* 增加入口 */
.entrance{
    width:100%;
    height:100px;
    background:#fff;
    margin-bottom: 10px;
}
.entrance .entrance_a{
    display:inline-block;
    width:25%;
    height:50px;
    margin:23px 0 0 -3px;
}
.entrance .entrance_wrap{
    width:100%;
    height:100%;
}
.entrance .e_img1{
    background:url(../../images/candy/mall.png) no-repeat top center;
    background-size: 26px;
}
.entrance .e_img2{
    position: relative;
    background:url(../../images/candy/snatch.png) no-repeat top center;
    background-size: 25px;
}
.entrance .e_img3{
    background:url(../../images/candy/gameAll.png) no-repeat top center;
    background-size: 26px;
}
.entrance .e_img4{
    background:url(../../images/candy/lottery.png) no-repeat top center;
    background-size: 26px;
}
.entrance .entrance_txt{
    display: inline-block;
    width:100%;
    margin-top:34px;
    font-size:14px;
    color:#000;
    text-align: center;
}
.entrance .e_img2 .snatch_top{
    position: absolute;
    top: -3px;
    left: 56%;
    width: 20px;
    height: 10px;
    line-height: 11px;
    background: #EF4B39;
    border-radius: 8px;
    color: #fff;
    font-size: 6px;
    text-align: center;
    font-weight: 700;
}
/* 增加入口 */
/* 4100改版 */
@font-face {
    font-family: 'DINAlternate';
    src: url('../../font/DIN Alternate Bold.ttf');
}
.ff_41000{
    font-family: 'DINAlternate';
}
.ff_4100{
    background: #fff;
}
.fw{
    font-weight:bold;
}
.shop_4100{
    margin:0;
}
.shop .tit .f14{
    font-size:14px;
    color: #909090;
}
.top_bg{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 216px;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    background: -webkit-linear-gradient(left,#F2766B 0%, #E43E3A 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#F2766B 0%, #E43E3A 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#F2766B 0%, #E43E3A 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#F2766B 0%, #E43E3A 100%); /* 标准的语法 */
}
.entrance_new{
    position: absolute;
    top:162px;
    left:0;
    width:100%;
    height:112px;
    background: url(../../images/candy/ent_bg.png);
    background-size:100% 100%;
}
.entrance_new_1420 {
    top:206px;
}
.entrance_new .entrance_a{
    display:inline-block;
    width:25%;
    height:50px;
    margin:30px 0 0 -3px;
}
.entrance_new .entrance_wrap{
    width:100%;
    height:100%;
}
.entrance_new .e_img1{
    background:url(../../images/candy/mall_new.png) no-repeat top center;
    background-size: 26px;
}
.entrance_new .e_img2{
    position: relative;
    background:url(../../images/candy/snatch_new.png) no-repeat top center;
    background-size: 26px;
}
.entrance_new .e_img3{
    background:url(../../images/candy/gameAll_new.png) no-repeat top center;
    background-size: 26px;
}
.entrance_new .e_img4{
    background:url(../../images/candy/lottery_new.png) no-repeat top center;
    background-size: 26px;
}
.entrance_new .entrance_txt{
    display: inline-block;
    width:100%;
    margin-top:34px;
    font-size:12px;
    color:#000;
    text-align: center;
}
.entrance_new .e_img2 .snatch_top{
    position: absolute;
    top: -3px;
    left: 56%;
    width: 20px;
    height: 10px;
    line-height: 11px;
    background: #EF4B39;
    border-radius: 8px;
    color: #fff;
    font-size: 6px;
    text-align: center;
    font-weight: 700;
}
.task_4100{
    padding-top:266px;
}
.task_4120{
    padding-top:264px;
}
.ff_4100 .task_tips_4100,
.shop .tit .task_tips_4100{
    font-size:18px;
    color:#000;
    margin-right:10px;
    font-weight:bold;
}
.shop .tip_4100{
    background:#fff;
}
.ant_icon{
    width: 7px;
    height: 7px;
    display: inline-block;
    border-top: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    margin-left:7px;
}
.end_tip{
    color:#c2c2c2;
    padding-bottom:21px;
}
.end_tip :not(.heng){
    margin-left:5px;
    margin-right:5px;
}
.heng{
    display: inline-block;
    width:30px;
    height:1px;
    vertical-align: middle;
    background:#c2c2c2;
}
.JS_pop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}
.JS_pop_content{
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 15px;
    width: 85%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.p_shop_agreement{
    overflow-y: scroll;
    overflow-x: auto;
    height: 420px;
    padding-left: 15px;
    padding-right: 15px;
}
.agreement_btn_box{
    width: 100%;
    background: #fff;
    color:rgb(97, 93, 93);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #e6e6e7;
}
.authorization_btn{
    display: block;
    height: 36px;
    background: #ee4634;
    font-size: 17px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
}
.zcxy_title{
    display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ee4634;
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
}
.ui_messagebox_close{
    position: absolute;
    right: -15px;
    top: -15px;
    background: url(../../images/candy/close.png) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
}
.fw_bold{
    font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 362px){
    .p_shop_agreement{
        height: 300px;
    }
}
/*iphoneXR*/
@media only screen and (device-width: 414px) and (device-height: 896px) {
    .title_xinbao_center{ padding-top: 44px; }
    .entrance_new_{ top:248px!important; }
    .top_bg_4120{ top:87px!important; }
    .clear_both{ height: 87px!important; }
    .task_4120{ padding-top:259px!important; }
}
/*iphoneX*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .title_xinbao_center{ padding-top: 44px; }
    .entrance_new_{ top:248px!important; }
    .top_bg_4120{ top:87px!important; }
    .clear_both{ height: 87px!important; }
    .task_4120{ padding-top:259px!important; }
}

/* 4100改版 