body{min-width: 320px;}
.pb20{padding-bottom: 20px;}
.pa_top{ background: url("../images/p2p_top.png") no-repeat 0 0;background-size: cover;height:92px;width: 100%;position: relative;}
.pa_top p{ text-align: center;font-size: 14px;color: #fff;}
.pa_top .pt_title{ padding-top: 23px;}
.pa_top .mt5{margin-top: 5px;}
.pa_top .pt_title i{ margin: 0 10px;}
.pat_line,.paf_line{ position: absolute;left: 0px;right: 0px;width: 30px;height: 1px;margin: 0 auto; background:rgba(255,255,255,0.3)}
.paf_line{bottom: 12px;}
.pat_line{top: 6px;}

.pa_center,.jj_center{ padding: 10px 0px 10px 15px;color: #cccccc;background-color: #ffffff;}
.ditm_top{ color: #000;font-size: 15px;}
.ditm_top span{ font-size: 14px;}
.ditm_line{ margin-top: -10px;}
.pa_center .ditm_right{ float: right;width: 75px;text-align: right;}
.ditm_line .ditm_left{ margin-right: 100px;height: 20px;}
.ditm_right a{ display: inline-block;background-color: #ee4634;color: #fff;font-size: 15px;text-align: center;width: 75px;height: 28px;line-height: 28px;border-radius: 3px;}
.ditm_left p{ border-bottom: 1px solid #d9d9d9;height: 1px;padding-top: 10px;}
.dit_list{ font-size: 12px;}
.dit_list p i{margin-left: 3px;}
.ditm_top{ font-size: 14px;}
.charge{font-size: 14px;color: #556CA1;}

.dit_footer{ background-color: #fff;margin-top: 18px;padding-left: 15px; }
.ditf_list{border-bottom:1px solid #e6e6e6;font-size: 15px;color: #000; line-height: 44px;}
.ditf_list:last-child{border-bottom: 0px;}
.disn_border{ border-bottom: 0px;}
.ditf_list a{ color: #000;display: block;}
.ditf_list a span{ color: #8f8f8f;}
.ditf_list a span i{ color: #999;margin-left: 10px;margin-right: 15px;}
.ditf_list a span em{ color: #909090;margin-left: 5px;}

.icon_arrow{background: url("../../v3.3/images/has_icon.png") no-repeat scroll 0px 0px;background-size: cover;width: 8px;height: 13px;display: inline-block;margin-top: 16px;margin-right: 15px; margin-left:15px;}
.ditf_list .close_btn{width: 18px; height: 18px; background: url(../../v3.3/images/discount/guanbi.png) center no-repeat; background-size: 18px 18px;padding: 13px 15px; }
.ditf_list .icon_coupon{background: url(../../v3.3/images/discount/tubiao2.png); width: 18px; height: 15px; display: inline-block; background-size: 100%; vertical-align: -2px; margin-right: 5px; margin-top:14px;}
.ditf_list .coupon_detail{}
.ditf_list .coupon_detail .con{margin:0 40px 0 25px; line-height: 20px; padding:12px 0px;}
.dit_btn{padding:20px 15px 0px;}
.sub_btn{display: inline-block;border:0px;width: 100%;text-align: center;height: 40px;line-height: 40px;color: #fff;font-size: 15px;border-radius: 3px;}
.sub_gay{background-color: #cccccc;}
.sub_red{ background-color: #ee4634;}
.dit_fcode_txt{padding:20px 15px 0px; color:#909090; text-align:center;}

/*契约基金*/
.jj_center .jc_money{color: #000;font-size: 15px;line-height: 28px;}
.jj_center .jc_money a{display: inline-block;background-color: #ee4634;color: #fff;font-size: 15px;text-align: center;width: 75px;height: 28px;line-height: 28px;border-radius: 3px;float: right;}
.jj_tip{ margin-top: 10px;}
.jj_tip p{ text-align: center;color: #8f8f8f;font-size: 12px;margin-top: 5px;}

/*私募投资确认*/

.newint_pact{background-color:#fff;padding-left:15px;margin-top:20px;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;}
.nip_list{color:#000;font-size:14px;height:44px;line-height:44px;border-bottom:1px solid #e4e4e4;}
.nip_list a{color:#5ca9e4;font-size:14px;margin-left:3px;}
.nip_list span,.intt_right span{cursor:pointer;display: inline-block;background: url("../../v3.3/images/icon_no.png") no-repeat 0 0;width: 20px;height: 20px;background-size: cover;margin-top: 13px;}
.dis_border{border:none!important;}
.intt_right span{margin-top:0px;}
.arrow_yes{background-image: url("../../v3.3/images/icon_yes.png") !important;}
.arr_div{height: 100%;width: 70px;float: right;text-align: center;}
.intt_left{margin-right: 70px;font-size: 13px;}
.pad10{ padding: 10px 0px;}
.intt_right{position: absolute;right:25px; top: 50%;margin-top: -10px;width: 20px;height: 20px;}
/*.intt_right span{ position: absolute;top: 50%;margin-top: -10px;}*/

/*输入框*/
.p2p_input{ padding-left: 20px;margin-top: 8px;position: relative;background: url(../images/money_type.png) no-repeat center left;background-size: 15px 20px;}
.quantou_all{ position: absolute;right: 10px;top:0px;color: #cccccc;font-size: 20px;display: inline-block;width: 50px;text-align: center;height: 44px;line-height: 44px;}
.dit_yq{color: #ee4634;}

.ui_mask_touziyindao{position: fixed; z-index: 200; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.5);}
/**/
.mt27{ padding-top: 27px;}
.p_affirm .alert_donate{width:280px; height:270px; z-index: 1000; position:fixed; top: 50%; left: 50%; margin: -135px 0 0 -140px; background:#f2f2f2; border-radius: 3px; }
.p_affirm .alert_donate .gy_icon{ background:url(../../v3.3/images/gy_icon.png) no-repeat center top; height:140px; background-size: 170px 140px; position:absolute; width:100%; top:-38px;}
.p_affirm .alert_donate .alert_con{margin-top: 102px; background: #fff; height:165px; padding: 0 15px; color:#909090; line-height: 20px; font-size: 15px;border-radius: 0 0 3px 3px;}
.p_affirm .alert_donate .alert_con h2{ font-size: 18px; height:50px; line-height: 50px; border-bottom: 1px solid #d9d9d9; margin-bottom: 12px;color:#000;}

.p_affirm .alert_donate .alert_con h3{ padding-top: 12px;}
.confirm_btn,.cancel_btn{width:112px; height:35px; display:inline-block;font-size: 16px; border-radius: 3px; line-height: 35px;text-align:center;}
.confirm_btn {background:#ee4634;color:#fff; float:right;}
.cancel_btn{background:#e6e6e6; color:#909090;float:left;}
.p_affirm .new_guide_box{position: relative;z-index:201;}
.p_affirm .new_guide_icon{background: url(../../v3.3/images/iocn_know.png) no-repeat center; background-size:310px 217px; width: 100%; height: 232px; position: absolute; top: -110px; left: 0px;}
.input_bid{border-bottom: 1px #e6e6e6 solid;height: 70px;}
.ditm_left{padding-top: 8px;}
