/*
.biaodi{border-bottom: 1px #d9d9d9 solid;border-top: 1px #d9d9d9 solid;margin-top: 15px;padding:0 15px;background:#ffffff;padding-bottom: 15px;}
.biaodi .top{height: 50px;line-height: 50px;}
.biaodi .top img{width: 25px;height: 25px;float: left;display: inline-block;margin-top: 12px;}
.biaodi .top p{font-size: 18px;display: inline-block;margin-left: 10px;}
.biaodi .bottom{}
.biaodi .bottom li{font-size: 12px;color: #909090;height: 22px;line-height: 22px;}
.biaodi .bottom li i{position:absolute;background:#d8d8d8;width: 6px;height: 6px;border-radius: 50%;border:1px #d8d8d8 solid;margin-top: 6px;}
.biaodi .bottom li p{padding-left: 15px;display: inline-block;}
.biaodi .bottom li span{background: url("../../images/creditloan/point.png") no-repeat center right;background-size:auto 10px;display:inline-block;float: right;width: 10px;height: 15px;}*/
.biaodiList{
    padding-top:15px;
    border-radius:5px;
    background-repeat:no-repeat;
    background-position: 0 0;
}
.biaodiList .biaodi{
    background-size: 100% 100%;
    position: relative;
    box-sizing: border-box;
}
.biaodiList .biaodi::after{
    position: absolute;
    content: "";
    background: url(../../images/creditloan/jiantou.png) no-repeat 0px 0px;
    background-size: 8px 13px;
    width: 8px;
    height: 15px;
    top: 50%;
    margin-top:-7px;
    right: 4%;
}
.biaodiList .biaodi:not(:first-child){
    margin-top:15px;
}
.biaodiList .biaodi .top{
    height: 24px;
    font-size:0px;
}
.biaodiList .biaodi .top>*{
    vertical-align: top;
    display: inline-block;
}
.biaodiList .biaodi .top img{
    width:15px;
    height: 12px;
    margin-top:6px;
}
.biaodiList .biaodi .top p{
    font-size:17px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    margin-left:5px;
}
.biaodiList .biaodi .top span{
    height: 18px;
    line-height: 18px;
    background-color: #000;
    font-size:10px;
    color: #fff;
    margin:3px 0px 0px 8px;
    padding: 0px 5px;
    border-radius: 3px;
}
.biaodiList .biaodi .middle{
    height: 1px;
    width:50px;
    background-color: #fff;
    opacity:0.5;
    margin:4px 0px 0px 0px;
}
.biaodiList .biaodi .bottom{
    padding:7% 0 7% 37%;
}
.biaodiList .biaodi .bottom li{
    color:#c8c8c8;
    font-family: 微软雅黑;
    min-height: 20px;
    line-height: 20px;
    position: relative;
    padding-left:10px;
}
.biaodiList .biaodi .bottom li p{
    color:#333333;
    font-size:13px;
}
.biaodiList .biaodi .bottom li:not(:first-child){
    margin-top:22px;
}
.biaodiList .biaodi .bottom li i{
    position: absolute;
    width:4px;
    height: 4px;
    border-radius:50%;
    background-color:#c8c8c8;
    left: 0px;
    top: 8px;
}
html,body{height:100%;}
body{background:#F5F5FA!important;}
.loan_index_new .biaodiList .yxt{background-color: #ffffff;position: relative;}
.loan_index_new .biaodiList .yxt .yxtbk{background:url(../../images/creditloan/yxt.png) no-repeat 0 0;background-size:contain;min-height:138px;}
.loan_index_new .biaodiList .yxtpic{background:url(../../images/creditloan/yxtpic.png) no-repeat right bottom;background-size:75px auto;}
.loan_index_new .biaodiList .bxt{background-color: #ffffff;position: relative;}
.loan_index_new .biaodiList .bxt .bxtbk{background:url(../../images/creditloan/bxt.png) no-repeat 0 0;background-size:contain;min-height:138px;}
.loan_index_new .biaodiList .bxtpic{background:url(../../images/creditloan/bxtpic.png) no-repeat right bottom;background-size:70px auto;}
.loan_index_new .biaodiList .zyd{background-color: #ffffff;position: relative;}
.loan_index_new .biaodiList .zyd .zydbk{background:url(../../images/creditloan/zyd.png) no-repeat 0 0;background-size:contain;min-height:138px;}
.loan_index_new .biaodiList .zydpic{background:url(../../images/creditloan/zydpic.png) no-repeat right bottom;background-size:69px auto;}
.biaodiList .shadow{background: url(../../images/creditloan/shadow.png) no-repeat 0 0;background-size:100% auto;min-height:8px;}
.ul{color:#c8c8c8;}
.loan_index_new .biaodiList .yxt div.yxtpower{background:url(../../images/creditloan/yxtpower.png) no-repeat 0 0;background-size:contain;min-height:138px;}
.loan_index_new .biaodiList .bxt div.bxtpower{background:url(../../images/creditloan/bxtpower.png) no-repeat 0 0;background-size:contain;min-height:138px;}
.loan_index_new .biaodiList .zyd div.zydpower{background:url(../../images/creditloan/zydpower.png) no-repeat 0 0;background-size:contain;min-height:138px;}
@media all and (min-width:321px) and (max-width:361px){
.loan_index_new .biaodiList .yxt .yxtbk{min-height:132px;}
.loan_index_new .biaodiList .bxt .bxtbk{min-height:132px;}
.loan_index_new .biaodiList .zyd .zydbk{min-height:132px;}
.biaodiList .biaodi .bottom{padding:5% 0 5% 35%;}
.biaodiList .biaodi .bottom li:not(:first-child){margin-top:17px;}
.loan_index_new .biaodiList .bxt div.bxtpower{min-height:132px;}
.loan_index_new .biaodiList .yxt div.yxtpower{min-height:132px;}
.loan_index_new .biaodiList .zyd div.zydpower{min-height:132px;}
}
@media all and (max-width:320px){
.biaodiList .biaodi .bottom li p{color:#333333;font-size:12px;}
.loan_index_new .biaodiList .yxt .yxtbk{min-height:122px;}
.loan_index_new .biaodiList .bxt .bxtbk{min-height:122px;}
.loan_index_new .biaodiList .zyd .zydbk{min-height:122px;}
.biaodiList .biaodi .bottom{padding:5% 0 5% 33%;}
.biaodiList .biaodi .bottom li:not(:first-child){margin-top:15px;}
.loan_index_new .biaodiList .bxt div.bxtpower{min-height:122px;}
.loan_index_new .biaodiList .yxt div.yxtpower{min-height:122px;}
.loan_index_new .biaodiList .zyd div.zydpower{min-height:122px;}
}
