@font-face {
  font-family: 'DINAlternate';
  src: url('../../v3.2/font/UCFDIN.ttf');
}
/* 英文数字字体公用样式 */
.din_alternate{font-family: 'DINAlternate';font-weight: bold;}

.p_reserve { padding-bottom: 70px; background-color:#fff;}
.p_reserve .color_gray { color: #909090; }
.p_reserve .color_normal { color: #343438!important; }
.p_reserve .color_red { color: #EE4634!important; }
.p_reserve .fw { font-weight: bold; }
.p_reserve .index9 { z-index:9!important;  }
.p_reserve .index0 { z-index:0!important;  }
.p_reserve .charge_btn {  float: right; }
.p_reserve .f14{font-size:14px;}
.p_reserve .f12{font-size:12px; line-height:17px;}
.p_reserve .pl15{ padding-left:15px; }
.p_reserve .f13{font-size:13px;}
.p_reserve .f18{font-size:18px; line-height:25px;}
.p_reserve .f22{font-size:22px;}
.p_reserve .f24{font-size:24px;}
.p_reserve .mb10{ margin-bottom:10px!important; }
.p_reserve .pt20{ padding-top:20px; }
.p_reserve .box { padding: 0 15px 0; }
.p_reserve .title { font-size: 16px; color: #EE4634; line-height: 25px; padding: 0px 0px 15px; color: #000000; margin-top: 18px; }
.p_reserve .box h2 { color: #000; font-size: 15px; }
.p_reserve .box h3 { color: #8A8899; margin-bottom:3px;}
.p_reserve h4 { color: #bfbfbf; }
.p_reserve .color_blue { color: #1C82DE; }
.p_reserve .sub_btn {height: 47px;  position: fixed; bottom: 0px; width: 100%; background: #E6E6E6; z-index:9}
.p_reserve .sub_btn a { margin-bottom: 8px; }
.p_reserve .reservation_btn{ background-color:#CAA989; display: block; line-height: 47px; color: #FFFFFF; font-size: 16px; text-align: center; margin-left: 15px; margin-right: 15px; }
.p_reserve .disabled_btn { background: #E6E6E6; color:#fff; }
.p_reserve .plr15 { padding-left: 15px; padding-right: 15px; }
.p_reserve .bg_whtie { background: #fff; }
.p_reserve .reserve_list { line-height: 50px; padding-top:30px; }
.p_reserve .ditf_list { color: #000; padding:10px 15px 0;}
.p_reserve .ditf_list a.to_yxq { display: block; color: #343438 }
.p_reserve .ditf_list .tips{ font-size:13px; line-height:20px; }
.p_reserve .ditf_list .dit_yq{margin: 6px 10px;}

.p_reserve .do_money{padding:0 0 12px 10px; }
.p_reserve .mt15 { margin-top: 15px; }
.p_reserve .mb8 { margin-bottom: 8px; }
.p_reserve .mb15 { margin-bottom: 15px; }
.p_reserve .reserve_tit{background: linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -o-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -moz-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);background: -webkit-linear-gradient(-135deg, #221B26 0%, #6A607E 100%);position: relative;overflow-y: hidden;padding: 0;}

.p_reserve .reserve_tit .top_bg_img {width: 143px;height: 117px;position: absolute;left: 0;top:0;}
.p_reserve .reserve_tit .bottom_bg_img{width: 120px;height: 96px;position: absolute;right: 0;bottom:0;}

.p_reserve .repayment_way{ padding: 0 15px;font-size: 13px;line-height: 36px; background: linear-gradient(0deg, rgba(32,27,38,0.8) 0%, rgba(106,96,126,0.6) 100%); background: -webkit-linear-gradient(0deg, rgba(32,27,38,0.8) 0%, rgba(106,96,126,0.6) 100%);color:#F4D7BF; position: relative;z-index: 1;}
.p_reserve .pop_qx_list {padding: 24px 15px;position: relative;z-index: 10;}
.p_reserve .pop_qx_list .p_discount_friend .item { position:relative;width: 48%; display:inline-block;}
.p_reserve .pop_qx_list .p_discount_friend .item:nth-child(even){margin-left:1%;}
.p_reserve .pop_qx_list .p_discount_friend .item.active{border-color:#5D5D5D; }
.p_reserve .pop_qx_list .p_discount_friend .item.onlyone{width: 99%;}
.p_reserve .pop_qx_list .p_discount_friend .item.onlyone .qx_con span{width:49%;display: inline-block; }
.p_reserve .pop_qx_list .p_discount_friend .item.onlyone .qx_con span em.qxc_l{float:none;}
.p_reserve .pop_qx_list .p_discount_friend .item.onlyone .qx_con span em.qxc_l,.p_reserve .pop_qx_list  .p_discount_friend .item.onlyone .qx_con span em.qxc_r{display: block; color: #F4D7BF; font-weight:normal; font-size:13px;}
.p_reserve .pop_qx_list .p_discount_friend .item .qx_con span.deadline{margin-bottom: 2px; }
.p_reserve .pop_qx_list .p_discount_friend .item .qx_con span{display: block; color:#909090;}
.p_reserve .pop_qx_list .p_discount_friend .item .qx_con span em.qxc_l{float:left;}
.p_reserve .pop_qx_list .p_discount_friend .item .qx_con span em.qxc_l,.p_reserve .pop_qx_list  .p_discount_friend .item .qx_con span em.qxc_r{display: inline-block;width:100%;}
.p_reserve .pop_qx_list .p_discount_friend .item .qx_con span em.qxc_r{color:#4a4a4a; text-align: left;}
.p_reserve .pop_qx_list .p_discount_friend .item.active .qx_con span em.qxc_r{color: #F4D7BF;}
.p_reserve .pop_qx_list .reserve_arr{padding: 10px 0;text-align: center;}
.p_reserve .pop_qx_list .reserve_arr i{ width: 10px; height: 10px; border-width: 1px 0 0 1px; border-color: #ededed; border-style: solid; -webkit-transform: rotate(225deg);  transform: rotate(225deg); display: inline-block; vertical-align: top; ; }
.p_reserve .friend_list{height:214px; overflow: hidden}

.p_reserve .pop_yxq_list .sxy_tips { padding: 18px 15px; color: #909090; line-height: 25px; }
.p_reserve .pop_yxq_list { display: -webkit-box; -webkit-box-orient: vertical; position: fixed; z-index: 202; -webkit-transform: translateY(100%); -webkit-transition: all 0.3s linear; width: 100%; background: #ffffff; bottom: 0; }
.p_reserve .pop_yxq_list .move_now{-webkit-overflow-scrolling: touch; position: relative;background: #fff;}
.p_reserve .pop_yxq_list .move_now .item{border-bottom: 1px solid #ededed; line-height: 20px; height: 50px; line-height: 50px; color: #030303; background-size: 8px 13px; font-size: 14px;padding: 0 15px;}
.p_reserve .pop_yxq_list .move_now .gray{color: #BFBFBF;}
.p_reserve .pop_yxq_list .move_now .item .icon_yes{background: url("../images/reserve/icon_yes.png") no-repeat center top; width: 13px; height: 10px; display:none; background-size: 100%;margin-top:18px;}
.p_reserve .pop_yxq_list .move_now .active .icon_yes {display: block;}

.p_reserve .ui_title { text-align: center; height: 44px; font-size: 18px; line-height: 44px; border-bottom: 1px solid #ededed; position: relative; color: #000; }
.p_reserve .ui_title .ui_back { position: absolute; height: 44px; width: 44px; left: 0px; }
.p_reserve .ui_title .ui_back .ui_icon_back { background: url("../images/reserve/icon_close.png") no-repeat; width: 17px; height: 17px; height: 17px; display: block; background-size: 100%; margin-top: 13px; margin-left: 10px; }
.p_reserve .p_show { -webkit-transform: translateY(0%); }
.p_reserve .bg_cover, .p_reserve .JS_assess { position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5); z-index: 2; }
/*end*/
/*开通存管账户*/
.p_reserve .open_p2p { width: 155px; height: 130px; margin-top: 28px; }
.p_reserve .alert_evaluate { width: 300px; height: 340px; border-radius: 10px; background: #fff; text-align: center; z-index: 1000; position: fixed; top: 50%; left: 50%; margin-left: -150px; margin-top: -170px; }
/*开通免密弹窗*/
.p_reserve .JS_open_box,.p_reserve .JS_is_freepayment { position: fixed; height: 100%; width: 100%; left: 0px; top: 0px; z-index: 1000; }
.p_reserve .cunguan_bg { position: fixed; z-index: 999; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5); }
.p_reserve .alert_free { width: 280px; height: 380px; margin-left: -140px; margin-top: -160px; }
.p_reserve .alert_free .free_img { width: 100px; height: 100px; margin-top: 25px; }
.p_reserve .free_title { font-size: 17px; color: #000; margin-top: 20px; }
.p_reserve .alert_free .little_title { font-size: 11px; color: #3e3e3e; margin-top: 10px; }
.p_reserve .alert_free .no_margin { margin-top: 0px; }
.p_reserve .free_text { font-size: 12px; color: #909090; margin-top: 12px;margin-bottom: 5px;  padding: 0 20px; text-align: left; }
.p_reserve .sc_footer { background-color: #fff; text-align: center; padding: 0 20px; margin-bottom: 10px; }
.p_reserve .sc_footer a { text-align: center; height: 33px; line-height: 33px; color: #fff; font-size: 15px; border-radius: 3px; }
.p_reserve .sc_footer a.a_left { background: #dcdcdc; margin-top: 8px; margin-right: 7px; display: block; width: auto; }
.p_reserve .sc_footer a.a_right { background-color: #ee4634; margin-top: 8px; margin-left: 7px; display: block; width: auto; }
.p_reserve .sc_footer .left_div { float: left; width: 50% }
/* 风险评估 */
.p_reserve .needForceAssess_box{height: 300px; width: 270px; position: fixed; background: #fff; top: 50%; left: 50%;margin: -150px 0 0 -135px; z-index: 10; display: none;border-radius: 5px;}
.p_reserve .needForceAssess_box .group_icon{background: url(../images/reserve/Group.png) no-repeat center; width: 150px; height: 144px; background-size: 100%; margin:20px auto }
.p_reserve .needForceAssess_box .title{text-align: center; color: #000; font-size: 15px;}
.p_reserve .needForceAssess_box .needForceAssess_link{width: 240px; height: 35px; line-height: 35px; text-align: center; font-size: 16px; color: #fff; display: block; margin: 0 auto;background: #EE4634;border-radius:3px; margin-bottom: 10px;}
.p_reserve .needForceAssess_box .needForceAssess_link_no{color: #909090;}
/*个人风险要素校验*/
.p_reserve .ui_conf_risk .opacity { opacity: 0.3; background-color: #000; height: 100%; width: 100%; position: fixed; top: 0px; z-index: 202; }
.p_reserve .ui_conf_risk .confirm_donate { position: fixed; top: 50%; left: 50%; margin-top: -79px; margin-left: -138px; background-color: #fff; z-index: 203; width: 276px; height: 158px; border-radius: 5px; }
.p_reserve .ui_conf_risk .confirm_donate_title { margin: 0 15px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; color: #fe4438; border-bottom: 1px #d9d9d9 solid; }
.p_reserve .ui_conf_risk .confirm_donate_text { padding: 10px 15px; text-align: center; font-size: 14px; color: #333; padding-top: 8px; }
.p_reserve .ui_conf_risk .confirm_donate_but { padding: 5px 0px 0px 15px; overflow: hidden; }
.p_reserve .ui_conf_risk .confirm_donate_but input, .p_reserve .ui_conf_risk .confirm_donate_but a { text-align: center; width: 115px; height: 40px; line-height: 40px; font-size: 18px; float: left; border-radius: 5px; border: none; outline: none; }
.p_reserve .ui_conf_risk .confirm_donate_but_del { background-color: #e5e5e5; color: #949494; margin-right: 15px; }
.p_reserve .ui_conf_risk .confirm_donate_but_yes { background-color: #fe4438; color: #fff; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate_title { height: 48px; line-height: 48px; color: #000; font-size: 17px; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate { width: 270px; height: auto; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate_text { padding: 25px 15px 33px; color: #000; font-size: 15px; }
.p_reserve .ui_conf_risk.bid_conf .color_gray { color: #909090 }
.p_reserve .ui_conf_risk.bid_conf .sy_num { display: block; margin-top: 15px; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate_but { padding: 5px 0 15px 15px; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate_but input, .p_reserve .ui_conf_risk.bid_conf .confirm_donate_but a { font-size: 16px; width: 112px; height: 35px; line-height: 35px; }
.p_reserve .ui_conf_risk.bid_conf .confirm_donate_but input.w240 { width: 240px; }
.p_reserve .point_open { background: url("../images/reserve/down_icon.png") no-repeat; width: 14px; height: 14px; background-size: 13px 13px; display: inline-block; margin-top: 3px; margin-left: 5px; }
.p_reserve .down_img { background: url("../images/reserve/up_icon.png") no-repeat; background-size: 13px 13px; }
.p_reserve .remain_money_text { display: inline-block; max-width: 91%; }
.p_reserve .account_money { font-size: 12px; color: #8A8899; line-height: 17px; margin-top:6px; }
.p_reserve .account_money .line_space { height:5px; }

/* 优惠券 */
.p_reserve .icon_arrow { width:7px; height:7px; border-width: 1px 0 0 1px; border-color: #E6E6E6; border-style: solid; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); display: inline-block; vertical-align: middle; margin-left: 3px; }
.p_reserve .discount_list .icon_arrow { margin-top: 8px; margin-right: 15px; margin-left: 6px; }
.p_reserve .f14 { font-size: 14px; }
.p_reserve .pl15 { padding-left: 15px; }
.p_reserve .color_black { color: #000!important; }
.p_reserve .discount_list { border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #343438; height:46px; }
.p_reserve .discount_list .coupon_detail{ margin-top:-31px; }
.p_reserve .discount_list:last-child { border-bottom: 0px; }
.p_reserve .discount_list.pl15 { padding-left: 15px; }
.p_reserve .disn_border { border-bottom: 0px; }
.p_reserve .discount_list a { color: #000; display: block; padding-top:10px; }
.p_reserve .discount_list a span { color:#343438; }
.p_reserve .discount_list a span i { color: #999; margin-left: 10px; margin-right: 15px; }
.p_reserve .discount_list a span em { color: #909090; margin-left: 5px; }
.p_reserve .discount_list .close_btn { width: 14px; height: 14px; background: url("../images/reserve/guanbi.png") center no-repeat; background-size: 14px 14px; padding-left:15px; }
.p_reserve .discount_list .icon_coupon { background: url("../images/reserve/tubiao2.png"); width: 18px; height: 15px; display: inline-block; background-size: 100%; vertical-align: -2px; margin-right: 5px; margin-top: 14px; }
.p_reserve .discount_list .coupon_detail .con { line-height: 20px; padding: 12px 0px; }
.p_reserve .ui_mask_touziyindao { position: fixed; z-index: 1; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5); }
.p_reserve .ui_mask_white { position: fixed; z-index: 3;  width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(255, 255, 255, 0);}
.p_reserve .new_guide_box { position: relative; background-color: #fff; padding-left: 15px; z-index:2; }
.p_reserve .new_guide_icon { background: url("../images/reserve/iocn_know_reserve.png") no-repeat center; background-size: 310px 217px; width: 100%; height: 232px; position: absolute; top: -110px; left: 0px; }
.p_reserve .discount_list a span.color_red, .p_reserve .discount_list a span.num_canuse { color: #343438; }
.p_reserve .can_use { font-size: 13px; display: inline-block; }
.p_reserve .JS-couponnum_label{ color:#8A8899!important; font-size:13px; }
.p_reserve .no_choose{ width:47px; height:13px; padding-left:6px; vertical-align:-9%;}
.p_reserve .need_top{ margin-top:30px; font-size:13px;}
.p_reserve .icon_a{ display: inline-block;height: 0;width: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #888888; }
.p_reserve .tit_youhui{ padding:30px 15px 0; }
.p_reserve .youhui_normal{ font-size:13px; color:#E6E6E6!important; }
/*预约规则*/
.p_reserve .appointment_rule{ margin-top:30px; font-weight:bold; font-size:18px; }
.p_reserve .appointment_rule_content{ color:#343438; margin:10px 0 30px; }
.p_reserve .appointment_rule_content i{ border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #888888; display:inline-block; }
/*输入框*/
.p_reserve .input_deal { border: 1px #C2C2CC solid;/* no */ padding: 0 10px; position: relative; height:65px;}
.p_reserve .p2p_ipt { position: relative;top: 6px;}
.p_reserve .dealMin { font-size:30px; }
.p_reserve .qtou_all { background: transparent; position: absolute; right: 0px; top: 0px; padding-left: 6px; color: #8A8899; font-size: 13px; display: inline-block; margin-top:18px; border-left: 1px solid #EAECED; }
.p_reserve .color_yellow { color: #EF4B39; }
.p_reserve .f11 { font-size: 11px; }
.p_reserve .input_deal .no_choose_reserve{position:absolute;width: 100%;height: 100%;left: 0; top: 0;}

/*授权与与取消授权*/
.p_reserve .JS_open_free_psd{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;-webkit-transform-origin: 0px 0px 0px;-webkit-transform: translateZ(2px);}
.p_reserve .JS_open_free_psd .mianmi_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);}
.p_reserve .JS_open_free_psd .mianmi_box{width: 270px;border-radius: 3px;background: #fff;z-index: 1000;position: fixed;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding:0 15px;}
.p_reserve .JS_open_free_psd .title{font-size: 17px;margin-top:15px;margin-bottom:10px;border-bottom: 1px #e6e6e6 solid;text-align: center;padding-bottom: 12px;}
.p_reserve .JS_open_free_psd .remind{font-size: 13px;margin-bottom: 10px;}
.p_reserve .mianmi_list li{border:1px #e6e6e6 solid;border-radius: 3px;padding: 10px 15px;margin-bottom: 10px;padding-top: 11px;}
.p_reserve .mianmi_list li div{padding-left: 10px;display: inline-block;}
.free_pay_icon{width: 22px;height: 22px;background: url(../images/reserve/free_pay_icon.png) no-repeat;background-size: 22px 22px;display: inline-block;    vertical-align: 4px;}
.free_loan_icon{width: 22px;height: 21px;background: url(../images/reserve/free_loan_icon.png) no-repeat;background-size: 22px 21px;display: inline-block;vertical-align: 5px;}
.p_reserve .mianmi_list li div .free_box_title{font-size: 13px;margin-bottom: 4px;}
.p_reserve .mianmi_list li div .free_detail{font-size: 11px;color: #909090;}
.p_reserve .JS_open_free_psd .sc_footer{padding:0;margin-bottom: 15px;}
.p_reserve .JS_open_free_psd .sc_footer a{line-height: 40px;height: 40px;font-size: 16px;}
/*非投资户不允许投资*/
.p_reserve .JS_can_not_bid{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;-webkit-transform-origin: 0px 0px 0px;-webkit-transform: translateZ(2px);}
.p_reserve .JS_can_not_bid .not_bid_bg{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);}
.p_reserve .JS_can_not_bid .not_bid_box{width: 270px;border-radius: 3px;background: #fff;z-index: 1000;position: fixed;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding:0 15px;text-align: center;}
.p_reserve .sc_no_bid{background: url(../images/reserve/sc_no_bid.png) no-repeat;width: 147px;height: 122px;background-size: 147px 122px;display: block;margin: 0 auto;margin-top: 15px;margin-bottom: 15px;}
.p_reserve .not_bid_box p{color: #ee4634;font-size: 15px;}
.p_reserve .not_bid_box a{width: 150px;height: 40px;line-height: 40px;border-radius: 3px;border:1px #ee4634 solid;margin: 0 auto;margin-bottom: 15px;color: #ee4634;font-size: 15px;margin-top: 15px;display: block;}
.p_reserve .not_bid_box .title{font-size: 17px;margin-top:15px;margin-bottom:10px;border-bottom: 1px #e6e6e6 solid;text-align: center;padding-bottom: 12px;}
.p_reserve .remind_red{color: #ee4634;}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .sub_btn{background-color:#fff!important; height:67px!important;}
    .sub_btn input{ height:47px; }
}
@media only screen and (device-width: 414px) and (device-height: 896px){
    .sub_btn{background-color:#fff!important; height:67px!important;}
    .sub_btn input{ height:47px; }
}