/*智多鑫*/
.p_reserve_disclosure { border-top:1px solid #e6e6e6;}  
.p_reserve_disclosure .ui_common_list{border-color:#d8d8d8;padding:0; }
.p_reserve_disclosure .ui_common_list .common_btn a{padding-left:15px; }
.p_reserve_disclosure .ui_common_list .common_btn a i.icon_arrow{margin-top:20px;background: none;}
.p_reserve_disclosure .ui_common_list .common_btn a i.icon_arrow,.p_reserve_disclosure .conf_btn a.cancel i.icon_arrow{display: inline-block;width:8px;height: 8px;border-width: 1px 0 0 1px;border-style:solid;border-color:#D8D8D8;-webkit-transform: rotate(135deg); transform: rotate(135deg); }
.p_reserve_disclosure .no_coupon{background:url(../images/reserve/weikong.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 150px; position: absolute; top: 50%; margin-top: -95px; width: 100%;color: #BFBFBF;font-size: 15px;}
