html,body {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.big_charge_setp{background: url(../../images/payment/big_charge_setp.png) no-repeat top center; height: 53px; background-size:auto 100%; }
.white_bg{background: #fff;padding-bottom: 10px;}
.user_title{font-size: 15px;padding:15px; }
.big_charge_box{background: #fff; padding: 10px 15px; margin-top: 10px;}
.big_charge_input{height: 42px; font-size: 30px;background: url(../../images/payment/big_charge_$.png) no-repeat center left; background-size: 16px 20px; padding-left: 20px;}
.big_charge_input::-webkit-input-placeholder {
  font-size:14px;
  line-height: 42px;
  }
.user_money{color: #909090; font-size: 14px; border-top: 1px solid #d9d9d9;padding-top: 5px;}
.big_btn{margin: 15px 15px; }
.big_charge_btn{height: 40px; width: 100%; text-align: center; line-height: 40px; color: #fff; font-size: 17px;background: #EE4634;border-radius: 3px;}
.gray_btn{ background: #c9c9c9;}
.big_btn a{color: #fff; display: block;}
.JS_goto_history{margin-top: 10px;height: 50px;line-height: 50px;background:#fff;padding: 0 15px;font-size: 16px;}
.JS_goto_history span{color: #EE4634;}
.JS_goto_history i{width: 10px;height: 10px;border-width: 1px 1px 0 0;border-color: #909090;border-style: solid;-webkit-transform: rotate(405deg);-ms-transform: rotate(405deg);transform: rotate(405deg);display: inline-block;vertical-align: 0;float: right;margin-top: 20px;}
.ui_page_title {width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 20px;border-bottom: 1px #F5F5FA solid;background:#fff;font-weight: bold;}
.ui_page_title .ui_page_title_con {width: 100%;height: 45px;background: #fff;border-bottom: 1px solid #f2f2f2;z-index: 999;}
.ui_page_title .ui_page_title_con .backbutton {position: absolute;left: 10px;color: #000;padding-left: 5px;background-size: 10px 16px;font-size: 14px;text-align: left;font-weight: normal;}
.ui_page_title .ui_page_title_con .back_arrow {width: 10px;height: 10px;border-width: 1px 0 0 1px;border-color: #000;border-style: solid;-webkit-transform: rotate(-405deg);-ms-transform: rotate(-405deg);transform: rotate(-405deg);display: inline-block;vertical-align: 0;}
.ui_page_title .ui_page_title_con .page_middle_title {width: 200px;height: 45px;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: absolute;left: 50%;margin-left: -100px;}
.font_normal{font-weight: normal;font-size: 20px;}
/* iphoneX、iphoneXs */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .ui_page_title{ width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 44px;background: #fff;}
}
  
/* iphone Xs Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
  .ui_page_title{ width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 44px;background: #fff;}
}

/* iphone XR */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
  .ui_page_title{ width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 44px;background: #fff;}
}
