.m-head .fix_width span a{height:130px;width:139px;border:none;}
.m-head .fix_width span a{margin-top: 14px;}
.m-head{height:130px;border:none;}
#focus{display:none;}
.backToTop{display:none;}

.tabhd{display:none;}
.tabhd li a{height:56px; line-height:56px;}
.slide{ position:relative; height: 290px!important; }
#focus .bigImg li{height: 290px!important; }
.slide_img img{ height: 290px!important; }
#focus .imgNum,#focus .imgNum_none{height:80px!important;}
#focus .imgNum li ,#focus .imgNum_none li{height:80px!important;}
#focus .imgNum li div,#focus .imgNum_none li div{height:80px!important;+line-height:80px!important;}
.slide_img {height: 290px!important;}
.rightBt,.leftBt{top:90px!important;}
.earnings_box{ height:100px !important;}
.earnings_box h3{ padding:15px 0px !important}
.app{ display:none !important;}

/* 2014-12-22 */
.icon { background: url("../images/common/icon-content.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; height: 18px; vertical-align: middle; width: 18px }
.icon-app { background-position: -37px -46px; height: 16px; margin-top: -3px; width: 10px }
.ui-header { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); position: relative; z-index: 99999 }
.ui-header-top { background: none repeat scroll 0 0 #532157; color: #ccc }
.ui-header-top .ui-nav-item { color: #d5d5d5; font-size: 15px; height: 35px; line-height: 35px; padding: 0 10px }
.ui-header-top .ui-nav-dropdown .loadfail { height: 150px; line-height: 150px; text-align: center; width: 320px }
.ui-header-top .ui-nav-dropdown .loadfail img { vertical-align: middle }
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0 }
.clearfix:after, .container_12:after { clear: both }
.clearfix, .container_12 { }
a { outline: 0 none }
.container_12 .grid_12 { width: 960px }
.fn-left, .fn-right { display: inline }
.fn-left { float: left }
.fn-right { float: right }
.fn-clear:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden }
.fn-clear { }
.container_12 { margin-left: auto; margin-right: auto; width: 960px }
* { padding: 0px; margin: 0px }
body { line-height: 22px; font-size: 13px !important; font-size: 12px; background: #fff center bottom no-repeat; color: #666666; font-family: "微软雅黑" }
ul li { list-style: none; padding: 0px; margin: 0px }
a img { border: 0px }
img { border: 0px }
a { text-decoration: none }
a:hover { color: #663366; text-decoration: underline }
.Container { width: 960px; margin: 0 auto }
.Min-Container { width: 960px; margin: 0 auto; text-align: left }
.Top_bg { clear: both; height: 90px; background-color: #fff;border-bottom: 3px solid #feb804;  }
.Top_bg table { color: #555555 }
.Top_bg table tr td ul { width: 648px; height: 85px;}
.Top_bg table tr td ul li { width: 108px; float: left; height: 89px; line-height: 100px; font-size: 17px; font-family: "微软雅黑"; text-align: center; color: #555555 }
.Top_bgcur { background: url(../images/common/subNav.jpg) bottom center no-repeat }
.Top_bgcurf { background: url(../images/common/flag.png) no-repeat; background-position: 94px 32px }
.Top_bg table tr td ul li a { color: #555555; display: block }
.Top_bgcurph { background: url(../images/common/phone.png) left no-repeat; text-indent: 35px; font-size: 24px; font-family: "微软雅黑"; color: #555555 }
.index_banner { clear: both; width: 100%; height: 349px }
.top_bg { background-color: #FFF }
.titbanner { color: #663366 }

.f24 { font-size: 24px; }
footer { margin: 0; padding: 0; display: block; }
.fix_width { margin: 0 auto; width: 960px; }
.m-foot .m-information .line { background: url("../images/common/line31.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height: 1px; left: 0; margin-left: 14px; position: absolute; top: 188px; width: 952px; }
.m-foot { background: url("../images/common/foot_bg.png") repeat-x; clear: both; height: 275px; padding-top: 45px; width: 100%; margin-top: 20px; }
.m-information { height: 127px; position: relative; }
.m-information-left { float: left; width: 370px; }
.m-information .g-weixin { float: left; width: 120px; }
.m-information .g-weixin h3 { color: #fff; font-size: 16px; height: 26px; line-height: 26px; }
.m-information .g-weixin h3 label { display: inline-block; float: left; }
.m-information .g-weixin h3 i { background: url("../images/common/foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; float: left; }
.m-information .g-weixin h3 i.i_bg { background-position: -24px -22px; height: 26px; line-height: 26px; margin-right: 5px; width: 28px; }
.m-information .g-weixin h3 i.i_bg01 { background-position: -67px -22px; display: inline-block; height: 26px; line-height: 26px; margin-right: 5px; width: 28px; }
.m-information .g-weixin h3 i.i_bg02 { background-position: -119px -25px; height: 26px; line-height: 16px; margin-left: 5px; margin-top: 5px; width: 26px; }
.m-information .g-weixin p { margin-top: 10px; }
.g-weixin-bg { height: 75px; width: 75px; }
.hotline { color: #fff; float: left; padding-left: 50px; width: 200px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
.hotline h3 { font-size: 16px; }
.about-us { border-right: 1px solid #e6e6e6; float: left; height: 125px; padding-right: 30px; width: 540px; }
.about-us dl { float: left; margin-left: 34px; width: 100px; }
.about-us dl dt { color: #fff; font-size: 14px; line-height: 30px; }
.about-us dl dd { color: #fff; font-size: 16px; line-height: 30px; padding-bottom: 0; }
.about-us dl dt a { color: #e6e6e6; font-size: 13px; }
.about-us dl dt a:hover { text-decoration: underline; }
.m-foot .m-information .line { background: url("../images/common/line31.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height: 1px; left: 0; margin-left: 14px; position: absolute; top: 288px; width: 952px; }
.g-copyright { clear: both; text-align: center; }
.g-copyright p { color: #aaaeb4; }
.pt10 { padding-top: 66px; }
.g-weixin-bg { background: url("../images/common/index_icon_wx.png") no-repeat scroll -140px 0 rgba(0, 0, 0, 0); height: 75px; padding: 7px; width: 75px; }
.f16 { font-size: 16px; }

.icon { background: url("../images/common/icon-content.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; height: 18px; vertical-align: middle; width: 18px }
.icon-app { background-position: -37px -46px; height: 16px; margin-top: -3px; width: 10px }
.ui-header { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); position: relative; z-index: 99999 }
.ui-header-top { background: none repeat scroll 0 0 #532157; color: #ccc }
.ui-header-top .ui-nav-item { color: #d5d5d5; font-size: 15px; height: 35px; line-height: 35px; padding: 0 10px }
.ui-header-top .ui-nav-dropdown .loadfail { height: 150px; line-height: 150px; text-align: center; width: 320px }
.ui-header-top .ui-nav-dropdown .loadfail img { vertical-align: middle }
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0 }
.clearfix:after, .container_12:after { clear: both }
.clearfix, .container_12 { }
a { outline: 0 none }
.container_12 .grid_12 { width: 960px }
.fn-left, .fn-right { display: inline }
.fn-left { float: left }
.fn-right { float: right }
.fn-clear:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden }
.fn-clear { }
.container_12 { margin-left: auto; margin-right: auto; width: 960px }
* { padding: 0px; margin: 0px }
body { line-height: 22px; font-size: 13px !important; font-size: 12px; background: #fff center bottom no-repeat; color: #666666; font-family: "微软雅黑" }
ul li { list-style: none; padding: 0px; margin: 0px }
a img { border: 0px }
img { border: 0px }
a { text-decoration: none }
a:hover { color: #663366; text-decoration: underline }
.Container { width: 960px; margin: 0 auto }
.Min-Container { width: 960px; margin: 0 auto; text-align: left }
.Top_bg { clear: both; height: 90px; background-color: #fff;border-bottom: 3px solid #feb804;  }
.Top_bg table { color: #555555 }
.Top_bg table tr td ul { width: 648px; height: 85px;}
.Top_bg table tr td ul li { width: 100px; float: left; height: 89px; line-height: 100px; font-size: 17px; font-family: "微软雅黑"; text-align: center; color: #555555 }
.Top_bgcur { background: url(../images/common/subNav.jpg) bottom center no-repeat }
.Top_bgcurf { background: url(../images/common/flag.png) no-repeat; background-position: 94px 32px }
.Top_bg table tr td ul li a { color: #555555; display: block }
.Top_bgcurph { background: url(../images/common/phone.png) left no-repeat; text-indent: 35px; font-size: 24px; font-family: "微软雅黑"; color: #555555 }
.index_banner { clear: both; width: 100%; height: 349px }
.top_bg { background-color: #FFF }
.titbanner { color: #663366 }
