@charset "utf-8";
/* CSS Document */
body {
    background-color: #edf3f6;
    font-family: 'helvetica' , 'Microsoft Yahei';
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.bdt_message td{ padding-left:20px; font-size:10px;}
.huikuan{background:#edf3f6;}
.huikuan h3{ height:31px; line-height:31px; border-top:2px solid #d1d6dd; background:#edf3f6; color:#8691ac; }
.hk_list{ line-height:30px; color:#86919f;}
.hk_list thead{ background:#7ea0c2; color:#ffffff; border-top:1px solid #b2c7da; border-bottom:1px solid #b2c7da}
.double_bor{ background: url(../images/line.jpg) repeat-x left bottom;}
.icon_arrow,.yt_biao_state1,.yt_biao_state2,.yt_biao_state3,.yt_biao_state4{background-image:url(../images/icon.png); background-repeat:no-repeat;}
.icon_arrow{ background-position: 0px -100px;width:8px; height:13px; display:inline-block;}
.contract_btn a{ color:#556880; text-decoration:none; font-size:15px; display:block;}

.yt_con{ position:relative;}
.yt_biao_state1,.yt_biao_state2,.yt_biao_state3,.yt_biao_state4{width:45px; height:37px; display:block; background-position:0px -51px; position:absolute; right:10px; bottom:0px;}
.yt_biao_state2{background-position:-49px -51px;}
.yt_biao_state3{background-position:-98px -51px;}
.yt_biao_state4{background-position:-149px -51px;}
.clear{ clear: both}

.bd_top {
    border-bottom: 1px #dfe2e6 solid;
    background-color: #fafafa;
}


.bdt_message 
{
	margin-top: 5px;
	font-size: 9px;
	color: #98a1b8;
	margin-bottom: 5px;
	position: relative;
}
.bdt_message th {
	text-align: right;
	padding-top: 3px;
	font-size: 9px;
	font-weight: normal;
}
.bdt_message td {
	padding-left: 10px;
	font-size: 12px;
	padding-top: 5px;
	line-height: 16px;
}


/*特殊字体*/
.bdt_message tr .tb_zi {
	color: #f3781b;
	font-size: 22px;
	line-height: 20px;
}
.tb_zi span {
	font-size: 16px;
	line-height: 14px;
	vertical-align: top;
}
.bdt_message tr  .tb_zi2 {
	color: #98A1B8;
	font-size: 12px;
}

/*夹杂字体*/
.tb_zi .qx {
	font-size: 9px;
	line-height: 18px;
	color: #98a1b8;
	margin-left: 20px;
	font-weight: bold;
}
.tb_zi .tb_zi3 {
	font-size: 22px;
	line-height: 18px;
}

.tb_zi .tb_zi4 {
	font-size: 12px;
	line-height: 16px;
	vertical-align: bottom;
	margin-left: 2px;
}
.bdt_message .tb_zi5 {
	font-size: 12px;
	color: #f3781b;
}

/*斜图片*/
.ctr_img,.ctr_img2,.ctr_img3,.ctr_img4,.ctr_img5{ background-image:url(../images/icon.png); background-repeat:no-repeat;}
.ctr_img,.ctr_img2,.ctr_img3,.ctr_img4,.ctr_img5 {
	height: 41px;
	width: 41px;
    display: block;
	bottom: -6px;
	right: 0px;
    position: absolute;
	z-index: 1;
	background-position:-44px 0px;
}
.ctr_img2{background-position:0px 0px;}
.ctr_img3{background-position:-86px 0px;}
.ctr_img4{background-position:-131px 0px;}
.ctr_img5{background-position:-174px 0px;}

.fl {
	float: left;
}


/*投资人信息*/
#tb1 .g-money {
	color: #f3781b;
}
.bdf_txt {
	border-top: 0px;
	padding: 10px;
	padding-left: 15px;
	font-size: 10px;
}

.bdf_txt table {
	font-size: 10px;
	color: #748295;
}
.tb_line {
	padding-top: 10px;
	line-height: 16px;
}


.bdf_txt .tb_ql {
	width: 100%;
}
.tb_ql tr {
	width: 100%;
}
.tb_ql tr td {
	text-align: center;
}