@charset "utf-8";
/**
* Description: common style 
**/
/*public style*/
body {color:#333;}
a{ text-decoration:none; color:#3b7ab3;}
a:hover{ color:#3a648a;}
pre{ word-break:break-all; word-wrap:break-word; white-space:pre-wrap;}    
.wrap{ width:1020px; margin:0px auto;}
/*head css*/
header{}