<!DOCTYPE html>
<html>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>【注册有礼】全面专业的互联网投资平台-网信理财</title>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/base.css');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/common.css');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/landingpage.css');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v2/css/weebox.css');?>">

    <!--[if lte IE 9]>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/common/html5shiv.js');?>"></script>
    <![endif]-->
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/common/jquery-1.10.2.min.js');?>"></script>    
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/common/validateConf.js');?>"></script>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v2/js/landingpage/landingpage.js');?>"></script>

</head>

<body>
   <div class="head p-cash">
    <div class="wrap">
        <a class="logo" href="http://www.firstp2p.com" target="_blank"></a>
        <div class="logo-desc"></div>
    </div>
</div>
<div class="banner p-cash">
    <div class="wrap">
        <div class="cash-reg common-sprite">
            <div class="ipt-form">
                <div class="reg-head">
                    <a class="sub-tit common-sprite" href="http://www.firstp2p.com/user/login" target="_blank">老用户登录</a>
                    <h2>30秒快速注册</h2>
                </div>
                <div class="reg-mid">
                    <!-- <form action="" method="post" id="cash-red-form" onsubmit="return false;" autocomplete="off"> -->
                    <div id="cash-red-form">
                        <input type="hidden" name="redirect_uri" value="/landingpage">
                        <?php echo token_input(); ?>
                        <div class="log-form clearfix">
                         <div class="msg-wrapper  no-mobile">
                                <span class="msg single_msg">
                                    {$error.username}{$error.password}{$error.captcha}{$error.mobile}
                                    {$error.code}{$error.agreement}
                                </span>
                            </div>
                            <div class="log-item mar-t10">
                                <label class="user common-sprite"></label>
                                <input class="txt-input padd-l45" maxlength="16" type="text" name="username" id="input-username" placeholder="用户名">
                            </div>

                            <div class="log-item">
                                <label class="mobile common-sprite"></label>
                                <input class="txt-input padd-l45" maxlength="20" type="text" name="mobile" id="input-mobile" placeholder="手机号">
                            </div>

                            <div class="log-item">
                                <label class="pwd common-sprite"></label>
                                <span id="password_wapper">
                                    <input class="txt-input  padd-l45" maxlength="25" type="password" id="input-password" name="password" placeholder="密码">
                                </span>
                                <div class="pwd-show common-sprite"></div>
                            </div>

                            <div class="log-item item-veri clearfix">
                                <label class="veri-icon common-sprite"></label>
                                <input type="text" placeholder="输入验证码" maxlength="10" name="captcha" id="input-captcha" class="txt-input  padd-l45">
                                <div class="img-Veri">
                                    <img height="20px;" src="/verify.php?w=104&h=50&rb=0" id="f_captcha" class="f_captcha">
                                </div>
                                <div class="refresh common-sprite f_captcha"></div>
                            </div>
                            {if $invite_code}
                            <input type="hidden" id="input-invite" name="invite" value="{$invite_code}">
                            {/if}

                            <div class="log-item mar-t15">
                                <input type="checkbox" name="agreement" value="1" id="agree" class="check" checked><label for="agree">同意</label><a href="http://www.firstp2p.com/register_terms.html" class="yellow" target="_blank">《注册协议》</a>
                            </div>

                            <input data-label="短信验证码" type="hidden" name="code" id="input-code" value="000000" >

                            <div class="log-item">
                                <div class="log-form-btn">
                                    <input type="button" value="提交" class="btn-sub  common-sprite">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main p-cash">
    <div class="wrap">
        <span class="blank44"></span>
        <h2 class="h-base h-01 common-sprite"><div class="sub-tit">我们已为投资者赚得<span class="red">{$deals_income_view.income_sum}</span>元</div></h2>
        <div class="about-us clearfix">
            <div class="cash-01-l">
                <div class="cash-radio">
                    <!-- <iframe height=249 width=333 src="http://player.youku.com/embed/XOTI5Mzc1MjU2" frameborder=0 allowfullscreen></iframe> -->
                    <a href="http://v.youku.com/v_show/id_XOTI5Mzc1MjU2.html" target="_blank">
                    <img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/radio.jpg');?>" alt="">
                    </a>
                </div>
                <div class="radio-text-tit common-sprite"></div>
                <div class="radio-text">
                    <p class="yellow">最佳小额信贷服务平台
                        <br/> 北京市网贷行业协会常务副会长单位
                        <br/> 2014年度最受关注网贷平台（腾讯）
                        <br/> 央行互联网金融专业委员会首批会员单位之一
                        <br/> 2014年度最具创新活力互联网金融企业（新华社）
                    </p>
                </div>
            </div>
            <div class="cash-01-r"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/img01.jpg');?>" alt="" width="565" height="185"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/img02.jpg');?>" alt="" width="563" height="177" class="mar-t50"></div>
        </div>
        <h2 class="h-base h-02 common-sprite"></h2>
        <div class="media-reports clearfix">
            <div class="reports-l clearfix">
                <div class="new-feature"><a href="http://stock.sohu.com/20141117/n406096551.shtml" target="_blank"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/media.jpg');?>" alt="" width="331" height="250"></a></div>
                <div class="news"><span class="new-tit yellow">网信金融获选年度卓越互联网金融平台</span><span class="new-con"><a href="http://stock.sohu.com/20141117/n406096551.shtml" target="_blank">据主办方相关人员介绍，网信金融之所以可以获选年度卓越互联网金融平台，是由于网信金融旗下各业务板块在互联网金融细分领域中都处于领先地位。“网信金融已经构建了一个完善的互联网金融业务链，各个业务板块之间独立运作，但又具有很强的互补性，业务协同效应非常明显。”</a><span class="tr">来源：搜狐证券</span></span>
                </div>
            </div>
            <div class="reports-r common-sprite">
                <ul class="arc-list">
                    <li>
                        <a href="http://tech.sina.com.cn/i/2015-03-23/doc-icczmvun7057002.shtml" title="新浪科技：网信金融正式进入英国金融市场" target="_blank">新浪科技：网信金融正式进入英国金融市场</a>
                    </li>
                    <li>
                        <a href="http://finance.sina.com.cn/money/bank/p2p/20150323/163821785171.shtml" title="新浪财经：网信理财董事长李焕香：P2P行业到了上市阶段" target="_blank">新浪财经：网信理财董事长李焕香：P2P行业到了上市阶段</a>
                    </li>
                    <li>
                        <a href="http://news.163.com/15/0108/18/AFF6O8M800014JB6.html" title="网易新闻：网信理财首次引入时间戳 P2P电子数据安全更进一步 " target="_blank">网易新闻：网信理财首次引入时间戳 P2P电子数据安全更进一步</a>
                    </li>
                    <li>
                        <a href="http://finance.qq.com/a/20141218/025556.htm" title="腾讯财经：2014年度中国最受关注网贷平台：网信理财" target="_blank">腾讯财经：2014年度中国最受关注网贷平台：网信理财</a>
                    </li>
                    <li>
                        <a href="http://01caijing.com/html/ejr/1435_7858.html" title="零壹财经：北京市网贷行业协会正式获批成立" target="_blank">零壹财经：北京市网贷行业协会正式获批成立</a>
                    </li>
                    <li>
                        <a href="http://tech.163.com/15/0310/10/AKBCER2G000915BF.html" title="网易科技：11家小微贷金融机构与FICO签约" target="_blank">网易科技：11家小微贷金融机构与FICO签约</a>
                    </li>
                </ul>
            </div>
        </div>
        <h2 class="h-base h-03 common-sprite"></h2>
        <div class="investors-story">
            <ul class="clearfix">
                <!-- 循环 -->
                <li>
                    <div class="story-feature clearfix"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/tz01.jpg');?>" alt="" width="155" height="126"><span class="white">舞台下绽放投资光芒</span></div>
                    <div class="story-info"><span class="info-tit">魏女士<br/>
大连电视台主持人</span><span class="info-con">
九年的主持工作让其更加热爱生活和事业。她珍惜每一次在镜头前的主持，也追求舞台下的品质生活。她喜欢用互联网的方式进行投资，打理自己的资产，找到了繁忙工作和财富生活之间的平衡点。</span></div>
                </li>
                <!--//循环 -->
                <!-- 循环 -->
                <li>
                    <div class="story-feature clearfix"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/tz02.jpg');?>" alt="" width="155" height="126"><span class="white">紧跟时代潮流的老人</span></div>
                    <div class="story-info"><span class="info-tit">沈先生<br/>
非职业发明家</span><span class="info-con">
他和老伴儿各拿出相同数额的资金，开展夫妻间的P2P投资竞赛。三个月的投资实践，沈老的获利遥遥领先。他说，投资获利的大小决定于你对投资产品的信任程度。</span></div>
                </li>
                <!--//循环 -->
                <!-- 循环 -->
                <li>
                    <div class="story-feature clearfix"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/tz03.jpg');?>" alt="" width="155" height="126"><span class="white">越努力，越幸运</span></div>
                    <div class="story-info"><span class="info-tit">张小姐<br/>
公司职员</span><span class="info-con">
每天第一个进公司的她，开着宝马却也精打细算每一分钱的她，幸运的成为网信理财五万元中奖客户，是对这个勤奋的女孩的鼓励，让她更坚定的相信：越努力，越幸运。</span></div>
                </li>
                <!--//循环 -->
                <!-- 循环 -->
                <li>
                    <div class="story-feature clearfix"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/tz04.jpg');?>" alt="" width="155" height="126"><span class="white">火炬手妈妈的理财经</span></div>
                    <div class="story-info"><span class="info-tit">廖女士<br/>
全职妈妈,08年奥运火炬手</span><span class="info-con">
现虽身为全职妈妈，她一如既往地关注时事，了解到互联网金融最近比较火热，她萌生了亲自实践的想法。经过多方比较，最终选择了网信理财。如今已经有许多妈妈们来向她请教理财经验了。</span></div>
                </li>
                <!--//循环 -->
                <!-- 循环 -->
                <li class="mar-r0">
                    <div class="story-feature clearfix"><img src="<?php echo $this->asset->makeUrl('v2/images/landingpage/tz05.jpg');?>" alt="" width="155" height="126"><span class="white">爱生活，更爱理财</span></div>
                    <div class="story-info"><span class="info-tit">王女士<br/>
副教授,国家一级播音员</span><span class="info-con">
她生活中注重消费体验，喜欢简单、快捷、安全的理财方式。经过朋友的推荐和自己多番研究、对比，王羽选择了网信理财。于是，她收获了投资的喜悦、财富以及对互联网金融的深刻理解。</span></div>
                </li>
                <!--//循环 -->
            </ul>
        </div>
        <h2 class="h-base h-04 common-sprite mar-b0"></h2>
        <a href="/user/login?backurl=%2Faccount%2Fcoupon" target="_blank">
          <div class="more-excit"></div>
        </a>
    </div>
</div>

<!-- 短信验证码弹出框 -->
<div class="dialog-mask" id="dialog-mask" style="display: none; opacity: 0.5; width: 100%; z-index: 998;">
</div>
<div class="weedialog weebox" id="weedialog" style="display: none; position: fixed; overflow: hidden; z-index: 999; width: 450px; height:360px; top: 50%; left: 50%; margin-left: -225px; margin-top:-180px;">
    <div class="dialog-top">
        <div class="dialog-tl"></div>
        <div class="dialog-tc"></div>
        <div class="dialog-tr"></div>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="dialog-cl"></td>
                <td>
                    <div class="dialog-header">
                        <div class="dialog-title">验证手机号</div>
                        <div class="dialog-close"></div>
                    </div>
                    <div class="dialog-content">

                    <div class="edt-tab">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <colgroup>
                                <col width="20%">
                                <col width="80%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th colspan="2" style="line-height:20px;">
                                    验证码已发送到您的手机，有效时间是<span class="text-color">3</span>分钟。<br />
                                    如未收到，将以18401558140~18401558149号段再次发送
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    手机号：
                                </th>
                                <td>
                                    <label id="labels-mobile">****</label>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                 验证码：
                                </th>
                                <td>
                                    <input type="text" name="validNum" class="idbox w120" id="validNum" placeholder="请输入验证码" maxlength="10">

<input type="button" id="action-send-code" class="fd-btn-code" data-url="/user/MCode" data-url2="/user/MCode" value="获取短信验证码">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="err-tip p-cash">
                        <span class="red step1-tips validNumformError formvalidError">&nbsp;</span>
                    </div>
                    </div>
                    <div class="dialog-button"> <a class="btn-base dialog-ok"><span>确定</span></a> <a class="btn-base dialog-cancel" style="display:none"><span>取消</span></a> </div>
                </td>
                <td class="dialog-cr"></td>
            </tr>
        </tbody>
    </table>
    <div class="dialog-bot">
        <div class="dialog-bl"></div>
        <div class="dialog-bc"></div>
        <div class="dialog-br"></div>
    </div>
</div>
<!-- /短信验证码弹出框 -->

{include file="web/views/v2/footer.html"}
