
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: '微软雅黑','Microsoft Yahei',Arial,sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
form,li {
  margin: 0px;
  padding:0px;
}

a:hover,
a:focus,
a:active {
  outline: 0;
}
img {
  border: 0;
}
ul,
ol,
dl {
  padding: 0; margin:0px; list-style:none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
input {
  // vertical-align: middle;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="password"]:focus,input[type="text"]:focus{ box-shadow:0 1px 4px rgba(125, 125, 125, 0.35) inset, 0 0 7px rgba(118, 176, 222, 0.45); border:1px solid #ffb904}



body {
  font-family: '微软雅黑', 'Microsoft Yahei', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  color: #444;
}
a {
  text-decoration: none;
  color: #4B96D3;
}
a:hover {
  color: #286DA6;
}
input { font-family: '微软雅黑', 'Microsoft Yahei', Arial, sans-serif; }
input.text {
  width: 240px;
  padding: 6px;
  font-size: 13px;
  border: 1px solid #d3d3d3;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #eee;
}


.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}


.tab {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
}
.tab.bottom-bordered {
  border-bottom: 1px solid #d9d9d9;
}
.tab li {
  display: block;
  float: left;
  margin-bottom: -1px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.tab li a {
  display: block;
  height: 25px;
  padding: 4px 18px 5px;
  text-align: center;
  background-color: #f6f6f6;
  color: #444;
}
.tab li a:hover {
  text-decoration: none;
  background-color: #f9f9f9;
}
.tab li.active {
  border-bottom: 0;
}
.tab li.active a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
.tab li.first {
  margin-left: 20px;
  border-left: 1px solid #d9d9d9;
}


.central-content {
  width: 720px;
  margin: 30px auto;
}
.page-tab-container {
  width: 920px;
  margin: 0 auto;
  padding-top: 15px;
}
.page-tab-container .tab .first {
  margin-left: 216px;
}


#header {
  width: 920px;
  overflow: hidden;
  margin: 20px auto;
}
#header-logo {
}

.title-traverse {
  padding: 7px 0;
  background: #f6f6f6;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.title-traverse h1 {
  width: 860px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.125em;
}

.form-helper { width: 100%; }
.form-helper th,
.form-helper td {
  padding: 10px 12px;
}
.form-helper th {
  width: 80px;
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}
.form-helper td {
  font-size: 14px;
}

.error-inline {
  margin-left: 1em;
  font-size: 12px;
  color: #cd1223;
}

.footer {
  width: 880px;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  border-top: 1px dotted #e3e3e3;
}
.footer p {
  font-size: 12px;
  color: #888;
}


/*按钮*/
.enter_btn{
	margin:0 0 0 70px;
	_margin: 0 0 0 35px;
	background:#25aae2;
	width:114px;
	height:36px;
	display:block;
	border:none;
	text-align:center;
	border-radius:2px;
	color:#ffffff;
	font-size:16px;
	font-family:"微软雅黑";
	line-height:36px;
	margin-right: 12px;
	
}
.enter_btn:hover{background:#49c0f2; color:#fffffff;}
.enter_btn:active{background:#0790c9; color:#fffffff;}
.register-btn {
	width: 114px;
	height: 36px;
	float: left;	
	cursor: pointer;
	background: #ffb904;
	display:block;
	color:#ffffff;
	text-decoration:none;
	line-height:36px;
	border-radius:2px;
	font-size:16px;
	text-align:center;
	border:none;
}
.register-btn:hover{ background:#ffca40;color:#ffffff;}
.register-btn:active{ background:#ffb904;color:#ffffff;}
.icon_yes,.icon_no{ background-image: url(../../images/oauth/icon.png); background-repeat:no-repeat; width:15px; height:15px; display:inline-block; vertical-align:middle; margin-left:8px;}
.icon_yes{ background-position:0px -19px;}


.gonggao{ padding:0px 20px; color:#333; line-height:20px; font-size:12px; padding-bottom:30px;}
.w360{ width:360px; font-size:12px;}

.no_tip{
    color:red;
}

.yes_tip {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    background: url(../../images/oauth/icon.png) no-repeat 0px -19px;
}
.m-head .fix_width span a {
    background: url("../../images/oauth/logo_wx.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 57px;
    width: 224px;
}