@charset "utf-8";
/* CSS Document */
body,p,div,ul,ol,li,dl,dt,dd,span,var,em,a,img,strong,table,td,tr,h2,h3,h4,h5,form{
	margin:0;
	padding:0;
	font-size:12px;
	}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{display:inline-table;}
/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
/*找回密码--企业用户*/
.ps_top{
	background:url(../../images/oauth/login/cen_box_topbg.png) no-repeat;
	height:43px;
	width:986px;
}
.ps_title{
	font-size:14px;
	color:#ffffff;
	padding-left:24px;
	padding-top:17px;
}
.ps_bottom{
	background:url(../../images/oauth/login/cen_box_bbg.png) no-repeat;
	height:11px;
	font-size:0;
	width:986px;
}
.ps_con_outter{
	width:986px;
	background:#f3f1f1 url(../../images/oauth/login/cen_bg.gif) repeat-x;
}
.ps_con_inner{
	width:986px;
	background: url(../../images/oauth/login/box_left_bg.gif) repeat-y left top;
}
.ps_con{
	width:986px;
	background: url(../../images/oauth/login/box_r_bg.gif) repeat-y right top;
}
.small_ps_top{
	background:#ffffff url(../../images/oauth/login/small_tbg.gif) no-repeat left top;
	width:459px;
	height:51px;
}
.ps_return_tit{
	margin:0 9px;
	border-bottom:1px dashed #666666;
	height:50px;
	line-height:50px;
	padding-left:38px;
	font-size:14px;
}
.mobile_ps{background:url(../../images/oauth/login/icon02.gif) no-repeat 12px 13px;}
.email_ps{background:url(../../images/oauth/login/icon01.gif) no-repeat 10px 18px;}
.ps_return_box{
	background:#e5e5e5 url(../../images/oauth/login/small_bg.gif) repeat-x;
	width:457px;
	border:1px solid #bdbdbd;
	border-top:none;
}
.ps_form{padding:36px 0;}
.ps_form li{
	overflow:hidden;
	zoom:1;
	margin-bottom:10px;
}
.ps_label{
	float:left;
	line-height:35px;
	width:100px;
	margin: 7px 6px 0 0;
	text-align: right;
}
.ps_label span{
	float:right;
	color:#656565;
	font-size:14px;
	line-height:35px;
}
.ps_label b{
	float:right;
	width:5px;
	height:6px;
	color:#fe0000;
	margin:0 5px 0 0;
	font-weight:normal;
}
.ps_text{
	float:left;
	border: 0;
	background:transparent;
	width:198px;
	margin-top: 1px;
	padding:10px 0 4px 6px;
	color:#666;
	outline: 0;
}
#input-password {
}
.ps_tip{
	color:#bebebe;
	height:16px;
	line-height:16px;
	padding-left:23px;
	margin:5px 0 8px 13px;
	background:url(../../images/oauth/hint.png) no-repeat;
}
.tips01{ background-position:0 -44px;}
.tips02{ background-position:0 -22px;}
.tips03{ background-position:0 0;}
.ps_code{
	display:block;
	width:120px;
	height:41px;
	background:url(../../images/oauth/login/code_btn.gif) no-repeat;
}
.ps_submit{
	border:none;
	background:url(../../images/oauth/login/btn01.gif) no-repeat;
	width:221px;
	height:51px;
}
/*企业注册*/
.reg_top_box{width:499px; height:45px;}
.re_current{
	display:block;
	background:url(../../images/oauth/login/top_btn02.gif) no-repeat left bottom;
	width:249px;
	height:45px;
	float:left;
}
.re_mobile{
	display:block;
	padding:19px 0 12px 113px;
	background:url(../../images/oauth/login/icon02.gif) no-repeat 77px 12px;
	font-size:14px;
}
.re_mode{
	display:block;
	background:url(../../images/oauth/login/top_btn01.gif) no-repeat left bottom;
	width:249px;
	height:45px;
	float:left;
}
.re_email{
	display:block;
	padding:17px 0 12px 109px;
	background:url(../../images/oauth/login/icon01.gif) no-repeat 70px 17px;
	font-size:14px;
	font-weight:bold;
}
.agree_regist{
	margin-left:140px;
	width:220px;
	text-align:center;
}
.agree_btn{
	background:url(../../images/oauth/login/btn02.gif) no-repeat;
	width:220px;
	height:51px;
	border:none;
}
.agree_regist a{color:#737373; text-decoration:underline; display:block;margin-top:20px;}
.login_imme{
	background:url(../../images/oauth/login/left_line.gif) no-repeat 0 35px;
	margin-left:9px;
	height:577px;
}
.login_imme p{
	padding:60px 0 38px 145px;
	font-size:19px;
	font-family:微软雅黑;
	color:#333333;
}
.login_imme a{
	display:block;
	border:none;
	background:url(../../images/oauth/login/btn03.gif) no-repeat 0 0;
	width:140px;
	height:50px;
	margin-left:153px;
}
/*登录*/
.sign_in_box{
	background:url(../../images/oauth/login-page-cover.jpg) no-repeat 0 5px;
	height: 450px;
	width:986px;
}
.sign_in_wrap{
	width:471px;
	height:450px;
	overflow: hidden;
	background:  url(../../images/oauth/login-panel-bg.png) no-repeat 35px 1px;
}
.login_way_box{
	width:409px;
	height:45px;
	margin:0 0 0 35px;
}
.login_current{
	display:block;
	background:url(../../images/oauth/login/login_current.png) no-repeat left bottom;
	width:190px;
	height:50px;
	text-align:center;
	color: #fff;
}
.login_current span{font-size:14px;padding-top:15px;display:block;}
.login_way{
	display:block;
	background:url(../../images/oauth/login/login_way.png) no-repeat left bottom;
	width:190px;
	height:50px;
	text-align:center;
	color: #666;
}
.login_way span{font-size:14px;padding-top:15px;display:block;}
.login_form{padding:25px 0 0 25px;}
.login_form li{
	height: 38px;
	margin-bottom:24px;
}
.for_ps a{
	color:#2481ac;
	margin-left:65px;
	font-size:14px;
	vertical-align:middle;
}
.for_ps label{
	font-size:14px;
	color:#616161;
	vertical-align:middle;
}
.enter_btn{
	margin:0 0 0 70px;
	_margin: 0 0 0 35px;
	background:url(../../images/oauth/button-login.gif) no-repeat;
	width:119px;
	height:40px;
	display:block;
	border:none;
}
.entry_tip{
	border-top:1px solid #e8e8e8;
	width:385px;
	text-align:center;
	margin:42px 38px 0 50px;
	color:#808080;
	font-size:14px;
	padding-top:30px;
}
.entry_tip a{ color:#0155bf;}
/*注册成功*/
.regist_succ_tip{padding:175px 0 200px 270px;}
.regist_succ{
	
	background:url(../../images/oauth/login/ps_icon00.png) no-repeat;
	padding-left:128px;
	height:100px;
}
.regist_succ p{
	line-height:40px;
	font-size:19px;
	font-family:微软雅黑;
	color:#333333;
}
.regist_succ span{
	font-size:16px;
	font-family:微软雅黑;
	color:#666;
	line-height:30px;
}
.regist_succ p.ps_reset{padding-top:20px;}
.regist_succ p.ps_reset a{
	color:#165ea8;
	text-decoration:underline;
	font-size:19px;
	font-family:微软雅黑;
	
}



.ps_pad01{padding:23px 0 25px 26px;}
.ps_pad02{padding: 0 0 0 485px;}
.ps_mar_l01{margin-left:114px;}
.ps_col01{ color:#bebebe;}




body {
	background: #f4f4f4 url(../../images/oauth/login-page-bg.gif) repeat-x;
}
#login-panel-header {
	width: 380px;
	height: 30px;
	margin-left: 35px;
	padding: 15px 0 0;
	font-size: 15px;
	text-align: center;
	background: url(../../images/oauth/login-panel-header.png) no-repeat;
	color: #888;
}
#error-row {
	height: 24px;
	margin-bottom: 10px;
	padding-left: 72px;
	color: #cc1223;
}
.input-row {
	position: relative;
	background: url(../../images/oauth/login-input-bg.gif) no-repeat 70px 0;
}
#forget-password-row {
	margin: 7px 0 5px 72px;
}
#forget-password-row a {
	color: #4B96D3;
}
#forget-password-row a:hover {
	color: #286DA6;
}
#captcha-image {
	width: 91px;
	height: 35px;
	position: absolute;
	left: 223px;
	top: 1px;
	cursor: pointer;
}
#form-action-row {
	height: 40px;
}
#form-action-row input {
	float: left;
	cursor: pointer;
}
.register-button a {
	width: 119px;
	height: 40px;
	float: left;
	margin-left: 12px;
	cursor: pointer;
	background: url(../../images/oauth/button-register.gif) no-repeat;
}
#third-party-row {
	height: 75px;
}
#third-party-row .third-party-label {
	width: 248px;
	margin-left: 72px;
	background: url(../../images/oauth/dot.gif) repeat-x 0 8px;
}
#third-party-row .third-party-label div {
	width: 110px;
	margin: 0 auto;
	text-align: center;
	background: #fdfdfd;
	color: #888;
}
#login-qq,
#login-weibo {
	display: block;
	width: 121px;
	height: 42px;
	float: left;
	margin-top: 10px;
	background: url(../../images/oauth/login-qq.png) no-repeat;
}
#login-qq {
	margin-left: 70px;
	_margin-left: 35px;
}
#login-weibo {
	margin-left: 10px;
	background: url(../../images/oauth/login-weibo.png) no-repeat;
}

.footer {
	margin: 40px 0 20px;
}
.footer p {
	line-height: 2;
  text-align: center;
  color: #444;
}
.footer img {
	vertical-align: middle;
}
