@charset "utf-8";
/* CSS Document */

body,p,div,ul,ol,li,dl,dt,dd,span,var,em,a,img,strong,table,td,tr,h2,h3,h4,h5,form{
	font-family: Arial, Helvetica, sans-serif;
	font-family:微软雅黑;
	margin:0;
	padding:0;
	font-size:12px;
	}
a,img{border:none;}
ul,ol{list-style-type:none;}
.clear{overflow:hidden;height:0;clear:both; font-size:0;}
a{text-decoration:none; outline:none; color:#333;}
var,em{ font-style:normal;}
.fleft{float:left;}
.fright{float:right;}
/*框架*/
body{background:url(../images/body_bg.jpg) repeat;}
.ste_part{
	width:986px;
	overflow:hidden;
	margin: 0 auto;
	text-align:left;
}
/*头部*/
.steward_head{
	background:url(../images/s_head_bg.jpg) repeat-x;
	height:164px;
	width:100%;
}
.ste_logo{
	display:block;
	background:url(../images/s_logo.png) no-repeat ;
	width:220px;
	height:64px;
	margin-top:9px;
}
.ste_nav{
	padding:57px 0 0 40px;
}
.ste_nav a{
	display:block;
	width:72px;
	height:26px;
	line-height:26px;
	text-align:center;
	float:left;
	color:#616161;
}
.ste_nav a:hover,.ste_nav a:active{background:url(../images/nav_bg.png) no-repeat ; color:#fff;}
.ste_nav a.new_stop:link,.ste_nav a.new_stop:visited,
.ste_nav a.new_stop:hover,.ste_nav a.new_stop:active{background:url(../images/nav_bg.png) no-repeat; color:#fff;}
.ste_nav span{
	float:left;
	margin:6px;
	height:14px;
	border-left:1px solid #747474;
	border-right:1px solid #BFBFBF;
	display:block;
}
.ad_box{margin:18px 0 0 55px;}
/*2012-12-6 header修改*/
.ucf{
	background:url(../images/h_icon1.png) no-repeat ;
	width:221px;
	height:18px;
	display:block;
	margin-top:10px;
}
.wisdom{
	background:url(../images/h_icon2.png) no-repeat ;
	width:230px;
	height:24px;
}
/*nav*/
.nav_outter{
	width:982px;
	height:43px;
	background:url(../images/nav_cen.gif) repeat-x;
}
.nav_inner{
	width:982px;
	height:43px;
	background:url(../images/nav_left.gif) no-repeat left top;
}
.fina_nav_0{
	width:982px;
	height:43px;
	background:url(../images/nav_right.gif) no-repeat right top;
}
.nav_list{
	width:982px;
	height:40px;
}
.nav_list li{
	float:left;
	width:89px;
	height:40px;
	background:url(../images/li_bg.gif) no-repeat right 1px;
}
.nav_list li.last{ background:none; width:92px;}
.nav_list li a{
	display:block;
	width:89px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#5B5B5B;
	font-size:14px;
	margin-left:-1px;
	
}
.nav_list li.last a{width:92px;}
.nav_list li.first a{margin-left:0;}
.nav_list li a:hover,.nav_list li a:active{background:url(../images/a_bg.gif) no-repeat; color:#fff;}

.nav_list li.last a:hover,.nav_list li.last a:active{background:url(../images/nav_right.png) no-repeat 0 1px ; color:#fff;}

.nav_list li.first a:hover,.nav_list li.first a:active{background:url(../images/nav_left.png) no-repeat 0 1px ; color:#fff;}

.nav_list li.nav_stop a:link,.nav_list li.nav_stop a:visited,
.nav_list li.nav_stop a:hover,.nav_list li.nav_stop a:active{background:url(../images/a_bg.gif) no-repeat; color:#fff;}

.nav_list li.first_nav a:link,.nav_list li.first_nav a:visited,
.nav_list li.first_nav a:hover,.nav_list li.first_nav a:active{background:url(../images/nav_left.png) no-repeat 0 1px ; color:#fff;}

.nav_list li.last_nav a:link,.nav_list li.last_nav a:visited,
.nav_list li.last_nav a:hover,.nav_list li.last_nav a:active{background:url(../images/nav_right.png) no-repeat 0 1px ; color:#fff;}
/*banner*/
.latest_notices{
	height:37px;
	line-height:37px;
	background:#9A0000;
}
.latest_notices span{margin-left:20px; color:#fff;}
.latest_notices a{margin-left:10px; color:#fff;}
/*视频*/
.ste_banner_box{
	width:981px;
}
.video_box{
	position:absolute;
	right:-14px;
	top:13px;
	background:url(../images/video_box.png) no-repeat ;
	width:335px;
	height:258px;
}
.video{
	width:310px;
	height:220px;
	margin:13px 12px 0 12px;
}
/*银行*/
.ste_box{
	width:250px;
	height:1%;
}
.box_top{
	width:250px;
	background:url(../images/box_top_bg.gif) no-repeat left top;
	height:12px;
	font-size:0;
}
.box_bottom{
	width:250px;
	background:url(../images/box_bottom_bg.gif) no-repeat left bottom;
	height:15px;
	font-size:0;
}
.box_con{
	width:246px;
	background:#E1E1E1 url(../images/box_bg.gif) repeat-x left top;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	height:1%;
}
.ste_bank li{
	float:left;

	width:96px;
	margin:0 0 10px 13px;
	_margin:0 0 10px 9px;
}
.bank_icon{
	display:block;
	width:71px;
	height:71px;
	margin:0 auto 10px auto;
}
.bank_item{
	display:block;
	width:96px;
	text-align:center;
	line-height:14px;
	color:#393939;
}
.ste_tit{
	background:url(../images/line1.gif) no-repeat left bottom;
}
.tit{
	padding:5px 0 12px 3px;
	color:#3C3C3C;
	font-size:14px;
}
.line_bg{
	background:url(../images/line2.gif) no-repeat left bottom;
	width:205px;
	height:2px;
	font-size:0;
}
.down_btn{
	background:url(../images/down_btn.png) no-repeat ;
	width:214px;
	height:52px;
	margin:0 auto;
}
.iphone_btn,.iospad_btn{
	display:block;
	line-height:52px;
	color:#3C3C3C;
	width:105px;
	float:left;
	cursor:pointer;
}
.iphone_btn:hover,.iphone_btn:active,
.iospad_btn:hover,.iospad_btn:active{background:url(../images/l.png) no-repeat;color:#fff;}
.iphone_btn span{
	padding-left:38px;
	background:url(../images/ste_icon3.png) no-repeat 13px 11px ;
	display:block;
}
.iphone_btn:hover span,.iphone_btn:active span{background:url(../images/ste_icon3_hover.png) no-repeat 13px 11px ;color:#fff;}
.iospad_btn span{
	padding-left:44px;
	background:url(../images/iospad1.png) no-repeat 13px 17px ;
	display:block;
}
.iospad_btn:hover span,.iospad_btn:active span{background:url(../images/iospad2.png) no-repeat 13px 17px ;color:#fff;}
.android_btn,.adpad_btn{
	display:block;
	line-height:52px;
	width:108px;
	color:#3C3C3C;
	float:left;
	cursor:pointer;
}
.android_btn:hover,.android_btn:active,
.adpad_btn:hover,.adpad_btn:active{background:url(../images/r.png) no-repeat; color:#fff;}
.android_btn span{
	padding-left:33px;
	background:url(../images/ste_icon2.png) no-repeat 9px 10px ;
	display:block;
	}
.android_btn:hover span,.android_btn:active span{background:url(../images/ste_icon2_hover.png) no-repeat 9px 10px ; color:#fff;}
.adpad_btn span{
	padding-left:33px;
	background:url(../images/adpad1.png) no-repeat 6px 17px ;
	display:block;
}
.adpad_btn:hover span,.adpad_btn:active span{background:url(../images/adpad2.png) no-repeat 6px 17px ; color:#fff;}
.apply_top_0{
	width:462px;
	background:url(../images/box_top_bg2.gif) no-repeat left top;
	height:12px;
	font-size:0;
}
.apply_bottom{
	width:462px;
	background:url(../images/box_bottom_bg2.gif) no-repeat left bottom;
	height:13px;
	font-size:0;
}
.apply_con{
	width:458px;
	background:#E1E1E1 url(../images/box_bg2.gif) repeat-x left top;
	border-left:2px solid #d8d8d8;
	border-right:2px solid #d8d8d8;
	height:1%;
	padding-bottom:6px;
}
.item_apply{
	margin-left:7px;
}
.item_apply li{
	background:url(../images/line3.gif) no-repeat left bottom;
	padding:13px 0;
	position:relative;
	/*width:450px;*/
}
.item_apply li.last{ background:none;}
.item_tip{
	font-size:14px; 
	color:#3C3C3C;
	width:350px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_infor{
	width:350px;
	line-height:22px;
	color:#3C3C3C;
	white-space:normal; 
	word-break:break-all;
	overflow:hidden;
	height:44px;
	text-overflow: ellipsis;
}
.item_infor_fei{
	width:350px;
	line-height:22px;
	color:#3C3C3C;
	white-space:normal; 
	word-break:break-all;
	overflow:hidden;
}
.apply_btn{
	display:block;
	background:url(../images/apply_btn.png) no-repeat ;
	width:89px;
	height:32px;
	text-align:center;
	line-height:32px;
	color:#fff;
	cursor:pointer;
	position:absolute;
	right:17px;
	top:6px;
}
/*应用下载*/
.down_list_box{
	width:165px;
	height:80px;
	margin:20px auto 15px auto;
}
.down_list{
	position:relative;
	width:80px;
	height:80px;
	z-index: 100;
	margin:0 auto;
}
.list_left{
    height: 51px;
    opacity: 0.7;
    position: absolute;
    left: -47px;
    top: 15px;
    width: 58px;
    z-index: 150;
}
.list_mid{
    height: 80px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 250;
}
.list_right{
    height: 51px;
    opacity: 0.7;
    position: absolute;
    right: -47px;
    top: 15px;
    width: 58px;
    z-index: 100;
}
/*公告栏*/
.ste_notice li{
	background:url(../images/line2.gif) no-repeat left bottom;
	height:33px;
	line-height:33px;
}
.ste_notice li a{
	background:url(../images/ste_icon10.gif) no-repeat 4px 12px;
	display:block;
	height:33px;
	line-height:33px;
	overflow: hidden;
    padding-left: 20px;
	color:#666666;
}
.ste_notice li a span{
	text-overflow: ellipsis;
    white-space: nowrap;
	color:#666666;
	display:block;
	height:33px;
	line-height:33px;
	overflow: hidden;
	width:186px;
}
/**/
/*合作伙伴*/
.partner_top{
	width:986px;
	background:url(../images/box_top_bg3.gif) no-repeat left top;
	height:12px;
	font-size:0;
}
.partner_bottom{
	width:986px;
	background:url(../images/box_bottom_bg3.gif) no-repeat left bottom;
	height:13px;
	font-size:0;
}
.partner_con{
	width:982px;
	background:#E1E1E1 url(../images/box_bg.gif) repeat-x left top;
	border-left:2px solid #d8d8d8;
	border-right:2px solid #d8d8d8;
	height:1%;
}
.par_tit{
	background:url(../images/line4.gif) no-repeat left bottom;
	margin:0 15px;
}
.parters{padding:10px 0 10px 20px;}
.parters a{
	width:100px;
	display:block;
	height:28px;
	line-height:28px;
	color:#6F6763;
	font-size:12px;
	text-align:left;
	float:left;
	margin-right:40px;
}
.parters a.line_last{margin-right:0;}
/*footer*/
.ste_footer{
	background:url(../images/foot_bg2.png) repeat-x;
	/*height:218px;*/
	width:100%;
}
.footer_nav{padding:15px 0 10px 0; text-align:center;}
.footer_nav a {
    color: #252525;
    margin: 0 18px;
}
/*2012-12-6 footer修改*/
.sub_web_name{
	font-size:16px;
	color:#000;
	padding:13px 12px 0 0;
}
.sub_web{
	overflow:hidden;
	zoom:1;
	width:815px;
}
.sub_web li{
	float:left;
	width:126px;
	height:44px;
	margin-right:9px;
	margin-bottom:7px;
}
.sub_web li a,.sub_web li a img{
	display:block;
	width:126px;
	height:44px;
	/*border:1px solid #f00;*/
}
/*热销产品*/
.hot_pro_tit{
	background:url(../images/line3.gif) no-repeat left bottom;
	margin-left:7px;
}
.hot_pro li{padding-left:7px;}
/*红色公告栏*/
.red_notice li a{
	background: url("../images/ste_icon16.png") no-repeat scroll 4px 10px transparent ;
    color: #666666;
    display: block;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    padding-left: 27px;
    
}
.red_notice li a span{
	text-overflow: ellipsis;
    white-space: nowrap;
	display: block;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
	color: #666666;
	width:179px;
}
/*产品橱窗*/
.hot_top{
	width:725px;
	background:url(../images/hot_top_bg.gif) no-repeat left top;
	height:17px;
	font-size:0;
}
.hot_bottom{
	width:725px;
	background:url(../images/hot_bottom_bg.gif) no-repeat left bottom;
	height:15px;
	font-size:0;
}
.hot_con{
	width:721px;
	background:#E1E1E1 url(../images/hot_bg.gif) repeat-x left top;
	border-left:2px solid #C6C6C6;
	border-right:2px solid #C6C6C6;
	height:1%;
}
.hot_tit{
	background:url(../images/line_5.gif) repeat-x left bottom;
	margin:0 15px;
}
.hot_nav{margin-bottom:-8px;}
.hot_nav a{
	display:block;
	width:94px;
	height:36px;
	text-align:center;
	line-height:42px;
	color:#393939;
	float:left;
	font-size:14px;
	position:relative;
	
}
.hot_nav a.item_click{
	background:url(../images/hot_nav.png) repeat-x left bottom ;
	color:#E03434;
}
.search_term_top{
	background:url(../images/box_left.png) no-repeat 0 0 ;
	height:14px;
	width:687px;
	font-size:0;
}
.search_term_bottom{
	background:url(../images/box_right.png) no-repeat right top ;
	height:14px;
	width:687px;
	font-size:0;
}
.search_term{
	background:url(../images/box_center.png) repeat-x 0 0 ;
	width:685px;
	border-left:1px solid #B5B5B5;
	border-right:1px solid #B5B5B5;
}
.screen {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 5px rgba(228, 228, 228, 0.5);
    margin: 0 0 15px;
    padding: 20px 0 10px;
}
.screen_conditions li {
    float: left;
    margin: 0 15px 10px 18px;
	*margin:0 15px 0 18px;
    width: 272px;
}
.sear_sel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    font-size: 12px;
    height: 24px;
    padding: 3px;
    vertical-align: middle;
    width: 202px;
}
.screen_btn {
    background: url("../images/registered_btn.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 33px;
    line-height: 30px;
    text-align: center;
    width: 107px;
	margin-left:323px;
	
}
input.screen_btn[type="button"]:hover{background: url("../images/registered_btn_hover.gif") no-repeat;}
.key_word {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    height: 20px;
    padding: 3px;
    vertical-align: middle;
    width: 162px;
}
.search_bg{/*background:#F8F8F8; margin:13px 15px 0 15px;*margin:8px 15px 0 15px;*/}
.screen_conditions{padding-top:15px;}
.pro_list{border:1px solid #BFBFBF;}
.pro_list th{height:32px; line-height:32px; text-align:left; background:#F3F3F3;}
.pro_list td{height:30px; line-height:30px; text-align:left; color:#444; border-bottom:1px solid #BFBFBF; }
.pro_list th span{
	display:block;
	float:left;
	font-weight:normal;
	color:#000;
}
.pro_list th a{display:block; line-height:32px;}
.pro_list th var{
	display:block;
	float:left;
	background: url("../images/icon12.gif") no-repeat scroll 0 0 ;
	width:10px;
	height:6px;
	margin:12px 0 0 5px;
}
.pro_list .pro_list_firstspan{margin-left:22px;_margin-left:10px;}
.pro_list th a .list_down{background: url("../images/icon13.gif") no-repeat scroll 0 0 ;}
.mar_24{margin-left:22px;}
.pro_list tr.pro_even{background: url("../images/td_bg1.gif") repeat-x scroll 0 0 ;}
.pro_list tr.pro_odd{background: url("../images/td_bg2.gif") repeat-x scroll 0 0 ;}
.pro_list td .pro_name:link,.pro_list td .pro_name:visited{color:#B70100;}
.pro_list td .pro_apply:link,.pro_list td .pro_apply:visited{ color:#B60000;  font-weight:bold;}
.pro_list td .pro_apply:hover,.pro_list td .pro_apply:active,
.pro_list td .pro_name:hover,.pro_list td .pro_name:active{ text-decoration:underline;}
/*分页*/
.fina_page{width:164px;_width:170px;}
.fina_page a{
	float:left;
	display:block;
	width:34px;
	height:12px;
	line-height:12px;
	_padding-top:2px;
	text-align:center;
	line-height:12px;
	background:#C8C8C8;
	border:1px solid #7E7E7E;
	margin-left:5px;
	color:#323232
}
/*vip专区*/
.vip_login{
	position:absolute;
	right:0;
	top:0;
	width:250px;
	height:241px;
}

.vip_login_top{
	width:250px;
	background:url(../images/login_top.png) no-repeat left top ;
	height:9px;
	font-size:0;
}
.vip_login_bottom{
	width:250px;
	background:url(../images/login_bottom.png) no-repeat left bottom ;
	height:13px;
	font-size:0;
}
.vip_login_cen{
	margin-left: 1px;
    width: 246px;
	background:#E1E1E1 url(../images/box_bg.gif) repeat-x left top;
	border-left:1px solid #C6C6C6;
	border-right:1px solid #C6C6C6;
	height:223px;
}
.inp_txt{
	background:url(../images/inp_txt.png) no-repeat ;
	width:191px;
	height:31px;
}
.inp_txt input{
	border:none;
	width:183px;
	height:23px;
	margin:4px;
	background:#fff;
	margin:6px 4px \9;
	height:17px \9;
	color:#696969;
}
.vip_btn{
	display:block;
	width:98px;
	height:36px;
	text-align:center;
	line-height:36px;
	color:#575757;
	background:url(../images/vip_btn.png) no-repeat ;
	margin:15px auto 0 auto;
}
/*服务介绍*/
.service_top{
	width:714px;
	background:url(../images/service_top_bg.png) no-repeat left top ;
	height:8px;
	font-size:0;
}
.service_bottom{
	width:714px;
	background:url(../images/service_bottom_bg.png) no-repeat left bottom ;
	height:13px;
	font-size:0;
}
.service_con{
    width: 710px;
	background:#E1E1E1 url(../images/box_bg.gif) repeat-x left top;
	border-left:1px solid #C6C6C6;
	border-right:1px solid #C6C6C6;
	height:1%;
	margin-left:1px;
}
.buss{
	background:url(../images/icon01.png) no-repeat 0 5px;
	width:13px;
	height:30px;
}
.person{
	background:url(../images/icon02.png) no-repeat 0 5px;
	width:18px;
	height:30px;
}
.service{
	width:265px;
	margin-left:13px;
	white-space:normal;
	word-break:break-all;
	overflow:hidden;
	font-size:14px;
	color:#656565;
	line-height:25px;
}
/*银行账户*/
/*vip*/
.bank_tit{
	width:250px;
	background:url(../images/bank_bg.gif) no-repeat;
	height:45px;
}
/*经纪人*/
.agent_tit{
	width:250px;
	background:url(../images/agent_bank.gif) no-repeat;
	height:47px;
}
/*供应商*/
.supplier_tit{
	width:250px;
	background:url(../images/supplier_bank.gif) no-repeat;
	height:48px;
}
.bank{
	line-height:45px; 
	color:#fff; 
	margin-left:25px;
	font-size:14px;
}
.bank_infor{
	background:url(../images/bank_mid.gif) repeat-x;
	width:250px;
}
.bank_bottom{
	width:250px;
	background:url(../images/bank_bottom_bg.gif) no-repeat;
	height:12px;
	font-size:0;
}
.vip_step1,.vip_step2,.vip_step3,.vip_step4,.vip_step5{
	width:110px;
	height:110px;
	float:left;
	margin-right:23px;
}
.vip_step1{background:url(../images/vip_step1.png) no-repeat ;}
.vip_step2{background:url(../images/vip_step2.png) no-repeat !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/vip_step2.png',no-repeat);}
.vip_step3{background:url(../images/vip_step3.png) no-repeat !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/vip_step3.png',no-repeat);}
.vip_step4{background:url(../images/vip_step4.png) no-repeat !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/ip_step4.png',no-repeat);}
.vip_step5{background:url(../images/vip_step5.png) no-repeat !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/vip_step5.png',no-repeat);}
.vip_next{
	background:url(../images/icon011.png) no-repeat 0 33px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/icon011.png',no-repeat);
	float:left;
	margin-right:23px;
	height:110px;
	width:41px;
}
.step_desc li{
	float:left;
	white-space:normal;
	word-break:break-all;
	overflow:hidden;
	margin:0 30px 0 10px;
}
.step_desc li.last{margin:0 0 0 10px;}
.step_desc1,.step_desc2,.step_desc3,.step_desc4,.step_desc5{
	padding-left:34px; 
	line-height:22px; 
	color:#747474;
}

.step_desc1{background:url(../images/num1.png) no-repeat 0 4px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/num1.png',no-repeat);}
.step_desc2{background:url(../images/num2.png) no-repeat 0 4px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/num2.png',no-repeat);}
.step_desc3{background:url(../images/num3.png) no-repeat 0 4px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/num3.png',no-repeat);}
.step_desc4{background:url(../images/num4.png) no-repeat 0 4px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/num4.png',no-repeat);}
.step_desc5{background:url(../images/num5.png) no-repeat 0 4px !important;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale,src='images/num5.png',no-repeat);}
.step_desc1 p{width:125px;}
.step_desc2 p{width:125px;}
.step_desc3 p{width:125px;}
.step_desc4 p{width:125px;}
.step_desc5 p{width:99px;}

/*章程协议*/
.treaty_h2{
	background:url(../images/line7.png) no-repeat left bottom ;
	margin:0 20px;
}
.treaty_tit{
	/*background:url(../images/icon012.png) no-repeat right 5px ;
	width:345px;*/
	margin-left:10px;
	font-size:24px;
	font-weight:normal;
	color:#3C3C3C;
	height:26px;
	line-height:26px;
}
.treaty_down{
	display:block;
	float:left;
	background:url(../images/vip_down.png) no-repeat 0 0 ;
	width:100px;
	height:36px;
}
.treaty_down span{
	display:block;
	background:url(../images/icon015.png) no-repeat 20px 8px;
	height:36px;
	line-height:32px;
	color:#fff;
	padding-left:45px;
}
.vip_type{
	background:url(../images/line6.png) no-repeat 0 37px ;
	padding-left:87px;
	margin:18px 0 0 5px;
}
.vip_type a{
	background:url(../images/vip_apply.png) no-repeat 0 0 ;
	width:137px;
	height:40px;
	line-height:40px;
	display:block;
	float:left;
}
.vip_type a .vip_busi{
	background:url(../images/icon013.png) no-repeat 21px 14px ;
	height:40px;
	line-height:40px;
	padding-left:45px;
	color:#999999;
	display:block;
	font-size:16px;
}
.vip_type a .vip_person{
	background:url(../images/icon016.png) no-repeat 26px 11px ;
	height:40px;
	line-height:40px;
	padding-left:54px;
	color:#999999;
	display:block;
	font-size:16px;
}
.vip_type a.vip_stop{
	display:block;
	float:left;
	background:url(../images/vip_apply_stop.png) no-repeat 0 0 ;
	width:141px;
	height:59px;
}
.vip_type a.vip_stop .vip_busi{
	background:url(../images/icon013_2.png) no-repeat 25px 13px ;
	line-height:44px;
	padding-left:48px;
	color:#fff;
	display:block;
	font-size:18px;
}
.vip_type a.vip_stop .vip_person{
	background:url(../images/icon016_2.png) no-repeat 24px 13px ;
	line-height:44px;
	padding-left:48px;
	color:#fff;
	display:block;
	font-size:18px;
}
/*vip申请表单*/
.vip_apply li{
	float:left;
	margin:0 10px 10px 0;
	width:469px;
	height:35px;
}
.vip_apply li label{
	display: block;
    float: left;
    line-height: 29px;
    /*padding-left: 8px;*/
    text-align: right;
    /*width: 130px;*/
	width: 110px;
	overflow:hidden;
	height:29px;
}
.vip_apply li label span{float:right; font-size:14px; color:#656565;}
.vip_apply li label b{
	color: #FF0000;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
	margin:3px 5px 0 0;
}
.vip_apply li input,.vip_apply li select{float:left; color:#696969;}
.vip_apply li input.apply_txt{width:155px;}
.apply_txt{
	border:1px solid #C7C7C7;
	/*width:303px;*/
	width:160px;
	/*height:29px;*/
	height:24px;
	padding:3px;
	margin-left:10px;
	padding:6px 3px 0px 3px \9;
	height:19px \9;
	background:#fff;
	vertical-align:middle;
}
.apply_sel{
	border:1px solid #C7C7C7;
	padding:4px 3px;
	font-size:12px;
	height:32px;
	width:79px;
	background:#fff;
	margin-left:10px;
}
.vip_apply li .apply_sel{width:77px;}
.vip_code{
	background:url(../images/code_bg.png) no-repeat ;
	width:115px;
	height:32px;
	display:block;
	margin-left:110px;
}
.vip_code span{
	display:block;
	background:url(../images/icon015.png) no-repeat 11px 7px ;
	padding-left:35px;
	line-height:27px;
	color:#fff;
}
.file_apply{
	display:block;
	background:url(../images/sub_apply.png) no-repeat ;
	width:160px;
	height:49px;
	text-align:center;
	line-height:44px;
	color:#fff;
	font-size:18px;
	border:none;
}
/*2012-11-28申请表单提示修改wwn*/
.vip_apply li p{
	float:left;
	width:180px;
	margin:6px 0 0 5px;
	color:#999;
	overflow:hidden;
}
.vip_apply li p var{
	float:left;
	display:block;
	height:16px;
	width:15px;
	overflow:hidden;
	margin-right:5px;
}
.input_hint1{
	background:url(../images/hint.png) no-repeat;
	background-position: 0 -44px;	
}
.input_hint2{
	background:url(../images/hint.png) no-repeat;
	background-position: 0 -22px;	
}
.input_hint3{
	background:url(../images/hint.png) no-repeat;
	background-position: 0 0;	
}
/*登录弹出框*/

.login_con h2 {
    color: #666666;
    font-size: 22px;
    font-weight: normal;
    margin: 7px 0 40px 112px;
}
.login_page{
	margin:17px 0;
	padding-top:42px;
	background:#fff url(../images/login_bg.gif) repeat-x;
	border:1px solid #DFDFDF;
	border-top:none;
	width:958px;
	z-index:999;
}
.details_close{
	float:right;
	margin:-10px -10px 0 0 ;
	display:block;
	background: url("../images/pop_close.png") no-repeat ;
	width:36px;
	height:36px;
	border:none;
}
.mar_col{margin: -40px 1px 0 0;}
.login_con{
	padding:0 156px 60px 140px;
	float:left;
	background:url(../images/segmentation_bg.gif) no-repeat right top;
}
.pad_lr20{padding:0 70px 50px 70px;}
.login_input label{color:#000; vertical-align:middle;}
.login_input label span{ visibility:hidden;}
.login_dl{margin-bottom:35px;}
.login_text{
	border:1px solid #939393;
	width:196px;
	height:23px;
	padding:3px;
	margin:0 0 0 10px;
	vertical-align:middle;
	padding:6px 3px 0 3px \9;
	color:#666;
}
.color_gray{color:#696969;}
.mar_l65{margin-left:65px;}
.line_hei8{ line-height:1.6em;}
.remember_password{padding-left:62px;}
.denglu{margin:30px 0 0 4px;}
.remember_password a.login_btn{
	display:block;
	background:url(../images/login_btn.gif) no-repeat;
	width:109px;
	height:34px;
	text-align:center;
	line-height:32px;
	color:#333;
	font-size:16px;
}
.remember_password a.login_btn:link,.remember_password a.login_btn:visited{background:url(../images/login_btn.gif) no-repeat;}
.remember_password a.login_btn:hover,.remember_password a.login_btn:active{background:url(../images/login_btn_hover.gif) no-repeat;}
.remember_password a.forget_password{line-height:34px;color:#1B61A9;margin-left:15px; text-decoration:underline;}
.need_zhuce{float:left;}
.need_zhuce h3{
	margin:40px 0 80px 50px;
	font-size:20px;
	color:#666;
	font-weight: normal;
}
.need_zhuce a{
	display:block;
	background:url(../images/registered_btn.gif) no-repeat;
	width:107px;
	height:33px;
	text-align:center;
	line-height:31px;
	color:#fff;
	font-size:16px;
	margin-left:152px;
	border:none;
}
.need_zhuce a:link,.need_zhuce a:visited{background:url(../images/registered_btn.gif) no-repeat; color:#fff;}
.need_zhuce a:hover,.need_zhuce a:active{background:url(../images/registered_btn_hover.gif) no-repeat;color:#fff;}
.need_zhuce a.mar_90{margin-left:90px;}
.more{
	color:#363636;
	margin-left:117px;
	font-weight:normal;
}
/*翻页定义*/
/*.list_page{height:35px;overflow:hidden;padding-top:15px;clear:both;width:100%;}*/
.list_page{overflow:hidden;clear:both;width:100%;}
/*.list_page,.list_page ul{width:100%;text-align:right;margin-right:-3px;}*/
.list_page,.list_page ul{width:100%;}
.list_page ul li{display:inline;}
.list_page ul li a {
    background: none repeat scroll 0 0 #AACCEE;
    border: 1px solid #336699;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
	color:#333;
}
.list_page ul li a:hover{background:#369;color:#FFF;border:solid 1px #369;text-decoration:none;}
.checkhere a{background:#369 !important;color:#FFF !important;border:solid 1px #369;}

/*margin*/
.marg_t1{margin-top:22px;}
.marg_t2{margin-top:0;}
.marg_t3{margin-top:15px;}
.marg_t4{margin-top:10px;}
.marg_t5{margin-top:3px;}
.marg_t6{margin-top:6px;}
.marg_b1{margin-bottom:15px;}
.marg_r1{margin-right:12px;}
.marg_r2{margin-right:8px;}
.marg_r3{margin-right:20px;}
.marg_l1{margin-left:30px;}
.marg_l2{margin-left:13px;}
.marg_l3{margin-left:20px;}
.marg_l4{margin-left:80px;}
.marg_l5{margin-left:5px;}
.marg_1{margin:0 20px;}
.marg_2{margin:12px 20px;}
.marg_3{margin:4px 20px 0 7px;}
.marg_4{margin:12px 20px;}
.marg_5{margin:10px 20px 0px 20px;}
.marg_10{margin:0 16px;}
/*padding*/
.padd_1{padding:24px 9px 14px 9px;}
.padd_2{padding:13px;}
.padd_2{padding:10px 20px;}
.padd_3{padding:20px 40px 60px 40px;}
.padd_3_1{padding: 20px 40px 65px;*padding: 20px 40px 45px;}
.padd_3_2{padding: 20px 40px 67px;*padding: 20px 40px 47px;}
.padd_3_3{padding: 20px 40px 19px;}
.padd_4{padding:40px 0 40px 30px;}
.padd_5{padding:12px 20px;}
.padd_6{padding:10px 0 20px 135px;}
.padd_7{padding: 10px 20px 6px;}
.padd_8{padding:10px 17px;}
.padd_9{padding:20px;}
.padd_b1{padding-bottom:5px;}
.padd_b2{padding-bottom:2px;}
.padd_b3{padding-bottom:53px;}
.padd_b4{padding-bottom:26px;}
/*width*/
.wid_1{ width:995px;}
.wid_2{width:440px;}
.wid_3{width:100px;}
.wid_4{width:265px;}
.heig_1{height:250px;}
/*共用*/
.text_right{ text-align:right;}
.text_center{ text-align:center;}
.line_1{ line-height:25px;}
.line_2{ line-height:20px;}
.line_3{ line-height:31px;}
.col_11{ color:#fff;}
.col_12{color:#881717;}/*红色*/
.col_13{ color:#8A8A8A;}/*灰色*/
.col_14{ color:#D3222A;}/*红色*/
.col_red15{ color:#DD1911;}/*红色*/
.col_r17{ color:#f00;}
.col_b16{ color:#3C3C3C;}
.col_b18{color:#737373;}
.col_y1{color:#AF8B57;}
.col_blue1{ color:#008AFF;}
.pos_re{ position:relative;}
.font_1{font-size:14px;}
.font_2{font-size:18px;}
.font_3{font-size:24px;}
.font_nor{ font-weight:normal;}
.ver_align{ vertical-align:middle;}
.over_hid{ overflow:hidden;}
.zhehang{
	white-space:normal;
	word-break:break-all;
	overflow:hidden;
}
/*上线提示*/
.online_tip{
	background:#F6F6F6 url(../images/bb.jpg) no-repeat center center;
	height: 300px;
    width: 100%;
}
.tip_con{
	font-family: 微软雅黑;
    font-size: 30px;
    line-height: 49px;
    padding: 153px 0 0 366px;
}




/*复制以下*/
/*2012-11-2*/
.agent_step1,.agent_step2,.agent_step3,.agent_step4,.agent_step5{
	width:110px;
	height:110px;
	float:left;
	margin-right:23px;
}
.agent_step1{background:url(../images/agent_step1.png) no-repeat;}
.agent_step2{background:url(../images/agent_step2.png) no-repeat;}
.agent_step3{background:url(../images/agent_step3.png) no-repeat;}
.agent_step4{background:url(../images/agent_step4.png) no-repeat;}
.agent_step5{background:url(../images/agent_step5.png) no-repeat;}
.agent_next{
	background:url(../images/icon011_2.png) no-repeat 0 33px;
	float:left;
	margin-right:23px;
	height:110px;
	width:41px;
}
.vip_type a.agent_stop{
	display:block;
	float:left;
	background:url(../images/agent_apply_stop.png) no-repeat 0 0;
	width:141px;
	height:59px;
}
.vip_type a.agent_stop .vip_busi{
	background:url(../images/icon013_3.png) no-repeat 25px 13px;
	line-height:44px;
	padding-left:48px;
	color:#fff;
	display:block;
	font-size:18px;
}
.vip_type a.agent_stop .vip_person{
	background:url(../images/icon016_2.png) no-repeat 25px 13px;
	line-height:44px;
	padding-left:48px;
	color:#fff;
	display:block;
	font-size:18px;
}
.file_apply_agent{
	display:block;
	background:url(../images/sub_apply_agent.png) no-repeat;
	width:158px;
	height:48px;
	text-align:center;
	line-height:44px;
	color:#fff;
	font-size:18px;
	border:none;
}
/*供应商*/
.supp_step1,.supp_step2,.supp_step3,.supp_step4,.supp_step5{
	width:110px;
	height:110px;
	float:left;
	margin-right:23px;
}
.supp_step1{background:url(../images/supply_step1.png) no-repeat;}
.supp_step2{background:url(../images/supply_step2.png) no-repeat;}
.supp_step3{background:url(../images/supply_step3.png) no-repeat;}
.supp_step4{background:url(../images/supply_step4.png) no-repeat;}
.supp_step5{background:url(../images/supply_step5.png) no-repeat;}
.supp_next{
	background:url(../images/icon011_3.png) no-repeat 0 33px;
	float:left;
	margin-right:23px;
	height:110px;
	width:41px;
}
.supp_down{background:url(../images/supply_down.png) no-repeat;}

.vip_type a.supp_stop{
	display:block;
	float:left;
	background:url(../images/supply_apply_stop.png) no-repeat 0 0;
	width:141px;
	height:60px;
}
.vip_type a.supp_stop .vip_busi{
	background:none;
	line-height:44px;
	text-align:center;
	padding-left:0;
	color:#fff;
	display:block;
	font-size:18px;
}
.file_apply_supp{
	display:block;
	background:url(../images/sub_apply_supply.png) no-repeat;
	width:160px;
	height:49px;
	text-align:center;
	line-height:44px;
	color:#fff;
	font-size:18px;
	border:none;
}
.tel{
	background:url(../images/icon017.png) no-repeat 0 8px;
	padding-left:25px;
}
.email{
	background:url(../images/icon018.png) no-repeat 0 10px;
	padding-left:25px;
}

/*最新首页2012-11-3*/
/*头部导航*/
.top_nav{
	width:244px;
	height:80px;
	overflow:hidden;
	
}
.top_nav a{
	display:block;
	width:72px;
	height:26px;
	line-height:23px;
	text-align:center;
	float:left;
	color:#616161;
	font-size:13px;
}
.top_nav a:hover,.top_nav a:active{background:url(../images/nav_bg.png) no-repeat ; color:#fff;}
.top_nav a.new_stop:link,.top_nav a.new_stop:visited,
.top_nav a.new_stop:hover,.top_nav a.new_stop:active{background:url(../images/nav_bg.png) no-repeat; color:#fff;}
.top_nav span{
	float:left;
	margin:6px;
	height:14px;
	border-left:1px solid #747474;
	border-right:1px solid #BFBFBF;
	display:block;
}
/*项目列表*/
.home_list li{
	background:url(../images/home_li_bg.gif) no-repeat ;
	width:196px;
	height:211px;
	margin:0 1px 6px 0;
	float:left;
}
.home_list_tit{
	margin:0 4px 0 3px;
	padding-top:10px;
	*padding-top:5px;
	line-height:24px;
	background:url(../images/h3_bg.gif) no-repeat left bottom;
	color:#515151;
}
.home_list_tit span{
	font-size:14px;
	padding-left:33px;
	font-weight:bold;
	float:left;
}
.home_list_tit a{
	font-size:12px;
	color:#515151;
	float:right;
	margin-right:28px;
}
.list_item_box{
	margin:11px 0 0 25px;
	*margin:11px 0 0 22px;
	width:166px;
}
.list_item{
	float: left;
    height: 70px;
    margin-right: 5px;
	margin-bottom:10px;
    overflow: hidden;
    text-align: center;
    width: 70px;
}
.list_item a{
	display: block;
    font-size: 0;
    height: 52px;
    margin: 0 auto;
    width: 53px;
}
.list_item a img{
	height: 52px;
    margin: 0;
    padding: 0;
    width: 53px;
}
.list_item span{
	color: #3F3F3F;
    display: block;
    height: 20px;
	line-height:20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    word-break: keep-all;
}
/*工场入口*/
.entry{
	background:url(../images/entry_bg.gif) no-repeat;
	width:254px;
	height:276px;
}
.entry_txt{
	border:1px solid #989898;
	width:134px;
	height:16px;
	padding:3px;
	background:#fff;
	color:#666;
}
.entry_btn{
	border:none;
	background:url(../images/entry_btn.png) no-repeat;
	width:78px;
	height:27px;
	text-align:center;
	line-height:25px;
	color:#575757;
}
.entry_enroll{
	display:block;
	background:url(../images/entry_enroll.png) no-repeat;
	width:209px;
	height:49px;
	text-align:center;
	line-height:45px;
	font-size:18px;
	color:#fff;
}
/*公告栏*/
.home_board{
	background:url(../images/notice_bg.gif) no-repeat;
	width:254px;
	height:295px;
}
.red_notice li.last{background:none;}
.notice_bg{
	background:url(../images/n_bg.gif) no-repeat;
	width:254px;
	height:149px;
	overflow:hidden;
}
/*应用下载*/
.down_bg{
	background:url(../images/y_bg.gif) no-repeat;
	width:254px;
	height:149px;
	overflow:hidden;
}
.home_down{
}
.home_down li{
	float:left;
	margin-right:15px;
}
.home_down li a{
    display: block;
    height: 80px;
    line-height: 18px;
    text-align: center;
	width:60px;
	color:#575757;
}
.home_down li a:hover,.home_down li a:active{ color: #900; text-decoration:underline;}
.move_left{
	background:url(../images/move_left.png) no-repeat;
	width:25px;
	height:26px;
	margin:20px 15px 0 0;
	display:block;
}
.move_right{
	background:url(../images/move_right.png) no-repeat;
	width:25px;
	height:26px;
	margin:20px 0 0 0 ;
	display:block;
}
/*产品橱窗*/
.home_pro_box{
	width:721px;
	height:1%;
	background:url(../images/show_bg.gif) repeat-x;
}
.home_pro_top{
	width:721px;
	height:13px;
	font-size:0;
	background:url(../images/show_top_bg.gif) no-repeat;
}
.home_pro_bottom{
	width:721px;
	height:14px;
	font-size:0;
	background:url(../images/show_bottom_bg.gif) no-repeat;
}
.home_pro{
	border-left:1px solid #D7D7D7;
	border-right:1px solid #D7D7D7;
	height:1%;
	width:719px;
}
.pro_category_box{
	margin:11px 15px 0 15px; 
	
	position:relative;
	height:27px;
}
.pro_category_box_111{
	left: 0;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 690px;
    z-index: 99;
	height:27px;
	margin:0 15px;
}
.home_table_111{
	position:absolute;
	left:0;
	top:27px;
	width:690px;
	margin:0 15px;
}
.turn_left{
	display:block;
	position:absolute;
	left:10px;
	top:5px;
	background: url("../images/icon16.gif") no-repeat scroll 0 0 ;
	width:8px;
	height:16px;
}
.turn_left_end{background: url("../images/icon18.gif") no-repeat scroll 0 0 ;}
.turn_right{
	display:block;
	position:absolute;
	right:10px;
	top:5px;
	background: url("../images/icon17.gif") no-repeat scroll 0 0 ;
	width:8px;
	height:16px;
}
.turn_right_end{background: url("../images/icon14.gif") no-repeat scroll 0 0 ;}
.pro_category{
	padding:0 38px;
	border-bottom:1px solid #c9c9c9;
	height:27px;
}
.pro_category a{
	display:block;
	float:left;
	width:86px;
	height:27px;
	line-height:27px;
	text-align:center;
	margin:1px 4px -1px 4px;
	font-weight:bold;
}
.pro_category a:hover,.pro_category a:active{
	background: url("../images/home_btn.gif") no-repeat scroll 0 0 ;
	color:#B60002;
}
.pro_category a.stop:link,.pro_category a.stop:visited,
.pro_category a.stop:hover,.pro_category a.stop:active{
	background: url("../images/home_btn.gif") no-repeat scroll 0 0 ;
	color:#B60002;
}
.icp:link,.icp:visited{
	color:#1E50A2;
}
.icp:hover,.icp:active{ color:#f00; text-decoration:underline;}
/*在线调研*/
.res_box{
	margin: auto;
    overflow: auto;
    position: relative;
    text-align: left;
    width: 960px;
	background:#fff;
}
.res_banner{
	width:960px;
	text-align:center;
}
.top_outter{
	background:url(../images/t_c.gif) repeat-x;
	width:960px;
	height:9px;
	font-size:0;
}
.top_inner{
	background:url(../images/t_l.gif) no-repeat left top;
	width:960px;
	height:9px;
	font-size:0;
}
.top_con{
	background:url(../images/t_r.gif) no-repeat right top;
	width:960px;
	height:9px;
	font-size:0;
}
.res_tip{
	width:958px;
	border-left:1px solid #E7DFC6;
	border-right:1px solid #E7DFC6;
	background:#FFF9E5;
}
.time_outter{
	background:url(../images/t_c_2.gif) repeat-x;
	width:300px;
	height:11px;
	font-size:0;
}
.time_inner{
	background:url(../images/t_l_2.gif) no-repeat left top;
	width:300px;
	height:11px;
	font-size:0;
}
.time_con{
	background:url(../images/t_r_2.gif) no-repeat right top;
	width:300px;
	height:11px;
	font-size:0;
}
.cut_time{
	width:298px;
	border-left:1px solid #D2B045;
	border-right:1px solid #D2B045;
	background:#FFF0BE;
}
.time_bt1{
	background:url(../images/b_c_2.gif) repeat-x;
	width:300px;
	height:11px;
	font-size:0;
}
.time_bt2{
	background:url(../images/b_l_2.gif) no-repeat left top;
	width:300px;
	height:11px;
	font-size:0;
}
.time_bt3{
	background:url(../images/b_r_2.gif) no-repeat right top;
	width:300px;
	height:11px;
	font-size:0;
}
.bt_outter{
	background:url(../images/b_c.gif) repeat-x;
	width:960px;
	height:9px;
	font-size:0;
}
.bt_inner{
	background:url(../images/b_l.gif) no-repeat left top;
	width:960px;
	height:9px;
	font-size:0;
}
.bt_con{
	background:url(../images/b_r.gif) no-repeat right top;
	width:960px;
	height:9px;
	font-size:0;
}
.que_top_outter{
	background:url(../images/que_c_bg.gif) repeat-x;
	width:960px;
	height:35px;
}
.que_top_inner{
	background:url(../images/que_l_bg.gif) no-repeat left top;
	width:960px;
	height:35px;
}
.que_top{
	background:url(../images/que_r_bg.gif) no-repeat right top;
	width:960px;
	height:35px;
}
.que_naire_tit{
	font-size:14px;
	line-height:35px;
	color:#3D3D3D;
	margin-left:10px;
}
.que_naire{
	border-left:1px solid #DBDBDB;
	background:#fff url(../images/que_con_bg.gif) repeat-y right top;
	width:959px;
}
.bug_list{
	
}
.bug_list li{
	margin-bottom:15px;
}
.bug_list li input,.bug_list li label{ vertical-align:middle;}
.bug_list li label{margin-left:15px;}
.que_list_txt{
	width:268px;
	height:16px;
	padding:3px;
	border:1px solid #B9B9B9;
	background:#fff;
}
.txt_area{
	padding:3px;
	border:1px solid #B9B9B9;
	background:#fff;
	width:575px;
	height:100px;
}
.que_bt_outter{
	background:url(../images/que_bt_c.gif) repeat-x;
	width:960px;
	height:14px;
	font-size:0;
}
.que_bt_inner{
	background:url(../images/que_bt_l.gif) no-repeat left top;
	width:960px;
	height:14px;
	font-size:0;
}
.que_bt{
	background:url(../images/que_bt_r.gif) no-repeat right top;
	width:960px;
	height:14px;
	font-size:0;
}
.ques_btn{
	background: url("../images/ques_btn.gif") no-repeat scroll 0 0;
	width:118px;
	height:35px;
	text-align:center;
	line-height:35px;
	color:#fff;
	border:none;
	font-size:14px;
}
a.ques_btn{display:block;}
a.ques_btn:link,a.ques_btn:visited{color:#fff;}
.ques_btn:hover,.ques_btn:active,
input.ques_btn[type="button"]:hover,input.ques_btn[type="submit"]:hover{
	background: url("../images/ques_btn_hover.gif") no-repeat scroll 0 0;color:#fff;
}
.ques_btn_box{
	width:118px;
	margin:25px auto;
}
/*问卷提交成功*/
.succ_res{
	background: url("../images/tip_right.gif") no-repeat scroll 0 0;
	height:36px;
	line-height:36px;
	padding-left:50px;
	font-size:14px;
	margin-bottom:20px;
}
.res_suc_box{
	width:230px;
	padding:100px 0;
	margin:0 auto;
}
.sur_tit{
	width:360px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	height:31px;
	line-height:31px;
	display:block;
	margin:0 24px;
}
/*2012-12-15 关于我们 联系我们修改*/
/*left*/
.att_list{padding:15px 20px;}
.att_list li a{
	color:#666666;
	font-size:12px;
	line-height:26px;
	display:block;
	padding-left:5px;
	overflow:hidden;
	border-bottom:1px solid transparent;
}
.att_list li a:hover,.att_list li a:active{
	color:#C6000E;
	border-bottom:1px solid #C6000E;
}
.att_list li.list_stop a:link,.att_list li.list_stop a:visited,
.att_list li.list_stop a:hover,.att_list li.list_stop a:active{
	color:#C6000E;
	border-bottom:1px solid #C6000E;
}
/*right-title*/
.att_tit1{
	background:url(../images/tit_c.gif) repeat-x;
	width:712px;
	height:34px;
}
.att_tit2{
	background:url(../images/tit_l.gif) no-repeat left top;
	width:712px;
	height:34px;
}
.att_tit{
	background:url(../images/tit_r.gif) no-repeat right top;
	width:712px;
	height:34px;
}
.tit_att{
	margin-left:22px;
	color:#B3B3B3;
	line-height:32px;
}
.tit_att a{
	color:#B3B3B3;
}
.tit_att span{color:#CD0010;}
.att_bot1{
	background:url(../images/att_b_c.gif) repeat-x;
	width:712px;
	height:9px;
	font-size:0;
}
.att_bot2{
	background:url(../images/att_b_l.gif) no-repeat left top;
	width:712px;
	height:9px;
	font-size:0;
}
.att_bot{
	background:url(../images/att_b_r.gif) no-repeat right top;
	width:712px;
	height:9px;
	font-size:0;
}
.att_box{
	width:710px;
	border-left:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
	height:1%;
	background:#F4F4F4 url(../images/att_bg.gif) repeat-x;
}




/*2012-12-15 关于我们 联系我们修改--end*/
.broker_line{
	background:url(../images/broker_line.png) no-repeat center bottom; 
	margin:0 15px; 
	text-align:center;
	padding:2px 0 10px 0;
}
.broker_tip .step_desc1 p,.broker_tip .step_desc2 p,.broker_tip .step_desc3 p,.broker_tip .step_desc4 p{
	width:109px;
	margin-right:15px;
}
/*2012-11-12*/
.txt_a:link,.txt_a:visited{ color:#0000FF;}
.txt_a:hover,.txt_a:active{ color:#ff0000; text-decoration:underline;}

.padd_02{padding:0px 0 0 10px;}
.padd_03{ padding: 6px 17px;}
.padd_04{ padding: 3px 6px 0 0;}
.padd_05{padding:10px 0;}
.padd_077{padding:0 6px 0 0;}
.padd_t01{padding-top:10px;}
.padd_t02{padding:30px 0 0 10px;}
.marg_6{margin:-8px 0 0 47px;}
.marg_7{margin:20px 0 0 6px;}
.marg_8{margin:0 15px;}
.marg_9{margin:-6px 0 0 65px; }


.marg_l6{margin-left:24px;}
.marg_l7{margin-left:140px;}
.marg_l8{margin-left:9px;}
.wid_5{width:244px;}
.wid_6{width:610px;}
.heig_2{height:245px;}
.col_r01{ color:#CC000D;}
.cut_rule{
	background:url(../images/line_5.gif) repeat-x;
	height:2px;
	font-size:0;
	overflow:hidden;
}
.dis_bla{ display:block;}
.bg_fff{ background:#fff;}

.wid_6{ width:580px;}
.font_blod{ font-weight:bold;}
.marg_r4{margin-right:20px;}
.marg_00{margin:15px 30px;}
.padd_05{ padding: 0 20px;}
.padd_06{ padding: 15px 40px 15px 25px;}
.col_b333{ color:#333;}
.wf_line {
    border-top: 1px dashed #E0E0E0;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.mengban{
	position:absolute;
	left:0;
	top:0;
	background:#000; 
	opacity:0.6; 
	filter:alpha(opacity=60);
	z-index:900;
	width:100%;
	height:100%;
}