.hide { display: none; }
.show { display: block; }
.pagination { text-align: right; height: 22px; font-size: 12px;margin:15px 15px 0 0 }
.pagination ul { margin: 0; padding: 0; list-style: none; height: 22px; }
.pagination ul li { margin: 0 3px; padding: 0; display: inline-block;  *zoom: 1;
 *display: inline;
vertical-align: top;text-align:center }
.pagination ul li.to { width: auto; }
.pagination ul li.pgcoder { width: auto; }
.pagination ul li.wrapinput { width: auto; }
.pagination ul li a { display: inline-block;  *zoom: 1;
 *display: inline;
width: 22px; height: 22px; line-height: 22px; text-decoration: none; color: #303030; font-family: arial; border: 1px solid #e7e7e7; }
.pagination ul li a:hover { color: white; background: #ffb904; border: 1px solid #efb216; }
.pagination ul li span { display: inline-block;  *zoom: 1;
 *display: inline;
width: 22px; height: 22px; line-height: 22px; color: #303030; }
.pagination ul li span.ellipse { font-family: 'simsun'; }
.pagination ul li span.current { display: inline-block; color: white; background: #ffb904; border: 1px solid #efb216; }
.pagination ul li span.prev,.pagination ul li span.next { width: 50px; background: #F8F8F8;color:#999;border:1px solid #eee;}
.pagination ul li a.prev { width: 50px; }
.pagination ul li a.prev:hover { }
.pagination ul li a.next { width: 50px; }
.pagination ul li a.next:hover { }
.pagination ul li.wrapinput { margin: 3px 0; padding: 0 23px 0 5px; width: 22px; background: url(../images/sf_paging.png) no-repeat -2px -98px; _background: url(../images/sf_paging.gif) no-repeat -2px -98px; }
.pagination ul li input.pageinput { padding: 6px 0; width: 22px; height: 12px; line-height: 12px; font-size: 12px; border: 0 none; outline: 0 none; background: none; }
.pagination ul li .graytext { color: #838383; width: auto; }
.pagination2 { text-align: right; height: 14px; }
.pagination2 ul { margin: 0; padding: 0; list-style: none; height: 14px; }
.pagination2 ul li { margin-left: 18px; padding: 0; display: inline-block;  *zoom: 1;
 *display: inline;
height: 14px; line-height: 14px; vertical-align: top; _vertical-align: baseline; }
.pagination2 ul li a { display: inline-block;  *zoom: 1;
 *display: inline;
height: 14px; line-height: 14px; text-decoration: none; color: #838383; font-family: arial; }
.pagination2 ul li a:hover { color: #303030; }
.pagination2 ul li span { display: inline-block;  *zoom: 1;
 *display: inline;
height: 14px; line-height: 14px; }
.pagination2 ul li span.ellipse { font-family: 'simsun'; }
.pagination2 ul li span.current { color: #303030; font-weight: bold; }
.pagination2 ul li span.prev { width: 8px; height: 14px; background: url(../images/sf_paging.png) no-repeat -69px -107px; _background: url(../images/sf_paging.gif) no-repeat -69px -106px; }
.pagination2 ul li span.next { width: 8px; height: 14px; background: url(../images/sf_paging.png) no-repeat -86px -107px; _background: url(../images/sf_paging.gif) no-repeat -86px -106px; }
.pagination2 ul li a.prev { width: 8px; height: 14px; background: url(../images/sf_paging.png) no-repeat -69px -88px; _background: url(../images/sf_paging.gif) no-repeat -69px -87px; }
.pagination2 ul li a.next { width: 8px; height: 14px; background: url(../images/sf_paging.png) no-repeat -86px -88px; _background: url(../images/sf_paging.gif) no-repeat -86px -87px; }

