.ui_register{ padding-bottom:15px;margin:0 15px;}
.ui_register .form_box{background:#fff; border-radius:5px; margin:10px auto 20px; border:1px solid #dbdbdb;}
.ui_reg_input{ height:44px;border:none;border-radius:5px; font-size:15px; width:100%; display: block; -webkit-box-flex:1;}
.ui_tel_tips{ border-right:1px solid #dbdbdb; height:45px; line-height:45px; color:#000; font-size:15px; width:40px; margin-right:15px;}
.ui_tel_input{ margin-left:55px;}
.ui_register .border_b{padding:0 18px; border-bottom:1px solid #dbdbdb; height:44px; display: -webkit-box;}
.ui_register .border_b:last-child{ border:none;}
.ui_register .no_border{ border:none;}
.ui_register .yz_box{ border-right:1px solid #dbdbdb; margin-right:115px;}
.ui_register .yz_img{line-height:44px; width:80px; border-left:1px solid #dbdbdb; padding-left:18px;}
.ui_register .yz_img img{ vertical-align:middle;}
.reg_btn,.ui_register .reg_disabled_btn{ width:270px; height:45px; border:none; text-align:center; border-bottom:2px solid #f0a21a; border-radius:5px; background:#fffd74; color:#a6651f; margin:0 auto 10px; display:block; font-size:18px; font-weight:bold; line-height:45px;}
.ui_register .reg_disabled_btn{ background:#fffeaf; color:#eda63b;}
.ui_register .reg_finish_btn{ height:40px; width:100%; line-height:40px; color:#fff; background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c; display:block; text-align:center;}
.ui_register .reg_finish_btn_dis{ color:#fc9e97;}

.ui_mask{width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); text-align: center; position: fixed; top: 0px; left: 0; z-index: 200;}
.ui_max_width{height:100%; margin:0 10px;}
.ui_dialog{ width:275px; height:200px; background:#fff; top:50%; position:relative; margin:-100px auto 0; border-radius:5px;}
.ui_dialog .dialog_con{ padding:0 15px;}
.ui_dialog .dialog_con .title{ height:35px; line-height:35px; color:#fe4438; text-align:center; border-bottom:1px solid #e6e6e6; font-size:14px;}
.ui_dialog .dialog_con .dialog_text{ padding:7px 0px; font-size:14px;}
.ui_dialog .dialog_con .ipt_box{ height:39px; border:1px solid #dbdbdb; border-radius:5px; text-align:left; margin-bottom:15px;}
.ui_dialog .dialog_con .ui_yz_input{ height:39px; width:113px; border:none; border-right:1px solid #dbdbdb; border-radius:5px 0 0 5px; font-size:15px; padding-left:18px;}
.ui_dialog .dialog_con .reset_btn{ width:111px; height:39px; display:inline-block; text-align:center; line-height:39px; border:none; color:#007ce3; background:#fff;border-radius:5px; font-size:15px;}
.ui_dialog .dialog_con .dis_reset{color:#999999;}
.ui_dialog .dialog_con .reg_finish_btn{ height:40px; width:100%; line-height:40px; color:#fff; background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c;}
.ui_dialog .dialog_con .reg_finish_btn_dis{ color:#fc9e97;}
.ui_dialog .ui_dialog_close{ width:30px; height:30px; background:url(../../images/event/icon_close.png) no-repeat; background-size:100%; position:absolute; right:-13px; top:-13px;}

.hd_dialog{width:100%; max-width:600px; max-height:420px; margin:0 auto; height:70%;}
.hd_dialog .dialog_con{height:100%; display:-webkit-box; -webkit-box-orient:vertical; padding:0;}
.hd_dialog .dialog_con .title{ color:#000; font-size:15px;}
.hd_dialog .dialog_con .dialog_text{padding:0 15px; margin:7px 0px; text-align:left; line-height:20px; color:#666666; overflow-y:hidden; -webkit-box-flex:1; position:relative;}
.hd_dialog .dialog_con .dialog_btn{ color:#fff; width:160px; height:40px;background:#fe4438; border:none; border-radius:5px; font-size:18px; font-weight:bold; border-bottom:2px solid #d9201c; margin:0 auto; line-height:40px; margin:10px auto 20px;}

/*分享弹框*/
.ui-share-view{position:fixed; left:0; bottom:0; width:100%; height:100%; z-index:101;}
.ui-share-view .share_box{position:absolute; left:0; bottom:0; width:100%;}
.ui-share-view .share_cover{position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
.ui-share-view .wx_tip{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../../images/event/icon/icon_wx_tip.png) no-repeat right top rgba(0,0,0,0.5); background-size:90px 90px; display:none;}
.ui-share-view .share_box{-webkit-transform:translateY(0);}
.ui-share-view .share_box .line{height:75px; background-color:#fff;}
.ui-share-view .share_box .line:first-child{border-bottom:1px solid #f5f5f5;}
.ui-share-view .share_box .part{float:left; width:25%; border-right:1px solid #f5f5f5; height:75px; -webkit-box-sizing:border-box;}
.ui-share-view .share_box .line .part:last-child{border:none;}
.ui-share-view .share_box .part a{display:block; width:100%; height:100%; text-align:center; color:#000; font-size:12px; -webkit-box-sizing:border-box; padding-top:45px;}
.ui-share-view .share_box .part a:active{background-color:#eee;}
.ui-share-view .share_box .part .wx_hy{background:url(../../images/event/icon/weichat_icon.png) no-repeat center 18px; background-size:23px 23px;}
.ui-share-view .share_box .part .wx_pyq{background:url(../../images/event/icon/moments_icon.png) no-repeat center 18px; background-size:23px 23px;}
.ui-share-view .share_box .part .button_tsina{background:url(../../images/event/icon/sinaweibo_icon.png) no-repeat center 18px; background-size:23px 23px;}
.ui-share-view .share_box .part .button_tqq{background:url(../../images/event/icon/qqweibo_icon.png) no-repeat center 18px; background-size:23px 23px;}
.ui-share-view .share_box .part .button_qzone{background:url(../../images/event/icon/qqspace_icon.png) no-repeat center 18px; background-size:23px 23px;}
.ui-share-view .share_box .part .button_douban{background:url(../../images/event/icon/douban_icon.png) no-repeat center 18px; background-size:23px 23px;}

/*闪烁*/
.ui_animation_scaleout{-webkit-animation:ui_animation_scaleout 0.8s ease;}
@-webkit-keyframes ui_animation_scaleout{
    0%{-webkit-transform: scale(0);}
    40%{-webkit-transform: scale(1.2);}
    70%{-webkit-transform: scale(0.9);}
    100%{-webkit-transform: scale(1);}
}
