.p_new_user_p2p {
  min-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

.p_new_user_p2p .cont_mid {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}

.p_new_user_p2p .f18 {
  font-size: 18px;
}

.p_new_user_p2p .bannerBox {
  background: url(../../images/activity/new_user_page/p2p_newuser_banner.jpg) no-repeat center top;
  height: 620px;
}
.p_new_user_p2p .h620{
  height: 620px;
  overflow: hidden;
}

.p_new_user_p2p ._bannerBox {
  background: url(../../images/activity/new_user_page/p2p_newuser_banner_logined.jpg) no-repeat center top;
  height: 620px;
}

.p_new_user_p2p .iframe_register {
  position: absolute;
  right: -119px;
  top: 20px;
}
.p_new_user_p2p img {
  vertical-align: top;
  width: 100%;
}

.p_new_user_p2p .why_chooseus {
  padding-top: 111px;
  height: 739px;
  background: url(../../images/activity/new_user_page/why_bg.jpg) repeat-x center;
}

.p_new_user_p2p .why_chooseus .why_list {
  padding-top: 105px;
  padding-left: 106px;
}

.p_new_user_p2p .why_chooseus .why_list li {
  width: 458px;
  height: 106px;
  margin-bottom: 112px;
  float: left;
}

.p_new_user_p2p .why_chooseus .why_list li:nth-child(odd) {
  margin-right: 163px;
}

.p_new_user_p2p .why_chooseus .why_list li a {
  width: 458px;
  height: 106px;
  display: block;
}

.p_new_user_p2p .why_chooseus .choose_text {
  position: absolute;
  width: 1190px;
  height: 74px;
  line-height: 74px;
  bottom: 0;
  text-align: center;
  margin-left: -595px;
  left: 50%;
  font-size: 30px;
  color: #FFF;
}

.p_new_user_p2p .newuser_recommend {
  padding-top: 200px;
  background: url(../../images/activity/new_user_page/p2p_newuser_03.jpg) no-repeat center;
  height: 488px;
}

.p_new_user_p2p .newuser_recommend .pro_con_list {
  background: #FFF;
  width: 265px;
  height: 361px;
  margin: 0 45px;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0px 0px 10px #dd7d63;
  padding:0 20px;
}

.p_new_user_p2p .newuser_recommend .pro_con_list h3 {
  font-size: 18px;
  margin: 43px 0 25px;
  line-height: 22px;
  font-family: 'Arial, Microsoft Yahei';
}

.p_new_user_p2p .newuser_recommend .pro_con_list h3 em {
  font-size: 13px;
  width: 82px;
  height: 22px;
  line-height: 22px;
  margin:10px auto 0;
}
.p_new_user_p2p .newuser_recommend .pro_con_list dl .pro_mt {
  margin: 20px 0 5px;
  font-size:18px;
}
.p_new_user_p2p .newuser_recommend .pro_con_list dt {
  font-size: 48px;
  line-height:48px;
  height:48px;
  margin-bottom:3px;
}
.p_new_user_p2p .newuser_recommend .pro_con_list dt ins{
  font-size: 24px;
  line-height:24px;
}

.p_new_user_p2p .newuser_recommend .pro_con_list h4 a {
  width: 258px;
  height: 42px;
  line-height:42px;
  margin:30px auto 0;
  background: #FB563F;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #333;
  font-size:16px;
}

.p_new_user_p2p .newuser_giftbag .scroll_top{
  cursor: pointer;
}

.p_new_user_p2p .newuser_prize {
  width: 100%;
  height: 438px;
  padding-top: 54px;
  background: url(../../images/activity/new_user_page/p2p_newuser_07_bg.jpg) no-repeat center;
}

.p_new_user_p2p .newuser_prize img.left {
  width: 555px;
  height: 360px;
}

.p_new_user_p2p .newuser_prize .right {
  margin: 24px 0 0 50px;
  width: 550px;
  display: inline-block;
}

.p_new_user_p2p .newuser_prize .right ul li {
  margin-bottom: 20px;
  font-size: 16px;
  color: #FFF;
}

.p_new_user_p2p .newuser_prize .right ul li span {
  display: inline-block;
  vertical-align: top;
}

.p_new_user_p2p .foot {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.p_new_user_p2p .foot_content {
  text-align: center;
  margin-top: 25px;
  color: #676767;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 36px;
}

.p_new_user_p2p .foot .logo {
  display: block;
  margin: 55px auto 0px auto;
  width: 255px;
  height: 61px;
}

.pro_con ,.main_part2 ,.p_index .news_list .con ,#focus > .clearfix{background: #fff;box-shadow: 0 5px 20px #f6f6f6;}
.pro_con  {height:351px;}
.pro_con_list {width:265px;height:300px;padding:35px 20px 20px 20px;color:#333;font-size: 14px;}
.pro_con_list h3 {font-size:20px;text-align: center;line-height: 30px;margin-bottom:30px;font-family: "黑体";}
.pro_con_list h3 em {display: block;width:58px;height:18px;line-height: 18px;text-align: center;margin:5px auto; border:1px solid #FFE29C;border-radius: 5px;color:#FFC526;font-size: 12px;}
.pro_con_list dl {font-size: 30px;text-align: center;color:#FB563F;}
.pro_con_list dl .pro_mt {margin:25px 0 5px;}
.pro_con_list dt {font-size: 28px;text-shadow: 0px 3px 3px #fdcec7;font-family:"arial";}
.pro_con_list dt ins {font-size: 18px;margin:0 2px;}
.pro_con_list dd {font-size: 14px;color:#010101;}
.pro_con_list .color_gray ,.pro_con_list dd i{color:#828282;}
.pro_con_list h4 a {display: block;margin:17px auto;width: 132px;height:54px;line-height: 43px;text-align: center;color:#E73F3F;font-size: 14px;background: url(../images/p2p/892@2x.png) no-repeat 0 0;color:#fff;}
.pro_con_list h4 a:hover {background-image:url(../images/p2p/20180427183719_hover2.png);}
