/*分站*/
.top{ background-image:url(../../images/rob-hongbao/fenzhan888/bg.png); background-size:320px 418px;}
.smile{ background-image:url(../../images/rob-hongbao/fenzhan888/bg_01.png); background-size:320px 418px;}
.cry{ background-image:url(../../images/rob-hongbao/fenzhan888/bg_02.png); background-size:320px 418px;}
.sweat{ background-image:url(../../images/rob-hongbao/fenzhan888/bg_03.png); background-size:320px 418px;}
.top .p-title1{ background-image: url(../../images/rob-hongbao/fenzhan888/p-title1.png?v=20150122);background-size:210px 110px;}
.top .p-title{/* background-image: url(../../images/rob-hongbao/fenzhan888/p-title.png);*/background-size: 272px 80px;}
.top .gq_img{ background-image:url(../../images/rob-hongbao/fenzhan_default/icon-03.png); background-size:100%;}
.top .qw_img{ background-image:url(../../images/rob-hongbao/fenzhan_default/icon-02.png); background-size:100%;}