body{ background:#f4f9fd; color:#999;}
.top_bg{ background-repeat: no-repeat; background-size:100%; padding-top:80%;}

.bonus_box{padding:0 25px 20px;}

.webkit_box{display: -webkit-box;}
.tel_input{ display:block;  -webkit-box-flex: 1; border:1px solid #cccccc;text-align:center; border-radius:5px; background:#fff; margin-bottom:13px; -webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;}
input[disabled=disabled]{opacity:1;}
.tel_btn{ display:block;  -webkit-box-flex: 1; border:none; background:#ec463a; text-align:center;color:#fff; border-radius:5px; text-decoration:none;-webkit-appearance:none; -moz-appearance:none; -webkit-tap-highlight-color:transparent;-webkit-transition:background-color;}
.disabled_btn{ color:#f7b2ae;}
.errorDiv{ padding:7px 0; color:#ec463a;}
.bonus_money_top{background:url(../../images/rob-hongbao/common/money_bg1.png) no-repeat;background-size:100% 5px; width:100%; height:5px; margin-top:-5px;}
.bonus_money{ background:#fff;text-align:center;position:relative; border-left:1px solid #e6e8ea; border-right:1px solid #e6e8ea; padding:25px 0 5px;}
.monye_text em{}
.share_btn{ border-radius:25px; font-size:28px; margin-top:10px;}
.f65{ font-size:65px;}
.lh56{ line-height:56px; height:56px;}
.f28{ font-size:28px;}
.f18{ font-size:18px;}
.pb10{ padding-bottom:10px;}
.color_red{ color:#ec463a;}
.color_yellow{ color:#fe7e4f;}
.color_black{ color:#000;}
.border_t2{ border-top:2px solid #ec463a;}

.hong-jieguo{ padding:7px 0 0px;position:relative;}
.hong-list{ margin:0px auto; padding-top:10px;}
.hong-list h2{ text-align:center; font-size:15px; padding:0px 0px; color:#999999;}
.hong-list h2 .hong-img{ margin-right:5px;}
.hong-list h2 .hong-img,.hong-list h2 .hong-img img{ display:inline-block; border-radius:15px; width:30px; height:30px; vertical-align:middle;}
.hong-list h3{ padding: 10px 25px 0; position:relative; text-align:center;}
.hong-list h3 em{ display:block; border-bottom:1px solid #cacbcd; position: relative; top:13px;}
.hong-list h3 span{background:#f4f9fd; position:relative; padding:0 15px; font-size:15px;}
.hong-list ul{ padding:0 25px 15px;}
.hong-list ul li{ border-bottom:1px dashed #dbdedd; height:45px; line-height:40px; overflow:hidden;padding-top:15px;}
.hong-list ul li .hong-tel{ font-size:14px; padding-right:5px; vertical-align:middle;}
.hong-list ul li .hong-time{ color:#b6b5ae; padding-left:5px;}
.hong-list ul li em{ float:right; font-size:18px; color:#ec463a;line-height:20px; position:relative;display:block;}
.hong-list ul li em span{ display:block; font-size:12px; position:absolute; top:19px; background:url(../../images/rob-hongbao/newyear/zan.png) no-repeat 0 3px; background-size:12px 12px; padding-left:17px; color:#ff741f; right:0; width:48px;}
.hong-list ul li .hong-img,.hong-list ul li .hong-img img{ float:left; width:30px; height:30px; border-radius:15px;}
.hong-list ul li .hong-text{  line-height:18px; position:relative; margin-left:40px; margin-right:80px;}
.hong-list ul li .hong-text h4{ height:14px; line-height:14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hong-list ul li .hong-text .name{ }
.hong-list ul li .hong-text p{ color:#b6b5ae;}
.go_btn a:hover,.go_btn a:active{color:#fff;}
.icon_qw{background:url(../../images/rob-hongbao/common/icon_lw.png) no-repeat;}
.icon_gq{background:url(../../images/rob-hongbao/common/icon_gq.png) no-repeat;}
.error_icon{ display:inline-block; vertical-align:middle; margin-right: 10px;}
.error_text{ display:inline-block;vertical-align:middle;}



@media screen and (max-width : 374px){
.bonus_box{padding:0 20px 20px;}
.tel_box{ padding-top:66px;}
.tel_input{ height:41px; font-size:18px; margin-bottom:13px;}
.tel_btn{ height:43px; line-height:43px; font-size:18px;}
.monye_text{height:40px; line-height:39px; padding-bottom:19px;}
.monye_text em{ font-size:50px;}
.bonus_money{ font-size:12px;}
.f28{ font-size:24px;}
.f18{ font-size:15px;}
.border_t2{ padding-top:10px;}
.go_btn{ padding-top:25px;}
.no_icon{ background:url(../../images/rob-hongbao/common/no_icon.png) no-repeat; width:174px; height:155px; background-size:100%; margin:72px auto 10px;}
.error_icon{background:url(../../images/rob-hongbao/common/error_icon.png) no-repeat; width:47px; height:47px; background-size:100%;}
.icon_qw,.icon_gq{width:194px;height:118px; background-size: 100%; margin: 0 auto;}
.mt50{margin-top: 51px;}
}
@media screen and (min-width : 375px) and (max-width : 413px) { 
.bonus_box{padding:0 25px 20px;}
.tel_box{ padding-top:80px;}
.tel_input{ height:48px; font-size:20px; margin-bottom:20px;}
.tel_btn{ height:50px; line-height:50px; font-size:21px;}
.monye_text{height:52px; line-height:51px;padding-bottom:22px;}
.monye_text em{font-size:65px;}
.bonus_money{ font-size:15px;}
.f28{ font-size:28px;}
.f18{ font-size:18px;}
.border_t2{ padding-top:15px;}
.go_btn{ padding-top:35px;}
.no_icon{ background:url(../../images/rob-hongbao/common/no_icon.png) no-repeat; width:203px; height:182px; background-size:100%; margin:83px auto 10px;}
.error_icon{background:url(../../images/rob-hongbao/common/error_icon.png) no-repeat; width:48px; height:48px; background-size:100%;}
.icon_qw,.icon_gq{width:236px;height:142px; background-size: 100%; margin: 0 auto;}
.mt50{margin-top: 68px;}
}
 
@media screen and (min-width : 414px){ 
.bonus_box{padding:0 28px 20px;}
.tel_box{ padding-top:85px;} 
.tel_input{ height:54px; font-size:24px; margin-bottom:18px;}
.tel_btn{ height:56px; line-height:56px; font-size:24px;}
.monye_text{height:55px; line-height:54px;padding-bottom:22px;}
.monye_text em{font-size:72px;}
.bonus_money{ font-size:17px;}
.f28{ font-size:30px;}
.f18{ font-size:20px;}
.border_t2{ padding-top:18px;}
.go_btn{ padding-top:25px;}
.no_icon{ background:url(../../images/rob-hongbao/common/no_icon.png) no-repeat; width:225px; height:202px; background-size:100%; margin:83px auto 10px;}
.error_icon{background:url(../../images/rob-hongbao/common/error_icon.png) no-repeat; width:58px; height:58px; background-size:100%;}
.icon_qw,.icon_gq{width:262px;height:157px; background-size: 100%; margin: 0 auto;}
.mt50{margin-top: 77px;}
}