/*分站*/
.top{ background-image: url(../../images/rob-hongbao/fenzhan_default/bg.png); background-size:320px 418px;}
.smile{ background-image:url(../../images/rob-hongbao/fenzhan_default/bg_01.png); background-size:320px 418px;}
.sweat{background-image:url(../../images/rob-hongbao/fenzhan_default/bg_03.png); background-size:320px 418px;}
.cry{background-image:url(../../images/rob-hongbao/fenzhan_default/bg_02.png); background-size:320px 418px;}
.top .p-title1{ background-image: url(../../images/rob-hongbao/fenzhan_default/p-title1.png);background-size:182px 75px;}
.top .p-title{ background-image:url(../../images/rob-hongbao/fenzhan_default/q_title.png);background-size: 200px 44px;}
.top .gq_img{ background-image:url(../../images/rob-hongbao/fenzhan_default/icon-03.png); background-size:100%;}
.top .qw_img{ background-image:url(../../images/rob-hongbao/fenzhan_default/icon-02.png); background-size:100%;}