body{background-color:#efeff4;}
.hp_new_help{background-color:#fff;}
.deal_help{min-width:320px;}
.bg_white{background-color:#fff;}
.hp_top{background-color:#fff;height:80px;overflow:hidden;width:270px;margin:0 auto;}
.hpt_left{float:left;padding:10px 0px  0px 0px;}
.hpt_left img{width:110px;height:70px;}
.hpt_right{margin-left:120px;}
.hpt_right i{margin-top:23px;display:inline-block;}
.hpt_right i img{width:146px;height:28px;}
.hpt_right p{font-size:11px;color:#a4a4a4;margin-left:13px;}
.deal_help h3{height:20px;line-height:20px;padding:10px 0 5px;text-align:left;padding-left:15px;color:#909090;font-size:12px;}
.deal_help h4{height:30px;line-height:30px;padding:5px 15px 0;color:#909090}
.has_center{background-color:#FFF;padding-left:15px;border-top:1px solid #d9d9d9;}
.has_center .hasc_btn{height:45px;line-height:44px;}
.has_center .hasc_btn a{font-size:14px;color:#343438;text-decoration:none;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.has_center .hasc_btn a .icon_arrow{background:url(../images/jt_icon.png) no-repeat scroll 0px 0px / cover transparent;width:7px;height:12px;display:block;margin-top:18px;margin-right:10px;margin-left:10px;}
/* 0.5px——line */
.has_center .hasc_btn .zero_point_five{width: 200%;height: 1px;background: #D8D8D8;transform: scale(0.5,0.5) translate(-50%, 50%);-webkit-transform: scale(0.5,0.5) translate(-50%,-50%);}
/* end */
.dis_border{border-bottom:none;}
.has_list{padding-left:0px!important;}
.has_list .hasl_center a{width:50%;display:inline-block;}
.has_list .hasl_center a:nth-child(1){margin-left:-1px;}
.has_list .hasl_center a:nth-child(2){border-left:1px solid #d9d9d9;}
.hh_main div a,.hh_main div{border-width:0.5px!important;}
.has_list .hasl_center a span{margin-left:15px;}

/*帮助中心改版*/
.has_center{border-top:none;margin-bottom:130px;}
.has_center .hasc_btn{height:48px;line-height:48px;}
body{margin:0;padding:0;}
.banner{position:relative;background-color:#fff;padding-bottom: 25px;}
.acc_menu .txt-wrap i.ptjs{background:url(../images/help/ptjs.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.zjaq{background:url(../images/help/zjaq.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.app{background:url(../images/help/app.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.xz{background:url(../images/help/xz.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.yhq{background:url(../images/help/yhq.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.red{background:url(../images/help/red.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.yqjl{background:url(../images/help/yqjl.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.gmjj{background:url(../images/help/gmjj.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.wxzq{background:url(../images/help/wxzq.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.wxbx{background:url(../images/help/wxbx.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.wxsd{background:url(../images/help/wxsd.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.wxfd{background:url(../images/help/wxfd.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.zdx{background:url(../images/help/zdx.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.sxy{background:url(../images/help/sxy.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}
.acc_menu .txt-wrap i.hydj{background:url(../images/help/hydj.png) no-repeat;background-size:100% 100%;display: block;width: 24px;height: 24px;}

.ui-slider{width:100%;overflow:hidden;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.ui-slider-item{background-color:#ffffff;text-align:center;overflow:hidden;}
.banner img{width:100%;height:220px;}
.acc_menu{height:70px;margin:0;padding:0;}
.clearfix{display:block;}
.acc_menu li{width:25%;float:left;text-align:center;padding-top:20px;font-size:15px;font-weight: 400;}
a{text-decoration:none;color:#000;}
.acc_menu .txt-wrap i.hb{background-position:0 0;}
.acc_menu .txt-wrap i{width:38px;height:38px;display:block;margin:0 auto 5px;}
.f12{font-size:12px;}
.gray{color:#909090;}
ol,ul,li{list-style:none;}
.ttCont{display:-webkit-box;padding: 18px 0;}
.ttCont .text{-webkit-box-flex:1;font-size:18px;color:#000000;letter-spacing:0;padding-left: 15px;line-height: 25px;}
.m-mian .acc_menu div.txt-wrap{font-size:12px;color: #343438;}
.fixBtm{position:fixed;left:0;bottom:0;width:100%;padding:30px 0 12px 0;text-align:center;z-index:10px;background: #fff;border-top: 1px solid #F9F9F9;box-shadow: 0 -2px 4px #EFEFEF;}
.kfText{font-size:10px;color:#8A8899;letter-spacing:0;text-align:center;padding-top:12px;}
.kftel{display:inline-block;background:#EF4B39;border-radius:3px;padding:6px 0 6px 0;font-size:17px;color:#FFFFFF;letter-spacing:0;width:90%;}
#help_main{background:#fff;}