body{font-family:PingFangSC-Medium;background: #F9F9F9;}
.dhs_main{padding-top:18px;background:#fff;}
.dhs_main h5{font-size:14px;color:#343438;line-height:20px;padding-bottom: 12px;padding-left: 15px;}
.dhs_center{padding:0 15px;}
.dhs_center p{font-size:13px;color:#8A8899;letter-spacing:0;line-height:26px;margin-bottom:25px;}
.dhs_footer .btn{display: block;margin: 0 auto;text-align: center;text-decoration: none;font-size: 12px;color: #343438;padding: 12px 0 12px;}
.dhs_footer p{text-align:center;font-size:12px;color: #8A8899;letter-spacing:0;background: #f9f9f9;}
.dhs_footer p.dg_bor{padding-top:18px;text-align:center;font-size:12px;color:#8A8899;letter-spacing:0;}
.dhs_footer p a{color:#2ea7e0;;text-decoration:none;}
.dhs_footer{}
/* 已解决未解决按钮 */
.help_btn{padding: 5px 74px 18px 74px; overflow: hidden;border-bottom: 1px #D8D8D8 solid;}
.help_btn li{font-size:13px;font-weight:500;color: #A5A5BB}
.help_btn li:first-child{float: left;}
.help_btn li:last-child{float: right;}
.help_btn li p{text-align: center;margin-top: 14px;}
.help_btn li div{width: 68px;height: 68px;border-radius: 34px;box-shadow:0px 2px 5px 0px rgba(217,218,219,1);}
.help_btn li div span{width: 24px;height: 24px; display: inline-block;}
.help_img{margin-left:22px;margin-top:22px;background: url(../images/help/help1.png) no-repeat center;background-size: 24px 24px;}
.help_img_active{animation:helpful 0.5s ease forwards;-webkit-animation:helpful 0.5s ease forwards;}
@keyframes helpful{
  0%{
    background: url(../images/help/help2.png) no-repeat center;background-size: 24px 24px;
  }
  40%{
    background: url(../images/help/help3.png) no-repeat center;background-size: 24px 24px;
  }
  70%{
    background: url(../images/help/help4.png) no-repeat center;background-size: 24px 24px;
  }
  100%{
    background: url(../images/help/help5.png) no-repeat center;background-size: 24px 24px;
  }
}
@-webkit-keyframes helpful{
  0%{
    background: url(../images/help/help2.png) no-repeat center;background-size: 24px 24px;
  }
  40%{
    background: url(../images/help/help3.png) no-repeat center;background-size: 24px 24px;
  }
  70%{
    background: url(../images/help/help4.png) no-repeat center;background-size: 24px 24px;
  }
  100%{
    background: url(../images/help/help5.png) no-repeat center;background-size: 24px 24px;
  }
}
.unhelpful_img{margin-left:22px;margin-top:22px;background: url(../images/help/unhelp1.png) no-repeat center;background-size: 24px 24px;}
.unhelpful_img_active{animation:unhelpful 0.5s ease forwards;-webkit-animation:unhelpful 0.5s ease forwards;}
@keyframes unhelpful{
  0%{
    background: url(../images/help/unhelp2.png) no-repeat center;background-size: 24px 24px;
  }
  40%{
    background: url(../images/help/unhelp3.png) no-repeat center;background-size: 24px 24px;
  }
  70%{
    background: url(../images/help/unhelp4.png) no-repeat center;background-size: 24px 24px;
  }
  100%{
    background: url(../images/help/unhelp5.png) no-repeat center;background-size: 24px 24px;
  }
}
@-webkit-keyframes unhelpful{
  0%{
    background: url(../images/help/unhelp2.png) no-repeat center;background-size: 24px 24px;
  }
  40%{
    background: url(../images/help/unhelp3.png) no-repeat center;background-size: 24px 24px;
  }
  70%{
    background: url(../images/help/unhelp4.png) no-repeat center;background-size: 24px 24px;
  }
  100%{
    background: url(../images/help/unhelp5.png) no-repeat center;background-size: 24px 24px;
  }
}