.tr{ text-align:right !important;}
.has-main{ background-color: #e6eaec;height: 100%;}
.has-header{padding: 12px 8px 0px;background-color: #fff;border-bottom: 1px solid #dadcdd;position: relative; color:#41474d;}
	.has-header h2{ padding-bottom: 10px;border-bottom: 1px solid #e7e7e7;font-size: 15px;color: #586068;padding-left: 5px;}
	.money-color{ color: #5ca9e4;}
	.pro-color{ color: #f94272;}
.hash-tb{ padding: 5px 5px 6px; position:relative}
	.hash-tb table{ width: 100%;font-size: 12px;}
	.hash-tb table td span{ margin-left: 5px;}
	.hash-tb table td{ padding-bottom: 3px;}
	
/*中间*/
.has-center{ margin-top: 10px;border-top: 1px solid #dadcdd;border-bottom: 1px solid #dadcdd;padding-left: 15px;background-color: #fff;}
	.has-center .hasc-btn{ height: 40px;line-height: 40px;}
	.has-center .hasc-btn a{ font-size: 13px;color: #41474d;text-decoration: none;border-bottom: 1px solid #dadcdd;display: block;}
	.has-center .hasc-btn a .icon_arrow{ background: url("../images/has-icon.jpg") 0 0 no-repeat;width: 8px;height: 13px;background-size: cover;display: block;margin-top: 14px;margin-right: 6%;}
	.has-center .dis-border{ border-bottom: 0px;}
/*底部*/
.inv-footer{margin-top: 10px;border-top: 1px solid #dadcdd;background-color: #fff;color: #41474d;}
	.invf_top{ border-bottom: 1px solid #dadcdd;position: relative;}
	.invf_top ul { height: 30px;}
	.invf_top ul li{ float: left;width: 25%;text-align: center;line-height: 30px;font-size: 13px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
	.invf_top ul  .select{color: #f64172;}
	.invf_top ul  .select em{height: 4px;width: 80px;background-color: #f64172;text-align: center;margin: 0 auto;border-radius: 3px;display: block; position:relative; top:-4px;}
	.invf_top .invf_write{height: 4px;background-color: #f64172;border-radius: 3px;position: absolute;bottom: 0px;}
	.invf_txt{ padding: 10px 15px 10px 0px;font-size: 12px;}
		.invf_txt table{ width: 100%;}
		.invf_txt table th{ color: #909ba8;text-align: left;vertical-align: top;padding-bottom: 0px;}
		.invf_txt table td{ padding-bottom: 0px;}
.invf_txt .tb_ql td{ text-align: center;}
	.invf_txt .tb_ql th{ text-align: center;}
	.invf_txt .tb_ql2 th{ text-align: center;}
#tb1,#tb2,#tb3{ display: none;margin-left: 15px;}


/*投标状态*/
.hasc-state{ position: absolute;right: 0px;top: 5px; width:60px; height:60px;}

.state-hkz{ background:url(../images/status/status-hkz.png) no-repeat;}
.state-mb{ background:url(../images/status/status-mb.png) no-repeat;}
.state-tzz{ background:url(../images/status/status-tzz.png) no-repeat;}
.state-yhq{ background:url(../images/status/status-yhq.png) no-repeat;}
.state-dsh{background:url(../images/status/status-dsh.png) no-repeat;}
.state-hkz,.state-mb,.state-tzz,.state-yhq,.state-dsh{ display:block;width:60px; height:60px;background-size:cover;}

.sh_btn{ background:#F64172; padding:0px 10px; text-decoration:none; color:#fff; border-radius:10px; height:22px; line-height:22px; font-size:12px; float:right;}


/*颜色*/
.hk-color{ color: #3cb025;}
.je-color{ color: #f64172;}

.tb_line div,.tb_line p,.tb_line table {
	width: auto !important;
	font-size: 12px!important;color: #41474d!important;
}
.tb_line {padding-top: 10px;margin-left: 10px;line-height: 18px;word-break: break-all;letter-spacing: 1px;}