@charset "utf-8";
body{ background:#e6eaec;}
.i-list{ background:#fff; border-radius:3px; margin:6px 5px 10px; padding:5px 10px 3px; color:#586068;}
.i-list h3{ font-size:15px; border-bottom:1px solid #dadcdd; padding-bottom:0px; margin-bottom:1px;}
.i-list h4{ font-size:10px; line-height:16px;}
.i-list dl dt{ width:80%; float:left;}
.i-list dl dd{ float:left; width:20%; text-align:right; padding-top:14px;line-height:normal;}
.i-list dl dd a{ font-size:14px; background:#f64172; color:#fff; text-decoration:none; border-radius:13px; padding:3px 10px; display:inline-block;}
.i-text-tips{margin:13px 8px; color:#aeb5bf;}
.i-text-tips p{ padding:2px 0px;}