@charset "utf-8";
body{ background: url(../images/rob-hongbao/bg.jpg) no-repeat #fe4a1a; background-size: 100% 365px; color:#555555; overflow-x:hidden;}
.dao-top{}
.dao-top h2{ text-align:center; font-size:15px; color:#ff4a18; padding:25px 0 10px;}
.how-money{ background:url(../images/rob-hongbao/bg_04.png) no-repeat; background-size:100% 98px; width:68%; margin:0 auto; height:83px; font-size:30px; color:#fff1a6; text-align:center; padding-top:15px;}
.how-money em{ font-size:50px; line-height:40px; height:40px; display:inline-block; overflow:hidden; vertical-align:baseline;}
.how-money span{line-height:30px; height:30px; display:inline-block; overflow:hidden}
.how-money h3{ font-size:12px;}
.red-color{ color:#ff4a18;}
.dao-btn{ padding-top:18px;}
.dao-btn a{ width:190px; display:block; text-align:center; margin:0 auto; background:#3d1e1e; height:40px; color:#fde218; text-decoration:none; font-size:20px; line-height:40px; border-radius:5px;-moz-box-shadow:0px 9px 0px #230e09; -webkit-box-shadow:0px 9px 0px #230e09; box-shadow:0px 9px 0px #230e09; margin-bottom:20px;}
.icon-sea,.icon-down,.hong-jieguo h2 i{ background-image: url(../images/rob-hongbao/icon.png); background-repeat:no-repeat; display:inline-block; margin-right:15px; vertical-align:middle; position:relative; top:-2px;}
.icon-sea{ width:30px; height:18px; background-position:0 0;}
.icon-down{width:18px; height:30px;background-position:0 -21px;}
.dao-guize{ text-align:center;}
.dao-guize a{ color:#555; text-decoration:underline;}
.hong-jieguo{}
.hong-jieguo h2{ text-align:center; padding-top:30px; color:#fff1a6; font-size:15px;}
.hong-jieguo h2 i{ width:19px; height:16px;background-position:0 -57px; vertical-align:middle; margin-left:5px; position:relative; top:0px;}
.hong-list{ width:90%; margin:15px auto; background:#fff; border-radius:1px;}
.hong-list h3{ padding: 10px 15px; position:relative; text-align:center;}
.hong-list h3 em{ display:block; border-bottom:1px solid #cacbcd; position: relative; top:13px;}
.hong-list h3 span{ background:#fff; position:relative; padding:0 15px; font-size:15px;}
.hong-list ul{ padding:0 15px 15px;}
.hong-list ul li{ border-bottom:1px dashed #dbdedd; height:40px; line-height:40px; overflow:hidden;}
.hong-list ul li:first-child{border-bottom:2px dashed #dbdedd;}
.hong-list ul li:first-child em{ font-size:18px; line-height:30px;}
.hong-list ul li .hong-tel{ font-size:14px; padding-right:5px; vertical-align:middle;}
.hong-list ul li .hong-time{ color:#b6b5ae; padding-left:5px;}
.hong-list ul li em{ float:right; font-size:14px; color:#fe4a1a;}
.hong-list ul li .hong-img{ float:left;}
.hong-list ul li .hong-text{ float:left; line-height:18px; position:relative; top:-2px; padding-left:8px;}
.hong-list ul li .hong-text p{ color:#b6b5ae;}