/* 添加新房产页面样式 */
.add_new_property{
  width: 100%;
  position: relative;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
/* 房产所在城市部分样式 */
.add_new_property .house_property_city{
  background-color: #ffffff;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.1rem;
  width: 100%;
}
.add_new_property .house_property_city a{
  display: block;
}
.house_property_city span:nth-child(1){
  font-size: 0.14rem;
  color: #000;
  margin-left: 0.15rem;
}
.house_property_city span:nth-child(2){
  color: rgba(144,144,144,1);
  font-size: 0.13rem;
  float: right;
  margin-right: 0.15rem;
}
.house_property_city span:nth-child(2) .selected_city_color{
  color: #000;
}
.house_property_city span:nth-child(2) img{
  width: 0.072rem;
  height: 0.127rem;
  margin-left: 0.06rem;
}
/*市辖区名称+详细地址*/
.city_area_name{
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.1rem;
  font-size: 0.15rem;
}
.city_area_name .first_city_area {
  height: 0.49rem;
  line-height: 0.49rem;
  border-bottom: 1px solid rgba(230,230,230,1);/* no */
  padding: 0 0.15rem;
}
.city_area_name .first_city_area label{
  color: rgba(3,3,3,1);
  width: 25%;
  display: inline-block;
}
.city_area_name .first_city_area .first_text{
  -webkit-appearance: none;
  background-color: #ffffff;
  border: none;
  width: 65%;
  font-size: 0.15rem;
  color: #000;
  margin-left: 0.21rem;
}
.city_area_name .first_city_area input{
  padding-left: 0.21rem;
  width: 65%;
  font-size: 0.15rem;
  color: #000;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*房产材料上传*/
.material_upload{
  margin-top: 0.1rem;
  width: 100%;
}
.material_upload .material_upload_top{
  font-size: 0.15rem;
  color: rgba(3,3,3,1);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  border-bottom: 1px solid rgba(230,230,230,1);
  padding-left: 0.15rem;
  background-color: #ffffff;
}
/* 使用h5调取摄像头样式 */
.padd15{
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: #ffffff;
}
.padd15 .first{
  float: left;
  margin-left: 0.3rem;
  width: 1rem;
  text-align: center;
}
.padd15 .upload_box{
  position: relative;
  border: 1px solid #E6E6E6;
  width: 1rem;
  height: 1.2rem;
  background: url("../../images/house/wx_fuye.png") no-repeat;
  background-size: 100% 100%;
}
/*渲染图片*/
.upload_box .mying{
  width: 1rem;
  height: 1.2rem;
}
.upload_box .mying img{
  width: 1rem;
  height: 1.2rem;
}
.content_h5{
  position: absolute;
  top: 0;
  width: 1rem;
  height: 1.2rem;
  overflow: hidden;
}
.content_h5 .filedata{
  width: 1rem;
  height: 1.2rem;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload_box .photo_img{
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.2rem;
  margin-top: -0.2rem;
  background: url("../../images/house/wx_house_material_phone.png") no-repeat;
  background-size: contain;
}
.upfile_root .upfile_c input.ui_file{
  width: 1rem;
  height: 1.2rem;
}
.j_small_img{
  width: 1rem;
  height: 1.2rem;
}
.img_text{
  margin-top: 0.1rem;
}

/* 提交按钮 */
.btn{
  padding: 0.15rem;
}
.btn input{
  width: 100%;
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: rgb(217,217,217);
  color: #ffffff;
  border-radius: 3px;
  font-size: 0.17rem;
}
.container_loading{
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 50%;
  margin-left: -0.2rem;
  margin-top: 0.4rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
}
.loading{
  width: 0.2rem!important;
  height: 0.2rem!important;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  background:url("../../images/house/loading.jpg") no-repeat;
  background-size: contain;
  animation:loading 2s infinite;
  -webkit-animation:loading 2s infinite linear; 
}
/* 控制加载图片旋转 */
@keyframes loading{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* 保存上传的房产资料 */
.save_material{
  padding:0.15rem;
}
.save_material a{
  display: block;
}
.save_material button{
  width: 100%;
  display: block;
  height: 0.4rem;
  background-color: rgba(217,217,217,1);
  color: #ffffff;
  font-size: 0.17rem;
  outline-style: none;
  border: none;
}
