/* 房产资料列表页面样式 */
.house_material_selection_container{
  width: 100%;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.house_material_lists .cover{
  display: block;
}
.house_material_lists {
  background-color: #ffffff;
  padding:0 0.15rem;
  margin-top: 0.1rem;
}
/* 房产资料列表头部样式 */
.house_material_lists .house_material_list_top{
  font-size: 0.14rem;
  color: #000;
  width: 100%;
  padding:0.15rem 0;
  border-bottom: 1px solid rgba(217,217,217,1);/* no */
}
.house_material_lists .house_material_list_top a{
  color: #000!important;
}
.house_material_list_top span{
  display: block;
}
/* 申请时间以价值评估部分 */
.house_material_lists table{
  width: 100%;
  margin-top: 0.145rem;
  padding-bottom: 0.05rem;
  border-bottom: 1px solid rgba(217,217,217,1);/* no */
}
table tr{
  width: 100%;
}
tr td{
  width: 50%;
  text-align: center;
  font-size: 0.12rem;
  padding-bottom: 0.1rem;
}
table thead tr td{
  color: rgba(144,144,144,1);
}
 /*用户房产评估状态 */
.user_evaluation_status{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.user_evaluation_status .house_evaluation_status{
  float: left;
  color: rgba(144,144,144,1);
  font-size: 0.12rem;
}
.user_evaluation_status .user_house_property_edit{
  float: right;
  color: rgba(23,127,222,1);
  font-size: 0.12rem;
}
.user_evaluation_status .user_house_property_edit a{
  display: block;
  color: rgb(23,127,222);
}
.user_evaluation_status .user_house_property_edit i{
  background: url("../../images/house/house_material_edit.png") no-repeat;
  background-size: 0.14rem 0.14rem;
  width: 0.14rem;
  height: 0.14rem;
  display: inline-block;
  margin-right: 0.07rem;
  vertical-align: middle;
}
/* 添加新房产 */
.fixed_brother{
  height: 0.55rem;
}
.add_new_house_material{
  width: 100%;
  height: 0.55rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.add_new_house_material .fixed_container{
  padding: 0.08rem 0.15rem 0.07rem;
}
.add_new_house_material .fixed_container a{
  display: block;
}
.add_new_house_material .fixed_container input{
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  background-color: rgba(23,127,222,1);
  color: #ffffff;
  font-size: 0.17rem;
  border-radius:3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* 用户无房产列表样式 */
/* 房产资料选择列表页为空的情况 */
.house_material_null_content{
  width: 100%;
  text-align: center;
}
.house_material_null_content img{
  width: 1.25rem;
  height: 1.17rem;
  margin-top: 1.7rem;
}
.house_material_null_content p{
  font-size: 0.14rem;
  color: rgb(144,144,144);
  line-height: 0.28rem;  
}
.house_material_null_content p:nth-child(2){
  margin-top: 0.27rem;
  font-size: 0.15rem;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .add_new_house_material{
    width: 100%;
    height: 0.55rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding-bottom: 34px;
  }
}