.bottom_tips_container{
  width: 100%;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* 常见问题 */
.common_problem{
  font-size: 0.12rem;
  color: rgba(23,127,222,1);
  display: block;
}
.bottom_tips_container1 {
  position: fixed;
  bottom: 0.2rem;
  padding-bottom: 0;
}
.bottom_tips_container .bottom_tips{
  text-align: center;
  color: rgb(204,204,204);
  font-size: 0.11rem;
  margin-top: 0.1rem;
}
.bottom_tips_container .bottom_tips .line{
  display: inline-block;
  width: 0.1rem;
  height: 0.01rem;
  background-color: rgb(217,217,217);
  vertical-align: middle;
  margin: -0.03rem 0.06rem 0;
}
/* ---end--- */
/* scheme源生调起手机拍照功能样式*/
/* 拍照功能弹窗 */
.photo_click_popup{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  left: 0;
  top: -0.1rem;
  bottom: 0;
  z-index: 10;
}
.photo_click_popup .photo_fixed{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(239,239,244,1);
}
.photo_click_popup .photo_fixed a{
  display: block;
}
.photo_click_popup .photo_fixed span{
  background-color: #ffffff;  
  height: 0.5rem;
  color: #000;
  font-size: 0.17rem;
  line-height: 0.5rem;
  width: 100%;
  display: block;
  text-align: center;
}
.photo_click_popup .photo_fixed span:nth-child(1){
  border-bottom: 1px solid rgba(230,230,230,1);
}
.photo_click_popup .photo_fixed span:nth-child(3){
  margin-top: 0.1rem;
  color: rgba(144,144,144,1);
}
/* ---end--- */

/* 加载更多loadmore样式 */
.ui_loadmore {
  text-align: center;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #8f8f8f;
  font-size: 0.15rem;
}

.ui_loadmore a {
  color: #8f8f8f;
}

.ui_loadmore .ui_loading {
  width: 0.18rem;
  height: 0.18rem;
}
.ui_loading {
  height: 0.18rem;
  width: 0.18rem;
  position: relative;
  display: inline-block;
  vertical-align: middle
}

.ui_loading div {
  width: 12%;
  height: 26%;
  background-color: #a6a6a6;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-border-radius: 30%;
  -webkit-animation: ui_loading 1s linear infinite
}

.ui_loading div.bar1 {
  -webkit-transform: rotate(0deg) translate(0,-142%);
  -webkit-animation-delay: 0s
}

.ui_loading div.bar2 {
  -webkit-transform: rotate(30deg) translate(0,-142%);
  -webkit-animation-delay: -0.9167s
}

.ui_loading div.bar3 {
  -webkit-transform: rotate(60deg) translate(0,-142%);
  -webkit-animation-delay: -0.833s
}

.ui_loading div.bar4 {
  -webkit-transform: rotate(90deg) translate(0,-142%);
  -webkit-animation-delay: -0.75s
}

.ui_loading div.bar5 {
  -webkit-transform: rotate(120deg) translate(0,-142%);
  -webkit-animation-delay: -0.667s
}

.ui_loading div.bar6 {
  -webkit-transform: rotate(150deg) translate(0,-142%);
  -webkit-animation-delay: -0.5833s
}

.ui_loading div.bar7 {
  -webkit-transform: rotate(180deg) translate(0,-142%);
  -webkit-animation-delay: -0.5s
}

.ui_loading div.bar8 {
  -webkit-transform: rotate(210deg) translate(0,-142%);
  -webkit-animation-delay: -0.41667s
}

.ui_loading div.bar9 {
  -webkit-transform: rotate(240deg) translate(0,-142%);
  -webkit-animation-delay: -0.333s
}

.ui_loading div.bar10 {
  -webkit-transform: rotate(270deg) translate(0,-142%);
  -webkit-animation-delay: -0.25s
}

.ui_loading div.bar11 {
  -webkit-transform: rotate(300deg) translate(0,-142%);
  -webkit-animation-delay: -0.1667s
}

.ui_loading div.bar12 {
  -webkit-transform: rotate(330deg) translate(0,-142%);
  -webkit-animation-delay: -0.0833s
}

@-webkit-keyframes ui_loading {
  from {
    opacity: 1
  }

  to {
    opacity: .25
  }
}
/* ---end--- */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .photo_click_popup .photo_fixed{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(239,239,244,1);
    padding-bottom: 34px;
  }
  .bottom_tips_container .bottom_tips{
    text-align: center;
    color: rgb(204,204,204);
    font-size: 0.11rem;
    margin-top: 0.1rem;
    padding-bottom: 34px;
  }
}