/* 房产所在城市页面样式 */
.expected_date_select{
  width: 100%;
  background-color: #ffffff;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.expected_date_select li{
  height: 0.49rem;
  line-height: 0.49rem;
  border-bottom: 1px solid rgb(230,230,230);
  font-size: 0.15rem;
  color: #000;
  padding: 0 0.15rem;
}
.expected_date_select li span{
  display: block;
  float: left;
}
.expected_date_select li img{
  float: right;
  display: block;
  width: 0.127rem;
  height: 0.099rem;
  margin-top: 0.21rem;
}