/* 借款记录详情页面样式 */
.loan_record_detail{
  background-color: rgba(245,245,250,1);
  width: 100%;
  position: relative;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
/* 头部借款房产详情+借款申请状态 */
.loan_record_detail .loan_record_detail_top{
  background-color: #3887E0;/* 兼容小米2s 魅族mx3 */
  background-image: linear-gradient(0deg, #3887E0 0%, #008DE7 100%);
  -webkit-background-image: linear-gradient(0deg, #3887E0 0%, #008DE7 100%);
  padding:0.19rem 0 0.14rem 0.15rem;
}
.loan_record_detail_top .loan_record_detail_amount{
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.3);/* no */
  padding-bottom: 0.12rem;
}
.loan_record_detail_amount span{
  display: block;
  color: #ffffff;
}
.loan_record_detail_amount span:nth-child(1){
  font-size: 0.12rem;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.loan_record_detail_amount span:nth-child(2){
  font-size: 0.3rem;
  margin-top: 0.04rem;
}
.loan_record_detail_amount span:nth-child(3){
  font-size: 0.14rem;
  margin-top: 0.05rem;
  font-weight: 100;
}
.loan_record_detail_top .loan_record_detail_status{
  padding: 0.125rem 0.15rem 0 0;
  color: rgba(255,255,255,0.6);
  display: -webkit-box;
  overflow-x: hidden;
}
.loan_record_detail_status span:nth-child(1){
  font-size: 0.09rem;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 47px;
  height: 0.16rem;
  padding: 0.03rem 0.05rem 0 0.07rem;
  font-weight: 200;
  display: block;
}
.loan_record_detail_status span:nth-child(2){
  font-size: 0.12rem;
  margin-left: 0.1rem;
  display: block;
  width: 80%;
  overflow-x: hidden;
}
/* 用户借款期限、融资成本等内容列表 */
.loan_record_detail_date{
  padding: 0.15rem 0.15rem 0.04rem;
  background-color: #ffffff;
  box-shadow: 0 0 0 rgba(230,230,230);
}
.loan_record_detail_date span{
  width: 100%;
  display: block;
  font-size: 0.14rem;
  color: rgb(144,144,144);
  margin-bottom: 0.15rem;
}
.loan_record_detail_date span i:nth-child(2){
  float: right;
  color: #000;
}
/* 还款计划+提前还款 */
.loan_record_detail_repayment_plan{
  width: 100%;
  margin-top: 0.1rem;
  background-color: #ffffff;
}
.loan_record_detail_repayment_plan a{
  display: block;
}
.loan_record_detail_repayment_plan span{
  display: block;
  height: 0.49rem;
  line-height: 0.49rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  font-size: 0.14rem;
  color: rgb(144,144,144);
}
.loan_record_detail_repayment_plan span img{
  width: 0.072rem;
  height: 0.127rem;
  float: right;
  margin-top: 0.181rem;
}
.loan_record_detail_repayment_plan span:nth-child(1){
  border-bottom: 1px solid rgb(245,245,250);
}
.loan_record_detail_repayment_plan span:nth-child(2){
  height: 0.5rem;
  line-height: 0.5rem;
}
/* 提前还款弹框 */
.prepayment_popup{
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.prepayment_popup .prepayment_popup_text_content{
  margin-top:1.48rem;
  text-align: center;
  background-color: #ffffff;
  margin-left: 0.52rem;
  margin-right: 0.52rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.prepayment_popup_text_content .prepayment_popup_title{
  padding-top: 0.15rem;
  padding-bottom: 0.09rem;
  margin: 0 0.15rem;
  font-size: 0.17rem;
  color: #000;
  border-bottom: 1px solid rgb(217,217,217);
}
.prepayment_popup_content{
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.prepayment_popup_content p{
  color: rgb(144,144,144);
  font-size: 0.12rem;
  line-height: 0.18rem;
  width: 100%;
}
.prepayment_popup_content p:nth-child(3){
  color: #000;
  font-size: 0.18rem;
  font-weight: 700;
  margin-top: 0.08rem;
  margin-bottom: 0.12rem;
}
.prepayment_popup_content p:nth-child(4){
  font-size: 0.1rem;
  height: 0.36rem;
}
.prepayment_popup_content p:nth-child(4) i{
  display: block;
}
.prepayment_popup_content .call_btn{
  height: 0.35rem;
  margin-top: 0.203rem;
}
.prepayment_popup_content .call_btn button{
  width: 1.12rem;
  height: 100%;
  font-size: 0.16rem;
  font-weight: 100;
  border: none;
  outline-style: none;
  border-radius:3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius:3px;
}
.prepayment_popup_content .call_btn .prepayment_popup_cancel{
  background-color: rgb(230,230,230);
  color: rgb(144,144,144);
  font-size: 0.16rem;
}
.prepayment_popup_content .call_btn .prepayment_popup_call{
  display: block;
  height: 0.35rem;
  line-height: 0.35rem;
  width: 1.12rem;
  background-color: rgb(23,127,222);
  color: rgba(255,255,255,0.8);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius:3px;
  float: right;
  margin-right: 0.16rem;
  font-size: 0.16rem;
  font-weight: 100;
}