/* 身份认证页面样式 */
body,html{
  font-family: "microsoft yahei";
  background-color: #F4F4F9;
}
.user_id_idetify{
  width: 100%;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.user_id_idetify .ui_input_box{
  background-color: #ffffff;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.1rem;
  padding:0 0.1rem;
}
.user_id_idetify .ui_input_box span{
  width: 17%;
  display: inline-block;
  margin-right: 0.15rem;
  font-size: 0.14rem;
}
.user_id_idetify .ui_input_box input{
  display: inline-block;
  width: 75%;
  font-size: 0.14rem;
}
.submit{
  padding: 0.1rem;
}
.submit a{
  display: block;
}
.submit_user_id{
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #ffffff;
  font-size: 0.15rem;
  text-align: center;
  background-color: #ccc;
}
/* 网信房贷介绍页面 */
.net_mortgage_profile{
  background-color: #ffffff;
  width: 100%;
  /* height: 100%; */
  position: relative;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.net_mortgage_profile .top1{
  width: 100%;
  height: 1.83rem;
}
.net_mortgage_profile .top1 img{
  width: 100%;
  height: 1.83rem;
}

/* 产品介绍部分样式 */
.produce_content{
  margin-top: 0.05rem;
}
.produce_content .top{
  text-align: center;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.produce_content .top p:nth-child(1){
  font-size: 0.17rem;
  color: #000;
}
.produce_content .top p:nth-child(2){
  width: 0.2rem;
  height: 0.01rem;
  background-color: rgb(28,130,222);
  margin-top: 0.04rem;
  margin-left: 1.58rem;
}
.produce_content .top p:nth-child(3){
  margin-top: 0.16rem;
  border: 1px solid #F0F0F0;
  padding: 0.14rem 0.1rem;
  border-radius: 5px;
  font-size: 0.13rem;
  color: rgb(144,144,144);
  text-align: left;
}
/* 首期上线惊喜不断 */
.produce_content .middle{
  padding: 0.18rem 0.2rem 0.5rem 0.15rem;
  border-bottom: 1px solid rgb(230,230,230);
  position: relative;
}
.produce_content .middle .bottom_tips_container{
  position: absolute;
  bottom: 0.15rem;
  left: 0;
}
.produce_content .middle .surprise{
  color: #000;
  font-size: 0.17rem;
  margin-bottom: 0.13rem;
  display: block;
  text-align: center;
}
.produce_content .middle .surprise i{
  display: inline-block;
  width: 0.07rem;
  height: 0.12rem;
}
.produce_content .middle .surprise i:nth-child(1){
  background:url("../../images/house/home_loan_logo.png") no-repeat;
  background-size: contain;
  margin-right: 0.06rem;
}
.produce_content .middle .surprise i:nth-child(2){
  background:url("../../images/house/home_loan_logo_right.png") no-repeat;
  background-size: contain;
  margin-left: 0.06rem;
}
.produce_content .middle p{
  margin-top: 0.1rem;
  font-size: 0.13rem;
  color: #000;
}
.produce_content .middle p span:nth-child(1){
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  color: rgb(28,130,222);
  text-align: center;
  margin-right: 0.08rem;
  background-color: #E8F2FB;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.produce_content .middle p span:nth-child(2){
  float: right;
  display: block;
  width: 90%;
  line-height: 0.24rem;
}
.produce_content .middle p span:nth-child(2) i{
  color: rgb(23,127,222);
}
/* 用户服务协议 */
.user_service_agreement{
  overflow-x: hidden;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.user_service_agreement1{
  display: block;
  width: 100%;
  padding-top: 0.08rem;
  padding-bottom: 0.09rem;
  text-align: center;
}
.user_service_agreement1 i{
  font-size: 0.12rem;
  color: #000;
}
.user_service_agreement1 i:nth-child(2){
  color: rgb(28,130,222);
}
.fixed_replace{
  width: 100%;
  height: 0.44rem;
}
.user_agreement_footer_fixed{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.user_agreement_footer_fixed a{
  display: block;
}
.user_agreement_footer_fixed button{
  width: 100%;
  height: 0.44rem;
  border: none;
  outline-style: none;
  background-color: rgb(28,130,222);
  color: #ffffff;
  font-size: 0.17rem;
  font-weight: 100;
}
/* 借款首页页面样式 */
.net_loan_index_container{
  width: 100%;
  background-color: #F5F5FA;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.net_loan_index_container .top{
  background-color: #ffffff;
  padding: 0 0.15rem 0.15rem;
  text-align: center;
}
.net_loan_index_container .top .recommended_loan{
  font-size: 0.14rem;
  color: #000;
  line-height: 0.15rem;
  display: block;
  padding-top: 0.16rem;
}
.top .recommended_loan i{
  width: 0.07rem;
  height: 0.12rem;
  display: inline-block;
}
.top .recommended_loan i:nth-child(1){
  background:url("../../images/house/home_loan_logo.png") no-repeat;
  background-size: contain;
  margin-right: 0.06rem;
}
.top .recommended_loan i:nth-child(2){
  background:url("../../images/house/home_loan_logo_right.png") no-repeat;
  background-size: contain;
  margin-left: 0.06rem;
}
.top .loan_money_limit{
  margin-top: 0.16rem;
  height: 1.6rem;
  background: url("../../images/house/loan_index_top.jpg") no-repeat;
  background-size: 100% 1.6rem;
  position: relative;
}
.top .loan_money_limit .loan_title{
  width: 100%;
  padding-top: 0.3rem;
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.2rem;
  color: #ffffff;
}
.top .loan_money_limit .small_title1{
  width: 100%;
  text-align: center;
  margin-top: 0.08rem;  
}
.top .loan_money_limit .small_title1 span{
  font-size: 0.1rem;
  color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 0.02rem 0.075rem 0.04rem 0.065rem;
  border-radius: 0.5rem;
  border:1px solid #ffffff;
}
.top .loan_money_limit .small_title1 span:nth-child(2){
  margin-left: 0.05rem;
}
.top .loan_money_limit a{
  display: block;
  height: 100%;
}
.top .loan_money_limit .application_now{
  width: 1.1rem;
  height: 0.34rem;
  line-height: 0.34rem;
  display: block;
  position: absolute;
  bottom: 0.15rem;
  left: 50%;
  margin-left: -0.55rem;
  margin-top: -0.17rem;
  font-size: 0.13rem;
  color: rgba(255,255,255,0.8);
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  border-radius: 44px;
}
/* 借款频道banner部分 */
.carousel_container{
  width: 100%;
  height: 1rem;
  margin-top: 0.1rem;
}
.carousel_container li{
  width: 100%;
  height: 1rem;
}
.carousel_container li a{
  display: block;
}
.carousel_container li img{
  width: 100%;
  height: 1rem;
}
/* 其他借款部分 */
.other_borrowings_lists{
  width: 100%;
}
.other_borrowings_lists .common{
  margin-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.11rem;
  background-color: #ffffff;
  width: 100%;
}
.other_borrowings_lists .common a{
  display: block;
}
.other_borrowings_lists .common .top{
  padding-left: 0.15rem;
  padding-bottom: 0.19rem;
  border-bottom: 1px solid rgb(230,230,230);
}
.other_borrowings_lists .common .top span:nth-child(1){
  display: block;
  width: 100%;
  text-align: left;
}
/* 银信通样式 */
.loan_yxt .top span:nth-child(1) img{
  width: 0.26rem;
  height: 0.17rem;
  vertical-align: middle;
}
.loan_yxt .top span:nth-child(1) i{
  font-size: 0.15rem;
  color: #000;
  margin-left: 0.08rem;
  font-weight: 500;
  padding-top: 0.05rem;
  display: inline-block;
}
/* 变现通 */
.loan_bxt{
  margin-bottom: 0.2rem;
}
.loan_bxt .top span:nth-child(1) img{
  width: 0.23rem;
  height: 0.23rem;
  vertical-align: middle;
}
.loan_bxt .top span:nth-child(1) i{
  font-size: 0.15rem;
  color: #000;
  margin-left: 0.1rem;
  font-weight: 500;
  padding-top: 0.05rem;
  display: inline-block;
}
.other_borrowings_lists .common .top span:nth-child(2){
  display: block;
  margin-top: 0.2rem;
  font-size: 0.22rem;
  color: #000;
  font-weight: 500;
}
.other_borrowings_lists .common .top span:nth-child(2) i{
  color: #177FDE!important;
}
.other_borrowings_lists .common .top span:nth-child(3){
  display: block;
  margin-top: 0.08rem;
}
.other_borrowings_lists .common a{
  color: #177FDE!important; 
}
.other_borrowings_lists .common .top span:nth-child(3) i{
  border: 1px solid #177FDE!important;
  padding:0.03rem 0.06rem;
  border-radius: 100px;
  font-size: 0.1rem;
  color: #177FDE!important;
}
.other_borrowings_lists .common .top span:nth-child(3) i:nth-child(2){
  margin-left: 0.05rem;
}
.other_borrowings_lists .common .bottom{
  width: 100%;
  text-align: center;
  margin-top: 0.105rem;
  font-size: 0.13rem;
  color: #177FDE;
}
/* 用户服务协议页面 */
.user_service_agreement{
  height:100%;
  padding: 0.2rem 0.272rem;
  background-color: rgba(245,245,250,1)
}
.user_service_agreement p{
  font-size: 0.14rem;
  color: rgba(92,92,92,1);
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .user_agreement_footer_fixed{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 34px;
  }
  .net_mortgage_profile .bottom_tips_container .bottom_tips{
    text-align: center;
    color: rgb(204,204,204);
    font-size: 0.11rem;
    margin-top: 0.1rem;
    padding-bottom: 0px;
  }
}