/* 网信房贷输入借款金额页面样式 */
html,body{
  font-family: "microsoft yahei";
  height: 100%;
}
.wx_loan_container{
  width:100%;
  font-size: 12px;
  /* height: 100%; */
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
/* 申请房贷+借款记录样式 */
.wx_loan_container .apply_mortgage{
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  display: -webkit-box;
  background-color: #ffffff;
}
.apply_mortgage a{
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 0.14rem;
  color: #000!important;
}
.apply_mortgage .selected{
  color: rgba(23,127,222,1)!important;
  border-bottom:2px solid #177FDE;/* no */
}
/* 期望借款金额部分 */
.apply_mortgage_content .expected_loan_amount{
  padding:0 0.15rem;
  background-color: #ffffff;
  height: 1.43rem;
}
.apply_mortgage_content .add_tips{
  font-size:0.12rem;
  color: #177FDE;
  padding:0.07rem 0.15rem 0.06rem;
  background-color: #DFF0FF;
}
.expected_loan_amount .loan_amount_first{
  display: block;
  width: 100%;
  font-size: 0.14rem;
  color: #000;
  padding: 0.1rem 0 0.15rem;
}
/* 期望借款金额部分的底部输入框 */
.expected_loan_amount .expected_loan_amount_input{
  height: 0.82rem;
  border: 1px solid rgba(230,230,230,0.5);/* no */
  padding:0 0.15rem;
  position: relative;
}
.borer_yellow{
  border:1px solid rgb(245,166,35)!important;
}
.inp_text{
  font-size: 0.17rem;
}
.btn_key_size{
  font-size: 0.24rem!important;
}
.show_money_ul {
  margin-top: 0.11rem;
  font-size: 0.09rem!important;
}
.ui_input{
  margin-top: 0.16rem;
}
.ui_input .inp_text{
  font-size:0.17rem;
}
.expected_loan_amount_input .money_unit{
  position: absolute;
  top: 50%;
  font-size: 0.13rem;
}
/*期望借款期限*/
.expected_loan_date{
  background-color: #ffffff;
  width: 100%;
  margin-top: 0.1rem;
}
.expected_loan_date a{
  color: #000!important;
  display: block;
  height: 100%;
}
.expected_loan_date li:nth-child(1),.expected_loan_date li:nth-child(2){
  height: 0.49rem;
  line-height: 0.49rem;
  border-bottom: 1px solid #F2F2F2;/* no */
}
.expected_loan_date li:nth-child(1) span:nth-child(1),.expected_loan_date li:nth-child(2) span:nth-child(1){
  float: left;
  padding-left: 0.15rem;
  font-size: 0.14rem;
}
.expected_loan_date li:nth-child(1) span:nth-child(2),.expected_loan_date li:nth-child(2) span:nth-child(2){
  float: right;
  padding-right: 0.15rem;
  font-size: 0.13rem;
  color: rgba(144,144,144,1);
}
.expected_loan_date li:nth-child(2) span:nth-child(2){
  font-size: 0.14rem;
  color: #000;
}
.expected_loan_date .house_material_li{
  padding: 0.15rem;
}
.expected_loan_date .house_material_li span:nth-child(1){
  display: block;
  width: 100%;
}

/* 还款方式span样式 */
.expected_loan_date .second_li .style_inner{
  margin-right: 0.122rem;
}
.house_material_li span:nth-child(1) i:nth-child(1){
  font-size: 0.14rem;
  color: #000;
}
.house_material_li span:nth-child(1) i:nth-child(2){
  font-size: 0.13rem;
  color: rgb(144,144,144);
  float: right;
}
.house_material_li span:nth-child(1) img{
  width: 0.072rem;
  height: 0.127rem;
  margin-left: 0.05rem;
}
.house_material_li span:nth-child(2){
  display: block;
  width: 2.5rem;
  font-size: 0.12rem;
  color: #000;
}
.expected_loan_date  span:nth-child(2) img{
  width: 0.072rem;
  height: 0.127rem;
  margin-left: 0.05rem;
}
/* 融资成本 */
.finance_cost{
  width: 100%;
  background-color: #ffffff;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.1rem;
}
.finance_cost span{
  font-size: 0.14rem;
  color: #000;
}
.finance_cost span:nth-child(1){
  padding-left: 0.15rem;
}
.finance_cost span:nth-child(2){
  float: right;
  padding-right: 0.15rem;
  display: block;
}
.finance_cost span:nth-child(2) a{
  width: 0.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  display: inline-block;
  margin-left: 0.04rem;
  margin-left: 0.05rem;
}
.finance_cost span:nth-child(2) a img{
  width: 0.15rem;
  height: 0.15rem;
  vertical-align: text-top;
}
/* 立即申请 */
.btn_apply_immediately{
  padding: 0.15rem;
}
.btn_apply_immediately a{
  display: block;
}
.btn_apply_immediately button{
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  border:none;
  outline-style: none;
  border-radius:3px;
  background-color: rgba(217,217,217,1);
  color: #ffffff;
  text-align: center;
  font-size: 0.17rem;
}

/* 点击借款记录遮罩层 */
.loan_record_popup{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: transparent;
}
.loading{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 0.05rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  background-color: rgba(0,0,0,0.75);
  color: #ffffff;
  font-size: 0.12rem;
  text-align: center;
}
.loading .loading_img{
  margin-top: 0.2rem; 
}
.loading .loading_img img{
  width: 0.38rem;
  height: 0.38rem;
  border-radius: 50%;
  animation:loading 1.5s infinite;
  -webkit-animation:loading 1.5s infinite linear;
}
.oninloading{
  margin-top: 0.05rem;
}
/* 控制加载图片旋转 */
@keyframes loading{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
/* 期望借款期限遮罩层 */
.expected_date_select{
  width: 100%;
  background-color: #ffffff;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.expected_date_select li{
  height: 0.49rem;
  line-height: 0.49rem;
  border-bottom: 1px solid rgb(230,230,230);
  font-size: 0.15rem;
  color: #000;
  padding: 0 0.15rem;
}
.expected_date_select li span{
  display: block;
  float: left;
}
.expected_date_select li img{
  float: right;
  display: block;
  width: 0.127rem;
  height: 0.099rem;
  margin-top: 0.21rem;
}
/* 融资成本遮罩层 */
.finance_cost_popup{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  padding: 1.09rem  0.525rem 2.2rem;
}
.finance_cost_popup .finance_popup{
  background-color: #ffffff;
  border-radius: 3px;
  padding:0.15rem;
}
.finance_popup .finance_popup_top{
  width: 100%;
  text-align: center;
  border-bottom:1px solid rgba(217,217,217,1);
  padding-bottom: 0.1rem;
}
.finance_popup .finance_popup_top span:nth-child(1){
  display: block;
  font-size: 0.17rem;
  color: rgba(144,144,144,1);
  padding-bottom: 0.08rem;
  font-weight: 200;
}
.finance_popup .finance_popup_top span:nth-child(2){
  display: block;
  height: 0.72rem;
}
.finance_popup_top span:nth-child(2) i{
  display: block;
  font-size: 0.14rem;
  line-height: 0.24rem;
  color: #000;
}
.finance_popup .finance_popup_bottom{
  height: 1.19rem;
  margin-top: 0.105rem;
  font-size: 0.12rem;
  color: rgba(144,144,144,0.8);
  font-weight: 200;
  line-height: 0.17rem;
}
.finance_cost_popup .finance_popup_close{
  text-align: center;
  width: 100%;
  margin-top: 0.15rem;
}
.finance_cost_popup .finance_popup_close img{
  width: 0.32rem;
  height: 0.32rem;
}

/* 用户借款记录列表页面 */
.loan_record_content{
  width: 100%;
}
.loan_record_content ul{
  background-color: #ffffff;
  height: 0.78rem;
  padding: 0 0.15rem;
  border-bottom:1px solid #F2F2F2;/* no */
}
.loan_record_content ul .list_first_li{
  float: left;
  margin-top: 0.15rem;
  font-size: 0.12rem;
}
.loan_record_content ul a{
  display: block;
  width: 100%;
  height: 100%;
}
.loan_record_content .list_first_li .list_first_span{
  display: block;
  margin-bottom: 0.08rem;
  color: #000;
}
.loan_record_content .list_second_span {
  display: block;
  color: rgba(144,144,144,0.8);
}

.loan_record_content ul .list_second_li{
  float: right;
  margin-top: 0.3rem;
  font-weight: 500;
  font-size: 0.14rem;
}
.loan_record_content ul a{
  color: #000!important;
}
/* 无借款记录的样式 */
/* 借款记录列表页为空的情况 */
.loan_record_null_content{
  width: 100%;
  height: 100%;
  text-align: center;  
}
.loan_record_null_content img{
  width: 1.25rem;
  height: 1.17rem;
  margin-top: 1.7rem;
}
.loan_record_null_content p{
  font-size: 0.14rem;
  color: rgb(144,144,144);
  line-height: 0.28rem;  
}
.loan_record_null_content p:nth-child(2){
  margin-top: 0.27rem;
  font-size: 0.15rem;
}
.house_material_null_fixed{
  position: fixed;
  bottom: 0;
  background-color: #FAFAFA;
  width: 100%;  
}
.house_material_null_fixed .footer_fixed{
  padding:0.08rem 0.15rem 0.07rem; 
}
.house_material_null_fixed .footer_fixed button{
  outline-style: none;
  border: none;
  height: 0.4rem;
  width: 100%;
  color: #ffffff;
  background-color: rgb(23,127,222);
  font-size: 0.17rem;
  border-radius: 3px;
}
/* 解决toast组件的适配问题样式设定 */
.adaptation_rem{
  max-width:2.5rem!important;
  min-width: 1rem!important;
  padding:0.1rem!important;
  border-radius:5px!important;
  font-size: 0.12rem;
}