.p_change_bankcard { font-size: 14px; }
.p_change_bankcard .color_gray { color: #BFBFBF }
.p_change_bankcard .mt15 { margin-top: 15px; }
.p_change_bankcard .padd15 { padding: 15px; }
.p_change_bankcard .user_info dl { height: 44px; border-bottom: 1px solid #e6e6e6; padding: 0 15px; font-size: 14px; line-height: 44px; }
.p_change_bankcard .user_info dl:last-child { border-bottom: none; }
.p_change_bankcard .user_info dl dt { width: 80px; float: left; }
.p_change_bankcard .user_info dl dd { color: #909090; }
.p_change_bankcard .img_tips { margin-left: 15px; border-bottom: 1px solid #e6e6e6; height: 50px; line-height: 50px; }

/*拍照   */
.p_change_bankcard .upload_box { position: relative; border: 1px solid #E6E6E6; width: 80px; height: 80px; background: url(./images/changebankcard/photo.png) no-repeat; background-size: 100% 100%; float:left;margin-left:30px;}
.p_change_bankcard .photograph { padding-bottom: 60px; position: absolute; left: 0; top: 0; width: 100%;height: 100%;  }
.p_change_bankcard .photograph .photograph_box { padding: 40px 15px 0; }
.p_change_bankcard .photograph .photograph_img01, .p_change_bankcard .photograph  .photograph_img02 { background-color: #f5f5f5; background-position: center; background-repeat: no-repeat; border-radius: 5px; width: 100%; height: 140px; background-size: auto 140px; }
.p_change_bankcard .photograph .photograph_img01 { background-image: url(./images/changebankcard/group.png); }
.p_change_bankcard .photograph .photograph_img02 { background-image: url(./images/changebankcard/group_copy.png); }
.p_change_bankcard{position: relative;}
/* .p_change_bankcard .upfile_root { width: 100%; position: fixed; bottom: 20px;} */
/* .p_change_bankcard .upfile_root .upfile_c { border: none; background: #EE4634; width: 100%; height: 40px; line-height: 40px; border-radius: 2.5px; } */
.p_change_bankcard .upfile_root input.ui_file { height: 100%; }
.p_change_bankcard .upfile_root .upfile_c a.upfile_word { padding-left: 0; font-size: 17px; color: #FFF; display: block; line-height: 40px; }
.p_change_bankcard .ui_sub_btn .tishi {  color: #909090;font-size: 11px;padding: 3px 0 10px }
.p_change_bankcard .myimg_h5 { position: absolute; width: 80px; height: 80px; left: 0; top: 0; display: none; }
.p_change_bankcard .del_img { background: url(./images/changebankcard/Delete.png) no-repeat; width: 19px; height: 19px; background-size: 100%; position: absolute; right: -5px; top: -5px; }
.p_change_bankcard .btn { padding: 15px; }
.p_change_bankcard .btn .change_btn { width: 100%; height: 40px; font-size: 17px; background: #EE4634; color: #fff; border-radius: 5px; }
/* .p_change_bankcard .btn .ui_btn_disabled { background: #F1A2A2; } */
.p_change_bankcard .bigimg_bg { position: fixed; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); left: 0; top: 0; }
.p_change_bankcard .bigimg_wrap { position: absolute; width: 80%; height: auto; left: 50%; top: 50%; margin-left: -40%;  }
.p_change_bankcard .bigimg_wrap img.j_big_img { width: 100%; height: auto; position: absolute; left: 0; top: 50%; }
.p_change_bankcard .bigimg_wrap .close { width: 34px; height: 34px; background: url(./images/changebankcard/guanbi.png) no-repeat; background-size: 100% 100%; position: absolute; bottom: -49px; left: 50%; margin-left: -17px; }

/*提交失败*/
.sub_err { background: url(./images/changebankcard/guanbi.png) no-repeat center top; margin-top: 5px; padding-top: 66px; background-size: auto 54px; }

/*上传照片进度条*/
.p_change_bankcard .circle_wrap { background: rgba(0, 0, 0, 0.7); border-radius: 5px; width: 120px; height: 110px; position: absolute; left: 50%; top: 50%; margin-left: -60px; margin-top: -55px; z-index: 1 }
.p_change_bankcard .circle { width: 42px; height: 42px; position: absolute; border-radius: 50%; background: #FFF; top: 22px; left: 50%; margin-left: -21px; }
.p_change_bankcard .pie_left, .p_change_bankcard  .pie_right { width: 42px; height: 42px; position: absolute; top: 0; left: 0; }
.p_change_bankcard .pie_left .left, .p_change_bankcard  .pie_right .right { display: block; width: 42px; height: 42px; background: #9f9f9f; border-radius: 50%; position: absolute; top: 0; left: 0; transform: rotate(0deg); }
.p_change_bankcard .pie_right, .p_change_bankcard .pie_right .right { clip: rect(0, auto, auto, 21px); }
.p_change_bankcard .pie_left, .p_change_bankcard .pie_left .left { clip: rect(0, 21px, auto, 0); }
.p_change_bankcard .circle .mask { width: 36px; height: 36px; border-radius: 50%; left: 3px; top: 3px; background: #404040; position: absolute; }
.p_change_bankcard .circle .rate { color: #fff; position: absolute; text-align: center; width: 100%; left: 0; bottom: -33px; height: 18px; font-size: 10px; }

.p_changecard_error .inreview_foot{color:#8A8899;position: fixed;bottom: 32px;text-align: center;width: 100%;}
.p_changecard_error .inreview_foot span{color: #30A4FF;}
.p_changecard_error .color_black{color: #000;font-weight: 500;}
.p_changecard_error .inreview_img_error{margin:119px auto 0;background: url(../../images/error.png);width: 92px;height: 92px;background-size: 100% 100%;}
.p_changecard_error .ui_btn_red_h40{background: #EF4B39;width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 20px;border-radius: 3px;color: #FFF}
.p_changecard_error .ui_btn_red_h40 a{display: block;color: #FFF}
.p_changecard_error .plr15{padding: 0 30px;}
.p_changecard_error .error_text{font-size: 12px;color: #8A8899;text-align: center;line-height: 17px;margin-bottom: 15px;font-family:PingFangSC-Regular;font-weight:400;}
.p_changecard_error .inreview_instr{margin-top: 24px;margin-bottom: 10px;line-height: 28px;font-family:PingFangSC-Medium;font-weight:500;text-align: center;color: #000;font-size: 20px;}