/* 个人信息填写页面样式 */
.personal_information_filling{
  width: 100%;
  position: relative;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
/* 头部用户个人信息回填部分样式 */
.personal_information_input{
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.1rem;
}
.personal_information_input .first_input{
  height: 0.49rem;
  line-height: 0.49rem;
  border-bottom: 1px solid rgba(230,230,230,1);/* no */
  padding: 0 0.15rem;
}
.personal_information_input .first_input:nth-child(3){
  border: none;
  height: 0.5rem;
  line-height: 0.5rem;
}
.personal_information_input .first_input span:nth-child(1){
  color: rgba(3,3,3,1);
  width: 30%;
  display: inline-block;
  font-size: 0.15rem;
}
.personal_information_input .first_input span:nth-child(2){
  width: 65%;
  font-size: 0.15rem;
  color: rgba(144,144,144,1);
}
/* 身份证照片上传 */
.photo_upload_of_ID_card{
  width:100%;
  margin-top: 0.1rem;
  position: relative;
}
.photo_upload_of_ID_card .photo_upload_title{
  border-bottom: 1px solid rgba(230,230,230,1);
  height: 0.49rem;
  line-height: 0.49rem;
  padding-left: 0.15rem;
  font-size: 0.15rem;
  color: rgba(3,3,3,1);
  background-color: #ffffff;
}
.padd15{
  padding-top: 0.21rem;
  padding-bottom: 0.15rem;
  background-color: #ffffff;
}
.padd15 .first{
  float: left;
  margin-left: 0.21rem;
  width: 0.834rem;
  text-align: center;
}
.padd15 .upload_box{
  position: relative;
  border: 1px solid #E6E6E6;
  width: 0.834rem;
  height: 0.522rem;
  background: url("../../images/house/wx_photo_id_card.png") no-repeat;
  background-size: 100% 100%;
  
}
.padd15 .upload_box:nth-child(2){
  margin-left: 0.416rem;
}
.padd15 .upload_box .mying{
  width: 0.834rem;
  height: 0.522rem;
}
.padd15 .upload_box .mying img{
  width: 0.834rem;
  height: 0.522rem;
}
.content_h5{
  position: absolute;
  top: 0;
  width: 0.834rem;
  height: 0.522rem;
  overflow: hidden;
}
.content_h5 .filedata{
  width: 0.834rem;
  height: 0.522rem;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload_box .photo_img{
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.2rem;
  margin-top: -0.2rem;
  background: url("../../images/house/wx_house_material_phone.png") no-repeat;
  background-size: contain;
}
.j_small_img{
  width: 0.834rem;
  height: 0.522rem;
}
.img_text{
  margin-top: 0.1rem;
}
/* 提交按钮 */
.btn{
  padding: 0.15rem;
}
.btn input{
  width: 100%;
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: rgb(217,217,217);
  color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 0.17rem;
}
/* 点击借款记录遮罩层 */
.loan_record_popup{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: transparent;
}
.loading1{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.18rem;
  margin-left: -0.77rem;
  z-index: 1000000;
  border-radius: 0.06rem;
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;
  font-size: 0.13rem;
  text-align: center;
  padding:0.1rem 0.15rem;
}
.add1{
  width: 0.834rem;
  height: 0.522rem;
  line-height: 0.522rem;
  position: absolute;
  z-index: 100;
  background-color:rgba(255,255,255,1);
}
.container_loading{
  background-color: rgba(0,0,0,0.5);
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.2rem;
  margin-top: -0.2rem;
  border-radius: 50%;
}
.loading{
  width: 0.2rem;
  height: 0.2rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  background:url("../../images/house/loading.jpg") no-repeat;
  background-size: contain;
  animation:loading 2s infinite;
  -webkit-animation:loading 2s infinite linear; 
}
/* 控制加载图片旋转 */
@keyframes loading{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
/* 提交借款申请 */
.submit_loan_application{
  padding: 0.15rem;
}
.submit_loan_application a{
  display: block;
}
.submit_loan_application input{
  width: 100%;
  height: 0.4rem;
  background-color: rgba(217,217,217,1);
  color: #ffffff;
  font-size: 0.17rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* 用户借款申请提交提示 */
.loan_application_tips{
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.loan_application_tips .loan_application_top{
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}
.loan_application_top img{
  width: 1rem;
  height: 1rem;
}
.loan_application_top span{
  display: block;
  font-size: 0.2rem;
}
.loan_application_top span:nth-child(2){
  margin-top: 0.2rem;
  color: rgba(23,127,222,1);
}
.loan_application_top span:nth-child(3){
  color: #000;
  margin-top: 0.15rem;
}
.loan_application_top span:nth-child(4){
  color: rgba(144,144,144,1);
  font-size: 0.12rem;
  margin-top: 0.15rem;
}
.loan_application_top span:nth-child(4) i{
   display: block;
}
/* 完成按钮样式 */
.loan_application_finish{
  padding:0.15rem;
}
.loan_application_finish a{
  display: block;
}
.loan_application_finish button{
  width: 100%;
  background-color: rgba(23,127,222,1);
  height: 0.4rem;
  outline-style: none;
  border: none;
  color: #ffffff;
  font-size: 0.17rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}