.p_assistance{
    width: 100%;
    background: url(../../images/assistance/bg.png) no-repeat center;
    background-size: 100% 100%;
    min-height: 10.25rem;
    position: relative;
    padding-top: 0.65rem;
    overflow: hidden;
}
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3000;
    display: none;
}
.loading img{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.3rem;
    margin-top: -0.3rem;
}
.ruleBtn{
    position: absolute;
    top: 0.24rem;
    left: 0.24rem;
    width: 0.82rem;
    height: 0.28rem;
}
.balloon{
    position: absolute;
    right: -0.4rem;
    top: 0;
    width: 1.18rem;
    height: 1.16rem;;
}
.mainTitle {
    margin: 0 auto;
    display: block;
    z-index: 1000;
    width: 2.7rem;
    height: 1.45rem;
    position: relative;
    z-index: 100;
}
.dianzhui{
    position: absolute;
    left: -0.3rem;
    top: 0.83rem;
    width: 4.32rem;
    height: 7.17rem;;
}
.dianzhui2 {
    position: absolute;
    right: -0.18rem;
    top: 1.73rem;
    width: 2.01rem;
    height: 0.93rem;
}
.shareDefault {
    width: 2.91rem;
    height: 5rem;
    margin: 0.35rem auto 0;
    background: url(../../images/assistance/shareDefault.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    z-index: 1001;
}
.openBox{
    width: 3.09rem;
    height: 3.02rem;
    margin: 0.48rem auto 0;
    background: url(../../images/assistance/openBg.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    z-index: 1000;
}
.openBtn{
    width: 1.17rem;
    height: 1.21rem;
    background: url(../../images/assistance/openBtn.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 0.74rem;
    left: 0.96rem;
}
.openBtn.isOpen {
    animation: breathe 1.5s infinite;
    -ms-animation: breathe 1.5s infinite;
    -moz-animation: breathe 1.5s infinite;
    -webkit-animation: breathe 1.5s infinite;
    -o-animation: breathe 1.5s infinite;
}
.openBtn.over{
    background: url(../../images/assistance/over.png) no-repeat center;
    background-size: 100% 100%;
}
@keyframes breathe{
    0% {
        transform: scale(.99);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(.99);
    }
}
 @-ms-keyframes breathe {
    0% {
        transform: scale(.99);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(.99);
    }
 }
 @-moz-keyframes breathe {
    0% {
        transform: scale(.99);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(.99);
    }
 }
 @-webkit-keyframes breathe {
    0% {
        transform: scale(.99);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(.99);
    }
 }
 @-o-keyframes breathe {
    0% {
        transform: scale(.99);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(.99);
    } 
 }
.openCon{
    width: 2.91rem;
    height: 3.83rem;
    position: relative;
    background: url(../../images/assistance/openConBg.png) no-repeat center;
    background-size: 100% 100%;
    margin: 0.58rem auto 0;
    padding-top: 0.48rem;
    z-index: 2001;
}
.openCon.isApp{
    padding-top: 0.78rem;
}
.avatar {
    width: 0.66rem;
    height: 0.66rem;
    border-radius: 50%;
    position: absolute;
    top: -0.22rem;
    left: 50%;
    margin-left: -0.33rem;
    border: 0.02rem solid #FFB087;
    display: block;
}
.openCon .congratulation{
    width: 0.94rem;
    height: 0.18rem;
    margin: 0 auto;
    display: block;
}
.getBox{
    /* width: 1.7rem; */
    width: 100%;
    height: 0.2rem;
    margin: 0.17rem auto 0.1rem;
    position: relative;
    text-align: center;
}
.getBox .addImg{
    width: 0.12rem;
    height: 0.12rem;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.035rem;
}
.getBox .item{
    height: 100%;
    padding-left: 0.02rem;
    display: inline-block;
}
.getBox .item img{
    width: 0.16rem;
    height: 0.2rem;
    display: inline-block;
}
.getBox .item span{
    font-size: 0.22rem;
    color: #FF5661;
    line-height: 0.2rem;
    vertical-align: top;
    display: inline-block;
    margin-left: -0.02rem;
}
.openCon .account {
    text-align: center;
    width: 100%;
    line-height: 0.2rem;
    font-size: 0.09rem;
    color: #333;
}
.lookBtn{
    width: 0.95rem;
    height: 0.37rem;
    margin: 0.06rem auto;
    display: block;
}
.openCon.isApp .lookBtn{
    display: none;
}
.bottomBigBtn {
    width: 1.54rem;
    height: 0.53rem;
    margin: 1.18rem auto 0;
    display: block;
}
.openCon.isApp .bottomBigBtn{
    margin: 1.32rem auto 0;
}
.openCon .restTip {
    font-size: 0.1rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
.openCon .restTip span{
    color: #FFE212;
}
.helpBox {
    width: 2.46rem;
    min-height: 1.1rem;
    background: url(../../images/assistance/helpBg.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 0.3rem 0 0.1rem;
    margin-top: -0.15rem;
    position: relative;
    z-index: 2000;
    border-radius: 0.1rem;
}
.helpTitle{
    width: 100%;
    height: 0.15rem;
    display: block;
}
.helpList{
    width: 100%;
    padding: 0 0.07rem;
}
.helpList li{
    width: 120%;
    height: 0.5rem;
    line-height: 0.5rem;
    position: relative;
}
.helpList li .userAvatar {
    width: 0.34rem;
    height: 0.34rem;
    border-radius: 50%;
    border: 0.02rem solid #FFB087;
    display: block;
    float: left;
    margin-top: 0.08rem;
}
.helpList li .newUser{
    width: 0.18rem;
    height: 0.19rem;
    position: absolute;
    left: 0.25rem;
    top: 0.06rem;
}
.helpList li .name{
    display: block;
    float: left;
    font-size: 0.12rem;
    color: #fff;
    text-align: left;
    margin-left: 0.1rem;
    width: 0.5rem;
}
.helpList li .helpTip {
    display: block;
    float: left;
    font-size: 0.09rem;
    color: #fff;
    text-align: left;
    margin-left: 0.05rem;
}
.helpList li .helpGet{
    float: left;
    text-align: center;
    display: block;
    font-size: 0.12rem;
    color: #fff;
    margin-left: 0.05rem;
}
.helpList li .helpGet.xinbao{
   background: url(../../images/assistance/littleXinbao.png) no-repeat left center;
   background-size: 0.11rem 0.13rem;
   padding-left: 0.15rem;
}
.fenge{
    width: 100%;
    height: 0.16rem;
    margin-top: 0.26rem;
    display: block;
}
.leftPig{
    width: 1.15rem;
    height: 1.18rem;
    position: absolute;
    left: -0.29rem;
    top: 1.52rem;
}
.rightPig{
    width: 1.36rem;
    height: 1.36rem;
    position: absolute;
    right: -0.28rem;
    top: -0.88rem;
    z-index: 1001;
}
.rightPig.openShow{
    top: 1.6rem;
}
.ruleBox{
    width: 3.49rem;
    height: 2.68rem;
    background: url(../../images/assistance/ruleBg.png) no-repeat center;
    background-size: 100% 100%;
    margin: 0.39rem auto 0.31rem;
    position: relative;
    z-index: 1000;
    padding: 0.35rem 0.3rem 0.56rem;
}
.ruleBox.openShow{
    margin-top: -0.05rem;
}
.ruleBox .title{
    width: 0.93rem;
    height: 0.29rem;
    margin: 0 auto;
    background: url(../../images/assistance/ruleTitle.png) no-repeat center;
    background-size: 100% 100%;
}
.ruleList{
    margin-top: 0.17rem;
    width: 100%;
}
.ruleList li{
    width: 100%;
}
.ruleList li .point{
    display: block;
    float: left;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background: #FF6763;
    margin-top: 0.04rem;
}
.ruleList li .content{
    font-size: 0.1rem;
    line-height: 0.16rem;
    text-align: left;
    margin-left: 0.15rem;
    width: 2.7rem;
    display: block;
    color: #fff;
}
.ruleList li:last-of-type{
    margin-top: 0.1rem;
}
.ruleList li:last-of-type .point{
    background: none;
}
.logo{
    width: 0.77rem;
    height: 0.28rem;
    margin: 0 auto;
    display: block;
}
.tip{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.1rem;
    color: #8672C5;
    margin: 0.18rem auto 0.32rem;
}

.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 3000;
    /* display: none; */
}
.wxShareMask{
    display: none;
}
.wxShareImg{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.shareMask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.shareOpenBox{
    width: 2.91rem;
    height: 3.92rem;
}
.shareOpenBox .openBox {
    width: 2.91rem;
    height: 2.89rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: url(../../images/assistance/shareOpenTop.png) no-repeat center;
    background-size: 100% 100%;
    display: block;
}
.shareOpenBox .openBtn{
    left: 0.87rem;
    top: 0.74rem;
}
.shareOpenBox .shareOpenBottom {
    width: 2.85rem;
    height: 1.03rem;
    position: absolute;
    left: 0.03rem;
    bottom: 0;
    background: url(../../images/assistance/shareOpen.png) no-repeat center;
    background-size: 100% 100%;
}
.shareGetBox{
    width: 2.91rem;
    height: 4.8rem;
}
.shareGetBox.hasTip{
    height: 5.39rem;
}
.shareGetBox .shareGetTop{
    width: 2.85rem;
    height: 1.03rem;
    background: url(../../images/assistance/shareGetTop.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0.03rem;
    top: 0;
}
.openCon.shareGet{
    width: 2.91rem;
    height: 3.83rem;
    background: url(../../images/assistance/shareGetBg.png) no-repeat center;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 0.98rem;
    left: 0;
    margin: 0;
    z-index: 100;
}
.reachLimitBox{
    width: 2.91rem;
    height: 3.83rem;
    background: url(../../images/assistance/reachLimitBg.png) no-repeat center;
    background-size: 100% 100%;
    padding-top: 0.5rem;
}
.reachLimitBox.hasTip{
    top: -0.4rem;
}
.reachLimitBox .reachLimit {
    width: 1.21rem;
    height: 0.76rem;
    margin: 0 auto 0.09rem;
    display: block;
}
.reachLimitBox .restNone{
    width: 0.58rem;
    height: 0.26rem;
    margin: 0 auto;
    display: block;
}
.reachLimitBox .comeLate {
    width: 1.21rem;
    height: 0.38rem;
    margin: 0.12rem auto 0.09rem;
    display: block;
}
.reachLimitBox .getMore{
    margin-top: 1.3rem;
}
.helpShareTip {
    width: 1.53rem;
    height: 0.33rem;
    display: block;
    margin: 0.5rem auto 0;
}

/* 登录页 */
.loginBox{
    width: 2.86rem;
    height: 2.82rem;
    margin: 0.54rem auto;
    background: url(../../images/assistance/loginBg.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0.14rem 0.27rem;
    position: relative;
    z-index: 1000;
}
.errorTip {
    font-size: 0.15rem;
    color: #333;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: -0.3rem;
    font-weight: bold;
}
.loginTip{
    width: 1.84rem;
    height: 0.16rem;
    margin: 0 auto;
    background: url(../../images/assistance/loginTip.png) no-repeat center;
    background-size: 100% 100%;
}
.loginCon{
    width: 2.32rem;
    min-height: 1rem;
    background: #fff;
    margin: 0.14rem auto 0;
    border-radius: 0.1rem;
    padding: 0.11rem 0.14rem;
}
.loginCon .item {
    width: 100%;
    height: 0.3rem;
    border-bottom: 0.01rem solid #d9d9d9;
    position: relative;
}
.areaCodeBox .selectBox{
    width: 100%;
    height: 100%;
    padding-right: 0.25rem;
    position: relative;
}
.areaCodeBox .selectBox .name{
    float: left;
    font-size: 0.12rem;
    color: #333;
    line-height: 0.3rem;
}
.areaCodeBox .selectBox .code {
    float: right;
    font-size: 0.12rem;
    color: #333;
    line-height: 0.3rem;
}
.areaCodeBox .selectBox .selectBtn {
    position: absolute;
    right: 0.1rem;
    top: 0.12rem;
    width: 0.07rem;
    height: 0.04rem;
    background: url(../../images/assistance/xiala.png) no-repeat center;
    background-size: 100% 100%;
    display: block;
}
.areaCodeBox .selectBox .selectBtn.change{
    transform: rotate(180deg);
}
.areaList{
    width: 100%;
    overflow: hidden;
    border: 0.01rem solid #999;
    display: none;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0.3rem;
    z-index: 100;
    padding: 0 0.1rem;
}
.areaList li{
    width: 100%;
    height: 0.24rem;
    line-height: 0.24rem;
}
.areaList li span{
    font-size: 0.12rem;
    color: #333;
    float: left;
}
.areaList li span:nth-child(2){
    float: right;
}
.loginCon .item img{
    width: 0.12rem;
    height: 0.19rem;
    display: block;
    float: left;
    margin-top: 0.05rem;
}
.loginCon .item input{
    width: 80%;
    float: left;
    padding-left: 0.1rem;
    font-size: 0.12rem;
    line-height: normal;
    color: #333;
    border: 0;
    height: 0.29rem;
    display: block;
}
.loginCon .item .hide{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0.3rem;
    font-size: 0.1rem;
    color: #FFB1A3;
}
.loginCon .item .verify_img{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    margin-top: 0;
    height: 0.29rem;
}
.registerBtn{
    font-size: 0.12rem;
    color: #FFF494;
    float: right;
    margin-top: 0.1rem;
    text-decoration: none;
}
.loginBtn{
    width: 1.54rem;
    height: 0.53rem;
    background: url(../../images/assistance/loginDisabled.png) no-repeat center;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    bottom: 0.31rem;
    left: 0.66rem;
}
.loginBtn.light{
    background: url(../../images/assistance/loginBtn.png) no-repeat center;
    background-size: 100% 100%;
}
.loginBtn.codeShow{
    bottom: 0.22rem;
}
.site_toastTip {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.site_toastTip .textTip {
    min-height: 0.24rem;
    line-height: 0.24rem;
    background:rgba(0,0,0,0.6);
    border-radius: 0.06rem;
    font-size: 0.14rem;
    color: #ffffff;
    padding: 0.1rem 0.15rem;
    max-width: 80%;
}