.bdt_message td{ padding-left:20px; font-size:10px;}
.huikuan{background:#ffffff;margin-top: -2px;}
.huikuan h3{ height:31px; line-height:31px;  color:#4882b4;padding-left: 3%; }
.hk_list{ line-height:30px; color:#535353;background-color: #ffffff;font-size: 12px}
.hk_list thead{ background:#3b79ae; color:#ffffff; border-top:1px solid #b2c7da; border-bottom:1px solid #b2c7da}
.hk_list tr {
	border-bottom: 1px solid #e6e6e6;
}
.icon_arrow,.yt_biao_state1,.yt_biao_state2,.yt_biao_state3,.yt_biao_state4{background-image:url(../images/all_icon.png); background-repeat:no-repeat;}
.icon_arrow{ background-position: 0px -168px;width:8px; height:15px;margin-top: 15px;
margin-right: 4%;}
.contract_btn a{ color:#556880; text-decoration:none; font-size:15px; display:block;}

.yt_con{ position:relative;}
.yt_biao_state1,.yt_biao_state2,.yt_biao_state3,.yt_biao_state4{ z-index:-1;width:45px; height:37px; display:block; background-position:0px 0px; position:absolute; right:10px; bottom:-5px;}
.yt_biao_state2{background-position:0px -42px;}
.yt_biao_state3{background-position:0px -84px;}
.yt_biao_state4{background-position:0px -124px;}
.dsn {
	display: none;
}
.bdt_message 
{
	background:#f5f5f5;
	padding-top:3px;
}
.bdt_message th {
	text-align: right;
	font-size: 13px;
	font-weight: normal;
	vertical-align:top;
}
.bdt_message td {
	padding-left: 2px;
	font-size: 13px;
}


/*特殊字体twcenmt condensed*/
.bdt_message tr .tb_zi {
	color: #fe4a21;
	font-size: 18px;
	position: relative;
	
}
.tb_zi span {
	font-size: 16px;
	line-height: 14px;
	vertical-align: top;
}
.bdt_message tr  .tb_zi2 {
	color: #535353;
	font-size: 13px;
}

.tb1-th {
	
}
.bdt_message .bdt_tb1 { line-height:22px; margin:8px 0px 8px;}

/*夹杂字体*/
.tb_zi .qx {
	font-size: 13px;
	line-height: 18px;
	color: #535353 !important;
	margin-left: 12px;
	font-weight: normal;
	vertical-align: middle;
	font: 12px/1.5 "Hiragino Sans GB", "\u5fae\u8f6f\u96c5\u9ed1", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, "\5b8b\4f53", sans-serif;
}
.tb_zi .tb_zi3 {
	font-size: 22px;
	line-height: 18px;
	margin-left: 45px;
}

 .tb_zi4 {
	color: #fe4a21;
}
.bdt_message .tb_zi5 {
	color: #fe4a21;
	/*padding-top: 5px;*/
}

.tb1_jg {
	/*padding-top: 5px;*/
}


.fl {
	float: left;
}


/*投资人信息*/
#tb1 .g-money{
	color: #f3781b;
}

.g-money {
	color: #fe4a21;
}
.bdf_txt {
	border-top: 0px;
	padding: 10px;
	padding-left: 15px;
	font-size: 12px;
	color: #333333;
}

.bdf_txt table {
	font-size: 13px;
}
.tb_line {
	padding-top: 10px;
	line-height: 18px;
	word-break: break-all;
	letter-spacing: 1px;
}


.tb_line p {
	word-break: break-all;
}
.tb_line div,.tb_line p,.tb_line table {
	width: auto !important;
}

.color-state {
	color: #56bb42;
}
.color-nor {
	color: #535353;
}
.color-red {
	color: #ef0000;
}

.bdf_txt .tb_ql {
	width: 100%;
}
.tb_ql tr {
	width: 100%;
}
.tb_ql tr td {
	text-align: center;
}
#menu_center1 {
	display: none;
}
.tb_zi img {
	height: 15px;
}

.th_tips{ font-size:10px; color:#fff; background:#ff8092; padding:0 4px; vertical-align: middle; display:inline-block; line-height:16px; position:relative; top:-2px;}

.bdt_icon{ width:60px; margin:0px auto;}




/*240*/
@media only screen and (max-device-width:240px)
{
	.bdt_message th {
		font-size: 13px;
	}
}

/*360px*/
@media only screen and (min-device-width:241px) and (max-device-width:359px)
{
.bdt_message th {
		font-size: 13px;
	}
}

/*480px*/
@media only screen and (min-device-width:361px) and (max-device-width:480px) {
	.bdt_message th {
		font-size: 13px;
	}
}


/*720px*/
@media only screen and (device-width:360px) {
	.bdt_message th {
		font-size: 14px!important;

	}
	.tb_zi .qx {
		font-size: 15px!important;
	}
	.bdt_title {
		font-size: 14px!important;

	}
	.bdt_message td {
		font-size: 13px!important;
	}
	
	.bdt_message {
	
		
		
	}
	.bdt_ul p {
		font-size: 14px!important;
	}
	.bd_mid {
		font-size: 14px;
	}
	.bdf_top {
		font-size: 15px;
	}
	.bdf_txt table {
		font-size: 14px;
	}
	
}



/*1080px*/
@media screen and (min-device-width: 1000px) 
{
	.bdt_message th,.bdt_title,.tb_zi .qx {
		font-size: 14px!important;
	}
	 
	.bdt_message td {
		font-size: 14px!important;
	}
	
	.bdt_message {
		background: #f5f5f5;
	}
	.bdt_ul p {
		font-size: 14px!important;
	}
	.bd_mid {
		font-size: 15px!important;
	}
	
	.bd_mid table th {
		width: 80px;
	}
	.bdf_top {
		font-size: 16px!important;
	}
	.bdf_txt table {
		font-size: 15px!important;
	}
	.tb_zi .th_tips{ position:relative; top:-2px; }

}