.rule{ position:absolute; right:10px; top:7px; width:28px; height:35px; text-indent:-999em; outline:none; z-index:10;}
.logo{position:absolute; left:10px; top:7px; width:28%; height:30px; outline:none; z-index:10;}
.top{ width:320px; height:270px; padding-top:146px; margin:0px auto; position:relative;background-repeat:no-repeat; background-position:center top;}
.vetically{ position:absolute;width:100%;}

.top .p-title{ /*background: url(../../images/rob-hongbao/888hongbao/p-title.png) no-repeat center;*/  height:80px; background-size: 272px 80px; margin-bottom:8px; margin-top:2px; text-align:center;}
.top .p-title1{ background: url(../../images/rob-hongbao/888hongbao/p-title1.png?v=20150319) no-repeat center; height:110px; background-size:210px 110px;text-align:center;}
.top .p-title p,.top .p-title1 p{ padding-top:30px; font-size:30px; color:#fff; font-weight:bold;text-shadow:0px 2px 0px #A8150B;}
.top .p-title p span,.top .p-title1 p span{font-size:48px; vertical-align:bottom; display: inline-block; height:48px; line-height:48px; color:#f8ef38; -webkit-text-stroke: 1px #A8150B;}
.tel-box{ width:207px; height:40px; border:1px solid #ffffff; border-radius:5px; text-align:center; font-size:20px; -moz-box-shadow:inset 0px -1px 2px #e9e9e9; -webkit-box-shadow:inset 0px -1px 2px #e9e9e9; box-shadow:inset 0px -1px 2px #e9e9e9;-webkit-appearance:none; display:block; margin:0 auto 0px; color:#000; position:relative;}
.tel-box:focus{border:1px solid #cccccc; outline:none;}
.tel-btn{-moz-box-shadow:0px 3px 0px #e57f01; -webkit-box-shadow:0px 3px 0px #e57f01; box-shadow:0px 3px 0px #e57f01; width:207px; background:#ffee2f; border:0; height:43px; font-size:21px; color:#ef1c23; border-radius:5px;font-weight:bold; display:block;margin:0 auto;}


.errorDiv{ clear:both; width:65%; margin:0 auto; color:#fff; padding:3px 0;}
.change-tel{ width:96%;margin:10px auto 20px;}
.change-btn{ width:100%; line-height:42px;}
.no-change{ background:#ccc;-moz-box-shadow:0px 5px 0px #999; -webkit-box-shadow:0px 5px 0px #999; box-shadow:0px 5px 0px #999; color:#fff;-webkit-appearance:none; opacity:1;}
.p-tips{ text-align:center; color:#fffdd7; font-size:14px; font-style:italic; padding-top:8px;}
.dao-btn .btn{ width:190px; display:block; text-align:center; margin:0 auto; background:#ffee2f; height:40px; color:#ef1c23; text-decoration:none; font-size:21px; line-height:40px; border-radius:5px;-moz-box-shadow:0px 3px 0px #e57f01; -webkit-box-shadow:0px 3px 0px #e57f01; box-shadow:0px 3px 0px #e57f01; position:relative; font-weight:bold; cursor:pointer;}
.mark{width: 100%;height: 100%;filter: Alpha(Opacity=70);Opacity:0.7; background:#000; position:fixed;display:none; top:0px; left:0px; z-index:11;}
.pop_icon{ background:url(../../images/rob-hongbao/default/pop_icon.png?v=20150319) no-repeat; width:225px; height:270px; background-size:cover; position: fixed; right:35px;display:none; top:0px;z-index:11;}
.dis_block{ display:block}


.hong-jieguo{ padding:7px 0 0px;position:relative; background:url(../../images/rob-hongbao/default/list_bg.png) repeat-x; background-size:23px 7px;}
.hong-list{ margin:0px auto; background:#fff; padding-top:10px;}
.hong-list h2{ text-align:center; font-size:15px; padding:0px 0px; color:#999999;}
.hong-list h2 .hong-img{ margin-right:5px;}
.hong-list h2 .hong-img,.hong-list h2 .hong-img img{ display:inline-block; border-radius:15px; width:30px; height:30px; vertical-align:middle;}
.hong-list h3{ padding: 10px 8px 0; position:relative; text-align:center;}
.hong-list h3 em{ display:block; border-bottom:1px solid #cacbcd; position: relative; top:13px;}
.hong-list h3 span{ background:#fff; position:relative; padding:0 15px; font-size:15px;}
.hong-list ul{ padding:0 8px 15px;}
.hong-list ul li{ border-bottom:1px dashed #dbdedd; height:40px; line-height:40px; overflow:hidden;padding-top:10px;}
.hong-list ul li .hong-tel{ font-size:14px; padding-right:5px; vertical-align:middle;}
.hong-list ul li .hong-time{ color:#b6b5ae; padding-left:5px;}
.hong-list ul li em{ float:right; font-size:18px; color:#e61f26;line-height:20px; position:relative;}
.hong-list ul li em span{ display:block; font-size:12px; position:absolute; top:19px; background:url(../../images/rob-hongbao/newyear/zan.png) no-repeat 0 3px; background-size:12px 12px; padding-left:17px; color:#ff741f; right:0;width:48px;}
.hong-list ul li .hong-img,.hong-list ul li .hong-img img{ float:left; width:30px; height:30px; border-radius:15px;}
.hong-list ul li .hong-text{ float:left; line-height:18px; position:relative; top:-2px; padding-left:8px; width:55%; }
.hong-list ul li .hong-text h4{width:95%; overflow:hidden; display:inline-block; height:14px; line-height:14px;}
.hong-list ul li .hong-text .name{ }
.hong-list ul li .hong-text p{ color:#b6b5ae;}
.top .qw_img,.gq_img{ background:url(../../images/rob-hongbao/default/icon-02.png?v=20150319) no-repeat; height:120px; width:157px; margin:0px auto; background-size:100%; }
.top .gq_img{background:url(../../images/rob-hongbao/default/icon-03.png?v=20150319) no-repeat; background-size:100%;}

.color-white{ color:#fff;}
.color-yellow{ color:#fff44d;}
.color-blue{ color:#60c9ff;}
.color-red{ color:#e61f26;}
.f11{ font-size:11px;}
.f15{ font-size:15px;}
.f18{ font-size:18px;}
.f52{ font-size:52px;}
.mt17{ margin-top:17px;}
.mt39{ margin-top:39px !important;}
.mt100{ margin-top:100px;}
.money{ height:40px; line-height:40px;  padding:10px 0; font-size:35px;}

.rob-tel{ height:200px;}
@media screen and (min-height: 640px) {
 .hong-list{ margin:0px auto; background:#fff;min-height:315px;}   
}



/*可替换*/
.text_color{ color:#333;}
.bg_white{background-color:#fff;}
body{ background-color:#fff7a4;}
.rule{background: url(../../images/rob-hongbao/default/rule_icon.png)no-repeat; background-size:28px 35px;}
.logo img{ width:75px; height:20px;}
.top{ background-image: url(../../images/rob-hongbao/888hongbao/bg.png); background-size:320px 418px;}
.smile{ background-image:url(../../images/rob-hongbao/888hongbao/bg_01.png); background-size:320px 418px;}
.sweat{background-image:url(../../images/rob-hongbao/888hongbao/bg_03.png); background-size:320px 418px;}
.cry{background-image:url(../../images/rob-hongbao/888hongbao/bg_02.png); background-size:320px 418px;}
.light_box{position:absolute; width:100%; height:100%; overflow:hidden; top:0px; left:0px;}
.light{ background:url(../../images/rob-hongbao/default/light_bg.png) no-repeat center center; width:200%; height:200%; position:absolute; left:-50%; top:-50%;-webkit-animation: 10s linear infinite transform;-moz-animation: 10s linear infinite transform;animation: 10s linear infinite transform;}
@-webkit-keyframes transform{0%{-webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}
@keyframes transform{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-moz-keyframes transform{0%{-moz-transform: rotate(0deg);}100%{-moz-transform: rotate(360deg);}}