body{ background: url(../../images/rob-hongbao/dayueye/bg.jpg)no-repeat; background-size: cover;}
.p_dayueye{}
.p_dayueye .logo{ background:url(../../images/rob-hongbao/dayueye/logo.png) no-repeat; background-size:203px 42px; width:203px; height:42px; display:inline-block; margin:20px 20px 45px;}
.p_dayueye .logo1{ background:url(../../images/rob-hongbao/dayueye/logo01.png) no-repeat;background-size:85px 22px; width:85px; height:22px; display:inline-block; margin:20px 20px 45px;}
.p_dayueye .hb_bg,.p_dayueye .hb_bg1{ background:url(../../images/rob-hongbao/dayueye/hongbao_bg.png) no-repeat; background-size:100%; margin:0 auto; padding:47% 0 0%;}
.p_dayueye .hb_bg1{ background:url(../../images/rob-hongbao/dayueye/hongbao_bg01.png) no-repeat;background-size:100%;padding:47% 0 20%;}
.p_dayueye .tel_box{ text-align:center; color:#ffef00; width:250px; margin:0 auto; padding-top:0%; height:120px; font-size:14px;}
.p_dayueye .tel_box .ui_ipt_text{ width:153px;padding-left:20px; border:none; height:30px; border-radius:5px; margin-top:5px; font-size:15px;}
.p_dayueye .tel_box .ui_btn_open{ background:url(../../images/rob-hongbao/dayueye/btn.png) no-repeat; height:30px; width:173px; border:none; background-size:100%; color:#aa1313; font-size:15px; text-align:center; line-height:30px; margin-bottom:5px;}
.p_dayueye .tel_box p{}
.p_dayueye .tel_box .money{ font-size:25px;}
.p_dayueye .tel_box .money em{ font-size:23px;}
.f10{ font-size:12px;}
.color_white{ color:#fff;}
.color_yellow2{ color:#fff0a0;}
.color_yellow3{ color:#ffba00}
.p_dayueye .tel_box .a_change{ color:#69a6ff;}
.p_dayueye .tel_box .go_btn{ width:174px; height:30px; background:#ff6f00; line-height:30px; text-align:center; color:#fff; font-size:15px; display:block; margin:5px auto; border-radius:5px; color:#fff; text-decoration:none;}
.p_dayueye .tel_box .icon_ygq{ background:url(../../images/rob-hongbao/dayueye/icon_guoqi.png) no-repeat; width:95px; height:77px; background-size:100%; margin:0 auto;}
.p_dayueye .tel_box .icon_yqw{background:url(../../images/rob-hongbao/dayueye/icon_qiangwan.png) no-repeat; width:95px; height:77px; background-size:100%; margin:0 auto;}
.p_dayueye .errorDiv{ color:#fff;}
.p_dayueye .tips{margin:0 auto; color:#371708; font-size:12px; font-weight:bold; padding-left:10%; padding-top:9%;}
.p_dayueye .tips span{ font-size:14px; vertical-align:middle;}
.new_tip{ color:#391708; padding:120px 10% 15px;}
.errorDiv{ padding:3px 0;}
@media screen and (min-width : 320px) and (max-width : 359px){
	.new_tip{ padding-top:100px;}
}
@media screen and (min-width : 360px) and (max-width : 380px) {  
 .p_dayueye .tel_box{padding-top:3%;}
 .new_tip{ padding-top:120px;}
}  
@media screen and (min-width : 381px) and (max-width : 414px) { 
.p_dayueye .tel_box{padding-top:3%;} 
 .new_tip{ padding-top:150px;}
}

@media screen and (min-height : 520px) and (max-height : 667px) { 
.p_dayueye .logo1{ margin:20px 20px 85px;}
}
@media screen and (min-height : 668px) and (max-height : 736px) { 
.p_dayueye .logo1{ margin:20px 20px 120px;}
}
