.rule{ position:absolute; right:10px; top:7px; width:28px; height:35px; text-indent:-999em; outline:none; z-index:10;}
.logo{position:absolute; left:10px; top:7px; width:28%; height:30px; outline:none; z-index:10;}
.logo img{ width:75px; height:20px;}
.top{height:380px; margin:0px auto; position:relative;background-repeat:no-repeat; background-position:center 0;}
.vetically{ position:absolute;width:100%;}


.top .p-title1 ,.p-title{ background:url(../../images/rob-hongbao/newyear/p_img.png) no-repeat center top; height:146px; background-size:218px 146px;text-align:center;}
.p-title{ height:138px;}
.tel-box{ width:207px; height:40px; border:1px solid #ffffff; border-radius:5px; text-align:center; font-size:20px; -moz-box-shadow:inset 0px -1px 2px #e9e9e9; -webkit-box-shadow:inset 0px -1px 2px #e9e9e9; box-shadow:inset 0px -1px 2px #e9e9e9;-webkit-appearance:none; display:block; margin:0 auto 0px; color:#000; position:relative;}
.tel-box:focus{border:1px solid #cccccc; outline:none;}
.tel-btn{width:207px; height:42px; background:#ffe020; border-radius:5px; border:0; border-bottom:2px solid #ffec81;-moz-box-shadow:0px 3px 0px #f7bd00; -webkit-box-shadow:0px 3px 0px #f7bd00; box-shadow:0px 3px 0px #f7bd00; line-height:42px; font-size:23px; color:#ef1c23;display:block; text-align:center; margin:0 auto;}


.errorDiv{ clear:both; width:210px; margin:0 auto; color:#fff; padding:3px 0;}
.change-tel{margin:10px auto 20px;}
.change-btn{line-height:42px;}
.no-change{ background:#ccc;-moz-box-shadow:0px 5px 0px #999; -webkit-box-shadow:0px 5px 0px #999; box-shadow:0px 5px 0px #999; color:#fff;-webkit-appearance:none; opacity:1; border-bottom:#ddd 2px solid;}
.p-tips{ text-align:center; color:#fffdd7; font-size:14px;padding-top:8px; }

.dao-btn .btn{width:175px; height:61px; background:#ffe020; border-radius:10px; border-bottom:4px solid #ffec81;-moz-box-shadow:0px 5px 0px #f7bd00; -webkit-box-shadow:0px 5px 0px #f7bd00; box-shadow:0px 5px 0px #f7bd00; line-height:61px; font-size:24px; color:#ef1c23;display:block; text-align:center; margin:0 auto; cursor:pointer; -webkit-animation: breathe linear 0.5s infinite;-moz-animation: breathe linear 0.5s infinite;animation: breathe linear 0.5s infinite;}
.down-btn{ background:url(../../images/rob-hongbao/newyear/down_btn_bg.png?v=20150910) no-repeat; width:205px; height:46px; background-size:205px 46px; display:block; margin:0 auto; text-align:center; line-height:46px; font-size:20px; color:#fff; text-decoration:none;}
.down-btn_zhuzhan{ background:url(../../images/rob-hongbao/newyear/down_btn_bg.png?v=20150910) no-repeat; width:205px; height:46px; background-size:205px 46px; display:block; margin:0 auto;text-align:center; line-height:46px; font-size:20px; color:#fff; text-decoration:none;}
.down-btn:hover,.down-btn_zhuzhan:hover{ color:#fff;}
.mark{width: 100%;height: 100%;filter: Alpha(Opacity=70);Opacity:0.7; background:#000; position:fixed;display:none; top:0px; left:0px; z-index:11;}
.pop_icon{ background:url(../../images/rob-hongbao/default/pop_icon.png?v=20150319) no-repeat; width:225px; height:270px; background-size:cover; position: fixed; right:35px;display:none; top:0px;z-index:11;}
.dis_block{ display:block}


.hong-jieguo{ padding:7px 0 0px;position:relative; background:url(../../images/rob-hongbao/default/list_bg.png) repeat-x; background-size:23px 8px; margin-top:-7px;}
.hong-list{ margin:0px auto; background:#fff; padding-top:10px;}
.hong-list h2{ text-align:center; font-size:15px; padding:0px 0px; color:#999999;}
.hong-list h2 .hong-img{ margin-right:5px;}
.hong-list h2 .hong-img,.hong-list h2 .hong-img img{ display:inline-block; border-radius:15px; width:30px; height:30px; vertical-align:middle;}
.hong-list h3{ padding: 10px 8px 0; position:relative; text-align:center;}
.hong-list h3 em{ display:block; border-bottom:1px solid #cacbcd; position: relative; top:13px;}
.hong-list h3 span{ background:#fff; position:relative; padding:0 15px; font-size:15px;}
.hong-list ul{ padding:0 8px 15px;}
.hong-list ul li{ border-bottom:1px dashed #dbdedd; height:45px; line-height:40px; overflow:hidden;padding-top:15px;}
.hong-list ul li .hong-tel{ font-size:14px; padding-right:5px; vertical-align:middle;}
.hong-list ul li .hong-time{ color:#b6b5ae; padding-left:5px;}
.hong-list ul li em{ float:right; font-size:18px; color:#e61f26;line-height:20px; position:relative;}
.hong-list ul li em span{ display:block; font-size:12px; position:absolute; top:19px; background:url(../../images/rob-hongbao/newyear/zan.png) no-repeat 0 3px; background-size:12px 12px; padding-left:17px; color:#ff741f; right:0;width:48px;}
.hong-list ul li .hong-img,.hong-list ul li .hong-img img{ float:left; width:30px; height:30px; border-radius:15px;}
.hong-list ul li .hong-text{ float:left; line-height:18px; position:relative; top:-2px; padding-left:8px; width:55%; }
.hong-list ul li .hong-text h4{width:95%; overflow:hidden; display:inline-block; height:14px; line-height:14px;}
.hong-list ul li .hong-text .name{ }
.hong-list ul li .hong-text p{ color:#b6b5ae;}
.top .qw_img,.gq_img{ background:url(../../images/rob-hongbao/default/icon-02.png) no-repeat; height:120px; width:157px; margin:10px auto; background-size:100%; }
.top .gq_img{background:url(../../images/rob-hongbao/default/icon-03.png) no-repeat; background-size:100%;}

.color-white{ color:#fff;}
.color-yellow{ color:#ffee2f;}
.color-yellow1{ color:#ffec81;}
.color-blue{ color:#60c9ff;}
.color-red{ color:#e61f26;}
.f11{ font-size:11px;}
.f12{ font-size:12px;}
.f15{ font-size:15px;}
.f18{ font-size:18px;}
.f52{ font-size:52px;}
.mt17{ margin-top:17px;}
.mt39{ margin-top:39px !important;}
.mt100{ margin-top:100px;}
.pt25{ padding-top:25px;}
.pt50{ padding-top:50px;}
.pt170{ padding-top:145px;}
.money{ height:40px; line-height:40px;  padding:10px 0; font-size:35px;}
.pt260{ padding-top:260px;}
.pt280{ padding-top:280px;}




/*可替换*/
.text_color{ color:#fff;}
.bg_white{background-color:#fff;}
body{ background-color:#c60907; background-image: url(../../images/rob-hongbao/newyear/bg.jpg); background-repeat:no-repeat; background-size: cover; background-position:top center;}
.rule{background: url(../../images/rob-hongbao/default/rule_icon.png)no-repeat; background-size:28px 35px;}
.share{ background:url(../../images/rob-hongbao/newyear/bg_01.png) no-repeat bottom center; background-size:100% 168px;}
.bg_02{ background:url(../../images/rob-hongbao/newyear/bg_02.jpg) no-repeat bottom center; background-size:260px 260px; height:398px;}
.smile{ background:url(../../images/rob-hongbao/newyear/bg_03.png?v=20150209) no-repeat; height:357px; background-size:320px 398px; margin:0px auto 0; width:320px;}
.fadeInUp{-webkit-animation: fadeInUp linear 0.5s;-moz-animation: fadeInUp linear 0.5s ;animation: fadeInUp linear 0.5s ;}
.cloud{ background:url(../../images/rob-hongbao/newyear/bg_04.jpg) no-repeat bottom #e01612; width:100%; height:126px; background-size:100% 116px; position:absolute; left:0px; bottom:0;}
.gun{ background:url(../../images/rob-hongbao/newyear/bg_05.png?v=20150209) no-repeat center -10px; height:350px; background-size:320px 398px;margin:0px auto 0; width:320px;-webkit-animation: fadeInUp linear 0.5s;-moz-animation: fadeInUp linear 0.5s ;animation: fadeInUp linear 0.5s ;}
.cry{ background:url(../../images/rob-hongbao/newyear/bg_06.png?v=20150319) no-repeat center -10px; height:340px;background-size:320px 292px;margin:0px auto 0; width:320px; }
.finish{background:url(../../images/rob-hongbao/newyear/bg_07.png?v=20150319) no-repeat top center; height:400px;background-size:320px 292px;margin:25px auto 0; width:320px;}

.tips_bg{background:url(../../images/rob-hongbao/newyear/tips_bg.png) no-repeat; background-size:290px 61px; width: 270px; height: 51px; margin: 0 auto; position: relative; margin-top:20px; color: #fff; padding: 5px 10px; font-size:15px;}
.tips_bg p{ height:48px; overflow:hidden;}
.arrow{ width:26px; height:9px; background:url(../../images/rob-hongbao/newyear/arrow.png) no-repeat; background-size:26px 9px; display:block; position:absolute; bottom:-9px;}

@media screen and (min-height: 620px) {
 .f12{ font-size:14px;}
 .cloud{height:180px;}
 .share{ margin-top:135px !important;}
 .tips_bg{width:354px;background-size: 100%; padding:10px 10px; height:55px;}
 .pt170{ padding-top:150px;}
 .smile{ margin-top:40px; height:395px; }
 .gun{margin-top:40px; height:385px;}
 .cry{margin-top:40px; height:385px;}
}
@media screen and (min-height: 528px) and (max-height: 620px) {
.tips_bg{width:315px;background-size: contain; padding:10px 10px; height:55px;}
.smile{height:377px;}
.gun,.cry{height:370px;}
.pt170{ padding-top:155px;}
}

@media screen and (min-height: 417px) and (max-height: 520px) {
}
@media screen only (max-height: 416px) {
}





@-webkit-keyframes breathe{0%{-webkit-transform: scale(0.95);}50%{-webkit-transform: scale(0.9);}100%{-webkit-transform: scale(0.95);}}
@-moz-keyframes breathe{0%{-moz-transform: scale(0.95);}50%{-moz-transform: scale(0.9);}100%{-moz-transform: scale(0.95);}}
@keyframes breathe{0%{transform: scale(0.95);}50%{transform: scale(0.9);}100%{transform: scale(0.95);}}


@-webkit-keyframes fadeInUp {0% {-webkit-transform: translate3d(0, 80%, 0);}100% {-webkit-transform: none;}}
@-moz-keyframes fadeInUp {0% { -moz-transform: translate3d(0, 80%, 0);}100% {-moz-transform: none;}}
@keyframes fadeInUp {0% {transform: translate3d(0, 80%, 0);}100% {transform: none;}}


.ui_down p{color:#fffdd7;}
.tips_icon{ background:url(../../images/rob-hongbao/newyear/tip_icon.png) no-repeat; width:23px; height:23px; background-size:100%; margin:30px auto 10px;}
.ui_down .smile{ background:url(../../images/rob-hongbao/newyear/bg_03_new.png) no-repeat; height:404px; background-size:320px 404px; margin:0px auto 0; width:320px;}
