input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;border: 1px solid #e1e1e1!important;}
a { text-decoration: none; color: #4B96D3; }
a:hover { color: #286DA6; }
input { font-family: 'Î¢ÈíÑÅºÚ', 'Microsoft Yahei', Arial, sans-serif; }
input.text { width: 240px; padding: 6px; font-size: 13px; border: 1px solid #e1e1e1;}
.clearfix {  *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
.pull-left { float: left; }
.pull-right { float: right; }
.hide { display: none; }
.show { display: block; }
.invisible { visibility: hidden; }
.tab { margin-top: 15px; margin-bottom: 15px; font-size: 14px; border-bottom: 1px solid #d9d9d9; }
.tab.bottom-bordered { border-bottom: 1px solid #d9d9d9; }
.tab li { display: block; float: left; margin-bottom: -1px; border-top: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
.tab li a { display: block; height: 25px; padding: 4px 18px 5px; text-align: center; background-color: #f6f6f6; color: #444; }
.tab li a:hover { text-decoration: none; background-color: #f9f9f9; }
.tab li.active { border-bottom: 0; }
.tab li.active a { background-color: #fff; border-bottom: 1px solid #fff; }
.tab li.first { margin-left: 20px; border-left: 1px solid #d9d9d9; }
.central-content { padding-top: 40px;  margin-left:270px ; color: #a3a3a3; min-height: 400px; height: auto !important; height: 400px; }
.page-tab-container { width: 920px; margin: 0 auto; padding-top: 15px; }
.page-tab-container .tab .first { margin-left: 216px; }
#header { width: 920px; overflow: hidden; margin: 20px auto; }
#header-logo { }
.title-traverse { padding: 7px 0; background: #f6f6f6; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; }
.title-traverse h1 { width: 860px; margin: 0 auto; font-size: 16px; letter-spacing: 0.125em; }
.form-helper { width: 100%; }
.form-helper th, .form-helper td { padding: 10px 12px; }
.form-helper th { width: 80px; text-align: right; font-size: 14px; font-weight: normal; }
.form-helper td { font-size: 14px; }
.error-inline { margin-left: 1em; font-size: 12px; color: #cd1223; }
.btn { background: none repeat scroll 0 0 #FFB904; border: medium none; border-radius: 2px; color: #FFFFFF; cursor: pointer; display: block; float: left; font-size: 16px; height: 36px; line-height: 36px; text-align: center; text-decoration: none; width: 114px; }
.btn:hover { background: #ffca40; color: #ffffff; }
.btn:active { background: #ffb904; color: #ffffff; }
.w320 { width: 320px; }
