.ui-box{ background:url( ../../images/user/forget_step1.png) no-repeat center 150px; }
.wrap .bottom_content{ margin-top:112px; }
.p_account_forgetpwdmobile .pwd-mid{ padding:140px 0 15px!important; text-align:center; }
.wrap .mobile_color{ color:#EE4634; }
.weedialog .dialog-content { text-align:center; padding-top:92px!important; padding-bottom:92px; }
.dialog-button{ display:none; }
.weedialog .dialog-title{ background-color:#f3f3f3!important }