/* 头部样式命名 */
.kc_20130424_header{width:920px;height:70px;overflow:hidden;margin:13px auto 7px auto;}
.kc_20130424_header .logo{float:left;}
.kc_20130424_header .kc-iphone{float:left;padding-top:65px;}
.kc_20130424_header .kc-iphone li{float:left;}
.kc_20130424_header .kc-iphone li a{color:#777;font-size:12px;font-family:'宋体';}
.kc_20130424_header .kc-iphone .tl{padding:0 10px 0 10px;color:#777;}
.kc_20130424_header .menber{float:right;color:#c80000;padding-top:15px;}
.kc_20130424_header .menber .toplogobox {text-align:right;margin-bottom:14px;}
.kc_20130424_header .menber .toplogobox a{color:#c80000;font-size:14px;font-family:'宋体';}
.kc_20130424_header .menber .toplogobox .reg{margin:0 12px 0 0;}
.kc_20130424_header .menber .toplogobox .login{margin:0 0 0 10px ;}
.kc_20130424_header .menber .phone {float:left;}
.kc_20130424_header .menber .phone a{display:block;}
.kc_20130424_header .menber .emali{float:left;padding:15px 0 0 20px;}

/* 导航条样式命名 */
.kc_20130424_nav{}
.kc_20130424_nav {background:url(../images/20130424/nnav_bg.png) repeat-x;height:50px;overflow:hidden;}
.kc_20130424_nav .bd{width:980px;margin:0 auto;}
.kc_20130424_nav li{float:left;height:50px;line-height:46px;background:url(../images/20130424/nline_01.png) right 12px no-repeat;}
.kc_20130424_nav .last{background:none;}
.kc_20130424_nav .first{width:85px;text-align:center;}
.kc_20130424_nav .index a{background:#fff url(../images/20130424/redline.png) bottom repeat-x;color:#c80000;}
.kc_20130424_nav li a{height:50px;color:#666;font-size:14px;font-weight:bold;padding:0 25px 0 25px;display:block;margin-left:-1px;_padding:0px;_width:100px;_text-align:center;}
.kc_20130424_nav li a:hover{background:#fff url(../images/20130424/redline.png) bottom repeat-x;color:#c80000;}

/* 页脚kc_select样式命名 */
.kc_20130424_select{margin-top:22px;}

/*页脚 kc_help样式命名*/
.kc_20130424_help {padding:18px 0 16px 0;border:1px solid #e5e5e5;margin-top:14px;*height:145px;_position:relative;}
.kc_20130424_help .help-info{padding:0 45px 0 45px;float:left;background:url(../images/20130424/foot_line.png) right 0 no-repeat;height:145px;}
.kc_20130424_help .help-info .n-title{margin-bottom:6px;}
.kc_20130424_help .help-info .n-title a{font-weight:bold;}
.kc_20130424_help .help-info a{color:#666;font-size:14px;}
.kc_20130424_help .help-info ul li{line-height:24px;}
.kc_20130424_help .help-first{padding:0 47px 0 30px;float:left;background:url(../images/20130424/foot_line.png) right 0 no-repeat;}
.kc_20130424_help .help-first.n-title{margin-bottom:6px;}
.kc_20130424_help .help-first .n-title a{font-weight:bold;}
.kc_20130424_help .help-first a{color:#666;font-size:14px;}
.kc_20130424_help .help-first ul li{line-height:24px;}
.kc_20130424_help li a:hover{color:#c80000;}

/* 页脚信息样式命名 */
.kc_20130424_footer{margin-top:45px;text-align:center;}
.kc_20130424_footer p{color:#777;line-height:26px;font-family:'宋体';}
.kc_20130424_footer img{margin-bottom:-5px;}

/* 通用样式 */
.20130424_my{}
.kc_20130424_help #bdshare{width:280px;overflow:hidden;}
.kc_20130424_help #bdshare a{font-size:13px;width:85px;display:block;height:20px;color:#333;}
.kc_20130424_help .help-share{float:left;padding:0px;background:none;width:200px;margin-left:40px;_width:180px;_position:absolute;}
.kc_20130424_help .help-share span .bds_more, .kc_20130424_help .help-share .bds_tools a{padding-left:26px;}
