/* 在移动端禁用长按选中文本功能 */
*{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
/* end */
body{background: #ffffff;}
.newcomer{}
.newcomer .new_title{position: relative;}
.newcomer .new_comer_img{width: 100%;height: auto;display: block;}
.newcomer .new_title .step_list{display: -webkit-box;position: absolute;bottom: 10px;width: 100%;background: url(../images/line_newcomer.png) no-repeat center;background-size: 68% 2px;background-position-y: 22px;}
.newcomer .new_title .left_n{-webkit-box-flex: 1;text-align: center;}
.newcomer .new_title .point_img{width: 18px;height: 24px;position: absolute;left: 15px;top: -17px;background:url(../images/point_img.png);background-size: 18px 24px;}
.newcomer .new_title .step_num{font-size: 21px;color: #C86000;background:url(../images/un_select.png) no-repeat;width: 45px;height: 45px;background-size: 45px;line-height: 45px;margin: 0 auto;position: relative;}
.newcomer .new_title .step_num_active{background:url(../images/select_bg.png) no-repeat;background-size: 45px;color: #fff;}
.newcomer .new_title .step_name{font-size: 16px;opacity: 50%;color: #4F2800;margin-top: 5px;}
.newcomer .new_title .step_name_active{opacity: 100%;}

.newcomer .new_register{position: relative;padding-bottom: 10px;width: 100%;overflow: hidden;}
.newcomer .register_btn{padding: 10px 40px 10px; background-color:#ffa1e3; margin-top:-1px;}
.newcomer .go_register{width: 100%;font-size: 18px;color: #fff;text-align: center;height: 54px;line-height: 47px;background:url(../images/new_reg.png) no-repeat content-box center; margin-top:-53px;}
.newcomer .line_sawtooth{position: absolute;bottom: -6px;height: 12px;width: 100%;}
.newcomer .mark_img{background:url(../images/mark.png) no-repeat;background-size: 15px;width: 15px;height: 15px;display: inline-block;margin-right: 5px;vertical-align: -3px;}
.newcomer .count_text{margin-top:8px;font-size: 13px;color: #FFE28E;text-align: center;}
.newcomer .count_text .red{color: #fff; padding:0 6px;}
.newcomer .phone_num{margin-right: 10px;}

/* .newcomer .new_deal{padding: 5px 0;} */
/* 推荐产品title部分 */
.newcomer .new_deal .common_title{padding: 20px;height: 25px; line-height: 25px;text-align: center;}
.newcomer .new_deal .common_title .left,.newcomer .new_deal .common_title .right{display: block;height: 2px;width: 30%;margin-top: 12px;}
.newcomer .new_deal .common_title .left{float: left;background-image: linear-gradient(270deg, #F65320 0%, #FFFFFF 100%);-webkit-background-image: linear-gradient(270deg, #F65320 0%, #FFFFFF 100%);}
.newcomer .new_deal .common_title .middle{display: block;float: left;width: 40%;color: #F65320;font-size: 18px;font-weight: 600;}
.newcomer .new_deal .common_title .right{float: left;background-image: linear-gradient(90deg, #F65320 0%, #FFFFFF 100%);-webkit-background-image: linear-gradient(90deg, #F65320 0%, #FFFFFF 100%);}

/* end */
.newcomer .list_cont{margin: 0 18px 26px;}
.newcomer .ui_p2p_list a.link{display:block;position:absolute;width:100%;height:100%;left:0;top:0;}
.newcomer .ui_p2p_list li{background:linear-gradient(#FFFFFF, #FFF2D8);margin-bottom: 15px;border-radius: 5px;padding: 15px;position: relative;}

.newcomer .ui_p2p_list .title{padding-bottom: 5px;}
.newcomer .ui_p2p_list .title .dealType{height: 18px;line-height: 18px; padding: 0px 5px;font-size:14px;}

.newcomer .ui_p2p_list .title .dealType.sxy{color:#000; float:left;}
.newcomer .ui_p2p_list .title .dealType.normal{color:#EE4634;border-color: #EE4634;}

.newcomer .ui_p2p_list .title i.tip{margin-right:10px;vertical-align:1px;text-align:center;display:inline-block;border-radius:10px;font-size:10px;padding:0px 5px;border: 1px solid #ee4634; color: #ee4634; background: #fff;}
.newcomer .ui_p2p_list .title i.product_name{margin-right:10px;vertical-align:middle;text-align:center;display:inline-block;color:#fff;border-radius:4px;border:1px solid #ee4634;font-size:11px;padding:1px 2px; background: #ee4634;}

.newcomer .ui_p2p_list .info{display: -webkit-box;}
.newcomer .ui_p2p_list .f11{font-size:11px;}
.newcomer .ui_p2p_list .tz_btn{position:relative; text-align: center;-webkit-box-flex: 3; background:url(../images/get_in_btn.png) no-repeat content-box center; background-size:100%; height:30px;}
.newcomer .ui_p2p_list .rate{-webkit-box-flex:6;text-align: left;font-size: 20px;color: #F44D2F}
.newcomer .ui_p2p_list .time {text-align: left;-webkit-box-flex: 4;font-size: 18px;color: #F44D2F}
.newcomer .ui_p2p_list .time .f11{font-size: 14px;}

.newcomer .ui_p2p_list .rate_text{font-size: 14px;color: #4A4A4A;margin-top: 3px;}
.newcomer .ui_p2p_list .time .rate_text{margin-left: 5px;}
.newcomer .ui_btn_h26 { line-height:28px; color:#fff; text-align:center; }

.newcomer .have_deal{position: relative;padding-top: 10px;}
.newcomer .have_deal .line_sawtooth{position: absolute;top: -6px;height: 12px;}
/* 实时数据title+品牌优势title */
.newcomer .new_deal .have_deal_title .left,.newcomer .new_deal .have_deal_title .right{background: #ffffff;}
.newcomer .new_deal .have_deal_title .left{background-image: linear-gradient(90deg, #FFBE0A 0%, #FFE08A 100%);-webkit-background-image: linear-gradient(90deg, #FFBE0A 0%, #FFE08A 100%);}
.newcomer .new_deal .have_deal_title .middle{color: #FEFFC0;font-weight: normal;}
.newcomer .new_deal .have_deal_title .right{background-image: linear-gradient(270deg, #FFBE0A 0%, #FFE08A 100%);-webkit-background-image: linear-gradient(270deg, #FFBE0A 0%, #FFE08A 100%)}
/* end */
/* 已投资用户列表轮播部分 */
.newcomer .have_deal .have_deal_list{margin: 0 15px;padding: 15px 15px 20px;background: #fff;border-radius: 5px;}
.newcomer .have_deal .have_deal_list .count_deal{text-align: center;margin-bottom: 13px;font-size: 15px;color: #4F2800; border-bottom:1px solid #ffd8c3;}
.newcomer .have_deal_list .count_deal .red{ color:#FF825F; font-size:32px; padding:0 6px; }
.newcomer .have_deal .scroll_center{position: relative;}
.newcomer .have_deal .scroll_list{width: 100%;height: 78px;z-index: 1;font-size: 14px;overflow: hidden;text-align: center;}
.newcomer .have_deal .scroll_list li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 26px;}

/*底部大按钮*/
.newcomer .bottom_btn{ height:80px; box-shadow:0px -2px 4px 0px rgba(0,0,0,0.17); background-color:#fff; height:80px; width:100%; position:fixed; bottom:0; text-align:center; font-size:18px; line-height:80px; margin-bottom:-1px; }
.newcomer .bottom_btn .btn{ background:url(../images/bottom_btn.png) no-repeat center; color:#fff; display:block; }
/* 品牌优势 */
.newcomer .learn_more{font-size: 15px;color: #1C82DE;text-align: center;margin-top: 11px;}
.newcomer .copyright {text-align: center;color: rgba(51,51,51,1);background:rgba(248,248,248,1); padding-top: 23px;padding-bottom: 70px;}
.newcomer .title { font-size:18px; text-align:center; color:#ff7d00; padding-bottom:15px; }
.newcomer .list_box { background:linear-gradient(#FFE9DB, #FEB0CF); padding:20px 0 5px; }
.newcomer .img_box_2{ width:85%; margin:0 auto; padding:20px 0; }
.newcomer .new_hand{ background:linear-gradient(to right, #FE7249, #FDBA78); color:#fff; float:left;}
.newcomer .bottom_btn{ display:none; }
.newcomer .copyright p{line-height: 18px;}
.newcomer .copyright_1{ margin-bottom:-12px!important; padding-bottom:0; }
.newcomer .risk_tips {
    text-align: center;
    display: -webkit-box;
    width: 235px;
    margin: 0 auto;
    padding: 20px 0 27px 0;
}

  .newcomer .tips_line {
    -webkit-box-flex: 1px;/*no*/
    height: 0;/*no*/
    background: #4F2800;
    width: 49px;
    display: block;
    margin-top: 8px;
    border-top: 1px solid #999999;
  }

  .newcomer .left_line {
    margin-right: 5px;
  }
  
  .newcomer .right_line {
    margin-left: 5px;
  }
  
  @media screen and (max-width: 374px){
    .newcomer .new_deal .common_title .middle{font-size: 15px;}
    .newcomer .ui_p2p_list .rate{font-size: 18px;}
    .newcomer .ui_p2p_list .time{font-size: 18px;}
    .newcomer .ui_btn_h26{font-size: 12px;padding: 0 10px;}
    .newcomer .have_deal .scroll_list{font-size: 13px;}
  }
