body{background:#f9f9f9;font-family:PingFangSC-Regular;}
.p_change_bankcard { font-size: 14px; }
.p_change_bankcard .color_gray { color: #BFBFBF }
.p_change_bankcard .mt15 { margin-top: 15px; }
.p_change_bankcard .padd15 { padding: 15px; }
.p_change_bankcard .user_info dl { height: 56px; border-bottom: 1px solid #EAECED; padding: 0 15px; font-size: 14px; line-height: 56px;}
.p_change_bankcard .user_info dl:last-child { border-bottom: none; }
.p_change_bankcard .user_info dl dt { width: 80px; float: left;color: #8A8899; }
.p_change_bankcard .user_info dl dd { color: #343438;text-align: right;float: right; }
.p_change_bankcard .img_tips { font-size:18px;color:#343438;padding-left: 15px; border-bottom: 1px solid #EAECED; height: 50px; line-height: 50px;font-weight:500; }
.p_change_bankcard .color_red{color: #EF4B39;}
.p_change_bankcard .user_info dl.scale-1px{position: relative;border-bottom:none;} 
.p_change_bankcard .user_info dl.scale-1px:after{content: '';position: absolute; bottom: 0;left:0; background: #EAECED; width: 100%; height: 1px;-webkit-transform: scaleY(0.5); transform: scaleY(0.5); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
.p_change_bankcard .scale-1px{position: relative;border-bottom:none;} 
.p_change_bankcard .scale-1px:after{content: '';position: absolute; bottom: 0;left:0; background: #EAECED; width: 100%; height: 1px;-webkit-transform: scaleY(0.5); transform: scaleY(0.5); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
/*拍照   */
.p_change_bankcard .upload_box { position: relative; width: 80px; height: 80px; background: url(../images/changebankcard/photo.png) no-repeat; background-size: 100% 100%; }

.p_change_bankcard .photograph { z-index:1;padding-bottom: 0px; position: absolute; left: 0; top: 0; width: 100%;height: 100%; background:#fff; }
.p_change_bankcard .photograph .gray_box{height: 18px;background: #f9f9f9;width: 100%;}
.p_change_bankcard .photograph .photograph_box { }
.p_change_bankcard .photograph .photo_text{font-size: 18px;font-weight: 500;height: 50px;line-height: 50px;padding-left: 15px;border-bottom: 1px #EAECED solid;}
.p_change_bankcard .photograph .photo_detail{font-size: 13px;color: #909090;margin:18px 0;padding: 0 15px;}
.p_change_bankcard .photograph .photograph_img01, .p_change_bankcard .photograph  .photograph_img02 { background-color: #f5f5f5; background-position: center; background-repeat: no-repeat; width: 100%; height: 140px; background-size: auto 170px; border: 1px #000 dashed;}
.p_change_bankcard .photograph .photograph_img01 { background-image: url(../images/changebankcard/Group.png); }
.p_change_bankcard .photograph .photograph_img02 { background-image: url(../images/changebankcard/group_copy.png); margin-bottom: 18px;}
.p_change_bankcard .upfile_root { width: 100%; height: 100%; }
.p_change_bankcard .upfile_root .upfile_c { border: none; background: #EF4B39; width: 100%; height: 40px; line-height: 40px; border-radius: 3px; }
.p_change_bankcard .upfile_root input.ui_file { height: 100%; }
.p_change_bankcard .upfile_root .upfile_c a.upfile_word { padding-left: 0; font-size: 20px; color: #FFF; display: block; line-height: 40px; }
.p_change_bankcard .ui_sub_btn .tishi {  color: #BFBFBF;font-size: 12px;padding: 24px 0 10px }
.p_change_bankcard .ui_sub_btn .tishi span{color: #EF4B39;}
.p_change_bankcard .btn_content{padding: 0 30px;background: #f9f9f9;padding-top: 36px;}
.p_change_bankcard .myimg_h5 { position: absolute; width: 80px; height: 80px; left: 0; top: 0; display: none; }
.p_change_bankcard .del_img { background: url(../images/changebankcard/Delete.png) no-repeat; width: 19px; height: 19px; background-size: 100%; position: absolute; right: -5px; top: -5px; }
.p_change_bankcard .btn { padding: 30px 30px 24px 30px; }
.p_change_bankcard .btn .change_btn { width: 100%; height: 35px;line-height: 35px; font-size: 16px; background: #EF4B39; color: #fff; border-radius: 3px; }
.p_change_bankcard .btn .ui_btn_disabled { background: #D9D9D9; }
.p_change_bankcard .bigimg_bg { position: fixed; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); left: 0; top: 0; z-index:1;}
.p_change_bankcard .bigimg_wrap { position: absolute; width: 80%; height: auto; left: 50%; top: 50%; margin-left: -40%;z-index:2;  }
.p_change_bankcard .bigimg_wrap img.j_big_img { width: 100%; height: auto; position: absolute; left: 0; top: 50%; }
.p_change_bankcard .bigimg_wrap .close { width: 34px; height: 34px; background: url(../images/changebankcard/guanbi.png) no-repeat; background-size: 100% 100%; position: absolute; bottom: -49px; left: 50%; margin-left: -17px; }

/*提交失败*/
.sub_err { background: url(../images/changebankcard/guanbi.png) no-repeat center top; margin-top: 5px; padding-top: 66px; background-size: auto 54px; }

/*上传照片进度条*/
.p_change_bankcard .circle_wrap { background: rgba(0, 0, 0, 0.6); border-radius: 5px; width: 90px; height: 90px; position: absolute; left: 50%; top: 40%; margin-left: -45px; margin-top: -45px; z-index: 1 }
.p_change_bankcard .circle { width: 42px; height: 42px; position: absolute; border-radius: 50%; background: #FFF; top: 22px; left: 50%; margin-left: -21px; }
.p_change_bankcard .pie_left, .p_change_bankcard  .pie_right { width: 42px; height: 42px; position: absolute; top: 0; left: 0; }
.p_change_bankcard .pie_left .left, .p_change_bankcard  .pie_right .right { display: block; width: 42px; height: 42px; background: #9f9f9f; border-radius: 50%; position: absolute; top: 0; left: 0; transform: rotate(0deg); }
.p_change_bankcard .pie_right, .p_change_bankcard .pie_right .right { clip: rect(0, auto, auto, 21px); }
.p_change_bankcard .pie_left, .p_change_bankcard .pie_left .left { clip: rect(0, 21px, auto, 0); }
.p_change_bankcard .circle .mask { width: 36px; height: 36px; border-radius: 50%; left: 3px; top: 3px; background: #404040; position: absolute; }
.p_change_bankcard .circle .rate { color: #fff; position: absolute; text-align: center; width: 100%; left: 0; bottom: -33px; height: 18px; font-size: 10px; }
.p_change_bankcard .ui_sub_btn {z-index: 2;border:none;}

/*加载进度条*/
.load8 .loader {
  margin: 23px auto 20px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px  solid rgba(255, 255, 255, 0.2);
  border-right: 3px  solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px  solid rgba(255, 255, 255, 0.2);
  border-left: 3px  solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.load8 .loader,
.load8 .loader:after {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-device-pixel-ratio: 2)
and (device-aspect-ratio: 2/3) {
   .p_change_bankcard .photograph .photograph_box {min-height:580px;}
}

.p_changecard_error .inreview_foot{color:#8A8899;position: fixed;bottom: 32px;text-align: center;width: 100%;}
.p_changecard_error .inreview_foot span{color: #30A4FF;}
.p_changecard_error .color_black{color: #000;font-weight: 500;}
.p_changecard_error .inreview_img_error{margin:119px auto 0;background: url(../images/error.png);width: 92px;height: 92px;background-size: 100% 100%;}
.p_changecard_error .ui_btn_red_h40{background: #EF4B39;width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 20px;border-radius: 3px;color: #FFF}
.p_changecard_error .ui_btn_red_h40 a{display: block;color: #FFF}
.p_changecard_error .plr15{padding: 0 30px;}
.p_changecard_error .error_text{font-size: 12px;color: #8A8899;text-align: center;line-height: 17px;margin-bottom: 15px;font-family:PingFangSC-Regular;font-weight:400;}
.p_changecard_error .inreview_instr{margin-top: 24px;margin-bottom: 10px;line-height: 28px;font-family:PingFangSC-Medium;font-weight:500;text-align: center;color: #000;font-size: 20px;}