.feedback-wrapper {
  height: 691px;
  background-color: #fff;
}

.feedback-gap {
  height: 139px;
}

.feedback-content {
  margin-left: 93px;
}

.feedback-item {
  cursor: pointer;
  float: left;
  width: 238px;
  margin-right: 99px;
}

.end-item {
  margin-right: 0;
}

.feedback-request-img {
  background: url(../../images/feedback/request.png) no-repeat;
}

.feedback-report-img {
  background: url(../../images/feedback/report.png) no-repeat;
}

.feedback-controversy-img {
  background: url(../../images/feedback/controversy.png) no-repeat;
}

.feedback-icon {
  height: 172px;
  background-position: center center;
}

.feedback-item-desc {
  padding-top: 11px;
  font-size: 18px;
  line-height: 52px;
  color: #333;
  text-align: center;
}

.feedback-item-content {
  font-size: 14px;
  line-height: 20px;
  color: #888;
  text-align: left;
}

body {
  background-color: #f6f7f8; 
}