<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no,email=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>网信</title>
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->asset->makeUrl('skins/default/images/favicon.png');?>">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->asset->makeUrl('skins/default/images/favicon.png');?>">
        <link href="<?php echo $this->asset->makeUrl('v3/css/event/m-base.css');?>" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->asset->makeUrl('v3/css/event/m-common.css');?>" rel="stylesheet" type="text/css">
        
        <script type="text/javascript">
            var today = new Date();
            var  year = today.getFullYear();
            var month = today.getMonth() + 1;
            var day= today.getDate();
            var ymd = year +""+ month+"" + day;
            var oHead = document.getElementsByTagName('HEAD').item(0); 
            var oScript= document.createElement("script"); 
            oScript.type = "text/javascript"; 
            oScript.src="https://dfp1api.ncfwx.com/public/downloads/frms-fingerprint.js?custID=dfp&serviceUrl=https://dfp1api.ncfwx.com/public/generate/jsonp&loadSource=script&type=1&ymd="+ymd;
            oHead.appendChild( oScript); 
        </script>
        <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/event/zepto.min.js');?>"></script>
        <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/event/common.js');?>"></script>
        <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/event/iscroll.js');?>"></script>
        <script type="text/javascript">
        window['_eventRegisterAddParams'] = {'event_id':'{$event_id}','event_data':'{$event_data}','cn':'{$cn}','from_platform':'{$from_platform}'};
        </script>
        <style>
        body{ background:#f5f5f9;}
        .reg_top{margin:0 15px; color:#909ba8;}
        .ui_title{ height:45px; text-align:center; font-size:18px; line-height:45px; background:#fff; position:relative;}
        .ui_title a{ color:#41474d;}
        .ui_title .ui_back{ position:absolute; left:10px;}
        .ui_icon_back{ background:url(<?php echo $this->asset->makeUrl('v3/images/oauth/mobile/back.png');?>) no-repeat; width:9px; height:20px; display:inline-block; background-size:9px 17px; margin:0 5px 0 0px; vertical-align:middle;}
        </style>
    </head>
    <body>
        <div class="p_login_new">
            {if !$isMicroMessengerUserAgent}
            <div class="ui_title">填写注册信息</div>
            {/if}
            <div class="login_banner">
                <img src="<?php echo $this->asset->makeUrl('v3/images/oauth//mobile/upload/reg_banner.png');?>" width="100%">
            </div>
{include file="web/views/v3/event/regpanel.html"}
        </div>
        <script>
        // 禁用微信分享
        function onBridgeReady() {
            WeixinJSBridge.call('hideOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
        // 禁用微信分享 end
        // 统计
        var _ncf={"prd":"firstp2p","pstr":"","pfunc":null,"pcon":"","pck":{"channel":"channel","fpid":"fpid"},"trid":"","channel":['pubid','mediumid','adid','adsize'],"rfuniq":[],"rfmuti":[]};
        (function(p,h,s){var o=document.createElement(h);o.src=s;p.appendChild(o)})(document.getElementsByTagName("HEAD")[0],"script","<?php echo $this->asset->makeUrl('default/js/ncfpb.1.5.min.js');?>");
        </script>
    </body>
</html>

