{include file="web/views/header.html"}

<link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v1/css/data_show.css');?>" />
<div class="blank"></div>
<div class="clearfix">

  <div class="ph_title"> <a href="./">网信普惠</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;信息披露</div>
  <div class="information_disclosure">
    <ul class="j_info_nav">
      <li class="select"> <a href="javascript:;">企业信息</a> </li>
      <li> <a href="javascript:;">数据展示</a> </li>
      <li> <a href="javascript:;">政策法规</a> </li>
      <li> <a href="javascript:;">专项报告</a> </li>
      <li> <a href="javascript:;">运营报告</a> </li>
      <li> <a href="javascript:;">重大事项</a> </li>
      <li> <a href="javascript:;">风险管理</a> </li>
      <li> <a href="javascript:;">合同范本</a> </li>
    </ul>
    <div class="information_disclosure_tab">
      <div class="info_tab_con business_info">
        <div class="inf_title">
          <p class="big_title">组织架构</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="jiagou">&nbsp; &nbsp; &nbsp; &nbsp;<img src="https://static.firstp2p.com/attachment/201809/21/15/f929d83b5f0101c65f22b10f88f1c3c6/index.jpg"
            alt="" border="0" /><br />
        </div>
        <div class="inf_title">
          <p class="big_title">实际控股人与持股5%以上的股东名单</p>
          <p class="black_line wid480"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="gudong">
          <p class="leader_name">张振新 男</p>
          <p class="experience">20余年金融行业从业经验</p>
        </div>
        <div class="inf_title">
          <p class="big_title">董监高人员名单</p>
          <p class="black_line wid300"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201812/17/14/252448857ae486cab52327ec9986d887/index.jpg.png" width="170" height="170" alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">李焕香 · 执行董事</p>
              <p>从事中小企业金融服务十余年，曾任联合创业担保集团有限公司副总裁等。拥有清华大学五道口金融学院EMBA学位。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201802/02/12/42cdb44a161330130d25ff95b52086be/index.jpg"
              alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">李程 · 监事</p>
              <p>清华大学经济管理学院工商管理硕士。作为移动通信、新一代数据中心及云计算大数据的开拓践行者，曾分别任职于中国普天、爱立信（中国）及北京云基地，在移动通信、数据中心、云计算、大数据、IT产业规划及咨询、能源物联网等领域积累了较为丰富的经验。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201904/09/18/89bdf9fc9d0ec8df4300319beb7690a3/index.jpg.png" width="174" height="172" alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">郭雷 · 首席执行官</p>
              <p>东北财经大学管理学学士，中国注册会计师，从事审计工作十余年，近五年主要从事中小企业金融及零售金融服务，曾在大型集团公司担任过风险及运营管理岗位。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201801/18/16/10dc819bfa0826d011bb8ede7175e7e9/index.jpg"
              alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">刘佳 · 首席运营官</p>
              <p>北京大学计算机科学与技术学士，历任中国人寿保险股份有限公司核心业务开发处、项目管理处大项目集经理，主持开发核心交易系统CBPSv8及建立研发管理体系；上海睿医信息科技有限公司首席运营官；美团网MDC高级产品总监。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201808/22/18/1b3126a59bbc46012e923e19b89acad6/index.jpg"
              alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">周龙 · 首席风控官</p>
              <p>清华大学管理学硕士，11年风险管理经验。曾任职于德勤、埃森哲、标准普尔等全球知名公司，历任风险咨询经理、副总监；加入网信普惠前为和创金服风控总监；拥有丰富的零售、对公业务数据分析、建模和风险管理经验。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201811/20/18/647f8489c38fbee88abcf524ce6a8e0d/index.jpg"
              alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">张若识 · 首席技术官</p>
              <p>10年互联网行业开发经验，曾任职于凤凰网等知名企业，负责分布式存储系统、社交网站、金融交易系统的开发设计。</p>
            </div>
          </div>
        </div>
        <div class="leader">
          <div class="leader_img"> <img src="https://static.firstp2p.com/attachment/201811/20/18/5b9a2f986454f4d677797e46ce9fcd0d/index.jpg"
              alt="" /> </div>
          <div class="leader_inf">
            <div class="contain">
              <p class="leader_name">徐剑刚 · 首席财务官</p>
              <p>16年财务管理工作经验；先后任职于京东集团网银在线、爱可信（中国）、 Saon Group（中国）等著名企业；拥有华中科技大学工商管理专业硕士学位。</p>
            </div>
          </div>
        </div>
        <div class="inf_title">
          <p class="big_title">企业信息</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="inf_text">
          <table class="business_tb" border="1">
            <tbody>
              <tr>
                <td>机构全称：</td>
                <td>北京东方联合投资管理有限公司</td>
                <td>公司注册资本：</td>
                <td>500,000,000元</td>
              </tr>
              <tr>
                <td>注册地址：</td>
                <td>北京市朝阳区霄云路28号院2号楼7层701</td>
                <td>实缴注册资本：</td>
                <td>200,000,000元</td>
              </tr>
              <tr>
                <td>成立时间：</td>
                <td>2011年6月21日</td>
                <td>法定代表人：</td>
                <td>李焕香</td>
              </tr>
              <tr>
                <td>联系方式：</td>
                <td>
                  <p>客服热线：95782 转 1</p>
                  <p><span style="color:#333333;">投诉电话：95782 转 4</span></p>
                  <p><span style="color:#333333;">举报电话：95782 转 9</span></p>
                </td>
                <td>经营场所：</td>
                <td>北京市朝阳区霄云路28号院2号楼7层701</td>
              </tr>
              <tr>
                <td>咨询、投诉、举报电子邮箱：</td>
                <td>service@firstp2p.cn</td>
                <td>咨询、投诉、举报通讯地址：</td>
                <td>北京市朝阳区霄云路28号2号院网信大厦A座7层</td>
              </tr>
              <tr>
                <td>统一社会信用代码：</td>
                <td>91110105576865680R</td>
                <td>公司经营期限：</td>
                <td>2011年06月21日至2021年06月20日</td>
              </tr>
              <tr>
                <td>公司经营状态：</td>
                <td>开业</td>
                <td>分支机构信息：</td>
                <td>无</td>
              </tr>
              <tr>
                <td>公司股东名称：</td>
                <td>张振新、李焕香</td>
                <td>公司股东占股比例：</td>
                <td>张振新99%，李焕香1%</td>
              </tr>
              <tr>
                <td>资金存管的银行全称：</td>
                <td>海口联合农村商业银行股份有限公司</td>
                <td>全量业务资金存管上线时间：</td>
                <td>2016年5月接入银行存管；2017年5月存管系统升级为V1.0版本；2018年2月实现全量业务迁移。</td>
              </tr>
              <tr>
                <td>经营范围：</td>
                <td colspan="3" class="pr30">
                  投资管理；资产管理；投资咨询；企业策划；企业管理；设计、制作、代理、发布广告；承办展览展示活动；组织文化艺术交流活动（不含演出）；销售日用品、电子产品、工艺品、家用电器、汽车配件、首饰、计算机、软件及辅助设备；技术推广服务；维修计算机、手机、家用电器；软件设计；互联网信息服务。（“1、未经有关部门批准，不得以公开方式募集资金；2、不得公开开展证券类产品和金融衍生品交易活动；3、不得发放贷款；4、不得对所投资企业以外的其他企业提供担保；5、不得向投资者承诺投资本金不受损失或者承诺最低收益”；企业依法自主选择经营项目，开展经营活动；互联网信息服务以及依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。）
                </td>
              </tr>
              <tr class="hide_info_tr">
                <td>注册协议模板：</td>
                <td colspan="3"> <a href="https://www.firstp2p.cn/help/register_terms?advid=regist_protocol&amp;advtitle=注册协议" target="_blank" style="text-decoration:underline;color:#46aee2;">点击查看</a>
                </td>
              </tr>
              <tr class="hide_info_tr">
                <td>主要审计意见：</td>
                <td colspan="3"> <a href="https://static.firstp2p.com/attachment/201705/24/16/612eebbe3fa1355a8af056a9959e8c2c/e8068ea35e0856b658b23d9b384d2f8d.pdf" target="_blank" style="text-decoration:underline;color:#46aee2;">点击查看</a> </td>
              </tr>
              <tr class="hide_info_tr">
                <td>重要融资信息：</td>
                <td colspan="3" class="pr30"> 通过VIE架构完成三轮融资，引入的知名投资机构包括：建银国际、信中利、中信资本、三山资本等。 </td>
              </tr>
              <tr class="hide_info_tr">
                <td>从业人员概况：</td>
                <td colspan="3" class="pr30">
                  截至目前，从业人员约132人，其中25岁以下从业人员约7人，25~45岁从业人员约124人，45岁以上从业人员约1人；专科以下从业人员约13人，本科从业人员约96人，硕士及以上从业人员约23人。</td>
              </tr>
              <tr class="hide_info_tr">
                <td>客户资金存管情况：</td>
                <td colspan="3" class="pr30">
                  网信普惠与海口联合农村商业银行建立合作，由银行为网信普惠客户资金提供存管服务，包括专用账户开立、相关资金清算和业务咨询等，做到客户资金与平台自有资金隔离，同时对资金流进行全程监控。
                </td>
              </tr>
              <tr class="hide_info_tr">
                <td>实际控制人、持 <br />
                  股5%以上的股 <br />
                  东与保险机构、 <br />
                  担保机构等各类 <br />
                  第三方合作机构 <br />
                  的关联关系： </td>
                <td colspan="3" class="pr30"> 平台目前不存在实际控制人、持股5%以上的股东与保险机构、担保机构等各类第三方合作机构有关联关系的情况。 </td>
              </tr>
            </tbody>
          </table>
          <div class="pt20" style="text-align:center;"> <a href="javascript:;" class="openall j_openAll">展开全部</a>
            <a href="javascript:;" class="closeall j_closeAll">收起</a> </div>
        </div>
        <div class="inf_title">
          <p class="big_title">渠道信息</p>
          <p class="black_line wid400"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="platform_info tc">
          <div class="pdb20"> <img src="https://static.firstp2p.com/attachment/201706/26/14/409143f67964538d166a8aad8af546bd/index.jpg" />
          </div>
          <p>公司官网网址（域名及IP地址）： <span> <a href="https://www.firstp2p.cn" target="_blank">https://www.firstp2p.cn(IP地址103.254.188.50)</a>
            </span> </p>
          <p>平台名称： <span>网信普惠</span> </p>
          <p>平台上线运营时间： <span>2013年7月</span> </p>
          <p>平台APP名称： <span>网信普惠</span>（ <a href="https://itunes.apple.com/us/app/wang-xin-pu-hui/id1188620960?ls=1&amp;mt=8"
              target="_blank"> <b>iOS</b> </a>/ <a href="https://app.firstp2p.cn/android?" target="_blank">
              <b>Android</b> </a>）</p>
          <p> <span style="font-weight:normal;">普惠APP上线时间：2017年1月</span> </p>
          <p>增值电信业务经营许可证： <span>京B2-20181497</span> </p>
          <p>微信公众号： <span> <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzI3NDY0NTg1NQ==&amp;scene=124#wechat_redirect"
                target="_blank">网信普惠（ID：wangxinpuhui）</a> </span> </p>
          <p>官方微博： <span> <a href="https://weibo.com/p/1006065498010800/home?from=page_100606&amp;mod=TAB&amp;is_all=1#place"
                target="_blank">网信普惠微博</a> </span> </p>
        </div>
      </div>
      <div class="info_tab_con data_show">
        <img src="https://static.firstp2p.com/attachment/201708/30/17/3e96eb72feab6925af198188932cfb52/index.jpg" />
        <div class="data_cont">
          <div class="fl total_transaction tc">
            <p class="data_text">累计借贷金额</p>
            <p class="data_num">{$data.borrow_amount}元</p>
          </div>
          <div class="fl total_investor tc">
            <p class="data_text">累计出借人数量</p>
            <p class="data_num">{$data.loaner_number}人</p>
          </div>
          <div class="fl interest_income tc">
            <p class="data_text">利息余额</p>
            <p class="data_num">{$data.remain_interest}元</p>
          </div>
        </div>
        <div class="inf_title">
          <p class="big_title">数据展示</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="binfo_cont clearfix">
          <div class="fl tc binfo_div bgpic1">
            <p class="data_text">累计借贷笔数</p>
            <p class="data_num">{$data.borrow_count}笔</p>
          </div>
          <div class="fl tc binfo_div bgpic2">
            <p class="data_text">累计借款人数量</p>
            <p class="data_num" style="color:#ffa125;">{$data.borrower_number}人</p>
          </div>
          <div class="fl tc binfo_div bgpic3">
            <p class="data_text">借贷余额</p>
            <p class="data_num" style="color:#25b6bb;">{$data.remain_money}元</p>
          </div>
        </div>
        <div class="binfo_cont clearfix">
          <div class="fl tc binfo_div bgpic4">
            <p class="data_text">人均累计借款金额</p>
            <p class="data_num" style="color:#b482f3;">{$data.average_borrow_amount}元</p>
          </div>
          <div class="fl tc binfo_div bgpic5">
            <p class="data_text">人均累计出借金额</p>
            <p class="data_num" style="color:#d74e78;">{$data.average_loan_amount}元</p>
          </div>
          <div class="fl tc binfo_div bgpic6">
            <p class="data_text">借贷余额笔数</p>
            <p class="data_num" style="color:#40bce4;">{$data.remain_money_count}笔</p>
          </div>
        </div>
        <div class="binfo_cont clearfix">
          <div class="fl tc binfo_div bgpic7">
            <p class="data_text">第三方累计代偿金额</p>
            <p class="data_num" style="color:#426aff;">{$data.third_guarantee_amount}元</p>
          </div>
          <div class="fl tc binfo_div bgpic8">
            <p class="data_text">第三方累计代偿笔数</p>
            <p class="data_num" style="color:#e564dd;">{$data.third_guarantee_count}笔</p>
          </div>
          <div class="fl tc binfo_div bgpic9">
            <p class="data_text">关联关系借款金额</p>
            <p class="data_num" style="color:#b1a300;">{$data.relation_borrow_amount}元</p>
          </div>
        </div>
        <div class="binfo_cont clearfix">
          <div class="fl tc binfo_div bgpic10">
            <p class="data_text">关联关系借款笔数</p>
            <p class="data_num" style="color:#61ae49;">{$data.relation_borrow_count}笔</p>
          </div>
          <div class="fl tc binfo_div bgpic12">
            <p class="data_text">当前出借人数量</p>
            <p class="data_num" style="color:#b482f3;">{$data.total_borrower_count}人</p>
          </div>
          <div class="fl tc binfo_div bgpic13">
            <p class="data_text">当前借款人数量</p>
            <p class="data_num" style="color:#61ae49;">{$data.total_loaner_count}人</p>
          </div>
        </div>
        <div class="binfo_cont clearfix">
          <div class="fl tc binfo_div bgpic14">
            <p class="data_text">前十大借款人待还金额占比</p>
            <p class="data_num" style="color:#e54242;"><span style="color:#f6cc0b;">{$data.top_ten_borrower_paid}%</span></p>
          </div>
          <div class="fl tc binfo_div bgpic15">
            <p class="data_text">最大单一借款人待还金额占比</p>
            <p class="data_num" style="color:#e54242;"><span style="color:#ffc4b0;">{$data.largest_borrower_paid_percent}%</span></p>
          </div>
        </div>
        <div class="inf_title1">
          <p class="Overdue_project"><span style="font-size:28px;font-weight:700;">收费标准</span></p>
          <div class="shoufei">
            <h2><b>向借款人收费标准如下：</b></h2>
            <table width="100%" align="center">
              <thead>
                <tr>
                  <th>
                    <div class="line_box">
                      <div class="line"></div>
                      <p style="text-align:right;padding-right:30px;">费项</p>
                      <p style="text-align:left;padding-left:30px;">分类</p>
                    </div>
                  </th>
                  <td>平台服务费（年化）</td>
                  <td>咨询服务费（年化）</td>
                </tr>
              </thead>
              <tbody>
                <tr class="tr_one">
                  <td>企业经营贷</td>
                  <td>≤9%</td>
                  <td>≤6.4%</td>
                </tr>
                <tr class="tr_two">
                  <td>个体经营贷</td>
                  <td>≤7%</td>
                  <td>≤18.8%</td>
                </tr>
                <tr class="tr_one">
                  <td>供应链</td>
                  <td>≤9%</td>
                  <td>≤5.3%</td>
                </tr>
                <tr class="tr_two">
                  <td>消费贷</td>
                  <td>≤7%</td>
                  <td>≤28.5%</td>
                </tr>
              </tbody>
            </table>
            <h3>具体费率以项目合同约定为准，借款人的综合借款成本符合相关政策法规规定，以上产品平台暂不向出借人收取任何费用</h3>
            <h2><b>如出借人使用智能工具“智多新”进行出借，收费标准如下：</b></h2>
            <table width="100%" align="center">
              <thead>
                <tr>
                  <th>
                    <div class="line_box">
                      <div class="line"></div>
                      <p style="text-align:right;padding-right:30px;">费项</p>
                      <p style="text-align:left;padding-left:30px;"> 分类</p>
                    </div>
                  </th>
                  <td>顾问服务费（年化）</td>
                  <td>管理服务费（年化）</td>
                </tr>
              </thead>
              <tbody>
                <tr class="tr_one">
                  <td>&nbsp;&nbsp;&nbsp;智多新&nbsp;&nbsp;&nbsp;</td>
                  <td>≤6%</td>
                  <td>≤1%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="inf_title1">
          <p class="Overdue_project">项目逾期情况</p>
          <img src="{$data.overdue_data_list_attachment}" />
          <div class="pdt50"> <img src="{$data.overdue_chart_attachment}" />
          </div>
        </div>
        <p class="tc" style="padding-top:20px;">以上数据统计截止于{$data.dealline}</p>
      </div>
      <div class="info_tab_con policies_regulations">
        <div class="inf_title">
          <p class="big_title">政策法规</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="policies_cont">
          <div class="fl tc policies_div_c">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/5bb516b5f010eaa767b8882ddd43a42e/fec29dfe2e5b1503bb6a897667d3c452.pdf"
                target="_blank">中华人民共和国<br />网络安全法 </a> </p>
          </div>
          <div class="fl tc policies_div_c">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/1f5d6f78647fda166fdbe1d9e9f83fa1/4bf5a0e6a870d07d328b00f07f7696d0.pdf"
                target="_blank">中华人民共和国<br />广告法 </a> </p>
          </div>
          <div class="fl tc policies_div_c">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/68f6d97c3f1345672106b9453ad87fd1/5b3187448724d93e238a30b01fa5c623.pdf"
                target="_blank">中华人民共和国<br />电子签名法 </a> </p>
          </div>
          <div class="fl tc policies_div_c mr0">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/2872445192237de9f219ecc2b7cd586b/9354f3951aaffcca9e0242410584773d.pdf"
                target="_blank">中华人民共和国<br />反洗钱法 </a> </p>
          </div>
        </div>
        <div class="policies_cont">
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/f4ff62c97bf4f67af0bfd51dd28f3ff4/3eafa4ed7300976e5da5c184a1f9c8e5.pdf"
                target="_blank">央行等十部委<br /> <span class="fts16">《关于促进互联网金融健康发展的指导意见》</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/7e1a3096d16f826f0929f6e3cadc5e5e/3036d301cea893eea2f96e8a69a5aa95.pdf"
                target="_blank">网络借贷<br /> <span class="fts16">信息中介机构业务活动管理暂行办法</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/737a46883635bcb55f5bbee4dd997156/e97d1055549a6a56a95275a24fa883da.pdf"
                target="_blank">国务院办公厅<br /> <span class="fts16">互联网金融风险专项整治工作实施方案</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w mr0">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/1efc52459b921489f1f734df4b4f5e66/80ac7bbf62f89d9e3f8049fdc56bac26.pdf"
                target="_blank">通过互联网 <br /> <span class="fts16">开展资产管理及跨界从事金融业务风险专项整治工作实施方案</span> </a>
            </p>
          </div>
        </div>
        <div class="policies_cont">
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/26a30d5d7df687e40eee9900436d70d7/b339e004339b3ce6e2947886caf8a1b6.pdf"
                target="_blank">工商总局等<br /> <span class="fts16">开展互联网金融广告及以投资理财名义从事金融活动风险专项整治工作实施方案</span>
              </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/110a4b890ca859447b0618e9b1743272/80e0a630d6589107115a8848b409d0d8.pdf"
                target="_blank">北京市互联网<br /> <span class="fts16">金融风险专项整治工作实施方案</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/76f9737e5edf286366e319fc47a9dfe8/5ee4a30c0eda7998c9d0b91218ae1324.pdf"
                target="_blank">中国互联网<br /> <span class="fts16">金融协会信息披露自律管理规范</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w mr0">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/22/14/6ba7da5f833a95924039a82c6b66c22d/e64bbbbec590f9021f4920f3c6b8522c.pdf"
                target="_blank">P2P网络借贷<br /> <span class="fts16">风险专项整治工作实施方案</span> </a> </p>
          </div>
        </div>
        <div class="policies_cont">
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/1566c8929465300962ff5a72342541c8/2eb18f0c1362584e447bc55c23e39702.pdf"
                target="_blank">互联网金融<br /> <span class="fts16">信息披露标准：个体网络借贷</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201702/28/16/51ca1bcf78f63eb7d2991546e7219939/67d26886e0c84246f5094e014389bcb1.pdf"
                target="_blank">网络借贷<br /> <span class="fts16">资金存管业务指引 <br />（正式版） </span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/bc2f2c10b14b86e68ec3daacdf9f8a55/1b74b6f18b90c9b95c4217d308822d5d.pdf"
                target="_blank">网络借贷<br /> <span class="fts16">信息中介机构业务活动信息披露指引 <br />（银监办发(2017)113号）
                </span> </a> </p>
          </div>
          <div class="fl tc policies_div_w mr0">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/cd0247db6dfb93044f06e008ea4e8205/561b2c43193f00e444d765a07476b108.pdf"
                target="_blank">互联网金融<br /> <span class="fts16">个体网络借贷资金存管业务规范</span> </a> </p>
          </div>
        </div>
        <div class="policies_cont">
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/841c8ec869f268cec9bc7bb1a50c2962/63167773ddf62fc6abb1b6328dfddd44.pdf"
                target="_blank"> 互联网金融<br /> <span class="fts16">个体网络借贷资金存管系统规范</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/b8baa4909e8dac6f9efe218fb7511421/b1b01b35aa48581fc17d6746086d8cdb.pdf"
                target="_blank">关于开展<br /> <span class="fts12">“现金贷”业务活动清理整顿工作的通知<br />
                  (网贷整治办函(2017)19号及网贷整治办函(2017)20号)</span> </a> </p>
          </div>
          <div class="fl tc policies_div_w">
            <p class="fts22"> <a href="https://static.firstp2p.com/attachment/201712/18/17/f89c4829e11d8032a70a35e753323373/ef47500b7f65505342d6e81af5053d60.pdf"
                target="_blank">关于规范整顿<br /> <span class="fts16">“现金贷”业务的通知 <br />（整治办函[2017]141号）
                </span> </a> </p>
          </div>
        </div>
      </div>
      <div class="info_tab_con special_report">
        <div class="inf_title">
          <p class="big_title">专项报告</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="report_cont">
          <div class="fl tc report_div"> <a href="https://static.firstp2p.com/attachment/201904/28/14/37ba6ad4042294bb2630edc2cd98d875/57bf85fec360c162dc82d46bd2effd77.pdf"
              target="_blank"> <img src="https://static.firstp2p.com/attachment/201706/26/15/faaaa3f0694df9098e7c4e8177f80662/index.jpg" />
              <p class="fts16">经审计的年度报表</p>
            </a> </div>
          <div class="fl tc report_div"> <a href="https://static.firstp2p.com/attachment/201904/28/14/22f2597e336f8a1365a921d70546fccd/52dc72c0bfdec3249152dcbbe6eaddff.pdf"
              target="_blank"> <img src="https://static.firstp2p.com/attachment/201706/26/14/3410239ad320d02c6033efda56098bce/index.jpg" />
              <p class="fts16">东方联合专项审计报告</p>
            </a> </div>
          <div class="fl tc report_div"> <a href="https://static.firstp2p.com/attachment/201904/28/14/9d10db54035ba26478e432e1cc3e7e8b/225a1aa7fd3e44c3ab71ca94c948771b.pdf"
              target="_blank"> <img src="https://static.firstp2p.com/attachment/201706/26/14/8f14f53681dcab88c74d65605a3f3ef4/index.jpg" />
              <p class="fts16">东方联合网信普惠业务系统信息系统安全等级测评报告</p>
            </a> </div>
          <div class="fl tc report_div mr0"> <a href="https://static.firstp2p.com/attachment/201904/28/14/3f0a3fc39c8c34b3b7808ee30bc95126/94877c26294edfdc0282a4b74ea514ff.pdf"
              target="_blank"> <img src="https://static.firstp2p.com/attachment/201706/26/14/4b85bf9ad3cbddfa297eb641f4dd82fc/index.jpg" />
              <p class="fts16">东方联合合规评估报告</p>
            </a> </div>
        </div>
      </div>
      <div class="info_tab_con operate_report">
        <div class="inf_title">
          <p class="big_title">运营报告</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="report_cont">
          <div class="fl tc report_div">
            <a href="https://static.firstp2p.com/attachment/201801/28/11/9014f7a6d55a07f590ff8f28eadf5a30/a0d852970790c008cf344314f7d36642.pdf"
              target="_blank">
              <img src="https://static.firstp2p.com/attachment/201801/28/11/083954c2a6d495cccfd4507f5b34fc13/index.jpg" />
            </a>
            <a href="https://static.firstp2p.com/attachment/201801/28/11/9014f7a6d55a07f590ff8f28eadf5a30/a0d852970790c008cf344314f7d36642.pdf" target="_blank">
              <p class="fts16">网信普惠2017年年度报告</p>
            </a>
          </div>
          <div class="fl tc report_div mr0">
            <a href="https://static.firstp2p.com/attachment/201902/13/19/5d5582a4a6e2e0b715f039dcacb356a3/614a35252cf60935127d2cf52663d109.pdf" target="_blank">
              <img src="https://static.firstp2p.com/attachment/201902/13/18/c0620db695dad22be2e38222971989db/index.jpg" />
            </a>
            <a href="https://static.firstp2p.com/attachment/201902/13/19/5d5582a4a6e2e0b715f039dcacb356a3/614a35252cf60935127d2cf52663d109.pdf" target="_blank">
              <p class="fts16">网信普惠2018年年度报告</p >
            </a>
          </div>
        </div>
      </div>
      <div class="info_tab_con major_matters">
        <div class="inf_title">
          <p class="big_title">重大事项</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="inf_text">
          <table class="business_tb" border="1">
            <tbody>
              <tr>
                <td>减资、合并、分立、解散或申请破产：</td>
                <td>无</td>
                <td>公司依法进入破产程序：</td>
                <td>无</td>
              </tr>
              <tr>
                <td>公司被责令停业、整顿、关闭：</td>
                <td>无</td>
                <td>公司涉及重大诉讼、仲裁，或涉嫌违法违规被有权机关调查，或受到刑事处罚、重大行政处罚：</td>
                <td>无</td>
              </tr>
              <tr>
                <td>公司法定代表人、实际控制人、主要负责人、董事、监事、高级管理人员涉及重大诉讼、仲裁，或涉嫌违法违纪被有权机关调查，或受到刑事处罚、重大行政处罚，或被采取强制措施：</td>
                <td>无</td>
                <td>公司主要或者全部业务陷入停顿：</td>
                <td>无</td>
              </tr>
              <tr>
                <td>存在欺诈、损害出借人利益等其他影响网络借贷信息中介机构经营活动的重大事项：</td>
                <td>无</td>
                <td>公司法定代表人、实际控制人、控股股东、主要负责人、董事、监事、高级管理人员的变更信息：</td>
                <td>
                  <p>变更监事：房爱军变更为李程</p>
                  <p>变更首席风控官：孙逊变更为周龙</p>
                  <p>变更首席技术官：周欣变更为张若识</p>
                  <p>变更首席执行官：李焕香变更为郭雷</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="info_tab_con risk_manage">
        <div class="inf_title">
          <p>1.风险管理架构</p>
          <p><br />
          </p>
          <p><img src="https://static.firstp2p.com/attachment/201810/19/14/1c466a5349d76307e6300dc743b5b1d2/index.jpg"
              alt="" border="0" /><br />
          </p>
          <p><br />
          </p>
          <p>2.风险评估流程</p>
          <p><br />
          </p>
          <p><img src="https://static.firstp2p.com/attachment/201810/19/14/ee04c334c147236c272ac82265825847/index.jpg"
              alt="" border="0" /><br />
          </p>
          <p><br />
          </p>
          <p>3.风险预警流程</p>
          <p><br />
          </p>
          <p><img src="https://static.firstp2p.com/attachment/201801/26/15/6306439c67552a3271d3c47c6f4877e0/index.jpg"
              alt="" border="0" /><br />
          </p>
          <p><br />
          </p>
          <p>4.合作机构催收方式</p>
          <p><br />
          </p>
          <p><img src="https://static.firstp2p.com/attachment/201801/26/15/4184ee0c8bf809a192b29b52b72d9080/index.jpg"
              alt="" border="0" /><br />
          </p>
        </div>
      </div>
      <div class="info_tab_con disclosure_template">
        <div class="inf_title">
          <p class="big_title">合同范本</p>
          <p class="black_line"></p>
          <img src="https://static.firstp2p.com/attachment/201706/26/14/64c69b704f0792f2075dd0b96b0f8dd2/index.jpg"
            class="img_point" />
        </div>
        <div class="report_cont">
          <div class="fl tc report_div">
            <a href="https://static.firstp2p.com/attachment/201903/13/15/83ce835451c9a98833c5986cd5a578de/826e130247753c867be0d67a9c338101.pdf"
              target="_blank">
              <img src="https://event.ncfwx.com/upload/image/20190313/10-14-register_agreement.png" width="216"/>
            </a>
            <a href="https://static.firstp2p.com/attachment/201903/13/15/83ce835451c9a98833c5986cd5a578de/826e130247753c867be0d67a9c338101.pdf" target="_blank">
              <p class="fts16">注册协议和隐私保护政策</p>
            </a>
          </div>
          <div class="fl tc report_div">
            <a href="https://static.firstp2p.com/attachment/201903/13/17/94f9deea7a516b32a650ef7d97d1bf87/ec87c5fc851993c8e94d81f71d9e0cca.pdf"
              target="_blank">
              <img src="https://event.ncfwx.com/upload/image/20190313/10-14-loan_contract.png" width="216"/>
            </a>
            <a href="https://static.firstp2p.com/attachment/201903/13/17/94f9deea7a516b32a650ef7d97d1bf87/ec87c5fc851993c8e94d81f71d9e0cca.pdf" target="_blank">
              <p class="fts16">借款合同</p>
            </a>
          </div>
          <div class="fl tc report_div">
            <a href="https://static.firstp2p.com/attachment/201903/13/18/75c3840f7ab2c63b9cd372fc1c113834/bfd1a19489b755ca1c66c3f6d217bb06.pdf" target="_blank">
              <img src="https://event.ncfwx.com/upload/image/20190313/10-14-debt_transfer_agreement.png" width="216"/>
            </a>
            <a href="https://static.firstp2p.com/attachment/201903/13/18/75c3840f7ab2c63b9cd372fc1c113834/bfd1a19489b755ca1c66c3f6d217bb06.pdf" target="_blank">
              <p class="fts16">债权转让协议</p >
            </a>
          </div>
          <div class="fl tc report_div mr0">
            <a href="https://static.firstp2p.com/attachment/201903/13/17/0b459e8d38acfdd40d1096f1410a53e3/073b2f697d5ac138728504f8bc9ccdd8.pdf"
              target="_blank">
              <img src="https://event.ncfwx.com/upload/image/20190313/18-23-consultancy_agreement.png" width="216"/>
            </a>
            <a href="https://static.firstp2p.com/attachment/201903/13/17/0b459e8d38acfdd40d1096f1410a53e3/073b2f697d5ac138728504f8bc9ccdd8.pdf" target="_blank">
              <p class="fts16">顾问协议</p>
            </a>
          </div>
          <div class="fl tc report_div mt20 pt20">
            <a href="https://static.firstp2p.com/attachment/201903/13/17/f52232c2d786c578ea2cd75b27867891/943638431dbd5b4116a1f741280cd145.pdf"
              target="_blank">
              <img src="https://event.ncfwx.com/upload/image/20190313/18-23-reservation_protocol.png" width="216"/>
            </a>
            <a href="https://static.firstp2p.com/attachment/201903/13/17/f52232c2d786c578ea2cd75b27867891/943638431dbd5b4116a1f741280cd145.pdf" target="_blank">
              <p class="fts16">预约协议</p>
            </a>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        ;
        (function ($) {
          $(function () {
            (function () {
              $(".j_info_nav").on("click", "li", function () {
                if ($(this).hasClass('select')) return;
                var idx = $(this).index();
                var $con = $('.information_disclosure .info_tab_con').eq(idx);
                $(this).addClass('select').siblings().removeClass('select');
                $con.show().siblings().hide();
              });
              $(".j_openAll").on('click', function () {
                $(this).hide();
                $(".hide_info_tr").show();
                $(".j_closeAll").show();
              });
              $(".j_closeAll").on('click', function () {
                $(this).hide();
                $(".hide_info_tr").hide();
                $(".j_openAll").show();
              });
            })();
          });
        })(jQuery);
      </script>
      <a href="https://static.firstp2p.com/attachment/201801/28/11/9014f7a6d55a07f590ff8f28eadf5a30/a0d852970790c008cf344314f7d36642.pdf"
        target="_blank"></a>
    </div>
  </div>

</div>
<div class="blank"></div>

{include file="web/views/footer.html"}