
body{background: url(../../images/medal/background.png) repeat-x; background-size: 5px auto;}
.p_medal .title{ height: 60px; background: rgba(27, 28, 32, 1); position: fixed; top: 0px; width: 100%;}
.p_medal .title .logo{ float: left; background:url(../../images/medal/logo.png) no-repeat 15px 10px; background-size: 40px 40px; height: 40px; padding: 10px 0 0 65px;color:rgba(144, 144, 144, 1);}
.p_medal .title .logo h2{ color: #fff; font-size: 15px;}
.p_medal .title .download_btn{ width: 74px; height: 30px; background:rgba(255, 200, 72, 1); border-radius: 3px; float: right; margin: 15px;}
.p_medal .title .download_btn a{color:rgba(51, 51, 51, 1); width: 100%; height: 100%; text-align: center; line-height: 30px; display: block; font-size: 15px;}
.p_medal .medal_icon{ text-align: center; margin:100px 37px 40px; background-size: 220px 220px; background-repeat: no-repeat; background-position:center top; padding-top: 260px;}
.p_medal .medal_icon .labelled_icon{ background:rgba(255, 200, 72, 1); border-radius:3px; padding: 3px 5px; display: inline-block; margin: 0 5px;}
.p_medal .medal_icon h2{ font-size: 36px; color: #fff; padding-top: 15px;}
.p_medal .medal_icon h3{ font-size: 15px; color: #fff;}
.p_medal .medal_title{padding: 10px 20px; color:rgba(144, 144, 144, 1);} 
.p_medal .medal_text{padding: 0 37px; color: #fff; font-size: 15px; padding-bottom: 20px;}
.p_medal .medal_detail,.p_medal .medal_schedule,.p_medal .medal_reward{ width: 12px; height: 16px; display: inline-block;margin-right: 5px; vertical-align:middle; background-repeat: no-repeat;}
.p_medal .medal_detail{background-image: url(../../images/medal/detail@3x.png); background-size: 12px 14px;}
.p_medal .medal_schedule{background-image: url(../../images/medal/schedule@3x.png); background-size: 12px 12px;}
.p_medal .medal_reward{background-image: url(../../images/medal/reward@3x.png); background-size: 12px 13px;}
.p_medal .color_yellow{color: #ffc542;}
.p_medal .pb20{padding-bottom: 20px;}