<!DOCTYPE html>
<html>
<head>
    {include file='web/views/hongbao/shareLogo.html'}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <!--public js&css start-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-base-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->asset->makeUrl('v1/css/m-common-1.css', 1);?>" rel="stylesheet" type="text/css" />
    <!--public js&css end-->
    <link href="<?php echo $this->asset->makeUrl('v1/css/hongbao/888hongbao.css', 1);?>" rel="stylesheet" type="text/css">
</head>
<body>
<div class="light_box" style="height:426px;">
    <div class="light"></div>
</div>
{include file="web/views/hongbao/xql/logo.html"}
<!-- <a href="#" class="rule">活动规则</a> -->
    <div class="top cry">
       <div class="qw_img mt39"></div>
       <div class="dao-btn mt10">
            <a  href="{$downloadUrl}" class="btn">{$downloadDesc}</a>
        </div>
    </div>
{include file="web/views/hongbao/hongbao_list.html"}
{include file="web/views/hongbao/js.html"}
</body>
</html>
