.m-head .fix_width span a{background-image:url(../images/logo_wx.png);width:139px;}
.m-head .fix_width span a{margin-top: 14px;}

.tabhd{display:none;}
.tabhd li a{height:56px; line-height:56px;}
.slide{ position:relative; height: 290px!important; }
#focus .bigImg li{height: 290px!important; }
.slide_img img{ height: 290px!important; }
#focus .imgNum,#focus .imgNum_none{height:80px!important;}
#focus .imgNum li ,#focus .imgNum_none li{height:80px!important;}
#focus .imgNum li div,#focus .imgNum_none li div{height:80px!important;+line-height:80px!important;}
.slide_img {height: 290px!important;}
.rightBt,.leftBt{top:90px!important;}
.earnings_box{ height:100px !important;}
.earnings_box h3{ padding:15px 0px !important}
.app{ display:none !important;}
