.p_donate_appreciate{text-align: center; overflow: hidden;}
.p_donate_appreciate .donate_appreciate{margin-top: 33px;}
.p_donate_appreciate .donate_img{width: 200px; height: 200px;}
.p_donate_appreciate .donate_text{font-size: 18px; color: #000000; padding-top: 20px;}
.p_donate_appreciate .donate_money{font-size: 48px; color: #ee4634;}
.p_donate_appreciate .donate_but{width: 180px;margin: 0 auto}
.p_donate_appreciate .donate_but input{height: 44px;line-height: 44px;font-size: 16px;color: #ee4634;background: #fff;border-radius: 2.5px;border:1px solid #ee4634;}
.p_donate_appreciate .donate_but .share_btn{width: 90%;height: 35px;line-height: 35px;font-size: 15px;color: #fff;background: #ee4634;border-radius: 5px;display:block;margin:0 auto 10px;}
.gongyi_bottom{position: fixed;bottom: 0;width: 100%;left: 0;z-index: -1;}
/*.p_donate_appreciate .wx_tip{z-index:20; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/icon/icon_wx_tip.png) no-repeat right top rgba(0,0,0,0.5); background-size:90px 90px; display:none;}*/

/*p-deal-success*/
.p_deal_success{padding:0px 0px 20px;}
/*.p_deal_success .head-figure{width:108px;height:86px;background: url(../images/deal/person.png) no-repeat; background-size: 100%; margin:20px auto 40px;}*/
.p_deal_success .deal-suc .f25{font-size: 25px;}
.p_deal_success .deal-suc span{display: block;}
.p_deal_success .deal-info{height: 1px;background: #c6c6c6;position:relative; margin: 30px 55px 0;}
.p_deal_success .info-txt{width: 64px;background: #f2f2f2;position: absolute;font-size: 10px;height: 15px;left:50%;margin-left: -32px;top:-7px;color: #8b97a2}
.p_deal_success .mt20{margin-top: 20px;}
.p_deal_success .deal-project{color: #8b97a2}
.p_deal_success .deal-foot{margin-top: 30px;padding: 0 15px;}
.p_deal_success .deal-foot .link_load{margin-top:20px;display: block;}
.p_deal_success .top{ text-align:center; font-size:18px; padding:15px;}

/*.p_deal_success .top .icon_yes{ background:url(../images/icon/icon_yes1.png) no-repeat; width:33px; height:33px; background-size:100%; vertical-align:middle; display:inline-block; margin-right:5px;}*/
.p_deal_success .item_text{ background:#fff; border-bottom:1px solid #dadcdd;border-top:1px solid #dadcdd; padding:15px; font-size:13px; color:#41474d;}
.p_deal_success .btn{ text-align:center; padding:20px 0px;}
.p_deal_success .btn a:hover{ color:#fff;}
.p_deal_success .bottom{ position:absolute; width:100%; bottom:20px; text-align:center; color:#7e7e7e;}
.p_deal_success .ui-pop-box{ height:180px; top:50%; margin-top:-90px;}
.p_deal_success .ui-pop-box .pop-head{ height:45px; line-height:45px; font-size:18px;}
.p_deal_success .ui-pop-box .pop-body p{ font-size:12px;}
.p_deal_success .ui-pop-box .pop-body p a{ text-decoration:underline;}
.p_deal_success .sc_top{ text-align: center; padding-top: 50px; margin-bottom: 17px;}
.p_deal_success .sc_success{ display: inline-block;width: 100px;height: 100px;background: url(../images/success_mark.png) no-repeat 0 0;background-size: cover;}
.p_deal_success .sc_top p{ font-size: 17px;color: #ee4634;margin-top: 23px;}
.p_deal_success .sc_top h3{ font-size: 10px;color: #909090;margin-top: 10px;}
.p_deal_success .sc_list{ background-color: #fff;border-top: 1px solid #d8d8d8;border-bottom: 1px solid #d8d8d8;padding-left: 13px; margin-bottom:15px;}
.p_deal_success .scl_show{ font-size: 13px;color: #8f8f8f;padding: 10px 0px;border-bottom: 1px solid #d8d8d8; }
.p_deal_success .scl_show:last-child{ border:none;}
.p_deal_success .discount_con{text-align: center;padding: 0 0 15px 0px;font-size：13px; color:#909090;}

.p_deal_success .scl_show span{ float: left;}
.p_deal_success .scl_show p{ margin-left: 60px;text-align: right;color: #41474d;margin-right: 20px;word-wrap:break-word;}
.p_deal_success .sc_footer{ position: fixed;bottom: 0px;left: 0px;right: 0px;height: 49px;line-height: 48px;background-color: #fff;text-align: center;padding: 0 13px;z-index: 999; border-top: 1px solid #d8d8d8;}
.p_deal_success .sc_footer a{ display: inline-block;background-color: #ee4634;text-align: center;height: 33px;line-height: 33px;color: #fff;font-size: 15px;border-radius: 3px;width: 100%;}
.p_deal_success .ts_color{ color: #000!important;}
.p_deal_success .sc_footer a.a_left{ margin-top: 8px;margin-right:7px; display:block; width:auto;}
.p_deal_success .sc_footer a.a_right{margin-top: 8px;margin-left:7px;display:block;width:auto;}
.p_deal_success .sc_footer .left_div{ float:left; width:50%}
.p_deal_success .gift_one{background: url(../images/suc_one.png) no-repeat center; width: 215px; height: 182px; position: fixed; bottom: 48px; background-size:100%; text-align: center; color: #fec848; left: 50%; margin-left: -107px;}
.p_deal_success .gift_one h2{padding-top: 45px; font-size: 15px;}
.p_deal_success .gift_one .gift_btn{ width: 70px; height: 70px; display: inline-block; margin-bottom: 5px;}
.p_deal_success .gift_one h3{}
.p_deal_success .gift_one .gift_close_btn{background: url(../images/close_gift.png) no-repeat; width: 20px; height: 20px; background-size: 100%; position: absolute; right:-5px; top: 10px;}
.p_deal_success .gift_more{background: url(../images/suc_two.png) no-repeat center; background-size:100%; width: 255px; margin-left: -127px;}
.p_deal_success .gift_more .gift_close_btn{right:15px; }
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .p_deal_success .sc_footer{ position: fixed;bottom: 0px;left: 0px;right: 0px;height: 49px;line-height: 48px;background-color: #fff;text-align: center;padding: 0 13px;z-index: 999; border-top: 1px solid #d8d8d8;padding-bottom: 34px;}
}