html,body{
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;
}
.p_privileges{}
.p_privileges .account_list{}
.p_privileges .account_list .account_name{font-size: 12px;color: #909090;margin-bottom: 10px;margin-top: 15px;padding-left: 15px;}
.p_privileges .account_list ul{background: #fff;}
.p_privileges .account_list ul li{font-size: 15px;color: #000;padding-left: 15px;padding-right: 10px;height: 50px;line-height: 50px;}
.p_privileges .account_list ul li:first-child{border-bottom: 1px #e6e6e6 solid;}
.p_privileges .account_list ul li .common_btn{width: 70px;height: 30px;line-height: 31px;text-align: center;font-size: 13px;border-radius: 3px;float: right;margin-top: 10px;}
.p_privileges .account_list ul li .common_btn a{color: #fff;}
.p_privileges .account_list ul li .cancle_authorize_btn{background: #fff;border:1px #e6e6e6 solid;}
.p_privileges .account_list ul li .authorize_btn{background: #ee4634;color: #fff;}
.p_privileges .privileges_remind{position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;z-index: 1000;}
.p_privileges .privileges_remind .bg_remind{position: fixed;z-index: 999;width: 100%;height: 100%;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);}
.p_privileges .privileges_remind .remind_box{width: 275px;border-radius: 3px;background: #fff;z-index: 1000;position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding: 0 15px;}
.p_privileges .remind_title{text-align: center;font-size: 17px;padding:15px 0;border-bottom: 1px #e6e6e6 solid;}
.p_privileges .remind_detail{font-size: 14px;text-align: center;margin-top: 13px;margin-bottom: 20px;}
.p_privileges .btn_contain{display: -webkit-box;margin-bottom: 15px;}
.p_privileges .button_common{-webkit-box-flex:1;height: 40px;line-height: 40px;text-align: center;font-size: 16px;border-radius: 3px ;}
.p_privileges .remind_cancle{background: #ebebeb;color: #909090;margin-right: 8px;}
.p_privileges .remind_confirm{background:#ee4634;color: #fff;margin-left: 8px;}
.p_privileges .disnone{display: none;}
.p_privileges .know_btn{width: 128px;height: 40px;line-height: 40px;text-align: center;margin:0 auto;background: #ee4634;color: #fff;margin-bottom: 15px;border-radius: 3px ;}
.ui_privilege_suc{background-image:url(../images/privilege_suc_icon.png);background-repeat:no-repeat;width:55px;height:55px;background-size:55px 55px;display:block;margin: 0 auto;}


.p_privileges .ui_page_title {width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;}
.p_privileges .ui_page_title .ui_page_title_con {width: 100%;height: 45px;background: #fff;border-bottom: 1px solid #f2f2f2;z-index: 999;}
.p_privileges .ui_page_title .ui_page_title_con .backbutton {position: absolute;left: 10px;color: #000;padding-left: 5px;background-size: 10px 16px;font-size: 14px;text-align: left;}
.p_privileges .ui_page_title .ui_page_title_con .back_arrow {width: 10px;height: 10px;border-width: 1px 0 0 1px;border-color: #000;border-style: solid;-webkit-transform: rotate(-405deg);-ms-transform: rotate(-405deg);transform: rotate(-405deg);display: inline-block;vertical-align: 0;}
.p_privileges .ui_page_title .ui_page_title_con .page_middle_title {width: 200px;height: 45px;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: absolute;left: 50%;margin-left: -100px;}
.p_privileges .no_coupon{background:url(../images/weikong.png) center top no-repeat; background-size: 150px 150px; height: 42px; text-align: center; padding-top: 135px; position: absolute; top: 50%; margin-top: -95px; width: 100%;color: #BFBFBF;font-size: 15px;}
/*适配iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .p_privileges .ui_page_title{ width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 34px;background: #fff;}
}
/*适配iPhone XR*/
@media only screen and (device-width: 414px) and (device-height: 896px) {
    .p_privileges .ui_page_title{ width: 100%;font-size: 18px;height: 45px;line-height: 45px;text-align: center;padding-top: 34px;background: #fff;}
}
    

.ui_ios_title{padding-top: 15px;background: #fff;}