html,body{ height:100%; background:#fff;}
.wrap{ padding:0px 24px 5px; background:url("../../images/contract/contract_puhui.png") no-repeat center 37px; background-size:199px; position:relative; height:100%; font-size:14px!important}
.wrap .tit{ padding-top:120px; font-size:12px}
.wrap .contract_list{ margin-top:20px;}
.wrap .contract_list ul li{ color:#72B1F9; padding:3% 0 0 16%; position:relative;}
.wrap .contract_list ul img{ width:20px; height:20px; position:absolute; left:7%; top:29%; }
.wrap .contract_list ul li a{ display:block; }
.wrap .contract_btn{ width:87%; background-color:#ED4634; height: 35px; text-align:center; line-height:35px; margin-top:61px; border-radius:2px; position:fixed; z-index:2; }
.wrap .contract_btn a{ color:#FFF; font-size:16px; display:block; width:100%; }
.mask{ width:120px; height:110px; background-color:#000; position:absolute; top:30%; left:50%; margin-left:-55px; border-radius:5px; opacity:0.73; }
.mask_img_true{ background:url("../../images/contract/back_true.png") no-repeat center 10px; background-size:44%; height:100%; }
.mask_img_err{ background:url("../../images/contract/back_err.png") no-repeat center 10px; background-size:44%; height:100%; }
.mask .mask_toast { display:block; padding-top:78px; text-align:center; color:#fff; }
.JS_preLoadImg{ background:url("../../images/contract/back_err.png"); }
.wrap .others{ position:relative!important; font-size:13px; padding-top:110px; }
.wrap .others span:nth-child(2){ float:right; }