.apply_state{padding-left:15px;background: #ffffff;}
.apply_state .apply_content{border-bottom: 1px #d9d9d9 solid;height: 60px;}
.apply_state .apply_left{float: left;}
.apply_state .apply_left .a_top{font-size: 15px;color: #000000;height: 21px;line-height: 21px;margin-top: 10px;margin-bottom: 3px;}
.apply_state .apply_left .a_bottom{font-size: 12px;color: #909090;height: 17px;line-height: 17px;margin-bottom: 10px;}
.apply_state .apply_right{float: right;margin-top: 15px;font-size: 13px;color: #909090;margin-right: 15px;}
.apply_state .red{color: #ee4634 !important;}
.last_border {border-bottom: 1px #d9d9d9 solid;}
.remove_border{border-bottom:none !important;}
.noRecord.applyList{
    text-align: center;
    font-size:14px;
    padding-top:150px;
}
.noRecord.applyList p{
    line-height: 20px;
}