.default{}
.default img{margin: 0 auto;width: 118px;padding-top: 30%;height: 116px;display: block;margin-bottom: 20px;}
.default p{text-align: center;font-size: 14px;color: #909090;}
.default a{color: #566da1;}