.biaodi{border-bottom: 1px #d9d9d9 solid;border-top: 1px #d9d9d9 solid;margin-top: 15px;padding:0 15px;background:#ffffff;padding-bottom: 15px;}
.biaodi .top{height: 50px;line-height: 50px;}
.biaodi .top img{width: 25px;height: 25px;float: left;display: inline-block;margin-top: 12px;}
.biaodi .top p{font-size: 18px;display: inline-block;margin-left: 10px;}
.biaodi .bottom{}
.biaodi .bottom li{font-size: 12px;color: #909090;height: 22px;line-height: 22px;}
.biaodi .bottom li i{position:absolute;background:#d8d8d8;width: 6px;height: 6px;border-radius: 50%;border:1px #d8d8d8 solid;margin-top: 6px;}
.biaodi .bottom li p{padding-left: 15px;display: inline-block;}
.biaodi .bottom li span{background: url("../../images/creditloan/point.png") no-repeat center right;background-size:auto 10px;display:inline-block;float: right;width: 10px;height: 15px;}