/*
.biaodi{border-bottom: 1px #d9d9d9 solid;border-top: 1px #d9d9d9 solid;margin-top: 15px;padding:0 15px;background:#ffffff;padding-bottom: 15px;}
.biaodi .top{height: 50px;line-height: 50px;}
.biaodi .top img{width: 25px;height: 25px;float: left;display: inline-block;margin-top: 12px;}
.biaodi .top p{font-size: 18px;display: inline-block;margin-left: 10px;}
.biaodi .bottom{}
.biaodi .bottom li{font-size: 12px;color: #909090;height: 22px;line-height: 22px;}
.biaodi .bottom li i{position:absolute;background:#d8d8d8;width: 6px;height: 6px;border-radius: 50%;border:1px #d8d8d8 solid;margin-top: 6px;}
.biaodi .bottom li p{padding-left: 15px;display: inline-block;}
.biaodi .bottom li span{background: url("../../images/creditloan/point.png") no-repeat center right;background-size:auto 10px;display:inline-block;float: right;width: 10px;height: 15px;}*/
.biaodiList{
    padding-top:15px;
    padding: 15px 4% 15px 4%;
    border-radius:5px;
    background-repeat:no-repeat;
    background-position: 0 0;
}
.biaodiList .biaodi{
    background-size: 100% 100%;
    min-height: 153px;
    position: relative;
    padding: 15px 4% 10px 4%;
    box-sizing: border-box;
}
.biaodiList .biaodi::after{
    position: absolute;
    content: "";
    background: url(../../images/creditloan/jiantou.png) no-repeat 0px 0px;
    background-size: 8px 13px;
    width: 8px;
    height: 15px;
    top: 50%;
    margin-top:-7px;
    right: 4%;
}
.biaodiList .biaodi:not(:first-child){
    margin-top:10px;
}
.biaodiList .biaodi.yxt{
    background-image:url("../../images/creditloan/biaodi_bg01.jpg");
}
.biaodiList .biaodi.bxt{
    background-image:url("../../images/creditloan/biaodi_bg02.jpg");
}
.biaodiList .biaodi.zyd{
    background-image:url("../../images/creditloan/biaodi_bg03.jpg");
}
.biaodiList .biaodi .top{
    height: 24px;
    font-size:0px;
}
.biaodiList .biaodi .top>*{
    vertical-align: top;
    display: inline-block;
}
.biaodiList .biaodi .top img{
    width:15px;
    height: 12px;
    margin-top:6px;
}
.biaodiList .biaodi .top p{
    font-size:17px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    margin-left:5px;
}
.biaodiList .biaodi .top span{
    height: 18px;
    line-height: 18px;
    background-color: #000;
    font-size:10px;
    color: #fff;
    margin:3px 0px 0px 8px;
    padding: 0px 5px;
    border-radius: 3px;
}
.biaodiList .biaodi .middle{
    height: 1px;
    width:50px;
    background-color: #fff;
    opacity:0.5;
    margin:4px 0px 0px 0px;
}
.biaodiList .biaodi .bottom{
    padding-top: 17px;
}
.biaodiList .biaodi .bottom li{
    color: rgba(255,255,255,0.7);
    min-height: 20px;
    line-height: 20px;
    position: relative;
    padding-left:10px;
}
.biaodiList .biaodi .bottom li:not(:first-child){
    margin-top:10px;
}
.biaodiList .biaodi .bottom li i{
    position: absolute;
    width:4px;
    height: 4px;
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    left: 0px;
    top: 8px;
}