<!DOCTYPE html>
<html lang="en">

<head>
    <title>网信5周年</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <!--public js&css start-->
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/fiveyears/base.css?v=2017070501011');?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset->makeUrl('v3/css/fiveyears/fiveyears.css?v=201707060206');?>">
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/fiveyears/zepto.js');?>"></script>
    <script type="text/javascript" src="<?php echo $this->asset->makeUrl('v3/js/fiveyears/index.js');?>"></script>
</head>

<body>
    {include file="web/views/v3/activity/share.html"}
    <div class="p_fifth">
        <!-- 分享遮罩层 -->
        <div class="ui_mask"></div>
        <!-- head -->
        <div class="topBox">
            <a href="http://event.ncfwx.com/zt/196">
                <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/ruleBtn.png');?>" alt="" class="ruleBtn">
            </a>
            <a href="javascript:void(0)" class="share">
                <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/shareBtn.png');?>" alt="" class="shareBtn">
            </a>
            <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/robot.png');?>" alt="" class="robot">
            <div class="emptyDiv"></div>
            <div class="fiveTop"></div>
            <div class="fiveLeftTop"></div>
            <div class="fiveLeft"></div>
            <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/fiveBottom.png');?>" alt="" class="fiveBottom">
            <span class="tip">市场有风险</span>
            <span class="tip2">投资需谨慎</span>
            <span class="date">2018年7月10日 ~ 7月21日</span>
        </div>
        <!-- 全民理财日 -->
        <div class="item-con licaiItem">
            <div class="title">
                <div class="titleCon">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/leftPoint.png');?>" alt="" class="pointImg pointLeft">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/lcTitle.png');?>" alt="" class="mainTitle">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/rightPoint.png');?>" alt="" class="pointImg pointRight">
                </div>
            </div>
            <div class="item">
                <div class="left infoBox">
                    <a href="javascript:void(0)" class="JS_xfd_btn">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/xfdBtn.png');?>" alt="">
                    </a>
                </div>
                <div class="right infoBox">
                    <span class="top">7月12日-7月14日</span>
                    <span class="info">0.4%-0.5%红包</span>
                </div>
            </div>
            <div class="item">
                <div class="left infoBox">
                    <a href="javascript:void(0)" class="JS_gyl_btn">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/gylBtn.png');?>" alt="">
                    </a>
                </div>
                <div class="right infoBox">
                    <span class="top">7月15日-7月17日</span>
                    <span class="info">0.4%-0.5%红包</span>
                </div>
            </div>
            <div class="item">
                <div class="left infoBox">
                    <a href="javascript:void(0)" class="JS_sxy_btn">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/sxyBtn.png');?>" alt="">
                    </a>
                </div>
                <div class="right infoBox">
                    <span class="top">随时预约，智投小助手</span>
                    <span class="info" style="color:#444">省心省力，助力领红包</span>
                </div>
            </div>
        </div>
        <!-- 718特权日 -->
        <div class="item-con tequanItem">
            <div class="title">
                <div class="titleCon">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/leftPoint.png');?>" alt="" class="pointImg pointLeft">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/tqTitle.png');?>" alt="" class="mainTitle">
                    <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/rightPoint.png');?>" alt="" class="pointImg pointRight">
                </div>
            </div>
            <span class="subTitle">
                7月18日00:00 ~ 7月18日23:59
            </span>
            <div class="itemBox">
                <div class="item">
                    <div class="top">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/word1.png');?>" alt="" class="leftWord">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/word2.png');?>" alt="" class="rightWord">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/line1.png');?>" alt="" class="line">
                    </div>
                    <span class="info">平台注册用户在7月18日邀请好友注册并使用新手礼包118元投资券（50000元起投，起投期限180天）投资，邀请人即可获得
                        <span style="color:#FD3B5B">118元红包</span>
                    </span>
                    <a href="javascript:void(0)" class="JS_invite_btn">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/tqItemBtn1.png');?>" alt="" class="btn">
                    </a>
                </div>
                <div class="item second">
                     <div class="top">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/word3.png');?>" alt="" class="leftWord" style="margin-left:31px">
<img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/word4.png');?>" alt="" class="rightWord" style="width:67px;">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/line2.png');?>" alt="" class="line">
                    </div>
                    <span class="info">投资带有“
                        <span style="color:#FD3B5B">周年0.8%红包</span>”标签的标的，即可获得年化投资金额0.8%红包。VIP会员在活动结束后，将额外获得年化投资金额1.0%红包</span>
                    <a href="javascript:void(0)" class="JS_target_btn">
                        <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/tqItemBtn2.png');?>" alt="" class="btn">
                    </a>
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="item-con moreItem">
            <div class="item">
                <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/moreItem1.png');?>" alt="" class="itemTitle">
                <span class="info">具体内容请见<span><a href="http://event.ncfwx.com/zt/196" style="color:#FD3B5B"><活动详细规则></a></span></span>
            </div>
            <div class="item second">
                <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/moreItem2.png');?>" alt="" class="itemTitle">
                <span class="info">7月12日，打开网信APP即可弹出一张网信周年生日礼券，券有效期30天。</span>
            </div>
            <div class="item third">
                <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/moreItem3.png');?>" alt="" class="itemTitle">
                <span class="info">7月19日-7月21日，打开网信APP每日10:00在领券中心限量抢五周年福利券。福利券有效期为3天。</span>
            </div>
        </div>
        <!-- 特别声明 -->
        <div class="bottom">
            <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/bottomTitle.png');?>" alt="">
            <div class="item">
                <span class="point"></span>
                <span class="info">参与活动即视为同意遵守本活动各项规则</span>
            </div>
            <div class="item">
                <span class="point"></span>
                <span class="info">如对本活动规则有任何疑问，请详询400-890-9888</span>
            </div>
            <div class="item">
                <span class="point"></span>
                <span class="info">如活动参与者采用任何技术或非技术手段，扰乱正常的活动秩序，一经核实，网信将拒绝兑现活动优惠及奖励并保留追究法律责任的权利</span>
            </div>
            <div class="item">
                <span class="point"></span>
                <span class="info">在依法合规前提下，网信保留对活动修改、调整和终止的权利</span>
            </div>
        </div>
         <!-- footer -->
        <div class="footer">
            <img src="<?php echo $this->asset->makeUrl('v3/images/fiveyears/logo.png');?>" alt="">
        </div>

    </div>
<script>
    var winW = document.documentElement.clientWidth;
    var fontSize = winW / 750 * 100;
    document.documentElement.style.fontSize = fontSize + "px";
 /*控制原生title右侧隐藏title传空按钮4.7.3*/
    window.location.href = "firstp2p://api?type=rightbtn&title=";
</script>
</body>

</html>
