<!DOCTYPE html>
<html>
<head>
    <title>新年步步高升活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link href="<?php echo $this->asset->makeUrl('v3/css/activity/spring_festival_2019/share.css');?>" rel="stylesheet" />
    <script>
        window.zhuge = window.zhuge || [];
        window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" ");
        window.zhuge.factory = function (b) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                a.unshift(b);
                window.zhuge.push(a);
                return window.zhuge;
            }
        };
        for (var i = 0; i < window.zhuge.methods.length; i++) {
            var key = window.zhuge.methods[i];
            window.zhuge[key] = window.zhuge.factory(key);
        }
        window.zhuge.load = function (b, x) {
            if (!document.getElementById("zhuge-js")) {
                var a = document.createElement("script");
                var verDate = new Date();
                var verStr = verDate.getFullYear().toString() + verDate.getMonth().toString() + verDate.getDate().toString();
                a.type = "text/javascript";
                a.id = "zhuge-js";
                a.async = !0;
                a.src = 'https://stat.ncfwx.com/zhuge.js?v=' + verStr;
                a.onerror = function () {
                    window.zhuge.identify = window.zhuge.track = function (ename, props, callback) {
                        if (callback && Object.prototype.toString.call(callback) === '[object Function]') callback();
                    };
                };
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(a, c);
                window.zhuge._init(b, x)
            }
        };
        window.zhuge.load('6f33d6821b27439dae59698798ef81d6', { debug: true, superProperty: { PlatformType: 'H5', xinbao: 1 }, autoTrack: true, singlePage: true }); //配置应用的AppKey -->
    </script>
</head>

<body class="body_tag" id="body_tag">
<div class="mainBox">
    <div class="loadingWrap" id="loadingWrap">
        <div class="rateText" id="rateText"><span id="loadRate">0</span>%</div>
        <div class="progressWrap">
            <div class="inner" id="loadProgress"></div>
        </div>
    </div>
    <div class="imgWrap topBanner">
        <img src="<?php echo $this->asset->makeUrl('v3/images/activity/spring_festival_2019/main/topBanner.jpg');?>"/>
        <div class="imgInner">
            <a href="https://event.ncfwx.com/zt/267" class="abs ruleLink"></a>
            <div class="timerTitle abs flexColumnCenter" id="timerTitle">

            </div>
            <div class="countDownWrap abs flexColumnCenter" id="countDownWrap">
                <div class="countDownUl">
                    <li class="countDownLi">
                        <div id="dayTimer">
                            <div class="unit">天</div>
                        </div>
                    </li>
                    <li class="countDownLi">
                        <div id="hourTimer">
                            <div class="unit">时</div>
                        </div>
                    </li>
                    <li class="countDownLi">
                        <div id="minuteTimer">
                            <div class="unit">分</div>
                        </div>
                    </li>
                </div>
                <div class="awardCodeTop">
                    <ul class="codeUl">

                    </ul>
                </div>
            </div>
            <!-- 数字信息 begin -->
            <div class="discountWrap abs">
                <dl class="firstNameWrap" >
                    <div class="firstName" id="firstName">

                    </div>
                </dl>
                <div class="bottom">
                    <dl class="dataInfor dealMoney">
                        <dt>好友已获助力总人数</dt>
                        <dd id="likeCount">0</dd>
                    </dl>
                    <dl class="dataInfor likeCount">
                        <dt>好友目前奖励翻倍值</dt>
                        <dd id="awardTimes">0</dd>
                    </dl>
                </div>
            </div>
            <!-- 数字信息 end -->
            <!-- 档位tab切换 begin -->
            <div class="tabWrap abs">
                <div class="tabContent" id="tabContent">
                    <div class="contentItem">
                        <div class="barWrap">
                            <div class="tickWrap">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="tickWrap">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="progress" id="tabProgress">
                            </div>
                            <div class="likeCountLevelWrap abs" id="likeCountLevelWrap">
                            </div>
                            <div class="factorWrap abs" id="factorWrap">
                            </div>
                        </div>
                        <div class="likeClikBtn" id="likeClikBtn" data-lock="0">

                        </div>
                    </div>
                </div>
            </div>
            <!-- 档位tab切换 end -->
        </div>
    </div>
    <!-- 助力小分队 begin -->
    <div class="peopleWrap">
        <div class="titleWrap abs">助力小分队</div>
        <div class="content" id="portraitContent">
        </div>
    </div>
    <!-- 助力小分队 end -->
    <!-- 分享弹窗 begin -->
    <div class="shareWrap" id="shareWrap">
        <div class="topMask">
        </div>
        <div class="content">
            <div class="title">
                呼叫助力小分队
            </div>
            <div class="shareBtnWrap">
                <dl class="shareDl">
                    <dt>
                        <img src="<?php echo $this->asset->makeUrl('v3/images/activity/spring_festival_2019/main/wx_people.png');?>"/>
                    </dt>
                    <dd>微信好友</dd>
                </dl>
                <dl class="shareDl">
                    <dt>
                        <img src="<?php echo $this->asset->makeUrl('v3/images/activity/spring_festival_2019/main/wx_circle.png');?>"/>
                    </dt>
                    <dd>朋友圈</dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- 分享弹窗 end -->
    <!-- 我也要参加 begin -->
    <a href="https://www.ncfwx.com/app" class="joinWrap" id="joinActivity">
        我也要参加
    </a>
    <!-- 我也要参加 end -->
</div>
<!-- toast提示 begin -->
<div class="toastWrap flexColumnCenter" id="toast">
    <div class="toastContent">

    </div>
</div>
<!-- toast提示 end -->
<!-- 弹窗提示 begin -->
<div class="popWrap flexColumnCenter" id="popWrap">
    <div class="popContent">
        <div class="leave_left">
        </div>
        <div class="leave_right">
        </div>
        <div class="title">

        </div>
        <div class="popInner">
            <p class="text"></p>
        </div>
        <div class="popClose abs">

        </div>
    </div>
</div>
<!-- 弹窗提示 end -->
<script type="text/html" id="countDownTpl">
    <div class="countDownItem">
        <span class="current top"><i></i></span>
        <span class="next top"><i></i></span>
        <span class="next bottom"><i></i></span>
        <span class="current bottom"><i></i></span>
    </div>
</script>
<script src="<?php echo $this->asset->makeUrl('v3/js/activity/spring_festival_2019/polyfill.min.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/activity/spring_festival_2019/jquery-3.3.1.min.js');?>"></script>
<script src="<?php echo $this->asset->makeUrl('v3/js/activity/spring_festival_2019/fastclick.min.js');?>"></script>
<script type="text/javascript">
    document.write('<script src="' + location.protocol + '//res.wx.qq.com/open/js/jweixin-1.3.2.js"><\/script>');
</script>
<script src="<?php echo $this->asset->makeUrl('v3/js/activity/spring_festival_2019/share.js');?>"></script>
</body>
</html>
