<p><span style="font-size:14px;font-family:arial;"><?=$notice['time_str']?>线下交易所项目还款清单如下：</span></p>
<style type="text/css">.tg  {border-collapse:collapse;border-spacing:0;}.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}.tg .tg-baqh{text-align:center;vertical-align:top}</style><table class="tg">
<tbody>
  <tr>
    <th class="tg-baqh">序号</th>
    <th class="tg-baqh">交易所备案编号</th>
    <th class="tg-baqh">期数</th>
    <th class="tg-baqh">交易所</th>
    <th class="tg-baqh">咨询机构</th>
    <th class="tg-baqh">发行人名称</th>
    <th class="tg-baqh">还款时间</th>
    <th class="tg-baqh">还款金额（元）</th>
  </tr>
  <tr>
   <?php foreach ($notice['list'] as $key => $item): ?>
    <td class="tg-baqh"><?=$key+1?></td>
    <td class="tg-baqh"><?=$item['jys_number']?></td>
    <td class="tg-baqh"><?=$item['batch_number']?></td>
    <td class="tg-baqh"><?=$item['jys_name']?></td>
    <td class="tg-baqh"><?=$item['consult_name']?></td>
    <td class="tg-baqh"><?=$item['fx_name']?></td>
    <td class="tg-baqh"><?=$item['repay_time']?></td>
    <td class="tg-baqh"><?=$item['repay_money']?></td>
  </tr>
<?php endforeach; ?>
</tbody>
</table>
