.shadow{ box-shadow:none; border:1px solid #e0dede; margin:25px 0px;}
.wrap{ width:1100px;}
.mess_title{ background:#fcfcfc; border-bottom:1px solid #e0dede; text-align:left; font-size:18px; padding-left:15px;}

#action-send-mobile-code {
    background: url("../../images/user/btn_bg.png") no-repeat scroll -223px -330px;
    font-size: 14px;
    height: 34px;
    line-height: 32px;
    width: 120px;
	border:none;
	color:#fff;
}
#action-send-mobile-code:hover {
    background: url("../../images/user/btn_bg.png") no-repeat scroll -351px -330px;
}
#action-send-mobile-code:active {
    background: url("../../images/user/btn_bg.png") no-repeat scroll -479px -330px;
}
.form-helper th{ font-size:16px; text-align:left; color:#4f4e4e;width:100px;}
.central-content{ margin-left:358px; padding-top:80px;}
input.text{ width:170px; padding:0px 5px; height:34px; border:1px solid #bababa;}

.form-helper th, .form-helper td{ padding-right:0px;}

.form-helper .submit, .form-helper .submit:hover, .form-helper .submit:active {
    background: url("../../images/investment_view/invest-con.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 46px;
    line-height: 46px;
    width: 248px;
	margin-top:40px;
}
.form-helper .submit {
    background-position: 0 -159px;
}
.form-helper .submit:hover {
    background-position: 0 -400px;
}
.icon_line {
    background: none repeat scroll 0 0 #f3491f;
    border: 1px solid #e43b19;
    display: inline-block;
    height: 18px;
    margin-top: -2px;
    vertical-align: middle;
    width: 3px;
	display:inline-block;
	margin-right:15px;
}

.form-helper .w117 { width: 117px; }
.form-helper .ipt-wrap { float: left; background: #FFFFFF; border: 1px solid #bababa; color: #4f4e4e; height: 34px; line-height: 34px; font-size: 14px; }
.form-helper .ipt-focus { border-color: #32a0fe; box-shadow: 1px 0px 2px rgba(183, 221, 253, 1), -1px 0px 2px rgba(183, 221, 253, 1), 0px 1px 2px rgba(183, 221, 253, 1), 0px -1px 2px rgba(183, 221, 253, 1); }
.form-helper .ipt-focus .areacode{color: #333}
.form-helper .areacode { float: left; color: #999; padding-left: 10px; }
.form-helper input.txt-tel {font-size: 14px; margin-left: 13px; float: left; display: block; border: none; color: #4f4e4e; float: left; height: 34px; line-height: 34px; width: 176px; font-size: 14px }
.form-helper input.txt-tel[type="password"]:focus, input.txt-tel[type="text"]:focus { border-color: transparent; box-shadow: none }
.form-helper input.txt-tel.w197 { width: 197px; }
.form-helper .select_box ul{top:35px;}
.pwd-item{position: relative;}