.p_vip_details .freedomCont{background:url(../../images/vip/freedomBg.png) no-repeat 0 0;background-size:100% 180px;text-align:center;height:160px;padding-top:20px;}
.p_vip_details .fd_img{width:72px;height:72px;}
.p_vip_details .fd_name,.p_vip_details .fd_abstract{color:#fff;letter-spacing:0;}
.p_vip_details .fd_name{padding-top:15px;font-size:15px;line-height:21px;}
.p_vip_details .fd_abstract{padding-top:5px;font-size:13px;line-height:18px;}
.p_vip_details .freedomIntr{background-color:#fff;padding:20px 18px 20px 12px;}
.p_vip_details .freedomIntr .fd_intr{font-size:14px;background:url(../../images/vip/detail.png) no-repeat 0 0;background-size:17px auto;padding-left:27px;color:#000000;}
.p_vip_details .freedomIntr .fd_details{font-size:14px;padding:12px 0 0 28px;color:#4D4F51;line-height:24px;}
.p_vip_details .freedomIntr table.freedomTb,.p_vip_details .freedomIntr table tr,.p_vip_details .freedomIntr table td{border:1px solid #999;}
.p_vip_details .freedomIntr table.freedomTb{text-align:center;margin-top:10px;margin-bottom:10px;font-size:12px;}
.p_vip_details .imgBg{background:url(../../images/vip/round.png) no-repeat center 0;background-size:72px 72px;}
.p_vip_details .goto_vip_box{height: 55px;}
.p_vip_details .goto_vip{position: fixed; bottom: 0px; height: 55px; width: 100%; background: #fff; border-top:1px solid #FAFAFA;}
.p_vip_details .goto_vip_btn{display: block;margin: 8px 15px; background: #CCA66F; color: #fff; text-align: center; height: 40px; line-height: 40px; font-size: 17px;}