input{
    border:none;
    background: transparent;
    outline: none;
}
.loginForm{
	width: 260px;
    margin: 70% auto 0 auto;
	/*background-color: red;*/
}
.loginForm .inputBox{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}
.loginForm .inputBox:nth-of-type(1){
    margin-top: 0px;
}
.loginForm input[type="text"],.loginForm input[type="password"]{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
}
.loginForm .account,.loginForm .password{
    width: 100%;
}
.loginForm .code{
    width:160px;
}
.loginForm .codeImg {
    width: 100px;
    height: 26px;
    margin-top: 2px;
}
.imgWrap .login_submitImg{
    width: 35%;
    margin: 30px auto 0px auto;
}
.submitBtn{
    display: block;
    margin: 0px auto;
    width: 35%;
    height: 100%;
}
.register_p{
    text-align: center;
    margin-top: 10px;
}
.register_p a{
    color: #f9b734;
    font-size: 12px;
    text-decoration: none;
}
.formTip{
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 50%;
    margin: -20px 0px 0px 0px;
    text-align: center;
    display: none;
}
.formTip span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    vertical-align: top;
    color: #fff;
}
.preErrorTip{
    display: none;
}
.inlbBox{
    font-size: 0px;
}
.inlbBox>*{
    display: inline-block;
    vertical-align: top;
}
