.top_banner{background:url(../../images/charity/event/top.jpg) no-repeat center top; background-size: 100%; padding-top: 51%;}
.bg_01{background:url(../../images/charity/event/bg_01.png);}

.top_text{ color:#333333; line-height: 20px;float:left; padding:0 30px; /*font-family: "宋体";*/}
.f18{font-size: 18px;}
.tr{ text-align: right;}
.tc{ text-align: right;}
.color_red{color:#f14368;}
.border_png{ border-bottom:6px solid rgba(0,0,0,0.1); padding:15px 0;}
.about_gy{padding:15px; line-height: 20px;}
.gy_title{background:url(../../images/charity/event/title_03.png) no-repeat; background-size: 81px 25px; height:25px;}
.dsj_title{background:url(../../images/charity/event/title_07.png) no-repeat; background-size: 76px 20px; height:20px;}
.sh_title{background:url(../../images/charity/event/title_11.png) no-repeat center; background-size: 109px 20px; height:20px;}
.gs_title{background:url(../../images/charity/event/title_14.png) no-repeat; background-size: 171px 28px; height:28px;}
.about_gy .text{padding:20px 15px 30px;}
.text_02{padding-bottom: 20px;}
.text_02 .con{ margin-left: 194px; line-height: 110px;}
.text_02 .con .v_middle{display:inline-block; vertical-align: middle; line-height: 20px;}
.text_02 .img{ float:left;}

.text_03{padding-bottom: 20px;}
.text_03 .con{ margin-right: 194px; line-height: 110px;}
.text_03 .con .v_middle{display:inline-block; vertical-align: middle; line-height: 20px;}
.text_03 .img{ float:right;}
.sh_list{background:url(../../images/charity/event/sh_img.png) no-repeat center; background-size: 246px 212px; height:212px;margin: 20px 0;}
.story_bg{background:url(../../images/charity/event/story_bg.jpg); padding: 20px 15px; color:#fff;background-size: 100% 100%; padding-bottom: 40px;}
.story_bg .text{padding:15px 15px 30px;}
.story_bg .btn_see,.story_bg .btn_form{width:150px; height:30px; display:block; margin: 15px auto 0;background-image:url(../../images/charity/event/btn.png); background-repeat: no-repeat; background-size: 100%; }
.story_bg .btn_see{background-position: 0 0;}
.story_bg .btn_form{background-position: 0 -43px;}
.summary .title{background:url(../../images/charity/event/title_18.png) no-repeat center top; background-size: 235px 27px; margin:20px; text-align: center;}
.summary .title p{font-weight:bold; padding-top: 35px;}
.bg_black,.bg_red{background:#333; width:19px; height:19px; display:inline-block; margin-left: 20px; vertical-align: -4px; margin-right: 8px;}
.bg_red{ background:#f14368;}
.summary_list {padding-bottom: 40px;}
.summary_list li{list-style: none; font-size: 12px; padding:3px 13px; line-height: 18px;}
.pb20{ padding-bottom: 20px;}
.about_p2p_bg{background:url(../../images/charity/event/bg_01.png); padding:20px;}
.about_p2p_bg .title{background:url(../../images/charity/event/title_21.png) no-repeat; background-size: 97px 25px; height:45px;}
.about_text{ padding:0 20px; line-height: 24px;}
.about_text p{ padding-bottom: 15px;}
.down_btn a{width:150px; height:30px; display:block; margin: 15px auto 0;background-image:url(../../images/charity/event/down.png); background-repeat: no-repeat; background-size: 100%;}
.code{ text-align: center; width:166px; float:left;padding-top: 5px; padding-right: 35px;}
.code p{padding-top: 20px;}
.footer{ background:#353435;height:15px;}