body{background: url("../../images/charity/bg_main.jpg") no-repeat 0 0 fixed;background-size: 100% 100%;width: 100%;height: 100%;}
.m-main{ width: 100%;height: 100%;}
.page1,.page2{ background-size: 100%;width: 100%;height: 100%;}
.page1 .head_img{height:63px; padding-top: 70px;text-align: right; padding-right: 35px;}
.page1 .head_img img{width:63px;height:63px; border:rgba(255,255,255,0.5) solid 3px;border-radius: 50%;}
.page1 .user_info{text-align: right;padding-right: 35px;color: #fff;padding-top: 15px;font-size: 14px;}
.active .user_info{-webkit-animation:fadeinText 0.8s 0.5s;}
.page1 .user_info span{color:#ffce78;}
.page1 .user_info .border_t{border-top: 1px solid #d0c4b4; width:190px; float: right;padding-top:5px; margin-top:5px; }
.page1 .story{position: relative;}
.page1 .story .story_one,.page1 .story .story_two,.page1 .story .story_three{position:absolute;}
.story_one{height:63px;width:63px;left:29%; top: 30px;}
.active .story_one{-webkit-animation:scale 0.8s 0.5s;}
.active .story_two{-webkit-animation:scale 0.8s 1s; }
.active .story_three{-webkit-animation:scale 0.8s 1.2s; }
.page1 .story .story_two{width:86px; height:86px;left:61%; top: 15px;}
.page1 .story .story_three{width:82px; height:82px;left:44%; top: 170px;}
.page1 .story img{ width:100%;}
@media screen and (max-height: 480px) {
.page1 .head_img{padding-top: 35px;}
.page1 .story .story_three{top:127px;}
}
.page2 .user_hot{padding-top: 38%; text-align: right; padding-right: 38px; color:#ffce78;font-size: 14px;}
.active .user_hot .user_hot_text1{-webkit-animation:fadeinText 0.8s 0.5s;}
.active .user_hot .user_hot_text2{-webkit-animation:fadeinText 0.8s 0.7s;}
.active .user_hot .user_hot_text3{-webkit-animation:fadeinText 0.8s 0.9s;}
.active .user_hot .user_hot_text4{-webkit-animation:fadeinText 0.8s 1.1s;}
.active .user_hot .user_hot_text5{-webkit-animation:fadeinText 0.8s 1.3s;}

.page2 .user_hot .border_t{border-top: 1px solid #d0c4b4; width:200px; float: right;padding-top:5px; margin-top:5px; }
.page2 .user_hot h2{font-size: 9px; color:#fff; opacity: 0.5;}
.page2 .user_hot .deal_img{height:86px; padding-top: 15px;}
.page2 .user_hot .deal_img img{width:86px;}
.page2 .clear{clear:both;}
.page3{background-size: 100%;width: 100%;height: 100%;}
.page3 .text_img{background: url("../../images/charity/page3_img.png") no-repeat center 0;background-size: auto 100%;padding-top:45%;margin:0 auto;}
.page3 .text_bg{background:rgba(33,23,15,0.3);padding:20px 0; width:75%; margin:0 auto;}
.active .text_img{-webkit-animation:scale 0.8s 0.8s;}
.page3 .pt{padding-top: 40%;}
.page3 .btn{padding-top: 20%;}
.btn_see,.btn_shear{padding-top:14%; width:78%;margin:0 auto; display: block; margin-bottom: 10px;}
.btn_see{background: url("../../images/charity/btn_see.png") no-repeat 0 0; background-size: 100%;}
.btn_shear{background: url("../../images/charity/btn_shear.png") no-repeat 0 0; background-size: 100%;}
.ui_arrow{background: url("../../images/charity/arrow.png") no-repeat center 0; background-size: auto 100%; padding-top: 10%;position:absolute; bottom:30px; width:100%;-webkit-animation:fadeinT 1.2s infinite;}
.ui_mask{width:100%; height:100%; position:absolute; left:0;top:0;background:rgba(0,0,0,0.5);}
.shear_icon{position:absolute; top: 0px; right:20px;background: url("../../images/charity/shear_icon.png") no-repeat right 0; padding-top: 32%; background-size: auto 100%; width:100%;}
@-webkit-keyframes fadeinT{
    0%{opacity:0.5;bottom:50px;}
    100%{opacity:1;bottom:30px;}
}
@-webkit-keyframes fadeinText{
    0%{margin-right:-100px;}
    100%{margin-right:0px;}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    30%{-webkit-transform: scale(1.2);}
    60%{-webkit-transform: scale(0.8);}
    100%{{-webkit-transform: scale(1);}
}
