body{ background: url(../../images/charity/page1_bg.jpg) no-repeat 0 0;background-size: 100%;width: 100%;height: 100%;}
.pt{padding-top: 80%;}
.input_box{display: -webkit-box;}
.report{padding:22% 0 10%; width:250px; margin:0 auto;}
.report .input_box{padding-bottom: 10px;}
.report .input_box .ui_input{display: block;-webkit-box-flex: 1; border:none;height:38px; border-radius: 5px; background:rgba(255,255,255,0.9); text-align: center; font-size: 18px; color: #666666;}
.report .input_box .ui_input::-webkit-input-placeholder{color:#666666;}
.report .input_box .generated_btn{background:url("../../images/charity/btn.png"); color:#fff; font-size: 18px;height:38px; background-size: 100% 38px;display: block;-webkit-box-flex: 1;border: none;}
.mr10{margin-right: 10px;}
.no_list{background: url("../../images/charity/bg_main.jpg") no-repeat 0 0;background-size: 100%;width: 100%;height: 100%;}
.no_list .text{font-size: 14px;color:#ffce78;text-align: right;padding-right: 35px; padding-top: 43%;}
.no_list .text h2{color:#fff; opacity: 0.5; border-bottom: 1px solid rgba(255,255,255,0.5); width:200px;font-size:9px; float:right; padding-bottom: 5px; margin-bottom: 5px;}
.no_list .text p{clear:both;}