.bg_gray{background:#F5F5FA;}
.remind{font-size: 14px;padding: 15px;}
span.red{color: red;}
.stem{font-weight: bold;font-size: 14px;padding: 0 15px;}
.statement{padding: 10px 15px;font-size: 14px;}
.risk_assessment .question{padding: 25px 15px;font-size: 16px;}
.risk_assessment .choice{font-size: 14px;color: #909090;border-top: 1px #e6e6e6 solid;border-bottom: 1px #e6e6e6 solid;background:#ffffff;padding-left: 15px; }
.risk_assessment .choice li{padding: 20px 50px 20px 0px;border-bottom: 1px #e6e6e6 solid;}
.risk_assessment .choice li:last-child{border-bottom: none;}
.risk_assessment .mark{background: url(../../images/user/mark.png) no-repeat 95% center;background-size: 15px;}
.risk_assessment .sub_but{position: fixed;bottom: 0px;width: 100%;z-index: 8;background: #fff;}
.risk_assessment .sub_but .but{background:#d9d9d9;width:94%;line-height: 40px;border-radius: 2.5px;font-size: 16px;color: #ffffff;display: block;text-align: center;margin:10px auto;}
.risk_assessment .active{background: #ee4634 !important;}
.risk_assessment .pop .opacity{opacity: 0.4;background-color: #000;height: 100%;width: 100%;position: fixed;top: 0px;z-index: 10;}
.risk_assessment .pop .assessment_finish{border-radius:10px;background:#f2f2f2;font-size: 16px;text-align:center;height: 140px;width:270px;position: fixed;top: 50%;margin-top: -70px;left:50%;margin-left:-135px;z-index: 100;}
.risk_assessment .pop .assessment_finish .title{font-weight: bold;margin-top: 20px;margin-bottom: 5px;}
.risk_assessment .pop .assessment_finish .type{padding-bottom: 20px;border-bottom: 1px #cbcbcb solid;}
.risk_assessment .pop .assessment_finish .sure{color: #0076ff;line-height: 44px;width: 255px;display: block;height: 44px;margin: 0 auto;}
.risk_assessment .ui_risk_tips {text-align: center;color: #cccccc;position: relative;margin: 30px 60px;}
.risk_assessment .ui_risk_tips .line {background: #e6e6e6;position: absolute;width: 100%;height: 1px;left: 0px;top: 8px;}
.risk_assessment .ui_risk_tips span {background: #F5F5FA;display: inline-block;position: relative;padding: 0 10px;}
.risk_assessment .display_none{display: none;}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .risk_assessment .sub_but{position: fixed;bottom: 0px;width: 100%;z-index: 8;background: #fff;padding-bottom: 34px;}
}