  /*信息披露样式*/
	*{
		color: #4f4e4e;
		text-decoration: none;
		outline: none;
		-moz-user-select: none;
	}
	body,
	div,
	dl,
	dt,
	dd,
	ul,
	ol,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	pre,
	code,
	form,
	fieldset,
	legend,
	input,
	textarea,
	p,
	blockquote,
	th,
	td,
	hr,
	button,
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		margin: 0;
		padding: 0;
	}

	address,
	caption,
	cite,
	code,
	dfn,
	em,
	th,
	var,
	i {
		font-style: normal;
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 100%;
		font-weight: normal
	}

	ol,
	ul {
		list-style: none;
	}

	fieldset,
	img {
		border: 0
	}

	del,
	ins {
		text-decoration: none
	}

	caption,
	th {
		text-align: left
	}

	html {
		color: #000;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%
	}

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block
	}

	audio,
	canvas,
	video {
		display: inline-block;
		*display: inline;
		*zoom: 1
	}

	a {
		outline: none;
	}

	body {
		background: #f6f7f8;
	}

	.information_disclosure {
		width: 1100px;
		margin: 0 auto;
		color: #333;
		margin-top: 20px;
		background: #fff;
		margin-bottom: 80px;
		padding-bottom: 50px;
	}

	.information_disclosure .inf_title {
		font-size: 24px;
		text-align: center;
		margin: 55px 0px 20px 0;
	}

	.information_disclosure .inf_title1 {
		font-size: 24px;
		text-align: center;
		margin: 148px 0px 20px 0;
	}

	.information_disclosure .big_title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 28px;
	}

	.information_disclosure .img_point {
		position: relative;
		top: -24px;
	}

	.information_disclosure .black_line {
		height: 1px;
		width: 188px;
		background: #888888;
		margin: 0 auto;
		margin-top: 5px;
	}

	.information_disclosure .inf_text {
		font-size: 16px;
		margin-bottom: 60px;
		margin-top: 20px;
	}

	.information_disclosure .text_left {
		float: left;
		display: inline-block;
		line-height: 40px;
	}

	.information_disclosure .text_right {
		padding-left: 140px;
		line-height: 40px;
	}

	.information_disclosure .img_jiagou {
		margin: 0 auto;
		display: block;
	}

	.information_disclosure .jiagou {
		margin-bottom: 100px;
		margin-left: -22px;
	}

	.information_disclosure .wid480 {
		width: 480px;
	}

	.information_disclosure .leader {
		padding: 35px 0px;
		overflow: hidden;
	}

	.information_disclosure .leader_img {
		float: left;
	}

	.information_disclosure .leader_inf {
		margin-top: 18px;
		padding-left: 40px;
		height: 140px;
		font-size: 16px;
		line-height: 25px;
		display: table;
		overflow: hidden;
	}

	.information_disclosure .leader_inf .contain {
		vertical-align: middle;
		display: table-cell;
	}

	.information_disclosure .leader_name {
		font-size: 24px;
		margin-bottom: 4px;
	}

	.information_disclosure .gudong {
		height: 90px;
		width: 100%;
		background: #f6f7fb;
		text-align: center;
		padding-top: 20px;
		margin-bottom: 40px;
		font-size: 16px;
	}

	.information_disclosure .fl {
		float: left;
	}

	.information_disclosure .tc {
		text-align: center;
	}

	/*企业信息*/
	.information_disclosure .info_tab_con {
		display: none;
	}

	.information_disclosure .business_info {
		display: block;
		padding: 0 82px 40px 82px;
	}

	.information_disclosure ul {
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #ececec;
	}

	.information_disclosure ul li {
		float: left;
		font-size: 16px;
		padding-left: 60px;
	}

	.information_disclosure ul li.select a {
		color: #ee4634;
		font-weight: 600;
	}

	.information_disclosure .business_tb {
		border: 1px solid #ececec;
		width: auto;
	}

	.information_disclosure .business_tb tr {
		font-size: 14px;
		line-height: 24px;
		border: 1px solid #ececec;
	}

	.information_disclosure .business_tb tr td {
		padding: 13px 0px 13px 28px;
		border: 1px solid #ececec;
	}

	.information_disclosure .business_tb tr td:nth-child(odd) {
		width: 150px;
		background-color: #fbfbfb;
	}

	.information_disclosure .business_tb tr td:nth-child(even) {
		width: 312px;
	}

	.information_disclosure .business_tb tr td:first-child {
		padding: 13px 5px 13px 28px;
	}

	.information_disclosure .business_tb tr td.pr30 {
		padding-right: 30px;
	}

	.information_disclosure .business_tb tr.hide_info_tr {
		display: none;
	}

	.information_disclosure a.openall {
		font-size: 14px;
		color: #46aee2;
	}

	.information_disclosure a.closeall {
		font-size: 14px;
		color: #46aee2;
		display: none;
	}

	.information_disclosure .gudong p.experience {
		font-size: 18px;
	}

	.information_disclosure .wid300 {
		width: 300px;
	}

	.information_disclosure .wid400 {
		width: 400px;
	}

	.information_disclosure .platform_info {
		width: 940px;
		background: #f6f7fb;
		padding: 50px 0 45px 0;
	}

	.information_disclosure .platform_info p {
		font-size: 18px;
		padding-bottom: 5px;
	}

	.information_disclosure .platform_info p span {
		font-weight: 600;
	}

	.information_disclosure .platform_info .pdb20 {
		padding-bottom: 20px;
	}

	/*数据展示*/
	.information_disclosure .information_disclosure_tab .data_show {
		/* display: block; */
		padding: 55px 60px;
	}

	.information_disclosure .information_disclosure_tab .data_show .data_cont {
		height: 123px;
		padding-top: 80px;
	}

	.information_disclosure .information_disclosure_tab .data_show .total_transaction {
		width: 316px;
		height: 122px;
		margin-right: 40px;
		background: url(https://static.firstp2p.com/attachment/201706/26/14/3cec56e34b9aeef7dc34a824edafe49b/index.jpg) no-repeat 0 0;
		padding-top: 22px;
	}

	.information_disclosure .information_disclosure_tab .data_show .total_investor {
		width: 262px;
		height: 122px;
		margin-right: 40px;
		background: url(https://static.firstp2p.com/attachment/201706/26/14/ff13704c53f2a4cf74a0385e66d574fb/index.jpg) no-repeat 0 0;
		padding-top: 22px;
	}

	.information_disclosure .information_disclosure_tab .data_show .interest_income {
		width: 316px;
		height: 122px;
		background: url(https://static.firstp2p.com/attachment/201706/26/14/3cec56e34b9aeef7dc34a824edafe49b/index.jpg) no-repeat 0 0;
		padding-top: 22px;
	}

	.information_disclosure .information_disclosure_tab .data_show .data_text {
		font-size: 18px;
		font-weight: 600;
	}

	.information_disclosure .information_disclosure_tab .data_show .data_num {
		font-size: 24px;
		color: #ff4258;
		font-weight: 600;
		padding-top: 8px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont {
		min-height: 360px;
		padding-left: 35px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_div {
		width: 250px;
		padding: 260px 0 50px 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic1 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/dcdf27d76ad81994c9550702f5a28d86/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic2 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/cedfdc567c072142e70d9d8b5b13be73/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic3 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/93a1b4869a8fb55b44fa674fb9482dea/index.jpg) no-repeat center 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic4 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/57e054b03724557808b68d39e8fa71f2/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic5 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/661ecf4d60c1ed68eb32a4708ab72b52/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic6 {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/802ac050e36e7e314a5507ca660ba617/index.jpg) no-repeat center 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic7 {
		background: url(https://static.firstp2p.com/attachment/201712/01/14/6e4693d02b713f1ab741ca7e6afa1de2/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic8 {
		background: url(https://static.firstp2p.com/attachment/201712/01/14/c868546c66f82318c374b3075c5db85d/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic9 {
		background: url(https://static.firstp2p.com/attachment/201712/01/14/f36401ed4e66cd5f218eedcd1beebe5b/index.jpg) no-repeat center 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic10 {
		background: url(https://static.firstp2p.com/attachment/201712/01/14/6b68249a9929992417086c03ca4bee12/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic11 {
		background: url(https://static.firstp2p.com/attachment/201712/01/14/4e973e70377d41e089d7951610292965/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic12 {
		background: url(https://static.firstp2p.com/attachment/201801/18/17/806ecbbec6617cd435342b5ba77fe2c9/index.jpg) no-repeat center 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic13 {
		background: url(https://static.firstp2p.com/attachment/201801/18/17/c6213a153123e00d1a5ebe8a374fc961/index.jpg) no-repeat center 0;
		margin-left: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic14 {
		background: url(https://static.firstp2p.com/attachment/201801/18/17/6b03b301eab4277449928fa6b3451db8/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic15 {
		background: url(https://static.firstp2p.com/attachment/201801/18/17/fa196dd39a19eefaa7c52736b05265f1/index.jpg) no-repeat center 0;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic16 {
		background: url(https://static.firstp2p.com/attachment/201801/26/16/512463018d8fae0ea1abee00c62baada/index.jpg) no-repeat center 0;
		margin-right: 72px;
	}

	.information_disclosure .information_disclosure_tab .data_show .binfo_cont .bgpic17 {
		background: url(https://static.firstp2p.com/attachment/201801/26/16/a190dca98cbb97c22b2c6709125e90ff/index.jpg) no-repeat center 0;
		margin-right: 100px;
	}

	.Overdue_project {
		background: url(https://static.firstp2p.com/attachment/201706/26/14/a4660a84dccaf787e199a828bdbbeb3a/index.jpg) no-repeat center bottom;
		padding-bottom: 10px;
		font-size: 24px;
		margin-bottom: 85px;
	}

	.information_disclosure .information_disclosure_tab .data_show .pdt50 {
		padding-top: 50px;
	}

	/*政策法规*/
	.information_disclosure .policies_regulations {
		padding: 0 56px 50px 64px;
	}

	.information_disclosure .policies_regulations .policies_cont {
		min-height: 295px;
		margin-bottom: 40px;
	}

	.information_disclosure .policies_regulations .policies_div_c {
		padding: 130px 25px 0 20px;
		width: 165px;
		height: 160px;
		margin-right: 44px;
		background: url(https://static.firstp2p.com/attachment/201707/04/14/0037d3820dd95261d071555d1fe46700/index.jpg) no-repeat 0 0;
	}

	.information_disclosure .policies_regulations .policies_div_w {
		padding: 112px 25px 0 20px;
		width: 165px;
		height: 178px;
		margin-right: 44px;
		background: url(https://static.firstp2p.com/attachment/201707/04/14/0037d3820dd95261d071555d1fe46700/index.jpg) no-repeat 0 0;
	}

	.information_disclosure .policies_regulations .mr0 {
		margin-right: 0;
	}

	.information_disclosure .policies_regulations .fts22 {
		font-size: 21px;
		line-height: 28px;
	}

	.information_disclosure .policies_regulations span.fts16 {
		font-size: 16px;
	}

	/*专项报告*/
	.information_disclosure .special_report {
		padding: 0 60px 60px 60px;
	}

	.information_disclosure .special_report .report_cont {
		min-height: 295px;
		margin-bottom: 40px;
	}

	.information_disclosure .special_report .report_div {
		width: 220px;
		height: 270px;
		margin-right: 32px;
	}
	.information_disclosure .operate_report .report_div, .disclosure_template .report_div {
		margin-right: 32px;
	}
	.information_disclosure .special_report .mr0, .information_disclosure .operate_report .mr0, .disclosure_template .mr0 {
		margin-right: 0;
	}

	.fts16 {
		font-size: 16px;
	}

	.ph_title {
		width: 1100px;
		margin: 22px auto;
		font-size: 14px;
	}

	.operate_report, .disclosure_template{
		padding: 0 60px 60px 60px;
		min-height: 700px;
	}

	.operate_report .operate_cont a, .disclosure_template .operate_cont a {
		font-size: 18px;
		color: #2ea7e0;
	}

	.major_matters {
		padding: 0 60px 60px 60px;
		min-height: 500px;
	}

	.information_disclosure .policies_regulations .fts12 {
		font-size: 12px;
	}

	.shoufei table {
		line-height: 76px;
		color: #284a71;
	}

	.shoufei h2,
	.shoufei h3 {
		text-align: left;
		font-size: 16px;
		padding: 30px 0;
	}

	.shoufei h3 {
		padding: 30px 0;
	}

	.shoufei table thead {
		line-height: 76px;
		color: #fff;
	}

	.shoufei table thead th {
		text-align: center
	}

	.shoufei table thead tr {
		background: #6b9ad0;
	}

	.tr_one {
		background: #d4deed;
	}

	.tr_two {
		background: #ebeff6;
	}

	.line_box {
		height: 76px;
		position: relative;
		line-height: 38px;
	}

	.shoufei table thead .line {
		width: 107%;
		height: 1px;
		position: absolute;
		background: #fff;
		-webkit-transform: rotate(19deg);
		top: 38px;
		left: -6px;
	}