.carnival_choice_box{ padding:40px 30px 40px; line-height:30px; font-size:14px;}
.carnival_choice_box .tip{ color:#f00; font-size:16px;}
.sumbtn { background: #ffb904; border-radius: 3px; color: #FFF; display: inline-block; font-size: 16px; height: 36px; line-height: 36px; margin: 30px 0 0 0; text-align: center; width: 114px; border: none; cursor: pointer; }
.sumbtn:hover { background: #ffca40; }
.sumbtn:active { background: #e5a500; }
.award_type{ margin-left:60px;}
.carnival_choice{ display:none;}
.virtual_box{margin:30px 0 0 60px;}
.practical_box{ margin:30px 0 0;}
.practical_box table{ margin-left:200px;}
.practical_box th{width: 80px; font-size: 14px; font-weight:normal; text-align:right; height: 50px; line-height: 30px;}
.practical_box td{width: 420px; height: 28px; line-height: 28px; }
.practical_box .text,.select_box{ background: #FFFFFF; border: 1px solid #bababa; color: #000; font-size: 14px; height: 28px; line-height: 28px; padding: 0px 5px; width: 400px; margin-left:5px}
.select_box{ margin-left: 5px; width:131px; color:#000;}
.ui-popup-show .ui-dialog{ position:static; padding:0;}