@charset "utf-8";
.wrap { width: auto; }
.w980 { width: 1100px; }
.shadow { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; border-radius: 0; background: #fff; border: 1px solid #e3e3e3; margin-top: 23px; }
.shadow .tc { text-align: left; }
.mess_title { background: url(../images/common/h2-icon.png) no-repeat 15px center #fcfcfc; color: #1a1f25; font-size: 18px; padding-left: 30px; border-bottom: 1px solid #e3e3e3; }
input[type="password"]:focus, input[type="text"]:focus { border-color: #f85c3c; box-shadow: none; }
.sumbtn, .sumbtn:hover, .sumbtn:active { width: 248px; height: 46px; line-height: 46px; background: url(../images/investment_view/invest-con.png) no-repeat; }
.sumbtn { background-position: 0 -159px; }
.sumbtn:hover { background-position: 0 -400px; }
.sumbtn:active { background-position: 0 -455px; }
.pw-info li:nth-child(5) label { width: 28px }
.mess_title .phone-tip { display: none }
.step1-img{ margin-top:47px;}
.but-yellow, .but-yellow:hover, .but-yellow:active { width: 248px; height: 46px; line-height: 46px; background: url(../images/investment_view/invest-con.png) no-repeat; }
.but-yellow { background-position: 0 -159px; }
.but-yellow:hover { background-position: 0 -400px; }
.but-yellow:active { background-position: 0 -455px; }
.step1-btn .gray, .step1-btn .gray:hover, .step1-btn .gray:active { width: 248px; height: 46px; line-height: 46px; background: url(../images/investment_view/invest-con.png) 0 -693px no-repeat; }
.fd-btn-code, .fd-btn-code.gray { background-image: url(../images/edit-phone/phone-send.png); background-repeat: no-repeat; }
.fd-btn-code { width: 120px; text-align: center; height: 34px; line-height: 34px; font-size: 14px; background-position: 0 0 }
.fd-btn-code.gray { background-position: 0 -46px }
.edt-tab table, .edt-tab2 table { margin-bottom: 10px; margin-top:30px;}
.step1-btn { margin-top: 10px; }
.text-color { color: #e43b19; }
.edt-tab table thead th { padding-left: 0; font-size: 14px;text-align: center }
.edt-tab { margin-left: 0 }
.edit-step1 { width: 660px; padding-bottom:10px;}
.step2-btn, .but-gray { font-size: 18px; }
.idbox { height: 34px; line-height: 34px; font-size: 14px; padding: 0 10px }
.edit-step3 { margin-left: auto }
.edit-step3 { border: none }
.edit-suc, .edit-fail { width: 43px; height: 43px; background-image: url(../images/common/password_skin.png); }
.edit-suc { background-position: 0 -49px; }
.edit-fail { background-position: 0 0; }
.edit-step3  .red { color: #f75d3e !important; }
.edit-step3  .font16 .red { padding: 0 5px; margin-right: 0; }
.edit-step3 a { text-decoration: underline; color: #0893ff }
.edts-footer { font-size: 14px; padding-bottom:45px;}
.edt-tab2 table td.yanzheng{position: relative;}
.edt-tab2 table td.yanzheng img{position:absolute;left:180px;top:20px;}
.formvalidError {min-height: 18px;*margin-bottom: 0}

