@charset utf-8;
.edit-mid{width:980px;margin:0 auto;background:#fff;-webkit-box-shadow:0 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0 1px 5px 2px rgba(52,52,52,0.1);box-shadow:0 1px 5px 2px rgba(52,52,52,0.1);border-top:3px solid #feb804;border-radius:3px;position:relative;color:#878787;}
.txt{background:#FFFFFF;border:1px solid #bababa;color:#999999;float:left;font-size:14px;height:28px;line-height:28px;padding:1px 5px;width:180px;}
.blank80{display:block;height:80px;width:100%;clear:both;}
.edit-success{margin:30px;text-align:center;margin-left:10px;}
.edit-suc,.edit-fail{display:inline-block;font-size:0;height:55px;width:55px;margin-right:10px;margin-top:-5px;vertical-align:middle;line-height:0;background-image:url(../images/common/password.png);background-repeat:no-repeat;}
.edit-suc{background-position:0 0;}
.edit-fail{background-position:0 bottom;}
i,em{font-style:normal;}
.font24{font-size:24px;}
.font16{text-align:center;font-size:14px;line-height:32px;display:block;margin:15px 0 0;padding-left:5px;}
.edit-main{padding-top:35px;padding-bottom:200px;}
.shadow{margin-top:60px;}
.edit-step1-mian{border-top:0;}
.mess_title{border-bottom:0;color:#1a1a1a;}
.step1-img{margin-top:27px;background:url(../images/edit-phone/edit-phone-stop1.png) no-repeat;height:35px;background-position:center;}
.step2-img{margin-top:27px;background:url(../images/edit-phone/edit-phone-stop2.png) no-repeat;height:35px;background-position:center;}
.step3-img{margin-top:27px;background:url(../images/edit-phone/edit-phone-stop3.png) no-repeat;height:35px;background-position:center;}
.edit-step1{width:525px;margin:0 auto;border-bottom:1px #e1e1e1 solid;}
.edit-step2{width:620px;margin:0 auto;border-bottom:1px #e1e1e1 solid;}
.edit-step3{width:700px;margin:0 auto;border-bottom:1px #d8d8d8 solid;margin-left:125px;color:#656565;}
.font20{font-size:20px;}
.edt-tab{margin-left:70px;}
.edt-tab2{margin-top:-20px;}
.edt-tab table,.edt-tab2 table{margin:35px auto;font-size:14px;color:#000000;}
.edt-tab table thead th{color:#9c9c9c;text-align:left;padding-left:65px;font-size:14px;line-height:30px;color:#656565;}
.text-color{color:#ff9204;}
.edt-tab table tbody th{text-align:right;padding-top:18px;vertical-align:top;line-height:30px;margin-left:10px;}
.edt-tab table tbody td{text-align:left;padding-left:20px;padding-top:20px;}
.step1-btn{text-align:center;margin-bottom:40px;margin-top:40px;}
.but-gray{width:170px;height:33px;}
.phone-tip{width:31px;height:33px;background:url(../images/edit-phone/edit-phone.png) no-repeat;display:inline-block;vertical-align:middle;margin-top:-6px;margin-right:5px;margin-left:-50px;}
.edts-footer{text-align:center;margin-top:15px;padding-bottom:25px;padding-left:35px;color:#ababab;}
.red{vertical-align:middle;margin-right:2px;}
.step1-phone{color:#0893ff;text-decoration:underline;}
.w120{width:120px;}
.fd-btn-code{width:120px;height:30px;background-color:#14aae4;text-align:center;line-height:30px;border:none;margin-left:15px;color:#ffffff;vertical-align:middle;border-radius:3px;}
/*第二步*/.edt-tab2 table td{text-align:left;padding-left:20px;padding-top:20px;color:#727272;}
.edt-tab2 table th{padding-top:20px;text-align:right;vertical-align:top;line-height:30px;color:#0d0d0d;}
.gray,.gray:hover{background:#CCC;cursor:default;}
.error{color:red;margin-left:10px;}
.step2-btn{width:170px;height:33px;text-align:center;line-height:33px;font-size:14px;margin-left:-25px;}
.mar-btn{margin-top:35px;margin-left:50px;}
.step2-fd-btn{width:100px;}
/*第三步*/.step3-phone{color:#fdb46a;}
.edit-step3-txt{margin-top:50px;}
.edit-step3-txt ul{margin-bottom:30px;margin-left:160px;}
.edit-step3-txt ul li{text-align:left;font-size:14px;line-height:28px;}
.edit-step3-txt ul li i{background:url(../images/edit-phone/dian.png) no-repeat;height:6px;width:5px;display:inline-block;vertical-align:middle;margin-right:5px;}
.edt-title{color:#9c9c9c;text-align:left;}
.edt-tab table{width:100%;position:relative;margin-bottom:20px;}
.step1-tip{position:absolute;top:140px;}
.form-tips{margin-right:130px;height:35px;}
.edt-tab2 table{position:relative;width:100%;}
.step2-tips{}
.step2-txt{font-size:12px;line-height:20px;margin-top:20px;}
.successValid{padding-left:0;margin-left:0;display:none;height:0;width:0;font-size:0;overflow:hidden;}
.formvalidError{margin-top:5px;display:block;margin-bottom:-10px;margin-left:-4px;}
.step1-tips{position:relative;display:block;}
.err-tip{height:50px;}