@charset "utf-8";
.email_main{ width:800px; border:1px solid #dedede; margin:0px auto; background:#fafafa;}
.e_title{ background:url(../images/email/title_bg.png) repeat-x; height:89px; text-align:center; border-bottom:3px solid #ff804d;}
.e_title span,.icon_e_user,.lei_shou,.icon_e_keyong,.icon_e_dongjie,.icon_e_daishou,.icon_e_benjin,.e_logo{ background-image:url(../images/email/icon_bg.png); background-repeat:no-repeat; display:inline-block;}
.e_title span{ background-position:0px -220px; width:485px; height:35px; margin-top:26px;}

.email_box{ width:742px; margin:0px auto; padding-top:30px;}
.e_users{ border-radius:5px; position:relative; overflow:hidden;border:1px solid #dedede;font-size:24px; color:#848484;
-moz-box-shadow:0px 2px 0px #dadada; -webkit-box-shadow:0px 2px 0px #dadada; box-shadow:0px 2px 0px #dadada; margin-bottom:40px;}
.e_users thead{ background:#61b2e6; line-height:66px; font-size:28px; color:#fff; ;}
.icon_e_user{ width:47px; height:47px; background-position:-251px 0px; vertical-align:middle; margin-right:15px;}
.lei_shou{ width:215px; height:150px; margin:20px auto; padding-right:15px; display:block; color:#ff804d; text-align:center; padding-top:65px;}
.e_users td p{ padding:5px 0px;}
.e_users td span{ padding-left:60px;}
.f40{ font-size:40px;}
.icon_e_keyong,.icon_e_dongjie,.icon_e_daishou,.icon_e_benjin{ background-position:-252px -54px; width:37px; height:37px; vertical-align:middle; margin-right:15px;}
.icon_e_dongjie{ background-position:-297px -54px;}
.icon_e_daishou{background-position:-341px -54px;}
.icon_e_benjin{background-position:-386px -54px;}
.bg_blue{ background:#e7f5ff;}
.bg_gray{ background:#f2f2f2;}
.bg_blue td{ padding:5px 0px;}
.e_detail{ padding:0px 15px;}
.e_detail h2{ font-size:22px; padding:0px 0px 20px; color:#525252;}

.e_detail table{ border:1px solid #dedede; font-size:14px;}
.e_detail table th{ background:#dedede; line-height:30px;}
.e_detail table td{height:48px;}
.e_more{ font-size:14px; text-align:right; padding:5px 0px 10px;}

.email_footer{ width:540px; margin:0px auto; font-size:16px; color:#7f7f7f;}
.e_logo{ width:150px; height:40px; display:block; margin:30px auto 50px; background-position:-306px 0px;}