/*新版样式*/
body{ background:#f6f7f8;background-image: url(../images/common/top_bg.png); background-repeat:repeat-x;}
.color_red{ color:#fd5a1a}
.pt25{ padding-top:25px;}
.m_header a.color_green{ color: #558804;}
.bg_whtie{ background-color:#fff;}
.w1100{width:1100px; margin:0 auto; }
input[type="password"]:focus, input[type="text"]:focus {border-color: #f8684d;box-shadow: 0 1px 4px rgba(125, 125, 125, 0.35) inset, 0 0 7px rgba(118, 176, 222, 0.45);}
.fix_width{ width:auto; margin:0 auto; zoom:1;padding-top:25px; height:50px;}
.fix_width .m-nav{ font-size:16px; color:#232627;width:1100px; margin:0 auto;}
.fix_width .m-nav i{ vertical-align:-2px;}
.fix_width .m-nav a{ margin-left:0px;}
.fix_width .m-nav span.gap_icon{width:9px; height:21px; background-position:-226px -106px; vertical-align:-2px;}
.del_banner{ margin-bottom:0px;}
.m_header a{ color:#4f4e4e;}
.m_header .top a:hover{ text-decoration:underline;}

.border_l {
    border-left: 1px solid #ccc;
}
.m_header{ height:125px;border-bottom:1px solid #dddddd;}
.icon_notice,.icon_arrow,.logo,.new_more,footer .logo,.f_right .code,.icon_iphone,.icon_andriod,.ac_icon,.m_lbg,.m_rbg,.m_header .drop_t,.m_header .drop_b,.m_header .top .public .text{ background-image:url(../images/common/icon_bg.png?v=20150624); background-repeat:no-repeat; display:inline-block;}
.icon_notice{ width:14px; height:17px; background-position:0px 0px; vertical-align:middle;}
.icon_arrow{ width:7px; height:6px; background-position:-18px 0px;vertical-align:middle; margin-left:7px;}
.icon_line{ width:3px; height:18px; background:#f3491f; border:1px solid #e43b19; display:inline-block; vertical-align:middle; margin-top:-4px;}

.m_header .top{ height:35px; background:#fafafa; border-bottom:1px solid #e6e6e6; line-height:35px; font-size:13px;}
.m_header .top .public{ }
.m_header .top .public .text{background-position: -861px -25px;height: 33px;vertical-align: middle; padding-left:26px; color:#cf1329; line-height:30px;width: 670px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m_header .top .nav li{ float:left; padding-left:20px;position:relative; z-index:11;}
.m_header .top .nav li .message_num{color:#fff; font-size:12px; position: relative; background-position: right -1px; height:16px; top:-2px;}

.m_header .top .nav li .message_num .m_lbg{height:16px;background-position: -816px -1px; width:8px;vertical-align:middle;}
.m_header .top .nav li .message_num .m_rbg{height:16px;background-position: right -1px; padding-right:8px;line-height:15px;vertical-align:middle; font-size:11px;}
.m_header .top .nav li .message_num:hover{text-decoration:none;}
.m_header .top .nav li .message_drop{ position: absolute; left:-38px; top:25px; display:none;}
.m_header .top .nav li .message_drop ul{ padding:0px 0 0; background:url(../images/common/drop_mid.png) repeat-y 4px 0;}
.m_header .top .nav li .message_drop ul li{ width:108px;font-size:16px; text-align:center; padding:0px 15px; font-size:14px;}
.m_header .top .nav li.select .message_drop{ display:block;}
.m_header .top .nav li .j_showMenu2{}
.m_header .top .w1100 {position: relative;}
.m_header .top .w1100 .nav {position: absolute;right:0; top:0;}

.m_header .logo{ width:200px; height:47px; background-position:0px -27px; margin:20px 0px 22px; display:block; float:left;}
.m_header nav{ float:right; padding-top:30px; height:60px;}
.m_header nav li{ float:left; padding-left:35px; font-size:16px;}
.m_header nav li a{color:#232627; padding:0px 9px 10px;}
.m_header nav li a:hover{ text-decoration:none; color:#da3715;}
.m_header nav li.select a{ color:#da3715; border-bottom:3px solid #f8694c;}

.m_header .my_account{ float:right; width:138px; height:30px; margin-top:23px; margin-left:40px;font-size:16px; position:relative; z-index:10; right:-9px;}
.m_header .my_account a{ display:block;}
.m_header .my_account a:hover{ text-decoration:none;}
.m_header .select a{text-decoration:none; color:#da3715; }
.m_header .ac_icon{ background-position:-148px 0px; width:17px; height:23px; margin-right:8px; vertical-align: middle; margin-left:17px;}
.m_header .ac_icon:hover{text-decoration:none;}
.m_header .select .drop_t,.m_header .select .drop_b,.message_drop .drop_t{ background-image:url(../images/common/drop_down.png); background-repeat:no-repeat;}
.m_header .drop_t{ height:8px; width:145px;background-position:-656px 4px; float:left; font-size:0px; line-height:0px;}
.m_header .drop_b{background-position:left bottom;background-position:-656px -4px;width:138px;}
.m_header .my_account .drop_b a{ height:28px;}
.m_header .my_account .drop_b ul a{ height: auto;}
.m_header .select .drop_t,.message_drop .drop_t{background-position:0 0;}
.m_header .select .drop_b{background-position: left bottom;}
.message_drop .drop_b{padding-bottom: 10px;background:url(../images/common/drop_down_msg.png) left bottom no-repeat;}
.m_header .select ul a{ }

.my_account ul{text-align:center; padding:0px 15px 10px; display:none;}
.my_account ul li a,.m_header .top .nav li .message_drop a{ height:31px; line-height:31px; display:block;}
.m_header .select ul{ display:block;}
.m_header .select ul a,.m_header .top .nav li .message_drop a{ color:#333333;}
.m_header .select ul a:hover,.m_header .top .nav li .message_drop ul li a:hover{ background:#f96648; color:#fff; text-decoration:none;}
.m_header .select .icon_arrow{ background-position:-18px -13px;}
/*面包屑导航*/
.crumbs{-moz-box-shadow:0px 3px 3px #e1e2e3 inset; -webkit-box-shadow:0px 3px 3px #e1e2e3 inset; box-shadow:0px 3px 3px #e1e2e3 inset; font-size:16px; color:#767677; padding-top:25px; height:50px;}
.crumbs a{ color:#818385;}
.crumbs span{color:#090909}

/*底部css*/
.m_footer{ background:url(../images/common/footer_bg.jpg) no-repeat center top; height:250px; padding-top:46px; color:#999; font-size:14px;}
.m_footer .f_left{ width:330px; float:left; height:180px;}
.m_footer .logo{ width:198px; height:46px; background-position:0px -87px; display:block;}
.m_footer .f_center{ float:600px; float:left;height:180px;}
.m_footer .f_center ul{ float:left; font-size:18px; color:#fff;}
.m_footer .f_center ul a{ font-size:14px; color:#999;}
.m_footer .f_right{ width:90px; float:right;height:180px; text-align:center;}
.m_footer .f_right .code{ width:90px; height:82px; background-position:7px -141px;}
.m_footer .iphone_down,.m_footer .andriod_down{ width:98px; height:30px; border:1px solid #767675; border-radius:3px; background:#5c5c5c; color:#fff; display:none; line-height:30px; text-align:center; margin-bottom:17px;}
.m_footer .iphone_down:hover,.m_footer .andriod_down:hover{ text-decoration:none;}
.m_footer .icon_iphone{ background-position:-101px 0px; width:16px; height:20px; display:none; vertical-align:middle;}
.m_footer .icon_andriod{ background-position:-124px 0px; width:17px; height:20px; display:none; vertical-align:middle; margin-top:-2px;}

.m_footer .copyright{ height:68px; text-align:center; font-size:12px; color:#666666;}




/*pages*/
.pages{ text-align:center;font-weight:lighter;}
.pages a,.pages .current{ height:23px; line-height:23px;}

/* 2015/10/23 下午5:35:21 ztx 修改 begin */
.ztx_liIner46782_box{
	padding-right: 7px;
	border-left:1px solid #fafafa;
	border-right:1px solid #fafafa;
	position: relative;
}
.ztx_liIner46782_box:hover{
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	background-color: #fff;
}
.ztx_liIner46782_box.disabled:hover{
	border-color:#fafafa;
	background-color: transparent;
}
.ztx_liIner46782_box:hover .inner{
	border-bottom: 1px solid #FFFFFF;
}
.ztx_liIner46782_box.disabled:hover .inner{
	border-bottom: none;
}
.ztx_liIner46782_box:hover .cont{
	display:block;
}
.ztx_liIner46782_box .inner{
    height: 35px;
    line-height: 35px;
	padding-left: 8px;
	position:relative;
	z-index:10;
	max-width: 145px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ztx_liIner46782_box.act .inner{
	padding-right: 21px;
	background:url(../images/common/liInnerBg.png) right -35px no-repeat;
}
.ztx_liIner46782_box.act:hover .inner{
	background-position: right 0px;
}
.ztx_liIner46782_box .cont{
	position:absolute;
	top:36px;
	left:-1px;
	display:none;
	background-color: #fff;
	border:1px solid #e6e6e6;
	border-top: none;
	z-index:9;
	font-size: 14px;
}
.ztx_liIner46782_box.act .cont{
	min-width: 152px;
	padding:0px 15px 0px 15px;
}
.ztx_liIner46782_box.act .dataPanel{
	display:none;
	padding-bottom: 41px;
}
.ztx_liIner46782_box.act .errorPanel{
	height:70px;
	line-height: 70px;
	font-size: 13px;
	text-align: center;
}
.ztx_liIner46782_box.act .errorPanel.loading{
	background:url(../images/common/loading.gif) #fff center no-repeat;
}
.ztx_liIner46782_box.act .errorPanel a{
	color: #0088cc;
	text-decoration: none;
}
.ztx_liIner46782_box.act .errorPanel a:hover{
	text-decoration: underline;
}
.ztx_liIner46782_box.act .cont label{
	cursor:text;
}
.ztx_liIner46782_act div.ye46782{
	color: #4f4e4e;
	line-height: 26px;
	padding-top: 5px;
	white-space: nowrap;
}
.ztx_liIner46782_act div.ye46782 span{
	color: #f75938;
}
.ztx_liIner46782_act div.hb{
	color: #999999;
	line-height: 26px;
	white-space: nowrap;
}
.ztx_liIner46782_act .bntBox{
	font-size: 0px;
	padding:13px 0px 13px 0px;
}
.ztx_liIner46782_act .bntBox a{
	display:inline-block;
	width: 66px;
	height:30px;
	vertical-align:top;
	color: #fff;
	font-size: 14px;
	background-image:url(../images/user/btn_bg.png);
	background-repeat: no-repeat;
	text-align: center;
	line-height: 28px;
}
.ztx_liIner46782_act .bntBox a:hover{
	text-decoration: none;
}
.ztx_liIner46782_act .bntBox a.cz{
	background-position: -3px -3px;
}
.ztx_liIner46782_act .bntBox a.cz:hover{
	background-position: -76px -3px;
}
.ztx_liIner46782_act .bntBox a.tx{
	background-position: -3px -38px;
	margin-left: 20px;
}
.ztx_liIner46782_act .bntBox a.tx:hover{
	background-position: -76px -38px;
}
.ztx_liIner46782_ul{
	padding-bottom: 12px;
}
.ztx_liIner46782_ul li{
	color: #4f4e4e;
	line-height: 26px;
	padding-left: 0px !important;
	float:none !important;
	white-space: nowrap;
}
.ztx_liIner46782_ul+.accountABox{
	height:40px;
	width: 100%;
	line-height: 40px;
	border-top: 1px solid #e6e6e6;
	text-align: right;
	background-color: #fafafa;
	position:absolute;
	left:0px;
	bottom:0px;
}
.ztx_liIner46782_ul+.accountABox .accountA{
	padding-right: 8px;
	color: #0088cc;
	padding-right: 15px;
}
.ztx_liIner46782_box.msg .inner{
	padding-right: 4px;
}
.ztx_liIner46782_box.msg .cont{
	min-width:87px;
	padding:9px 15px;
}
.ztx_liIner46782_msg a{
	line-height: 26px;
	display:block;
	white-space:nowrap;
	text-align: center;
}
.ztx_liIner46782_msg a b{
	font-weight: normal;
	margin-right: 9px;
}
.ztx_liIner46782_msg a:hover{
	color: #da3715;
	text-decoration: none !important;
}
.ztx_liIner46782_NavA:hover{
	color: #da3715;
	text-decoration: none !important;
}
/*返回顶部*/

.layAppTopnew{ width:60px; height:140px;position: fixed; z-index:22; right:20px; bottom: 20px;}
.layAppTopnew .backToTop,.layAppTopnew .app_btn,.layAppTopnew .serve{ width:58px;border: 1px solid #e4e3e3; height:68px; background-image: url(../images/common/new_gotop.png?v=20140807); background-color: #fff; background-repeat: no-repeat; background-position:-669px 0px; outline:none; display: block;}
.layAppTopnew .serve{background-position:-59px 9px; top: 0px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; border-top:none; }
.layAppTopnew .serve:hover{background-position:-59px -50px;background-color: #fe836a; border-color:#fe836a; }
.layAppTopnew .backToTop{background-position:-133px 7px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; border-top:none;}
.layAppTopnew .backToTop:hover{background-position:-133px -52px; background-color: #fe836a;border-color:#fe836a; }
.layAppTopnew .app{ width:60px; height: 70px; position: relative;}
.layAppTopnew .app_btn{top:0px; background-position:6px 11px;position: relative; cursor:pointer; display:inline-block; left:0px;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s; }
.layAppTopnew .app:hover .app_btn{background-position:6px -48px; background-color: #fe836a;border-color:#fe836a;}
.layAppTopnew .app_box{ width:131px; height:162px; background:#fff; position:absolute; left:-152px; top:-110px;  border:1px solid #e0dede;text-align:center; opacity: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;visibility:hidden;}
.layAppTopnew .app_box a{ width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.layAppTopnew .app:hover .app_box{left:-147px; opacity: 1; visibility: visible;}
.layAppTopnew .app_box h2{ height:29px; font-size:13px;color: #a1a1a1;}
.layAppTopnew .icon_a{ position:absolute; width:9px; height:13px;  background: url(../images/common/new_gotop.png?v=20140807) no-repeat -241px -0px; right:-9px; bottom:17px;}
.layAppTopnew .app_tab_con{ height:110px; padding: 10px;}
.layAppTopnew .serve_box{position: relative;}
.layAppTopnew .serve_box .icon_a{bottom:27px;}
.layAppTopnew .serve_con{position: absolute; left: -217px; top: -10px; width: 163px; padding:6px 16px 12px;background:#fff;border:1px solid #e0dede; color: #999999; opacity: 0;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;z-index: -10; visibility:hidden;}
.layAppTopnew .serve_box:hover .serve_con{left: -212px; opacity: 1;visibility: visible;}
.layAppTopnew .serve_con h2{font-size: 24px; color: #fe836a;}



/* 2015/10/23 下午5:35:21 ztx 修改 end */
