.wrap{ width: 1100px;}
.blank{ height:20px;}
.comm_con {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 0 10px;
    width: 855px;
}
.article_title {
    color: #1a1f25;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0 15px 20px;
	font-weight:normal;
	background:url(../images/common/spritesv_v2.png) no-repeat 0px -182px;
}
.nav-aside-lv1{ color:#f3491f;}
.nav-aside-lv2.active{background:url(../images/common/spritesv_v2.png) no-repeat 23px -195px;}