.short_uc {
    display: inline-block;
    overflow: hidden;
    width: 232px;
}

.comm2_top {
    background: url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 1px;
    height: 0px;
    width: 230px;
}
.comm2_con {
    background: url("../images/bg_cal_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 5px 0 10px;
    width: 230px;
    background:#fff;
    border-radius:5px;
    border:1px solid #ddd;
}
.comm2_bot {
    background: url("../images/bg_cal.jpg?v=1398850080") no-repeat scroll 0 -10px rgba(0, 0, 0, 0);
    font-size: 1px;
    height: 12px;
    width: 230px;
}
.nav-aside {
    padding: 0 20px;
}
.nav-aside-fixed {
    position: fixed;
    top: 12px;
}
.nav-aside-lv1, .nav-aside-lv2 {
    display: block;
}
.nav-aside-lv1 {
    background: url("../images/common/spritesv.png?v=1398850080") no-repeat scroll 0 13px rgba(0, 0, 0, 0);
    border-top: 1px solid #EEEEEE;
    color: #CD1233;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 13px 0 7px 24px;
}
.nav-aside-lv1.first {
    border-top: 0 none;
    margin-top: 0;
}
.nav-aside-lv2 {
    color: #666666;
    font-size: 13px;
    padding: 4px 0 4px 40px;
}
.nav-aside-lv2.active {
    background: url("../images/common/spritesv.png?v=20140508") no-repeat scroll 20px -160px rgba(0, 0, 0, 0);
}
.nav-aside-lv2:hover {
    color: #333333;
}
.link-pdf {
    background: url("../images/common/spritesv.png?v=2") no-repeat scroll 0 -65px rgba(0, 0, 0, 0);
    color: #CD1233;
    display: block;
    float: right;
    font-size: 13px;
    line-height: 15px;
    margin-top: 12px;
    padding: 5px 0 5px 30px;
}
.link-pdf:hover {
    color: #CD1233;
    text-decoration: underline;
}
.faq-q, .faq-a {
    background: url("../img/spritesv.png?v=3") no-repeat scroll 0 -100px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 17px;
    vertical-align: text-bottom;
    width: 15px;
}
.faq-a {
    background-position: 0 -120px;
}
.comm_top {
    background: url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 1px;
    height: 0px;
    width: 723px;
}
.comm_con {
    background: url("../images/bg_uc_line.jpg?v=1398850080") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 5px 0 10px;
    width: 723px;
    background:#fff;
    border-radius:5px;
    border:1px solid #ddd;
}
.comm_con .tx_tip {
    line-height: 18px;
    margin-left: 15px;
    width: 670px;
}
.comm_con .tx_tip dt {
    color: #444444;
    padding-bottom: 6px;
}
.comm_con .tx_tip dd {
    color: #888888;
    padding-bottom: 6px;
}
.comm_bot {
    background: url("../images/bg_uc_con.jpg?v=1398850080") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
    font-size: 1px;
    height: 9px;
    width: 723px;
}
.f_l {
    float: left;
}
.f_r {
    float: right;
}
 .article_list {
    padding: 30px 30px 0;
}
.article_list li {
    background: url("../images/notice_dot.png?v=1398850080") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    display: block;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
}
.article_title {
    color: #CA1132;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    padding: 10px 0 15px;
}
.publish_time {
    color: #808080;
    padding: 5px 0 5px 80px;
}
.article_info {
    border-top: 1px solid #E6E6E6;
    font-size: 14px;
    line-height: 24px;
    padding: 25px 10px 20px;
    word-break: normal;
}
.article_info h1 {
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 15px;
}
.article_info p {
    margin: 0 0 15px;
}
.article_info ul {
    margin: 0 0 15px 25px;
}
.article_info li {
    list-style: disc outside none;
}
.article_info table {
    margin: 0 0 15px;
}
.article_info .line-q {
    color: #CD1233;
    margin: 0;
}
.article_info .line-a {
    padding-left: 18px;
    text-indent: -19px;
}
.help_long {
    border: 1px solid #C4CDD3;
}
.inc .relate_help {
    display: block;
    height: auto;
}
.inc .relate_help dt {
    background: url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    height: 33px;
    line-height: 32px;
    overflow: hidden;
    padding-left: 20px;
}
.relate_help dd {
    clear: both;
    display: block;
    margin: 0;
}
.relate_help dd a {
    background: url("../images/box_item.jpg?v=1398850080") no-repeat scroll 0 -61px rgba(0, 0, 0, 0);
    color: #444444;
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 30px;
}
.relate_help dd a:hover {
    text-decoration: none;
}
.relate_help dd.relate_cate {
    background: url("../images/bar.gif?v=1398850080") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: bolder;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.relate_help dd.act a {
    background-position: 0 -33px;
}
.wrap{ width: 1100px;}
.blank{ height:20px;}
.comm_con {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 0 10px;
    width: 855px;
}
.article_title {
    color: #1a1f25;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0 15px 20px;
	font-weight:normal;
	background:url(../images/common/spritesv_v2.png) no-repeat 0px -182px;
}
.nav-aside-lv1{ color:#f3491f;}
.nav-aside-lv2.active{background:url(../images/common/spritesv_v2.png) no-repeat 23px -195px;}