@charset "utf-8";
html,body{overflow-y:auto !important;overflow-x: hidden;}
.m-head .fix_width menu ul li i.g-pos-i,.m-head .fix_width menu ul li.bg_li{ font-size:0;}
i.ico_percent{width:20px;}
.leftBt,.rightBt{display:block;}
#focus .imgNum_none li div img{ margin-top:9px;}
.earnings_box li{ width:196px;}
.table_cell{ height:100px;}
.icon_new{ margin-top:3px;}
/*.tabContent{ background:url(../images/common/product_bd2_gray_bar.jpg) repeat-x;}*/
.product_bd2 td{ height:100px; vertical-align:top;}
.product_bd2 td .tc{ margin-top:25px;}
.product_bd2 td .pro_name{ margin-top:20px;}
.product_bd2 td .btm{ margin-top:38px;}
.product_bd2 td .date{ margin-top:38px;}
.product_bd2 td .pl40{ margin-top:29px;}
.partner_con ul li{ position:relative; height:50px;}
.partner_con ul li .logo_h{ position:absolute; left:21px; top:25px; display:block;}
.partner_con ul li .logo_c{position:absolute; left:21px; top:25px; display:block;}
.partner_con ul li a.logo_h:hover{filter:alpha(opacity=0)}
.about-us,.about-us dl{ display:inline}
.backToTop{ display:none !important;/*ie6不支持fixed*/}

.product_bd2 thead th a{ display:inline-block; line-height:33px;}
.i.mt,.i.mt_01,.i.mt_02{ vertical-align:-3px;}
.product_hd{ height:20px;}
.partner_con .scrollDiv{overflow:hidden !important;}
.partner_con ul li{ margin-bottom:20px;}
.partner_title{ background:#E2E5E9; padding-top:10px;}

.earnings_box li{ width:233px; padding-left:11px;}
.earnings_box ul{ padding-left:4px; width:976px;}
.con_width h2.line_bg{}
.tztop_left i.ico_bace, .ico_bace_01{ overflow:hidden;}
.button_bigtongyi1{ background-position:-20px -112px;}
.button_bigtongyi1:active{ background-position:-252px -112px;}
.button_bigtongyi1:hover{ background-position:-136px -112px;}
.ui-tooltip{ width:225px;}


.user_title h1{ padding-top:13px;}
.user_title a{ padding-right:0px; padding-top:15px;}
.user_title a i.ico_more{ padding-left:5px; background-position: -162px -57px;}
.bank-tip {
	padding-top: 15px;
}

.user_nav li a 
{
	padding-top: 10px;
	vertical-align: bottom;
	height: 30px;
}

.user_nav li a em {
	margin-top: 1px;
}

.pact-tip{background:#f6f6f6;overflow:visible;font-family:"微软雅黑"; width:483px !important; overflow:hidden !important;}
.pact-tip .agreement1{ background:#fff !important;}
.pact-tip .ui-widget-content{background:#fff !important; margin-top:5px; height:200px !important;}
.pact-tip .ui-widget-header{ height:25px; overflow:hidden;}
.pact-tip.ui-dialog .ui-dialog-title{ width:400px !important;position: relative; z-index:9999; float:left;}
.ui-dialog .ui-dialog-titlebar-close{ width:50px; height:20px; display:block; position: relative; top:-20px; left:420px; z-index:9999; background:#f9f9f9;}
.ui-widget-overlay{ height:2000px; width:100%; position:absolute;}
.pact-tip .dialog-message{}
/*.m_header .drop_t {
	background:none;
}
.m_header .drop_b{
background:none;
}
*/