/* CSS Document */
.opacityDiv {width:100%;height:30px;line-height:30px;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;position:absolute;bottom:0;left:0;z-index:1;background:#000;}
.slide{ position:relative; height:180px;}
.slide:hover .rightBt,.slide:hover .leftBt { display:block;}
#focus{ height:auto;}
#focus .bigImg li{display: block;width: 980px;height: 182px;overflow:hidden;}
	#focus .imgNum,#focus .imgNum_none{
		list-style-type:none;
		margin:0px;
		z-index:2;
		width:982px;
		height:45px;
		overflow:hidden;
	}
	#focus .imgNum li ,#focus .imgNum_none li{
		float:left;
		text-decoration:none;
		 width:327px;
		 height:45px;
		 border-left:1px solid #e5e5e5;
		 margin-left:-1px;
		 text-align:center;
		 font-size:18px;
		 color:#1b9ff3;
		 position:relative;
		 display:table-cell;
		 vertical-align:middle;
	}
	#focus .imgNum li div,#focus .imgNum_none li div{width:327px;height:45px; display: table-cell; vertical-align:middle; text-align:center; +line-height:45px;}
	#focus .imgNum li div img,#focus .imgNum_none li div img{ vertical-align:middle;}
	#focus .imgNum li em,#focus .imgNum_none li em{ padding-left:15px;}
	#focus .imgTitle{position:absolute;bottom:0;left:0;z-index:2;color:#fff;}
	#focus .imgNum .active{
		background:url(../images/index/i3.png) no-repeat;
	}
	#focus .imgNum  .active,#focus .imgNum .active a{
		cursor: pointer;
	}
	.slide_img {
	    background: url("../images/common/loading.gif?v=20140808") no-repeat scroll center;
	    height: 180px;
	    left: 50%;
	    margin-left: -490px;
	    position: absolute;
	    top: 0px;
	    width: 980px;
	    z-index: 9;
		border-radius:2px 2px 0px 0px;
	}
.rightBt,.leftBt{position:absolute;top:53px;left:50px;color:#fff;font-size:18px;cursor:pointer; width:45px; height:80px; background-image:url(../images/common/index_icon.png?v=20140807); background-repeat:no-repeat; background-position:-262px 0px; z-index:88; display:none;}
.rightBt {left:885px;background-position:-318px 0px;}
.leftBt:hover{background-position:-374px 0px;}
.rightBt:hover{background-position:-430px 0px;}
.icon_jg,.icon_sy,.icon_bx{display:inline-block; width:43px; height:35px; vertical-align:middle; background-repeat:no-repeat;}



.icon_sy{ background-position: 0px -86px;}
.icon_bx{background-position: 0px -175px;}
.icon_arrow{ width:18px; height:8px;background-position: -0px -383px; position:absolute; left:158px; top:-8px; display:none;}
#focus .imgNum .active .icon_arrow{ display:block;}



.earnings_box{ height:76px;}
.earnings_box li h3{ padding:9px 0px; font-size:14px;}

/*合作伙伴*/
.partner_title{ height:54px; font-size:24px;}
.partner_title i.icon_partner{ width:30px; height:24px; background:url(../images/common/index_icon.png?v=20140807) no-repeat -570px -55px; display:inline-block; vertical-align:middle;}
.left_but,.right_but{ width:15px; height:100px; float:left; background-image:url(../images/common/index_icon.png?v=20140807); background-position:-478px 39px; padding-left:7px; display:inline;padding-right:7px; cursor:pointer; background-repeat:no-repeat;}
.right_but{ background-position:-506px 39px; }
.right_but:hover,.left_but:hover{background-color:#fafafa;}
.right_but:active,.left_but:active{ background-color:#f3f3f3;}
.partner_con .scrollDiv { width:918px!important; border-left:1px solid #ededed;border-right:1px solid #ededed; height:100px !important; float:left;}
.partner_con ul li{ float:left; padding:25px 21px;width:109px;}
.partner_con ul li .logo_c{ display:none;}
.partner_con ul li:hover .logo_c{ display:block;}
.partner_con ul li:hover .logo_h{ display:none;}


.start{ background:#f1f2f3; line-height:27px; text-align:center; font-size:13px; color:#888888;}
.slide_img img {width:980px;height:180px;}

.tabbd{min-height:150px;}