body{min-width: 1100px;}
.ui-tooltip { padding: 10px 15px; box-shadow: 0 0 3px black; }
input[type="password"]:focus, input[type="text"]:focus { border-color: #fc7e64; }
.box { width: 1100px; padding-bottom: 15px; }
.mb30 { margin-bottom: 15px !important; }
.mt-30{ margin-top:0px;}
i.ico_one, i.ico_two, i.ico_three, i.ico_four, i.ico_five, i.ico_six, i.ico_seven, i.ico_eight, i.ico_nine, i.ico_zero, i.ico_point, i.ico_percent { background-image: url(../images/investment_view/number.png); background-repeat: no-repeat; width: 12px; display: inline-block; height: 18px; vertical-align: text-bottom; margin: 0; *margin-top: 5px; }
i.ico_one { background-position: -20px 0; width: 10px; }
i.ico_two { background-position: -36px 0 }
i.ico_three { background-position: -54px 0 }
i.ico_four { background-position: -71px 0 }
i.ico_five { background-position: -90px 0 }
i.ico_six { background-position: -107px 0 }
i.ico_seven { background-position: -124px 0 }
i.ico_eight { background-position: -143px 0 }
i.ico_nine { background-position: -160px 0 }
i.ico_zero { background-position: 0 0 }
i.ico_percent { background-position: -178px 0; width: 20px; }
i.ico_point { background-position: -203px 0; width: 6px; }
.but-gray, .but-gray:hover { width: 107px; height: 38px; line-height: 38px; background: url(../images/investment_view/invest-con.png) no-repeat -142px -259px; border-radius: 0; border: 0; color: #FFF; padding: 0; }
.but-gray:hover { opacity: 0.8 }
.box_title { background: #FCFCFC; border-bottom: 1px solid #d5d2d2; }
.box_title i, .validBt, .validBt:hover, .validBt:active, .button_confirm1, .button_confirm1:hover, .button_confirm1:active, .button_confirm4, .tztop_right i.ico_sigh { background-image: url(../images/investment_view/invest-con.png); background-repeat: no-repeat; }
.box_title i { background-repeat: no-repeat; width: 6px; height: 20px; display: inline-block; float: left; margin: 16px 12px 0px 18px; }
i.danbao, .box_title i.ico_hetong, i.ico_jiedai, .box_title i.ico_huankuan { background-position: 0 -126px; }
.box_title i.ico_huankuan { width: 6px; }
.title_box i { background: none; width: 0; height: 0; }
.w982 .title_box { padding: 0; height: 66px; background: #FCFCFC; }
.w982 .title_box h1 { height: 66px; line-height: 66px; }
.title_box .pl30 { margin-top: 14px; }
.yellwo, .color-yellow1 { color: #f75938; }
.touzi_top .yellwo { font-family: arial, "Microsoft Yahei"; font-weight: bold; font-size: 20px; }
.number dd.yellwo { font-size: 20px; font-family: arial, "Microsoft Yahei"; font-weight: bold; }
.validBt { background-position: 0 -73px; padding: 0; width: 61px; border-radius: 0; }
.validBt:hover { background-position: -96px -73px; }
.validBt:active { background-position: -187px -73px; }
.validBt, .validBt:hover, .validBt:active { background-color: transparent; }
.button_confirm1, .button_confirm4 { width: 226px; height: 49px; }
.button_confirm1 { background-position: 0 0; }
.button_confirm1:hover { background-position: 0 -514px; }
.button_confirm1:active { background-position: 0 -572px; }
.button_confirm4 { background-position: 0 -630px; }
.tztop_left i.ico_yitou { background: #fe836a; position: absolute; left: -1px; top: -1px; height: 7px; }
.tztop_left i.ico_bace { width: 360px; background: none; border: 1px solid #bababa; position: relative; height: 5px; margin-top: 15px }
.button_touzi, .button_touzi:hover, .button_touzi:active { width: 248px; height: 46px; background: url(../images/investment_view/invest-con.png) no-repeat; }
.button_touzi { background-position: 0 -159px; }
.button_touzi:hover { background-position: 0 -400px; }
.button_touzi:active { background-position: 0 -455px; }
.text_box { border-color: #bababa }
.but-yellow, .but-yellow:hover, .but-yellow:active { width: 107px; height: 38px; line-height: 38px; padding: 0; text-align: center; background: url(../images/investment_view/invest-con.png) no-repeat; }
.but-yellow { background-position: 0 -260px; }
.but-yellow:hover { background-position: 0 -306px; }
.but-yellow:active { background-position: 0 -353px; }
.tztop_right i.ico_sigh { background-position: 0 -221px; }
.touzi_top { background: #FFF; border: 1px solid #d5d2d2; padding-bottom: 0; margin-bottom: 15px; }
.title_box, .title_box h1, .title_box h1 span.w1 { height: 68px; }
.title_box { background: #fcfcfc; border-bottom: 1px solid #d5d2d2 }
.tztop_left { width: 774px; background: #FFF; box-shadow: none; border-radius: 0; }
.tztop_right { width: 293px; height: 268px; border-left: 1px solid #d5d2d2; box-shadow: none; border-radius: 0; margin-top: 0; padding-left: 30px }
.w982 .number { border-top: none }
.shadow { border: 1px solid #d5d2d2; box-shadow: none; border-radius: 0; }
.main { box-shadow: none; border-radius: 0; border: 1px solid #d5d2d2; margin: 0px auto 15px; }
.con_width span.yellwo { color: #878787; }
.con_width h3.yellwo { color: #f48943 }
.tztop_right h2 { margin-right: 30px; }
.tz_jine { padding-left: 55px; width: 370px; padding-top: 10px; }
.ketou { font-size: 14px; }
.shouyi i, .ico_bace, .ico_bace_01 { background-image: none }
.shouyi i.ico_braces_l, .ico_braces_r { width: 0; height: 0; }
.tz_lilv { padding-left: 35px; padding-top: 10px; }
.con_width { width: auto; padding: 0 35px }
.con_hk { margin-bottom: 20px; }
.tztop_left.w982 { width: 100%; }
.con_width h2.line_bg { background: url(../images/investment_view/number.png) no-repeat right -63px; }