@charset "utf-8";
/*用户中心消息*/
.message_box{background:#fff;-webkit-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);}
.mess_title{ height:50px; line-height:50px; background:url(../images/user/tit_bg.gif) repeat-x; border-bottom:1px solid #e5e5e5;}
.mess_title h1{ font-size:24px; padding-left:15px;}
.message_nav { margin:0px auto; height:37px; padding-top:20px;}
.message_nav li{ width:114px; height:37px; line-height:37px; text-align:center; float:left; margin-right:15px; display:inline;color:#a6a6a6;}
.message_nav li a{ width:114px; height:37px; display:block; font-size:16px; color:#000000; border-radius:3px 3px 0px 0px;background:#e5e5e5; }
.message_nav li.select a,.message_nav li a:hover{ background:#ffb604; color:#ffffff;}
.mess{ border:1px solid #e5e5e5; margin:-1px auto 0px; padding:0px 20px; min-height:500px;}
.mess td,.mess th{ border-bottom:1px solid #e5e5e5; padding:15px 0px; color:#676767; line-height:20px; vertical-align:top}
.mess th{ vertical-align:bottom;}
.mess h3{ font-size:14px; font-weight:bold;}
.mess h4{ font-size:12px; font-weight:bold;}
.mess h3 a,.mess h4 a,.mess h3 a:hover,.mess h4 a:hover{ color:#676767; text-decoration:none;}
.mess_img{ width:48px; height:48px; margin-top:5px;}

.mess_img img{border-radius:3px;}
.mess_con a{ color:#429bd3; text-decoration:underline;}