body{ font-family: "Microsoft YaHei";}
.m-head{margin-bottom:0;}
.help-link{background-color:#fff;height:134px;line-height:134px;}
.help-link span{font-size:23px;color:#878787;margin-left:103px;float:left;margin-right:30px;}
.help-link a{margin-left:100px;vertical-align:middle;background:url(../images/newbie-help/xs-2.png) no-repeat 0 0;width:80px;height:80px;display:inline-block;}
.help-link a em{width:40px;font-size:20px;color:#767575;display:block;line-height:25px;margin-left:21px;margin-top:15px;}
.help-link a:hover{background:url(../images/newbie-help/xs-1.png) no-repeat 0 0;width:88px;height:94px;}
.help-link .link-active,.help-link a:hover{background:url(../images/newbie-help/xs-1.png) no-repeat 0 0;width:88px;height:94px;}
.help-link .link-active em,.help-link a:hover em{color:#fff;margin-left:25px;margin-top:20px;}
.help-center{position:relative;}
.help-center .img-tip{position:absolute;left:-18px;top:-1px;}
.ct-top{margin-top:-5px;}
.help-footer{height:125px;background-color:#6abde8;padding-top:65px;}
.help-footer a{width:221px;height:48px;background-color:#fff;display:block;line-height:48px;text-align:center;border-radius:5px;-moz-box-shadow:0 3px 2px #4BA4DD;-webkit-box-shadow:0 3px 2px #4BA4DD;box-shadow:0 3px 2px #4BA4DD;margin-left:380px;font-size:22px;color:#5b5e5f;font-family:Microsoft YaHei;}
.m-foot{padding-top:30px;}

/*定位文字*/
.help-center .help-touzi{position:absolute;top:140px;left:250px;}
.help-center .help-touzi h2{color:#31c1ea;font-size:18px;font-weight:bold;}
.help-center .help-touzi h3,.help-jiaoyi h3,.help-diyu h3,.help-leiji h3{font-size:16px;color:#7e7e7e;line-height:28px;}
.help-center .help-touzi h3 span{color:#31c1ea;font-size:20px;margin-left:5px;font-weight:bold;}
.help-center .help-jiaoyi{position:absolute;top:210px;left: 660px;}
.help-center .help-jiaoyi h2{color:#689fd7;font-size:18px;font-weight:bold;}
.help-center .help-jiaoyi h3 span{color:#689fd7;font-size:20px;margin-left:5px;margin-right:5px;font-weight:bold;}
.help-diyu{position:absolute;top:370px;left:190px;}
.help-diyu h2{color:#eda662;font-size:18px;font-weight:bold;}
.help-diyu h3 span{color:#eda662;font-size:20px;margin-right:5px;font-weight:bold;}
.help-leiji{position:absolute;top:430px;left: 680px;}
.help-leiji h2{color:#fc9c82;font-size:18px;font-weight:bold;}
.help-leiji h3 span{color:#fc9c82;font-size:20px;margin-left:5px;margin-right:5px;font-weight:bold;}
.cz-center img{ margin-top: -5px;}
 
/*产品介绍*/.m-explain{background-color:#6abde9;color:#474747;}
/*公共的P间距*/.m-explain p{line-height:24px;}
.c-explain{width:900px;min-height:160px;margin:0 auto;background-color:#fff;}
.first-list{margin-top:45px;}
.exp-centent{background-color:#fff;}
.exp-left{float:left;width:170px;text-align:center;vertical-align:middle;margin-top:20px;}
.exp-left p{font-size:17px;color:#878787;font-weight:bold;}
.exp-right{margin-left:180px;font-size:15px;text-indent:2em;vertical-align:middle;padding-top:30px;padding-bottom:30px;padding-right:50px;}
.exp-text{background-color:#f5fcff;padding:30px 50px 40px 40px;}
.exp-text h2{font-size:18px;margin-bottom:-10px;}
.exp-color{color:#e77f10;}
.exp-bold{font-weight:bold;}
 .first-list .exp-text p,.three-list .exp-text p{margin-top:30px;font-size:15px;}
.second-list,.three-list,.four-list{margin-top:15px;}
.second-list .exp-right{padding-top:60px;padding-bottom:60px;}
.second-list .exp-text{font-size:15px;}
.second-list .exp-text h4{margin-top:20px;}
.second-list .exp-text h5{color:#43abc4;font-size:17px;margin-top:25px;margin-bottom:10px;}
.second-list .exp-text h6{margin-top:10px;}
.second-list .exp-text p{line-height:22px;}
.second-list .exp-text p em{margin-right:20px;}
.three-list p{}
.three-list .exp-left{}
.exp-top{}
.exp-top a{}
.four-list .exp-right p{margin-top:38px;font-size:16px;}
.second-list .sec-top {margin-top: 30px;}
.m-bottom{ margin-bottom: 20px!important;}
.help-link{-moz-box-shadow:0px 2px 3px #e6e6e6 inset; -webkit-box-shadow:0px 2px 3px #e6e6e6 inset; box-shadow:0px 2px 3px #e6e6e6 inset; border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}