#reg-panel{ width:100% ; left:0px ; box-shadow:none ; background:#fff ; border-radius:0px;}
	#register-form-table td{ width: auto; }
	#reg-panel .text{width:93.8%; max-width:93.8%; line-height:normal ; float:left}
	#reg-panel .text.input-short{ width:50%;}
	.btn{width:40% ; margin-left:3.7% ;-webkit-appearance: none;}
		#reg-panel i{ height:0px; display:none!important;  }
		.register-btn{ width:100% ; -webkit-appearance: none;}
		.weedialog  .dialog-cancel{ background:#9e9e9e;border: 0 none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    width: 124px;}
.weedialog  .dialog-cancel ,.weedialog .dialog-ok{ width:100px;}
#reg-panel h1{ height:60px; border-bottom:2px solid #ededed; margin-bottom:0px;}
#reg-panel h1 a{ width:100px; height:43px; background:url(../images/oauth/logo_h5_wx.png) no-repeat; background-size: 100%; display:inline-block;   margin-top: 15px;}
#reg-panel h3{ margin:0px 5%; border-bottom:1px solid #ededed; height:30px; font-size:14px; font-weight:normal; line-height:30px;}
#reg-panel h3 span{ float:right;}
.reg_xy{ padding:10px;}