@charset "utf-8";
.tzq_choose{border:1px solid #e3e3e3;width: 645px;margin-top: 25px;}
.tzq_choose .tzq_tit{border-bottom:1px solid #e3e3e3;height: 38px;line-height: 38px;background: #fcfcfc;font-size: 14px;color: #0e0e0e;padding-left: 10px;}
.tzq_choose .tzq_tit i{display: inline-block;background: url(../images/account/tzq_qr.png);width: 27px;height: 19px;vertical-align: -4px;margin-right: 10px;}
.tzq_choose .tzq_cont .zw{padding:22px 0; text-align: center;color: #9b9a9a;font-size: 14px;}
.tzq_table{font-size: 14px;padding-top: 2px;text-align: center;margin-bottom: 18px;}
.tzq_table thead tr th{color: #a6a6a6;height:38px;line-height: 38px; padding: 0;    text-align: center;}
.tzq_table tbody tr td{padding: 0;line-height: 38px;}
.tzq_table .zjq_radio{margin-right:15px;vertical-align: -4px;*vertical-align: 0;width: 18px;height: 18px;}
.tzq_table tbody tr:nth-child(odd){background: #fcfcfc} 
.tzq_table tbody tr:nth-child(even) {background: #FFF}
.tzq_choose .tzq_cont .pagination{margin-bottom: 15px;}

    