@charset "utf-8";
body{ background:#fe4a1a; background-size: 100% 365px; color:#555555; overflow-x:hidden; min-height:600px;}
img{}
.dao-btn .btn{ width:190px; display:block; text-align:center; margin:0 auto; background:#ffee2f; height:40px; color:#ef1c23; text-decoration:none; font-size:21px; line-height:40px; border-radius:5px;-moz-box-shadow:0px 3px 0px #e57f01; -webkit-box-shadow:0px 3px 0px #e57f01; box-shadow:0px 3px 0px #e57f01; position:relative; font-weight:bold; cursor:pointer;}

.mt15{ margin-top:15px;}
.ptb15{ padding:15px 0;}
.hong-jieguo{ padding:7px 0 0px;position:relative; background:url(../images/rob-hongbao/list_bg.png?v=201412172219) repeat-x; background-size:23px 7px; margin-top:0px;}
.hong-list{ margin:0px auto; background:#fff;}
.hong-list h2{ text-align:center; font-size:15px; padding:10px 0px; color:#999999;}
.hong-list h2 .hong-img{ margin-right:5px;}
.hong-list h2 .hong-img,.hong-list h2 .hong-img img{ display:inline-block; border-radius:15px; width:30px; height:30px; vertical-align:middle;}
.hong-list h3{ padding: 0px 8px 0; position:relative; text-align:center;}
.hong-list h3 em{ display:block; border-bottom:1px solid #cacbcd; position: relative; top:13px;}
.hong-list h3 span{ background:#fff; position:relative; padding:0 15px; font-size:15px;}
.hong-list ul{ padding:0 8px 15px;}
.hong-list ul li{ border-bottom:1px dashed #dbdedd; height:40px; line-height:40px; overflow:hidden;padding-top:10px;}
.hong-list ul li .hong-tel{ font-size:14px; padding-right:5px; vertical-align:middle;}
.hong-list ul li .hong-time{ color:#b6b5ae; padding-left:5px;}
.hong-list ul li em{ float:right; font-size:18px; color:#e61f26;line-height:30px;}
.hong-list ul li .hong-img,.hong-list ul li .hong-img img{ float:left; width:30px; height:30px; border-radius:15px;}
.hong-list ul li .hong-text{ float:left; line-height:18px; position:relative; top:-2px; padding-left:8px; width:55%; }
.hong-list ul li .hong-text h4{width:95%; overflow:hidden; display:inline-block; height:14px; line-height:14px;}
.hong-list ul li .hong-text .name{ }
.hong-list ul li .hong-text p{ color:#b6b5ae;}

.tranform{animation: 2s linear infinite transform; background:url(../images/rob-hongbao/guang.png?v=201412172219) no-repeat; background-size:100% 400px; width:100%; height:400px;}
@-webkit-keyframes transform{0%{-webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}
@keyframes transform{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-moz-keyframes transform{0%{-moz-transform: rotate(0deg);}100%{-moz-transform: rotate(360deg);}}


.guoqi-bottom{ background:url(../images/rob-hongbao/bg.png?v=201412172219) no-repeat top center;background-size:100% 57px; height:57px; position:absolute; bottom:0; width:100%;}
.table-cell{ width:100%; height:350px; position:absolute; top:60%; margin-top:-195px;}
.lingdao-top .table-cell{ top:55%;}
@media screen and (min-height: 550px) {
    .lingdao-top{height:400px;}
}
@media screen and (max-height: 480px) {
    .dao-btn{ padding-top:8px;}
	.guoqi-top h2{ padding-top:55px;}
}




.top{ text-align:center; position:relative; background:url(../images/rob-hongbao/christmas-bg.png?v=201412172219) no-repeat center #52c9c3; height:225px; background-size:320px 385px;padding-top:170px;}
.christmas-qiang .rule{ position:absolute; right:10px; top:15px; width:28px; height:35px; text-indent:-999em; outline:none; background:url(../images/rob-hongbao/ch_guize.png?v=201412172219) no-repeat; background-size:28px 35px; z-index:10;}
.christmas-qiang .logo{position:absolute; left:10px; top:15px; width:28%; height:30px; outline:none; background:url(../images/rob-hongbao/logo.png?v=201412172219) no-repeat; background-size:75px 20px; z-index:10;}
.top img{ max-width:640px;}
.rob-tel{ width:86%; margin:0px auto 10px; position:relative;}
.tel-box{ width:207px; height:40px; border:1px solid #ffffff; border-radius:5px; text-align:center; font-size:20px; -moz-box-shadow:inset 0px -1px 2px #e9e9e9; -webkit-box-shadow:inset 0px -1px 2px #e9e9e9; box-shadow:inset 0px -1px 2px #e9e9e9;-webkit-appearance:none; display:block; margin:0 auto 0px; color:#000; position:relative;}
.tel-box:focus{border:1px solid #cccccc; outline:none;}
.tel-btn{-moz-box-shadow:0px 3px 0px #e57f01; -webkit-box-shadow:0px 3px 0px #e57f01; box-shadow:0px 3px 0px #e57f01; width:207px; background:#ffee2f; border:0; height:43px; font-size:21px; color:#ef1c23; border-radius:5px;font-weight:bold; display:block;margin:0 auto;}

.errorDiv{ clear:both; width:65%; margin:0 auto; color:#fff; padding:3px 0;}
.change-tel{ width:96%;margin:10px auto 20px;}
.change-btn{ width:100%; line-height:42px;}
.no-change{ background:#ccc;-moz-box-shadow:0px 5px 0px #999; -webkit-box-shadow:0px 5px 0px #999; box-shadow:0px 5px 0px #999; color:#fff;-webkit-appearance:none; opacity:1;}



/*圣诞节红包*/

.christmas-qiang{ background-image: url(../images/rob-hongbao/top_bg.png?v=201412172219); background-repeat:no-repeat; background-color:#52c9c3; background-size: 100% 15px; padding-top:15px;}
.christmas-qiang .vetically{ position:absolute;width:100%;}
.christmas-qiang .rob-tel{}
.p-tips{ text-align:center; color:#fffdd7; font-size:14px; font-style:italic;}
.color-white{ color:#fff;}
.color-yellow{ color:#fff44d;}
.color-blue{ color:#60c9ff;}
.color-red{ color:#e61f26;}
.f11{ font-size:11px;}
.f15{ font-size:15px;}
.f18{ font-size:18px;}
.f52{ font-size:52px;}
.money{ height:40px; line-height:40px;  padding:10px 0; font-size:35px;}

.bg_white{background-color:#52c9c3;}
.christmas-qiang .smile{ background:url(../images/rob-hongbao/christmas-bg1.png?v=201412172219) no-repeat center #52c9c3; background-size:320px 385px;}
.christmas-qiang .sweat{background:url(../images/rob-hongbao/christmas-bg2.png?v=201412172219) no-repeat center #52c9c3; background-size:320px 385px;}
.top .qw_img,.gq_img{ background:url(../images/rob-hongbao/icon-02.png?v=201412172219) no-repeat; height:120px; width:157px; margin:0px auto; background-size:100%;}
.top .gq_img{background:url(../images/rob-hongbao/icon-03.png?v=201412172219) no-repeat; background-size:100%;}
.top .p-title{ background:url(../images/rob-hongbao/q_title.png?v=201412172219) no-repeat center; height:44px; background-size: 200px 44px; margin-bottom:8px;}
.top .p-title1{ background:url(../images/rob-hongbao/p-title1.png?v=201412172219) no-repeat center; height:85px; background-size:182px 75px;}


.mark{width: 100%;height: 100%;filter: Alpha(Opacity=70);Opacity:0.7; background:#000; position:fixed;display:none; top:0px; left:0px; z-index:11;}
.pop_icon{ background:url(../images/rob-hongbao/pop_icon.png?v=201412172219) no-repeat; width:225px; height:270px; background-size:cover; position: fixed; right:35px;display:none; top:0px;z-index:11;}
.dis_block{ display:block}
.mt100{margin-top:100px;}
