.red-table { margin: 20px 30px 0; font-size: 14px; }
.data-table tbody tr td { padding: 5px 0 }
.ui-tabs { background-color:#fff; position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */ border: none !important; border-radius: 0 !important; padding-top: 13px; }
.ui-tabs .ui-tabs-nav { width: 744px; height: 36px;padding:0; background: #f2f3f4; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border: none; border-bottom: 3px solid #ffb604; overflow: hidden; margin: 0 auto; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 0; height: 36px; line-height: 24px; font-size: 14px; padding: 0; white-space: nowrap; border-right: 1px solid #e8e9ee; border-left: none; border-top: none; border-bottom: none; border-radius: 0; background: none; }
.ui-tabs .ui-tabs-nav li a { color: #878787; float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; background: #ffb604; border-right: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { color: #FFF; cursor: text; }
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */ .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; }
.ui-tabs .ui-tabs-panel {padding:0; display: block; border-width: 0; background: none; }
.tab-thead { width: 744px; height: 46px; line-height: 46px; font-size: 14px; color: #878787; margin: 0 auto; background: #f2f3f4;}
.tab-tbody tr td, .red-send tbody tr td { font-size: 14px; text-align: center; height: 60px; border-bottom: #d7dee3 solid 1px; color: #878787; }
.pages { margin-right: 13px; }
.tab-thead, .tab-tbody, .red-send { text-align: center; }
.red-send thead tr th{ height: 44px; font-size: 14px; color: #878787; border-bottom: #d7dee3 solid 1px; }
.red-send thead tr th, .tab-thead tr th { text-align: center; }
.red-send .text-left { text-align: left; padding: 0 20px; }
.red-send .but-blue, .red-send .btn-gray { width: 60px; height: 26px; line-height: 26px; font-size: 12px; display: inline-block; border-radius: 3px }
.img_loading{background:url(../images/common/loading.gif) no-repeat center center;}
.ui-widget{font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif}
.tab-tbody .text-left{ text-align: left;  }
.btn-gray {background: #e8ebf2;color: #878787;}
.btn-gray:hover{color: #878787;}
.red-send tbody tr td.bot0{border-bottom:none}
.empty-box{ padding:50px 0;}