.reg_box{background:#fff;-webkit-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);}
.reg_title{ height:50px; width: 100%; line-height:50px; background:url(../images/user/tit_bg.gif) repeat-x; border-bottom:1px solid #e5e5e5; position:relative;}
.reg_title h2{ font-size:18px; padding-left:15px;color:#707374}
.reg_title span{ position: absolute; display: inline-block; top:0; right: 15px;}
.reg_title span a{ color:#54a8f2;}
.reg_con {padding:20px;}
.reg_con h3{ background-image:url(../images/user/reg-suctit.jpg); background-repeat: no-repeat; height:60px;width:940px;margin:0 auto; text-indent: -9999px; margin-bottom: 15px;}
.reg_con h3.step2{ background-position: 0 -62px;}
.reg_con h3.step3{ background-position: 0 -122px;}

.reg_con01 {padding-top:30px;}
.reg_left{width:660px;padding-top:30px;padding-bottom:25px;text-align:center;border-right: 1px solid #e1e1e1;float:left}
.reg_right{width:225px;padding:75px 0 0 54px;float:right;}
.reg_left,.reg_right{font-size: 14px;color:#414040}
.reg_left span{display: block;}
.font24{font-size:24px;margin-bottom:10px;}
a.reg_back{display:inline-block;margin-top:40px;width:144px;height:46px;line-height:46px;text-align:center;font-size:18px;border-radius:6px;background: #ffb904}
a.reg_back,a.reg_back:hover{color:#FFF;}
.color-blue1{cursor: pointer;}
.reg_download{margin-top:15px}
.reg_wixin, a.andriod, a.ios{background-image:url(../images/user/down-icon.png);background-repeat: no-repeat; }
.reg_wixin,.reg_app{float:left;display: block;}
.reg_wixin{height:74px;width:74px;background-position: 0 0;}
.reg_app{width:98px;margin-left:7px }
a.andriod, a.ios{width:98px;height:30px;display:block;}
a.andriod{background-position: -81px 0;}
a.ios{background-position: -81px -44px;margin-top:10px;}
/*snowNorth*/
.reg_tab_step1 td,.reg_tab_step2 td{ padding:15px;}
.reg_tab_step1 th{ 
	text-align: right;
	font-size: 14px;
	color: #000;
}
.reg_tab_upload td{ padding: 0;}
   .mobile-pup{
        width: 163px;
        height: 106px;
        background-color: #fbfbfb;
        border-radius: 10px 10px;
        border: 1px solid #bababa;
        position: relative;
        margin-right: 10px;
        clear:both;
    }
    .mobile-pup-ul{
        width: 163px;
        height: 28px;
        color:#ccc;
    }
    .mobile-pup-ul-upload{
		position:relative;
		width: 30px;
		height: 20px;
		overflow: hidden;
    }
    .mobile-pup-ul li { float: left; line-height: 20px; height: 20px;}
    .mobile-pup .showimg {position: absolute; width: 100%; height: 100%; z-index: 100; overflow: hidden;}
    .mobile-pup p{ padding-top: 120px; text-align: center; font-size: 12px; }
    .mobile-pup .progress {position: absolute; z-index: 101;}
    .mobile-pup .upfile_root {position: absolute;left: 49px; top:42px; z-index: 102;}
    a.imgdemo{color:#4da3e3; text-decoration: underline;}
    /* a.imgdemo:hover{color:#ededed; background-color: #ffcc00;} */
    #showItem{ display: none;}
     .newdialog{
    border-top: solid 3px #feb705 !important;
    border-radius: 2px !important;
    box-shadow:none !important;
    color:#787878  !important;
    font-family: 'microsoft yahei' !important;
}
.newdialog .ui-dialog-footer button.ui-dialog-autofocus {
    color: #ffffff;
    background-color: #ffb904 !important;
    border-color: #ffb904 !important; 
    outline: none;
    border-radius:0 !important;
}
.newdialog .ui-dialog-header{
    background-color:#f3f3f3;
}
.newdialog .ui-dialog-footer{
    text-align: center;
}
.newdialog .ui-dialog-button {
    float: none;
}
.newdialog .ui-dialog-title{
    padding:12px !important;
    font-size: 16px !important;
    color:#787878 !important;
    width: 50%;
}
.newdialog .ui-dialog-close{
    font-size: 25px !important;
    opacity:1;
    color:#bbbbbb !important;
    top:9px !important;
}
.newdialog{
    padding:0 !important;
}
.imgdesc{
    color:#333333;
    padding-right: 10px;
}
.imgdesc b{ color:#ccc;}
.mess_title_n{ padding-left: 20px; color:#707374;}
.new_submit { padding-left: 50px; padding-right: 50px; line-height: 36px; height: 36px;}
.new_idbox { height: 36px; line-height: 36px; border-radius: 5px; width: 220px;}
.birthday {background: url(../images/user/key.gif) 98% center no-repeat; }
._reg_tip {height: 54px; display: none;}
._reg_tip div{background: url(../images/user/tip_arr.gif) 20px bottom no-repeat; height: 53px; width: 100%; margin-left: 50px;}
._reg_tip div span{ padding:12px 30px; border:1px solid #eeac8b; border-radius: 5px; background-color: #fff3ed; display: inline-block; color: #ce483a;}
.reg_head{ height: 97px; width: 100%; border-bottom:3px solid #feb804; background-color: #fff; margin-bottom: 40px;}
.reg_head div{ width: 980px; margin: 0 auto; padding-top: 20px;}
.input-short{
width: 117px;
vertical-align: middle;
}

.btn {
width: 100px;
text-align: center;
font-size: 12px;
border: none 0px;
background: #25aae2;
border-radius: 2px;
height: 36px;
line-height: 36px;
vertical-align: middle;
cursor: pointer;
color: #ffffff;
}
.btn:hover{background:#49c0f2; color:#ffffff;}

.register-btn:hover {
background: #ffca40;
color: #ffffff;
}
.register-btn {
width: 114px;
height: 36px;
float: left;
cursor: pointer;
background: #ffb904;
display: block;
color: #ffffff;
text-decoration: none;
line-height: 36px;
border-radius: 2px;
font-size: 16px;
text-align: center;
border: none;
}
.gray{background:#ccc;cursor:default;}
.gray:hover{background:#ccc;cursor:default;}

.errorDiv {
color: #FF6B00;
font-size: 12px;
line-height: 38px;
}
.icon_yes, .icon_no {
background-image: url(../images/oauth/icon.png);
background-repeat: no-repeat;
width: 15px;
height: 15px;
display: inline-block;
vertical-align: middle;
margin-left: 8px;
background-position: 0px -19px;
}
.footer {
width: 880px;
margin: 50px auto 0;
padding: 20px;
text-align: center;
border-top: 1px dotted #e3e3e3;
}
.imgdesc_m{width:30px; overflow: hidden;}
.imgdesc_m a.upfile_word{ padding-left: 0 !important;}
td.clear_padding{ padding:0;}