.reg_box{background:#fff;-webkit-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1);-moz-box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); box-shadow:0px 1px 5px 2px rgba(52,52,52,0.1); color:#4f4e4e;font-size:14px;}
.reg_title{ height:50px; width: 100%; line-height:50px; background:url(../images/user/tit_bg.gif) repeat-x; border-bottom:1px solid #e5e5e5; position:relative;}
.reg_title h2{background:url(../images/user/line.gif) 20px 15px no-repeat; font-size:18px; padding-left:35px;color:#1a1f25}
.reg_title span{ position: absolute; display: inline-block; top:0; right: 15px; color:#1a1f25;}
.reg_title span a{ color:#54a8f2;}
.reg_con {padding:20px; padding-top:40px;}
.reg_con h3{ background-image:url(../images/user/reg-suctit-skin_new.jpg); background-repeat: no-repeat; height:60px;width:941px;margin:0 auto; text-indent: -9999px; margin-bottom: 40px;}
.reg_con h3.step2{ background-position: 0 -60px;}
.reg_con h3.step3{ background-position: 0 -120px;}

.reg_con01 {padding-top:30px; padding-bottom: 50px;}
.reg_left{width:660px;padding-top:30px;padding-bottom:45px;text-align:center;border-right: 1px solid #e1e1e1;float:left}
.reg_right{width:225px;padding:60px 0 0 74px;float:left;}
.reg_left,.reg_right{font-size: 14px;color:#414040}
.reg_left span{display: block;}
.font24{font-size:24px;margin-bottom:10px;}
a.reg_back{
    display:inline-block;margin-top:80px;
    line-height:46px;text-align:center;font-size:18px;
    float: none;
}
a.reg_back,a.reg_back:hover{color:#FFF;}
.color-blue1{cursor: pointer; text-decoration:underline;}
.reg_download{margin-top:15px}
.reg_wixin, a.andriod, a.ios{background-image:url(../images/user/down-icon-v2.png);background-repeat: no-repeat; }
.reg_wixin,.reg_app{float:left;display: block;}
.reg_wixin{height:86px;width:86px;background-position: 0 0; text-indent:-9999px;}
.reg_app{width:98px;margin-left:7px }
a.andriod, a.ios{width:100px;height:32px;display:block;}
a.ios{background-position: -100px -3px; margin-top:3px;}
a.andriod{background-position: -100px -48px;margin-top:13px;}
/*snowNorth*/
.reg_tab_step1 td,.reg_tab_step2 td{ padding:15px;}
.reg_tab_step1 th{ 
	text-align: left;
	font-size: 14px;
	color: #000;
}
.reg_tab_step1 th label{ 
    padding-left: 108px;
}

.reg_tab_step1 th label:after{ content: " :";}
#form-agreement-row th label:after{ content: "";}

.reg_tab_upload td{ padding: 0; }
   .mobile-pup{
        width: 163px;
        height: 106px;
        background-color: #fbfbfb;
        border-radius: 10px 10px;
        border: 1px solid #bababa;
        position: relative;
        margin-right: 10px;
        clear:both;
    }
    .mobile-pup-ul{
        width: 163px;
        height: 28px;
        color:#ccc;
    }
    .mobile-pup-ul-upload{
		position:relative;
		width: 30px;
		height: 20px;
		overflow: hidden;
    }
    .mobile-pup-ul li { float: left; line-height: 20px; height: 20px;}
    .mobile-pup .showimg {position: absolute; width: 100%; height: 100%; z-index: 100; overflow: hidden;}
    .mobile-pup p{ padding-top: 120px; text-align: center; font-size: 12px; }
    .mobile-pup .progress {position: absolute; z-index: 101;}
    .mobile-pup .upfile_root {position: absolute;left: 49px; top:42px; z-index: 102;}
    a.imgdemo{color:#4da3e3; text-decoration: underline;}
    /* a.imgdemo:hover{color:#ededed; background-color: #ffcc00;} */
    #showItem{ display: none;}
     .newdialog{
    border-top: solid 3px #feb705 !important;
    border-radius: 2px !important;
    box-shadow:none !important;
    color:#787878  !important;
    font-family: 'microsoft yahei' !important;
}
.newdialog .ui-dialog-footer button.ui-dialog-autofocus {
    color: #ffffff;
    background-color: #ffb904 !important;
    border-color: #ffb904 !important; 
    outline: none;
    border-radius:0 !important;
}
.newdialog .ui-dialog-header{
    background-color:#f3f3f3;
}
.newdialog .ui-dialog-footer{
    text-align: center;
}
.newdialog .ui-dialog-button {
    float: none;
}
.newdialog .ui-dialog-title{
    padding:12px !important;
    font-size: 16px !important;
    color:#787878 !important;
    width: 50%;
}
.newdialog .ui-dialog-close{
    font-size: 25px !important;
    opacity:1;
    color:#bbbbbb !important;
    top:9px !important;
}
.newdialog{
    padding:0 !important;
}
.imgdesc{
    color:#333333;
    padding-right: 10px;
}
.imgdesc b{ color:#ccc;}
.mess_title_n{ padding-left: 20px; color:#707374;}
.new_submit { padding-left: 50px; padding-right: 50px; line-height: 36px; height: 36px;}
.new_idbox { height: 34px; line-height: 34px; /*border-radius: 5px;*/ width: 224px;}
.birthday {background: url(../images/user/key.gif) 98% center no-repeat; }
._reg_tip {height: 54px; display: none;}
._reg_tip div{background: url(../images/user/tip_arr.gif) 20px bottom no-repeat; height: 53px; width: 100%; margin-left: 50px;}
._reg_tip div span{ padding:12px 30px; border:1px solid #eeac8b; border-radius: 5px; background-color: #fff3ed; display: inline-block; color: #ce483a;}
.reg_head{ height: 97px; width: 100%; border-bottom:3px solid #feb804; background-color: #fff; margin-bottom: 40px;}
.reg_head div{ width: 980px; margin: 0 auto; padding-top: 20px;}
.input-short{
width: 117px;
vertical-align: middle;
}

.btn {
width: 100px;
text-align: center;
font-size: 12px;
border: none 0px;
background: #25aae2;
border-radius: 2px;
height: 36px;
line-height: 36px;
vertical-align: middle;
cursor: pointer;
color: #ffffff;
}
.btn:hover{background:#49c0f2; color:#ffffff;}

.register-btn:hover {
background: #ffca40;
color: #ffffff;
}
.register-btn {
width: 276px;
height: 36px;
float: left;
cursor: pointer;
background: #f96748;
display: block;
color: #ffffff;
text-decoration: none;
line-height: 36px;
border-radius: 2px;
font-size: 16px;
text-align: center;
border: none;
}
.gray{background:#ccc;cursor:default;}
.gray:hover{background:#ccc;cursor:default;}

.errorDiv {
color: #FF6B00;
font-size: 12px;
line-height: 38px;
}
.icon_yes, .icon_no {
background-image: url(../images/oauth/icon.png);
background-repeat: no-repeat;
width: 15px;
height: 15px;
display: inline-block;
vertical-align: middle;
margin-left: 8px;
background-position: 0px -19px;
}
.footer {
width: 880px;
margin: 0px auto 0;
padding: 20px 0 40px;
text-align: center;
color:#999999;
font-size:14px;
}
.imgdesc_m{width:30px; overflow: hidden;}
.imgdesc_m a.upfile_word{ padding-left: 0 !important;}
td.clear_padding{ padding:0;}
.skin-register-btn {
height: 50px;
padding:20px 0px 30px 108px;
}
.w1100{ width : 1100px;}
.wrap{width : 1100px;}
.mb40{ margin-top:40px;}
.idtab th{ text-align: left;}
.idtab th span{ text-align: left; padding-left:60px;}
.idtab th span:after{ content: " :"}
.reg_box{ box-shadow:none; border:1px solid #e5e5e5}
body{ background:#f6f7f8;}
.register-btn{ background:url(../images/user/btn_bg.png) no-repeat -244px -109px; width:247px; height:46px; line-height:44px; font-size:18px; vertical-align:middle;}
.register-btn:hover{background:url(../images/user/btn_bg.png) no-repeat -244px -166px;}
.register-btn:active{background:url(../images/user/btn_bg.png) no-repeat -244px -224px;}
.btn{background:url(../images/user/btn_bg.png) no-repeat -223px -330px; width:120px; height:34px; line-height:32px; font-size:14px;}
.btn:hover{background:url(../images/user/btn_bg.png) no-repeat -351px -330px;}
.btn:active{background:url(../images/user/btn_bg.png) no-repeat -479px -330px;}
#idtab td a{ padding-top:20px;}
.checkbox {
background: url("../images/user/choice_icon.png") no-repeat 0 4px;
padding: 0 0 1px 16px;
color:#000;
}
.checkbox:hover{color:#000;}
.current_checkbox {
background-position: 0 -24px;
}
.action-send-code{ padding-left: 12px;}


.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-widget-header{ background:#ff9a87; border:1px solid #f8684d;}
.ui-widget-header .ui-icon{background-image: url(../images/ui/ui-icons_222222_256x240_new.png)}
.ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #ff9a87 !important;background:#ff9a87 !important;font-weight:bold;color:#c77405;}
.ui-datepicker-calendar .ui-state-hover{ border:none!important; background:#f9f9f9!important; color:#f96648!important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{color:#f96648!important;}


/*×·¼Ó²¹³ä*/
.m_title{ margin-left: 108px;margin-bottom: 20px;}
.m_title h4{ font-size: 20px;color: #1a1a1a;margin-bottom: 10px;}
.m_title .m_tis{ font-size: 14px;color: #f96546;}
.m_title .nor_text{ font-size: 14px;color: #1a1a1a;margin-left: 5px;}
.m_title .text_line{ color: #0088cc;margin-left: 3px;}

.reg_tab_step4 tr th{ padding-left: 108px;font-size: 14px;color: #4f4e4e;}
.reg_tab_step4 td { padding: 15px;}
.m_jiangeline{height: 1px;border-bottom: 1px #d1d1d1 dashed;width: 941px;margin:30px auto; }
.reg_tab_step4_btn{ margin: 30px 0px 50px 108px; }
.new_select_box{ width: 225px;height: 34px;}

.pp_error::after{content: ""!important;}
