.pl180{ padding-left:180px;}

.acolor{ color:#2594e2;}
.registered { background:#ffffff; border-top:1px solid #e5e5e5; padding-bottom:40px;}
.registered dl { padding-top:20px;}
.registered dl dt{ width:162px; font-size:16px; text-align:right; line-height:42px;}
.name_box{ width:257px; padding-left:5px; height:40px; line-height:40px; border-radius:2px;}