.p_user_share{background:#fdfdfd; border:1px solid #ececec; padding:10px 35px; border-radius:5px; margin:16px 0px 0;}
.p_user_share .t{font-size:16px; line-height:24px; color:#4f4e4e; margin-bottom:10px;}
.p_user_share .t span{ color:#333;}
.p_user_share .share_jt{width:393px; border-right:1px solid #e3e3e3;}
.p_user_share .share_copy{width:360px;}
.p_user_share .jiathis_style_32x32{margin-left:30px;}
.p_user_share .share_jt a{display:block; width:37px; height:37px; margin-right:14px; float:left;}
.p_user_share .jiathis_style_32x32 .jtico{ padding-left:38px !important; height:38px !important; background:url("../images/user/user_share.png") no-repeat;}
.p_user_share .jiathis_style_32x32 .jtico_weixin{ background-position:0 0;}
.p_user_share .jiathis_style_32x32 .jtico_tsina{ background-position:-38px 0;}
.p_user_share .jiathis_style_32x32 .jtico_qzone{ background-position:-76px 0;}
.p_user_share .jiathis_style_32x32 .jtico_renren{ background-position:-114px 0;}
.p_user_share .jiathis_style_32x32 .jtico_tqq{ background-position:-152px 0;}
.p_user_share .jiathis_style_32x32 .jtico_jiathis{background-position:-190px 0;}
.p_user_share .share_copy .share_copy_btn{display:block; font-size:16px; text-align:center; line-height:38px; width:203px; height:38px; margin:0 auto; color:#fff; background:url("../images/user/user_share.png") no-repeat 0 -40px; float:none; border-radius:0;}