body {
	padding: 0;
	margin: 0;
	font-family: SimSun;
}
img {
	border: 0;
}

.g-sd
{
	margin: auto;
	width: 100%;
	margin-top: 15%;
	text-align: center;
}
.g-sdimg
{
	width: 321px;
	height: 85px;
	margin: auto;
	background: url("../images/logo/Logo_name.png") no-repeat;
}
.g-sdzi
{
	font-size: 38px;
	color: #999999;
	margin-top: 30px;
}
.g-sdTime
{
	font-size: 20px;
	margin-top: 20px;
	color: #d0d0d0;
}
.g-sdTime span
{
	color: #e58221;
	margin-left: 5px;
}
