.weedialog { border: none; border-radius: 0; }
.weedialog .dialog-title, .weedialog .dialog-close,.weedialog .dialog-close:hover,.weedialog .dialog-close:active { background-image: url(../images/weebox/wee-icon.png); background-repeat: no-repeat; }
.weedialog .dialog-title { background-position: 12px -114px; padding-left: 30px; }
.weedialog .dialog-close,.weedialog .dialog-close:hover,.weedialog .dialog-close:active { height: 17px; width: 17px; background-position:-6px -170px; }
.weedialog .dialog-header { height: 44px; line-height: 44px; background-color: #fcfcfc; border: 1px solid #e3e3e3; }
.weedialog .btn-base { display: inline-block; padding-left: 5px; color: #FFF; font-size: 16px; }
.weedialog .btn-base span { display: inline-block; padding: 0 27px 0 22px;/*float:left;*/ }
.weedialog .dialog-ok, .weedialog .dialog-ok:hover, .weedialog .dialog-ok:active { width: auto; height: 38px; line-height: 36px; background: url(../images/weebox/wee-icon.png) no-repeat left -216px; }
.weedialog .dialog-ok span { height: 38px; line-height: 36px; background: url(../images/weebox/wee-icon.png) no-repeat right 0; }
.weedialog .dialog-cancel { margin-left: 20px; }
.weedialog .dialog-cancel, .weedialog .dialog-cancel:hover, .weedialog .dialog-cancel:active { width: auto; height: 46px; background: url(../images/weebox/wee-icon.png) no-repeat left -277px; }
.weedialog .dialog-cancel span { height: 38px; line-height: 36px; background: url(../images/weebox/wee-icon.png) no-repeat right -61px; }
.weedialog .dialog-close{ margin-top:14px; margin-right:14px;}
.weedialog .dialog-content{padding: 32px 35px 0;}
.weedialog .dialog-button{ padding:30px 0 25px;}

.shuhui_box .but-disabled{background: url(../images/weebox/wee-icon.png) no-repeat left -277px !important;}
.shuhui_box .but-disabled span{height: 38px; line-height: 36px; background: url(../images/weebox/wee-icon.png) no-repeat right -61px; color:#fff;}
