@charset "utf-8";
.yaoqing { width:730px; margin: 0px auto; padding:0px 0px 20px;}

.yaoqing p{ line-height:24px;}
.yaoqing h3{ padding-bottom:10px; padding-top:25px; font-size:16px;}
.yqjilu{border:1px solid #e5e5e5; width:100%; border-collapse:separate; }
.yqjilu thead td,.yqjilu thead th{ border-bottom:1px solid #e5e5e5; font-size:14px; color:#333; background:#ececec; padding:5px 10px;}
.yqjilu td{ text-align:center;}
.yqjilu td,.yqjilu th{ padding:10px; font-size:13px; color:#888888;}
.yqjilu th{ text-align:left;}
.yqjilu td em{ display:block;}
.yq_tip{ font-size:13px; color:#888888;}
.copy_link{ height:35px;}
.link_box{ padding-left:10px; height:30px; line-height:30px; border: none 0px; float:left; font-size:16px; display:block; }
.link_box:focus{ border-color:#ffffff; box-shadow:0 0px 0px rgba(255, 255, 255, 0) inset, 0 0 0px rgba(255, 255, 255, 0) !important;}
.link_but{ height:30px; line-height:28px; color:#0088cc; text-align:center; font-size:16px; background:#fff;  border:0px; border-radius:3px; margin-left:10px; float:left; width:70px;}

.youhui{ border:2px solid #e10000; padding:15px 20px; position:relative; margin-top: 20px;}
.youhui p{ color:#888888; font-size:16px; line-height:30px;}
.icon_yh{ width:67px; height:67px; background:url(../images/user/user.png) no-repeat -236px 0px; display:block; position:absolute; right:0px; top:0px;}
.cou_tab{ font-size:14px; text-align:center; margin-top:20px;}
.cou_tab thead{ text-align:center;}
.cou-select{border:0; background:#ececec; font-size: 14px;}