/**
* https://github.com/youzan/vant/blob/dev/src/style/var.less
*/

// Basic Colors
@black: #000;
@white: #fff;
@red: #ee0a24;
@blue: #1989fa;
@orange: #FC810C;
@orange-dark: #ed6a0c;
@orange-light: #fffbe8;
@green: #04B1A4;
@gray: #c8c9cc;
@gray-light: #e5e5e5;
@gray-darker: #7d7e80;
@gray-dark: #969799;

@text-color: #333333;
// NavBar
@nav-bar-icon-color: @gray-dark;
@nav-bar-arrow-size: 20px;
// Tab
@tab-active-text-color: @orange;
// Tabs
@tabs-bottom-bar-color: @orange;

// Dialog
@dialog-width: 300px;
@dialog-border-radius: 6px;
@dialog-message-font-size: 15px;
@dialog-has-title-message-text-color: #404040;
@dialog-confirm-button-text-color: @white;
.van-dialog {
  .van-dialog__confirm {
    background: #fc810c;
  }
}
// CountDown
@count-down-text-color: @orange;
@count-down-font-size: 15px;
@count-down-line-height: 30px;

// Button
@button-primary-background-color: @orange;
@button-primary-border-color: @orange;

// DropdownMenu
@dropdown-menu-title-active-text-color: @orange;
@dropdown-menu-option-active-color: @orange;

// numberKeyBoard
.van-number-keyboard {
  position: relative;
  margin-top: 10px;
}

// NoticeBar
@notice-bar-font-size: 12px;
@notice-bar-wrapable-padding:6px 10px;
