@charset "utf-8";
/* Css reset start */
body, 
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td, hr, button, 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var ,i {font-style: normal;	font-weight: 500;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ol, ul ,li{list-style: none;}
fieldset, img {border: 0}
del, ins { text-decoration: none }
caption, th { text-align: left }
html{color: #000;	-webkit-text-size-adjust: 100%;	-ms-text-size-adjust: 100%}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block; *display:inline; *zoom:1}
/*FORM RESET*/
button, input, select, textarea{font-size: 100%}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
button[disabled], html input[disabled]{cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;box-sizing: border-box;}
input[type="search"] {-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0}
textarea {overflow: auto}
q:before, q:after {content: ''}
del {text-decoration: line-through}
mark {background: #ff0}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em}
sub {bottom: -0.25em}
table {border-collapse: collapse;border-spacing:0;}
th {text-align: inherit;}
iframe{	display: block;}
a{text-decoration:none;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* ==|== FONT RESET======================= */
html, body, button, input, select, textarea {
	font: 12px/1.5 "Hiragino Sans GB", "\u5fae\u8f6f\u96c5\u9ed1", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, "\5b8b\4f53", sans-serif;}
/*float*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
input,button{ outline:none; }
.dl_main,body{ background-color: #e6eaec;}
.dl_top{ height: 50px;background-color: #fafafa;color: #333333;line-height: 50px;text-align: center;font-size: 16px;-moz-box-shadow:0px 2px 5px #d7dadc; -webkit-box-shadow:0px 2px 5px #d7dadc; box-shadow:0px 2px 5px #d7dadc;}
.dl_top a{ float: right;margin-right: 30px;text-decoration: none;color: #333333;}
.dl_center{ margin: 30px 0px 20px 0px;border: 1px solid #dadcdd;border-left: 0px;border-right: 0px; background-color: #fff;}
.dl_center ul {width: 90%;margin: 0 auto;}
.dl_center ul li{ height: 40px;line-height: 40px;border-bottom: 1px solid #dadcdd;font-size: 14px;color: #586068;}
.dl_center ul li span{width: 70px;display: inline-block}
.dlc_list span{width: 70px;display: inline-block;float: left;}
.dl_center ul li input{ border: none;margin-left: 20px;width: 83%;}
.disbor{ border-bottom: 0px!important;}
.dl_yanzhengma{ float: right;margin-bottom: -1px;}
.dl_yanzhengma img{ vertical-align: middle;width: 60px;}
.dl_footer { text-align: center;margin-bottom: 35px;}
.dl_footer input{ border: none;background-color: #f64172;border-radius: 30px;height: 40px;line-height: 40px;text-align: center;width: 90%;font-size: 14px;color: #fff;}
.dl_footer h2 { margin-top: 16px;}
.dl_footer h2 a,.zc_xieyi a{ text-decoration: none;color: #5ca9e4;font-size: 14px;}
.ma_input{margin-left: 48px;margin-right: 60px;}
.regicma_input{margin-left: 78px;margin-right: 60px;}

/*注册*/
.dl_footer h3{ color: #a4acb7;font-size: 12px;margin-top: 10px;margin-bottom: 7px;}

.dlc_list{overflow: auto;width: 90%;height: 40px;line-height: 40px;border-bottom: 1px solid #dadcdd;font-size: 14px;color: #586068;margin: 0 auto;}
.dlc_list input{ border: none;width: 100%;outline:none;height: 30px;}




.dlc_list .rc{ margin-left: 48px;position: relative;}
.dlc_list .regic_rc{margin-left: 78px;position: relative;}


.dlc_list label{ width: 30px;float: left;}


/*成功图标*/
.msg-wrapper{ height: 0px;line-height: 40px;color: #ff7163;background-color: #e6eaec;padding-left: 5%;overflow: hidden;margin-top: -1px;margin-bottom: -1px;}
.msg-wrappern span{ width: 90%;margin: 0 auto;}
.icons-yes {background: url(../images/icon-bg.png) no-repeat;display: none;width: 19px;height: 15px;margin-top: 12px;background-size: 18px 14px;display: none;}
.icon-no{background: url(../images/icon_error.png) no-repeat;display: inline-block;width: 15px;height: 15px;background-size: 15px 15px;margin-top: 12px;margin-right: 5px;}

.msg-show{ height: 40px;-webkit-animation:msgshow 0.5s ease-in-out;}
.msg-hide{ height: 0px;-webkit-animation:msghide 0.5s ease-in-out;}
.img-yanzheng{ width: 30%!important;}
.user_center{ margin-top: 10px!important;}
.title {background: #fff;height: 49px;line-height: 49px;font-size: 16px;text-align: center;-moz-box-shadow: 0px 5px 5px #d6d9db;-webkit-box-shadow: 0px 5px 5px #d6d9db;box-shadow: 0px 5px 5px #d6d9db;}
.user_center select{margin-left: 10px;-webkit-appearance: none;appearance: none;-webkit-box-sizing: border-box;box-sizing: border-box;background: url(../images/common/icon-arrow.png) no-repeat right center;background-size: 8px 13px;}

.yuyue-ipt{border: none;width: 50%;height: 45px;color: #909ba8;font-size: 13px;}
.phonecode{height: 38px;display: inline-block;width: auto!important;line-height: 38px;background-color: #fff;margin-top: 2px;margin-left: 0px!important;color: #3d81f0;}



/*登陆特殊样式*/

.login_error{ height: 40px;display: block;background-color:#fff;}

.gray ,.gray:hover{background:#ccc;cursor:default;}

.phone_gray{ color: #ccc;cursor:default;}


/*loading页面*/
.reg_load{display: none; width: 100%;height: 100%;background-color: #ccc;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;position: absolute;text-align: center;top: 0px;}
.reg_load img{ position: absolute;top: 200px;margin-left: -20px; }
/*展开动画*/
 @keyframes msgshow {
        0%{ height: 0px;}
		100%{height: 40px;}
}
@-moz-keyframes msgshow {
        0%{ height: 0px;}
		100%{height: 40px;}
}
 @-webkit-keyframes msgshow {
        0%{ height: 0px;}
		100%{height: 40px;}
}
@-o-keyframes msgshow {
        0%{ height: 0px;}
		100%{height: 40px;}
}

 @keyframes msghide {
        0%{ height: 40px;}
		100%{height: 0px;}
}


@-moz-keyframes msghide {
        0%{ height: 40px;}
		100%{height: 0px;}
}

 @-webkit-keyframes msghide {
        0%{ height: 40px;}
		100%{height: 0px;}
}

 @-o-keyframes msghide {
        0%{ height: 40px;}
		100%{height: 0px;}
}


/*header*/
.m-head-fix{min-height:40px; width:100%; background-color:#fff; z-index:100;-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); box-shadow: 0 0 5px rgba(0,0,0,0.2);}
.m-head .head_app{ position:relative; background-color:#5ca9e4; height:26px; line-height:26px; padding:8px 15px; color:#fff;}
.m-head .head_app a.down_btn{ display:inline-block; width:72px; height:26px; background-color:#fff; color:#5ca9e4; text-align:center; text-decoration:none; border-radius:13px; margin-left:10px;}
.m-head .head_app span.close{ position:absolute; right:10px; top:10px; width:22px; height:22px; background:url(../images/icon_app_cha.png); background-size:100% 100%;}
.m-head .logo_menu{ background-color:#fff; height:40px;}
.m-head .logo_menu .logo{ float:left;margin:6px 0 0 8px; width:93px; height:27px; background:url(../images/head_logo.png); background-size:100% 100%;}

/*head占位*/
.down_app_none .head_app{display:none;}

.wx_eimg{margin: 90px auto;width: 170px;font-size: 14px;color: #f74172;}
.wx_eimg .wxe_left{ float: left;}
.wx_eimg i{ background: url("../images/wx_error_01.jpg") no-repeat 0 0;width: 10px;height: 10px;margin-right: 4px; margin-top:6px;display:block;background-size: cover;}
.wx_eimg .wxe_right{ margin-left: 18px;}
.close{ cursor: pointer;}