@charset "utf-8";
.common-sprite{background-image:url(../images/common/icon-common.png);background-repeat:no-repeat;display: inline-block;background-size: auto 68px;}
/*header*/
.m-head .m-head-fix { min-height: 40px; width: 100%; position:absolute; left: 0; top: 0; background-color: #fff; z-index: 100; border-bottom: 1px solid #d9e1e8 }
.m-head .head_app { position: relative; background-color: #5ca9e4; height: 26px; line-height: 26px; padding: 8px 15px; color: #fff; }
.m-head .head_app a.down_btn { display: inline-block; width: 72px; height: 26px; background-color: #fff; color: #5ca9e4; text-align: center; text-decoration: none; border-radius: 13px; margin-left: 10px; }
.m-head .head_app span.close { position: absolute; right: 10px; top: 10px; width: 22px; height: 22px; background: url(../images/icon/icon_app_cha.png); background-size: 100% 100%; }
.m-head .logo_menu { background-color: #fff;color: #333; height: 40px; text-align: center; line-height: 40px; font-size: 16px; position: relative; }
.m-head .logo_menu .logo { position: absolute; top: 8px; left: 8px; width: 93px; height: 23px; background: url(../images/common/head_logo.png?v=20150615); background-size: 100% 100%; }
.m-head .logo_menu .menu { position: absolute; top: 6px; right: 8px; width: 27px; height: 27px; background: url(../images/common/menu.png); background-size: 100% 100%;   display: block;}
.m-head .logo_menu .top-memu { position: absolute; top: 0; right: 8px; font-size: 13px; }

/*head占位*/
.m-head .m-head-placeholder { height: 82px; }
.m-head.down_app_none .m-head-placeholder { height: 40px; }
.m-head.down_app_none .head_app { display: none; }

/*foot*/
.m-foot { padding: 10px 0; background-color: #e6eaec; color: #8f8f8f; text-align: center; }
.m-foot a { color: #41474d; font-size: 16px; text-decoration: none; line-height: 30px; margin: 0 10px; }
.m-foot a.cur { color: #f64172; }

/*main*/
.m-main { min-height: 435px; }

/*ui-form*/
.ui-form .dl_center { margin: 0 0 20px 0; border-top: 1px solid #dadcdd;  }
.ui-form .dl_footer { text-align: center; margin-bottom: 20px; padding: 0 20px;}
.ui-form .dl_footer input { outline: none; border: none; background-color: #f64172; border-radius: 30px; height: 40px; line-height: 40px; text-align: center; width: 98%; font-size: 15px; color: #fff; }
.ui-form .dl_footer input[disabled=disabled],input[disabled=disabled]{opacity:0.5;}
.ui-form .dl_footer input.btn-unsub { background: #d4d5d6; color: #9ea0a3; cursor: text; }
.ui-form .input-list { display: -webkit-box; padding: 0 15px; height: 40px; line-height: 40px; border-bottom: 1px solid #dadcdd; font-size: 15px; color: #333; margin: 0 auto;background: #FFF }
.ui-form .input-list .txt-wrap { -webkit-box-flex: 1; }
.ui-form .input-list.bg-gray { background: #f5f5f5 }
.ui-form .input-list.bg-gray2 { background: #fafafa }
.ui-form .input-list input { border: none; }
.ui-form .input-list .txt-wrap input { border: none; width: 100%; height: 22px; font-size: 15px;line-height: 22px; padding: 9px 0}
.ui-form .input-list a.pwd-show{ margin-left: 15px;display: block;  }
.ui-form .input-list:last-child{border-bottom: none}
.ui-form .input-list .dl_yanzhengma{width: 140px;border-left: 1px solid #dadcdd}
.ui-form .dl_yanzhengma img { vertical-align: middle; width: 70px; height: 28px; overflow: hidden;margin: -5px 12px 0 7px;  }
/*验证样式*/
.ui-input-error{width:80%;text-align: center;position: fixed;bottom:0;left: 10%;height: 0; z-index: 999;}
.ui-input-error span{padding: 20px;background: rgba(0, 0, 0,0.75); border-radius: 5px;color: #FFF;font-size: 13px;display: inline-block;}

.ui-input-error.show{-webkit-transition:all 0.2s linear; bottom:24%;}

/*弹出层*/
.ui-popup-wrap { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); text-align: center; position: fixed; top: 0px; left: 0; z-index: 200; }
.ui-pop-box { width: 275px; position: absolute;  left: 50%;  margin-left: -137px; background: #FFF; border-radius: 5px; font-size: 15px; z-index: 201}
.ui-pop-box .pop-head { height: 34px; line-height: 34px;  margin: 0 10px; border-bottom: 1px solid #e6e6e6 }
.ui-pop-box .pop-head  h1 { color: #f64172; text-align: center;}
.ui-pop-box .pop-body { padding: 12px 15px 20px; }
.ui-pop-box .pop-body .btn-wrap { text-align: center; margin-top: 12px; }
.ui-pop-box .pop-btn { width:100%;border-radius: 17px; height: 35px; line-height: 35px; display: inline-block; }
.ui-pop-box .btn-ok { background: #f64172; color: #FFF }

/*提交样式*/
.ui-btn-subing { opacity: 0.5 !important; }

/*表格*/
.ui-datalist table { border: 1px solid #dadcdd; border-left: none; border-bottom: none; background: #FFF; text-align: center; }
.ui-datalist table thead tr th { color: #aaaeb5; }
.ui-datalist table tbody tr td { color: #586068 }
.ui-datalist table thead tr th, .ui-datalist table tbody tr td { border-left: 1px solid #dadcdd; border-bottom: 1px solid #dadcdd; height: 30px; line-height: 30px; }

 /*投资按钮*/
.ui-deal-btn { text-align: center; padding: 7px 25px 8px; background-color: rgba(251, 251, 251, 0.9); border-top: 1px solid #dadcdd; }
.btn-red-h35{
    background: #f64172;
  color: #fff;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  display:inline-block;
  line-height:35px;
}
.btn-red-h35:hover{color: #fff;}
.ui_tips_tag{ background: #5ca9e4; display: inline-block; padding: 0 3px; color: #fff; border-radius: 3px; line-height: 20px; vertical-align: middle; position: relative; top: -2px; margin-right: 5px;}


.ui_status_hkz{ background:url(../images/common/status_hkz.png) no-repeat; width:41px; height:41px; background-size:100%; position:absolute; right:5px; top:5px;}
.ui_status_yhq{ background:url(../images/common/status_yhq.png) no-repeat; width:41px; height:41px; background-size:100%; position:absolute; right:5px; top:5px;}
.ui_status_tzz{ background:url(../images/common/status_tzz.png) no-repeat; width:41px; height:41px; background-size:100%; position:absolute; right:5px; top:5px;}
.ui_status_mb{ background:url(../images/common/status_mb.png) no-repeat; width:41px; height:41px; background-size:100%; position:absolute; right:5px; top:5px;}



.ui_btn_green,.ui_btn_blue{ width:137px; height:40px; line-height:40px; color:#fff; display: inline-block; border:0px; border-radius:20px; text-align:center; font-size:15px; margin: 0 5px;}
.ui_btn_green{ background:#94d67a;}
.ui_btn_blue{ background:#69b1e9;}

.ui_load_more{text-align:center;}
.ui_load_more a{color:#f64172;}