/*绑定银行卡*/
.p_account_addbank .bank-arrow { background: url(../images/icon/icon-arrow.png) no-repeat right center; background-size: auto 13px; vertical-align: middle; }
.p_account_addbank .ui-form .input-list{overflow:hidden;}
.p_account_addbank .ui-form #bind_card_form .input-list label{width:80px;}
.p_account_addbank .list_text.holder{color:#999;}
.p_account_addbank .bank_limit{display:none;}
.p_account_addbank .explained { font-size: 12px; padding: 12px 10px 7px; color: #586068; }
.p_account_addbank .dl_footer h3{ color: #a4acb7;margin-top: 10px; margin-bottom: 7px; }

/*选择开户行*/
.p_account_addbank_panel .cl-wrap { border-bottom: 1px solid #dadcdd; padding: 0 15px; }
.p_account_addbank_panel .choice-list {color: #586068;  display:table; width: 100%;height: 46px; }
.p_account_addbank_panel .choice-list .list_name{line-height: 18px; display: table-cell;vertical-align: middle;padding-left: 10px; font-size:14px;}
.p_account_addbank_panel .choice-list .list_name span.xe{color: #b5beca;display: table-cell;font-size: 12px;}
.p_account_addbank_panel .cl-wrap.active .choice-list{background:url(../images/icon/icon_yes.png) no-repeat right center; background-size:18px 13px;}
.p_account_addbank_panel .bank-icon { display: table-cell; width: 25px; vertical-align:middle;}
.p_account_addbank_panel .bank-icon i{background:url(../images/icon/bank_icon.png) no-repeat 0 -425px; background-size: 25px auto; width: 25px; height:25px; display:block;}
.p_account_addbank_panel .bank-icon .ICBC { background-position: 0 0;}
.p_account_addbank_panel .bank-icon .ABC { background-position: 0 -25px;}
.p_account_addbank_panel .bank-icon .BOC { background-position: 0 -50px;}
.p_account_addbank_panel .bank-icon .CCB { background-position: 0 -75px;}
.p_account_addbank_panel .bank-icon .PSBC { background-position: 0 -100px;}
.p_account_addbank_panel .bank-icon .CIB { background-position: 0 -125px;}
.p_account_addbank_panel .bank-icon .PAB { background-position: 0 -150px;}
.p_account_addbank_panel .bank-icon .CNCB { background-position: 0 -175px;}
.p_account_addbank_panel .bank-icon .CGB { background-position: 0 -200px;}
.p_account_addbank_panel .bank-icon .HXB { background-position: 0 -225px;}
.p_account_addbank_panel .bank-icon .SPDB { background-position: 0 -250px;}
.p_account_addbank_panel .bank-icon .BOB { background-position: 0 -275px;}
.p_account_addbank_panel .bank-icon .CMB { background-position: 0 -300px;}
.p_account_addbank_panel .bank-icon .CEB { background-position: 0 -325px;}
.p_account_addbank_panel .bank-icon .CMBC { background-position: 0 -350px;}
.p_account_addbank_panel .bank-icon .BOCOM { background-position: 0 -375px;}
.p_account_addbank_panel .bank-icon .BOS { background-position: 0 -400px;}
.p_account_addbank_panel .bank-icon .BOJ { background-position: 0 -450px;}
.p_account_addbank_panel .bank-icon .NJCB { background-position: 0 -475px;}

.p_account_addbank_panel .choice-tit { background: #f7f7f7; font-size: 16px; padding: 0 15px; height: 22px; line-height: 22px; color: #000000; font-weight: bold; }

/*.p_account_addbank_panel{width:100%; height:100%; position:fixed; left:0; top:0; background-color:#fff; -webkit-transform:translateX(100%); -webkit-transition:all 0.5s ease-in-out; z-index:101; display:-webkit-box; -webkit-box-orient:vertical;}*/
.p_account_addbank_panel{width:100%; height:100%; position:fixed; left:0; top:0; background-color:#fff; -webkit-transform:translateX(100%); -webkit-transition:all 0.5s ease-in-out; z-index:101; display:-webkit-box; -webkit-box-orient:vertical;}
.p_account_addbank_panel.p_show{-webkit-transform:translateX(0); transform:translateX(0);}
.p_account_addbank_panel .panel_head{background-color: #fff; height: 40px; text-align: center; line-height: 40px; font-size: 16px; position: relative; border-bottom: 1px solid #d9e1e8;}
.p_account_addbank_panel .panel_head a{position:absolute; top:10px; left:10px; width:20px; height:20px; background:url(../images/common/back.png) no-repeat center center; background-size:9px 17px;}
.p_account_addbank_panel .panel_bd{-webkit-box-flex:1; overflow:hidden;}
.p_account_addbank_panel .bank_tip{ background-color:#e6eaec;text-align: center;line-height:15px; padding:15px 0; color:#586068;}
.p_account_addbank_panel .bank_tip a{ color:#69b1e9; text-decoration:underline;}
