.p_new_user_page {
    margin-top: 20px;
    background-color: #ffeeb1;
    /* 投资挣钱 begin */
    /* 投资挣钱 end */
    /* 邀请好友 begin */
    /* 邀请好友 end */
    /* 平台介绍 begin */
    /* 平台介绍 end */
}
.p_new_user_page .contentBox {
    width: 800px;
    margin: 0px auto;
}
.p_new_user_page .new_comer_img {
    width: 100%;
    height: auto;
    display: block;
}
.p_new_user_page .bannerBox {
    position: relative;
    border-bottom: 1px #EDCE82 solid;
}
.p_new_user_page .bannerBox .step_box {
    position: absolute;
    width: 100%;
    bottom: 50px;
}
.p_new_user_page .bannerBox .step_ul {
    width: 814px;
    margin: 0px auto;
}
.p_new_user_page .bannerBox .step_ul .item {
    width: 120px;
    float: left;
}
.p_new_user_page .bannerBox .step_ul .item .num {
    width: 101px;
    height: 101px;
    margin: 0px auto 10px auto;
    text-align: center;
    line-height: 101px;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -1px;
    color: #b65900;
    font-size: 48px;
}
.p_new_user_page .bannerBox .step_ul .item .desc {
    text-align: center;
    font-size: 30px;
    color: #8f784e;
}
.p_new_user_page .bannerBox .step_ul .item.active .num {
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -102px;
    color: #fff;
}
.p_new_user_page .bannerBox .step_ul .item.active .desc {
    color: #4b2700;
}
.p_new_user_page .bannerBox .step_ul .item.current .num {
    position: relative;
}
.p_new_user_page .bannerBox .step_ul .item.current .num:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -40px;
    margin: 0px 0px 0px -24px;
    width: 48px;
    height: 55px;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -202px;
}
.p_new_user_page .bannerBox .step_ul .line {
    height: 4px;
    width: 167px;
    float: left;
    margin: 52px 30px 0px;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -257px;
}
.p_new_user_page .new_register {
    padding-bottom: 55px;
    border-bottom: 1px #EDCE82 solid;
}
.p_new_user_page .new_register .register_btn .go_register_btn {
    display: block;
    width: 407px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -261px;
    color: #fff !important;
    font-size: 30px;
    margin: 0px auto;
}
.p_new_user_page .new_register .register_success {
    font-size: 36px;
    color: #ef4214;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.p_new_user_page .new_register .register_success .mark_img {
    background: url("../../images/activity/new_user_page/mark.png") no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px 10px 0px 0px;
    vertical-align: top;
}
.p_new_user_page .new_register .count_text {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.p_new_user_page .new_register .count_text span {
    color: #f44a36;
}
.p_new_user_page .new_deal {
    border-bottom: 1px #EDCE82 solid;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li {
    border-bottom: 1px #EDCE82 solid;
    padding: 0px 48px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li:first-child {
    border-top: 1px #EDCE82 solid;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .title {
    font-size: 24px;
    color: #4b2700;
    padding-top: 20px;
    display: block;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time {
    float: left;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .text,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .text {
    font-size: 16px;
    color: #4b2700;
    margin-bottom: -10px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .data,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .data {
    font-size: 52px;
    color: #ee4634;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate .data span,
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .time .data span {
    font-size: 25px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .rate {
    width: 270px;
}
.p_new_user_page .new_deal .list_cont .ui_p2p_list li .info .invest_btn {
    float: right;
    width: 151px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -341px;
    font-size: 20px;
    color: #fff;
    margin-top: 21px;
}
.p_new_user_page .new_deal .have_deal {
    padding-bottom: 45px;
}
.p_new_user_page .new_deal .have_deal .count_deal {
    font-size: 24px;
    color: #4b2700;
    text-align: center;
    margin: 45px 0px 15px 0px;
}
.p_new_user_page .new_deal .have_deal .count_deal span {
    color: #f44e39;
}
.p_new_user_page .new_deal .have_deal .scroll_center {
    position: relative;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_top,
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_bottom {
    width: 100%;
    height: 30px;
    z-index: 99;
    position: absolute;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_top {
    background-image: -webkit-linear-gradient(top, #ffeeb1 50%, rgba(255, 238, 177, 0) 100%);
    background-image: linear-gradient(180deg, #ffeeb1 50%, rgba(255, 238, 177, 0) 100%);
    top: 0px;
}
.p_new_user_page .new_deal .have_deal .scroll_center .bg_linear_bottom {
    background-image: -webkit-linear-gradient(bottom, #ffeeb1, rgba(255, 238, 177, 0));
    background-image: linear-gradient(0deg, #ffeeb1, rgba(255, 238, 177, 0));
    bottom: 0px;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list {
    width: 100%;
    height: 160px;
    z-index: 1;
    font-size: 14px;
    color: #EE4634;
    overflow: hidden;
    text-align: center;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list .scroll_list_ul li {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}
.p_new_user_page .new_deal .have_deal .scroll_center .scroll_list .scroll_list_ul li:first-child {
    margin-top: 0px;
}
.p_new_user_page .new_fcode {
    border-bottom: 1px #EDCE82 solid;
}
.p_new_user_page .new_fcode .inviteWay {
    width: 800px;
    height: 236px;
    margin: 0px auto;
    background-color: #fff5cf;
    padding-left: 20px;
    margin-bottom: 50px;
}
.p_new_user_page .new_fcode .inviteWay .title {
    font-size: 16px;
    color: #333;
    padding-top: 35px;
}
.p_new_user_page .new_fcode .inviteWay .info {
    color: #888888;
    margin-top: 6px;
}
.p_new_user_page .new_fcode .inviteWay .inviteUrl .clipTar {
    font-size: 24px;
    color: #333333;
    float: left;
    height: 40px;
    line-height: 40px;
}
.p_new_user_page .new_fcode .inviteWay .inviteUrl .copyLink {
    float: left;
    width: 102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: url("../../images/activity/new_user_page/bgMerge01.png") no-repeat 0px -390px;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo {
    height: 38px;
    line-height: 38px;
    margin-top: 26px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .shareTitle {
    font-size: 16px;
    color: #333;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico {
    width: 38px !important;
    height: 38px !important;
    padding: 0px !important;
    background: url("../../images/activity/new_user_page/shareTo.png") no-repeat !important;
    margin-right: 15px;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_tsina {
    background-position: 0px -38px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_qzone {
    background-position: 0px -76px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_renren {
    background-position: 0px -114px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_tqq {
    background-position: 0px -152px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo .jiathis_style_32x32 .jtico_cqq {
    background-position: 0px -190px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo #share32 {
    width: 38px !important;
    height: 38px !important;
}
.p_new_user_page .new_fcode .inviteWay .shareTo #share32 .bds_qrcode {
    background: url("../../images/activity/new_user_page/shareTo.png") no-repeat !important;
    background-position: 0px 0px !important;
    width: 38px !important;
    height: 38px !important;
}
.p_new_user_page .new_fcode .inviteToLogin .toLogin {
    font-size: 30px;
    display: block;
    width: 601px;
    height: 71px;
    line-height: 71px;
    color: #fff;
    background: url("../../images/activity/new_user_page/bgMerge01.png") 0px -430px no-repeat;
    text-align: center;
    margin: 0px auto;
}
.p_new_user_page .new_fcode .inviteToLogin .tip {
    font-size: 24px;
    color: #4b2700;
    text-align: center;
    padding: 25px 0px 60px 0px;
}
.p_new_user_page .new_platform .statementBox {
    padding-left: 80px;
}
.p_new_user_page .new_platform .statementBox .title {
    font-size: 26px;
    color: #4b2700;
    font-weight: bold;
    margin: 35px 0px 0px 0px;
}
.p_new_user_page .new_platform .statementBox .statementUl {
    margin-bottom: 50px;
}
.p_new_user_page .new_platform .statementBox .statementUl li {
    font-size: 18px;
    color: #4b2700;
    margin-top: 10px;
}
.p_new_user_page .new_platform .statementBox .statementUl li:first-child {
    margin-top: 15px;
}
.p_new_user_page .new_platform .knowMore {
    display: block;
    font-size: 24px;
    color: #0088cc;
    text-decoration: underline;
    width: 120px;
    text-align: center;
    margin: 20px auto 55px auto;
}
.p_new_user_page .new_platform .QR_code {
    padding-bottom: 110px;
}
.p_new_user_page .new_platform .QR_code .code {
    display: block;
    margin: 0px auto 25px auto;
}
.p_new_user_page .new_platform .QR_code .tip {
    font-size: 24px;
    text-align: center;
}
.p_new_user_page .new_platform .QR_code .logo {
    display: block;
    margin: 55px auto 0px auto;
}
